[2016-07-02 16:34] ilyaboka commented on #930
It works!
Ty so much for fast answer :)

[2016-07-02 16:36] gdrewb-valve commented on #930
Great, closing this out since it's a duplicate.

[2016-07-02 16:36] #930 closed, assigned to gdrewb-valve

[2016-07-02 21:58] ghost commented on #879
Ok, recent updates completely solved my performance issue, thanks guys

[2016-07-02 22:31] Arfik63 commented on #929
Hello..I'm here for teleport effect 1 ti6 #878..but the discussion was closed already..same prob like the previous person..I already hit lvl 13 and supposed to have everything including the Tp effect 1..but I do receive all of them except the Tp effect....can you help me?

[2016-07-02 23:13] heruzek opened #931 "Cant run dota2 in opengl mode"
Hi guys, i'm trying to fix this bug since 28/06. As you guys can see, when i set -gl, dota falls back to source shader, and says that its related to some binary.

I have already updated my drivers, and re-installed my windows several times.

A10-7700k @ 3.8
550TI (368.39)
8GB 2133mhz
W10 pro

I used to get 140~150 fps in -GL mode, but in directx i get 40 ~ 55.
![untitled](https://cloud.githubuserc

[2016-07-03 01:23] shahnanigans commented on #911
I think it is a taunt item that I keep hearing. I think we can close this.

[2016-07-03 01:23] #911 closed, assigned to nobody

[2016-07-03 02:18] gdrewb-valve commented on #931
That message is informational but things should continue on.  Does Dota not run at all after that?  What happens?

[2016-07-03 02:23] gdrewb-valve commented on #929
This forum is for bugs specific to Mac and Linux.  You'll want to post at dev.dota2.com

[2016-07-03 02:24] gdrewb-valve commented on #879
@sinamiandashti, has your perf changed?  Also @crapthings and any others watching this?

[2016-07-03 05:01] heruzek commented on #931
Dota works well after that, but with low fps.

I don't know vconsole well, but isn't it forcing dx even when i set -gl?

"Create device: Requested DX level 110(...)"

I am using -gl mode, and dota keeps trying to force -dx9/11.

And yes, i have already downloaded openGL dlc.

[2016-07-03 05:06] gdrewb-valve commented on #931
The DX level does not actually mean that DX is being used, so you should be running in GL mode.  It sounds like it's just that your FPS in GL mode dropped.  Do you know roughly what time frame of update dropped your FPS?

If you turn off the Steam overlay does that change anything?  If you verify your Dota installation does that find any issues?

[2016-07-03 07:23] heruzek commented on #931
I thought vconsole would show something related to openGL.

I have verified Dota installation and there is nothing wrong. Turned steam overlay and nothing changed.

Well, i was using W7, then i formatted to W10. (in W10 that i lost those 30~40fps)
 But if you say that i am already using -gl, its ok.

This message "Program binary could not be loaded" only shows up when i use -gl.

Sorry for any wri

[2016-07-03 07:24] crapthings commented on #879
on my imac 27" 2011 it works fine for me

i will try my macbook pro 15 2015

[2016-07-03 12:07] sinamiandashti commented on #879
mine fixed too <3  @gdrewb-valve

[2016-07-03 12:07] #879 closed, assigned to danginsburg

[2016-07-03 14:29] vsethuooo commented on #386
I'm not sure if this an OS issue. But tapping the Shift key, 5 times fixes it! :D Just putting it here, it might help someone who is facing the same issue.

[2016-07-04 01:34] t3rnary opened #932 "[Linux] Input bug renders game unplayable"
In the past week when playing Dota I've encountered this bug. I'll start a match, and usually near the beginning of the match before runes spawn my keyboard stops working. I can still move my mouse cursor and the game client still accepts clicks, but absolutely no input is taken from the keyboard. When I first encountered this bug, I thought to try to fix it by restarting the client. However, upon

[2016-07-04 16:27] icebryanchan opened #933 "[DOTA 2 SLI] Huge drop in FPS while using SLI mode"
Hi,
I am using Lenovo y500 for years now and it has dual GT750M. When dota was using source 1 I could use SLI to achieve 120fps without any sweat but since source 2 was released, I couldnt use SLI at all as my fps drops to 10 or 15 all the time.

I have been using single GPU for some time now with lowered settings but I really want to get the max experience like back then. That's why I bring up su

[2016-07-04 19:12] t3rnary commented on #932
After trying to replicate the issue I found that it seems to happen after pressing alt. However, it does not seem to be the same issue as the alt key being "stuck" because the map icons do not change and clicking doesn't ping. Dota just stops taking keyboard input. The strange part is that it doesn't always happen. I can get through an entire game with the alt key working correctly, then the first

[2016-07-04 19:12] gdrewb-valve commented on #933
Can you post your system information?

I don't believe Dota 2 has any SLI support.

[2016-07-04 19:13] gdrewb-valve commented on #932
Does Ctrl + Alt + F1 still not work?  That sounds more like a system issue since Dota has nothing to do with the switching to a virtual console.

[2016-07-04 19:13] gdrewb-valve commented on #932
You might also want to look at #921 in case this is some sort of odd dbus interaction.

[2016-07-04 19:54] t3rnary commented on #932
Apparently I just can't switch to a virtual console right now for some reason, regardless of whether or not Dota is running, so it seems that part is irrelevant now.

The input issue is still a problem and I have no way to deal with it other than a hard restart. I'm not sure if this is some sort of dbus interaction or something else entirely. Is there any way I can get more info for you? I thought

[2016-07-04 21:42] gdrewb-valve commented on #932
I don't know that there's any spew from Dota that would help identify why input is blocked in the system outside of Dota.  However you can add -con_logfile to your launch options and Dota's spew will go to console.log in the <Steam Dota install>/game/dota directory and we can take a lok.

[2016-07-04 22:46] admshao opened #934 "[Linux] Crazy FPS drop from time to Time"
Since i disabled steam overlay. and only when disabled. Game seems to randomly drop from 120 to 40-60fps from nowhere.  And Video is very very laggy. Dunno whatelse to provide.

Ubuntu 16.04. Gnome 3.20. Nvidia 367.27

https://gist.github.com/admshao/7309d67cc1ae447160b403c63a88d4f1

[2016-07-04 23:14] gdrewb-valve commented on #934
It's hard to say what might be happening.  We'll have to see if other people have similar problems and there's a pattern between them.

[2016-07-05 08:59] blackzert opened #935 "[OSX] Use After Free when limited to one CPU"
After last patch data crash or stacks very often. Especially if many abilities are used at short period of time ( that is very specific for use after free).
Match ID **2483073324** or **2482965983**

**System Description:**
OS X El Capitan 10.11.5 (15F34)

MacBook Pro Retina 15 inch middle 2014 ( 2,5 GHz Intel Core i7, 16 ГБ 1600 Mhz DDR3, NVIDIA GeForce GT 750M 2048 Mb)

**Client version:**
Curre

[2016-07-05 10:12] icebryanchan commented on #933
Yes, before reborn patch it did support SLI.

Computer Information:
    Manufacturer:  LENOVO
    Model:  20193
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2395 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supp

[2016-07-05 15:46] gdrewb-valve commented on #933
This forum is for Mac and Linux bugs so you'll want to post at dev.dota2.com

[2016-07-05 15:47] #933 closed, assigned to danginsburg

[2016-07-05 16:42] admshao commented on #934
Another behavior i've found. I watched 48 matches with no problem. Whenever
i play a game it randomly happens. Might be of some help
On Jul 4, 2016 8:14 PM, "Drew Bliss" notifications@github.com wrote:

[2016-07-05 20:01] gdrewb-valve commented on #935
If you disable the Steam overlay for Dota does that change anything?  If you verify your Dota installation from the Steam client does it catch any issues?

[2016-07-06 02:02] t3rnary commented on #932
I'm not exactly sure what to look for in here so I'll just include the contents of the whole file (apologies for the length):
http://pastebin.com/HErzu3xK

Some context: I kept creating bot games and running them for a little while. If the bug didn't occur after the first ten minutes or so I closed the client and then created a new bot game after restarting the client. I finally ran into the bug i

[2016-07-06 04:54] gdrewb-valve commented on #932
I didn't see anything unusual in the logs.  We'll have to see if other people hit the same thing to help us narrow it down.

[2016-07-06 06:37] blackzert commented on #935
I think its not connected with Steam overlay.
I found my system was booted  with boot-args="cpus=1" (sudo nvram boot-args="cpus=1") that means I had only one active CPU. I removed this string and problem was not reproduced. I'm not sure it totally removes problem, but now I think you know how to reproduce it on your side and hopefully fix.

[2016-07-06 07:14] techmaniack opened #936 "[OSX] Dota lags in game"
The game lags every few seconds and this happens in most of the games. There have been games which run flawless but some games are just bad. Best I can describe the issue is that there are frame drops every 5 seconds or so which makes it very difficult in mid/late game. You are dead before you even know.

I have set the graphics to minimum possible.

Broadband is 50Mbps and works flawless.

Laptop

[2016-07-06 07:38] gdrewb-valve commented on #936
No repro for me on my Mac.  We'll have to see if enough people hit it that we can find a pattern.

[2016-07-06 07:38] gdrewb-valve commented on #935
Thanks, we'll see if we can catch it.

[2016-07-06 09:37] techmaniack commented on #936
Any logs where I should look into?

[2016-07-06 14:48] gdrewb-valve commented on #936
Add -con_logfile to your launch options and a log will be saved at <Steam Dota install>/game/dota/console.log

[2016-07-07 02:37] lucas-estivam opened #937 "Dota on debian"
Hey! I'm a totally newbie on Dota on Linux and at the first time that I'll play, that happens (http://i.imgur.com/uPHjhSf.png) I'm searching on google but none answers. Can someone help me?

*_I already deleted the files and downloaded again
*_I check the files throught the steam and everything is working

[2016-07-07 06:06] gdrewb-valve commented on #937
You have a bad OpenGL driver.  I don't know what you're running but it's most likely some kind of Mesa and you'll need to get a newer version or install the direct driver from NVIDIA.

[2016-07-07 13:51] maxsize opened #938 "Stuck in the loading screen"
I have been stucked in the loading screen for 3 times in a row, and the game consider me as abandoning!! Now I am banned for 24 hours!
What is happening for me is I found match and start the game while 10 players are all ready, it goes to the loading screen and just stucked there, after couple of minutes it came back to main UI.
PLEASE FIX!!!!

[2016-07-07 16:05] gdrewb-valve commented on #938
We'll need some information to actually be able to look at this, such as your full Steam system information and any console log you have (if you have it).

[2016-07-07 17:13] maxsize commented on #938
I am using Mac OS 10.11.5 (15F34) and latest Steam and Dota2 client, I don't have the console log, if you can tell me how to get it I can try to find it.
The game didn't crash though, it just stuck in the loading screen and back to main UI, I can also watch games without any problem.

[2016-07-07 17:17] gdrewb-valve commented on #938
Add -con_logfile to your launch options and Dota's console output will go to <Steam Dota install>/game/dota/console.log

You can gist that here, but of course you'll be risking more abandons to get it so you don't have to collect it.  There are reports of similar problems on all platforms and the larger team is taking a look. There won't be updates here from their investigation but if something co

[2016-07-08 01:13] lucas-estivam commented on #937
I tried this :
sudo apt-get purge nvidia*
sudo apt-get install --reinstall xserver-xorg-video-intel  libgl1-mesa-glx libgl1-mesa-dri xserver-xorg-core
sudo dpkg-reconfigure xserver-xorg
sudo update-alternatives --remove gl_conf /usr/lib/nvidia-current/ld.so.conf
And nothing happened

[2016-07-08 05:50] realmofchaos opened #939 "Dota 2 stuck on loading screen only for dx11"
It works fine with -dx9 launch options as well as -vulkan. But, it is stuck on loading screen with -dx11 launch option if i either spectate a game or join a game using find match.(I can play local bot games on -dx11.)
Steam system info and console log file are below -

**Steam System Info :**

Computer Information:
    Manufacturer:  Dell Inc.
    Model:  Inspiron 5437
    Form Factor: Laptop

[2016-07-08 13:17] Turmfalke2 opened #940 "[Linux] Battle Pass/Quest"
hi,
It seems like every time I complete a hero specific quest the data for the quest completion of the chapter gets randomized.

![dota2_quest](https://cloud.githubusercontent.com/assets/5174562/16688568/e67d233c-451e-11e6-90dc-1a0ff75453cb.png)
Here it claims that I completed every quest as sniper, even the hero specific ones and the stars look a bit strange. Also the hero icon for the last quest

[2016-07-08 15:18] gdrewb-valve commented on #939
This forum is for bugs specific to Mac and Linux, you'll want to post at dev.dota2.com

[2016-07-08 15:18] #939 closed, assigned to nobody

[2016-07-08 15:20] gdrewb-valve commented on #940
This isn't Linux-specific, I've pass it on to the larger team.

[2016-07-08 15:20] #940 closed, assigned to nobody

[2016-07-08 16:27] maxsize commented on #938
I just tried windows version after in jail for 24 hours and the same thing happens again to me, now I am in jail for another 24 hours. This is too bad...
I'll try to get log next time.

[2016-07-08 16:37] gdrewb-valve commented on #938
Posting a log would be fine but just to be clear, as this isn't a Mac/Linux-specific bug it's not being actively investigated by the porting team (which reads this forum), it's the overall Dota team that's looking.

[2016-07-08 21:42] gdrewb-valve commented on #937
You'll want to check with your distro maintainers or the Mesa devs or NVIDIA to get more direct information.  As this is a Dota-related forum and your problem is not about Dota you won't necessarily get people here who know how to update your system.

[2016-07-09 00:53] lucas-estivam commented on #937
I know, thank you anyway, i thought maybe someone had the same error before

[2016-07-09 14:48] Doldge commented on #937
You need to restart the PC after changing the GFX drivers as well, in case that wasn't clear.

[2016-07-09 15:02] Doldge commented on #896
just to throw it out there, I'm having the same issue with the international 2016 cursor pack. I'm on Debian Jessie too. Not really sure what information useful so here's a dump.

[code]

I can grab mesa 11.1.3 if thats the issue.

[2016-07-09 15:22] Tele42 commented on #896
@Doldge, your glxinfo output indicates you are using AMD's proprietary driver, as such, changing mesa versions should not make a difference for you.

[2016-07-10 13:04] ethan961 commented on #912
I also have this problem, along with the segfault roughly 5 minutes into spectating a game.
Running Arch Linux, linux-ck 4.6.3. bspwm WM, R7 260X 2GB with AMDGPU-PRO 16.30.3.306809, Xorg 1.18.3. Problem also occurred with the previous AMDGPU-PRO release.

[2016-07-11 02:13] biji opened #941 "Steam downloading steam runtime while playing dota2"
I hope Steam don't download steam runtime or anything while playing dota2 , last time I downloaded +200mb steam runtime, and lag while playing

I'm using Fedora 24

[2016-07-11 04:41] Tele42 commented on #941
Duplicate of https://github.com/ValveSoftware/steam-for-linux/issues/2765.

[2016-07-11 08:04] gdrewb-valve commented on #941
Steam issues should be filed at steam-for-linux, but as Tele42 points out there's already something there.

[2016-07-11 08:04] #941 closed, assigned to nobody

[2016-07-11 11:47] tmewett commented on #931
This tracker is for issues in the Mac and Linux client only

[2016-07-11 13:49] danginsburg commented on #931
The odd thing here is that it should regenerate the program binary cache once it detects a failure.  Can you look in game/dota/shadercache/gl and see if the shaders.cache/shaders.toc file get updated when you run (file timestamp should change)?  If not, can you try renaming shaders.cache/shaders.toc to shaders.cache.bak/shaders.toc.bak and see if things work after running again?  If that fixes it,

[2016-07-11 15:03] heruzek commented on #931
After renaming files to .bak, i got this.
![untitled](https://cloud.githubusercontent.com/assets/20260974/16735392/40d6c8c8-475f-11e6-89b3-b7c7d8e5a131.jpg)

Also, my /gl/ folder has 4 files now.
![untitled](https://cloud.githubusercontent.com/assets/20260974/16735438/6e8f0db6-475f-11e6-885c-d322ae485130.jpg)

[2016-07-11 16:28] mad1k opened #942 "Dota2 crashing on Mac in Apple software"
System:

Computer Information:
Manufacturer: Apple
Model: iMac13,1
Form Factor: Desktop
No Touch Input Detected

Processor Information:
CPU Vendor: GenuineIntel
CPU Family: 0x6
CPU Model: 0x3a
CPU Stepping: 0x9
CPU Type: 0x0
Speed: 2900 Mhz
4 logical processors
4 physical processors
HyperThreading: Unsupported
FCMOV: Supported
SSE2: Supported
SSE3: Supported
SSSE3: Supported
SSE4a: Unsupported
SSE

[2016-07-11 16:38] mad1k commented on #942
its crushing during the game. Often, at the start of the game (at the 20-30 second), and in game from 1 to 10 times per game

[2016-07-11 17:07] gdrewb-valve commented on #942
Is this the whole log?  This is reporting an NVIDIA GPU restart and should be reported to NVIDIA.

[2016-07-11 20:57] mad1k commented on #942
NVIDIA support redirect me to the apple support:)

[2016-07-11 21:14] mad1k commented on #942
Apple support redirected me to the Dota2 developers...

[2016-07-11 21:15] mad1k commented on #942
The whole log..

Jul 11 17:37:45 iMac-Sergej launchservicesd[79]: SecTaskLoadEntitlements failed error=22
Jul 11 17:37:45 --- last message repeated 2 times ---
Jul 11 17:37:45 iMac-Sergej WindowServer[169]: SecTaskLoadEntitlements failed error=22
Jul 11 17:37:45 iMac-Sergej tccd[310]: SecTaskLoadEntitlements failed error=22
Jul 11 17:37:46 iMac-Sergej dota2[2213]: ApplePersistenceIgnoreState: Exis

[2016-07-11 21:20] gdrewb-valve commented on #942
Did they give any information as to why Valve should look at it?  The stacks are deep in Apple code that Valve has no ability to debug so as it stands Valve can't do anything with this report.

I also don't have this kind of issue on my Mac so I can't gather other information to provide to Apple.

[2016-07-12 01:37] die-fi commented on #896
OK, I need some clarification here. I've checked around the files in the cursor folder and realized the following. There are 2 different files in there. One are .ani-files and the other one are .bmp. Now this is how those files are displayed in my folder.
![Folderview](https://cloud.githubusercontent.com/assets/12123373/16747942/9ca952d0-47c1-11e6-8035-efcf8e611efa.png) I assume .ani files show ho

[2016-07-12 02:07] gdrewb-valve commented on #896
I see those files the same way but those aren't the TI6 cursor pack files.  If you look at the TI6 cursor pack files in valve/ti6 what do they look like?  There should only be .bmp files there.  Those will have a border in a system file display but in-game they should not have the border.

[2016-07-12 03:31] die-fi commented on #896
Are all of the borders white? Because all cursors that do have a black border works perfectly fine.
TI 5 (works perfectly fine):
![ti5](https://cloud.githubusercontent.com/assets/12123373/16753162/c6c9bcbe-47e7-11e6-800e-36080c26295b.png)
TI 6 (white borders ingame)
![ti6](https://cloud.githubusercontent.com/assets/12123373/16753176/e2222c4e-47e7-11e6-8391-89091125061c.png)

Now the fun part. Also

[2016-07-12 04:20] gdrewb-valve commented on #896
Some of the TI6 borders are white and some are black.  All of the TI6 cursors have proper transparency in-game for me.

[2016-07-12 16:19] justSQL commented on #896
I'm seeing this same issue running latest Mesa-12.1-dev via Padoka PPA. Not on my laptop currently, but i see this with both my IGPU (AMD Radeon HD  6520G) and DGPU (Radeon 7670M), no matter which one of them is enabled. It's a hybrid graphics system, as can be seen. FTR, experienced the same issue with Mesa 11.2 that comes with Ubuntu 16.04 by default.

[2016-07-12 16:32] vcfmtl2077 opened #943 "[OSX] Client cannot delete downloaded replays"
1. delete downloaded replays in OSX client and it shows successful.
2. relaunch dota2 client and in Watch/Downloads these deleted replays still exist and can be played.
3. I try to reinstall dota2 client but these issue still exist.

OSX 10.11.5

[2016-07-13 00:09] die-fi commented on #896
Small update. I used the RAW Image data from .ani files and replaced the ImageData of the .bmp after that dota2 was able to display it correctly.

[2016-07-13 00:19] gdrewb-valve commented on #896
I wonder if some pieces of image loading sofware in the system is somehow affecting how the alpha channel is getting handled.  Dota is using SDL to load, though, and ships SDL so that shouldn't be an issue.

[2016-07-13 14:33] Doldge commented on #896
@die-fi can you post A) the method you used to do this, and B) the md5sum's of the resulting files?

[2016-07-13 19:12] die-fi commented on #896
@Doldge Skip to the bottom part if you aren't interested in the details.

I did it manually (my programming skills are little rusty and it was faster to manipulate it with a hexeditor), for 2 cursors from 2 different packs and they worked, because it happend that the .ani for exact those cursor packs uses 0x00000000 (basically black with 0x00 as alpha value) for a pixel with total transparency. I

[2016-07-14 05:39] lsnch opened #944 "[OSX] Main Menu > Heroes > My Stats graph is shifted."
It seems that W(green)/L(red) buttons have a bit more space between them than points on the graph. This bug is present on every hero page.

OS X 10.11.5 1440x900.

![1](https://cloud.githubusercontent.com/assets/20382674/16829068/600efe4a-499e-11e6-8bfb-8c338441a08b.png)
![2](https://cloud.githubusercontent.com/assets/20382674/16829069/601038c8-499e-11e6-9874-d8e107ac3eed.png)

[2016-07-14 05:55] gdrewb-valve commented on #944
Probably not related to Mac/Linux, I'll check with the larger team.

[2016-07-14 13:56] sabreshao opened #945 "[UI] corruption in bot match."
1. Set Launch option in Steam client as “-vulkan" and play Dota.
2. Start bot match -> Select the hero "ABADDON" -> Disconnect from bot match.
3. Start bot match again -> Select the hero "ALCHEMIST"

During animation of the hero "ALCHEMIST" coming out, "ABADDON" is rendered in a frame.
Application use an hero image which is rendered as previous hero in current hero animation.
I reproduced on Ubunt

[2016-07-14 14:12] sabreshao commented on #945
![1](https://cloud.githubusercontent.com/assets/20459194/16842444/1618aae4-4a10-11e6-82c5-024e119a84d6.jpg)
![2](https://cloud.githubusercontent.com/assets/20459194/16842445/163ac84a-4a10-11e6-9b71-b5e2e0b80233.jpg)

[2016-07-14 15:00] danginsburg commented on #945
This belongs in https://github.com/ValveSoftware/Dota-2-Vulkan/issues but I do have it repro'd and will take a look.  Thanks for the report.

[2016-07-14 16:00] danginsburg commented on #945
It turns out this bug happens on Windows on Vulkan, GL, and DX.  I have passed this along to the larger team, but won't track it here.  Thanks.

[2016-07-14 16:00] #945 closed, assigned to danginsburg

[2016-07-14 19:24] ghost opened #946 "Change fps_max default from 120 to 300"
Since the Source 2 update fps_max is now default at 120.

I think it should be back to the familiar 300 and those who wish to cap should either change it manually or use vertical synchronisation.

144 hz, 165 hz, 185 hz and 200 hz monitors are available, with 240 hz monitors coming later this year. I fail to understand why the default value is set at such a low setting.

If none of this is within

[2016-07-14 22:04] gdrewb-valve commented on #946
This forum is for Mac/Linux-specific bugs, you'll want to post this at dev.dota2.com

[2016-07-14 22:04] #946 closed, assigned to nobody

[2016-07-15 07:53] mad1k commented on #942
They didnt give any information... Just said: "Its not our problem..."
I tried reinstall dota. Now I crashed once per 3 games... At 10:08

Jul 15 10:00:16 iMac-Sergej mds_stores[201]: (/private/var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T)(Error) IndexGeneral in si_remotepsid_check_perms:293: Bulk access check fsctl failed with status: -1
Jul 15 10:04:21 iMac-Sergej mDNSResponder[92]: Double NA

[2016-07-15 15:49] gdrewb-valve commented on #942
We'll keep this open and maybe at some point we'll get lucky and a cause will pop up.

[2016-07-15 20:40] ghost commented on #946
I no longer known my account credentials on that website. When I try to register a new account I get the message:

"This steamID has already been associated with a forum account."

Would it be possible for you to assist me in fixing that?

[2016-07-15 20:50] gdrewb-valve commented on #944
Confirmed that this does happen on Windows.  The larger team is aware but this won't be tracked here.

[2016-07-15 20:50] #944 closed, assigned to gdrewb-valve

[2016-07-15 20:54] gdrewb-valve commented on #946
I believe if you go to this link http://dev.dota2.com/login.php?do=lostpw you can enter your email to have your username sent to you along with how to reset your password.

The current frame rate limit is to avoid frame rate variability as it will naturally vary depending on how many heroes you have on screen, what effects are running and so on.  If the limit is high it lets the frame rate go up h

[2016-07-15 21:33] ghost commented on #946
The email I used is closed (it used to be a Google account). So I can not do that. I have tried contacting community staff before without receiving a response back.

I understand your reasoning but I do not find it reasonable. As I said, gaming monitors on the market come in ranges of 120 Hz to 240 Hz native refresh rates. You are capping it at the absolute minimum.

This is why I suggested for fp

[2016-07-15 21:51] gdrewb-valve commented on #946
The team said that you should go to https://support.steampowered.com/ and open a Steam support ticket to have the dev.dota2.com account reset.  They need to know your Steam information plus that you  are actually the right person to own the forum account and that'll let them check your info.

I don't think the fps_max setting is going to change but you're certainly welcome to make a post on it.

[2016-07-15 22:25] ghost commented on #946
Would you not agree that it is rather problematic that Dota 2 is locked to 120 FPS when a user has his system configured towards 144 Hz? Or 240 Hz?

I hope a user friendly solution to this is introduced some time. Thank you for the information and swift replies to my cry for change. ^^

[2016-07-15 22:35] gdrewb-valve commented on #943
I tried this on my Mac (running 10.10.5) and it worked properly so I'm not sure what's going on.

[2016-07-16 00:07] vadi2 opened #947 "Mic input broken"
Pretty rarely my sound input gets broken. I use open mic, and even though the speech bubble shows me talking, all others can hear is a "weird noise and then it cuts out". Restarting the game does not help with this, but joining another match does. Dota voice settings show the appropriate noise levels for when I'm talking and so do PA settings.

[code]

[2016-07-16 04:00] gdrewb-valve commented on #947
I think this is actually a problem on the Steam client side.

[2016-07-16 23:21] vcfmtl2077 commented on #943
Here is my scrren recording, I recorded it after I reinstall steam & dota2 client.
https://github.com/VincentFW/docbase/blob/master/Dota2_Screen_Recording.m4v

[2016-07-19 12:05] n1colius opened #948 "[linux] Can't launched the game with nvidia [Unable to launch game (Unable to create dummy window for GLMDisplayDB)]"
I just can't lauch the game and it gives me this messages..
Unable to launch game (Unable to create dummy window for GLMDisplayDB)

i really want to play dota2 on linux rather then on windows..
my system is Ubuntu 16.04
i use nvidia-364 driver

my laptop have gpu Nvidia 940M and Intel HD 5200..

when i'm using intel driver, the game successfully launch, but when i used nvidia driver, it gives me t

[2016-07-19 16:07] gdrewb-valve commented on #948
Your problem isn't with Dota, it's a system configuration issue, so this may not be the best place to get answers.  I'd first check in the steam-for-linux repo here and look at the issues with running Steam on 16.04.  There are Steam runtime incompatibilities which cause a variety of problems.

[2016-07-19 19:09] Br1ght0ne commented on #473
Fedora 24, -input_button_code_is_scan_code worked for me too. Thanks!

[2016-07-19 20:23] pdrocaldeira opened #949 "[LINUX] Arcana Vote"
I can't see arcana vote tab in the battle pass. It shows me this message: "FAILED TO LOAD ARCANA VOTE DATA. TRY AGAIN LATER."

[2016-07-19 20:51] gdrewb-valve commented on #949
It works correctly for me on my Linux box.  Over what period of time have you tried it?

[2016-07-19 21:17] deepakkeyal opened #950 "teleportation and other effects not working"
Hi, I have battle pass level 240 but few of my effects are not working(fountain,teleportation) .

[2016-07-19 21:30] pdrocaldeira commented on #949
I was trying since sunday. Well it works now, sorry for your time. Thanks!

[2016-07-19 21:30] #949 closed, assigned to gdrewb-valve

[2016-07-19 22:53] gdrewb-valve commented on #950
Can you post your system information?

[2016-07-19 23:07] deepakkeyal commented on #950
What all system information do you require?

[2016-07-19 23:07] gdrewb-valve commented on #950
The system information from the Steam client's Help menu.

[2016-07-19 23:14] gdrewb-valve commented on #950
This forum is only for Mac and Linux porting bugs, you'll want to post at dev.dota2.com

[2016-07-19 23:14] #950 closed, assigned to gdrewb-valve

[2016-07-20 03:03] p-groarke opened #951 "[OS X] Alt and cmd ping reversed."
Since cmd and alt are reversed in OS X, would it be possible to add an option to map ping to cmd?

Ty

[2016-07-20 03:19] 420git commented on #793
This happens with me too.
If I start dota then i try to quit it quits.
But if I play many games and I want to quit it gets stuck at the do you want to quit prompt and I have to end the process to close it.

[2016-07-20 03:21] 420git opened #952 "Inventory miniview persistant bug"
![2016-07-20-050359_1366x768_scrot](https://cloud.githubusercontent.com/assets/7397789/16974121/14d38ca4-4e42-11e6-83db-f2b339a1aeb7.png)
Inventory miniview cant be minimized sometimes check image

[2016-07-20 03:50] gdrewb-valve commented on #952
This isn't a Mac/Linux issue so the larger team will take a look.

[2016-07-20 05:32] gdrewb-valve commented on #951
If you go into the advanced section of the keybind page and opt to allow the Windows/Command key to be bound as a key, then in the advanced options you choose to bind alt as command does that do what you want?

[2016-07-20 06:24] p-groarke commented on #951
Can we rebind the ping key? If so, then yes that would work.
I got to go sleep, i'll test tommorrow.

[2016-07-20 07:14] gdrewb-valve commented on #951
You can rebind what key means alt so you can have command function the way alt does by default.

[2016-07-20 07:15] n1colius commented on #948
okey, i will try to ask on steam-for-linux repo.
Thanks

[2016-07-20 11:43] kunalex opened #953 "[MacBook, OS X 10.11] Show Fps option missing + low gameplay performance"
Hello,

First of all, could someone redirect me to the optimal performance settings.
My display card is AMD Radeon R9 M370x 2048 MB with 2.5GHZ Intel Core i7, 16 RAM. I am on a MacBook Pro 15.

My gamplay performance is poor. 30 fps maximum, on the lowest video settings and biggest and ugliest rezolution.

Also, I cannot find the show fps option in the dota2 menu. Is it removed in the Dota for Mac

[2016-07-20 15:38] p-groarke commented on #951
Oh man, thats exactly what I was looking for (bind windows + rebind alt)! Sorry to have wasted your time, huge thanks for the help.

Also great work on all the new key bindings (especially mouse up/down), wont need my EventTap thingy anymore. <3

[2016-07-20 15:38] #951 closed, assigned to nobody

[2016-07-20 16:47] gdrewb-valve commented on #953
There are a number of Mac perf problems open here already, you might want to look through those.  As you are unable to get the performance you want even at the lowest settings I'm not sure there's much extra advice about turning things on since that would just reduce your frame rate even more.  Unfortunately getting engagement from Apple on performance and stability of OpenGL has been difficult so

[2016-07-20 17:41] Tele42 commented on #953
@kunalex, you can turn on the on-screen fps counter with `cl_showfps 1` in the console. There also is `dota_hud_netgraph 1` and `stats_display 1`. I read the opening post as there is no option in the settings to toggle one of these.

[2016-07-20 17:53] gdrewb-valve commented on #953
@kunalex asked about it being removed for the Mac version so I thought he was referring to something that existed for the Windows version.  I don't believe there is such a UI setting on any verison but I wanted to confirm what kunalex was thinking of.

[2016-07-20 20:07] gdrewb-valve commented on #952
The larger team can't get this to occur and doesn't have a lead on this.  Do you have a set of steps which causes this to happen reliably?

[2016-07-21 05:27] ThreadShakur opened #954 "Help me with dota on Ubuntu 16"
I have videocard Nvidia 9800 GT very old card, but on windows with directx 9 support my fps on medium settings is ~100, but when i come on linux and enable opengl support my fps is ~ 50 on my card opengl support - 2 and directx9 on forum i seen that dota needs opengl 2 on another forum i seen that i need opengl suppor 4... I can't buy new videocard and i want play on linux... maybe i can enable op

[2016-07-21 06:56] gdrewb-valve commented on #954
Dota requires OpenGL 3.1 these days.  Do you know what OpenGL driver you're using?  This isn't the best place to get advice on how to configure OpenGL for your system, but possibly you'll get some replies.

[2016-07-21 06:59] ThreadShakur commented on #954
I use driver from nvidia, version 341, what obout opengl driver.. I dont know what driver i use< but if i will install driver version 2.1 how on my videocard fps will up? And 1 question : in future dota will support driver 2.1 ?

[2016-07-21 07:12] gdrewb-valve commented on #954
It looks like your card is old enough that NVIDIA isn't doing new driver releases for it.  If you run glxinfo what does it say?

As for whether your FPS will increase with a different driver I have no idea, that'd be a question for NVIDIA.  As they don't seem to be doing driver updates there may not be a Linux solution for your card.

[2016-07-21 07:22] ThreadShakur commented on #954
On windows i use driver 341 how on linux.. Business in opengl.. dota support directx 9 and my card support directx9 too... Question on opengl... Valve will make support for opengl 2.1? Or how now i can run dota 2 with support Opengl 2.1

[2016-07-21 12:54] Tele42 commented on #954
Hello @ThreadShakur, the Geforce 9800 GT is capable of OpenGL 3.3 and nvidia's 340 series is the long-term support series for this generation of card.

As a side note, the current iteration of Dota 2 used to be called Dota 2 Reborn, it's changed game engines from Source 1 to Source 2, which also bumped the minimum requirements.

[2016-07-21 15:15] santiihoyos opened #955 "Bad responsive GUI in 2560x1080"
Hi, i have this problem in Linux, Mac and Windows with the GUI...

my resolution is: 2560x1080

![bug1](https://cloud.githubusercontent.com/assets/10730150/17028042/8066b6ce-4f66-11e6-8ed4-83f1590f7f87.png)
![bug2](https://cloud.githubusercontent.com/assets/10730150/17028043/80688b84-4f66-11e6-8fb1-0b4f624646e8.png)

Thanks.

[2016-07-21 16:29] gdrewb-valve commented on #955
This forum is for porting bugs that do not happen on Windows, you'll want to post this at dev.dota2.com

[2016-07-21 16:29] #955 closed, assigned to nobody

[2016-07-21 16:49] santiihoyos commented on #955
The bug is in Linux and Mac but the bug is in windows also.

[2016-07-21 18:57] s4iya opened #956 "[Ubuntu 16.04] GTX 960M low FPS"
I had a lot of trouble trying to find the correct driver for my GTX 960M to be able to play Dota 2 on Steam correctly.
After having a lot of PC freezing issues with every drivers possible, probably due to bad installation, it seems that now it doesn't crash anymore. But I can't play correctly because of really bad FPS.
My laptop is an Acer V-Nitro17, which has IGP and GPU.

First of all :
- I come

[2016-07-21 19:26] gdrewb-valve commented on #956
You may have more luck asking in areas that deal with your distro and GPU, but somebody might have some advice here.

[2016-07-21 19:27] gdrewb-valve commented on #954
Just to be clear OpenGL 3.1 is the minimum requirement, there is no way to run Dota against OpenGL 2.1.

[2016-07-21 19:28] gdrewb-valve commented on #953
Closing for now.  There are already Mac perf issues open and until we hear if there's something Mac-specific about the FPS counter I don't think there's an extra issue here.

[2016-07-21 19:28] #953 closed, assigned to gdrewb-valve

[2016-07-21 19:55] s4iya commented on #956
I asked the same question on AskUbuntu (StackExchange), unfortunately the only answer I received was that I should use Bumblebee or Nvidia-prime, which unfortunately wasn't exactly my problem. Nothing else online. I have no idea where I could ask this, so I came here.

[2016-07-22 23:06] tomekmarchi opened #957 "21:9 Ultrawide Monitor 2560 x 1080 Mac"
http://i.imgur.com/1Lg6hir.png

All that needs to be fixed is the HUD. Everything else is playable.

[2016-07-22 23:07] tomekmarchi commented on #957
For over 2 years it's been like this without any fix or patch.

[2016-07-22 23:18] 420git commented on #952
From a fresh start nothing seems to happen.
However after hours of use (~4 matches) just like other bugs (ex:stuck at do you want to quit dota) if I press preview bundle forexample it happens.

[2016-07-22 23:20] gdrewb-valve commented on #957
This forum is for porting bugs specific to Mac and Linux.  This issue is not related to the platform, you'll want to post at dev.dota2.com

[2016-07-22 23:20] #957 closed, assigned to nobody

[2016-07-22 23:20] gdrewb-valve commented on #952
OK, thanks for the info.

[2016-07-22 23:21] gdrewb-valve commented on #948
Closing as this isn't a Dota issue and suggestions aren't coming in.

[2016-07-22 23:21] #948 closed, assigned to gdrewb-valve

[2016-07-22 23:21] gdrewb-valve commented on #954
Closing as this isn't a Dota problem.

[2016-07-22 23:21] #954 closed, assigned to gdrewb-valve

[2016-07-23 19:18] t3rnary commented on #932
Could the issue I'm having be related to https://github.com/ValveSoftware/Dota-2/issues/885?

This might just be a driver issue.

[2016-07-23 19:37] gdrewb-valve commented on #932
There was never a final culprit found for #885 so it's hard to say (once it was clear it wasn't dota-specific I'm not sure the original poster would come back here).

[2016-07-24 05:32] gselsidi opened #958 "[MAC] Denying Creeps doesn't give XP"
I recently read a patch note that said denying creeps gives blah blah XP, up until this point I thought denying creeps and XP was removed from the game, because when playing on my MAC, if i deny a creep I don't see my XP meter go up.

This is either a graphical glitch where it just doesn't show, or it's actually not calculating the XP.

[2016-07-24 15:19] sultanahamer opened #959 "System resources utilization"
Hi Team,

I am using mac book pro. 16Gig Ram, i7 2.5Ghz running OSX Yosemite. What I observe is dota takes a lot of cpu usage even if I just keep it open and do nothing. It takes up almost 70% of CPU usage. I stay at main menu and I loose my laptop battery. I understand if I start playing or spectating a game hitting 100% is okay. But just keeping it open, stay at main menu and loosing lot of batt

[2016-07-24 16:57] gdrewb-valve commented on #959
This isn't a Mac-specific issue so you'll want to post at dev.dota2.com

There are no plans to try and reduce CPU usage of the main menu, so I don't believe this will change any time soon.

[2016-07-24 16:57] #959 closed, assigned to nobody

[2016-07-24 19:28] gdrewb-valve commented on #958
I heard back that it's XP given to the other side, not to the player denying.

[2016-07-24 19:28] #958 closed, assigned to gdrewb-valve

[2016-07-25 15:41] jfabre opened #960 "[OSX] Sound stops working"
OSX 10.11.5
Macbook Pro Retina Mid 2012
Herman Kardon soundsticks wireless through **bluetooth**

Once in a while, the sound just stops working(only in dota) and to make it work again I have to:
1- go to audio config
2- toggle sound device from default to soundstick wireless or -sw- to default.
3- Sound comes back and it seems it plays all the sound effects I missed since at the same time.

[2016-07-27 09:17] zanderzhng opened #961 "[macOS]FPS much lower with macOS Sierra."
Used to have 50 fps before upgrading to macOS Sierra, but now with 20 around, same settings.

[2016-07-27 18:02] gdrewb-valve commented on #961
Did anything else change or did the FPS change solely because of the OS upgrade?  If it was only from the OS upgrade you'll want to report this to Apple as the change came from them and not Valve.

[2016-07-27 22:42] felipec commented on #886
Good thing you closed this issue. Two months later, and this issue is still present. So good to hear "the larger team is looking at it".

[2016-07-28 17:51] Celexi opened #962 "[LINUX] Dota 2 vulkan starts on wrong monitor"
With vulkan i am unable to start dota 2 on right monitor, there are two workarounds, none great and sometimes don't work.
I am using Fedora 24 with gnome 3.20.2 and dota 2 by default will open on my left monitor, or right, never the main monitor. Sometimes i am able to move it with the gnome hotkey to the right monitor, sometimes doing that makes the game crash or the mouse act as if it was in the

[2016-07-28 19:35] konstantinblaesi commented on #934
If you're running Linux 4.6 (4.7 might have fixed this, idk) try disabling intel pstate by appending "intel_pstate=disabled" to your boot parameters. There seems to be a pstate regression, see

http://www.phoronix.com/scan.php?page=article&item=linux-47-schedutil
https://www.phoronix.com/scan.php?page=news_item&px=P-State-Possible-4.6-Regression

[2016-07-28 19:35] konstantinblaesi commented on #956
If you're running Linux 4.6 (4.7 might have fixed this, idk) try disabling intel pstate by appending "intel_pstate=disabled" to your boot parameters. There seems to be a pstate regression, see

http://www.phoronix.com/scan.php?page=article&item=linux-47-schedutil
https://www.phoronix.com/scan.php?page=news_item&px=P-State-Possible-4.6-Regression

[2016-07-28 19:57] gdrewb-valve commented on #962
This only happens with vulkan?  If you use the default OpenGL renderer it opens properly?

[2016-07-28 20:34] admshao commented on #934
Thanks for the tip. I've been using 4.7 since release and no issues so far.
Can't say its fine to close this yet tho

On Jul 28, 2016 4:35 PM, "elxa" notifications@github.com wrote:

If you're running Linux 4.6 (or 4.7 maybe) try disabling intel pstate by
appending "intel_pstate=disabled" to your boot parameters. There seems to
be a pstate regression, see

http://www.phoronix.com/scan.php?page=art

[2016-07-29 00:23] Dota2player1 opened #963 "[Linux] Dota2 cant display traditional chinese character in HUD."
All the characters which cant displayed in game are Traditional chinese characters.
This issue occurs because
1. Valve is using some GB2312 chinese fonts (for simplified chinese characters only) like SimKai in HUD.
    The way to fix is change the font to some Unicode chinese fonts like DFKai-SB(KaiU).
2. Valve added words in HUD with GB2312 encoding.
    unicode encoding please.
![d2-1](https://c

[2016-07-29 01:08] gdrewb-valve commented on #963
Dota doesn't provide full CJK fonts so your system fonts are used for at least some characters.  You may be able to affect which fonts get used by tweaking your fontconfig settings.

Dota does all of its string processing in either UTF-8 or wchar_t.

[2016-07-29 01:17] Dota2player1 commented on #963
The problem is which font is dota using there and how can I tweak that

[2016-07-29 01:25] gdrewb-valve commented on #963
Dota uses a variety of fonts and those fonts are changing as pages change.  However I'm not sure that matters as Dota uses pango, freetype and fontconfig and those all provide font fallbacks based on Unicode character coverage.  If a particular font Dota is using doesn't have some characters it should fall into system fonts according to fontconfig setup.

As for fontconfig, https://www.freedesktop

[2016-07-29 02:11] perezect opened #964 "[OSX] Game crash on match found pop-up"
Dota2 crashes as a match is found consistently since Update #2, July 27 2016 for me; I somewhat suspect the recent changes to bring screen to front, however disabling the pop-up option does not fix it, nor does uninstalling and reinstalling.

System specs are:

[code]

[2016-07-29 02:29] gdrewb-valve commented on #964
If there are no failure entries in the Steam system information that often means the problem is on the system side and outside of Dota's error tracking.  Do you have any console logs (you can add -con_logfile to your launch options and the console logs will go into <Steam Dota>/game/dota/console.log) or other system error info?

If you validate your local install in the Steam client does that find

[2016-07-29 02:49] perezect commented on #964
Validating doesn't find any issues.
Attached is the console.log, as well as the serverlog.txt (this spans back to my first game, but shows the past two days at the bottom). Ironically enough, OS X wasn't saving crashlogs, so I assumed the problem was steam specific. Thanks for that, wasn't sure how to save log files of the console. Are there any other tests I should run? [I've been following this

[2016-07-29 02:52] gdrewb-valve commented on #964
The logs don't have anything unusual in them so it's unclear what's going on.  We'll have to see if more people are hitting it so that we can find a pattern and narrow down the cause.

[2016-07-29 04:01] Dota2player1 commented on #963
I just cant find the font which dota2 using there.....
FC_DEBUG=1 log file:
https://gist.github.com/Dota2player1/5189b2cbccdd38ef359206b408179eea/raw/d87ecd129f9220d602bc4b2fd8e6d34e85d13a41/FC_DEBUG=1

[2016-07-29 04:26] Tele42 commented on #963
Hello @Dota2player1,

Are you able to determine if the font debug is spewed into the log at during startup of the game or when new glyphs are being rendered (or failing to render)? If the debug information is spewed as you're typing new characters, you should be able limit the amount of information you need to analyze by starting the game, going to the screen just before the characters of interest

[2016-07-29 07:15] Dota2player1 commented on #963
Hello @Tele42
that font is only used for heros' name, abilities' name, items'' name, match mode name, radiant and dire **in game**
even the description of items and abitilies are using different fonts. also different font for chat.
I cant determine it so I just recorded all information since steam client startup and still failt

[2016-07-29 16:49] AutoAwesome opened #965 "[Linux] Hotkeys not working in-game"
Hi guys,

I just played a game and noticed in the beginning of the game that none of my hotkeys are working all of the sudden. Yesterday I played some games and everything was fine.

Surprisingly I could open the chat and even use the keys that would not work in the game - so I could at least tell my team why I am going to abandon :-)

I have tried a lot of things also "Bind keys based on keyboard

[2016-07-29 18:46] gdrewb-valve commented on #965
Add -input_message_spew to your launch options and you'll get extra console spew about key presses.  You can go to the settings, bind some keys and then go in-game and press those keys, then gist the console log here.

[2016-07-29 18:46] gdrewb-valve commented on #961
Closing pending more info that this is a Dota issue.

[2016-07-29 18:46] #961 closed, assigned to gdrewb-valve

[2016-07-29 19:16] AutoAwesome commented on #965
Hi Drew,
Thank you a lot for your response.
- In this gist I have tried is moving with my hero and hitting S to make him stop moving. It doesn't work.
  I also reassigned the S key in the dota to the same key (S) just to be sure.
  https://gist.github.com/AutoAwesome/b689e1cc5bd8f2f9028c0b6666ae1bc0
- And in this gist I have tried to go to the dota settings and rebind the hotkey Q.
  It also doesn

[2016-07-29 19:22] gdrewb-valve commented on #965
SDL isn't recognizing your keypresses, so this appears to be the same thing as #453.  Assigning to the SDL dev.

[2016-07-29 23:10] Celexi commented on #962
I just tested and with the OpenGL renderer it opens in wrong monitor but can be moved to right one by switching it to windowed, placing the window in the right monitor and using " use my monitor settings" with vulkan, doing that something weird like:

![screenshot from 2016-07-30 00-06-13](https://cloud.githubusercontent.com/assets/2287860/17265791/e5553932-55e9-11e6-8a23-90df9800ccc2.png)

happen

[2016-07-29 23:36] gdrewb-valve commented on #962
Let's set aside Vulkan for the moment (as it's new and may have its own bugs) and moving the window manually (since the game does not handle being moved particularly gracefully on any renderer or platform).  Does -phased_window_create cause the window to get created on the correct monitor if you're using OpenGL?

What size and mode (fullscreen/windowed/borderless) are you using?  What size are you

[2016-07-30 00:48] Celexi commented on #962
-phased_window_create does make it launch in the correct monitor in OpenGL, I am using Fullscreen, my monitors resolution is 1920x 1080(Both) , both my monitors are 22 inch.

[2016-07-30 00:51] gdrewb-valve commented on #962
OK, it must be something with Vulkan not properly handling the window changes that -phased_window_create makes.

[2016-07-30 14:36] AutoAwesome commented on #965
After the ~400mb patch today, my hotkeys are working again.

For the reference: I changed absolutely nothing on my setup. Just made a day dota break :)

Feel free to close this issue if there is nothing left to look at for your dev-team.
Thank you a lot.

[2016-07-30 16:09] gdrewb-valve commented on #965
There probably isn't more the dev can get but I'll leave closing this to him.

[2016-07-30 19:17] phoerious opened #966 "Buildings sometimes half or all the way in the ground"
A couple of days ago, I had a very weird game where all the buildings (towers, barracks, ancients, fountain) were half-way in the ground and at the wrong position. After restarting Dota, the effect was gone, but watching another game, I just had it again, so it is randomly reproducible. I attached a couple of screenshots to show what it looks like. I'm using the immortal gardens map skin.

Two oth

[2016-07-30 21:42] gdrewb-valve commented on #966
Probably not platform-specific.

[2016-07-30 23:30] vhda opened #967 "[Linux] Desktop friendly minimize when focus lost option reset after every update"
Like the title says, this option value is reset every time there is an update (which is basically twice a day, nowadays). Would it be possible to include a fix for this in one of these frequent updates? ;)

[2016-07-31 02:51] gdrewb-valve commented on #967
Do any of your settings get saved?  Is that the only one that doesn't work?

[2016-07-31 11:05] phoerious commented on #966
Little side node: this bug also applies to hero demo mode which is not supported by the immortal gardens. So it's probably not a terrain skin issue.

[2016-07-31 18:09] AndrejSchaefer commented on #328
Open Console
Write force_leave_game_button 1
Leave the game via Button
Worked for me with the same problem
Source: https://www.reddit.com/r/DotA2/comments/4jef2m/im_stuck_in_a_hidden_lobby_i_cant_leave/d362wd5
Credit goes to SeQuenSe
Good luck!

[2016-08-02 13:41] danginsburg commented on #962
I am not able to repro the screenshot above of Vulkan drawing to the corner of the screen using -phased_window_create.  I have two monitors 1920x1080 and I have tried launching in bordered window mode then moving the window and switching to desktop-friendly fullscreen.  It seems to handle the resize properly, with or without -phased_window_create.  Can you please explain the repro steps for the is

[2016-08-02 18:24] jazztickets opened #968 "[Linux] Fantasy Challenge score not working"
![2016-08-02-121650_1920x1080_scrot](https://cloud.githubusercontent.com/assets/425930/17340072/ea62388e-58ab-11e6-8a8f-59d1a87bb4b5.png)

System:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/163736a69492dfae99e2979adbdaf9c9d57fb65c/gistfile1.txt

[2016-08-02 19:02] Turmfalke2 opened #969 "[Linux] tv_nochat isn't working"
hi,
I am unable to disable the spectator chat using tv_nochat or the the checkbox in the top right corner.

[2016-08-02 20:53] Turmfalke2 commented on #922
It is Ti (or almost) and the bug is still around:
[1484306.232123] traps: GLRenderThread[28531] general protection ip:7fd7f8b2b106 sp:7fd7fe2b2750 error:0 in libscaleformui_4_gl.so[7fd7f854e000+a09000]
[1484348.981886] traps: GLRenderThread[29059] general protection ip:7f11a0189106 sp:7f11a58b1750 error:0 in libscaleformui_4_gl.so[7f119fbac000+a09000]

[2016-08-02 20:55] gdrewb-valve commented on #968
Unlikely to be Linux specific, checking with the larger team.

[2016-08-02 20:55] gdrewb-valve commented on #969
Unlikely to be Linux specific, checking with the larger team.

[2016-08-02 20:57] gdrewb-valve commented on #968
The larger team confirms its a general issue and a fix is coming.

[2016-08-02 20:57] #968 closed, assigned to gdrewb-valve

[2016-08-02 21:14] gdrewb-valve commented on #969
The larger team confirmed this happens on all platforms and they're working on a fix.

[2016-08-02 21:14] #969 closed, assigned to gdrewb-valve

[2016-08-02 21:42] gdrewb-valve commented on #922
@Turmfalke2, does turning off the Steam overlay help?

[2016-08-02 21:44] gdrewb-valve commented on #922
Also do you have a match ID of a specific match that crashed for you?

[2016-08-02 23:58] gdrewb-valve commented on #967
Closing pending more info.

[2016-08-02 23:58] #967 closed, assigned to gdrewb-valve

[2016-08-03 00:35] vhda commented on #967
I somehow have missed your reply 3 days ago, I'm sorry.
As far as I can tell that's the only option that was being reset. I've just changed a bunch of video settings, so I can confirm this after tomorrow's update.

Note: I think that today's update did not reset the option. Is it possible this was fixed in the meanwhile?

[2016-08-03 00:38] gdrewb-valve commented on #967
I don't believe anybody fixed anything in this area but I don't see every single change.  Regardless if you see it again we'll reopen this.

[2016-08-03 05:45] Turmfalke2 commented on #922
@gdrewb-valve  where do I turn off the steam overlay? Also I can reproduce it with pretty much any captains mode game, as mentioned earlier it seems to depend on the state of the draft.
I think it was one of the Ehome games, let me check the time stamp. Ok according to dmesg it was 22:53:25 CEST, which is 20:53:25 UTC.
The uptime of my machine here is 17 days, but I don't suspend it. Therefore the

[2016-08-03 06:54] gdrewb-valve commented on #922
In the Steam client if you right-click on Dota in your app list you can get the properties.  In the General tab there's a checkbox for the overlay.

I was hoping to get a match ID so that I could check with exactly the same match so if you have one that'd be great.  Otherwise I'll pick a captain's mode game at random.

[2016-08-03 09:39] phoerious commented on #966
This bug is becoming really game-breaking. Neutral creeps are also often in the wrong position, but teleport to the correct location when using right clicks or abilities on them. Spell animations are rendered in the wrong places and even heroes randomly teleport over short distances. Something is seriously messed up with the coordinate systems of heroes, creeps, structures, spells and runes.
The o

[2016-08-03 12:12] guysgr opened #970 "Client crashes when trying to inspect a game"
been crashing while I am inspecting the games.

Imac 27" late 2014
Mac OS X Yosemite 10.10.5

[2016-08-03 15:42] gdrewb-valve commented on #970
No information given but I'm assuming this is the same as #918 / #922.

[2016-08-03 15:42] #970 closed, assigned to nobody

[2016-08-03 15:43] gdrewb-valve commented on #966
This looks to be happening on all platforms and the larger team is looking, there won't be much status here.

[2016-08-03 16:12] Turmfalke2 commented on #922
I will give it a try.

 I don't think it depends on the match ID and I am pretty sure it is not something you can reproduce from a replay. It depends more on the state of the draft.

E: Is there a way for me to get a random captain's mode game? Seems like OG vs LGD is supposed to start soon, I will try to reproduce it with that one.

[2016-08-03 16:19] gdrewb-valve commented on #922
Do you mean an automatic random selection of a captain's mode game?  I don't think there is one, I was just going to check around manually.

[2016-08-03 16:27] Turmfalke2 commented on #922
Was hoping there was a hidden feature to filter the games on the watch/live tab. Appears like there are some delays with the TI games?

E: Checking the "Friends Only" checkbox when no friend is playing hides it and appears to constantly loop. Seems like restarting the client is required to recover from that.

[2016-08-03 16:38] Turmfalke2 commented on #922
Ok, success I crashed.
[Mi Aug  3 18:35:51 2016] GLRenderThread[6494]: segfault at 10 ip 00007f68c6a89106 sp 00007f68cc210750 error 4 in libscaleformui_4_gl.so[7f68c64ac000+a09000]
[Mi Aug  3 18:37:07 2016] GLRenderThread[6622]: segfault at 10 ip 00007f0c7930a106 sp 00007f0c7ea32750 error 4 in libscaleformui_4_gl.so[7f0c78d2d000+a09000]
They look a bit different from the ones yesterday, but the fi

[2016-08-03 16:46] gdrewb-valve commented on #922
OK, thanks for confirming it happens even without overlay.  We'll have to try and catch it here at Valve to make more progress.  Given that it may only occur at certain points during the draft of live games it may take a while to isolate.

[2016-08-03 17:41] rudmint commented on #922
I'm currently crashing attempting to watch the NAVI group stage match.  One thing I notice which may or may not be of consequence is that the load screen is always the same before a crash, even though I have 100+ load screens set on random.

[2016-08-03 17:43] Turmfalke2 commented on #922
Just in case this really matters - I am not using a custom load screen.

[2016-08-03 18:20] gdrewb-valve commented on #922
If you look at the Steam client system information (under the Help menu) does it have failure reports that correspond to the times you're crashing?  If they have crash ID's post them here and I can see if they're the same thing or different.

[2016-08-03 18:39] rudmint commented on #922
I do have them, but they appear to be discarded;

[code]

[2016-08-03 18:54] gdrewb-valve commented on #922
Most will be discarded, unfortunately.  If you do end up with crash IDs post them here.  So far I haven't been able to watch at exactly the right moment to catch the problem.  Additionally catching a single instance is probably not going to be sufficient to isolate the bug so this one is going to be very difficult.

As mentioned elsewhere I also have a suspicion that this is related to a particula

[2016-08-03 18:54] gdrewb-valve commented on #922
I've tried grabbing some of the TI replays available and, as suspected, they haven't shown a problem yet.

[2016-08-03 19:16] Turmfalke2 commented on #922
@gdrewb-valve: I have one that didn't get discarded:
Wed Aug  3 16:41:00 2016 GMT: file ''/tmp/dumps/crash_20160803183935_1.dmp'', upload yes: ''CrashID=bp-72b045a3-da27-4672-a2fc-420da2160803''
Can you find the dump with this id on a servers of yours or shall I send you it?
I assume it is the dump related to the "segfault at 0 ip (null)" earlier.

[2016-08-03 19:19] gdrewb-valve commented on #922
Thanks, that's the all-platforms crash I believe is the underlying culprit.

[2016-08-03 19:24] gdrewb-valve commented on #922
As you've seen from your own reports the crash is in Scaleform, which is a third-party library from Autodesk and isn't Valve's code.  The problem may be in some interaction with Valve's code but it makes the whole thing even more difficult since the actual piece of code that's dying is not something people at Valve are familiar with.  The larger team is going to keep grinding away but I wouldn't e

[2016-08-03 19:28] keebuhm opened #971 "[OSX] Game client crashes when joining a TI game as spectator during pick phase"
It crashes after showing the loading screen.

Late 2015 Retina 4k iMac
OS X 10.11.6

[2016-08-03 19:42] Tele42 commented on #971
Duplicate of #918 / #922.

[2016-08-03 19:54] Turmfalke2 commented on #922
Yes.. I can see some issues with scaleform, they aren't even using the correct ssl certificate for websites. Really wouldn't want to be the guy who decided to use scaleform.
Which version of scaleform is dota using?

[2016-08-03 19:55] gdrewb-valve commented on #922
4.2

[2016-08-03 19:56] gdrewb-valve commented on #971
Closing duplicate.

[2016-08-03 19:56] #971 closed, assigned to nobody

[2016-08-03 20:53] Turmfalke2 opened #972 "Captain's mode is using place holder values during draft"
hi,
I always thought I already reported this one, but I couldn't find it using githubs search.
The issues is that is that when spectating or watching a replay the draft screen in captains mode games has 'TEXTFIELD' written for unpicked heroes and displays 5 'primary attribute strength' symbols.
![dota2bug_draft](https://cloud.githubusercontent.com/assets/5174562/17381453/488dea2c-59cc-11e6-8d74-79

[2016-08-03 21:02] Tele42 commented on #972
There's a good chance you did, since the previous Dota-2 issue tracker was made private. The Dota-2-Reborn issue tracker was then moved to replace it back when we switched over to using Dota 2 Reborn as the main client. I can confirm this occurs on Gentoo Linux.

[2016-08-03 21:30] vhda commented on #967
@gdrewb-valve I confirm that everything is working correctly now.
It is possible this fix was included in some other more important change.

Thanks for taking the time to review this issue.

[2016-08-04 01:29] vadi2 opened #973 "Frequent crashes while loading matches for viewing"
Dota client is crashing rather frequently while trying to connect to a game to watch on both of my systems.

System information 1:

[code]

System information 2:

[code]

[2016-08-04 01:54] vadi2 commented on #973
Note that I alt+tab out of the game while it is connecting to the game.

[2016-08-04 02:51] gdrewb-valve commented on #973
Duplicate of #918 / #922.

[2016-08-04 02:51] #973 closed, assigned to nobody

[2016-08-04 03:07] vadi2 commented on #918
I'm affected by this issue very frequently while trying to watch TI group stage matches.

[2016-08-04 05:28] kaiserprogrammer opened #974 "[Ubuntu/Linux] Quickcast mouse-bindings only not immediately casting"
quickcast is working for keybindings, but not for mouse-bindings. Cast is normally selected and requires another left-click to activate it.
e.g blink-dagger: supposedly bound with quickcast enabled to mouse4, pressing mouse4 selects blink-ability and requires an additional left-click to determine location. Moving blink-dagger to another inventory slot with keybinding set to "u". Pressing "u" immed

[2016-08-04 05:38] liampwll opened #975 "[Linux] Fantasy challenge score constantly changing"
The fantasy challenge score is changing between a few different scores.
Video of what I mean [https://www.youtube.com/watch?v=StB8AHxK8tA](https://www.youtube.com/watch?v=StB8AHxK8tA)

System Info:

[code]

[2016-08-04 15:02] 9Morello commented on #4
I'm also getting bad performance on OS X El Capitan. Sometimes the FPS counter is high, but game doesn't feel smooth at all. Sometimes it drops below 30 FPS on a GTX 670, which is way more than enough for Dota 2. This same card delivers 100+ FPS all the time on Windows and Linux.

[2016-08-04 19:27] gdrewb-valve commented on #975
This happens on all platforms and won't be tracked here, the larger team is aware of it.

[2016-08-04 19:27] #975 closed, assigned to nobody

[2016-08-04 19:28] gdrewb-valve commented on #974
I don't think this is a Linux-specific issue, checking with the larger team.

[2016-08-04 20:25] kaiserprogrammer commented on #974
It works fine in windows.

[2016-08-04 20:29] gdrewb-valve commented on #974
I'll pass that on, thanks.

[2016-08-04 22:00] vadi2 commented on #918
Don't even have to be alt+tabbed out - it's taking up to 5 crashes for me before I can get in to watch a match. Not only is this frustrating, but I can also miss the match predictions because of this problem.

[2016-08-04 22:10] gdrewb-valve commented on #918
You might want to check out the discussion in #922.  The problem appears to be in a piece of non-Valve code so unfortunately we're not expecting a quick fix.

[2016-08-05 05:56] lifesized opened #976 "Fantasy Challenge score calculation display bugs"
Scores for global and local don't seem to be consistent. Currently i am top of my friends list, although not in the global top 100, while my score is higher than anyone there:D

![screenshot 2016-08-05 07 39 44](https://cloud.githubusercontent.com/assets/594539/17427578/07521ad0-5ae2-11e6-8aa5-69d2044cece6.png)

ps iceiceice - slow down buddy, you are making all those gold card's look weak.....

[2016-08-05 06:12] lifesized commented on #976
Also if you look at August 02, you will notice that there were games in which i had 2 support silver cards which register 0 score in this view. Both players clearly would have generated points.

![screenshot 2016-08-05 08 10 21](https://cloud.githubusercontent.com/assets/594539/17427858/42872fbc-5ae4-11e6-879d-eee72d349b5d.png)

![screenshot 2016-08-05 08 11 35](https://cloud.githubusercontent.com

[2016-08-05 07:56] gdrewb-valve commented on #976
This isn't a Mac or Linux-specific bug so the larger team is taking a look and there won't be status here (this is strictly for porting bugs).

[2016-08-05 07:56] #976 closed, assigned to nobody

[2016-08-05 08:01] lifesized commented on #976
ok whoops for posting here. Thanks

James

On Fri, Aug 5, 2016 at 9:56 AM, Drew Bliss notifications@github.com wrote:

##

James Burke

T:+31 (0)6 5244 6445

Twitter: https://twitter.com/lifesized
LinkedIn: nl.linkedin.com/in/lifesized

   -

[2016-08-05 16:33] limtasheng opened #977 "GTX 980M 30FPS"
Hello, i am having this problem since Wednesday, when in game my fps was only 30 + even i set the lowest graphic, high packet loss during in game, when in main menu i experience low fps as well is pretty lag in main menu. Please Help me to solve this issue. Thanks

[2016-08-05 16:35] gdrewb-valve commented on #977
Can you post your full Steam system information (in the Steam client under the Help menu)?

[2016-08-05 16:49] limtasheng commented on #977
Computer Information:
    Manufacturer:  Notebook
    Model:  P65_P67RGRERA
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x5e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  2592 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:

[2016-08-05 16:50] limtasheng commented on #977
Here it is.

[2016-08-05 17:17] gdrewb-valve commented on #977
This forum is for Mac and Linux-only bugs.  You'll want to post at dev.dota2.com

[2016-08-05 17:17] #977 closed, assigned to gdrewb-valve

[2016-08-05 18:12] danginsburg commented on #972
We have a fix for this, it will be in the next release.  It was a missing video file on the Linux/OSX version.

[2016-08-05 18:22] Turmfalke2 commented on #972
Nice, is there anyway for us to know which of all the missing files are actually required/we are supposed to have?

@danginsburg
List of possible missing files from watching a a few minutes of a game yesterday
http://pastebin.com/raw/PCsw9Zwt
I guess the code for src made it in the release by accident, but what is the deal with the rest?

[2016-08-05 22:57] gdrewb-valve commented on #972
The code can run in a variety of configurations so it'll check for various files.  There will always be requests for files that don't exist so that's not a good guide.

This particular file is a background video that covers the placeholders.

[2016-08-06 06:40] gdrewb-valve commented on #972
After updating are you still seeing issues?

[2016-08-06 06:43] gdrewb-valve commented on #922
The Aug. 5 update has an experiment to try and gather some information.  If you add '+r_sync_scaleform_frame_and_render 1' to your launch options does it make any difference?  This is a long shot and most likely will not help, just to set expectations.

[2016-08-06 08:44] Turmfalke2 commented on #972
@gdrewb-valve I can confirm that the bug is fixed, the dota logos with the light behind them actually look pretty nice.
![dota2bug_draft_fixed](https://cloud.githubusercontent.com/assets/5174562/17455761/82d1517c-5bc2-11e6-84cf-00ceb2d18fad.png)

[2016-08-06 08:44] #972 closed, assigned to gdrewb-valve

[2016-08-06 08:59] Turmfalke2 commented on #922
I guess I can try that on Monday, unless you know of any earlier captain's mode games.

[2016-08-06 09:35] ramma commented on #922
@Turmfalke2 I've just been keeping trackdota.com up waiting for tournament matches to end. Much easier than scrolling through live matches with no filters, but far from ideal. This would be much easier to test with a filter or API function to list the newest pub matches of a particular mode.

[2016-08-06 10:17] ramma commented on #922
@gdrewb-valve Finally found a captains mode game to test with (match id 2552333508). The launch option did not help.

This could be unrelated, but after crashing with that launch option I can't spectate that game again. I get the message "Watch game status Could not watch this game at this time", with or without the launch option and persisting through restarts. Other matches work fine.

[2016-08-06 16:25] gdrewb-valve commented on #922
OK, thanks for trying it out.  We'll keep looking for a fix.

[2016-08-06 19:24] Turmfalke2 opened #978 "On the match overview all items cost buy_cost"
hi,
Not sure whether linux specific or not:
![dota2_buycost](https://cloud.githubusercontent.com/assets/5174562/17458728/347395e4-5c1c-11e6-8221-dafc5048dc54.png)

[2016-08-07 06:13] gdrewb-valve commented on #978
I'll check with the larger team.

[2016-08-07 08:24] vadi2 commented on #105
I'm getting this error on one Steam account while another account launches Dota just fine. "sudo ln -s /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.0" didn't help...

[2016-08-07 16:32] gdrewb-valve commented on #978
Confirmed that this affects all platforms, the larger team is working on it.

[2016-08-07 16:32] #978 closed, assigned to gdrewb-valve

[2016-08-07 17:20] VitorVRS opened #979 "[Ubuntu/Linux] Steam layer does not working"
Since the new chests (Lockless and Trove) i cant open steam layer (shift+tab) or everything that uses steam layer are not working properly like:
- Open player steam profile
- Buy on store
- Open steam friendslist
- Shift tab

[2016-08-07 17:35] gdrewb-valve commented on #979
The Steam area here is steam-for-linux, you'll want to post there.  We'll leave this open for the moment, though.

[2016-08-07 20:44] joaormatos commented on #921
As I noted in https://github.com/ValveSoftware/steam-for-linux/issues/4444, you should use:

[code]

instead of:

[code]

If you want the dbus-daemon process to be gone after you're done using Steam.

[2016-08-08 13:29] AlonzoTG commented on #921
joaormatos is WRONG. His suggested command does not work, the export [blah blah blah] command does.

So how do I select the Vulkan version and verify that is the version I'm playing?

[2016-08-08 17:23] Turmfalke2 commented on #921
Haven't tried dbus-run-session, but according to it's manage page it should work and assuming the dbus session persists through the forks it should be the preferred way of getting a session dbus.
Also what has vulkan to do with this issue?

[2016-08-08 20:14] joaormatos commented on #921
@AlonzoTG `dbus-run-session` keeps the `dbus-daemon` alive for as long as the process you told it to start.
In my system (Debian), when I type `steam` in the terminal and Steam isn't already running, the command doesn't return until I close Steam.

However, it's possible that in your system the process launched by your `steam` command forks and returns immediately, in which case Steam itself outli

[2016-08-09 16:38] Loenl3 opened #980 "[Ubuntu 16.04] dota.sh works fine, but I can't launch the game from steam client."
I can't launch the game from steam client (it will get stuck at "launching"), I changed libudev symlink from '..../dota 2 beta/game/bin/_whatever_/libudev.so....' to system library (64), now ./dota.sh is able to run the game.
guess I have to change some from ubuntu12_32/ too, which?

[2016-08-09 18:14] gdrewb-valve commented on #980
Working around Steam runtime issues is outside the scope of this forum.  There are a bunch of posts in steam-for-linux which might be relevant and you might also want to ask in forums for your distro.

Also, if you post system information somebody reading this might comment so I'll leave this open for  bit.

[2016-08-10 11:35] ramma commented on #980
I was having this after the most recent update. No console output upon trying to start the game, and restarting steam didn't help. Restarting lightdm finally resolved it.

[2016-08-10 17:53] rudmint commented on #922
Surprisingly haven't had this issue since I last posted (7 days).  Currently attempted to connect to Fnatic Alliance match and have a couple crash reports if you still want them.

[code]

[2016-08-10 20:01] gdrewb-valve commented on #922
One of your issues should be fixed in the current Steam client beta, are you running that or the stable client?

[2016-08-10 20:59] rudmint commented on #922
I am currently using the stable client, I'll download the beta and see what happens.

[2016-08-10 22:49] rudmint opened #981 "Item names incorrect"
Not sure if this issue Linux specific, but some items do not display the correct name when inspecting heroes.  It seems the item name field is instead populated by another equipped item's name.  See the two examples below.

![20160810180025_1](https://cloud.githubusercontent.com/assets/10488090/17573697/1d30ba40-5f2a-11e6-9300-d1ac066bd173.jpg)

![20160810180028_1](https://cloud.githubusercontent.

[2016-08-10 23:44] rudmint commented on #922
I downloaded the beta client, trying to connect to MVP.P Wings game now,

 Wed Aug 10 23:40:14 2016 GMT: file ''/tmp/dumps/crash_20160810165953_1.dmp'', upload yes: ''CrashID=bp-3624adf2-11f8-4cdf-9f2f-014be2160810''

As soon as the draft ended, I was able to connect.

[2016-08-10 23:56] gdrewb-valve commented on #922
That's the Scaleform crash, so hopefully you're no longer seeing the Steam client crash,

[2016-08-10 23:57] gdrewb-valve commented on #981
I'll pass this by the larger team.

[2016-08-11 03:36] buhman opened #982 "Segmentation fault while attempting to watch TI6"
Reliably, whenever I attempt to watch the hero draft in-game on TI6 games, dota 2 crashes with a segmentation fault. When I click "watch" the match after the draft is over, the crash does not happen.

I copied the verbatim contents of /tmp/dumps to:

https://gist.github.com/a322b00d345a414933b3696d6591adb7

[2016-08-11 04:53] gdrewb-valve commented on #982
Duplicate of #922.

[2016-08-11 04:53] #982 closed, assigned to nobody

[2016-08-11 06:50] ramma commented on #981
Just confirmed this in the match shown above. In case it's of use, the item name being displayed wrong is replaced by whatever item you last hovered over.

[2016-08-12 00:20] 420git commented on #952
Update: This bug started to appear more even on fresh starts upon trying to preview set bundles
and not only on linux it happened on win xp as well.

[2016-08-12 00:21] gdrewb-valve commented on #952
I'll pass this on to the larger team.

[2016-08-12 04:29] Gabrielmtn opened #983 "[OSX] Naming issue in 2016 International Collector's Cache"
![image](https://cloud.githubusercontent.com/assets/1121921/17612770/ccc9b714-6023-11e6-9d3c-c54dfecae23f.png)

[2016-08-12 04:32] Gabrielmtn commented on #983
Sysem info:
![image](https://cloud.githubusercontent.com/assets/1121921/17612807/317a743c-6024-11e6-8544-98553c086dc4.png)

[2016-08-12 05:28] gdrewb-valve commented on #983
This happens on all platforms so it won't be tracked here, I've passed this on to the larger team.

[2016-08-12 05:28] #983 closed, assigned to nobody

[2016-08-12 05:32] Gabrielmtn commented on #983
👍

[2016-08-12 17:59] VitorVRS commented on #979
That's not happening anymore since a few updates.

[2016-08-12 17:59] #979 closed, assigned to nobody

[2016-08-12 23:13] jazztickets commented on #922
Using vulkan seems to avoid the crash. Might be a good workaround for linux users for now.

Specs:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/bbe72e82bc6c339ed0322dc0d26cbfdbf3daf69a/gistfile1.txt

[2016-08-13 05:52] 420git opened #984 "Using timbersaw's chakram then selecting new hero in demo mode crashes dota"
Tested on both linux and win xp

steps to reproduce:
1.select timbersaw in demo mode
2.send chakram and dont return it
3.select new hero
4.mana keeps getting spent
5.when mana is over dota crashes

[2016-08-13 08:18] ramma commented on #984
If it happens on Windows, then the dev forums are a better place to report.

Either way, I confirmed this on Linux([sys info](https://gist.github.com/ramma/925cc19fb6fd7805979e)).

[2016-08-13 08:48] tpruzina commented on #916
I haven't ran into this problem in quite a while and unfortunatedly I can't pinpoint what fixed it (albeit I switched from beta to stable). Feel free to close the bug.

[2016-08-13 15:52] biji opened #985 "fullscreen window has blank gap after restoring"
using gnome 3.20 fedora 24, restoring fullscreen dota2 from desktop ,  using alt tab will cause blank gap on top. but when restoring using gnome overview no problem

[2016-08-13 17:57] gdrewb-valve commented on #984
ramma is correct that this forum is for bugs that only happen on Linux and Mac.  General issues should be posted at dev.dota2.com

I've passed this on.

[2016-08-13 17:57] #984 closed, assigned to nobody

[2016-08-13 18:04] gdrewb-valve commented on #916
Thanks, closing.

[2016-08-13 18:04] #916 closed, assigned to nobody

[2016-08-13 18:13] ramma commented on #984
@gdrewb-valve Slightly off topic, but who would I poke about not receiving a password reset email for the forums? Haven't been able to get in since the database issues email a few days back.

[2016-08-13 18:23] gdrewb-valve commented on #984
I'll check.  I might not hear back until Monday, though.

[2016-08-13 20:25] gear4s commented on #793
considering this has been happening since the middle of the month and hasn't been fixed, I'll assume the Valve developers are incompetent and can't locate a small bug in their programming.

this is almost as bad as the bug that used to completely lock up my system last year.

[2016-08-13 23:40] apolitech opened #986 "Black-is colors in ubuntu 16.04.1"
what platform this is occuring on: Linux  (ubuntu unity 16.04.1, ubuntu mate 16.04.1)

[Video driver.txt](https://github.com/ValveSoftware/Dota-2/files/416815/Video.driver.txt)
[pc specs.txt](https://github.com/ValveSoftware/Dota-2/files/416816/pc.specs.txt)
![570_screenshots_20160814021707_1](https://cloud.githubusercontent.com/assets/14872517/17646194/818dfe62-61c8-11e6-8857-45a630a56e79.jpg)
![

[2016-08-14 00:12] gdrewb-valve commented on #986
Most likely a driver or configuration (gamma?) issue.

[2016-08-14 06:45] ChristophHaag commented on #986
Mesa git: https://bugs.freedesktop.org/show_bug.cgi?id=97285

[2016-08-14 17:07] gdrewb-valve commented on #986
As this is confirmed as a Mesa bug I'm closing.

[2016-08-14 17:07] #986 closed, assigned to danginsburg

[2016-08-14 20:28] Celexi commented on #962
It seems to handle now resizing fine and moving, as long i don't use "use my monitor settings" , but it still starts in a corner in Vulkan for me( with -phased_window_create ), and if i set it windowed in vulkan, close and relaunch it with -phased_window_create , it just freezes.

I forgot to mention earlier that Borderless works fine as long its not the same size as my monitor, if it is it gets d

[2016-08-15 09:59] HeavyHamster opened #987 "[Linux] Game not loading (needs executable)"
Hello,
When I run Dota2 steam warns me that it can't find the executable.
First I've followed all the steps on the steam help with no luck, then I ran the script found under '/~/dota 2 beta/game/dota.sh' on a terminal and it outputs the following:

[edd@Fedora24 game]$ ./dota.sh
./dota.sh: línea 101: /home/edd/.local/share/Steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/dota2: cannot ex

[2016-08-15 10:21] pozkaf opened #988 "Strange Bots behaviour in Dota Linux (on debian 8)"
Hi,

In beginning of a training game, all bots (in difficult mode) run in the rune zone and are waiting for a rune to appear. It never appends to me when I used the dota 2 windows version.

Has anyone get the same behaviour in Linux ?

Thanks.

[2016-08-15 10:27] ramma commented on #987
My guess is 32-bit issue. As per the readme,

`The game requires a 64-bit capable CPU and distribution`

[2016-08-15 10:37] pozkaf opened #989 "Miscalculation (or print bug) of item cost"
Hi,

In a training game, when I look in the shop for an advanced item for which I already have some component, I cannot see how much I need to pay to get it. Only the total cost appear, and a single "2" where I should see the amount left.

Thanks.
(debian 8)

[2016-08-15 10:37] HeavyHamster commented on #987
Yes, I've read that too and at first I thought it was for the DLC, but the game is 64-bit too. Silly question

[2016-08-15 10:37] #987 closed, assigned to nobody

[2016-08-15 10:38] ramma commented on #988
If I'm understanding correctly, you mean the bots are waiting for the first rune, but proceed to lane after it spawns? If so, that's because of some bot updates a few months back and is expected behavior.

[2016-08-15 11:00] pozkaf commented on #988
Hi Ramma,

First, I effectively switch to Linux Dota a couple of month ago (May ?). And yes, absolutely all bots are standing in group around the first rune and then proceed to lane. It is surprising to me, but if you say it's the attended behavior, I will close this issue.

Thanks for your quick answer.

[2016-08-15 11:00] #988 closed, assigned to nobody

[2016-08-15 12:52] bennofs commented on #921
To all NixOS users: to get this fix, you can use the following command:

[code]

It will install a `steam` from `nixos-unstable` in your user environment, which has the fix. You can also just update to latest `nixos-unstable`.

[2016-08-15 15:35] joaormatos commented on #921
I found another workaround, which works on my system for other games that have DBus-related issues.
I didn't test with DOTA 2 since I don't currently have it installed, but it might work with it too.

No need to even start a DBus daemon for this one, just put some gibberish in DBUS_SESSION_BUS_ADDRESS, like so:

[code]

I don't know why it works.
(I imagine it might be making the dbus library give

[2016-08-15 15:43] gdrewb-valve commented on #989
As this isn't a Mac/Linux bug I'll pass it along to the larger team and it won't be tracked here.

[2016-08-15 15:43] #989 closed, assigned to nobody

[2016-08-15 18:37] gdrewb-valve commented on #984
This has been resolved so you should be getting your reset email / able to request a new reset email.

[2016-08-16 08:05] ramma commented on #984
I'm still not getting anything. Even added the email which the notice was sent from to never go to spam.

[2016-08-16 15:34] gdrewb-valve commented on #984
I passed this on and supposedly it's really fixed and it's just taking it's time to work through the system.

[2016-08-17 01:10] jacobaughtab opened #990 "Crashes after Hero Pick (OS X)"
At the start of the round my game will freeze and I have to Force Quit Dota 2 in order to relaunch it and reconnect. This is extremely frustrating because it makes it impossible to play in a party and troublesome to play in public matches because people will often quit the game or refuse to pause it while they wait for you. Any help would be appreciated.

Mac Information:
iMac (21.5in Late 2012)
P

[2016-08-17 04:32] gdrewb-valve commented on #990
It's unclear what's going on.  We'll have to see if other people have similar issues and if there's some kind of pattern.

[2016-08-17 08:39] vadi2 opened #991 "Name missing in feed messages"
My friends name, `$11`, is missing from some messages on my feed:

![screenshot from 2016-08-17 18-38-06](https://cloud.githubusercontent.com/assets/110988/17729956/ebef01c8-64a9-11e6-8d2a-e2fcdd671fba.png)

[2016-08-17 12:47] djnsu commented on #956
Have the same problem with nvidia 740m. GPU is obviously overheating when it working on Ubuntu 16.04, unlike when it starts on W10.

[2016-08-17 15:58] gdrewb-valve commented on #991
As this isn't platform-specific I'll pass this on to the larger team.

[2016-08-17 15:58] #991 closed, assigned to nobody

[2016-08-17 17:01] u00101010 opened #992 "Incorrect kerning"
The "Finding Match" text has inappropriate kerning (A T).
![match](https://cloud.githubusercontent.com/assets/7419656/17745639/ec2d9fca-64ac-11e6-8422-84dfb5af775a.png)

[2016-08-17 17:18] gdrewb-valve commented on #992
As this isn't platform-specific I'll pass this on to the larger team (in fact this would be in pango, the open-source text layout library, so it's not even a Valve issue).

[2016-08-17 17:18] #992 closed, assigned to nobody

[2016-08-17 17:59] gdrewb-valve commented on #981
The larger team has some thoughts on this but no fix as yet, they're going to keep looking.

[2016-08-17 17:59] #981 closed, assigned to gdrewb-valve

[2016-08-17 18:00] gdrewb-valve commented on #980
Closing now, hopefully something in steam-for-linux will cover the issue.

[2016-08-17 18:00] #980 closed, assigned to gdrewb-valve

[2016-08-17 21:47] gdrewb-valve commented on #974
The larger team doesn't have any leads and I don't see this behavior on my Linux box (I used mouse3 as I didn't have a mouse with a working mouse4 to try right away).  If you reset your binds to the default and then redo the quickcast does it work?  Does it work if you use mouse3 instead of mouse4?  Is the bind recognized as mouse4?

[2016-08-17 22:59] leodutra commented on #603
Still happens on Ubuntu 16.04 GTX 560.

[2016-08-17 23:01] leodutra commented on #793
Happening on Ubuntu 16.04 GTX 560.

[2016-08-17 23:03] kaiserprogrammer commented on #974
It recognized the mouse buttons correctly and the problem persisted further with the middle mouse button mouse3.
However disabling and enabling quickcast in the sub-entry for item bindings fixed this problem.

[2016-08-17 23:03] #974 closed, assigned to gdrewb-valve

[2016-08-17 23:09] gdrewb-valve commented on #974
OK, I'll tell the larger team about that possible bug.

[2016-08-18 00:25] AlbertClo commented on #74
I have the same problem on Linux Mint Cinnamon.

[2016-08-18 00:57] deri82 opened #993 "Player loading screen very power consuming"
The loading screen where you see people's names. With rx480 and dota doing "nothing" the total pc consume is around 200wattage. The same amount is in gameplay and simply having a loading screen shouldnt consume thatkind of power. Even when you idle at main menu doesnt consume that much even it has some dynamic animation.

[2016-08-18 03:35] hargiand commented on #990
This happenned to me too, but in my case i got kicked to main menu, then have to rc back to the game, happenned almost at the start of everygame.

MacBook Pro 13-Inch,mid 2012
Proc : 2.5Ghz Intel Core i5
Memory : 4GB 1600Mhz DDR3
Graphics : Intel HD Graphics 4000 1536 MB

[2016-08-18 03:40] gdrewb-valve commented on #993
This forum is for Mac and Linux-specific bugs, you'll want to post at dev.dota2.com

[2016-08-18 03:40] #993 closed, assigned to nobody

[2016-08-18 03:45] gdrewb-valve commented on #990
@hargiand you sound like you have a different problem.  Timing out waiting for a match is reported on all platforms, also #750 and #964 here are something like that.

[2016-08-18 04:00] qbproger commented on #793
Here too.

Ubuntu 16.04
GeForce 9800 GT/PCIe/SSE2

[2016-08-18 12:43] u00101010 commented on #603
Can confirm that this is still a thing.

[2016-08-19 03:16] vadi2 opened #994 "Stuck on exit dialog"
Sometimes the game gets stuck on the exit dialog.

![screenshot from 2016-08-19 13-12-37](https://cloud.githubusercontent.com/assets/110988/17797770/f326f110-660e-11e6-892f-9ebe88e2f56e.png)

[code]

[code]

[2016-08-19 03:27] ramma commented on #994
This might be the same as #603, which a few people have said is still happening.

[2016-08-19 03:31] vadi2 commented on #994
Probably is, I've had it a while. Though today I only played one game and
watched a few. Let me know if I can provide any more information on the
issue.

On Fri, 19 Aug 2016 1:28 pm Justin, notifications@github.com wrote:

[2016-08-19 04:48] gdrewb-valve commented on #994
This is being tracked in #793, assigned to the SDL dev.

[2016-08-19 04:48] #994 closed, assigned to nobody

[2016-08-19 20:13] DarkDefender opened #995 "[Linux/radeonsi] After aug 17 update, brightness is very low."
After I received an update for Dota 2 on Aug 17, the brightness in dota2
is really low so it's hard to see most things in the menu and ingame.

At first I thought that this might be a driver issue. But all other
games and 3D (opengl) applications do not have lower brightness than
before. So it seems to me like this is a problem with Dota 2.

System specs:

[code]

Picture of the problem:

![2016-0

[2016-08-19 21:32] Tele42 commented on #995
Possibly a duplicate of ~~https://bugs.freedesktop.org/show_bug.cgi?id=91342~~ https://bugs.freedesktop.org/show_bug.cgi?id=97285. Please do not report issues that use a bleeding-edge git version without also testing a point release. (mesa 12.0.x is also affected by this upstream report).
EDIT: replaced link with better-matching issue report

[2016-08-19 21:36] gdrewb-valve commented on #995
This looks to be the same thing as #986, it doesn't look to be a Dota problem.

[2016-08-19 21:45] DarkDefender commented on #995
@Tele42 Ah, my bad. I tested around 15 other games before reporting this issue and those games didn't have this problem so I thought that this couldn't be a mesa bug. Sorry, closing this then.

Thanks for the fast response!

[2016-08-19 21:45] #995 closed, assigned to gdrewb-valve

[2016-08-20 15:46] xrisk opened #996 "[Linux] Periodic FPS drops with stutter"
I have a Macbook Pro 2015 running Ubuntu on the i3 window manager. I have all settings on low, with 1280x800 resolution. FPS is usually at 60 except that it goes down to 10 or so every 5 seconds, causing stutter. This makes it pretty much impossible to play...

[code]

My video.txt :

[code]

What can I do to fix this? I did not have such FPS drops on OS X.

[2016-08-20 16:49] gdrewb-valve commented on #996
It's unclear what the problem is.  We'll have to see if enough people have it happen that we can see some kind of pattern.

If you turn off the Steam overlay does that change anything?

[2016-08-20 17:44] ruslansin opened #997 "[Linux] Startup problem, Arch Linux"
The game closes after dota 2 logo.
The problem appeared today, it worked yesterday
I get to following error after start:

[snql@snqlnote game]$ vblank_mode=0 primusrun ./dota.sh -vulkan -console -input_button_code_is_scan_code
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling Break

[2016-08-20 18:03] Tele42 commented on #997
Hello @focusn1k, probably not the source of of your trouble, but `-vulcan` is not a valid command line option. You can try `-vulkan` instead.

There is a known scaleform crash being tracked at #922 which is possibly related, but I have a feeling this is more of an issue with primusrun. Another option to try is `optirun -b primus` instead of `primusrun`.

[2016-08-20 18:11] ruslansin commented on #997
Hello @Tele42, thank you for your attention, I removed the option and brought it back with an mistake before. Unfortunately the problem is not solved when the following actions:
- Change the command primusrun to optirun -b primus
- Remove the -vulkan option

Yesterday I was playing dota. Perhaps the problem appeared after today's update

[2016-08-20 20:05] gdrewb-valve commented on #997
The update was not likely to be the problem directly as it only had small gameplay-oriented changes.  Try validating your Dota install from the Steam client.

It does seem likely to be related to OpenGL somehow, but we'll see if other people hit it.

[2016-08-21 00:02] fengshaun opened #998 "[Linux] Dota 2 micro-stuttering/low fps in menu and game with severe input lag"
Starting a few days ago, dota 2 started stuttering consistently in menu (feels like very low fps both in game and in the menu screen). At the same time, clicking any item takes 5+ seconds to respond.

gentoo
kernel 4.3
Nvidia gtx 960 with nvidia-drivers (proprietary) 364.12 and 367.35 (both have the same issue)
bspwm window manager

Dota 2 used to work just fine on nvidia-drivers 364.12 and kernel

[2016-08-21 01:27] xrisk commented on #996
It's already turned off. Are there any more logs I can provide? Also, the problem persists even if I switch to using Unity instead of i3.

[2016-08-21 06:06] gdrewb-valve commented on #996
It depends on how deep you want to go.  I would check system perf tools and see if you can see a surge in network or disk traffic that correspond to the hitches.  Net sniffer and/or strace might be useful if you're familiar with them enough to remove standard traffic and see anything unusual.

Otherwise we'll wait and see if other people have similar issues.

[2016-08-21 06:11] gdrewb-valve commented on #998
Your log output looks fine other than the SteamVR failures.  I don't know if those failures are related to the issue or not.  I would verify your install from the Steam client and disable the Steam overlay and see if those change anything.  Also the ALSA underrun messages may indicate a sound issue (or they may be a red herring) so you could try adding -nosound to your launch options.

There's ano

[2016-08-21 06:17] fengshaun commented on #998
I've already done everything you suggested (including -nosound) without result. Is there something I can do to disable VR to see if that changes anything?

Thanks.

[2016-08-21 06:25] gdrewb-valve commented on #998
I'm not sure, I'll ask around.

[2016-08-21 06:29] gdrewb-valve commented on #998
You might also want to take a look at #921 in case you have some variant of the dbus issue.

[2016-08-21 07:08] fengshaun commented on #998
The workaround posted in #921 fixed my issue too. I guess I'll just have to wait for steam to fix the SDL IME's dbus issue. Thanks a lot. Feel free to close this issue as it's already being talked about in #921. Let me know if you need any log outputs from me.

[2016-08-21 07:14] fengshaun commented on #921
I can confirm that setting `DBUS_SESSION_BUS_ADDRESS` to any random string fixes the micro-stutter.

[2016-08-21 13:29] konstantinblaesi opened #999 "Dota on wayland with SDL_VIDEO_DRIVER=wayland"
Is it possible to run dota natively on wayland by exporting SDL_VIDEODRIVER=wayland ? I get these errors and the game doesn't start:

Unable to create dummy window for GLMDisplayDB.gl/togl/glmdisplaydb.cpp 792 InitializeDisplayDB():
Unable to create dummy window for GLMDisplayDB.

[2016-08-21 16:57] gdrewb-valve commented on #999
It doesn't look like that works, but assigning to the SDL dev.

[2016-08-21 16:58] gdrewb-valve commented on #998
Thanks, closing, I think #921 has everything needed.

[2016-08-21 16:58] #998 closed, assigned to nobody

[2016-08-22 10:09] vadi2 opened #1000 "Can't type in Steam overlay with Vulkan enabled"
With Vulkan enabled, I can't type anywhere in the steam overlay - neither in IMs nor the browser.

[code]

[2016-08-22 15:42] gdrewb-valve commented on #1000
This is a Steam issue, tracked at ValveSoftware/steam-for-linux#4585.

[2016-08-22 15:42] #1000 closed, assigned to nobody

[2016-08-23 19:31] jazztickets opened #1001 "[Linux] No score screen after local bot match."
After underlord update, the score screen does not appear.

Console message:
![2016-08-23-132842_1920x1080_scrot](https://cloud.githubusercontent.com/assets/425930/17906698/a6dcf852-6935-11e6-8298-908a4b6121ed.png)

System specs:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/f1aebe7f205263f85ea3986bcdceee122d137abc/gistfile1.txt

[2016-08-23 19:59] gdrewb-valve commented on #1001
This is happening on all platforms, the larger team is taking a look.

[2016-08-23 19:59] #1001 closed, assigned to nobody

[2016-08-23 20:03] nox-cpp opened #1002 "LINUX -xubuntu Game crashes on startup"
After the Dark Rift update I am unable to launch the game. When attempting to launch it, the screen fades to black, then quickly back to whatever was on it previously. I was able to get the following through launching steam from a terminal:

`Game update: AppID 570 "Dota 2", ProcID 6454, IP 0.0.0.0:0
ERROR: ld.so: object '/home/marnix/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cann

[2016-08-23 20:12] gdrewb-valve commented on #1002
There's an AMD GPU problem occurring on all platforms and that's likely what you're hitting.  We believe we have a workaround that'll come out in the next update.

[2016-08-23 20:13] nox-cpp commented on #1002
Alright thanks for the info, really appreciate the quick feedback.

[2016-08-23 22:33] admshao opened #1003 "[Ubuntu] Can't spectate WCA EU qualifier games."
Since Dark Rift Update 2 i can't spectate games. I was casting Escape vs Empire and can't watch game 3.
It started again when trying to load the draft screen... Game crashed instantly but after the draft (when some months ago, and probably up to now, you could watch the game) it starts to load the game and at the same time goes back to watch tab follow by a couple of messages about not being able

[2016-08-23 22:52] gdrewb-valve commented on #1003
That was a captain's mode game, correct?  That means this is a duplicate of #922.

[2016-08-23 22:55] gdrewb-valve commented on #1002
The update with the fix has been released, are you still seeing this?

[2016-08-23 23:38] DichromaticLB commented on #1002
I think I have the same issue, the game's been the same since pitlord update.
I'm on a Debian flavour 64 bit
AMD FX 6300
8gb ram
 AMD Sapphire HD7850

Installing breakpad exception handler for appid(gameoverlayui)/version(1.0)
ERROR: ld.so: object '/usr/$LIB/libgcc_s.so.1' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
ERROR: ld.so: object '/root/.local/share/Steam/

[2016-08-23 23:39] gdrewb-valve commented on #1002
Do you have the latest update (there was a second smaller update today with the fix)?  If you do you'll need to keep crashing until one of your crashes has a crash ID.

[2016-08-24 00:56] ghost opened #1004 "Severely broken graphics after latest update"
https://imgur.com/a/RCxAM

Debian stable.

[code]

Everything worked fine yesterday. No recent system updates and rebooting didn't help. Obviously other games work just fine (eg. hl2).

[2016-08-24 01:03] george-lukas commented on #1002
Uff! I through it was only with me. I got a similar error. Instead black screen I got a visual glitch even after smaller update and steam minor update.
[http://pastebin.com/tG7bFkyd](url)
[http://imgur.com/a/yxMgn](url)

my system:
[http://pastebin.com/HVd8rgYW](url)

[2016-08-24 01:08] gdrewb-valve commented on #1002
@george-lukas please open a separate issue since you have a different problem.

[2016-08-24 01:13] ghost commented on #1002
@george-lukas looks like #1004 that I just opened

[2016-08-24 01:18] ghost commented on #1004
Same problem....  http://imgur.com/a/hMaIk  (screenshot in the game)

OS: Debian 8.5 jessie
Kernel: Linux 3.16.0-4-amd64

00:02.0 VGA compatible controller: Intel Corporation Xeon E3-1200 v2/3rd Gen Core processor Graphics Controller (rev 09) (prog-if 00 [VGA controller])
 Subsystem: Gigabyte Technology Co., Ltd Device d000
Flags: bus master, fast devsel, latency 0, IRQ 41
Memory at fb800000 (64-b

[2016-08-24 01:28] george-lukas commented on #1002
@gdrewb-valve seems that have a thread about this glitch.
@impala2 thx for advice. :)

[2016-08-24 01:28] george-lukas commented on #1004
Uff! I through it was only with me. I got a similar error. Instead black screen I got a visual glitch even after smaller update and steam minor update.
http://pastebin.com/tG7bFkyd
http://imgur.com/a/yxMgn

my system:
http://pastebin.com/HVd8rgYW

[2016-08-24 01:40] ghost commented on #1004
FYI, there's nothing interesting in the log:

[code]

[2016-08-24 02:08] danginsburg commented on #1004
You all seem to be on mesa 10.3.2 which is below the minimum recommended of mesa 10.6.  That being said, if it was working prior to this update I bet it's a bug with GL_ARB_compressed_texture_pixel_storage which we recently added support for.  Can you try running with -gl_disable_compressed_texture_pixel_storage in your Launch Options?  If that fixes it, I'll add a driver detect for mesa 10.3.x to

[2016-08-24 02:19] george-lukas commented on #1004
Awesome, talking with friends that use microsoft. they noticed some performance issue. it seems that dota2 is heavier after this last update.

[2016-08-24 02:20] ghost commented on #1004
@danginsburg That works, thanks

@george-lukas  Not sure about performance, but that would require a new ticket anyway.

[2016-08-24 02:34] ghost commented on #1004
@danginsburg Thanks!

[2016-08-24 04:41] cracolo commented on #1004
@danginsburg awesome !!!

te pasaste wn, gracias !!!

[2016-08-24 08:54] vadi2 opened #1005 "Crash using 'rewind 10s back' button while spectating live"
The game froze entirely for me on Vulkan when I pressed the 'rewind 10s back' during a live match view. Thinking it was a Vulkan problem, I disabled it and went to watch the live game again. At some point when I spammed the button again, the game crashed and quit.

[code]

[2016-08-24 09:13] nox-cpp commented on #1002
I just updated  @gdrewb-valve I just installed the update and the game appears to run fine. The update seems to have fixed the problem. Thanks a lot!

[2016-08-24 09:13] #1002 closed, assigned to gdrewb-valve

[2016-08-24 14:32] danginsburg commented on #1004
This mesa bug was introduced starting in mesa 10.3.0 and fixed in mesa 10.3.5 in the following commit:

https://lists.freedesktop.org/archives/mesa-commit/2014-December/053540.html

I put in a workaround to disable use of GL_ARB_compressed_texture_pixel_storage automatically on mesa 10.3.x.  It will be in the next Dota 2 update.

[2016-08-24 16:34] gdrewb-valve commented on #1005
This isn't a Mac/Linux problem, the larger team has been investigating.  Do you have a match ID for the match you were watching?  Do you have a small set of steps that'll cause it to happen for that match?

[2016-08-24 16:38] r3pek opened #1006 "Vulkan renderer hiccups on latest update"
Didn't found the source of this problem yet, but yesterday after applying the patch the vulkan renderer have massive hiccups to the point of crashing the game. It happens on nvidia's 370.23 driver. I also updated the driver at the same time, so it can be one of the two problems but I can't go further. Right now, i'm using OpenGL again.

Computer Information:
    Manufacturer:  Unknown
    Model:

[2016-08-24 17:03] avcs06 commented on #1004
@danginsburg Thank you very much, that solved the issue

[2016-08-24 17:04] gdrewb-valve commented on #1006
For the future Vulkan issues should be reported in Dota-2-Vulkan.

[2016-08-24 19:22] ReactorofR opened #1007 "[Linux] Latest update breaks alt-tabbing/ changing resolution"
Arch Linux 64bit
i7 3630QM @2.4GHz
GTX 650M
(Driver version : 370.23-2)
Window manager : BSPWM
Compositor : Compton

I believe this started after the latest small update as I distinctly remeber losing mmr with pitlord on my team, however I can't recall if updated to 370.23 before or after that. I'll try reverting to the previous driver in a bit.

The Issue:
Dota launches and seems to work fine as

[2016-08-24 19:27] vadi2 commented on #1005
Will get those details next time.

On Thu, 25 Aug 2016 2:34 am Drew Bliss, notifications@github.com wrote:

[2016-08-24 19:54] gdrewb-valve commented on #1007
The system lockup strongly suggest this is a driver problem since it's not possible for Dota itself to do that.

[2016-08-24 20:54] AbuShawarib commented on #1006
I confirm this is a driver issue. Reverting to 367.44 driver makes everything normal. I also tried vkQuake it had crashes (fail vkWaitForFences) and temporally lockup the system with this 370.23 driver, but works normal with 367.44. I guess it's safe to close this issue and go to Nvidia to report this.

[2016-08-24 20:55] gdrewb-valve commented on #1006
Thanks, closing.

[2016-08-24 20:55] #1006 closed, assigned to danginsburg

[2016-08-24 20:55] gdrewb-valve commented on #1003
Closing since this looks like a duplicate.

[2016-08-24 20:55] #1003 closed, assigned to gdrewb-valve

[2016-08-24 21:28] ReactorofR commented on #1007
Downgraded to 3.678 and everything's back to normal. I'm sorry I thought it was a Dota bug.

[2016-08-24 21:29] gdrewb-valve commented on #1007
Thanks, closing.

[2016-08-24 21:29] #1007 closed, assigned to gdrewb-valve

[2016-08-25 01:32] danginsburg commented on #1004
The new update contains the workaround to automatically disable GL_ARB_compressed_texture_pixel_storage usage on mesa 10.3.x so I'm closing out this issue.

[2016-08-25 01:32] #1004 closed, assigned to danginsburg

[2016-08-25 01:34] ghost commented on #1004
Confirming it works without the launch option workaround. Thanks again.

[2016-08-25 12:15] Tele42 commented on #986
As a followup, [st/mesa: fix sRGB BlitFramebuffer regression](https://cgit.freedesktop.org/mesa/mesa/commit/?id=b662c70aeab6a92751514f30719c13a6de253b40) has landed in mesa git.

[2016-08-25 19:26] bilkoua opened #1008 "[Linux] Dont work CTRL, ALT, SHIFT keys in dota after some update!!!"
Dont work CTRL, ALT, SHIFT keys in dota after some update. Pls help, it unreal play. My OS is Kubuntu 16.04 x64

[code]

[2016-08-25 20:11] gdrewb-valve commented on #1008
Have you validated your Dota install from Steam?

It's working fine for me on my Linux box.  We'll have to see if other people are hitting this and what common factors there are between your systems.

[2016-08-25 20:42] Veske commented on #997
Crashes for me in main menu. Maybe related. Coredump below. Takes like 4 minutes to get to tty3 and close it.

![dota](https://cloud.githubusercontent.com/assets/5602603/17985216/7eb5218a-6b1d-11e6-9151-259f2a055192.png)

[2016-08-25 20:46] gdrewb-valve commented on #997
@Veske your crash is in NVIDIA's Vulkan driver and should be reported to NVIDIA.

[2016-08-25 20:48] Veske commented on #997
Allright, then it's because of the new update. Will let them know.

[2016-08-25 20:48] ruslansin commented on #997
@gdrewb-valve The problem disappeared for me after a full reinstall of the game

[2016-08-25 20:49] gdrewb-valve commented on #997
OK, closing since you're the original poster and your issue is resolved.

[2016-08-25 20:49] #997 closed, assigned to nobody

[2016-08-25 21:33] bilkoua commented on #1008
Yeap, im try validated dota, try full reintstall without any dlc, try reset all hotkeys in dota... But nothing dont help((

[2016-08-27 16:03] glubsy opened #1009 "[Linux] Game doesn't work after latest update on 2016/08/27"
The game worked fine yesterday, about 24 hours before this post.
Starting the game through steam: nothing shows up, the game is running. htop output:

It crashes afterwards.
Here is what I get from running from terminal (for better details):

And

---

_SPECS (followed by steam system  info report):_

Linux Mint 17 Qiana x86_64 (ubuntu 14.04.1 based) KDE desktop manager
Kernel 3.13.0-24-generic
VG

[2016-08-27 16:17] glubsy commented on #1005
This happened on Windows sometimes too (for me that was probably before Reborn even, replays got more stable now).
Next time try launching the game from a terminal emulator and submit the errors it spits out on crash (although I suppose Valve engineers get the crash dumps anyway?)

[2016-08-27 17:30] gdrewb-valve commented on #1009
The terminal output indicates that Dota is trying to talk to the Steam client and is timing out.  Is the Steam client working normally?  Do other Steam games start properly?

[2016-08-27 18:46] fredrikekre opened #1010 "[Linux] Dota 2 won't launch, error in launch config"
Dota 2 won't start since ~2 weeks, same problem for after all the updates during this period. This shows up when I launch the game:

![dota2error](https://cloud.githubusercontent.com/assets/11698744/18029380/ff109eb6-6c96-11e6-97b6-9667cf8c07bd.png)

Tried removing and reinstalling the game completely.

[code]

[2016-08-27 20:28] glubsy commented on #1009
Thanks, I restarted the Steam client and tried again. It now works fine.
I don't recall doing anything in particular back then. Other games worked fine, but maybe they didn't depend on Steam at all (King Arthur's gold was the one I was testing at the time)
Sorry for adding noise. Keep up the good work! :+1:

[2016-08-27 20:28] #1009 closed, assigned to gdrewb-valve

[2016-08-27 20:44] gdrewb-valve commented on #1010
Your installation is corrupted somehow, it's impossible to say why.

Do you have the file Your_Dota_install_directory/game/dota/cfg/launch.vcfg?  Can you put a gist of that here?

[2016-08-27 22:15] fredrikekre commented on #1010
Well... all that is in that file is:

`[ˆ©ÛÄ¹&GïÉÑ÷`

EDIT: The first character looks like this in Sublime:
![selection_012](https://cloud.githubusercontent.com/assets/11698744/18030391/9e1cec36-6cb4-11e6-87f6-90958a8911d1.png)

[2016-08-27 22:33] gdrewb-valve commented on #1010
It should be plain human-readable text, so that garbage is definitely the source of the problem.  If you delete just that file and run Dota does it get recreated?  If you turn off Steam cloud syncing for Dota, delete the file and run Dota does it get recreated?

[2016-08-28 08:56] fredrikekre commented on #1010
Deleting the `.../launch.vcfg` and restarting Dota worked. The created file looks like this now:

[code]

[2016-08-28 08:56] #1010 closed, assigned to gdrewb-valve

[2016-08-28 22:06] monban opened #1011 "Chatwheel doesn't work with sdl_displayindex"
When using -sdl_displayindex 2 to force Dota 2 to the correct monitor, the chatwheel doesn't work properly. I believe this to be a problem with the coordinate system, because it acts like the mouse is far to the left. If I move the mouse quickly up or down I can deflect it away from the far left ("Stun now!") option, but it quickly moves back.  Basically "Stun now!" is the only option I'm able to

[2016-08-29 01:45] gdrewb-valve commented on #1011
Do you have three monitors?  Monitors are indexed starting from 0 so -sdl_displayindex 2 means use the third monitor.  If you don't have a third monitor the illegal monitor index will confuse Dota since it won't be able to retrieve correct monitor location information.

[2016-08-29 21:11] monban commented on #1011
I have two monitors. For some reason I need `-sdl_displayindex 2` to get it onto the correct monitor. Indexes 0 and 1 both cause the game to start on the incorrect monitor. I tried index 3, just to see if it would trigger an index out of bounds or similar, but the game started, and on the correct monitor. It then hung on shutdown, but that might have been due to me starting and closing it a bunch

[2016-08-29 21:14] gdrewb-valve commented on #1011
Try changing your display index to a legal value and adding -phased_window_create to your launch options.  Does that start on the correct monitor?

The regular console spew from Dota might shed a little light, but in general there aren't any Dota logs for monitor config.

[2016-08-29 21:57] monban commented on #1011
This fixed it. Thank you for your time and assistance, I really appreciate it. :+1:

[2016-08-29 21:58] admshao commented on #1011
Just to let you know. I've always experienced this issue and both suggested
args did the trick for me. Thx!

On Aug 29, 2016 6:14 PM, "Drew Bliss" notifications@github.com wrote:

[2016-08-29 22:01] gdrewb-valve commented on #1011
That's great.  The chat wheel functions correctly also?

[2016-08-30 00:34] admshao commented on #1011
Yes!

2016-08-29 19:01 GMT-03:00 Drew Bliss notifications@github.com:

[2016-08-30 00:43] gdrewb-valve commented on #1011
Thanks, I'll go ahead and close this.

[2016-08-30 00:43] #1011 closed, assigned to gdrewb-valve

[2016-08-30 17:02] bilkoua commented on #1008
How i can help fix this problem?

[2016-08-30 18:12] gdrewb-valve commented on #1008
We don't have any theories at the moment.  It doesn't happen for us and nobody else has reported a similar issue so we don't have anything to go on right now.

[2016-08-30 19:41] konstantinblaesi commented on #999
@rcgordon Is it possible? Are there plans to make it possible in the near future?

[2016-09-01 15:24] Tele42 commented on #999
From what I can gather over at the togl repo, togl assumes it can enumerate displays with glx stuff, but glx is not implicitly available with wayland, since it's using egl instead of glx for those kind of things. I could be wildly wrong here as the referenced function does not exist on github, but that's the general feel of what is there.

[2016-09-01 16:28] #936 closed, assigned to nobody

[2016-09-01 17:10] gdrewb-valve commented on #936
Can you give us some info on why you closed this?  Is it no longer happening?

[2016-09-01 18:02] gdrewb-valve commented on #999
The particular call failing here is SDL_CreateWindow so the failure is inside of SDL.  I believe the issue is that the SDL shipped with Dota doesn't have Wayland support but I'm not sure if that's an oversight or a limitation of the Steam runtime, thus this is assigned to the SDL dev to work out.

[2016-09-01 21:01] Tele42 commented on #999
@gdrewb-valve, thanks for the insight. With that information, I got the game running in weston (with SDL_VIDEODRIVER=wayland).

I had to remove the game-bundled libSDL2 and built libSDL2-2.0.4 with wayland and gles among the other common build options. As always, I'm using Gentoo linux w/o the steam runtime.

This confirms your hypothesis that the steam runtime and/or `.../common/dota 2 beta/game/

[2016-09-02 01:03] Plagman commented on #999
Togl isn't used in Reborn, btw.

[2016-09-02 01:12] Tele42 commented on #999
@Plagman, right, I had momentarily forgotten, then was mislead by this part of the terminal output:

[code]

[2016-09-02 21:09] konstantinblaesi commented on #999
@Tele42 is STEAM_RUNTIME=0 required? If yes, can you explain how to do this on gentoo? I use gentoo as well, but with STEAM_RUNTIME=0 steam crashes because of missing libraries. If you have a list of libraries that need abi_x86_32 USE that would be nice.

[2016-09-02 21:45] Tele42 commented on #999
@elxa, STEAM_RUNTIME=0 is most likely is not required, but loading a version of libSDL2-2.0.so.0 that has wayland support built into it is required.

If you want to use steam without the steam runtime on Gentoo, set `USE="-steamruntime"` in the various packages from the overlay. If that is not available, switch to the steam-overlay package overlay. This will pull in the needed dependencies. NOTE:

[2016-09-02 21:50] vaibhavch opened #1012 "Mac Osx Source 2 warning - Only one instance of the game can be running"
I am using Osx EI Captain 10.11.6  I am playing dota reborn without any issue since a year. during the recent update, whenever i start the game I got a popup saying "Only one instance of the game can be running at one time"

 I already did restarting mac,reinstalling steam as well as dota again. I am stuck with this issue. I am unable to play dota since a week.

 Please help me with this issue.

<

[2016-09-02 22:10] konstantinblaesi commented on #999
@Tele42 how do you load that library? I was already using the steam-overlay and just rebuilt with USE=-steamruntime, but that didn't make a difference. In ~/steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64 I created this symlink:

[code]

Do you LD_PRELOAD it ?

[code]

I am still getting the same error from the first post. Do you think me using gnome 3 instead of pure wayland might comp

[2016-09-02 22:43] Tele42 commented on #999
@elxa, on my wayland test system, the system libSDL2-2.0.so.0 is the only one available on that system, so the dynamic loader only had one choice to pick from.

What do you mean by "using gnome 3 instead of pure wayland?" There is no such thing as "pure wayland" as it is a protocol spec, there is no centralized required wayland server software. If the Gnome 3 session is running as a wayland compos

[2016-09-02 23:20] konstantinblaesi commented on #999
@Tele42 I am running a wayland gnome (3.20) session and was wondering if Xwayland could confuse dota. I added LD_DEBUG=libs to dotas startup options and despite steam saying

[code]

dota seems to load the libSDL from the runtime directory?

[code]

I created this symlink though, so it shouldn't matter?

[code]

[2016-09-03 05:54] BetoMees commented on #1012
Open your **Activity Monitor** and kill any process name **Dota 2** and try again.

[2016-09-03 10:36] vaibhavch commented on #1012
@BetoMees I already killed it. same error.

[2016-09-03 10:43] vaibhavch commented on #1012
@BetoMees But i can see that the process named "Steam Helper"  is not responding.
<img width="553" alt="screen shot 2016-09-03 at 4 12 29 pm" src="https://cloud.githubusercontent.com/assets/1785310/18224400/45a4d798-71f1-11e6-92cb-b9ae52f72daa.png">

[2016-09-03 11:58] konstantinblaesi commented on #999
@Tele42 I just made tests from weston/wayland instead of gnome/wayland and it worked! All I needed (as you discovered already) was to swap the libSDL2 build bundled with the game (libSDL2-2.0.so.0 in .../steamapps/common/dota 2 beta/game/bin/linuxsteamrt64 ) against my system libSDL2, which was built as mentioned in https://github.com/ValveSoftware/Dota-2/issues/999#issuecomment-244499081 .
When r

[2016-09-03 21:28] u00101010 opened #1013 "[Linux] Dashboard performance and New Post-Game screen"
Since the Dark Rift update, the performance of the Dashboard gets worse the more matches are played.

After one match, it works fairly nicely, I can exit the match quickly and the Dashboard comes up pretty soon as well.

However, if 2 or more games are played within the same session (without restarting the game), the post-game screen starts to load very-very slowly, and even if it does, sometimes

[2016-09-05 18:30] bilkoua commented on #1008
Im add dota in ignored list in xneur and hotkeys work again...

[2016-09-05 18:30] #1008 closed, assigned to nobody

[2016-09-06 03:03] JJAYL commented on #793
Reporting the same issue here. It seems to happen after a single game or replay.

[2016-09-06 03:06] JJAYL opened #1014 "[Linux+Vulkan] Dota crashes on loading screen"
It will stay on the loading screen for about a minute before crashing. This does not seem to happen if I click on the loading screen a few times.

[code]

[2016-09-06 05:07] leodutra commented on #793
@JJAYL  Same here.

[2016-09-06 12:00] AngryPenguinPL opened #1015 "[Linux] game laggly when playing more than one match"
Hi.

Before Dark Rift update my dota 2 working fine but after it I have issue.

When I playing one match - all is fine, but when I finish playing one match, all my game laggy. So even main menu response with delay.
When I start agan match, I can't even normal play. Because after some time I get huge lags and my game for 1-5 seconds freeze (FPS counter show for me 1 FPS). This happens especially wh

[2016-09-06 12:32] ramma commented on #1015
There's been some reddit threads with similar issues after more than one game, so I doubt this is platform specific.[ Their solution](https://np.reddit.com/r/DotA2/comments/50amjy/give_us_a_performance_patch_pls/d72kzkb) was to be sure the learn tab was selected before each game.

[2016-09-07 05:06] drboucher opened #1016 "Mouse lags and the rest of the game does as well"
By lagging I mean that the mouse feels like it has acceleration on even though I turned it off and the game is stuck at around 15 fps. I just put ubuntu 16.04 on this computer. It could handle dota on windows 10 fine. Let me know if there is any more information that you need. I can post a video if that would be helpful.
## System Information
- **Linux distro:** Ubuntu 16.04
- **Desktop Manager:**

[2016-09-08 15:06] danginsburg commented on #1012
Can you check if there is a file named /tmp/source_engine_*.lock?  If so, delete it and see if the problem goes away.  Another possible workaround is adding -allowmultiple to your Launch Options.  My guess is somehow there is a stray lock file in /tmp.

[2016-09-08 15:09] danginsburg commented on #1014
Did you crop the "Recent Failure Reports:" or were there none there?  We would need a minidump to be able to look into this.

[2016-09-08 15:11] danginsburg commented on #1015
Does switching to the Learn Tab make a difference?  If so, let us know so we can confirm that this is the same issue @ramma mentioned.

[2016-09-08 15:12] danginsburg commented on #1016
Please post Steam -> Help -> System Information so we can see what driver you are using.  It's possible you are on an old version of mesa.

[2016-09-08 15:56] drboucher commented on #1016
I downloaded graphics update tool from this site: [https://01.org/linuxgraphics/downloads/intel-graphics-update-tool-linux-os-v2.0.2](url)

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  2200 Mhz

[2016-09-08 17:29] danginsburg commented on #1016
Looks like you are on mesa 11.2.2 which is probably OK.  Performance on mesa on HD 3000 for dota is known to be quite below DX9 perf on Windows.  I'm not sure if there is a specific issue here other than poor performance.

[2016-09-09 01:41] JJAYL commented on #1014
@danginsburg there were none. I can check back later today and see.

[2016-09-09 07:04] JJAYL commented on #1014
@danginsburg I just checked again today and there was some here is the new information

[code]

[2016-09-09 13:56] kvblinov opened #1017 "[Linux] Alt-tab gets me stuck in the game"
I have Ubuntu 16.04.1 LTS with stantard Unity desktop. Usually alt-tab works normally, and even in dota itself it works sometimes, but in other cases when I'm trying to alt-tab to desktop or browser I can't. Game keeps on going but I can't click anything there. Even if I kill dota process with ctrl+alt+f1 and top comand and then come back to the main desktop (ctrl+alt+f7) - still there is a dota f

[2016-09-09 15:26] danginsburg commented on #1014
Can you please attach one of those .dmp files to this bug?  It doesn't appear it was uploaded to our server so I don't have access to it here.  Thanks.

[2016-09-09 16:27] gdrewb-valve commented on #1017
There's a Dota image visible even after you've killed the Dota process and verified that it's gone?  That seems more like a system problem than a Dota problem.

[2016-09-09 18:23] JJAYL commented on #1014
generated a new crash.
Report

[code]

had to upload it as a .zip because github was complaining. Let me know if you need anything else.
[dumps.zip](https://github.com/ValveSoftware/Dota-2/files/464577/dumps.zip)

[2016-09-11 15:20] ashishawaghad opened #1018 "Second monitor goes blank when starting Dota 2 on the main monitor"
Anyone else face this issue where my second monitor goes blank when starting Dota 2?

[2016-09-11 16:28] AngryPenguinPL commented on #1015
Yes this is this bug. Solution @ramma fixing my issue. Thanks.

Please let us know, when you fixing it :)

[2016-09-12 03:22] gdrewb-valve commented on #1018
What's your system info?

[2016-09-12 07:26] DyXel opened #1019 "[Linux] Vulkan back-end doesn't work at all"
[code]

Window Manager: KWin Plasma 5 (Wayland)

I know that this should probably be posted too on the mesa forums but i thought to share this here because this is one of few games that actually supports Vulkan (and also because Valve develops the Vulkan SDK).

The mesa 12.0.2 has arrive to the testing repositories under Debian and with that updates it also comes Vulkan, which doesn't work at all,

[2016-09-12 13:06] Tele42 commented on #1019
Hello @DyXel,
Vulkan support on Ivybridge is experimental in mesa 12.0. This needs to be reported to the mesa devs, not Valve devs, however, this is definitely something that's not going to work until mesa's support for Vulkan on Ivybridge has more polish.

This has been previously mentioned at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/153#issuecomment-235257834.

[2016-09-12 16:00] DyXel commented on #1019
Hello @Tele42,

Thank you for answering, i will just take my time and wait for future releases. They are doing a great job anyways!

[2016-09-12 16:22] gdrewb-valve commented on #1019
Closing as this is known.

[2016-09-12 16:22] #1019 closed, assigned to nobody

[2016-09-12 16:56] danginsburg commented on #1014
Thanks.  The crash is happening in scaleform.  You didn't mention it in your report, but I see you are running with Vulkan.  I presume this does not happen if you disable -vulkan?  One other thing you can try is adding +r_overlap_scaleform 0 to your command line.  If that fixes the problem, please let me know as it might give me a better clue what is happening.

[2016-09-12 19:47] JimmieCrackCorn opened #1020 "Unable to assign Win/Meta key anymore"
Running Kubuntu 14.04 LTS. I had the Win/Meta key assigned to picking up items from stash and after noticing that it wasn't working I looked at my hotkeys realized I was unable to assign that key  to anything anymore when I previously had been able to. Using the launch setting to debug it isn't registering any keyboard presses on that key.

[2016-09-12 20:10] gdrewb-valve commented on #1020
Control, shift and alt all work and show keypress info?  Did anything about your system change or get updated?

[2016-09-12 23:51] JimmieCrackCorn commented on #1020
Yes, all those keys show up. Nothing that would effect my keyboard inputs to my knowledge.

[2016-09-13 00:09] ramma commented on #1020
Do you have the option enabled to make the win/super key bindable? It was added a while back, and disabled by default which unbound my binds for it until enabled.

[2016-09-13 00:17] JimmieCrackCorn commented on #1020
Yeah I have it enabled because I had previously used it. Now all of a sudden it isn't recognized as being pressed at all.

[2016-09-13 00:35] JimmieCrackCorn commented on #1020
I figured it out. I caught my cats had jumping on my keyboard the other day and if you press F12 and the Fn key you will lock the Win/Meta key. Sorry!

[2016-09-13 00:43] gdrewb-valve commented on #1020
:-) Thanks for letting us know.

[2016-09-13 00:43] #1020 closed, assigned to gdrewb-valve

[2016-09-13 04:44] JJAYL commented on #1014
I checked with OpenGL and it does not happen when using openGL. With -vulkan and +r_overlap_scaleform 0 it does not happen as well. Out of curiousity (and if you have time/want to) why does +r_overlap_scaleform 0 do and what do you think the issue is? Thanks for the good work!

[2016-09-13 05:55] vadi2 opened #1021 ""Copy to clipboard" while watching a replay does nothing"
![workspace 1_309](https://cloud.githubusercontent.com/assets/110988/18463034/6c7f9f70-79ca-11e6-9e8b-df6fe9a27b03.png)

[2016-09-13 10:52] ashishawaghad commented on #1018
MacBook Pro 15" late 2013 model

[2016-09-13 16:32] gdrewb-valve commented on #1018
Which version of OSX are you running?  How is your second monitor connected?  What video settings are you running Dota with?  If you're running exclusive fullscreen and try desktop-friendly fullscreen does that change things?

[2016-09-13 17:08] ashishawaghad commented on #1018
`desktop-friendly fullscreen` worked. Thanks.

I didn't find any documentation for this anywhere. Anyway, works now (y)

[2016-09-13 17:08] #1018 closed, assigned to gdrewb-valve

[2016-09-13 21:48] abobier commented on #1015
Same problem.
I'll try the @ramma solution tomorrow.

[2016-09-14 19:27] iMarv opened #1022 "[Linux] Unity Top-Panel moves borderless window"
Ubuntu 16.04
On a screen with the resolution 2560x1080 a borderless window with the resolution 1920x1080 is being moved down by the Top-Panel of unity.
This causes the bottom ledge of the game-screen to be moved out of the screen so camera movement by moving the mouse to the screen ledges does not work.

[2016-09-14 20:55] Tele42 commented on #1022
Hello @iMarv23, you should be able to use desktop-friendly fullscreen to get the behavior you are looking for.

[2016-09-14 22:41] gdrewb-valve commented on #1022
Let us know if Tele42's suggestion works out.

[2016-09-15 06:14] iMarv commented on #1022
That works in some way, but it stretches the game over the entire screen, so I see 1920x1080 on a 2560x1080 screen.

I have posted a question for this on StackExchange before submitting this issue: http://askubuntu.com/q/824892/594678 there you will also find screenshots.

Will provide a screenshot of Desktop-Friendly fullscreen when I am back home in about 10 hours.

[2016-09-15 15:02] danginsburg commented on #1021
Thanks for the report, this has been fixed and the fix should ship in the next Dota 2 update.

[2016-09-15 15:02] #1021 closed, assigned to danginsburg

[2016-09-15 16:36] gdrewb-valve commented on #1022
Fullscreen modes are supposed to cover the screen so that's expected.  Did you change the Dota video settings to 2560x1080?  There should only be the regular aspect ratio stretching in that case.

[2016-09-15 17:01] gdrewb-valve commented on #1022
Do you want Dota to cover the screen or be in a window smaller than the screen?  Can you describe exactly what you want to happen?

[2016-09-15 17:11] iMarv commented on #1022
I want to play dota with a resolution of 1920x1080 as it gives me the desired field of view I need. On 2560x1080 the hud becomes very large and hides a lot of the screen  (I guess because of balancing so that people with smaller screens do not have a disadvantage).
To play the game in 1920x1080 I need to launch it in borderless-window mode. Before using ubuntu, I did exactly this in windows which

[2016-09-15 17:17] gdrewb-valve commented on #1022
There's no way to achieve exactly what you want.  When Dota is running in windowed mode it's just a regular window and obeys all of the normal window behaviors, such as whatever Unity wants to do with it.

You can get close, though.  Using the -w and -h launch parameters you can set the window size to whatever you want, so choose a 16:9 size that's small enough to give space for Unity, like 1760x9

[2016-09-15 17:23] iMarv commented on #1022
Alright.
Well then the problem is solved as far as that there is no fix.
Would love to have an option though to have the game fullscreen, but instead of stretching the 1920x1080 just adding black areas left and right of the screen so that one can experience the game in the desired resolution while not being bugged by unity

[2016-09-15 17:34] gdrewb-valve commented on #1022
There's ongoing work to update the HUD to handle a wider variety of screen sizes and aspect ratios.  That's being carried out by the larger team and won't be tracked here, but should eventually make it out to the world.

[2016-09-15 17:34] #1022 closed, assigned to gdrewb-valve

[2016-09-15 17:59] danginsburg commented on #1012
Closed pending more info.

[2016-09-15 17:59] #1012 closed, assigned to danginsburg

[2016-09-15 23:33] boombatower opened #1023 "Game State Integration (GSI) works intermitently"
I have a GSI  config at `dota 2 beta/game/dota/cfg/gamestate_integration/gamestate_integration_dota2-gsi.cfg`:

[code]

and a serve to listen for integration. I toggle some logitech keyboard state based on cooldowns, deaths, and kills. Everything works perfectly...sometimes.

For the curious:
- https://www.youtube.com/watch?v=zjbV-9NIKm8
- https://www.youtube.com/watch?v=pW9P2XqNgw0
- webcam react

[2016-09-16 00:29] MattBoone commented on #1023
Can you give some details on the http server that gsi is connecting to? Do you not receive any connections in the case where Dota is not connecting properly, or malformed data? It would be worth trying the same connection but with win32 to eliminate the chance that the issue is with Dota specifically under linux.

[2016-09-16 01:53] boombatower commented on #1023
Given the available options, I ended up using https://www.npmjs.com/package/dota2-gsi which does the trick. Since it uses express.oi I set env variable for debugging to show everything: `DEBUG=express:* node index.js`.

With that I can see GET requests I make from browser in such. I'll have to run through cases where it "half-connects", but the default case it appears it never sends anything.

I h

[2016-09-18 11:08] lifesized opened #1024 "Replays not working"
I am in EU. For the last 3 days, replays are not available. "Searching for replay...." Something is wrong.

[2016-09-18 19:18] gdrewb-valve commented on #1024
This is a backend issue and not a Linux/Mac porting problem, the larger team is working on it.

[2016-09-18 19:18] #1024 closed, assigned to nobody

[2016-09-19 06:02] antonpup commented on #1023
Let me just quickly drop my Dota 2 GSI project for C# here. https://github.com/antonpup/Dota2GSI and https://www.nuget.org/packages/Dota2GSI/ It includes some documentation for overall GSI.

I was one of the first to discover GSI with Dota 2, but that is beside the point.

[2016-09-19 18:05] kokutoukiritsugu opened #1025 "10v10 wait dialog only show ten players."
picture:

![qq 20160919221329](https://cloud.githubusercontent.com/assets/5471433/18643159/63a06504-7ed6-11e6-991e-b5c1e3dc8ce3.jpg)

could fix this to show all 20 players ?

[2016-09-19 22:18] gdrewb-valve commented on #1025
This forum is specifically for Linux/Mac porting bugs.  You'll want to post this at dev.dota2.com

[2016-09-19 22:18] #1025 closed, assigned to nobody

[2016-09-20 16:59] esiemann opened #1026 "Dota 2 closing after update on Nvidia"
Dota is closing after update. Already I changed the video driver. I have already installed twice the steam and the errors continues. I'm using the 367.44 driver nvidia in Ubuntu 16.04.

warning: The VAD has been replaced by a hack pending a complete rewrite
Generating new string page texture 87: 16x256, total string texture memory is 524,29 KB
Generating new string page texture 88: 384x256, total

[2016-09-20 17:19] Tele42 commented on #1026
Possibly related: https://bugzilla.redhat.com/show_bug.cgi?id=1264556

[2016-09-20 17:41] rmbleeker commented on #1026
Not sure if it's related, but Dota 2 seems to be crashing a lot since yesterday's update when playing Arcade games, specifically Dota IMBA.

Running Ubuntu 14.04.5 LTS with Nvidia 370.28

[code]

[2016-09-20 21:23] gdrewb-valve commented on #1026
If you can get a failure report with a CrashID (both referenced here were discarded) that'd be useful.

[2016-09-21 00:19] vadi2 commented on #1026
http://www.dota2.com/news/updates/24329 "Fixed a recently introduced crash on exit from some custom games."

[2016-09-21 00:41] admshao opened #1027 "[Linux] Client is always crashing just after the Captains Mode draft phase."
Since monday, and still happening after today's update

dmesg -> [ 6727.344549] dota2[30787]: segfault at 0 ip 00007f21a16ed63a sp 00007ffc54951ba0 error 6 in libscaleformui_4_vulkan.so[7f21a1525000+b0a000]

i didn't have the -con_logfile enabled at the time. (waiting for a new crash)

[2016-09-21 00:45] admshao opened #1028 "[Linux] Client not preventing mouse to leave the game area when Casting a game inside Lobby"
This has been reported by me almost a year ago and i misreported as fixed. I'm still having this issue now that i got a chance to cast another game inside lobby and on my home linux machine.

I have the game running on monitor 1 (on the right) and when trying to pan the camera to the left (towards monitor 0) the mouse just goes to the other screen.

[2016-09-21 01:23] esiemann commented on #1026
Same problem after last update =(

[eduardo_log.txt](https://github.com/ValveSoftware/Dota-2/files/487251/eduardo_log.txt)
[eduardo_stdout.txt](https://github.com/ValveSoftware/Dota-2/files/487252/eduardo_stdout.txt)
[crash_20160921132240_1.dmp.zip](https://github.com/ValveSoftware/Dota-2/files/487253/crash_20160921132240_1.dmp.zip)

[2016-09-21 01:52] admshao commented on #1027
And again. Now with:

console.log -> https://gist.github.com/admshao/a8b5db89f47ae12ae1a3e4c943b37441

dmesg ->
[10995.445963] perf: interrupt took too long (2515 > 2500), lowering kernel.perf_event_max_sample_rate to 79500
[11297.245641] dota2[19061]: segfault at 0 ip 00007f6d60fd663a sp 00007ffc25bb0730 error 6 in libscaleformui_4_vulkan.so[7f6d60e0e000+b0a000]

[2016-09-21 16:30] gdrewb-valve commented on #1027
Duplicate of #922.

[2016-09-21 16:30] #1027 closed, assigned to nobody

[2016-09-21 16:34] gdrewb-valve commented on #1028
I believe this is expected behavior as the window lock does not apply in many non-game situations.  Does the mouse get locked correctly to the window when playing a bot match?

[2016-09-21 17:26] Tele42 commented on #1028
For what it's worth, the old workaround for this kind of issue is to vertically offset one of your two displays, so that the mouse can only transition to the other monitor in a corner.

[2016-09-21 17:53] admshao commented on #1028
This is not expected behavior. Casting a game is a window lock situation
since you have to control the camera actively and the bug isn't present in
Windows version.

I just tried a bot match and the windows lock is applied correctly. Playing
a game, watching on DotaTV in player` perspective and on Free Camera are
the other situations where the lock is applied correctly.

Just Casting a game inside

[2016-09-21 18:06] gdrewb-valve commented on #1028
@admshao, I assume you're running with Dota covering the whole right monitor?  If you use a window that is less than monitor-sized does it lock?

@Tele42, was there a known cause of the behavior you mention? It sounds like an X issue.

[2016-09-21 18:21] admshao commented on #1028
Yes, i use Fullscreen friendly on my right monitor (not the main), which is
the -sdl_displayindex 1. I can try to run on left monitor maybe way later
tonight or only tomorrow

2016-09-21 15:06 GMT-03:00 Drew Bliss notifications@github.com:

[2016-09-21 19:42] Tele42 commented on #1028
@gdrewb-valve, I do not understand your question.

Most desktop environments only allow a mouse to transition from one display to another at their logical overlap in the X config, which can be adjusted to make a very small transition area of the monitors.
![screenshot from 2016-09-21 15-30-12](https://cloud.githubusercontent.com/assets/3130103/18725948/4e49566c-8010-11e6-8ac5-cd06a6f8db40.png)
In

[2016-09-21 22:56] gdrewb-valve commented on #1028
@Tele42, I thought your initial comment might be indicating some kind of unusual X server behavior where X cursor restrictions didn't work properly if you had two monitors lined up exactly.  When you said "vertical offset" I thought you meant any vertical offset, so setting the monitors one pixel off would fix the problem.  You already cleared that up, so my question is answered.

The reason I was

[2016-09-22 00:28] admshao commented on #1028
For what i can understand, it seems to be that dota isnt setting the lock
when im on caster slot inside lobby because all others scenarios is just
fine. Well, since this doesn't happen on windows i can see what you might
mean with system/sdl but i would say it's unlikelly not to be dota linux
client

On Sep 21, 2016 7:56 PM, "Drew Bliss" notifications@github.com wrote:

[2016-09-22 00:41] gdrewb-valve commented on #1028
It's certainly possible that it's a Linux-specific issue in the Dota client.  If the lock works when Dota runs in a regular, non-monitor-sized window that makes it less likely.  If the lock doesn't work even for a regular small window, regardless of monitor, that makes it more likely that Dota just isn't requesting the cursor lock.

Also, does switching away from Dota and back to it change anythin

[2016-09-22 00:43] admshao commented on #1028
No, it dos not change anything. And yes. the lock works just fine for all
other situations.
I'm about to join the lobby to cast another game. Any Specific console args
or anything to me to do?

2016-09-21 21:41 GMT-03:00 Drew Bliss notifications@github.com:

[2016-09-22 00:44] admshao commented on #1028
That might help bisect the issue

2016-09-21 21:43 GMT-03:00 Fabio Madia admshao@gmail.com:

[2016-09-22 02:39] gdrewb-valve commented on #1028
I don't know of relevant options but I'll ask around.  There probably won't be much of a response until next week.

Just so I'm sure I understand, when you say that the lock works fine for all other situations you mean it works when windowed and casting and it only doesn't work when in fullscreen and casting?

[2016-09-22 03:14] admshao commented on #1028
Oh. I never played dota on Windowed mode. All my statments was about
fullscreen friendly.
The other situations that i meant was (playing, spectating dota tv, bot
games and so) and only casting inside lobby i don't hape the expected lock.

2016-09-21 23:39 GMT-03:00 Drew Bliss notifications@github.com:

[2016-09-24 09:10] adityakaulagi opened #1029 "[MAC OSX] Cannot use CAPSLOCK key"
I can bind the capslock key to anything in the controls options menu, however, I cannot do the action the capslock key is bound to in game.

Right now, CAPSLOCK is my voice key, and when I press capslock in game, nothing happens. However, when I bind voice to some other key, like L, my voice works.

I started my game with `-input_message_spew` and `-console` and I saw this output when I pressed my

[2016-09-24 12:18] vhda commented on #967
Just understood what's happening: this configuration value is reset after using Phoronix Test Suite DOTA benchmark.

DOTA is called as following from the benchmark script:

[code]

Which of these options enables desktop friendly minimize? Is there a way of avoiding this change from happening?

[2016-09-24 15:37] gdrewb-valve commented on #967
It's the -fullscreen that's doing it, you'd need to remove that from the script.

[2016-09-25 21:33] abobier commented on #1015
Not fixed for me, I can't play. It's just horrible ...

[2016-09-26 13:13] GTRONICK commented on #654
I have a similar problem on Archlinux x64 with XFCE. If I change the keyboard layout on game, the hotkeys for select courier and deliver items are not detected, even if I change the layout again. I must restart Dota in English layout to make it work properly. I will take a look on the advanced options to select the positional bindings and will report what happens next. Thanks.

[2016-09-26 14:31] ezewan opened #1030 "[MAC OS] In-game cursor briefly stuck when edge panning with external monitor."
I can't edge pan Dota 2 in-game with my external BenQ monitor. The mouse cursor will briefly stuck at the edge trying to move into another screen (lagged my game when this happens). It was okay until Mac OS Sierra. Please help to look into this. Many thanks!

My system information

[2016-09-26 15:25] gdrewb-valve commented on #1030
Did you upgrade to macOS Sierra on the system?  If so things were working properly and then stopped working properly with Sierra and that was all that changed?

[2016-09-26 18:31] gdrewb-valve commented on #1026
Is this still happening?  The crash dump shows a segfault in Dota code but doesn't have enough information to diagnose the problem.  I don't have any issues running Dota on my Linux box but it's not Ubuntu 16.04 and has an older NVIDIA driver.

[2016-09-26 22:36] gdrewb-valve commented on #1028
Have you changed the dota_mouse_spectator_window_lock convar?  What is its value?

[2016-09-27 00:51] gdrewb-valve commented on #1029
This works properly for me on my Mac, we'll have to see if other people hit it to try and figure out what might be going on.

[2016-09-27 02:21] rmbleeker commented on #1026
On Ubuntu 14.04 Dota hasn't crashed on me even once since the update on September 20th that @vadi2 quoted.

[2016-09-27 05:40] admshao commented on #1028
No, i did not change any convar. The current value is 0

2016-09-26 19:36 GMT-03:00 Drew Bliss notifications@github.com:

[2016-09-27 05:46] gdrewb-valve commented on #1028
It shouldn't lock if the convar is 0.  If you set it to 1 then does it lock as you expect?

Was it zero on the Windows machine where it locked?

[2016-09-27 05:48] admshao commented on #1028
I'll try to change the convar next time, I guess the next game is 28 Sep,
18h EDT +-

About the windows machine, I didn't check. Gonna try as well

2016-09-27 2:46 GMT-03:00 Drew Bliss notifications@github.com:

[2016-09-27 08:03] FlaminSarge commented on #1029
The issue I'm seeing is that when CAPSLOCK is pressed, DOTA considers it immediately released, for no discernible reason. I do not think this is an OS-level problem, as programs like Discord have no issues hooking up CAPSLOCK to Push-to-Talk (where the key must be held down to activate voice functions).

I conducted a little test; I did the following in Dota's console:

[code]

The output from pre

[2016-09-27 08:11] FlaminSarge commented on #1029
Also wrote up this set of aliases that may or may not mitigate the problem (makes CAPSLOCK toggle voice when bound to `+voiceM`), given that Dota may or may not accept multiple 'alias' commands in one frame.

[code]

[2016-09-27 11:39] esiemann commented on #1026
After the last update is running smoothly, but Steam and Dota 2 has been updated.

[2016-09-27 15:07] gdrewb-valve commented on #1029
I do see the behavior where the key up for caps lock occurs immediately.  This is being reported by SDL so it's either something in the system or SDL and is all below Dota.  Assigning to the SDL dev for further investigation.

[2016-09-27 15:08] gdrewb-valve commented on #1026
OK, closing.  If new problems occur in the future just open new issues since it seems like this one is resolved.

[2016-09-27 15:08] #1026 closed, assigned to gdrewb-valve

[2016-09-27 18:57] ezewan commented on #1030
Yes, the problem happened after I upgraded to macOS Sierra. For now, that's the only thing that make the game unplayable via external display on this system.

Sent from my iPhone

[2016-09-27 18:58] gdrewb-valve commented on #1030
You'll want to report this to Apple also, then.

[2016-09-29 03:20] adityakaulagi commented on #1029
I found this bug on SDL bug list:

https://bugzilla.libsdl.org/show_bug.cgi?id=2157

I hope the [attached fix](https://bugzilla.libsdl.org/attachment.cgi?id=1837&action=diff) is helpful :)

[2016-09-29 15:45] gdrewb-valve commented on #1029
I would have thought that patch would have already been incorporated, but rcgordon will know.

[2016-10-01 04:59] sardetushar commented on #938
This is a bad bug, many players are facing this problem and banning the players for 24 hrs isn't the solution!
There must be some alternative until you resolve this bug

[2016-10-01 05:02] Adio1882 opened #1031 "[MAC OS] Game Constantly Crashing"
I've been having an issue for the last few months with dota constantly crashing in game, it will crash about once in every 3 games and when it does it's multiple times during the game, I have tried verifying the cache, reinstalling Dota, Clean reinstall of Mac OS and still nothing

My system information is

NVIDIA GeForce GT 650M:

  Chipset Model:    NVIDIA GeForce GT 650M
  Type: GPU
  Bus:  PCI

[2016-10-01 08:06] gdrewb-valve commented on #1031
If you look in the Steam system information are there any failure reports with crash IDs?

[2016-10-01 12:40] maugre commented on #105
I'm on an Arch derivative and installing libudev0 fixed it for me. It's a separate package to libudev1 so that makes sense if Dota depends on the former.

[2016-10-01 12:56] Adio1882 commented on #1031
Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3470S CPU @ 2.90GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2900 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4

[2016-10-01 15:37] gdrewb-valve commented on #1031
That's unfortunate as it means we have no information on why it's crashing on your system.  It also usually means the crash is in a system component, usually the video driver, but we can't say for sure.

[2016-10-01 16:23] Tele42 commented on #1031
Hello @Adio1882,

This is completely speculative, but you could try nVidia's web driver for Mac and see if you get different results. Apple does not make it easy for this driver to exist by policy and you can use http://www.macvidcards.com/drivers.html to help find a compatible version.

[2016-10-01 20:06] Adio1882 commented on #1031
So I should probably of explained how it crashes, I believe it to be a gpu crash as it has a massively graphical freak out and then crashes, I've installed the Nvidia drivers and the crashes turned from the graphic issues to just freezing and crashing, the only game that I have played that has issues is Dota

[2016-10-01 21:12] gdrewb-valve commented on #1031
Unfortunately that's much more likely to be NVIDIA's issue than Dota but we'll see if more info can be gathered.

[2016-10-01 23:46] Adio1882 commented on #1031
Damn, hopefully some sort of fix does come out and I can actually play Dota again.

[2016-10-02 02:47] ghost opened #1032 "previous matches list showing buggy data in 1v1 matches, and some other issues rehashed"
it will mix hero models from different matches or show wrong match data for the match including KDA, names (sometimes not showing names at all or just mix from different match), or just not showing any data at all everything will be blank. it stays the same issue when restarting Dota so it is a real issue/bug. it may be server related and not Linux client fault at all but I decided to raise an iss

[2016-10-02 03:18] ghost commented on #1032
3.19.0-51-generic #58~14.04.1-Ubuntu SMP Fri Feb 26 22:02:58 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

OpenGL vendor string: Advanced Micro Devices, Inc.
OpenGL renderer string: AMD Radeon HD 7520G
OpenGL core profile version string: 4.3.13399 Core Profile Context 15.201.1151
OpenGL core profile shading language version string: 4.40
OpenGL core profile context flags: (none)
OpenGL core profile prof

[2016-10-02 04:29] gdrewb-valve commented on #1032
I'm checking with the larger team about the match data.  As for the main menu activity, leaks and perf optimizations those affect all platforms and are being looked at by the larger team, there won't be specific status here.

[2016-10-03 22:08] gdrewb-valve commented on #1032
The larger team has some ideas on what might be going wrong but no word on when/if a fix will happen.  Closing this out as it's all general and not Linux/OSX specific.

[2016-10-03 22:08] #1032 closed, assigned to nobody

[2016-10-04 05:54] Vylaern commented on #921
What do you think, to send this suggestion to Steam developers, so they could provide a sollution inside Steam engine (instead of putting command lines manually by our-self). There could be more people who cannot find a help, and this solution works for few other well known games.

[2016-10-04 14:54] gdrewb-valve commented on #921
The root cause is in SDL so getting a fix in SDL would be the best solution.  The SDL developer is assigned the bug so hopefully they'll fix it.

[2016-10-04 17:41] Tele42 commented on #1029
This is now [fixed upstream](https://hg.libsdl.org/SDL/rev/d19f7d2b6ec8) and will take effect when libSDL-2.0.5 makes it's way into production.

[2016-10-04 19:01] gdrewb-valve commented on #1005
As this isn't a Mac/Linux issue I'm closing this.  The larger team is aware there are problems and is looking but there's no status from them to report.

[2016-10-04 19:01] #1005 closed, assigned to gdrewb-valve

[2016-10-05 08:46] DarthBOR commented on #965
This happened to me when I've launched client with Russian layout enabled. When I've restarted it with En it worked just fine.

Hey @AutoAwesome! Which layouts do you have?

[2016-10-05 21:17] Turmfalke2 opened #1033 "[Linux] Today's update killed the sound"
hi,
I just got the battle pass update, but apparently that update broke the sound?
Going to tinker a bit with it before I go sleeping.

E 1:
I am using pure alsa, other steam games are not affected by this.
E 2:
In game console logs:
Failed to initialize SDL Audio device!

[2016-10-05 21:41] gdrewb-valve commented on #1033
It works properly on my Linux system but we took an SDL update so this may be a regression in SDL, assigning to the SDL dev.

[2016-10-05 21:48] Turmfalke2 commented on #1033
Is there any way to increase the log level?

E: any chance that sdl update might have fixed the dbus issue? (tested: it is not)

[2016-10-05 22:27] Maxxie opened #1034 "[Linux] Autumn terrain is invisible"
Seems like autumn terrain is invisible on my debian x64 with mesa 12.0.3 (Other terrains work just fine).
![20161006001651_1](https://cloud.githubusercontent.com/assets/41978/19133920/2ea0a94a-8b5b-11e6-89b2-b2144a08e38c.jpg)

[2016-10-05 22:29] cloudhead commented on #1033
Same issue here. It doesn't see any of my devices since the update.

[2016-10-05 22:33] gdrewb-valve commented on #1034
What GPU are you using?

If you turn off parallax mapping in the video settings does that change anything?

[2016-10-05 22:49] rmbleeker commented on #1033
For completion, I'm not having any issues.

Running Ubuntu 14.04 LTS on a 4.4 kernel with PulseAudio

[2016-10-05 22:51] cloudhead commented on #1033
From what I gathered, the issue is ALSA related.

[2016-10-05 23:15] AngryPenguinPL commented on #1034
Same here.

Im using AMD Radeon HD5650M with Mesa 12.1.

Tomorrow I test it on my PC with HD5850 and Catalyst fglrx driver.

![570_screenshots_20161006011211_1](https://cloud.githubusercontent.com/assets/3121142/19135071/5cf31b50-8b62-11e6-8ed9-8f5d3f809075.jpg)

[2016-10-05 23:16] ghost commented on #1033
I confirm there’s no sound since the last update. Just yesterday when I tested my microphone I could find a lot of devices in the Settings → Audio → Audio → Sound device menu, but now there’s only the ‘Default device’.
My system has pure ALSA.

[2016-10-05 23:32] rgehlen opened #1035 "Dota runs out of memory when on different VT/xserver during Watch/Live preview"
How to reproduce:

Run dota2
Go to Watch -> Live
Switch to VT or different xserver
Use your favourite tool to watch dota memory usage go up indefinitely
Memory will keep getting allocated but never freed, until you switch back. (Some kind of garbage collector not running?)
If you wait long enough, see oom-killer in action.

Note that this is on Arch Linux with Skylake HD530 gpu and some recent mes

[2016-10-05 23:39] gdrewb-valve commented on #1035
This only happens if you switch away from Dota?  If you don't switch the memory usage does not explode?

[2016-10-05 23:40] rgehlen commented on #1035
Yes, its not a critical bug whatsoever.

[2016-10-05 23:47] gdrewb-valve commented on #1035
If you let Dota accumulate memory but switch back to Dota before it gets killed does the memory usage stabilize or drop back down?  I'm just wondering if it's something building up waiting for Dota to be foreground.

[2016-10-05 23:48] rgehlen commented on #1035
Yes. I assumed "Memory will keep getting allocated but never freed, until you switch back." was a pretty decent description.

[2016-10-05 23:53] danginsburg commented on #1034
OK, it doesn't seem to repro on mesa 10.5.8 Intel Haswell.  I'll have to try it on AMD mesa.  You may want to report this to mesa devs as it could be a driver issue.

[2016-10-06 00:01] gdrewb-valve commented on #1035
OK, thanks.

[2016-10-06 00:11] eisenlaub commented on #1033
I'm also affected by this issue. My system uses pulseaudio though. I was able to fix it by placing `SDL_AUDIODRIVER="pulse"` in front of the launch options. Hope that helps.

[2016-10-06 03:51] ghost opened #1036 "Pausing a live game: Update delta tick not found"
Pausing a live game is pretty unreliable in the last few weeks, either disconnecting the spectator session shortly after resumption or spamming the console forever with output similar to the following:

CL:  C_DOTA_ProjectileManager::CreateTrackingProjectile - pSource is NULL without an override loc (handle entity 803)?
Update delta tick <number> not found.

Clicking Go Live immediately cancels th

[2016-10-06 04:39] Bugattikid2012 commented on #1033
Can also confirm.  I was using ALSA before this update with the launch setting mentioned above (only set to ALSA obviously), but I had to remove it due to the update.  Works fine with pulse, even though ALSA was set to hand the sound off to Pulse (the reason I was using ALSA was because for whatever reason it removed audio output delay).

[2016-10-06 04:45] Turmfalke2 commented on #1033
Setting SDL_AUDIODRIVE to alsa does nothing for me. While we are it, is there any way to set specific environment variables for each game? I already have to set DBUS_SESSION_BUS_ADDRESS and __GLVND_DISALLOW_PATCHING, if this ends up being another such workaround it would be nice to just use them for dota instead of steam and everything it starts.

[2016-10-06 05:51] gdrewb-valve commented on #1036
This affects all platforms and the larger team has been looking.

[2016-10-06 05:51] #1036 closed, assigned to nobody

[2016-10-06 06:41] izmntuk commented on #1033
Confirmed soundless with battle pass update on Arch Linux (x86_64), pure ALSA.

Switching to PulseAudio+ALSA for now, which is working fine.  Hopefully this will get fixed from upstream.

[2016-10-06 07:58] qantourisc commented on #1033
Can confirm it's the SDL update/file, renaming/removing "dota 2 beta/game/bin/linuxsteamrt64/libSDL2-2.0.so.0" fixes this for me.

[2016-10-06 11:52] saward commented on #1033
Stopped working for me too, but SDL_AUDIODRIVER="pulse" restored sound.  Arch linux.

[2016-10-06 12:30] AngryPenguinPL commented on #1034
On AMD Radeon HD5850 with Catalyst 15.9 (fglrx) no issues. Rendering terrain is correct. So look like is bug in Mesa for AMD GPU or for all gpu but only in 12.X branch.

[2016-10-06 12:38] danginsburg commented on #1034
Actually this is definitely not a bug in mesa, it's an issue with dota.  I remembered last night that on AMD mesa on some GPUs we go down a fallback path for OpenGL implementations with <= 16 texture units per stage.  The new ground parallax shader is using too many textures which is what is causing the bug.  The workaround for now is to disable "Ground Parallax" in the Video Settings.  I'm going

[2016-10-06 13:58] Maxxie commented on #1034
Yeah, sorry I forgot the gpu. It's an AMD Radeon HD 6970

[2016-10-06 15:34] danginsburg commented on #1034
I have a fix for this, it will be in a future Dota 2 update.

[2016-10-06 21:06] glubsy opened #1037 "Catapult models flickering graphical glitch"
Sometimes, during the whole match, my GPU draws random flickering geometry from the base of the catapult models (only radiant catapult this particular match; will confirm later if it happens with dire catapults too in other matches).

![See screenshot for illustration.](http://i.imgur.com/nJLOC0Z.jpg)

The glitch disappears once the model "sinks" into the ground after the unit dies.
Restarting the

[2016-10-07 04:47] clinew commented on #1033
@quantourisc  That hack worked for me, thank you!  Using pure ALSA, no pulse.

[2016-10-07 17:16] Tele42 commented on #1033
This bisects to https://hg.libsdl.org/SDL/rev/9bbe05f2612a as the first bad commit in libSDL2 with my alsa loopback device. Seems like libSDL2 should always enumerate the pcm.!default device for it to work with my setup.

https://hg.libsdl.org/SDL/rev/01b65e6fcf81 does not fix the issue on my system.

[2016-10-07 21:38] MinervaW1993 opened #1038 "[Linux]Fcitx + Plasma 5 breaks hero selection and in-game typing in Dota 2"
I found that Fcitx is working now in Dota2 Client. I can activate the input window by Ctrl+Space while in game. However, when playing game

1) In hero selection I cannot receive message from teammates or send out any message. I can type message in the input box but after I press enter, nothing happens.

2)I cannot receive the typed message from teammates nor I can type any message. After pressing

[2016-10-08 05:54] jackjen opened #1039 "[MacOS] FPS drops in Desktop Friendly Fullscreen"
I'm finding that since a recent update (a month?) I'm getting a severe FPS drop when moving my mouse around the screen in game.

If pan with up-down-left-right keyboard keys the FPS stay on a solid 45-50 depending on what's on the screen.

If I move the mouse at all (not even edge pan), the FPS drops to 18-19 instantly (Razer Orichi)
If I unplug the mouse and use the touch pad the FPS drops to 24-

[2016-10-08 06:05] jackjen commented on #1039
OK, so I've been sitting on this issue for about a week now trying to figure out which graphics setting caused the issue or if it's a bug, or some software running in the background causing it, only to come to the conclusion that it was a bug in the game.

I was wrong, it was my mouse Accessibility settings. 😨

Under System Preferences > Accessibility > Display > Cursor Size, I'd dragged the size

[2016-10-08 12:50] simisimis commented on #1033
I hope this fix will come out soon. It was working so smooth with alsa. Works with pulse as well, but I am getting weirdest sound glitches in game with pulse

[2016-10-08 14:23] Tele42 commented on #1033
Hello @simisimis, I've heard second hand that there is [another unrelated audio issue](https://www.reddit.com/r/DotA2/comments/563z4t/unplayable_audio_glitch/) going on in the game that is potentially cross-platform.

@rcgordon, as a side note, I'm one of those rare (crazy) JACK audio users. Because libSDL2 does not have a JACK backend and the jack plugin for alsa is not serviceable, I'm left with

[2016-10-08 14:47] AphidGit opened #1040 "Update 2016-10-07 breaks dota 2"
Updating to the 2016-10-07 patch will not complete for me.
Message:

`An error occurred while updating Dota 2 (corrupt update files) :

/[steampath]/steamapps/downloading/570/game/bin/built_from_cl.txt`

Here [steampath] is the steam library installation directory.

Said file is a tiny 9 byte text file containing a single number. The probability of downloading it wrong or an unrecoverable memory/d

[2016-10-08 15:05] jingzhaoyang commented on #50
Today, I suddenly found that the Chinese can be input using fcitx, but the `Enter` open dialogs invalid. I can only click the icon to open the dialog and input .

[2016-10-08 16:27] gdrewb-valve commented on #1039
I don't know that we'll be able to establish why the accessibility options affect things but we'll see.

[2016-10-08 16:29] gdrewb-valve commented on #1040
This is a Steam problem and not a Dota problem so this should be in steam-for-linux but we'll see if the Steam team can take a look.

[2016-10-08 16:33] gdrewb-valve commented on #50
The SDL devs are taking a look at this, I don't think the fcitx support is complete.

[2016-10-08 17:26] Tele42 commented on #50
Initial support for fcitx appears to have been added yesterday: https://hg.libsdl.org/SDL/rev/6660aa9120d6

[2016-10-08 18:31] slouken commented on #1038
Try setting XMODIFIERS=@im=none
I'm not sure whether you'll actually get IME support if you do that, you may need a newer SDL built with fcitx support.

[2016-10-08 18:44] Disminder commented on #4
+1 to bad perfomance. MBP mid 2012 with external GTX970, OS 10.12. In Windows performance is OK.

[2016-10-08 18:50] MinervaW1993 commented on #1038
Setting XMODIFIERS=@im=none fixes the problem and the input method is disabled in Dota 2. I am wondering why when setting XMODIFIERS=@im=fcitx will enable input method in the Dota 2 client even if SDL is not built with fcitx support...

[2016-10-08 19:08] slouken commented on #1038
Because SDL does support the general IM API, which fcitx implements, but with the side effects you're seeing.

[2016-10-08 20:58] 9Morello commented on #4
Its a shame. I can't get a stable 60 FPS even with all settings in their lowest, while in both Windows and Linux I can max out with over 100 FPS all match long.

[2016-10-09 03:55] kriskate commented on #1030
this happens to me on El capitan 10.11.6, same specs mac

[2016-10-09 13:57] Tele42 commented on #1033
The following patch fixes alsa sound on my system in Dota 2 with today's upstream libSDL2:

[code]

Additional note: it appears that hw: is enumerated as sysdefault: on my system.

[2016-10-09 18:35] icculus commented on #1033
Can I get the output from "aplay -L" from ALSA users hitting this bug?

[2016-10-09 19:02] Tele42 commented on #1033
Sure, here is [my output](https://gist.github.com/Tele42/26fd7ee5291cabc10fc59443ee2256e9). Note: "pcm.mumble" and "pcm.jack" are experiments that are inactive.

[2016-10-09 19:09] Turmfalke2 commented on #1033
For the moment solved/worked around by deleting the shipped sdl.
https://gist.github.com/Turmfalke2/b2fe2a89b8158fc64defb6cd0989b971

[2016-10-10 19:37] icculus commented on #1033
This is my proposed fix in SDL for this issue:

https://hg.libsdl.org/SDL/rev/84611383c7ef

Passing this around to a few interested parties, so this patch might evolve still. Stay tuned!

[2016-10-10 20:02] rmbleeker commented on #1029
I've actually seen the same behaviour on Linux for a while now, but never reported it. I simply stopped using the capslock key in Dota 2 and assigned it as my push-to-talk button in Mumble instead. Glad to see there is a fix for this on it's way though.

[2016-10-10 20:03] gdrewb-valve commented on #1029
The incoming fix is specific to OSX as far as I know.  I do not see the same problem on Linux.

[2016-10-11 04:18] Conzar opened #1041 "[Linux] Oct 10 2016 Update breaks in-game chat"
**Summary**
The in-game chat no longer works  after the Oct 10th, 2016 update.

**Problem**
Before, in-game chat worked without issues.  After the patch, when I press the enter key, the chat bar opens up and quickly closes.  I am able to use the chat without problems out of the game like pre-game chat, regional lobbies, etc.

**System Specs**
- OS: Ubuntu 14.04 LTS
- Steam package version: 1475701

[2016-10-11 04:23] Conzar opened #1042 "[Linux] Oct 10 2016 breaks replays"
**Summary**
Replays no longer download after the Oct 10th, 2016 update.

**Problem**
Before this patch, I was able to download replays and watch them.  After the patch, after clicking on the download replay button, the button changes and indicates its downloading, but after a minute or so, just resets and reads 'replay' again.  I click on the button and it indicates that its downloading but again

[2016-10-11 04:54] gdrewb-valve commented on #1042
I believe this is happening on all platforms and won't be handled here.

[2016-10-11 04:57] Conzar commented on #1042
@gdrewb-valve do you have an issue for this ?  I would suggest linking the issue and then close this issue as redundant.

[2016-10-11 06:52] gdrewb-valve commented on #1042
I meant things like this: https://www.reddit.com/r/DotA2/comments/56w1e8/replays_still_dont_work/

There is no other issue here since this is for Linux-specific bugs.  There is no GitHub for all of Dota, that's the forums at dev.dota2.com where again you can find issues on replays.  I'll check with the larger team tomorrow and close this out based on their feedback.

[2016-10-11 13:50] ghost opened #1043 "Using Chromium while Dota 2 is running in the background eventually results in multiple gameoverlayui/render segfaults"
Observed while browsing in Chromium while Dota is running in the background... within at least two hours or so. No idea. Eventually there are a ton of segfaults in gameoverlayrenderer.so... maybe the gdb output below is just a victim.

The game seems to be fine until I exit... then Steam crashes.

Hopefully this isn't completely useless:
Reading symbols from .steam/ubuntu12_32/gameoverlayui...(no

[2016-10-11 15:12] rmbleeker commented on #1029
Doh. Sorry for the added noise. I had disabled the capslock key on my system, which obviously led to Dota 2 not recognizing it any more. Enabling capslock resulted in the desired behaviour, so I guess there's no issue on Linux.

[2016-10-11 15:19] gdrewb-valve commented on #1043
Probably some bad interaction with the Steam CEF support, handing off to the Steam folks.

[2016-10-11 20:50] FalconOye opened #1044 "Frequent game freezes."
Hi.
I have an issue with the in game freezes. While i'm playing a game, it is freezing so intense with the following console messages:
CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event.
Bailing out of OnBlockForQuery after 0.250 seconds
CSwapChainBase::QueuePresentAndWait() looped for 22 iterations without a present event.
Bailing out of OnBlockForQuery after 0

[2016-10-11 20:51] Tele42 commented on #1033
@rcgordon, I can confirm that today's build of libSDL2 works with my setup with no audio enumeration abnormalities.

[2016-10-11 21:23] gdrewb-valve commented on #1044
This forum is for bugs that only occur on Linux and Mac.  You'll want to post at dev.dota2.com

[2016-10-11 21:23] #1044 closed, assigned to nobody

[2016-10-12 00:54] elarkham commented on #1041
I have been experiencing the same issue except starting on the October 5th update. I had assumed it was an issue on my end because no one else I knew who used Linux was also experiencing it. I originally fixed it by switching my window manager but it seems to come and go somewhat randomly, as of the October 10th update, it has been permanent.

When the issue is occurring it seems that pressing dow

[2016-10-12 01:09] gdrewb-valve commented on #1041
Does this repro in a bot game?  I just started a bot game on Linux and had no issues hitting enter to type and sent chat messages.

[2016-10-12 01:20] gdrewb-valve commented on #1042
Can you get console output for when you're trying to do downloading?  You can see it on a terminal or add -con_logfile to your launch options and grab the console.txt file from 'Dota install'/game

[2016-10-12 01:32] elarkham commented on #1041
Yes this is reproducible in bot games. However by a stroke of luck I think I may have found the root of the issue. It seems the problem will _only_ occur if you are running [SCIM](https://en.wikipedia.org/wiki/Smart_Common_Input_Method) in the background when starting the game. SCIM is started by default on many distributions and I believe KDE makes use of it as well.

[2016-10-12 01:38] gdrewb-valve commented on #1041
Ah, so this may be another IME issue like #1038.  There are SDL IME updates coming for #1038 and that may have a bearing here.

[2016-10-12 03:07] Conzar commented on #1041
Oh that's interesting.  I have language support installed on Ubuntu 14.04.  The keyboard input method is indeed fcitx.  So this bug is probably related to fcitx?  Even though it worked without issue before?

[2016-10-12 03:40] Conzar commented on #1042
Hum, there is no console output (via the terminal) regarding this issue.  I also noticed that 1 replay I was able to download.  The button for this looked different.  It was a bigger button that read 'download replay'.  While the ones that do not work read 'replay'.

_Download Replay_
For this button, it just goes through the following status: downloading, uncompressing, and then resolves to watch

[2016-10-12 04:20] gdrewb-valve commented on #1041
The last couple of Dota updates have picked up newer versions of SDL and one of those changes led to some partial, unintended activation of fcitx (which is what #1038 is about).  An upcoming update will hopefully end up with functioning fcitx support in SDL and we'll see how that impacts the SCIM situation.

[2016-10-12 12:28] timxx opened #1045 "text input problem in recent updates"
When installed fcitx (Chinese input method), and setting **export XMODIFIERS=@im=fcitx** env,
all things goes wrong with dota 2:
In the home window (not start a game), press **Backspace** cause double effect, it will delete two chars no matter Chinese or English. When switch to fcitx (Ctrl + Space) to type Chinese, and in the predict window state, press Backspace also delete the text in chat windo

[2016-10-12 12:50] Tele42 commented on #1045
Duplicate of #1038.

[2016-10-12 13:22] timxx commented on #1038
@MinervaW1993 You can disable the XMODIFIERS, and build the SDL from official repo (https://hg.libsdl.org/SDL/), be sure installed the fcitx dev headers. And replace the dota2 one, setting **SDL_IM_MODULE=fcitx**, it works for me. (Can type Chinese using fcitx without thoese problems). :)

[2016-10-12 15:40] gdrewb-valve commented on #1045
Closing duplicate.

[2016-10-12 15:40] #1045 closed, assigned to nobody

[2016-10-12 19:19] Conzar commented on #1041
@gdrewb-valve I exited the input manager for Ubuntu before starting a match last night, and in-game chat worked!  So this must be the problem.

[2016-10-13 20:25] glubsy opened #1046 "Killing pulseaudio while in-game crashes both game and Steam"
Sometimes I have to do
`pulseaudio -k`
to reset my pulseaudio server/daemon because my microphone input doesn't work (after resuming from suspend for example).

Then, going back into the game, I go into options to reset the default audio ouput device (which works).
**Then, when I bring up the steam overlay and press "Settings", the game crashes, and the Steam client crashes as well.**

Perhaps the

[2016-10-13 20:29] tsoernes opened #1047 "[Linux] Right click not registered when left click is pressed at the same time."
Right clicking is not registered when left clicking at approximately the same time. The hero does not move and the three arrows pointing to the ground does not show. Works on Windows, same machine, same Dota settings, same mouse.

Linux Mint 18 Cinnamon
Nvidia GTX 770 with 370 drivers running OpenGL

[2016-10-13 20:43] gdrewb-valve commented on #1041
I believe the update on Oct. 12 contained full support for fcitx.  Can people comment on whether things are still broken or not?

[2016-10-13 20:43] gdrewb-valve commented on #1038
I believe the update on Oct. 12 contained full support for fcitx. Can people comment on whether things are still broken or not?

[2016-10-13 20:44] gdrewb-valve commented on #50
I believe the update on Oct. 12 contained full support for fcitx. Can people comment on whether it is working for them?

[2016-10-13 23:05] rcano commented on #50
It works for me! Thanks!
The only issue I have is when using a table lookup (such as for unicodes) the popup appears, but I can't click, my cursor goes back to desktop cursor while hovering over it, but I can't interact. Otherwise it's perfect!

[2016-10-13 23:08] gdrewb-valve commented on #50
Go ahead and open a specific issue for that and I'll assign it to the SDL devs.  I'm closing this as the general feature request is addressed, now we'll switch to individual bug issues.

[2016-10-13 23:08] #50 closed, assigned to nobody

[2016-10-13 23:09] gdrewb-valve commented on #1046
Steam issues should go in steam-for-linux, but we'll leave this open for now.

[2016-10-13 23:17] gdrewb-valve commented on #1047
This works correctly for me on my Linux box, I'm not sure what's going on.

[2016-10-13 23:25] admshao commented on #1047
I can't tell why...But i had this problem on xfce and cinamon but its just
fine on unity and mutter(my current)

On Oct 13, 2016 8:17 PM, "Drew Bliss" notifications@github.com wrote:

[2016-10-13 23:30] Conzar commented on #1041
I can confirm the most recent patch fixed this bug.  I am closing issue.  Please open if anyone else is still having this issue.

[2016-10-13 23:30] #1041 closed, assigned to icculus

[2016-10-13 23:31] Conzar commented on #1042
I was able to download a replay last night.  So has the recent patch now fixed this issue?

[2016-10-13 23:40] gdrewb-valve commented on #1042
I didn't hear anything about a specific fix in this area but possibly one went in.  If it continues to work we can close this out.

[2016-10-14 00:34] tsoernes commented on #1047
Maybe it's  Cinnamon then and not Dota itself, is there any way to get an output of what raw input is registered in either Linux or the Dota client? P.S: It's not a laptop so there should be no touchpad(drivers) to mess with anything

[2016-10-14 00:53] tsoernes commented on #1047
Here we go. In the mouse options for Mint you'll see that clicking left and right mouse-buttons simultaneously simulates middle click, which registers as a virtual mouse device.

[![Screenshot from 2016-10-14 02-48-29.png](https://s17.postimg.org/t2e6gbelr/Screenshot_from_2016_10_14_02_48_29.png)](https://postimg.org/image/h0ism65d7/)

I discovered this by running `xinput` and `xinput test <id>` f

[2016-10-14 00:53] #1047 closed, assigned to nobody

[2016-10-14 00:55] admshao commented on #1047
Glad to know that. I might give another shot for xfce

On Oct 13, 2016 9:53 PM, "tsoernes" notifications@github.com wrote:

[2016-10-14 01:53] Tele42 commented on #1046
I have a feeling this should be directed at libSDL, I expect it does not know how to recover from a pulseaudio server that has gone away and been replaced with a different instance.

[2016-10-14 01:55] gdrewb-valve commented on #1046
That's possible but the game settings, which are using SDL, don't crash immediately after the reset.  Instead it's the Steam overlay that ends up crashing and that may be a different kind of issue.

[2016-10-14 02:32] Tele42 commented on #1033
This issue should now be resolved without workaround, please retest and report back.

[2016-10-14 02:55] gdrewb-valve commented on #268
Checking one last time, is this still happening?

[2016-10-14 02:56] gdrewb-valve commented on #453
We have updated SDL with some keyboard fixes.  Is this still an issue?

[2016-10-14 05:28] krutoileshii commented on #996
Seems like a similar issue becomes a complete slideshow especially when hitting mega creep stages.
it's been happening since the last 3 updates. will try Vulcan and see if that creates any difference.

On fedora here. never had an issue before this.

playing on Core i7 i7-4790K 660 TI as well as a samsung SSD EVO 850. 1080P

[2016-10-14 07:36] Turmfalke2 commented on #1033
Sound works using 7e7aa1464fb7a4f4571ed1dba0ad4277  libSDL2-2.0.so.0

[2016-10-14 09:02] gdmsl commented on #268
yes it is still happening. I tried to bind the ` or the ' to an action but the client ignored it keeping the original binding.

[2016-10-14 11:22] timxx commented on #1038
@gdrewb-valve
I can confirm that it works both with or without **XMODIFIERS=@im=fcitx**.  (**SDL_IM_MODULE=fcitx** also enabled fcitx, I think you already updated to the latest SDL :+1: )

It's nice if you fix the problem that the candidate window is not following the chat intput box of dota 2. :)

[2016-10-14 12:23] rodlorric opened #1048 "[Linux] In Compendium/True Sight screen Fullscreen and "WATCH IN BROWSER" buttons don't work"
As in the title, when clicking those buttons nothing happens besides this message on the console:

[code]

This is running on Linux Mint Sarah and MATE desktop enviroment.

Steam System Information

[code]

[2016-10-14 14:38] gdrewb-valve commented on #1033
Thanks, closing.

[2016-10-14 14:38] #1033 closed, assigned to icculus

[2016-10-14 14:40] gdrewb-valve commented on #1048
If you just use xdg-open in a terminal window does it work?

[2016-10-14 14:44] gdrewb-valve commented on #268
If you add -input_message_spew to your launch options and look at console output in a terminal (or via a file using -con_logfile) when you press those keys what does it say?

[2016-10-14 14:55] gdrewb-valve commented on #1029
The Oct 13 update should have the OSX fix, is this still occurring?

[2016-10-14 15:04] gdmsl commented on #268
[code]

when pressing ``` button

[2016-10-14 15:05] gdrewb-valve commented on #268
OK, the SDL update didn't have an impact so we'll leave it assigned to the SDL dev.

[2016-10-14 16:20] rodlorric commented on #1048
@gdrewb-valve Yes, it work, it opens the given URL on my default browser without any problem.

[2016-10-14 17:00] glubsy opened #1049 "[Linux] Advanced "miscellaneous" options box is misplaced"
![](http://i.imgur.com/E4Tav90.jpg)

Can't use the "miscellaneous" box as it is misplaced under the Advanced option menu when the resolution is 1280x1024 (in 4:3).
Other resolutions are fine!

Specs: Linux Mint 17.3, i3wm

[2016-10-14 17:36] gdrewb-valve commented on #1048
Likely to be some kind of conflict from escaping the Steam runtime then.

[2016-10-14 17:37] gdrewb-valve commented on #1049
This isn't a Linux issue, I've passed this on to the larger team.

[2016-10-14 17:37] #1049 closed, assigned to nobody

[2016-10-14 23:13] Plagman commented on #1048
What's the PATH variable for a terminal vs. the running instance of Dota? It seems like something is just misconfigured on your end.

[2016-10-14 23:22] admshao commented on #1048
Is it the same as watch in browser for any live game in dotatv? Because
that never eorked for me on ununtu/gnome3

On Oct 14, 2016 8:13 PM, "Pierre-Loup A. Griffais" notifications@github.com
wrote:

[2016-10-15 02:50] gaohuazuo commented on #320
I have the same issue. Nothing happens after I click on the add friend button or context menu.

[2016-10-15 16:48] magist3r opened #1050 "[Enhancement] Please display packet loss info"
HI!
Please add info about packet loss for game regions. It is more important then ping. If I have packet loss, the only option for me is to leave game because it is absolutely unplayable.

[2016-10-15 17:04] gdrewb-valve commented on #1050
This forum is for Linux/Mac porting bugs, you'll want to post your request at dev.dota2.com

[2016-10-15 17:04] #1050 closed, assigned to nobody

[2016-10-15 17:32] glubsy commented on #1046
Thanks, indeed this is certainly more Steam overlay/Steam client related.

And just in case someone is having the same pulseaudio issue with microphone not working after resuming from suspend, a better way to fix it is to switch card profile like this:
`pactl 'set-card-profile 1 off'`
`pactl 'set-card-profile 1 output:analog-stereo+input:analog-stereo'`
(I have 2 sound cards so you may want to rep

[2016-10-16 09:44] sercankd opened #1051 "CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event."
This cause micro stutters while playing the game. I am using latest driver from nvidia

[2016-10-16 11:10] dhiru1602 commented on #204
Just a heads up. This issue has been fixed in the 5.20 kwin release.

**Commit:** https://quickgit.kde.org/?p=kwindowsystem.git&a=commit&h=2a5b7943a020f2154049d28a33216149b6220d53

**Bug Report:** https://bugs.kde.org/show_bug.cgi?id=349910

[2016-10-16 17:09] gdrewb-valve commented on #1051
Can you post your full system information from Steam?

[2016-10-17 05:49] frozenkil opened #1052 "Issue with Dota level in Steam"
Hi Team,

It has been several number of times that I see my Dota 2 in-game level as shown in screenshot, increased which comes with a notification. However, when I press 'OK' the level still shows as 76. I believe my level has already increased however this might be some bug which would be great if you could look at.

Regards,
Nik
![issue with dota level in steam](https://cloud.githubusercontent.c

[2016-10-17 06:06] ramma commented on #1052
As far as I've seen, that area doesn't update immediately. Clicking through to your profile should display the current level properly. That behaviour isn't specific to Mac or Linux either.

[2016-10-17 08:13] sercankd commented on #1051
Computer Information:
    Manufacturer:  Gigabyte Technology Co., Ltd.
    Model:  GA-MA770-DS3
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Brand:  AMD Athlon(tm) 64 X2 Dual Core Processor 5600+
    CPU Family:  0xf
    CPU Model:  0x6b
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  2913 Mhz
    2 logical processors

[2016-10-17 08:31] ramma commented on #1051
Just fyi, this tracker is specific to Mac and Linux issues. There's a forum thread about the same issue [here](http://dev.dota2.com/showthread.php?t=179605), and a few other threads with less replies. Looks like making sure the "Use my monitor's current resolution" fixed the issue for most in that thread.

[2016-10-17 12:55] frozenkil commented on #1052
Hi Justin,

I've tried that but was unable to still find the updated level. This has
happened maybe 4 times with me when the usual notification pops up showing
the level up however stays at same level when I go back.

If you probably look at some data related the previous games, I believe it
might help you trace my issue.

Regards, Nik

On Monday 17 October 2016, Justin notifications@github.com wr

[2016-10-17 16:01] gdrewb-valve commented on #1051
As ramma mentioned this forum is for Linux/Mac porting bugs and does not handle Windows issues.  Posting in dev.dota2.com is the right place.

[2016-10-17 16:01] #1051 closed, assigned to gdrewb-valve

[2016-10-17 16:02] gdrewb-valve commented on #1052
This forum is for Linux/Mac porting issues only, you'll want to post this at dev.dota2.com

[2016-10-17 16:02] #1052 closed, assigned to nobody

[2016-10-17 17:04] B9707C6887CD8B31AB6F62718091A968 opened #1053 "[LINUX] Game freezes for 1-2 seconds, when something appears on the screen"
Hello,
I recently installed Gentoo, and I need you help because my game is freezes for 1-2sec, when something appears on the screen, It can be message about bought item, or when enemy cast spell, or I cast spell, it even freezes, when I just try to check enemy's backpack. Game become unplayable, just because it is often. Usually it starts after 10-15 minutes of gameplay.
Previously I used differen

[2016-10-17 17:55] Tele42 commented on #1053
Hello @B9707C6887CD8B31AB6F62718091A968, there's a good chance you are using =x11-drivers/nvidia-drivers-361.28, which has a known defective version of libglvnd bundled with it. If that is the case, then either update to a different video driver version, remove libglvnd from the libGL render stack (USE="compat"), or use the `__GLVND_DISALLOW_PATCHING=1` workaround. (from https://github.com/ValveSo

[2016-10-17 18:37] gdrewb-valve commented on #1053
If Tele42's guess isn't correct can you post your full system information from Steam?

[2016-10-17 19:45] B9707C6887CD8B31AB6F62718091A968 commented on #1053
Changed according to advice:

[code]

Game still lagging.

[code]

[2016-10-17 21:24] gdrewb-valve commented on #320
@gaohuazuo you should open a new issue.  Please put your full system info from Steam in the report.

[2016-10-18 01:26] FlaminSarge commented on #1029
Seems fixed on my end with a rudimentary test of binding `CAPSLOCK` to `+test1`, and seeing the error messages for "unknown command" for `+test1` and `-test1` occur at the correct times when pressing and releasing the key.

[2016-10-18 01:47] adityakaulagi commented on #1029
@gdrewb-valve

Holding capslock now works for voice. Thanks for the quick turnaround on this issue!

[2016-10-18 01:47] gdrewb-valve commented on #1029
Thanks, closing.

[2016-10-18 01:47] #1029 closed, assigned to icculus

[2016-10-18 06:47] frozenkil commented on #1052
Seriously? Closed? Did I say that my problem is resolved? Why do you guys
make it so stupidly confusing? And I did post on the link Justin shared.
Justin, can you please discuss internally before making me do so much?

I wasn't expecting such a response from Steam!

I don't care what your illogical forums or responses are for, you guys
better fix my problem.

Regards, Nik

On Monday 17 October 201

[2016-10-18 18:54] TomNaessens commented on #1030
Same here after upgrade to OSX Sierra.

[2016-10-18 21:17] DuskPiano opened #1054 "[LINUX] Periodic fps drops while in-game"
No matter what video settings I use dota drops to exactly 10-12 fps every few minutes and also recovers after some minutes. The game becomes more and laggier during that phase so that the game freezes for some seconds while it keeps showing "fps:10". It only happens while in-game. The CPU usage goes up to around 50% during the fps drop while it's normally at around 20%. Turning V-sync on and off m

[2016-10-18 22:02] gdrewb-valve commented on #934
Have you had any further problems?

[2016-10-18 22:03] gdrewb-valve commented on #1054
There are a few similar issues open, such as #934, you might want to take a look at.  They may be totally unrelated but maybe not.

[2016-10-18 22:05] admshao commented on #934
A lot of Kernel, dota and gpu driver later, i never had this issue again. I
can say it`s fixed for me but no clue how.

2016-10-18 20:02 GMT-02:00 Drew Bliss notifications@github.com:

[2016-10-18 22:06] gdrewb-valve commented on #934
I close it.  As many things have changed since you last saw the problem it's probably worth a new issue if you have future slowdowns.

[2016-10-18 22:06] #934 closed, assigned to nobody

[2016-10-18 22:33] rickayy17 commented on #1012
i am just now having this problem. I try to run counterstrike global offensive and i am getting the error, is there a solution? and i too am on a mac with my steam helper not responding

[2016-10-19 04:28] Olosinsk-commits commented on #793
This has been happening for me every time.
Ubuntu 16.04 LTS

[2016-10-19 14:52] DuskPiano commented on #1054
My issue isn't connected to the steam overlay. I get the same results with and without it.
I also tried it with intel_pstate=disabled added to my boot parameters as suggested at #934, also no difference.

[2016-10-19 21:08] danginsburg commented on #1035
I have been able to reproduce this on NVIDIA when doing a VT switch.  I believe what is happening is that the persistently mapped buffers that we have are becoming invalid without notification and then we crash.  I'm not sure if the issue on Intel is exactly the same.  There is likely not much we will do about this.  NVIDIA has an extension NV_robustness_video_memory_purge but I'm not sure it's wo

[2016-10-22 00:26] Olosinsk-commits commented on #965
I have same problem every time when I (accidentally) launch a game after using Ru layout and I can't change layouts from Ru to Eng during the game. I have Ubuntu 14.04 LTS. Do you have suggestion how to resolve it? Thanks

[2016-10-22 00:36] AutoAwesome commented on #965
@DarthBOR I have the german keyboard layout. But as I said, I really have changed nothing. It broke after an update and also fixed it self after the next update :-)

@ssinsk I did absolutely nothing. :-) Just noticed that it was broken after an update. But after the next update it worked again.

[2016-10-22 03:07] admshao opened #1055 "Random Crash during game. All of the sudden"
That is just it. Suddenly the game crashed. I was casting WESG americas regional qualifier. I use a linux box with vulkan (nvidia 370.28) and my friend also casting through dotatv said he crashed as well barely seconds before me. He is using Windows 10 + probably DX.

We both used the new terrain from boston compedium. I don't know him, but i was using with everything maxed out with v-sync off.

L

[2016-10-22 16:25] jackmitch opened #1056 "[LINUX] game doesn't lock cursor"
I'm not sure which update exactly broke it but at least on ArchLinux the game now no longer locks the cursor to the screen when playing a match. Edge panning works, but the mouse can navigate to the other monitor. I run it in 'Desktop Friendly Fullscreen Mode' however the same issue happens in windowed and borderless window. Never had an issue before with this for the past 2 years.

[2016-10-22 16:40] ramma commented on #1056
My understanding is this is expected, since the source 2 update no longer has true fullscreen. That's at least what happens with modifier keys being passed to the desktop, which is still an issue.

[2016-10-22 17:30] Tele42 commented on #1056
My memory seems to recall that desktop friendly fullscreen should capture the mouse during the match, but not when in the main menu. I can confirm the mouse is not captured when watching a live match.

[2016-10-22 21:50] gdrewb-valve commented on #1055
The console log doesn't have any crash info so it doesn't appear like the crash was caught by Dota.  That often means it was the video driver that crashed and this may be related to Vulkan.

It's also possible it's a cross-platform issue since your friend crashed, but without crash info it's hard to say much about what's going on.

[2016-10-22 21:51] gdrewb-valve commented on #1056
@jackmitch, to be clear your are talking about while you're in the game and not in the menu, correct?

[2016-10-22 22:07] sudoforge opened #1057 "[LINUX] Unable to add friends in Reborn client."
# Overview

I'm no longer able to add friends using any of the contextual menus/buttons in the client. It doesn't matter the method - right click context menu, profile button, etc - I cannot successfully send a friend request. Clicking any of the "add friend" buttons in Dota 2 doesn't send a friend request (or even look like it has successfully sent).
- No, this isn't the initial friend request/ac

[2016-10-22 23:13] gdrewb-valve commented on #1057
This probably isn't a Linux issue, I'll check with the larger team.

[2016-10-23 00:30] sudoforge commented on #1057
I appreciate that, @gdrewb-valve. I know of at least two other users who have experienced the same thing.

[2016-10-23 07:52] jackmitch commented on #1056
Yes, this is in game. I did a bit more experimenting and it seems it may have something to do with the update to Gnome 3.22. I tried out a different window manager (i3) and the pointer locking was working. I haven;t played for a few weeks so both Dota and Gnome were updated in tandem so I can't be sure that it was _only_ the Gnome update which broke it, but as it works in other desktop environment

[2016-10-23 11:54] Tele42 commented on #1056
hmm ... in my case the DE is Cinnamon 3.0.

[2016-10-24 18:23] jackmitch commented on #1056
OK, I figured this out. Gnome 3.22 defaults to using Wayland. Wayland hasn't yet had pointer lock implemented, hence it doesn't work. I hadn't realised that the default had changed automatically from an X11 session to being a Wayland session on upgrade.

[2016-10-25 06:45] alexchuang72 opened #1058 "[Mac OSX] Command binding doesn't work"
The command hotkey binding does not work properly. For example, I would need to hover over a tree to use a tango instead of selecting the tree that I want to tango. Or I would have to hover over the place I want to blink to instead of clicking on the place I want to blink to.

[2016-10-26 14:49] gdrewb-valve commented on #1058
You mean the Command key by itself, after enabling binding of the Command key, or have you bound something else in conjunction with Command?

[2016-10-27 00:24] alexchuang72 commented on #1058
Hi Drew, I've been using "command + q" for item slot 1 and w,e,a,s,d for items 2-6. It works for items like phase boot because I don't need to select a target. But for items like blink or diffusal blade, i would need to hover my mouse cursor over the target and then do the hot key instead of the other way around. Hope this makes sense.

[2016-10-27 01:22] ramma commented on #1058
Sounds like quick cast for items got turned on somehow.

[2016-10-27 06:15] tpruzina opened #1059 "Constant random crashes"
I experience several random game crashes every game, at first I thought it was caused by unstable overclocks but even when I did set everything to stock it still crashed frustratingly often.
It doesn't do that in any other game though.

`Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:

[2016-10-27 06:33] #1059 closed, assigned to nobody

[2016-10-27 15:02] gdrewb-valve commented on #1056
Sounds like this isn't a Dota issue then?

[2016-10-27 16:36] ghost commented on #1043
I can't reproduce this anymore, but it only happened when the live replays 'tab' was open and updating regularly. Also (sorry), the core dump was due to grsec blocking ptrace so Steam couldn't capture the dump for its log.

It seems the other replay-related bugs have been fixed too after the patch the other day :-). Might we close this?

[2016-10-27 21:19] rained23 opened #1060 "[Linux] Dota2 caused computer to hang randomly"
Currently I am unable to play the game anymore, once I launch Dota 2, it will start to freeze/hang my computer completely after a while, I need to do hard reset everytime this happen.

Tested on Vulkan and without it.

OS : Ubuntu 16.04
Graphic : Nvidia GTX 760 TI
Graphic Driver : 370.28 & 367.57

[2016-10-27 23:38] gdrewb-valve commented on #1043
Yes, I'll close.

[2016-10-27 23:38] #1043 closed, assigned to jonpile

[2016-10-27 23:50] gdrewb-valve commented on #1060
Dota by itself can't hang your computer so this isn't directly a Dota issue.  If it isn't hardware It's likely it's a video driver problem, you might want to also contact NVIDIA.

[2016-10-28 00:49] alexchuang72 commented on #1058
ramma you're right, i checked the quick cast option and the problem went away. Thanks for the tip.

[2016-10-28 07:19] admshao opened #1061 "[Ubuntu]Can't Zoom Out"
Hey guys. It's been a while that i've been experiencing this. I can't zoom out in the game.

I made sure the option in main options of the game is Unselected about disable zoom.

And i just tested in a bot match. My scroll foward zooms the game. My scroll backwards just does nothing. I'm stuck on max zoom for the rest of the game. It just happenned that I had to take control of the stream today du