[2017-07-10 16:38] danginsburg commented on #1263
The slow startup prior to the loading screen has been fixed, it will ship in the next Dota 2 update.

[2017-07-10 16:56] gdrewb-valve commented on #1266
There's a fix coming in the next release which likely will help with this.

[2017-07-10 19:15] nextdimension commented on #1263
Seems this is fixed in the update just now. At least for me.

[2017-07-10 19:18] UgoM commented on #1263
It works ! You are awesome :) Thanks for the responsiveness.

[2017-07-10 19:19] gdrewb-valve commented on #1266
Please retest with the update that just came out.

[2017-07-10 19:20] gdrewb-valve commented on #1260
The delay should be resolved by the July 10 update.  @M3rs, can you retest and see if your crash is still occurring?

[2017-07-10 19:21] gdrewb-valve commented on #1240
Closing pending more info.

[2017-07-10 19:21] #1240 closed, assigned to nobody

[2017-07-10 19:22] #1263 closed, assigned to danginsburg

[2017-07-10 19:27] jazztickets commented on #1266
Works great now, thanks.

[2017-07-10 19:29] #1266 closed, assigned to gdrewb-valve

[2017-07-11 11:52] AngryPenguinPL commented on #1239
Hey. When I watch european qualification to TI I see both coursor, one (broken) my, and secodns good from casters. Look:

![img_20170627_123503](https://user-images.githubusercontent.com/3121142/28067052-e02b6d3e-663f-11e7-8a6c-54e90bd67e65.jpg)

[2017-07-11 13:35] tmewett commented on #1256
After some more conscious testing today, it seems the frequency of the freezing has gone down. I had only 4 instances of it in a 30min game. I also had uninterrupted communication in external voip while it was frozen. Some animations still played, ie the client didn't hang. I opened the console quickly after each instance, and there was always a SteamNetSockets message about session switching at t

[2017-07-11 14:10] gdrewb-valve commented on #1256
It's hard to say since there isn't much information to go on.  I'll pass the comment about steam networking on to the larger team and see if they have any thoughts.

[2017-07-11 14:12] gdrewb-valve commented on #1256
Note also that there are people like http://dev.dota2.com/showthread.php?t=282717 with exactly the same issue on Windows so the issue is beyond the scope of this tracker.

[2017-07-11 15:10] sylware opened #1269 "latest steam client update broke again dota2 web market"
Wow, got an update of the stable steam client today which broke (crash) again the web component significantly, then dota2 web market. Wonder what's happening there?
up-to-date beta steamos
up-to-date _stable_ steam client
You should really talk to linux steam client team about the issues with their web component.

[2017-07-11 15:16] tmewett commented on #1256
Ok, thanks

[2017-07-11 17:41] gdrewb-valve commented on #1269
You'll want to post this in steam-for-linux.

[2017-07-11 17:41] #1269 closed, assigned to nobody

[2017-07-11 17:49] sylware commented on #1269
On Tue, Jul 11, 2017 at 05:41:55PM +0000, Drew Bliss wrote:

steam-for-linux Issue updated. I may post a new one as it seems ignored.

[2017-07-12 03:48] gdrewb-valve commented on #1256
One that that has come out of the investigation is to check the size of localconfig.vdf in your Steam directory.  Some people are seeing it grow to 100's of megabytes and if it does get that big it can cause glitching.

[2017-07-12 13:45] AngryPenguinPL commented on #1142
Playing today and yesterday few matchers and not see this issue. Look like it is fixed. Anyone can verify?

[2017-07-13 01:28] gdrewb-valve commented on #1260
Closing pending more info.

[2017-07-13 01:28] #1260 closed, assigned to nobody

[2017-07-13 18:39] gdrewb-valve commented on #1142
Closing until we see reports that somebody is still affected by it.

[2017-07-13 18:39] #1142 closed, assigned to danginsburg

[2017-07-14 01:32] bugsuse commented on #1260
I have the same problem. are you solved it?

[2017-07-14 04:20] bugsuse opened #1270 "[Linux] dota can not launch when using steam"
I have trouble getting the logo and then crash when running DOTA 2 on openSUSE 42.2.

I downloaded and installed steam and dota2 yesterday.

the information for error as fllow:

`Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Looking up breakpad interf

[2017-07-14 05:46] anhmiuhv commented on #1101
I installed Linux Mint 18.2 on my steam machine with gtx 960 and i5 intel 6400T 2.2GHz 8Gb RAM

My fps is 34 on lowest setting.

On steam os, I got 112 fps on highest settings. Can I do anything about this?

[2017-07-14 05:50] anhmiuhv opened #1271 "[Linux] FPS drop when switched from Steam Os to Linux Mint 18.2"
I installed Linux Mint 18.2 on my Steam Machine with gtx 960 and i5 intel 6400T 2.2GHz 8Gb RAM

My fps is 34 on lowest setting.

On steam os, I got 112 fps on highest settings. Can I do anything about this?

 GTX 960 driver: 4.5.0 NVIDIA 384.47

``

[2017-07-14 12:32] kisak-valve commented on #1270
Hello @bugsuse, did you try completely closing steam, then start steam from a terminal with `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam` (from https://github.com/ValveSoftware/steam-for-linux/issues/5000)?

[2017-07-14 12:36] kisak-valve commented on #1271
Hello @anhmiuhv, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-07-14 13:56] admshao opened #1272 "Can't get steam info. Help -> System Info."
With my steam in pt-BR everytime i click to colect system info steam crashes. 100% reproductible.
nothing on dmesg

Arch linux, nvidia blob on gnome 3.24 with intel cpu.

[2017-07-14 13:59] admshao commented on #922
Hey guys. it still crashes for me like every day i have to cast the games. 1 or 2 months during kiev major and Manilla masters it started to crash on Windows too for my co-workers. TI 7 is just around and we'll cover the event. We hope it will be fixed by then since UI changes are coming to Ability Draft with this hunting us for months on Captains Mode.

As soon as the scaleform UI goes out from t

[2017-07-14 14:05] kisak-valve commented on #1272
Hello @admshao, this issue is already being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/4964. You might be able to get better behavior by adding the steam-native-runtime package and running steam-native instead of steam-runtime.

Closing as a duplicate.

[2017-07-14 14:05] #1272 closed, assigned to nobody

[2017-07-14 14:09] admshao opened #1273 "[Linux] Game goes down to 15 fps when certains heroes are on screen"
Hey, i get it. It's absolutely specific and weird but its happening.

Since a couple of weeks ago it started to happen and every match it's a specific and different hero. I was casting TI qualifiers iirc when i first saw this (took long to report because wasn't on linux pc anymore) I can spectate any match on Watch tab and still at least 1 hero per game will slow my fps down to 15fps. Exactly 15.

[2017-07-14 14:13] admshao commented on #1272
Oh. I see. Working fine on Native.

2017-07-14 11:06 GMT-03:00 kisak-valve <notifications@github.com>:

[2017-07-14 14:43] anhmiuhv commented on #1271
The gist: https://gist.github.com/anhmiuhv/71beb5f531a98978c1b3217f7b8c09c7

[2017-07-14 14:57] bugsuse commented on #1270
@kisak-valve  Thank you! It's working for me! But the game crashed when I launch the steam by desktop. And the steam update today, the trouble exist yet.

[2017-07-14 15:00] kisak-valve commented on #1270
Glad to hear that helped. Closing as a duplicate of https://github.com/ValveSoftware/steam-for-linux/issues/5000.

[2017-07-14 15:00] #1270 closed, assigned to nobody

[2017-07-14 15:01] anhmiuhv commented on #1271
Nevermine, I downgrade my NVIDIA driver from version 384.47 to version 381.22 . And after the immortal 3 update it run fine. Thank you guys.

[2017-07-14 15:44] bugsuse commented on #1270
But the trouble happened even though running steam with STEAM_RUNTIME_PREFER_HOST_LIBRARIES =0 steam after dota and steam updated.

[2017-07-15 03:05] RandomHeroLich commented on #1196
So the issue just got worse.  Now Spectre's ultimate crashes me.  It had to be a recent change with Spectre or maybe the set that person was using.

[2017-07-15 08:42] admshao opened #1274 "[Linux] Game randomly crashed on main menu after leaving options"
dmesg:
[  969.594124] traps: dota2[12834] trap stack segment ip:7f67d756295e sp:7ffcff31aa70 error:0 in libtcmalloc_minimal.so.0[7f67d754d000+21000]

System Info:
https://gist.github.com/admshao/137d89e0a9d35e635d9282285bcf2031

[2017-07-15 09:21] admshao opened #1275 "[Linux] Game crashed on loading after accepting the match"
Normal match. Dota crashed and leave this on Dmesg [ 3214.784846] traps: dota2[13012] general protection ip:7f7f62679033 sp:7ffd6a970848 error:0 in libvulkan.so.1.0.51[7f7f6265f000+47000]

I couldn't reconnect and got penalty for this. Great.

System Info: https://gist.github.com/admshao/137d89e0a9d35e635d9282285bcf2031

[2017-07-15 14:27] AngryPenguinPL commented on #1275
Hey. In my observation I see that most Linux games have issues with bleeding edge distro like Arch...
For some users help launch Steam games with Steam-runtime not with system runtime like doing in arch or manjaro. Maybe you can check this game with Steam-runetime enabled?

[2017-07-15 21:38] RankoR commented on #1197
Hi guys, is there any progress or ETA? Still the only way to play in 4K is exclusive full screen.

BTW, for anyone else who experience the same problem: you can minimize the game with Cmd + H shortcut. Cmd-Tab does not work in this mode.

[2017-07-15 22:46] Turmfalke2 commented on #1258
Maybe try the following:
Launch steam from a terminal (I assume that is what you did for the output above)
Open '/home/bsoh/dota/steamapps/common/dota 2 beta/game/dota.sh' and insert a new line with "set -x" after the first line ("#!/bin/bash").
Then attempt to launch dota and post the new output.

set -x should echo every command of the bash script as it execute, hopefully showing why the argumen

[2017-07-17 02:37] bensohyh commented on #1258
Thanks kisak-valve for the update!
Sorry, I haven't been responsive.  But I have taken steam off centos onto ubuntu instead.
Since Turmfalke2 replied, I decided to give centos another try and oddly it worked again even without the bash. I guess it was somehow fixed. Thanks again everyone!

[2017-07-17 02:37] #1258 closed, assigned to vlv-henryg

[2017-07-17 18:34] Patrick-Edouard opened #1276 "Mouse wheel issue"
Hi guys.

# Disclaimer
 My issue is maybe linked to this one : https://github.com/ValveSoftware/Dota-2/issues/1264 but I'm not sure so not to polute this dude thread, I make my own.

# The issue
So I got a dual monitor and when I play dota on my primary screen and click the mouse wheel, it makes my mouse cursor move to the right. and I can't move it in any way until I release the mouse wheel and t

[2017-07-17 23:39] ankhharu commented on #1275
I'm having the same problem. I accept the match, and while loading, dota crashes. I'm on Fedora 25, this just started today. Worked fine last night.

**[ 3572.530874] dota2[2340]: segfault at 55b75f4009e8 ip 00007fdebe133b76 sp 00007ffc6dbeda60 error 4 in libjemalloc.so.2[7fdebe12f000+43000]**

I can recreate the issue if I start a bot match in steam-runtime. However, bot match opens fine in steam

[2017-07-18 03:49] djspacewhale commented on #1275
I've been having this issue for a week, and my past 4 games have all been abandons despite my rebooting my computer after dota freezes everything up on map load and loading back in 10 minutes into the match. stuck in low prio for the seeming future because of this craziness. running Fedora 26, mystro256's amd mainline kernel. I understand you can't appeal low prio appointments, but it'd be fantast

[2017-07-18 13:52] moraesmark opened #1277 "[Linux Mint] LoadSystemAndDependencies(): AppSystemDict: Error in Connect () of interface 'GameUI011'"
Hello, I guess I'm back again, with another issue, as title says.

the dump-log-txt file -> https://gist.github.com/moraesmark/5824bb84494fe9d69d84139fef539d52
the system info-> https://gist.github.com/moraesmark/31177965ff47ee3664c2ce35c2af7b67

I checked previous issues with the same title, and the solutions put forward in the past did not work for me.

[2017-07-18 14:09] kisak-valve commented on #1277
Hello @moraesmark, in your log, `failed to dlopen "/home/elzero/.local/share/Steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/librendersystemgl.so" error=libudev.so.0: wrong ELF class: ELFCLASS32` is the strongest indicator of what's gone awry here.

Can you confirm that Dota 2 can find a 64 bit variant of libudev.so.0?

[2017-07-18 14:46] moraesmark commented on #1277
For some reason, steam won't even start up anymore for me.
If i get it started up, any suggestion on how i could confirm that dota 2 can find the libudev.so.0 variant?

[2017-07-18 14:50] danginsburg commented on #1277
@moraesmark libudev.so.0 should be in the steam runtime

~/.steam/steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu/libudev.so.0
~/.steam/steam//ubuntu12_32/steam-runtime/i386/lib/i386-linux-gnu/libudev.so.0

I wonder if you are hitting an issue with STEAM_RUNTIME_PREFER_HOST_LIBRARIES.  You could try running steam with STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0.

[2017-07-18 14:55] moraesmark commented on #1277
Alright, so:
1) ~/.steam/steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu/libudev.so.0 -> amd64 folder does not exist, along with the subdirectories.
2) ~/.steam/steam//ubuntu12_32/steam-runtime/i386/lib/i386-linux-gnu/libudev.so.0 -> does exist
3) I am currently running my steam with STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0, but the error still persists.

Also updated my nvidia driver agai

[2017-07-18 14:57] danginsburg commented on #1277
The lack of the amd64 directory is likely the problem.  I'm not sure how you ended up in that state.  Can you try reinstalling steam?

[2017-07-18 15:01] kisak-valve commented on #1277
It should be noted that `steam --reset` in a terminal should give the intended re-bootstrap of steam in this case, not purging and re-installing the steam package.

[2017-07-18 15:21] moraesmark commented on #1277
Alright, Success! The re-bootstrap of steam worked. And Dota is playable. The lib files are back where they need to be.

Thank you, @kisak-valve and @danginsburg!

Please close the issue :) thanks again!

[2017-07-18 15:30] kisak-valve commented on #1277
Closing per the last comment.

[2017-07-18 15:30] #1277 closed, assigned to nobody

[2017-07-18 18:20] gdrewb-valve commented on #1271
Thanks, closing.

[2017-07-18 18:20] #1271 closed, assigned to nobody

[2017-07-18 18:20] gdrewb-valve commented on #1273
Do you have a match ID and a time window for something you were spectating that shows the issue?

[2017-07-18 18:21] gdrewb-valve commented on #1274
I wasn't able to get this to happen.  If you can narrow it down to a more repeatable cause that would help a lot.

[2017-07-18 18:34] gdrewb-valve commented on #1275
@admshao, do you get the crash if you don't use vulkan?

[2017-07-18 18:35] gdrewb-valve commented on #1276
As you mention multimon in the past this has been related to SDL not getting accurate monitor positions.  Assigning to the SDL dev to take a look.

[2017-07-18 18:41] gdrewb-valve commented on #922
This is a Scaleform issue and not a Linux/Mac issue so I'm not sure what's happening in the larger team.   I believe the long term plan is to switch away from Scaleform but that'll happen when it happens, nobody knows when exactly that'll occur.

[2017-07-19 14:08] jeanlain opened #1279 "[mac] dota 2 does not propose high resolutions on 5K iMac"
The selectable resolution is capped at 1440x2560 while my display is 2880x5120.

config: iMac with radeon pro 580, macOS sierra 10.2.5.

A workaround is to disable scaling @2X in the macOS monitor settings. Only then are higher resolutions proposed, but it's not a satisfying solution (considering that other source games do propose max resolution without the need to mess with monitor settings).

[2017-07-19 14:31] kisak-valve commented on #1279
This is functionally the same issue as #1197. Closing in favor of the existing issue report.

[2017-07-19 14:31] #1279 closed, assigned to nobody

[2017-07-19 17:33] moraesmark opened #1280 "[Linux Mint] Dota and Steam crash"
Alright, I'm back again.

So within 24 hours of my last post [https://github.com/ValveSoftware/Dota-2/issues/1277], I had in-game connection disconnect, so I closed Dota 2, and shut down steam, and restarted my router, and restarted steam, steam initiates and closes. Then, I start it again and it starts updating, and steam log-in appears, and all my steam settings are reset to default, and Dota is

[2017-07-19 19:10] gdrewb-valve commented on #1280
I'm not sure if you're reporting a Dota issue or a Steam issue.  It sounds like this is a Steam issue in that Steam forgot state after the crash?  Did Dota work properly after that?  If so you'll want to file this in steam-for-linux.

You can post a request to get your LP changed at dev.dota2.com although I haven't seen that happen very often.

[2017-07-19 19:24] moraesmark commented on #1280
I'm not sure where the report belongs to either, because I'm not sure if the in-game disconnect was valid, when my internet was working fine, since i had discord active. But I have been experiencing regularly in game server disconnects randomly. And the steam issue follows that. I have forward this post in the steam-for-linux, and dev.dota2.com.

Feel free to close this then

[2017-07-19 19:26] kisak-valve commented on #1280
The steam part of this might be related to https://github.com/ValveSoftware/steam-for-linux/issues/5030 / https://github.com/ValveSoftware/steam-for-linux/issues/5035.

[2017-07-19 19:26] gdrewb-valve commented on #1280
Steam losing your install state should be a separate thing so having them take a look separately is good.  Game disconnects are happening on all platforms and the larger team is looking at that so I'll close this out.

[2017-07-19 19:26] #1280 closed, assigned to gdrewb-valve

[2017-07-20 13:38] 3guboff commented on #1261
I have problems with run steam with steam-native on Ubuntu:

[code]

[2017-07-20 17:39] admshao commented on #1275
@AngryPenguinPL I was using steam-runtime.

@gdrewb-valve Will test again soon

[2017-07-20 17:43] admshao commented on #1273
Hey, I finally could fire up dota again and retested all matches i remembered to see this happen. Mostly SG matches on TI closed qualifiers. 3282193242 for example. But watching the replay now gave me no fps issues. Something after the Treasure III update seems to fixed the issue for me. I had no System update in the meantime

[2017-07-20 17:43] #1273 closed, assigned to gdrewb-valve

[2017-07-20 17:45] admshao commented on #1274
iirc i was disabling Animated Portrait in the menu when that happened. I tried to click every setting possible and couldn't trigger it again. It was indeed very random crash that never happened before. I'll close this and reopen if i got a crash again.

[2017-07-20 17:45] #1274 closed, assigned to nobody

[2017-07-20 17:49] admshao commented on #1276
It still affects all dual-monitors players. The work around we are using is to set on launch options this string. sdl_displayindex # (where # is the index of your monitor)

[2017-07-20 17:51] gdrewb-valve commented on #1276
Just for clarity in this issue the need for sdl_displayindex is a completely separate thing than what happens with the mouse wheel.

[2017-07-20 17:57] admshao commented on #1276
That's interesting. I just ever used that command line to that my mouse
wheel doesn't behave exactly as he reported. No command crazy mousewheel.
with commend perfect mousewheel

2017-07-20 14:51 GMT-03:00 Drew Bliss <notifications@github.com>:

[2017-07-20 18:09] gdrewb-valve commented on #1276
That would be something like #286.  @Patrick-Edouard, can you confirm whether using -sdl_displayindex affects your mousewheel behavior?

[2017-07-20 18:33] admshao commented on #1275
Vulkan or GL.. Played 1 game on each and had no crash. Maybe it's ok now after latests patches

[2017-07-20 18:34] gdrewb-valve commented on #1275
We'll hold this open for a bit and see if it happens on future games for you.

[2017-07-20 23:21] illtech commented on #1175
Also got this issue for 3 games in a row.

Specs:
OS: Arch Linux 4.11.9-1-ck-haswell
CPU: Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz
RAM: 16 GB
GPU: GeForce GTX 770
GPU driver: nvidia 381.22-4 (from arch repo)
DE: xmonad

- Also noticed runes showed up on the mini-map but not in the main game play area.
- If you spam clicked in random spots around where the rune would be, you could pick it up.
- Tri

[2017-07-22 17:22] jeanlain opened #1281 "macOS: replays of matches on local host do not appear in the list"
I played several games (against bots) on my iMac set as local server.
Replay files are saved in the correct folder, but do not appear in the watch/downloads section.

Curiously, some replays appear. Those that do have names like "2536724802.dem". Some that do not are named like "auto-20160730-0028-dota-Jeanlain.dem"
If I rename the latter like the former, the replay file appears in the list, but d

[2017-07-23 18:47] visrey opened #1282 "[macos] Unable to watch friends game stuck in loading screen and gets timed out after 2 min or more"
When I try to spectate the match of anyone in my friend list dota stuck on loading screen for very long time and get Timed out dialog after long time. Not able to interact with dota after stucked in loading screen.

[2017-07-24 15:30] pw00t commented on #1270
for how long we need to run STEAM_RUNTIME_PREFER_HOST_LIBRARIES =0 steam each time we want to play Dota? issue haven't been fixed so far.

[2017-07-24 18:30] gdrewb-valve commented on #1281
I passed this on to the larger team and the response was that it's expected behavior.  The only replays that will show up by default are those with a real match ID and that doesn't include local auto-recorded replays.

[2017-07-24 18:30] #1281 closed, assigned to nobody

[2017-07-24 18:32] gdrewb-valve commented on #1282
Issues like this are reported on all platforms so the larger team will handle it and there won't be a lot of status here.  Can you post a gist of your system info from Steam plus a summary of what your internet connection is like?  Also a console log of attempting to spectate might show interesting error messages.

When there's more information I'll pass it on to the larger team.

[2017-07-25 16:18] sidzxxy opened #1283 "MIC NOT WORKING"
My mic is not working in the game even though it shows the bar movement in the test mic in steam settings and the audio tab of Dota 2 but it doesn't work in online matches and shows a diagonal red line on the mic icon.

[2017-07-25 16:43] kisak-valve commented on #1283
Hello @sidzxxy, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-07-26 07:00] RatchetCoding commented on #1261
I can confirm the same issue. I can play at stable 120-140 fps, but after 20-30 minutes the game drops down to 30-40fps with short freezes. It is unplayable at that point and I have to restart the game. Then everything is back to normal for 20-30min before it starts again.

I haven't yet found if a certain action ingame triggers this. I have tried the `steam-runtime` and the `steam-native` package

[2017-07-26 08:30] jgouth opened #1284 "Huge FPS issues MAC OS"
For last 25ish days, I think after a update, the mac OS got completely screwed with FPS.

I used to AT LEAST stabilize with ~ 50-60 fps but now its always 12-30.

Please help valve.

[2017-07-26 15:02] gdrewb-valve commented on #1284
This seems like a duplicate of the open Mac perf issues.  Do you have something specific that those don't cover?

[2017-07-26 17:47] Sidai-13 commented on #1284
+1 similar issues here. Used to run at 60fps max settings. Now I am on lowest settings with the game stabilizing at about 20fps after 10-15min. Have tried verifying game cache as well as full reinstalls of steam and Dota 2.

 Model Name: iMac
 Model Identifier: iMac17,1
 Processor Name: Intel Core i5
 Processor Speed:	3.3 GHz
 Number of Processors: 1
 Total Number of Cores: 4
 L2 Cache (per Core):

[2017-07-27 18:27] gdrewb-valve commented on #1283
Closing pending more info.

[2017-07-27 18:27] #1283 closed, assigned to nobody

[2017-07-27 18:28] gdrewb-valve commented on #1284
Closing in favor of open issues like #1101 and #1188.

[2017-07-27 18:28] #1284 closed, assigned to nobody

[2017-07-27 18:29] gdrewb-valve commented on #1282
Closing pending more info.

[2017-07-27 18:29] #1282 closed, assigned to nobody

[2017-07-27 18:29] gdrewb-valve commented on #1275
Closing as this doesn't seem to have happened again.

[2017-07-27 18:29] #1275 closed, assigned to gdrewb-valve

[2017-07-27 18:30] gdrewb-valve commented on #1284
Also referencing #1259 to keep things linked.

[2017-07-29 03:18] 8e7 opened #1285 "[Mac] Dota2 Lost connection to steam."
Recently I've had problems loading my dota2, I then called steam support and they told me to use the steam beta client. I did and then my dota2 loaded, but it had an error message on top saying "Lost connection to steam". I've restarted my computer and steam, made sure this problem is dota2 specific, even re-downloaded dota2, but nothing works. Please help!

<img width="1440" alt="2017-07-29 11 17

[2017-07-29 06:16] gdrewb-valve commented on #1285
I'll pass this on to the Steam team.

[2017-07-29 08:42] VelorumS opened #1286 "[Linux] Invisible mouse cursor in the player's perspective while replaying/spectating"
While watching a replay or spectating a live game in the player's perspective his cursor isn't visible.

Can see green/red on-ground effects of him clicking.

Can see my cursor.

I've tried both Unity and Gnome Shell DEs.

[code]

[2017-07-29 09:56] sethdusek opened #1287 "Dota2 does not save resolution preferences upon restart"
[Video](http://i.shibe.ml/bug.webm)

Basically, upon restarting the dota client your resolution preferences will be reset. This is super annoying for me as I have to change it everytime I start the client otherwise my laptop can't handle dota at 2k resolution

[2017-07-29 10:22] Physium commented on #1287
Same issue with me. On OSX El Captian.

[2017-07-29 16:26] gdrewb-valve commented on #1286
This isn't a platform-specific issue and the larger team will handle it.

[2017-07-29 16:26] #1286 closed, assigned to nobody

[2017-07-29 16:27] gdrewb-valve commented on #1287
Can you post your full system info from Steam, your launch options and a console log of dota starting up?

[2017-07-29 16:41] QuiteSeriousGuy commented on #572
This issue is still standing. I have over 10 tabs with the same region, can't exit because I'm the last one as my colleagues have said.

![image](https://user-images.githubusercontent.com/3491904/28746475-bc334f12-74bf-11e7-9915-5cb03b5c5b54.png)

[2017-07-29 18:19] Physium commented on #1287
Mine would be:

**System Info**
[code]

**Launch Options:**
None at all.

**Console Log Upon Start Up:**
[code]

Hope this helps. Do let me know if u prefer it to be in a better format or whatsoever.

[2017-07-29 18:22] visrey commented on #1282
I am not facing this issue now after the update.

[2017-07-30 08:52] abenz1267 opened #1288 "Ubuntu 16.04, Focusrite Scarlett 2i2: Sound issues when opening settings screen"
Hello,

when opening the settings menu the sound gets broken, as in: massive amount of sound artifacts, as if the bitrate is broken.

Regards

[2017-07-30 15:42] gdrewb-valve commented on #1288
Dota uses SDL for sound support, assigning to the SDL dev.

[2017-07-30 19:00] Ace5040 commented on #1261
Can confirm this too
latest drivers
amd 8350
nvidia 1060
archlinux
10-30 min and then unplayable
with -gl all ok

[2017-07-30 19:44] admshao commented on #1261
I had this on arch 4.11 with nvidia 381 and steam beta tested on july 27
and happened every single game.

Yesterday i played a lot and got no issues. Upgraded to 4.12 nvidia 384 and
exited steam beta. Dota also had some updates.

On Jul 30, 2017 16:00, "Ace5040" <notifications@github.com> wrote:

[2017-07-30 20:34] Ace5040 commented on #1261
not fixed
384, 4.12
31 min and lags started

[2017-07-31 20:06] gdrewb-valve commented on #1287
If you look in your Dota installation directory under the cfg subdir do you have any files that start with 'user' and end with '.vcfg', such as user_slot0.vcfg?  If so and you delete them (which will delete your personal configuration) does that resolve the issue?

The config files could also be coming from the cloud so this may not help.

[2017-08-01 00:40] sethdusek commented on #1287
![](http://i.shibe.ml/QmVtao7nmXcwG7445x7vgRgiCDHQ1iRCcoz1ZmooLCnL7x.png)

I got that error. Soon after an update came and I'm guessing it retrieved my config files from the cloud. It does not seem to fix the issue

[2017-08-01 00:42] gdrewb-valve commented on #1287
Can you list which user_*.vcfg files you have present?  The initial error you got should be related to user.vcfg or user_slot0.vcfg.

[2017-08-01 00:44] sethdusek commented on #1287
user_keys_default.vcfg
user_keys_dev_default.vcfg
user_keys_slot1.vcfg
user_keys_slot2.vcfg
user_keys_slot3.vcfg

[2017-08-02 05:03] ramma opened #1289 "[Linux] Short film contest videos don't play."
The short film contest voting page only shows a black space where the video is expected to be.

![20170801220232_1](https://user-images.githubusercontent.com/2745346/28858423-3e5748e4-7705-11e7-8638-9cbd478740f9.jpg)

[System info](https://gist.github.com/ramma/925cc19fb6fd7805979e)

Side note - When does voting close? I don't have easy access to other OS's to vote, and the workshop link in the bl

[2017-08-02 12:14] kisak-valve commented on #1289
Possible duplicate of https://github.com/ValveSoftware/Dota-2-Vulkan/issues/214.

[2017-08-02 16:53] ramma commented on #1289
That bug says it works in OpenGL, but that's what I'm using and get no videos.

[2017-08-02 17:13] Patrick-Edouard commented on #1276
Hi, sorry for some reason this notification ended up in spam.

So this -sdl_displayindex # works great thanks you.

[2017-08-02 17:28] Patrick-Edouard commented on #1276
Actually after restarting the game, I can't put it on my main screen anymore.

Tried with both -vulkan and without and with # from 0 to 3.

[2017-08-02 17:56] gdrewb-valve commented on #1276
Try adding -phased_window_create also.

[2017-08-02 18:15] r3pek commented on #1289
I tried with Vulkan and OpenGL and it doesn't work on any of them

[2017-08-02 18:17] gdrewb-valve commented on #1287
In the Steam client right-click on Dota in your library list and select Properties.  In the Updates turn off Steam cloud.  Does that make any difference?

[2017-08-02 19:14] r3pek opened #1290 "Results not working"
Title says it all

![20170802201151_1](https://user-images.githubusercontent.com/3050556/28890493-2b84a620-77bf-11e7-95aa-e897322fc41f.jpg)

[2017-08-02 20:28] kisak-valve commented on #564
Possibly improvement in SDL related to the original issue: https://hg.libsdl.org/SDL/rev/393fa47cb702

[2017-08-02 21:08] gdrewb-valve commented on #1290
This isn't a Linux/Mac issue (although you didn't include any system info), the larger team will take a look.

[2017-08-02 21:08] #1290 closed, assigned to nobody

[2017-08-02 23:56] jazztickets commented on #922
I'm assuming the new spectator draft screen for TI doesn't use scaleform at all? It no longer crashes for me on linux.

[2017-08-03 00:02] gdrewb-valve commented on #922
Correct, more usage of Scaleform has been removed.  There are still some situations where it can be used but things are closer to running entirely without it.

[2017-08-03 00:39] jazztickets commented on #1289
Works for me fine in Vulkan and OpenGL

System Info:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/95ce9e4e293f9e082227e6bb428b48cfec781b06/gistfile1.txt

[2017-08-03 00:41] gdrewb-valve commented on #1289
The Steam team believes they know what's going on.  The next Steam beta client will have a change to address it.

[2017-08-03 01:34] gdrewb-valve commented on #1289
The beta Steam client update is live, give it a try.

[2017-08-03 01:50] r3pek commented on #1289
Anything we could use to check if we got the update? like and md5 of some changed file or something? 'cause I don't think I got the update (and the videos are still not playing).

[2017-08-03 01:53] gdrewb-valve commented on #1289
When you look at your Steam client settings, in the Account tab there's a "Beta participation" section.  What does that say?

[2017-08-03 02:06] ramma commented on #1289
Restarted and got the beta updated, but the video area is still black. Not sure if there's much of use, but here's a console log where I clicked through a few pages of videos.

[console.log.txt](https://github.com/ValveSoftware/Dota-2/files/1195780/console.log.txt)

[2017-08-03 02:22] r3pek commented on #1289
@gdrewb-valve Steam Beta client participation :) (or something like that)

[2017-08-03 02:46] gdrewb-valve commented on #1289
I'll pass this on to the Steam team.

[2017-08-03 12:47] anhedonia-he commented on #1259
+1
I tried to reinstall Dota2 but it's no use.
Not only Dota2
L4D and other steam games also drop fps

[2017-08-03 15:51] Patrick-Edouard commented on #1276
Seems to depend a lot on the display setting now. It's really effective with desktop friendly mode but not with the windowed anymore.

Thanks for the help.

[2017-08-03 15:51] #1276 closed, assigned to icculus

[2017-08-03 17:25] jazztickets commented on #922
Well, I dare say this issue can finally be closed unless more reports show up.

[2017-08-03 19:04] Plagman commented on #1289
Can anyone still affected by black video issue post the terminal output? You'll need to fully shut down Steam and start it from a terminal in order to also get Dota's output into that terminal.

[2017-08-03 19:18] r3pek commented on #1289
[steam_log.txt](https://github.com/ValveSoftware/Dota-2/files/1198340/steam_log.txt)

Can't really see anything special

[2017-08-03 23:41] Plagman commented on #1289
Can you confirm whether today's Beta update fixes the issue?

[2017-08-03 23:59] r3pek commented on #1289
@Plagman Yes. It works with Steam runtime now.

Any pointers to what it was so that it can work with native runtime too?

[2017-08-04 00:07] Plagman commented on #1289
There was an internal timing issue in Steam's code that shouldn't really be affected by what other libraries are loaded. I would guess that there is a different unrelated issue with the web component's dependencies using the native runtime.

[2017-08-04 00:18] r3pek commented on #1289
@Plagman ok, it's working on native too. My bad. You can close this now.

[2017-08-04 01:11] ramma commented on #1289
I'm still getting the black screen.

[terminal.txt](https://github.com/ValveSoftware/Dota-2/files/1198979/terminal.txt)

[2017-08-04 01:25] Plagman commented on #1289
Are you able to watch community broadcasts in the Steam client? Can you re-try the Dota short film scenario after having watched a broadcast in the client?

[2017-08-04 01:33] ramma commented on #1289
Unless a update came after my last comment, I think I just hadn't gotten the latest. Had to restart Steam 3-4 times before the update install progress window was shown, and videos are working now. Thanks!

[2017-08-04 01:39] kisak-valve commented on #1289
You can tell steam to check for updates immediately with the `Steam` -> `Check for Steam Client Updates...` menu option.

Thanks for retesting, closing.

[2017-08-04 01:39] #1289 closed, assigned to gdrewb-valve

[2017-08-04 12:56] VishnuSaketh opened #1291 "Dota 2 crashes on start without an error on mac"
I get this when i open the terminal file
/Users/vishnusaketh/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/bin/osx64/dota2.app/Contents/MacOS/dota2 ; exit;
Vishnus-MacBook-Air:~ vishnusaketh$ /Users/vishnusaketh/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/bin/osx64/dota2.app/Contents/MacOS/dota2 ; exit;
FATAL: /Users/vishnusaketh/Library/Applicat

[2017-08-04 17:02] gdrewb-valve commented on #1291
Can you post your full system information from Steam?

Launching from the command line is not setting up paths properly so that's not expected to work.  There's a shell file called dota.sh up a couple of directories which should do the proper setup.

You should also check the system error logs and see if there's something there.

[2017-08-04 19:39] jazztickets opened #1292 "[Linux] Can't pause spectator games."
Hitting F9 or clicking the pause button at the bottom doesn't do anything. It does work however after hitting the Rewind 10 Seconds button. However once you hit "Go Live", it stops working again.

[2017-08-04 22:59] gdrewb-valve commented on #1292
This isn't a Linux issue, I'll pass it on to the larger team.

[2017-08-04 22:59] #1292 closed, assigned to nobody

[2017-08-05 05:33] RankoR opened #1293 "No Valve default guides on macOS"
There are no no Valve's default hero guides on macOS Sierra for most (or maybe all) heroes (see screenshots).
https://i.imgur.com/mxuSq2b.jpg
https://i.imgur.com/hcHXdcg.jpg

[2017-08-05 06:25] gdrewb-valve commented on #1293
I doubt this is a Mac-specific issue, I'll check with the larger team.

[2017-08-05 12:11] VishnuSaketh commented on #1291
What do you mean by full system information from Steam?
I tried opening it in the offline mode from steam and it works perfectly fine. But as soon as i go online it crashes and it does not give me any error.

[2017-08-05 15:58] gdrewb-valve commented on #1291
In the Steam client under the Help menu there's a System Information option.  Copy that text into a gist here.

[2017-08-05 20:14] VelorumS commented on #1286
Fixed now.

[2017-08-06 02:27] VishnuSaketh commented on #1291
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookAir7,1
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
    CPU Family:  0x6
    CPU Model:  0x3d
    CPU Stepping:  0x4
    CPU Type:  0x0
    Speed:  1600 Mhz
    4 logical processors
    2 physical processors
    Hype

[2017-08-06 04:12] gdrewb-valve commented on #1291
Dota isn't catching any errors which frequently means its a system problem, such as with the OpenGL driver.  You'll also want to check the system error logs (https://discussions.apple.com/thread/6479662?start=0&tstart=0) and see if there's anything there.

[2017-08-07 07:54] sethdusek commented on #1287
Doesn't seem to. Should I disable cloud and delete the vcfg files (excluding user.vcfg?)

[2017-08-07 15:19] gdrewb-valve commented on #1287
You can give it a try but as the error is related to user.vcfg, which you say you don't have, that's really the critical file.

[2017-08-09 04:53] vadi2 opened #1294 "Fullscreen setting is not remembered"
Every time I start dota, it uses "Borderless window" instead of "Desktop-friendly fullscreen" as I have previousluy changed it to.

This is on Ubuntu 17.04.

[2017-08-09 09:52] Vuccappella opened #1295 "Can't play dota - Can't connect to dota2 server/Establishing Connection."
I need your help, perhaps this is not mac related but I don't know where to turn regarding this..

I can't play dota at all for the past 2 days.

I'm receiving high packet loss and Establishing Connection to server every time I try to join a lobby. It seems that it's something connected to dota as I have no ISP problems and every other game I have loads as usual (plus the streams from TI run perfe

[2017-08-09 22:03] Vuccappella commented on #1295
Closing this as it seems to be resolved, I'd still be interested to understand what this was due to.

[2017-08-09 22:03] #1295 closed, assigned to nobody

[2017-08-10 10:56] sethdusek commented on #1287
I'm sorry for the confusion but the issue of dota not launching was fixed when the files were retrieved from the cloud. However the resolution config not saving hasn't been fixed yet

[2017-08-10 14:47] Almyk commented on #488
When I try to type in Korean inside the game client it doesn't work properly and only rubbish is printed.
For example when writing 안녕하세요 inside the game client this appears: 'ㅌ;;ㅁ'gtㅌㄹ'y
English works fine though, but it would be great if I could communicate in Korean as well.

I use Korean (Hangul) (IBus) as my input source (IBus 1.5.11) and it works to write in Korean outside of Dota 2.

Below i

[2017-08-10 19:01] jonglae commented on #488
Steam is  hate linux

2017. 8. 10. 오후 11:48에 "Almyk" <notifications@github.com>님이 작성:

[2017-08-14 18:41] gdrewb-valve commented on #1294
Can you post a gist of your console output when running Dota?

[2017-08-15 21:17] kokoc opened #1296 "[Mac] Dota 2 is crashing on start"
Dota popup saying "starting" "syncing" and exiting the game.

Here is my setup: https://gist.github.com/kokoc/d20f25f8d3459eaf712d2914081e03a8

The output from console:

[code]

[2017-08-15 23:28] gdrewb-valve commented on #1296
Have you validated your Dota install?

Other than that it doesn't look like Steam is able to launch Dota so the Steam team might need to take a look.

[2017-08-16 06:13] vadi2 commented on #1294
[code]

[2017-08-16 06:17] gdrewb-valve commented on #1294
You changed the resolution setting before you exited Dota?  I don't see anything unusual in the output about a failure to save.  It might or might not be interesting that you have a profile migration, does that occur every time?

[2017-08-16 06:24] vadi2 commented on #1294
I changed it back to desktop-friendly fullscreen from borderless window - did not change the resolution setting.

Yeah, that message does seem to come up again:

[code]

[2017-08-16 06:34] gdrewb-valve commented on #1294
Have you checked your launch options?

[2017-08-16 08:02] sebstrgg opened #1297 "(MAC) Performance / Freezing / Lags / FPS drops"
Hi,

I just unboxed my second MBP (late-2016 / i7-6700HQ / 16GB RAM / Radeon Pro 450) yesterday, since I returned the other one as DOA (exat same specs) when DOTA 2 wasn't playable at all.

The fps is very unstable causing freezes and very poor performance, making it almost impossible to play.

I've tried all available resolutions based off of different scaling in the display settings without any

[2017-08-16 15:02] kxxoling opened #1298 "Dota2 reconnect never works."
I cannot reconnect to any game since an update before TI7, it just stuck at "start new connection" screen and still not fixed yet. I've been reported several times because of this!

[code]

[2017-08-16 16:00] gdrewb-valve commented on #1298
Connection issues like this occur on all platforms and the larger team is handling them.  You can post at dev.dota2.com or check the other existing posts there.

[2017-08-16 16:00] #1298 closed, assigned to nobody

[2017-08-16 16:05] gdrewb-valve commented on #1297
Likely the same problems as the other open Mac perf and stability issues here (#1259 / #1208 / #1188 / #1101).

[2017-08-16 23:22] WtGuy opened #1299 "[Linux] Chat de-focuses when typing the letter 'h'"
Hello,

For some reason, when using the letter **h** in any chat box, whether it be the chat in game, in picking phase, or at the main menu, the chat boxes de-focus (IE, close or exit out of). It's akin to pressing the **escape key** and is preventing me from ~~flaming~~ talking in game in any way. I've added a gif to help represent this.
Note that in this gif, I attempt to type the word 'publish'

[2017-08-16 23:57] gdrewb-valve commented on #1299
No repro for me.  This is likely some SDL input weirdness, assigning to the SDL dev.

[2017-08-17 01:24] yiytan92 opened #1300 "[MAC] Disconnected after Establishing Connection loading page whenever I accept a Match"
I'm having the same issue as #1109

I had no problem playing games 24 hours ago, so i'm not exactly sure what had changed that I suddenly can't connect to games after accepting matches. I was playing on SEA servers with my party of friends, after that when I choose the auto region, which is US West in my case, I can't connect to games I accepted anymore. Has there been any updates on fixing this?

[2017-08-17 02:09] cglas commented on #1219
Same problem here, to elaborate more, Some times the pan Grip is turn on by itself too. Mouse cursor seems to clicks on the previous click spot on menus even though we can still see our cursor moving. On my end, edge pan never worked before. My heros can still move while right click, but when it comes to menus , adding skill, options, shops, the problem is as state above. Anotther problem is that

[2017-08-17 07:18] gdrewb-valve commented on #1300
Closing duplicate.

[2017-08-17 07:18] #1300 closed, assigned to nobody

[2017-08-17 07:41] yiytan92 commented on #1300
Is there any update on the fix? Has there been an influx of this problem recently? Why is this happening all of a sudden when I could play normally just yesterday?

[2017-08-17 07:48] gdrewb-valve commented on #1300
As mentioned in #1109 there won't really be status here since the team running this tracker isn't involved in the work.  The larger team looks at failures regularly and hopefully will find something.

[2017-08-17 07:49] yiytan92 commented on #1300
I don't know if this will help, but even when I try to create a lobby that's connected to US West servers, I'm having the same problem. Maybe if you could forward them this error log, it would help them? Thanks. Pasting the console output here:

[Console] Deleting lobby data from disk.
Telling Steam it is safe to update the app
[SplitPacket]       client =[A:1:4169393160:8982[0]:  split packet seq

[2017-08-17 14:51] kokoc commented on #1296
Yes, I tried to validate the files.
Manual launch of dota.sh works as expected

[2017-08-17 16:03] gdrewb-valve commented on #1296
If you disable the Steam overlay does that help when launching from Steam?

[2017-08-17 16:44] zpostfacto commented on #1300
@yiytan92, it looks like you are getting really high packet loss (47%!) coming back from the relay.  All of your packets appear to be reaching the relay successfully.  So the question is where is that packet loss happening, and why has it gotten worse recently?

There are a few clues that point me in a particular direction.  First, the fact that the packet loss is only from the relay to you, and n

[2017-08-17 17:55] yiytan92 commented on #1300
@fletcherdvalve
http://steamcommunity.com/id/yiyang92

This is the output from running traceroute 162.254.195.71, I couldn't run it with --udp and --mtu because it wasn't one of the available commands, reading online people are suggesting mac users use the ping command to find the MTU

Usage: traceroute [-adDeFInrSvx] [-A as_server] [-f first_ttl] [-g gateway] [-i iface]
	[-M first_ttl] [-m max_tt

[2017-08-17 18:21] zpostfacto commented on #1300
Well running a traceroute back to you from the relay definitely shows a bunch of packet loss in the other direction.  I'm asking the guys who run our network if they understand what's going on.

[2017-08-17 18:43] zpostfacto commented on #1300
There have been some problems with the Coresite Internet Exchange in LA, and it got a lot worse last week.  We've changed some routing, and I'm not seeing that packet loss coming back to you.  Try again!

We're working on better monitoring so we can detect these sorts of localized problems, which occur constantly around the world, but right now we don't really know about them quickly enough.

[2017-08-17 18:49] yiytan92 commented on #1300
@fletcherdvalve I can confirm that I can create a lobby on the US West servers and connect to it now. Thank you so much for following up so diligently on this. This is actually my first time encountering a server side issue, they're always difficult to handle that's why it's important for us gamers to report things with much specificity as possible. Again, thanks so much to you and the valve serve

[2017-08-17 18:51] zpostfacto commented on #1300
Yeah networking is really complicated to debug.  Thanks for providing good technical information.  It's really frustrating to see people complaining and having a bad time, and at the same time providing zero useful information to help diagnose the problem.

[2017-08-19 14:47] auraz commented on #662
Same issues, 60 fps internal display, 20 fps external.

[2017-08-20 09:48] slis commented on #1261
same here
debian jessie 4.9 384 nvidia vulkan
about 30mins and it drops from 120 to 50 with lags... restarting dota2 fixes it another 30mins
i7 3770
GTX680

[2017-08-20 23:32] tukkek opened #1301 "[Linux] Cannot reconnect after disconnect"
I cannot reconnect into a match after I disconnect for any reason - either manually or automatically (connection loss, for example). This happens 100% of the time and has been happening at least for months now. The green button to reconnect is shown as normal, with the "abandon" red button right above it but clicking to reconnect shows "connecting..." without any further effects, even if I wait fo

[2017-08-20 23:33] tukkek commented on #1301
My system information:

[code]

[2017-08-20 23:38] tukkek commented on #1301
Renaming to follow the same standard as other issues on the tracker.

[2017-08-21 03:26] gdrewb-valve commented on #1301
It's extremely unlikely that this is Linux-specific, people report connection issues on all platforms regularly.  I'll send this on to the larger team and see if they want to take a look.

[2017-08-21 03:47] tukkek commented on #1301
Will you reconsider this statement, please? I don't think this is a connection issue at all. I think for some reason the Linux client isn't even attempting to reconnect due to some interface bug. This is clear by the fact that upon restarting the client the reconnection works fine (it's not a connection issue) and this doesn't seem to be happening on any other platform.

Of course, I know nothing

[2017-08-21 03:57] gdrewb-valve commented on #1301
It's most definitely a connection issue in the sense that you clicked on the button to connect and it didn't work.  The underlying cause could be anything, of course, but the user-facing description of the problem is a connection issue.  The reason I stress this is because the many people report connection issues and are not doing any technical analysis of the problem, they just know that when the

[2017-08-21 04:46] lewishack opened #1302 "OS X: [Panorama] DispatchAsyncEvent"
`[Panorama] DispatchAsyncEvent backlog, failed to dispatch all this frame. Queue depth:`

I keep getting this message endlessly popping up in console, usually 10 minutes into a game and it makes the game really choppy. The game starts stuttering frame-by-frame and doesn't stop.

[Specs](https://support.apple.com/kb/sp620?locale=en_US)

[2017-08-21 06:07] gdrewb-valve commented on #1302
The message is displayed because the game is running slowly, not the other way around.  There are several OSX perf issues open here already, a couple discussing a similar perf loss over time, so I'm going to close this out.

[2017-08-21 06:07] #1302 closed, assigned to nobody

[2017-08-21 18:21] tukkek commented on #1301
Well, you are disregarding it as a Linux issue, which I strongly believe to be the case - but of course you're the one familiar with Dota and the client port, not me, I'm just an outsider looking in. This doesn't seem to be the same issue as the one you linked for me because I am able to reconnect to the game.

The reason why I think this must be a Linux issue is that if absolutely nobody on Windo

[2017-08-22 17:52] Antiiee commented on #1285
Same issue here, I tried steam beta update because steam repeatedly prompted "Steam client out of date" when starting the dota 2 client. That made it possible to start, but not connect to steam. I tried reinstalling steam and Dota 2 but nothing seems to help. I can play on a ubuntu pc on the same network but not on my macbook.

<img width="1440" alt="screen shot 2017-08-22 at 19 43 09" src="https:

[2017-08-22 19:58] kokoc commented on #1296
No, I think I played with every possible option available in steam to run dota.

[2017-08-25 17:13] RankoR opened #1303 "[macOS] Where to report Steam issues?"
Hi, I don't see where to report Steam client issues related to macOS — is there any special public bug tracker?

[2017-08-25 17:23] RankoR opened #1304 "[macOS] Can't minimize when Steam overlay is active"
When Steam overlay is active, I can't minimize the game window with Cmd+H shortcut in exclusive mode (see https://github.com/ValveSoftware/Dota-2/issues/1197). If I close the overlay, it works fine.

[2017-08-25 17:25] RankoR opened #1305 "[macOS] Steam webview is too small on 4K+"
That seems to be all-platforms issue. Steam WebView in overlay mode does not scale to the resolution and is too small: https://i.imgur.com/Olg17Mg.jpg

[2017-08-25 18:08] gdrewb-valve commented on #1303
You can report all kinds of Steam issues on the community pages.

http://steamcommunity.com/groups/SteamClientBeta/discussions/

[2017-08-25 18:08] #1303 closed, assigned to nobody

[2017-08-25 18:09] gdrewb-valve commented on #1305
Please post at http://steamcommunity.com/groups/SteamClientBeta/discussions/

[2017-08-25 18:09] #1305 closed, assigned to nobody

[2017-08-25 18:09] gdrewb-valve commented on #1304
Please post at http://steamcommunity.com/groups/SteamClientBeta/discussions/

[2017-08-25 18:09] #1304 closed, assigned to nobody

[2017-08-25 22:17] gdrewb-valve commented on #1301
The devs found what they believe to be the issue -- and it turned out to be Linux-specific -- and an upcoming update will have a fix.

[2017-08-26 09:46] ghost commented on #1301
Great, thanks for letting us know :).

[2017-08-26 16:27] tukkek commented on #1301
Called it ;) thanks again for the great tech support here on GH, hope it didn't waste much of anyone's time to figure that out! Have a great weekend Drew!

[2017-08-26 18:10] TomTervoort commented on #1207
I encountered the same problem with multiple different games: the moment a pop-up appears indicating that I received an item (trading card), the game crashes. The following is logged in `/tmp/gameoverlayui.log`:

	Sat Aug 26 17:14:01 2017 UTC - GameOverlay process started: pid: 7250
	Sat Aug 26 17:14:01 2017 UTC - GameOverlay process connecting to: pid: 7208
	Sat Aug 26 17:14:01 2017 UTC - BuildID

[2017-08-26 18:36] phoerious commented on #1299
I can reproduce this issue. I can't type h anymore. On the pick screen, it starts searching for heroes as soon as I type h and in game it does weird shit. I don't dare typing anymore.

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-47

[2017-08-26 21:53] DelBianco commented on #1207
Since Aug 1st i've been running Dota2 through Steam's Desktop Environment and seams that this way everything runs easier, Dota2 is running in a better framerate and with better graphics, since then this crash did not occur any more, the only problem is to logout from my current (GNOME) Desktop Environment and login back into Steam, besides this i could play and watch TI7 in a great quality.

Keep

[2017-08-27 10:40] kovetskiy commented on #922
Today I have spectated match and dota instantly crashed, message in dmesg:
[code]

[2017-08-27 14:48] igoraguiar commented on #1220
This error happens because on Linux the file names are case sensitive. This bot has a script importing the file RoleLogic.lua, but it should be importing Rolelogic.lua.

[2017-08-27 18:17] gdrewb-valve commented on #1220
File loading errors like that are unfortunately fatal so it's expected that if the bot scripts have a bug like that it'll cause the game to end.  We recognize that's not ideal but it isn't easy to fix with the current way the scripting support runs.

[2017-08-28 16:52] TestingLitmus commented on #1220
Thank you for looking into this and providing a response, I very much appreciate the time and effort!

[2017-08-28 17:06] DelBianco commented on #1301
I had this issue once or twice, i thought it was my connection, but is the same case, close dota2 then run it again i could connect again.

Looking up for the fix :)

Thanks.

[2017-08-29 08:23] ghost opened #1306 "Frequent libpangoft* segfaults while spectating"
Dota frequently segfaults while spectating games, with messages such as below spamming the console:

Error in GetKernedCharWidth FT_Load_Glyph of 0x44 / 0x25 in Dota Hypatia Bold (symbol 0): 0x83
Error in GetCharRGBA FT_Load_Glyph of 0x6e / 0x51 in Verdana (symbol 0): 0x86

Also, the minimap option to display heroes as text either doesn't render the text at all or it's missing characters, such as

[2017-08-29 16:14] glubsy commented on #1175
It just happened to me today, I disconnected from a game, then tried to reconnect (was near the end of the match). Then while trying to reconnect I had a bunch of network errors in console and couldn't reconnect (can't recall the messages, but it was pinging clusters or something, it was probably not on my side anyway).
I restarted the game, then reconnected, and the models were misplaced. It real

[2017-08-29 18:19] gdrewb-valve commented on #1306
These suggest problems in the font data on your system as they're core Freetype font handling errors.  Validate your Dota install, although that may not help.  It's also possible this is another manifestation of #922, the known scaleform problems when spectating.

[2017-08-30 16:19] Patrick-Edouard commented on #1276
@gdrewb-valve Any chance this could mow work on Vulkan thanks to this commit https://hg.libsdl.org/SDL/rev/a9bd2625fa01 ?

[2017-08-30 16:45] gdrewb-valve commented on #1276
Dota's Vulkan support doesn't go through SDL so it wouldn't be affected.

[2017-08-30 21:22] r3laxand3r opened #1307 "[MacOS] Constant FPS drops on MacBook Pro 15-inch 2017."
Hello,

While running DOTA2 on my MacBook Pro it suffers constant FPS drops to 30~40.

I think one of the reason is it's using the built-in graphic Intel HD Graphics 630 1536 MB.

I've turned off the energy saving preference and the Mac triggers the Radeon Pro 560 4096 MB on but I don't think DOTA2 is using the Radeon Pro 560 4096 MB graphic.

Is there any console command or ways to force DOTA2 to

[2017-08-30 22:12] gdrewb-valve commented on #1307
Dota just uses OpenGL on Macs so it'll use whatever GPU your OpenGL support is set up to use.  You'd need to change system settings to control the GPU in use.

You can use the "sys_info" console command to see what OpenGL reports as being used.

[2017-08-31 01:57] r3laxand3r commented on #1307
@gdrewb-valve
How would I change the system settings to control which GPU in use? I only have the option to trigger the discrete GPU by ticking the energy preference off.

Sorry new with MacOS here.

Here's the sys_info from my dota2:

Render system:  OpenGL
Driver Name:  OpenGL UNKNOWN (01021c09)
Driver Version: 0.4.0.1
VendorId / DeviceId:  0x1002 / 0x67ef
SubSystem / Rev:  0x0 / 0x0
DXLevel:  1

[2017-08-31 02:09] gdrewb-valve commented on #1307
I don't know what system settings there are for multi-GPU control, you'd want to ask on a macOS forum.

The OpenGL info is less than clear.  If the number after UNKNOWN in the driver name has some PCI info in it it may identify Intel integrated graphics (0102) but it's hard to say for sure.  The vendor and device info identifies an RX 460 so the AMD card may be in use.  Again you'd need to ask App

[2017-08-31 19:21] Turmfalke2 opened #1308 "[Linux] Lost connection to Steam"
hi,
Since today, when ever I start Dota 2 it just shows me a "Lost connection to Steam" message and everything in the UI is filled with place holders. Outside the game I can see my friends steam just fine and navigate the shop without issues.
Since there is no reddit thread with thousands of upvotes, I assume this is not an issue with the server/all platforms.

![dota_placeholder](https://user-ima

[2017-08-31 19:58] gdrewb-valve commented on #1308
What version of the Steam client are you running?  Have you applied any Steam client updates recently?

[2017-08-31 20:04] gdrewb-valve commented on #1308
Also do any other Steam games that offer Steam features, particularly 64-bit ones, work?

[2017-08-31 20:14] Turmfalke2 commented on #1308
Steam built is from Aug 28 2017 at 11:55:28, I haven't manually applied any updated, but I guess the one from 28 was automatic?

Not sure what you consider "work" in this context. I can launch Civ V, but I don't think that requires a special steam connection.

[2017-08-31 20:22] gdrewb-valve commented on #1308
Right, you'd need to try a different game which actually uses a Steam connection, such as showing your Steam friends or Steam store items or the like.  Then you'd look and see if you're getting SteamAPI_Init errors there too.

[2017-08-31 20:25] Turmfalke2 commented on #1308
I mean I am already getting them outside of the game, even before I log in. Assuming this is a network connectivity issue, can you tell me the ip it is trying to reach?

[2017-08-31 20:28] zpostfacto commented on #1308
Info like that can be found in [steam_folder]/logs/connection_log.txt.  Can you share that, as well as a link to your steam community profile?  We can compare your records on our backend.

[2017-08-31 20:34] Turmfalke2 commented on #1308
[connection_log.txt](https://github.com/ValveSoftware/Dota-2/files/1268406/connection_log.txt)

http://steamcommunity.com/profiles/76561198117772231

[2017-08-31 20:45] zpostfacto commented on #1308
Doesn't look like it's a networking problem.  I don't see any actual connection issues.  In your steam client, at the bottom, you will see "No connection" if you get disconnected from Steam.  I think the real problem is that it isn't able to initialize the APIs for some reason, and the client is interpreting that as "not logged into steam".  I think it's confused about the AppID that is running or

[2017-08-31 20:49] Turmfalke2 commented on #1308
E: Can't ping:
CM01-TYO.cm.steampowered.com (45.121.186.10)
CM-01-WAW1.cm.steampowered.com (155.133.230.34)

Can ping:
cm03-ord.cm.steampowered.com (162.254.193.46)
cm01-ord.cm.steampowered.com (162.254.193.6)
cm02-ord.cm.steampowered.com (162.254.193.7)
CM02-LON.cm.steampowered.com (162.254.196.41)

The steam client considers me connected, I haven't deleted steam_appid.txt, looking into that next

[2017-08-31 20:52] zpostfacto commented on #1308
Would be interested in the contents of content_log.txt after you verify, if it thinks any files mismatched and needed to be re-fetched.

[2017-08-31 20:54] Turmfalke2 commented on #1308
After removing ".steam/steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/steam_appid.txt" and restarting steam I get this:
[2017-08-31 22:24:28] Verifying installation...
[2017-08-31 22:24:28] Performing checksum verification of executable files
[2017-08-31 22:24:29] Verification complete
[2017-08-31 22:51:15] Shutdown
turmfalke@Industria ~ $ steam
Setting up Steam content in /home/turmfa

[2017-08-31 21:55] Turmfalke2 commented on #1308
Ok, the issue with steam not launching was related to me doing some updates in background, including the nvidia driver. This is no finished and steam starts again, unfortunately the --reset killed the log directory.
However the original issue still persists, as in SteamAPI_Init fails.

Validating Dota 2 found one 1 file that failed to validate.
[content_log.txt](https://github.com/ValveSoftware/Do

[2017-08-31 21:56] gdrewb-valve commented on #1308
The Steam team mentioned that they thought you might have a corrupt Steam install.  If you want to try, can you completely remove Steam and reinstall it?

[2017-08-31 22:17] Turmfalke2 commented on #1308
Isn't that what --reset does? I am not looking forward to downloading all games again, but I could do that if necessary.

[2017-08-31 22:46] kisak-valve commented on #1308
You should be able to move the ~/.local/share/Steam folder somewhere safe, and test its replacement without deleting your steamapps folder. If that does not help, you can either move it back into place or copy the steamapps folder into the new instance while steam is not running to avoid redownloading all your games.

[2017-08-31 22:49] Turmfalke2 commented on #1308
Doing that right now, given that it is getting late it might have to wait until tomorrow evening (in ~18h)

[2017-09-01 05:19] Turmfalke2 commented on #1308
Moving ~/.local/share/Steam away didn't fix the issue:

[S_API FAIL] SteamAPI_Init() failed; Sys_LoadModule failed to load: /home/turmfalke/.steam/sdk64/steamclient.so
[S_API FAIL] SteamAPI_Init() failed; unable to locate a running instance of Steam, or a local steamclient.so.

However ~/.local/share/Steam is now at 8.2M compared to the 2G it was before considerably smaller.

[2017-09-01 05:40] Turmfalke2 commented on #1308
OK, I also moved ~/.steam away and recreated it, ~/.steam/steam is now a symlink to ~/.local/share/Steam unlike before. I guess at some point in the last few years this changed and would explain why steam was always trying to remove ~/.steam/steam.

It appears that after restoring steamapps I have once again a working steam installation and Dota 2 no longer has trouble connecting to the SteamAPI.

[2017-09-01 16:36] gdrewb-valve commented on #1308
The librenderdoc error is expected and harmless.  Does the registry assert occur every time you start?

[2017-09-01 16:53] Turmfalke2 commented on #1308
No, I can't reproduce it.
I just get a dbus asserts now:
process 1889: arguments to dbus_connection_ref() were incorrect, assertion "connection->generation == _dbus_current_generation" failed in file ../../dbus/dbus-connection.c line 2656.
This is normally a bug in some application using the D-Bus library.

[2017-09-01 16:58] gdrewb-valve commented on #1308
Thanks.  There are a number of dbus issues open in steam-for-linux so I'm going to close this out.

[2017-09-01 16:58] #1308 closed, assigned to gdrewb-valve

[2017-09-03 03:53] tukkek commented on #1301
This has been fixed for a couple of days now and the reconnect button is working as intended! Thanks for everyone involved in the fix and I'm happy to have been part of getting this solved on the Linux client.

As the original reporter, I'm closing this bug. Sorry if this isn't standard Valve procedure but of course any Valve dev is welcome to reopen it if necessary (goes without saying, really...

[2017-09-03 03:53] #1301 closed, assigned to zpostfacto

[2017-09-03 04:37] gdrewb-valve commented on #1301
Actually having the OP close an issue after verifying the fix is best since then we can be sure it did actually fix their problem.  Thanks for closing the loop.

[2017-09-03 19:12] Turmfalke2 opened #1309 "Segfault in libnvidia-glcore.so.384.59 when accepting match"
hi,
I just crashed, while I was waiting for the last out of the 10 players to accept the match.

[Sun Sep  3 21:07:48 2017] GlobPool0[12060]: segfault at 88 ip 00007fec2a09597b sp 00007fec3b7bc430 error 4 in libnvidia-glcore.so.384.59[7fec28c6e000+1487000]
[Sun Sep  3 21:07:51 2017] systemd-coredum (12467) used greatest stack depth: 12048 bytes left

https://pastebin.com/Z64HPpjw

[2017-09-03 22:05] gdrewb-valve commented on #1309
As that's a crash in NVIDIA's OpenGL driver there isn't much that Valve can tell about it.  It's possible it's a Dota or Steam runtime problem but you'll also want to report this to NVIDIA in case it's something on their end.

[2017-09-04 00:19] Findam opened #1310 "No Hero Selection When Creating a Lobby With Game Mode: Limited Heroes"
This is on Linux, but I have seen the same issue on a friends Mac.

When creating a Lobby, if I set the Game Mode to Limited Heroes I get the following issue:

* The DOTA2 logo is a simple two tone version (red background, dark red logo, black bar across the bottom of the screen).
* The time when I would be picking a hero the screen is briefly black, then I can see a faint, dark instance of the ma

[2017-09-04 20:45] sethdusek commented on #1287
It seems the issue has been fixed and it applies the resolution settings properly, however opening the settings menu it still says resolution is 2560x1440 even if it's 1366x768

[2017-09-04 22:06] ghost commented on #1306
Managed to get a crash that wasn't discarded:
Mon Sep  4 21:11:42 2017 GMT: file ''/tmp/dumps/crash_20170904141036_1.dmp'', upload yes: ''CrashID=bp-f7029e1b-6270-484d-b946-332822170904''

I set  "+r_sync_scaleform_frame_and_render 1" and disabled the Steam overlay but the issue still persists.

I also tested my system versions of libpango* and libfreetype* but that didn't do anything except make

[2017-09-05 15:43] Turmfalke2 commented on #1309
@gdrewb-valve I understand, but I fear this report is going to be as useless to them as it is you. Also I am not aware of nvidia having a public bug tracker.
Maybe if more people encounter this and we can somehow reproduce it, there might be a chance to getting it fixed.

[2017-09-05 15:50] Turmfalke2 commented on #1310
I can confirm this, but I somewhat doubt this is a linux/mac only issue. Unfortunately limited heroes has a reputation for being horribly buggy. If you are a new player you are probably better of playing all pick and avoid picking heroes marked with a complexity of 3.

[2017-09-05 17:33] ncortines opened #1311 "[macOS] Can't launch the game"
Hi,

Launching the game using the Steam client is not possible. The games crashes immediately.

It's possible to launch the game from the terminal using the "dota.sh" script. This is the output:

<pre>
tacos-iMac:game taco$ ./dota.sh
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Callin

[2017-09-05 19:13] gdrewb-valve commented on #1310
This happens on Windows also, the larger team will take a look at some point.

[2017-09-05 19:13] #1310 closed, assigned to nobody

[2017-09-05 19:22] gdrewb-valve commented on #1311
No repro for me on my Mac but #1296 is somebody else seeing an early crash (although with a very different error).  Your crash is deep in Apple software so Valve isn't going to be able to get much info from it.

What version of the Steam client are you using?  Has Dota ever worked on this system?  What changed since Dota last worked?

[2017-09-05 19:27] gdrewb-valve commented on #1306
That crash is in libfreetype.so.6.11.1 so it looks like corrupt state that crashes multiple versions of Freetype.  It could be your font cache or the fonts themselves but you'd have to check on a Freetype forum to get more info there.

I'd recommend again that you validate your install if you haven't already.

[2017-09-06 04:29] stevew00dy opened #1312 "Bug with Stats"
Hi, I dont know who to speak to about this but I've played about 600 games now and according to o my player profile stats I've had over 4980 first blood.

Anyway to get this updated / fixed ??

[2017-09-06 04:31] gdrewb-valve commented on #1312
You'll want to post at dev.dota2.com

[2017-09-06 04:31] #1312 closed, assigned to nobody

[2017-09-06 05:42] ncortines commented on #1311
I've been playing Dota on this system for more than a year, and nothing has changed on the system during this time.

The launcher did recently stop working, most likely during one of the last updates (1 or 2 weeks ago)

Steam client info:
Built Aug 28 2017, at 12:01:50
Steam API: v017
Steam package versions: 1503954609

[2017-09-07 14:52] hipunk commented on #862
Still happens & no crash logs in the help menu. 😂

[2017-09-07 17:11] ncortines commented on #1311
Crash report:

<pre>
Process:               dota2 [14799]
Path:                  /Volumes/VOLUME/*/dota2.app/Contents/MacOS/dota2
Identifier:            dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:        ??? [14796]
Responsible:           dota2 [14799]
User ID:               501

Date/Time:             2017-09-07 19:06:41.753 +0200
OS Version:

[2017-09-07 18:00] kisak-valve commented on #1311
Hello @ncortines, since that backtrace hints the crash is involving Apple's video driver and the steam overlay, you could try disabling the steam overlay in Dota 2's properties and see if that has an effect.

[2017-09-07 18:52] natbro commented on #1311
this is definitely the overlay, my crash as part of the new support for the Metal overlay.
short term, please disable the overlay.
you might also try upgrading to a newer macOS - 10.11.6 if you want to stay with 10.11 *may* fix this depending on your system.
we have a broader fix coming in Steam beta asap, i'll update this bug when that happens

[2017-09-08 17:38] ncortines commented on #1311
I unchecked the "Enable the Steam Overlay while in-game" under Dota 2's Properties and Steam's In-Game Preferences: Same result.

The new crash report looks very similar:

<pre>
Process:               dota2 [22266]
Path:                  /Volumes/VOLUME/*/dota2.app/Contents/MacOS/dota2
Identifier:            dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:

[2017-09-09 00:59] mikupandi opened #1313 "Dota 2 crashing when starting steam client. (Arch linux)"
Since i upgraded my system, Dota 2 are crashing just when i connect with steam client, if i open the game from sh file, does't not matter and it open as normal, but i don't have conection with steam, if steam is started with it, then both crashing suddenly.

This is the error in terminal with steam client opened:

[2017-09-09 02:54:54] Performing checksum verification of executable files
[2017-09-

[2017-09-09 01:19] kisak-valve commented on #1313
Hello @mikupandi, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Possible duplicate of https://github.com/ValveSoftware/steam-for-linux/issues/5161.

[2017-09-09 01:38] mikupandi commented on #1313
@kisak-valve
Here's my System Information:
 https://gist.github.com/mikupandi/0216f5acac4c0cc5116eb9fe0ce0e4f2

I'll gonna check the other issue, in my case, all games are working except Dota 2 but i don't have CSS:GO.

[2017-09-09 07:18] mikupandi commented on #1313
@kisak-valve I checked the error in that post, and yes, i have the same trouble with de buffer overflow and only when the Steam client tried to connect:

*** buffer overflow detected ***: /home/miku/.local/share/Steam/ubuntu12_32/steam terminated
======= Backtrace: =========
/usr/lib32/libc.so.6(+0x6a5e0)[0xf71fd5e0]
/usr/lib32/libc.so.6(__fortify_fail+0x38)[0xf7291ec8]
/usr/lib32/libc.so.6(+0xfd0

[2017-09-10 06:42] migrome commented on #305
Has anyone managed to launch Workshop Tools using wine?

[2017-09-11 13:53] kisak-valve commented on #1313
Thanks @mikupandi, let's track this issue on the steam-for-linux issue tracker at https://github.com/ValveSoftware/steam-for-linux/issues/5161. Closing as a duplicate.

[2017-09-11 13:53] #1313 closed, assigned to Plagman

[2017-09-11 15:26] natbro commented on #1311
odd - it doesn't look like disabling the overlay actually disabled it - the "gameoverlayrenderer.dylib" is the overlay trying to spin up - or something about that disabling didn't take properly. in any case we hope to have a beta update today that resolves this. I would also suggest upgrading from 10.11.1 to a more recent version - 10.11.6 is the newest and best version of 10.11 and carries a lot

[2017-09-11 19:14] glubsy opened #1314 "[Linux] [Nvidia] GPU crash after end of match"
After clicking the "continue" button once a game has ended, my screen dims to black, I still see the dota2 cursor moving around fine, but everything else is frozen. Can't switch workspaces or try to access a terminal emulator to kill the program.
I have to hit ctrl+alt+f2 for several minutes until I can finally access a tty, by that time usually dota2 has died, along with the Steam client, and the

[2017-09-11 21:41] gdrewb-valve commented on #1314
Thanks, if you hear anything from NVIDIA please update this issue.

Also if you use OpenGL instead of Vulkan do you still have problems?

[2017-09-12 00:05] glubsy commented on #1314
I have just started using OpenGL again today. Will report back later if the crash happens or not.

[2017-09-12 17:03] Geradot opened #1315 "[Linux] Full hanging of the game"
Hi. I have a problem: full hanging of the game at the beginning of the match (after the presentation of the towers). I can't kill the process. After reboot the PC this match is loaded and continues without problems.

UPD: I noticed that the problem manifested itself when I tried to change the screen resolution of the game several times in a row.
My system:
`System:    Host: antergosPC Kernel: 4.12

[2017-09-12 17:24] gdrewb-valve commented on #1315
You'll want to check with NVIDIA also.

[2017-09-12 17:28] Geradot commented on #1315
@gdrewb-valve so, what you mean? What I must do? What the info I must give yet?

[2017-09-12 17:30] gdrewb-valve commented on #1315
Go to a forum for NVIDIA support and report the issue there also.

Note in #1314 where you commented that the poster's problem is an NVIDIA issue and not a Dota issue.

[2017-09-12 17:33] Geradot commented on #1315
@gdrewb-valve Oh, maybe it was a mistake. I just do not know what exactly is the problem. Yes, I'm sorry. I in vain commented on that topic :(

[2017-09-12 19:04] sianyu1 commented on #1285
Having the same issue. Scoured the web for a solution but there doesn't seem to be one. Seems like this has been going on for some time now.

[2017-09-13 10:05] imanuel91 opened #1316 "[Ubuntu 16.04] Dota2 crash/broken when running"
Hi, i have a problem when i want to running Dota2 its crash and close by itself.
I'm using Ubuntu 16.04.

The problem same like this : https://www.youtube.com/watch?v=Ej32zXiGztM

and i tracing it using terminal, i found :

`../common/pipes.cpp (766) : CClientPipe::BWriteAndReadResult: BWaitResult failed, disconnected
../common/pipes.cpp (766) : Fatal assert failed: ../common/pipes.cpp, line 766.

[2017-09-13 12:30] kisak-valve commented on #1316
Hello @imanuel91, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. In particular, please include any CrashIDs or minidumps related to this issue.

[2017-09-13 17:59] mrexot opened #1317 "[MacOS] Huge framedrops on new iMac 27" (2017)"
Hi, I have huge framedrops and freezes in dota (150-30 FPS) on my new iMac 27" 2017 (i5 7500, 3,4Ghz, 24GB RAM, 500GB SSD, Radeon Pro 570 4GB), macOS Sierra 10.12.6.

Game is almost unplayable in big fights, its impossible to quickly select multiple units using mouse etc. Need to fix this, I read numerous of similar reports for Dota under Mac. Tnx.

[2017-09-14 01:54] imanuel91 commented on #1316
hi @kisak-valve i've done add gist to this issue report. can u check it and help me?

[2017-09-14 02:10] mikupandi commented on #1316
@imanuel91 Can you add the whole output in terminal to a gist too?, I guess that this is the same error that a lot of people's getting with Steam Runtine and the games of Valve when these try to conect with the server.

[2017-09-14 02:11] imanuel91 commented on #1316
@mikupandi hello yes, i add the whole output in terminal. thankyou @mikupandi

[2017-09-14 02:15] mikupandi commented on #1316
@imanuel91 Yes, it's the same error reported in this post, check out:

https://github.com/ValveSoftware/steam-for-linux/issues/5161

*** buffer overflow detected ***: /home/imanuelmaranatha/.steam/ubuntu12_32/steam terminated
======= Backtrace: =========
/lib/i386-linux-gnu/libc.so.6(+0x67377)[0xf732d377]
/lib/i386-linux-gnu/libc.so.6(__fortify_fail+0x68)[0xf73bd6b8]
/lib/i386-linux-gnu/libc.so.6(

[2017-09-14 11:11] imanuel91 commented on #1316
@mikupandi ya its the same error, and still no update regards to this issue yet :(

[2017-09-14 16:52] 1Genera1 opened #1318 "[LINUX] Stuttering\low framerate, despite in-game fps counter showing stable 60+ frames"
Dota 2 on Linux Mint stutters like crazy, FPS is in 15-20 range, regardless of settings, despite in-game FPS counter showing 60+. CPU and GPU temps are around 60 degrees, I've disabled Steam overlay. Any ideas?

CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz
Linux Mint 18.2 Sonya (64 bit)
    Kernel Name:  Linux
    Kernel Version:  4.10.0-33-generic
    X Serve

[2017-09-14 17:35] ghost opened #1319 "[MacOS Sierra] Stuttering, FPS drops, unplayable"
Hi

On my machine on Windows 10 i get steady 120fps on ultra settings 1920x1080.
On MacOS 10.12.6 the game is unplayable, i get about 50-70 fps on ultra settings (sometimes they go up to 100), sometimes they drop to 20, They game also stutter alot.

Same problem exist for me in CS GO, but all non-Valve games work perfectly.

I am on Nvidia web driver newest version (378.05.05.25f01).

OS: Mac OS X

[2017-09-17 02:39] vonclutch opened #1320 "[Linux] freeze happen time to time"
Hey, since a long time i have some freeze( probably 20 everygame maybe more depending on how much i fight), i don't really now why, my game don't respond at all ( 1sec or less ) for more than a year from now even with new gpu and vulkan on ( i tried a fresh install, different drivers, ...  ).

This happen most of the time in teamfight. i have a game where this happen to me and note it ( MatchID 34

[2017-09-18 05:47] gdrewb-valve commented on #1316
Closing as this isn't a Dota issue.

[2017-09-18 05:47] #1316 closed, assigned to nobody

[2017-09-18 05:47] gdrewb-valve commented on #1317
Closing duplicate.

[2017-09-18 05:47] #1317 closed, assigned to nobody

[2017-09-18 05:50] gdrewb-valve commented on #1319
As you have issues in CS:GO the problem isn't a Dota issue.  As mentioned in the other Mac perf issues here there are known problems with Apple's OpenGL support that may explain what you're seeing.  You will want to report this to Apple also.

[2017-09-18 05:50] #1319 closed, assigned to nobody

[2017-09-18 05:50] gdrewb-valve commented on #1318
Does this occur when watching a replay?  When playing a locally-hosted bot game?

[2017-09-18 05:51] gdrewb-valve commented on #1320
If you look at the game's console output during times you see the freeze does it show anything?

[2017-09-18 06:50] jodaka commented on #1317
@gdrewb-valve what's the original issue to watch? I'm also experiencing huge frame drops (from 70 to 10-15) on latest macbook pro 15". And haven't experienced such problems on older macbook pro 13" from 2015, so I'm not even sure who to blade, Apple or Dota.

[2017-09-18 09:43] mrexot commented on #1317
I tested Dota 2 on my older Macbook Pro 15 on El Capitan and the situation is the same. I think, its problem of Dota itself, not Mac OS. Before, I was playing dota for 3 years without problems.

[2017-09-18 09:45] 1Genera1 commented on #1318
It happens while watching both live games and replays and in demo hero mode (which is locally hosted, I cannot check a full bot game right now)

[2017-09-18 12:44] vonclutch commented on #1320
This is all i have in my console at the end of 1 game, nothing is reccurent and still have multiple freezes during this one!

[code]

[2017-09-18 14:56] gdrewb-valve commented on #1317
@jodaka , search for "mac fps" on this tracker and you'll see a bunch of open issues.

[2017-09-18 14:59] gdrewb-valve commented on #1318
Can you also post console output?

[2017-09-18 15:01] admshao commented on #1318
Hey, from what i can tell from memory, closing the game and opennning again
fix it reliably.

my system info:
https://gist.github.com/admshao/989ebbab6c36b15fa7aa6863b7d76fce

Can't grap console output right now.

2017-09-18 11:59 GMT-03:00 Drew Bliss <notifications@github.com>:

[2017-09-21 07:34] Geradot commented on #1315
I mean, I solved the issue. Apparently, the problem was the unmounted swap partition in /etc/fstab because of what there was not enough memory.

[2017-09-21 15:09] gdrewb-valve commented on #1315
Good, glad you found the cause.  This is OK to close then?

[2017-09-21 19:35] gdrewb-valve commented on #1315
Closing.

[2017-09-21 19:35] #1315 closed, assigned to nobody

[2017-09-21 22:28] imp1sh opened #1321 "[Linux] [AMD] keeps crashing multiple times during one game"
Hi,

I have the following setup:

Ubuntu 17.04
Sapphire Nitro+ Radeon RX 580 Special Edition (not deluxe edition)
amdgpu-pro-17.30-465504
Kernel: 4.10.0-35-generic
Dota 7.06f with parameters "-vconsole -vulkan"
Intel i5-4460
Cinnamon Display Manager
Steam System Information: https://gist.github.com/imp1sh/2a42318098962ab0114d151486b2833c

I have major issues playing. Just did a game and I had 5(!)

[2017-09-21 22:41] kisak-valve commented on #1321
Hello @imp1sh, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. In particular, please include any CrashIDs or minidumps related to this issue.

[2017-09-21 22:45] imp1sh commented on #1321
Thank you. I updated the issue. The only thing I don't know how to find is where I can find CrashIDs or minidumps.

[2017-09-21 22:51] kisak-valve commented on #1321
Minidumps generated by steam and steam games are commonly found in /tmp/dumps. You may find some CrashIDs in the log at ~/.steam/error.log

[2017-09-22 05:47] gdrewb-valve commented on #1321
If you run without -vulkan does that reduce the frequency of crashes?

[2017-09-23 12:48] imp1sh commented on #1321
Haven't tried without -vulkan, yet. Here are the files you referred to kisak-valve.
[error.log](https://github.com/ValveSoftware/Dota-2/files/1326545/error.log)
[dota_crash_dump.tar.gz](https://github.com/ValveSoftware/Dota-2/files/1326544/dota_crash_dump.tar.gz)

[2017-09-23 14:52] kisak-valve commented on #1321
For reference, the attached minidump is a SIGSEGV in libpanorama.so (part of Dota 2).

[2017-09-24 19:07] imp1sh commented on #1321
I just removed amdgpu-pro and tried the non vulkan-ready amdgpu driver. It's more stable for sure. Still waiting for my first dota crash to come :-)

[2017-09-24 20:52] imp1sh commented on #1314
I just switched from amdgpu-pro to amdgpu and thus I also had to go back to OpenGL instead of vulkan. My last two game both crashed after game ended.
This is my system Information:
https://gist.github.com/imp1sh/2a42318098962ab0114d151486b2833c

[crash_20170924200530_1.dmp.tar.gz](https://github.com/ValveSoftware/Dota-2/files/1327750/crash_20170924200530_1.dmp.tar.gz)
[crash_20170924211140_1.dmp.t

[2017-09-24 21:10] kisak-valve commented on #1314
For reference, the first attached minidump is a SIGSEGV in libclient.so and the second minidump is a SIGABRT in libc-2.24.so coming from libparticles.so.

[2017-09-26 14:46] DaltonThompson opened #1323 "Client crashes when sorting joinable chat channels in user & custom games tabs."
I'm using Mac 10.12.6. Issue does not exist for regional chat tab.

[2017-09-26 16:57] gdrewb-valve commented on #1323
This sounds like the same thing as #862?  If you read that one does it describe what you're seeing?

[2017-09-27 16:45] gdrewb-valve commented on #1323
Closing as a duplicate.

[2017-09-27 16:45] #1323 closed, assigned to nobody

[2017-09-28 13:35] imp1sh commented on #1321
With admgpu driver also having crashes, frequency dropped a bit but still really annoying sporadic crashes. I will try to burn in my components even though I'm seeing those crashes in dota exclusively.

[2017-09-29 16:43] ChrisLauinger77 commented on #962
same here -phased_window_create and -vulkan not working:

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i7-3770K CPU @ 3.50GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3900 M

[2017-10-07 08:03] Storm-Engineer opened #1324 "Unable to join Matchmaking due to VAC"
I returned to the game after a long break.

I cannot play because I get a popup telling that "something is blocking VAC". I'm clueless about this.

 - Running official Steam for Linux
 - I did not temper with Dota or Steam files
 - I don't have any cheat program (for any game) installed
 - I was never VAC banned
 - Tried verifying game files to no avail

Arch Linux 64 bit

Apparently a huge number

[2017-10-07 15:36] Storm-Engineer commented on #1324
UPDATE: Found the cause for me.

Under DLCs the old "Reborn Beta" was still ticked. I tested several times, if ticked, I get VAC error, if unticked, all works fine.

[2017-10-08 11:27] swiftMag3 commented on #1297
+1
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro14,3
  Processor Name:	Intel Core i7
  Processor Speed:	2.9 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	8 MB
  Memory:	16 GB

Intel HD Graphics 630:

  Chipset Model:	Intel HD Graphics 630

Radeon Pro 560:

  Chipset Model:	Radeon Pro 560
  Type:	GPU
  Bus:	PCIe
  PCIe Lane Width:	x8
  V

[2017-10-09 21:45] ghost commented on #1299
Same problem on Arch. Really annoying.

EDIT: also using ckb-next.

[2017-10-10 11:43] Patrick-Edouard opened #1325 "Muting ignores people"
Hi,

I don't think the following is linux specific. I'm running on

- Fedora 26
- Gnome 3
- Nvidia 970 + latest blob driver

So I usually play with a couple of friends using third party chat application. Not to hear each other twice, we use to mute ourselves in the dota game.

It appears that using this features also ignores the muted friend, so wgile still seeing each other in our friendlist, we

[2017-10-12 14:51] LinconFive commented on #1236
@tayhaithian this could be work around ...
you can add outside dota2, which means just enter steam client, and then see your mail box on the top right corner of steam, there might be invite, click on it, and accept the friend invite.

[2017-10-14 01:19] gdrewb-valve commented on #1325
I've passed this on to the larger team.

[2017-10-14 01:19] #1325 closed, assigned to nobody

[2017-10-14 01:26] gdrewb-valve commented on #1236
I believe the current version of the Steam client has changed to no longer require access.  @tayhaithian, is this still an issue?

[2017-10-14 01:30] tycho commented on #1324
What's your Steam ID? I'll check what's going on in the backend.

[2017-10-14 02:34] gdrewb-valve commented on #1325
The initial response from the Dota team was that this was working as expected so that people you are ignoring can't harass you with Steam messages.  If you want to request changes to how things work you can post at dev.dota2.com

[2017-10-14 09:12] Storm-Engineer commented on #1324
My id is "stormhun".

Someone else also reported in a thread I made that unticking Reborn Beta fixed the issue for them. See here: http://steamcommunity.com/app/570/discussions/0/1489987634007440912/#c1489987634008667401

[2017-10-14 09:33] tycho commented on #1324
Aha. I think your issue may be caused by something else that was fixed just a couple of days ago. Let us know if it comes back.

[2017-10-14 09:33] #1324 closed, assigned to tycho

[2017-10-14 10:43] benhili commented on #1299
Same issue can be resolved by reconnecting keyboard for me still annoying though

[2017-10-16 11:42] Storm-Engineer commented on #1324
Just to confirm, it is fixed indeed. I can now search for game while the Reborn Beta DLC is enabled.

P.s.: Does the Reborn Beta DLC still actually do anything at this point? I see no change.

[2017-10-16 12:03] tycho commented on #1324
I believe the checkbox does nothing right now. So unchecking it was kind of a combined timing+placebo effect.

[2017-10-16 20:23] gdrewb-valve commented on #1236
Closing in the hope that this no longer applies.

[2017-10-16 20:23] #1236 closed, assigned to vlv-henryg

[2017-10-16 21:00] VicPetrov commented on #966
I've just had this after rebooting from a thermal throttle on a win10 system.
Everything as mentioned above teleporting units buildings underground etc.

[2017-10-17 10:22] Storm-Engineer commented on #1324
I don't think so. After unchecking fixed matchmaking, I checked it again to test and got error again - I repeated this 3-4 times and it was completely consistent.

But oh well. For now it works and that's the point. :)

[2017-10-19 21:11] RankoR opened #1326 "[macOS] Minimizing game with Cmd+H stops current action"
As the only way to play on 4K+ displays is using "Exclusive Fullscreen" (see #1197), I can minimize the game only using Cmd+H, Cmd+Tab does not work.

Scenario: make hero to do some action (move to point or farm creeps) and hide game with Cmd+H. At this moment hero cancels current action and stays AFK, like if I press "S" shortcut.

Is it a correct behaviour?

[2017-10-19 22:24] gdrewb-valve commented on #1326
Assigning to SDL dev.

[2017-10-21 17:13] vadi2 commented on #1294
I think it was indeed the launch options.

[2017-10-21 17:13] #1294 closed, assigned to nobody

[2017-10-21 17:13] WombatPygmy opened #1327 "High Sierra - Moving Mouse HALVES FPS"
On any map or even on the menu screens, whenever I move my mouse (either wired, bluetooth, or trackpad) I get a significant FPS drop.

**I have a video of this behavior here:**
https://www.dropbox.com/s/jneqm6c5525h7dl/Mouse%20Lag.mp4?dl=0

**System info:**
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro13,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Infor

[2017-10-21 18:26] gdrewb-valve commented on #1327
You should report this to Apple also.

[2017-10-21 19:44] WombatPygmy commented on #1327
@gdrewb-valve Will do.  Do you happen to know how to do that in regards to software that's not theirs?

[2017-10-21 21:32] gdrewb-valve commented on #1327
Report it against High Sierra and OpenGL as a system issue.

[2017-10-22 13:17] arthurmalakian opened #1328 "Game Cordinator kicking me from game"
I do keep losing my connection from game... the message that keeps poping up is "No Steam Logon" something like that. What do I do?

I think it got something to do with Ubuntu, i never had this issue when I used to run Windows

[2017-10-22 13:37] RankoR commented on #1326
@gdrewb-valve I've find out that it happens because of "H" key binding, so the window gets both "Cmd + H" and just "H" key press events ("Hold position"; this should not interrupt farming if auto attack is on, but in my case it's off).

Hope this helps :)

[2017-10-22 16:54] gdrewb-valve commented on #1328
Please post a gist with your full system info from the Steam client and also with console output from running a game.

[2017-10-23 04:37] Joelthezombie opened #1329 "[Linux] Dota opens on wrong monitor with no way of changing it."
OS: Mint 18.2 sonya
Kernel: x86_64 Linux 4.10.0-37-generic
Shell: bash 4.3.48
Resolution: 3840x1080
DE: Cinnamon 3.4.6
WM: Muffin
CPU: Intel Core i5-6600K CPU @ 3.9GHz
GPU: GeForce GTX 980 Ti
RAM: 16GB

Whenever I go to play Dota 2 it starts on my secondary monitor and the only way I've been able to fix it is to either change my primary monitor setting to be my secondary monitor (Which messes up m

[2017-10-23 20:04] gdrewb-valve commented on #1329
Are you using OpenGL or Vulkan?  If you aren't using Vulkan and you add -phased_window_create to your launch options does that help?

[2017-10-23 20:17] Joelthezombie commented on #1329
That worked thank you so much!

For anyone who may have this issue in future, I turned off vulkan support and my launch options look like this.

-sdl_displayindex 0 -phased_window_create -opengl

[2017-10-23 20:28] admshao commented on #1329
just -sdl_displayindex # solves the issue as reported before here a few
times. Even on vulkan

2017-10-23 20:17 GMT+00:00 Joelthezombie <notifications@github.com>:

[2017-10-23 20:30] gdrewb-valve commented on #1329
Some desktop environments need -phased_window_create and some people have specific problems with Vulkan (such as #962).  Closing this as the other issues are already open here.

[2017-10-23 20:30] #1329 closed, assigned to gdrewb-valve

[2017-10-24 14:30] imp1sh commented on #1321
Well this didn't help much. I threw the AMD GPU away, also Linux. Same system running macOS Sierra with Nvidia hardly any crashes.

[2017-10-24 14:30] #1321 closed, assigned to nobody

[2017-10-24 14:33] imp1sh commented on #1326
You can also switch to Desktop Friendly mode in video settings. Then you're able to get to the Desktop by pressing CMD + Tab. Don't how if it's actually a workaround but might be if what RankoR writes is true.

[2017-10-24 14:34] RankoR commented on #1326
@imp1sh there is no 4K resolution in Desktop friendly mode.

[2017-10-25 22:46] gdrewb-valve commented on #1328
Closing pending more info.

[2017-10-25 22:46] #1328 closed, assigned to nobody

[2017-10-27 11:16] KuriKai commented on #1299
I was using a logitech k270 wireless keyboard, never had a problem. Bought a new corsair k70 lux rgb today. and it has this issue.

[2017-10-27 22:20] Parduk commented on #985
![2017-10-28 01-17-01 ekran goruntusu](https://user-images.githubusercontent.com/19241802/32127216-ec1c7f0a-bb7d-11e7-9d3f-1ff8b99d8d1e.png)
Ubuntu 17.10 xorg x86_64 Kernel 4.13
This is very annoying issue, please fix this

[2017-10-28 07:22] WtGuy commented on #1299
Good call. I was also using a corsair k70 with the [ckb-next](https://github.com/mattanger/ckb-next) software. Today, out of the blue, my keyboard was not functioning on startup and I had to restart a couple of times and unplug my keyboard before I got full functionality back into my mechanical keyboard. Upon loading Dota, my keys were working just fine, including the 'h' key.

Very good tip from

[2017-10-28 19:50] vonclutch commented on #1320
Any news about this one ?

Happen every game every 30sec ... rly annoying to play like this :-1:

[2017-10-28 21:16] gdrewb-valve commented on #1320
I don't think there's anything new.  Generally when there's progress they'll post something here.

[2017-10-28 21:56] tony commented on #4
Performance on Mac is basically a joke. I don't know anyone getting playable FPS on it.

It's important to emphasize that it's not "bad fps" or "bad graphics" or a "glitch here and there": it's sheer unplayability even at lowest settings and small resolutions.

Like scrolling, casting spells, buying items, even typing lags.

But Linux and Mac run DotA2 like a champ. Hell even WINE.

[2017-10-29 17:12] deplorableword commented on #4
Just to chime in, I am currently getting 60fps on a MacPro 1,1 👍🏻

Killing disk heavy apps like Dropbox, Photos seem to improve things for me
at least.

On Sat, 28 Oct 2017 at 10:56 pm, Tony Narlock <notifications@github.com>
wrote:

--
Tom Martin
twitter.com/deplorableword
devart.org

[2017-10-29 17:14] tony commented on #4
@deplorableword

What model MBP do you have?

Any special settings?

I am on MacBook Pro (Retina, 15-inch, Mid 2015)

AMD Radeon R9 M370X 2048 MB
Intel Iris Pro 1536 MB

Any pointers would be appreciated.

[2017-10-29 18:56] deplorableword commented on #4
Sorry for the confusion, it's a 1,1 MacPro from 2008, not a MacBook Pro.
Unsure why it runs so bad for you, don't know if you can check if it's
using the AMD, because the iris would be bad.

As for graphic settings, this may help you decide which settings may be
causing lag / what looks nice http://www.logicalincrements.com/games/dota2

On Sun, 29 Oct 2017 at 5:14 pm, Tony Narlock <notifications@g

[2017-10-29 21:28] saracodes opened #1330 "[macOS] Blinking/ flickering graphics when Alchemist comes closer"
It happened me once (match ID: 3530470071), Alchemist played against me, and every time he was close (not even in the frame) my screen was covered by flickering purple light from its character. By the way, it didn't happen with illusions.
I attach a couple of images because it is hard to explain.

[Steam system information](https://gist.github.com/saracodes/47f8512bc3662b650966fc35a0ba055c)

<img

[2017-10-29 21:32] kisak-valve commented on #1330
Hello @saracodes, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-10-29 21:38] saracodes commented on #1330
@kisak-valve I edited my original post.
Thanks!

[2017-10-29 22:35] gdrewb-valve commented on #1330
Have you validated your Dota install?  After validating does it still happen when you watch the replay?

[2017-10-30 05:54] saracodes commented on #1330
I did the following:
1. `properties` -> `local files` -> `verify integrity of game files` (I hope that is what you meant)
2. watch the replay and it didn't happen

I didn't watch the replay before.
The images are from a video I took during the game.

[2017-10-30 06:17] gdrewb-valve commented on #1330
OK, there isn't going to be much we can do about this unless it happens in a repeatable way.  If you see it again post here.

[2017-10-30 22:13] bliz937 commented on #1299
Same issue here. Corsair k70 lux rgb.

When I run the [notification](https://github.com/mattanger/ckb-next/wiki/CKB-Daemon-Manual#notifications) output, I can see that the h key is being pressed and released.
My laptop h key works perfectly though.

Trying to disconnect and reconnect the keyboard (while in Dota) seems to work, but when I restart Dota, the issue appears again.

I've had this issue

[2017-10-31 05:25] KuriKai commented on #1299
So, It doesn't allow you to type "h" in the in game chat.
You can type "h" in the steam overlay when chatting to friends

Instead of having to unplug the keyboard and plug it back in, you can use the switch at the back of the keyboard to change the poll rate and then back again

Issue doesn't seem to happen when the ckb-next daemon is not running

[2017-10-31 10:27] RankoR opened #1331 "[macOS] XP progress of player appears on the first enemy in list"
I've noticed that in some games I can see my own XP progress on the first enemy in players list (see legion commander and WK).

![image](https://user-images.githubusercontent.com/71142/32219365-0262cea4-be3f-11e7-9c75-9c2cd7b36b97.png)

[2017-10-31 16:23] gdrewb-valve commented on #1331
I've passed this on to the larger team.

[2017-10-31 16:23] #1331 closed, assigned to nobody

[2017-10-31 17:28] aenglisc opened #1332 "[macOS] the mouse is virtually unusable in the 7.07 test client"
It feels as if the mouse would randomly have its left button stuck in the pressed position.

[2017-10-31 23:06] tukkek commented on #1320
I also notice this when I use an ability for the first time or when a hero uses it for the first time on-screen. Doesn't make the game unplayable but definitely gives you a disadvantage in fights, especially early in the game.

Seems to me like this happens when animations are loaded on-the-fly or possibly loaded from swap back into memory or something of the sort. It also seems more prominent on

[2017-10-31 23:12] gdrewb-valve commented on #1332
Are you still seeing this with the full release today (Oct. 31)?

[2017-10-31 23:15] aenglisc commented on #1332
Nope, the release version works fine.

[2017-10-31 23:25] gdrewb-valve commented on #1332
Thanks, closing (the test client will stay broken until the next time it updates).

[2017-10-31 23:25] #1332 closed, assigned to gdrewb-valve

[2017-11-01 01:09] bojunwu opened #1333 "Exclusive full screen does not work properly after Dueling fate updates"
I'm using the 2017 15-inch Macbook Pro with Radeon 560 graphics card + i7-7820HQ and 16GB of RAM. For stability issue I'm using the lastest Mac OS Sierra, no high sierra yet. This is what I see when I launch the game today after the updates.
Desktop-friendly full screen works but the resolution is so low on a retina display.
<img width="1440" alt="screen shot 2017-10-31 at 6 05 41 pm" src="https:/

[2017-11-01 01:10] bojunwu commented on #1333
This is a FULL screen screenshot.

[2017-11-01 01:30] YabosMcGee opened #1334 "Vulkan graphics glitch/artifacts after 7.07 update"
After the 7.07 update on Linux I'm getting a ton of graphics glitches/artifacts when launching with -vulkan. I've been using vulkan on this system for a while without issues.

[code]
I've confirmed that it's vulkan by removing the -vulkan switch from the launch options. I tried to take a screenshot to show what I'm seeing. The artifacts seem to happen mostly in the any animated window, as well as

[2017-11-01 01:32] gdrewb-valve commented on #1334
Vulkan issues should be filed in Dota-2-Vulkan.  We can leave this open but please put future issues there.

[2017-11-01 01:43] YabosMcGee opened #1335 "[Linux] Client will crash-to-desktop periodically"
Since the 7.07 update the client will crash-to-desktop periodically. I believe it's happening when there are a lot of effects on screen, but it's hard to say. In my last game it happened during the hero pick screen, and then about 3-4 more times during the game before I gave up. I haven't had any crash-to-desktop issues on this system in a long time.

[code]

I'm not sure what logs, or other outpu

[2017-11-01 01:51] gdrewb-valve commented on #1335
If you get anything listed in the Failure Reports section in the Steam info those would be useful.  As you don't appear to have anything there that typically means the crash is in system software like the OpenGL driver.

[2017-11-01 02:13] WagnasT commented on #1335
Seem to be having the same issue, also happen to be using  Manjaro but haven't had any issues up until this update.  Unfortunately I don't see any .dmp or .mdmp files anywhere and my recent failure reports section is also empty.  It's pretty easy to reproduce, is there a way to create a debug log or anything while the game is running?

[2017-11-01 02:15] lewisdiamond commented on #1335
I have the same issue on Archlinux.

[2017-11-01 02:25] timitch1 commented on #1335
Same issue Ubuntu 17.04. Amdgpu-pro drivers. Was fine before the update

[2017-11-01 02:27] WagnasT commented on #1335
I'm using mesa radeonSI, but on an older HD6500 card

[2017-11-01 02:30] YabosMcGee commented on #1335
Also, due to my current issue with Vulkan in #1334 I'm currently running the game with no launch options, and therefore using OpenGL.

[2017-11-01 02:34] WagnasT commented on #1335
Launched from CLI and got this right before it crashed:
terminate called after throwing an instance of 'std::regex_error'
  what():  regex_error
crash_20171031222744_1.dmp[10762]: Uploading dump (out-of-process)
/tmp/dumps/crash_20171031222744_1.dmp

now I know where the dmp files are, going to zip a few and upload

[2017-11-01 02:38] WagnasT commented on #1335
[dumps.zip](https://github.com/ValveSoftware/Dota-2/files/1432942/dumps.zip)
attached are my dmp files.

[2017-11-01 02:42] lewisdiamond commented on #1335
I tried with `-vulkan` option and I also get crashes.

No `Recent Failure Reports` available for some reason.

[2017-11-01 03:16] admshao commented on #1335
I've had the same issue

[crash_20171101010928_23.zip](https://github.com/ValveSoftware/Dota-2/files/1433018/crash_20171101010928_23.zip)
[shaolin_stdout.txt](https://github.com/ValveSoftware/Dota-2/files/1433019/shaolin_stdout.txt)

[2017-11-01 03:24] gdrewb-valve commented on #1335
For anybody who wants to collect console output you can run Steam from a terminal or you can put -con_logfile in your options, in which case there'll be a console.log in your Dota directory.

I believe there are two (or more) separate issues here.  Is everybody seeing a regex_error like SergeantWagner, particularly @YabosMcGee?

[2017-11-01 03:50] YabosMcGee commented on #1335
@gdrewb-valve Yes, I'm seeing the same regex_error as @SergeantWagner.

[2017-11-01 04:07] WagnasT commented on #1335
for what it's worth, I can usually reproduce the crash by watching high mmr games in client and just waiting a few minutes.  I had a game I was watching minimized and it didn't seem to crash for an extended period of time, but then when I viewed the game again it crashed within a couple of minutes.

[2017-11-01 04:08] ap4y commented on #1335
Same here. Getting:

[code]

in terminal. Happened several times on the main screen while I was in queue and while watching dota tv matches.

[2017-11-01 04:11] gdrewb-valve commented on #1335
We believe we understand at least one source of the problem and an upcoming update will avoid the issue.  Whether this will solve everybody's problem is unclear but it should help.

[2017-11-01 04:19] WagnasT commented on #1335
Thanks Drew.  Glad valve still cares about us down here in the tiny 0.60% market share.

[2017-11-01 05:56] gdrewb-valve commented on #1335
There is a new update available, are people seeing any improvement with it?  Specifically are the regex errors still occurring?

[2017-11-01 06:15] ap4y commented on #1335
Been stable for 15min, previously it crashed within 10min, looks like regex issue is fixed.

[2017-11-01 06:47] khoonirobo opened #1336 "[Linux] Opensuse Tumbleweed : Dota2 7.07 : Segfaults on startup (Steam runtime compatibility issue)"
Since 7.07 update, starting Dota 2 crashes immediately.

Started Steam from commandline and got following logs :
[code]

System Info
[code]

[2017-11-01 10:17] ap4y commented on #1335
Been in the game for a couple hours, no crashes. Thanks a lot Drew!

[2017-11-01 13:55] WagnasT commented on #1335
Haven't been able to reproduce and it would have surely happened by now. Seems to be fixed. Commends all around.

[2017-11-01 14:35] glubsy commented on #1314
I haven't had this issue with OpenGL. I switched back to using the Vulkan renderer two weeks ago after updating the proprietary nvidia drivers to 384.90 ~~and the problem doesn't seem to occur anymore~~. edit: nevermind, it's still happening randomly.

Someone on the nvidia forum mentioned a probable "bad out-of-memory handling" and other programs using the GPU while the game was running. Been tes

[2017-11-01 16:34] webquali commented on #1333
I have the same macbook and the same problem. I reinstall steam and dota but problem not leave.
And also I don't have real full screen. If I move mouse to left top corner I have call Dshboard
<img width="1680" alt="2017-11-01 18 33 46" src="https://user-images.githubusercontent.com/2962899/32285530-3e13d822-bf33-11e7-8e1b-095d293bcacd.png">

[2017-11-01 19:10] macbook15 commented on #1333
the same MacBook the same problem, that's too upset

[2017-11-01 19:19] Takios commented on #1336
Same here.

[code]

[2017-11-01 19:25] macbook15 commented on #1333
the screen resolution is 2880*1800,but only 1440 resolutions can be used properly, if use 2880 with a -fullscreen code, the mouse can't click the right side of the screen, it's disaster, the game has been ruined by the new patch.

[2017-11-01 19:37] Takios commented on #1336
Backtrace created by gdb:

[code]

[2017-11-01 20:06] gdrewb-valve commented on #1336
Looks like some DBus usage in SDL triggered a fatal abort, assigning to the SDL dev.

[2017-11-01 22:35] gdrewb-valve commented on #1335
I'm going to assume that this is fixed for YabosMcGee also, closing.

[2017-11-01 22:35] #1335 closed, assigned to nobody

[2017-11-01 22:37] YabosMcGee commented on #1335
@gdrewb-valve Sorry, I haven't had a chance to test yet. I'll be testing in the next hour or so. I'll update to confirm one way or the other.

[2017-11-01 23:58] kisak-valve commented on #1336
It may be worth manually pinning the steam runtime variant of dbus and see if that makes a difference.

`ln -s ~/.local/share/Steam/ubuntu12_32/steam-runtime/amd64/lib/x86_64-linux-gnu/libdbus-1.so.3 ~/.local/share/Steam/ubuntu12_32/steam-runtime/pinned_libs_64/libdbus-1.so.3`

[2017-11-02 02:37] YabosMcGee commented on #1335
@gdrewb-valve I believe it's resolved. I made it through a game without a single crash. Thanks.

[2017-11-02 02:54] sgtsnookums commented on #1336
I tried the manual pin, didn't see any difference.

[2017-11-02 04:04] khoonirobo commented on #1336
@kisak-valve The manual pinning worked for me.

@sgtsnookums Did you stop steam, do manual pinning and then restart?

[2017-11-02 04:11] sgtsnookums commented on #1336
@khoonirobo Nope, I pinned, stopped steam and restarted steam. Your order worked.

[2017-11-02 05:27] gdrewb-valve commented on #1336
Reassigning to Steam dev to see if this is something important or not.

[2017-11-02 07:02] catamphetamine commented on #4
Just tested the latest update of Doto 2 on my Hackint0sh 4770 Haswell GTX 970 4k and it's unplayable in "Exclusive fullscreen mode".
The FPS counter ranges from 45 to 70 averaging on 55 fps but the overall feeling is a very weird gaming experience.
Now I understand that mean values alone don't say much and fluctuations and stuttering actually matter much.
To recap, currently Doto 2 is still unplay

[2017-11-02 13:23] yordis commented on #4
I have to use almost no graphics and I can't still play higher than 30fps and every time I press `enter` for the chat it does lag.

But talking from experience with these Mac/MacBook the Hard Drive is a big problem. The Mac doesn't even response fast to System Admin and probably if you have some SATA Disk computer it does the same.

[code]

[2017-11-02 13:35] tony commented on #4
I wonder if it being AMD/ATI Radeon + Mac has anything to do with it.

[2017-11-02 13:39] yordis commented on #4
@tony my MacBook have Flash-disk and NVIDIA and I can play full graphics no problem. I don't know if could be the Hard Drive (I know is a video game but still loading shit from the Disk I would like to have some input from VALVe engineers)

but definitely could be that combination.

[2017-11-02 15:20] deplorableword commented on #4
@yordis. If you want to check if it's the HD, pop a SD card in your MacBook
and move the steam install folder. If it loads faster then you'll know if
it's a HD read speed issue.

On Thu, 2 Nov 2017 at 1:39 pm, Yordis Prieto <notifications@github.com>
wrote:

--
Tom Martin
twitter.com/deplorableword
devart.org

[2017-11-02 17:17] danginsburg commented on #1334
It may be worth filing a bug on this with mesa https://bugs.freedesktop.org/ .  I've contacted the mesa devs privately, but it might be good to file a bug there to make sure it's on their radar.

[2017-11-02 18:02] tukkek opened #1337 "[Linux] Long match loading times resulting in abandon streak"
I have never ever before gotten into low priority in Dota but in the last couple days since the Dueling Fates update I have been put into low priority twice in a row due to abandons. I must have had around 5-10 abandons at the very most in 700 hours of playing Dota but in the last couple days since the update I must have had another 5 in a very short time period. This is how bad the problem is.

I

[2017-11-02 18:05] tukkek commented on #1337
My Steam system information. I'm pretty sure I'm well-covered for playing Dota but feel free to peruse it and make your assessment. My graphics card in particular is very low-tier but it plays the game fine on modest settings - I don't think it should be impacting pre-loading times during the picking phase at all, in itself? Other than that I'm pretty sure I have an average to above-average setup

[2017-11-02 18:18] gdrewb-valve commented on #1337
Are you using OpenGL or Vulkan?  What are your launch options?

[2017-11-02 18:22] tukkek opened #1338 "[Linux] Version number for new hero guides don't seem to follow standard convention"
Creating new guides on the new "hero guide" interface gets me a version number of `23.112` instead of the usual `7.07` I see from other recent guides. I am assuming this is the name for the Unix build of the game. Even if it is though, it should follow the proper convention because "23.112" isn't meaningful except for Unix-based developers, I'd imagine. It can't be easily compared with official ve

[2017-11-02 20:32] bojunwu commented on #1333
As of Nov/2 the bug has not yet been fixed. Only part of the game is displayed on the screen.
<img width="1440" alt="screen shot 2017-11-02 at 1 28 04 pm" src="https://user-images.githubusercontent.com/9892226/32348791-2cb3a220-bfd2-11e7-9ae7-2ed28f88b6d2.png">

[2017-11-02 21:58] gdrewb-valve commented on #1338
This isn't a Linux issue, it's broken on all platforms.  I've passed this on to the larger team and an upcoming update will have a fix.

[2017-11-02 21:58] #1338 closed, assigned to nobody

[2017-11-03 00:41] Kennyswan opened #1339 "[MacOS] Stuttering/Low Frame Rates right after updating to 7.07 update"
Hi everyone,

I have a 2017 iMac on macOS Sierra 10.12.6
Specs are as follows:
iMac (Retina 5K, 27-inch 2017)
Processor (4.2 GHz Intel Core i7)
Memory 32GB 2400 MHz DDR4
Graphics Radeon Pro 580 8192MB

Right after updating to the newest 7.07 version, my frame rates have been stuttering and horrible. Before update, I would play at max settings with 60FPS consistently, but now I will get 15-25 FPS o

[2017-11-03 09:24] opp100 commented on #1339
+1,

I got same issue after upgrade to 7.07. It use to be around 60 fps in low resolution(1650*1050) with mid-high effect previously. But after upgraded, it only 30 fps in 1280 * 720 with lowest effect, and the fps is not stable, it always drop down to 20 fps when playing.

I'm using OSX 10.13.1 High Sierra.
MacBook Pro (15-inch, 2017)
2.9 GHz Intel Core i7
16 GB 2133 MHz LPDDR3
Radeon Pro 560 4 G

[2017-11-03 15:45] webquali commented on #1333
Hey Valve any updates?

[2017-11-03 17:31] tukkek commented on #1337
Hello again, Drew - and thank you for all the previous fixes! My launch options are simply `-console`, which I have now removed since I only added it for curiosity's sake a while ago. My renderer is whatever the default for the game is - I tried opening the client's Video settings tab to see for sure which one it is but there doesn't seem to be any information there about it. Let me know how I can

[2017-11-03 17:44] zpostfacto commented on #1337
Seems like there are potentially a bunch of problems here.  The grace times to load into the map are supposed to be exceedingly generous.  Even on a low end system it really shouldn't take very load to load into hero selection.  Then it continues to load the rest of the map during hero selection, and then if everybody selects their hero before your client finishes loading, there is another period

[2017-11-03 18:29] tukkek commented on #1337
Hello Fletcher and thank you for your time and input taken into analyzing this issue. I have tried to make it as clear as possible at which points the slowdowns occur but from you comment I understand how I failed to do so properly, I will try to rectify it by being more explicit:

1. I have never had a problem getting *into* the hero selection screen. This always loads fine every time.
2. I under

[2017-11-03 18:49] zpostfacto commented on #1337
If you make an effort to reproduce this issue and get those logs, I'll fix any negative impact it has on your account!  This is a really big problem, I'd like to fix it.

Make sure you have a reliable way to capture the full console log before you begin.

[2017-11-03 19:15] tukkek commented on #1337
Thank you Fletcher, I'm happy to hear that this is as relevant an issue to you as it is for me. I'll probably leave it for Monday though so I can contact you if/when I get an abandon or put into LP. Can you instruct me which file has the console output that I should send over? I'm pretty sure there's one that's rewritten per-session?

Meanwhile I found out I can reproduce the slowdown and general

[2017-11-03 19:58] gdrewb-valve commented on #1337
If you put -con_logfile in your launch options dota will create a console.log file in your dota install directory under the game/dota subdir.

[2017-11-03 20:16] zpostfacto commented on #1337
It doesn't seem unusual for a bunch of disk IO to be going on while loading the map.  But I do find it quite unexpected that loading a map is able to keep EIGHT CPUs so busy.  I would expect most of the time to simply be spent waiting on the disk.

[2017-11-03 20:30] zpostfacto commented on #1337
You might try just using "perf top" while loading into a lobby filled with bots, to try to figure out what it's doing.

http://man7.org/linux/man-pages/man1/perf-top.1.html

[2017-11-03 20:36] tukkek commented on #1337
Alright I figured out how to recreate this issue safely (without using matchmaking). Steps:

1. Open Dota client, create a lobby, fill it with bots, host it remotely (Brazil region for me).
2. Enter lobby until the hero picking screen becomes responsive (but don't do anything with it).
3. Simultaneously launch a bunch of heavy programs (in my case: `audacity & gimp & ktorrent & ~/bin/eclipse/eclip

[2017-11-03 20:42] tukkek commented on #1337
Agreed but if you think of 3 full minutes of 6MB/s reading then you have 1GB of data loaded. That's pretty much the entire size of the Dota process, which sounds entirely excessive.

Of course, take that with a grain of salt since I'm not sure what Linux considers I/O reads (it probably even puts network use there?) and I'm just taking the number I saw flashing across the screen in my tests instea

[2017-11-03 20:51] zpostfacto commented on #1337
OK, looking at that log, the networking was definitely getting pushed around by all of the activity, and not getting timely service.  You can see it complaining about it.  However, it didn't actually timeout at the transport level.  There was a disconnection at the source engine layer because communication at the *application* layer did not happen.  That is a bug.  This has been a problem for a wh

[2017-11-03 21:42] RankoR commented on #1326
BTW, reassigning hold position from H to another key does not help.

[2017-11-03 21:47] RankoR opened #1340 "[macOS] Top right tile in main menu is not clickable"
(tile with ability draft and turbo advertising). It's hoverable, but not clickable.

[2017-11-03 22:08] kisak-valve commented on #1337
With those symptoms, keep an eye on swap usage, a tool like dstat would give you near-realtime transfer rates in and out of swap.

[2017-11-03 23:41] gdrewb-valve commented on #1340
It works OK here.  What resolution and mode are you running at?

[2017-11-03 23:47] tukkek commented on #1337
As I mentioned before my system still had at least half a gig of free memory while I was performing initial tests (without extra stress) with my system monitor. I also thought swap might be an issue but apparently it isn't. Probably more related to too many threads, their management by the OS and all the extra overhead it implies (context switches galore). I posted a screen cap today showing the C

[2017-11-04 00:54] RankoR commented on #1340
@gdrewb-valve 3840w exclusive fullscreen
Any other card works ok

[2017-11-04 01:27] gdrewb-valve commented on #1340
3840 x 2160?  Also when you say "other card" do you mean other resolutions?

[2017-11-04 01:44] RankoR commented on #1340
@gdrewb-valve yep, 3840 x 2160.
Other card = any other tile in menu. Any other main screen element is clickable.

[2017-11-04 01:53] gdrewb-valve commented on #1340
If you switch to windowed mode with a smaller resolution, but still 16x9 aspect, does it change?

[2017-11-04 02:31] RankoR commented on #1340
@gdrewb-valve i've tried 1280*720 (windowed, 16x9), and it seems that click translates to "play" button (see video: https://youtu.be/B-XCKLvOsCU) :)

[2017-11-04 10:10] macbook15 commented on #1339
+1 the exclusive mode can't be used, and can't get 2880*1800 resolution like before, that's disaster, today dota has a 243m update, but still not fix it.
I'm using OSX 10.13.1 High Sierra.
MacBook Pro (15-inch, 2017)
2.9 GHz Intel Core i7
16 GB 2133 MHz LPDDR3
Radeon Pro 560 4 GB

I do really want to play Dota, but currently is too laggy.

[2017-11-04 13:57] Oxidian2005 commented on #1339
+1

10.12.5

3,7 GHz Quad-Core Intel Xeon E5
12GB 1866 MHz DDR3
AMD Fire Pro D500 3072 MB

[2017-11-04 13:59] Oxidian2005 commented on #1333
+1

Mac pro here

10.12.5

3,7 GHz Quad-Core Intel Xeon E5
12GB 1866 MHz DDR3
AMD Fire Pro D500 3072 MB

[2017-11-04 18:04] ajele commented on #1299
same problem for k65 rgb lux, using ckb, ever since few days ago
probably due to new update on 17.10 ubuntu

switching pool rate makes my keyboard not work anymore, but unplugging and plugging keyboard back in, works

[2017-11-04 20:31] AphidGit opened #1341 "High health regeneration performance issues. Health integer overflow possible."
When a unit is given a massive amount of strength (esp. in the new patch with the modified regeneration rate), it will cause some major framerate issues, but only while it is visible.

To test:
- Create a unit (ex. with the map editor) with 10,000,000 hp regeneration.
While the unit is visible, the framerate will drop significantly (as if a particle effect applies for every 'X' hp of regen), to th

[2017-11-05 00:25] gdrewb-valve commented on #1341
Is there a reason that you think this is a Mac or Linux issue?

[2017-11-05 00:43] gdrewb-valve commented on #1340
Clicking on the tile is supposed to open the play options so that's working as expected.  It only does that in windowed mode and not exclusive fullscreen?  Are there any macOS system options that are triggered in the corners of the screen where the system may be eating clicks?

[2017-11-05 02:10] RankoR commented on #1340
Okay, I thought it will open webview.

Yes

No

[2017-11-05 02:41] jeffreythen commented on #1333
I have the same problem here.
iMac 4k
![img_0016](https://user-images.githubusercontent.com/33385113/32411460-cbedf008-c215-11e7-9772-dbd5c313a815.JPG)
Please help!!!

[2017-11-05 02:49] gdrewb-valve commented on #1340
@jeffreythen you appear to have a different problem as the post here can see the screen, it just doesn't activate the play state.

[2017-11-05 10:10] kohshangpeng commented on #1339
same case here. my macbookpro used to run at 60-70 frames at mid-effect perfectly, but right after updating to 7.07 the fps is totally unstable. drops from 70 to 20 whenever the screen is dragged. not playable at all.

MacBook Pro Touch Bar 2016
macOS 10.13
2.9 GHz quadcore
16gb ram
Radeon Pro 460.

[2017-11-05 16:12] tukkek commented on #1337
This is my CPU usage with Dota after it failed to load a solo lobby without bots (the simplest game mode I can think of) after disconnecting with the "communication disrupted" message, which I've mentioned before. I'll say it again to drive the point home: I am currently sitting at the home screen, disconnected from a match and Dota is furiously processing in parallel on 8 CPUs. It has been runnin

[2017-11-05 16:35] cluoma commented on #1320
Same thing happens for me. Suttering when an ability is used for the first time on screen.

To reproduce, I reboot, start demo mode with any champ, then use an ability with a big animation or lots of effects.

I tried with 384 and 387 drivers and the issue still exists. It also just started recently although I have no idea what the trigger was.

Ubuntu 16.04
i5 2310, GTX 1060 6GB (387 drivers), 8G

[2017-11-05 17:12] RankoR commented on #1340
Seems to be fixed in current version.

[2017-11-05 17:12] #1340 closed, assigned to gdrewb-valve

[2017-11-05 18:22] tukkek commented on #1337
I really hate to put it like this but Dota has become very close to unplayable for me. Even though I'm loading a solo match prior to matchmaking, every time I do get into matchmaking I get disconnected and manage only to connect again close to 4:00 on the game clock - not only this alone is awful for a competitive game, meaning I start what could be easily be a hour-long game at a huge disadvantag

[2017-11-05 19:17] gdrewb-valve commented on #1337
If you get a chance can you do a solo lobby and try "perf top" as fletcherdvalve mentioned above when the game is sitting there burning CPU?  You won't have symbols so you won't get useful stacks but it might show a little info as to what code the threads are running.

[2017-11-05 21:20] tukkek commented on #1337
I am currently in Low Priority queue again. Steam derped for a moment (disconnected with "no Steam logon" message in the middle of a game, which happened to me a couple of times only in my 700 hours playing Dota) and the loading time for reconnect was way too long - I got into the match again just in time to see the "has stayed disconnected for too long and will be assessed with an abandon" broadc

[2017-11-05 21:34] tukkek commented on #1337
@gdrewb-valve `perf top` shows me some render stuff and nvidia-driver related processing when I open Dota but other than that nothing I can see that would be relevant, either on the loading screen or while the game is running.

[2017-11-06 00:39] vonclutch commented on #1320
@tukkek @cluoma This happen more than once, even if abilities were already used ( happen me in early, mid and end of the game ).

[2017-11-06 17:06] gdrewb-valve commented on #1341
Closing as this doesn't seem to be a Mac/Linux thing.

[2017-11-06 17:06] #1341 closed, assigned to nobody

[2017-11-06 19:32] natbro commented on #1333
@Oxidian2005 - what type of monitor are you using on your Mac Pro? we haven't yet been able to reproduce this on a variety of different machines but are trying to do so asap.

[2017-11-06 19:40] webquali commented on #1333
I have the same @jeffreythen  problem on my macbook pro 15 2017

[2017-11-06 21:44] Oxidian2005 commented on #1333
@natbro I use one 27’ Mac monitor. The thing is that even in exclusive full screen it is windowed and mac hot corners and dashboard still in use. Don’t think it has to do with actual resolution of size of the screen.

[2017-11-06 22:09] bojunwu commented on #1333
I have two 15-inch Macbook Pros. Both machines have discrete GPU. I only have this issue on the one with Mac OS sierra 10.12.6. The other one has high sierra 10.13.1 and it works just fine. But there is another issue with high sierra(GPU performance drop significantly after sleep) so I want to keep one of my laptop at sierra for now.

[2017-11-06 22:16] webquali commented on #1333
I have Hight Sierra and have really low fps 13

[2017-11-06 22:21] bojunwu commented on #1333
@webquali restart the machine solves the low fps issue for me. But it will come back everytime I put it in sleep mode. Guess it's an issue with high sierra.

[2017-11-06 22:53] WombatPygmy commented on #1339
Same here.

MacBook Pro Touch Bar 2016
10.13
16 Gig
Radeon Pro 460

[2017-11-06 23:13] webquali commented on #1333
@bojunwu the same problem

[2017-11-07 11:49] Oxidian2005 commented on #1333
@bojunwu I had Sierra and updated to high sierra to see if it solved the problem. But fps still messed up and there isn’t exclusive full screen.

[2017-11-07 14:54] anko opened #1342 "[Linux] Middle-click camera grip is sometimes not released"
## Description

The game sometimes doesn't recognise middle mouse button releases. It gets stuck in the camera grip state, moving the camera as the mouse is moved. This happens constantly during gameplay, and is very frustrating.

## Steps to reproduce

With the *Camera Grip* option set to *MOUSE3* (middle mouse button), the following steps in demo mode (as any hero) cause the problem to manifest:

[2017-11-07 15:01] kisak-valve commented on #1342
Hello @anko, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-11-07 15:07] anko commented on #1342
@kisak-valve OK. I created [a gist](https://gist.github.com/anko/c9c9f82a619f0101e562e1e144c00830) and edited the above post with a link too.

I'm using a custom Linux kernel. I'll test with the default kernel soon just in case.

[2017-11-07 15:13] anko commented on #1342
Just confirming: Linux-ck kernel has no effect. The issue persists on the default Linux kernel. [Here's a Gist with the steam system info of that setup](https://gist.github.com/anko/c33e383bad73bc1a21c7d6ef7a1f46ec) in case it's helpful.

[2017-11-07 23:16] danginsburg commented on #1333
We are still having trouble getting a repro for this here.  For those having the problem, can you please post:

* What is resolution of your desktop?
* What is the exact video setting you are using? (i.e. Exclusive Fullscreen - 2880x1800)?
* Steam -> Help -> System Information

Right now we don't have a repro.  We'll need to get one to figure it out.

[2017-11-07 23:38] bojunwu commented on #1333
@danginsburg  Thanks for the reply.
![img_0294](https://user-images.githubusercontent.com/9892226/32523658-812d2488-c3d9-11e7-9e68-1c6f8183750d.JPG)

My desktop resolution is 2880x1800
Video settings are shown in the pic, in case the picture is not clear enough, the settings are: User Advanced Settings, Aspect Ratio 16:10, size 2048x1280(I tried to change this but it doesn't solve the problem),Dis

[2017-11-08 00:40] gdrewb-valve commented on #1342
I was unable to repro this on my Linux system.  We'll see if we can pin it down somehow.

[2017-11-08 02:03] anko commented on #1342
@gdrewb-valve OK. Let me know if there's anything I can do to help.

[2017-11-08 10:25] ericliu123 commented on #1333
Same issue please fix valve!!!!

[2017-11-08 10:25] ericliu123 commented on #1339
Same issue please fix asap

[2017-11-08 12:38] anko commented on #1342
[The 2017-11-07 update](http://www.dota2.com/news/updates/34403/) to version 2,525 with patch notes that mention "Fixed a case where player input would not be registered" did not fix this issue.

The update says that any further cases observed should provide matchid and time. In case it's helpful, the match in which I first noticed this was `3548440175` as Gyrocopter. The issue happened 4 times wh

[2017-11-08 13:12] danginsburg commented on #1333
Thanks, I was able to get this repro'd.  It appears to be a regression in SDL which I am investigating.  As a temporary workaround, you could replace ~/Application Support/Steam/steamapps/common/dota 2 beta/game/bin/osx64/libSDL2-2.0.0.dylib with the attached version.

We'll work on getting a real fix though.

[libSDL2-2.0.0.dylib.tar.gz](https://github.com/ValveSoftware/Dota-2/files/1453967/libSD

[2017-11-08 14:04] bojunwu commented on #1333
@danginsburg
Thank you. It's working. Will replacing this file affect future update of this game ?

[2017-11-08 14:07] danginsburg commented on #1333
@bojunwu If you Verify Game Cache it will replace it with the original version.  It also will get replaced on a future update once we fix it.  Hopefully we'll have a proper fix soon, I will update the bug when we do.

[2017-11-08 15:05] bojunwu commented on #1333
Thanks for the help. It works perfectly for me now.

[2017-11-08 19:07] danginsburg commented on #1333
The specific SDL commit that is causing the problem is this one:

http://hg.libsdl.org/SDL/rev/1e26564c7288

The problem is that after that change, CGDisplaySetDisplayMode fails in Cocoa_SetDisplayMode with kCGErrorFailure.  The following is also output:

Nov  8 11:29:28  dota2[62909] <Warning>: displaySetMode: unable to find mode dict in array

I'm working with SDL devs to try to find a fix.  It

[2017-11-08 19:40] danginsburg commented on #1333
SDL bug filed: https://bugzilla.libsdl.org/show_bug.cgi?id=3949

[2017-11-08 21:13] danginsburg commented on #1333
I've put in a fix for this, should be in the next Dota 2 Update.

[2017-11-09 00:44] danginsburg commented on #1333
The update has shipped.  Should be fixed now.

[2017-11-09 01:41] ericliu123 commented on #1333
Appreciate the fast response! Thanks a lot.

[2017-11-09 02:56] anko commented on #1342
Alternative repro steps, perhaps closer to the source:

1. Launch the game with `-console -input_message_spew`
2. Enter demo mode as any hero
3. Open the console
4. Hold down any two mouse buttons, then release them at the same time
5. Repeat step 4; observe console logs

**Expected output**: Mouse down and mouse up logging corresponds with reality.

**Actual output**: Usually as expected, but som

[2017-11-09 03:01] gdrewb-valve commented on #1342
Missing a mouse up is presumably the cause of the problem, but it's unclear if that's an issue in Dota, SDL or Linux mouse handling itself (or even your mouse hardware).  I'll pass this on to the SDL dev for now.

[2017-11-09 03:06] admshao commented on #1342
Is it ease for you test another compositor or DE entirelly? I had different
behaviors when trying under xfce and gnome. Seems i3 behaves more like xfce
on this one. Just check that too

On Nov 9, 2017 01:01, "Drew Bliss" <notifications@github.com> wrote:

[2017-11-09 03:25] anko commented on #1342
That made a lightbulb turn on in my head: I did a similar event-logging experiment as [that one](https://github.com/ValveSoftware/Dota-2/issues/1342#issuecomment-343032458) at a desktop level using `xev`, and _the same problem appeared there_! So the problem is clearly at a level deeper than Dota, or even SDL.

Sure enough, I just tested a different mouse on the otherwise exact same setup, and eve

[2017-11-09 03:25] #1342 closed, assigned to icculus

[2017-11-09 13:28] #1333 closed, assigned to icculus

[2017-11-09 13:28] kisak-valve commented on #1342
Hello @anko, for the sake of completeness, what was the model of the mouse?

[2017-11-09 14:36] anko commented on #1342
@kisak-valve It's an ASUS ROG Gladius. (Model P501, [marketing site here](https://www.asus.com/us/ROG-Republic-Of-Gamers/ROG_Gladius/).)

`/sys/kernel/debug/usb/devices` section:

[code]

[2017-11-09 19:09] ghost opened #1343 "iMac freeze completely in game every now and then."
Hi

This only happens when in Dota.
Two times a night, whilst in game, iMac just completely freezes, cant do any commands or move from Dota screen. iMac makes a soft glitchy click sound every second.

I have to force reboot.

When i reconnect its fine.

Running Latest iMac 5k Flash storage with 24 gig ram.

Thank you

[2017-11-09 19:14] kisak-valve commented on #1343
Hello @tetpsy, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

In general, no opengl application should be capable of causing a full system freeze, which hints that this is a thermal or video driver issue.

[2017-11-10 01:16] vonclutch commented on #1320
@gdrewb-valve Ok we've got some good and bad news. this bug seem to be corrected with this update - http://www.dota2.com/news/updates/34478/ -

So i guess the issue was about the network from what we can see from my log ( their is a lot of error related to the network in console )

But now the game is laggy, no freezes but lags ( it's like a loss of fps )

my console for one game where the bug hap

[2017-11-10 02:19] gdrewb-valve commented on #1343
As kisak mentions this is very likely a system issue, you might want to get your hardware checked out.

[2017-11-10 11:27] benhili commented on #1299
@KuriKai that's much easier than switching the keyboard off, I have a k70 so it seems the keyboard itself is having issues with dota

[2017-11-11 01:18] gdrewb-valve commented on #922
Scaleform has been completely removed so any spectating issues from here on out are new issues.

[2017-11-11 01:18] #922 closed, assigned to nobody

[2017-11-11 01:19] gdrewb-valve commented on #918
Scaleform has been completely removed so any crashes now will be new issues.

[2017-11-11 01:19] #918 closed, assigned to nobody

[2017-11-11 09:45] BrendanBall opened #1345 "[Linux] [Vulkan] Dota2 Freezes up when alt-tabbing in a game"
Platform: Linux
Description: Dota2 reliably completely freezes up every time I try alt tab while in a actual game, ie. this doesn't happen when in the main menu or even the picking phase. I am forced to SIGKILL Dota2. When it freezes up it seems to lock up the cpu as I can hear my fan speed going full blast. This seems to only happen when using vulkan.

NOTE: This only started happening as soon as

[2017-11-11 17:51] gdrewb-valve commented on #1345
In the future please file Vulkan issues in Dota-2-Vulkan.

[2017-11-11 18:11] ghost commented on #1343
Thanks for the response

Here is the gist

https://gist.github.com/tetpsy/13444b60217307255bdeb12c7f21e5a0

Thanks a lot

It might be thermal, as the iMac fan only gets loud when dota is open

Regards

tet

[2017-11-11 23:40] anko commented on #1342
[I did some more digging](https://unix.stackexchange.com/questions/403616/how-can-i-debug-x11-missing-mouse-buttonrelease-events-that-are-present-in-usbmo). The issue is not actually with my mouse hardware, but with the newest release of libinput (1.9.1). I've filed [this bug report with libinput](https://bugs.freedesktop.org/show_bug.cgi?id=103673), which contains all the technical details.

In s

[2017-11-12 14:54] BrendanBall commented on #1345
ah sorry, can you maybe add a note to the readme of this repo? I didn't know it was split into separate repos.

[2017-11-12 17:43] RankoR opened #1346 "[macOS] Graphics Artifacts from heroes"
I see artifacts on macOS Sierra 10.12.6, GTX970 with latest Nvidia Web drivers.

Most of them are on the middle of map (starting from 7.00), but sometimes after 7.07b they follow certain hero on any map position (see screenshots). It makes game unplayable and often happens in fights.

Restarting game helps in most cases.

Artifacts produced by Antimage: https://i.imgur.com/Vsy0rIz.jpg

Artifacts p

[2017-11-13 00:51] gdrewb-valve commented on #1346
Have you verified your Dota install?

[2017-11-13 14:44] RankoR commented on #1346
@gdrewb-valve yes.

[2017-11-13 18:05] danginsburg commented on #1345
I'm not able to repro this problem so far.  The NVIDIA 387.22 driver added a new feature that is likely at the root of this problem (from release notes: http://www.nvidia.com/download/driverResults.aspx/126185/en-us)

"Improved performance of fullscreen Vulkan applications using X11 swapchains.  This optimization will cause more events that trigger an out-of-date swapchain, such as when entering o

[2017-11-14 15:25] BrendanBall commented on #1345
Hi @danginsburg thanks for trying to reproduce it.
I disabled steam overlay - still breaks
Then I enabled steam beta channel - still breaks
EDIT: see https://gist.github.com/BrendanBall/0a8da569aae6cc2aa1e6ff64d04d3fa2 for the `console.log` file

[2017-11-14 15:58] oskarkv opened #1347 "Fatal assert failed in pipes.cpp"
Got this at about Tue Nov 14 16:30:00 CET 2017 while in game in DOTA 2.

[code]

[2017-11-14 21:28] gdrewb-valve commented on #1347
What else happened on your system at that time?  Did Dota exit (it should have)?  Did the Steam client exit (the assert appears to the the Steam client exiting, causing Dota to exit)?

[2017-11-14 22:40] mrkent opened #1348 "[Linux] Disconnects from internet after searching for a game"
This problem is super weird. After I start dota 2 and try to search for a game, the internet connection will literally shut down until I close the dota 2 client. By shutting down, I mean not just the dota 2 client, but from other apps or **devices**. My phone will be unable to connect when it's on the wifi during this time. A pinging of google.com in a terminal stops. Tried to play CS:GO and it di

[2017-11-15 02:55] gdrewb-valve commented on #1348
It sounds like a firewall issue where something in your network setup thinks that Dota is doing something bad and locks things down.  That's just a guess and could be totally wrong.  I'm not sure that we'll be able to tell you much more.

The Steam output is just Steam doing various things.  I don't see anything particularly unusual there.

[2017-11-15 12:41] HanggiAnggono commented on #1144
I also have this issue on my dota 2 installation with ubuntu 16.04, does this has something to do with file permissions?

[2017-11-15 17:36] admshao commented on #1345
I'm also randomly affected by this, although only twice in the past 4 or 5 days, but always when alt tabbing.

I don't have a console.log for now

https://gist.github.com/admshao/d09240196acd9db68b2d374fabc5e8fb

[2017-11-15 18:13] admshao opened #1349 "[Antergos] Disabling Steam Overlay renders game unplayable"
After a few minutes (last time was 30m), game from 130-150fps goes down to 20-30 with heavy stutter and console log spam of Paronama Queue being full or smth.

Will try to reproduce it later

https://gist.github.com/admshao/d09240196acd9db68b2d374fabc5e8fb

    Steam client version (build number or date): 1510705471
    Distribution (e.g. Ubuntu): Antergos
    Opted into Steam client beta?: [Yes/N

[2017-11-15 19:18] mrkent commented on #1348
What's the start/stop voice recordings? I haven't seen them on a few other
logs.
On Tue, Nov 14, 2017 at 6:55 PM Drew Bliss <notifications@github.com> wrote:

[2017-11-15 19:20] gdrewb-valve commented on #1348
It's the Steam voice chat support.

[2017-11-16 13:24] phhoffmann commented on #1339
Same here, late 2012 10.13, 8gb, nvidia 640m

[2017-11-16 21:12] oskarkv commented on #1347
Yes, they both exited (Dota and Steam). And I'm on Linux Mint by the way.

[2017-11-16 21:18] gdrewb-valve commented on #1347
It seems like this might be a Steam issue so I've assigned this to a Steam team dev.

[2017-11-16 22:37] glubsy commented on #1342
I've been having this issue since my latest system upgrade on Arch Linux yesterday.
The game has become absolutely unplayable for me. :(
Thank you @anko for the info AND bug reports on libinput. Hope to see a proper fix eventually (apparently libinput [will be patched](https://bugs.freedesktop.org/show_bug.cgi?id=103636#c6) very soon?)

[2017-11-17 00:18] glubsy commented on #1342
~~Holy spaghetti batman! I just updated to libinput 1.9.2 (from 1.9.1) and the problem is indeed fixed!~~ actually nope, not fixed (yet).

Note: I had to log out of my X session for the library to be effectively used, couldn't find a proper way to preload the older libinput.so with LD_PRELOAD but I was in a rush so I could have messed up somewhere...

Thank you very much @anko and of course, thank

[2017-11-17 03:52] gdrewb-valve commented on #1293
Is this still happening?

[2017-11-17 09:23] ghost opened #1350 "[Arch] Unable to load libpangoft2-1.0.so"
16th November 2017 [Last night] Game flawless.

Updates done =

[code]

This morning launching dota [my only day off :( ] =

![screenshot from 2017-11-17 09-01-52](https://user-images.githubusercontent.com/10640625/32939601-f2749252-cb77-11e7-9934-a36aa738bed8.png)

[code]

Game File integrity is fine.

[2017-11-17 12:56] kisak-valve commented on #1350
Hello @pantar85, add the [libpng12](https://www.archlinux.org/packages/community/x86_64/libpng12/) package to your system.

[2017-11-17 18:07] gdrewb-valve commented on #1350
Closing as this isn't a Dota issue.

[2017-11-17 18:07] #1350 closed, assigned to nobody

[2017-11-17 22:20] glubsy commented on #1342
Ok, I got a bit over excited. The problem still occurs, ~~less often sure, but it's still there.~~ :disappointed:

Starting dota2 with these as parameters breaks font rendering in game:
`LD_PRELOAD="/path/to/libinput-1.8.3-1-x86_64/usr/lib/libinput.so.10.13.0" %command%`

 ![screenshot](https://i.imgur.com/omD7ijA.jpg)

Guess there is no other way but to downgrade the entire libinput package then?

[2017-11-17 23:40] anko commented on #1342
@glubsy The fix isn't in 1.9.2 yet: [the diff](https://github.com/wayland-project/libinput/compare/1.9.1...1.9.2) is mostly documentation. Try [Peter Hutterer's *wip/button-debouncing-v3* branch](https://github.com/whot/libinput/tree/wip/button-debouncing-v3) if you want to test the fix, though you'll have to [compile it yourself](https://wayland.freedesktop.org/libinput/doc/latest/building_libinp

[2017-11-18 00:05] glubsy commented on #1342
@anko thanks, didn't realize that branch wasn't merged, I feel dumb. :)

[2017-11-18 01:00] Kennyswan commented on #1339
Seems like the issue is fixed now with version 2,560 on 7.07C. I am able to go into exclusive window mode and with max ultra settings my FPS is smooth again with 70-80.

[2017-11-18 01:51] kisak-valve commented on #1339
Has the client behavior improved for everybody else in this issue?

[2017-11-18 04:40] ghost commented on #1350
Fixed. Thank you kindly.

[2017-11-18 12:02] itane13 commented on #1261
Same here,

nvidia gtx 860 m, ubuntu 17.10

Playing with vulkan drivers and 384.90

[2017-11-18 14:23] kohshangpeng commented on #1339
yes the latest client made it a lot better, thx a lot.

[2017-11-19 15:56] jmcoimbra opened #1351 "[Linux] Ubuntu enter game and freeze when update is queued"
I am under Ubuntu 16.04 LTS and I got the following behavior:

1. start game
2. find a usual All Pick Match
3. match starts -> ban hero phase
4. I ban one hero
5. the game freezes
6. I restarted Ubuntu
7. Enters steam
8. there is an update queued

I could not capture any output - I don't know how to do that, but now this behavior cannot be reproduced coz I installed the update and no more issues l

[2017-11-20 03:01] gdrewb-valve commented on #1339
Thanks, closing.

[2017-11-20 03:03] gdrewb-valve commented on #1293
Closing pending feedback.

[2017-11-20 03:03] #1293 closed, assigned to nobody

[2017-11-20 09:19] Xiangbo commented on #1307
Same issue here. i create an apple case to trace the issue.Apple ask Valve to support OpenGL，they said the application should choose to use AMD Card

[2017-11-20 09:21] Xiangbo commented on #1346
same issue with  MacBook pro 2017

[2017-11-20 12:10] RankoR commented on #1293
@gdrewb-valve when I've last played about a week ago there were no official guides. I will recheck later.

[2017-11-20 16:00] kangweisim commented on #1185
I have the same issue here. Any fixes?

[2017-11-20 17:59] danginsburg commented on #1307
You can use gfxCardStatus to force macOS to use your discrete GPU: https://gfx.io/ .  Does that fix your issue?

[2017-11-20 18:08] gdrewb-valve commented on #1307
Did Apple explain what they mean by "support OpenGL"?  Dota runs on OpenGL already so it's not clear what Apple is talking about.

[2017-11-20 18:25] natbro commented on #1307
A few additional questions if either of you, @r3laxand3r and @Xiangbo have a moment:
 - can you check to see whether dota2 is running on the discrete graphics card by looking in the Activity Monitor as described here: https://support.apple.com/en-us/HT202053
 - do you have any custom graphics/video settings established or are you just using the default settings that Dota2 chooses for you?
 - can y

[2017-11-21 04:29] dmaltsiniotis commented on #1030
Hello, I am also experience this issue. This issue was brought up almost a year ago, so I was hoping there was some of fix (either on the user end or by a software update.) This behavior unfortunately makes the game completely unplayable unless I disconnect my second monitor and use the MacBook Pro's main display only.

Whichever edge of the screen touches the other monitor is the one that has tro

[2017-11-21 10:14] TomNaessens commented on #1030
@dmaltsiniotis I use [DisableMonitor](https://github.com/Eun/DisableMonitor) in the meantime to be able to play on my external monitor while my internal monitor gets "shut off". I have no idea if it'll help you with desktop arrangement though.

[2017-11-21 12:51] phhoffmann commented on #1339
Nothing has changed for me. Still dropping to 9fps and game becomes unplayable.

[2017-11-21 17:13] gdrewb-valve commented on #1339
Reopening.

[2017-11-21 20:26] hinrek commented on #1342
Same problem here. Im on Arch linux and zowie ec1-a, i opened my mouse to check the middle click button for no reason it seems.

[2017-11-22 01:44] jmcoimbra commented on #1351
The same happened today!

[2017-11-22 02:23] dmaltsiniotis commented on #1030
Thanks @Silox,

DisableMonitor works great as a work-around in this case. I'll continue to use that tool and hope this issue gets some love in the future.

Cheers

[2017-11-22 11:45] phhoffmann commented on #1339
I've reinstalled Dota and now the client feels slow as well. Some heroes portraits not showing on the HEROES tab, all the tabs takes some time to load. I can use my iMac to work (adobe products) and for daily internet stuff. But not for Dota. On the console there's a lot of:

[code]

also i get
`CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event.
CSwapChainBase:

[2017-11-22 16:08] DanialV opened #1352 "Drastically FPS drop on ubuntu 16.04 gnome"
I had ubuntu 16.04 unity and I played dota 2 very smooth.I change my ubuntu 16.04 from unity to gnome and now when I am playing dota I have very serious fps drop from 60 to 3 or 4 fps time to time in game and it makes it unplayable I have Lenovo thinkpad x230t.
lspci:
[code]
When I alt tab and switch window to my desktop for 3 or 4 sec and then switch to game fps back to normal  60 fps I really do

[2017-11-22 18:17] gdrewb-valve commented on #1352
The only change was switching from Unity to Gnome?  You'll want to ask on forums related to Gnome also in case this is a known issue.

[2017-11-22 18:22] DanialV commented on #1352
Actually I reinstall ubuntu with gnome desktop and yes this is the only change I had and I saw this [issue](https://github.com/ValveSoftware/Dota-2/issues/1070) related to gnome but the issue was closed due to the bumblebee problem and I don't have NVIDIA graphic card

[2017-11-22 18:27] gdrewb-valve commented on #1352
If you did a full system reinstall are you sure your graphics driver setup didn't change?  Also when I suggested checking in a Gnome forum I meant something like the forums for the Gnome project.

[2017-11-22 18:32] DanialV commented on #1352
I setup my graphic card correctly because I also play other games and they run very well and this is the main reason I thought it maybe related to the dota 2

[2017-11-22 21:18] gdrewb-valve commented on #1352
If Dota didn't change but your system did it seems like the issue is more likely related to the system change?

[2017-11-22 21:36] DanialV commented on #1352
if you mean here is wrong place for asking my question yes I think so but I am looking for solution and hope someone with same experience can help me to solve it

[2017-11-23 23:54] vonclutch commented on #1320
Hey got some news about this bug !!!

I'll say it's fixed no more lags when playin'  ( i used an ethernet cable ). Looks like the new systeme works great but playin under wifi is still laggy (before even under cable the game froze like hell not anymore). I play some other games ( csgo/tf2 ) where their is no bug/lags underwifi/cable.

[2017-11-23 23:54] #1320 closed, assigned to nobody

[2017-11-24 18:20] Eignar17 commented on #1351
error in my nvidia 1050 overclock linux ubuntu 16.04

[2017-11-24 18:22] Eignar17 commented on #1351
in opengl or vulkan and freeze in several points in the game

[2017-11-24 21:09] ghost commented on #1352
wild guess.

using wayland?

tried xorg?

[2017-11-25 13:11] DanialV commented on #1352
I tried both xorg and wayland but nothing changed and still have fps drop and it's not all the time but only specific times and again return back to normal

[2017-11-25 15:40] uxbyjoao commented on #1339
Same issue, would play on low quality with ok frame rates before but now It's just gone to hell. Even after this update. Literally unplayable, especially during team fights. What is weird is that my computer's fan would always fire before while playing Dota, and now it doesn't anymore. It's not my fan; I've tested it with other games and it's working fine. Not sure if that helps.

MacBook Pro Reti

[2017-11-25 22:38] Turmfalke2 opened #1353 "Dark willow and pangolier getting drawn way to often."
hi,
For some reason when using the back key, in my case it is a mouse button, the game adds another dark willow&pangolier to duelling fates promotion widget. This is noticeable because are all slightly out of sync.
![dw pang](https://user-images.githubusercontent.com/5174562/33235504-af59e7c4-d239-11e7-9e30-6c431c5328fe.png)

[2017-11-27 06:51] RankoR opened #1354 "[macOS] Low FPS after 7.07"
My config is i7-7700K | 32 GB DDR4 | GTX 970 | 4K display.

Before 7.07 I've played on ~60 FPS on middle|high graphics settings with lags in complex scenes (see my previous issues).

Now FPS is about 30-40 on ANY, ultra-low or ultra-high settings.

[2017-11-27 11:38] Geradot commented on #1353
This problem is present in any OS (MacOS, GNU/Linux (any), Windows).

[2017-11-27 16:28] oxycoder commented on #1354
Same here.
Macbook Pro with eGPU RX 580 8GB, cant pass 40 fps on 4K
I also try with Asus Strix 970, FPS can't pass 35.
On Bootcamp, I can get 60 FPS+ with both card above

[2017-11-27 18:23] gdrewb-valve commented on #1354
Duplicate of #1339.

[2017-11-27 18:23] #1354 closed, assigned to nobody

[2017-11-27 18:53] gdrewb-valve commented on #1353
Confirming that this happens on Windows also, I'll pass this on to the larger team.

[2017-11-27 18:53] #1353 closed, assigned to nobody

[2017-11-28 01:11] johndrinkwater commented on #1261
Have a similar issue on `NVIDIA 381.09`, Ubuntu.
It seems much more pronounced with bot matches, and triggers consistently around 30 minutes after launch.

[2017-11-29 08:29] mito24 commented on #1346
same issue here, Macbook Pro Retina 15', 2017 with AMD Radeon Pro 560

[2017-11-29 08:43] gdrewb-valve commented on #1346
Does anybody have a consistent repro, hopefully in hero demo mode?

[2017-11-29 09:25] mito24 commented on #1307
Hey @natbro, I have the same problem so maybe I can add few more details:

- the problem began with the latest OS update to MacOS High Sierra (v. 10.13.1 (17B48))
- I have custom graphics/video settings enabled in dota2 (although lower than the default ones)
- Activity Monitor says that I am running discrete graphics card (but in reality it seems like I am running the integrated one)
- The only so

[2017-11-29 16:50] memedesign commented on #1339
Same issue on my
MacBook Pro Retina 13" early 2015
8 GB 1867 MHz DDR3
Intel Iris Graphics 6100 1536 MB
macOS Sierra 10.12.6

Adding to the thread:
For me, the frame drop ONLY occurs in online matches, while it doesn't seem to occur in a Bot local game. Never experienced this issue before on my mac. Just in the last 10-15 days, so i guess it's one of the latest updates done.

[2017-11-30 12:18] fahribaharudin commented on #1339
Same issue on my
MacBook Pro (15-inch, 2017)
It was running well before with 60-90 fps, but after updating to High Sierra 10.13.1 the fps drop to 20.

[2017-11-30 13:56] natbro commented on #1307
thanks @mito24 - based on what you're seeing, it does look like something new with automatic graphics switching is happening with macOS High Sierra 10.13.1.

[2017-11-30 18:20] gdrewb-valve commented on #1339
You might want to look at the comment about disabling automatic graphics switching in #1307.

[2017-12-01 05:28] jazztickets opened #1355 "[Linux] MMR Badge animation in menus causes extreme slowdown"
When clicking the Watch tab, or a friend's replay, the UI will slow down to crawl as the MMR badge animation plays. This same slow down occurred during a game and I believe it may be related.

When running with Vulkan, there's a tiny bit of stutter but the problem isn't as severe. Seems to only occur with opengl.

Here are some video captures of the problem. I move the mouse around so you can see

[2017-12-01 09:12] zezaocapoeira commented on #1355
Hello.
(sorry bad english)

After the latest game updates, the same problem reported or author to topic occurs.

There is also a fall of fps, from 80 to 1, it stops the game for a few moments.

Before the updates of this week the game was normal.

Description of the hardware I use:

https://pastebin.com/raw/HHjwLsZ7

PS:
I apologize to the author of the topic for intrusion.

Thanks for listening.

[2017-12-01 11:40] fahribaharudin commented on #1339
Alright, good!
My FPS is back to normal by disabling automatic graphics switching.

[2017-12-01 21:12] danginsburg commented on #1355
I notice that you are both using the NVIDIA 387.34 driver.  Can you check if downgrading the driver helps?  NVIDIA has said there are known performance regressions with this driver: https://devtalk.nvidia.com/default/topic/1026874/linux/huge-performance-losses-with-newer-nvidia-drivers/post/5223375/#5223375

[2017-12-01 21:26] danginsburg commented on #1355
I was able to reproduce this on 387.22.  Looking into it.

[2017-12-01 21:30] eplgr commented on #1355
Same thing happens to me with ATI open source drivers.

This only happens when the badges are loading, after some seconds when they are fully loaded, the slowdown goes away.

[2017-12-01 22:02] Taxellool commented on #1355
Same issue with Arch Linux and Intel graphics.

The initial slowdown happens on loading badges and will follow for about 10 sec on anywhere else afterwards

started after last 117 MB update

[2017-12-02 01:02] danginsburg commented on #1355
Thanks for the reports, it is not GPU-specific (nor OpenGL-specific, happens on Vulkan too).  We are looking into it.

[2017-12-02 15:11] RichMartel opened #1356 "Client slowdown after clicking "Watch" tab in the client"
Bug Description:
When I click the watch tab, the games to view are all rendered like a slideshow or 1 or 2 fps.  It's very noticeable in the animated heroes on the left.  If I click out of the watch tab, the client still performs very badly but not quite as bad as the watch tab.

Your Steam Profile Link:
steamcommunity.com/id/richmartel/

Other helpful information:
Linux vulkan version.  I have no

[2017-12-02 15:25] Taxellool commented on #1355
Just need to mention that the problem is not just related to badges loading. happened to me multiple times during a game (where there's no badge) and totally ruined the game.
does not happen in every game though.

[2017-12-02 17:52] r3pek commented on #1352
I would say that #1355 and this one are the same thing.

[2017-12-02 17:53] r3pek commented on #1356
Dup of #1355 and #1352 ?

[2017-12-02 18:29] kisak-valve commented on #1356
Hello @RichMartel, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-12-02 18:31] gdrewb-valve commented on #1352
This predates the badges and shows up in a different way so I think this is probably a different issue.  There's always a chance, though.

[2017-12-02 18:31] gdrewb-valve commented on #1356
Very likely the same thing as #1355.

[2017-12-02 20:14] mosulache commented on #1355
The same apply to me. I changed nothing to my system (16GB, nvidia 970, ssd, i7-4790K CPU @ 4.00GHz) and the game behaves like in the videos above. Also in game from time to time (when there is a fight, more often) has massive FPS drop.
I use ubuntu with xfce (Ubuntu Studio). Never had any performance issues up till now.
I reduced graphic quality but no help.

I have an observation:
My processes l

[2017-12-02 20:16] eelgaev commented on #473
Same here, Arch Linux, Latest Nvidia drivers.
KDE

[2017-12-02 23:55] mosulache opened #1357 "Match overview- player select - scoreboard - overview again display bug (see attached pictures)"
Dear Dota-2 devs (?!)
last update for linux introduced some other bugs than the most frustrating performance drop experiences since the medals are displayed bellow the user (btw these worked for a little while?!)

After watching a game, i looked into player statistics (click on hero in the overview menu).
Went to scoreboard and back again.
You can see in the picture that statistics are displayed o

[2017-12-03 02:42] ghost opened #1358 "[Linux] Dota has started to have random lags"
inxi -F here https://imgur.com/iH3XH3H

2 days ago Dota has started to have client side lag spikes. I have no idea what causes this so I'll update with video when it happens again.

[2017-12-03 03:09] joshuapassos commented on #1358
I have this problem too with and without  vulkan :/

I use Nvidia driver 381.22
Ubuntu 17.04 w/ i3wm
GeForce GT 740M

[2017-12-03 05:56] inzru commented on #1352
Hi there, I am having a similar issue. Am on Ubuntu 16.04 with Intel NUC Skull canyon, FPS dropping to basically zero for a period of 10-20 seconds, about 5 times a game. (though FPS in-game counter says 10-15 FPS, the screen is a literal slide show, one frame per two seconds or so.) happens while spectating and when in the menu too. this started happening after the dota 2 update earlier this week

[2017-12-03 06:00] gdrewb-valve commented on #1357
Likely not Linux-specific.

[2017-12-03 06:02] gdrewb-valve commented on #1358
Possibly the same as #1355.

[2017-12-03 06:11] ghost commented on #1355
This seems to only happen when you start Dota first time after boot

[2017-12-03 06:12] ghost commented on #1358
Seems to be. I added my 2 cents to the conversation.
EDIT: Mine also happens ingame so it's not completely the same.

[2017-12-03 10:23] ghost commented on #1352
I have this issue in Watch menue, screen freezez to load medals and it happends every 15-20 minutes in game.

[2017-12-03 12:32] mikze commented on #1355
Ive got same issue on Linux Mint. It happens even in game FPS drops from 200 to 5 for few sec.

[2017-12-03 14:48] conormcg13 commented on #1358
Mines was only happening in the UI but now in game I am getting huge spikes as well. On Ubuntu 16.04 LTS. RX 480, Mesa 17.2.4

[2017-12-03 16:02] conormcg13 commented on #1358
@gdrewb-valve Drew I just played a game with tab exclusively on 'Learn' with no lags or spikes so this may be able to narrow the issue down to the watch tab and the new emblems.

Edit: This may not be the case, had spikes again (even in Learn tab) so it may be when packets are sent from the server regardless of what tab.

[2017-12-03 16:24] ivanpepelko commented on #1358
Just to add an input from my perspective: it seems like the GUI is lagging when significant update from server is received. Reasons for this conclusion is that the issue occurs:
- after game launch and switch to 'watch' tab (live games list and details)
- when multiple enemies appear from fog

FPS drops from ~100 to ~20 (or even less), PING is always at 22ms.

Arch Linux
i7-6700HQ, NV-GTX1060, 16G

[2017-12-03 17:58] null-patcher commented on #1355
Hi guys,

Ubuntu 16.04
Desktop - Unity

Maybe it will help, but I've checked the error log in steam and when I hit the watch tab, I get this:
https://gist.github.com/GosuTeacher/9d4f3db92bc0fa0bd86307cfeed29880

Hope it helps.

[2017-12-03 18:33] tvvignesh commented on #561
@danginsburg It was working fine for me till today. But I get this bug for last 2 to 3 days.
Running DOTA 2 on Lubuntu 17.10 (Intel Core i5 processor with Intel graphic card, 8gb ram)

[2017-12-03 18:46] kisak-valve commented on #561
Hello @tvvignesh, given the years separation, your issue is most likely unrelated to the issue that was tracked here.

Please open a new issue report with your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in that issue report, any related CrashIDs or minidumps (commonly found

[2017-12-03 20:55] WtGuy commented on #1299
Hello everyone. I've created a linked issue in the ckb-next repo. Please head on over and provide any information to the developers so that we can resolve this issue. I'm inclined to believe it's a ckb-next issue over a Dota 2 issue, but in case it isn't, I'm leaving this issue open

Edit: Don't be confused by the title of the ckb issue. It was renamed when the source of the problem was narrowed d

[2017-12-03 23:15] sylware commented on #1358
Same here, in-game or in dash-board, vulkan or GL renderer.
linux 4.14.3
drm/llvm/mesa(GL+vulkan)/xserver git from this weekend
AMD GPU TAHITI XT
AMD CPU FX 9590

[2017-12-03 23:20] sylware commented on #1349
did report this, but for vulkan dota2.
As far as I can remember this bug is not triggered with the GL renderer (... on my system).

[2017-12-04 02:22] a-litsov commented on #1358
I also have freezes in game (in the end almost every game and at random time in the game fps drops from 80-90 to 10-20 for 3-10 seconds) and in watch tab (when players rank medals loading one by one with pretty big delay).. haven't seen this before dueling fates update. Using OpenGL, inxi -F [here](https://i.imgur.com/YKIWZ2w.png)

[2017-12-04 04:14] RankoR commented on #1346
@gdrewb-valve it almost doesn't happen outside of fights so it's probably almost not possible to reproduce in demo mode. (I've tried for about half an hour).
The only things that I can say that it's not hero-specific and I did not see that in the current patch (but it does not mean that bug is fixed).

[2017-12-04 04:17] RankoR commented on #1330
@gdrewb-valve  It visually seems to be related to https://github.com/ValveSoftware/Dota-2/issues/1346

[2017-12-04 04:23] RankoR opened #1359 "[macOS] Player details overlays match info"
Scenario:

1. Go to match details
2. Select certain player to see the details
3. Go somewhere out of this page, for example, main menu
4. Open match again (for example, from profile -> match)

Result: player details overlap other info (see screenshot: https://i.imgur.com/8SeHgRv.jpg)

[2017-12-04 04:55] gdrewb-valve commented on #1359
This seems to be a duplicate of #1357, does that cover what you're seeing?

[2017-12-04 05:29] Plagman commented on #1355
There was a bug with this panel spawning many processes on Linux and causing these slowdowns. It'll be fixed in the next release, thanks for reporting.

[2017-12-04 05:30] RankoR commented on #1359
@gdrewb-valve yep, that's a duplicate, sorry.

[2017-12-04 05:32] gdrewb-valve commented on #1359
Thanks, closing.

[2017-12-04 05:32] #1359 closed, assigned to nobody

[2017-12-04 09:05] Patrick-Edouard commented on #1355
Thanks for the fix.

It was the same issue for in game and in the menu?

A bit sad it happened right when we get a shot at recalibrating our mmr :(

[2017-12-04 12:43] mikze commented on #1355
yea I lost two games cus of fps drop.

[2017-12-04 14:51] galenzh commented on #1355
Same problem. Linux mint 18.2

[2017-12-04 21:50] csirbu commented on #1358
Have the same problem, goes from ~80 fps to ~12. I tried reinstalling, didn't helped.

[2017-12-05 06:07] sysrpl commented on #1355
Same problem here. After clicking on the "Watch" tab the entire UI becomes unrecoverably unresponsive. Also happens sometimes during a game dropping the frame rate to 1 fps for maybe 10 seconds then it recovers.

[2017-12-05 08:39] dearlygparted commented on #1358
I'm also getting massive FPS drops in the game. They seem to be random. Graphics card is Nvidia GTX 1060 with 384.98 drivers, and using Vulkan.

[2017-12-05 20:29] danginsburg commented on #1355
This update has shipped.  Please give it a try and confirm that it has been fixed.  Thanks.

[2017-12-05 20:33] eplgr commented on #1355
Yeah, it's working properly now.
Nice, thank you.

[2017-12-05 20:42] #1355 closed, assigned to danginsburg

[2017-12-05 20:43] danginsburg commented on #1358
An update just shipped with a fix for #1355 which may be the same issue people are reporting here.

[2017-12-05 22:23] gdrewb-valve commented on #1356
Did the Dec. 5 update help?

[2017-12-05 22:25] gdrewb-valve commented on #1352
The Dec. 5 update has fixed the Watch tab issue. @DanialV I'm not sure it'll help your case but do you see any improvement?

[2017-12-05 23:35] sysrpl commented on #1355
The "Watch" tab is now fixed. I'm sure sure if the other slow downs are fixed as well. I need to test further.

[2017-12-06 01:09] RichMartel commented on #1356
Yes, Dec. 5 update seemed to correct the problem.  I have another issue during gameplay that I required me to exit the game and re-enter to stop a stuttering problem with the rendering.  I will open up another ticket when I understand the circumstances better.

[2017-12-06 01:09] #1356 closed, assigned to danginsburg

[2017-12-06 02:19] sylware commented on #1358
There were 2 issues:
 - massive slow downs.
 - mini freezes.

both seem to be fixed... testing...

[2017-12-06 09:01] sysrpl commented on #1358
Seems fixed.

[2017-12-06 13:44] DanialV commented on #1352
no, I still have fps drop during a game for about 3 up to 20 sec and then fps back to normal and this happened multiple time during a game

[2017-12-06 17:54] #1358 closed, assigned to nobody

[2017-12-07 14:01] galenzh opened #1360 "When I watch a video record can't see the selected heros on linux mint."
When I watch a video record can't see the selected heros on linux mint 18.2. Sorry for my bad english.
![2017-12-07 21-52-10](https://user-images.githubusercontent.com/3645554/33718929-0ea802d8-db9a-11e7-8969-aa3d581ee333.png)

[2017-12-07 14:37] kisak-valve commented on #1360
Hello @zhangshuzhen, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. Also, did you jump forward while watching or did you let the replay play back from the start to this moment?

[2017-12-08 01:47] sylware opened #1361 "monkey king ulti destroy performance"
Played a game with the extented monkey king ulti: performance/fps are destroyed on cast making the action hard to read (gameplay breaking).

[2017-12-08 01:51] galenzh commented on #1360
Hello @kisak-valve ,Yes, I can see the problem only when I jump forward or play back. And, I have the same problem on a computer with  window 7 system.  I think it is not the problem about System Compatibility.

my linux mint Info:
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  Genui

[2017-12-08 06:22] gdrewb-valve commented on #1361
Not a Linux/Mac issue.

[2017-12-08 06:22] #1361 closed, assigned to nobody

[2017-12-08 06:24] gdrewb-valve commented on #1360
As you mention your problem is not specific to Linux/Mac so you'll want to post at dev.dota2.com

[2017-12-08 06:24] #1360 closed, assigned to nobody

[2017-12-08 16:27] WtGuy commented on #1299
Problem has a work around solution in the issue listed above. Head on over and make sure it works for you guys.

[2017-12-08 16:27] #1299 closed, assigned to icculus

[2017-12-08 18:02] danginsburg commented on #1357
This happens on Windows as well, I'll pass it along to the larger team.

[2017-12-08 18:02] #1357 closed, assigned to danginsburg

[2017-12-11 00:46] r3pek opened #1362 "Input problems when Dota is opened"
Ok, I really can't pinpoint the cause of this but I know it comes from Dota itself.

Whenever I open up Dota, the input system goes crazy missing keystrokes or mouse presses. I tested this while having Dota opened an with "xev" to test simple mouse clicks. Totally confirmed because sometimes it just misses a "ButtonRelease" or "ButtonPress" event. The keyboard it's easily confirmed with the in-gam

[2017-12-11 03:10] kisak-valve commented on #1362
Hello @r3pek, can you take a look at https://github.com/ValveSoftware/Dota-2/issues/1342#issuecomment-343702279 and see if that applies to your system as well?

[2017-12-11 09:23] r3pek commented on #1362
@kisak-valve I'll check it later today. The symptoms are the same, but I already have version 1.9.3 installed, so it should be fixed. I'll try downgrading into 1.8.x.

[2017-12-11 18:23] gdrewb-valve commented on #1362
Can you also post configuration info?

[2017-12-11 19:04] r3pek commented on #1362
OK, after a little testing, I had version 1.9.3 as I said, and that version shouldn't had the problem. Still, I reverted back to 1.8.3 and the symptoms are a little different. Instead of missing MouseReleases, I miss mouse presses entirely, not even printing anything while "cat /dev/input/inputX". If I close Dota, everything works like a charm.

[code]

[2017-12-12 20:29] gdrewb-valve commented on #453
We've shipped a new SDL which had some changes in this area, are people still having this problem with the space key?

[2017-12-12 20:31] gdrewb-valve commented on #965
Is this still an active issue?  Note that any situations involving changing the keyboard layout during play would be different from the issue here.

[2017-12-12 20:50] AutoAwesome commented on #965
No it is not and was never an issue again. Everything works as expected.

[2017-12-12 20:50] #965 closed, assigned to icculus, gdrewb-valve

[2017-12-12 21:05] gdrewb-valve commented on #268
Are you still seeing this problem?

[2017-12-12 23:59] gdmsl commented on #268
Yes. Just tried. The problem persists.

[2017-12-13 00:45] gdrewb-valve commented on #656
Is this still happening?

[2017-12-13 06:59] obcardinal commented on #1215
# Who has this error:

## You have to activate DRI3

1. Go to your **Xorg** configuration file: _/etc/X11/xorg.conf_
2. Search section "Device"
3. Add Option or change if you have parameter "DRI" to "3"

So, you will have something of this:
[code]

4. Save file.
5. Reboot.

## Finally, I have this parameters at Dota 2:
[code]

The game is started, but I have other issues with drawing 3d objects.

[2017-12-14 08:24] r4ravi2008 commented on #1307
Facing the same issue, any updates?
@mito24 Your tips does seem to work. Switching off the energy saver settings, brought the fps back to 80 on res:1650 * 1050 with low settings.

[2017-12-14 23:10] iLevye commented on #870
it's happening again.

[2017-12-14 23:16] kisak-valve commented on #870
Hello @iLevye, please open a new issue report with a copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) in a [gist](https://gist.github.com/).

[2017-12-15 00:32] 1xch opened #1363 ""CUSTOM ERROR" (exact message) when using Q skill on Viper"
I just had a game where I could not use Vipers Q skill

Every time I tried to use it I would get tiny no go beep and a message that says "CUSTOM ERROR"

See picture

https://imgur.com/a/i2w0k

Linux, Ubuntu can edit for more detailed information

[2017-12-15 01:13] Turmfalke2 commented on #1363
Afaik that is affecting all platforms and therefore not for this bug tracker. However I have no idea how this update broke viper, maybe the new cosmetic for viper has a custom animation for the q?

[2017-12-15 03:58] khoonirobo commented on #1336
Steam client was updated yesterday which removed the link and the game again stopped working. Recreating the link again restored the game. Just an FYI.

[2017-12-15 20:26] gdrewb-valve commented on #1363
Closing as this has already been addressed by the larger team.

[2017-12-15 20:26] #1363 closed, assigned to nobody

[2017-12-16 04:34] 3dgie opened #1364 "Dota 2 : Swap primary and secondary mouse buttons in-game"
I have tried swapping the primary and secondary mouse buttons in Dota 2 in vain.

What I have tried:

1) Swapping the buttons via desktop settings. This works with pretty much all applications including Dota 2 game menu but does not swap the buttons ingame.

2) Tried editing the file ~/.steam/steam/steamapps/common/dota 2 beta/game/dota/cfg/user_keys_default.vcfg to add

 MOUSE1 "+attack2"
 MOUSE2

[2017-12-16 12:51] darklordabc opened #1365 "Please help us at moddota bug tracker git"
I know valve has forsaken Dota 2 custom games but I still hold out hope that some soul at valve cares. Please, can somebody at valve spend a couple of hours, or devote an employee to help us. We have a bugtracker, we just need somebody to help us. We can pay valve employees can we get some attention, we are seriously that desperate that we could gather up money just to pay for some bug fixes. Oh g

[2017-12-17 06:36] mikefaille commented on #1309
I got the same trouble. Here is my segfault from dmesg.
 segfault at 58 ip 00007f25407aaee5 sp 00007fff4948e100 error 4 in libnvidia-glcore.so.384.90[7f253f366000+189e000]

[2017-12-18 13:27] tskulbru commented on #1307
I still have fps drops and stutter, even with forced discrete graphics and energy saving stuff turned off.

[2017-12-18 17:15] ryan33020 commented on #1336
It would be nice to see this fixed,  it affects Fedora as well and had to relink again after the recent updates as well.

[2017-12-18 22:28] gdrewb-valve commented on #1364
This worked properly for me when I tried it.  A system button swap should be handled completely outside of the game so I'm not sure how it'd only work partially.  Can you post a gist of your system information?

[2017-12-18 22:36] gdrewb-valve commented on #1365
All I can do is pass this on.  Also I have to ask you and everybody else to please not abuse this tracker with off-topic issues.  We don't want people to see this as a way to contact Valve about anything other than the Linux/Mac issues it exists for.

[2017-12-18 22:36] #1365 closed, assigned to nobody

[2017-12-18 23:24] darklordabc commented on #1365
Considering the horrendous treatment Valve has put the modding community through during this Frostivus competition, I think its only fair you guys have to deal with a little inconvenience of receiving a notification in the wrong window. Also, maybe tell your company to actually reply to the dozens of emails we send looking for help and clarification.

[2017-12-19 18:34] arvindkartik commented on #1307
Same as above comment... Forced discrete graphics, energy saving turned off... getting 135 FPS at bot matches... and just 20 FPS on normal/ranked games.

[2017-12-20 00:30] MightyCreak commented on #1336
Same problem here with Fedora 26, and the output is full of dbus assertion :/

[2017-12-20 06:46] 3dgie commented on #1364
Okay, you're right. Swapping the button from the desktop settings swaps them in-game.

I think I should rephrase my question, I'm left handed and would like to switch the functionality of the mouse buttons in-game such that the button which by default selects a hero should instead be used to move and vice versa.

Is this possible?

[2017-12-21 01:25] gdrewb-valve commented on #1364
I don't believe there's anything that allows rebinding just in-game.  You can post a request at dev.dota2.com

[2017-12-21 01:25] #1364 closed, assigned to nobody

[2017-12-21 19:44] RichMartel commented on #1318
I have the same issue.  Arch Linux, steam-native, -vulkan -high startup parameters.  After 10-30 minutes of the game, there is a weird stuttering issue on the display.  Workaround now is to exit the [ALT]-[F4} and then restart Dota 2.

[2017-12-21 19:45] RichMartel commented on #1318
Forgot to mention I'm running Nvidia 387.34 drivers, it's Arch so everything is pretty up-to-date (which could be the problem?).

[2017-12-22 01:02] gdrewb-valve commented on #453
Closing pending confirmation that this is active.

[2017-12-22 01:02] #453 closed, assigned to icculus, gdrewb-valve

[2017-12-22 01:02] gdrewb-valve commented on #656
Closing pending confirmation that this is active.

[2017-12-22 01:02] #656 closed, assigned to icculus, gdrewb-valve

[2017-12-27 13:36] monitor-lizard opened #1366 "[GNU/Linux][Nvidia(Optimus)] Dota 2, stuttering followed by a few seconds freeze."
Greetings,
this is occurring usually  during teamfights, starting with few stutters and then a freeze happens (~3sec), resuming with a few stutters. Afterwards the game runs smooth, until it happens again. Here's a snippet of console log during crash:

[code]

System info:

[code]

NOTE: Steam  does not detect secondary GPU (Nvidia GTX 850M, with nvidia's driver v375.82-1). I'm using Bumblebee to

[2017-12-29 01:57] GTRONICK commented on #1336
Just installed Steam, and downloaded Dota2. It updated, and downloaded some updates for the Steam Workshop. After that, click on Play and it gives:
[code]

Then, I tried to start the game from the launcher script as:

`[gtronick@gtronick ~]$ sh "/home/gtronick/.local/share/Steam/steamapps/common/dota 2 beta/game/dota.sh"`
It gives:

[code]

I am using ArchLinux x64 with multilib enabled:

`Linux g

[2017-12-29 21:29] GTRONICK commented on #1336
Well, I have updated my Linux package: `upgraded linux (4.14.8-1 -> 4.14.9-1)`, also, followed the instructions on: [Game-specific_troubleshooting#Dota_2](https://wiki.archlinux.org/index.php/Steam/Game-specific_troubleshooting#Dota_2), and after two reboots, the game launched. I will keep testing to see if the game works as spected.

EDIT. After login out, and login in again in the desktop, the g

[2017-12-30 00:39] RichMartel commented on #1318
Not 100% sure this is fixed, but a new minor update to the nvidia driver today seemed to fix this issue.  I used to have to close out of dota 1 or 2 times a game, but I just played 2 games with no stuttering.

[2017-12-30 01:29] DanielReeLee opened #1367 "Incorrect Voice Language when using -language launch option"
I have downloaded the Korean DotA voice pack but it does not work if I am using the -language launch option. When not using the -language launch option I find that then the appropriate voice pack language is used.

[2017-12-30 21:06] DarkDefender opened #1368 "[Linux] Dota no longer starts with the OpenGL backend"
Hi,

Since yesterday I am unable to get dota to start with the OpenGL backend. (The vulkan backend works though...)

I get a window saying "Failed to created an OpenGL context. Your graphics card must support at least OpenGL v3.1"

And I get the following in the terminal output:
[code]

At first I thought that this might a driver issue. But CS:GO still starts and all the other opengl games/app I'v

[2017-12-31 15:47] cduez opened #1369 "[Linux] Dota crash with a segfault in i965_dri.so after mesa update."
Updating mesa from 17.2.6 to 17.3.1 today and got a segfault just after the Dota2 launch screen:

`GLRenderThread[887]: segfault at 44 ip 00007ff219676ce0 sp 00007ff2174f3910 error 4 in i965_dri.so[7ff219261000+7f8000]`

I had to downgrade mesa to make it works again as temporary fix.

Not sure is related to dota though.

[2017-12-31 18:07] kisak-valve commented on #1369
Hello @cduez, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. This should also be brought to the attention of your driver vendor if it has not been already.

[2017-12-31 18:26] gdrewb-valve commented on #1366
Likely a similar cause as the other stuttering reports here.

[2017-12-31 18:27] gdrewb-valve commented on #1367
Can you post your system information?  This probably isn't a Mac/Linux issue and will be passed on to the larger team.

[2017-12-31 18:32] gdrewb-valve commented on #1368
The error messages indicate OpenGL is failing very early which typically is caused by a system / Steam runtime issue.  Everything worked fine on this system in previous days?  Do you have an idea of what updates occurred between when it worked and when it stopped?

[2017-12-31 18:33] gdrewb-valve commented on #1369
You'll want to post on a Mesa forum also.

[2017-12-31 23:32] DarkDefender commented on #1368
Yes, it worked perfectly a few days ago. I'm guessing that it might be llvm or mesa related as I updated both of those (from latest git master).

However, I guess I'm asking if there is a better way to see why it fails. I've tried running dota with gdb but it doesn't really tell me anything useful:
[code]
Because as I stated previously, Dota2 seems to be the only steam game I own that can't create

[2017-12-31 23:37] kisak-valve commented on #1368
SIGTRAP is usually a false indicator, tell gdb to continue through them until you hit the actual crash.

I gave mesa git-master + llvm git-master a try on a Polaris10 gentoo box, and Dota 2 behaved fine there.

What cflags and useflags did you build mesa with?

[2018-01-01 00:17] DarkDefender commented on #1368
make.conf CFLAGS:
`CFLAGS="-march=native -O2 -pipe -fdiagnostics-color=auto"`

active mesa use flags:
`classic d3d9 dri3 egl gallium gbm gles2 llvm nptl vaapi vulkan wayland`

I should perhaps also add that I'm running the AMDGPU kernel backend. But that wasn't a problem before.

Without gdb dota seems to post the error and then exit cleanly. But anyways, how do I tell gdb to ignore sigtrap when I

[2018-01-01 13:01] DarkDefender commented on #1368
Ok, it works with older llvm and mesa. So I guess this is a regession in some way...
Thanks for your time/help. I'll keep this open until this is fixed upstream so that other people hopefully doesn't open new issues here.

[2018-01-01 17:00] DanielReeLee commented on #1367
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz
    CPU Family:  0x6
    CPU Model:  0x5e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3200 Mhz
    4 logical processors
    4 physical processors
    HyperTh

[2018-01-01 17:04] DanielReeLee commented on #1367
Computer Information:
    Manufacturer:  ASUSTeK COMPUTER INC.
    Model:  N552VX
    Form Factor: Laptop
    Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz
    CPU Family:  0x6
    CPU Model:  0x5e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  2304 Mhz
    4 logical processors
    4 physical processors

[2018-01-01 19:39] gdrewb-valve commented on #1367
This tracker only handles Mac/Linux issues, the general bug forum is dev.dota2.com

[2018-01-01 19:39] #1367 closed, assigned to gdrewb-valve

[2018-01-01 21:00] cduez commented on #1369
Found according issue on the mesa bug tracker here is the link for those who are interested : https://bugs.freedesktop.org/show_bug.cgi?id=104214

[2018-01-03 10:04] DanialV commented on #1352
I have found the cause of fps drop during the game I monitored my CPU usage in some time suddenly my all 4 of my CPU cores  goes to 100%
there are a lot's of dota 2 thread which eats all of CPU cores  `engine experimental drop frame ticket 1 full screen`  hope this information helps to solve this issue

[2018-01-03 13:49] kisak-valve commented on #1352
Hello @DanialV, with the symptoms described, you should also be keeping an eye on the system temperatures as sudden bursts to 100% cpu usage while under moderately heavy load can also be caused by the cpu being throttled to protect the system from overheating.

[2018-01-04 00:50] obcardinal opened #1370 "Smoothing of the screen at change of viewport"
When I change `mat_viewportscale`, render of the game make smooth pixels. How to adjust or disable it?

![Image](https://i.imgur.com/xvd27Cn.png)

[2018-01-04 05:17] gdrewb-valve commented on #1370
This is the expected behavior, there isn't an adjustment.

In the future please post general questions at dev.dota2.com

[2018-01-04 05:17] #1370 closed, assigned to nobody

[2018-01-04 11:46] DarkDefender commented on #1368
@kisak-valve Did you reboot after updating to git master? I've had a really hard time bisecting the mesa commit that breaks it. Because it seems like it is a problem that uses some kind of cache.

For example one day I downgraded to mesa from 2017-11-26 and it worked (every day before that had the same start problem). Then the next day I tried to narrow down the commit that broke it but all none o

[2018-01-04 12:20] DarkDefender commented on #1368
I've opened a mesa issue here: https://bugs.freedesktop.org/show_bug.cgi?id=104490

[2018-01-04 22:56] kisak-valve commented on #1368
I went ahead and retested with llvm-svn + mesa-git from today with a reboot, and it's working as expected here. I'm going to bow out here as my test hardware isn't close enough to reproduce the issue.

[2018-01-05 03:31] DarkDefender commented on #1368
Found the commit that broke it for me:
https://cgit.freedesktop.org/mesa/mesa/commit/?id=0d044351b7043cd0bc94c1cb9b7a2213f8054414

[2018-01-08 23:16] aalencar commented on #1030
@dmaltsiniotis @Silox Did you guys find any real solution?

[2018-01-09 04:20] dmaltsiniotis commented on #1030
Hi @aalencar,

Unfortunately, there is no "real" solution to this problem, and it's a pain in the butt. I don't think there ever will be a fix either, because the attitude I have observed during my research has been: "it was working before the last macOS update, so there must be something wrong with the macOS, not our problem."

However, using @Silox's recommendation to install the DisableMonitor

[2018-01-09 16:34] utrack commented on #1369
Same here. Random (usually, but not always) D2 crashes after displaying logo in
[code]

[2018-01-10 11:36] aalencar commented on #1030
@dmaltsiniotis I also followed @Silox recommendation to use DisableMonitor, it doesn't work very well on my second monitor though. The only workaround I found was to set the display arrangement diagonally. It's not great, but at least I can play without much trouble.

![screen shot 2018-01-10 at 09 32 20](https://user-images.githubusercontent.com/15820796/34770757-33e8a002-f5e9-11e7-9d2d-1c354924e

[2018-01-10 23:16] astroty opened #1371 "[Linux][Nvidia][OpenGL/Vulkan] Huge FPS drop after upgrading from Linux 4.9 to Linux 4.1x"
After upgrading the kernel version to any newer version, I consistently found to get way lower frames while playing dota. To check if this was a more commonplace issue, I ran Unigine Heaven and found almost no variation between the two versions, making me believe it's something with Dota (or steam).

I am not sure how to do more tests to solve this issue, but I'm interested in helping.

[code]

[2018-01-11 00:51] gdrewb-valve commented on #1371
You'll want to report this on Linux trackers also.

[2018-01-11 21:54] r41p41 commented on #1339
disabling automatic graphics switching doesn't solve the issue.
MacBook Pro (15-inch, 2017)
2.9 GHz Intel Core i7
16 GB 2133 MHz LPDDR3
Radeon Pro 560 4096 MB

start a match leave it for a while, after 1-2 minutes fps will drop from 120 to 20.
Add: i am on lowest display settings on a 4gig GPU and high end cpu, so don't give me potato shit.
lost a ranked game. leave the game for a while 4-5minutes

[2018-01-12 19:31] dubslow commented on #656
The workaround we implemented remains in effect, or at least, I haven't ever messed with the settings since then. As of a month ago, it still worked. If you want I'm willing to do further testing.

[2018-01-13 23:33] jakebesworth commented on #1366
Can confirm this exactly happens on Ubuntu 17.04 with Nvidia 1050 graphics card.

Every few minutes game freezes for 3-5 seconds.

One solution to the problem is to hard restart computer every match (as as soon as PC boots you can play 1 game). Not entirely sure why, but this is a tried and true solution.

[2018-01-14 23:26] regs01 opened #1372 "Dota 2 is undergoing massive botnet attack"
It's being going for a 3rd day already. Impossible to start any custom game as mode is completely locked down by bots. Does anyone care actually?

[2018-01-15 23:07] gdrewb-valve commented on #1372
Closing as the issue is not something this tracker is for.  Valve is aware of the attack.

[2018-01-15 23:07] #1372 closed, assigned to nobody

[2018-01-16 17:39] regs01 commented on #1372
5th day...

[2018-01-16 21:38] edzzzg opened #1373 "Mac OS Dota 2 crash"
Dota 2 crashing for all mac users as soon as it opens with no report.

[2018-01-16 21:39] jelostenan opened #1374 "[MacOS]"
Game crashes after Dota 2 Update - MAIN CLIENT - January 16, 2018. It crashes right after main menu screen

[2018-01-16 21:42] azokwvn opened #1375 "MAC: Dota crash the moment it shows the main menu at launch"
As stated in the title. DOTA opens and shows the main menu and at that exact moment it crashes.

Playing on: macOS Sierra (Version 10.12.6)

Seems it's happening after the latest Dota update.

[2018-01-16 21:46] Juliaandavid commented on #1375
Same here.

macOS High Sierra (Version 10.13.2).

[2018-01-16 21:49] danginsburg commented on #1375
Thanks, we're aware of this and working on a fix.

[2018-01-16 21:51] retardalert opened #1376 "deleted 112"
Join normal or ranked game - Start picking - you'll never get to the end of the picking phase before everyone in the game has lost connection to the server and the game is canceled

[2018-01-16 21:54] markhughes commented on #1374
See #1375

[2018-01-16 21:54] kpamu commented on #1375
@danginsburg dauni ebanie

[2018-01-16 21:55] danginsburg commented on #1374
Closing as duplicate of #1375.  Fix incoming.

[2018-01-16 21:55] #1374 closed, assigned to nobody

[2018-01-16 21:56] jelostenan commented on #1374
Thanks!)

Ср, 17 янв. 2018 г. в 0:56, Dan Ginsburg <notifications@github.com>:

[2018-01-16 21:58] mwaqarshahid opened #1377 "MAC Problem: Dota 2 crashes as soon as I click on Play button"
Today, 16-January-2018, I was playing my game as usual. Suddenly update came and when I updated my game started crashing.

System Information:
macOS Sierra version 10.12.6
MacBook Pro (Retina, 15-inch, Late 2013)
Processor 2 Ghz Intel Core i7
Memory 8 GB 1600 MHz DDR3
Graphics Intel Iris Pro 1536 MB

[2018-01-16 21:58] gu3st commented on #1377
See #1375

[2018-01-16 21:59] danginsburg commented on #1377
Closing as duplicate of #1375.

[2018-01-16 21:59] #1377 closed, assigned to nobody

[2018-01-16 22:02] gu3st commented on #1373
Same as #1375

[2018-01-16 22:02] cachineropro commented on #1375
it crashes at the same time i see the menu and it is the same in other accounts

[2018-01-16 22:02] Random-txt opened #1378 "Cursor is stuck on the top left corner of the screen"
Whenever I alt+tab during a game or on the main menu my cursor is stuck in a corner. I have to force quit the game and relaunch it again. It's fine if I alt+tab in other games though
I don't know if it is my system problem or a bug.

[2018-01-16 22:06] #1376 closed, assigned to nobody

[2018-01-16 22:06] foners commented on #1375
I have this problem too.
im Re-instal game and w8........

[2018-01-16 22:07] kisak-valve commented on #1373
Closing in favor of #1375.

[2018-01-16 22:07] #1373 closed, assigned to nobody

[2018-01-16 22:08] foners commented on #1375
Dota2 Test working!

[2018-01-16 22:09] gu3st commented on #1375
@foners Test will work as it's fairly out of date compared to main.  The issue everyone's experiencing is a new issue from the patch released a little while ago.  The valve folks are working on a fix. Reinstalling won't help as it's a defect in the latest update.

[2018-01-16 22:10] retardalert commented on #1376
dd

[2018-01-16 22:10] retardalert commented on #1376
2

[2018-01-16 22:13] gdrewb-valve commented on #1378
Are you running on Windows?

[2018-01-16 22:24] prabhuaditya opened #1379 "DOTA 2 crashes in macbook pro"
After the new update, DOTA 2 keeps crashing seconds after opening

[2018-01-16 22:26] cyrq opened #1380 "Game crashes after using Monkey King's Primal Spring"
title

[2018-01-16 22:27] kisak-valve commented on #1379
Hello @prabhuaditya, this issue is already being tracked at #1375. The Dota 2 devs are aware of the issue and are working on a fix. Closing as a duplicate.

[2018-01-16 22:27] #1379 closed, assigned to nobody

[2018-01-16 22:34] vichug commented on #1375
same here (yosemite 10.10.5)
if it helps, l have this in console log :
[code]

[2018-01-16 22:35] gu3st commented on #1375
@vichug That seems like something specific to your machine.  Quick google turns up this software: http://www.cableguys.com/curve.html