[2015-07-29 21:42] hchapman commented on #4
Is there any workaround for this? I'm still having this problem on Ubuntu 15.04.

[2015-07-29 21:50] budimanjojo commented on #288
Weird, I tried it again on a Bot Match and now it works. I was pretty sure it didn't work earlier. Closing this for now.

[2015-07-29 21:51] #288 closed, assigned to gdrewb-valve

[2015-07-29 21:57] phoerious commented on #253
Yes, it fixed the initial dropdown value, but no, the sound issue is not gone. In fact, it got worse.
After I started Reborn for the first time after performing the update, the game hung when opening the Audio tab in the settings until I plugged in the headset. After I did that, everything acted normally and the device selection also wasn't empty anymore.

But now at every consecutive startup, Reb

[2015-07-29 22:01] gdrewb-valve commented on #253
We'll have to try and set up a matching system at some point to get into deeper details.

[2015-07-29 22:11] phoerious commented on #253
Chakra Linux (Arch-based)
Pulseaudio 6.0
KDE 4.14.7

I'll get in touch with the distro maintainers, maybe they have some ideas.

I also had a sound issue with Kodi a while ago which led to a fix in Pulseaudio (that obviously hasn't made it to my distro yet). I don't know if Kodi (Helix) uses SDL for audio, but there is some SDL code in that application. I never worked with Pulseaudio at code level

[2015-07-29 23:35] gdrewb-valve commented on #286
I'm not able to repro the chatwheel problem on my Linux multimon box.  We'll have to see if we can recreate the right configuration.

[2015-07-30 00:13] Tele42 commented on #286
Odd gremlins like this tend to appear more often when the primary monitor is on the right and the secondary is on the left. @budimanjojo, what is your monitor layout? I'm guessing the game is launching on the left-most screen and you're moving it to the primary screen (right).

[2015-07-30 00:20] gdrewb-valve commented on #286
I tried it with the secondary both to the left of the primary and to the right and it worked OK.  My test may still not be representative as my monitors have different resolutions, but it does seem like it isn't a simple problem.

[2015-07-30 03:20] gdrewb-valve commented on #1826
I have blocked this user.  If you see anything more like this let me know.

[2015-07-30 03:41] MrSchism commented on #1826
Thank you @gdrewb-valve.  Will do.

[2015-07-30 03:58] chrylis commented on #245
Not sure how much is shared across the OS X and Linux versions, but sounds just like #201.

[2015-07-30 05:27] ssnl commented on #276
No. Still the same thing. I disabled wifi after starting the game, and successfully repro'd this

[2015-07-30 05:28] gdrewb-valve commented on #276
We'll have to see if we can come up with a repro.

[2015-07-30 09:33] budimanjojo commented on #286
@Tele42 The game is launching on the right monitor by default. My primary screen is on the right.

@gdrewb-valve Now it's getting weirder, to be more specific, look at the video below. The cursor is moving like crazy and sometimes the chatwheel is broken but sometimes not. After it is broken all I can do is either close the entire Dota 2 or changing to small resolution windowed mode. But sometimes

[2015-07-30 11:27] manicmouse commented on #246
So still kinda unplayable... :(

I was really hoping source 2 would increase performance on lower end machines.

[2015-07-30 11:32] materemias commented on #246
with all settings off and texture level mid it could be playable at 40-60fps, so if that could be reached that would be an achivement

[2015-07-30 11:34] manicmouse commented on #246
But not really any better than source 1, probably slightly worse - despite being native open GL, 64 bit and on a newer "more efficient" engine.

Like I said, it's disappointing.  This update was supposed to improve performance on lower end machines.  The Mac version should see even more improvement since source 1 was basically emulating direct X rather than being native OpenGL.  Hopefully things i

[2015-07-30 11:42] hyw commented on #246
just wanted to add that there is a definite improvement with the latest 7/28 patch but the performance is still not up to par with source 1. Right now with source 1 settings, I'm able to achieve around 25 fps which is decently playable (before 7/28 update was around 15 fps), but source 1 runs somewhere around 40-60 fps so the difference is still significant. I also remember reading that someone ha

[2015-07-30 12:18] danginsburg commented on #246
We are aware that there are performance issues on OSX on HD 5000/6000/6100 and that HD 3000 is unplayable. The issues appear to be driver problems.  On HD 3000, we have narrowed it down to continuous recompiling of shaders in the driver.  We have filed a Radar and are awaiting response from Apple.  The problem on HD 5000/6000/6100 appears to be that we are GPU limited (the framerate is highly impa

[2015-07-30 13:33] manicmouse commented on #246
Oh no don't worry - I know you guys are working hard.  Despite the lower performance I prefer playing in Reborn at this point because it is actually far more stable for me.  Source 1 DOTA crashes nearly every game for me, Reborn hasn't crashed in my last 5!  So in that respect source 2 is much better.

In terms of driver issues - any plans to make us of metal in El Cap?  Or will Vulcan be on the h

[2015-07-30 18:58] shaddow2k commented on #287
I can confirm that it is today working as intended.

Sorry for my sparse description of the problem. Yesterday I tried to spectate live games. The list of games was there on the left, but when I clicked one game, the middle pane (player names, map) stayed empty, so I couldn't click the watch game button.

I guess it was a server issue then? Feel free to close the issue :smile:

[2015-07-30 18:59] gdrewb-valve commented on #287
Thanks, we'll close and see if it comes up again.

[2015-07-30 18:59] #287 closed, assigned to gdrewb-valve

[2015-07-30 18:59] gdrewb-valve commented on #286
Thanks for the extra info, that is quite strange.  If we can repro we should be able to isolate the issue but this isn't a high priority, unfortunately.

[2015-07-30 19:03] budimanjojo commented on #286
Ok, I won't be moving my screen around while playing too. Just hoping for a bug free stable release later, take your time guys :)

[2015-07-31 00:14] jgkennedy commented on #1664
We still need a fix before reborn. This is a major, daily hassle for me. Valve, is there any progress on this?

[2015-07-31 00:14] jgkennedy commented on #1664
We still need a fix before reborn. This is a major, daily hassle for me. Valve, is there any progress on this?

[2015-07-31 05:31] danil149 opened #289 "dota 2 reborn just not start, ubuntu 15.04 64 bit, overriden libstdc6"
Dongle firmware /home/igma/.steam/linux64/../controller_base/d0ggle.bin loaded, version 1435869091.
and nothing happened, source1 dota work well

[2015-07-31 06:52] danil149 commented on #289
maybe the reason is using system  libstdc6.so.6, without this steam not working

[2015-07-31 07:13] TheJaymowShow commented on #9
I see you guys fixing the issue on other Intels! Great! I've moved to the El Capitan beta and nothing is different there. Not trying to break the rules by repeatedly posting that nothing has changed, but my sys specs have and the problem with the Intel HD 3000 persists in El Capitan as well. Just fyi

[2015-07-31 11:51] budimanjojo commented on #289
Run using steam-runtime.

[2015-07-31 20:00] lakerkid commented on #9
MacBook Pro (13-inch, Late 2011)
Processor 2.4 GHz Intel Core i5
Memory 4 GB 1333 MHz DDR3
Graphics Intel HD Graphics 3000 384 MB

[2015-07-31 21:48] ghost commented on #146
well, it actually run just fine. I am not sure what made it run but I did reinstall Ubuntu and installed newest kernel and mesa drivers. THe console keeps spamming this though:

[STEAM] [S_API WARN] SetModDir() - too long!

Other than that, it runs fine!

[2015-07-31 21:49] gdrewb-valve commented on #146
OK, thanks.  I'm going to close this out as the original issue is addressed.

[2015-07-31 21:49] #146 closed, assigned to gdrewb-valve

[2015-08-01 07:43] budimanjojo commented on #221
Closing this issue since it's not happening again

[2015-08-01 07:43] #221 closed, assigned to nobody

[2015-08-01 18:04] budimanjojo commented on #200
I think this issue is fixed as it's no longer happen even if I don't have the udev rule. Closing

[2015-08-01 18:04] #200 closed, assigned to nobody

[2015-08-01 23:38] sylware opened #290 "[linux] global loadout lost"
Each time I play a game, I have to set my global loadout again (music pack/ward/courrier...)

[2015-08-02 14:52] sylware commented on #278
I use the big picture client. Then I have 3 places where the messages are to be displayed: the big picture client, the popup message box and reborn client... messages are not displayed in all places.

[2015-08-02 16:05] gdrewb-valve commented on #290
I don't think this is all hooked up yet.

[2015-08-02 18:09] tpruzina commented on #143
The problem here is afaik the fact that old dota ignored layouts and did read raw keysyms, whereas reborn seems to use libSDL better and recognize layouts properly.

This naturally screws people who switch between the two since if you used for example programmers Dvorak layout on source1, your spells were still bound as " q w e r t y ", but on dvorak this would translate to " ; , . p y " (source2

[2015-08-02 19:52] gdrewb-valve commented on #143
In theory Reborn could detect the layout change, let the user know and offer a way to remap things.  We have no plans to offer such functionality but there are things that could be done to ease the pain of this.

[2015-08-02 20:51] sylware commented on #290
On Sun, Aug 02, 2015 at 09:05:32AM -0700, Drew Bliss wrote:

A recent update resets the loadout each time I start a game.
It was keeping my loadout settings a 1 or 2 weeks ago.

[2015-08-02 20:58] sylware opened #291 "[linux] [hotkeys] setting for mirroring hotkeys from hero panel lost"
When I go in options/hotkeys, the setting of mirroring hotkeys from the hero panel for neutrals and courrier is lost each time I go there but seems active nethertheless.

[2015-08-03 09:55] diegogmx opened #292 "[linux] On focus change, game crashes"
Plasma 5
nvidia 352.30
spanish kbd

on focus change (alt tab, changing volume [hence showing the volume indicator]) will crash dota, this only happens in game and if focus changes in the current monitor, if i open the main menu on a game and click on my second display it works ok.

i got this stack trace running steam from bash, the fact that inmediately before the crash the library architecture i

[2015-08-03 09:59] diegogmx opened #293 "Fortify button click area"
only the upper portion of the fortify button is responsive, the rest seems to work as if clicking off screen, quite troublesome some times, dont know if its linux specific

[2015-08-03 14:15] TimotheeJeannin commented on #64
Hi @gdrewb-valve,

How can I check the status on this issue ? Is there any bug tracker for the larger team ? It would be great to have this command working ...

Tim

[2015-08-03 15:13] epicipe opened #294 "[MAC] OpenSocketInternal error each time it launches into a game, demo, or watching in-game"
https://imgur.com/Yumfjnt

[2015-08-03 16:45] gdrewb-valve commented on #64
I believe the regular forums are at dev.dota2.com.

[2015-08-03 16:48] jeanlain opened #295 "Certain particles an effects are visible through objects"
Similar to https://github.com/ValveSoftware/Dota-2-Reborn/issues/207
This issue was fixed, but some particles and light effect are still not blocked by objects. See screenshots.
![capture d ecran 2015-08-03 a 18 39 55](https://cloud.githubusercontent.com/assets/4463576/9042583/f92851c0-3a0f-11e5-9fec-31ad5150ba62.jpg)
Here some sphere produced by the ancient is visible through the broken arch.

![

[2015-08-03 16:52] gdrewb-valve commented on #292
The crash reported is in the NVIDIA driver so you may want to report this to NVIDIA also.

I tried starting a bot game and I was able to alt+tab away and back without a problem.  What resolution and video mode are you running at (I was using my monitor settings so desktop-friendly fullscreen).  If you're running desktop-friendly do you have the minimize-on-focus-loss checkbox selected or not (I tr

[2015-08-03 16:56] gdrewb-valve commented on #294
This is expected if the game doesn't have permission to access the network.  Check your settings and make sure Reborn has network permissions.

[2015-08-03 16:58] gdrewb-valve commented on #294
This talks about the place to check and also how to add permanent permissions.  http://robcottingham.ca/2008/03/os-x-applications-constantly-asking-permission-to-accept-incoming-connections-heres-a-fix/

[2015-08-03 16:58] gdrewb-valve commented on #278
Which place are you not seeing it, or is it all three?

[2015-08-03 20:28] gdrewb-valve commented on #291
This happens on Windows also, but it was easy to fix so an upcoming update will have the fix.

[2015-08-03 20:28] #291 closed, assigned to gdrewb-valve

[2015-08-03 21:04] gdrewb-valve commented on #293
I was not able to repro this on Windows or Linux.  What resolution and video mode are you running at (I was using 1920x1200 borderless window).

[2015-08-03 21:31] gdrewb-valve commented on #290
Looks like it happens on Windows also, I've passed this on to the larger team.

[2015-08-03 21:31] #290 closed, assigned to gdrewb-valve

[2015-08-04 00:11] diegogmx commented on #292
this one appearently got fixed with the new driver build, updated today and its working fine

[2015-08-04 00:11] #292 closed, assigned to gdrewb-valve

[2015-08-04 00:24] diegogmx commented on #293
in my case 1600x900 df fullscreen,
in the attached pictures you can see what's happening exactly
![snapshot2](https://cloud.githubusercontent.com/assets/4988994/9050582/8e25593e-3a25-11e5-8ecc-e078b0b4a0a1.png)
![snapshot3](https://cloud.githubusercontent.com/assets/4988994/9050583/8e262c42-3a25-11e5-815c-f92f5300901a.png)

in the first one the pointer is out of bounds, you can easily realize abou

[2015-08-04 00:28] gdrewb-valve commented on #293
If you use a borderless window instead of df fullscreen does that change the cursor behavior?

[2015-08-04 06:37] epicipe commented on #294
Hi @gdrewb-valve

Thank you for taking your time to reply. I have tried doing the steps above and I'm still getting the same error, any other ideas for a fix?

[2015-08-04 07:15] diegogmx commented on #293
no it doesnt, now however thanks to your question i realized whats causing this, kde screen edge functions, appearently they have higher priority than a fullscreen window, so if you have any function assigned to the bottom right edge it will override dota in the lower right part, idk if this can be work around

[2015-08-04 09:20] jeanlain opened #296 "[Mac] Mouse doesn't stay inside dota 2 window"
Since the 8/03 update, the mouse pointer is no longer constrained to the dota 2 window. It can freely move out as if it were a regular window. I think this is undesirable for a game like dota as players may send the game to the background by clicking outside the game window by mistake.

This is on OS X 10.9.5.

[2015-08-04 09:27] jeanlain commented on #296
Ignore, that only happens on menus as was probably already the case before the latest update.

[2015-08-04 09:27] #296 closed, assigned to nobody

[2015-08-04 11:16] oxycoder opened #297 "Game menu and play very dark"
I just get this problem on OSX 10.10.4
Any idea how to fix?
![screen shot 2015-08-04 at 6 11 17 pm](https://cloud.githubusercontent.com/assets/5463953/9059505/d5e63784-3ad4-11e5-9d15-7204d030bfc8.png)
![screen shot 2015-08-04 at 6 11 34 pm](https://cloud.githubusercontent.com/assets/5463953/9059506/d5f2ccd8-3ad4-11e5-9a0f-a9111cec7128.png)

Also the FPS on reborn are very low. I'm usually get 120

[2015-08-04 12:39] sylware commented on #278
On Mon, Aug 03, 2015 at 09:58:59AM -0700, Drew Bliss wrote:

It's weird, have not identified any pattern. Sometimes even where
(bigpicture/reborn/popup) I write a message, once sent, it's not displayed.

[2015-08-04 14:07] sylware commented on #278
On Tue, Aug 04, 2015 at 12:39:03PM +0000, sylvain.bertrand@gmail.com wrote:

what is the inter-process communication protocol used for broacasting the
messages to consumer software components? Valve internal? Or is there an
external third party dependency?

[2015-08-04 15:28] phoerious commented on #253
Hmm. I tried killing pulseaudio and then restarting it with very verbose debug logging (pulseaudio -vvvv). Unfortunately, then Reborn doesn't start at all anymore. It just hangs at the loading screen, no matter how often I remove and plug my headset back in.
Still, here's the gathered log file in case it's of any use: http://pastebin.com/9Js0BaLd

[2015-08-04 19:06] gdrewb-valve commented on #278
The chat messaging should be all Valve-internal processing.

[2015-08-04 19:07] gdrewb-valve commented on #293
Great, thanks for pinning down the issue.  I don't know what can be done but we'll investigate further in the future.

[2015-08-04 19:10] gdrewb-valve commented on #294
Unfortunately no, I'm not sure why OSX isn't allowing Reborn to do network operations.  This works properly on my Mac so we'll have to try and figure out a way to make this occur so that we can investigate.  That will take a while.

[2015-08-04 19:11] gdrewb-valve commented on #297
Can you post your system information from Steam?

[2015-08-04 19:12] gdrewb-valve commented on #85
The August 3 update had a change to try and throttle things a bit to avoid input getting too delayed.  It's not a fix but hopefully would tighten things up a bit, did it make any difference for you?

[2015-08-04 19:13] gdrewb-valve commented on #294
Also #232.

[2015-08-04 22:12] ghost commented on #241
I had the same problem with alt+right click(button3) on Ubuntu 15.04. I changed < Alt >Button3 to another keybind in the "general options" of "compizConfig settings manager" and now it works.

[2015-08-04 22:18] ghost opened #298 "Global items unequipped after each match"
Ubuntu 15.04 64bit
Nvidia 520mx with 346.59 proprietary driver

[2015-08-04 22:28] gdrewb-valve commented on #298
This is a known problem on all platforms.

[2015-08-04 22:28] #298 closed, assigned to nobody

[2015-08-05 02:04] oxycoder commented on #297
This is my system information show from Help -> System Information in Steam

Processor Information:
    Model:  iMac14,2
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3997 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported

[2015-08-05 04:54] gramathy commented on #85
I'm at TI so I don't have my Mac until I'm back. Trying to recreate this over teamviewer isn't really possible unfortunately due to limitations on how it sends input to the far end (I've tried). So I'll be able to tell you Sunday.

[2015-08-05 10:12] elipeters commented on #294
Dota 2 Reborn game failed to launch and crashed it 3 times (the beta game upload is super fast!). Tried Dota 2 and the network failed to connect me due to id already in use. While still in Dota 2 the network closed and "server not upgraded" message appeared.

  Model Name:   iMac
  Model Identifier: iMac13,2
  Processor Name:   Intel Core i5
  Processor Speed:  2.9 GHz
  Number of Processors: 1

[2015-08-05 11:14] epicipe commented on #294
Okay so I tried doing that as well but it just seems to give the error every time. Is there a way to run Reborn using the terminal?

[2015-08-05 11:22] sylware commented on #278
On Tue, Aug 04, 2015 at 12:06:49PM -0700, Drew Bliss wrote:

Then I do not miss anything on my system to make it work properly, I guess. Was checking to be sure.
I think it happens in the past but it was fixed if I recall properly.

[2015-08-05 17:30] SY13 commented on #587
I'm only getting this error when I try launching the game in offline mode

[2015-08-05 17:32] danginsburg commented on #297
Can you post a screenshot of your video settings?  What do you have Brightness set to?

[2015-08-05 18:27] gdrewb-valve commented on #294
There's a dota.sh in the game directory (where the main executable would be game/bin/osx64/dota2) that will run dota on a Mac.

[2015-08-05 18:28] gdrewb-valve commented on #294
@elipeters, are you getting the same OpenSocketInternal error message dialog in Reborn?  If you aren't then please open a separate issue as you are hitting different behavior.  If you're getting failure reports listed in your Steam system info can you post them in the new issue?

You can file your regular not-Reborn Dota 2 issues in the Dota-2 tracker here.

[2015-08-05 18:50] gdrewb-valve commented on #1829
Reborn has its own repo, Dota-2-Reborn.  However in this case you'll need to find a source of a newer Mesa which supports the extension as Reborn can't run without it.

[2015-08-05 20:43] epicipe commented on #294
I can play Source 1 Dota with no problems. But I'm having trouble with the network on Reborn. I can play Solo bot games but it crashes whenever I somehow connect to the server.

[2015-08-05 20:45] gdrewb-valve commented on #294
Yes, the dialog you captured is OSX blocking Reborn from using the network.

[2015-08-05 21:00] epicipe commented on #294
So are there any solutions to bypass the network?

[2015-08-05 21:04] gdrewb-valve commented on #294
Generally no, Reborn needs to be able to use the network to talk to servers for multiplayer games, finding and playing replays, etc.

[2015-08-05 22:13] rodlorric opened #299 "[Linux] Graphic glitch with Antimage blinking in the water."
After you blink in the river with Antimage, you can see the Antimage model under the water, and after a bit it dissapears.
This glitch does not occur on Source 2 - DX9.

I recorded a couple of videos with the glitch replicated:

Dota 2 Reborn DX9
http://gfycat.com/LawfulDownrightIcelandichorse

Dota 2 Reborn Linux
http://gfycat.com/FlashyRegalHorsefly

System Specs:

[code]

[2015-08-06 08:48] oxycoder commented on #297
This is my video setting in games
![screen shot 2015-08-06 at 3 46 43 pm 1](https://cloud.githubusercontent.com/assets/5463953/9107570/65fe1840-3c52-11e5-8b22-56bbddde32ea.png)
The brightness in setting is set to 100%. I also try external monitor (Dell U2414H) via display port, but same problem

[2015-08-06 09:28] budimanjojo commented on #286
Guys, another update. Now I can workaround the bug by doing a "Show Desktop". So basically all I do is doing a show desktop shortcut (Super+D) in my Desktop Environment configuration. Uploaded the video below to show:
https://www.dropbox.com/s/rpq994mu5txnwci/Dota%202.mp4?dl=0
@gdrewb-valve I think the chatwheel problem is not that fully fixed, because it is so weird that now my if I start Reborn

[2015-08-06 16:53] danginsburg commented on #299
I can repro this bug.  It happens in DX11 as well as GL.

[2015-08-06 16:54] danginsburg commented on #297
Can you try setting it to "Exclusive Fullscreen" and seeing if the Brightness slider helps at all?  It seems like some kind of gamma issue but I'm not sure how to repro it.  I haven't seen this here.

[2015-08-06 17:51] gdrewb-valve commented on #286
Something's definitely getting confused and throwing things off but we won't know what it is until we can exactly match your config.

[2015-08-06 17:52] gdrewb-valve commented on #85
No rush, thanks for giving it a try.

[2015-08-06 17:55] rodlorric commented on #299
Yes, just tested it on Windows, it happens with both -dx11 and -gl options.

[2015-08-06 18:06] oxycoder commented on #297
Still no luck with it. I have set brightness to 150%, the menu seem like better a bit, but game background still very dark.
![screen shot 2015-08-07 at 12 50 10 am](https://cloud.githubusercontent.com/assets/5463953/9119298/24ab5544-3ca0-11e5-894c-3f753fda6c8c.png)

I hope i'm not the only one get this problem

p/s: I have tried install game on Fusion (windows 7), it look good, but very lag due to

[2015-08-07 00:32] vhda commented on #119
This is still happening, at least when running under icewm available in Debian Sid.

[2015-08-07 19:45] danginsburg commented on #299
This has been fixed.  The fix will be in the next release.

[2015-08-07 20:55] ghost opened #300 "[linux] Can't indicate position on the minimap during pick phase"
At the beginning of a game, during the pick phase, i can't indicate on the minimap where i intend to go (bot, mid, top, jungle) by clicking on the minimap.
When i click on the minimap, nothing happens (the picture of my selected hero doesn't appear on the minimap).

[2015-08-07 23:56] gdrewb-valve commented on #300
This happens on all platforms and the larger team is aware.

[2015-08-07 23:56] #300 closed, assigned to nobody

[2015-08-08 10:29] ghost commented on #300
Ok thanks.

[2015-08-08 11:10] tiburcillo opened #301 "[Linux] Health font too large, enemy names in low quality font"
Hi Valve, great work on the Reborn linux client. I've noticed that the hp label text is too large in the linux client.
![screenshot from 2015-08-08 10 21 46](https://cloud.githubusercontent.com/assets/13047647/9149735/b39bf25a-3db7-11e5-8268-972dbb3514d7.png)

Is this as designed or rather related to my system? Here's my system info:
System:    Host: calcus Kernel: 4.1.4-040104-generic x86_64 (64

[2015-08-09 01:34] theartas commented on #1395
Thanks a lot!!!! SHOTbyGUN
It worked excellent. I was getting desperate xD

Distro:
Debian Cinnamon

[2015-08-09 14:52] lewisdiamond opened #302 ""Attack" on the minimap moves the camera to the target"
On linux Arch, when I press the Attack key and click on the minimap (more often for shift queuing) instead of just dispatching the attack command to the location, it moves the camera to the location.

This is different from Dota 2 6.84 where "Attack" on the minimap keeps your camera at the same place but issues the attack command to the correct position.

Windows users told me they did not see thi

[2015-08-09 15:15] ghost commented on #87
I start the match with normal FPS (60 VSync stable), but after 5 minutes or so it's down to 25 even lower.
Got this from the console (btw Copy and Paste don't work):

[code]

After a while the FPS goes back again, but the BuildBoneMergeWork message always corelates with new FPS drops.

[code]

On Ubuntu I used to have ~100 FPS in Reborn.
Well I hope this information can help you.

[2015-08-09 17:15] tkossak commented on #1395
It works for me too - alt + tab or alt+LMB/RMB. Thank you.

[2015-08-10 03:46] HarlemSquirrel commented on #60
I ran into the same issue on Fedora 21. Interestingly, `libtxc_dxtn.i686` was already installed and I had to install `libtxc_dxtn.x86_64` and then Dota 2 reborn started right up!

[2015-08-10 05:13] echochamber commented on #1664
Non dota related thread I found, other linux users seem to having a similar issue.

https://code.google.com/p/chromium/issues/detail?id=131863Synergy

[2015-08-10 08:36] OSnapz commented on #1832
Same here as well. Creeps turn radiant and vice versa half way through the game.
They even go invisible on my last game, i was seeing 1 creep and my creeeps started hitting something i could'nt see.

[2015-08-10 16:10] Pharmasolin opened #303 "Range spells display Bug"
Check video, hard to describe bug.

Caution weak English!

How to reproduce bug:
1. Pick bloodseeker, on 1 lvl take 2 skill.
2. Press 2 skill and try to change your current view area with mouse (while 2 skill is pressed and you have blue area displaying spell range).
3. Then rapidly try to take mouse from edge. Check video on 1:08 that's why i'm reporting this bug.
4. Engoy.

P.S. may be not OpenG

[2015-08-10 16:31] Pharmasolin opened #304 "Minimap while choosing hero bug"
Check video from 22 sec.

In "old" dota 2 there weren't this bug. Here i'm trying to tell teammates where i will stay in game, but here can be marked only "bot" forest, and it working very strange. On video i'm trying press on each cm on map. Don't know why it is still not reported, i think it is not OpenGL specific.

https://youtu.be/3NlWSt9k86Q?t=22

[2015-08-10 18:47] gdrewb-valve commented on #304
This is a duplicate of #300, isn't it?

[2015-08-10 20:03] Pharmasolin commented on #304
yes, closing

[2015-08-10 20:04] #304 closed, assigned to gdrewb-valve

[2015-08-11 04:15] gramathy commented on #85
Still doing it :( the change doesn't seem to have made any difference that I can tell.

[2015-08-11 09:24] clankill3r opened #305 "Dota 2 Workshop Tools Alpha : Failed to start game (missing executable)"
Max OS X 10.10.4
MacBook pro retina early 2013.

Beta Participation: Steam Beta Update

Troubleshoot didn't help:
https://support.steampowered.com/kb_article.php?ref=8676-EFLX-7453&l=english&steamid=76561197985052912&errortype=EAppUpdateError&errorvalue=28

I think the tools are actually missing cause If "Delete Local Content..." and reinstall then it downloads 0 bytes.

This problem seems to be r

[2015-08-11 13:32] oldfeel commented on #493
I have this bug, too.

[2015-08-11 14:25] tiburcillo commented on #301
If I may add an update: It seems this is related to the Mesa version. I have updated to Mesa 11 devel, now the fonts appear even larger. Let me know if I can give any more information.
![screenshot from 2015-08-10 17 33 26](https://cloud.githubusercontent.com/assets/13047647/9199907/7cef0e8c-4045-11e5-8776-672e8a643734.png)

[2015-08-11 16:48] gdrewb-valve commented on #305
The tools only exist for Windows so this isn't supposed to work.  As they're also done as a DLC I'm not sure they can be hidden per-platform but I'll check.

[2015-08-11 16:49] gdrewb-valve commented on #85
That's unfortunate, thanks for trying it out.

[2015-08-11 18:20] gdrewb-valve commented on #302
I can't reproduce this on Linux (Ubuntu in my case).  What key do you have bound for attack?  Are you doing a single click in the minimap or multiple?

[2015-08-11 18:27] gdrewb-valve commented on #303
I was not able to repro this.

Can you post your system information from Steam?

[2015-08-11 18:35] gdrewb-valve commented on #305
How did you set up the workshop tools?  How are you trying to launch them?

[2015-08-11 19:36] lewisdiamond commented on #302
Found the problem. I had "quick attack" activated. (new feature in Reborn?)

[2015-08-11 19:36] #302 closed, assigned to gdrewb-valve

[2015-08-11 19:43] Pharmasolin commented on #303
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  3100 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-08-11 19:45] Pharmasolin commented on #303
Pick bloodseeker, press 2 skill (to see spell area) and then with this enabled skill try to change your view range, and then quickly take mouse from edge.

[2015-08-11 19:45] gdrewb-valve commented on #303
That worked fine for me.

[2015-08-11 19:46] Pharmasolin commented on #303
I will update mesa and will try again, also i have low graphics settings on.

[2015-08-11 20:10] Pharmasolin commented on #303
# Still can reproduce bug, video

# http://youtu.be/A0q9lTS5m9M

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  3100 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  U

[2015-08-11 20:12] clankill3r commented on #305
Talking about mac:
First I just downloaded under tools "Dota 2 Workshop Tools Alpha". This with steam not being in Beta Participation and Dota 2 not being installed. (I just wanted to play with hammer and I was hoping I could launch it without the need of Dota 2).

Then I tried a lot of things where I can't remember the order. On a mac the only way to launch it seems to be from the tool menu.

On

[2015-08-11 20:21] Pharmasolin commented on #303
By the way, my friend send me this photo: https://pp.vk.me/c622321/v622321191/487ec/YZRh-XLNcqc.jpg she were trying to open dota 2 beta, but received error, yesterday we were playing it and all was ok. She is using windows 7

AND

When i were in new dota (beta) i send her invite while she weren't in game, only online in steam, she accepted it and steam open for her old dota 2 (not beta).

[2015-08-11 20:34] gdrewb-valve commented on #305
On my Mac the Workshop Tools entry says "this program is not available for this computer".  I get the same message when trying to install it.

Regardless, there is no Mac version of the tools so failure is expected.

[2015-08-11 20:35] gdrewb-valve commented on #303
The new video is private, I wasn't able to watch it.

The networksystem issue is a known problem that will be fixed in the next update.

You'll want to report the invite issue in the regular Dota forums at dev.dota2.com.

[2015-08-11 20:37] Pharmasolin commented on #303
Fixed here
https://www.youtube.com/watch?v=A0q9lTS5m9M

[2015-08-11 20:51] gdrewb-valve commented on #303
Thanks, we'll check into it.

[2015-08-11 21:10] clankill3r commented on #305
In case it helps:

Notice disk usage is `none`
<img width="956" alt="screen shot 2015-08-11 at 11 03 52 pm" src="https://cloud.githubusercontent.com/assets/738650/9210588/6a99453a-407d-11e5-9bed-c4bd0671221b.png">

On `Browse Local Files...` it brings me to:

On verify cache it is verifying dota 2 I guess (since it takes some time).

On delete local tool content I get the same and reinstalling I g

[2015-08-11 22:01] davidw-valve commented on #241
I cannot readily reproduce this. When it occurs does alt-clicking make you grab the window or otherwise perform some action on it?

[2015-08-11 23:05] sylware commented on #283
I confirm, it happens quite consistenly. I just need to play for a while and it happens most of the time. I use an USB audio device.

[2015-08-11 23:07] davidw-valve commented on #283
Can you paste the exact error message you get from alsa?

How long does it take before it happens?

Have you tried using pulse audio and seeing if the problem goes away?

[2015-08-12 12:41] Tele42 commented on #60
@Densaugeo steam is run as the normal, unprivileged user, it does not have the rights to install system libraries, nor should it, as this is a poor excuse elevating privileges. The individual distro's packaging for steam should resolve the necessary system dependencies needed for smooth integration.

[2015-08-12 15:24] phoerious opened #306 "[Linux] Cannot load into games anymore"
Since the last update I have a very serious issue when loading into games. Let me describe what happens in detail:
1. I click find match and accept
2. Dota shows the loading screen with the Dota logo for a longer time than normal
3. finally I load into the screen which shows which players have loaded up already, usually I'm last
4. I hear the compendium pings, but with longer pauses in between whi

[2015-08-12 16:09] phoerious commented on #306
(I know, this is heavy off-topic, but I just lost the most infuriating low prio game ever because of this. With people who are just flaming all game and buying 11 brown boots. This needs to be fixed)

[2015-08-12 16:53] gdrewb-valve commented on #306
Do you see any spew in a terminal, in particular anything about reliable sequence mismatches?  If so this is a known issue that affects all platforms.

[2015-08-12 17:08] phoerious commented on #306
I can't tell and I don't want to try because I may have to abandon the game again. I still have to play two more low-prio matches and I really don't want to get any more of those. Last game was as bad as the first one with a void just buying a shadow amulet and sitting afk on the map all game.

[2015-08-12 17:14] gdrewb-valve commented on #306
It's likely to be the same thing so the larger team will address this.

[2015-08-12 17:17] phoerious commented on #306
Okay. Will there be a notice in the change log so that I know when I can play Reborn again?

[2015-08-12 17:33] gdrewb-valve commented on #306
There'll definitely be a note when the reliable messaging is fixed and then hopefully that'll address everybody's issues.  There are numerous reports on dev.dota2.com and you can watch the discussion there also to see how it's going.

[2015-08-12 19:29] engywook commented on #301
![health](https://cloud.githubusercontent.com/assets/921388/9234256/10181e68-4138-11e5-9e3b-d9d35d8e7b11.png)
That is trying to display healthbars, names doesn't work for me at all.

https://gist.github.com/engywook/7679f344473b2095ce2d#file-gistfile1-txt

[2015-08-12 19:31] gdrewb-valve commented on #301
@engywook, take a look at #120 and see if that applies to you.

[2015-08-12 20:11] engywook opened #307 "High CPU usage when in menu"
Hello,

After starting Dota2(both versions) I get ~130% CPU usage. That is without doing anything at all. In windows 7 CPU usage is like 8%  but that is not for reborn, haven't tried reborn in windows for a while...

 It looks like a busy wait somewhere:
[strace Dota 2 Reborn](https://gist.github.com/engywook/4c66b0b2a12d2da579e6#file-gistfile1-txt)

[strace dota_linux](https://gist.github.com/eng

[2015-08-12 20:19] engywook commented on #301
@gdrewb-valve Yeah, installing ttf-liberation worked, cheers.

[2015-08-12 22:20] micaelbergeron commented on #306
I have the same problem on ArchLinux.
Been playing the game until yesterday, where it all began.

I cannot load into games, the countdown are slowed down.
My ping soars up (like to 4000-6000) then I finally get kicked out of the pick screen.

I would like to give you my console output, but I can't find the file created by "condump".
Briefly, I have multiple network related errors, like "Weird Game

[2015-08-12 22:23] gdrewb-valve commented on #306
The larger team is looking at a set of networking issues and fixes will be coming in future updates.  Hopefully those will correct the problems you're seeing.

[2015-08-12 22:26] phoerious commented on #306
I read through some of the reports in the dev forums. It looks like it is the exact same problem.
One more symptom to add maybe: when clicking the Reconnect button while you're affected by the bug, it first appears to do nothing, and then loads back into the game after quite a delay. I also had a problem with the find match button not doing anything, not sure if that is connected to this issue, th

[2015-08-12 23:03] CalMlynarczyk commented on #1833
I'm getting this every game now on 10.11 (it was working in 10.11 fine just a few days ago). A game would launch, then after everyone loads, all the avatars on the right disappear. I can only get the hero screen to appear after this if I alt-tab out of Dota, and alt-tab back in again.

However, then my controls become unresponsive. Trying to select a hero or send a chat message is delayed by 45 se

[2015-08-12 23:47] heabmi commented on #1833
Yeah, this started after the last update. I wish i could provide more info but that would mean five games in the low pool so I cant help with logs.

[2015-08-13 00:58] gdrewb-valve commented on #306
A workaround for some issues has been made on Valve servers that may help here.  More complete fixes are in the works.

[2015-08-13 01:27] gdrewb-valve commented on #1833
Reborn has its own repo at Dota-2-Reborn.  This is already logged there as issue #306.  Some fixes have already been rolled out and more are coming.

[2015-08-13 03:54] zeroedout commented on #306
Thank you! It appeared to help in my last game, though I did encounter a sync issue a couple times. In that, it got a little laggy, then jumped to where the game really was. It did this literally three or four times in a 40 minute match. But it was perfect the rest of the time. I had ~33ms lag as shown by -ping.

[2015-08-13 06:28] her001 commented on #306
Looks like it fixed it for me and a few others who were also experiencing the issue. Thank you!

[2015-08-13 06:59] rained23 opened #308 "[OS X Yosemite] Using skill on hero harder than dota 2"
Hi,

After many games, I can confirm that, there is something wrong when targeting hero.
Its harder and most of the time to miss skilling/attacking an hero, its like the hero area of target is too small.
This make you need to target/ hover your mouse precisely on the hero area of selection.

Its more harder to target hero that can easily escape as example Storm Spirit. Even the cursor changed to t

[2015-08-13 07:07] Pharmasolin commented on #308
In beta default camera acceleration speed and camera speed is a bit different between default in old dota, as i think, but can be only personal feelings, about hero target area, i don't noticed it, may be you have different resolution in both dotas?

[2015-08-13 07:17] rained23 commented on #305
anyway if Workshop Tools in not available on OS X, I hope it should be added as soon as possible.

Right now I am really interested to develop some custom games but due to Windows only.
I am not buying Windows to just develop a custom games.

Plus many developers having OS X machine, I think its good to have it in OS X.

[2015-08-13 07:23] rained23 commented on #308
@Pharmasolin I have same resolution. at first I think its personal feelings too. But when I try it many times in both client, yes I can tell the targeting hero is easily miss. Sometimes I need to multiple times to cast a spell on hero and this never happen in old client.

[2015-08-13 07:24] Pharmasolin commented on #308
How much you playing new dota?

[2015-08-13 09:41] rained23 commented on #308
is that relevant ? I do play many times that I think suitable to open an issue, I started Reborn from
the beta rolled out. I just play MMR games on old client because of this issue.

[2015-08-13 11:27] crisim commented on #289
i had the same issue, i resolved using this http://askubuntu.com/questions/614422/problem-with-installing-steam-on-ubuntu-15-04/652566#652566

[2015-08-13 15:07] engywook commented on #307
Today I "only" have ~70% CPU usage in menu. The only difference from yesterday is that I installed the ttf-liberation font to get names etc showing ingame. Maybe I'm missing something else, I have a pretty slim Archlinux install without Gnome/KDE/"What SteamOS uses".

[strace reborn](https://gist.github.com/engywook/eb96a268edd5beaf9442#file-gistfile1-txt)

EDIT: Disregard that, after restarting r

[2015-08-13 15:16] computerquip commented on #307
Have you tried turning vsync on to limit framerate? Or is the menu frame limited already?

[2015-08-13 15:39] gdrewb-valve commented on #308
I doubt this is a Linux/Mac issue but we'll hold this open to see what people say.

[2015-08-13 15:44] Pharmasolin commented on #308
At first when i were playing first hours in new dota, i have feeling that mid area in river where creeps have their routs (between coast), were bigger distance between coasts, but now it is ok, i dont play old dota and don't see any problem at all.

With using skill on enemy hero i don't have any problem too.

[2015-08-13 17:39] engywook commented on #307
vsync makes it worse, ~230%. Could be a G-Sync issue I suppose.

[2015-08-13 18:09] gdrewb-valve commented on #305
Sorry but there are no plans to support the Workshop Tools on anything other than Windows.  I'm going to close this out as there's no Reborn bug.  You could potentially open a Steam bug but in my testing it appeared to work correctly.

[2015-08-13 18:09] #305 closed, assigned to nobody

[2015-08-13 23:35] gdrewb-valve commented on #306
The 8/13 update should fix the other cause of this.  If anybody is still seeing problems after updating please post here.

[2015-08-14 03:01] reportados123 commented on #241
No other action is performed on the areas that do not work. Alt clicking does not make me grab the window. Also, I've found that alt-clicking the buffs/debuffs on your hero does not work.

I'm playing in fullscreen mode. I've tried changing the resolutions, the window type from fullscreen to window and borderless window, however, the problem still persists. I thought it might have to do something

[2015-08-14 03:03] gramathy commented on #85
Seems to be working ok now with the 8/13 patch, did you guys change something?

[2015-08-14 03:40] gdrewb-valve commented on #85
It's possible the change I was thinking of didn't actually make the previous update, but I'm not sure that's the answer.  I don't know of another specific change in this area, so we'll have to wait and see if it keeps working and if so I'll close this out.

[2015-08-14 07:55] zbstof opened #309 "[Mac] Screen goes black(ish) when hero is dead"
In the regular dota2 client, when my hero becomes dead, the colors become somewhat bleak, but I can still see everything clearly
In the Reborn client, if I die I cannot see anything - terrain becomes too dark to see. My guess that contrast is all wrong:
![2015-08-14_00008](https://cloud.githubusercontent.com/assets/1374723/9269360/7fc7db92-4271-11e5-8cf2-11b45a0c1481.jpg)
Compare to screenshot fro

[2015-08-14 07:57] zbstof opened #310 "[Mac] When taking screenshots on mac, they have wrong orientation"
When pressing F12, the result looks something like this:
![2015-08-14_00002](https://cloud.githubusercontent.com/assets/1374723/9269517/32e2d712-4273-11e5-9323-519b92e72d25.jpg)
My machine:
$ uname -a
Darwin Stas-MBP 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64

[2015-08-14 07:59] zbstof opened #311 "[Mac] Swiping with 3 fingers to switch windows doesn't work inside client"
I works on old client.
see: "Swipe between full screen apps and spaces" under https://support.apple.com/en-us/HT204895
My machine:
$ uname -a
Darwin Stas-MBP 14.3.0 Darwin Kernel Version 14.3.0: Mon Mar 23 11:59:05 PDT 2015; root:xnu-2782.20.48~5/RELEASE_X86_64 x86_64

[2015-08-14 09:50] boskar commented on #852
Just bought a mouse with key with "office button" - reported as mouse button 10 by xev, redirected to mouse4 in dota.
It's sad...

[2015-08-14 11:34] tiburcillo commented on #308
I do have to admit that certain objects are harder to click in Reborn (Linux user here). I noticed this on the Gyro rocket for example and a few times where i wanted to right click a Windrunner to attack but  ground-moved instead. I'll to to get some more detailed information and a reproducible scenario.

[2015-08-14 13:27] danginsburg commented on #299
Fixed in 8/13 update.

[2015-08-14 13:27] #299 closed, assigned to danginsburg

[2015-08-14 15:23] suhaaktas opened #312 "[Linux]screenshots tell it all"
![](http://i.imgur.com/ILfn1uc.png)

![](http://i.imgur.com/5FLloWG.jpg)

detailed sysinfo : https://gist.github.com/suhaaktas/2943f098145c8df8cf0e#file-gistfile1-txt
Ubuntu 14.04 x86_64
Unity
Radeon HD6770 (fglrx) AMD closed source drivers

[2015-08-14 16:19] danginsburg commented on #312
I suspect unfortunately an incompatibility with the Catalyst 15.3 driver in the fglrx package.  Can you either install Catalyst 15.7 (http://support.amd.com/en-us/download/desktop?os=Ubuntu%20x86%2064) or use the RadeonSI driver?  Both should work.

[2015-08-14 16:40] davidw-valve commented on #311
Do you have your video settings set to desktop friendly fullscreen, or exclusive fullscreen?

In exclusive fullscreen this would be expected.

[2015-08-14 18:03] gdrewb-valve commented on #308
I've seen other reports of similar things on the regular forums (no reported platform but presumably Windows) so you aren't alone.  I'll pass this on to the larger team.

[2015-08-14 18:03] #308 closed, assigned to gdrewb-valve

[2015-08-14 18:06] rodlorric commented on #306
In my case, the game takes a very long time to join a match if I create it via a lobby (US East for example), but it does load after a while. In Windows the game loads much faster. (both are installed on a SSD).

Additionally I am unable to spectate games, at least reliably, most of the time the game will not load, it gets stuck loading.

I didn't try to join a matchmaking game.

Upon bringing dow

[2015-08-14 18:11] gdrewb-valve commented on #308
The larger team is aware of the issue and has made some changes.  As Reborn is running on a very different engine it isn't expected that things will match perfectly but major problems can be raised in the regular forums.

[2015-08-14 20:40] vacuumhdl opened #313 "[Linux] Keyboard key dont work"
Key "q, w, e, r, t, y" and other char don't bind, but numbers "1, 2, 3" and spase work.
Keyboard Language - Russian and English.

Linux version 3.19.0-25-generic (buildd@lgw01-07) (gcc version 4.9.2 (Ubuntu 4.9.2-10ubuntu13) ) #26-Ubuntu SMP Fri Jul 24 21:17:31 UTC 2015 (Ubuntu 3.19.0-25.26-generic 3.19.8-ckt2)

In dota2 not reborn this keys work.

[2015-08-14 21:46] gdrewb-valve commented on #313
What kind of keyboard do you have?  What language do you boot in?  Do you switch your keyboard layout at any time?

[2015-08-14 21:57] gdrewb-valve commented on #307
Background info:  it's expected that the menu will take non-trivial CPU since it's animating and doing quite a few things even without user interaction.  On Windows GL mode takes about twice the CPU of DX9 (the default on Windows) because of variation in the drivers and calling patterns.  Then throwing in the fact that Windows splits 100% CPU usage among all processors and 8% DX9 CPU usage would e

[2015-08-14 21:59] gdrewb-valve commented on #310
This appears to be a Steam issue and not a Reborn issue (for example https://steamcommunity.com/discussions/forum/2/611696927910752291/) but we're talking to the Steam team about it.

[2015-08-14 22:36] rained23 opened #314 "[OS X Yosemite] Copy-Paste not working corretly"
Hi,

There is an issue when doing copy and paste in the chatbox. Copying text work using right click, but when using cmd+c or cmd+v are not working properly sometimes the copy paste mimic windows copy paste Ctrl + C or Ctrl + v.

Copying text from outside of client not gonna work. But I think it works in Windows client.

[2015-08-14 22:51] suhaaktas commented on #312
currently there are some issues with 15.7 on ubuntu. tried to install it many times and failed every single time. and radeonSI is only for newer cards. is there any workarounds with 15.3?
fglrx and fglrx-updates packages both use 15.3 i guess?
http://www.ubuntuupdates.org/package_metas?exact_match=1&q=fglrx
http://www.ubuntuupdates.org/package_metas?exact_match=1&q=fglrx-updates

[2015-08-14 23:51] gdrewb-valve commented on #314
This worked properly for me.  I highlighted some text in a terminal, copied it, started Reborn, clicked in the chat box and did Command+V with no issue.  Does that work for you?

[2015-08-15 00:02] rained23 commented on #314
@gdrewb-valve Its work now, before it didnt work, maybe the latest 50 MB update fix this issue.

[2015-08-15 00:02] #314 closed, assigned to gdrewb-valve

[2015-08-15 04:14] computerquip commented on #312
Your card will work fine with the Radeon drivers.

[2015-08-15 04:38] rodlorric commented on #306
Reporting back after the last patch (August 14):

I can watch games on DotaTV now and joining a match created via a lobby is pretty fast now.

No more messages in the console.

[2015-08-15 06:40] zbstof commented on #310
Well, in the old client screenshots are fine, so I would say, its reborn-specific.

[2015-08-15 07:15] ghost commented on #9
The needing to click many times to get one click registered issue is now affecting a 2012 15" Retina with the 650m GPU active. 2.3GHz, 16GB DDR3 when it previously wasn't. :\

The menus and the game itself are high framerate and smooth, hover states activate instantly, but any click from menus to choosing heroes to right clicking in game requires a bunch of clicks before one takes effect.

[2015-08-15 08:10] gdrewb-valve commented on #310
Except that in the link I posted there are users complaining about upside-down screenshots on Mac and they aren't using Reborn.

[2015-08-15 08:11] vikrantpogula opened #315 "[Mac] Latency Spikes + Input Lag (when fps < 60, network fine)"
Reborn Mac client seems to spike to 150-300ms latency (normal 60ms)  with lot of input delay. My network is fine for the entire duration.

The input delay is not because of latency (150ms is playable).. its just input delay.

Tested and discovered it occurs in a specific case whenever fps drops below 60.
- fps > 60 => `50-60ms`
- fps <= 60 => `150-300ms + input delay`

Tech Specs

[code]

I used t

[2015-08-15 08:57] threexone commented on #120
Hi,

I have the same problem as the initial post. I installed ttf-mscorefonts, but the problem is still present.

**My system information** :

Processeur :
    Fabricant : GenuineIntel
    Famille du processeur : 0x6
    Modèle du processeur : 0x3a
    Révision processeur : 0x9
    Type de processeur : 0x0
    Fréquence : 3400 Mhz
    4 processeurs logiques
    4 processeurs physiques
    HyperThr

[2015-08-15 16:21] phoerious commented on #253
Because I didn't know any other solution I tried a clean live environment from DVD and audio seemed to work properly in all mentioned applications. Therefore I reinstalled my system partition with a fresh and clean ChakraOS and those issues are gone. I have no idea why, but I already suspected that a reinstallation would help. I have sound in all of those SDL games, I have sound in Kodi and Reborn

[2015-08-15 16:47] VelorumS opened #316 "[Linux] [Windows] Ingame UI talk icon rendering artifact"
Noticed a semitransparent triangle every time when voice icon was shown in game.

It was in "Horde Mode" custom game.

Ubuntu 15.04, GTX 760 (faster edition), nvidia-352.

![2015-08-15 18 39 48](https://cloud.githubusercontent.com/assets/5393579/9289882/fbb4b5ba-437d-11e5-8950-dbcc1ff03dc1.png)

[2015-08-15 17:46] gdrewb-valve commented on #253
Should this stay open then or should I close it?

[2015-08-15 17:47] gdrewb-valve commented on #215
The SDL devs have fixed this and the 8/14 update has the updated SDL.  Are you still seeing this?

[2015-08-15 17:49] gdrewb-valve commented on #316
Same as #221, but that did not reproduce.  Does this happen even when you exit Reborn and restart it?

[2015-08-15 17:56] gdrewb-valve commented on #9
@Dotstrosity, your problem sounds like a separate issue as this one is primarily about frame rate.  You might want to open a separate issue, although people on all platforms have reported issues with input lag and missed clicks so it probably won't be handled here.

I don't think the larger team has a solid repro.  Does it happen every time you run Reborn, and from the start of running Reborn?  It

[2015-08-15 18:02] phoerious commented on #253
Since I doubt that we'd be able to debug the actual problem, I think this can be closed.

[2015-08-15 18:19] gdrewb-valve commented on #253
OK, thanks.  We'll reopen if you get more info on what the issue might be.

[2015-08-15 18:19] #253 closed, assigned to nobody

[2015-08-15 18:24] vacuumhdl commented on #313
install kubuntu - all work.

[2015-08-15 18:30] rodlorric opened #317 "[Linux] Error message and game crash while spectating"
So far this has happened twice while spectating matches, in which an error dialog pops out:
![First Error](http://i.imgur.com/gxYdubD.png)
![Second Error](http://i.imgur.com/uNR0iod.png)

I don't know how to reproduce it yet, but since they are specific error messages I am reporting this issue.

I guess is not Linux specific, but I have tried to spectate games on Windows and no errors at the momen

[2015-08-15 19:10] budimanjojo commented on #316
Mine happened in a matchmaking game, seems like it's a only happens when something is triggered bug

[2015-08-16 01:19] bklooster commented on #9
@Dotstrosity This is likely the same issue as #238 where the first launch after an update, sound and single inputs don't seem to work. It's acts like the window isn't in focus. However, the windows respond to mouse over events. You can sometimes double/triple click UI elements you should be able to quit and relaunch and then it will usually will work fine. At least on my machine.

[2015-08-16 01:52] ghost commented on #238
Thanks for the link - it was unfortunately happening every launch after a recent update. Completely uninstalling the client and redownloading it resolved it somehow, figured it was worth a shot and it worked.

[2015-08-16 02:16] gdrewb-valve commented on #317
The regular forums have a couple of reports of this, although no platforms mentioned.  I've passed this on, it will likely be handled by the larger team.

[2015-08-16 02:17] gdrewb-valve commented on #313
Do you want to leave this open?

[2015-08-16 02:19] gdrewb-valve commented on #9
Thanks for making that connection, that helps narrow things.

[2015-08-16 04:35] mmm0nky opened #318 "Bug in hero selection tab Dota Reborn"
The cursor just scrolls through all the heroes on screen. No matter which view I select, it just scrolls through all the heroes at speed. I hope that was an adequate description as I really don't know how else to explain it. Any help would be greatly appreciated. Thanks in advance.

[2015-08-16 09:36] RenwarKarim commented on #289
what is steam-runtime and how do i use it?

[2015-08-16 12:37] VelorumS commented on #316
Now it's not happening.

Yes, something is triggering it and it's stuck like that at least till the end of the game. (don't know if it bugs from the start of the game, don't know if entering the new match clears it)

[2015-08-16 13:16] Pharmasolin opened #319 "Keybord input with non-English language"
More from #313
1. Change language to Russian/other non-English.
2. When choosing hero - you can't search hero with writing hero name (video shows how it works http://youtu.be/QsaYgRHd0S0 )
3. While in game you can't use spells (q, w, e, r, etc) till you will change language from Russian to English, i guess there will be the same problem if you use Chinese language, etc.

Ubuntu 15.04, Unity DE (de

[2015-08-16 13:39] jomihaka commented on #215
Yes, still happens.

/proc/<pid>/maps shows this sdl is being used: ~/.local/share/Steam/SteamApps/common/dota 2 beta/game/bin/linuxsteamrt64/libSDL2-2.0.so.0

[2015-08-16 14:15] yoyosan commented on #317
+1

[System info](https://gist.github.com/yoyosan/5994816)

[2015-08-16 14:30] gramathy commented on #297
I'm getting this as well after updating to 10.10.4. I got my UI (including the ingame HUD) to fix its gamma by going to windowed mode and back (normally I use desktop-friendly fullscreen) but in-game rendered views are still as oxy shows.
![screen shot 2015-08-16 at 7 23 58 am](https://cloud.githubusercontent.com/assets/750839/9293676/ae62f20c-43e8-11e5-98c8-ca1e9c09f824.png)
![screen shot 2015-08

[2015-08-16 14:36] oxycoder commented on #297
@gramathy : I just open reborn today, it was fixed after upgrade system to 10.10.5. Try upgrade your OS to 10.10.5

[2015-08-16 14:36] #297 closed, assigned to danginsburg

[2015-08-16 16:22] sylware opened #320 "[linux] cannot add a friend"
I'm using the big picture steam client.
Adding a friend does not work. I tried with the contextual menu and the friend id.

[2015-08-16 17:20] sylware commented on #283
"ALSA lib pcm.c:7339:(snd_pcm_recover) underrun occurred"

There are no time pattern I could see.

I don't have pulseaudio.

[2015-08-16 18:22] Vuccappella opened #321 "[MAC OS] CMD key now works as ALT in game since last update."
So the CMD key in game now works as ALT and you cant bind it to anything anymore, any combination of cmd+something is displayed as ALT + something now. ALT still works normally as well. IF this was intended, can we at least get an option to toggle it off or on, because I do not want it to have the alt functionality for example.

[2015-08-16 19:08] gdrewb-valve commented on #321
Using Command for Alt was deliberate but we can consider changing it back.

[2015-08-16 19:10] gdrewb-valve commented on #289
It's a binary compatibility layer provided by Steam and used automatically by default when launching from Steam.  It can be overridden in various ways but generally if you haven't specifically done something and you are launching from Steam on Linux you'll be using the Steam runtime.

[2015-08-16 19:14] gdrewb-valve commented on #318
Can you post your Steam system information?

[2015-08-16 19:16] gdrewb-valve commented on #320
You're not using Reborn to do it?  If this is Steam only please file a bug in the Steam forums.

[2015-08-16 19:16] gdrewb-valve commented on #13
The 8/14 update has some SDL changes which may affect this.  Can people try it out again?

[2015-08-16 19:17] gdrewb-valve commented on #152
The 8/14 update has a new SDL that might fix this, can you try again?

[2015-08-16 19:17] gdrewb-valve commented on #306
Is anybody else having problems after the 8/14 update?

[2015-08-16 19:46] sylware commented on #320
On Sun, Aug 16, 2015 at 12:16:18PM -0700, Drew Bliss wrote:

I do use reborn: In reborn, I cannot add a friend whatever way I use (contextual menu...).

[2015-08-16 20:01] SHOTbyGUN commented on #13
Still starts always on my secondary monitor, tested with launch options:
-sdl_displayindex 0
-sdl_displayindex 1
+sdl_displayindex 0
+sdl_displayindex 1

Distro: Linux Mint Debian Edition 2 Cinnamon 64bit

**PRO TIP:**
I have to do this every time I connect to game server: http://i.imgur.com/SR7ft80.jpg
this will **prevent my mouse escaping from the game screen** to the another monitor. (Do it whe

[2015-08-16 21:16] mmm0nky commented on #318
Thanks for replying, Here is my system info:

Processor Information:
    Model:  MacBookPro11,3
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x46
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2800 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    S

[2015-08-16 21:45] gramathy commented on #297
That's not a reason to close the issue, it's still not fixed.

[2015-08-16 21:52] gdrewb-valve commented on #297
It depends, as if this is an OSX issue and not something in Reborn it won't be tracked here.  Can you check on whether updating helps?

[2015-08-17 01:32] JenniferPylko opened #322 "Anti aliasing does not enable"
The checkbox in the settings menu has no effect

Below is my system information. However, it is not entirely accurate. I'm running the game through primusrun on a nvidia geforce gtx 960m with driver version 352.30.

[code]

[2015-08-17 04:08] gdrewb-valve commented on #322
Do you mean the setting doesn't stay set or that there is no visual change?

[2015-08-17 04:11] JenniferPylko commented on #322
No visual change.

[2015-08-17 09:25] rained23 commented on #320
@gdrewb-valve how can we add friend from reborn using friend ID ?

[2015-08-17 09:47] artemklevtsov commented on #306
After 8/15 update I have disconnects anytime in the Overthrow.

[2015-08-17 11:11] sylware commented on #320
On Mon, Aug 17, 2015 at 02:25:37AM -0700, rained23 wrote:

You have the add friend icon in the reborn friend window (top right if I recall properly)
where you can add a friend using its id.
I did try this way too. Did not work (I use the big picture client and overlay).

[2015-08-17 12:09] YabosMcGee commented on #13
@gdrewb-valve Still launching on the secondary monitor with or without the sld_displayindex launch options put in. Also I double-checked the regular Dota client, and it still launches on the correct (primary) monitor like it always has.

I don't know if this is relevant, but I've noticed that two other games are similar to this situation. Kerbal Space Program in Steam launches on the correct (prim

[2015-08-17 14:35] ghost opened #323 "[Linux] No Re-rendering on focus in Hero Grid"
When mouse pointer hovers a hero, this hero is focused and the image enlarged. In Linux client, the hero image is not re-rendered and is therefore not sharp. This becomes clear with the provided screenshot.

Platform: Arch Linux 64-bit
Window Manager: i3
Compositor: compton
Graphics card: NVIDIA Geforce GTX 670
Graphics driver: Propreritary nvidia 352.30-2 driver

![hero image not rerender at focu

[2015-08-17 15:22] danginsburg commented on #310
I have checked in a fix for this issue.  The fix will be in a future update to Steam (note Steam, not Dota 2 Reborn).  The issue impacts OSX games using OpenGL Core Profile.

[2015-08-17 15:22] #310 closed, assigned to danginsburg

[2015-08-17 15:38] Vuccappella commented on #321
In source 1, I was really put out by the fact that I cant use cmd as a modifier and that cmd + q would quit my game as I wanted to use that  binding in game, however I adapted and I'm quite used to the alt and cmd set up and I use cmd as a binding rather than a modifier. However I do understand the change, the thing that bothers me though is that both keys act the same now, so they are both effect

[2015-08-17 15:40] gdrewb-valve commented on #321
Reborn (and original Dota) only use Alt as a binding modifier so it's really only a question of whether Command means Alt also or not.

[2015-08-17 15:42] gdrewb-valve commented on #323
The hero movies only play on Windows (issue #112), that's probably what you're seeing.

[2015-08-17 15:47] Vuccappella commented on #321
But with a config file you could add extra modifiers, does that mean that the development team do not want to add more modifiers officially since dota hasn't been like that trough out history?

[2015-08-17 16:01] sunbriel commented on #1664
Still hasn't been fixed. Linux Mint 17.2 x64. It's a really annoying bug.

[2015-08-17 16:28] IdleGandalf commented on #1835
Dup of https://github.com/ValveSoftware/Dota-2/issues/1664

[2015-08-17 17:38] gdrewb-valve commented on #321
There's no code in Dota to look at any modifiers other than alt (and ctrl in a few specific situations, but not for keybinds).  The larger dev team could add such code at any time but that's beyond the scope of this issue.

[2015-08-17 18:02] gdrewb-valve commented on #13
Thanks for trying it, I've sent this feedback back to the SDL devs.

[2015-08-17 18:03] gdrewb-valve commented on #85
I assume there haven't been any further problems?  Closing this.

[2015-08-17 18:03] #85 closed, assigned to gdrewb-valve

[2015-08-17 18:04] gdrewb-valve commented on #215
That's the right libSDL.  Can you check the time and size of that file?

[2015-08-17 18:07] danginsburg commented on #322
Can you try bringing up the console with \ and typing "toggle r_dota_fxaa" and post before and after screenshots?  The FXAA effect is somewhat subtle.  I've tried it here and it is working just fine.

[2015-08-17 18:08] gdrewb-valve commented on #306
The Overthrow problem is a separate issue that occurs on all platforms and won't be tracked here.

http://dev.dota2.com/showthread.php?t=176861

If nobody is having non-Overthrow problems I'll close this.

[2015-08-17 18:08] gdrewb-valve commented on #311
Closing pending more information.

[2015-08-17 18:08] #311 closed, assigned to gdrewb-valve

[2015-08-17 18:09] gdrewb-valve commented on #313
Closing pending confirmation that this should stay open.

[2015-08-17 18:09] #313 closed, assigned to gdrewb-valve

[2015-08-17 18:10] Vuccappella commented on #321
I see, thanks for your time. Anyway, an on or off option for this might be nice in the future.

[2015-08-17 18:11] gdrewb-valve commented on #322
Just noting that it works properly on my Linux box also.  I only have a single GPU, I don't have a dual-graphics setup to test on.

[2015-08-17 18:21] gdrewb-valve commented on #321
I think we're just going to roll back the Command-as-alt change and reserve it as a possible future modifier key.  That does mean you lose the ability to bind the Command key itself but it will be consistent with ctrl, shift, alt and the handling of the Windows key on Windows.

[2015-08-17 18:34] gdrewb-valve commented on #318
I just tried this on my Mac and it worked fine.  I started a bot game and hero selection worked as expected.  Are there any more specifics to the repro?  Does it happen for you with a bot game?  Does it happen every time?

[2015-08-17 18:48] gdrewb-valve commented on #320
What happened when you tried?  What ID were you trying, was it 120939?

[2015-08-17 18:53] gdrewb-valve commented on #319
You are changing the system language / keyboard layout, correct?  There are some SDL issues in this area.  The next update might help.

[2015-08-17 19:06] gramathy commented on #297
Nvidia only released their 10.10.5 web drivers today so I can now, but I'll have to wait until I get home.

[2015-08-17 19:06] Pharmasolin commented on #319
Yes, in video i'm changing system language (alt+shift). When English
language is choosen i can use hotkeys in game, when Russian - i can't.
17.08.2015 20:53 пользователь "Drew Bliss" notifications@github.com
написал:

[2015-08-17 19:09] gdrewb-valve commented on #199
The 8/14 update had a few tweaks to sleep and wakeup, did that change usage for you?

[2015-08-17 19:11] gdrewb-valve commented on #319
Bindings are keyboard-layout-specific (which I assume is affected by changing the language) so this isn't supposed to work.  #143 is open covering changing this but there are no planned updates.

I think that leaves the hero name lookup, which should in theory work but is perhaps getting confused.

[2015-08-17 19:27] budimanjojo commented on #199
Yeah, before it was 70% even in menu. Now it only takes 11% of usage in menu and goes up to 60% ingame.

[2015-08-17 19:29] gdrewb-valve commented on #199
OK, I'm going to close this.

When the game is running it'll try to use all resources possible, there is no upper limit to the CPU usage in that case.  The menu shouldn't be that bad, though, so hearing that it has dropped back to 11% is good.

[2015-08-17 19:29] #199 closed, assigned to gdrewb-valve

[2015-08-17 19:31] budimanjojo commented on #199
Ok thanks gdrewb

[2015-08-17 19:31] JenniferPylko commented on #322
`toggle r_dota_fxaa` does nothing, nor do `r_dota_fxaa 1` or `r_dota_fxaa 0`

[2015-08-17 19:35] JenniferPylko commented on #322
Here's my .nvidia-settings-rc:

[code]

I've tried toggling the FXAA setting within nvidia-settings, and it updates the file, but does not change the image in game.

[2015-08-17 19:37] presianbg opened #324 "[Linux] Information: DOTA Loves MATE DE (fixing FPS)"
Dear All,

I found that running DOTA 2 Reborn under MATE Desktop Environment making huge difference. For an example:
My primary DE is Cinnamon and running:

[code]

results in 150-180 fps. Yesterday I installed MATE. The benchmark gives 300 - 320 fps. So far so good. But decided to give it a try with Dota 2 Reborn. Guess what? No more fps drops, no more glitches, no more bad performance. Even with

[2015-08-17 20:02] danginsburg commented on #322
Please post before-and-after screenshots with toggling Anti-Aliasing in-game.  The effect is quite subtle so I wonder if you are just not noticing it.  If you are running with this:

0/FXAA=1

You are having the driver already do FXAA so it probably becomes even more subtle.  I have tried this on several machines, including Ubuntu 15.04 x86_64 with NVIDIA 346.59 and it is working fine.

[2015-08-17 20:14] gdrewb-valve commented on #324
Do you think there's a Reborn issue or are you just posting this as information for other people?

[2015-08-17 20:21] JenniferPylko commented on #322
I too was initially confused about the 0/FXAA option. All that does is allow FXAA to be used, and since 0/FFSAAAppControlled is 1 and 0/FSAAAppEnhanced is 0, it's up to the program. It's _definitely_ not enabling, but I will post screenshots.

[2015-08-17 21:01] budimanjojo commented on #320
Can you add friend using source 1 Dota? Have you ever tried adding friend before? As far as I know you have to buy at least one item using steam wallet before you can add friends.

[2015-08-17 23:18] jomihaka commented on #215
size: 1080019
date: 14. 8. 04:02
md5sum: ded718e3a36c3dc580aa938e7f982b74

[2015-08-17 23:20] gdrewb-valve commented on #215
That's the latest file.  I'll let the SDL devs know that their fix may not have worked.

[2015-08-17 23:44] XANi opened #325 "[Linux] Windows(Super) key can't be binded to action"
In Dota 2 Win key was bindable to any action (I used that for quickbuy).

In current version of Reborn I can't bind it to anything (in one of previous ones it worked like Alt key on bindings screen but if I remember correctly didn't work at all in match).

It would be nice to have it back as it is very convenient key to use and it doesn't (usually) have any use in Linux

[2015-08-17 23:47] gdrewb-valve commented on #325
It's deliberate that you can't bind that key on its own (or ctrl or shift or alt).  I'll leave this open as an enhancement request but I don't know if it'll change.

[2015-08-17 23:54] XANi commented on #325
Yes but it also can't be used as a modifier, which makes it a bit useless. IMO it should be either available as separate modifier key (as it is supposed to be in Linux as most DE can use it as modifier) or "just another key" (like in old client)

[2015-08-18 00:38] gdrewb-valve commented on #325
It is true that it can't be used as a modifier now but that may not always be true in the future.  It also performs system actions when the game is running in a window.  Just as a data point neither version of Dota has allowed the Windows key to be bound on Windows even though it can't be used as a modifier.

Your request is reasonable but it isn't a simple thing to switch over.

[2015-08-18 01:22] XANi commented on #325
I just don't really get a point of blocking arbitrary keys on keyboard while allowing others.

Sure, in windows, windows key will always be used for some common windows shortcut.

But in Linux in varies depending on desktop environment and some default desktop shortcuts can already be binded to same keys in Dota (like alt+insert for a new workspace in xfce or alt+F2 for command menu)

[2015-08-18 01:56] budimanjojo commented on #325
I don't see a reason why Linux version should be different from Windows version. And I don't think we need windows key to be used, but I think an option to change the Ctrl or alt key to windows key is a better way to go rather than what you want it to be.

[2015-08-18 02:01] Tele42 commented on #325
As a side note, most major DEs that have alt + key keybinding have a system option to switch it to the super (windows) key.

[2015-08-18 02:50] JenniferPylko commented on #322
Before (`r_dota_fxaa 0`):
![screenshot from 2015-08-17 16-22-14](https://cloud.githubusercontent.com/assets/3450413/9321275/3d11b3ea-4532-11e5-81e0-870f5affc76d.png)
After (`r_dota_fxaa 1`):
![screenshot from 2015-08-17 16-22-22](https://cloud.githubusercontent.com/assets/3450413/9321273/381224ba-4532-11e5-84da-062a88819a95.png)

[2015-08-18 04:17] presianbg commented on #324
Just posting it for the players with fps issues. It's a hint  for them to try other DE which can solve their problems.  Otherwise you will have a lot of work debugging someone else work :)  Today I will contact cinnamon devs and see what will they say. If it's possible keep this issue opened until someone confirms that some DEs are bottlenecks to Linux gaming.

Thank you in advance.

[2015-08-18 05:21] gdrewb-valve commented on #324
Yes, we can leave this open.

[2015-08-18 12:20] danginsburg commented on #322
FXAA is not enabled in the menu system, only in-game.

[2015-08-18 15:16] JenniferPylko commented on #322
But it should (even if currently intentionally not) be enabled for all 3d assets, right? Even ones in the menu?

[2015-08-18 15:20] danginsburg commented on #322
I will pass this along as a feature request to the team, but it is not currently the designed behavior.  Closing this here since I believe FXAA is performing as designed.

[2015-08-18 15:20] #322 closed, assigned to danginsburg

[2015-08-18 18:04] gdrewb-valve commented on #306
Closing.

[2015-08-18 18:04] #306 closed, assigned to gdrewb-valve

[2015-08-18 18:07] danginsburg commented on #316
I have tried, but have been unable to repro this so far.  If anyone figures out a reliable repro, please post details.

[2015-08-18 18:08] danginsburg commented on #312
I believe this is just a case of out-of-date AMD Catalyst drivers so I will close the issue.  If you disagree you can reopen it.

[2015-08-18 18:08] #312 closed, assigned to danginsburg

[2015-08-18 23:04] gdrewb-valve commented on #69
We have a fix/workaround coming for OSX that will allow notifications to work there also.

[2015-08-18 23:09] gdrewb-valve commented on #317
The larger team has this now so it won't be tracked here.

[2015-08-18 23:09] #317 closed, assigned to gdrewb-valve

[2015-08-19 00:12] Vuccappella commented on #321
I'm not familiar with windows but can't you bind the windows key on windows ? After all in source one, binding cmd was displayed as WIN key in the options. So does this mean cmd won't function at all until it's made  as a separate modifier key or does this mean the change would be reverted and I would be able to bind CMD for now as in source 1 but in the future it would be reworked to be another m

[2015-08-19 00:41] gdrewb-valve commented on #321
You can't bind the Windows key as a key in Windows on Source 1 Dota 2 (I just tried it and it pops the Windows Start menu and cancels the bind).

The change will be to stop treating Command as Alt and handle it like the Windows key so you will not be able to bind it.  That prevents interference with system keys and allows it to be used as a modifier key in the future, but that's speculative.  We'l

[2015-08-19 00:45] danginsburg commented on #309
I have not been able to repro this, can you post your full system specs?

[2015-08-19 00:48] danginsburg commented on #244
So it seems those who have been able to update to mesa 10.6/10.7 are running successfully.  Closing this out as it is a driver issue.

[2015-08-19 00:48] #244 closed, assigned to danginsburg

[2015-08-19 00:50] danginsburg commented on #205
Closing as this appears to be resolved.

[2015-08-19 00:50] #205 closed, assigned to danginsburg

[2015-08-19 00:51] danginsburg commented on #189
I have never been able to repro this issue.  Have you been able to determine a reliable repro?

[2015-08-19 02:10] gdrewb-valve commented on #321
Note also #325.  When the reversion of the command-as-alt behavior goes out I'll probably close this and 325 will remain as the feature request for "let me bind Windows/Command".

[2015-08-19 02:13] gdrewb-valve commented on #321
Actually today's (8/18) update should turn off command-as-alt.

[2015-08-19 02:15] gdrewb-valve commented on #13
Can you try once more after the 8/18 Reborn update?

[2015-08-19 02:15] gdrewb-valve commented on #152
I'm assuming this is fixed, closing.

[2015-08-19 02:15] #152 closed, assigned to gdrewb-valve

[2015-08-19 02:15] gdrewb-valve commented on #215
Can you try once more after the 8/18 Reborn update?

[2015-08-19 02:20] gdrewb-valve commented on #320
The 8/18 update fixed some things in this area, closing as I expect the behavior here to be different.

[2015-08-19 02:20] #320 closed, assigned to gdrewb-valve

[2015-08-19 02:20] gdrewb-valve commented on #318
Closing pending confirmation that this still happens.

[2015-08-19 02:30] Disk1of5 commented on #13
Nope, still not working for me. still always defaults to the same monitor on the my right. even when launching with the sdl_displayindex

[2015-08-19 02:38] Vuccappella commented on #321
Yeah, just tested it, cmd is not bindable although I share the opinions from the other issue thread that it would help if it was either bindable or a different modifier as currently it isn't used for anything and it's one of the really more accessible keys(I use it for the shop key, dozens of time every game). I hope you guys look in to it in the future updates, so the key has some usability. For

[2015-08-19 02:43] Vuccappella commented on #325
I don't really agree that Linux or Mac Version should not be different from the Windows version, after all they are different keyboard layouts and the keys function slightly differently. The WIN key isn't the same as the CMD key etc..
On the flipside, people probably wouldn't mind WIN being bindable or a modifier on Windows (at the end of the day, they have an extra key to use) so instead of bring

[2015-08-19 03:16] mmm0nky commented on #318
Thanks for the prompt reply, I apologize for not being more specific in my initial post. I tried the bot game and that selection worked fine. The non stop scrolling occurs when I click on the heroes tab when just starting up data reborn.

[2015-08-19 03:17] mmm0nky commented on #318
Is there a way I can post up a quick video of the issue here?

[2015-08-19 05:06] SHOTbyGUN commented on #13
still not working for me, it always launches on my LEFT (Secondary monitor). on desktop coordinate 0,0 ... not on +1920,0 (Primary monitor) like it should...

[2015-08-19 05:24] jomihaka commented on #215
Seems to be fixed now. Please update csgo, too.

[2015-08-19 07:07] tiburcillo commented on #324
Hi, I'm also a Cinnamon user. I do notice the stutters (especially when a graphics intensive spell is being cast for the first time) regularly. I'll give MATE a try tonight and report back.

Edit: Installed MATE, i do have my framerate capped at 60 FPS by the way. I only played two games with not that visual-effect demanding heroes and I have to say I did not encouter any stutter indeed.
Will post

[2015-08-19 08:27] budimanjojo commented on #316
I just had it again yesterday, with shadow fiend. Happened mid game, it was the second game of that day. Watched a replay before the game.

[2015-08-19 13:42] danginsburg commented on #295
This occurs on Windows/DX9 so is not specific to the Mac/Linux version.

[2015-08-19 14:17] danginsburg commented on #262
Closing as duplicate of #24, we will track any updates we have there.

[2015-08-19 14:17] #262 closed, assigned to danginsburg

[2015-08-19 14:19] YabosMcGee commented on #13
It's still starting up on the secondary monitor for me, as well.

[2015-08-19 14:57] danginsburg commented on #65
I haven't been able to repro this, my best guess is a fontconfig issue, but I'm not sure.  It appears the font used to render cl_showfps is "Lucida Console" with outline.  Are you able to set FC_DEBUG=1 and run the game and pipe the output of stdout to a file and post it here?  For me, it appears the font it matches to is /usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf

[2015-08-19 15:14] danginsburg commented on #87
I can confirm a performance drop when sandstorm is running, but I don't measure any significant difference in performance drop between it in OpenGL vs. DirectX9.  We will pass this along to the larger team.

[2015-08-19 16:27] gdrewb-valve commented on #316
We'll see if we can find a consistent repro to investigate.

[2015-08-19 17:01] danginsburg commented on #301
We are still working on trying to repro this one.  I haven't been able to repro it yet.

[2015-08-19 18:39] gdrewb-valve commented on #321
Thanks, closing and keeping #325.

[2015-08-19 18:40] gdrewb-valve commented on #325
We're considering adding an option to let Windows / Command be bindable as a key.  Whether we can actually make this work properly in all cases on Windows is unclear but we'll see.

[2015-08-19 18:44] gdrewb-valve commented on #13
Thanks.  If any of you have dev environments and some time to play around can you compile https://hg.libsdl.org/SDL/file/tip/test/testdisplayinfo.c and run it with a recent SDL 2?  Does it properly identify your monitors?  This will help us isolate if this is still SDL misbehaving or not.

[2015-08-19 18:47] gdrewb-valve commented on #87
I've forwarded this to the larger team and it will no longer be tracked here.

[2015-08-19 18:47] #87 closed, assigned to gdrewb-valve

[2015-08-19 18:48] gdrewb-valve commented on #215
Thanks.  I'll let the CS:GO team know but it's up to them to get the fix.

[2015-08-19 18:48] #215 closed, assigned to gdrewb-valve

[2015-08-19 18:58] gdrewb-valve commented on #295
I've forwarded this to the larger team and it won't be tracked here.

[2015-08-19 18:58] #295 closed, assigned to gdrewb-valve

[2015-08-19 19:15] gdrewb-valve commented on #318
You can but I think text is fine for this unless there's something subtle you're doing.  The repro is just to start Reborn, click on the Heroes tab and go to the grid?  I just tried that and it worked fine so if that's the repro we'll need to try and figure out how to make it happen.

What display mode and resolution are you using?  Do you have anything other than a regular keyboard and mouse hook

[2015-08-19 19:21] SHOTbyGUN commented on #13
INFO: Using video target 'x11'.
INFO: See 2 displays.
INFO: 0: "BENQ G2320HDB 23"" (1920x1080, (1920, 0)), 15 modes.
INFO: CURRENT: fmt=SDL_PIXELFORMAT_RGB888 w=1920 h=1080 refresh=60
INFO: DESKTOP: fmt=SDL_PIXELFORMAT_RGB888 w=1920 h=1080 refresh=60
INFO:     MODE 0: fmt=SDL_PIXELFORMAT_RGB888 w=1920 h=1080 refresh=60
INFO:     MODE 1: fmt=SDL_PIXELFORMAT_RGB888 w=1680 h=1050 refresh=59
INFO:

[2015-08-19 19:24] gdrewb-valve commented on #13
@SHOTbyGUN, I take it the output is correct then?  0 should be your primary and that looks like it's the one at 1920,0 as you expect.

[2015-08-19 19:26] SHOTbyGUN commented on #13
Yes, my main monitor is right one .. eg. desktop coordinate (1920, 0)
left monitor where the game always starts is at (0,0) desktop coordinate

[2015-08-19 19:32] gdrewb-valve commented on #13
OK, so the problem is not in monitor identification and location, that at least rules that out.  If you use a plain non-fullscreen window that's smaller than your monitors, say 1280x720, does -sdl_displayindex 0 put the window on the right screen?  Does -sdl_displayindex 1 have any effect in that case?

[2015-08-19 19:46] SHOTbyGUN commented on #13
Wow this is very funny!

-novid -sdl_displayindex 0 = as startup parameters

use default monitor resolution = Secondary Screen
use desktop friendly fullscreen = Secondary Screen (even in low resolution 1280x720)
**windowed = Primary Screen** .. it will even change display when you set it windowed in options!
It will always start in correct monitor when in windowed mode, but never on any fullscreen

[2015-08-19 19:50] SHOTbyGUN commented on #13
@gdrewb-valve additional note: it will always start on PRIMARY MONITOR even when there are no launch parameters set. (windowed)

[2015-08-19 19:55] gdrewb-valve commented on #13
I think that narrows it down to it going fullscreen incorrectly.  If you start windowed and switch to fullscreen in the video settings does it stay on the same monitor?  I think you're saying it does since you mention the reverse happens, that switching to windowed mode puts it on the right monitor.

Zero is the default so -sdl_displayindex 0 is the same as no -sdl_displayindex.

[2015-08-19 20:10] SHOTbyGUN commented on #13
1. Borderless window 1920x1080 does not work at all... the game dissappears! (but is visible in taskbar) eg. right click close works.
2. Borderless window 1600x900 works as in primary window (does not change window when set)
3. Windowed mode always respects every launch option and starts on sdl_displayindex pointed monitor.
4. Desktop friendly fullscreen will always jump into secondary monitor.
5.

[2015-08-19 20:12] gdrewb-valve commented on #13
That's good info, thanks.  I'll take this up with the SDL devs and get back to you in a day or two.

Have you tried a different WM?  I'm curious if Cinnamon plays a part in this.

[2015-08-19 20:28] gdrewb-valve commented on #315
Did this change with the latest updates?

[2015-08-19 20:28] #321 closed, assigned to gdrewb-valve

[2015-08-19 20:31] SHOTbyGUN commented on #13
95% it will behave same way in LMDE2 Cinnamon... but with MATE seesion instead! but little differences. it is getting late so I am lazy to write, so I made a video of the issue instead!

https://www.youtube.com/watch?v=QFlIVmYGxrA

Inconsistent and super weird! Stupid question: does it matter if I choose resolution vs display mode first ? In code I mean...

Best would be set default display to dot

[2015-08-19 21:34] gdrewb-valve commented on #13
It doesn't matter to the mode change if you set resolution or mode first, nothing is applied until you hit the Apply button.

Just to confirm, in the video the right-hand screen is primary and you were not using sdl_displayindex?  It's very strange that going from fullscreen -> windowed actually puts the window on a different screen, we'll investigate.

[2015-08-19 22:04] SHOTbyGUN commented on #13
Yeah, I use right one as my primary, where the taskbar is located. iirc I had none of launch parameters enabled by the time I made the video.

Distro: Linux Mint Debian Edition 2 Cinnamon 64bit, with MATE desktop environment installed
Both desktop environments use Mutter Window Manager https://en.wikipedia.org/wiki/Mutter_(software)

Steam system info: https://gist.github.com/SHOTbyGUN/2f32b92298b

[2015-08-19 22:13] rained23 commented on #1814
+1 this ...

This is annoying. It should stay at the lowest index after the map.

[2015-08-19 22:20] mmm0nky commented on #318
Ok cool. My resolution is 2880x1800 and i have a logitech g700 and a g13 connected to my laptop

[2015-08-19 22:25] gdrewb-valve commented on #318
Thanks.  It'll probably be a while before there's more info on this, unfortunately.

[2015-08-19 22:33] Disk1of5 commented on #13
hey @gdrewb-valve what are the chances that if this is a SDL issue this bug is also related to
https://github.com/ValveSoftware/steam-for-linux/issues/3520
where big picture also launches on the incorrect monitor?

[2015-08-19 22:37] gdrewb-valve commented on #13
It's certainly possible given the similarity in the problem but it's hard to say with any certainty.  If it turns out to be an SDL issue and gets fixed I can let the Steam team know, then they might update their SDL.  That's down a long chain of "if's" so who knows what will happen.

[2015-08-19 22:46] gdrewb-valve commented on #13
@SHOTbyGUN, I believe I have a fix for a minor part of the problem where going from DF fullscreen to windowed switches monitors.  That will ship in a future update.  That doesn't address the larger problem of starting on the wrong monitor, though.

[2015-08-19 23:35] gramathy commented on #297
10.10.5 was a bit of a hassle to get working but it's currently working properly.

With the reborn update between then and now I can't be sure which did it but it's currently fine right now.

[2015-08-19 23:46] gdrewb-valve commented on #297
Thanks for the update and we're glad it's working.

[2015-08-20 00:18] alexmcjuicy commented on #24
"If there are any other GPUs that you see this on, please let us know."

I have Late-2009 iMac with ATI Radeon HD 4670 GPU, this is happening to me.

[2015-08-20 04:43] zbstof commented on #309
<img width="1440" alt="screen shot 2015-08-20 at 07 36 55" src="https://cloud.githubusercontent.com/assets/1374723/9375924/2b64167c-470f-11e5-9d78-f7b609494d3c.png">
<img width="1440" alt="screen shot 2015-08-20 at 07 40 53" src="https://cloud.githubusercontent.com/assets/1374723/9375925/2b66f50e-470f-11e5-9fa1-a874fcdf93d7.png">

[2015-08-20 12:02] danginsburg commented on #24
We worked with AMD and found a workaround for this bug.  I personally tested the fix on HD 4670, but it should fix the problem for all of HD 2400/2600/4670/4850/4870.  The fix will be in the next update to Dota 2 Reborn.

[2015-08-20 12:28] tiburcillo commented on #301
Hi all, I have noticed that I have the same behavior in the Source 1 Dota client on linux. I think it's the liberation fonts that are just a bit bigger than Arial. Probably also distro dependant (using Linux Mint).
It's not gamebreaking anyways, maybe it gets fixed with Vulkan. :smile:

[2015-08-20 13:27] zbstof commented on #309
Retina Display is in medium-detailed resolution configuration

[2015-08-20 18:43] presianbg commented on #324
Hmmm... The guys at Cinnamon said to try "Disable compositing for full-screen widows" in general section (System Settings). I played one game in Overtrhow and looks like It's OK (capped at 60 FPS without shuttering). Can you test that by your side ?

[2015-08-20 20:52] gdrewb-valve commented on #324
What would you like us to test?  It would be expected that enabling the compositor would slow things down.

[2015-08-20 21:34] ceLoFaN commented on #1805
This happens to me as well.

[2015-08-21 04:55] presianbg commented on #324
@gdrewb-valve I was talking to @tiburcillo  :) I didn't know about this compositor option at all. I will do some more tests today and post back. You can close the issue if you want.

[2015-08-21 09:58] tiburcillo commented on #324
Hi Presian, I'll try that one tonight. Thanks for the tip.

[2015-08-21 10:01] tiburcillo commented on #241
Have you tried if CTRL+ALT clicking works. I noticed the same ALT-issue on the regular client on Linux Mint Cinnamon, while CTRL+ALT was still working. If so we might be talking about the same problem.

[2015-08-21 10:47] budimanjojo opened #326 "(Enhancement) Friend request notifications"
Just wanna know if there's any friend request notification when people add me in Reborn because I can't find it anywhere except from the steam client.

[2015-08-21 10:49] budimanjojo commented on #326
EDIT: In source 1 Dota there is a pending friend request list inside the friend list box

[2015-08-21 13:11] presianbg commented on #324
Just played ranked in reborn and have to say that `Disable compositing for full-screen widows` doesn't make a difference for me :( So still Cinnamon is bad choice to play DOTA.

[2015-08-21 16:21] gdrewb-valve commented on #326
Checking with the larger team...

[2015-08-21 17:43] gdrewb-valve commented on #326
According to the larger team pending friend requests will show in one of the categories in the friends menu. If you're not seeing anything anywhere I can let them know before closing this out.

[2015-08-21 21:06] vikrantpogula commented on #315
@gdrewb-valve thanks !.. yes it seems to be fixed with the latest update. I will report back if it reoccurs

[2015-08-21 21:29] gdrewb-valve commented on #315
Thanks, closing for now.

[2015-08-21 21:29] #315 closed, assigned to gdrewb-valve

[2015-08-21 22:37] budimanjojo commented on #326
I don't know but as I remember correctly it wasn't there. I'll look into it
again later

[2015-08-21 23:29] gfnord commented on #1816
+1, not working

[2015-08-22 00:19] theskillwithin commented on #1816
doesn't work in cs:go

[2015-08-22 00:35] rained23 commented on #309
happen to me too, when dead its so dark you cant see anything.

[2015-08-22 00:35] vhda opened #327 "[Linux] Issues rendering water when using experimental Mesa drivers"
I'm experiencing some issues rendering water, in particular in the river margins of middle lane, when using the Mesa drivers available in Debian Experimental repository. This version now includes support for OpenGL 4.1, so I assume that this may be related and that one of the following is happening:
1. There are bugs in the implementation of OpenGL 4.0/4.1 extensions.
2. Dota is using some OpenGL

[2015-08-22 01:02] Tele42 commented on #327
This issue should also be reported to the mesa devs, if it has not been already.

[2015-08-22 19:04] danginsburg commented on #131
Can you guys try using the command-line parameter -sdl_displayindex N (where N=0,1,etc. for the number of the display).  This will control which monitor the window appears on.  Please report back if this resolves your issue.  I have tried using this on a dual display with primary 1920x1080 and secondary 2560x1440 and I can switch resolutions fine on both using -sdl_displayindex.

[2015-08-22 21:32] Hubro commented on #11
Currently using Gnome 3 on Debian 18. Dota 2 now always launches on the *wrong* monitor, no matter which monitor I've set as primary, no matter where my mouse is and no matter where the Steam main window is. I have to set it to windowed, move it to my gaming monitor and set it to full screen again every time I launch the game.

[2015-08-23 11:42] vhda commented on #327
This was due to a bug in llvm-3.7. After an update of this package everything is correct now.

[2015-08-23 11:42] #327 closed, assigned to danginsburg

[2015-08-23 16:06] SHOTbyGUN commented on #13
@gdrewb-valve

So I started to play in windowed mode "almost at the full screen resolution" and I noticed this behavior:
Dota and Dota Reborn in windowed mode will start with launch parameters:
-novid -w 1910 -h 1020 (primary monitor)
-novid -w 1910 -h 1030 (secondary monitor)
repeated test multiple times... the few pixels missing from height is the taskbar.
eg. if window does not fit primary scre

[2015-08-23 16:15] gdrewb-valve commented on #13
Reborn doesn't make any checks for whether a window will fit, it just tries to center in the screen as given by sdl_displayindex.  It's possible your window manager is overriding that (that's why I was asking about WM's before).

[2015-08-23 19:01] Turmfalke2 commented on #30
Isn't the window manager always supposed to have priority? If this gets changed I would lose control over my wm while playing dota, which would be pretty bad.

[2015-08-24 01:27] Pharmasolin opened #328 "Customs game bug [EDITED]"
Were playing few times this mod http://steamcommunity.com/sharedfiles/filedetails/?id=483720948 (and after few games Dota starts to eat a lot memory donno why, may be mod bug, you can test it by yourself, dota eats memory even after game in menu).

But about bug report, i ended game, quit from it in main menu and received this:
![2015-08-24 04 16 51](https://cloud.githubusercontent.com/assets/1304

[2015-08-24 01:29] Pharmasolin commented on #328
I were leaving dota 2, and were closing Steam, this didn't help me.

[2015-08-24 11:35] danginsburg commented on #214
Can you try using -sdl_displayindex N (0, 1, 2, etc.) to control which monitor the window starts on rather than using a Kwin rule?  Does that fix this bug?

[2015-08-24 16:18] reportados123 commented on #241
CTRL + ALT clicking does not do anything. However, I've found the reason why it has not been working correctly for the above issues. I've been using the ALT key on the right side of the keyboard, if I were to use the ALT key on the left side of the keyboard, everything works fine.

As a result, alt clicking your buyback status, items in shop, hp/mana bar, and buffs/debuffs on your hero with the RI

[2015-08-24 18:09] dphildebrandt commented on #85
I'm having a similar issue, seems to happen in both the Reborn and Main client.

[code]

[2015-08-24 18:11] gdrewb-valve commented on #328
I've passed this on to the larger team.

[2015-08-24 18:30] mjmetts opened #329 "[OSX] - Spikes of low FPS after latest update (NVIDIA GeForce GT 650M)"
I know this used to be an issue, but until recently, I had no problems with Reborn lagging. In fact, it was more responsive than the main client. The most recent patch seems to have reintroduced sporadic drops in FPS for me. Here are my system details:

![macbook](https://cloud.githubusercontent.com/assets/4855576/9448779/16581384-4a64-11e5-9b28-89acbbd0267d.png)

I'll be humming along at 90-110 F

[2015-08-24 19:18] danginsburg commented on #2
@tstarboy I am unable to repro this on a 2560x1440 monitor.  Can you please post precise repro instructions?  Please include your exact multi-monitor config, your in-game resolution settings, which monitor you run on, and what exactly you do to trigger the minimap bug.

[2015-08-24 19:22] mmdeas opened #330 "White(ish) screen with very few things rendered in game"
Loaded into game to find that most things were not rendered. Effect is a mostly white screen (bar the HUD which was rendered without problems).
Things which can be seen:
- health/mana bars
- "miss" symbols
- names of allies when hovering over them
- blood effects on attack
- ring around feet of selected hero (where not occluded by another object regardless of whether or not that object was rendere

[2015-08-24 19:25] gdrewb-valve commented on #329
I believe this is also being reported on Windows and may not be handled here.

[2015-08-24 19:26] gdrewb-valve commented on #330
Once we know your GPU we can determine whether this is one of the open issues or not.

[2015-08-24 19:32] tstarboy commented on #2
It appears that the issue has been fixed in the patches since I last tried.
![2015-08-24_00002](https://cloud.githubusercontent.com/assets/680229/9450189/44ab7436-4a75-11e5-8b59-1063e253557e.jpg)

My apologies for not reporting this earlier (I do not actually play Dota myself).

[2015-08-24 19:32] #2 closed, assigned to danginsburg

[2015-08-24 19:54] Pharmasolin opened #331 "Custom games HUD bug (dota issue 100%)"
Check picture, as you can see there is bug with displaying spells HUD. THIS IS ALSO IN Overthrow MOD, but i didn't make screenshot.
![2015-08-24 22 14 58](https://cloud.githubusercontent.com/assets/13041082/9450550/fe9589b8-4ab1-11e5-8431-d1966e99ef58.png)
How i gain it:
1. Played http://steamcommunity.com/sharedfiles/filedetails/?id=483720948 mod while were host, then i left game while it were in

[2015-08-24 20:07] danginsburg commented on #131
I believe this is a duplicate of #2 and that bug has been resolved.  From my testing, I believe this works properly using -sdl_displayindex.  Please reopen if this still happens with the latest client and post repro instructions.

[2015-08-24 20:07] #131 closed, assigned to danginsburg

[2015-08-24 20:07] danginsburg commented on #214
I believe this is a duplicate of #2 and that bug has been resolved. From my testing, I believe this works properly using -sdl_displayindex. Please reopen if this still happens with the latest client and post repro instructions.

[2015-08-24 20:07] #214 closed, assigned to danginsburg

[2015-08-24 20:10] danginsburg commented on #9
We have been able to work around the OpenGL OSX driver problems but we are still hoping we can get a proper fix from Apple.  The next update will include a workaround that gets Dota 2 Reborn working on Intel HD 3000 on OS X.

[2015-08-24 20:27] gdrewb-valve commented on #331
I've passed this on to the larger team.

[2015-08-24 20:27] #331 closed, assigned to nobody

[2015-08-24 20:30] #328 closed, assigned to gdrewb-valve

[2015-08-24 20:36] gdrewb-valve commented on #328
Question from the team: how did you end the game in step #1?  Does this happen repeatedly?  If so there are some console commands we can have you turn on to gather extra information (open console, do 'developer 1' and then 'dota_lobby_debug' after step #1).

[2015-08-24 20:57] mmdeas commented on #330
Sorry for the delay. I edited my system information into the original post and added a photo (screenshot didn't work). As it now says above, my GPU is NVIDIA GeForce 320M.
EDIT:
Would it help if I were to try playing in the Reborn Windows client? I switched to playing in OS X because I have WiFi issues on Windows but I could sit next to the router for a while if it would help to check whether it o

[2015-08-24 22:56] Pharmasolin commented on #328
I remember that some one were host, we successfully played till end, and then i press "close" button to exit game we just ended, but this bug were randomly i think, i'm playing custom games 2nd day only, and have seen this 1st time, i need to write this commands if i will get this bug again?

[2015-08-24 23:10] gdrewb-valve commented on #328
Thanks for the info.  If you do see this from a consistent set of steps please let us know to help pinpoint the issue.

[2015-08-24 23:15] Pharmasolin commented on #328
Okay if i will face this issue again i will enter commands you gave me and write how i can cause this.

My guess is, we were playing in late night 4 a.m. and Host may be shutdown dota or even shutdown PC before i press "close" button to exit that game we just played. And this caused problem i have later, but shit is only my guess.

[2015-08-24 23:17] gdrewb-valve commented on #328
If the host shuts down without exiting the game, such as if the computer hosting the game shuts down, that will prevent the game host from notifying the rest of the people connected that the host has gone down.  There's then a timeout (I believe a minute) before the other people's games would realize the host was gone and take them out of the game.  That may or may not have happened to you, it's j

[2015-08-25 07:07] scottlow commented on #1816
I heard on another thread (which I can't find now) that this is an Apple issue as Apple changed the way accessibility was done in El Cap. Hoping a fix comes from them soon!

[2015-08-25 07:21] bklooster commented on #318
Could this be related to #174 where there is are inputs being detected by a connected joystick/gamepad?

[2015-08-25 07:55] bklooster commented on #9
@danginsburg Thanks for your work on finding workarounds for all of these OS X driver bugs. I wouldn't hold out hope for Apple updating their OpenGL drivers for these older GPUs, but I appreciate the special case work to find solutions to these bugs.

[2015-08-25 08:00] Owlbertz commented on #9
Nice, thanks for putting effort into this.

[2015-08-25 08:18] budimanjojo commented on #326
I can confirm that there is no friend requests list in reborn.
![2015-08-25_00001](https://cloud.githubusercontent.com/assets/13085918/9461955/7a0e25fc-4b3c-11e5-94be-1799cad89247.jpg)
There are 2 friends requests in steam client:
![screenshot_2015-08-25_14-59-25](https://cloud.githubusercontent.com/assets/13085918/9461964/8ad65e18-4b3c-11e5-898d-83c24873c5bd.png)

[2015-08-25 11:39] SaifurRahmanMohsin commented on #1816
That’s probably correct. I’m currently on El Capitan beta 5 and still it has not been fixed. Hope it gets done soon. And I also hope steam re-writes dota to run over Metal 😄 as that would be great!

[2015-08-25 14:23] danginsburg commented on #330
@mmdeas Out of curiosity, does the corruption go away if you add -gl_force_sm30 to the command-line (you can set it in Launch Options in Steam)?  I'm trying to repro on a similar Mac here with GT330M and so far can't get it to happen.  I'm about to update to 10.10.5 to see if it happens.  Also, do you have the standard NVIDIA driver that comes with OS X or the web driver installed?  I have only te

[2015-08-25 15:24] danginsburg commented on #330
@mmdeas Updated to OS X 10.10.5, still not repro'ing.  I also tried installing the 346.02.03f01 web driver (http://www.nvidia.com/download/driverResults.aspx/89538/en-us) and it does not repro with that either.

[2015-08-25 15:58] gdrewb-valve commented on #318
Yes, that's why I asked about other connected devices.

[2015-08-25 16:27] mmdeas commented on #330
I only tested in "Demo Hero" mode (where the corruption was present before) but there is no corruption having added -gl_force_sm30. Can I keep this as a long-term fix or are there any problems it might cause?
I have not changed my drivers from the ones which come with OS X since updating to Yosemite.

[2015-08-25 16:31] gdrewb-valve commented on #318
Thanks for putting in the issue reference.

[2015-08-25 16:46] danginsburg commented on #330
@mmdeas Thanks for trying that.  I have checked in GPU detect code that will default to forcing SM30 shaders on the Geforce 320M.  It will be in the next Dota 2 Reborn update.  It will do the same thing as having -gl_force_sm30 on your command-line so feel free to keep it.  Closing.

[2015-08-25 16:46] #330 closed, assigned to danginsburg

[2015-08-25 19:13] gdrewb-valve commented on #326
I've passed this on and the larger team will take a look.

[2015-08-25 19:13] #326 closed, assigned to nobody

[2015-08-25 20:05] Vuccappella commented on #325
Sounds great, thanks for your work.

[2015-08-25 22:03] gdrewb-valve commented on #326
I heard back that the problem had been identified so a fix should be coming in a future update.

[2015-08-25 22:17] mmdeas commented on #330
I played a real game today and had the same issue again (with the launch option still there). Went back to the "Demo Hero" mode and managed to reproduce again although it seems harder to trigger than it used to be - I'll try to spend more time figuring out when it does and doesn't occur tomorrow.

[2015-08-25 22:57] budimanjojo commented on #326
Ok, thanks gdrewb

[2015-08-26 02:19] dphildebrandt opened #332 "[OSX] Multiple rapid inputs slow to process"
Exact same as #85

Lots of ingame inputs (this doesn't seem to affect UI interactions, only unit commands and camera movements) result in later inputs taking longer to be expressed compared to earlier inputs. Allowing the game time to catch up "resets" the input lag but subsequent random inputs will start out responsive and get progressively laggier until the game is allowed some time to catch up

[2015-08-26 04:33] gdrewb-valve commented on #332
This is going to be difficult to isolate as we don't have a repro and our other known case of this was fixed, but we'll see what we can find.

[2015-08-26 09:16] Pharmasolin commented on #328
I'm back
For some reason copy don't work from console
check screens
![2015-08-26 12 12 33](https://cloud.githubusercontent.com/assets/13041082/9489770/28a3efd4-4bec-11e5-84d5-4cf647e518d8.png)
![2015-08-26 12 14 37](https://cloud.githubusercontent.com/assets/13041082/9489772/28ac1786-4bec-11e5-9301-ea4c8e2dc855.png)
![2015-08-26 12 14 54](https://cloud.githubusercontent.com/assets/13041082/9489771

[2015-08-26 09:19] Pharmasolin commented on #328
After i log in, it closed this lobby i think in 1-5 minutes while i were writing this report.

[2015-08-26 13:26] dphildebrandt commented on #332
Any kind of logs or anything I can give you to help?

[2015-08-26 15:00] gdrewb-valve commented on #328
Thanks for the info, I've passed this on.

[2015-08-26 15:30] dphildebrandt commented on #332
It seems to have been introduced in both clients when Reborn was introduced.

[2015-08-26 15:31] dphildebrandt commented on #1839
Seems to have started when Reborn was introduced.

[2015-08-26 17:04] jakehilton opened #333 "[OSX] Hang when trying to spectate live game"
When trying to spectate a game I get the loading screen and it just hangs at that point. I've not tried joining a game for fear the same thing will occur.

  Model Name:   MacBook Pro
  Model Identifier: MacBookPro11,5
  Processor Name:   Intel Core i7
  Processor Speed:  2.5 GHz
  Number of Processors: 1
  Total Number of Cores:    4
  L2 Cache (per Core):  256 KB
  L3 Cache: 6 MB
  Memory:   16

[2015-08-26 18:25] gdrewb-valve commented on #332
I don't know of anything simple but I'll check.  There are reports of lag across all platforms also so this may be handled by the larger team.

[2015-08-26 18:43] gdrewb-valve commented on #332
Does this occur in a Reborn bot match?

[2015-08-26 18:49] danginsburg commented on #329
I have not been able to repro this on a very similarly configured Macbook Pro with GT650M.

[2015-08-26 19:05] gdrewb-valve commented on #333
This happens on Windows also, I've passed it on to the larger team.

[2015-08-26 19:05] #333 closed, assigned to gdrewb-valve

[2015-08-26 19:58] jakehilton commented on #333
Thanks Drew.

[2015-08-27 06:22] EdbertChan commented on #11
Problem still exists on Macbook version of Dota 2 Reborn. I'm fairly certain its only an issue in the newest version of OSX since this wasnt a problem with me before the OSX update.

Specs:
OSX Version 10.10.5
MacBook Pro 13-inch Mid 2012
Processor 2.9 GHz Intel Core i7
Memory 8GB 1600 MHZ DDR3
Graphics Intel HD Graphics 4000 1024 MB

[2015-08-27 15:35] dphildebrandt commented on #332
It does.

[2015-08-27 17:56] gdrewb-valve commented on #332
I was thinking your lag might be similar to others that people have seen connected to networking, which does not occur in bot games, but you apparently have a different issue.  We'll see if we can cause it to happen.

[2015-08-28 01:10] jaredmcateer opened #334 "Launch options being ignored in linux (Ubuntu 14.04)"
I have a dual monitor setup that has one screen which is a 19" 4:3 and a 27" 16:10, the Unity launcher is on my smaller monitor but I want the game to open on my larger monitor.

I have the following launch options so that the game will launch in a borderless window on my second screen (this currently works on the standard Dota 2 client)

[code]

(note: `-h 1179` is due to the borderless windows i

[2015-08-28 05:39] ashutoshrishi commented on #1810
Same for me, Yosemite 10.10.4, Only on quit though. Not experiencing in-game crashes for now.

https://gist.github.com/ashutoshrishi/6ea54aad63ea56cfd383

[2015-08-28 13:33] Tele42 commented on #334
Per #13, -sdl_displayindex is the override for which display the game starts.

[2015-08-28 14:33] jaredmcateer commented on #334
Ah I think I tried that one on the legacy client and it did not work. I'll give it a shot for reborn.

[2015-08-28 14:54] Tele42 commented on #334
Dota 2 and Dota 2 Reborn do not run on the same game engine, it's expected that there would be different launch options.

[2015-08-28 15:46] gdrewb-valve commented on #334
As noted this is expected behavior.  Eventually the multimon support will be updated to behave better when the window is moved between monitors (which is what the -x is doing in this case although it doesn't seem like it) and such.

[2015-08-28 15:46] #334 closed, assigned to nobody

[2015-08-28 23:25] sylware opened #335 "[linux] tusk ice shards are blinking"
little rendering issue with tusk ice shards: they are blinking weirdly.
1920x1080 borderless window
gpu:amd tahiti xt with recent mesa stack

[2015-08-29 10:27] sharder-dev opened #336 "[Linux] Game doesn't start or crashes immediately"
A few seconds after launch, Reborn isn't responding and I am forced to kill the process.
Sometimes the Dota 2 logo doesn't even show up.
It used to work before (shortly after it was available on linux on the same system but on a different installation) but I haven't touched it again until yesterday. The old Dota 2 client starts normally and is playable (with some minor glitches).

I am using a fre

[2015-08-29 10:35] #336 closed, assigned to nobody

[2015-08-29 10:36] sharder-dev commented on #336
I am dumb. For some reason it simply minimzed after the "not responding"-notification and I haven't notized that it actually was able to start.

[2015-08-29 16:09] sylware commented on #283
My usb audio output device is fried.
I switched to the internal sound chip on my mainboard.
Still get sometimes the alsa underrun messages, but
it seems to recover. The sound is ok and
not crackling anymore.

[2015-08-29 16:09] #283 closed, assigned to davidw-valve

[2015-08-29 16:19] sylware commented on #1800
fixed upstream: they were using glitchy hardware to
init the resource descriptors for shaders.

[2015-08-29 16:27] sylware commented on #1437
works on reborn

[2015-08-29 16:29] sylware commented on #1288
on reborn with max visual setting and 1920x1080,6 0 fps min with a clean linux and recent mesa
stack

[2015-08-29 16:30] sylware commented on #1249
performance is fine with a clean linux and recent mesa stack,
source 1 and reborn.

[2015-08-29 16:30] sylware commented on #1066
fixed in reborn

[2015-08-29 16:31] sylware commented on #1614
I'll re-open an issue if it's still anoying on reborn.

[2015-08-29 16:34] sylware commented on #1758
llvm is really bad, but spirv is coming. High hopes for
something light and lean (i.e. not c++).

[2015-08-29 16:53] sylware commented on #1567
will re-open if reborn still uses texture compression
and vulkan/spirv is a failure.

[2015-08-30 01:11] MasterKey13 commented on #1840
For me it's capped at 60. I have a 144hz monitor, but nothing seems to force it to work with 144hz. Setting fps_max to 30 and then 60 has a visible difference. However, setting it to 144 has no difference from 60. On Windows this issue is not present, setting fps_max to 0 or 144 makes the game look buttery smooth.

[2015-08-30 16:37] zhestkov opened #337 "[OSX] Moving the camera is jerky"
Specs:
<img width="578" alt="screen shot 2015-08-30 at 14 34 30" src="https://cloud.githubusercontent.com/assets/801717/9568255/e54a2136-4f4c-11e5-8e4e-6a575a37bb8b.png">

I set 1280x800, best rendering quality and low textures, without any other features.
Then i have around 55 fps in Reborn and it's great, but moving the camera is jerky.
Though, in the main client it's smoothly with the same sett

[2015-08-30 21:20] zhestkov commented on #319
i confirmed this issue on mac

[2015-08-30 22:09] github-username commented on #573
The tab being blank was resolved.

Now it has the issues described at [#1166](https://github.com/ValveSoftware/Dota-2/issues/1166).

System is still Arch Linux x86_64.
Video is now nvidia 750 ti drivers 352.41

[2015-08-30 23:08] gdrewb-valve commented on #337
Likely the same input lag issue as #332.  We don't have a repro at the moment.

[2015-08-31 13:55] deksden commented on #1810
Still, no patches as for now! ..

[2015-08-31 17:33] boskar commented on #195
Still an issue?

[2015-08-31 18:56] gdrewb-valve commented on #337
Have you changed any camera settings in the main client or used convars like dota_camera_accelerate?

[2015-08-31 19:13] jeanlain commented on #337
I have the same issue. The fps counter shows 40-50, which should be reasonably fluid, but camera movements look more like 15-20 fps. This is on a 2006 Mac Pro with radeon 7950, OS X 10.9.5.
This may have been introduced by some particular update because the first betas didn't have the issue.

EDIT: this is not related the the number of inputs. Camera movement is jerky from the start.

[2015-08-31 19:26] zhestkov commented on #337
Actually, i use these setting for camera in both clients:
dota_camera_accelerate "50"
dota_camera_speed "4000"
(likely default camera settings)
I have tried play w/o them in Reborn, but there are no improves.

EDIT: by the way, its better if i choose lower rendering quality. Seems like GPU couldn’t keep up with the CPU.
There was a similar fix for DX9 in 20/06 patch:
"Fixed input lag in DX9 in cas

[2015-08-31 19:53] sylware opened #338 "[linux] the game will suffer severe performance loss with recent linux kernels"
see https://bugzilla.kernel.org/show_bug.cgi?id=103781
Scheduler issue, same issue for source-1 games.

[2015-08-31 19:55] davidw-valve commented on #338
Which kernel versions are you talking about specifically? Is this something you are experiencing now? What kind of performance loss are you experiencing?

[2015-08-31 20:17] danginsburg commented on #335
This occurs on Windows/DX9 as well.  I've passed it along to the larger team, we will not track this here.  Thanks.

[2015-08-31 20:17] #335 closed, assigned to danginsburg

[2015-08-31 20:35] sylware commented on #338
Basically a patch related to the "full dynamic tick" scheduler went into nearly
all linux kernels from the 6th of may of this year, which makes the games run
significantly slower.

I did notice the loss of performance once I updated my linux kernel a few day
ago, it was obvious with dota2 reborn and source-1 games (portal2/CS GO/dota2):
The games do stutter a lot and the loss of fps is obvious.

I

[2015-08-31 23:17] budimanjojo commented on #326
When will the update come?

[2015-09-01 00:21] gdrewb-valve commented on #326
It's up to the larger team so I can't give a specific timeframe, sorry.

[2015-09-01 05:51] jeanlain commented on #337
In my case the CPU (xeon 5150) is much slower than the GPU.
I have been regularly experiencing the issue with the main client. It came and went with game updates.

[2015-09-01 10:20] beheh opened #339 "[Linux] Reborn loads indefinitely when launching steam from terminal"
I am unable to launch Reborn from Steam launched from a terminal in order to get a Dota log for other issues I'd like to report. Running Steam from Gnome Shell works as expected.

Additionally, when launching the old Dota 2 Client from a Terminal, the initial "Valve" video does not load and the game hangs on a black scrfeen until pressing Enter to skip the video, immediately showing the Dota loadi

[2015-09-01 10:20] beheh opened #340 "[Linux] Dashboard missing content"
My dashboard is missing any content, not only after startup but also whenever revisiting it:

![Dashboard](http://i.imgur.com/McrQvjj.png)

Steps to reproduce:
- Start Dota 2, select Reborn
- Observe broken Dashboard
- Navigate around and back, observe Dashboard still broken

Running on Arch Linux with Linux 4.1.6-1-ck with Gnome Shell, NVIDIA proprietary drivers on a GTX670. [Steam System informa

[2015-09-01 10:59] budimanjojo commented on #339
You may need to launch steam using steam libraries. What's your Linux distribution? They don't support launching steam using native libraries from your distro.

[2015-09-01 11:29] beheh commented on #339
I am running Arch Linux. Yes, in the past I've had issues running programs with the Steam runtime, so whenever any issue pops up most of times removing the Steam runtime libraries corrects this problem. On the other hand I've never had problems running with my native libraries instead of the Steam ones.

Thanks for your comment, but I fail to understand how native libraries can have an effect on w

[2015-09-01 11:50] budimanjojo commented on #339
It shouldn't give any problem when you launch it using steam runtime on any game I think, bacause most of the games are built using steam libraries to make it compatible with steam os. Regarding your question about why native libraries can affect the game, because distributions built those libraries using some modifications and options those are different between each distribution (I think). And v

[2015-09-02 00:31] gdrewb-valve commented on #340
This happens on all platforms (for example http://dev.dota2.com/showthread.php?t=173795) so the issue won't be tracked here.

[2015-09-02 00:31] #340 closed, assigned to nobody

[2015-09-02 00:50] gdrewb-valve commented on #326
The update is out now.

[2015-09-02 00:52] gdrewb-valve commented on #325
The Sep. 1 update has an "Allow Windows / Command key to be bound" option in the advanced hotkey section.

[2015-09-02 00:52] gdrewb-valve commented on #69
The Sep. 1 update should have notifications on OSX now.

[2015-09-02 02:02] dphildebrandt opened #341 "Accept Button in Hero Customization Won't Exit"
Under the Heroes Tab, when you look at a heroe's loadout and hit Cutomize on the bottom near centre.

After customizing, hitting Accept does not close the cutomization area. If you switch away another view, like your armory, and switch back to hero loadout the changes have taken affect.

[2015-09-02 02:09] dphildebrandt commented on #332
Seems to be some improvements with the new update.

The lag still happens but it resolves much more quickly now. Whereas before a few right clicks or camera movements wouldnt respond for several seconds (lets say 2-3), it now seems to resolve itself in 1 second or less.

[2015-09-02 02:11] gdrewb-valve commented on #332
Thanks, at least it's going in the right direction.

[2015-09-02 02:12] dphildebrandt opened #342 "Everyone has a clarity and is level 1 on their profile."

[2015-09-02 02:27] alexmcjuicy opened #343 "[OSX] Game keeps crashing after newest update (Sep 01)"
The game crashes at random times, whether in game, at the main menu, or browsing custom games.

System info:

Macbook Pro (2011)
2.3 Ghz Intel Core i5
4GB Memory
Intel HD 3000 384 MB graphics
Software version 10.9.0

I don't know much about computers so I just copied and pasted the crash report from my computer to this link:

http://pastebin.com/zTAqJ9wH

Hopefully there's just a bug and my comput

[2015-09-02 02:27] dphildebrandt opened #344 "[OSX] Screen Darkens unecessarily upon death"
Can barely see anything its so dark!

I think it gets darker each time.

[2015-09-02 02:36] dphildebrandt commented on #344
Seems to only happen on the 3rd and 4th highest graphic settings.

[2015-09-02 02:54] gdrewb-valve commented on #341
I couldn't repro this on Windows or Linux.  Do you have the Sep. 1 update?

[2015-09-02 02:55] gdrewb-valve commented on #342
Likely not a Linux/Mac issue.

[2015-09-02 02:57] gdrewb-valve commented on #343
The crash is in Apple's OpenGL driver so this may not be simple for Valve to fix.

[2015-09-02 02:57] gdrewb-valve commented on #342
According to the larger team this isn't done yet.

[2015-09-02 02:57] #342 closed, assigned to gdrewb-valve

[2015-09-02 02:57] gdrewb-valve commented on #344
Duplicate of #309?

[2015-09-02 03:02] dphildebrandt commented on #341
I do, maybe it's OSX bug only?

[2015-09-02 03:03] dphildebrandt commented on #344
Ah yes, my bad!

[2015-09-02 03:03] #344 closed, assigned to gdrewb-valve

[2015-09-02 03:04] dphildebrandt commented on #309
I noticed this only happens on the 2 highest basic video settings.

[code]

[2015-09-02 03:23] gdrewb-valve commented on #341
I don't see it on OSX either.  Does it always happen for you?  Does it matter what hero or item?  If you just hit accept without changing anything does that work?

[2015-09-02 05:28] ArnaudAndre commented on #339
There's really no intrinsic difference between getting launched from a terminal and the desktop.

In all likelihood steam needs some environment tweaks to start on arch, the arch maintainer put those in the launcher but you're not reproducing them in your console.
To figure it you'll want to look into your steam.desktop. I don't know how to access the underlying .desktop in gnome shell but in most

[2015-09-02 05:52] jeanlain commented on #343
Maybe update the OS to 10.9.5?

[2015-09-02 05:58] budimanjojo commented on #326
Okay, I'll try again after updating before closing this issue, thanks.

[2015-09-02 06:48] lakerkid commented on #9
After today's update So far so good. Thank you all for spending the time on this issue.

[2015-09-02 06:57] alexmcjuicy commented on #343
@jeanlain

From about 30 minutes of Googling and looking into the subject of OpenGL, as far as I was able to discover, not even OS Yosemite (aka 10.10) has a more recent upgrade for OpenGL. It seems I already have the latest version of OpenGL that Apple supports which is 4.1.

Does anybody know what version of OpenGL is required for Reborn?

[2015-09-02 07:19] gdrewb-valve commented on #343
It's not the version of OpenGL, it's that the newer OpenGL driver in 10.9.5 might have bug fixes and the crash you're seeing may be fixed in a newer system.  It's possible that it's something that Reborn is doing also but running on the newest system is usually a good idea, unless there's a specific reason not to.

[2015-09-02 07:55] Shad3w opened #345 "[Mac] Game freezing up"
I launch reborn, join a game/lobby, load in and proceed to my lane. Shortly after, the game freezes up completely except for the mouse and audio, leaving me unable to force-quit or tab out.
Processor: 2.4 GHz Intel Core 2 Duo
Memory: 6 GB 800 MHz DDR2 SDRAM
Graphics: ATI Radeon HD 2400 XT 128 MB
OS: Mac OSX Yosemite 10.10.5

[2015-09-02 08:04] subclavianGroove opened #346 "LINUX Reborn crashing after loading to start menu"
Like in title game crashes any time after getting to start menu for 5-10 seconds. In that time I can select game search options but can't go to the game options menu. Has been happening sine beta first came out and I hoped at some point an update would fix it but now I'm not so sure. Here's the system info, I'm not sure where to find my crash reports.

Processor Information:
    Vendor:  Authentic

[2015-09-02 08:31] lakerkid commented on #9
Playing in first game. Keeps crashing every time shadow fiend ults.

[2015-09-02 09:56] bosssarawongsuth opened #347 "Cursor size on high DPI screens"
The cursor is extremely small on 3k and 4k resolution display making it impossible to use skills and right click accurately since it blends in with the skill effects etc. during team fights. It's a lot bigger in Dota 2 Source 1.

[2015-09-02 10:01] cristalize commented on #9
First game: crash every time gyro ult.
Second game: crash when slark ult.

[2015-09-02 11:16] dayvough commented on #9
MBP 2011/Intel HD 3000: Happy to see that I've got the menu to work now. Still playing around with the best video settings I can handle. Can confirm the crash when SF ults.

[2015-09-02 11:27] zhestkov commented on #238
This bug appears me after 01/09 patch.

[2015-09-02 11:45] blakeb155 commented on #24
Hi Dan,

Can confirm today's reborn update fixed the issue for me

Thanks!

[2015-09-02 12:05] danginsburg opened #348 "[OSX] Crash in OpenGL driver on HD 3000 when Shadow Fiend Ultimates"
As reported in comments in #9, there is a crash inside the OpenGL driver on HD 3000 Mac OS X 10.10.5 during Ultimates with heroes such as Shadow Fiend.  Repo steps:
1. Select Heroes tab
2. Select Shadow Fiend
3. Click Level to Max
4. Perform Requiem of Souls

System info:
Processor Information:
    Model:  MacBookPro8,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU St

[2015-09-02 12:07] danginsburg commented on #9
@lakerkid @dayvough @cristalize Thanks, I have the crash on ultimates reproduced here and am investigating the issue.  It is crashing in the OpenGL driver, but hopefully I can find a fix/workaround.  I have filed issue #348 to track this issue since it is a new bug.  I am closing this issue out because the original problem reported here has been fixed in the 9/1 update.

[2015-09-02 12:07] #9 closed, assigned to danginsburg

[2015-09-02 12:08] danginsburg commented on #24
@blakeb155 Thanks for the confirmation.  Closing out this bug.

[2015-09-02 12:08] #24 closed, assigned to danginsburg

[2015-09-02 12:54] MaikuMori commented on #13
I think there is somewhat related issue with chat wheel, each time I bring chat wheel up my mouse is moved to the right side. I think it's trying to reset my mouses coordinates to the center of the screen, but I have 2 monitors so it just "centers" my mouse to the right side of the left monitor where the game is.

I can make separate issue for this if needed.

[2015-09-02 13:29] zhestkov commented on #337
It looks better after 09/01 patch

[2015-09-02 13:43] Pharmasolin opened #349 "Menu issue"
Open friend's account info and it is showing my setting (wins, commends), all other is good.

![2015-09-02 16 41 57](https://cloud.githubusercontent.com/assets/13041082/9632732/a20550de-5191-11e5-9963-fd837de98169.png)
![2015-09-02 16 24 10](https://cloud.githubusercontent.com/assets/13041082/9632734/a3f93554-5191-11e5-9d4e-559b0daa9ee1.png)

[2015-09-02 14:26] danginsburg commented on #348
I have a fix for this issue, the fix will be in the next update.  The ultimates were using a vertex shader that caused us to use more than 16 total samplers/textures.  I don't believe this should have been a problem (HD 3000 advertises 48 GL_MAX_COMBINED_TEXTURE_IMAGE_UNITS, many more than needed), but it was crashing inside the OpenGL driver.  I worked around it by reducing the number of textures

[2015-09-02 14:30] danginsburg commented on #343
@alexmcjuicy There is a known driver bug that causes a crash in 10.9.0 on HD 3000, you will need to update OS X to use Dota 2 Reborn.  I recommend OS X 10.10.5.  It may work in 10.9.5, but I seem to recall seeing a driver bug there that caused a crash loading the hero selection screen on HD 3000.  I'm going to close this because the issue with 10.9.0 is a known driver bug and we won't be able to f

[2015-09-02 14:30] #343 closed, assigned to danginsburg

[2015-09-02 14:45] blambin commented on #493
I have the same problem too!

[2015-09-02 14:57] danginsburg commented on #165
I have still not been able to repro this issue.

[2015-09-02 15:02] gdrewb-valve commented on #349
Not a Mac/Linux issue.

[2015-09-02 15:05] gdrewb-valve commented on #13
Issue #198 covers chat wheel issues but had been fixed.  I'll reopen and you can comment there.

[2015-09-02 15:06] gdrewb-valve commented on #198
Possibly happening again.

[2015-09-02 15:32] dphildebrandt commented on #341
Seem to always happen. Doesn't matter which hero or item. Accept without a change has the same issue.

The cancel button, when it is clicked, does at least depress. The accept button doesnt even have a noticeable change when you click it.

[2015-09-02 15:51] MaikuMori commented on #198
Yeah I'm still having this, even after the last patch.

Some info:
Old Dota 2 correctly starts on the left screen (primary). Reborn starts on the right screen. I'm used to moving it to the left screen (using gnome overview screen). And I just tested that if I don't do that, it works correctly, but if I move the window the chat wheel will not work correctly.

So two points:
- Game starts on non-pri

[2015-09-02 16:14] MaikuMori commented on #13
I'm also getting the same problem where it starts on the wrong window (non-primary).

WM: Gnome 3.16.3
OS: Archlinux

[2015-09-02 16:32] srelelele opened #350 "Error : LoadSystemAndDependencies"
Hi all
i have some problem with dota 2 reborn beta..
i have manjaro linux the latest version

system info :

[srele@robot ~]$ inxi -Fx
System:    Host: robot Kernel: 3.18.20-1-MANJARO x86_64 (64 bit gcc: 5.2.0)
           Desktop: Xfce 4.12.3 (Gtk 2.24.28)
           Distro: ManjaroLinux 0.8.13.1 Ascella
Machine:   Mobo: MSI model: MS-7309 v: 1.0
           Bios: American Megatrends v: V9.4 date:

[2015-09-02 16:33] MaikuMori opened #351 "[Linux] Alt-tabing couses sounds to be queued"
While testing other issues I noticed that if I alt-tab bot match and tab back some time later it will just play all the sounds that happened in background instantly. It results in a lot of sounds being played right as I tab back into the game.

[2015-09-02 16:56] MaikuMori commented on #286
This is the closest issue that describes my problem. It's also related to #13 and #198.

When I move game window from non-primary to primary screen in most cases the chat wheel bug happens, but in some cases it works correctly.

Also when I move the reborn window using gnome overview in almost all cases it doesn't move the window in the gnome overview, but when I go back to reborn window it actual

[2015-09-02 16:59] gdrewb-valve commented on #350
Likely a duplicate of #35 / #105.

[2015-09-02 17:01] gdrewb-valve commented on #286
If you use a windowed mode Reborn creates a window the size you ask for, so if your particularly environment doesn't allow such a window it's expected there will be problems.

[2015-09-02 17:02] gdrewb-valve commented on #198
Closing as the new reports are more to do with #286 than the chat wheel problem here.

[2015-09-02 17:03] srelelele commented on #350
so what should i do to fix it ?

[2015-09-02 17:15] gdrewb-valve commented on #350
Those issues have a couple of different suggestions, give them a read and see if those suggestions help.

[2015-09-02 17:19] srelelele commented on #350
ln -s /usr/lib/libudev.so.1 "/home/hs/.local/share/Steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/libudev.so.0

#105 is the same problem but this is not working for me.. maybie i need to wait ...10 minutes and nothing, just standing there in terminal

[2015-09-02 17:21] budimanjojo commented on #198
I'm still downloading the update, 1 hour to go. I'll report again soon to see if the problem is happening again.

[2015-09-02 17:23] gdrewb-valve commented on #350
Is your user name 'hs'?  The home directory depends on the user name, so really the ln command is "create a symlink to the right place where you installed Steam".

[2015-09-02 17:27] srelelele commented on #350
oh.. nope.. thanks, fixed :)

[2015-09-02 17:28] gdrewb-valve commented on #350
The load error is fixed and this can be closed?

[2015-09-02 17:29] gdrewb-valve commented on #341
OK, we'll have to see if somebody here can find a repro.

[2015-09-02 17:29] #69 closed, assigned to gdrewb-valve

[2015-09-02 17:30] gdrewb-valve commented on #347
Can you post your Steam system info?  Cursor scaling should work on Windows, mostly on Linux and not on OSX.

[2015-09-02 17:31] srelelele commented on #350
yes , thank you :)

[2015-09-02 17:31] gdrewb-valve commented on #350
Glad it worked, closing.

[2015-09-02 17:31] #350 closed, assigned to gdrewb-valve

[2015-09-02 17:44] gdrewb-valve commented on #346
Do the failure report times correspond to the times the game crashed?  If so you can get the dump files mentioned in the messages and put them on a file sharing site and we can look.

[2015-09-02 17:47] gdrewb-valve commented on #345
Are you running fullscreen or windowed?  What resolution?  Did Reborn work in the past or is this the first time you've tried it?

Also, how long have you waited while it's hung?  Does it ever exit?  Do you get a crash report at any point?

[2015-09-02 17:49] mzdunek commented on #1754
this error strikes again after today updates

...
SDL video target is 'x11'
SDL failed to create GL compatibility profile (whichProfile=0!
This system supports the OpenGL extension GL_EXT_framebuffer_object.
...

mesa 10.6.3

[2015-09-02 18:26] codycurley commented on #337
Same here, but only happens when I pan over a tower. Frame rate drops from 100 to 20.

It happens at 1920 x 1080 resolution in desktop friendly and exclusive fullscreen modes. Changing rendering quality has no affect on it. If I switch to 1600 x 900 and go into exclusive fullscreen, it works fine. If I switch to desktop friendly fullscreen it has the frame drop issue.

[2015-09-02 18:30] budimanjojo commented on #326
This is fixed now, thanks

[2015-09-02 18:31] budimanjojo commented on #198
I can confirm that this is not happening even after the update. All is good

[2015-09-02 18:31] budimanjojo commented on #286
This is still happening after the 1/9 update

[2015-09-02 18:33] gdrewb-valve commented on #286
Reborn isn't very good about adapting to moving between monitors so there will definitely be rough edges.  Eventually that'll get fixed but probably not in the near term.  It's best for now to use -sdl_displayindex to have Reborn start on the monitor you want (and that might require choosing windowed / fullscreen / resolution in a way that allows the game window to fit on your monitor).

[2015-09-02 18:36] budimanjojo commented on #286
Okay, I was just reminding people that this is still happening. I've got no problem because I don't move it around as it launches on my primary monitor without any tinkering. Thanks gdrewb, just focus on other more important fixes :)

[2015-09-02 18:38] gdrewb-valve commented on #286
Yes, and thanks for the feedback.  I just wanted to clarify for other people reading that this isn't expected to be fixed right now.

[2015-09-02 19:01] zhestkov commented on #337
Hm, yes, fps value is definitely more stable with Excl.Fullscreen

[2015-09-02 19:03] gdrewb-valve commented on #337
It's expected that exclusive fullscreen will help out since then OSX is out of the way, but it's odd that a tower would cause such a large FPS drop.  I've asked the larger team if there's something that would trigger a hitch.

[2015-09-02 19:05] codycurley commented on #337
@gdrewb-valve and to clarify, if the camera is positioned over a tower, the FPS is fine. It's only when edge padding over them. I haven't been able to find other sections of the map where it happens, but I also haven't played many full games do to the hiccups.

[2015-09-02 20:54] justinianpopa commented on #345
I have exactly the same problem as Shad3w. Reborn worked perfectly before the September 1 patch. Running reborn windowed 1600x900 on Core i5-2500k/12GB RAM/GTX 560SE/Windows 10. Tried game delete & reinstall, latest Nvidia drivers, still same problem; seems game-related, freezes are random in menus or in-game especially when panning the camera or clicking on the minimap. Sound still works and i ca

[2015-09-02 20:56] gdrewb-valve commented on #345
I'll check with the larger team and maybe kick this over to them.

[2015-09-02 21:11] dietrmat commented on #1842
On comment, this is NOT an issue on Dota2 with Source 1 engine but with Source 2 engine. So it seems an issue with Reborn.

[2015-09-02 21:17] hexvalid opened #352 "[Linux] HUD is with green boxes"
The game looks exactly as follows. Map does not appear at all.
![2015-09-03 00-12-00 ekran goruntusu](https://cloud.githubusercontent.com/assets/4836149/9644765/90e66768-51d0-11e5-852b-469ed89d7d59.png)

Operating System Version:

Video Card:

[2015-09-02 21:31] Shad3w commented on #345
Running in fullscreen at 1280x800 it previously didn't work because of  my graphics card being what it is, as seen in issue #24 I've waited for up to an hour, it doesn't exit, and I have to restart my computer every time.

[2015-09-02 21:33] justinianpopa commented on #345
As an update,
This exact issue has been referenced here: https://www.reddit.com/r/DotA2/comments/3j9h7c/evga_precision_x_16_freezing_dota/
I have turned off EVGA Precision X and so far i have had no freezes. My best guess is the EVGA Precision OSD Driver (what shows FPS in any 3D game) is conflicting with something after the update and causing this behaviour. Could be something similar on MAC.

[2015-09-02 22:14] CommanderAlchemy opened #353 "[Linux] Crashes when pressing refresh pings in region settings"
Dmesg

[code]

[Systeminfo](https://gist.github.com/CommanderAlchemy/83c70f2deffb678192c3)

[2015-09-02 23:26] gdrewb-valve commented on #353
This happens on all platforms, the larger team is already working on a fix.

[2015-09-02 23:26] #353 closed, assigned to nobody

[2015-09-02 23:40] #349 closed, assigned to gdrewb-valve

[2015-09-03 05:41] dayvough commented on #348
Played a couple of rounds on Overthrow earlier and an SF demo, it's working now. Thanks guys!

[2015-09-03 06:20] subclavianGroove commented on #346
It seems the times match up. Here is my dump file, thanks for your time

https://www.mediafire.com/folder/e181qcrforj99/dumps

[2015-09-03 06:25] chrylis commented on #201
With compositing disabled, the latest version doesn't look like a flipbook but is still barely playable (around 30fps).

[2015-09-03 06:37] JJAYL opened #354 "[Linux] Reborn won't launch"
When I try and launch reborn, seemingly nothing happens. Steam will change to say I am in game and Dota2 and Dota.sh processes will be created but I can not access the  main menu or any sort of game window.
Logs in the terminal after I try to launch the reborn if i launch steam via the command line.

[code]

System info

[code]

[2015-09-03 06:45] chrylis opened #355 "[Linux] Severe flickering on latest update"
To check the latest version, I played a jungle Nature's Prophet. Right after I got three treants, at about 2:30, the engine started flickering extremely badly, apparently drawing entire black or very dark frames (starting midway through the screen, then wrapping to the next one) at rates varying from 2-5Hz. The flickering was intermittent and didn't seem to be related to the number of items on-scr

[2015-09-03 06:53] bosssarawongsuth commented on #347
![20150903_134302](https://cloud.githubusercontent.com/assets/9318706/9652136/752d16bc-5210-11e5-8797-0714d5a12a7b.jpg)

Above is the example of how small the cursor is. I don't know why it says below in the Steam system info that my resolution is 1440x810 because it is actually 2880x1620 and I'm using 200% scaling for texts,apps,etc in Windows display settings to increase my text size.

Processor

[2015-09-03 07:00] ramma commented on #305
@gdrewb-valve Are there no plans period, or just for the Alpha phase of the Dota 2 workshop tools?

[2015-09-03 07:09] gdrewb-valve commented on #354
You are having OpenGL problems, the libGL errors will prevent Reborn from running.  If you look at the steam-for-linux repo here you should find several similar issues.

[2015-09-03 07:12] gdrewb-valve commented on #347
It's possible Steam isn't marked as DPI-aware so Windows is lying to Steam.  Does Reborn show the proper monitor resolution in the video settings?

As this isn't a Mac or Linux issue this should go in the regular forums.  I'll leave it open for a bit to gather info.

[2015-09-03 07:21] bosssarawongsuth commented on #347
Yes Reborn uses 2880x1620 resolution, Sorry I posted in the wrong forum, I'll repost this in a regular forum
Cheers

[2015-09-03 07:28] chrylis commented on #355
This appears to be related specifically to the Radiant medium creep camp with vision of the bottom rune; I've only seen it there (and haven't played Dire), but it shows up reliably when I take Treants there around 3min. Upgrading to Linux 4.1.6 for a fix for a GPU issue I had elsewhere did not help.

[2015-09-03 07:36] bosssarawongsuth commented on #347
I couldn't find a forum on github for the regular Dota 2 Reborn. I tried registering for the forum on dev.dota2.com and it gives me a "database error" and trying to sign in with that account, the system says I'd been banned for "No specified reason". Is it possible for you to pass on this information to the Windows team as Reborn is going to be the main client in a few weeks and this issue is real

[2015-09-03 08:47] chrylis commented on #301
I have the same problem with Mesa 10.6.4 on Arch, Liberation installed.

[2015-09-03 08:52] chrylis opened #356 "[Linux] Open mic causes "mic open, no sound" icon to appear constantly"
When I have open mic enabled, the transmission is working correctly now (yay!), but instead of disappearing whenever I stop talking, the "no sound" icon stays on the UI. (I tried to take a screenshot, but either my hotkey isn't working, or it's saving somewhere I can't find.)

[2015-09-03 09:03] budimanjojo commented on #356
Yes, I can confirm this. But I think this happens on all platform, not Linux specific.

[2015-09-03 09:21] budimanjojo opened #357 "Autoexec.cfg?"
I read the changelog of 1/9 listed that autoexec is supported, but mine is still not working. I put in fps_max "300" and the ingame fps is still 120.

[2015-09-03 11:52] beheh commented on #339
Great, that's enough for me.

[2015-09-03 11:52] #339 closed, assigned to nobody

[2015-09-03 12:28] danginsburg commented on #348
Closing.

[2015-09-03 12:28] #348 closed, assigned to danginsburg

[2015-09-03 12:56] danginsburg commented on #352
I have tried to repro this on mesa 10.6.4 (built from source) on Haswell and have had no luck so far.  A couple of questions: does the corruption disappear if you add -gl_force_sm30 to your command-line?  I see that you have a custom HUD skin, does it occur with the default skin?  My best guess so far is a mesa issue with the IvyBridge backend.  It looks similar to a bug we had with scaleform when

[2015-09-03 13:00] danginsburg commented on #355
@chrylis Can you post your full system information from Steam?  It is not clear from the description what GPU you have. Does the bug still occur if you change video settings (i.e. turning off Ambient Occlusion, Anti-Aliasing, Shadows)?  Can you post a match ID we can use to repro?

[2015-09-03 13:21] msjyoo commented on #13
I can also confirm that Reborn starts on wrong monitor (not-Reborn starts correctly). -sdl_displayindex also fails to work. Ubuntu GNOME 15.04, AMD graphics driver.

[2015-09-03 13:49] chrylis commented on #355
That was mostly happening on bot matches, though I had something kinda similar-but-not-exactly in another match, and I'll see if I can figure out how to dig up the ID for it. I don't have AA turned on (strangely, it drops the frame rate by 50%, but I can't tell a visual difference with it disabled), and I didn't know what other particular settings to change. I'll try with occlusion and shadows.

[

[2015-09-03 13:50] danginsburg commented on #201
@chrylis So if I follow, you are saying that framerate has increased from 18fps -> 30fps at max settings with the latest update, but you still find this to be unplayable?  What are you getting in source1 at the same resolution at max settings?

[2015-09-03 16:14] gdrewb-valve commented on #356
I'm checking with the larger team.

[2015-09-03 16:28] gdrewb-valve commented on #13
@sekjun9878, what video mode are you running in?  If you're running a borderless window at the desired monitor's resolution does it help to switch to desktop-friendly fullscreen?

[2015-09-03 17:37] dietrmat commented on #1842
Wrong Tracker. Must be in Reborn

[2015-09-03 17:39] dietrmat opened #358 "[Linux] RadeonSI flickering overlay"
When the overlay is opened the screen flickers. Running AMD open source drivers (RadeonSI) on Kernel 4.1 and Mesa 10.6.5.

As this is NOT an issue on Dota2 with Source 1 engine but with Source 2 engine. So it seems an issue with Reborn.
## If you need more information feel free to comment here.

Prozessor:
    Hersteller: GenuineIntel
    CPU-Familie: 0x6
    CPU-Modell: 0x3c
    CPU-Stepping: 0x3

[2015-09-03 18:05] gdrewb-valve commented on #346
I took a look at the dump and it's crashing deep inside fglrx, the AMD graphics driver.  There aren't a lot of further concrete steps.  You might try a different driver if you can find one.  We'll keep this open for now but it likely will eventually be closed as outside of Valve's scope.

[2015-09-03 18:06] gdrewb-valve commented on #358
You mean the Steam overlay, correct?  You'll want to report that to the Steam team.  It likely won't be handled here.

[2015-09-03 18:39] dietrmat commented on #358
But its only an issue on Dota 2 Reborn. Still a Steam team bug?

[2015-09-03 18:42] gdrewb-valve commented on #358
Reborn works fine except when the overlay is up, correct?  That would suggest it's an overlay problem and not a Reborn problem.

[2015-09-03 18:44] subclavianGroove commented on #346
Thanks for doing what you can. I tried switching to the other driver and now I can't even open steam haha.

[2015-09-03 18:48] dietrmat commented on #358
Exactly, how to move the bug to steam team?

[2015-09-03 18:53] gdrewb-valve commented on #358
The steam-for-linux repo here is the place to copy-and-paste your report into.

[2015-09-03 19:31] danginsburg commented on #358
I am able to repro this on AMD 7950 mesa 10.5.9 Ubuntu 15.04.  I'll take a look at the issue.  It doesn't happen in Catalyst 15.7.

[2015-09-03 19:32] gdrewb-valve commented on #358
dietrmat also opened 4002 in steam-for-linux if you find a resolution.

[2015-09-03 19:53] gdrewb-valve commented on #357
I just tried it and it worked OK.  Where did you put the file?  What exact filename did you use?  It should be autoexec.cfg in the cfg subdir of <wherever you have Reborn>/game/dota.

[2015-09-03 20:07] dietrmat commented on #358
Dear Valve developers, I really like your Linux efforts. Thx for your fast and competent support!
Btw., Dota 2 Reborn runs great on open source drivers. You rock, keep up the great work.

[2015-09-03 20:30] gdrewb-valve commented on #13
Also if you use a window smaller than your monitor(s) do things start on the right display and does -sdl_displayindex work to control which monitor is used?

[2015-09-03 20:31] gdrewb-valve commented on #325
Closing as the update should have addressed this.

[2015-09-03 20:31] #325 closed, assigned to gdrewb-valve

[2015-09-03 20:33] gdrewb-valve commented on #347
I've passed this on.

[2015-09-03 20:34] gdrewb-valve commented on #354
Closing as this is not a Reborn problem.

[2015-09-03 20:34] #354 closed, assigned to gdrewb-valve

[2015-09-03 22:01] quarthex opened #359 "[linux] black screen at startup using xmonad"
Whole screen stay black.
No sound.
Unable to switch to another virtual desktop.
Application does not end.
Legacy Dota2 works well.

I installed the [libudev0](https://aur.archlinux.org/packages/libudev0/) package, according to the ArchLinux [wiki](https://wiki.archlinux.org/index.php/Steam/Game-specific_troubleshooting#Dependencies_.28Dota_2_reborn.29).

I extracted libpng12.so.0.50.0 from a [Debi

[2015-09-03 23:02] budimanjojo commented on #357
Yes it is. Source 1 Dota worked but Reborn gives me 120 fps. I'll try other command to see if it only happens on fps_max later

[2015-09-03 23:07] gdrewb-valve commented on #359
If the problem is in the NVIDIA driver there may not be much we can do from Valve's side.

[2015-09-03 23:07] gdrewb-valve commented on #357
Just to be clear, you have two then, the one you're using for Source 1 and the one you're using for Reborn since they're in different places?

[2015-09-03 23:11] budimanjojo commented on #357
Wait, so where is the one for reborn located? I don't know they have 2 different locations.

[2015-09-03 23:18] gdrewb-valve commented on #357
Source 1 is steamapps/common/dota 2/dota/cfg.  Reborn is steamapps/common/dota 2/game/dota/cfg.  Note the extra 'game' dir in there.

[2015-09-03 23:19] budimanjojo commented on #357
Ok, I'll check later.

[2015-09-03 23:21] gdrewb-valve commented on #337
The larger tower is actively investigating the camera movement and input lag.

[2015-09-03 23:22] gdrewb-valve commented on #332
The larger tower is actively investigating the camera movement and input lag.

[2015-09-04 01:22] JJAYL commented on #354
sorry for the inconvenience and thanks for the help

[2015-09-04 03:20] chrylis commented on #201
30fps is playable, just barely so, and that's with significantly lower settings than I have in Source 1, where I'm getting around 60. I have also frequently experienced major frame rate dropoffs when things get busy (exactly when you need responsiveness), ~~but I haven't encountered that yet with the latest update~~ and I've had the rate get down to 7fps in a teamfight.

[2015-09-04 08:16] budimanjojo commented on #357
Found it, closing. Thanks gdrewb

[2015-09-04 08:16] #357 closed, assigned to gdrewb-valve

[2015-09-04 09:52] hexvalid commented on #352
I tried add ( %command% -gl_force_sm30 ) as launch options with the latest version mesa (10.6.5). No changes. such again:
![2015-09-04 12-49-27 ekran goruntusu](https://cloud.githubusercontent.com/assets/4836149/9681054/d5f3bcc8-5303-11e5-82f3-569a0b8bbe25.png)

[2015-09-04 13:36] budimanjojo commented on #356
Maybe this is connected to #316?

[2015-09-04 14:25] danginsburg commented on #359
I installed the same driver you appear to have (NVIDIA 352.41) from http://www.nvidia.com/Download/driverResults.aspx/90279/en-us on Ubuntu 15.04 x64 with NVIDIA GTX 760 and did not encounter the crash.

Can you try adding -gl_disable_binary_shaders to your command-line and report back if that works?  Could you also post your full system information from Steam -> Help -> System Information?

[2015-09-04 15:16] wuschLOR commented on #241
Dota normal works for me without any problems - but reborn is buggy.
Somtimes alt+click works and sometimes it doesn't. When it doeesn't it tryes goes to moving window mode (running 14.04 lts with KDE and AMD gpu).
To fix this i used the method provided here https://github.com/ValveSoftware/Dota-2-Reborn/issues/13#issuecomment-131616211 :
0. go to the video options
1. check use advanced settings
2

[2015-09-04 16:08] quarthex commented on #359
Adding -gl_disable_binary_shaders did not solve the problem.
My system's informations are available in the shared Gist (https://gist.github.com/quarthex/7ccf6ffa4e85e08c1df5#file-sysinfos).
I added memory mapping to it.

[2015-09-04 17:14] danginsburg commented on #359
Can you upload your minidump somewhere I can grab?  I'll see if I can get a better idea what GL API call is triggering the crash.

[2015-09-04 17:40] dphildebrandt commented on #332
Exciting, I'll note maybe I was optimistic after the last update but it seems just a bad as it was before, now that i've played several games.

[2015-09-04 18:23] quarthex commented on #359
Uploaded here: http://www.aprogsys.com/owncloud/index.php/s/Jv6vnB8NN2Gcjea

[2015-09-04 20:36] chrylis commented on #356
@budimanjojo I saw that one but don't think so. In this case, the icon appears completely correctly--it's just there when it shouldn't be, and looks more like the application is failing to shut off the mic when it falls below the threshold.

[2015-09-04 22:15] budimanjojo commented on #356
Yeah I know it's different, but I think there is something wrong with the codes of the mic button that causes these two problems.

[2015-09-04 22:47] chrylis opened #360 "[Linux] Losing focus for more than a couple of seconds causes disconnect"
I often switch to other windows while dead. In Reborn, I can switch for a few seconds (about six), but more loss of focus reliably causes a server disconnect. I observe this in "default" or in "desktop-friendly fullscreen".

[2015-09-05 03:28] Vuccappella opened #361 "[MAC] √ Mute All Chat settings does not reset."
I'm not sure if this is Mac specific but I'm running mac  and I have a strange problem. Every game I join by default the √ Mute All Chat setting is selected. This means that at the start of the game or even during loading in the lobby I can not see anything, then once the game starts I could untick that setting and I can see what everyone says but once I leave the game the setting isn't saved and

[2015-09-05 06:43] Vuccappella opened #362 "[Mac] Game crashes when watching replay."
Report https://gist.github.com/Vuccappella/5c391b0df24499cc75e0

It crashed 3-4 times. Usually when I fast forward manually with the mouse at a particular time of the replay or when fast forwarding by speed.

[2015-09-05 09:38] jeanlain commented on #337
Good to know that a tier-one tower is investigating the issue. ;-)
But my personal issue appears to be fixed. Not by the latest update, but by somehow playing the main client and back to reborn. I had an issue with low fps (visibly lower than what the fps counter showed), which was mostly visible during camera movement, linked to yellow error messages filling the console. Now everything's good. Fp

[2015-09-05 09:53] gxgani opened #363 "[OSX] Fullscreen, App Alert Issues"
Can we have an option to enable native osx fullscreen which is to use a separate space. I would really like to have my dota running in a different window/space rather than minimizing to the dock.

Secondly, can we also have the old app bounce warning for resume/matchmaking alerts back?

[2015-09-05 12:25] jeanlain opened #364 "[Mac] "attempt to get item stock time for unknown stock item..." affecting performance"
When demoing heroes, I get error messages filling the console (they flow at a high rate). This is associated with poor frame rate. Every game (played or spectated) gets affected by the issue after that. The only fix is to restart dota 2 and be sure not to demo a hero again.
![capture d ecran 2015-09-05 a 14 17 36](https://cloud.githubusercontent.com/assets/4463576/9699190/b424fb08-53d9-11e5-813b-0

[2015-09-05 12:30] jeanlain commented on #364
It's probably not Mac-specific. Others are reporting the issue.

[2015-09-05 14:13] Vuccappella commented on #363
I like the new notification which is global and makes a sound,  the bouncing icon as well would be nice.

In terms of fullscreen to a separate space, I have no idea but there might be a issue since the game is a port ? For example, I tried streaming dota with OBS but OBS does not recognise dota2 as an application so you can't allocate a special screen for it in OBS, I guess due to the fact that it

[2015-09-05 14:46] gxgani commented on #363
@Vuccappella I do like the notification too, but I happen to have my notification center in DnD most of the time. It also bounces when the game resumes or someone in party chat has replied.

Regarding the OBS, You'll have to inject with syphon in order to capture dota2.
![](http://i.imgur.com/OWrDj6o.png)

By launching it into separate space, the brightness of the game wouldn't conflict with OSX's

[2015-09-05 14:51] ezracb opened #365 "[Mac] Nothing happen after preparing to launch dota 2 reborn"
I have installed Dota 2 Reborn on mac and when I press play and select Dota 2 Reborn beta, it says preparing to launch but it doesnt launch and nothing opens. What happen with this dots 2 reborn? Where is it wrong?

[2015-09-05 15:16] dphildebrandt commented on #363
Yeah the OSX full screen in a different space, like the old client, was perfect. Also the current notification popup image has a terminal picture instead of, perhaps, the Dota2 symbol.

[2015-09-05 15:30] dphildebrandt commented on #332
Happy to report latest update has seemed to fix it completely. Had a whole bot game with no lag. Going to try a regular game later today.

[2015-09-05 15:31] dphildebrandt commented on #337
Seems to be fixed with latest update.

[2015-09-05 15:32] dphildebrandt commented on #1839
Looks like its fixed in the new update!

[2015-09-05 20:52] dphildebrandt commented on #332
Played a game of 10v10 and overthrow, seems to be fixed. Thanks guys!

[2015-09-05 20:52] ChrisLauinger77 opened #366 "[Linux] Sound settings do not really matter any more"
With latest update, sound settings are strange.
Sound changes from  loud to quiet during game (I am also in teamspeak) - the sound when you commend a player is REALLY LOUD. The ingame music is to loud (in menu) and in game it changes level.

---

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  5900 Mhz

[2015-09-05 20:54] ChrisLauinger77 opened #367 "[Linux] Shuffle in loadout is not working"
I usually I use shuffle option on wards, wheater, music HUD etc
The shuffle symbol is not displayed in reborn, and selecting shuffle on the items I wanna shuffle is not wokring 4 me.

---

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  5900 Mhz
    4 logical processors
    4 physical processors
    Hy

[2015-09-06 01:41] gramathy commented on #365
If you try to launch it again does it give you a "app already running" error? I fixed this by restarting Steam.

[2015-09-06 07:46] ezracb commented on #365
No, nothing message I have got...
It is nothing happened after relaunch till many times..

[2015-09-06 10:56] gemakochi commented on #352
same here.
![2015-09-06 13 53 27 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/9704016/e324dd0e-549e-11e5-8849-855f3bf720fa.png)

[code]

[2015-09-06 12:21] ChrisLauinger77 opened #368 "[Linux] Chat wheel is broken"
Chat wheel does work but when it opens I only can select the right entry (3 o'clock).
It also scrolls to the right when I open chatwheel. (i use mouse5 to open it and mousenav to select in old  client)

[2015-09-06 16:01] Vincentmrl commented on #345
I got the same problem after the update that fixed issue #24 , there's a 100% chance that the game freezes my computer some seconds after I spawn. I'm using an iMac 24" mid 2007 with specs listed [Here](https://gist.github.com/Vincentmrl/a8e32d869b4c7c6c1f18)

[2015-09-06 17:15] davidbograd opened #369 "Mac crash after opening reborn client"
My MacBook Pro (Retina, 15-inch, early 2013) with OS X Yosemite v 10.10.4 crashes everytime I open the Dota 2 Reborn Client.

I get to run the software, see the initial UI (top bar and plat button in the bottom) - rest is black. Then Dota 2 Reborn crashes. It is like this everytime.

[2015-09-07 02:28] Tele42 commented on #1847
Please file Reborn issues in https://github.com/ValveSoftware/Dota-2-Reborn.

[2015-09-07 07:44] chrylis opened #370 "[Linux] Spectator fog setting resets after switching away"
When switching away from a spectated game and back to it, the fog setting resets to whatever it was on game load.

[2015-09-07 08:24] lakerkid opened #371 "Open mic in party stops working randomly"
Open mic while in party works sometimes and other times I can hear the other person and they cannot hear me.

[2015-09-07 11:32] blakeb155 opened #372 "[OSX] Green Boxes obstructing HUD + Purple/Black Texture Failure"
A little bit similar to #352, however that one is on Linux

All UI/Menu items run fine, in-game HUD is obstructed by green boxes and some items are missing textures (purple/black)

Additionally,  when my hero dies the screen goes dark (same issue as #309)

Specs:

MB Pro 15'' Retina Display Mid 2014
2.2Ghz Intel Core i7
16GB 1600 MHz DDR3
Intel Iris Pro 1536MB
OS X 10.9.5

<img width="1440" alt="s

[2015-09-07 16:37] rmbleeker opened #373 "[Linux] first blood awarded on second kill in bot match"
It has happened twice now in a bot match that the first blood announcement played on the second kill in the match. I'm not sure if the extra gold was also awarded or if that indeed went to the bot who made the actual first kill.

Playing on the Radiant side in a 5v5 match with hard bots on Ubuntu 14.04 LTS

[2015-09-07 17:16] danslo commented on #1846
Same here.

[2015-09-07 17:50] 420git commented on #1846
I decided to stop using the outdated and buggy steam runtime and just get the required drivers myself and it works now.
To use steam without its runtime use this to start steam
$ STEAM_RUNTIME=0 steam
or edit the shortcut of steam to this
STEAM_RUNTIME=0 /usr/bin/steam %U
ofcourse you will first be faced with a message mentioning missing required drivers .Ive tracked and installed most of them, bu

[2015-09-07 17:54] 420git commented on #1846
lol i deleted my comment by mistake if you got it in your mail please post it again here so others can know about it.
tl dr ; I run steam without its original runtime after getting steam-libs from alucard repository

[2015-09-07 17:58] danslo commented on #1846
Your e-mail:

[2015-09-07 17:59] ArnaudAndre commented on #373
First blood is only awarded if a hero gets credit for the kill. It's possible that one team gets credit for an enemy hero kill while none of their heroes does. Possible scenarios include :
- enemy hero dies alone to creeps / tower
- enemy hero dies to a creep/tower last hit while 2 or more friendly heroes are susceptible to get an assist (they both get an assist, none gets the kill)

Note that out

[2015-09-07 19:46] dpi commented on #1845
Ive been getting this since around Friday (4 Sept 2015).

Menu UI element background flickers. On occasion the in game background which stretches from left to right, behind hero portrait, will flicker black. Leaving only portrait images visible.

Linux 64 / Elementary (Ubuntu derivative)

[2015-09-07 20:53] rmbleeker commented on #373
Hm that might be what was going on indeed, Dota bots are notoriously stupid when it comes to taking creep/tower damage. Closing this issue.

[2015-09-07 20:53] #373 closed, assigned to nobody

[2015-09-07 21:13] Dota2player commented on #1845
Yes mate that is exactly my issue. I think it is to do with the dots 2 reborn box as a fterca match it shows it automatically and then the issue starts

[2015-09-07 21:16] Dota2player commented on #1845
I have Linux 14.04.03 but I think this is a global issue on Linux that is caused by the dota 2 reborn box in the menu

[2015-09-08 11:07] alexstan2T commented on #1848
Workaround for said issue is included in the Source 2 client.

[2015-09-08 11:50] danginsburg commented on #372
I have not seen this issue.  Are you able to update to OS X 10.10.5 to see if it fixes the problem?  Have others seen this with any other configs?

[2015-09-08 11:56] danginsburg commented on #369
@davidbograd Could you please share a minidump so we can investigate the crash?  You can find the location of the most recent minidump by going to Steam -> Help -> System Information.  Please also post your system information on the bug.

[2015-09-08 11:58] danginsburg commented on #365
@ezracb Can you please add -con_logfile to your Launch Options and then post your console.log from the dota2 directory on this bug?

[2015-09-08 12:19] danginsburg commented on #362
This issue is not Mac-specific so we won't track this here.  It has been reported on the Windows client as well (http://dev.dota2.com/showthread.php?t=177744).  It has been passed along to the larger team.

[2015-09-08 12:19] #362 closed, assigned to nobody

[2015-09-08 12:38] danginsburg commented on #367
This issue is not Linux-specific and is being worked on by the larger team.  Closing because we won't track this here.

[2015-09-08 12:38] #367 closed, assigned to nobody

[2015-09-08 12:42] danginsburg commented on #364
I believe this has been fixed as I am not able to repro it, but can you provide exact repro steps so we can be sure?

[2015-09-08 12:52] danginsburg commented on #370
@chrylis I'm having trouble repro'ing this.  Can you provide specific repro instructions?  I have tried toggling Atmospheric Fog on/off during a replay and I don't see the setting reverting.

[2015-09-08 12:58] danginsburg commented on #368
This appears to be a duplicate of #286 and #198, correct?  Or is this something different?

[2015-09-08 15:50] jeanlain commented on #364
I just start dota 2 reborn and immediately demo a hero. It doesn't appear to depend on the hero. Graphics setting are set to max except for ambiant occlusion.
I still get the issue after the latest patch.

[2015-09-08 16:22] justSQL commented on #364
I get this on Windows 7 x64 also - so it's not an Os X / Linux specific issue.

[2015-09-08 17:05] davidw-valve commented on #371
What operating system are you on? Do you still see the mic icon when the person is talking?

[2015-09-08 17:10] davidw-valve commented on #366
When you adjust the audio master volume does it affect the volume of the sounds? Are all sounds in-game very quiet? (Music / sound effects / etc?)

I am afraid I cannot reproduce this so far.

[2015-09-08 20:20] danginsburg commented on #358
This was a bug in the Steam Overlay with not disabling GL_CLIP_DISTANCE0.  I have checked in a fix, it will be in a future Steam update (NOTE: Steam, not Dota 2 Reborn).  I'll close out this bug.

[2015-09-08 20:20] #358 closed, assigned to danginsburg

[2015-09-08 23:30] fwsGonzo commented on #11
Having issues on dual-monitors, same sized monitors of same type, Ubuntu X11
The physical window area is on my right screen, while the framebuffer is rendered on my left
As in: I can close the game from clicking on the top-right of my right monitor, while its being rendered on the left. In addition, cannot click anywhere on rendered area without simply switching task to whatever is underneath

I m

[2015-09-08 23:31] codycurley commented on #337
@dphildebrandt still issues here.

[2015-09-09 03:02] ramma commented on #30
This issue is still present after the September 8th updates. To add to the problem, the Super/Windows key cannot be bound to anything in settings either. Without rebinding Windows/Super key and Alt, the game is unplayable due to the constant minimizing. Switching between windowed or full screen does not solve the problem either.

[2015-09-09 03:05] gramathy opened #374 "[OS X] Game causes hard crash of computer"
Bear with me, this one's weird and I don't expect a quick resolution.

This has been happening, as far as I can tell for me, since Reborn started. At first I chalked it up to my video card unseating itself or overheating, but having just gotten an extra pair of fans to keep air moving and a backplate for the card, this has basically been ruled out (though I'm considering swapping it to a different

[2015-09-09 04:03] gramathy commented on #374
Side note: haven't played since most recent patch, might not occur anymore?

[2015-09-09 05:02] gxgani opened #375 "[OSX] Framerate low on Treasury Tab on HD 4000"
The frame rates drop drastically at Treasury Tab, Featured heros and in game aswell.

Intel HD ~~3000~~4000
Yosemite 10.10.5

[2015-09-09 05:34] xylein opened #376 "[OSX] Desktop Friendly Full Screen Setting Not Saved"
Everytime I start Reborn, I have to change my video setting to Desktop Friendly FullScreen from Exclusive FullScreen because Cmd+Tab doesn't work. How can I save this setting?

OSX 10.9.5

[2015-09-09 05:37] lakerkid commented on #371
I'm on Mac. Sometimes the bubble shows other times the bubble doesn't show. He's on PC if that has anything to do with it?

[2015-09-09 10:53] mfonville opened #377 "Bought items from suggestion list do not get checkmark when bought"
In Dota 2 Reborn Linux build from 9th of September 2015 there are no checkmarks anymore that indicate if you have bought something from the suggested itemlist.

[2015-09-09 11:12] MaikuMori commented on #1845
I can confirm having this issue as well on normal Dota 2 client recently. My intuition says that it has something to do with alt-tabing, at least that seems to trigger it for me. But I haven't managed to pinpoint exact sequence of actions to trigger it.

Not sure if it happens in reborn client since I don't get to play with it much due to it still being a bit too buggy.

[2015-09-09 12:40] Turmfalke2 opened #378 "tab out -> segfault"
hi,
I just tried to do the last hit practise mode (dota_tutorial_start lasthit), but noticed that it failed to properly load the map and I never got the hero selection screen. So I switched to another tag (using herbstluftwm) googled and learned that apparently the last hit challenge isn't implemented in reborn. A moment later I heard a throne explode and the game crashed.
In dmesg it states:
[312

[2015-09-09 12:44] espadolini commented on #363
As a workaround, you can run it in "desktop-friendly fullscreen", disable "minimize when the window loses focus" and just drag the window onto a new space from Mission Control.

As an aside, how about supporting 16:9 resolutions with letterboxing?

[2015-09-09 12:56] danginsburg commented on #376
I just tried this and am unable to repro.  If I set it to "Desktop Friendly Fullscreen" at 1440x900 (my desktop resolution), quit, and come back in then it does set "Use my monitor's current resolution", but that's because Desktop Friendly Fullscreen is the equivalent of that setting.  If I set "Desktop Friendly Fullscreen" at a non-desktop resolution then it keeps the setting between exits.  Plea

[2015-09-09 13:08] danginsburg commented on #375
I just tried on my Macbook Pro (13-inch, Early 2011) OS X 10.10.5 HD 3000 384MB and the Treasury tab at 1280x800 runs at 37fps (run with -console +cl_showfps 2).  What framerate are you seeing?

[2015-09-09 13:17] xylein commented on #376
My setting was at "Use advanced settings" and it was set at 1440*900, 16:10 and Exclusive Full Screen when I started Reborn, as far as I can remember. To try out some scenarios I switched to "Use my monitor's current resolution" which seemed to work exactly as I want(and wanted with Desktop Friendly Fullscreen as I mentioned). However, now when I restarted Reborn I have a whole different issue wit

[2015-09-09 13:26] budimanjojo commented on #366
I can confirm commending/reporting sounds are louder than everything else in the game. My music sound is on the 15% (because I always listen to music while playing) and my master sound is on 50%. All sounds like announcers and kills are normal except commending and reporting, in game music is good on me though.

[2015-09-09 13:27] xylein commented on #376
I rebooted, tried again. Same problem. I tried to switch through the 5 resolutions provided in MAC. All of them give the same result.

[2015-09-09 13:38] gxgani commented on #375
Sorry I have a HD4000(MBPro 2012) and wow 37fps on a 3000?

![](http://i.imgur.com/W4cLnCC.png)

![](http://i.imgur.com/4TJPXJG.png)

PS: Featured tab never stuttered before update when I refreshed.

[2015-09-09 13:45] gxgani commented on #375
Secondly, is the game window processing even when it's not in focus/minimized? I noticed that when there's a graphic intensive content running in the client such as set preview even main menu with Source1 client, osx stutters. But with Source 2, OS Stuttering doesn't seem happen when I am at the main menu, but at treasury or featured tab it does.

[2015-09-09 13:47] danginsburg commented on #375
@gxgani OK, thanks for the screenshots, I thought you meant the main Treasury page.  Yes, I am seeing closer to 10fps now on HD 3000.

[2015-09-09 14:16] msjyoo commented on #13
@gdrewb-valve
- In Fullscreen, it starts on the wrong window.
- Borderless window at monitor's native resolution moves Dota to the wrong monitor.
- Borderless window at less than monitor's native resolution keeps Dota on the primary window correctly.
- I can also confirm that on Borderless window monitor native size, using Alt + F7 (GNOME shortcut) to manually move the Dota 2 window works. However

[2015-09-09 14:21] msjyoo commented on #13
@gdrewb-valve
- Using -sdl_displayindex works correctly on borderless windows. Haven't tested fullscreen.

Please let me know if there's anything more to test. Would love to get this fixed.

[2015-09-09 14:39] chrylis commented on #370
I don't mean Atmospheric Fog, I mean the spectator setting for which team's fog is applied.

[2015-09-09 15:21] danginsburg commented on #363
The problem we have right now is if we allow "Desktop Friendly Fullscreen" to use a separate space there is bug #176.  The issue there is that when going from "Desktop Friendly Fullscreen" -> "Exclusive Fullscreen" -> "Windowed" we end up with a window in its own space which users objected to.  This may be a bug in SDL, we need to investigate it further.

[2015-09-09 16:41] davidw-valve commented on #374
If it is causing your computer to completely lock up and require a reboot then it is almost certainly a problem with your hardware (or OS software) and there is little we can do to resolve it.

[2015-09-09 17:11] dphildebrandt commented on #341
Fixed in the newest update.

[2015-09-09 17:11] #341 closed, assigned to nobody

[2015-09-09 17:34] danginsburg commented on #370
@chrylis Thanks, I have repro'd the bug and passed it along to the larger team.  It is not specific to Linux (happens on Windows too) so we will not track it any further here.

[2015-09-09 17:34] #370 closed, assigned to danginsburg

[2015-09-09 17:57] Shad3w commented on #345
Completely unable to play dota 2 now since reborn's been pushed out to be the main client and this is still unfixed.

[2015-09-09 18:16] danginsburg commented on #376
What resolution is your desktop set at?  Can you try to provide a resolution setting both for your desktop and the application that causes the issue or some other repro steps?  I'm not able to repro this yet from your description.  I've tried setting various exclusive full screen and desktop friendly resolutions and exit and restart and have not seen this issue.

[2015-09-09 18:19] xylein commented on #376
Sorry I didn't copy paste accurately.
http://imgur.com/gfeI4R6
I am not able to see the in game settings now.
The game loads up like this: http://imgur.com/3IoQ4Lj

And the game went into Reborn only mode :(

[2015-09-09 18:24] danginsburg commented on #376
OK, I am still trying to reproduce it.  In the meantime, you can use some command-line options to get the game up at a resolution that works for you.  -sw will launch in windowed mode.  You can specify resolution with -w XXXX -h YYYY which gives the resolution you want. Should at least get you unstuck.

[2015-09-09 18:28] xylein commented on #376
I am running it right now using -sw in the launch option and then re-setting the video configuration to "Use my monitor's current resolution".

This is what the settings panel opens to: http://imgur.com/9reVJId in case that is any help.

[2015-09-09 18:30] fwsGonzo opened #379 "Reborn Spectating game, Linux"
Upon connecting to Live tournament game (The Defense returns) most likely pre-game phase:
`CFlattenedSerializer: Decode array index 4 out of range 4 for field C_DOTATeam::m_aPlayers [1]`

Couldn't find any crash files.. where are they?

[2015-09-09 18:38] literallyunplayable opened #380 "[Linux] spontanious UI corruption"
In reborn, opening the reborn overlay while in game, as well as several other in game events causes the following effect.
![2015-09-09_00004](https://cloud.githubusercontent.com/assets/8964525/9770130/2c748a90-56e3-11e5-979e-5ac338d7f823.jpg)
![2015-09-09_00006](https://cloud.githubusercontent.com/assets/8964525/9770131/2e77571e-56e3-11e5-90aa-3ce64e2b08e4.jpg)

As you can see by the images, text

[2015-09-09 18:40] davidw-valve commented on #378
To be clear this only happens if you use a console command to access it? There is no navigable path to it through the gui?

[2015-09-09 18:41] FeatheredSerpent opened #381 "[Linux] Blackscreen"
All I see is a black screen, or a distorted image of the last OpenGL application that ran (like source 1 Dota 2 e.g.).
Mouse cursor is visible and movable (and seems to interact with the interface - I can hear the sounds).
Steam overlay also works fine.
Running the game windowed doesn't make a difference.
Source 1 Dota 2 worked fine.

System is Ubuntu 12.04 (with MATE-Desktop).
Graphics card is an

[2015-09-09 18:50] ecylmz commented on #352
I'm using Ubuntu 15.04, I installed latest graphics-drivers with ppa:oibaf/graphics-drivers.

Same here.

[code]

[2015-09-09 18:52] davidw-valve commented on #379
Can you reproduce this consistently on your machine?

[2015-09-09 18:59] danginsburg commented on #381
Thanks.  Can you run with -con_logfile and post the contents of game/dota/console.log?  Also, are you able to try running with the mesa driver?  I believe you are using Catalyst 13.1 which is a pretty ancient driver.  You might have better luck with radeonsi.

[2015-09-09 19:11] danslo opened #382 "[Linux] Game defaults to wrong screen in dual monitor setup"
Goes to second screen instead of primary.

[2015-09-09 19:11] danslo opened #383 "[Linux] Game randomly crashes when alt-tabbing"

[2015-09-09 19:12] danslo opened #384 "[Linux] Push to talk doesn't pick up audio."
When I go to audio settings I see recording level going up and down so it seems to be picking it up there just fine. Ingame it shows a cross.

[2015-09-09 19:14] danslo opened #385 "[Linux] Game randomly starts losing mouse focus"
Mouse is free to travel to secondary screen instead of being captured on primary screen.

[2015-09-09 19:16] danslo commented on #383
Duplicate of #378.

[2015-09-09 19:16] #383 closed, assigned to nobody

[2015-09-09 19:17] danginsburg commented on #382
Duplicate of #13 .  You can try using -sdl_displayindex 1 to start on your other monitor.

[2015-09-09 19:17] #382 closed, assigned to nobody

[2015-09-09 19:17] rodlorric commented on #316
I just had this issue (weird triangle on the slot when broadcaster talks)  spectating a tournament game (Match ID 1781681086), I can confirm is not Linux specific since I had it on Windows, so I presume it is OpenGL related.

[2015-09-09 19:19] danslo commented on #385
This is with Fullscreen mode by the way.

[2015-09-09 19:20] danslo commented on #384
Worked fine before reborn.

Using puleaudio and sound device is set to default.

[2015-09-09 19:20] Turmfalke2 commented on #378
I don't think it was related to the last hit practise mode, that is just how I encountered it. And yes there is no navigable path to the none existent practise mode. I have tried to reproduce it, but wasn't able.

[2015-09-09 19:21] danslo commented on #384
When going to Steam Voice Settings I can test my microphone and it works.

[2015-09-09 19:24] danslo commented on #378
I get this too:

`[90172.790620] GLRenderThread[20349]: segfault at 5606d35d9160 ip 00007fc2d74d7958 sp 00007fc2cc28d620 error 4 in libnvidia-glcore.so.355.06[7fc2d649a000+126e000]`.

Driver is 355.06.

[2015-09-09 19:26] fwsGonzo commented on #379
Live viewing tournament game into hero selection:
1: First connect: everything worked fine (spectating the game)
2: Crash to desktop (waited for steam userid to "leave" server, although I do feel like new spectator should kick old spectator)

Downloaded replay:
`Connected fine _every time_ (I tried 8 times)`

Back to live viewing, game still in hero selection:
3: First connect: fine, spectating li

[2015-09-09 19:30] dtbeaver commented on #381
I have same issue with dota 2 reborn on Mint 13 (aka Ubuntu 12.04) with Mate desktop. Black screen after launch, dota mouse cursor is visible, but no GUI. Also music is present.
Graphics card is NVidia GeForce 9600 GT

steam steam://rungameid/570
Running Steam on linuxmint 13 64-bit
STEAM_RUNTIME is enabled automatically
Installing breakpad exception handler for appid(steam)/version(1440016726)
In

[2015-09-09 19:34] danslo commented on #385
No longer happens when using `-sdl_displayindex 2`.

[2015-09-09 19:34] #385 closed, assigned to nobody

[2015-09-09 19:34] eke2152 commented on #352
Same issue with ARCH Linux (Linux 4.1.6.1-ck)
Intel i5-4200M
GTX760M

Tried with both Intel & Nvidia cards.

[2015-09-09 19:34] danslo commented on #384
Streamlined PTT on/off doesn't seem to make a difference.

[2015-09-09 19:37] FeatheredSerpent commented on #381
I can try to run it with the mesa driver in a few days. Do you want me to try it on Ubuntu 12.04, or a later Ubuntu version? The driver I'm currently using is revision number [13.1](http://support.amd.com/en-us/download/desktop/legacy?product=Legacy2&os=Linux%20x86_64), yes. Unfortunately it's the latest available for my graphics card.

console.log:

[code]

[2015-09-09 19:46] danginsburg commented on #381
@YourLocalCultLeader I just tried AMD 4870 under Ubuntu 15.04 x64 using mesa 10.5.9 and it runs well.  It looks like your best bet is to try mesa given AMD is not updating Catalyst drivers any more for AMD 2xxx-4xxx.  It does run well on Catalyst 15.7 for AMD GPUs that are supported by it.

@dtbeaver Your issue is different.  You are running on a very old NVIDIA driver 304.125.  You can grab a new

[2015-09-09 19:52] madhavan10 commented on #365
I added -con_logfile to my launch options and tried to run dota. No console.log file was subsequently created. I tried running the dota 2 executable directly from the osx64 folder and the terminal reported a segmentation fault.

[2015-09-09 19:53] ayushmaanbhav commented on #4
OS Mac OS X 10.10.5
Intel HD Graphics 4000 1GB
Also cant see/select/attack rune towers...

![img_20150910_003553](https://cloud.githubusercontent.com/assets/4680789/9772514/5b3127a4-575a-11e5-8d56-5f87d48b00b0.jpg)
![img_20150910_010240](https://cloud.githubusercontent.com/assets/4680789/9772511/5b2db15a-575a-11e5-8391-88d10751b308.jpg)
![img_20150910_001354](https://cloud.githubusercontent.com/as

[2015-09-09 20:00] FeatheredSerpent commented on #381
I did try Dota 2 on Ubuntu 15.04 using the open source drivers, earlier this year. The performance is really bad compared to the proprietary drivers. Playing Dota 2 with 20 FPS or less isn't fun.

Any chance you guys are going to fix the issues for the fglrx legacy users?

[2015-09-09 20:01] danginsburg commented on #352
So, from what I am hearing this is not GPU or driver-specific because we have it reported on @ecylmz Haswell mesa 11.1.0-devel, @gemakochi NVIDIA 360.45 GTX 660 @ErkanMDR IvyBridge mesa 10.6.4, and @eke2152 does not specify drivers but also Intel and NVIDIA.  The problem is, I have not been able to repro this.  @ErkanMDR you have a HUD skin, do others of you have a HUD skin?  Can you narrow down a

[2015-09-09 20:02] dtbeaver commented on #381
Dota worked fine with my driver yesterday. And today after forced update it doesn't and driver became "too old". It's official driver for LTS Ubuntu from repo. Nice.

[2015-09-09 20:11] danginsburg commented on #381
@YourLocalCultLeader I'll see if there is anything I can do to make it work with Catalyst 13.1.  Older NVIDIA drivers have a shader compiler bug that causes the issue you see @dtbeaver.  There isn't much we can do about it other than recommending a newer driver.

[2015-09-09 20:22] danginsburg commented on #4
@ayushmaanbhav The wireframe you are seeing is our "error" shader which gets loaded when there is a problem loading .vcs files.  Can you try going in to Steam -> Dota 2 -> Properties -> Local Files -> Verify Integrity of Game Cache.  If you still see the problem after that, can you run with command-line option -con_logfile and upload the contents of game/dota/console.log.  My best guess here is co

[2015-09-09 20:23] ColonelHeisenberg commented on #294
Hi @epicipe @gdrewb-valve

I have the same issue. I posted on the devs forum a while back.
http://dev.dota2.com/showthread.php?t=175055

I tried re-installing the client but it didn't do anything, and I never got a prompt to give network permissions.

Is there anything I can do to help? I'd like to keep playing the game. :)

By the way, the article you referred us to dates from 2008. Those options

[2015-09-09 20:25] gramathy commented on #374
I'll see what happens on the next driver refresh, but I can say for sure it doesn't do this in any other program, including heavy use benchmarks like Valley and it also seems to happen when a particle effect pops in (drawn but not necessarily first time) due to a spell cast.

[2015-09-09 20:26] danginsburg commented on #365
The file should be written to ~/Library/Application Support/Steam/steamapps/common/dota 2/game/dota/console.log  .  If you try to run directly from the terminal, first do export DYLD_LIBRARY_PATH=$(pwd) from the osx64 folder.

[2015-09-09 20:27] davidw-valve commented on #384
Are you sure that your push to talk button is correctly bound? Do you see the mic icon when you press it and no audio, or do you not see the mic icon at all?

Note that reborn has a change to have party push to talk which is different to team push to talk.

[2015-09-09 20:29] jeanlain commented on #364
Alternatively I also see this console message in the demo hero map. The consequences are the same: lower fps.
![capture d ecran 2015-09-09 a 21 34 24](https://cloud.githubusercontent.com/assets/4463576/9773417/5781ffd8-5742-11e5-8bb5-6490f0a15615.png)

[2015-09-09 20:31] ecylmz commented on #352
@danginsburg i've tried this command "-gl_force_sm30" on "launch options"  but not working. I've switched default HUD but the problem still continues. Also i can't clicking on minimap.

`LANG:  tr_TR.UTF-8`

Is this considered as a common cause? just a guess.

screenshots as follows:

![reborn_default_hud](https://cloud.githubusercontent.com/assets/248267/9773090/fbe81c82-5748-11e5-9e11-733364ad31

[2015-09-09 20:43] AllanD commented on #255
I just recieved this message a few moments ago. ( Non-beta Fully Released Reborn )

[2015-09-09 20:44] danslo commented on #384
Nevermind, it appears that G is now the default setting for party talk instead of team talk? At least I didn't change that.

[2015-09-09 20:44] #384 closed, assigned to davidw-valve

[2015-09-09 20:45] dtbeaver commented on #381
Thanks. I update my driver to 340.93 and now I can see dota menu. (But game still suddenly closes when alt-tabed to browser (this is minor issue imho)).

[2015-09-09 21:01] ecylmz commented on #352
@danginsburg: EUREKA! This is locale problem. I changed my system locale from `tr_TR.UTF-8` to `en_US.UTF-8`. This problem fixed for me.

screenshot as follows:

![reborn_fix](https://cloud.githubusercontent.com/assets/248267/9774072/f5534990-574e-11e5-80fd-e9f20ef2602b.png)

[2015-09-09 21:07] hexvalid commented on #352
Hahahah ! so thanks @ecylmz . I solved the problem by starting this way:

Not need for change fully system locale. Problem is in Turkish language.
screenshot:
![2015-09-10_00001](https://cloud.githubusercontent.com/assets/4836149/9774249/ee9ef4d6-574f-11e5-9e3b-2fd94dc0d7fe.jpg)

[2015-09-09 21:12] danginsburg commented on #381
@YourLocalCultLeader I have tried getting it to run on Catalyst 13.1.  Unfortunately, using all the workarounds I have in the engine I can't get it to render.  For what it's worth, that driver is from 01-21-2013 (2.5+ years old) and we have worked with AMD on many fixes/optimizations for Source 2 since that time.  I think your only option will be mesa (or updated hardware). Sorry!

[2015-09-09 21:12] #381 closed, assigned to danginsburg

[2015-09-09 21:27] itixonal opened #386 "[OSX] Hotkeys disabled in game, cmd+ click to interact with GUI"
My keyboard is more or less disabled in Reborn, and in order to effectively click on any button or interact with the game at all I have to hold cmd while I click.

[2015-09-09 22:08] 420git opened #387 "{Linux] DotA 2 Reborn libs Error"
So I have been playing DotA 2 and TF2 and other games on steam for the past 2 years using the native steam runtime after deleting some buggy libs.(Im on Arch with newer libs)

But DotA 2 Reborn didnt start at all, and I get the following error

libGL error: unable to load driver: r600_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: r600
libGL error: unable to load dr

[2015-09-09 22:59] mwic opened #388 "{Ubuntu} Steam Client not found"
Launching on Ubuntu just now I got a message (right after the logo) saying "Steam client not found. Steam is required"
I did launch this through steam. The only unusual thing in my setup is that my OS & /home are on a solid state hard drive, while all the games are on a USB hard drive (library is set up to use a directory on this drive). This setup has always worked in the past.

[2015-09-09 23:02] FeatheredSerpent commented on #381
I've spent 4000+ hours on this game in the last 1.5 years. This game has become a hobby and a part of my life. Could you guys code in a workaround for the fglrx legacy users then, please? If not, could you please share the source code with us so we can fix the problem ourselves? If I remember right Gaben said that "Source 2 is gonna be free": https://www.youtube.com/watch?v=l-ayB6U3l2g&t=164

Plea

[2015-09-09 23:09] fwsGonzo commented on #387
looks like the steam runtime is 64bit now, and its ignoring your 32bit ELF shared objects... so, I guess you will simply have to reinstall the whole thing and try to make nice with the 64bit versions

[2015-09-09 23:55] danginsburg commented on #387
Can you try the workaround suggested in #35 of doing a symbolic link for the missing libs, i.e. ln -s /lib64/libudev.so.1 ~/.local/share/Steam/SteamApps/common/dota 2 beta/game/bin/linuxsteamrt64/libudev.so.0 and see if that works?

[2015-09-10 00:55] dhollinger commented on #305
@gdrewb-valve So despite the big SteamOS/Steam Machine push, there won't be any tools for those users only for the Windows users?

[2015-09-10 01:11] davidw-valve commented on #386
Can you please be more specific? Does the keyboard not work at all? What works and what doesn't work for you? Also what are your system specs?

[2015-09-10 01:12] davidw-valve commented on #388
Have you tried restarting Steam or perhaps restarting your OS?

[2015-09-10 01:17] Frank1230 opened #389 "Low fps on new update"
Since the merger of Reborn to the main client, the game seems to be experiencing my lower levels of FPS than it's predecessor.  Going from a stable 120 down to numbers varying from 40-70, going even lower when graphic heavy animations are happening.  This makes the game essentially unplayable.

[2015-09-10 01:19] ekianjo commented on #305
This is really disappointing, Valve.

[2015-09-10 02:03] aehdee opened #390 "[ OS X ] Crash on hero tab & hero selection"
<img width="725" alt="screen shot 2015-09-10 at 9 55 20 am" src="https://cloud.githubusercontent.com/assets/14104297/9778421/93e8c5aa-57a2-11e5-9b19-6e2bf8a40277.png">

<img width="265" alt="screen shot 2015-09-10 at 9 59 18 am" src="https://cloud.githubusercontent.com/assets/14104297/9778457/00750710-57a3-11e5-86ae-a8072d5d41a2.png">

Note:
- All of my drivers are up to date.
- I tried to turn of

[2015-09-10 02:41] chrylis opened #391 ""Lobby not found" when using "Watch" button"
For a few days now, any attempt to spectate a game using the "Watch" button on a friend's party results in a "Lobby not found" error dialog. Watching the game from the friend's icon directly works.

[2015-09-10 03:51] #390 closed, assigned to nobody

[2015-09-10 03:51] aehdee commented on #390
Solved by Verifying the game cache.

[2015-09-10 03:59] ezracb commented on #365
I didn't find any console.log after i put that launch options
now dots 2 has merge with dots 2 reborn, so now i'm stuck here… i cannot play..

[2015-09-10 04:06] ezracb commented on #365
okay, what is the requirements of dots 2 reborn on mac?

[2015-09-10 04:12] chrylis commented on #360
This also happens if switching away from the loading screen, and then the game won't let you reconnect. Instant punishment for FTR.

[2015-09-10 04:17] eke2152 commented on #352
Yep LC_ALL=EN steam solved the problem. I'm also using TR language.

[2015-09-10 05:42] troughton commented on #389
I'm also having this issue on a mid-2012 Retina MacBook Pro (2.6GHz i7, 8GB RAM, GeForce 650m, El Capitan public beta). With the settings the same as the previous client (albeit with Shadows off instead of on low), I get 25-50fps, usually hovering around 35fps, compared to a fairly consistent 45-70fps on the old client. It also 'feels' lower still than that, making me think that those average fram

[2015-09-10 05:51] sunwoo-kim opened #392 "Korean does not work on Mac Reborn Client (Now the main client)"
When you set the language to Korean for Dota in the main client, all the korean characters are invisible; same with the chat: You cannot type any Korean in the chat. Please fix this.

[2015-09-10 05:54] ajrobertsonio opened #393 "[OS X 10.10.5] Have to double click everything throughout entire menu"
When in any of the menu, single click does not register, but double click does.

[Here](https://www.reddit.com/r/DotA2/comments/3as7dg/reborn_mac_os_megathread_bugs_solutions/csfihus) is the reddit post about the issue.

I have this issue when playing on my hackintosh. Let me know if I can provide any other helpful information.

[2015-09-10 05:57] ajrobertsonio opened #394 "[OS X 10.10.5] Play Dota Solo Vs Bots stuck at loading screen."
When playing Dota solo vs bots, my machine get stuck at the loading screen. I am playing on my hackintosh.

Let me know if I can provide any other helpful information.

Thanks!

[2015-09-10 07:08] conmute commented on #380
I do have the same issue. I use Ubuntu Trusty Tahr (14.04)

My notebook is Dell Inspiron 15R.

video graphics:

[code]

CPU

[code]

[2015-09-10 08:22] wliment commented on #389
same problem , in osx 10.10  (i7, 16GB RAM, GeForce 750m) old client is smoother than reborn client ,

[2015-09-10 08:40] nekuro-dev opened #395 "[Linux] FPS Drops (Arch Linux, AMD CPU, NV GTX 650 352.30)"
I'm getting massive FPS drops every 2-3 seconds, making the game unplayable.
The FPS will go from ~60 to ~10-20, irrespective of settings or resolution. I can put settings to the lowest, where I get >100fps, and yet it still drops,  causing a lot of stuttering.

Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x10
    CPU Model:  0xa
    CPU Stepping:  0x0
    CPU Type:  0x0

[2015-09-10 08:41] Theswweet commented on #305
@gdrewb-valve Well that's unfortunate. I really, really hope you guys reconsider.

[2015-09-10 08:52] eddie-dunn commented on #305
I am assuming you are not considering Linux/OSX support _right now_ because you have bigger fish to fry at the moment, what with the coming SteamOS launch and everything. I'm okay with that.

"No plans" can be very ambiguously interpreted, however. Do you mean no plans at the moment? Or no plans ever?

[2015-09-10 09:13] ekianjo commented on #305
eddie-dunn, you have to remember that Valve is not your typical company with rules and policies, their development is relying on smaller teams and is based on ongoing employees' interests - it may very well be that not all teams are interested in supporting Linux at all, while some others are doing most of the work for it, severed from the bigger projects like DOTA2.

[2015-09-10 09:30] ghost commented on #234
Last night's Dota 2 update broke on my machine.  I'm now greeted with:

Required OpenGL extension "GL_ARB_separate_shader_objects" is not supported. Please update your OpenGL driver.

I see earlier comments suggesting upgrading to Mesa 10.5 or higher, but Mesa 10.1.3 is the latest package available in Ubuntu 14.04.  How can I go back to pre-Reborn Dota 2 which worked?

Here is my system informatio