[2016-01-17 12:17] jmgirven opened #731 "Ubuntu low fps (Nvidia 555M)"
On the highest video settings down to the second lowest I am getting an average about 25 fps (worse in fights). If I change down to the lowest video settings, some of the time I get 90 fps, but when there are a couple of heroes on the screen I get 25 fps again. The drop in fps also happens in a local lobby or bot game. A friend on a similar laptop, except using Windows, is getting consistently 60-

[2016-01-17 17:44] gdrewb-valve commented on #729
Unlikely to be Linux specific.

[2016-01-17 20:55] AngryPenguinPL commented on #731
You have two graphics adapter right? Maybe not Geforce gpu is using to game but integrated in Intel cpu?

[2016-01-18 01:50] Tele42 commented on #731
This sounds like the expected performance from optirun with virtualgl. If this is true, you should be trying to use optirun -b primus.
NOTE: I am not an optimus user, and this is based on speculation.

[2016-01-18 15:07] grasdaggel commented on #724
Bug is not resolved, Bug appears in both beta and normal Steam version. It still happens this way:

I press $PushToTalkButton, whole screen freezes for a "few" seconds (1-2 seconds probably). Maybe its important that Dota2 freezes only, every other application in the backround, like Teamspeak or Skype runs fine.

[2016-01-18 17:20] gdrewb-valve commented on #724
In the Voice settings there's an option for "Streamlined push-to-talk".  If you enable that does it help?

[2016-01-18 19:57] gdrewb-valve commented on #720
Closing pending more info that this is actually a problem.

[2016-01-18 19:57] #720 closed, assigned to gdrewb-valve

[2016-01-18 20:01] grasdaggel commented on #724
Will try and give feedback after my next game.

[2016-01-18 20:02] gdrewb-valve commented on #727
Likely not platform-specific.

[2016-01-18 20:09] gdrewb-valve commented on #728
Closing pending more info.

[2016-01-18 20:09] #728 closed, assigned to gdrewb-valve

[2016-01-18 20:11] gdrewb-valve commented on #730
Unlikely to be platform-specific.

[2016-01-18 22:27] gdrewb-valve commented on #729
Confirmed that this is broken on Windows too, I've passed it on to the larger team.

[2016-01-18 22:27] #729 closed, assigned to gdrewb-valve

[2016-01-18 23:00] jmgirven commented on #731
In my nvidia-settings -> PRIME Profiles, I have NVIDIA (Performance Mode) selected. It was my impression that everything went through the nvidia card because of nvidia-prime. Maybe I misunderstood. I tried installing Bumblebee / optirun this evening and managed to kill my laptop for several hours. I will read about it more carefully and try again if that is the best solution.

[2016-01-19 11:48] grasdaggel commented on #724
That worked. The machine doesn't freeze anymore BUT the bug is new and keeping my mic on all the time is not okay - since I do not want to have a permanent upstream of voice communication to Valve Servers. Please try to fix this nevertheless. It worked before without streamlined function activated.

[2016-01-19 19:35] gdrewb-valve commented on #724
Reborn is using Steam services for voice chat so we don't have direct control over it but I'll pass this on to them.

[2016-01-19 21:20] jmgirven commented on #731
My NVIDIA card is definitely being used to some extent. On this laptop the HDMI port is directly linked to the NVIDIA card and so if the card isn't working, an external monitor won't work either. I am using an external monitor over HDMI right now.

Just for interest I tried switching to the Intel card using NVIDIA prime and played a bot match on the lowest graphics setting (and using the inbuilt s

[2016-01-20 11:37] ghost opened #732 "Why Dota 2 official map is not open source?"
I have question: Why Dota 2 official map is not open source? Why there is no LUA realization of Dota 2 map?

[2016-01-20 16:16] tiagoln commented on #719
I also have this problem since Mavericks. I noticed that it does not require a full restart to make the trackpad work properly again, if you logoff from the current osx user and login again the trackpad restore it’s functionality. It’s a really annoying bug since I have to do this every time I play Dota2.

[2016-01-20 16:45] gdrewb-valve commented on #732
This repo is for Mac- and Linux-specific bugs.  You can post your question in the dev.dota2.com forums.

[2016-01-20 16:45] #732 closed, assigned to nobody

[2016-01-20 17:05] mikonium commented on #719
That's true -- it is fixable by logging on and off. I tried to find a Terminal command that would reboot just the trackpad driver, (so I could make a script to run it whenever dota closes) but I've found no such command.

[2016-01-20 17:46] gdrewb-valve commented on #719
I would again encourage you to report this to Apple since that's the most likely way that this will get addressed.  Valve is probably not going to discover what the trackpad problem is since we don't have any visibility into the system code handling the trackpad.

[2016-01-21 09:05] grasdaggel commented on #724
Sadly, I have noticed that the game itself doesnt freeze anymore with streamlined mic, but the mic doesn't work at all anymore. My teammates can't hear me. Of course the microphone is activated and other applications like Teamspeak or Skype are running fine. :(

[2016-01-22 15:17] admshao opened #733 "[Ubuntu] Mouse is not locked in when co-Casting insde Lobby"
I have no issues with mouse locking when playing or just spectating games casually but yesterday i wasn't able to move my camera properly. Mouse was always escaping to the other screen when spanning the camera towards the other monitor.

Happened yesterday when casting Dota Cinema's Captains Draft Season 3 (first time casting on linux, I used to do that on Windows before)

I haven't notice anythin

[2016-01-23 01:28] vadi2 opened #734 ""Bring to foreground when match found" not working on Ubuntu"
The "Bring to foreground when match found" doesn't work for me on Ubuntu 14.04 LTS - the game just doesn't come to foreground.

[2016-01-23 02:08] gdrewb-valve commented on #734
Do you have Reborn minimized or just behind another window?

[2016-01-23 02:38] vadi2 commented on #734
Minimized - dota minimizes when I alt+tab.

[2016-01-23 02:44] vadi2 commented on #734
Attached a demo.

[Kazam_screencast_00001.mp4.zip](https://github.com/ValveSoftware/Dota-2/files/101689/Kazam_screencast_00001.mp4.zip)

[2016-01-23 02:54] admshao opened #735 "[Ubuntu-Probably all plataforms] Mixed Cameras on Caster and Co-caster inside Lobby"
Related with #733

Today again when casting Dota Cinema's Captains Draft Season 3 i was on the co-caster spot and clicked to be the camera man on our language. Quickly afterwards i clicked again to deselect because He was on the stream and not me. Funny thing is. The Camera for him was showing MY hero selections.. it was displayed for him and inside DotaTV

I just don`t know what happened.

VOD ->

[2016-01-23 20:15] vadi2 opened #736 "[Ubuntu] Game freezes"
I've been having pauses for 2-3s in the game recently where it is completely frozen - can't even move the cursor (actually, I don't think the cursor is showing during that time). I did check the disk IO on my computer during that time, but it wasn't that.

I also tried to watch a replay recently, pressed skip 10 button a few times and dota completely froze - had to force-kill it.

This is pretty r

[2016-01-23 21:48] gdrewb-valve commented on #736
We'll have to see if we can find a repro.

[2016-01-25 20:18] gdrewb-valve commented on #294
For people hitting this, how many of you have the firewall enabled (varies per OSX version but something like System Preferences -> Security and Privacy -> Firewall tab)?  If you have the firewall enabled have you added the Reborn 64-bit dota2 to the allowed applications?

Also, have any of you changed the network settings for Reborn (or in anything that might have been inherited from the Source1

[2016-01-25 20:44] ColonelHeisenberg commented on #294
Hey,

So I never had my firewall enabled.
I checked with the console and the port is indeed 27015.

Where exactly should I input "lsof -nP -i:27015" ? In the Reborn console?

[2016-01-25 20:50] gdrewb-valve commented on #294
The lsof command should be done in a regular Terminal window (it's a *nix utility).

[2016-01-25 20:59] ColonelHeisenberg commented on #294
I don't think so. Here's what I get.
![screenshot 2016-01-25 15 58 48](https://cloud.githubusercontent.com/assets/14205870/12564334/ac2cdffc-c37c-11e5-82ab-62fa2e974eba.png)

[2016-01-25 21:21] gdrewb-valve commented on #294
It won't show anything if no other process is using the port.  You can also try 'netstat -anv | grep 27015' in the Terminal window.  It shouldn't show anything either.

Nothing appears wrong on the system so unfortunately this didn't identify a problem.  Have you ever done any router configuration?  Double-checking whether UDP is allowed, particularly on port 27015, would be another thing to check

[2016-01-25 21:24] gdrewb-valve commented on #294
You can hit Ctrl+C in the Terminal windows to quit nc.  Also ideally you should do the second nc on a separate machine outside of your local network to verify that your router is letting traffic through, but trying it with both Terminals on your machine is a simple first step.

[2016-01-25 21:31] ColonelHeisenberg commented on #294
So I tried "netstat -anv | grep 27015". As you said, nothing came up.
I also tried "nc -4ulv 27015", and it worked just as you said. Here's the screenshot
![screenshot 2016-01-25 16 27 12](https://cloud.githubusercontent.com/assets/14205870/12565121/f9e6d55a-c380-11e5-8aeb-b074a859d514.png)

I haven't done any router config that I know of. How to I check whether UDP is allowed?

[2016-01-25 21:51] gdrewb-valve commented on #294
Don't worry about the router at the moment, the problem doesn't seem to be with that part of things.  Port 27015 is working fine on your machine so now back to Reborn.  Run Reborn and demo any hero.  Once that has started bring up the Reborn console and look for messages that start with 'WARNING: OpenNetworkSocket' (sorry there will be a bunch of messages for all kinds of things so these'll be som

[2016-01-25 21:52] gdrewb-valve commented on #294
You can gist the entire console output if you want, I'll look through it.

[2016-01-25 22:01] ColonelHeisenberg commented on #294
OK. I'm not sure I can do it. Everytime I want to demo a hero, Reborn just crashes, so I don't really have access to the console.
The ip thing is blank as you said.

Here are all the messages I got:

Unknown Ability Damage Type Value: DAMAGE_TYPE_MAGIC!
CEntitySystem::BuildEntityNetworking (parallel build of server) took 185.324 msecs for 632 out of 652 classes
SV:  parsing 'scripts/items/items_ga

[2016-01-25 22:14] gdrewb-valve commented on #294
Reborn goes away without anything further shown or you get the dialog about OpenSocketInternal?  If it goes away without anything and you check the Steam system information does it show failure reports that match up with the times you're trying it?

If you get the OpenSockInternal dialog you can add -con_logfile to your Reborn launch options.  Go ahead and try demoing the hero and let things fail.

[2016-01-25 22:22] ColonelHeisenberg commented on #294
Yes I get the OpenSocketInternal.

I added the -con_logfile and followed your steps. Here's the log (I think what you're looking for is at the end):

Unable to open GL shader cache TOC /Users/clement/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/shadercache/gl/shaders.toc file - might not exist yet.
ERROR: HangWatchdogInternal_BeginScope() - Hang watchdog not implemented

[2016-01-25 22:49] gdrewb-valve commented on #294
Yes, the setsockopt failure is what's blocking things.  I'm not sure why that would fail for you but work for me but I'll see if there's something we can change.

[2016-01-25 22:54] ColonelHeisenberg commented on #294
Awesome, you're the man!
Thank you for your time and patience.
Have a good afternoon

[2016-01-25 23:04] gdrewb-valve commented on #294
Thanks for working through this, I think we have an adjustment here that will get past this particular error.  No guarantees there won't be others on your configuration, though.  :-)

[2016-01-26 16:24] tmplt opened #737 "Dota does not launch, output is a window only containing a broken font."
**System Information**
- Arch Linux 64-bit
- bspwm (no specific rule for Dota, has worked before)
- AMD R9 290, on mesa drivers

When I start Dota from Steam, the following box appears:
![Error box](https://i.imgur.com/WAR3LrQ.png)

The following appears in the terminal when `dota.sh` is run:

[code]

Validating the game files did not help; none were missing nor invalid.

[2016-01-26 19:21] gdrewb-valve commented on #737
That's a new one, we'll have to see if there's some kind of pattern among people hitting it.

[2016-01-27 20:32] jaccarmac commented on #54
This issue also appears to affect the hero portraits in the new Winter Battle Pass's daily challenge.

I'm observing no portrait or animation in the quests tab on my machine running Ubuntu devel repositories. System information is below. I'm using the latest graphics drivers (NVIDIA 361.18) and Unity.

[code]

[2016-01-27 21:06] 8h2a opened #738 "Game randomly crashing (segfault, libclient.so)"
At first three people from my team crashed at the same time (me and two others, the others are on windows and didn't crash again. Then my game just kept crashing, even though i checked the file integrity.

System information:

[code]

[2016-01-27 23:00] gdrewb-valve commented on #738
The crash report that made it through is something that's happening on all platforms.  The larger team already has a fix in the pipeline.

[2016-01-27 23:02] D2Banish opened #739 "Client randomly minimizes and crashes"
Bug: Client randomly minimizes and crashes.
In Game Time: Random
Short description of issue: During game, client will minimize. Sound will be heard and game play is heard but screen will not return. It has happened since reborn and happens at least once a game, forcing a restart. Have tried all console codes, launch options, integrity checks and clean installation.

Processor Information:
Vendor:

[2016-01-28 03:21] gdrewb-valve commented on #739
This repo is solely for Mac- and Linux-specific bugs.  You'll want to report this at dev.dota2.com

[2016-01-28 03:21] #739 closed, assigned to nobody

[2016-01-28 04:47] gdrewb-valve commented on #294
Today's update has the fix, does it change the output you're seeing?

[2016-01-28 04:56] ramma commented on #54
I don't see what you're referring to. From what I can see, hero images will appear when you complete quests in each path. Do you have a screenshot of where they seem to be missing?

[2016-01-28 06:28] tmplt commented on #737
I forgot completely that I was running the `mesa-git` drivers.
Replacing it with `mesa` resolved the issue

[2016-01-28 07:05] gdrewb-valve commented on #737
Thanks, closing.

[2016-01-28 07:05] #737 closed, assigned to nobody

[2016-01-28 07:59] jaccarmac commented on #54
Not those, the daily challenge card near the bottom of the screen. I'm not on my Linux box at the moment, but I'll screenshot it and add it to this thread when I am.

[2016-01-28 08:32] gdrewb-valve commented on #54
There's no real need for screenshots, hero movies won't work in any part of the UI until we get the underlying playback working.

[2016-01-28 11:14] ColonelHeisenberg commented on #294
Yes, it's working now!
I tried to demo a hero and to watch a live game, and both worked. I'll try the rest this afternoon.

Thanks a lot!

Was it in the changelog?

[2016-01-28 16:56] gdrewb-valve commented on #294
It wasn't in the change log as I wasn't sure that it would actually fix your problem completely.

I'm going to close this for now, if any of the other people here are still having issues I can reopen, but please post the same log text that ColonelHeisenberg did.

[2016-01-28 16:56] #294 closed, assigned to gdrewb-valve

[2016-01-28 17:08] jaccarmac commented on #54
Thanks @gdrewb-valve. Feared as much.

[2016-01-28 20:54] gdrewb-valve commented on #738
Yesterday's release fixed this particular crash, is it still dying in the same way?  If so do you have new failure reports in the Steam info?

[2016-01-28 23:35] gdrewb-valve commented on #735
This appears to occur on all platforms and has been passed on to the larger team.

[2016-01-28 23:35] #735 closed, assigned to gdrewb-valve

[2016-01-28 23:36] gdrewb-valve commented on #733
This appears to occur on all platforms and has been passed on to the larger team.

[2016-01-28 23:36] #733 closed, assigned to gdrewb-valve

[2016-01-29 13:48] 0xe4524ffe opened #740 "[Linux] High GPU usage on treasure chest set previews"
I use Archlinux x86_64 with latest propiretary nvidia drivers(I have gtx 560Ti).

Always high GPU usage on treasure chest set previews,
Sometimes kernel panic.

[2016-01-29 17:12] gdrewb-valve commented on #740
A kernel panic would indicate some kind of driver problem so you'll probably want to report this to NVIDIA also.

[2016-01-29 17:41] 8h2a commented on #738
It seems to be fixed now. I haven't experienced any crashes after the new release. Thanks!

[2016-01-29 17:41] #738 closed, assigned to gdrewb-valve

[2016-01-29 17:45] gdrewb-valve commented on #736
We haven't been able to repro, but has this changed after the recent updates?

[2016-01-29 17:45] gdrewb-valve commented on #731
Has this changed after the recent updates?

[2016-01-29 17:46] gdrewb-valve commented on #730
Is this still happening?

[2016-01-29 17:46] gdrewb-valve commented on #727
Is this still happening?

[2016-01-29 17:47] gdrewb-valve commented on #700
Is this still happening after the latest updates?

[2016-01-29 17:48] gdrewb-valve commented on #681
Was this affected by the latest updates?

[2016-01-29 17:49] gdrewb-valve commented on #657
Is this still happening with the latest drivers and Reborn updates?

[2016-01-29 20:13] vadi2 commented on #736
I haven't had the freezing hiccup since.

[2016-01-29 20:25] gdrewb-valve commented on #736
Thanks, closing.

[2016-01-29 20:25] #736 closed, assigned to nobody

[2016-01-29 21:10] jmgirven commented on #731
Hi @gdrewb-valve, thanks for the interest. I only played one bot match so far, highest video settings, and maybe it was marginally more stable in the fights, but still averaging about 25-30 fps. So similar to before.

Since I last wrote I have been trying out the NVIDIA 361.18 driver from the graphics-drivers ppa. I don't think that has made a significant difference either. Any suggestions of othe

[2016-01-29 21:13] gdrewb-valve commented on #731
Unfortunately no, I don't have any extra suggestions.  We don't have a configuration similar to yours to test here but we'll keep seeing if some problem pops up.

[2016-01-29 22:18] Vuccappella opened #741 "Game loads 3 times slower since newest patch."
Mac
24 GB 1600 MHz DDR3
3.2 GHz Intel Core i5
NVIDIA GeForce GTX 680MX 2048 MB

Ever since newest update loading in to the game takes 3 times as much time or more. Previously, since reborn was released loading time was hugely improved for MacOS, now when you accept a game or even try hero demo mode, it sits on the loading screen for a minute. Not sure why.

[2016-01-29 23:15] gdrewb-valve commented on #741
Is it the same every time?  The update changed some things which would require a one-time startup cost but then future starts should not be that slow.

Can you post your console log also?

[2016-01-29 23:37] gdrewb-valve commented on #610
Courier selection problems do occur on all platforms.  One source of these problems was fixed in yesterday's update.  I believe there's another update coming which will fix a second problem.

[2016-01-29 23:38] gdrewb-valve commented on #603
Has the memory usage changed with the recent updates?

[2016-01-29 23:39] gdrewb-valve commented on #612
Has this changed at all in the last couple of months?

[2016-01-29 23:40] gdrewb-valve commented on #538
There is no alternate mode on the Mac, D3D9 and D3D9Ex are Windows-specific.

Have the recent updates changed anything for you?

[2016-01-29 23:41] gdrewb-valve commented on #522
Has your performance changed with the recent updates?

[2016-01-29 23:41] gdrewb-valve commented on #492
Checking in again to see if anything has changed.

[2016-01-29 23:52] cyrilvoynov commented on #522
Yes, its comfortable to play right now. Perfomance isn't the best (I mean its not 50-70 fps anymore, but smth about 40-60), but it doesnt have a big influence to gameplay, even in competitive matches.

[2016-01-29 23:56] gdrewb-valve commented on #522
OK, we'll leave this open since the perf still isn't what it was.

[2016-01-30 03:08] dssouza-ti commented on #700
hey, I just played it today all afternoon and it didn't happen again. I believe the updates fixed it.

my only problem now is low performance with my intel integrated GPU, but that is a completely different thing, so you can close this issue report.

Thank you for your attention.

[2016-01-30 06:19] nipunanoob commented on #492
fixed

On Sat, Jan 30, 2016 at 3:41 AM, Drew Bliss notifications@github.com
wrote:

[2016-01-30 07:12] gdrewb-valve commented on #492
Thanks, closing.

[2016-01-30 07:12] #492 closed, assigned to nobody

[2016-01-30 07:12] gdrewb-valve commented on #700
Thanks, closing.

[2016-01-30 07:12] #700 closed, assigned to nobody

[2016-01-30 08:21] Mattele opened #742 "Extremely low fps after the last update"
Hello!

After the update with the Winter Pass, game is running horribly. Previously it was between 35-50 fps, now it's between 10-16 fps.

It's Macbook Pro 2012 with GT 650M. Around the same time I installed 10.11.3 update for OS X, so it might be also connected.

[2016-01-30 10:29] phoerious commented on #612
I haven't played in over two weeks, but I can't remember that I had
freezing issues before anymore.

[2016-01-30 15:01] Vuccappella commented on #741
Ok, I see what's happening. This is the console log upon loading. Initially it took me around 45 - 50seconds to load in a custom hosted lobby.
 http://pastebin.com/iXqwEQPk

But  after disconnecting from the lobby and rehosting a game with the same lobby settings I loaded in for about 10 seconds, twice in a roll so that is definitely working as intended. The future games load faster If I haven't c

[2016-01-30 15:11] Vuccappella opened #743 "Tabbing to Morph's Replicate doesn't work."
Mac OS El Capitan10.11.2

I've tested this multiple times now as I was trying to see what's happening. Posting this here, since all of my friends who play on Windows do not encounter this bug and only I do but there's a chance this isn't OS related.

Steps to reproduce:
1. Pick Morphling In a Custom Lobby Dota 2 Game  ( do not demo hero mode, read additional notes )
2. Create a Replicate illusion

[2016-01-30 15:48] ghost opened #744 "Arcane Rune renders incorrectly on Linux"
The icon of the bottled arcane rune has an extended black colored part on its right.

**Picture to illustrate:**
![Picture of the bug](http://images.akamai.steamusercontent.com/ugc/607226305926413273/8C831E2851C4C48045D15F7308EB3183A2213BAC/)

The bug seems to appear only when the item is placed in the 3rd or 6th inventory slot.

[2016-01-30 17:48] Ace5040 commented on #654
my config is: archlinux x64 with lxde on amd fx6300 + gtx750ti
I've managed to reproduce this bug. It is happened when dota started with russian keyboard layout selected. Iv'e added "-input_message_spew" to launch options and then try to bind 'q' for the first spell key. Here is what I got in output:
SDL:  got SDL_KEYDOWN
KEYDOWN (keyc): sdlkeycode=1081 sdlscancode=20 SDL_GetKeyName='9' buttoncode

[2016-01-30 19:37] mmuldoon opened #745 "[MAC] Game won't ready up after updates"
After the January Dota 2 update I started receiving a lot more abandons from the game not connecting to the server after the matchmaking screen. I've been penalized 2 times now with 24 hour holds on playing dota because for some reason the game stalls out on the loading screens. This never happened to me before.

So I'm now sitting with 19hrs left on my most recent abandon because of an update fro

[2016-01-30 19:48] vonclutch commented on #603
Yope,

Nothing change, it looks like it's getting worse .... after 2 games now the game need to be force killed.

[2016-01-30 20:00] gdrewb-valve commented on #612
Thanks, closing.

[2016-01-30 20:00] #612 closed, assigned to nobody

[2016-01-30 20:01] gramathy commented on #522
One thing I'm noticing is that the CPU usage for Dota is 150%+ even on the main menu, which seems pretty high to me considering ingame hovers around 200%. I did notice a slight boost in the last patch but I can't hit 60 unless half or more of the graphics options are turned off or reduced.

[2016-01-30 20:02] gdrewb-valve commented on #654
If you go to the Advanced section of the key bindings section and check the positional bindings option how does that change things?

[2016-01-30 20:02] gdrewb-valve commented on #745
This is unlikely to be a Mac issue, I'll pass it on to the larger team.

[2016-01-30 20:03] gdrewb-valve commented on #603
OK, thanks.

[2016-01-30 20:06] gdrewb-valve commented on #743
Since this only fails in one specific instance it's more likely it's a game issue than a platform issue, I'm going to pass by the larger team.

[2016-01-30 20:06] gdrewb-valve commented on #744
Can you post your full system info from Steam?  We need to know your specific graphics card and driver.

[2016-01-30 20:16] gdrewb-valve commented on #522
The UI is fairly complex and graphics-heavy (plus web fetching, video decoding and more) so it's definitely going to take a bunch of CPU, but clearly something bad is happening to make the frame rate poor.  Fixing one might help with the other.

[2016-01-30 20:18] mmuldoon commented on #745
Thanks Drew,
Do you know is there anyway to get my account hold off?

[2016-01-30 20:30] ghost commented on #744
[code]

[2016-01-30 20:40] ghost commented on #744
I also see that the size of the item icons are inconsistent, but that's for an another issue report, i have to replicate it first.

[2016-01-30 21:38] Ace5040 commented on #654
hotkeys->advanced->positional bindings
fixes problem right in the game. thanks for pointing out. but all key bindings in hotkeys options changes to russian. its better then restarting though)

[2016-01-30 22:28] Krogash86 commented on #734
I have the same problem tried ubuntu 14.04 and 15.10 dota doesnt go foreground when a match is found plz fix this asap it's very annoying.

[2016-01-31 01:39] justSQL commented on #744
This also happens on Windows. The icon simply has black space added to it, for no apparent reason.

EDIT: Here's a report about it submitted to Reddit. https://www.reddit.com/r/DotA2/comments/42j135/spring_cleaning_bug_reporting_megathread/czaqfti

It only happens on 3rd and 6th slots, as mentioned there.

[2016-01-31 03:25] gramathy commented on #522
Doing some experimentation it seems weather effects are hitting me the hardest with about 30% FPS drop with effects on. By comparison going from high to Ultra shadows is maybe 10% fps loss. Is that an expected amount of performance loss?

[2016-01-31 07:20] gear4s commented on #603
it's definitely worse for me too ..

[2016-01-31 07:52] ravzski commented on #745
Me too. I have been penalized so many times because it crashes on the loading screen after the accept game stage.

[2016-01-31 07:53] gselsidi opened #746 "[OSX] Can't Look for Game while spectating game."
Before you could spectate a game and then click to matchmake, now you have to disconnect from watching the game, and then queue for a game, after you queue, then you can go and watch a game.

[2016-01-31 08:00] cyrilvoynov commented on #522
Same to me. Somehow it takes about 100-150% of CPU even in the main menu. As I noticed, it's not really influence to FPS. But, yea. Fact is a fact.
![screen shot 2016-01-31 at 12 57 49 pm](https://cloud.githubusercontent.com/assets/14957336/12700973/96aac84a-c81a-11e5-9dd2-7a2105464e80.png)

[2016-01-31 12:45] C0ckerel opened #747 "[OSX] movetodirection command not working"
Hi,

I'm using a macbook pro and the force move to a direction command isn't working. I've tried using:

bind "OPTION" +dota_unit_movetodirection
bind "," +dota_unit_movetodirection
cl_dota_alt_unit_movetodirection "1"

I also have this enabled:
dota_unit_allow_moveto_direction "1"

 None of these combinations are working. Am I doing something wrong? It's extremely frustrating.

I've attached a co

[2016-01-31 14:29] Mattele commented on #742
If you'd ask me, its like the game uses integrated graphic card, instead of the dedicated one. I checked it against gfx card status, and it does enable dedicated card while playing a game, but seeing this performance I assume it still uses the integrated one.

Whats more: after lowering all settings I get 40-50 fps, with some drops during certain spells (like chronosphere), then it drops to 25 for

[2016-01-31 17:19] gdrewb-valve commented on #745
Sorry, this is just a specific non-Windows tech support repo, you'll want to post in dev.dota2.com about possible account adjustment.

[2016-01-31 17:22] gdrewb-valve commented on #654
When you choose positional bindings the binding will be for specific key placements on the keyboard, not named keys.  In the default mode it is by named key.  In other words by default if you bind to English 'E' it's triggered by 'E'.  If you change keyboard layouts it's still 'E', wherever that is.  If you use positional keys then it's the physical key, not 'E', and doesn't change when you switch

[2016-01-31 17:23] gdrewb-valve commented on #746
This isn't a Mac or Linux issue, you'll want to post this at dev.dota2.com.

[2016-01-31 17:23] #746 closed, assigned to nobody

[2016-01-31 17:24] gdrewb-valve commented on #747
It's unlikely this is Mac-specific, you might want to post at dev.dota2.com also.

[2016-01-31 20:11] justSQL commented on #747
With Reborn the command was renamed to cl_dota_alt_unit_movetodirection 1 (as you mentioned). On my Windows box pasting that to console and proceeding to test in a game it works just fine when pressing Alt and rightclicking somewhere. Are you trying to bind that to a different key or what? I'm not sure if it works with anything else than Alt.

[2016-02-01 07:21] AegirVOD opened #748 "[Linux]"In-game font is white box"problem"
First, I know is has an issue already, but the answer is only for ubuntu, I am using Debian 8.2.0.
Second, please, please, please, forgive my poor English, cuz I'm from China.
Aha, my laptop is Acer Aspire 5750, running Debian 8.2.0,  so here is my system information:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x

[2016-02-01 08:09] C0ckerel commented on #747
Ideally I would use the 'option' key on mac to do this. However, as this didn't work I experimented with ',' just in case there was some special functionality on 'option' that couldn't be overwritten. This didn't work either.
Finally I tried cl_dota_alt_unit_movetodirection 1, however this didn't work.
I haven't been using the console, just the config file.

Is this the official Valve support plac

[2016-02-01 08:12] C0ckerel commented on #747
Ok well the commands work via the console!
Still not sure why the commands in config.cfg are having no effect.

For some reason, the fn, control, option, command and caps lock keys are all 'not valid'. Is there are reason for this or is it a bug?

[2016-02-01 13:28] danginsburg commented on #744
I have passed this issue along to the larger team.  I am closing it here since it is not Linux-specific.  Thanks for the report.

[2016-02-01 13:28] #744 closed, assigned to danginsburg

[2016-02-01 13:48] danginsburg commented on #748
Instead of trying to build mesa-11.1.1, you could try mesa 10.5.8 which should fix this problem.  It may not require such a new version of libdrm.  Source can be downloaded here: ftp://ftp.freedesktop.org/pub/mesa/older-versions/10.x/10.5.8/

[2016-02-01 14:35] Tele42 commented on #748
@danginsburg, mesa 10.5.9 is the minimum version with proper rendering on Intel per https://github.com/ValveSoftware/Dota-2/issues/23#issuecomment-114913035, unless something has changed that I missed.

Edit: I missed the workaround was there, mesa 10.5.8 should work when the game is launched with `-gl_force_sm30`.

[2016-02-01 15:23] danginsburg commented on #742
One of my test configs is a Macbook Pro (Retina, Mid 2012) 2.7 Ghz Intel Core i7 NVIDIA GT 650M at 10.11.3.  It definitely sounds to me like you are getting the HD 4000.  If I run at max settings @ 1920x1200 resolution and go into a solo botmatch I get ~30.6fps (+cl_showfps 2 +fps_max 0).  If I crank the settings down, I can easily go above 60fps.  Please try forcing discrete graphics before you l

[2016-02-01 16:06] Stetsenko-Igor commented on #534
I still have this problem :(
cudadriver-7.5.25-macos - is installed.
When i trying to install:
WebDriver-346.03.02f02.pkg
they say:
"Mac OS X version 10.11.3 (15D21) is not supported with this package. Please see NVIDIA’s website for further driver information."

Thread 9 Crashed:
0   com.apple.GeForceGLDriver       0x00007fff97c0597c 0x7fff978dd000 + 3311996
1   com.apple.GeForceGLDriver       0x

[2016-02-01 16:15] Tele42 commented on #534
nVidia web drivers for mac are very closely linked to the build of macos, use http://www.macvidcards.com/drivers.html as a guide to help you pick a compatible version.

[2016-02-01 17:00] danginsburg commented on #748
Under the hood it automatically does the equivalent of -gl_force_sm30 on mesa 10.5.8 to workaround the bug.  You are right though that 10.5.9 is preferred.  I just was trying to give @JiangMufan the oldest version that should still work so hopefully he can build it with his installed dependencies.

[2016-02-01 19:37] ZenoNiQ opened #749 "cl_dota_alt_unit_movetodirection "1" Don't work fine"
Can't cast spell while ALT holding

i even try it with

[code]

but with this, all fine
`bind z +dota_unit_movetodirection`

[2016-02-01 22:29] AegirVOD commented on #748
Thanks, guys. I will try Mesa 10.5.9 first, because maybe i don't have to install -gl_force_sm30, if I can't install or it doesn't work, I'll try 10.5.8.Really thanks, both of you. @danginsburg  @Tele42

[2016-02-01 23:43] gdrewb-valve commented on #749
The title has the cl prefix but the text does not, which are you using (Reborn has the cl prefix)?

This also probably isn't platform-specific.

[2016-02-01 23:46] gdrewb-valve commented on #747
I don't believe Reborn uses config.cfg.  If you put your commands in autoexec.cfg does that work?

Modifier keys like shift and control generally aren't allowed as key binds since that interferes with binding like Ctrl+2 for a control group.  I don't know specifically what the rules are for movetodirection.  If you want specifics post a question at dev.dota2.com where the general forums are.

[2016-02-01 23:50] ZenoNiQ commented on #749
Yes this is command of console ingame that valve add in october 2015 `cl_dota_alt_unit_movetodirection "1"`

[2016-02-01 23:50] gdrewb-valve commented on #749
Right, so which one are you using?  Your scripts show the old command that Reborn doesn't support.

[2016-02-01 23:52] ZenoNiQ commented on #749
I try all of this scripts, and if i bind on z by `bind z +dota_unit_movetodirection`, all fine i can hold "Z" and cast spells, but by this command i can't bind on ALT.

[2016-02-01 23:55] gdrewb-valve commented on #749
This repo doesn't handle general bugs, you'll want to post at dev.dota2.com.  I'm going to close this out.

[2016-02-01 23:55] #749 closed, assigned to gdrewb-valve

[2016-02-02 03:49] AegirVOD commented on #748
Guys, new problem, I installed mesa 10.5.9(with a lot of difficulty), but, the System information in Steam still shows that I am in 10.3.2(the Graphic card driver version). How is that possible?

[2016-02-02 04:05] Tele42 commented on #748
Your 32 bit and 64 bit variants of mesa may not have matching versions. Dota 2 is 64 bit.

[2016-02-02 04:56] AegirVOD commented on #748
@Tele42  But I didn't see any sign of x64 or x86 when I download the mesa package! Maybe I'll try to download 64-bit mesa and re-install it.

[2016-02-03 01:20] JimmieCrackCorn commented on #742
I'm on Linux and after the latest winter pass update I have had a big decrease in performance. Instead of being maxed out at 120 my frames drop during fights sometimes to 60 - 80 ish and during playback of replays they are around 40 - 60.

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  4401 Mhz
    2

[2016-02-03 04:55] ghost commented on #538
not sure if it was one of ~50 updates over the last 3 weeks, or just the fact i de_dust'ed my cpu cooler (mac mini 2011), but now it can steady hold at 50-60 fps at lowest graphic settings, which is all i could ask for.

except during bursty lategame teamfights with 9 ults and 5 invoker spells flying out at once – a 0.5 FPS slideshow for about 4-10 sec, as if watching a lifestream from china.

[2016-02-03 12:12] Stetsenko-Igor commented on #534
@Tele42 thx for the link! Now much better :+1:
Resolved.

[2016-02-03 14:06] SupremeCommanderOfTheAsgardHighCouncil commented on #234
So i just got Linux too and download Dota 2 and now i am receving this problem:

"Required OpenGL extension "GL_ARB_separate_shader_objects" is not supported. Please update your OpenGL driver."

Here is my system information:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3001 Mhz
    4 logical proces

[2016-02-03 14:37] AbduGadir opened #750 "Mac version crashes every time after successful match making"
Every time after match making, at the end of launch screen (dota2 sign), I can hear lots of clicks in my speaker and the curser turned to busy and the game crashes. Tried dozens of time to restart steam, dota2 or reinstall then reconnecting but ended up with the same issue. This happens after the update after Jan 28 and everything was ok then. Watch and Bot games aren't affected. Sometimes reconne

[2016-02-03 16:27] Multisaft commented on #750
Hi,

I'am running a Mac Pro with an GTX 970 TI with the actual 10.10.5, security update 2016-001 as well as the actual nvidia web drivers and I have the exact same problem like you have, even that I don't hear any cliks in the background, dota2 just crashes every single time when the match is loading. I have this in ranked as well as all pick games, single drafts etc. What I am able to load is the

[2016-02-03 16:29] Multisaft commented on #745
Its nice to see that other mac os x dota2 players have the same problem as I am encountering.

I dont like to crosspost but from another topic here at github:

I'am running a Mac Pro with an GTX 970 TI with the actual 10.10.5, security update 2016-001 as well as the actual nvidia web drivers and I have the exact same problem like you have, even that I don't hear any cliks in the background, dota2

[2016-02-03 16:56] Tele42 commented on #745
@Multisaft please open a separate issue report, posting randomly on other issue reports is hard to track.

[2016-02-03 17:36] gdrewb-valve commented on #750
@AbduGadir, can you post the full system information from Steam plus any console output you see?

[2016-02-03 17:37] gdrewb-valve commented on #750
@Multisaft, you need to open your own issue as you may have a separate problem.

[2016-02-03 17:37] gdrewb-valve commented on #750
@Multisaft, when you open your issue please include the full Steam system information and console logs in it.

[2016-02-03 19:49] AbduGadir commented on #750
I checked my computer again. I think I've got the same problem as Multisaft. It's a mac pro with gtx970 with latest nvdia web driver(346.02.03f04) and osx 10.10.5.  And according to system information by steam console, it's called driver 1.2. I've tried both the -autoconfig and -safe boot flags but still didn't get the problem solved. The game window just disappeared with no error warnings when no

[2016-02-03 20:25] gdrewb-valve commented on #750
Can you include your full system information from Steam and any console output?

[2016-02-03 20:27] gdrewb-valve commented on #750
If you don't run from a console you can add -con_logfile to your launch options.  That'll create a file called console.log in your Reborn install under game/dota.

[2016-02-04 08:58] Mattele commented on #742
It somehow works. I booted dota and it seems like it works now, and I havent changed anything.

I guess the case is closed for now. Thank you for your support!

[2016-02-04 09:44] Multisaft commented on #750
I will open my own topic in an instance. but here you have my consol.log file from a single draft play (the log does look the same on mmr games).

Is it the **missing GL shader** in the first line?

[console copy first start single draft.log.zip](https://github.com/ValveSoftware/Dota-2/files/117178/console.copy.first.start.single.draft.log.zip)

[2016-02-04 09:51] Multisaft opened #751 "Dota2 CRASH since Update 01-28, Steam Update 02-02, Yosemite 10.10.5 Security Update 2016-001, GTX970"
Hi,
as mentioned in the other topics, I was asked to open my own topic for my problem.

So here again:

Mac PRO X58, Xeon X5660 at 3.4 GHz, 24Gig RAM, SSDs, GTX 970 - never any issues within the last years. I can play other games, Lightroom, Photoshop, Video Editing not a single problem. No RAM defect, Ive tested a lot within the last couple of days.
Software/Drivers: Yosemite 10.10.5, newest Secu

[2016-02-04 09:55] Multisaft commented on #745
Hi Tele42, Ive dont what you have asked me for.

[2016-02-04 13:18] danginsburg commented on #751
Can you please post the crash report so we can take a look?

[2016-02-04 13:19] danginsburg commented on #742
Thanks for the update.  Closing.

[2016-02-04 13:19] #742 closed, assigned to danginsburg

[2016-02-04 13:22] danginsburg commented on #751
The error "No valid vcs file found for shader gaussian_bloom_blur.vfx" is not the source of the problem, that is normal.

[2016-02-04 13:23] Multisaft commented on #751
you have seen mit console log attachment right? or do you mean something else when you ask for the crash report?

[2016-02-04 13:27] danginsburg commented on #751
@Multisaft Yes, you said that your crash report looked like #730.  Please post a similar crash report.  I don't see anything obvious in the log as to why it is crashing.

[2016-02-04 13:33] Multisaft commented on #751
i dont get a crash report anymore since the last steam update from 02-02 (see my fist post below).

or is there a way to display the crash report as it is generated but not shown up?

[2016-02-05 02:39] fumazu opened #752 "[Linux] Panorama UI fails to use localized time format"
In the Linux client all dates and times shown in the Panorama UI are not properly localized. I noticed this in my German version of the game but I guess it's true for all other languages.

Dates either appear completely in the US format (mm/dd/yyyy) or are rearranged according to the translation from the Steam Translation Server, yet the months are still in English (03. February 2016). In the Wind

[2016-02-05 16:25] Multisaft commented on #751
once more the question: how can i tell dota2 to create a dumb file when it is closed out of some exception???

[2016-02-05 16:56] Multisaft commented on #751
I have found some diagnostic Reports in /Library/Logs/DiagnosticReports/

but no actual one since the steam 02-02 update. therefore only some dota2 reports from january this year. see the examples attached, in addition some gameoverlayui, i think they are thrown by yosemite during dota2 problems? i looks lie.

[DiagnosticReports Yosemite Dota2 GTX970.zip](https://github.com/ValveSoftware/Dota-2/fi

[2016-02-05 23:48] gdrewb-valve commented on #751
The dota2 failure report from 1/28 in your zip file shows a timeout, so apparently OSX thought Reborn was hung and killed it.  There isn't enough other information to know what happened there.

If you aren't getting any other reports since 2/2 the problem most likely lies outside of Reborn.  We can't say for sure since there's no information at all but normal crashes within Reborn are caught by Re

[2016-02-05 23:50] gdrewb-valve commented on #750
@AbduGadir, can you provide the extra information we asked for? We can't go any further without something concrete to look at.

[2016-02-05 23:51] gdrewb-valve commented on #747
Did autoexec.cfg work?

[2016-02-06 00:25] gdrewb-valve commented on #745
@mmuldoon (or anybody with this issue) can you post your console logs?  I know you're risking more bans if you try it again so no worries if you don't want to bother but they might help us figure out what's going on.

[2016-02-06 00:26] gdrewb-valve commented on #743
The larger team thinks they have found the problem and a future update (don't have any specific timeframe) will have a fix.

[2016-02-06 00:26] #743 closed, assigned to gdrewb-valve

[2016-02-06 00:51] gdrewb-valve commented on #745
@mmuldoon have you ever gotten a message about being unable to connect to a region?  If you're doing Find Match/Select Region do you see reasonable ping times?

[2016-02-06 01:18] Vuccappella commented on #743
Thanks for the notification, was it a OS related issue as my friends on Windows didn't experience this ?

[2016-02-06 01:25] gdrewb-valve commented on #743
No, it was a game code issue that could in theory affect any platform.

[2016-02-06 01:32] Vuccappella commented on #743
Ok , thanks!

[2016-02-06 01:39] AbduGadir commented on #750
Unable to open GL shader cache TOC /Users/Dog/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/shadercache/gl/shaders.toc file - might not exist yet.
ERROR: HangWatchdogInternal_BeginScope() - Hang watchdog not implemented for this platform!

## ERROR: HangWatchdogInternal_EndScope() - Hang watchdog not implemented for this platform!

Path ID:             File Path:
ADDONS

[2016-02-06 01:47] AbduGadir commented on #750
I updated the Nvidia driver to 346.02.03f05 and installed the new osx security update. I'm not sure you can tell from the log. I also tried booting under Windows and everything is working perfectly. It seems that I'm having the same problem as Multisaft.

[2016-02-06 02:04] gdrewb-valve commented on #750
The game actually exits completely when it fails?  Do you get any kind of popup message boxes or anything or does the game just go away?

Can you go to your Steam client and under the Help menu choose System Information, then post that info here?  I'm most interested in whether you're getting any failure reports that have info on why the game is crashing.

[2016-02-06 02:05] gdrewb-valve commented on #750
Also do you get anything in /Library/Logs/DiagnosticReports/ that refers to dota2?

[2016-02-06 02:19] AbduGadir commented on #750
Nothing in the directory    /Library/Logs/DiagnosticReports
No warnings. And no crash reports. The game quit unexpected at the loading phase where you see the big dota2 label. After the new driver update, the game died quicker with only 3 seconds of loading time and then crashes. This one new experiment earned me another 24 ban and the 5th low priority single draft punishment.

[2016-02-06 02:21] gdrewb-valve commented on #750
Unfortunately when there's nothing reported like that it usually means there was a system problem, usually the OpenGL driver in a case like this.  We'll have to see if we can repro to find out more.

[2016-02-06 02:26] AbduGadir commented on #750
Yeah, I think so. The Jan 28th update changed the console interface, which is possibly the cause. And the log mentioned some file missing in the shadercache folder.

[2016-02-06 11:52] Multisaft commented on #751
Update of Dota today. I test it in some hours.

[2016-02-06 12:54] Multisaft commented on #750
I've attached some system information in my topic.

[2016-02-06 12:56] Multisaft commented on #751
I have read in the http://dev.dota2.com/showthread.php?t=189581 thread what I maybe should provide you with:
[VCFG and VIDEO.txt Yosemite GTX970 Dota2.zip](https://github.com/ValveSoftware/Dota-2/files/120274/VCFG.and.VIDEO.txt.Yosemite.GTX970.Dota2.zip)

here is my system info from the steam client:
[Steam Client System Info.txt](https://github.com/ValveSoftware/Dota-2/files/120275/Steam.Client.S

[2016-02-06 16:39] gdrewb-valve commented on #751
Thanks.  I don't see anything surprising in your information and it doesn't show any Steam failure reports so Reborn is not catching any problems itself.

[2016-02-07 11:17] Multisaft commented on #751
sorry but that frustrates me. how can valve accept to deploy such a buggy game to one of the biggest communities in the game industry? I mean, didnt valve test their releases before each update? since month of reborn, the problems are getting worse and worse under mac os x.

what is wrong here. and why do i need to play some sort of test rabbit which is trying to connect to new matchmaking games w

[2016-02-07 11:22] Multisaft commented on #751
and here we go, next 24h ban cause I tried to connect to a single draft with the new dota2 update from yesterday. man guys, that is not working this way. I can help you testing with my environment to sort out problems on mac os x yosemite as well as 10.11. if you ask me to, but I don't accept this matchmaking bans any longer. Can you plz address this to someone responsible for dota2 accounts in yo

[2016-02-07 17:30] gdrewb-valve commented on #751
I'm sorry that you're frustrated, I know it sucks having things fail like this.  As I mentioned previously you do not need to risk bans at all, you can wait for Valve to figure things out.  This problem doesn't occur at Valve so gathering information from users helps us out but that doesn't mean you are responsible for accumulating bans to move things forward.

[2016-02-07 20:24] vadi2 opened #753 "Linux crash spectating a game"
Crashed while spectating a game - not sure if there's a log available somewhere.

[code]

[2016-02-07 20:33] Tele42 commented on #753
Since the crash minidump was discarded on valve's side, it may be helpful to upload /tmp/dumps/crash_20160208061248_1.dmp somewhere and link it to this report.

[2016-02-07 21:14] vadi2 commented on #753
It crashed twice.
[dumps.zip](https://github.com/ValveSoftware/Dota-2/files/120923/dumps.zip)

[2016-02-08 01:05] seethersan opened #754 "Considering failure of the game when the game will not let you reconnect"
Is it too difficult to know that a player is trying to reconnect a game and THE GAME  will not let you reconnect no matter how many times you try? It's stupid to put you in low priority when the game which disconnects you from the game and not let you reconnect

[2016-02-08 04:23] gdrewb-valve commented on #754
This repo is solely for Linux and Mac bugs.  You'll want to report this at dev.dota2.com.

[2016-02-08 04:23] #754 closed, assigned to nobody

[2016-02-08 06:19] icculus commented on #453
Hey, can those that are still seeing this bug run "xev >log.txt", press NOTHING but the problem key on the keyboard, then close the window without touching the keyboard? I want to see what something that's not SDL thinks it sees from the keyboard on your machine. Attach the log file here.

Thanks!

[2016-02-08 16:03] icculus commented on #591
Hey, I'm trying to reproduce the window dragging bug you posted a video of. Was there any magic to make that happen ("start the game, switch to windowed mode and back, alt-tab then drag around", or whatever)? Does it happen reliably? I can't get it to happen here on Mac OS X 10.11 with an Intel HD 4000, but maybe I'm doing it wrong.

[2016-02-08 19:04] mmuldoon commented on #745
@gdrewb-valve I've never gotten a unable to connect to region, ping rates for the US are 50-70ms, other countries pings are 150+. I'll also post my console logs if you tell me how to do it. Thanks Drew!!

[2016-02-08 19:15] mmuldoon commented on #745
Here ya go Drew, this was a failed connection, cost me a 19min ban but hopefully it helps solve this issue. Let me know if you need anything else to help out.

[code]

[2016-02-08 19:55] gdrewb-valve commented on #745
Thanks, can you post a link to your Steam community page or your Steam ID (I'm just double-checking what your Steam identity is without having you disclose anything sensitive)?

[2016-02-08 20:01] diegovelasquez1 opened #755 "[OSX] Error at launching"
I have this problem that after installing dota 2 and clicking on play it doesn't launch because it says this:
Error
void CTier1AppSystemDict::SetModPath(const char *)():
Application unable to load gameinfo.gi file from directory "/Users/DiegoVLibrary/Application Support/Steam/steamapps/common/dota 2 beta/game/dota"!

I'd deleted all the local content more than once but it does not fix this.

[2016-02-08 20:04] gdrewb-valve commented on #755
Your install is corrupt, as you have guessed.  Have you validated the local content from Steam?

You should have a content_log.txt in the logs subdirectory of your Steam install (usually ~/Library/Application Support/Steam/logs), can you gist it here?

[2016-02-08 21:15] mmuldoon commented on #745
http://steamcommunity.com/profiles/76561197974720502/

[2016-02-08 21:15] diegovelasquez1 commented on #755
Yes I'd vaidated that. Shall you make that log_txt process step by step pls? I am new on mac.

[2016-02-08 21:38] gdrewb-valve commented on #745
The logs seem to indicate that the server just didn't get follow-up data from you after the initial few.  I know this might cause another ban (I can address that if necessary) but can you add +net_maxroutable 600 to your launch options and see if that helps?

Have you had any issues with your networking?  It appears that you've been playing some, how often does this failure happen for you?

[2016-02-08 21:44] gdrewb-valve commented on #755
Activate the Finder.
In the 'Go' menu select 'Go to Folder...'
In the location type ~/Library/Application Support/Steam/logs
That should open a folder with a bunch of text files. content_log.txt should be one of them.

Alternately in GitHub on the machine you can click on the 'Gist' option on the top of the page.  Use ~/Library/Application Support/Steam/logs/content_log.txt as the filename and cre

[2016-02-08 22:01] diegovelasquez1 commented on #755
https://gist.github.com/diegovelasquez1/070237b6dbddb8190035

[2016-02-08 22:23] mmuldoon commented on #745
I haven't had issues with the network that I'm aware of, again this all seemed to start happening around the same time as the January update. I do get connected sometimes, it seems hit and miss. ISP possibly... I'll add the maxroutable to my options and let you know.

[2016-02-08 22:25] gdrewb-valve commented on #755
Thanks, I've passed this on to the Steam team.

[2016-02-08 22:32] diegovelasquez1 commented on #755
Thank you sir, one last question when I will have my solution or answer to this problem and where? Like a reference time and in this same link?

[2016-02-08 22:43] gdrewb-valve commented on #755
I don't know when (or even if) the Steam team will be able to resolve your problem.  I would guess it would not be immediate.

This repo is for Dota 2 Reborn problems and this isn't a problem with Reborn itself, it's a problem with Steam not properly installing Reborn on your system.  The Steam team will take a look but at that point I no longer have visibility into it.  I'll keep this open for a

[2016-02-09 00:42] gdrewb-valve commented on #610
Closing as this isn't Mac-specific.

[2016-02-09 00:42] #610 closed, assigned to gdrewb-valve

[2016-02-09 00:43] gdrewb-valve commented on #747
Closing as I believe this is expected behavior.  It's also not platform-specific.

[2016-02-09 00:43] #747 closed, assigned to gdrewb-valve

[2016-02-09 02:06] gdrewb-valve commented on #753
The crash you're hitting is platform-independent.  A fix will come out in a future update.

[2016-02-09 02:15] gdrewb-valve commented on #752
Is German your system locale?  If you add -set_locale_disable to your launch options does it work?

[2016-02-09 09:13] ravzski commented on #745
I have actually solved this project accidentally.
When the "loading" page comes up after accepting a match.
I press cmd+tab, to show the steam overlay.
I then waited while the steam overlay is still on and it push thru the game.

[2016-02-09 09:42] gdrewb-valve commented on #745
Interesting, that doesn't suggest an obvious issue as the overlay isn't supposed to interfere with the game but we'll have to see if that works for other people.

[2016-02-09 10:09] Multisaft commented on #745
awsome, thanks mmuldoon, that does solve my issue as well:
first ever load into single draft since january update
see my topic.

[2016-02-09 10:50] Multisaft commented on #751
like Matthew I can load into my first single draft within the last weeks with his workaround leaving steam overlay in the foreground while loading a game

https://github.com/ValveSoftware/Dota-2/issues/745#issuecomment-181784609

[2016-02-09 12:35] fumazu commented on #752
That fixes it.

I'm running Ubuntu 15.10 (64 bit). My locale is:
LANG=de_DE.UTF-8
LANGUAGE=de_DE

[2016-02-09 16:54] gdrewb-valve commented on #750
You might want to try leaving the Steam overlay open and see if that helps, as reported in #745.

[2016-02-09 16:55] gdrewb-valve commented on #751
Thanks for trying it, I'm not exactly sure how we'll track down why that works but at least it gives us something to look at.

[2016-02-09 17:00] gdrewb-valve commented on #745
@mmuldoon your game wasn't actually crashing, was it?  You're welcome to try the overlay thing and if it fixes your problem that'd make it even more strange.

[2016-02-09 20:41] gdrewb-valve commented on #752
Reborn currently forces the locale to en_US to avoid some bugs on languages like Turkish so we have a bit of a conflict here.  We'll see what we can do but I don't think we'll have a fix in the short term.

[2016-02-09 20:42] gdrewb-valve commented on #752
You're welcome to keep using -set_locale_disable if you want, and if you see any problems with it let me know here.

[2016-02-09 22:05] mmuldoon commented on #745
Ok so the overlay trick didn't work for me, and no dota doesn't crash it just stalls out. Was able to play a few games this morning but now this afternoon had 3 stalls and abandons. @gdrewb-valve with the +net_maxroutable 600 do I just add that in the console before I start matchmaking?

[2016-02-09 22:20] gdrewb-valve commented on #745
You would add +net_maxroutable 600 to your Steam launch options for Reborn.  You could try it from the console by doing the same thing without the + but it's simpler to put it in the launch options and then it's guaranteed to apply for the entire time you're running Reborn.

Your bans should be cleared.

[2016-02-09 22:36] fumazu commented on #752
Alright, then I will do this. Thanks for your help.

[2016-02-10 10:52] rcagantas commented on #301
I'm on a Mac and the fonts are also larger than it should be. Any workarounds?

[2016-02-10 16:16] gdrewb-valve commented on #301
You're the first person that has reported an issue on a Mac, it's hard to say what might be going on or how to work around it.  Do you have any modified resolution scaling or DPI options?

Also, what are you comparing against when the fonts look too large?  The Windows version?

[2016-02-10 22:14] ghost opened #756 "[Linux]Missing basic OpenGL 1.0 -> 2.0 required opengl functionality"
Hi there,

Since the latest driver update (NVIDIA) to 361.28, I can no longer launch Dota on Arch.

[code]

[code]

[2016-02-10 22:42] gdrewb-valve commented on #756
The driver update has apparently messed up your OpenGL installation, you'll need to fix that before Reborn will run.

[2016-02-11 00:17] zeroedout commented on #756
No it hasn't (but I can see why it looks like that)! Uncomment line 41 in dota.sh `#export __GL_THREADED_OPTIMIZATIONS=1` and bam it runs. Thanks to [/u/404AnonymousNotFound](https://www.reddit.com/r/linux_gaming/comments/44xtof/nvidia_drivers_36128_released/czuax75) for pointing it out.

[2016-02-11 00:59] gdrewb-valve commented on #756
__GL_THREADED_OPTIMIZATIONS is checked by the driver, not Reborn.  It's odd that it makes the OpenGL exports change but that's up to the driver, there still isn't something Reborn can change about this.

[2016-02-11 02:19] sinatosk commented on #756
They (arch linux) updated the package so that it makes use of

https://github.com/NVIDIA/libglvnd

line 41 in dota.sh for me is already uncommented but when I comment it, works

portal 2 (same result with team fortress 2 except I had to uncomment it) runs fine for me, but doesn't when "export __GL_THREADED_OPTIMIZATIONS=1" is set and errors when run

I think this is a bug with nvidia, not reborn o

[2016-02-11 09:58] sinatosk commented on #756
based on what is discussed here

https://devtalk.nvidia.com/default/topic/915789/linux/-solved-361-28-gtx-580-steam-several-games-don-t-start-up/1

it sounds like you need to update your code to take into consideration for people who are using libglvnd

I've tried another application (unigine-valley) that makes use opengl with or without that environment variable set and works fine

when using the

[2016-02-11 10:45] ghost commented on #756
nvidia guy on arch forum for this bug. looks like app needs to be updated.

see also

Multiple GLX client libraries in the NVIDIA Linux driver installer package

https://devtalk.nvidia.com/default/topic/915640/unix-graphics-announcements-and-news/multiple-glx-client-libraries-in-the-nvidia-linux-driver-installer-package/

im no expert but it doesn't seem this is to be fixed at driver or os, it can

[2016-02-11 13:37] timjp87 commented on #756
I think what we need is confirmation from NVIDIA if __GL_THREADED_OPTIMIZATIONS will work with both non-glvnd and glvnd GLX libraries in the future. I used the 361.16 and 361.18 drivers which also had glvnd enabled by default and it didn't cause any issues with games that rely on __GL_THREADED_OPTIMIZATIONS. It only affected Civ V and KOTOR2, because these apps used OpenGL in a wrong way which was

[2016-02-11 13:47] danginsburg commented on #756
I have reached out to NVIDIA on this issue.  I will post more info once I get a response. Thanks for all the reports.

[2016-02-11 16:05] danginsburg commented on #756
We have heard back from NVIDIA.  They have confirmed this is a driver bug impacting the libglvnd-enabled driver (nobody but Archlinux at the moment).  The driver bug will be fixed in a future release.  For now, they recommend setting __GLVND_DISALLOW_PATCHING=1 as a workaround, although also setting __GL_THREADED_OPTIMIZATIONS=0 will work (although potentially more perf impact).

[2016-02-11 16:09] ghost commented on #756
cheers dan. nice to have an official work around until its fixed.

[2016-02-11 19:03] fpeterschmitt commented on #756
Gentoo here, nvidia driver v361.28. __GL_THREADED_OPTIMIZATIONS=0 works so yup, nvidia's bug.

[2016-02-11 19:39] asavah commented on #756
Can confirm this on Ubuntu 16.04 with drivers from https://launchpad.net/~graphics-drivers/+archive/ubuntu/ppa (libGL seems to have glvnd symbols)  it also fails as described by the OP.
Commenting out export  __GL_THREADED_OPTIMIZATIONS=1 or adding __GLVND_DISALLOW_PATCHING=1  as @danginsburg suggested indeed fixes the issue.

[2016-02-11 20:37] LeoVerto commented on #756
The [Arch wiki](https://wiki.archlinux.org/index.php/Steam#Issues_with_nvidia_361.28) suggests running the game with the launch option
`__GLVND_DISALLOW_PATCHING=1 %command%`, which worked for me and seems like a more elegant solution.

[2016-02-11 21:52] ghost commented on #756
many many thanks guys. added __GLVND_DISALLOW_PATCHING=1 %command% to launch options and can play just fine.

[2016-02-12 00:06] rcagantas commented on #301
![2016-02-12_00004](https://cloud.githubusercontent.com/assets/1592525/12994951/c828eaf8-d15e-11e5-9cf4-ddab6554af8e.jpg)

This is what I see (Forgive the name. I just found the longest name I could see and spectated). I'm comparing against what I assume to be the Windows version when I watch a Dota 2 Youtube clip. What I normally see is a the player name font to be a about the height of the healt

[2016-02-12 00:12] gdrewb-valve commented on #301
That's definitely not right.  :-)  Do you have any non-default OSX (not Reborn) resolution or DPI settings?  Reborn just asks CoreText for a font with a given size and that appears to work on most Macs, no idea why it would be different for you.  Reopening.

[2016-02-12 00:20] rcagantas commented on #301
Resolution is just maxed. Didn't change anything. Should be at the bottom of my post.
    Primary Display Resolution:  2560 x 1440
    Desktop Resolution: 2560 x 1440

[2016-02-12 04:19] mmuldoon commented on #745
@gdrewb-valve
Man I thought the +net was working but I'm still getting abandons every now and then. I'm locked out right now for 11 more hours. IDK if you have any other ideas or not, but I'm about at the stage of closing out this issue. Just not sure what else can be done.

[2016-02-12 06:00] gdrewb-valve commented on #745
I'll pass this on to the networking team.  They did suggest lowering from 600 to 576, which is the absolute minimum, plus also adding

+net_showudp 1 +net_showsplits 1 +log_verbosity splitpacket detailed

to your launch options to get a lot more networking debugging spew.  If you have a problem with those options can you put up a gist of your console logs.

I can check on any bans but not until to

[2016-02-12 09:01] martinrotter commented on #756
@Bednar87  @LeoVerto  The workaround works on my Arch box too. But I have impression that now affected games take a bit longer to start. Specifically CS:GO. But in-game performance seems to be unaffected.

[2016-02-12 14:30] danginsburg commented on #355
@chrylis I have never been able to repro this bug.  If this is still happening and you can provide repro steps, I will reopen this.

[2016-02-12 14:30] #355 closed, assigned to danginsburg

[2016-02-12 14:36] danginsburg commented on #447
@SirBlondie Are the stutters still occurring for you?  I was unfortunately never able to repro this bug.  I wonder if any of the many fixes we have made might have addressed this problem.

[2016-02-12 15:10] zor1984qq commented on #54
One more question please is mentioned here "underlying playback" is related somehow to new "Panorama" framework? Is these piece of great new software and removing Autodesk Scaleform traces are responsible for losing whole game menu portraits animation?
[https://developer.valvesoftware.com/wiki/Dota_2_Workshop_Tools/Panorama:ru](url)

And if it is, the only thing that needed to be done is convert o

[2016-02-12 17:02] gdrewb-valve commented on #54
Things have been moving along here and I believe we have all of the missing parts in place.  I believe in the next week or this this will go out with a Reborn update.

[2016-02-12 18:13] Cabanur commented on #54
I can only hope this upcoming update wll bring the new HUD we've been expecting :D

[2016-02-12 20:24] gdrewb-valve commented on #655
This has been confirmed as a problem with bamf and is not related to Reborn, closing.  The bamf people are going to work on a fix.

[2016-02-12 20:24] #655 closed, assigned to gdrewb-valve

[2016-02-12 21:53] vadi2 commented on #655
Thanks for engaging in collaboration to find the source of the problem!

On Sat, 13 Feb 2016 6:24 am Drew Bliss notifications@github.com wrote:

[2016-02-12 22:03] michaellarabel opened #757 "[Linux] SwitchToLoop(): Attempted to switch to unknown loop ""! (Using timedemoquit)"
Hi, I've been trying many combinations with Dota 2 to get timedemoquit working but have been blocked by this bug... Whenever using "timedemoquit" rather than "timedemo", when the test finishes I get a message box with "SwitchToLoop(): Attempted to switch to unknown loop ""!"

This is with the latest Dota 2 on Ubuntu Linux as of today, have launched the game directly via steam -applaunch, dota.sh,

[2016-02-12 22:07] Tele42 commented on #655
For reference, this is bamf: https://launchpad.net/bamf, a subcomponent of the unity desktop environment.

[2016-02-12 22:36] Turmfalke2 opened #758 "[Linux] Play style pentagon fails to update"
hi,
Sometimes the play style pentagon fails to update when watching different profiles.
How to reproduce:
start the game, open your profile by clicking on your name, note the shape of your play style pentagon, using the bottom left corner view a friend's profile, note the shape of his play style pentagon.
Now when you use the page back button in the top left corner you will see your own profile ag

[2016-02-12 22:39] Turmfalke2 commented on #741
I can confirm the same issue on linux, from what I can tell the console output is not helpful.

[2016-02-12 22:44] SirBlondie commented on #447
Hi Dan,

No, no longer happening, I think I pretty much tied it to something to do with notifications coming in while I was playing. I’m pretty sure it was an Apple update that finally cleared it all up, though there seemed to be a couple of DoTA updates that improved it too.

Now I just need you to top making the bot’s so good at rolling me.

Thanks for your efforts.

Matt.

[2016-02-12 23:29] Am1rr3zA opened #759 "Getting disconnected from US Servers"
recently I have problem during certain hours of time playing game, I got disconnected repeatedly from the servers and my steam goes to offline mode. I have tried to followed this instruction https://support.steampowered.com/kb_article.php?ref=1452-HCVB-6984 but it seems it's for windows user. what should I do on my mac to figure out the source of the problem?
<a href='http://postimg.org/image/grkm

[2016-02-12 23:54] gdrewb-valve commented on #759
These usually aren't platform-specific problems, I think most of that article applies to Macs also.

Post a gist of your console log here and I can pass it on to the networking guys.

[2016-02-12 23:56] gdrewb-valve commented on #757
Likely not a platform-specific issue.

[2016-02-13 01:15] danginsburg commented on #757
If you want to automate quitting after running a demo, you can use +demo_quitafterplayback 1.  For example, I usually do something like this for a demo:
1. Grab a .dem file from a match
2. Playback a portion of the match, using a command-line such as
   `./dota2 +fps_max 0 +cl_showfps 2 -novconsole +timedemo_start 40000 +timedemo_end 41000 +timedemo <demoname> +demo_quitafterplayback 1`

You can u

[2016-02-13 01:17] michaellarabel commented on #757
Thanks Dan, will give demo_quitafterplayback a try.

[2016-02-13 11:50] danginsburg commented on #447
Great, glad to hear it!  Closing

[2016-02-13 11:50] #447 closed, assigned to danginsburg

[2016-02-13 14:03] michaellarabel commented on #757
Gave it a try with demo_quitafterplayback... At first I was getting the same "switch to unknown loop" message box as well, but I wasn't using the timedemo_start/timedemo_end arguments as I was using a short demo. However, after using timedemo_start/timedemo_end, then it began behaving correctly without this message box. So it seems the issue only happens when playing back an entire demo.

[2016-02-13 15:22] zor1984qq commented on #54
Is there any info on the next big updates appear?

[2016-02-13 15:26] Cabanur commented on #54
I don't think so, Valve dislikes anticipating stuff until it's out.
El 13/2/2016 16:22, "zor1984qq" notifications@github.com escribió:

[2016-02-14 02:04] jerobarraco commented on #360
i have the same issue. its very annoying, i use to change windows while im dead or sometimes i need to, and i get disconnected. ALL THE TIME, is VERY annoying.

im using kde ubuntu 14.04, compositing DISABLED, game mode "borderless window", but if i recall correctly, same issue happened with fullscreen and desktop friendly FS with auto-minimize.
Also, i noted that while minimized, the cpu consumpt

[2016-02-14 14:29] presianbg opened #760 "[Linux| Console is flooded with this message"
My info:

[code]

When I'm waiting for a match (loading screen, pre match) console is flooded with this yellow message
`
texturebase.cpp(2015):ResourceHandleToData(  ) failed! Falling back to error texture!
texturebase.cpp(2015):ResourceHandleToData(  ) failed! Falling back to error texture!
texturebase.cpp(2015):ResourceHandleToData(  ) failed! Falling back to error texture!
texturebase.cpp(2015)

[2016-02-14 17:41] gdrewb-valve commented on #760
Can you gist all of the console output prior to that message?  Also once you've done that can you verify your local installation files?

[2016-02-14 22:59] Am1rr3zA commented on #759
How can I do that?

[2016-02-15 01:02] gdrewb-valve commented on #759
If you don't run from a console you can add -con_logfile to your launch options. That'll create a file called console.log in your Reborn install under game/dota.  On this web page click on 'Gist' at the top and then navigate to your Reborn install and the log file.

[2016-02-15 06:16] copacetic commented on #756
This fix also worked for me on 64 bit Arch. Thanks so much :+1:

[2016-02-15 22:08] mauer01 commented on #234
I have this Computer System:

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2700 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported

[2016-02-16 05:34] presianbg commented on #760
@gdrewb-valve Is there a way to redirect console output to a file? As I said it's flooded and I can't see prior that message. I already verified the local files before opening this issue.

[2016-02-16 13:14] justSQL commented on #760
Add -con_logfile to your launch options. That'll create a file called console.log in your Reborn install under game/dota.

[2016-02-16 14:15] presianbg commented on #760
Thanks.

gist - https://gist.github.com/presianbg/8eee079f4c1d717da8a3

[2016-02-16 18:46] gdrewb-valve commented on #760
Unfortunately the log doesn't indicate what the problem might be, we'll have to try and find a repro.

[2016-02-16 22:36] admshao opened #761 "[Ubuntu] Terrible Dota 2 Performance After Saturday 02/13"
I often stream Dota 2 with OBS and Since Saturday, with no Update in Ubuntu, Nvidia or OBS but Dota 2 only.

After those 3 minor updates.IIRC. The Game is OK while not streaming but if i start OBS the game goes ladder down in performance. Lagg. Stutter and all. From 120 steady to 80-70 fps. Usually stream with 110+ just fine and no lag.

I posted in OBS forum and i`m just checking here to see if a

[2016-02-16 22:51] gdrewb-valve commented on #761
I don't believe any substantial changes have been made recently.

[2016-02-16 23:07] admshao commented on #761
I would like to investigate a little bit more before closing this.
Thanks for fast response!

[2016-02-16 23:45] leonnardo commented on #692
Ok, I'm having issues like @mrdvc after changing monitor (using now an external monitor..)
And while I was playing in source 1 with 60fps with 1080p res, now in 1080p i got like 15fps..

[2016-02-16 23:55] leonnardo opened #762 "[OSX] Getting low fps using desktop-friendly mode and even in Exclusive Fullscreen when plugged in external monitor"
I'm having some issues.. When I play with no external monitor and with exclusive fullscreen, i got 60fps and eventually 40fps in tfs..

But, using an external monitor, fps drops to 20 or less in any situation.

Using Macbook Pro Retina mid 2013, Geforce 650M.

[2016-02-16 23:59] admshao commented on #761
Ok. I still don`t know why or what triggered it between saturday and today but i`ve found those 2 links:

https://bugs.freedesktop.org/show_bug.cgi?id=92907#c6
https://obsproject.com/mantis/view.php?id=403

Gonna close this since it appears not to be Dota related but OpenGL<->OBS issue.
Thanks.

[2016-02-16 23:59] #761 closed, assigned to danginsburg

[2016-02-17 03:05] FeatheredSerpent opened #763 "[Linux] Vulkan not working."
NVIDIA has released their [vulkan driver](https://developer.nvidia.com/vulkan-driver) today. Installed it, ran Dota 2 with -vulkan parameter, got this error message:

[code]

console.log:

[code]

I guess this means that Dota 2 doesn't include the Vulkan renderer yet? When will it be released?

[code]

[2016-02-17 03:35] Tele42 commented on #763
This is expected as Dota 2 has not had an update since the release announcement, and valve has not declared support for vulkan yet in the main client.

[2016-02-17 04:33] gdrewb-valve commented on #763
This isn't supposed to work.  There's no fixed date for when it'll be available.

[2016-02-17 04:33] #763 closed, assigned to nobody

[2016-02-17 13:45] danginsburg commented on #762
Duplicate of #662.

[2016-02-17 14:55] danginsburg commented on #762
Can you please provide some more details here?  First, post Steam -> Help -> System Information so I can see your full system config.  Then, can you describe your external monitor resolution as well as how you setup for an external display (i.e., mirroring, separate).  I am trying this here on a MBPr GT650M Mid 2012 OS X 10.11.3 with a 1920x1080 external monitor and I am unable to repro any fps  d

[2016-02-18 02:04] gdrewb-valve commented on #758
This isn't platform-specific, I've passed it on to the larger team.

[2016-02-18 02:04] #758 closed, assigned to gdrewb-valve

[2016-02-18 02:04] gdrewb-valve commented on #757
This isn't platform-specific, I've passed it on to the larger team.

[2016-02-18 02:04] #757 closed, assigned to gdrewb-valve

[2016-02-18 02:05] gdrewb-valve commented on #755
The Steam team doesn't have anything immediate, so closing.

[2016-02-18 02:05] #755 closed, assigned to gdrewb-valve

[2016-02-18 02:06] gdrewb-valve commented on #753
This should be fixed with the latest updates.

[2016-02-18 02:06] #753 closed, assigned to gdrewb-valve

[2016-02-18 02:06] gdrewb-valve commented on #745
Were you able to get any more info?

[2016-02-18 02:06] gdrewb-valve commented on #759
We'll need more information to make progress on this.

[2016-02-18 03:18] gdrewb-valve commented on #54
The 2/17 update should have the fix.

[2016-02-18 03:19] gdrewb-valve commented on #112
The 2/17 update should have the fix.

[2016-02-18 03:20] gdrewb-valve commented on #323
The 2/17 update should have the fix.

[2016-02-18 04:18] Am1rr3zA commented on #759
Again I need the instruction how to do it for MAC OSX?
1- how can I add -con_logfile in my launch option
2- when I go to Application/Dota 2 in terminal where should I expect to see this log file?

[2016-02-18 05:03] gdrewb-valve commented on #759
In the Steam client open the app properties.  In the General tab there's a button with 'Set launch options...'  Click that and add -con_logfile.

The console.log file will be in the game/dota subdirectory in your Reborn files.  You can navigate there from the Steam client by again going to the app properties, selecting the Local Files tab and then clicking on 'Browse Local Files...'  Then select t

[2016-02-18 07:21] CommanderAlchemy commented on #234
Like previous posts, you guys need to update mesa. All of you are running an older version.

@nisbahmumtaz, um have you updated your nvidia driver from nvidia.com? Probably an optimus issue on Windows that runs the game on the Intel card instead.

[2016-02-18 14:34] rodlorric commented on #54
I tried on Ubuntu and now it is working. Thanks!

[2016-02-18 21:29] mmuldoon commented on #745
How do I dump all the console info, it just keeps going and going. When I try and copy it, I can't get all of the info. I just got an abandon.

[2016-02-18 21:49] gdrewb-valve commented on #745
Add -con_logfile to your launch options.  All of the console output will be saved in a file called console.log that'll be in the game/dota subdirectory of your Reborn install.

[2016-02-18 21:49] gdrewb-valve commented on #745
Then when you post it here use the 'Gist' option at the top of the page instead of cutting and pasting all of the text into the messages.

[2016-02-18 21:50] gdrewb-valve commented on #54
Thanks, closing.

[2016-02-18 21:50] #54 closed, assigned to gdrewb-valve

[2016-02-18 21:50] #112 closed, assigned to gdrewb-valve

[2016-02-18 21:50] #323 closed, assigned to gdrewb-valve

[2016-02-18 22:51] mmuldoon commented on #745
Well this is a new one, not sure if it's related to my current problem or because of something else. Got into a game 40min in, boots me out because of a timeout, I'm then unable to reconnect and I assume get an abandon.
https://gist.github.com/mmuldoon/7e46cc2ec92df3de59f1

[2016-02-18 23:06] gdrewb-valve commented on #745
Thanks, I don't see anything obvious in the log but this has gone beyond a Mac or Linux issue and my knowledge.  I've passed the log on to the larger team to see if they have any insight.

[2016-02-19 04:53] Am1rr3zA commented on #759
I will upload it on Sunday after playing some games

[2016-02-19 12:12] spider623 commented on #756
ubuntu 16.04 with the **361.28** `__GLVND_DISALLOW_PATCHING=1 %command%` does fix it for now

[2016-02-19 19:29] gdrewb-valve commented on #745
Do you have a workshop_log.txt in your Steam (not Reborn) logs directory?

[2016-02-20 12:14] Aszti commented on #294
okay...
I uninstalled the game cuz I had my exams. Now I passed all of my exams, so I tried to play again dota, but showed me the following message:
"CNetworkSystem::OpenSocketInternal():
Couldn't allocate any server IP port, tried 2"
I've read everything, that you wrote here in this post and I realized that I have no idea what are you guys talking about :S Is there any option that can fix it by s

[2016-02-20 12:44] mrdeathman opened #764 "[Linux] Start Dota 2 on Vulkan API"
#
# VULKAN INFO

Vulkan API Version: 1.0.3

NVIDIA 355.00.27

Ubuntu 15.10

LoadSystemAndDependencies():
AppSystemDict: Error in Connect() of interface 'GameUI011' !

failed to dlopen "librendersystemvulkan.so" error=librendersystemvulkan.so: cannot open shared object file: No such file or directory

[2016-02-20 13:19] Tele42 commented on #764
Duplicate of #763, the vulkan backend is not yet publically available.

[2016-02-20 17:27] #764 closed, assigned to nobody

[2016-02-20 17:31] gdrewb-valve commented on #294
Unfortunately you'll need to gather the console log to get more info.

In the Steam client add -con_logfile to your Reborn launch options. Go ahead and try demoing the hero and let things fail. There should be a console.log file in your Reborn local files under the game/dota subdirectory.

[2016-02-21 00:14] Am1rr3zA commented on #759
Here is the gist link to my console.log https://gist.github.com/Am1rr3zA/21986bead5d6a65ff934.

I attached the screenshot of my internet connection when I encountered this issue again.
<a href='http://postimg.org/image/ls0620wu7/' target='_blank'><img src='http://s11.postimg.org/ls0620wu7/Screen_Shot_2016_02_20_at_6_53_57_PM.jpg' border='0' alt="Screen Shot 2016 02 20 at 6 53 57 PM" /></a>

[2016-02-21 05:21] gdrewb-valve commented on #759
I've passed this on to the larger team.

[2016-02-21 06:26] rcagantas commented on #301
Playing on a Macbook Air 2011 (Intel HD Graphics 5000) yields the same results. The only thing common between them is they are both running on Yosemite.

[2016-02-21 11:44] Mosher23 opened #765 "[OS X] 5k resolution is unplayable"
Hello,

tried to play on 5k(5120x2880) Resolution on my iMac, but because of cursor size its unplayable.
Cursor moves extremely slow and is extremely small.

im using:
iMac 27 5k 2015
i7 6700k 32Gb DDR3
AMD 395X 4gb
OS X 10.11.3

[2016-02-21 11:48] Mosher23 opened #766 "[OS X] keyboard issue"
Hello again,

i have English and Ukrainian layouts on my keyboard. If in Dota 2 its switched on Ukrainian, no input will be registered in game! So its playable only if its english. Previous Dota 2 not Reborn worked fine.

pls fix this

[2016-02-21 17:24] gdrewb-valve commented on #766
Did you select positional keybinds in the Advanced section of the bindings settings?

[2016-02-21 17:46] admshao commented on #734
Could you guys provide more detailed info?
I`m using Ubuntu 15.10, kernel (4.3, 4.4 and 4,5 all works) and Gnome 3.16.2 + lightdm and it`s just fine
Dota video settings are 1080p + Multitask Fullscreen + unchecked the option to minimize on alt+tab

[2016-02-22 17:02] sinatosk opened #767 "[linux] exhausted memory allocator"
this error has only happened once but reporting it because I have plenty of free memory

`AllocInternal();

CUtilLinkedList overflow! (exhausted memory allocator)`

this error popped up while I was watching a game

at the time dota 2 was using 1.7gb memory and 4.4gb virtual size and shared memory useage is 298.8

I have a total of 16gb ( 15.5 due to os and uefi )

machine info http://pastebin.com/

[2016-02-22 20:00] gdrewb-valve commented on #759
How many games did you try to connect in the log?  There appear to be multiple with many different reasons for disconnection.

[2016-02-22 20:13] Am1rr3zA commented on #759
As far as I remembered this log should be generated for two games, first one was normal, second game I had connection problem.

[2016-02-22 20:13] gdrewb-valve commented on #767
We'll need to try and get a repro to determine why this is happening.

[2016-02-22 20:14] Am1rr3zA commented on #759
but I should mention during second game I had to disconnect reconnect many times maybe that's why it shows many different games

[2016-02-22 20:16] gdrewb-valve commented on #759
The log shows that the user disconnected several times and shut down the game at least once so the larger team didn't see any info on actual problems that might be preventing things from working.  I'll hold this open for a bit in case they have more questions but this issue has pass out of the scope of this repro.

[2016-02-22 20:21] barkovv commented on #756
glad to read it. Thanks for fix.

[2016-02-22 21:10] Am1rr3zA commented on #759
that's exactly my problem, DOTA 2 kicked me out of game several time (because if time out) and didn't let me connect for couple of minutes then I reconnect and then kicked out again and this cycle continues.

that's why I created this issue here because I wanna know what's wrong with USA servers.
How or where should I contact to see what's my problem and how can I fix it?

[2016-02-22 21:19] gdrewb-valve commented on #759
The logs do not show the game kicking, they show user actions leading to the game transitions, thus they don't help to narrow down the issue.

dev.dota2.com is the place for general bug reports.

[2016-02-22 22:38] sinatosk commented on #767
I'm not able to reproduce it either and that's including watching the same game again after restarting dota 2

[2016-02-23 00:10] gdrewb-valve commented on #767
OK, closing for now.

[2016-02-23 00:10] #767 closed, assigned to nobody

[2016-02-23 14:07] mmuldoon commented on #745
workshop_log.txt
https://gist.github.com/mmuldoon/88eae5a8bc80fef6dcfe

[2016-02-23 19:13] gdrewb-valve commented on #766
Closing pending more info.

[2016-02-23 19:13] #766 closed, assigned to gdrewb-valve

[2016-02-23 19:14] gdrewb-valve commented on #760
Do you have shadows disabled?  Does enabling them turn off the spew?

[2016-02-23 20:30] gdrewb-valve commented on #745
I've passed the new log on, thanks.

[2016-02-23 21:14] gdrewb-valve commented on #257
Closing non-Mac/Linux issue.

[2016-02-23 21:14] #257 closed, assigned to nobody

[2016-02-23 21:16] gdrewb-valve commented on #25
As this isn't a Mac/Linux issue it won't get tracked here.

[2016-02-23 21:16] #25 closed, assigned to nobody

[2016-02-23 21:18] gdrewb-valve commented on #177
This happens on Windows also and was passed on to the larger team a while ago.

[2016-02-23 21:18] #177 closed, assigned to nobody

[2016-02-23 21:21] gdrewb-valve commented on #289
@danil149 do you get any console output if you run from a terminal?

This looks more like a Steam runtime compatibility issue than a Reborn issue so I'm wondering whether to close this.

[2016-02-23 21:22] gdrewb-valve commented on #332
How is it nowadays?

[2016-02-23 21:23] gdrewb-valve commented on #337
Has this changed at all since the last post?

[2016-02-23 21:24] gdrewb-valve commented on #361
This isn't a Mac-specific issue.  I've passed it on to the larger team.

[2016-02-23 21:24] #361 closed, assigned to davidw-valve

[2016-02-23 21:26] gdrewb-valve commented on #389
How is the perf nowadays?

[2016-02-23 21:27] gdrewb-valve commented on #399
This does not appear to be a Reborn issue, should this be closed?

[2016-02-23 21:27] gdrewb-valve commented on #454
Closing as this no longer appears to be active.

[2016-02-23 21:27] #454 closed, assigned to nobody

[2016-02-23 21:28] gdrewb-valve commented on #464
Closing as this isn't a Mac/Linux issue.

[2016-02-23 21:28] #464 closed, assigned to nobody

[2016-02-23 21:29] gdrewb-valve commented on #487
Closing as this isn't a Mac/Linux issue.

[2016-02-23 21:29] #487 closed, assigned to nobody

[2016-02-23 21:31] gdrewb-valve commented on #527
Closing as we'll need full system info to try and determine what might be happening.

[2016-02-23 21:31] #527 closed, assigned to gdrewb-valve

[2016-02-23 21:31] gdrewb-valve commented on #549
Is this still happening?  Can you post your full system information from Steam?

[2016-02-23 21:34] gdrewb-valve commented on #603
Recent updates have made yet more memory changes, has this changed?

[2016-02-23 21:35] gdrewb-valve commented on #619
Closing pending a repro.

[2016-02-23 21:35] #619 closed, assigned to nobody

[2016-02-23 21:35] codycurley commented on #337
@gdrewb-valve All good! Haven't experienced it recently.

[2016-02-23 21:35] gdrewb-valve commented on #621
Closing pending a repro.

[2016-02-23 21:35] #621 closed, assigned to nobody

[2016-02-23 21:37] gdrewb-valve commented on #657
Closing pending confirmation this is still active.

[2016-02-23 21:37] #657 closed, assigned to nobody

[2016-02-23 21:39] gdrewb-valve commented on #681
Closing pending confirmation that this is still active.

[2016-02-23 21:39] #681 closed, assigned to danginsburg

[2016-02-23 21:40] gdrewb-valve commented on #688
Closing as this isn't a Reborn problem.

[2016-02-23 21:40] #688 closed, assigned to nobody

[2016-02-23 21:43] gdrewb-valve commented on #659
This may require an SDL change to force a screen clear on fullscreen transitions.

[2016-02-23 21:43] gdrewb-valve commented on #706
Is this still happening with the latest Reborn and NVIDIA drivers?

[2016-02-23 21:44] gdrewb-valve commented on #719
Closing as this isn't a Reborn issue.

[2016-02-23 21:44] #719 closed, assigned to nobody

[2016-02-23 21:44] gdrewb-valve commented on #721
Is this still happening with the latest Reborn and NVIDIA drivers?

[2016-02-23 21:45] gdrewb-valve commented on #727
Closing pending confirmation that this is still active.

[2016-02-23 21:45] #727 closed, assigned to nobody

[2016-02-23 21:45] gdrewb-valve commented on #730
Closing pending confirmation that this is still happening.

[2016-02-23 21:45] #730 closed, assigned to nobody

[2016-02-23 21:47] gdrewb-valve commented on #748
This doesn't appear to be a Reborn issue, should this be closed?

[2016-02-23 21:48] 14droplets commented on #706
I wanted to write about it just today, but forgot.
Yes, it seems that problem is gone with latest nvidia driver updates and the dota 2 itself. TY for your work, I'm closing issue.

[2016-02-23 21:48] #706 closed, assigned to nobody

[2016-02-24 01:10] danginsburg commented on #748
Yes, @JiangMufan needs to upgrade to mesa 10.5.8.  Looks like he was have some trouble doing so, conversation can continue if needed but this can be closed.

[2016-02-24 01:10] #748 closed, assigned to danginsburg

[2016-02-24 04:30] vadi2 opened #768 "Unable to launch since update, can't load module filesystem_stdio"
Had Dota open when it asked me to quit and update. Updated, now it can't launch with CAppSystemDict:Unable to load module filesystem_stdio (Dependency of application), error 2.

I've verified and re-verified the local game cache, deleted filesystem_stdio.so, nothing helps.

[code]

[2016-02-24 04:33] ThiemNguyen opened #769 "Dota client keeps crashing after latest update (Feb 24 2016)"
After upgrading to the latest version today, I'm unable to play because the client keeps crashing after loading screen.
No crash reports were created.

System information:
Mac OSX El Capitan
OS version: 10.11.3 (15D21)

![screen shot 2016-02-24 at 11 36 00 am](https://cloud.githubusercontent.com/assets/883217/13275756/d5cfe2d4-daea-11e5-8e08-d2567649454b.png)

[2016-02-24 04:35] eric-sofisoftwarellc commented on #769
Same. Dozens of reports on reddit of crash on launch both osx and linux clients.

[2016-02-24 04:39] jazztickets commented on #768
Same.

System info: https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/91e96043413aee2db2ced46cd723c5f1c0b4ea28/gistfile1.txt

[2016-02-24 04:51] Gabrielmtn commented on #769
![image](https://cloud.githubusercontent.com/assets/1121921/13275935/46d917b0-da88-11e5-98a6-fd6e5ce0ff5f.png)

![image](https://cloud.githubusercontent.com/assets/1121921/13275945/5d7096ec-da88-11e5-8d60-ee58d268a4ef.png)

[2016-02-24 04:59] baizhima commented on #769
me 2!

[2016-02-24 05:00] mrdeathman commented on #769
I confirm.
OS: Ubuntu 15.10 x64

[2016-02-24 05:04] jarcode-foss commented on #768
OSX users encountering the same issue, and so am I (arch linux user).

[2016-02-24 05:07] jakgregg opened #770 "Matchmaking does not complete on us-east and us-west"
Game wait times are growing exceedingly long, and many people on Reddit are expressing the same issues as wait times are infinite and matches cannot be found.

I believe this is affecting Windows systems, as all the Mac and Linux clients are crashing before startup.

Could you please look into this? I think no one can matchmake right now.

Edit: I noticed that the most recent changes to the win64

[2016-02-24 05:15] erween commented on #769
In my mac crash too..
How to fix it ???

![screen shot 2016-02-24 at 12 12 59 pm](https://cloud.githubusercontent.com/assets/3007014/13276281/4382ccba-daf0-11e5-970e-0daf2f735dcf.png)

[2016-02-24 05:21] lianguage commented on #769
I updated recently and can't start the game.
On ubuntu 14.04, I get the following error messages before the game even starts:
![dota2error1](https://cloud.githubusercontent.com/assets/8604697/13276345/6fdf1eea-db12-11e5-869a-5473ca4e6c4d.png)
![dota2error2](https://cloud.githubusercontent.com/assets/8604697/13276347/735de524-db12-11e5-87e0-0f6164aca2a9.png)

I follow the first message's advice and

[2016-02-24 05:27] Ziggitz commented on #768
After running the steam client from terminal this is what the error I'm getting on Ubuntu 14.04:

Game update: AppID 570 "Dota 2", ProcID 3695, IP 0.0.0.0:0
ERROR: ld.so: object '/home/ziggitz/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/ziggitz/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_P

[2016-02-24 05:29] buhman commented on #768
Looks like another update was released a few minutes ago that fixed this.

[2016-02-24 06:13] presianbg commented on #760
Yes, I do have shadows disabled.  Yes, enabling them seems to fix this message flood.

[2016-02-24 06:15] mrdeathman commented on #769
fixed

[2016-02-24 07:07] gumacahin commented on #549
Yes, it still does. It's even worse now. Previously, my fix is to temporarily switch to the on-board audio then switch back to the 2i2 to clear the noise. This fix no longer works. When in a match I have to switch to on-board audio if I want to enjoy the match noise free. When the match is over I'd have to restart Dota2 to clear the noise.

`Processor Information:
    Model:  Macmini7,1
    Vendor

[2016-02-24 07:12] gdrewb-valve commented on #770
This should be fixed.

For the future you'll want to post general issues at dev.dota2.com.

[2016-02-24 07:12] #770 closed, assigned to nobody

[2016-02-24 07:13] gdrewb-valve commented on #760
This affects all platforms and has been fixed in the 2/23 updates.

[2016-02-24 07:13] #760 closed, assigned to gdrewb-valve

[2016-02-24 07:14] gdrewb-valve commented on #549
Thanks.  Reborn uses SDL for audio so I'll pass this on to the SDL folks and see if they know anything about it.

[2016-02-24 07:39] gdrewb-valve commented on #768
This should be fixed on both Mac and Linux now.

[2016-02-24 07:39] #768 closed, assigned to nobody

[2016-02-24 07:40] gdrewb-valve commented on #769
This should be fixed on both Mac and Linux now.

[2016-02-24 07:40] #769 closed, assigned to nobody

[2016-02-24 13:46] maziyahu opened #771 "how can i fix it . please suggest me about play Dota2 on Mac"
i found this happen ,as a photo attached, when i finished download Dota2 from steam.
what can i do with it
please feel i free to contract me back anytime. Please inform me anything i need to do solve the problem

Thank you
this is my email : j.santatiwut@gmail.com
![12242965_1146531828698871_1027478584_o](https://cloud.githubusercontent.com/assets/17453329/13286955/f6a60aaa-db36-11e5-824a-5801c333

[2016-02-24 15:59] gdrewb-valve commented on #771
Have you verified your local file cache from Steam?  From the App properties in Steam look in Local Files and there's a button to verify.

[2016-02-24 17:49] gear4s commented on #603
no, same problem for me. happened just last night

[2016-02-24 18:14] Frank1230 commented on #389
Much better in fact. The interface and loading times are also much quicker. Sometimes though, there are some isolated games which cause my fps to drop.

Sent from my iPhone

[2016-02-24 20:47] gdrewb-valve commented on #389
OK, I'm going to close this issue.  If you find a specific set of repro steps for a slowdown go ahead and open a new one.

[2016-02-24 20:47] #389 closed, assigned to danginsburg

[2016-02-24 21:02] vonclutch commented on #603
In fact each update are worst, i have to force kill dota everygame cause of high ram usage due to the memory leak ( ui lag (menu/game), mini freeze, ... )

[2016-02-24 21:27] Aszti commented on #294
Failed to create UDP socket to talk to 162.254.199.171:27022.  socket() call failed.  Error code 0x0000277b.
Failed to create UDP socket to talk to 185.25.183.18:27032.  socket() call failed.  Error code 0x0000277b.
Failed to create UDP socket to talk to 192.69.97.250:27037.  socket() call failed.  Error code 0x0000277b.
Failed to create UDP socket to talk to 162.254.197.73:27040.  socket() call f

[2016-02-24 21:31] gdrewb-valve commented on #603
For people who are hitting issues have you updated your video drivers recently?

[2016-02-24 21:35] gdrewb-valve commented on #294
Are you running Windows?

[2016-02-24 21:40] vonclutch commented on #603
nope, sould i ?

my version -> 352.63
new one -> 361.28

[2016-02-24 21:43] gdrewb-valve commented on #603
It's just to gather more info, I have no idea if it'll make any difference at all.  If you have time and feel like it go ahead, otherwise don't worry about it.

[2016-02-24 21:46] gdrewb-valve commented on #337
OK, hopefully everybody else is OK also, closing.

[2016-02-24 21:46] #337 closed, assigned to nobody

[2016-02-24 21:48] vonclutch commented on #603
Kk, i'll try.
And i'll give you my feedback

[2016-02-24 21:51] Aszti commented on #294
yes. Win10

[2016-02-24 22:03] gdrewb-valve commented on #294
This forum is only for Mac and Linux bugs so this isn't the place for Windows support.  However it looks like your networking support is not working properly on your system and this isn't a Reborn bug at all.  Do a web search for "error 10107" and you'll find a bunch of stuff.

[2016-02-24 23:22] gdrewb-valve commented on #757
There's apparently a fix coming for this in a future update (no specific timeframe, unfortunately).

[2016-02-24 23:50] fumazu commented on #721
Frequency decreased by a lot. I'm still using NVIDIA driver version 352.63 though.

Edit: Game just crashed again while I was watching the Shanghai-Major. https://drive.google.com/open?id=0BzG05wyuCPL7c045WmJGMG5LSEU

[2016-02-25 02:38] maziyahu commented on #771
Thank you for your suggest
 i can resolve it now

[2016-02-25 04:15] admshao opened #772 "Can't Watch Secret x CDEC."
I`m able to watch any other dota tv game. Even EHOME x MVP was just fine both games...But can`t watch any of secret x cdec games.

gist of console.log -> https://gist.github.com/admshao/fe08b4e93d2fd921b921

[2016-02-25 08:12] gdrewb-valve commented on #772
Unlikely to be platform-specific, I've asked the larger team about this.

[2016-02-25 14:08] Aszti commented on #294
ooops, sorry. Thank you for your time and help!

[2016-02-25 19:47] gdrewb-valve commented on #721
That dump also is a crash in the NVIDIA driver.

[2016-02-25 22:06] #289 closed, assigned to gdrewb-valve

[2016-02-25 22:11] gdrewb-valve commented on #324
Closing as I think this has served its purpose.

[2016-02-25 22:11] #324 closed, assigned to nobody

[2016-02-25 22:14] gdrewb-valve commented on #338
Is there something further that can be done here?  The bugzilla reference mentions some kernel options which don't necessarily make sense but nothing more that I can see about whether there's some kernel change that should happen or not.

[2016-02-25 22:18] gdrewb-valve commented on #374
What is still active here?  The original report was on Mac and possibly doesn't happen any more?  Then luntik2012 reported a crash on Linux which would be a completely separate thing.  As davidw-valve said both are driver errors and not Reborn problems, but before I close this I want to see if anything has changed.

[2016-02-25 22:18] gdrewb-valve commented on #375
Has this changed since September?

[2016-02-25 22:20] gdrewb-valve commented on #30
Reborn just uses SDL for fullscreen and doesn't do any of its own handling.  I've asked the SDL devs if there's something they can do.

[2016-02-25 22:40] gdrewb-valve commented on #266
I'll check with the SDL devs.

[2016-02-25 22:41] #399 closed, assigned to davidw-valve

[2016-02-25 22:43] gdrewb-valve commented on #432
Is this still happening?  Some hitch would be expected because the main menu info update will require some work.  Also it should occur on all platforms.

[2016-02-25 22:43] gdrewb-valve commented on #456
Were you able to get any more information on this?

[2016-02-25 22:46] gdrewb-valve commented on #555
This doesn't appear to be a Reborn issue, as was decided for #359.  Is there a reason this should stay open?

[2016-02-25 22:50] gdrewb-valve commented on #63
After discussion with the SDL devs it doesn't look like the reasons to not offer exclusive fullscreen are going to change.  Are you running into some kind of issue with the current fullscreen support (which will request fullscreen status from the window manger, it's more than just a borderless window)?

[2016-02-25 22:52] buhman commented on #555
This looks like a duplicate of #359; if we feel like this is entirely xmonad's fault, then this should be closed I think.

[2016-02-25 22:53] gdrewb-valve commented on #613
This was passed on but after that we no longer know if anything is happening. Closing as this isn't a Reborn issue.

[2016-02-25 22:53] #613 closed, assigned to nobody

[2016-02-25 22:56] gdrewb-valve commented on #618
@Sebby91 does viettrung9012's approach work for you?  This doesn't appear to be a Reborn issue.

[2016-02-25 22:57] gdrewb-valve commented on #639
Has this changed at all since November?

[2016-02-25 22:58] gdrewb-valve commented on #715
Were you able to get any more info on this?  It doesn't appear to be a Reborn issue so I'm wondering whether to close it.

[2016-02-25 22:59] gdrewb-valve commented on #721
I would recommend upgrading your NVIDIA driver if you can and seeing if that helps.

[2016-02-25 23:01] gdrewb-valve commented on #741
Has the pattern changed any or is it just the first start after some updates that are slow?  Are things repeatedly slow for anybody?

[2016-02-25 23:21] vadi2 commented on #30
Thanks Drew!

On Fri, 26 Feb 2016 8:20 am Drew Bliss notifications@github.com wrote:

[2016-02-25 23:21] Jacke opened #773 "[OpenGL]Ubuntu 15.10 Nvidia 340.96(GeForce9800GTX+) Low FPS (10 FPS) but on Windows FPS are 40-60"
Hello. I have really low FPS about 10 on high and even low graphic settings.

[code]

GPU Info

[code]

Have anyone got any idea about fix?

[2016-02-26 00:06] Sebby91 commented on #618
Haven't had this issue in more than a month I think, thought you guys solved it honestly. If it appears again I will try that fix.

[2016-02-26 00:11] gdrewb-valve commented on #618
OK, closing.

[2016-02-26 00:11] #618 closed, assigned to gdrewb-valve

[2016-02-26 00:13] gdrewb-valve commented on #773
Did you get your numbers on Windows using -gl to compare OpenGL vs. OpenGL?

[2016-02-26 00:28] gdrewb-valve commented on #715
I'm going to close for now and we can reopen if it looks like something on the Reborn side.

[2016-02-26 00:28] #715 closed, assigned to nobody

[2016-02-26 04:40] Tele42 commented on #773
This is most likely vram pressure related.

[2016-02-26 05:07] sylware commented on #338
On Thu, Feb 25, 2016 at 02:14:40PM -0800, Drew Bliss wrote:

That was ages ago. Right now, I cannot test anything anymore (namely recent
kernel versions) as I'm trying not to end up an homeless person.

##

Sylvain

[2016-02-26 05:55] gdrewb-valve commented on #338
Well I hope that things work out for you!  I'm going to close this until we know if there's a specific thing that Reborn should do.

[2016-02-26 05:55] #338 closed, assigned to gdrewb-valve

[2016-02-26 05:55] gdrewb-valve commented on #771
This should be fixed by today's update.

[2016-02-26 05:55] #771 closed, assigned to gdrewb-valve

[2016-02-26 06:32] gear4s commented on #603
yep, I issued an update 3 days do

[2016-02-26 08:24] headinthebag commented on #456
@gdrewb-valve the problem was non-standard cursor system, back to default and everything worked

[2016-02-26 09:22] sylware commented on #338
On Thu, Feb 25, 2016 at 09:55:19PM -0800, Drew Bliss wrote:

Hope you will be right... but it's turning _really_ bad.
Just a few months left before the street becomes my home.

##

Sylvain

[2016-02-26 14:48] kunalsinha commented on #644
I am facing the same issue with Shanghai major live stream. Full screen not working.

[2016-02-26 15:12] vonclutch commented on #603
So i update my video driver, and clearly it's better. Don't know why but now the game has no more lags ( menu/ui but still freezing in game) and the game close after 3 games and not after 4.

Voilà!

[2016-02-26 16:18] gdrewb-valve commented on #644
Fullscreen not working is not a platform-specific thing so you'll want to report it at dev.dota2.com

[2016-02-26 16:19] gdrewb-valve commented on #603
Thanks.  We'll wait a bit to hear from the OP.

[2016-02-26 16:21] gdrewb-valve commented on #456
Thanks, closing.

[2016-02-26 16:21] #456 closed, assigned to gdrewb-valve

[2016-02-26 19:12] Jacke commented on #773
Just as expected. On windows with OpenGL flag FPS almost same as in Linux.
DirectX (Max Graphic sets)
http://images.akamai.steamusercontent.com/ugc/318998465881005279/B70E9B6578D72DF5D5E0835BF2A703C9F5F4A72F/
OpenGL(Max Graphic sets)
http://images.akamai.steamusercontent.com/ugc/318998465880945973/A4390F4B77E41860B0FD976DA84BB028E86823AF/

Anyway I know, that this GPU is old, but I'm not sure, tha

[2016-02-26 19:16] gdrewb-valve commented on #773
Good, at least that pins it down to the OpenGL renderer instead of a system-specific problem.

[2016-02-26 19:17] gdrewb-valve commented on #772
The larger team didn't have any suggestions.  Have you had problems watching any other matches?

[2016-02-26 19:58] Tele42 commented on #773
@Jacke: ToGL, which is used with source 1 because source 1 internally generates a d3d9 command stream, is a minimalistic translation layer that only knows how to use the parts of d3d9 that are used **in** source 1. If you want to try a directx render path on linux, you should be using wine, which has a robust d3d9 to opengl translation layer and runs **outside** of source 2.

What Desktop Environm

[2016-02-27 01:58] Jacke commented on #773
@Tele42 Yeah, I've already switch from Unity to Xfce, and yeah +2-3 FPS was added, but as @gdrewb-valve  said it's not system-specific issue. I think that 9800GTX doesn't have enough memory and new OpenGL instructions(in system conf GPU support only OpenGL 3.3) and 3.3 instructions take down more memory(because on Windows same thing happened). Now I'm testing d3d9 with wine and I will make a repor

[2016-02-27 09:44] Pharmasolin commented on #432
May be i will test it later and write result

[2016-02-28 07:02] az789456 opened #774 "[OS X] SUPER DUPER LOW FPS"
**The Problem**: Start the game, everything is fine and dandy client runs smoothly. Start of the match getting about 100 FPS or so ~ 2 mins into the game, get about 60 FPS then a team fight rolls around say 15-20 mins later and all sh*t breaks loose, everything is choppy, blocky animations. Now getting about 12 FPS. (literally unplayable) Then after the team fight I'm getting maximum 30-35 FPS at

[2016-02-28 09:13] NekR commented on #774
@az789456 it's common problem. I mean, all games on OS X get FPS drops in one or another situation. Even on latest Macbook Pro.

[2016-02-28 11:21] ghost commented on #774
Same here

I just stopped to play on OSX, i only play on my linux partition for now, i hope this will be fixed asap

OSX 10.11.4
NVIDIA GTX 960 - Web Driver - 346.03.06b01

[2016-02-29 16:45] lurgoyf commented on #774
Hi, I am experiencing the same problem. It was fine 2 days ago until yesterday.
Gameplay is choppy even when watching other ppl's game. It is unplayable especially during team fights.
however my fps remains 60-80fps at all times but its so lagging. All I see is frame by frame.

*running on iMac 2011
Mac Os El Capitan

[2016-02-29 16:52] ghost commented on #774
Ok i tested again today, things looks a bit better compared to last time i tested (1-2 weeks ago)

But it's still not how it was before, FPS isn't stable, i tested with and without vsync, with all settings, and with minimal one

There are some fps drop from 100 down to 40 in few seconds for no reason, there is something wrong

Displaying the big menu from ingame makes the game to freeze for few se

[2016-02-29 22:20] gdrewb-valve commented on #63
Closing pending more information.

[2016-02-29 22:20] #63 closed, assigned to gdrewb-valve

[2016-02-29 22:21] gdrewb-valve commented on #332
Closing pending more information.

[2016-02-29 22:21] #332 closed, assigned to gdrewb-valve

[2016-02-29 22:22] gdrewb-valve commented on #374
Closing pending more information.

[2016-02-29 22:22] #374 closed, assigned to gdrewb-valve

[2016-02-29 22:22] gdrewb-valve commented on #375
Closing pending more information.

[2016-02-29 22:22] #375 closed, assigned to gdrewb-valve

[2016-02-29 22:22] gdrewb-valve commented on #432
Did you get a chance to try this?

[2016-02-29 22:23] gdrewb-valve commented on #555
Closing as this doesn't seem to be a Reborn issue.

[2016-02-29 22:23] #555 closed, assigned to danginsburg

[2016-02-29 22:23] gdrewb-valve commented on #603
Closing pending more information.

[2016-02-29 22:23] #603 closed, assigned to gdrewb-valve

[2016-02-29 22:24] gdrewb-valve commented on #639
Closing pending more information.

[2016-02-29 22:24] #639 closed, assigned to gdrewb-valve

[2016-02-29 22:25] gdrewb-valve commented on #721
Closing as this doesn't appear to be a Reborn problem.

[2016-02-29 22:25] #721 closed, assigned to gdrewb-valve

[2016-02-29 22:26] gdrewb-valve commented on #741
Closing pending more information.

[2016-02-29 22:26] #741 closed, assigned to gdrewb-valve

[2016-02-29 22:26] gdrewb-valve commented on #772
Closing pending more information.

[2016-02-29 22:26] #772 closed, assigned to gdrewb-valve

[2016-03-02 14:19] danginsburg commented on #774
Would one of you mind trying Intel Power Gadget (https://software.intel.com/en-us/articles/intel-power-gadget-20) and reporting back if the clock frequency is correlated with framerate drops?

[2016-03-03 00:45] az789456 commented on #774
First of all, thanks for everyone taking the time to respond and giving me feedback.

@danginsburg I could do that certainly. I've installed the app, but the "Log" is not showing onto my selected destination folder (Save logs to).

[2016-03-03 03:47] gdrewb-valve commented on #432
Closing pending more info.

[2016-03-03 03:47] #432 closed, assigned to gdrewb-valve

[2016-03-03 03:48] gdrewb-valve commented on #734
Works for me also.  Closing pending more specific system information.

[2016-03-03 03:49] gdrewb-valve commented on #759
Closing as the larger team is still looking and has no immediate fix or questions.

[2016-03-03 03:49] #759 closed, assigned to gdrewb-valve

[2016-03-03 07:49] TrentBartlem commented on #618
Just started happening for me, but @viettrung9012's solution worked.

[2016-03-03 16:00] gdrewb-valve commented on #618
Thanks, that reinforces that it looks to be on the OSX side.

[2016-03-04 06:11] az789456 commented on #774
I think it might actually be the dedicated graphics card on the macbook that might be causing the problem.

I was playing Dota 2 with only my integrated graphics card using a program called, **_gfxCardstatus_** I was getting a good stable 60 FPS but with render quality set to 40%(lowest). I also had a program called **_smcFanControl_** (fan settings at maximum) running in the background.

PS. inte

[2016-03-04 09:34] magist3r commented on #473
I reinstalled Dota2 from scratch yesterday. Now I have this bug again when loading game with non-US layout:( But now pressing '1' recognizes by game as RETURN in every chat (not only in game chat like before). -input_button_code_is_scan_code or enabling checkbox in settings doesn't change anything.

It is completely fresh install (with Steam reinstalled too).

"openSUSE Leap 42.1 (x86_64)"
kernel

[2016-03-04 16:56] gdrewb-valve commented on #473
#453 is already open for key misrecognition. There's a request there from an SDL dev for more info so if you can post there that'd help.

[2016-03-04 20:40] vadi2 opened #775 "Steam Overlay no longer comes up"
Pressing Shift+Tab does nothing!

[code]

[2016-03-04 20:42] vadi2 commented on #734
[code]

[2016-03-04 20:44] gdrewb-valve commented on #734
Thanks, reopening.  We'll have to see if we can find a repro.

[2016-03-04 20:44] gdrewb-valve commented on #775
You'll want to report this in steam-for-linux instead.

[2016-03-04 22:26] vadi2 commented on #775
You're right, doesn't work in other games either.

[2016-03-04 22:26] #775 closed, assigned to gdrewb-valve

[2016-03-05 00:41] Eignar17 opened #776 "dark texture"
![captura de pantalla de 2016-03-04 18 25 37](https://cloud.githubusercontent.com/assets/8561550/13544153/f0deef4a-e240-11e5-9336-9c68d2cb3799.png)
is error in linux ubuntu 15.04 reset game in the error sometimes it happens

[2016-03-05 02:27] gdrewb-valve commented on #776
We'll need your specific driver, driver version and graphics hardware info (the Steam system info has this).  Also if you have an idea of what repro steps cause this that'll help.

[2016-03-05 02:41] Tele42 commented on #776
This looks like a system missing s3tc... @Eignar17 are you using mesa and are missing 64 bit libtxc-dxtn-s2tc0?

[2016-03-05 05:41] gdrewb-valve commented on #453
Anybody having this problem, please post the information per rcgordon's comment.  We need more information to make progress.

[2016-03-05 08:21] Eignar17 commented on #776
@Tele42 yes is bug in game reset game and fix and others not is dark

[2016-03-05 09:56] Sebby91 commented on #618
Yeah I got it again for the first time in a long time. @viettrung9012 solution worked for me aswel.

[2016-03-05 12:55] magist3r commented on #453
Here is my logs. I pressed button '1' after starting command with en and ru locales.
[log_en.txt](https://github.com/ValveSoftware/Dota-2/files/159842/log_en.txt)
[log_ru.txt](https://github.com/ValveSoftware/Dota-2/files/159843/log_ru.txt)

[2016-03-06 14:42] az789456 commented on #774
@danginsburg Indeed it is. After experimenting with the program. I am now fully aware my computer can run dota 2. The fact of the matter is after some time, "Power" graph starts to decrease and as a result frequency decreases. Do you have a fix to this?

<img width="1440" alt="screen shot 2016-03-06 at 9 36 50 am" src="https://cloud.githubusercontent.com/assets/8680453/13554829/f0ba3caa-e37f-11e5-

[2016-03-06 15:33] az789456 commented on #774
For anyone having the same problems as me, this forum post gave me some insight to my problem. Although not entirely the same specs, the exact same problems.

http://forum.notebookreview.com/threads/macbook-pro-retina-m370x-throttling-fixed.783317/

[2016-03-06 18:32] gdrewb-valve commented on #774
Interesting and unfortunate that you're hitting thermal throttling.  As this isn't a Reborn issue we'll probably end up closing this out.

[2016-03-06 19:46] Turmfalke2 commented on #776
I had this earlier today, restarting the game fixed it.

[2016-03-07 14:36] danginsburg commented on #774
@az789456 Thanks for investigating, this is what I guessed the problem was.  Unfortunately, as @gdrewb-valve said we don't have any control over this.  In Linux you can use things like cpufreq-utils and disabling of x86_pkg_temp_thermal to disable clock frequency throttling.  I do this when I'm doing Dota 2 performance work to get stable framerates.  I've never found a way to force this on Mac OS

[2016-03-07 15:20] danginsburg commented on #776
@Eignar17 Please post Steam -> Help -> System Information so we can try to repro this.  Any additional information on how to reproduce this bug would be helpful.

[2016-03-07 17:48] dphildebrandt commented on #332
Yeah this hasn't been an issue for a long time, thanks!

[2016-03-07 19:28] #774 closed, assigned to danginsburg

[2016-03-08 01:46] vadi2 commented on #765
Is it the same with 4k as well? This'll affect my decision to upgrade to 4k.

[2016-03-08 04:16] gdrewb-valve commented on #30
After discussion with the SDL devs there doesn't appear much that SDL can do.  The window is decorated as a fullscreen window and after that it's up to the window manager as to whether it allows WM behaviors or not.  Closing this as it's not a Reborn issue.

[2016-03-08 04:16] #30 closed, assigned to gdrewb-valve

[2016-03-08 04:18] gdrewb-valve commented on #119
This one is stalled out.  The window is decorated as a fullscreen window and after that it's up to the window manager as to whether it allows WM behaviors or not. It's not clear that there's anything that Reborn can do, although if we can track down a reliable repro (which we at Valve don't have) we might be able to pin down exactly what's going on.

[2016-03-08 04:19] gdrewb-valve commented on #293
After discussion with the SDL devs there doesn't appear much that SDL can do. The window is decorated as a fullscreen window and after that it's up to the window manager as to whether it allows WM behaviors or not. Closing this as it's not a Reborn issue.

[2016-03-08 04:19] #293 closed, assigned to gdrewb-valve

[2016-03-08 04:19] gdrewb-valve commented on #591
Closing pending further info.

[2016-03-08 04:19] #591 closed, assigned to gdrewb-valve

[2016-03-08 04:19] gdrewb-valve commented on #711
The SDL devs have identified this as a problem in ALSA itself so you'll want to follow up with that project.

[2016-03-08 04:19] #711 closed, assigned to gdrewb-valve

[2016-03-08 04:29] Tele42 commented on #119
@gdrewb-valve, this is definitely a case of the DE having higher priority in capturing keybindings than the game. Personally I believe this is the correct behavior, but it's unfortunate several DEs have decided to use Alt for several common actions. In this case Alt + left click is a common keybinding for move window (including moving fullscreen opengl windows from one screen to another which is i

[2016-03-08 04:32] gdrewb-valve commented on #119
I agree with behavior being up to the DE, but the strange part about this report is that it only happens sometimes / randomly. If it was just a priority issue I would think that it would be consistent.

[2016-03-08 10:11] sinatosk commented on #119
It hasn't happened to me in some months now, I don't remember when but you did an update sometime ago about fixing some input something and since then, not had any issues

after looking at the API of how to capture keyboard inputs... you can't remove that unless you explicitly request it too...

unless your continuously enabling/disabling the capturing during in game ( not spectating ) at times yo

[2016-03-08 12:12] lynx29 opened #777 "game client always disconnect offline mode"
When playing the game client always disconnect offline mode then would reconnect again to game coordinator making ping spikes and game lag.
this is my console log.
[console.log.zip](https://github.com/ValveSoftware/Dota-2/files/163112/console.log.zip)

[system information.zip](https://github.com/ValveSoftware/Dota-2/files/163110/system.information.zip)

[2016-03-08 14:02] Tele42 commented on #119
@gdrewb-valve, I am fairly sure Alt + Left click and Alt + Left click + any amount of mouse movement can be considered separate actions. Some DEs most likely take no action until the mouse has moved 1 or more pixels.

@sinatosk for reference, the KDE 4 setting I am referring to is at System Settings -> Window Behavior -> Window Behavior (Sidebar) -> Window Actions (Tab) and change the 'Inner Windo

[2016-03-08 17:00] gdrewb-valve commented on #777
You mean that Steam itself is going into offline mode?  The logs do appear to show that your logon state is toggling back and forth.  You'll want to report this on steam-for-linux here instead of Reborn.

[2016-03-08 17:01] gdrewb-valve commented on #119
I'm going to close this for now.  If somebody has repro steps that aren't related to window manager behaviors we can reopen.

[2016-03-08 17:01] #119 closed, assigned to nobody

[2016-03-08 23:14] lynx29 commented on #777
Thank you for your quick reply. It is only the dota 2 reborn game client, I am  looking at when this happen it goes offline mode then reconnecting to game coordinator. As you said that my logon state keep toggling back and forth. I would reset steam. I try to report this to steam on linux as it seem the problem is not on reborn client.

[2016-03-09 01:10] rdpascua opened #778 "[Linux] Fails to connect to game, shows connecting."
Whenever we play party queue using the same os which is (Ubuntu 14.04.01) , we encounter this weird issue that shows connecting during the loading time.

Let me know how can I help or what should I do to debug

[2016-03-09 01:22] karlimlengco commented on #778
+1

[2016-03-09 01:26] gdrewb-valve commented on #778
Please post your console logs.  Also did this just start happening or has it always happened?  What things changed on your system when it started happening?

[2016-03-09 01:31] rdpascua commented on #778
I don't remember when exactly this happens, but from time to time like 50/50 chance of getting this issue. I don't encounter this issue during the reborn patch. I think this issue happened after the reborn patch.

let me get a log, how can I dump the log anyway?

[2016-03-09 01:46] gdrewb-valve commented on #778
Add -con_logfile to your launch options.  That'll put console output into <Reborn install>/game/dota/console.log

Click on the 'Gist' option above to add that file here without a bug copy/paste.

[2016-03-09 06:05] rdpascua commented on #778
heres the log:
https://gist.github.com/rdpascua/1a1c29711f7f85420d50

[2016-03-09 20:17] gdrewb-valve commented on #778
Your log shows what appear to be random networking errors on your machine.  For example:

Invalid JSON data on line 1: Unexpected character 0x3c ('<')
Failed to fetch network config from CDN.  Steam datagram service will not be available!
Check your Internet connection, and make sure your browser can access the following URL:
   http://media.steampowered.com/apps/sdr/network_config.json

This is a

[2016-03-09 20:18] gdrewb-valve commented on #777
Thanks, closing.

[2016-03-09 20:18] #777 closed, assigned to gdrewb-valve

[2016-03-09 21:11] Eignar17 commented on #776
@danginsburg is update wind ubuntu 15.04 for 15.10 is bug I persists even though I have the latest version of the driver intel this error is already unusual but persists

[2016-03-09 22:47] rdpascua commented on #778
In attempt to resolve the issue , I tried emulating the server response seems working. , hovewer there is no cache data for network config json, i've read that this file is cached each time the client launches.

Sent from my iPhone

[2016-03-10 00:16] fumazu opened #779 "[Linux] Profile activity feed tab is empty"
**OS:** Ubuntu 15.10
**Client language:** German

**Problem:** The activity feed tab in the profile doesn't display any messages even though the feed preview on the home screen shows feed activity.
**Expected behavior:** Feed tab in the profile shows all feed messages while the home screen preview displays the three most recent.

![feed_home](https://cloud.githubusercontent.com/assets/12823243/136

[2016-03-10 00:57] gdrewb-valve commented on #779
I think this happens on Windows also, checking with the larger team.

[2016-03-10 01:13] gdrewb-valve commented on #779
The response from the larger team is that they two areas show slightly different information (one is only you and one has yours friends too) so what you're seeing is expected.

[2016-03-10 01:13] #779 closed, assigned to gdrewb-valve

[2016-03-10 13:00] AngryPenguinPL opened #780 "[Linux] After today update, Dota 2 quit to desktop just after start"
[edit] OK. It  working now. I verified files dota, and some were wrong. Steam downloaded several files. I run dota2 and it crash again. I verified again and again bad files. Downloaded files again. Now it starts well.

Topic for close.

Like in title. After today patch, my Dota 2 start fine but after few seconds (I see only dota2 logo) game quit to desktop.

I have steam logs:

 Thu Mar 10 12:46:4

[2016-03-10 13:29] fumazu commented on #779
Oh I see, thanks. I guess my Dota life is not very interesting then. ;-)

[2016-03-10 15:03] richardmatthias commented on #457
As of March 10, 2016, the newest Dota2 client still displays Chinese characters over heroes (and only there) in an unequal fashion.

[2016-03-10 17:59] insunaa opened #781 "Cannot start game from within Steam"
I can't start DotA 2 from the steam GUI. Same as Borderlands 2. When I hit "Play" in Steam, my status changes for a fraction of a second to "In Game[...]" and then switches back. The console spits out tons of libgl / LD_PRELOAD errors.
When I start the dota2 binary from console however, everything works just fine.
I'm running Arch Linux: x86_64 Linux 4.4.3-1-ARCH and I'm using the latest MESA driv

[2016-03-10 18:05] insunaa commented on #781
Here's the entire log from the console

[2016-03-10 18:09] insunaa commented on #781
And here, for contrast, how it looks when I start the game from console and then close the game from it's GUI:

[2016-03-10 19:15] Tele42 commented on #781
the key detail here is:

[code]

You have some workarounds for 32 bit opengl, but not 64 bit opengl. Go take a look at https://wiki.archlinux.org/index.php/Steam/Troubleshooting#Steam_runtime_issues again and apply what you need for the steam runtime to not interfere with 64 bit mesa.

[2016-03-10 19:30] insunaa commented on #781
I know these and I've tried using both workarounds and neither is working.

[2016-03-10 20:48] astroty commented on #776
This error happened to me on Windows (Nvidia OpenGL) once. Can't reproduce it though

[2016-03-10 23:22] astroty opened #782 "[Linux] Really slow framerate"
Processor Information:

[code]

Network Information:
    Network Speed:

Operating System Version:

[code]

Video Card:

[code]

Sound card:

[code]

Memory:

[code]

Miscellaneous:

[code]

Installed software:

I'm getting around 70-140fps on linux no matter what setting or resolution I use, while on Windows (OpenGL) I get 200+ consistently.
I've tried lots of others DE like XFCE (Which showed im

[2016-03-11 01:04] jazztickets opened #783 "Casting overpower on Ursa causes attack speed to display bogus number"
Does not happen on windows.

![20160310171425_1](https://cloud.githubusercontent.com/assets/425930/13690021/5df4996a-e6ea-11e5-8908-b17bf5caf650.jpg)

System info: https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/cf6df6481fb5df0cb8485f1a502772fa74ecb643/gistfile1.txt

[2016-03-11 01:07] gdrewb-valve commented on #781
This is a Steam runtime issue, you'll want to post this in steam-for-linux.

[2016-03-11 01:07] #781 closed, assigned to nobody

[2016-03-11 01:07] gdrewb-valve commented on #780
Thanks, closing.

[2016-03-11 01:07] #780 closed, assigned to nobody

[2016-03-11 21:19] marcobr92 commented on #756
where can i find the dota.sh and use the __GLVND_DISALLOW_PATCHING=1 %command% ?
Ubuntu 15.10 and 361.28 here

[2016-03-11 21:59] ghost commented on #756
@marcobr92 hey, its in the same place regardless of distro really.
1. right click on dota 2.
2. select properties.
3. local files tab.
4. browse local files.
5. game folder.
6. open dota.sh with a text editor and your good to go.

[2016-03-11 22:08] Tele42 commented on #756
really?
3. Click Select Launch Options...
4. Paste `__GLVND_DISALLOW_PATCHING=1 %command%` in the box.

[2016-03-12 00:45] gdrewb-valve commented on #783
This turned out to not be platform-related but a fix will be coming in a future update.

[2016-03-12 01:14] astroty commented on #782
Setting __GL_THREADED_OPTIMIZATIONS=0 gave me a huge performance boost and stability. I can get around 170fps now consistently, without much variation. Maybe 20 less at most.

[2016-03-12 04:38] #778 closed, assigned to gdrewb-valve

[2016-03-12 10:53] traflaw26 opened #784 "Dota Ubuntu 14.04 LoadSystemDependencies(): AppSystemDict: Error in Connect() of interface 'GameUI011'!"
Hello, i faced same problem like thread before this in here https://github.com/ValveSoftware/Dota-2/issues/267 but i tried to do same way to fix that issue using 'steam -- reset' but it doesnt work, please help :( i newbie too at ubuntu so please show me detail to do

sorry for my bad english

![screenshot from 2016-03-12 17 47 07](https://cloud.githubusercontent.com/assets/17796911/13722527/43010

[2016-03-12 14:36] pomali opened #785 "[OSX] Game crashes when match is ready"
How to reproduce:
Start finding match, cmd+tab out of Dota2 (to Chrome/Steam/Spotify), when match is found, notification is created but game crashes. It results in failing to ready up (or it automatically declines match).
(It does not happen every time, but I experienced it already 2 times in 6 games and it is annoying to lose ~5 minutes of life because of bug in game)

Expected behaviour:
When ma

[2016-03-12 15:01] Tele42 commented on #785
If you are able, attach a relevant crash report to this issue. If you are copy and pasting it in, please use <a href="https://gist.github.com/">gist</a>.

[2016-03-12 17:00] gdrewb-valve commented on #784
Check through the steam-for-linux repo and you'll see a number of similar things about OpenGL.

[2016-03-12 17:08] pomali commented on #785
Where can I get crash report?

Only thing I found was

[code]

in Utilities/Console.app

[2016-03-12 17:26] traflaw26 commented on #784
@gdrewb-valve but i face same problem again, after i rebooted and problem show up again can you help me?

[2016-03-12 17:32] gdrewb-valve commented on #784
Did you read through the steam-for-linux repo?  Go there and search for "direct rendering".

[2016-03-12 17:33] gdrewb-valve commented on #785
There may be some listed in the Steam system information.

[2016-03-12 17:38] traflaw26 commented on #784
@gdrewb-valve not that problem, i mean with first problem the " LoadSystemDependencies(): AppSystemDict: Error in Connect() of interface 'GameUI011'! "

[2016-03-12 17:57] gdrewb-valve commented on #784
That means your system is not set up to run Dota 2.  If you do search here you'll find several issues covering the same thing.

[2016-03-12 21:18] traflaw26 commented on #784
@gdrewb-valve what do you mean by 'my system is not set up'? can you show how to set up? because i already tried many ways to make dota work fine, but not even single thing was worked for me :(

[2016-03-12 23:10] astroty commented on #782
Checking around my system I found an script for kwin in /etc/profile.d/ export __GL_YIELD="USLEEP". Disabling this and enabling the __GL_THREADED_OPTIMIZATIONS raised my fps to 130-200+
Those two settings might have been causing incompatibility, probably giving me a lower frame rate. The frame rate variates too much though, but I guess the framerate being slow to a crawl issue was resolved (partia

[2016-03-12 23:10] #782 closed, assigned to danginsburg

[2016-03-13 20:20] gdrewb-valve commented on #784
Try reading some of the similar issues here, like #35, #105 and #267.

This repo is for reporting bugs only so there isn't a large community of people here to help with system configuration advice.  You might have more luck in a different forum, like reddit or such.

[2016-03-13 20:50] Tele42 commented on #784
@traflaw26, how about filling in some missing details by including your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information. As this report stands, there is nothing actionable due to lack of information. Also, please include the terminal output from starting Dota 2, which you can get by closing steam, then running steam from a terminal, or open a terminal

[2016-03-13 22:37] tell10glu opened #786 "Over CPU usage Macbook Air"
I am having trouble playing Dota 2 on macbook air. In game sometimes spike happens and ping goes around 1k or more, after that ping stays between at 300-500. When i look ram and cpu usage on activity monitor , Cpu usage is more than %100 and gameoverlayui is not responding as the image shown below.
[http://s23.postimg.org/7oq4ds297/Screen_Shot_2016_03_14_at_00_32_36.png](url)
System Overview :
Ope

[2016-03-13 22:56] NekR commented on #786
Dota 2 on OS X has fps drops in some places of a map. So far I know only
one such place -- fountain. Dota literally its your Mac then you are
staying at fountain, fans working at max, fps drops, etc.

Where on a map you had those problems?
On Mar 14, 2016 00:37, "Abdullah" notifications@github.com wrote:

[2016-03-13 23:21] tell10glu commented on #786
Not some places, it happens after almost 30 mins in game. Fps drop is not problem actually, ping goes crazy then stays at 300-500 range.

[2016-03-14 01:13] whysoseo opened #787 "Mouse Issue"
I am currently on OS X El Capitan 10.11.3 using a 27 inch iMac from Late 2013. My specs are: 3.2 GHz Intel Core i5, 8GB of DDR3, and NVIDIA GeForce GT 755M 1024 MB, along with the integrated video card from the i5.
I have an issue with Dota 2 and my mouse, and just about any other Valve game. I have to double click for anything I do, and many times even the double click doesn't work. From what I'v

[2016-03-14 02:39] gdrewb-valve commented on #786
The image link didn't work, but if you're sure that gameoverlayui is having problems you'll want to post in the steam-for-linux repo as that's injected by Steam for the Steam overlay.  You can also try disabling the community overlay in Steam and see if that helps.

[2016-03-14 02:43] gdrewb-valve commented on #787
We had some reports of this a while back but nothing recently and we don't have any repro so we don't have a way to make progress.  We'll keep this open and see if we can get more info.

[2016-03-14 07:17] ghost opened #788 "Dota 2 can't start fullscreen in some window managers without `wmname LG3D`"
In the ratpoison window manager, for example, I have to run `wmname LG3D` for Dota 2 to start in fullscreen (otherwise the window is never drawn, though I can 'alt-tab' to it). This is a hack that works for Java applications displaying properly in other tiling window managers as well.

[2016-03-14 10:24] ghost commented on #788
Ah, sorry, here's some system information as well.

Operating System Version:
    Linux (64 bit)
    Kernel Name:  Linux
    Kernel Version:  4.4.5-1-ARCH
    X Server Vendor:  The X.Org Foundation
    X Server Release:  11801000
    X Window Manager:  LG3D
    Steam Runtime Version:  steam-runtime-release_2016-02-23

Video Card:
    Driver:  Intel Open Source Technology Center Mesa DRI Intel(R) I

[2016-03-14 19:12] gdrewb-valve commented on #788
Dota uses SDL for fullscreening, I'll pass this on to the SDL devs.

[2016-03-14 19:34] drakon64 opened #789 "[Linux] Game launch produces window with corrupted graphics and crashes"
When I try to open Dota 2, a window appears that looks like this:
![screenshot from 2016-03-14 19-03-00](https://cloud.githubusercontent.com/assets/6444703/13757182/30310b10-ea1b-11e5-90a6-def5fcac1355.png)
for a few seconds, and then the game crashes.

Command line output:

[code]

System information:

[code]

I have removed libstdc++ from Steam Runtime (Steam would fail to launch with it present

[2016-03-14 19:48] drakon64 commented on #789
Occasionally, the game will open, but the menu will look like:
![screenshot from 2016-03-14 19-44-20](https://cloud.githubusercontent.com/assets/6444703/13758228/44556276-ea20-11e5-8a89-088c20312e36.png)
and upon attempting to spectate a match the game crashes with this error:

[code]

[2016-03-15 00:17] gdrewb-valve commented on #789
It's highly likely your OpenGL driver is not working properly, have you tried others?

[2016-03-15 13:35] danginsburg commented on #789
So this is on a AMD Radeon 56xx with mesa 11.0.3 git-b4bfea0.  Dota 2 was known good on mesa 10.5.9 on AMD, but I haven't personally tested this version of mesa.  Can you try a 10.5.9 build or upgrade to a more recent mesa build (11.2 is also known good)?  If this is still happening at the latest version of mesa we will need to file a bug report: https://bugs.freedesktop.org.

[2016-03-15 13:40] danginsburg commented on #776
I haven't personally repro'd this, but given the intermittent nature of this corruption and that it is happening across drivers and platforms, I suspect this might be a multithreading bug I fixed with the creation of renderstate objects.  Once that patch goes into a Dota 2 update I'll post here and ask if it is still reproducible.  If it is, we are going to need more specific system information.

[2016-03-15 20:39] okamid opened #790 "[MAC] Disconnected from server/timed out after about a minute after hero picks load ingame"
Note: Recurring problem since the original Reborn update was officially ported. Ping is always ~50, fps  ~50, and 0% packet loss during the time in server. Game stutters before disconnecting. Game stutters in both local host servers (even with 0 ping and fps ~60) and regular servers.

System Information
Processor Information:
    Model:  MacBookPro9,2
    Vendor:  GenuineIntel
    CPU Family:  0x6

[2016-03-15 20:43] drakon64 commented on #789
Bug still occurs on Mesa 11.1.0 (git-525f3c2), currently the newest available build on Fedora 23.

[2016-03-15 21:04] gdrewb-valve commented on #790
Likely not a Mac problem.

[2016-03-15 22:17] Tele42 commented on #789
Hi, I went ahead and threw Dota 2 on a gentoo laptop which has an E-350 and there is no apparent rendering issue with my chipset. I'm only mentioning this as reference, not to dispute that there is a problem.

Partial system information:

[code]

It's unclear at this point if the issue is occurring in mesa or in the kernel module, it may be worthwhile to try another kernel version if it is easily

[2016-03-16 10:50] drakon64 commented on #789
Could it be that you have disabled the Steam Runtime?

On Tue, Mar 15, 2016 at 3:17 PM -0700, "Tele42" notifications@github.com wrote:

Hi, I went ahead and threw Dota 2 on a gentoo laptop which has an E-350 and there is no apparent rendering issue with my chipset. I'm only mentioning this as reference, not to dispute that there is a problem.

Partial system information:

Operating System Version:

[2016-03-16 14:57] Tele42 commented on #789
@SocDemScum, yes, that is correct. I manage my own dependencies, but I have not heard of the steam runtime as the cause of graphical corruptions, just outright failure due to ABI incompatibility. The best I can do for you is inflate a minidump to symbol-less backtrace. A mesa dev suggested making an apitrace of the issue and sharing that.

[2016-03-17 09:19] ash47 opened #791 "[Linux] Panorama Crash"
Panorama is crashing in Legends of Dota when using Linux, while it is fine in Windows.

Someone has opened the following issue: https://github.com/ash47/LegendsOfDota/issues/200

It reads as follows:

I have created an issue on the forums:
http://dev.dota2.com/showthread.php?t=192895

I have an open issue on the LoD repo:
https://github.com/ash47/LegendsOfDota/issues/200

I will try to fix myself,

[2016-03-17 14:09] Tele42 commented on #791
A valve dev needs a minidump or CrashID to look into this. Also, it would be nice if the system information as requested at https://github.com/ValveSoftware/Dota-2#system-information was also provided.

[2016-03-18 05:26] whysoseo commented on #787
This issue was fixed after the most recent update, thank you.

[2016-03-18 05:26] #787 closed, assigned to nobody

[2016-03-18 23:02] ash47 commented on #791
Propagandalf: https://drive.google.com/file/d/0B8nRx0-0ymUeaDh2X2Juc2F5enM/view?usp=sharing
Propagandalf: Here is a crashdump for your thread with valve. I am not sure, that it is the right error (I did not found the word "panorama" in it)
Propagandalf: Also here my system specs: Debian 8.3 64 bit, window manager I3, graphics card: MSI Nvidia GTX 660,  driver version: Nvidia proprietary 4.4.0 340.

[2016-03-19 00:00] gdrewb-valve commented on #791
Thanks, that was what we needed.  We'll have a fix in an upcoming update.

[2016-03-19 16:31] zor1984qq commented on #756
Thank you that works.

[2016-03-19 19:20] 14droplets opened #792 "hotkeys does not work if keyboard layout was not english when dota started"
If dota2 launched with active non-English (Cyrillic in my case) keyboard layout, no hotkeys works in game.

Platform: `Linux 4.4.5-1-ARCH`
Xfce 4.12 desktop environment

[code]

[steam systeminfo](https://gist.github.com/Snork2/46406e65a7ed48e3b5ba)

[2016-03-19 19:40] Tele42 commented on #792
Hi, is this a problem if you go Options -> Hotkeys -> Advanced (bottom right corner) -> Bind keys based on key position instead of key name?

[2016-03-19 21:13] phoerious commented on #756
I just installed a kernel update to version 4.5.0 and all of a sudden none of the suggested workarounds appear to work anymore. Can you confirm this? I'm not able to launch Dota2 anymore despite having set the suggested launch options. Also using Arch Linux.

[2016-03-19 21:47] admshao commented on #756
Check your driver instalation again. I'm using latest kernel, i update
every sunday, and so far so good. Ofc. Using proper launch options
On Mar 19, 2016 6:13 PM, "Janek Bevendorff" notifications@github.com
wrote:

[2016-03-19 22:08] phoerious commented on #756
Driver installation was okay (361.28). Reverted back to 358.16 with kernel 4.3.3 for the time being. Other games also seem to have issues with the new nvidia drivers so I archived a working driver/kernel set a while ago.

[2016-03-19 23:31] gdrewb-valve commented on #784
Were you able to get things running?

[2016-03-19 23:32] gdrewb-valve commented on #786
Did changing your overlay settings help?

[2016-03-19 23:33] gdrewb-valve commented on #785
Did you find any failure reports in the Steam information, or anywhere else?

[2016-03-20 03:04] tell10glu commented on #786
No changing overlay settings didn't help. I am not sure what the problem is but when i see process in activity monitor, gameoverlayui is not responding.For example if i see activity monitor right now dota 2 takes %130 CPU and gameoverlayui is not responding and takes %1.4 CPU as well. I also set my startup configurations as -novid -high -console but i am not sure it helps or not.

[2016-03-20 03:04] #786 closed, assigned to gdrewb-valve

[2016-03-20 12:45] 14droplets commented on #792
Yes, it fixes everything, thank you.

[2016-03-20 12:45] #792 closed, assigned to gdrewb-valve

[2016-03-20 19:53] danginsburg commented on #776
Is this still happening with the most recent updates to Dota 2?

[2016-03-20 19:54] Turmfalke2 commented on #776
hard to tell, I only ever had it happen once and was unable to reproduce it.

[2016-03-20 21:12] gdrewb-valve commented on #776
I think we can close this.  If it happens again we'll reopen.

[2016-03-20 21:12] #776 closed, assigned to danginsburg

[2016-03-20 21:54] rudmint commented on #791
Here is my info,

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3400 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Su

[2016-03-21 19:38] gdrewb-valve commented on #791
@rudmint I was not able to get any information out of the file you shared so it's not clear if you have a different issue or the same as the original.

[2016-03-21 23:12] rudmint commented on #791
Argh - please try this:
https://drive.google.com/file/d/0B65ebUqEuzvGNVFJdzRCcXlLSHM/view?usp=sharing

[2016-03-22 00:26] gdrewb-valve commented on #791
No luck with that one either.  The file will be a binary file, not a .txt file.

[2016-03-22 01:49] rudmint commented on #791
https://drive.google.com/file/d/0B65ebUqEuzvGcVNxaUFURWpJUG8/view?usp=sharing

... ?

[2016-03-22 01:55] gdrewb-valve commented on #791
That one doesn't come up as valid either.  If you look in the Steam client System Information do you have failure report IDs?

[2016-03-22 16:39] rudmint commented on #791
Recent Failure Reports:
    Wed Mar 16 02:38:13 2016 GMT: file ''/tmp/dumps/crash_20160315223750_1.dmp'', upload yes: ''Discarded=1''
    Sun Mar 20 21:34:57 2016 GMT: file ''/tmp/dumps/crash_20160320173026_1.dmp'', upload yes: ''Discarded=1''

The file I've attempted to share is the second one.

[2016-03-22 16:41] gdrewb-valve commented on #791
Sorry yet again but when the report is discarded (Discarded=1) it isn't kept at Valve so I can't look at them.  If you can cause it to crash again and see if you have a new failure report that has an ID I can look it up by ID.

[2016-03-22 16:48] rudmint commented on #791
[code]

[2016-03-22 18:29] gdrewb-valve commented on #791
Thanks, I was able to look at that and you have the same crash as ash47.

[2016-03-22 18:39] rudmint commented on #791
Thanks.

[2016-03-22 19:18] gear4s commented on #734
also guys please give your DE + settings, I had a problem with this and it turned out to be a setting and a specific WM. I've sinced changed it to LXDE and changed some settings and now it works. :)

[2016-03-22 19:31] gear4s opened #793 "[Linux] Game does not close"
I've had this problem before but not sure if to reopen. DotA seems to almost always never stop running (always stuck on the  "Do you want to quit?" prompt)

It went away for a while and it recently came back after the 100-ish mb update. Ran it multiple time to be 100% sure.

This is my [sytem information](https://gist.github.com/gear4s/a23aeb52820983239970) (intalled packages and sys info)

This i

[2016-03-22 19:33] vadi2 commented on #734
Unity in 14.04 LTS.

On Wed, 23 Mar 2016 5:18 am Aaron, notifications@github.com wrote:

[2016-03-22 19:54] gdrewb-valve commented on #793
No repro for me, we'll have to see if we can figure out what's happening on your machine.  Are you familiar with gdb at all?

[2016-03-22 19:56] gear4s commented on #793
yea I can use GDB. what do you need ? I'm just hoping it's not one of those problems that automatically solve itself when running in gdb :8ball:

[2016-03-22 20:00] gdrewb-valve commented on #793
For now just a quick look at the stack of thread 0.  It may or may not be interesting, but there will be a lot of threads so before we look at them all we'll see if thread 0 is anywhere useful.

[2016-03-22 20:14] gear4s commented on #793
thread 0 ? it starts at thread 1

[2016-03-22 20:22] gdrewb-valve commented on #793
Sorry, yes thread 1.

[2016-03-22 20:41] gear4s commented on #793
yea, tried 12 times, 5 after watching part of game, 5 during watching game, and 2 after playing, can't reproduce in gdb

[2016-03-22 20:43] gdrewb-valve commented on #793
Those all worked properly?

[2016-03-22 20:47] gear4s commented on #793
yes

[2016-03-22 21:00] gdrewb-valve commented on #793
We'll leave this open and see if it repros.

[2016-03-22 21:19] ash47 commented on #791
You guys are really quite dedicated, it's very impressive. For the record,
the information I have only forwarded information on behalf of other users,
I don't actually play Dota on Linux.
On 23 Mar 2016 5:39 AM, "rudmint" notifications@github.com wrote:

[2016-03-22 21:21] gear4s commented on #793
ok thanks :) I'll let you know asap if it does it more then 5 times

[2016-03-23 02:15] hrzhu commented on #756
Just installed the newly released Nvidia-364, now I can start dota2 without the workaround. Don't know it's Nvidia or Valve that solves the problem though.

[2016-03-23 02:36] Tele42 commented on #756
@hrzhu the issue was with libglvnd bundled with nvidia 361.28, that hasn't changed...

[2016-03-23 09:31] ruscur commented on #556
The workaround from #13, -sdl_displayindex 2, has regressed in the current test client.  Now always displays on the wrong monitor regardless of argument to sdl_displayindex.

[2016-03-23 13:38] zor1984qq commented on #756
yes its fixed probably in the new beta driver so called 364 but...still it is beta and it does not exists for my Sabayon or Gentoo package base and if I trying to mix entropy packages with portage I get more problems then benefits. Thats it I just prefer to stay with Sabayon 16.04 weekly repo branch and stay out of trying to update nvidia-drivers from portage gentoo or via nvidia sh package. Cause

[2016-03-23 13:58] rudmint commented on #791
Just curious, will this be fixed with the Spring Cleaning 2016 update or will it be in a separate update?

[2016-03-23 14:13] Tele42 commented on #791
@gdrewb-valve or another dev will report on this issue report if they have a fix lined up that they know is for this issue.

[2016-03-23 15:37] gdrewb-valve commented on #791
Yes, the fix will be in the Spring Cleaning update.

[2016-03-23 15:41] gdrewb-valve commented on #556
That's probably an SDL fix since using an invalid display index was never something that was supposed to help.  I'll pass this on to the SDL folks.

[2016-03-23 19:09] gdrewb-valve commented on #556
@ruscur , what window manager are you using?

[2016-03-23 23:45] ruscur commented on #556
cinnamon 2.8.3

[2016-03-24 10:00] pomali commented on #785
It didn't happen since and there is nothing in Steam System Information. If it will happen again I will post logs here.

[2016-03-24 15:30] gdrewb-valve commented on #785
Thanks, closing for now.

[2016-03-24 15:30] #785 closed, assigned to gdrewb-valve

[2016-03-24 22:52] enknamel opened #794 "[Mac] Game crashes immediately with today's patch"
Below is the Apple generated crash dump. Basically with today's patch, if I enter into a game, the client crashes about 1 second after loading up in game.

Process:               dota2 [5700]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:            com.dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Paren

[2016-03-24 22:57] literallyunplayable opened #795 "Client crash when launched with '-console' startup flag after SPRING CLEANING update"
EDIT: The below is misleading, the client crashes when the console is opened in any way, either through the -console flag or through using the settings menu to assign a hotkey and pressing that key.

--- old post ----
When you launch the game with the '-console' flag, the client will crash on startup.

What should happen: -console option overrides existing setting, and client does not crash.

Work

[2016-03-24 22:58] abobier opened #796 "[Linux] Impossible to launch DotA 2"
The crash arrives after the DotA 2 logo on Ubuntu 15.10

dmesg
`[ 5633.132188] dota2[5245]: segfault at 0 ip 00007f2e412613f1 sp 00007ffeaf677570 error 4 in libmaterialsystem2.so[7f2e41200000+178000]`

uname -a
`Linux pcabo 4.5.0-040500-generic #201603140130 SMP Mon Mar 14 05:32:22 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

lspci | grep VGA
`01:00.0 VGA compatible controller: NVIDIA Corporation GM1

[2016-03-24 22:59] abobier commented on #796
-console in launch properties

EDIT: that works without -console

[2016-03-24 23:12] danielpervan commented on #794
I got the same problem.

Mac Pro Late 2013
OS X 10.11.4

[2016-03-24 23:17] eric-sofisoftwarellc commented on #794
Same here
MBP 15" Late 2013
10.11.4

[2016-03-24 23:26] dannytaylor commented on #796
Able to launch after removing -console, but crashes almost immediately when you load your hero into the game. I'd advise not playing to avoid abandons/lost mmr.

Ubuntu 15.10
4.2.0-34-generic
NVIDIA Corporation GM107 [GeForce GTX 750]

dmesg
`[772464.707325] dota2[3742]: segfault at 0 ip 00007f4d251bc3f1 sp 00007fff2a301100 error 4 in libmaterialsystem2.so[7f4d2515b000+178000]
`

[2016-03-24 23:26] skoehler opened #797 "segfault"
[ 1099.147987] GlobPool2[4809]: segfault at 0 ip 00007ff6d03bb3f1 sp 00007ff6da5226b0 error 4 in libmaterialsystem2.so[7ff6d035a000+178000]

Can't play anymore since update from 20 minutes ago. Crashes randomly after 5 mins of gameplay.

[2016-03-24 23:28] az789456 commented on #794
omg my game kept crashing, it was horrible\

rMBP Early 2013
10.11.4

[2016-03-24 23:28] Vuccappella commented on #794
Late 2012 Imac

10.11.3

Game crashes 10 seconds after loading in custom lobbies or in demo hero mode, im sure the same happens in everything else pretty much. Also skilling your skills with ctrl hold doesn't work anymore. The game is unplayable at the moment, very disappointing that this update was pushed in its current state.

[2016-03-24 23:32] tito commented on #797
Same :(

[2016-03-24 23:39] addi commented on #797
Same here, the update is broken. Crashes about every minute.

Retina macbook pro, OS X10.11.3.

[2016-03-24 23:39] anilanar opened #798 "Thanks valve"
For breaking the game for OSX and not EVEN testing it for fucks sake.

[2016-03-24 23:44] gdrewb-valve commented on #796
A fix is on the way.

[2016-03-24 23:45] gdrewb-valve commented on #797
Does it work if you remove -console from your launch options?

[2016-03-24 23:45] gdrewb-valve commented on #795
A fix is on the way.

[2016-03-24 23:48] #798 closed, assigned to nobody

[2016-03-24 23:48] skoehler commented on #797
I don't have -console in my launch options. My launch options are:
primusrun %command%

[2016-03-24 23:56] literallyunplayable commented on #795
thanks!

[2016-03-24 23:57] lrijneveld commented on #794
MacBook Pro (Retina, 15-inch, Mid 2015)
OSX 10.11.3 (15D21)

Game crashes after 2 to 15 seconds while loading players, hero selection and playing.

[2016-03-25 00:00] tfhavingfun commented on #794
Same here on Linux. Crashes constantly in gameplay.

[2016-03-25 00:12] samuelclark commented on #797
same here, crashes constantly after 10 seconds to 3 minutes in game

[2016-03-25 00:13] samuelclark commented on #794
same here

[2016-03-25 00:14] KaiSforza commented on #795
Just came in to see if this was being worked on and to report that the workaround does not work on my system. Not sure if this changes the fix at all, but I cannot open the console, regardless of the launch flag or option in the game itself.

[2016-03-25 00:14] samuelclark commented on #796
@gdrewb-valve is there a fix for the mac issue -- absolutely unplayable, have received 2 abandons.

[2016-03-25 00:15] adamrisser commented on #794
Same
OSX 10.11.3 (15D21)
MacBook Pro (Retina, 15-inch, Mid 2014)
Graphics: Intel Iris Pro 1536 MB

[2016-03-25 00:15] credondocr opened #799 "Mac osX Crash"
Unplayable on my mac after this update.

[2016-03-25 00:17] Dan2789 commented on #794
same here after the latest patch. can't even play a single game

[2016-03-25 00:20] Dan2789 commented on #799
no worries, it seems every one got the same problem.

[2016-03-25 00:28] neko-kai commented on #698
Appears to have been fixed with Spring Cleaning update.

[2016-03-25 00:28] #698 closed, assigned to gdrewb-valve

[2016-03-25 00:30] Jubilant-Lancer commented on #795
I myself am unable to open console at all. I can get in game and all settings I have in my autoexec work fine but my console will not open. Ubuntu 14.04

[2016-03-25 00:44] tomekmarchi commented on #794
same issue. Sad to see this happens on a re-occurring basis.

[2016-03-25 00:48] Storm-Engineer commented on #756
I just ran into this today after not launching Dota for a long time. Freshly upgraded Arch Linux, still with nvidia driver 361.28-4.

As stated above, launch option "__GLVND_DISALLOW_PATCHING=1 %command%" solved it.

I assume Arch will update to the new nvidia soon.

[2016-03-25 00:49] epugmire commented on #794
Same issue...

[2016-03-25 01:02] ifernandezv commented on #794
Same problem DOTA CRASH after last UPDATE!!!!! twice DC

[2016-03-25 01:04] epugmire commented on #794
In fact, after the 38MB update, it's worse.

[2016-03-25 01:15] justadropofwater commented on #794
![screen shot 2016-03-24 at 8 14 04 pm](https://cloud.githubusercontent.com/assets/1103086/14035518/3460a9cc-f1fd-11e5-8aa2-f39cc121400c.png)

I remember this from last year around fall. It's not a firewall thing.

[2016-03-25 01:23] yihengsong opened #800 "MAC OS CRASH -25mmr"
Return our mmr plz..

[2016-03-25 01:46] samuelclark commented on #800
-55 mmr

[2016-03-25 01:48] samuelclark commented on #794
will this be fixed tonight?

[2016-03-25 01:51] hooligan495 commented on #794
same here.. also lost 100 tokens

[2016-03-25 01:54] gdrewb-valve commented on #799
Closing duplicate.

[2016-03-25 01:54] #799 closed, assigned to nobody

[2016-03-25 01:54] gdrewb-valve commented on #800
Closing duplicate.

[2016-03-25 01:54] #800 closed, assigned to nobody

[2016-03-25 01:55] nexeh commented on #794
Same issues

[2016-03-25 01:55] gdrewb-valve commented on #794
We'll be shipping fixes for what we've found tonight.  It looks like people may have multiple issues so it's unclear if everything will be fixed but we'll keep the fixes coming.

[2016-03-25 02:01] hooligan495 commented on #794
Thanks!  Will we be able to get our tokens back for the winter battle pass?

IS there anything we can do to get you more information that would help identify issues?

[2016-03-25 02:02] nexeh commented on #794
@gdrewb-valve ETA of the fixes that are coming out tonight? I will stick around to test if it will be soon.

[2016-03-25 02:04] Shenglai commented on #796
@gdrewb-valve crash only when playing games (eg. hero demo, lobby bot game, and any kinds of matching). It's fine to stay at main page, browse the store. From OSX 10.11.2

[2016-03-25 02:06] gdrewb-valve commented on #794
This is just a technical area for bug reporting, we don't know anything about refunds or resets.  You can post at dev.dota2.com for that kind of thing.

I don't have any specific time for the next update but it's probably at least 30 minutes away.

[2016-03-25 02:11] nexeh commented on #794
I just tried to watch a match and not surprising that it also crashes. I grabbed the crash report.

[code]

[2016-03-25 02:23] nexeh commented on #794
@gdrewb-valve I just got an update at 10:20PM EST and tested. the issue persists to be a problem.

[2016-03-25 02:59] az789456 commented on #794
seems like the problem was just fixed for me with the 19mb update10:58PMEST\

edit:nvm =[

[2016-03-25 03:00] tomekmarchi commented on #794
Same recent update aka hotfixes did nothing. I don't understand why a large company doesn't do simple unit testing to avoid this. All they had to do to avoid this was literally play the game for 10mins hunt the bug and patch it.

[2016-03-25 03:05] justadropofwater commented on #794
Last patch did not fix 'WindowServer: CGXGetConnectionProperty: Invalid connection' issue.

[2016-03-25 03:07] #784 closed, assigned to gdrewb-valve

[2016-03-25 03:07] tabanger commented on #794
19MB patch has done nothing to fix the crashing.

[2016-03-25 03:08] gdrewb-valve commented on #783
This is fixed in the Spring Cleaning update.

[2016-03-25 03:08] #783 closed, assigned to gdrewb-valve

[2016-03-25 03:10] gdrewb-valve commented on #84
Does this still happen?

[2016-03-25 03:11] gdrewb-valve commented on #268
Is this still happening after the March 24 SDL update?

[2016-03-25 03:12] fedness commented on #794
confirmed issue

[2016-03-25 03:13] gdrewb-valve commented on #301
Did the fonts change after the March 24 updates?

[2016-03-25 03:13] gdrewb-valve commented on #303
Is the ranged spell issue still happening?

[2016-03-25 03:14] gdrewb-valve commented on #347
Is this still happening after the March 24 SDL update?

[2016-03-25 03:14] gdrewb-valve commented on #360
Is this still happening after the March 24 SDL update?

[2016-03-25 03:14] gdrewb-valve commented on #453
Is this still happening after the March 24 SDL update?

[2016-03-25 03:15] gdrewb-valve commented on #584
Is this still happening after the March 24 SDL update?

[2016-03-25 03:15] apollu07 commented on #794
Why not just roll back the updates immediately after detecting crashes

[2016-03-25 03:16] gdrewb-valve commented on #674
Is this still happening after the March 24 SDL update?

[2016-03-25 03:16] gdrewb-valve commented on #694
Is this still happening after the March 24 SDL update?

[2016-03-25 03:16] gdrewb-valve commented on #734
Is this still happening after the March 24 SDL update?

[2016-03-25 03:17] gdrewb-valve commented on #765
Is this still happening after the March 24 SDL update?

[2016-03-25 03:17] gdrewb-valve commented on #791
The update with the fix is out, are you still having the problem?

[2016-03-25 03:25] onedr0p commented on #796
The game is crashing anytime there's dust being used. I'm on OSX 10.11.2

[2016-03-25 03:28] NekR commented on #794
I believe that Windows users are just fine with new update, so it doesn't
make sense to steal it away from them. Things happen.
On Mar 25, 2016 05:15, "Lu Lu" notifications@github.com wrote:

[2016-03-25 03:28] Enzime commented on #674
It appears to be fixed :) Nice to see a lot more ALSA outputs enumerated, I don't know if this is possible with SDL, but hopefully one day I would love to see Dota including an option for specifying the PCM to output to with ALSA :)

[2016-03-25 03:28] #674 closed, assigned to gdrewb-valve

[2016-03-25 03:31] gdrewb-valve commented on #674
You can file a request in the SDL forums and we'll see.

[2016-03-25 03:35] Enigma7ic commented on #795
Yup still happens to me every 5 secs even after installing like 3 patched tonight. WTF? Did nobody test this!?

[2016-03-25 03:40] glajchs commented on #796
I had the segfault on linux on startup just like the original poster, and found that after a steam restart (about 3 hours ago) to apply a steam update, it fixed itself.  About 1-2 hours after that, there was a dota update.  So I think in this case the steam update has resolved this.  Maybe @abobier can confirm as well.

[2016-03-25 03:46] vadi2 commented on #734
Only had a chance to test it once, but it did work. Big thanks.

[2016-03-25 03:46] #734 closed, assigned to gdrewb-valve

[2016-03-25 03:46] mmuldoon commented on #794
Same issue here, they should at least test on a few mac before pushing.

[2016-03-25 03:49] apollu07 commented on #794
"Steal away from them". This sounds like the updates are critical to user experience and users won't be happy not to have them. But actually most of the updates are not even sensible and the only thing users care is please don't make me play 4v5.

The real reason is that "number of mac users is so small and we don't give a ****".

[2016-03-25 04:00] inikiforovski commented on #796
Having the same issue on OSX 10.10.5. The main menu, store, lobby are all good. It either crashes right when loading into a game or intermittently after. It seems like panning around the map a bunch increases the likelihood of a crash. I would say it's happening pretty consistently about 15 seconds to a minute once I get back into the game.

Edit: wanted to mention that I don't have -console enabl

[2016-03-25 04:06] mmm0nky commented on #794
Things happen? When I've spend over a grand on a game I expect it at the very least to work.

[2016-03-25 04:07] dtn2114 commented on #794
still happening. No update so far.

[2016-03-25 04:12] ChemicalWonders commented on #796
I have this issue while running on OSX 10.11.3. Is it affecting all OSX clients? After multiple restarts and verifying game caches, the issue keeps popping up. :(

[2016-03-25 04:13] gdrewb-valve commented on #797
An update is just coming out which should help with at least some of this.

[2016-03-25 04:14] gdrewb-valve commented on #796
An update is just coming out which should help with at least some of this.

[2016-03-25 04:14] gdrewb-valve commented on #794
An update is just coming out which should help with at least some of this.

[2016-03-25 04:15] fedness commented on #794
updated, still crashing.

[2016-03-25 04:17] ramverma92 commented on #796
I got the new update, but still crashing overtime :(

[2016-03-25 04:19] Narthorn commented on #584
Yes, this is still happening here.

[2016-03-25 04:20] leungandrew commented on #797
Just updated on my Macbook pro OSX 10.9.5.  Still crashes upon spectating a game almost immediately.

[code]

[2016-03-25 04:24] dtn2114 commented on #794
updated but still crashing

[2016-03-25 04:25] tabanger commented on #794
27.4 MB patch did nothing to fix the crashing.

FWIW, my crash is identical to the first report in this thread by enknamel, with EXC_CRASH (SIGABRT), and stack overflow.

[2016-03-25 04:33] danielpervan commented on #794
I'm still having the same problem as before.

[2016-03-25 04:41] ghost commented on #794
Still having the same issue :)

[2016-03-25 04:46] gdrewb-valve commented on #795
Is any non-Mac user still seeing problems?

[2016-03-25 04:47] snide commented on #794
Having this issue pretty constantly on my late-2013 macbook pro. Using GT 750M vid card. Was playing bounty hunter and would happen every time dust was used. Salt on the wound man.

[2016-03-25 04:47] gdrewb-valve commented on #796
Is any non-Mac user still seeing problems?

[2016-03-25 04:48] ghost commented on #794
My macbook is the latest high-end pro, still have the same issue, pretty sure it's not the hardware issue.

[2016-03-25 04:49] gdrewb-valve commented on #797
Are any non-Mac users still having problems?

[2016-03-25 04:57] toanqc commented on #794
same issue, even deleted all steamapps and reinstall.... problem still exist

[2016-03-25 04:58] rcano commented on #347
Just checked, and yes.

[2016-03-25 04:59] zanderzhng commented on #794
I heard this and tried a solo bot game on macbook. Game crashed immediately after picking up a hero.

[2016-03-25 05:01] gdrewb-valve commented on #794
For those of you seeing problems with dust, does it repro every time you go to demo hero, buy and use dust?

[2016-03-25 05:07] zanderzhng commented on #794
@gdrewb-valve I tried like 5 times after seeing your comment, with different graphics settings, and yes.

[2016-03-25 05:07] dtn2114 commented on #794
game crashed immediately after loading screen. Happen consistently in demo hero or match.

[2016-03-25 05:10] WrothStudio commented on #794
@gdrewb-valve I tried three times with dust in hero demo, and yes it always crashes. It crashes as the dust animation completes it looks like, not as it starts. Here is a crash report in case that information is helpful, http://pastebin.com/WQHXFYBR ...

[2016-03-25 05:19] gdrewb-valve commented on #794
Thanks, hopefully that'll help us figure out the problem with dust.

[2016-03-25 05:20] gdrewb-valve commented on #794
We'll continue looking into all of the Mac problems.  I would not expect new updates until tomorrow (Friday March 25).  Sorry for the extended downtime.

[2016-03-25 05:22] juston-li commented on #796
@gdrewb-valve Linux user here, was seg faulting earlier today every 2-5 minutes in a match.
Currently I can't seem to reproduce though so far I've only tried in spectating and bot games. Queuing for a match now.

Linux asus-m51ac 4.5.0-CUSTOM-00006-g9ceb4e9 #1 SMP PREEMPT Sun Mar 13 22:09:14 PDT 2016 x86_64 GNU/Linux
GTX 970
OpenGL core profile version string: 4.5.0 NVIDIA 364.12

EDIT: No issues

[2016-03-25 05:35] gdrewb-valve commented on #556
We've added an experiment in the March 24 update to try and get more data.  For people with problems can you add -phased_window_create to your launch options and see if that changes anything?

[2016-03-25 05:46] omartan commented on #794
zzz, thanks for getting me abandoned (probably reported for it as well) and having more lose count on my fav heroes. -.-

[code]

[2016-03-25 05:56] tobiashagge opened #801 "El Capitan crash 30 seconds after entering game"
Game exits to desktop about 30 seconds after entering game as a player or in spectator mode. Does not produce a crashlog or dialog box. No launch options set, problem persists after reinstalling the game.

Some system information:

OS X El Capitan (10.11.4)
Mac Pro (Early 2008)
6 GB RAM
NVIDIA GeForce GTX 650 Ti BOOST 2048 MB

Some output from Console:

3/24/16 10:42:51.398 PM WindowServer[197]: d

[2016-03-25 05:58] omartan commented on #801
Thank goodness I didn't tried reinstalling the game as it's the patch that broke it

[2016-03-25 06:30] NateJC commented on #794
So I get an abandon and low-priority (first time ever) and wasted my wager discovering this problem... That's incredibly frustrating.

[2016-03-25 06:38] gxgani commented on #801
OS: OSX 10.11.4
Intel HD 4000

Seems to be working fine here(tested spectate + bot match). I did get a 25MB sized update few hours ago.

[2016-03-25 06:48] DaveK-Valve commented on #794
Would someone that can reproduce the problem without risking an abandon please try running with "-threads 0".

Your performance will suffer if left on the command line in subsequent runs.

[2016-03-25 06:49] gxgani opened #802 "Make OSX/Linux DotA 2 Test Client available?"
I mean this is not the first time these issues have occurred, got myself into Low priority for nothing in the previous patches. By having test client just like the windows users will let us test the game and let the devs know about issues prior to the patch/update release.

Thanks!

[2016-03-25 06:55] u00101010 commented on #802
There is one! Those who played during the beta **have** the Test Client, which is the same as the Windows one.

I don't think there is a way to obtain the test client nowadays, though...  :worried:

[2016-03-25 06:58] Googa-92 commented on #794
Ohh, ty Valve!!! Best spring update ever!!! (oh...one mistake..FU VALVE!!!)

[2016-03-25 06:58] akalankapagoda commented on #794
@DaveK-Valve Running a bot match with  "-threads 0" option. Did not crash yet (5 mins into the game). It was crashing after few secs earlier. I will keep playing.

[2016-03-25 06:59] gxgani commented on #802
![](https://cobalt60.xyz/shared/Screen-Shot-2016-03-25-12-27-08.png)

I thought the test client was supposed to be an addon.

PS: If that is the test client, than it's available to all. Just checked with my alternative accounts.

[2016-03-25 06:59] zanderzhng commented on #794
I successfully entered a solo bot game with the threads 0 option, where the
game would crash without it.

Gonna try a normal match.

[2016-03-25 07:05] leowyq opened #803 "DOTA 2 Crashed Multiple Times During A Normal Game in Mac OS"
After the newest 1G update, me and some friend using Mac, during the game, DOTA2 Crashed Multiple Times. What Happened? Programming Issue?

[2016-03-25 07:09] ghost commented on #801
I didn't get a 24MB sized update :(

[2016-03-25 07:10] lhope commented on #794
@DaveK-Valve Demo hero, then buying and using Dust crashed every time. With `-threads 0` it did not crash.

[2016-03-25 07:13] tantanlarancha commented on #794
Dota managers really suck a lot. I am having a lot problem trying to enter a game. Dota´s  technician   should go back to college and learn something else about programing games. ! they really suck at all. btw, the 24h ban for missing matching really suck. It is not our fault that dota 2 suck so much while trying to find a game. STUPID PEOPLE ! ... I understand now why people prefer to play league

[2016-03-25 07:16] patscan commented on #794
+1 `-threads 0` command line option seems to stop the crashing.

[2016-03-25 07:16] gdrewb-valve commented on #803
Closing duplicate of #794.

[2016-03-25 07:16] #803 closed, assigned to nobody

[2016-03-25 07:19] gdrewb-valve commented on #802
As mentioned the test client should be available on all platforms.

[2016-03-25 07:20] #802 closed, assigned to gdrewb-valve

[2016-03-25 07:29] raymondchua commented on #794
+1 -threads 0 command line option will prevent it from crashing.

[2016-03-25 07:34] qR2 commented on #794
@raymondchua i am getting invalid command using that, know what am I doing wrong?

[2016-03-25 07:34] akalankapagoda commented on #794
@DaveK-Valve @gdrewb-valve Completed a bot game with "-threads 0" without any crash. Good find. Update the ticket when a fix is released so we can remove the option. Thanks for the hard work guys.

[2016-03-25 07:36] akalankapagoda commented on #794
@qR2 See what you're doing wrong following this http://dota2.gamepedia.com/Launch_Options

[2016-03-25 07:39] qR2 commented on #794
@akalankapagoda Yeah thanks

[2016-03-25 07:47] mmm0nky commented on #794
adding command line fixes crashes thank you!

[2016-03-25 07:56] chrissisura opened #804 "[OS X El Capitan] Mini-Map Bug"
![bildschirmfoto 2016-03-25 um 08 53 42](https://cloud.githubusercontent.com/assets/18066580/14040398/259d6654-f267-11e5-8c29-9fcea7a692b0.png)
![bildschirmfoto 2016-03-25 um 08 53 56](https://cloud.githubusercontent.com/assets/18066580/14040401/2c617e76-f267-11e5-986f-4a769298f40b.png)

In Certain parts of the Map the Minimap blackes out.
MacBook Pro (Retina, 13 Zoll, Early 2015)
Prossesor 2,9 GH

[2016-03-25 08:08] lrijneveld commented on #794
Verified: when adding "-threads 0" to the launch options the game "survives" the first 30 seconds! At work so can't test longer game.

[2016-03-25 08:19] lifesized opened #805 "SPRING CLEANING: MAC: replay viewing crash + queueing for game crash"
Hi Valve devs,

1) Queueing for a game - random draft
Client crashed as soon as we entered the pre-game process waiting for loaders.
Result: On restart i had the low-priority message

2) Watching replay
I fast forwarded a little and client crashed. Reopened and fast forwarded and it crashed at the exact same spot. When restarted and forwarded past this event, the game completed the replay. I don't

[2016-03-25 09:10] gu3st commented on #794
I wasn't affected by this issue, but someone I played with earlier this evening crashed every single time dust was used.

[2016-03-25 09:12] krikaoli commented on #794
Same problem... My mac dota crashing all the time, impossible to play. and alt tab make the safari screen  blurry

[2016-03-25 09:17] tito commented on #797
I don't have -console either, and i'm on Linux / Elementary OS 64bits

[2016-03-25 09:32] ashwinN commented on #797
+1 crashes every minute or so. Abandoned after about 10 attempts to stay in the game. Tried removing -console, didnt help

Heres the system info https://gist.github.com/ashwinN/a1e757b7d4e3b736fa20

[2016-03-25 09:36] mninaut commented on #794
same

[2016-03-25 09:41] evan-sm commented on #794
same issue.

OS X El Captian, OS X Stock video driver. nVidia GT 650M 1GB

[2016-03-25 09:42] haidaoxiaofei commented on #801
seems `-threads 0` can work

[2016-03-25 09:52] majinlion commented on #794
same here

[2016-03-25 10:02] mcgradymvp commented on #794
-threads 0 works

[2016-03-25 10:38] michaelkclements opened #806 "[OSX] Game randomly closes"
I've tried to play a game of 10v10 as Pugna and the game has closed randomly around about 8 times so far. No error logs, just closes.

14 times now.

Edit: Tried watching pro games too and it closes as well.

[2016-03-25 10:41] michaelkclements commented on #806
Model Name:   iMac
  Model Identifier: iMac13,2
  Processor Name:   Intel Core i7
  Processor Speed:  3.4 GHz

[2016-03-25 10:59] tobiashagge commented on #801
-threads 0 seems to work.

[2016-03-25 11:03] markfinst commented on #794
In my case bot game didn't crash. But All Pick game did crash :(

El Capitan 10.11, iMac Late 2013, 8GB RAM

[2016-03-25 11:07] weltensturm commented on #694
Works! Thank you.

[2016-03-25 11:07] #694 closed, assigned to gdrewb-valve

[2016-03-25 11:19] leungandrew commented on #801
Can confirm setting `-threads 0` in launch options has worked around the immediate crashing

[2016-03-25 11:33] tito commented on #797
Latest update fixed the issue!

[2016-03-25 11:41] zanderzhng commented on #805
Check temp fix at #794 .

[2016-03-25 11:41] zanderzhng commented on #806
Check temp fix at #794 .

[2016-03-25 12:09] Multisaft commented on #794
bot game works with hotfix, single draft test next.

[2016-03-25 12:30] danginsburg commented on #794
The "Dust of Apperance" repro was helpful.  We believe we have found the root cause of these crashes and are working on a patch.  Will update this as soon as it goes out.

[2016-03-25 12:54] tmjoen commented on #794
Chronosphere also crashes the game everytime for me, if you need more ways to reproduce

[2016-03-25 13:01] keu commented on #794
using teleport scroll also cause a crash:
1. start game
2. buy tp
3. tp somewhere
4. move your camera to new location while teleporting
5. crash

[2016-03-25 13:07] vladdaneliuc commented on #794
At game start, all game modes even solo it crashes in the next second after loading screen. The -threads 0 workaround works fine but this is bullshit

[2016-03-25 13:16] cryeong commented on #794
-threads 0 doesn't work, please fix this volvo

[2016-03-25 13:20] danginsburg commented on #806
Likely duplicate of #794.  We are working on a fix.

[2016-03-25 13:20] danginsburg commented on #805
Likely duplicate of #794.  We are working on a fix.

[2016-03-25 13:21] danginsburg commented on #804
What resolution are you running at?  Does this always happen right from the start?  Please post Steam -> Help -> System Information as well.  Thanks.

[2016-03-25 13:22] danginsburg commented on #801
Duplicate of #794.  We are working on a fix.

[2016-03-25 13:22] #801 closed, assigned to danginsburg

[2016-03-25 13:45] ghost commented on #794
Game launches with '-threads 0' however there are still a few abilities and items that cause crashes, I experienced a crash with omnislash and chronosphere

[2016-03-25 14:04] danginsburg commented on #794
The patch was just pushed to Steam.  Would someone that can reproduce the problem without risking an abandon please try running _without_ "-threads 0".  If you still see a crash, please provide the following info:
- Crash dump (as the original poster did)
- Steam -> Help -> System Information
- Ideally repro instructions if you can repro reliably

[2016-03-25 14:04] danginsburg commented on #806
A patch was just pushed to Steam. Would someone that can reproduce the problem without risking an abandon please try running without "-threads 0". If you still see a crash, please provide the following info:

Crash dump (as the original poster did)
Steam -> Help -> System Information
Ideally repro instructions if you can repro reliably

[2016-03-25 14:05] danginsburg commented on #805
A patch was just pushed to Steam. Would someone that can reproduce the problem without risking an abandon please try running without "-threads 0". If you still see a crash, please provide the following info:
- Crash dump
- Steam -> Help -> System Information
-  Ideally repro instructions if you can repro reliably

[2016-03-25 14:13] zanderzhng commented on #794
I tried solo bot and demo, using tp and dust, no crash yet.
"Connected to dota2 game coordinator, Logging in" seems to cost very long time, maybe it's just my network issue?

[2016-03-25 14:13] vicmpen commented on #794
Tried dust And chrono and tp, no crash with bots!

[2016-03-25 14:14] lifesized commented on #794
playing vs bots never caused crash with me, it's just queueing for games vs other players. In EU patch not propagated here yet.

[2016-03-25 14:17] michaelkclements commented on #806
Still happened to me watching a pro game.

"Connected to the Dota 2 game coordinator, logging in..." took a really long time too.

[2016-03-25 14:18] dtn2114 commented on #794
game stopped crashing but I have the "connected to dota2 game coordinator" error now. Chrono, dust,etc. everything works.

[2016-03-25 14:34] mamuchao commented on #796
works on linux

[2016-03-25 14:37] esantacruz opened #807 "me too. I'm playing a normal game and last five minutes the program closes. I have to re-connect. spend 2 minutes and reclosed. And so this all the time."

[2016-03-25 14:46] akalankapagoda commented on #794
@danginsburg Patch seems to fix the issue for me. Thanks!

[2016-03-25 14:51] michaelkclements commented on #806
Gone through a 10v10 game and not closed though. Fixed potentially?

[2016-03-25 15:17] danginsburg commented on #807
Duplicate of #794.  Patch was just released.

[2016-03-25 15:17] #807 closed, assigned to nobody

[2016-03-25 16:30] inikiforovski commented on #796
Looks like the crashes are gone now, was able to play overthrow and dota 10v10 without crashing once (OSX 10.10.5). Thanks!

[2016-03-25 16:30] fedness commented on #794
issue has been solved for me.

[2016-03-25 16:57] danginsburg commented on #794
OK, thanks all.  Going to close out this issue.  If anyone sees any more crashes, please open a new bug with:
- Crash dump
- Steam -> Help -> System Information
- Ideally repro instructions if you can repro reliably

[2016-03-25 16:57] #794 closed, assigned to gdrewb-valve

[2016-03-25 16:58] danginsburg commented on #806
OK, thanks. Going to close out this issue. If anyone sees any more crashes, please open a new bug with:
- Crash dump
- Steam -> Help -> System Information
- Ideally repro instructions if you can repro reliably

[2016-03-25 16:58] #806 closed, assigned to nobody

[2016-03-25 16:59] danginsburg commented on #805
We believe this issue has been fixed.

[2016-03-25 16:59] #805 closed, assigned to nobody

[2016-03-25 16:59] gdrewb-valve commented on #795
The major fixes are out.  There will be other crashes but the really frequent and startup crashes should be resolved.

[2016-03-25 16:59] #795 closed, assigned to gdrewb-valve

[2016-03-25 16:59] gdrewb-valve commented on #797
The major fixes are out.  There will be other crashes but the really frequent and startup crashes should be resolved.

[2016-03-25 16:59] #797 closed, assigned to gdrewb-valve

[2016-03-25 17:00] gdrewb-valve commented on #796
The major fixes are out.  There will be other crashes but the really frequent and startup crashes should be resolved.

[2016-03-25 17:00] #796 closed, assigned to gdrewb-valve

[2016-03-25 18:02] krikaoli commented on #794
-threads 0 worked for me, but when I alt tab still blurry the safari fonts

[2016-03-25 18:11] algb3 opened #808 "Dota 2 Crashes upon startup"
![screen shot 2016-03-25 at 12 45 01 pm](https://cloud.githubusercontent.com/assets/18075017/14050612/85709160-f293-11e5-86d6-cec10f43fcf4.png)

[2016-03-25 18:31] danginsburg commented on #808
Usually this points to a failure loading a required .dylib.  Please try Dota 2 -> Properties -> Local Files -> Verify Integrity of Game Cache.  If it still happens after that, add -con_logfile to your launch options and post the contents of game/dota/console.log.  It would also be helpful if you posted Steam -> Help -> System Information.

[2016-03-25 19:59] chrylis commented on #360
Yup, with the addition of all the performance glitches.

[2016-03-25 21:31] kolobos commented on #808
I had a similar problem with an incorrectly configured Xmonad window manager ("setWMName 'LG3D'" workaround for a Java menu bug prevents Dota 2 UI from working), in case you recently changed something in your system.

[2016-03-25 22:59] sylware opened #809 "[spring cleanup] item quick cast on key release broken"
To have item quickcast work, must have the quickcast on key down option selected.

[2016-03-25 23:51] DimasDSF opened #810 "Settings menu not supporting 1280x1024 resolution"
After "The Spring Cleaning" update Half the settings menu "is sent off the screen" hiding half of "Advanced Settings"
![20160326023857_1](https://cloud.githubusercontent.com/assets/10863746/14056477/98639654-f2fd-11e5-9d8c-108d8da53220.jpg)
![20160326023852_1](https://cloud.githubusercontent.com/assets/10863746/14056480/9a4277e2-f2fd-11e5-9cab-4fda1664994c.jpg)

[2016-03-26 04:00] Wyverald commented on #794
Just for our information, how do we provide a crash dump? It would be nice to have that information in your README.md.

[2016-03-26 04:23] mjml opened #811 "Since Spring Cleaning Update, dota won't start on DISPLAY=:0.1"
Description: I have two monitors set up as two different displays, :0.0 and :0.1.

Before the Spring Cleaning patch, I used to run the steam client on :0.1 and the Dota window would open on this display. Right after updating to the Spring Cleaning path, I tried to run dota from that display and got a steam client message window popup dialog titled, "Unable to start game". The message reads,

"Fail

[2016-03-26 12:43] Tele42 commented on #811
@mjml nvidia 361.28 has a known defective version of libglvnd bundled with it which causes this message, it only affects 361.28. Also, there is a known workaround by adding `__GLVND_DISALLOW_PATCHING=1 %command%` to the launch options of affected games.

[2016-03-26 13:55] chrissisura commented on #804
Right from the start yes! 1280x800

Processor Information:
    Model:  MacBookPro12,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3d
    CPU Stepping:  0x4
    CPU Type:  0x0
    Speed:  2900 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Uns

[2016-03-26 14:38] eyeseamore opened #812 "Crash at 0:00 minute horn and now unable to load in"
Hi all,

Have been playing fairly consistently in the last 12 hours with no issues. Just then I loaded into game as Chaos Knight, swapped to Invoker and then went to sort out my quickcast/key binds. On changing the keybinds my Dota2 crashed and continues to crash when I try to load back in. Am able to play bot matches after the crash but not sure if it's going to crash again with a proper game.

H

[2016-03-26 15:16] insunaa opened #813 "Empty players in lobby"
Sometimes, when in a lobby for a custom game, it happens that an empty player will appear in the unassigned players list, there's no name and only a dark grey half transparent portrait. This player cannot be assigned to any teams and can thus block the start of a game. The lobby has to be disbanded and reformed when this happens.
I've noticed this most often in the Pimp My Peon custom game, but th

[2016-03-26 16:18] ruliane commented on #556
Hi,
I just switch from Linux Mint 17.2 to 17.3, and things are getting even worse :
- In 17.2, when I switched to windowed mode, then back to fullscreen mode, I could play on my primary (right) screen.
- Now, the game is moved on the left screen if I select fullscreen mode.

Neither -phased_window_create nor -sdl_displayindex helped me.

[2016-03-26 16:46] mjml commented on #811
Yes although I actually installed this version of the driver in response to the problem, which also occurred with the previous version of the driver.

[2016-03-26 17:37] gdrewb-valve commented on #811
Do things work on 361.28 if you use the workaround?

[2016-03-26 17:38] gdrewb-valve commented on #809
This isn't a platform issue, the larger team will look at this.

[2016-03-26 17:38] #809 closed, assigned to nobody

[2016-03-26 17:39] gdrewb-valve commented on #810
This isn't a Mac/Linux issue, the larger team will be looking into it.  I believe it has already been reported at dev.dota2.com.

[2016-03-26 17:39] #810 closed, assigned to nobody

[2016-03-26 17:42] gdrewb-valve commented on #812
The networking issue is probably not a Mac/Linux issue so we'll pass this on to the larger team.

[2016-03-26 17:43] gdrewb-valve commented on #813
This isn't a Mac/Linux issue so we'll pass this on to the larger team.

[2016-03-26 17:45] gdrewb-valve commented on #556
What is your window manager?

[2016-03-26 17:49] #791 closed, assigned to gdrewb-valve

[2016-03-26 17:51] gdrewb-valve commented on #794
The simplest way is to post the Steam system information as it will contain crashes reported to Valve.

[2016-03-26 17:59] ruliane commented on #556
Can't believe I forgot to mention... I'm using MATE 1.12.

[2016-03-26 19:27] hjeannin opened #814 "Game crashing while watching replay."
When I watch the replay of the match **2237637460** the game suddenly crashes just after the tick **77600**, around **38:50**.

You can download the replay on google drive at the following link:
https://drive.google.com/file/d/0B0Miyca54g5ta19KQWJRakcxOTQ/view?usp=sharing

You can download crash dumps here:
https://drive.google.com/file/d/0B0Miyca54g5tSUU4blUyNzd4bVE/view?usp=sharing

[2016-03-26 20:08] ChrisLauinger77 opened #815 "[Linux] -sdl_displayindex 2 launch option is not working any more"
the spring update broke the launch option "-sdl_displayindex 2".
now dota is always starting on my right screen (screen 1 is right, 2 is left) but I want it on my left one.

[2016-03-26 21:00] DimasDSF commented on #810
Oh, sorry, I didnt understand it was only linux/mac section, anyway thank you for the answer

[2016-03-26 22:06] NekR opened #816 "Attack command is treated as move command"
This is most likely not a platform specific problem, but if so, then it had to be notice earlier. Thing is, sometimes when a do `A + Click somewhere`, instead of issue attack command character just moves to that position. This may look like internet problems or packet loss, but there is 0 loss and I have ping 40 most of the time, plus nothing is laggy at that moment--all other characters move just

[2016-03-26 22:16] NekR commented on #816
May this be related to "bug-fixed" `Auto-Attack`? My option is set to `standard`. Maybe when creep/enemy isn't in some "rage" then character just moved to issued position. By "range' I mean some weird range, because at those moment enemies are in my attach range (at least from position to where command was issue).

[2016-03-26 22:37] gdrewb-valve commented on #816
This isn't platform-specific so the larger team will handle it.  Check out dev.dota.com for the general game forums.

[2016-03-26 22:37] #816 closed, assigned to nobody

[2016-03-26 22:39] gdrewb-valve commented on #815
This is covered under issue #556.  Note that screens start at 0 so if you have two screens they are 0 and 1.  Using 2 in that situation is referencing a non-existent screen and was never supposed to do anything.

[2016-03-26 22:39] #815 closed, assigned to nobody

[2016-03-26 22:41] ChrisLauinger77 commented on #815
But it used to work. Before the spring cleaning update it was fine.

[2016-03-26 22:59] gdrewb-valve commented on #815
Right, the fact that it did anything was a bug as there is no screen #2 on a two-screen system.  I understand that you've lost a workaround but the problem is the problem from #556, not that -sdl_displayindex 2 was a proper fix/workaround.

[2016-03-27 06:39] NekR commented on #816
Thanks for info. Should I repost there?
On Mar 27, 2016 12:37 AM, "Drew Bliss" notifications@github.com wrote:

[2016-03-27 06:48] anyuzer commented on #804
Noticed this as well, on mine it seems to black out only over the river.

Added a video link to make it more obvious:
https://youtu.be/6STs3dR3gT0

[2016-03-27 10:34] magist3r commented on #453
Yes, bug is still here :(

[2016-03-27 16:18] rcagantas commented on #301
It did. But I don't think this was the intended effect. They are now quite fat. Of course, maybe this is how it's supposed to be and I'm just not used to it. At least it's not as wide and as tall as it used to be.
![20160328001358_1](https://cloud.githubusercontent.com/assets/1592525/14066384/974a0a36-f47a-11e5-979a-2526cb17ee7e.jpg)

[2016-03-27 16:45] mjml commented on #811
Yes, using 361.28 I currently have dota running on :0.0 and it works fine. I still get the message if I try to run on :0.1.

[2016-03-27 17:02] gdrewb-valve commented on #816
I think it's already there, but it wouldn't hurt to check.

[2016-03-27 17:06] gdrewb-valve commented on #811
Do other OpenGL programs work and start on the correct screen?

[2016-03-27 17:08] gdrewb-valve commented on #301
They are supposed to be bold and the screenshot looks fairly correct.

[2016-03-27 17:10] rcagantas commented on #301
Good news then. I think you might want to close the bug when we hear from the Linux guys.

[2016-03-27 21:30] mjml commented on #811
Yes, both glxgears and glxinfo start on :0.1. I put the glxinfo output into a pastebin if you're interested. The OpenGL version string is "4.5.0 NVIDIA 361.28".

http://pastebin.ca/3413466

..[EDIT] It seems the pastebin has been corrupted. I will look for another place to paste it.

[2016-03-28 03:06] eyeseamore commented on #812
I re-encountered a similar bug earlier, it seems I am completely unable to play invoker or left click on him in game. The second I do so it crashes the game.

There are a few other people who have noticed similar things: https://www.reddit.com/r/DotA2/comments/4c5rj0/invoker_making_dota_crash/
https://www.reddit.com/r/DotA2/comments/4c7sy9/every_time_i_left_click_on_an_invoker_i_disconnect/

[2016-03-28 07:18] NekR commented on #816
Okay, poster there too. Thanks.

[2016-03-28 09:12] chrissisura commented on #804
Same for me! Only on certain parts of the map (close to the river) the map blacks out

[2016-03-28 12:41] danginsburg commented on #804
I'm having a bit of trouble repro'ing this so far.  @anyuzer  and @chrissisura, are you also on Intel Iris Graphics 6100?  Could one of you who is seeing this either take a screenshot of your video options or post the contents of game/dota/cfg/video.txt?  It would also be helpful to know what resolution your desktop is in.  Thanks.

[2016-03-28 13:44] danginsburg commented on #814
Thanks for the excellent bug report.  This crash happens on all platforms.  I've passed this along to the larger team and they will take a look at it.  I'll close out the bug here since it is not Linux/OSX-specific.

[2016-03-28 13:44] #814 closed, assigned to danginsburg

[2016-03-28 14:00] danginsburg commented on #804
Looking at the video it very strongly looks like stencil buffer or stencil state corruption.  Somehow the stencil for the water is masking off the minimap.  Does disabling High Quality Water workaround the corruption?

[2016-03-28 20:14] esmaxwill commented on #804
I'm also on the Iris 6100 and have the same issue.  It's not just the water that does it, if you move your view so the minimap covers a hero you will see a "shadow" of the hero you're obscuring.

I attached my video.txt and a picture showing an example of this from a Queen of Pain game I just played.
![vnuvm1h](https://cloud.githubusercontent.com/assets/436282/14088846/4a4ecdd4-f4f7-11e5-81a3-eeda

[2016-03-29 03:35] omartan opened #817 "In Game FPS performance"
Hi,

I wonder, do Dota 2 makes use of dual GPU? As I'm running on a nMP and maxing out all the graphical setting will result in 50fps, dropping the shadow quality to high and game screen render to 90% will give me back that 60fps.

Though upon checking my GPU usage, it seems the 2nd GPU isn't used?

Thanks

[2016-03-29 11:06] chrissisura commented on #804
![bildschirmfoto 2016-03-29 um 13 04 59](https://cloud.githubusercontent.com/assets/18066580/14105964/f4c911a4-f5ae-11e5-93a4-5d1825018140.png)
I am also playing on Intel Iris Graphics 6100 1536 MB

[2016-03-29 11:09] chrissisura commented on #804
I just tried to switch to high quality Water, but i doesnt change anything.

[2016-03-29 11:15] chrissisura commented on #804
I also tried some different video settings but the dont change the fact that the black parts on the mini-map keep coming up. I am not sure but it feels like with different setting the black parts slightly change but i am not sure about that.

[2016-03-29 12:46] Tele42 commented on #817
What is a nMP? What OS are you running?

[2016-03-30 01:00] bitfade opened #818 "game crashes as soon as i try to skill any ability"
linux client, create a lobby, pick witch doctor, try to skill any ability, game crashes.

just got low prio because i couldn't even reconnect after one of my team mates skilled one of my abilities when i was disconnected.

it all started after the latest update, was fine before it. I can attach core dump if needed

[2016-03-30 01:03] Tele42 commented on #818
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information, especially any CrashIDs related to the issue.

[2016-03-30 01:05] bitfade commented on #818
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3800 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Su

[2016-03-30 01:34] omartan commented on #817
nMP stands for new Mac Pro which is the cylindrical black one which comes with dual GPU

OSX El Capitan
Mac Pro (Late 2013)
3.7 GHz Quad-Core Xeon E5
12GB 1866 MHz DDR3 ECC
Dual 2048MB FirePro D300

[2016-03-30 01:50] glajchs commented on #818
While it isn't exactly what the title of this bug describes, I get the feeling that I was seeing the same issue.  I just finished a ~50 minute game where, at the beginning I could use the courier, but as of about 10 minutes into the game my client started crashing.  Near the end I realized that it was anytime I selected the courier (usually by hitting "2" for the hotkey group).  I was able to conf

[2016-03-30 09:10] somecolors opened #819 "Massive Input Lags"
Hi dev Team,

I am using:
  Modellname:   iMac
  Modell-Identifizierung:   iMac17,1
  Prozessortyp: Intel Core i5
  Prozessorgeschwindigkeit: 3,2 GHz
  Anzahl der Prozessoren:   1
  Gesamtanzahl der Kerne:   4
  L2-Cache (pro Kern):  256 KB
  L3-Cache: 6 MB
  Speicher: 8 GB
  Boot-ROM-Version: IM171.0105.B05
  SMC-Version (System): 2.33f10
  Seriennummer (System):    C02QMDUEGG7L
  Hardware-UUID: