[2017-01-24 15:48] gvr1421 commented on #1162
Computer Information:
    Manufacturer:  Apple
    Model:  iMac13,2
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3470S CPU @ 2.90GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2900 Mhz
    4 logical processors
    4 physical processors
    H

[2017-01-24 15:51] gvr1421 commented on #1162
i've also opened system monitoring and found out that my gameoverlay doesn't work during my game session. It says that it doesn't repsond (gameoverlay)

[2017-01-24 17:02] gdrewb-valve commented on #1162
The problem occurs in both Dota and CS:GO and is gameoverlayrenderer in both cases?  gameoverlayrenderer is what handles the Steam overlay so I've assigned this to a Steam dev.

[2017-01-24 17:31] danginsburg commented on #1157
I have tried to repro this on a couple of machines and have not been able to so far.  It sounds like it may be specific to r600g (does not occur on NVIDIA proprietary or Intel Haswell mesa).

[2017-01-24 18:47] gvr1421 commented on #1162
i will check it in cs go now

[2017-01-24 18:50] gvr1421 commented on #1162
Oh, i've deleted steam trying to solve the problem. Installing cs-go now

[2017-01-24 19:13] gvr1421 commented on #1162
Have just checked it. Overlay doesn't respond in cs go too

[2017-01-24 19:14] gvr1421 commented on #1162
And thank you, Drew

[2017-01-24 23:21] kisak-valve commented on #1157
Also occurs on my nouveau test box, Gentoo Linux no steam runtime, 2.0Ghz dual core w/ mesa 12.0.1 (nv50) and a nVidia GT 330. Slightly less severe symptoms.

[2017-01-25 18:41] AngryPenguinPL commented on #1101
After today patch http://www.dota2.com/news/updates/27046/ performance for me is very bad.
Yesterday I play with nice FPS and today after latest patch, FPS is very poor on my Linux machie.

[2017-01-25 20:24] gdrewb-valve commented on #1101
The Jan. 24 update did not have much in the way of complicated changes that might have a large impact on frame rate.  If you verify your install does that change anything?  If you restart Steam and/or your computer does that change anything?  If you double-check your video settings and launch options (if you have any) did anything change?

[2017-01-26 09:33] gvr1421 commented on #1162
https://youtu.be/6u4nwau3ZHg that's how it looks now& sorry 4 bad quality^^)

[2017-01-26 13:43] natbro commented on #1162
hi @gvr1421 - looking to debug this but can't yet reproduce it. is it immediate for you or does it stop responding after a period of time, and if so how long? also i noticed your macOS version is 10.12.3 - I have been trying on 10.12.2 and 10.11.6, so wondering if this problem only appeared after you recently updated to 10.12.3? i'll test 10.12.3 as well but interested to hear from you - thanks fo

[2017-01-26 15:47] gvr1421 commented on #1162
hi @natbro . I got the problem on 10.11 (El Captain), I upgraded for SIerra trying to solve it. but the problem persists even after the update.
2) After i pick hero and begin game dota freezes and i cant do anything. Dota is crashing or just freezes. If it freezes i have to cmd+opt+esp to close it.

[2017-01-26 15:50] gvr1421 commented on #1162
and  also. I've noticed today when i launched the game, there wasn't note about overlay "doesn't respond" in system monitoring

[2017-01-26 16:05] gvr1421 commented on #1162
And have jjust checked it again, and overlay doesn't respond=)

[2017-01-26 23:54] rodlorric opened #1163 "After last update (Jan 26th) game won't start"
Two error messages are displayed, independently of using -vulkan or -gl in the launch options:

**Unable To Start Game**
`A game file appears to be missing or corrupted. In the Steam client go to the game's properties. In the 'Local Files' tab select ' Verify Integrity of Game Cache' to have Steam double-check the game's intallation.`

**Error**
[code]

As suggested by the first message, verifying

[2017-01-26 23:58] gdrewb-valve commented on #1163
This is a Steam issue and not a Dota issue but I've assigned this to a Steam dev.

If you look in your Dota installation directories under game/dota/bin/linuxsteamrt64 is there a client.so?

[2017-01-27 00:00] vstratful commented on #1163
I don't have a client.so in that directory, but I do have libclient.so.

[2017-01-27 00:02] gdrewb-valve commented on #1163
libclient.so is the right file.  Can you post your full console output from starting the game?

[2017-01-27 00:03] 1xch commented on #1163
verifying integrity of game cache files doesn't fix this

[2017-01-27 00:03] r3pek commented on #1163
libclient.so has 0 size

[2017-01-27 00:04] gdrewb-valve commented on #1163
If you delete the 0-byte file and then reverify does it fix things?

[2017-01-27 00:05] rodlorric commented on #1163
This is the last crash in /tmp/dump in case it is needed.
http://www.filedropper.com/crash201701262350461

[2017-01-27 00:07] r3pek commented on #1163
@gdrewb-valve no. It "finds" the invalid file and says it will be redownloaded... but still 0 size

[2017-01-27 00:07] danilw commented on #1163
confirm, steam redownload 0 size file (three times already I try)

[2017-01-27 00:08] c0rru commented on #1163
Same here. If we can help please let us know

[2017-01-27 00:09] gdrewb-valve commented on #1163
This is being worked on right now.

[2017-01-27 00:09] vially commented on #1163
I'm affected by this issue as well. The error is: `failed to dlopen librenderdoc.so` and a couple of lines later: `failed to dlopen libclient.so wrong file size` or something along these lines.

[2017-01-27 00:09] x89 commented on #1163
Same issue for me after re-downloading and trying with GL and Vulcan options after running `rm -rf Steam/steamapps/common/dota\ 2\ beta Steam/steamapps/common/dota\ 2\ test` as well.

[2017-01-27 00:14] x89 commented on #1163
Not sure if the following is of use:

[code]

[2017-01-27 00:14] gdrewb-valve commented on #1163
We have enough information at this point, thanks.

[2017-01-27 00:21] rained23 commented on #1163
I cant hold my addiction :angry:

[2017-01-27 00:35] sparksis commented on #1163
Can we get a copy of the pre-update file so we can manually revert this file while you guys fix the update?

[2017-01-27 00:39] x89 commented on #1163
Would be quite nice while waiting to play with friends playing atm!

[2017-01-27 00:47] x89 commented on #1163
I'm in!

Latest update fixed it! ♥
Love you Valve + Drew!

[2017-01-27 00:49] jmcoimbra commented on #1163
Thanks @gdrewb-valve

[2017-01-27 00:56] vialrogo commented on #1163
Thank you so much @gdrewb-valve!!!! Fixed here

[2017-01-27 00:59] kisak-valve commented on #1163
Closing as fixed.

[2017-01-27 00:59] #1163 closed, assigned to Plagman

[2017-01-27 01:42] freeuser099 opened #1164 "[OSX] Jan 26 update causing crash when loading into any game"
The game crashes for mac OS if you load regular game, bot game, dark moon event or even demo mode

Process:         dota2 [81439]
Path:            /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:      com.dota2
Version:         2.0.0
Code Type:       X86-64 (Native)
Parent Process:  bash [81436]
Responsible:     steam_osx [81417]
User ID:         501

Date

[2017-01-27 02:10] gdrewb-valve commented on #1164
This crash is happening on all platforms so the larger team is looking.  There won't be direct feedback here but if they find the issue in the next couple of days I'll update this.

[2017-01-27 02:26] freeuser099 commented on #1164
Thanks @gdrewb-valve

I found the reason causing this crash
I went in game to settings > video > turn off specular and light bloom
This causes the crashing to stop, hope this helps fixing the problem

[2017-01-27 04:12] gdrewb-valve commented on #1164
Thanks for the information, I'll pass it on.

[2017-01-27 09:57] RahulRachuri commented on #1164
Even I've been having this issue. I'm running the game on Fastest and have specular and light bloom off, along with everything else. The game still crashes if I try to spectate any on going game or try to play Dark Moon. It seems like when there is too much happening on the screen the game crashes, this is the case in the first 10 seconds of spectating a match generally so. Also, I noticed that th

[2017-01-27 12:00] felipec opened #1165 "Wrong installscript.vdf"
I know this is not a Linux related issue, but I don't know where to report Windows issues, and this one is really easy to fix.

There's an annoying UAC message every time Dota 2 is launched because the installscript.vdf script is wrong, it has the path "%INSTALLDIR%\\DirectX\\DXSETUP.exe" but there's nothing there, so nothing is installed, and so this message pops up again, and again, even though

[2017-01-27 14:52] gdrewb-valve commented on #1165
You'll want to report this at dev.dota2.com

[2017-01-27 14:52] #1165 closed, assigned to nobody

[2017-01-27 14:54] gdrewb-valve commented on #1164
@RahulRachuri can you post a gist of your Steam system information?

[2017-01-27 16:13] AngryPenguinPL commented on #1101
I trying verify game cache but all files are correct. Restarting steam or computer not change my performance. No, my video settings is still the same without any changes.
Don't know why but I have worse FPS.

When match start, I have nice FPS, but when I start fight on the line, fps drop and game is almost unplayable now.

[2017-01-27 17:07] rmiguelc opened #1166 "DARK MOON: Unable to load map specified by server"
Hello.

When loading the Dark Moon match, the error on title is displayed.

[2017-01-27 18:05] kisak-valve commented on #1166
Hello @Xingdao-Fan, there is no 32 bit client on Mac or Linux (which is the focus of this issue tracker). Related to http://dev.dota2.com/showthread.php?t=276570.

[2017-01-27 20:26] Cabanur commented on #1166
This issue tracker is focused for the Linux and Mac OS client. Consider reporting your issues at dev.dota2.com instead, as Kisak already said.

[2017-01-27 20:35] #1166 closed, assigned to nobody

[2017-01-28 01:38] RahulRachuri commented on #1164
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookAir6,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  1400 Mhz
    4 logical processors
    2 physical processors
    Hype

[2017-01-28 11:04] Gunn3RR1 opened #1167 "[WinXP] Unable to find map specified by server"
There seem to be a problem with file localisations, i can't join any Dark moon nor demo_hero maps
here's what it says on console:

[Client] Sending connect to 146.66.152.137:28100
[Client] Received S2C_CHALLENGE [901896842 auth 3] from 146.66.152.137:28100
[Client] Sending C2S_CONNECT [44 protocol 901896842 auth 3] to 146.66.152.137:28100
[Client] Received S2C_CONNECTION from 146.66.152.137:28100

[2017-01-28 11:42] gvr1421 commented on #1164
@RahulRachuri i have same problem
https://github.com/ValveSoftware/Dota-2/issues/1162

[2017-01-28 13:12] Gunn3RR1 commented on #1167
Sorry i just knew this was for Linux and mac only,

[2017-01-28 13:12] #1167 closed, assigned to nobody

[2017-01-28 16:52] gdrewb-valve commented on #1164
If there are no failure reports then Dota isn't catching any crashes. That often means the problem is in the video drivers but isn't conclusive. You might try different drivers.

-------- Original message --------
From: Rahul Rachuri <notifications@github.com>
Date: 1/27/17 5:38 PM (GMT-08:00)
To: ValveSoftware/Dota-2 <Dota-2@noreply.github.com>
Cc: Drew Bliss <drewb@valvesoftware.com>, Mention <m

[2017-01-29 08:16] ghost commented on #1164
I am seeing the same as of recent update in the last couple days on MacOS

Jan 29 00:12:49 Benjamins-MBP com.apple.xpc.launchd[1] (com.valvesoftware.steam.58328[1851]): Service exited with abnormal code: 42
Jan 29 00:13:10 Benjamins-MBP com.apple.xpc.launchd[1] (com.valvesoftware.steam.58340.1F17A001-9B4A-402C-8BC0-A6D0407B6273[1887]): Service exited with abnormal code: 42
Jan 29 00:13:12 Benjamin

[2017-01-29 12:49] gvr1421 commented on #1162
@gdrewb-valve Hi. As u said in the other issue topic i have visited nvidia drivaers update page and couldnt find there  gtx 660m drivers for mac os. What can i do?

[2017-01-29 14:25] kisak-valve commented on #1162
Hello @gvr1421, because Apple does not support third party video drivers, there is only one or two versions of the nvidia web driver that is compatible with a specific build of MacOS. You can use http://www.macvidcards.com/drivers.html to help match between your specific version of MacOS and nvidia's web driver.

[2017-01-29 16:39] gvr1421 commented on #1162
@kisak-valve i have downaloaded driver on ur link and now dota works^ but i have really low fps. abput 50 when i hust moving and 15-20 in fights. can u give me some settings in autoexec to normalize it?

[2017-01-29 16:59] Arakash commented on #1101
My dota2 performance drops in fps periodically. It's running on 80-100 fps, but then drops to 10 for a few seconds.
I'm using a 960M and i7-5500U on Ubuntu. When disabling my nvidia card, i can play "fine" with the integrated intel card. I get stable fps but they hover around 20-30, so it's not really playable, even on lowest settings.

@nvidia: If I'm experiencing a fps drop, and i quickly look a

[2017-01-29 17:42] Arakash commented on #1133
hey. I have a similar issue - it's thermal throttling. I posted a comment at #1101 , heres a copy:

[code]

You can try it yourself. Unfortunately i didn't play on my laptop before 7.00 so i can't say if the dota 7.00  update is causing the heavy cpu load, or if my cooling is just bad.

[2017-01-30 03:46] deksden opened #1168 "[osx] Icon for Dota2 desktop shortcut on macOS Sierra is from Steam, not Dota"
Hi!

this is minor glitch, and in past it was fixed. Now its back: desktop shortcut have icon from steam, not dota.

Not perfect ;)

System: latest stable macOS, latest stable Steam, top iMac 27" (late 2015). Not sure if this matter

[2017-01-30 18:17] AngryPenguinPL opened #1169 "[Linux] Corrupt update files"
Hi.

From week I not play in dota, so today I get to download one or two patch at one - about 800 MB and after steam finish download it I starting dota 2 but dota quit to desktop immediately after the show menu.

So I trying verify game cache and I see that 23 files is corrupt. So steam download 800 MB again but when download is finished I see still error "corrupt update files".

Trying verify fou

[2017-01-30 22:10] sindrom91 commented on #1133
I think you're right. I have pretty much the same results.

[2017-01-31 19:26] fleetcommand commented on #922
Oh my issue was really a duplicate of this. So posting the crash dump if it helps anything. But I doubt it since - as it was mentioned above - some non-valve code is also affected in this manner.

Anyway.. it can't hurt, so here it is:
[dota2_2017_0131_194955_0_accessviolation.zip](https://github.com/ValveSoftware/Dota-2/files/742946/dota2_2017_0131_194955_0_accessviolation.zip)

[2017-02-01 10:40] LamerTex opened #1170 "[Linux][Vulkan] Segmentation fault when spectating and sometimes loading up a game"
Game crash with a segmentation fault (dumbs file attached) when vulkan is enabled (doesn't seems to crash without vulkan). When entering a game as spectator it crash every time, if i try to load up a lobby or a custom game doesn't happen all the times only some times. In the New Bloom game mode it has never crashed.

[lamertex_stdout.txt](https://github.com/ValveSoftware/Dota-2/files/744559/lamert

[2017-02-01 12:12] gvr1421 commented on #1162
Hello again) as i said dota works. i have 80-90 fps while taking rune, going alone on the map. When i have creeps and enemy near me^ 4 example at the mid^ i have 30-40 fps. when we have fights 2x2, or 3x3 and so on i have 15-20 fps. What can i do?

[2017-02-01 12:12] gvr1421 commented on #1162
all video settings are minimized, so idk

[2017-02-01 16:31] kisak-valve commented on #1170
Hello @LamerTex, since this occurs with the vulkan backend, but not the opengl backend, let's track this issue in the Dota-2-Vulkan issue tracker.

[2017-02-01 16:31] #1170 closed, assigned to nobody

[2017-02-02 21:14] Th3NightHawk opened #1171 "Dota 2 Client keeps crashing [Mac OS X]"
My Dota 2 client keeps crashing without any errors once I launch into a game. It's fine in the menu but even going into the Demo Hero mode crashes the game. I'm not sure where I can get crash logs for you but the below gets logged in the DiagnosticReports folder. There is a .gpuRestart file for each time a crash occurred. Below is the content:
[code]

[2017-02-03 12:48] gvr1421 commented on #1171
+

[2017-02-03 21:55] Th3NightHawk commented on #1171
It's been 2 days with no Dota... feeling withdrawals... HELP?!?!?

New update today, game still crashes.

[2017-02-04 07:57] gdrewb-valve commented on #1171
In situations like this where the GPU hangs up it could be bad hardware, bad OpenGL software or Dota.  If we can repro the situation we can try and figure out what's going on but as we aren't seeing widespread reports of this I'm not sure we'll be able to turn up much.

[2017-02-04 17:46] AngryPenguinPL commented on #1101
I found video which shows that disablind HUD dramatically increases game performance on Linux.
Maybe this not help but you can see that most of performance is killed by new HUD. So maybe in future you can get some improvements in hud performance?

Not my video, you can check it here:
https://www.youtube.com/watch?v=kZtKArPyQ3I

[2017-02-05 15:25] admshao commented on #1160
Yesterday i could finally cast another game from the lobby, it was DAC AM qualifiers and it was capturing my microfone while on the draft. Dunno if something was changed but i would say its fixed for me.

[2017-02-05 15:25] #1160 closed, assigned to nobody

[2017-02-05 17:48] darklordabc opened #1172 "Meta: Custom Game Bugtracker"
Just incase people are unaware, there is an in-depth and up to date bug tracking repository that is maintained by the modding community.

https://github.com/ModDota/BugTracker

[2017-02-05 18:00] kisak-valve commented on #1172
Closing as this factoid isn't an actionable issue.

[2017-02-05 18:00] #1172 closed, assigned to nobody

[2017-02-05 18:30] amisala commented on #1171
Hi everyone,

I am having the same issue - keeps on crashing since last Saturday, so it's 8 days already. Strangely, a bot match won't crash for me, neither will spectacting a game. Hero demo, however, does crash. Everything else crashes, too.
I am no expert on this matter, so I only attached a printscreen of my console, don't know what else I could submit.
It's a shame we didn't even get a chance

[2017-02-06 06:05] Th3NightHawk commented on #1171
Is there something we can do to try narrow down the cause?

[2017-02-06 12:04] sandyre commented on #1171
Expecting same issue, just want to mention that OSX crash is possibly connected to OSX 10.12.4 (16E144f) Beta, so it might be a bug in Beta version of OSX.

[2017-02-06 12:29] amisala commented on #1171
I'll try downgrading from Beta and will get back to you.

[2017-02-06 15:22] amisala commented on #1171
Downgraded to 10.12.3 (16D32), game runs smoothly!
At last a solution that works after 9 days.

[2017-02-06 17:33] gdrewb-valve commented on #1171
Great, we'll wait until @Th3NightHawk can confirm and then we'll close this out.

[2017-02-07 00:46] gdrewb-valve commented on #1164
We haven't had any luck catching this at Valve and as it doesn't appear that crashes from it are being reported to Valve we don't have any information to go on.  We'll see if we can catch it.

[2017-02-07 01:21] ghost commented on #1164
Any reason why a crash reporter or bug report doesn't spawn on the game crashing? Obviously it is hard to catch if your not having a report spawn to capture and submit the crash?

[2017-02-07 01:24] gdrewb-valve commented on #1164
Typically in situations like this the crash is occurring in system code, such as the video driver, so they aren't caught by any Valve code since they aren't in Valve code.  Also even if we got reports we couldn't do anything with them since it's not Valve code.

It's not 100% guaranteed that it's outside of Valve code but frequently that's what's happening when crashes do not go through the Valve

[2017-02-07 01:28] ghost commented on #1164
I see do you guys do any Automated testing on MacOS to try and identify issues like this?

[2017-02-07 01:37] gdrewb-valve commented on #1164
We do a variety of things for testing but we can't cover everything on every version of OSX, drivers and hardware.  The matrix of configurations we can test is a small subset of what's out in the world.

[2017-02-07 01:57] RahulRachuri commented on #1164
Can you try testing it on macOS 10.12.4? The issue seems to be with that version.

Rahul
Sent from my iPhone

On Feb 7, 2017, 07:07 +0530, Drew Bliss <notifications@github.com>, wrote:

[2017-02-07 02:21] gdrewb-valve commented on #1164
The original poster here was running 10.9.5.

If you're running a beta version of macOS I'd suggest trying it with a non-beta version, that helped people having the problem in issue #1171.

[2017-02-07 02:25] gdrewb-valve commented on #1164
It's also possible that, as the original poster's problem was occurring on all platforms, it has been fixed by the larger team and I missed the change.  @freeuser099 are you still getting crashes?

[2017-02-07 02:27] gdrewb-valve commented on #1133
@sindrom91 you think this is a cooling issue?  Should this issue be closed?

[2017-02-07 08:38] Th3NightHawk commented on #1171
Thanks guys, I'll try downgrade and feedback tonight.

[2017-02-07 11:15] sindrom91 commented on #1133
Yes, I would say so.

Closing the issue.

[2017-02-07 11:15] #1133 closed, assigned to gdrewb-valve

[2017-02-07 14:10] gvr1421 commented on #1171
i have 10.12.3, but still dota crashes

[2017-02-07 16:59] gdrewb-valve commented on #1171
@gvr1421 are you referring to your issue 1162?  If so you have a different problem than this one.

[2017-02-07 17:38] artificial-immersion opened #1173 "InitializeDisplayDB(): Unable to create dummy window for GLMDisplayDB."
Having a problem starting Dota 2 under Lubuntu x64 16.04.1. Sometimes restarting fixes it but not all the time.

Message is: InitializeDisplayDB(): Unable to create dummy window for GLMDisplayDB.

Using: ATI Radeon 4850 non-free drivers.

[2017-02-07 18:37] gdrewb-valve commented on #1173
This failure is coming from SDL_CreateWindow so it's not something in Dota itself.  Assigning to the SDL dev but it most likely indicates an issue with your system.  You might want to check on forums related to your distribution.

[2017-02-07 18:57] kisak-valve commented on #1173
For better or worse, the non-free driver for this video card is deprecated and unsupported in Ubuntu 16.04 as noted at https://wiki.ubuntu.com/XenialXerus/ReleaseNotes#fglrx. Fglrx has been retired and replaced by amdgpu-pro which does not support your video card. Your mileage will vary when it comes to getting support for this configuration.

[2017-02-07 21:09] gdrewb-valve commented on #1164
I've gotten confirmation from the larger team that freeuser099's issue has been fixed so closing.

[2017-02-07 21:10] #1164 closed, assigned to gdrewb-valve

[2017-02-08 08:55] gvr1421 commented on #1171
@gdrewb-valve i think its not different, because initially the title of topic was "mac os dota crashing". Some1 changed it. I ve left thee video^ how is it happening that dota crashes

[2017-02-08 13:21] danginsburg commented on #1173
@kisak-valve is right, you will need to use the mesa r600g driver with the ATI Radeon 4850.  The r600g driver runs Dota quite well, so it should be supported just fine.

[2017-02-08 18:02] gdrewb-valve commented on #1171
@gvr1421 in the bottom of the comments on 1162 you say "Hello again) as i said dota works", is that accurate?

[2017-02-08 18:40] gvr1421 commented on #1171
@gdrewb-valve it works after i downloaded nvidia web driver. It works only if i use this driver. And i have 15 fps in game6 so its impossible to play normal=( When i use default driver, dota doesn't work.

[2017-02-08 19:24] gdrewb-valve commented on #1171
Your driver problem would then be a separate issue from the one here that was fixed by not using 10.12.4, wouldn't it?  I'm trying to understand why you think you have the same problem.  When you use the default driver are you getting GPU restart files in the DiagnosticReports folder?

[2017-02-08 20:01] gvr1421 commented on #1171
@gdrewb-valve "My Dota 2 client keeps crashing without any errors once I launch into a game. It's fine in the menu but even going into the Demo Hero mode crashes the game. " its this issue. so i have the same. https://youtu.be/HrWiYFwB7qs

[2017-02-08 20:17] gdrewb-valve commented on #1171
Not all crashes are the same.  This one in particular seems to be related to 10.12.4 and will be closed when Th3NightHawk confirms.  Your issue at 1162, which appears to be related to the OpenGL driver you're using, will stay open.

[2017-02-08 20:25] gvr1421 commented on #1171
ok

[2017-02-08 20:45] ArabianCoconut commented on #1054
i found a Increase and less FPS drop.If i uninstall Vulkan on Linux machine, seems like a problem in vulkan or something hindering it.

Might not work on all Linux Machines but i suggest trying it to remove Vulkan support and play the game it worked for me on Ubuntu 16.10

[2017-02-08 20:48] admshao commented on #1054
Before 7.00 vulkan was really better then opengl. Now it seems the opengl
is better because vulkan had a regression. Both have 30-50fps drop while
scoreboard is open. Other performance-wise i'm not affected. Fps is the
same as pre 7.00

On Feb 8, 2017 18:45, "advisor25" <notifications@github.com> wrote:

[2017-02-09 00:20] sandyre commented on #1171
macOS 10.12.4 Public Beta 2 (16E154a), problem stays.

[2017-02-09 15:45] sylware opened #1174 "observer ward simulator does not work with mesa and catalyst"
up-to-date beta steamos (mesa 13 or catalyst, AMD GPU TAHITI XT)
up-to-date beta steam client

Once placing a ward, the "observer ward simulator" does not work. Only a circle is displayed.

[2017-02-09 16:23] kisak-valve commented on #1174
Most likely not an OS-specific issue. Related: https://www.reddit.com/r/DotA2/comments/5sxyg8/the_new_observer_fow_simulator_is_messing_up_on/

[2017-02-09 16:39] gdrewb-valve commented on #1174
Your title suggests a problem on specific drivers, have you seen it working otherwise on different drivers?

[2017-02-09 16:52] sylware commented on #1174
On Thu, Feb 09, 2017 at 08:39:40AM -0800, Drew Bliss wrote:

Nope. Just tested it on AMD GPU TAHITI XT with mesa 13 and catalyst. No idea if
it works with anything else.

[2017-02-09 16:54] admshao commented on #1160
I found out today what must have been the issue after all. As i co-cast the matches i have a bunch of tabs opened in the other monitor to get teams stats live and as i hit ALT TAB the microphone ingame stops being captured.  I only alt tabed while on draft hence our viewers reports on mic issue while on draft.

Since i do have "Sound while another window is active" in sound settings checked. Could

[2017-02-09 17:08] gdrewb-valve commented on #1174
OK, it's likely the all-platforms issue that kisak mentions and the larger team will take a look.

[2017-02-09 17:09] Cabanur commented on #1160
I think an average user would expect the mic to be muted if alt-tabbed with
this option checked.

Un saludo,
Pau Gisbert

2017-02-09 17:54 GMT+01:00 admshao <notifications@github.com>:

[2017-02-09 17:11] gdrewb-valve commented on #1160
I don't know what the larger team would say but you're welcome to post a feature request at dev.dota2.com

[2017-02-09 18:30] sylware commented on #1174
I managed to make it half-work.

It works the same in catalyst or mesa. You _must_ have at least "med shadows" on, then it will work _only_ for observer wards, but whatever the setting levels are, I cannot get anything for sentry wards.

(for you information, catalyst performance is disastrous compared to mesa, to a ridiculous point easy 30% better with mesa than catalyst)

[2017-02-09 21:19] AngryPenguinPL commented on #1174
Same here on Catalyst 15.9

[2017-02-09 21:24] sylware commented on #1174
huhu... actually the simulator does not make any sense on sentries... my bad.

Then people should be told to enable at least "med shadows" in order to get the simulator!

@AngryPenguinPL do really use mesa instead of catalyst, you'll get a 20-30% faster dota2.

[2017-02-09 22:15] gdrewb-valve commented on #1171
Closing as this appears to be a macOS issue and not a Dota issue.

[2017-02-09 22:15] #1171 closed, assigned to gdrewb-valve

[2017-02-09 23:22] gdrewb-valve commented on #1174
The problem with the ward display not showing up with shadows disabled is cross-platform and will be fixed by the larger team.  It sounds like that covers things for this issue and this can be closed?

[2017-02-10 02:40] sylware commented on #1174
yep, fine by me.

[2017-02-10 02:40] #1174 closed, assigned to gdrewb-valve

[2017-02-10 20:20] glubsy opened #1175 "[Linux] some models get misplaced"
This happens seemingly randomly and I can't find a way to consistently reproduce.
It's started happening recently, probably less than a month ago (not sure at all).

Some models get misplaced during their initial spawn. Mostly affected are: runes, neutral creeps, destructible buildings. Trees don't seem to be affected ever.

Sometimes, a tower is spawned under ground too.
Some runes do spawn in th

[2017-02-10 20:27] Cabanur commented on #1175
This happened to me once. I vaguely remember I had some sort of issue
loading the game (maybe the game was minimized while loading, I'm not
sure). I solved it disconecting and reconnecting to the game so I didn't
really look into it.

My specs:
Debian Testing (Linux 4.9)
Intel i7-860 stock clock
8 GB RAM
GeForce GTX 750 Ti, driver from debian repos
KDE Desktop

[2017-02-10 20:41] gdrewb-valve commented on #1175
This is unlikely to be a platform-specific issue but if you can get a consistent repro I can pass it on to the larger team.

[2017-02-10 21:44] glubsy commented on #1175
I'll keep an eye out for this one, but It didn't happen with Windows 7 yet (same machine).

[2017-02-11 04:02] termeric commented on #1109
I have an Early 2015 Macbook Pro, 2.7 GHz i5, 16 G Ram and the Iris 6100 graphics chip.   I have also had the exact same problem since 7.00 came out.    It's been almost 2 months, is there any update on this?

[2017-02-11 06:02] gdrewb-valve commented on #1109
As mentioned above there won't be status on this here, it isn't a Mac/Linux-specific bug.  The larger team is looking but beyond that I don't know specifics.

[2017-02-11 07:11] sethdusek commented on #1132
I am having a similar issue, though not sure how to test it since I would get an abandon, but dota 2 on linux has insane amounts of packet loss. It doesn't show up when I type in the -ping command, but if you open the console you can see error messages regarding splitpacket and resending it. Its so insane that I can not play dota at all on Linux since even right clicking takes a second before my s

[2017-02-11 17:00] termeric commented on #1109
Thanks for the reply Drew, do you know if is there another thread where there would be a response to this?

[2017-02-11 18:05] kisak-valve commented on #1132
Hello @SethDusek, you may want to read over the discussion near https://github.com/ValveSoftware/Dota-2/issues/745#issuecomment-183189868.

[2017-02-11 18:07] gdrewb-valve commented on #1109
dev.dota2.com is the right place and it looks like you've already posted there so that's as much as you can do.

[2017-02-12 00:36] Th3NightHawk commented on #1171
Hi guys

Sorry for the delayed feedback, was in a car accident earlier in the week so I had other crap to take care of.

Just wanted to confirm that reverting to macOS 10.12.3 resolves the issue.

[2017-02-12 12:02] b3nn0 opened #1176 "[Linux] custom bot scripts resulting in crash"
Almost all bot scripts I downloaded from the workshop cause the game to crash on Linux.
The reason can easily be seen in the resulting crash dump - there seems to be some incorrect file path building in the code.

[code]

To reproduce: download a bot script from the workshop and try to start a game with these bots.
Might be related to using a custom game directory. I didn't try the default directo

[2017-02-13 13:27] kisak-valve commented on #1175
Tracking note: This is a continuation of #966.

[2017-02-14 01:17] gdrewb-valve commented on #1176
I passed this on to the larger team and they said the Feb. 13 update has some path slash fixes, do things work any better?  It's possible for non-Valve code to have issues also but first we'll see if the Dota update helped.

[2017-02-14 02:07] lewisdiamond opened #1177 "Game freezes upon loading"
When launching Dota, the game freezes as it renders the friends list and the account information.

Must `kill -9` to close it.

https://www.reddit.com/r/DotA2/comments/5tx2s4/new_patch_freezes_dota_on_start_volvo_plz_rollback/

[2017-02-14 02:34] gdrewb-valve commented on #1177
This tracker is only for bugs specific to Mac and Linux and that problem is hitting everybody.  The larger team is working on a fix.

[2017-02-14 02:34] #1177 closed, assigned to nobody

[2017-02-14 02:35] lewisdiamond commented on #1177
Sure, I needed to make sure the message went across. Thanks for the feedback.

[2017-02-14 08:21] b3nn0 commented on #1176
The log has changed, but Dota still crashes:

[code]

Note the "scripts/vscripts//home/ben/hdd2/....."
It somehow tries to find  the util.lua module with a recursive path, then simply slaps the absolute path behind it. I guess GetScriptDirectory() returns wrong paths when using a custom steam library directory.
What the script does is simply a
`local utils = require(GetScriptDirectory() .. "/util"

[2017-02-14 10:07] shaddow2k commented on #1176
I have the same issue. Two things I want to add:
- Custom bots are working now, as long as "Local Host" is not selected in the lobby. The crashes happen only with Local Host selected for me. I am quite sure that wasn't the case before the last update.
- The issue is also present on MAC systems, see the comments [here for example](https://www.reddit.com/r/DotA2/comments/5lyk8l/pubsimulator_new_bots

[2017-02-14 10:51] b3nn0 commented on #1176
Well, yes, you are right. It only crashes when using Local Host.
However, when choosing a server, bots from the workshop just don't seem to work at all. The default bots are used instead (at least I'm pretty sure. They behave exactly like the default bots and the picks are also always picks that the default bots can do. Never seen a pick that would be supported by the bot script, but not by the de

[2017-02-16 17:56] kisak-valve opened #1178 "Steam browser is 125-150% scale in Dota2"
Issue transferred from https://github.com/ValveSoftware/steam-for-linux/issues/4863.
@artemjackson posted on 2017-02-16T17:27:26:

#### System information

* Steam client version (build number or date): steam 1.0.0.54-1
* Distribution: ArchLinux Kernel 4.9.8-1
* Opted into Steam client beta?: No
* Have you checked for system updates?: Yes

#### Please describe your issue in as much detail as possi

[2017-02-16 17:59] kisak-valve commented on #1178
For what it's worth, on Gentoo Linux I was able to get libcef to zoom in once, with what I assume was ctrl + "+", but I was unable to reliably reproduce this behavior and reloading the page reset it to 100%.

Edit: Ctrl + "+" immediately after clicking the Kiev Major tile causes zoom, then the key combination is disabled.

[2017-02-16 18:12] artemjackson commented on #1178
@kisak-valve Can confirm the issue
I was able to zoom out (`Ctr` + ` - `)  only  once (from probably 150% to 125% scale) after that key combination is disabled.

Re-opening the page resets the scale to 150% again :(

[2017-02-16 18:27] kisak-valve commented on #1178
@artemjackson, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

I suspect this is a locale related issue. Does adding `LANG=C %COMMAND%` to the start of the game's launch options change the behavior of this issue?

[2017-02-16 18:28] gdrewb-valve commented on #1178
Dota uses the ISteamHTML page rendering support so this'll need to be looked at by the Steam team, there may not be many updates here.

[2017-02-16 19:04] artemjackson commented on #1178
@kisak-valve do you want a joke? Opening `Steam` -> `Help` -> `System Information` cause steam crash :rofl:  See the [log](https://gist.github.com/artemjackson/0f7d25717492d0871d3121339f81eb16) if interesting.

Okay, but I also have `steam-native` package that works without steam runtime but with native libraries. So I was able to check `System Information`. The gist is [here](https://gist.github.

[2017-02-17 05:03] RenanRischiotto opened #1179 "Fps drop (about 50fps) when scoreboard or shop menu open"
Hi!

GTX 970
i5 4460
12GB RAM
Windows 10 Pro x64

No matter what API being used (DX9, DX11, Vulkan).

[2017-02-17 05:05] RenanRischiotto opened #1180 "Poor performance after 7.0 update"
Hi!

After update 7.0 performance decreased significantly... again...

DotA 2 first version - 240 fps
DotA 2 Reborn - 140 fps
DotA 2 7.0 - 90 fps

[2017-02-17 07:16] gdrewb-valve commented on #1179
This tracker is for bugs that only occur on Mac and Linux (and there's a perf issue open already).

[2017-02-17 07:16] #1179 closed, assigned to nobody

[2017-02-17 07:16] gdrewb-valve commented on #1180
This tracker is for bugs that only occur on Mac and Linux (and there's a perf issue open already).

[2017-02-17 07:16] #1180 closed, assigned to nobody

[2017-02-17 20:21] MrTheSoulz commented on #1168
The same happens on ubuntu.

[2017-02-19 01:37] rafagonc commented on #915
Yes! My kernel_task keeps using 400% of my cpu

[2017-02-19 11:52] carlosg-gh opened #1181 "[Linux] Push to talk doesn't work"
- what platform this is occuring on: Linux
- a short, descriptive title: The push to talk key seems like it's not being recognized by the game, thus being unable to use push-to-talk.
- a detailed description of the issue, including any output from the command line: When trying to bind a key to push to talk, everything works fine. However, when you press said key the game seems to not recognize it.

[2017-02-19 17:34] gdrewb-valve commented on #1181
This is unlikely to be Linux-specific but we'll get some more info first.

What key are you using for your PTT key?  Does it show up properly in the bindings after you've set it?  If you temporarily test with a simple letter key like V does it work then?

[2017-02-19 18:36] carlosg-gh commented on #1181
I'm using scroll lock (Well, caps lock, but I've exchanged the functions of scroll lock and caps lock at an OS level). It does show up properly in the bindings. I've tried with other keys (O, P, Numpad5, V) but none of them worked.

[2017-02-20 21:12] gdrewb-valve commented on #1181
I'm not seeing any problems on my Linux box, but maybe others will chime in here.

[2017-02-20 21:26] gdrewb-valve commented on #1176
Is the error with Local Host still happening after the latest updates?

[2017-02-21 06:59] b3nn0 commented on #1176
Nope, seems to work now :)

[2017-02-21 11:48] shaddow2k commented on #1176
It is still crashing for me. I tried it with the custom bots "Pub Simulator" and "Bot Experiment Credit: Furiouspuppy"

[code]

1. In line 2920 the script complains that "/home/daniel/.local/share/Steam/SteamApps/workshop/content/570/837040016/builds/item_build_lich" can't be found. The correct path to the file is "/home/daniel/.local/share/Steam/SteamApps/workshop/content/570/837040016/builds/ite

[2017-02-21 13:49] sawdap opened #1182 "dota 2 wont launch on my imac please help!!!"
Few hours ago, i just installed steam and dota2 on imac and it seems going pretty well until i press play then it said "preparing dota2" and nothing happen. i hv read some comments and tried to apply it but still it cant launch. please help me solve this

[2017-02-21 14:28] kisak-valve commented on #1182
Hello @sawdap, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-02-21 17:00] sylware opened #1183 "side hero info panel is destroying rendering performance"
up-to-date beta SteamOS with mesa 13 drivers on AMD tahiti xt GPU.
up-to-date beta steam client.

In a game, click on an hero to get the side hero info panel (must not have enabled the option to display the hero info in the main panel), fps gets a massive 50% drop while the panel is displayed.

[2017-02-21 17:49] gdrewb-valve commented on #1182
You'll also want to verify your install of Dota in the Steam client.

[2017-02-21 17:53] gdrewb-valve commented on #1183
Perf drops happen on all platforms and very widely with the system.  The larger team is looking at these kinds of issues.

[2017-02-22 01:10] Cabanur commented on #1181
I use Super (Windows key), no problem.

Debian testing (Linux 4.9), KDE Plasma 5.8. Steam beta channel.

[2017-02-22 01:18] kisak-valve commented on #1181
Hello @Kurolox, since you have a more exotic keyboard configuration, can you select Settings -> Advanced Hotkeys -> Bind keys based on keyboard position, then reset your keybindings and see if that gives you the behavior you are looking for. It's possible SDL2 is getting confused.

[2017-02-22 04:49] gdrewb-valve commented on #1183
Also you can turn off the side panel if you want to avoid the perf drop.

[2017-02-22 15:56] sylware commented on #1183
@gdrewb-valve yep, did that.

[2017-02-22 20:28] gdrewb-valve commented on #1182
Closing pending more info.

[2017-02-22 20:28] #1182 closed, assigned to gdrewb-valve

[2017-02-22 22:37] gdrewb-valve commented on #1183
Closing this out as it isn't Linux-specific.

[2017-02-22 22:37] #1183 closed, assigned to gdrewb-valve

[2017-02-23 00:15] gdrewb-valve commented on #1176
The main team has made more fixes in today's (Feb. 22) update.

[2017-02-23 00:55] shaddow2k commented on #1176
Yes and while I very much welcome the new features, it still crashes for local lobby bots here. Basically it is still the same error as above: The file path is still incorrect (pay attention to the messed up ".local" part and the missing file extensions of the file paths (the right side being correct)
1. //local/ vs. /.local/
2. mode_laning_generic vs. mode_laning_generic.lua
[code]
I am pretty ce

[2017-02-23 00:58] gdrewb-valve commented on #1176
I'll pass that back.

[2017-02-24 19:56] shaddow2k commented on #1176
The latest update fixed it! Thank you @gdrewb-valve and the rest of the team :)

[2017-02-24 19:57] gdrewb-valve commented on #1176
OK, both @b3nn0 and @shaddow2k are reporting success.  If nobody else chimes in with a new problem I'll close this out.

[2017-02-24 20:47] paskal opened #1184 "[macOS] Crash on ordering user channels"
Hello, team.

When I access "Channels" window (on screenshot) and click twice on "Channel Name" or once on "Members" in **Users** tab, client crashes without any error messages.
![image](https://cloud.githubusercontent.com/assets/712534/23320005/0a2bb86c-faea-11e6-9ff9-482d0917b6b1.png)
~Sorting in other tabs working fine.~ I'm sorry, but I didn't found crash report location. OS version is 10.12.3

[2017-02-24 22:33] gdrewb-valve commented on #1184
No repro for me on my Mac.  Can you put your full Steam system information (available from the Help menu in the Steam client) in a gist?

If there aren't any failure reports in the Steam system information it often means it's an OpenGL driver issue.

[2017-02-24 22:36] paskal commented on #1184
Here it is.
[system_information.txt](https://github.com/ValveSoftware/Dota-2/files/800617/system_information.txt)

[2017-02-25 02:40] aditya-rajagopal opened #1185 "[Linux] Pressing backspace deletes 2 characters"
Platform : Linux (Ubuntu 16.04)
Problem : Pressing backspace in any dota 2 chat box (this includes all regional and private channels, and ingame chat) removes 2 characters instead of 1. Steam does not have this problem and neither does any other game in my library (Have tried it on Civ6, Torchlight 2 and Rimworld). If I hold shift and press backspace this problem does not seem to occur. I use a la

[2017-02-25 03:08] gdrewb-valve commented on #1185
No repro for me on my Linux box.  Do you have an IME or any other sort of input configuration change?

[2017-02-25 03:55] aditya-rajagopal commented on #1185
@gdrewb-valve No I do not. I am running a freshly installed Ubuntu 16.04 which i installed yesterday again for other reasons but I have no other software on here except steam + the games. I have not tinkered with any settings it was the same after the re-installation. I dont know how I could make this reproducible.

EDIT : I just started dota 2 again and it now removes 3 characters. Restarted it a

[2017-02-25 23:11] FlyingFoX commented on #1175
This happened to me in a game about 2 weeks ago. I think I uninstalled the Vulcan dlc while the client was running and did not restart until the game started. Restarting dota fixed the issue. This was on Kubuntu xenial with a NVidia GTX 970 and driver version 367.57. I have not tried reproducing it.

[2017-02-26 04:58] dharmawankenny opened #1186 "Changing official info input value is bugged when you are in a lobby and some other person enters an empty lobby slot"
As the title stated, its a minor bug, yesterday i played on a lobby with my friends, i was already filling an empty slot and i wanted to change my official info so i did.

And then when i was writing on the input boxes, one of my friend joined and fill an empty slot, suddenly my input boxes value changed to my friend's official info.

However, i think its only a visual bug because when i try to sa

[2017-02-26 06:37] gdrewb-valve commented on #1186
Thanks.  This isn't likely to be a Mac/Linux-specific bug so it's not the kind of thing that would be tracked here.  I'll pass this on but I'm closing the issue.

[2017-02-26 06:37] #1186 closed, assigned to nobody

[2017-02-26 17:18] glubsy commented on #1175
@FlyingFoX I doubt this is related.

It happened to me again 2 days ago (on Linux) and I noticed I had a lot of packet loss on the server I was playing on at the time and had to reconnect anyway.
So it could be a malformed packet (will probably sound unlikely to software engineers) or something that happens during the initialization of the world on the client-side while talking to the server. No c

[2017-02-27 00:43] RamcLindstrom opened #1187 "[OSX Macbook Air] Mic not working since 7.02 patch"
Since 7.02 the internal mic for the macbook air has not been working for Dota2. When I press the shortcut to use it, it pops up a small red speech bubble with an X'd out mic icon on the right side of the screen and lags me for a few seconds. More recently it has not been lagging me when I test it, but still is not working. The mic works fine otherwise in other games and applications.

[2017-02-27 02:46] gdrewb-valve commented on #1187
If you look at issue #1181 does that cover the same thing you're seeing?

[2017-02-27 03:08] RamcLindstrom commented on #1187
More or less. I tried again today and it actually worked after a few
seconds of initially not 'finding' the mic. Hoping whatever the most recent
7.02 patch resolved it, but from the initial 7.02 release until today it
was on the fritz.

On Sun, Feb 26, 2017 at 9:46 PM, Drew Bliss <notifications@github.com>
wrote:

[2017-02-27 03:51] dharmawankenny commented on #1186
@gdrewb-valve ah sorry i didnt understand this is mac/linux specific bug report page, where can i report the general one? I also find another interesting bug the other day, where if i invite a person to my team, and when the person accepts the team invitation, it often crash my game on 3 of 4 attempts. when it was crashing i was twice using the steam ingame browser, and once i just do a fresh dota

[2017-02-27 05:46] gdrewb-valve commented on #1186
The general bug tracker is at dev.dota2.com

[2017-02-27 17:14] gdrewb-valve commented on #1176
Seems good, closing.

[2017-02-27 17:14] #1176 closed, assigned to gdrewb-valve

[2017-02-27 17:18] gdrewb-valve commented on #1187
Did you get a chance to try it again?  Is it still working?

[2017-02-27 17:19] gdrewb-valve commented on #1181
This may be completely unrelated but at #1187 a user reported having microphone problems that spontaneously resolved themselves.  Has anything changed with this recently?

[2017-02-27 19:27] RamcLindstrom commented on #1187
I tried it again just now (solo practice vs bots) and it is working like
yesterday: Approximately 1-2 seconds of 'not finding' the mic while holding
down the button, but then working fine thereafter. After it finds it the
first time all subsequent uses of the mic button work fine for the match.

On Mon, Feb 27, 2017 at 12:18 PM, Drew Bliss <notifications@github.com>
wrote:

[2017-02-27 19:32] gdrewb-valve commented on #1187
That seems odd and as 1181 is still open there may still be underlying issues.  I'll leave this open too.

[2017-02-28 06:18] RankoR opened #1188 "[macOS] Huge FPS drops"
Hi, my config: https://gist.github.com/RankoR/271dc17ca4ec24cd2f7044028650def8

In fact it's not iMac 17,1, it's custom Hackintosh build. Any other information from report is true.

My GPU is EVGA GTX970 ACX 2.0 SC with latest official NVidia Web Driver.
When I turn off VSync, I have 110-120 FPS on "static" scenes, e.g. when player is standing on place and nothing happens. But when there are some

[2017-02-28 07:01] gdrewb-valve commented on #1188
#1101 is the general perf issue and that largely supersedes this one.  As that issue mentions the perf issues extend outside of Mac/Linux and aren't owned by the porting team that runs this tracker.  Just from the Mac side of things I don't see such extreme FPS swings on my Mac so it's unclear what's going on with yours.  Can you run the Dota perftest (http://dev.dota2.com/showthread.php?t=277903)

[2017-02-28 07:25] RankoR commented on #1188
@gdrewb-valve Hm, I've just noticed that I've forgot to quit OBS. Now with no software running  there are no huge FPS drops, but it seems that few frames are dropped every 2-3 seconds. It occurs almost every time when I move the screen, and as I said before it occurs every time on complex scenes such as fights, and with strange behaviour on non-complex scenes — animations are not smooth.

For exam

[2017-02-28 07:29] RankoR commented on #1188
@gdrewb-valve I've forgot to ask if it's possible to turn on Vulkan in Dota on macOS?

[2017-02-28 07:42] RankoR opened #1189 "[macOS] Keyboard shortcuts doesn't work on non-en input sources"
Config: https://gist.github.com/RankoR/271dc17ca4ec24cd2f7044028650def8

I have two keyboard input sources: U.S. and Russian - PC.

When I'm on Russian - PC, I cant use in-games keys, such as qwer, ~, F1-F12, etc. They work for me only on U.S. input source.

[2017-02-28 07:46] gdrewb-valve commented on #1188
Your perftest results don't show much of anything, you're running at your vsync limit of 60 FPS in all three cases so no problems there.  I'll leave this issue open and maybe enough other people with the same issue will respond that we can guess a common cause.

Vulkan is not supported on macOS.

[2017-02-28 07:47] gdrewb-valve commented on #1189
Did you set the option to do key binding by position instead of key name?

[2017-02-28 07:48] RankoR commented on #1189
@gdrewb-valve Thanks, that helped.

[2017-02-28 07:48] #1189 closed, assigned to gdrewb-valve

[2017-02-28 16:17] AngryPenguinPL opened #1190 "[Linux] Region issues - still swith to automatic"
Since the beginning of this week. I noticed that the game does not save the region that I choose.
For example, I play Normal game on regions of Western Europe and Eastern Europe.

When I turn off the game and start it again servers are once again set to "automatic" and what's interesting to me is Dota looking games in addition to both EU and also with Russians server ...

[2017-02-28 18:19] gdrewb-valve commented on #1190
This is happening on all platforms so it's outside the scope of this tracker.

[2017-02-28 18:19] #1190 closed, assigned to nobody

[2017-02-28 19:11] gdrewb-valve commented on #1190
I heard from the larger team that this is intentional.  The region setting is a temporary override and is supposed to reset.

[2017-03-01 11:37] yekyau opened #1191 "[LINUX] Steam+Dota Crash upon clicking settings cog"
Platform: Solus 2017.01.01
Problem: Clicking the settings cog in any menu or game state will cause a crash of both Steam and Dota.
* When the cog is clicked, the game will hang for up to a couple minutes before crashing. The game can still be killed from a terminal during the hang. Steam immediately crashes.
* The crash has persisted across:
  * Verifying dota files
  * Deleting and reinstalling d

[2017-03-01 16:02] kisak-valve commented on #1191
Hello @zJelly, you can use the `-con_logfile` launch option to get Dota 2 to generate a logfile at game/dota/console.log.

Because the steam runtime is disabled on your system, you should also bring this issue to the attention of your package maintainer for steam. (Is that @ikeydoherty?)

[2017-03-01 17:37] ikeydoherty commented on #1191
@kisak-valve yep. This should've been raised through https://dev.solus-project.com/ to determine whether it was a Solus issue within the runtime or something for upstream.

In the mean time, @zJelly try disabling the Solus runtime using the LSI Settings shortcut in the menu, and then relaunch Steam completely (close from tray) - and try to reproduce the issue. This will then be using Valve's steam

[2017-03-01 18:25] yekyau commented on #1191
Hi all, thanks for the info. I've switched to the Steam runtime and repeated the crash twice with -con_logfile; once in the main menu and once in a hero demo. From what I could see in nautilus, the logfile's size did not change at all once the hang occured. I let it sit for a few minutes before the client closed itself.

New system information: https://gist.github.com/zJelly/ac3f28c28509a473d3d82e

[2017-03-01 19:26] gdrewb-valve commented on #1191
Things work fine on my Linux system.  The console output doesn't show anything interesting, but your crash reports listed in your system info are deep in libopenal and libpulse so this may be connected to your sound configuration.  That would be consistent with opening up settings since the sound settings will be queried.

[2017-03-01 20:21] yekyau commented on #1191
You seem to be onto something there! Performing a microphone test in the steam settings crashes my steam client (both with steam runtime and without). -nosound and -nomicsettings haven't prevented the crashes.

[2017-03-01 22:27] phoerious commented on #1101
I have a steady 20 FPS with OpenGL, both at my native resolution and a lower 1080p resolution. I don't remember it being this bad when 7.00 came out.
Using the Vulkan backend, I can get up to 120 FPS at 1080p and about 75 FPS at WQHD. Menu and loading screen performance still feels very bad, though.

Arch Linux, Nvidia 378.13

[2017-03-02 19:56] gdrewb-valve commented on #1101
For people that haven't already turned all of their options down to low there's a Dota performance test that may suggest settings to tweak for higher frame rates.  http://dev.dota2.com/showthread.php?t=277903

[2017-03-02 22:13] sylware commented on #1124
seems fixed. Cannot reproduce.

[2017-03-02 22:14] kisak-valve commented on #1124
Thanks for retesting, closing.

[2017-03-02 22:14] #1124 closed, assigned to nobody

[2017-03-03 00:02] Ace5040 commented on #1101
I can add some additional information to think off.

My settings all set to minimum (except rendering quality) and I have 120-130 fps with nvidia 750ti on 1680x1050 monitor when game starts

If I open console(full of messages) fps immediately drops to 80-90
Then if I use 'clear' command so the console become empty my fps restores to 120 right away

Next if I open shop and scoreboard and chat at th

[2017-03-03 19:59] joecoyle opened #1192 "[Mac] Recent solo bot matches do not appear in Recent Games list"
Several times now, solo bot matches/practises played on my iMac do not appear in the Recent Games list. This is frustrating. Co-op bot matches do appear.

[2017-03-03 21:30] gdrewb-valve commented on #1192
This wouldn't be Mac-specific so I've passed it on to the larger team.

[2017-03-03 21:30] #1192 closed, assigned to nobody

[2017-03-06 21:48] icculus commented on #960
Sorry for this super-late reply...we ended up replacing most of the Mac-specific audio code around October; do you happen to still be seeing this bug?

[2017-03-07 03:37] jfabre commented on #960
Nope, it actually stopped occurring a couple months ago, probably in October.
I thought it was because of my bug report, oh well... 😃

[2017-03-07 14:16] kisak-valve commented on #960
Thanks for the feedback @jfabre, closing.

[2017-03-07 14:16] #960 closed, assigned to icculus

[2017-03-08 13:01] kisak-valve commented on #985
I am able to reproduce similar to this behavior with Fedora 25 and gnome 3.22, alt-tabbing away and back positions the Dota 2 window below the activity bar with gnome 3 wayland and the mouse input is offset vertically the appropriate amount of pixels. The background is visible in the gap. Like the opening post the game is positioned properly after using gnome's overview. This behavior does not occ

[2017-03-09 11:07] lorax123 opened #1193 "Dota 2 can't launch for Mac"
Just says I'm in game for 2-3 seconds, then goes back to online. I can access other games but not Dota for some reason.

[2017-03-09 13:56] kisak-valve commented on #1193
Hello @lorax123, after verifying the game files (right click the game -> `Properties` -> `Local Files` -> `Verify integrity of game files...`), please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-03-10 12:11] tayhaithian opened #1194 "MACBOOK --> SHIFT KEY pop up overlay screen."
Not sure why after yesterday update on my macbook dota2, just "SHIFT" key itself the screen overlay turns up where usually it was "SHIFT + TAB". Now I couldn't type in capital letters and no more quick slot adding. Every now and then when "SHIFT" key is in concerns, the overlay prompt in the middle of the game again.

This is a serious bug, please help to look into it.

**** It was fixed for an ho

[2017-03-10 16:59] gdrewb-valve commented on #1194
This isn't a Dota issue so we won't be able to track it here but I'll keep this open for a bit in case the Steam team has some information.

[2017-03-10 23:09] Enygma2002 opened #1195 "[Linux] No text in the UI"
Since about a month ago, Dota2 started not displaying text in the UI:
Main Menu:
![dota2 - no text - main screen](https://cloud.githubusercontent.com/assets/709298/23816342/f53f2978-05f4-11e7-8a42-079406a699aa.png)
Settings:
![dota2 - no text - settings](https://cloud.githubusercontent.com/assets/709298/23816352/03f7b728-05f5-11e7-87a6-9391d02baef1.png)

I've googled the issue many times but never

[2017-03-11 00:06] gdrewb-valve commented on #1195
This is going to be a tough one since it's something specific to your system but there's no clear suggestion of what.  Hopefully somebody else will have a similar problem and we can try and see what's common between things.

[2017-03-11 02:05] kisak-valve commented on #1195
Hello @Enygma2002, given the timeline you have described my best guess is that the 2017-01-19 steam client update exposed a broken system configuration with the then new default to prefer system libraries. You should be able test this by completely closing steam, then running `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam` from a terminal.

If this helps, great, but since this issue does not occur w

[2017-03-11 13:14] Enygma2002 commented on #1195
Running `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam` I get:
[code]
This happens even when I try to run CSGO (which works with steams bundled libs, i.e. without setting that variable).

In terms of installed packages, I have:
[code]

Any help in debugging this issue (even if at a system configuration level) would be highly appreciated both by myself, and by anyone else experiencing this problem.

[2017-03-11 13:37] kisak-valve commented on #1195
This error message is telling you that the steam runtime provided libstdc++ is too old to be used with the system built optirun. Something like `LD_PRELOAD="libpthread.so.0 libGL.so.1" optirun -b primus %command%` may help with that error, otherwise you may need to either LD_PRELOAD libstdc++ or remove it (libstdc++) from the steam runtime so that the system variant is used.

As for the font issue

[2017-03-11 13:49] Enygma2002 commented on #1195
@kisak-valve, using `LD_PRELOAD="libpthread.so.0 libGL.so.1" optirun -b primus %command%` as launch options gets the game started, but it brings me to the same point I was to begin with, the missing fonts problem (and pango error in the logs).

Any suggestion on how I could synchronize the used libraries (system vs steam)? Would a steam full reinstall be an option?

[2017-03-11 13:55] kisak-valve commented on #1195
I personally do not much more insight to give on this matter. Hopefully a more experienced Fedora user will have an idea. Here's the manifest: [Fedora 25 test box package manifest](https://github.com/ValveSoftware/Dota-2/files/835801/Fedora.25.test.box.package.manifest.txt)

[2017-03-11 16:07] Enygma2002 commented on #1195
I've tried reinstalling steam completely:
* dnf remove steam
* rm ~/.steam
* rm ~/.local/share/Steam
* dnf install steam

...same result.

I've also looked at the package list you've provided and diffed it with my installed packages, for all packages containing `font` in their name. Came up with this list of packages missing from my system and installed them:
* adobe-source-han-sans-cn-fonts.noarc

[2017-03-13 14:50] FlorianWendelborn commented on #1188
I have huge FPS drops when moving the camera via the edge. It goes down to ~25-30 FPS on a GTX 780, i7 6700K, 32 GB RAM hackintosh. Maybe related?

[2017-03-13 14:51] RankoR commented on #1188
@dodekeract yep, the same behaviour on my GTX970.

[2017-03-13 14:52] FlorianWendelborn commented on #1188
@gdrewb-valve Anything I can do to make this easier to diagnose? I'd be willing to setup a TeamViewer connection or do some debugging if you tell me what needs to be done.

[2017-03-13 14:54] RankoR commented on #1188
By the way, I've rechecked on the same PC with Windows 10 — game is extremely smooth. FPS are dropping only on macOS.

[2017-03-13 14:56] FlorianWendelborn commented on #1188
@RankoR Not a solution for me, I don't let malware into my LAN. 😉

[2017-03-13 16:05] FlorianWendelborn commented on #1188
It actually seems to be fixed by using the NVIDIA Web Drivers. GTX 780 is supported natively by macOS so I didn't want to install them.

EDIT: Just played a whole match, FPS didn't drop below 60 mostly. Still a bit underwhelming for a GTX 780 but it's fine.

[2017-03-13 16:06] RankoR commented on #1188
@dodekeract I have the latest web driver installed, because GTX970 has no native support. And I see these drops.

[2017-03-13 20:14] gdrewb-valve commented on #1193
Closing pending more info.

[2017-03-13 20:14] #1193 closed, assigned to nobody

[2017-03-13 20:15] gdrewb-valve commented on #1194
I haven't heard anything back from the Steam team, unfortunately.  Closing but if I do hear something I'll post here.

[2017-03-13 20:15] #1194 closed, assigned to gdrewb-valve

[2017-03-13 23:39] gdrewb-valve commented on #724
Are you using the Steam client beta?  They just released some changes to the voice support that you'll want to try.

[2017-03-13 23:41] gdrewb-valve commented on #1064
The missing notifications have been addressed, correct?  The only issue here now is duplicate notifications?

[2017-03-13 23:42] gdrewb-valve commented on #1023
This isn't a Mac/Linux issue so I'm closing this out.

[2017-03-13 23:42] #1023 closed, assigned to nobody

[2017-03-13 23:43] gdrewb-valve commented on #1048
I haven't heard anything from the Steam team but is this still an issue?  I'm going to be closing it anyway as it isn't a Dota problem but I wanted to check on the status.

[2017-03-13 23:44] gdrewb-valve commented on #1080
Closing in favor of the Dota-2-Vulkan issue as this is a Vulkan problem and not a Dota problem.

[2017-03-13 23:44] #1080 closed, assigned to Plagman

[2017-03-13 23:45] gdrewb-valve commented on #1084
Closing as this does not appear to be a Dota issue.

[2017-03-13 23:45] #1084 closed, assigned to Plagman

[2017-03-13 23:46] gdrewb-valve commented on #1134
Closing as this isn't a Dota issue.

[2017-03-13 23:46] #1134 closed, assigned to Plagman

[2017-03-13 23:46] gdrewb-valve commented on #1169
Closing as this isn't a Dota issue.

[2017-03-13 23:46] #1169 closed, assigned to Plagman

[2017-03-13 23:48] gdrewb-valve commented on #1157
This is a long shot but the March 13 update has a change that helps with certain situations, primarily illusions.  After updating do you still have the same issue?

[2017-03-13 23:48] gdrewb-valve commented on #1181
The latest Steam client beta has some voice support changes, does it help?

[2017-03-13 23:49] gdrewb-valve commented on #1187
The latest Steam client beta has some voice support changes, do they make any difference if you use the beta client?

[2017-03-13 23:50] gdrewb-valve commented on #1188
The March 13 update has some changes around the Monkey King ult and illusions, does it make any difference?

[2017-03-13 23:55] RandomHeroLich opened #1196 "Mac - Monkey King causes Dota2 to crashes"
When Playing against Monkey King, everytime the hero is on my screen, it causes Dota2 to crash.

I can play perfectly fine in any game without Monkey King.
If Monkey King is in another lane, (not displayed on my screen) I can play fine.
Any time Monkey King enters my screen view, game immediately crashes.

Doesn't happen with any other hero.

My Mac:
Mac Mini mid 2011
OSX 10.9.5
2.3GHz i5
16 GB 16

[2017-03-14 00:23] kisak-valve commented on #1157
The update does not appear to have improved the test case on my r600g test system.

[2017-03-14 00:25] Cabanur commented on #1064
On KDE, I still don't get notifications when finding game.

[2017-03-14 00:26] gdrewb-valve commented on #1196
Have you validated your Dota install in the Steam client?

[2017-03-14 00:27] gdrewb-valve commented on #1157
OK, thanks.

[2017-03-14 00:28] RandomHeroLich commented on #1196
yes

[2017-03-14 00:29] gdrewb-valve commented on #1064
@Cabanur does notify-send work on your system?

[2017-03-14 02:06] RamcLindstrom commented on #1187
I do not, as far as I know, use the Steam Beta client, just the default. I
updated my Steam Client and tried a few test games with Bots just now. The
first game there was a very slight delay and it went right to the 'white'
ok-to-talk mic. The second two it performed correctly. When I turned Dota2
off then back on it again only had a split-second of the disabled mic icon.
It seems like an improvem

[2017-03-14 02:13] gdrewb-valve commented on #1187
Thanks, I'm going to close this out.

[2017-03-14 02:13] #1187 closed, assigned to gdrewb-valve

[2017-03-14 03:24] gdrewb-valve commented on #1196
No repro on my Mac in a hero demo.  If you look in your Steam system information do you have any failure reports with crash IDs?

[2017-03-14 04:07] Cabanur commented on #1064
@gdrewb-valve Other apps (like spotify and firefox) were correctly showing system notifications so I just assumed everything was fine in my system. No, `notify-send` doesn't work on my system, but `kdialog --passivepopup` does.

Looking into this, libnotify4 is installed, but libnotify-bin is not. Installing it right now, will report back next time i play Dota.

[2017-03-14 04:18] RandomHeroLich commented on #1196
I can demo Monkey King and not crash.  I think it has to do with him being in multiplayer game with me.  Steam System info only gave me stats of my Mac.  I did restart steam since the last time it crashed, did that clear it?  Should I go there and copy it immediately next time it crashes?

Computer Information:
    Manufacturer:  Apple
    Model:  Macmini5,1
    Form Factor: Desktop
    No Touch I

[2017-03-14 04:25] gdrewb-valve commented on #1196
The failure reports aren't cleared so if you don't have any it means Dota and Steam didn't catch any.  That usually means it was a system failure and not something directly in Dota and will be harder to isolate.

[2017-03-14 04:37] RamcLindstrom commented on #1187
Thank you for looking into the matter.

On Mon, Mar 13, 2017 at 10:13 PM, Drew Bliss <notifications@github.com>
wrote:

[2017-03-14 04:47] RandomHeroLich commented on #1196
I can play with bots solo as Monkey King and not crash.

This is what I found in the console

Looks like there is several log entries that repeat just before the crash:
http://i.imgur.com/wI8cSCc.png

[Apple crash report](https://gist.github.com/kisak-valve/f4370f1b85c4525388ec8ee00e4e9d62) (Crash report moved to a Gist by moderator)

[2017-03-14 05:06] BrendanBall commented on #1064
@gdrewb-valve I'm pretty the issue I created regarding missing notifications has been addressed and is closed. All notifications have been working perfectly for me for a while now. I'm running Arch Linux so as long as libnotify and any notification server is installed and working properly I don't see why it wouldn't work on a distro like ubuntu (which has it installed by default). @Cabanur KDE by

[2017-03-14 05:09] gdrewb-valve commented on #1196
That crash is in Apple's OpenGL driver so Valve may not be able to do much about it.

[2017-03-14 05:10] gdrewb-valve commented on #1064
notify-send is used so it must be present and functioning.

[2017-03-14 05:59] RandomHeroLich commented on #1196
Ok, thanks for checking

[2017-03-14 11:48] grasdaggel commented on #724
Thanks for that. Gonna give it a shot tonight!

[2017-03-15 05:58] RankoR opened #1197 "How to launch Dota with 4K resolution on macOS?"
I have a 4K display as primary display & FullHD as secondary one. My GPU is GTX 970 with latest NVidia web driver.

All software runs in "full resolution" mode (including Steam), but Dota runs in "support" mode with max resolution = 1920*1080 and everything is scaled: [Screenshot](https://i.imgur.com/5HtYmVE.png).

How to launch it with 4K support?

UPD. I've found out that if I set "exclusive ful

[2017-03-15 17:20] gdrewb-valve commented on #1197
Dota uses SDL for all of its window setup so assigning to SDL dev.

[2017-03-15 17:36] Cabanur commented on #1064
After installing libnotify-bin, which provides `notify-send`, it works.

[2017-03-15 17:53] gdrewb-valve commented on #1064
Thanks.  RogerDodger hasn't responded but I'm going to edit this to only mention the duplicates.

[2017-03-15 20:16] TheNeikos commented on #360
@imdoes I also use Herbstluftwm and have the same issue

[2017-03-15 22:24] dsjoho commented on #360
@TheNeikos @Turmfalke2 I have changed to herbstluftwm for unrelated reasons and in the process found a workaround which isn't pretty, but it works.
I do not know how to achieve the same thing in other window managers, but it's probably doable, ymmv.

Add the following rule to your hlwm autostart (or just test it out manually, might want to add your normal `tag=X`, I removed mine so as to not supri

[2017-03-15 23:44] kisak-valve commented on #922
Does anyone still encounter this issue with the updated captain's mode UI in the [2017-03-15 Dota 2 update](http://www.dota2.com/bladeformlegacy)?

[2017-03-15 23:47] gdrewb-valve commented on #922
I believe the CM spectating UI didn't change, just the live UI.

[2017-03-15 23:51] kisak-valve commented on #922
Thanks for the factoid @gdrewb-valve.

[2017-03-16 04:55] deksden commented on #1168
Time ticking, no fix, so workaround: replace icon by yourself

Steps:
- create desktop shortcut via Steam
- in context menu for shortcut choose item "Show contents", goto Contents/Resources and find shortcut.icns (1)
- in internet, find any picture to be desktop icon (just google for picture "Dota2 icon")
- use any converter to convert png to icns format (google it and choose online converter - it

[2017-03-16 07:08] TheNeikos commented on #360
Something I did find while scouring the internet today is this console command:
`engine_no_focus_sleep 0`

And from my testing it seems to work, maybe it can help you (and maybe the devs can put some light on what this one does differently to the menu options?)

[2017-03-16 07:13] gdrewb-valve commented on #360
The March 16th update has the latest SDL which is supposed to have a fix for this.  If anybody is still seeing it please post here.

[2017-03-16 07:15] gdrewb-valve commented on #1122
The March 16th update had a variety of perf changes, did anything improve?

[2017-03-16 07:15] TheNeikos commented on #360
Or that might have fixed it! I will try it without setting that value

Just ran a test game, and it seems fixed, and it's also much smoother so yay! Thanks a lot

[2017-03-16 16:51] Faraclas commented on #1056
This is a Dota issue (I have the same issue). I am also using gnome 3.22 but am using X11 not Wayland (gentoo).  I just noticed this issue over the past week.

[2017-03-16 17:16] Cabanur commented on #1056
Works properly on KDE with X11 in my Debian Testing system.

[2017-03-16 17:25] RankoR commented on #1188
I don't see any difference. And in fact, on the same config I see the same performance on FullHD and 4K display — I have the same frame drops on both resolutions.

[2017-03-16 17:27] RankoR commented on #1188
BTW, I've played CS:GO on the same PC, and I do not see any frame drops even on 4K display.

[2017-03-16 18:00] gdrewb-valve commented on #1188
The latest changes were CPU-side optimizations but apparently your MacOS issues stem from some other source, unfortunately.

[2017-03-17 06:16] Geradot opened #1198 "Crash Dota by pressing some keys"
I press "Space", "T" — the game crashes. The key "A" generally works as Esc. WTF is this? And this issues is in main menu. This began to be right after the release of 7.03 patch.
OS: Linux Mint 18.1 x64.

[2017-03-17 06:22] Cabanur commented on #1198
Copying your system information from steam menu to a gist will give the dev
team a better idea about your setup so they can help you.

[2017-03-17 06:26] Geradot commented on #1198
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Brand:  AMD Athlon(tm) II X4 620 Processor
    CPU Family:  0x10
    CPU Model:  0x5
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  2600 Mhz
    4 logical processors
    4 physical processors
    HyperThreadin

[2017-03-17 07:01] gdrewb-valve commented on #1198
No problems on my system.  Possibly related to the SDL update.

[2017-03-17 07:07] Geradot commented on #1198
What can I do for my part to solve this problem?

[2017-03-17 07:32] martindale opened #1199 "Mouse Input on Ubuntu No Longer Captured in Window"
Doesn't matter what setting I use, mouse input is no longer captured inside the window while in-game... game unplayable.  Uninstalling! </s>

[2017-03-17 07:32] gdrewb-valve commented on #1198
If you have libSDL2.so on your system you can try removing the one in the Dota directory (which will not stay that way as the game will try to repair).  Otherwise you'll have to wait and see if other people hit the same problem or if the SDL dev has some ideas.

[2017-03-17 07:33] gdrewb-valve commented on #1199
Possibly related to the SDL update.

[2017-03-17 08:26] Geradot commented on #1198
This did not solve the problem

[2017-03-17 12:43] kisak-valve commented on #1199
Noted in #1056, Gnome 3.22 is affected, KDE may not be affected. Additionally, Gnome 3.14 was mentioned as affected on an irc channel.

[2017-03-17 13:09] kisak-valve commented on #1198
You could try switching Settings -> Advanced Hotkeys -> Bind keys based on keyboard position and see if that makes a difference.

[2017-03-17 13:23] Geradot commented on #1198
I tried. This did not solve the problem. Furthermore, this bug still working even when the game is minimized: I press "Space" -- the game crashes

[2017-03-17 13:52] nickarchd commented on #473
same problem here. when i press  right shift or T or Y  the game crashes to desktop
i tried to remove my game and download again. still same problem though

Debian 8 Jessie

RAM: 8gb
X Window System: KDE
Kernel: 3.16
VGA: Geforce GTX 660 2gb

[2017-03-17 13:54] kisak-valve commented on #473
Hello @ryonagana, the recent regression is being tracked at #1198, please use the open issue report.

[2017-03-17 14:16] Geradot commented on #1198
kisak, none of the methods listed in the your link corrected the problem

[2017-03-17 17:02] danginsburg commented on #1198
@Geradot I am not able to repro this problem on a couple of my Linux test systems.  When it crashes, could you go to Steam -> Help -> System Information and at the end under "Recent Failure Reports" either post the .dmp file or post the CrashID and we can look it up here.

[2017-03-17 17:07] Geradot commented on #1198
[crash_20170317161004_1.zip](https://github.com/ValveSoftware/Dota-2/files/851279/crash_20170317161004_1.zip)

[2017-03-17 17:56] danginsburg commented on #1198
@Geradot Thanks.  The crash is in our inputsystem.  We are still trying to find a repro.  Do you by chance have any joysticks/controllers plugged in?  Does the problem go away if you remove them?  If so, what kind of controller?  Thanks for all the help.  As soon as we can repro the crash we'll figure out what it is.

[2017-03-17 18:08] Geradot commented on #1198
No, I haven't joysticks.

[2017-03-17 18:43] icculus commented on #1199
Does fullscreen mode work for you, as an option while we figure out what went wrong?

[2017-03-17 20:35] Leibide commented on #1199
I encountered something similar - I could scroll up on the map by moving the mouse pointer up, but couldn't scroll any other direction.
I've uninstalled this game.
system:
Linux Ubuntu 16.04.02
Intel Pentium G4560
2x4 GB RAM
Radeon RX460

[2017-03-17 21:36] Geradot commented on #1198
Maybe this info will be useful:

`$ dmesg | tail -n1`
`
[  124.070569] dota2[1975]: segfault at 45e68 ip 00007f3df60474e6 sp 00007ffd03a71c40 error 4 in libinputsystem.so[7f3df6031000+50000]
`

[2017-03-18 03:43] martindale commented on #1199
@rcgordon no, the only thing that works is disabling my other displays _and_ enabling fullscreen.  Fullscreen on a single display in a multi-monitor setup fails to capture the mouse.

[2017-03-18 12:33] ImRebel88 commented on #1198
I got the same problem.

    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Pentium(R) CPU G4400 @ 3.30GHz
    CPU Family:  0x6
    CPU Model:  0x5e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3300 Mhz
    2 logical processors
    2 physical processors
    Hyper

[2017-03-18 14:26] kisak-valve commented on #1198
For reference, crash_20170318142131_1.dmp is a SIGSEGV in libengine2.so, coming from libinputsystem.so (Dota 2).

[2017-03-18 17:01] Cabanur commented on #1199
On Debian Testing with KDE this is not an issue for me. I have two monitors, a main 1920x1200 and a secondary 1680x1050.

In fact, I sometimes have to alt-tab twice because the first time it seems like the cursor is still locked. The cursos ir not locked while on the menu or spectating games, but is correctly locked when playing. I think I have desktop-friendly full-screen, but I'm not sure. I can

[2017-03-19 04:15] tulgak1996 opened #1200 "jugg arcana omnislash crashes my game every time"
jugg arcana ulti crashes my game. its making dota unplayable. pls fix. on mac os x

[2017-03-19 10:42] Geradot commented on #1198
Dear developers, what can you say about this issue? We can't play in Dota for several days already.

[2017-03-19 11:08] martindale commented on #1199
Latest patch seems to fix this.

[2017-03-19 12:55] kisak-valve commented on #1200
Hello @tulgak1996, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. If you happen to find any CrashIDs or minidumps related to this issue, please include them as well.

[2017-03-19 14:12] AngryPenguinPL commented on #1122
I think the performance is better. I played match on Friday, off line 1 vs 2 and FPS varied between 60 FPS. Of course in team fight my FPS dropped a bit, but I can see a noticeable improvement.

Thanks.

[2017-03-20 01:28] tulgak1996 commented on #1200
hi, thank you responding kisak
here is the gist of my system info from steam https://gist.github.com/tulgak1996/1bb46eb2039a9c05f008787b73dbf48d
i also made a gist of the Crashid apple gives me after dota crashes https://gist.github.com/tulgak1996/61851885cc5af4df1c3ec774f5dcc892
idk if its any help as it is very long and im not that tech savvy.

[2017-03-20 01:51] tulgak1996 commented on #1200
also i went to console and found this
![screen shot 2017-03-20 at 12 49 02 pm](https://cloud.githubusercontent.com/assets/26515277/24086918/ca5ec032-0d6b-11e7-8eb4-804fd6f969f3.png)

[2017-03-20 04:45] Olosinsk-commits commented on #1198
Geradot, just wondering, do you have this issue on both, Ru and Eng layouts?

[2017-03-20 06:04] Geradot commented on #1198
Yes,  I  have. It doesn't depend on layout.

[2017-03-20 09:48] vmavromatis commented on #1199
I also have an issue with the cursor in dual screen. I start it (in primary) with **-phased_window_create** in options and set **dota_mouse_window_lock=1** in console. The cursor locks in game, however, it extends into the edge of the secondary monitor whenever I move it to the right edge. It's not a devastating bug, but still needs fixing. I confirm it in two setups (Ubuntu 16.04.2/Gnome, Mint 18

[2017-03-20 15:30] gdrewb-valve commented on #1200
The crash is in Apple's OpenGL driver so Valve may not be able to do anything directly about it.  We'll take a look.

[2017-03-20 15:32] gdrewb-valve commented on #1198
Unfortunately we have not been able to get this to happen at Valve yet so we don't have any news.  We'll keep trying to find out the cause.

[2017-03-20 15:53] Geradot commented on #1198
I think you (maybe and Valve) remember that this problem is not for me alone

[2017-03-20 17:30] tulgak1996 commented on #1200
hi i have just updated my OS X software to sierra and tested the arcana. it seems to have gotten rid of the crash but i still have heavy fps drops during the ulti

[2017-03-20 20:38] RoryDuncan opened #1201 "[Linux] Cursor problems with Chat Wheel with Multiple Monitors in Desktop Friendly Mode"
## Description

Using the chat wheel while having two monitors in desktop friendly mode causes the cursor to instantly jump to the monitor edge that borders the other monitor.

I only bought the second monitor recently, so can't say anything about dota2 version.
Works as expected in windowed and borderless windowed mode.

## system details:

### OS

[code]

### Hardware

[code]

[2017-03-20 20:47] kisak-valve commented on #1201
Possible duplicate of #286.

[2017-03-20 21:16] phoerious commented on #1101
Sorry, if this is slightly off-topic. In addition to my observations about the overly poor performance on OpenGL and mediocre performance on Vulkan, I noticed that I still have screen tearing in Vulkan, even when Vsync is enabled. The tearing only appears in the upper part of the screen. I know that there is (was?) a known bug in the Nvidia driver for Linux. Is this still the same bug or a regress

[2017-03-20 23:23] gdrewb-valve commented on #1201
Possibly due to the SDL update.

[2017-03-20 23:43] martindale commented on #1199
It seems like exiting fullscreen mode returns the bug as well; full-screen on a triple-head display captures mouse during the game, but windowed mode does not.

[2017-03-21 14:15] danginsburg commented on #1198
@Geradot We are aware others are seeing the problem, we just haven't figured out a way to reproduce the issue yet.  If anyone has further info/repro instructions beyond what's here already please add to the bug.

[2017-03-21 17:16] Geradot commented on #1198
I tried to install Ubuntu 16.04 - the problem is not solved :(

[2017-03-21 17:19] danginsburg commented on #1198
@Geradot Can you post the output of the locale command on your system?  Maybe it is to do with system language settings.

[2017-03-21 17:21] Geradot commented on #1198
I did it in third message on this page. Else what do you mean?

[2017-03-21 17:24] danginsburg commented on #1198
Drop to a terminal and type locale.  You should see output like this:

locale
LANG=en_US.UTF-8
LANGUAGE=en_US
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_MONETARY="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_PAPER="en_US.UTF-8"
LC_NAME="en_US.UTF-8"
LC_ADDRESS="en_US.UTF-8"
LC_TELEPHONE="en_US.UTF-8"
LC_MEASUREMENT="en_US.UTF-8"
LC_IDENTIFICATION

[2017-03-21 17:27] Geradot commented on #1198
$ locale
LANG=ru_RU.UTF-8
LANGUAGE=ru:en
LC_CTYPE="ru_RU.UTF-8"
LC_NUMERIC=ru_UA.UTF-8
LC_TIME=ru_UA.UTF-8
LC_COLLATE="ru_RU.UTF-8"
LC_MONETARY=ru_UA.UTF-8
LC_MESSAGES="ru_RU.UTF-8"
LC_PAPER=ru_UA.UTF-8
LC_NAME=ru_UA.UTF-8
LC_ADDRESS=ru_UA.UTF-8
LC_TELEPHONE=ru_UA.UTF-8
LC_MEASUREMENT=ru_UA.UTF-8
LC_IDENTIFICATION=ru_UA.UTF-8
LC_ALL=

[2017-03-21 17:28] Geradot commented on #1198
I tried do
$ LC_ALL=en_US.UTF-8 steam
but the problem is not solved

[2017-03-21 18:01] danginsburg commented on #1198
Yeah, that does not appear to be the problem, I tried forcing Russian on my machine and still could not reproduce.  Sorry and thank you for all the responses.  If you don't mind, one last thing: can you put -con_logfile in your Launch Options and post ~/.steam/steam/steamapps/common/dota 2 beta/game/console.log.  I'm noticing that some machines crashing with a similar callstack have this at the be

[2017-03-21 18:23] Geradot commented on #1198
Did it.
[console.log.zip](https://github.com/ValveSoftware/Dota-2/files/859239/console.log.zip)
This text string is present in this logfile!
What can I do now?

P.S. I did the command
`$ cat /proc/bus/input/devices`
and look it

I: Bus=0003 Vendor=09da Product=90c0 Version=0111
N: Name="A4TECH USB Device"
P: Phys=usb-0000:00:02.0-4/input0
S: Sysfs=/devices/pci0000:00/0000:00:02.0/usb2/2-4/2-4:1.0/

[2017-03-21 19:10] ImRebel88 commented on #1198
me too have keyboard A4tech g800v, so thats the problem?

[2017-03-21 19:12] Geradot commented on #1198
So, this line has been since the installation of Linux. And the game worked correctly before 7.03

[2017-03-21 19:15] ImRebel88 commented on #1198
Same for me, game begin crash after  7.03

[2017-03-21 19:15] Geradot commented on #1198
I'm talking about the same thing)

[2017-03-21 19:22] danginsburg commented on #1198
It looks likely related, this is in your console.log:

Opening joystick 0 : A4TECH USB Device

@Geradot Exactly what mouse or keyboard do you have so that we can get one to repro?  It sounds like @IMRebel88 has the bug with A4Tech G800MV Keyboard.

See this thread: https://bbs.archlinux.org/viewtopic.php?id=189901 for possible workarounds.  We'll have to get one of the offending pieces of hardware

[2017-03-21 19:25] Geradot commented on #1198
@danginsburg I have A4Tech G800V Keyboard. And I can't to swap keyboard...

So, I tried https://bbs.archlinux.org/viewtopic.php?id=189901 but after computer's reboot all is reset by default.

[2017-03-21 19:34] ImRebel88 commented on #1198
@danginsburg with simple PS/2 kayboard all fine, no crash.
So its problem with KB+7.03

[2017-03-21 19:37] danginsburg commented on #1198
OK, thanks.  At least we've solved the mystery of what is triggering the crash.  We'll get the hardware here so we can track it down.

[2017-03-21 23:45] danginsburg commented on #1199
We just shipped an update with a potential fix for this bug in the March 21st update.  Can those who were seeing the problem please retest and let us know if it is any better?  Thanks.

[2017-03-22 20:01] vmavromatis commented on #1199
I confirm that mouse is captured in all 3 video modes. However the visual glitch of having the cursor extending into the secondary monitor still exists for me.

FWIW, left monitor is ASUS VS247H-P, right is LG 24MT46D
![img_20170323_082021](https://cloud.githubusercontent.com/assets/8668731/24238385/fe412c4a-0fa1-11e7-87ca-d6f1b90293cc.jpg)

[2017-03-23 09:45] vmavromatis commented on #1146
@evaldobratti I know this is old, but as a workaround you can always adjust brightness with linux commands as such:

-  `xrandr --output DVI-D-0 --brightness 1.3` (mine is DVI-D-0 but you can get your monitor name with `xrandr -q | grep " connected"`).

- However I found it's much better to just increase gamma in Dota: `xgamma -gamma 1.3`

[2017-03-23 19:46] danginsburg commented on #1198
I have the keyboard and have the bug reproduced.  I'm working on a fix.  We're still trying to figure out whether to fix SDL or source2.  In the meantime, this repository has a workaround that should fix the problem:

https://github.com/denilsonsa/udev-joystick-blacklist

The problem stems from the A4Tech G800V keyboard 09da:90c0 being detected as ID_INPUT_JOYSTICK in udev.  SDL ends up reporting

[2017-03-23 21:25] danginsburg commented on #1198
A fix for this has been checked in.  It will ship in the next Dota 2 Update.  I'll update the bug when it ships.

[2017-03-23 21:32] Geradot commented on #1198
Thank you. Сan you inform here about when will the update that corrects this error? Or this information will be in the patchnote?

[2017-03-23 21:54] RandomHeroLich commented on #1196
It seems like the March 13, 2017 update fixed the issue for me.  I played an online Multiplayer game against Monkey King and had no issues.

[2017-03-23 22:13] kisak-valve commented on #1196
Closing per the last comment, if this issue comes back, let us know and we can reopen.

[2017-03-24 02:46] Olosinsk-commits opened #1202 "[Linux] Stuck at exit dialog or game freezes when change layouts from Eng to RU"
Hello,

I have several similar bugs here to bring to you (I play with it > 6 months):

1)The game freezes and not responding when I try to exit.
2) The game freezes and not responding when I change layout from ENG to RU
3)The game freezes and not responding when I change "sound settings"

The problem is not new and I follow up several #bugs here:
[994](https://github.com/ValveSoftware/Dota-2/issue

[2017-03-24 04:29] gdrewb-valve commented on #1202
It's the audio support that you want to look at.  This is likely a duplicate of #793.

[2017-03-24 04:52] Olosinsk-commits commented on #1202
I checked. It didn't help.

[2017-03-24 11:43] danginsburg commented on #1198
I will post here when it ships.  It missed the window for yesterday's update, but it should make the next one.

[2017-03-25 11:29] danginsburg commented on #1198
The fix for this shipped in the March 24th update.  Should be fixed now.

[2017-03-25 11:31] Geradot commented on #1198
Thank you, man. I will write about this later.

[2017-03-25 17:18] Geradot commented on #1198
Yes, this issue has been solved!

[2017-03-25 17:18] #1198 closed, assigned to icculus

[2017-03-25 19:22] gvr1421 opened #1203 "DotA2 freezes when there are using a lot of abilities on the screen"
HI.
I have this issue. So every game dota  freezes when  many heroes use their abilities. Thats rly annoying, i die in game many times coz of it. After it freezes i need to use combo cmd+alt+esc. it only one way to close the game. Then i launch it again, rc to the game. but it can freeze again during fights. Sometimes it freezes suddenly, when i move my camera sharp. What can i do?

[2017-03-25 19:28] gvr1421 commented on #1203
https://gist.github.com/gvr1421/98ea27359a31df1af795b6ff85cbc63d

[2017-03-25 21:31] gvr1421 commented on #1203
screens

![2017-03-25 23 42 12](https://cloud.githubusercontent.com/assets/25325983/24326248/76563ef8-11bb-11e7-978d-73d27b2faecd.png)
![2017-03-25 23 42 20](https://cloud.githubusercontent.com/assets/25325983/24326247/765623be-11bb-11e7-9f26-fcd969a38027.png)
![2017-03-26 0 28 41](https://cloud.githubusercontent.com/assets/25325983/24326249/76572fe8-11bb-11e7-9b44-a238eac574f7.png)

[2017-03-26 06:13] gdrewb-valve commented on #1203
Do you have a match ID of any case where this has happened?  If so does it happen again when you watch the replay at the same point?  If it does happen every time and you have that match ID and time we can try it here.  Otherwise it's not clear what's happening nor how to fix it.

[2017-03-26 12:06] gvr1421 commented on #1203
[MAtch ID - 3077619511
Time 2:28] Here u can wacth it in player perspective (slardar) and see how my cursor stopped

[Match ID 3077234476
Time 8:20] here it freezed, but i wasn't disconnected at once

When i watch replays at this moments^ it doesnt freeze

[2017-03-26 12:06] gvr1421 commented on #1203
i can give u more matches, if 2 is not enough

[2017-03-26 15:08] gdrewb-valve commented on #1203
What we really need is a match where the problem happens again when watching the match as that would give us a clear idea of the source of the problem.  If the hang doesn't happen for you when watching the exact same point in the match that means the problem isn't directly related to whatever was happening in the match at that point and it's still unknown what's happening for you.  I'll check the

[2017-03-26 15:52] gvr1421 commented on #1203
I watched all replays where was the probleme with freezing, but while i was watching there were not any freezes

[2017-03-26 17:21] GosuGamerL opened #1204 "Huge fps drops and missing cooldown animations since 7.00"
Hi! Here is my system: https://gist.github.com/GosuGamerL/0be27320aac70e8397e0099c03b029c4
So since 7.00 i have been getting huge fps drops in fights up to 15 fps, regardless of which setting i choose.(max and min produce same results). I tried reinstalling dota 2 and video drivers but it did not help.

Moreover, If I enalbe -dx11 in launch options, i do not have cooldown animations(for skills, it

[2017-03-27 00:14] gdrewb-valve commented on #1204
This tracker is only for Mac and Linux bugs, you'll want to post at dev.dota2.com

[2017-03-27 00:14] #1204 closed, assigned to nobody

[2017-03-27 00:32] Cabanur commented on #1203
Maybe there's some other process running on your computer while gaming
which generally isn't a problem for your PC to handle, but when Dota starts
demanding more resources your PC struggles to handle everything. Stuff like
Discord/Skype, a web browser or anything else running on your background
might be cause for this issue.

Just trying to give ideas.

[2017-03-27 12:11] gvr1421 commented on #1203
@Cabanur i've been thinking about it. But 80% of time i play only dota, w/o using any other programs. So it freezed even when i launched only dota. Although there is steam launched on mac

[2017-03-27 18:24] gdrewb-valve commented on #360
Closing as this appears fixed.

[2017-03-27 18:24] #360 closed, assigned to gdrewb-valve

[2017-03-27 18:24] gdrewb-valve commented on #724
Are things any better?

[2017-03-27 18:24] gdrewb-valve commented on #1048
Closing.

[2017-03-27 18:24] #1048 closed, assigned to gdrewb-valve

[2017-03-27 18:24] gdrewb-valve commented on #1181
Closing pending more info.

[2017-03-27 18:24] #1181 closed, assigned to gdrewb-valve

[2017-03-27 18:26] gdrewb-valve commented on #1199
The rendering of the cursor is a system issue and not a Dota issue, so it sounds like this can be closed out?

[2017-03-27 18:30] gdrewb-valve commented on #1200
Closing as the crash appears to have been a system issue.  Perf is already covered in a couple of open issues, such as #1101.

[2017-03-27 18:30] #1200 closed, assigned to danginsburg

[2017-03-27 18:34] kisak-valve commented on #1199
I agree, in my experience other fullscreen opengl applications allow for the cursor to render on other monitors, it's just more visible with Dota 2's larger cursor.

[2017-03-27 18:47] vmavromatis commented on #1199
Yes, you are right, it does not only happen with Dota. I just noticed it, because this was not an issue in Windows AFAIK.

[2017-03-27 19:06] gdrewb-valve commented on #1203
I haven't been able to find anything unusual happening in the replays so it's still a mystery as to what is going wrong for you.  We'll keep looking.

[2017-03-27 19:06] gdrewb-valve commented on #1199
Thanks, closing.

[2017-03-27 19:06] #1199 closed, assigned to gdrewb-valve

[2017-03-27 19:27] gdrewb-valve commented on #1122
OK, I'm going to close this.  There'll be more perf work over time from the Dota team (not just the porting team monitoring this tracker) and we're going to keep #1101 open.

[2017-03-27 19:27] #1122 closed, assigned to gdrewb-valve

[2017-03-28 13:07] grasdaggel commented on #724
You might laugh, but my mic went broken the very same day - forgot to update it here. Might purchase a new one today as my salary just came in. :')

[2017-03-28 18:36] Enygma2002 commented on #1195
Any help on this would be highly appreciated!

[2017-03-29 10:56] tarriel opened #1205 "Incorrect Game Overview after watching 1V1 mid"
After watching some games of DAC in game, I watched the first 1v1 mid, RTZ vs Miracle- and instead the summary showed 1437 vs KuroKy  This used to happen in games before but I haven't seen it for a while, probably because this is the first 1v1, the second 1v1 match also did not show the correct contestants. and so on.
![dota2 dac solo mid - kuro vs 1437](https://cloud.githubusercontent.com/assets/

[2017-03-29 16:07] gdrewb-valve commented on #1205
This tracker is for issues that only happen on Mac/Linux and this kind of thing would affect all platforms.  You can post general bugs at dev.dota2.com

[2017-03-29 16:07] #1205 closed, assigned to nobody

[2017-03-29 21:45] tarriel commented on #1205
I don't have access to a windows platform, makes it a bit hard to check.

[2017-03-29 21:50] gdrewb-valve commented on #1205
That's fine, if you don't know just open them here and we'll close them out if we know.

Also in the future please include a gist link to your system info.

[2017-04-04 07:36] yugimutou92 opened #1206 "game and computer crashes if any of the social feature is used."
this is started to happen recently, whenever i keep my steam status offline, steam overlay and other steam notifications disabled i can play dota as much as i can, but if i turn on any of these above it just crashes at main menu.

[2017-04-04 12:34] kisak-valve commented on #1206
Hello @yugimutou92, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. If you happen to find any CrashIDs or minidumps related to this issue, please include them as well.

[2017-04-04 13:19] yugimutou92 commented on #1206
[here](https://gist.github.com/yugimutou92/9e87dab94bb994bdfbba258a6a9f514d)

[2017-04-04 16:15] gdrewb-valve commented on #1206
There aren't any failure reports, unfortunately, so we don't have any information on what's going on with your system.  Often when things crash like this and Dota doesn't have a report it means system software is crashing, such as your OpenGL driver.  Trying different driver versions (if possible) may make a difference.

[2017-04-05 00:39] DelBianco opened #1207 "Game Crashes and Steam too"
Random crash at least once a day since last two updates,

running steam through console i got this when it crashes

../common/pipes.cpp (765) : CClientPipe::BWriteAndReadResult: BWaitResult failed, disconnected
../common/pipes.cpp (765) : CClientPipe::BWriteAndReadResult: BWaitResult failed, disconnected
../common/pipes.cpp (765) : Fatal assert failed: ../common/pipes.cpp, line 765.  Application e

[2017-04-05 00:51] kisak-valve commented on #1207
Possibly related to https://github.com/ValveSoftware/steam-for-linux/issues/4881.

[2017-04-05 07:35] yugimutou92 commented on #1206
after few unsuccessful attempts with video driver changes only thing i can tell is the problem is dota specific. i used nvidia 340, nouveau and some nvidia 33* s to test and tried on dota, csgo, darkest dungeon, modded minecraft even some windows games on wine. only dota have this issue, since the last saturday. can it be originated from "desktop friendly fullscreen"? im gonna try it and post resu

[2017-04-05 09:08] gdrewb-valve commented on #1207
Could also be something with the overlay such as #1206.  If you disable the Steam overlay in Dota does that change anything?

[2017-04-05 09:09] gdrewb-valve commented on #1206
Unfortunately it's hard to say what it might be since we have no information on the crash.  #1207 reports a regular crash so there may be other information coming in.

[2017-04-05 15:03] Turmfalke2 commented on #1206
What do you mean with the computer crashes? As in the screen freezes or does it shutdown? Can you still connect through ssh, switch to an tty or kill X using magic sysrq keys?

[2017-04-05 17:11] yugimutou92 commented on #1206
@Turmfalke2 complete shutdown

[2017-04-05 17:27] kisak-valve commented on #1206
This sounds like something is going wrong in the kernel or a kernel module.

It may be worthwhile to get systemd to keep the last boot's log similar to http://unix.stackexchange.com/questions/159221/how-do-i-display-log-messages-from-previous-boots-under-centos-7 or setup netconsole to see if the system can send the dying message to another system.

[2017-04-05 18:16] DelBianco commented on #1207
I have the Overlay disabled since i got dota2 on Linux in that machine (Aug/2016), i saw the problem but did not report it

[2017-04-05 20:10] gdrewb-valve commented on #1207
All of your reported failures are on the Steam side so this doesn't appear to be a problem in Dota itself.  Instead Steam is failing and then Dota fails when trying to talk to Steam, so assigning this to a Steam dev.

[2017-04-05 20:51] Turmfalke2 commented on #1206
Well this definitely appears to be an issue outside of dota2. It could be a bug in nvidia kernel driver that dota happens to trigger, but even in that case I would expect to see a kernel panic.

This sounds more like something overheating, but I highly doubt you can suddenly overheat something using steam's social features.

What is the output of cat /proc/sys/kernel/panic? Maybe it reboots before

[2017-04-06 08:03] yugimutou92 commented on #1206
i dont know if you did something related to it or not but this recent update fixed it. i tried so hard to crash it but dota works so good now, thank you, have a nice day.

[2017-04-06 08:03] #1206 closed, assigned to nobody

[2017-04-06 10:47] kxxoling opened #1208 "[macOS] Dota 2 crashes randomly on macOS."
I didn't find any rules about when would it crash. It can be any time since I run Dota 2. In average it crashes every 40 mins but not equally. This happens since I run it on my new MacBook pro the first time when it still was Dota2 6.88.

[code]

[2017-04-06 12:27] kisak-valve commented on #1208
Hello @kxxoling, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. If you happen to find any CrashIDs or minidumps, please include them as well.

[2017-04-07 14:42] kxxoling commented on #1208
My system info: https://gist.github.com/kxxoling/5cbdd900d876ded7efd60b0cf7c2074c

Is there anyway that I can get more crash info from my computer?

[2017-04-07 16:56] gdrewb-valve commented on #1208
Go to Applications and in the Utilities folder there should be one called Console.  In the app you can look at various logs, such as system.log, and they might have info.  It's hard to say what specifically you should look for since we don't have any information on your crash but in these kinds of cases it's frequently a problem with Apple's OpenGL driver.

[2017-04-08 06:17] kxxoling commented on #1208
I didn't found anything related to steam or Dota in system.log but in User Reports:

https://gist.github.com/kxxoling/50e94ef81192d77d2212d77d21de0eae

The file name of crash report is `dota2_2017-04-04-011459_MacBook-Pro.crash`. I play Dota2 almost everyday, but there's only one crash log there.

[2017-04-08 16:44] gdrewb-valve commented on #1208
That crash is in SDL so I've assigned this to the SDL dev.  It looks like Dota was presenting a message box at the time.

I guess whatever is crashing isn't leaving much of a trace, unfortunately.

[2017-04-08 23:29] sylware opened #1209 "differenciate ally health bar does not work"
up-to-date beta steamos
up-to-date beta steam client

AMD GCN1 (TAHITI XT) with mesa

The yellow ally HP bar does not work with differentiate ally HP bar option enabled.

[2017-04-09 03:56] gdrewb-valve commented on #1209
There are some posts around that this feature doesn't work (https://www.reddit.com/r/DotA2/comments/50rv9f/is_the_differentiate_ally_health_bars_option_not/), I'll pass it by the larger team.

[2017-04-09 17:27] coldskybrz opened #1210 "Some HUD bugs, and dota interface bugs."
https://www.youtube.com/watch?v=jtCJ8-55TS4
Here it is.
Whats wrong with game?
All others games working normaly. Latest drivers installed. Russians supports can't help.
gtx 650 Ti, i3-2100. Was working 5 mounths ago.

[2017-04-09 17:39] kisak-valve commented on #1210
Hello @coldskybrz, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Additionally, please confirm that you have verified the game's files. (Game properties -> local files -> verify integrity of game files)

[2017-04-09 18:51] gdrewb-valve commented on #1210
Can you also give specific details about the issues you think are present?  We can't be sure of what exactly your concerns are from just the video.

[2017-04-09 19:19] coldskybrz commented on #1210
Steam info: https://gist.github.com/coldskybrz/2b2899051b88f6f062fe52ec7f7f3b03
Verified 100 times, reinstalled videocard drivers and tried anything:)
When i clicking on interface things like "exit", its not showing dialog.
When i starting play, its not showing interface untill i use ctrl+click in random place, where skills and its will update and show skill, then when i get level i will unable to

[2017-04-09 19:22] gdrewb-valve commented on #1210
This tracker is only for bugs specific to Mac and Linux.  You'll want to post at dev.dota2.com

[2017-04-09 19:22] #1210 closed, assigned to gdrewb-valve

[2017-04-09 22:05] #1184 closed, assigned to nobody

[2017-04-11 05:16] Olosinsk-commits commented on #1202
In additional, 2 weeks ago, I got a huge FPS drops, the game stutters and lags, it became unplayable. Please, do not fix it - I have to do homework. Thanks.

[2017-04-11 16:45] Uduchi2nd opened #1211 "Mouse lock problem with dual monitors on Mac"
I have a dual monitor setup and I play Dota 2 on my right monitor. Whenever I drag my mouse to the far left of the screen, my left monitor picks up on it (I see the OS cursor on the left screen for <1 seconds). It make my edge pan to the left very laggy but all other directions are fine.

I have tried unsuccessfully exclusive full-screen, desktop-friendly full-screen, and turned off and on "Displa

[2017-04-11 19:58] gdrewb-valve commented on #724
I'm going to close this for now.  If you have problems in the future we can reopen.

[2017-04-11 19:58] #724 closed, assigned to gdrewb-valve

[2017-04-11 19:59] gdrewb-valve commented on #1209
The larger team will take a look at this at some point.

[2017-04-11 19:59] #1209 closed, assigned to gdrewb-valve

[2017-04-11 20:00] gdrewb-valve commented on #1211
This sounds very similiar to #716.

[2017-04-11 20:01] kisak-valve commented on #1211
Possible duplicate of #1030.

[2017-04-12 12:33] vmavromatis commented on #962
Can confirm on Manjaro 17 / GNOME 3.22. `-phased_window_create` and `-vulkan` are still incompatible. There is plenty of us who want to use Vulkan on a multimonitor setup. Is there any update on this one or at least a workaround?

[2017-04-13 06:35] AlynxZhou commented on #72
I get the same problem on my archlinux.

[2017-04-13 14:49] kxxoling commented on #1208
Got more logs when starting Steam in the terminal:

[code]

There's an assertion error here!

[2017-04-13 15:27] gdrewb-valve commented on #1208
That's Steam running out of memory, the assertions are related to that.  That may also be why SDL was trying to do a message box, or it could be something else.  Once the SDL dev has taken a look I can pass this on to the Steam team.

[2017-04-14 09:10] kxxoling commented on #1208
@gdrewb-valve I'm not sure what do you mean "Steam running out of memory", although steam takes 1.5GB memory, I still have 5.5GB free memory to use. (I haven't noticed how much memory would Dota2 takes, but 5.5GB seems enough and Apple would also have memory compression when there isn't enough memory to use.)

I have some new logs which have a little difference comparing to the old one:

[code]

[2017-04-14 09:15] gdrewb-valve commented on #1208
The steam_osx process is calling malloc and that is failing as the kernel failed the request to map more memory.  That means Steam can't allocate any more memory and can't function.

[2017-04-14 11:47] kxxoling commented on #1208
@gdrewb-valve But I still don't understand why this happens when and only when I'm play Dota 2, but not other steam games, eg. "Tomb Rider", "Don't Starve"...

Otherwise, how could Steam uses 1.5 GB memory? Is that a memory leak bug?

[2017-04-14 16:00] gdrewb-valve commented on #1208
I don't have any more details than what you've shown so I don't know why Steam is running out of memory.  Once the SDL dev has taken a look I'll assign this to the Steam team and they'll investigate.

[2017-04-15 05:44] kxxoling commented on #1208
I occurred another crash last night when Steam is using less than 90MB memory, so I think this won't be the only issue.

After a whole night (my Mac is sleeping not shutted down), memory usage increased to 1.96 GB:

![image](https://cloud.githubusercontent.com/assets/1227139/25061119/66dc58fa-21e1-11e7-865f-81cab48bacb9.png)

I will keep it running to see how much can it use, lol.

[2017-04-15 16:28] vinku commented on #1109
This is again appearing on my mac recently.

[2017-04-16 10:15] kxxoling commented on #1208
It won't crash if I disabled my GoAgentX proxy, I don't know why this relates, because the proxy is a local shadowsocks proxy on port `1234` only be used with SwitchySharp Chrome plugin. And there's no Dota2/Steam data go through my proxy.

Memory leaks will happen again if I enable my GoAgentX proxy.

[2017-04-16 15:09] gdrewb-valve commented on #1208
That's great that you found the source of the issue.  Steam uses the Chromium Embedding Framework for displaying web content so it's possible that somehow that's affected by your Chrome plug-in?  It's not supposed to but that's the best theory I have.

[2017-04-17 21:12] Enygma2002 commented on #1195
Still unable to enjoy the game :(

Is there anyone that could point me in the right direction?

What about the pango-related error? How could I find out which one is the problematic font? Any debug mode I could activate to get more information?

[2017-04-17 21:23] gdrewb-valve commented on #1195
I'd recommend asking in places devoted to Fedora 25.  There may be other people having a similar issue there.

[2017-04-18 04:34] kxxoling commented on #1208
@gdrewb-valve I don't think there's some relation between the bug and Chrome plugin, because I'm still using that plugin with a remote http proxy instead the former local shadowsock proxy served by GoAgentX.

My suspicion is there's some relation between GoAgentX which is currently disabled (not quit) now, and Steam client. Maybe they're using the same port `1234`? Anyway it's an annoying memory l

[2017-04-19 18:11] deri82 opened #1212 "Console spam Exhausted all available dynamic buffers of type"
Should be somehow limited. Could also decrease performance of the game. Playing with kaby lake igpu.

[2017-04-19 18:17] Cabanur commented on #1212
Hi @deri82, There's not much the Dev team can do without your system information. You can find it on Steam > Help menu > System information. Use [gist](https://gist.github.com/) to paste this info and post the link here.

[2017-04-19 18:44] deri82 commented on #1212
I doubt this is about system specs.

https://gist.github.com/deri82/68dc113de20437a6570b3ba577eb88bc

The only thing related could be mesa and the internal gpu.

[2017-04-19 18:50] danginsburg commented on #1212
The "Exhausted all available dynamic buffers of type (%d), creating a new one." is not in-and-of-itself a bug or problem.  Are you seeing this continuously?  What are the conditions in the game that make it happen?  Please run with -con_logfile and provide a console log.  If it just happens a bit during loading and active scenes it's normal.

[2017-04-19 18:55] deri82 commented on #1212
I am not sure when I get this, but starting the game or very early. I dont't usually check for console spam.

I am currently playing dota and I get

[Panorama] DispatchAsyncEvent backlog, failed to dispatch all this frame. Queue depth: 97 (170 input number was)
[Panorama] DispatchAsyncEvent backlog, failed to dispatch all this frame. Queue depth: 78 (170 input number was)

spammed a lot at console

[2017-04-19 20:40] gdrewb-valve commented on #1212
The panorama spew just means that things are running slowly.

[2017-04-19 21:34] deri82 commented on #1203
well I got Linux and the default kernel seems to work fine (so I remember) but upgrading kernel disables the wifi I am using so I need to use external ppa to upgrade the driver so I can use newer kernels. It works mostly just ok, but with dota I get occasinal drops and they tend to happen when multiple heroes fight. If you are using linux and wifi it might be your kernel driver that is causing the

[2017-04-20 06:14] Zomtir opened #1213 "Missing dependency to libtxc-dxtn-s2tc:amd64 on Ubuntu 17.04"
With the upgrade from Ubuntu 16.04 to 17.04 Dota 2 was bringing up the following error:
`GL_EXT_TEXTURE_COMPRESSION_S3TC is not supported.`

Long story short, Dota 2 requires `libtxc-dxtn-s2tc:amd64` to be installed while steam only depends on `libtxc-dxtn-s2tc:i386`.

Steam package version: 1490228413

Can this dependency be fixed?

[2017-04-20 12:53] kisak-valve commented on #1213
Hello @Zomtir, this package is only required for mesa, and steam does not interact with your package manager on a per-game basis. Adjusting this dependency should not require this library for nvidia and amd proprietary driver users.

If you are using the distro-provided steam package, please contact a ubuntu package maintainer for steam. Otherwise, If you are using the upstream deb from Valve, the

[2017-04-20 13:16] Zomtir commented on #1213
I'm using the distro provided steam package with mesa. Thanks for the follow up!

Filed a bug report on the package: https://bugs.launchpad.net/ubuntu/+source/steam/+bug/1684755

[2017-04-20 13:22] #1213 closed, assigned to nobody

[2017-04-20 21:27] RandomHeroLich commented on #1196
So the issue is not resolved, however I drilled it down to figure out better what is causing it.  It's not just Monkey King.  And it's not Monkey King himself.

I realized Juggernaut is also causing me to crash.
Next I realized it was only players using the arcana Juggernaut.
If I remember correctly when Monkey King was released an arcana was immediately available for him.  Which the only commonal

[2017-04-20 21:33] gdrewb-valve commented on #1196
Reopening.  The crash information you posted was definitely a crash several layers deep in Apple's OpenGL support.  It's always possible that Dota is doing something bad and causing the crash but it's difficult for Valve to diagnose that when we don't know what Apple's code is doing.

You're welcome to post your arcana disable feature request at dev.dota2.com

[2017-04-21 14:10] liuerfire opened #1214 "[macOS] Stuck in the loading screen"
When a game was matched and clicked the accept button, the game just stuck in the loading screen for a while, then returned to the main window and told me that you just refused the game!!

Here is the video shows what happened: https://youtu.be/hvnpc4kBJR4 (use a lobby game instead of a normal match in case of the punishment)

this is the console.log
https://gist.github.com/liuerfire/0847ba137fdfb

[2017-04-21 18:12] gdrewb-valve commented on #1214
Probably the same as #1109.

[2017-04-22 21:37] pisionik opened #1215 "[Linux] not started Dota2 when used "-vulkan" on start"
hi
the game wont started. when i run dota2 nothing happn. but steam client is fine
ubuntu 16.04 lts
AMD FX(tm)-8350 Eight-Core Processor × 8
AMD Radeon R7 200 Series

it seems i use "-vulkan" on start. if i deleted this options than game is started
i find this problem today. After previouse weekend im not played all week.

ps. sry it my 1st post here

[2017-04-22 22:23] kisak-valve commented on #1215
Hello @pisionik, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. Additionally, can you include the console spew from either closing steam, then running steam in a terminal and running the game from steam, or from `/tmp/dumps/<username>_stdou

[2017-04-22 22:31] pisionik commented on #1215
oh, hello @kisak-valve :)
https://gist.github.com/pisionik/c5fa9decc3a7872cb0dad9ccf1ed1605

when i start **without** -vulkan, terminal says
psionik@terminator:~$ steam
Running Steam on ubuntu 16.04 64-bit
STEAM_RUNTIME is enabled automatically
[2017-04-23 01:38:13] Startup - updater built Apr 20 2017 21:58:34
[2017-04-23 01:38:13] Opted in to client beta 'publicbeta' via beta file
You are in the

[2017-04-23 02:59] gdrewb-valve commented on #1215
Have you looked at the Dota-2-Vulkan tracker?  It might have info on your issue.

[2017-04-23 11:29] pisionik commented on #1215
hello @gdrewb-valve )
no, sry, i dont looked it. Can u throw at me link where is that tracker
ty

[2017-04-23 12:52] kisak-valve commented on #1215
The requested issue tracker can be found at https://github.com/ValveSoftware/Dota-2-Vulkan/issues.

[2017-04-23 15:02] pisionik commented on #1215
must i create issue in Vulkan tree?

[2017-04-23 16:20] gdrewb-valve commented on #1215
You should in the future but you can leave this one here.

[2017-04-23 16:21] ChrisLauinger77 opened #1216 "[Linux] Accept on matchmaking sometimes loads but does not connect"
Today it happened already 2 times:
Pressed "Play DOTA" found a match - accepted it and it starts loading.
The screen shows up with the 10 player names and colors on top but then it falls back to the main menu and says "I failed to ready up".
1st time i got 5 minutes - 2nd time 20. I doubt its my fault as I not really did something wrong.
Just waited clicked the correct buttons but it failed.

****

[2017-04-23 16:37] kisak-valve commented on #1216
Most likely a newer report of #745.

[2017-04-23 18:31] AngryPenguinPL commented on #1213
Same here. Look like it a Ubuntu 17.04 bug.
This fix it. Terminal: `sudo apt-get install libtxc-dxtn-s2tc:i386 libtxc-dxtn-s2tc:amd64`

[2017-04-23 19:25] rained23 opened #1217 "[Fedora25][Nvidia] Black screen and crash"
Hi,
My last game is yesterday and there is no driver update as I remember.
Today I am unable to play any matches because everytime its entering the game after picking phase
my screen suddenly become black, its like shutting down my graphic card and I can know the computer
is hang because my keyboard or mouse cant make any action after that.

I will need to restart my computer everytime.

Here is m

[2017-04-24 00:35] gdrewb-valve commented on #1216
These kinds of problems generally aren't Linux/Mac specific so they aren't handled here.  I'll pass this on to the larger team.

[2017-04-24 00:40] gdrewb-valve commented on #1217
This doesn't sound like a Dota problem since a malfunctioning program can't hang your computer, only faulty system software.  As you already have a recent driver it's unclear what's going on, you may want to ask on a forum associated with your distro or with NVIDIA.

I'll keep this open for a while to see if other people are experiencing similar problems.

[2017-04-24 00:42] rained23 commented on #1217
Can you help close this, my gpu cable burnt. Hardware issue

On Apr 24, 2017 8:40 AM, "Drew Bliss" <notifications@github.com> wrote:

[2017-04-24 00:43] gdrewb-valve commented on #1217
OK, closing.

[2017-04-24 00:43] #1217 closed, assigned to nobody

[2017-04-25 22:57] pisionik commented on #1215
excuse me, & what do we do?))
i go away read some books, mb take some cleaver & don't disturb u?) & w8 good news averyone(c)

[2017-04-25 23:04] gdrewb-valve commented on #1215
Besides reading through the Dota-2-Vulkan tracker to see if your issue is already covered there you just have to wait for updates to this issue.

[2017-04-25 23:53] danginsburg commented on #1215
I'm not sure if your GPU is supported by the AMD GPUPRO Linux driver.  According to this (http://support.amd.com/en-us/kb-articles/Pages/AMD-Radeon-GPU-PRO-Linux-Beta-Driver%E2%80%93Release-Notes.aspx) it is only R7 260 and R7 260X.  Yours is R700 200 Series...I'm not sure if it is supported.  If you run with -con_logfile and post steamdir/steamapps/common/dota 2 beta/game/dota/console.log we migh

[2017-04-26 00:12] kisak-valve commented on #1215
For reference, 4.5.13474 points to AMDGPU-PRO 17.10.2, which in turn points to http://support.amd.com/en-us/kb-articles/Pages/AMDGPU-PRO-Driver-for-Linux-Release-Notes.aspx, which lists almost all R7 2xx cards. All of them are expected to be GCN cards (either GCN1 or GCN2).

[2017-04-26 14:59] pppkin opened #1218 "[SOLVED]No sound after recent update."
Update: I manage to fix this by specifying ```SDL_AUDIODRIVER=alsa``` in the launch options. I guess it's more like a configure problem rather a "program error". Thank you guys for pitching in!

After recent update I cannot get any sound in Dota 2. I'm running on Arch Linux with pulseaudio and pulseaudio-jack pulseaudio-alsa installed.(version 10.0.3). Other games are just fine.
I can find dota2 u

[2017-04-26 15:17] kisak-valve commented on #1218
Hello @pppKin, are you running steam with the steam runtime or steam with the native runtime? If you are running with the native runtime, do you have the `steam-native-runtime` package installed?

Do you happen to know if any of the other games you tested are 64 bit?

I am not able to reproduce this issue on my Arch test box.

[2017-04-26 15:34] pppkin commented on #1218
@kisak-valve thank you for replying.
yes I've installed steam-native-runtime. And I have this issue with steam runtime and native runtime. and I've tried them in xorg and wayland. None can work.

I tried these games and they work fine(not sure which one is 64bit though) : Metro 2033 redux, Sanctum 2, CSGO, Borderlands 2.

edit: I've just tried Dirt Rally, which appears to be a 64bit game, it doesn

[2017-04-26 16:14] gdrewb-valve commented on #1218
Do you know a rough timeframe of the update that changed things, something with a more specific date and what updated?

The only thing that might have affected this recently was our SDL update so I'm assigning to the SDL dev.

[2017-04-26 16:35] pppkin commented on #1218
@gdrewb-valve I can confirmed that it happens within the last 10 days. My last game was on 18th April, which was perfectly fine.
After 18th I've done several upgrades. Not sure which part breaks the sound. I will try to downgrade some package and see if it can be fixed. Thank you for your reply.

[2017-04-26 17:14] pisionik commented on #1215
psionik@terminator:~$ vulkaninfo
===========
VULKAN INFO
===========

Vulkan API Version: 1.0.21

INFO: [loader] Code 0 : Found manifest file /home/psionik/.local/share/vulkan/implicit_layer.d/steamoverlay_i386.json, version "1.0.0"
INFO: [loader] Code 0 : Found manifest file /home/psionik/.local/share/vulkan/implicit_layer.d/steamoverlay_x86_64.json, version "1.0.0"
INFO: [loader] Code 0 : Found

[2017-04-26 18:11] pppkin commented on #1218
I am posting some info about pulseaudio on my system. Not sure if it helps.
[code]
the DRAINED confuses me. It seems that this only appear with dota 2.
[code]

[2017-04-26 18:52] mastercoms commented on #1215
Try removing the Intel Vulkan driver.

[2017-04-26 20:27] bollefisk opened #1219 "OSX - Mouse not working properly"
Struggling to get my Dota2 client to work properly on my MBP. Mouse clicks won't register properly, I seem to have to double click everything and it is really inaccurate, ie. the clicks don't seem to register where I click.

Ingame, left clicking won't work properly and the edge pan is all kinds of messed up. Sometimes it works for a second and drags the camera all the way over to the other edge o

[2017-04-26 20:35] kisak-valve commented on #1219
Hello @bollefisk, if you cmd + tab away from the game and then back, does that temporarily workaround the issue?

[2017-04-26 20:37] bollefisk commented on #1219
I can tab out of the game just fine. However, it does not change anything.

[2017-04-26 20:40] gdrewb-valve commented on #1219
No repro on my Mac but there are some other people with similar open issues here.  Hopefully at some point we'll be able to get some solid information.

[2017-04-27 08:11] #1218 closed, assigned to icculus

[2017-04-28 18:48] artemjackson commented on #453
Still have the issue

[2017-04-28 18:54] artemjackson commented on #453
Just noticed a tread https://github.com/ValveSoftware/Dota-2/issues/473

Solved the issue

[2017-04-28 18:57] gdrewb-valve commented on #453
That's the same situation as the original poster here.  Positional keybinds work but space isn't being recognized properly as space.  We'll leave this open assigned to the SDL dev.

[2017-04-29 00:55] garrisonhenkle opened #1220 "Customs bots crash upon entering the game"
Whenever I launch a custom bot lobby in the Linux client, the game crashes as the dota logo starts to unveil the map, right after the versus screen.

I am running Ubuntu 17.04 with the gnome 3.24.0 shell.

My system information: https://gist.github.com/alphaweasel/1ba2a2bc7f9aecc25828cfe31873388f

To reproduce:
Start a custom lobby with local host and any combination of custom bots.  The bots I sp

[2017-04-29 02:35] gdrewb-valve commented on #1220
/tmp/dumps is the correct place.  If you don't have any dumps there that means that the problem isn't getting caught by Dota and that often means it's a system issue, such as a graphics driver problem.  The fact that your only failure report in the Steam system information is a Steam assertion and not a Dota thing supports this.  We'll have to wait and see if we can get other people with the same

[2017-04-29 19:10] ghost opened #1221 "Connection to server timed out"
Hi. Since the last one or two updates (I haven’t played in March and April) the game started to lag, but it’s not graphics lags: I see stable 60 FPS. The screen just freezes, then it either unfreezes after like 5–10 seconds and I am where I was/was going to move (if I’m still alive, heh), or I see the message ‘Timed out.’ and reconnect lasts around 20 (20!!) seconds, I am teleported to the base. I

[2017-04-29 20:12] gdrewb-valve commented on #1221
There are similar reports on all platforms but we have no reliable repro to investigate.  The larger team has this on their radar and there won't be an investigation by the porting team but I'll leave this open for a bit.

If you experiment with reenabling pulseaudio and have problems which then go away when killing pulseaudio please let us know.  I can assign to the SDL dev then for them to inves

[2017-04-30 08:43] vladimirivanoviliev commented on #654
I think positional binding should be enabled by default as in some distros when you start the game with different than EN layout, and than switch to EN the game does not recognize it.

[2017-05-02 20:36] icculus commented on #1208
So the SDL crash is probably right here with a NULL dereference:

https://hg.libsdl.org/SDL/file/f6970c9a4434/src/video/cocoa/SDL_cocoakeyboard.m#l649

And while I haven't sorted out the exact chain of events that causes this, it's probably happening when a message box is displayed without SDL_Init(SDL_INIT_VIDEO) succeeding...like DOTA panicked on startup (maybe SteamAPI_Init() failed because the

[2017-05-03 01:56] icculus commented on #1208
The SDL crash is fixed here:

https://hg.libsdl.org/SDL/rev/b93491afe676

(but again, it's likely DOTA will now put up a message box and then quit in these cases). Feel free to reassign (or close?) this one now.

[2017-05-03 02:00] gdrewb-valve commented on #1208
I've assigned this over to the Steam team so that they can take a look at what might be going on with the Steam client and GoAgentX.

[2017-05-03 13:29] Kalaww opened #1222 "[Linux] Dota is unresponsive in docker or LXC container"
Hi,
I am trying to run Dota 2 in a container (docker or LXC) and in both case, it end up the same way : the game load into the client dashboard, and after a few seconds it becomes unresponsive (game is frozen, mouse and keyboard inputs don't work). Both happens in docker and LXC containers.
I have no idea what may cause this, the game doesn't crash, so no dump file.
Dota 2 is running fine on the c

[2017-05-03 16:11] gdrewb-valve commented on #1222
You may get more info posting in forums related to the containers.

[2017-05-03 16:37] Kalaww commented on #1222
I managed to get Dota 2 running by doing this before launching steam (#921).
No idea what that did and if it's a good workaround.
[code]

Maybe is there a device needed by Dota from the system I must bind to the container ?

[2017-05-03 16:46] gdrewb-valve commented on #1222
The issue in #921 was related to dbus usage for IME support and not a device, but I've assigned this to the SDL dev in case he has more info.

[2017-05-03 16:51] Kalaww commented on #1222
Thanks for the support @gdrewb-valve !

[2017-05-03 16:51] #1222 closed, assigned to icculus

[2017-05-05 01:32] kisak-valve commented on #181
"- Fullscreen button will no longer be visible on the Watch Live screen when not applicable" in the [2017-05-04](http://store.steampowered.com/news/29270/) client update is related to this issue.

[2017-05-05 11:51] nooscraft opened #1223 "Why can't we have a Discord server?"
I mean knowing the fact that it's a good way of collaborating with players

[2017-05-05 15:41] gdrewb-valve commented on #1223
This is a bug tracker and specific to Mac/Linux porting bugs.  You'll want to post at dev.dota2.com

[2017-05-05 15:41] #1223 closed, assigned to nobody

[2017-05-05 17:46] glubsy opened #1224 "[Linux] -Vulkan segfault with Nvidia proprietary drivers"
Since today's update, dota2 segfaults when using the -Vulkan launch option. It was working yesterday fine.
Using OpenGL instead works fine though.

Steam system specs: https://pastebin.com/raw/dZF0NVKw
Here's the output in stdout:
[code]

SPECS:
Antergos (Arch Linux)
Kernel 4.9.25-1-lts x86_64
CPU: Intel Core i7-3740QM CPU @ 3.7GHz
GPU: GeForce GTX 670MX [GK104M]
GPU Driver: nvidia proprietary 375

[2017-05-05 17:51] kisak-valve commented on #1224
Hello @glubsy, this issue is already being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/204. You should be able to avoid this issue by updating your nvidia driver. Closing as a duplicate.

[2017-05-05 17:51] #1224 closed, assigned to nobody

[2017-05-05 18:35] glubsy commented on #1224
Thank you, sorry for adding noise.

[2017-05-05 19:05] drjoms commented on #584
As of Fri May  5 20:09:45 IST 2017
Issue happened to me.

'-full screen' trick helped in curious way.
argument has to be before '-vulcan -console' or may not work

[2017-05-05 19:17] danginsburg commented on #1224
Please comment on https://github.com/ValveSoftware/Dota-2-Vulkan/issues/204 to let us know if updating drivers does not fix the problem.

[2017-05-05 22:32] mateusvahl commented on #1215
Same problem here, It was running fine, but then I update to this new compendiun patch and vulkan stop to work. Remove "-vulkan" from launcher resolves the problem, but the game seems to have a low perform.
System information: https://gist.github.com/mateuspv/ed064a44bcc09833794a09f74ac0b31b

[2017-05-05 22:48] kisak-valve commented on #1215
Hello @mateuspv, your issue is unrelated to this one and is being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/204. Your issue is limited to nvidia 375.39 and updating your video driver should work around the issue.

[2017-05-07 09:45] sylware opened #1225 "cursor background size computation seems buggy"
up-to-date beta steamos
up-to-date beta steam client

GFX hardware: AMD TAHITI XT(still radeon linux module :(( ), driver mesa.

The background of the blue cusor set from the international is white instead of being transparent. The other cursor sets are fine.

[2017-05-07 17:10] gdrewb-valve commented on #1225
Likely the same as #896.

[2017-05-08 05:12] hbriese commented on #1215
@kisak-valve the next stable driver release is [v375.66](http://www.nvidia.com/download/driverResults.aspx/118290/en-us), this is likely to be the next version on debian at least until v381 leaves beta. Would this release solve the issue?

[2017-05-08 14:09] Infamous540 opened #1226 "Dota 2 Console getting spammed with errors continuously"
MacBook Pro
 MacBookPro11,3
 Intel Core i7
  2,5 GHz
Intel Iris Pro

Dota 2 getting spammed with

CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event.
CSwapChainBase::QueuePresentAndWait() looped for 22 iterations without a present event.
CSwapChainBase::QueuePresentAndWait() looped for 23 iterations without a present event.
CSwapChainBase::QueuePresentAndWait()

[2017-05-08 14:15] kisak-valve commented on #1226
Hello @Infamous540, noted in https://github.com/ValveSoftware/Dota-2/issues/1212#issuecomment-295431978, the panarama messages are just an indicator that things are running slowly.

[2017-05-08 14:22] Infamous540 commented on #1226
Yea I've read that before and when I was testing while I was making this thread, I got like 20-30 panorama logs within seconds of each another and it didn't take any of my fps, but I'm pretty sure the cswap is ruining my fps and in general the game is just running so awfully shit it shouldn't be possible on that computer? everything is on its lowest and I've done everything I can to tweak and try

[2017-05-08 15:55] gdrewb-valve commented on #1226
General performance issues are being collected under #1101.  As is mentioned there all platforms have FPS complaints and the larger team works on general performance so there won't be direct responses here.

[2017-05-08 15:55] #1226 closed, assigned to nobody

[2017-05-08 22:21] justinnn9 commented on #862
How was this fixed exactly? Problem still persists for me.

[2017-05-08 22:38] gdrewb-valve commented on #862
It wasn't fixed, it was closed because we couldn't repro here and had requested more info and never got a response.  If you have crash IDs we can try and investigate.

[2017-05-08 23:26] justinnn9 commented on #862
What would you need from me?
I checked out the system info from Steam client (under Help menu), I do not think it lists any failure or crash reports as it only reports specifications of my computer; CPU, Vid Card, Memory, etc.

[2017-05-08 23:35] gdrewb-valve commented on #862
If there aren't any failure reports then Dota didn't encounter any problems that it was able to catch.  This usually means a problem in system software, such as OpenGL.  We'll leave this open but until we get more concrete info on what's happening we won't be able to investigate.

[2017-05-09 04:59] shadowman79 opened #1227 "Issue with loading update from steam from last week - download has been interrupted after 15%"
Issue with loading update from steam from last week - download has been interrupted after 15%

even if downloading starts again, the issue appears with 15% threshold. Also I've tried to remove downloading folder - to starts update again. Still unable to download client update.

System info - http://pastebin.ca/3809929

[2017-05-09 11:56] kisak-valve commented on #1227
Hello @shadowman79, this sounds like a [steam](https://github.com/ValveSoftware/steam-for-linux) issue. That said, what filesystem is Dota 2 installed on?

[2017-05-09 14:07] shadowman79 commented on #1227
Ext4

[2017-05-09 14:23] shadowman79 commented on #1227
Hello @kisak-valve, please let me know if need move this one to stream (or just wait) ;-). Also if needed, I can comment after it is resolved.

[2017-05-09 16:07] gdrewb-valve commented on #1227
Yes, you should open Steam issues in the steam-for-linux tracker.  There may be similar issues already open there also.

[2017-05-09 16:07] #1227 closed, assigned to nobody

[2017-05-11 21:29] garrisonhenkle commented on #1220
After further testing over the past week whenever I had time, I've read over some log files and found the /tmp/dumps/ folder (which I somehow looked over, as I am fairly new to Linux).

The "error.log" file from the .steam folder has a few errors at the end of the file: https://gist.github.com/alphaweasel/4c23a9ec179dba06fa8b6daff84f7017

The "console.log" file from the /dota 2 beta/game/dota dire

[2017-05-12 04:38] pwnfoo opened #1228 "Weird behavior while /etc/resolv.conf contains unreachable nameservers"
I keep changing my DNS settings and I noticed that Dota 2 client acts weird when the DNS settings are not correct. Steam and Dota 2 launches just fine but Dota client freezes when I attempt to watch a game for quite a while (~1-2min) before recovering from it without throwing any error message.

### Steps to Reproduce

* Make sure Steam and Dota 2 is not running. Change nameserver in `/etc/resolv.

[2017-05-12 05:02] gdrewb-valve commented on #1228
Is there something you think Dota should do?  It's going to make requests for name resolution and if the networking system hangs because of bad information that doesn't seem like a Dota issue.

[2017-05-12 15:56] pwnfoo commented on #1228
@gdrewb-valve, DotA shouldn't freeze up. It really confuses people. Everything else works, you are online, you can chat with friends, and everything else but DoTA just freezes up and the only solution is to kill the DotA2 process. It'd be great if DoTA can pop up a message saying 'Could not connect so server` or something as an error message.

Note that nothing is active during the freeze. I can't

[2017-05-12 18:42] zero-man001 opened #1229 "Imac mid 2011 OS X El Capitan 10.11.6 vision ward bug"
Good day.
Few days ago faced with ward bug problem. As you can see on screen shots blue range of
 the observer ward permanently freezed on my screen. Any ideas how to solve it?
Thanks.
![2017-05-12 21 35 01](https://cloud.githubusercontent.com/assets/28658258/26012049/e6edfe9c-375b-11e7-8a22-8998ac300f67.png)
![2017-05-11 13 42 14](https://cloud.githubusercontent.com/assets/28658258/26012065/ef079

[2017-05-12 19:05] gdrewb-valve commented on #1229
This is happening across all platforms and the larger team is taking a look.

[2017-05-12 19:12] gdrewb-valve commented on #1228
The freeze isn't happening in Dota though, it's happening in system networking code because the system's configuration is bad.  If you make the change above and ping www.google.com does ping immediately fail with an error?

[2017-05-12 20:15] faithxslayer opened #1230 "Ward vision bug"
I'm playing on Mac and for the past 2 days I had this bug, When I place a ward, there is always the vision field in blue and it goes away only when the ward expires.
It's the same whenever I place an observer on the map

my system info https://gist.github.com/faithxslayer/635cb75238f2f5ef0b12e57c3b61bf88

[2017-05-12 20:31] kisak-valve commented on #1230
Hello @faithxslayer, "This is happening across all platforms and the larger team is taking a look." (from https://github.com/ValveSoftware/Dota-2/issues/1229#issuecomment-301160441)

[2017-05-12 20:31] #1230 closed, assigned to nobody

[2017-05-13 00:15] Vuccappella opened #1231 "Really annoying ward bug from latest updates. - Mac."
https://www.youtube.com/watch?v=tNIsX8P6AQw&feature=youtu.be

Seems to happen only on mac from what I can tell, none of my friends on windows have this issue.

If you place a ward with normal cast, before placing it it will display you the vision it would give you in blue and highlight it.

When you place the ward or simply deselect it and not place it or change your action the highlighting should

[2017-05-13 00:31] kisak-valve commented on #1231
Hello @Vuccappella, "This is happening across all platforms and the larger team is taking a look." (from https://github.com/ValveSoftware/Dota-2/issues/1229#issuecomment-301160441)

[2017-05-13 00:31] #1231 closed, assigned to nobody

[2017-05-13 01:55] gdrewb-valve commented on #1231
This fix for this has already been released.  You are fully up-to-date with a validated install and you're still seeing the problem?

[2017-05-13 02:28] gdrewb-valve commented on #1229
Reopening as the fix rolled out but people are still seeing it, but only on Macs.

[2017-05-13 10:01] Vuccappella commented on #1231
Yes, still seeing this.

[2017-05-13 10:02] Vuccappella commented on #1229
Replying to the the bug that was closed and merged here:

Yes, I can still see this on Mac. A temporary fix in game for whoever is playing is to hoover with a ward on terrain outside of the map which removes the blue highlights until you show them again or just any terrain that you cant place wards on.

[2017-05-14 09:29] jeanlain commented on #1101
Regarding OpenGL bugs on macOS, good luck having Apple fix these...
Let's not kid ourselves. OpenGL on the Mac is being abandoned. So the long-term maintenance of Dota 2 on the platform either relies on:
- You guys at Valve porting Source 2 to Metal. Source 2 only powers one Game now, but I suppose you at Valve have bigger plans for it? Unreal and Unity both support Metal, which is reportedly much

[2017-05-14 17:33] urandom opened #1232 "Cannot select a controller configuration under steamos"
Whenever 'Controller configuration' is brought up, it gets stuck loading forever.

This happens on a zotac nen steam machine.

[2017-05-14 23:24] gdrewb-valve commented on #1232
Do you mean the Steam controller configuration or are you referring to some specific piece of Dota's UI?

[2017-05-14 23:27] Enygma2002 commented on #1195
Hello folks,

Finally, (about 2 weeks ago) I have managed to fix my problem and would like to take the time to share with anyone interested the solution that worked for me.

After updating my system's libpango (`pango-1.40.5-1.fc25.i686`) I have linked the following dota static libraries to my system's:
[code]

Additionally, I also had a warning in the logs about invalid font configuration (saying

[2017-05-15 07:13] urandom commented on #1232
The steam controller configuration from the steam overlay (or before the game is started). This only happens for dota 2, which led me to post it here.

[2017-05-15 07:18] gdrewb-valve commented on #1232
I'll see if there's somebody from the Steam team that can take a look.

[2017-05-15 16:27] #1228 closed, assigned to nobody

[2017-05-15 18:32] zero-man001 commented on #1229
Still no fix as of today.

[2017-05-15 18:42] gdrewb-valve commented on #1229
This issue will be updated when there's a change.

[2017-05-15 19:20] zero-man001 commented on #1229
Ok, it's fixed.
Thank you.

[2017-05-15 19:32] gdrewb-valve commented on #1229
The latest May 15 update has the fix so closing.

[2017-05-15 19:32] #1229 closed, assigned to danginsburg

[2017-05-15 21:51] Vuccappella opened #1233 "Pinging is now moved to alt instead of cmd (Mac OS)"
Am I loosing it or did the new update changed pinging ?

Before it was on cmd and X ping was CMD + alt now it's on alt and X ping is on alt+ctrl, intended ?

An option to turn this back on perhaps?

[2017-05-15 23:17] gdrewb-valve commented on #1233
From what I heard there weren't any changes in this area.  Did you have the Alt modifier customized in your settings?  Do you use any Mac programs to swap Command and Alt on your keyboard?  Does other stuff that traditionally shows on alt, like tower attack ranges, show on alt?  Did it show on Command for you before?

[2017-05-15 23:17] gdrewb-valve commented on #1233
Also the default has been Alt as far as I know, my Mac does everything on Alt.

[2017-05-15 23:50] Vuccappella commented on #1233
You can close this, the issue was with me as somehow my built in swap function on mac os wasn't working.

[2017-05-15 23:50] #1233 closed, assigned to nobody

[2017-05-19 20:23] RankoR opened #1234 "CMD + Space issue"
CMD + Space is a shortcut for switching layout.

When I'm switching from english to russian, it works fine. But when I'm switching from russian to english, it looks like space is pressed two times — it's moving the screen to place of last death (or something like this).
macOS Sierra 10.12.5

[2017-05-19 21:00] gdrewb-valve commented on #1234
Dota doesn't handle any of that itself, but it's possible that SDL is generating some unusual key presses based on the change.

[2017-05-20 11:42] Mayoni opened #1235 "Video settings resetting to default [windows 10]"
I have a Nvidia GTX 950M and running driver (382.05). As the title says my video and audio settings reset to default every time i open the game, it has been doing that for months and i contacted steam support and they couldn't help me so they redirected me here.
[code]

[2017-05-20 15:53] kisak-valve commented on #1235
Hello @Mayoni, this issue tracker is limited to Linux and Mac issues, you'll want to post this issue on http://dev.dota2.com.

[2017-05-21 16:47] #1235 closed, assigned to nobody

[2017-05-22 09:11] tayhaithian opened #1236 "Dota2 "Universal Access" is turned on Mac and in-game still prompt the message !!!!"
ISSUE
Dota2 "Universal Access" is turned on Mac and yet in game still prompt up the message to turn on "Universal Access". I can no longer purchase items, add friend, open up tab to chat under steam window.

OS
Mac OS Yosemite

STEPS & RESULTS
Turned on via "System Preferences" -> "Security & Privacy" -> "Privacy(tab)" -> "Accessibility" -> "Steam(Checked)"

Screenshot:-
http://imgur.com/a/REINd

[2017-05-22 15:39] gdrewb-valve commented on #1236
This is a Steam issue and not a Dota issue but I'll pass it on.

[2017-05-22 23:20] tayhaithian commented on #1236
I have posted at least 3 places and none have even bother to take a look. (Given you a like for being responsible and helpful)

[2017-05-22 23:38] gdrewb-valve commented on #1236
One thing mentioned is that this does not apparently happen on newer versions of macOS.  If you were thinking about upgrading that might be something to try, otherwise you'll have to just wait for some change from the Steam team.

[2017-05-23 16:53] Turmfalke2 opened #1237 "Can't open battle pass"
hi,
Maybe I am stupid, but no amount of clicking on "Battle Pass" opens it. Did I minimize it somehow?
![battlepass](https://cloud.githubusercontent.com/assets/5174562/26365813/060e72e4-3fe9-11e7-917a-883add29f73b.png)

[2017-05-23 17:06] kisak-valve commented on #1237
Hello @Turmfalke2, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2017-05-23 17:08] Turmfalke2 commented on #1237
I didn't think my system information would matter for this, but it appears that the battlepass just returned. So I assume it was something on your end?

[2017-05-23 17:08] #1237 closed, assigned to nobody

[2017-05-23 17:41] sylware commented on #1225
update: with the 'performance update', all the cursor sets have the same pb, _only_ if set to a size of 100% (or automatic)

[2017-05-23 21:36] ghost opened #1238 "Performance reduced with the latest update"
Today's "Client Performance Update" reduced the performance on my machine. Prior to the update my FPS was around 90-95 in the mid lane, during the laning phase, now is around 70-75, a drop of about 20 FPS.

System specs: Core i7-3770, 16GB RAM, GTX 760 (driver version 375.66).
OS: KDE Neon User Edition (based on Ubuntu 16.04)

[2017-05-23 22:25] gdrewb-valve commented on #1238
Every platform has been affected by the update, the larger team is handling things.

[2017-05-23 22:25] #1238 closed, assigned to nobody

[2017-05-24 12:37] AngryPenguinPL opened #1239 "[Linux] After "performance update" - dota change default cursor for another and broke alpha channel"
Hi.

I use default DOta 2 cursor but after yesterday "performance update", this cursor change itself for another.

Worth to add this "new" cursor have broken alpha channel (no full transparency). When I show enemy instead transparency I see red quadrat, same with ally - green.

Do you change default cursor?

[2017-05-24 15:12] gdrewb-valve commented on #1239
Same as #1225 but with different details so keeping open.

[2017-05-25 09:46] YangtseSu opened #1240 "GameUI_Disconnect_MessageParseError"
Archlinux zh_CN
This happens while playing game or watching a game.
https://img.vim-cn.com/22/c12a92808093058e8d49c6f5eb6d7539e8d8cf.png

[2017-05-25 12:22] emikulic opened #1241 "[Linux] failed to dlopen "libpangoft2-1.0.so" error=/usr/lib/x86_64-linux-gnu/libpng12.so.0: version `PNG12_0' not found"
$ cat /etc/debian_version
9.0

/steam/main/steamapps/common/dota 2 beta/game$ ./dota.sh
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Steam_SetMinidumpSteamID:  Caching

[2017-05-25 13:01] kisak-valve commented on #1241
I took a look at this on my Debian 9 test box. Visible at https://packages.debian.org/search?keywords=libpng12, this version of Debian does not have a package that bundles libpng12.so.0 and you have symlinked it to libpng.so -> libpng16.so, which is abi incompatible.

When launching from steam, this dependency should be resolved by the steam runtime, but it's picking up your symlink due to `STEAM_

[2017-05-25 13:01] #1241 closed, assigned to nobody

[2017-05-25 13:10] emikulic commented on #1241
Sorry, the ./dota.sh bit was misleading. I get the same behaviour when launching from inside Steam. Is the correct solution for me to disable host libraries?

Also, thanks for the steam-runtime pointer; I can confirm the following works:
$ ~/.steam/ubuntu12_32/steam-runtime/run.sh /steam/main/steamapps/common/dota\ 2\ beta/game/dota.sh

[2017-05-25 13:21] kisak-valve commented on #1241
In my opinion, the correct action is to remove the `/usr/lib/x86_64-linux-gnu/libpng12.so.0` symlink that should not be there.

[2017-05-25 13:25] emikulic commented on #1241
That also fixes the problem. This seems to be the result of a normal "apt-get dist-upgrade" (it's not a link I created) although no package owns it anymore. Weird.

Anyway, thanks for your help!

[2017-05-25 16:05] dorcilio opened #1242 "[Linux] "In-game font is not shown" problem"
Hello,
Since I decided to return to playing Dota 2, my game opens normally, but does not display fonts, only text boxes appear.

I reinstalled the game and checked for system updates.
I currently use Linux / Fedora 25 / Kernel 4.10.16-200

System Information in Steam:
`Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processo

[2017-05-25 16:19] kisak-valve commented on #1242
Most likely the same issue as #1195.

[2017-05-25 16:34] gdrewb-valve commented on #1240
There isn't enough information for us to diagnose the issue.  Can you include your console text fromr Dota so that we can see networking errors?  Has Dota worked in the past?  If so when did this start happening?  Also we'll need specific information on your networking (wi-fi, wired, etc.) and internet to see if this is related to your system.  Also please post a gist of your full system specs.

[2017-05-25 16:35] gdrewb-valve commented on #1242
Please let us know if the workaround in #1195 helps for you.

[2017-05-26 00:58] YangtseSu commented on #1240
Dota2 works well,this happens about since a week ago.
I use wi-fi.
[sysinfo.txt](https://github.com/ValveSoftware/Dota-2/files/1030535/sysinfo.txt)

[2017-05-26 08:22] dsounded commented on #1219
got same problem

[2017-05-27 09:25] feratechinc commented on #1215
Same problem with -vulkan not starting up.

Using AMD A10-8700 on Ubuntu 16.04.2 with latest 17.10 drivers. Was working before until the last few updates.
[crash_20170527001048_16.txt](https://github.com/ValveSoftware/Dota-2/files/1033438/crash_20170527001048_16.txt)

[2017-05-27 09:29] feratechinc commented on #1215
System Info:
https://gist.github.com/feratechinc/a9e07fee078d7b05a4c8671729a52b94

[2017-05-27 16:17] kisak-valve commented on #1215
For reference, the attached minidump is a DUMP_REQUESTED in crashhandler.so.

[2017-05-28 15:42] Locustv2 commented on #30
Has anyone been able to solve this issue?
I am using Ubuntu 16.04 and this is very annoying.
Everytime i press alt and do not press any other key the command overlay appear.

I have 2 screen and sometimes in action i move my mouse to the other screen totally lose focus on the dota2 client... :/

[2017-05-29 18:23] csujedihy opened #1243 "[macOS] FPS drops after the performance update"
My laptop is MBP 2016 (Radeon Pro 460) and my FPS is above 60 and it's stable (I set max FPS is 60). It should be 66-90. If FPS cap is disabled. After the performance update, FPS is around 50 and even worse (35-40 FPS or screen stuck) if some animations are triggered (Shiva Guard or OD's orb).

BTW, all my friends who play dota2 using Mac have this issue.

System Info:
[code]

[2017-05-29 19:03] kisak-valve commented on #1243
Hello @csujedihy, #1238 is a similar issue report where @gdrewb-valve responded with "Every platform has been affected by the update, the larger team is handling things."

[2017-05-29 19:03] #1243 closed, assigned to nobody

[2017-05-30 14:14] feratechinc commented on #1216
To update, this specifically happens when you are in the process of watching a game and it's loading while the accept comes up. This is pretty consistent and I can reproduce it each time.

[2017-06-02 06:59] 1m-Arthur opened #1244 "[Linux] Crash after startup loading screen After updates"
Hi, i am getting a problem this morning. When i decided to open dota2. the Problem is suddenly dota2 game that I usually play. Now can not be opened again, with crash problems after startup loading screen. after this morning updates 2/6/17.

I've done steam reinstall and backup-restore dota2.
But nothing happened.

[systeminfo.txt](https://github.com/ValveSoftware/Dota-2/files/1046895/systeminfo.t

[2017-06-02 13:06] Zacxxx commented on #1244
I'm upping this, if anyone has found a fix

[2017-06-02 13:54] kisak-valve commented on #1244
For reference, the attached minidump is a DUMP_REQUESTED in crashhandler.so.

[2017-06-02 14:11] Zacxxx commented on #1244
What do you mean ?
Do you have any idea how to fix this, or will it be patched soon ?
I can't play my favorite game with my team mate, literally watching them play on windows while we could play together. Anyway, it's sad.

[2017-06-02 14:29] Zacxxx commented on #1244
Up

[2017-06-02 14:30] 1m-Arthur commented on #1244
@kisak-valve ups wrong upload. ok, so I tried to launch it again just now and here is the dump.
[crash_20170602211242_1.dmp](https://www.dropbox.com/s/c9209fqxiezoqzf/crash_20170602211242_1.dmp?dl=0)

[2017-06-02 14:33] kisak-valve commented on #1244
I reproduced this issue with my OpenSUSE 42.2 test box and completely closing steam followed by running steam with `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam` in a terminal worked around the issue for me, so this is an issue with system libraries interacting with steam. Possibly gcrypt related. Other games are affected.

[2017-06-02 14:37] kisak-valve commented on #1244
For reference, the second minidump is a SIGABRT mostly in libc and the system libgcrypt.so.20.0.1.

[2017-06-02 14:43] Zacxxx commented on #1244
Do you want to see the crash report from the steam terminal when i launch Dota ?
https://pastebin.com/raw/YXwcreJE

[2017-06-02 15:06] 1m-Arthur commented on #1244
@kisak-valve Thank you so much!
`"STEAM_RUNTIME_PREFER_HOST_LIBRARIES = 0 steam"` I have run this command in the terminal and it works, thanks a lot :)

## `Case Closed`

[2017-06-02 15:33] 1m-Arthur commented on #1244
@kisak-valve Okay, last question. Should i do that command to run dota2? Because when I run dota2 without the command, it crashes as before

[2017-06-02 16:33] kisak-valve commented on #1244
Until someone figures out exactly what's causing the issue here, yes, you can use that workaround.
Personally, I suspect libgcrypt.so.20 is being dynamically loaded when libgcrypt.so.11 is expected. Let's track this issue at https://github.com/ValveSoftware/steam-for-linux/issues/5000 and it may also be worthwhile to bring this issue to the attention of your distro's package maintainer for steam.

[2017-06-02 16:33] #1244 closed, assigned to nobody

[2017-06-03 08:43] GreenBeard commented on #1215
I just tried to run Dota 2 in vulkan mode (with the -vulkan flag) and it crashed in both fullscreen and windowed mode. I'm about to update to a newer version of linux and also update my nvidia driver. Current system information: https://gist.github.com/GreenBeard/7216131dfb24a2176a76e05e8edaaa04

Edit: Issue still remains after updating drivers (new system info: https://gist.github.com/GreenBeard/

[2017-06-03 17:21] artemjackson commented on #1178
Hey, guys, the issue seems to be fixed after the patch v7.06.

[2017-06-05 18:59] gdrewb-valve commented on #1178
Thanks, closing.

[2017-06-05 18:59] #1178 closed, assigned to Plagman

[2017-06-05 21:28] feratechinc commented on #1215
dota2: symbol lookup error: /usr/lib/x86_64-linux-gnu/libvulkan_intel.so: undefined symbol: drmGetDevices2
So I tried removing the intel driver from vulkan and I just got:
dota2: symbol lookup error: /usr/lib/x86_64-linux-gnu/libvulkan_radeon.so: undefined symbol: drmGetDevices2

Since I'm using radeon, I can't remove this also. Looks like a Windows DRM issue that made it's way into linux. I'm gue

[2017-06-05 21:57] kisak-valve commented on #1215
@feratechinc, what version of mesa are you using and is libdrm >= 2.4.75?

[2017-06-06 05:10] Thunder-mx opened #1245 "[Mac OS]Unable to connect after confirm the game"
Always can't search game

[2017-06-06 16:09] gdrewb-valve commented on #1245
Please add a gist of your full system specs.  Also can you add console output from your game session (you can run with -con_logfile to get this)?

[2017-06-06 16:10] gdrewb-valve commented on #1245
Also has this ever worked?  If so when did it change?

[2017-06-06 17:40] ghost commented on #1185
Deleted inappropriate text.  Please keep comments reasonable.

[2017-06-06 17:41] ghost commented on #1168
Why do you even care?

[2017-06-06 17:42] ghost opened #1246 "[LINUX] A problem with Visage"
Since 7.01 Visage has been very weak.
Please buff him.

[2017-06-06 17:42] gdrewb-valve commented on #1246
This is a bug tracker for porting bugs specific to Mac/Linux.

[2017-06-06 17:42] #1246 closed, assigned to nobody

[2017-06-06 18:07] materemias commented on #962
same happens to me, do you need anything to help in debugging?

[2017-06-06 18:33] feratechinc commented on #1215
libdrm-amdgpu-pro-amdgpu1 2.4.70
libdrm-amdgpu1 2.4.81
mesa 17.2

I'm using the AMDGPU-PRO driver, do you think it's worth uninstalling to test if vulkan works without it?

I'm using the Paulo Migel PPA so there is vulkan in the open source driver.

[2017-06-06 19:04] kisak-valve commented on #1215
There's definitely something off there by having more than one version of libdrm's subcomponents on the system. The symbol drmGetDevices2 was introduced in 2.4.75, so I would either push mesa back to where it only needs 2.4.70 and get that consistently the same version, or update or drop amdgpu-pro's out of date (libdrm) packages, then retest and go from there.

[2017-06-06 19:36] gdrewb-valve commented on #1242
Closing under the assumption that this is the same as 1195.  If the poster responds with more info that it's different we can reopen.

[2017-06-06 19:36] #1242 closed, assigned to nobody

[2017-06-06 20:12] feratechinc commented on #1215
Ok, I can't actually remove the other versions. The libdrm-amdgpu1 is part of the desktop system with many components depending on it.

The amdgpu-pro version driver with built in vulkan support also comes with it's own version.

Any ideas?

[2017-06-06 20:23] materemias commented on #556
unfortunately -phased_window_create conflicts with Vulkan

[2017-06-07 05:45] deksden commented on #1168
@mihail-mojsoski Why?

[2017-06-07 14:37] mastercoms commented on #1215
Remove the AMDGPU pro version. You can use Mesa's RADV for Vulkan support.

[2017-06-07 15:11] feratechinc commented on #1215
I installed Mesa's RADV but now vulkaninfo gives me VK_ERROR_INCOMPATIBLE_DRIVER

[2017-06-07 19:11] mastercoms commented on #1215
Is there any more info that it gives you?

[2017-06-07 19:15] feratechinc commented on #1215
I'm using VulkanSDK 1.0.49.0 and I used setup-env.sh

Here is my vulkaninfo

===========
VULKAN INFO
===========

Vulkan API Version: 1.0.21

INFO: [loader] Code 0 : Found manifest file /home/user/.local/share/vulkan/implicit_layer.d/steamoverlay_x86_64.json, version "1.0.0"
INFO: [loader] Code 0 : Found manifest file /home/user/.local/share/vulkan/implicit_layer.d/steamoverlay_i386.json, version

[2017-06-08 21:20] gdrewb-valve commented on #1240
Have you verified your Dota install?  Can you include your console text, as requested?

[2017-06-08 21:21] gdrewb-valve commented on #1221
Closing as the connect issue is not Mac/Linux specific and there's no further info on pulseaudio.

[2017-06-08 21:21] #1221 closed, assigned to nobody

[2017-06-08 23:54] feratechinc commented on #1215
Ok so I installed the open source Vulkan driver. Vulkan works but Dota gives me this error:

CreateSwapChain():
The selected graphics queue does not support presenting a swapchain image.

[2017-06-09 20:46] gdrewb-valve commented on #1245
Closing pending more info.

[2017-06-09 20:46] #1245 closed, assigned to nobody

[2017-06-09 20:47] gdrewb-valve commented on #1220
Is this still happening?

[2017-06-11 11:55] wfrced opened #1247 "[Linux] Dota-specific Steam Overlay features not working"
Xubuntu 17.04
When I press 'View Steam Profile' button, default overlay opens but nothing happens. Game Groups, Workshop, Guides, Discussions and Community hub are not working too. Every other feature works. Verifying game files (and purging-reinstalling Steam and the game) doesn't help. Enabling/disabling compositor (compton) doesn't help.

[2017-06-11 12:03] kisak-valve commented on #1247
Hello @wfrced, this issue is already being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/4957. Closing as a duplicate.

[2017-06-11 12:03] #1247 closed, assigned to nobody

[2017-06-12 19:48] grasdaggel opened #1248 "[Linux] Chat Wheel issue when having more then 1 screen"
Ubuntu 16.06

I'm having weird problems using the chat wheel. Game is on screen2, and when the popup appears it seems that the application is trying to put the cursor on the middle of screen1, whereas always the most left sentence gets used.

[2017-06-12 20:38] kisak-valve commented on #1248
Hello @grasdaggel, this issue is already being tracked at #1201. Closing as a duplicate.

[2017-06-12 20:38] #1248 closed, assigned to nobody

[2017-06-13 20:34] ricardoalcaraz opened #1249 "Dota 2 crashing randomonly on Linux"
Title explains it all, my game crashes at random points while playing. Doesn't last even an hour before it crashes. Here's a gist of my system info and the console output:
https://gist.github.com/tinyRickMotherfucker/46f2064badede4cf32ebe9e3753c4115

I'm also attaching the dump files that I have gotten recently.

What I have tried so far: Validating steam files(multiple times), reinstall nvidia dr

[2017-06-13 20:54] kisak-valve commented on #1249
For reference, the first crash is a SIGSEGV in libGLdispatch.so.0.0.0 (part of the nVidia driver). The second crash is a SIGSEGV in libanimationsystem.so (part of Dota 2). The third, fourth, sixth, and seventh crash is a SIGSEGV in an unmapped address range coming from Dota 2. The fifth is a SIGSEGV in libclient.so (part of Dota 2).

[2017-06-13 22:18] Enygma2002 opened #1250 "[Linux] Segmentation Fault when trying to start the game"
Since very recently (~12th of June), as far as I can tell, after one of the recent updates, Dota2 fails to launch on my Fedora 25 machine. Was working fine before.

Trying to launch the game, I see the loading screen (black screen with Dota logo in the center), it takes about 5-10 seconds and the game crashes with a `Segmentation Fault`.

**Console log:**
[code]

**System info:**
[code]

[2017-06-13 23:28] gdrewb-valve commented on #1250
Have you validated your Dota install?

[2017-06-14 00:23] Enygma2002 commented on #1250
@gdrewb-valve Thanks for the reply.

I've just tried a validation and no luck.

Some extra information that may be useful:
While showing the loading screen, about 1/4 of the way, the mouse pointer turns from the system one to the Dota 2 specific one (bigger/chunkier one). Maybe that helps you better identify the point of failure.

Here's the crash dump file, if it helps debugging:
http://s000.tiny

[2017-06-14 02:23] kisak-valve commented on #1250
For reference, the attached minidump is a SIGSEGV in libengine2.so (part of Dota 2).

[2017-06-14 18:54] ghost commented on #1250
Get ubuntu.

[2017-06-14 23:25] gdrewb-valve commented on #1249
The larger team is looking at crash issues that affect all platforms and there won't be a lot of immediate status here.

[2017-06-14 23:25] gdrewb-valve commented on #1250
The larger team is looking at crash issues that affect all platforms and there won't be a lot of immediate status here.

[2017-06-15 09:21] Enygma2002 commented on #1250
Hoping the priority is high, since right now I can't start the game at all, on Fedora. Not sure if it's only about my install or if it reproduces on any recent Fedora machine.

Thanks for the feedback so far.

[2017-06-15 16:16] guiscaranse opened #1251 "[Archlinux] Xorg freezes when match is about to start"
Currently once the match is about to start (when it is supposed to show the match heroes) Xorg crashes, I get a black screen and have to restart the computer. I have no idea why this happens. Once I restart, and reconnect to the match it runs smoothly and don't crash again.

My computer settings:
[code]

[2017-06-15 18:14] gdrewb-valve commented on #1251
You'll want to report this through a channel that would look into the X side of things.  Starting with your distro might be a decent place.

[2017-06-15 18:18] gdrewb-valve commented on #1250
Unfortunately it's impossible to say when this will get addressed.  The larger team is going through crashes by the frequency they occur overall so hopefully yours matches up with something.

[2017-06-15 18:36] gdrewb-valve commented on #1250
You might also want to check on forums for your distro to see if there are people with similar problems.  As you're running without the Steam runtime there may be some system conflict that's popping up.

[2017-06-15 19:05] guiscaranse commented on #1251
Yeah, I imagined that. But was confused because this only happens in Dota. And is making it impossible to play

[2017-06-15 20:07] Enygma2002 commented on #1250
@gdrewb-valve:

Could you please clarify what you mean by that, how did you determine that and how can I try to run "with" the Steam runtime?

My Steam install is standard (reinstalled about 1 month ago). The game was running fine until the recent updates.

**Side note**:
This is the second bug I`m reporting and every time I mention that I'm running it on Fedora, I am referred to look for solution

[2017-06-15 20:37] Enygma2002 commented on #1250
Did not really find much related to Fedora.

The only recent relevant thing I found (june 2017) was on the opensuse forum: https://forums.opensuse.org/showthread.php/525175-After-Steam-update-the-games-is-not-launching?p=2825138#post2825138

However, the proposed workaround `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam` did not work for me:
[code]

[2017-06-15 20:51] kisak-valve commented on #1250
Your log snippet indicates that you are using an optimus setup, which means you may be encountering something similar to https://github.com/ValveSoftware/steam-for-linux/issues/4822.

What launch options are you using with Dota 2? Does running the game on the Intel gpu or adding `LD_PRELOAD="libpthread.so.0 libGL.so.1" primusrun %command%` to the launch options improve the situation?

[2017-06-15 21:24] Enygma2002 commented on #1250
Found the culprit!

My launch options were `vblank_mode=0 primusrun %command% -consolelog -conclearlog +sys_info`, most likely from previous attempts to debug a previous problem (https://github.com/ValveSoftware/Dota-2/issues/1195). For some reason, those launch options seemed to work fine up until the recent updates.

The solution seems to be to simply revert to my standard launch options: `vblan

[2017-06-15 21:41] kisak-valve commented on #1250
Closing per the last comment.

[2017-06-15 21:41] #1250 closed, assigned to nobody

[2017-06-16 22:53] meese42 commented on #1220
Just happened to me.

System Info: ![computerinfo](https://user-images.githubusercontent.com/29493822/27247272-fa9c95dc-52c4-11e7-9c36-0668bc3fa4db.png)

Dump file: https://drive.google.com/file/d/0B_6MNsMIIoNiMTRiTlMyZkE5ZXM/view?usp=sharing

[2017-06-16 23:09] kisak-valve commented on #1220
For reference, the attached minidump is a SIGSEGV in libclient.so (part of Dota 2).

[2017-06-17 01:55] davay opened #1252 "[Vulkan][Linux] LoadSystemAndDependencies(): AppSystemDict: Error in Connect () of interface 'GameUI011'!"
I have not encountered this before, not sure when it started happening. The last time I tried Vulkan was quite a while ago and it worked, albeit with some bugs like that not being able to type in steam overlay bug (which has been fixed according to changelog).

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    No Touch Input Detected

Processor Information:
    CPU Vendor:

[2017-06-17 15:21] kisak-valve commented on #1252
Hello @davay, please copy a log snippet of Dota 2 trying to start up which you can find in `/tmp/dumps/<username>_stdout.txt` and put it in a [gist](https://gist.github.com/) and attach a link to the gist in this issue report.

[2017-06-18 16:52] moraesmark opened #1253 "[Linux Mint] Dota 2/Steam crashes - Experience is unplayable."
Over the last few days, Dota 2/steam has been crashing a few times. This has resulted, in 3 abandons, trying to get myself out of LP due to the crashes. In a way, I'm at my hair's end. The experience of the stability is terrible for me.

This is my system information below:

https://gist.github.com/moraesmark/257e19da707eeb5c8eed21b6acb85bf9

Notes:
1. My Dota 2 settings are at the lowest, with al

[2017-06-18 19:25] kisak-valve commented on #1253
Hello @moraesmark, for reference, the majority of attached minidumps are DUMP_REQUESTED in crashhandler.so (part of Steam). It appears that steam is dying from underneath Dota 2 and the game is just the victim in this case.

Based on the ...`assertion "connection->generation == _dbus_current_generation" failed`... spam in your log this issue may be a variation of https://github.com/ValveSoftware/s

[2017-06-18 20:49] AngryPenguinPL commented on #1239
Still the same. I trying also other cursor look but is broken anyway.
For strange reasons I can not make a screenshot with the cursor to show what it looks for me :/

Anyway I make picture from my smartphone (sorry for quality);

1. Cursor before "before performance patch"
![img_20170618_213427](https://user-images.githubusercontent.com/3121142/27263993-db617db0-5475-11e7-896f-24a3211d0c35.jpg)
Lo

[2017-06-19 13:17] moraesmark commented on #1253
Thanks for the quick reply @kisak-valve. So, I started steam, with the terminal command, and so far it looks good.

This is my terminal output: https://gist.github.com/moraesmark/c7723a18e35ee6a42c11929bc3f3960e
I saw a lot of warnings, and I'm not sure, of what to make of it.

Thanks!

[2017-06-19 13:31] kisak-valve commented on #1253
`STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0` is an env variable. You can set it in any of the common places provided by your distro or make a desktop shortcut that calls `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam`.

[2017-06-19 14:05] danginsburg commented on #1252
Can you also try running vulkaninfo and putting the output on a gist?  This might help confirm whether Vulkan is working at all on your system.

[2017-06-19 16:11] #1253 closed, assigned to nobody

[2017-06-20 03:24] davay commented on #1252
@kisak-valve https://gist.github.com/davay/9789dc3a324c3cc2d1dddb9476e29c26

[2017-06-20 03:36] davay commented on #1252
@danginsburg "bash: vulkaninfo: command not found" is there a package I need to download for vulkaninfo? I have nvidia drivers and nvidia-utils

[2017-06-20 19:11] tesu opened #1254 "Crash on loading screen"
Haven't been able to start Dota on Arch Linux ever since uninstalling gdm and its dependencies this morning. My other steam games seem to work fine, but Dota always crashes on the loading screen. I've tried reinstalling packages to figure out what broke it, and verifying game cache/disabling vulkan, but nothing has worked.

I've tried running dota.sh in the game/ directory but it outputs the follo

[2017-06-20 20:13] kisak-valve commented on #1254
Hello @tesu, this sounds like there's an incompatible mix of dbus libraries between the system and steam runtime. Do you have the steam-native-runtime package installed? If not, does adding it help?

[2017-06-20 20:18] tesu commented on #1254
Installing it worked, thank you!

[2017-06-20 20:18] #1254 closed, assigned to nobody

[2017-06-23 10:15] davay commented on #1252
Hey guys, I got it fixed somehow after reinstalling a lot of the nvidia packages. Thanks.

[2017-06-23 10:15] #1252 closed, assigned to danginsburg

[2017-06-24 15:32] mathewmclaren opened #1256 "[linux] Periodic freezing every minute"
For the past 10 days or so in every online game I have (both normal and custom games) there is a ~2 second freeze exactly every minute until the game ends. During the freeze nothing is responsive and there are no animations/sounds. I think the effect begins upon loading into match as it happens in the pick phase. Nothing shows in the Dota 2 console and the effect isn't present in offline games. I

[2017-06-25 06:15] alex3kov commented on #654
I agree that it should be enabled by default. Played several games without hotkeys before figuring this out.

[2017-06-25 11:01] xdeq opened #1257 "Problem with video.txt being reset occasionally"
Very rarely, under unknown circumstances, video settings are reset. After this, the game window is a very long collapse (4-5 seconds). Also I can't set the brightness of the game (All time 0%). After a lot of machinations with video.txt (delete file, change properties width/height etc) and restart the game, everything worked.
For the last month, it was repeated 2 times.  Such a feeling that this i

[2017-06-25 12:59] kisak-valve commented on #1257
Hello @SunlightBLR, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. Additionally, if you have this issue again, and your workaround helps, instead of deleting it, please copy video.txt somewhere out of the way and attach it via a gist to thi

[2017-06-26 15:48] xdeq commented on #1257
@kisak-valve
[System Information](https://gist.github.com/SunlightBLR/ae901761f81223112cfa54ebe9ac3b1a)
[video.txt](https://gist.github.com/SunlightBLR/d261c0185a60a5c48770c1fa48a94f53)

[2017-06-26 16:15] bensohyh opened #1258 "Dota Application won't launch -> Error dota.sh: line 101."
I'm facing a recent problem with dota not able to launch. Please help...!

Running Steam on centos 7 64-bit
STEAM_RUNTIME is enabled automatically
Installing breakpad exception handler for appid(steam)/version(1496897923)
Installing breakpad exception handler for appid(steam)/version(1496897923)
Installing breakpad exception handler for appid(steam)/version(1496897923)

(steam:7958): Gtk-WARNING *

[2017-06-26 22:03] mathewmclaren commented on #1256
Just an update on this, after several days of this issue I checked again this evening and it looks like it's stopped. Nothing's changed on my end so I'm still not entirely sure what caused it in the first place!

[2017-06-27 21:17] beldelo opened #1259 "[macOS] FPS dropping from 120 to 20"
After the last update I experience a great drop in performance. The FPS drops from 120 in game beginning to 20 and lower even when video settings are set to minimal and the resolution to 1280x800. With higher video settings it constantly freezes with errors.
`CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event`

I tried several solutions to increase performance:

[2017-06-28 15:39] M3rs opened #1260 "get load screen, then crash, missing librenderdoc.so"
I am having trouble running DOTA 2. It will get to a load screen with the logo and then crash.

I am running Opensuse Leap 42.2.

On the console, I get the following error:
[code]
I have tried manually editing that file to split the multiple values in <test> to individual nodes, but then I get the following error:

[code]

Originally, I had errors with libudev and libbz2, which I have created siml

[2017-06-28 16:12] kisak-valve commented on #1260
Hello @M3rs, librenderdoc missing should not be fatal for Dota 2. The larger concern is why the game is using llvmpipe, which is Mesa's faster software opengl implementation instead of real hardware.

[2017-06-28 16:17] M3rs commented on #1260
Hmm, interesting! I have been able to get the game to boot up, but it is in "potato mode" (the graphics are super terrible/laggy). This seems to support your notion of llvm pipe.

if I run lspci, I get:
[code]

Do you think it is trying to use the integrated intel driver instead of the NVIDIA one?

[2017-06-29 21:39] ricardoalcaraz commented on #1249
Turns out the issue was on my end. The crashes were a result of instability in my CPU which I discovered by running a stress test. I disabled the core and now the game runs perfectly.

[2017-06-29 21:39] #1249 closed, assigned to nobody

[2017-06-30 00:15] 3guboff opened #1261 "[Ubuntu] FPS dropping from 140-150 to 30-50 (with freezes) - Vulkan case"
Hello,
Time to time I get dropping fps in game when I use `-vulkan` for Dota 2. Usually I play with 140-150 fps, but after some time (10-30 minutes) in game, I get losing fps to 30-50 with freezes. System on this period not overloaded. After restart Dota 2 (ctrl + f4) and reconnect I can continue play.

My config:
OS: Ubuntu 16.04.2 LTS
Processor: Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
Memory: 4

[2017-06-30 08:49] sylware commented on #1225
Tested a bit more. It's now kind of random: if you play with the cursor size option and the automatic size setting, you get sometimes a wrong size for the cursor background, which you can see while hovering the cursor on some units in-game. All the cursors I tested failed to work properly.

[2017-07-01 04:31] RustyRaptor commented on #105
Hey, incase someone is trying to use Vulkan and it's doing this just install the Vulkan support DLC in the properties of the game. k thx

[2017-07-01 18:21] TestingLitmus commented on #1220
I am encountering the same issue as well. I have upgraded from Ubuntu 16.10 to 17.04, but that made no impact.  Previously I used the -vulkan launch option and that would just cause the game to hang with no dump file. By disabling -vulkan and enabling -console, I now get a dump:

https://drive.google.com/file/d/0B7_tVqtl-BlmakFpUE9yMHViV00/view?usp=sharing

I believe the relevant part is this:
[co

[2017-07-01 18:32] kisak-valve commented on #1220
For reference, the attached minidump is a SIGSEGV in libclient.so (part of Dota 2).

[2017-07-06 10:12] damian108 commented on #1259
+1 I'm having the same experience - totally unplayable for many days.
  System Version:	macOS 10.12.5 (16F73)
  Model Name:	iMac
  Model Identifier:	iMac17,1
  Processor Name:	Intel Core i7
  Processor Speed:	4 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	8 MB

[2017-07-06 21:39] anpel commented on #1010
This one just cost me an abandon. Deleting the `launch.vcfg` file worked for me too.

In my case the path for the file was `/home/anpel/.steam/steam/steamapps/common/dota 2 beta/game/dota/cfg/` in case it helps anyone.

[2017-07-06 23:26] mastercoms opened #1262 "Segfault on latest update"
Journal log:
[code]

Dump: https://drive.google.com/open?id=0ByYkAVmpbnI7SnN2V21GdE9MbWM

System information:
[code]

Possibly caused by a change here: https://github.com/SteamDatabase/GameTracking-Dota2/commit/120ae00686efff65c34c51554a08b9bd44a84956#diff-eb360d9e055052b31df057835341139aR4 ?

[2017-07-06 23:28] r3pek commented on #1262
This.....

Just to say it's reproducible under Vulkan or OpenGL.

[2017-07-06 23:29] kwyatt commented on #1262
+1
16.04
vulkan or opengl
4.8.0-58-generic

[code]

[2017-07-06 23:34] danilw commented on #1262
same

[2017-07-06 23:38] lewisdiamond commented on #1262
Test your update next time?

[code]

[2017-07-06 23:40] rennomarcus commented on #1262
+1
I tried to launch with -safe and -autconfig

One of the errors I filtered from the dump:
ERROR: HangWatchdogInternal_EndScope() - Hang watchdog not implemented for this platform
ERROR: HangWatchdogInternal_BeginScope() - Hang watchdog not implemented for this platform!
failed to dlopen librenderdoc.so error=librenderdoc.so: cannot open shared object file: No such file or directory
librenderdoc.

[2017-07-06 23:45] tukkek commented on #1262
Same here, fails with message "failed to dlopen libpangoft2-1.0.so error 2" - even though that library is installed in my system (libpangoft2 at version 1.0.0).

The game was running fine earlier today before patching it just now. I haven't installed/updated libraries or made system changes at all today so it's definitely on Dota's side. Other Steam games seem to be working normally.

[code]

[cod

[2017-07-06 23:46] micaelbergeron commented on #1262
Linux archbeast 4.11.5-1-ARCH #1 SMP PREEMPT Wed Jun 14 16:19:27 CEST 2017 x86_64 GNU/Linux
Archlinux, Mesa 17.1

The game was running fine until last update.

Output from GDB backtrace, seems to be OPENSSL related.
[code]

[2017-07-06 23:49] babnikzero commented on #1262
+1

[code]

[code]

[code]

[2017-07-06 23:52] LukaZajaMarceta commented on #1262
[code]

Linux manjaro, AMDGPU driver, opengl
amd 280
amd 6300

[2017-07-07 00:02] felipec commented on #1262
Same here. I was playing a game just fine, then I can't play another because there's an update, close, update, and crash. Every single time I open Dota it crashes.

[2017-07-07 00:06] gotwig commented on #1262
+1 ... Straight normal Ubuntu distro, with X11 drivers.

Please test your own software before releasing it ... and actualy use Linux if you develop for it.

Just saying this would have never happened for the Windows client.

[2017-07-07 00:08] rudmint commented on #1262
Same,

Fri Jul  7 00:01:26 2017 GMT: file ''/tmp/dumps/crash_20170706200040_1.dmp'', upload yes: ''CrashID=bp-a5149bb4-4363-43af-852f-6617c2170706''

[2017-07-07 00:09] gdrewb-valve commented on #1256
OK, closing.

[2017-07-07 00:09] #1256 closed, assigned to gdrewb-valve

[2017-07-07 00:12] sylware commented on #1262
up-to-date beta steamos
up-to-date beta steam client (big picture)
Since last update, unable to start dota2:
dmesg shows a dota2 segfault error7 in libsteamnetworkingsockets.so

[2017-07-07 00:13] gdrewb-valve commented on #1259
Have you verified your installs?

[2017-07-07 00:13] micaelbergeron commented on #1262
Chill out guys, pretty sure they'll push out a fix quickly now.

[2017-07-07 00:14] gdrewb-valve commented on #1260
You might want to ask around forums for your distro or switchable graphics also.

[2017-07-07 00:14] madisonmay commented on #1262
Yup, we have an assigned valve dev for the issue, I'm sure they got this on lockdown.  God speed @gdrewb-valve, thanks for the hard work homie.

[2017-07-07 00:15] safocl commented on #1262
I have archlinux and also this problem have noticed that updated nvidia drivers

[2017-07-07 00:15] gdrewb-valve commented on #1257
If you can find a specific repro for this we can try and investigate.

[2017-07-07 00:20] FlorianRudolf commented on #1262
Having similar issues... Valve devs seems to be on it...
Do you (valve devs) need assistance locating the issue?

[2017-07-07 00:21] zpostfacto commented on #1262
Should have a fix shortly.  We've got a lib exposing OpenSSL symbols when it shouldn't.

[2017-07-07 00:25] safocl commented on #1262
`
[2017-07-06 16:34] [ALPM] upgraded bind-tools (9.11.1.P1-1 -> 9.11.1.P2-1)
[2017-07-06 16:34] [ALPM] upgraded btrfs-progs (4.11-1 -> 4.11.1-1)

[2017-07-06 16:34] [ALPM] upgraded libsystemd (233-6 -> 233.75-2)
[2017-07-06 16:34] [ALPM] upgraded device-mapper (2.02.172-1 -> 2.02.172-2)
[2017-07-06 16:34] [ALPM] upgraded docbook-xsl (1.79.2-1 -> 1.79.2-2)
[2017-07-06 16:34] [ALPM] upgraded grep (3

[2017-07-07 00:34] felipec commented on #1262
I wonder how this passed testing. Is anybody able to run this? At Valve?

[2017-07-07 00:35] safocl commented on #1262
[code]

[2017-07-07 00:40] kisak-valve commented on #1262
This issue has been reviewed and there's plenty of confirmations. This issue report will be limited until we hear back from a Dota 2 dev or the next update ships.

From @fletcherdvalve in https://github.com/ValveSoftware/Dota-2/issues/1262#issuecomment-313554000:

`Should have a fix shortly. We've got a lib exposing OpenSSL symbols when it shouldn't.`

[2017-07-07 00:41] safocl commented on #1261
launch through `steam-native` to use the system libraries that are newer versions than steam

[2017-07-07 01:57] kisak-valve commented on #1261
`steam-native`, which is Arch specific as far as I know, expects that the optional package `steam-native-runtime` to be installed before using it.

[2017-07-07 02:21] dubslow commented on #1262
The patch fixed it for me, working now

[2017-07-07 02:23] ggarciak commented on #1262
Patch fixed it for me as well, playing on Linux mint

[2017-07-07 02:25] mastercoms commented on #1262
Patch fixed it for me.

[2017-07-07 02:25] #1262 closed, assigned to zpostfacto

[2017-07-07 05:55] ngkaho1234 opened #1263 "[Arch Linux] Dota2 has a longer than expected black splash screen upon loading"
Hi,
After an update on 7/7, Dota2 only showed a black screen upon loading. I tried to run the game by directly running the executable and see if there's anything wrong. I could only quit the black screen by killing dota2 with SIGKILL. I was not sure what was going wrong.
https://gist.github.com/a74e7f99dc602e078de64c861085d4e5

Here is the output of glxinfo:
https://gist.github.com/626e70d4a9ea9bb

[2017-07-07 06:01] ngkaho1234 commented on #1263
Just now I tried to run the game through gdb, and here is the output of "info threads" command:
https://gist.github.com/ngkaho1234/a953064901623b41bea20b0bfb8b74e2

[2017-07-07 06:57] nextdimension commented on #1263
Same thing I'm on Ubuntu, black screen on boot of dota 2.

[2017-07-07 07:59] beldelo commented on #1259
Yes.

[2017-07-07 10:32] safocl commented on #1262
Patch fixed it for me. OS ARCHlinux

[2017-07-07 11:18] safocl commented on #1263
I'm all right. archlinux, nvidia proprietary drivers

[2017-07-07 12:13] kisak-valve commented on #1263
Closing per the OP's update.

[2017-07-07 13:20] skogler opened #1264 "[Linux] Chat wheel always moves mouse to top left corner with Razer mouse"
Since a few months ago, the chat wheel window center detection is broken for me.
It always moves the mouse to the top left corner of the window, approximately one hundred pixels inside.
I disconnected every input device except for keyboard  and mouse.

Things I have tested so far  which do not change this behaviour:

- Video mode (Windowed, Desktop-Friendly Fullscreen,
- Number of monitors (disabl

[2017-07-07 14:00] gdrewb-valve commented on #1264
Dota uses SDL for all pointer operations and doesn't know anything about specific hardware.  Maybe the SDL dev knows more?

[2017-07-07 14:13] ramma commented on #1260
Not sure if this is related, but after the patch yesterday my game is now taking 30+ seconds to get to the menu when started,  showing just a black screen for that time. Before it loaded basically instantly. I'm seeing the same "failed to dlopen" error in the terminal.

[System info](https://gist.github.com/ramma/925cc19fb6fd7805979e)

[2017-07-07 14:21] skogler commented on #1264
I'll try to create a minimal SDL2 test application to reproduce this issue, and to see if it really is a SDL2 bug.

Does Dota use SDL_WarpMouseInWindow to set the mouse position within the window? Or does it do SDL_SetRelativeMouseMode and draw the cursor circle in the middle by itself? I'd guess the latter.

[2017-07-07 14:23] gdrewb-valve commented on #1264
When in a game and you don't have some other UI up things should be in relative mouse mode.

[2017-07-07 14:23] kisak-valve commented on #1264
Hello @skogler, are you using any launch options with Dota 2?

[2017-07-07 14:49] skogler commented on #1264
hi, no I am not using any at the moment.

[2017-07-07 16:11] skogler commented on #1264
I can confirm there is a bug in SDL2, where SDL_WarpMouseInWindow does not correctly set the mouse position with the Razer DeathAdder mouse. I discovered this with the following small test program:

https://gist.github.com/skogler/9d9ab1b3e977d25901afe6fa1c2d608f

This just draws a rectangle where the mouse is currently at, according to SDL2. You can hold the middle mouse button to draw a 'Chat wh

[2017-07-07 17:28] tukkek opened #1265 "[Linux] Client doesn't show my Hero Builds at the Guide selection panel"
Hi guys and thank you very much for the quick fix on the segfault yesterday :) I can't be a 100% sure this bug is on Linux only but I took some time to look at the general bug-report forums and reddit too and no one seems to have reported it, so I'm thinking it's fair to assume it's on Linux only since if it was affecting all clients it would surely have been reported already.

Basically I have se

[2017-07-07 17:29] tukkek commented on #1265
[code]

[2017-07-07 17:54] gdrewb-valve commented on #1265
The larger team will take a look, if we hear anything back I'll update.

[2017-07-07 17:57] tukkek commented on #1265
Thank you once again for the quick response!

[2017-07-07 22:48] jazztickets opened #1266 "[Linux] Console input font not showing"
![2017-07-07-164035_1920x1080_scrot](https://user-images.githubusercontent.com/425930/27979417-28b82ffc-6333-11e7-8ba2-54797098cb4a.png)

System Info:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/53057670a0b1b884c03ad3b7a9ec2f6c0bdef677/gistfile1.txt

Since the last update, you can't see what you're typing in the console. My theory is that the line height or something is

[2017-07-08 09:29] yash1610 commented on #1260
Having the same problem as @ramma on my system since the patch that made the game CTD because of the libssl error, issue #1262.

This is in line with the earlier reported issue #1263 which was closed by @kisak-valve  for unexplained reasons.

By unexplained I mean that the game shouldn't take a minute to load when it loaded in a second before the patch that caused the issue #1262 and that too on g

[2017-07-08 11:15] sylware opened #1267 "web market broken"
up-to-date beta steamos
up-to-dato beta steam client (big picture)
web market broken: in the last few weeks the steam web component has been totatly broken, cannot even use the market to buy stuff from dota2.

[2017-07-08 15:53] kisak-valve commented on #1263
I'm going to go ahead and re-open this issue per @yash1610's comment on #1260. The original post indicated that the game was failing to start and the update indicated that it just took longer than expected. The most common cause of this kind of long start is if a game needs shaders compiled the OpenGL driver and has to wait for this to complete. This can happen on some game updates, if the video d

[2017-07-08 15:57] gdrewb-valve commented on #1263
Possibly related: lots of reddit comments across all platforms about getting stuck at the loading screen, although those are for spectating.

[2017-07-08 15:58] gdrewb-valve commented on #1267
I'll pass this on to the Steam team.

[2017-07-08 16:30] kisak-valve commented on #1267
Hello @sylware, can you also test against the current steam stable client.

[2017-07-08 16:41] yash1610 commented on #1263
@kisak-valve thank you for being so open to feedback. I'd love to provide any and all manner of info that you may need to diagnose this issue; so just let me know what you need.

[This is the output for when the game is launched from the terminal](https://gist.github.com/yash1610/ca71d635f520a63a9ce9a60089920c93)

[And this is when the game is run with the -vulkan argument](https://gist.github.com

[2017-07-08 17:52] wongzigii opened #1268 "The server is unconnectable and cannot find match"
The Dota-2 server is totally unconnectable. Please help! I try to find the match and connect to game server but then I got banned for 1 hours , then 24 hours for nothing!

Same issue can be  found here: http://steamcommunity.com/app/570/discussions/0/1457328392106097963/?tscn=1499520530
http://dev.dota2.com/showthread.php?t=282536

<img width="773" alt="2017-07-09 2 02 34" src="https://user-images

[2017-07-08 21:48] sylware commented on #1267
The current steam stable client has a web component working.
USB mic (as the 3rd audio device on my system) for steam voice is still broken though.
I'll check the beta client on a regular time basis to see when it's fixed.

[2017-07-08 21:50] gdrewb-valve commented on #1268
This issue tracker is for porting bugs specific to Mac and Linux.  dev.dota2.com is the right place to post and it looks like there's already something there.

[2017-07-08 21:50] #1268 closed, assigned to nobody

[2017-07-08 21:51] gdrewb-valve commented on #1267
This can be closed then as it isn't a Dota issue?

[2017-07-08 22:53] sylware commented on #1267
Sure, but the weird thing is I have to go through the dota2 team to get
something "solved" by the steam client team (there is an issue an the steam
client project).
:(

[2017-07-08 23:00] gdrewb-valve commented on #1267
Did you post something in steam-for-linux?  They should have picked it up there.

[2017-07-08 23:41] sylware commented on #1267
On Sat, Jul 08, 2017 at 04:00:11PM -0700, Drew Bliss wrote:

I did.

[2017-07-08 23:44] gdrewb-valve commented on #1267
Hmm, I guess it got overlooked.  Anyway at least there's a better idea on what's going on.

[2017-07-08 23:44] #1267 closed, assigned to nobody

[2017-07-09 01:04] tukkek commented on #1265
I figured this one out. May sound obvious but I had to publish my guides to the Steam Workshop and after that subscribe to them. This got them to show up once again on my "hero guides" panels (on picking phase, hero tab on the home screen, etc) - as all my guides were unpublished up to now.

What strikes me as odd though is that prior to the latest batch of patches I didn't have to do any of this.

[2017-07-09 01:04] #1265 closed, assigned to gdrewb-valve

[2017-07-09 01:48] wongzigii commented on #1268
Please report this issue to dota-2 dev team asap! We have suffered for this and got banned but there isn't any hotfix or patch for these day.

[2017-07-09 08:11] ngkaho1234 commented on #1263
I try to run the game on a laptop with HD530 as primary GPU and GTX 960M as secondary GPU (Optimus), and the behaviour exhibited is the same as the machine with GTX 1070 as primary GPU: The game now takes much longer time to boot than expected everytime.

Here is the output from dota2 executable running on HD530 (mesa version: 17.1.4-1): https://gist.github.com/ngkaho1234/2b5765bc396297f1efc542e2d

[2017-07-09 08:57] UgoM commented on #1263
Same as @ngkaho1234 and @yash1610, since some days, Dota takes one full minute to load instead of 5 sec (stuck on the pre-load black screen).
Using Ubuntu 16.04 though not arch, and nvidia drivers 375.66

[2017-07-09 18:28] tmewett commented on #1256
Interestingly, I seem to be having the same issue. It *could* be my network setup (I'm using out-of-kernel drivers), but I don't have this freezing in any other real-time online game. I haven't timed the freezing exactly, but it lasts ~2s as described, and it never feels more frequent than every minute. Nothing relevant comes up in the console, though there is a regular message about the particle

[2017-07-10 10:11] Taiko2k commented on #1263
Also experiencing this issue. Dota now consistently takes about a minute to start while showing a black screen. I'm using Arch Linux with radeon/mesa drivers.

[2017-07-10 12:40] bensohyh commented on #1258
Sorry, but has this been resolved?

[2017-07-10 12:51] kisak-valve commented on #1258
Hello @bensohyh, no, this issue is currently open as indicated directly below the title at the top of the issue report. If you are reading the in-line closed indicator, that is saying steam-for-linux#5043 is currently closed.

[2017-07-10 13:30] danginsburg commented on #1263
I was able to repro this here on Ubuntu 16.04.2 on RADV.  Investigating.

[2017-07-10 16:03] sylware commented on #1263
up-to-date beta steamos
up-to-date stable steam client

Often, when I want to watch a live game (was looking at iceiceice games), I get stuck at the loading screen(dota logo for me) and I must kill the game in the steam overlay.

(I'm adding this note: I'm currently in the steam overlay writting this line, wanted to watch iceiceice game, I'm locked on dota2 logo, I have the watch bottom panel with