[2015-07-03 15:34] gdrewb-valve commented on #198
Do you have a joystick or controller plugged in?

[2015-07-03 15:34] gdrewb-valve commented on #200
Possibly the same input problem as #198.

[2015-07-03 15:35] gdrewb-valve commented on #201
Also can you try disabling the Steam overlay and seeing if that affects your FPS?

[2015-07-03 15:41] Pharmasolin commented on #168
Hi i will try to find replay of this match.

[2015-07-03 15:44] dhiru1602 opened #204 "[Linux] Game freezes occasionally for few seconds"
**My PC Specs**
Intel Core I7 920 3.5Ghz
16GB RAM
Nvidia 9600GT 1GB
Arch Linux with 4.0.7 kernel
Nvidia Proprietary 340xx (340.76-10) GPU driver

I have occasional game freezes which range from 2 seconds to upto 10 seconds while playing with bots or players. It's not just the game, but my whole system appears to be freezing. Checking the dmesg, I get the following:

<4>[107525.637702] NVRM: os_sch

[2015-07-03 15:55] gdrewb-valve commented on #203
Not a Mac/Linux issue, I've passed it on to the larger team.

[2015-07-03 15:55] #203 closed, assigned to nobody

[2015-07-03 15:56] gdrewb-valve commented on #204
Seems like a message related to the NVIDIA driver.  If you update the NVIDIA drivers to version 352 does it still happen?

[2015-07-03 16:00] Pharmasolin commented on #168
@danginsburg match id 1593454369 it is downloading but dont recreating game, i'm pressing show game but nothing heppens (wine and native steam for ubuntu)

I remember that this were on mid, may be i gave him 3 skill he press 1st go up from river in fog (while on his 1st skill) then come back from fog again still in his 1st skill, but i don't remember, sorry. Need to check game replay, the anwer is

[2015-07-03 16:02] gdrewb-valve commented on #79
@ChristophHaag, you should report that on the Steam forums.

[2015-07-03 16:06] Pharmasolin commented on #168
@danginsburg
I have fletched game replay from here http://dotabank.com/replays/1593454369/download/
it is hosting also here http://rghost.ru/8DWtL4yTF

I'm to lazy to switch on Windows to check there this dem.

[2015-07-03 16:07] gdrewb-valve commented on #145
Aside from the crash anybody who is seeing this:
 failed to dlopen librendersystemgl.so error=libudev.so.0: cannot open shared object file: No such file or directory
will not be able to run the game due to a missing dependency.  #35 discusses the issue.

[2015-07-03 16:26] danginsburg commented on #168
@Pharmasolin Thanks I got your demo, but haven't been able to repro the bug.  What time in the demo does it occur?

[2015-07-03 16:28] Pharmasolin commented on #168
@danginsburg i can't open demo to check it, i think from 8 to 13 minute when i have gave jugger 3rd skill with silencer something happend.

[2015-07-03 16:30] MatthewWalker commented on #152
@gdrewb-valve, it's still hanging. Turns out that it will stop hanging if you Alt+Move the window.
I have another video showing the functionality: https://www.dropbox.com/s/7td4vs9v7qwm669/reborn-video.mkv?dl=0

I've noticed the Dropbox webplayer seems to encode the videos pretty horribly.

It seems like Borderless Window acts exactly like Fullscreen if it has the same resolution as the screen
(as

[2015-07-03 16:30] davmac314 commented on #18
Well, that hasn't happened, and it seems I just downloaded 6.7GB of nothing.

I understand that Linux users are a minority and that 32-bit Linux users are even more of a minority, but that's no reason to cause them this sort of problem. It's fine that you choose not to support 32-bit systems (I'd rather you did, but I can understand to some degree if you don't). But it's not cool to offer a huge d

[2015-07-03 16:35] jeanlain commented on #197
Excellent!

[2015-07-03 16:39] danginsburg commented on #168
@Pharmasolin I found the part of the demo you are talking about, but the visual issue does not repro.  In any case, this is probably highly unlikely to be Linux-specific.  Going to close it for now.

[2015-07-03 16:39] #168 closed, assigned to danginsburg

[2015-07-03 16:47] phoerious opened #205 "[Linux] Performance drop after toggling between running game and settings"
When starting Dota2 reborn with disabled compositing in KWin (important, otherwise you don't get a playable framerate!) everything runs smoothly. The whole UI feels quite a bit sluggish, but overall it runs fine with not really amazing but playable 30fps. It's not quite comparable to the old Dota2 in Wine (smooth 60fps) but certainly a lot better than the old native Linux version (unplayable at fu

[2015-07-03 16:51] dhiru1602 commented on #204
I cannot upgrade to 352 driver because my GPU is supported only by legacy 340xx driver. I have tried the same driver (340) on windows and it works fine. Interestingly, the issue only occurs with Dota 2 Reborn on Linux.

[2015-07-03 16:53] gdrewb-valve commented on #204
We're checking with NVIDIA to see what can be done.

[2015-07-03 17:01] gdrewb-valve commented on #152
Thanks for the update, we'll keep investigating.

[2015-07-03 17:03] budimanjojo commented on #198
No I don't, using mouse and keyboard

[2015-07-03 17:04] budimanjojo commented on #200
Should I put the console log here? Or how can I help?

[2015-07-03 17:09] gdrewb-valve commented on #200
I'm not sure the console log will show anything but go ahead and post it.

For some reason your system appears to be getting spurious input (at least Reborn thinks that), I'm not sure what would cause that.  I don't see anything unusual in your system specs.  Does the Source 1 version of Dota 2 work?  You're using the Steam runtime?

[2015-07-03 17:10] danginsburg commented on #205
Does this happen independent of the resolution you run at?  Independent of video settings (i.e. "Fastest")? With NVIDIA 352.21?

[2015-07-03 17:11] gdrewb-valve commented on #120
You have fonts so fontconfig should pick one of them, I'm not sure why it wouldn't.

[2015-07-03 17:14] budimanjojo commented on #200
Here's the log:
CSosOperatorSystem::StarSoundEvent Unable to find soundevent focus_change_fail
CSosOperatorSystem::StarSoundEvent Unable to find soundevent focus_change_fail
CSosOperatorSystem::StarSoundEvent Unable to find soundevent focus_change_fail
Source 1 version runs good, using steam runtime.
Btw I can't copy paste from the console to browser (here), another bug?

[2015-07-03 17:17] gdrewb-valve commented on #200
That's most likely a side effect of the input issue in that phantom input is probably trying to do UI operations that are failing and causing error sounds.

In the full console log are there any messages that look like errors or failures?  Anything that might relate to the input situation?

[2015-07-03 17:21] phoerious commented on #205
I can't downgrade the graphics driver. But I just tried again with 1920x1080. This is ugly because there is no fullscreen option and now I have a rectangle in the middle of the screen. But it overall doubles the framerate (60 instead of 30fps) and I can't reproduce the issue. So I guess it has something to do with insufficient video memory or so. It should not happen at all, though.

[2015-07-03 17:26] budimanjojo commented on #200
That message is spamming the console all the time, no other message beside it.
Another thing I just found, the chat wheel problem only happens on fullscreen, borderless window fixed the chat wheel problem, but the heroes tab is spinning on whatever condition unless I press the Settings button and exit the Settings menu.

[2015-07-03 17:27] danginsburg commented on #205
Does setting Texture Quality "Medium" or "Low" at high res help?  It sounds like what's happening is that textures are being evicted when the full game + the UI is loaded.

[2015-07-03 17:32] ghost commented on #146
Nothing seems to have changed for Reborn:

Reading symbols from /home/bednar/.steam/steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/dota2...(no debugging symbols found)...done.
Make breakpoint pending on future shared library load? (y or [n]) [answered N; input not from terminal]
LD_PRELOAD = :/home/bednar/.steam/ubuntu12_32/gameoverlayrenderer.so:/home/bednar/.steam/ubuntu12_64/gameove

[2015-07-03 17:37] gdrewb-valve commented on #200
There is no fullscreen option on Linux, how are you selecting it?

[2015-07-03 17:37] budimanjojo commented on #200
Use desktop resolution, it is basically fullscreen in my system with that option

[2015-07-03 17:38] gdrewb-valve commented on #146
If you've edited your launch options that will affect the main client also, just change them back to empty.

It looks like there's another SDL patch coming which will take another stab at fixing the problem.

[2015-07-03 17:41] gdrewb-valve commented on #200
So really it's desktop-sized vs. non-desktop-sized?  The size of the window shouldn't matter but it's good to know the differing cases.

[2015-07-03 17:41] budimanjojo commented on #200
Desktop sized, monitor is 1920x1080, resolution is 1920x1080 if that's what you mean

[2015-07-03 17:43] phoerious commented on #205
I'm messing around with the video settings right now. I'm back at full resolution and with everything turned off and textures to minimum, I get something between 100+ and 80fps.

Now I turn certain effects back on. At 4 effects I notice a slight lag when opening settings, but everything's still fine when going back into the game. But with the 5th option, I always run into the issue above. The only

[2015-07-03 17:50] gdrewb-valve commented on #4
Does disabling the Steam overlay improve FPS for anybody?

[2015-07-03 17:50] gdrewb-valve commented on #9
Does disabling the Steam overlay improve FPS for anybody?

[2015-07-03 17:58] gdrewb-valve commented on #33
Are you using windows the same size as the monitor?  We've removed the fullscreen option and a monitor-sized borderless window should behave like fullscreen used to.

Does this happen even on windows smaller than the monitor?

[2015-07-03 17:59] gdrewb-valve commented on #49
Closing pending more information.

[2015-07-03 17:59] #49 closed, assigned to gdrewb-valve

[2015-07-03 18:01] phoerious commented on #205
Oh, interesting side node I just discovered: while in settings, no matter how many options I have turned on, when I disable and then re-enable vsync and then go back into the game, it seems to restore the framerate from 5 to 60fps.
So the act of opening the settings drops the framerate, but toggling vsync off and back on resyncs it. The game then keeps this framerate until I reopen the settings. I

[2015-07-03 18:02] gdrewb-valve commented on #127
The 7/2 update has another change for this, is this still happening?

[2015-07-03 18:07] TheJaymowShow commented on #9
Mine is disabled. No help there,

[2015-07-03 18:30] nixi-awoo commented on #33
The mouse cursor gets captured ingame now and not in menus. This is the cursor behaviour I was expecting. It works in both "full-screen" resolution and a small window.

Although, the window minimizes upon losing focus if it is set to screen resolution, but not if it is smaller.
Is this intentional?

[2015-07-03 18:33] gdrewb-valve commented on #33
The minimize behavior is expected, see #182.  You can apparently set SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0 to turn it off.

I'll close this shortly unless somebody else is still seeing problems.

[2015-07-03 18:37] ssnl commented on #127
Just tried. Not fixed. The behavior is different thought. I started at 2880x1800 fullscreen, clicked restore default, ended up borderless window showing:
<img width="1440" alt="screenshot 2015-07-03 11 36 21" src="https://cloud.githubusercontent.com/assets/5674597/8503683/da998860-2177-11e5-8ce5-58dd8257848f.png">

[2015-07-03 18:38] gyaru commented on #33
I'd say it works for me at least now, created a quick private game and tried to pan around and my mouse didn't escape from the in-game window.

Resolution set on "Use my monitor's current resolution" and the Dota 2 window set to Fullscreen in my WM (bspwm).

I'll personally close this because I opened the issue and it seems to be fixed for me, feel free to open it again if it wasn't fixed.

[2015-07-03 18:40] #33 closed, assigned to gdrewb-valve

[2015-07-03 19:05] gdrewb-valve commented on #204
As you know NVIDIA no longer supports your GPU so we're not sure we're going to get anywhere on the driver issue.  We'll leave this open and see if other people are seeing the same thing and maybe we can see some underlying commonality.

[2015-07-03 19:06] gdrewb-valve commented on #199
Is this with the input problems you're having?  That would generate continuous extra work.

[2015-07-03 20:12] budimanjojo commented on #199
I don't know. The input problem is caused by my mouse or keyboard? Maybe I can try using other input to try it out?

[2015-07-03 20:21] gdrewb-valve commented on #199
It's hard to say what the input problem is, although if your mouse and keyboard are working in other applications it seems more like a Reborn problem.

Does Source 1 Dota 2 work?

[2015-07-03 20:23] budimanjojo commented on #199
No one here with the same issue? The forum has someone with the same problem as me
http://dev.dota2.com/showthread.php?t=173221
Source 1 works

[2015-07-03 21:00] computerquip commented on #18
I dont know of any modern x86 processor that doesn't support amd64 that could run DotA. Why the urgent push for something like this?

[2015-07-03 21:06] vhda commented on #69
Working perfectly! :)

[2015-07-03 21:12] karabijavad commented on #1664
@gankbanger i just tested with reborn too. looks like youre right. doesnt seem to be an issue now. thanks

[2015-07-03 21:19] chrylis commented on #201
@gdrewb-valve I've already had the overlay disabled.

@danginsburg Looks like I have a different `lscpu`, because your awk expression didn't get anything useful for me. Just watching without it, I have a hardware min/max of 800/3300 (presumably including Turbo). During launch, lobby UI, loading, and the 20fps bot match, I'm reliably using about 50% load on one core at 2.1-3.0GHz, which is less tha

[2015-07-03 21:44] Najadorel opened #206 "[Mac] Vsync kills frame rate"
When Sync is active frame rate drops bellow 20 fps and when is disable I get 100 FPS, this is a a new issue than wasn't happening before.

I'm playing on a:
  Model Name:   MacBook Pro 11,3
  Processor Name:   Intel Core i7
  Processor Speed:  2.5 GHz
  Video Card: NVIDIA GeForce GT 750M 2GB
  Memory:   16 GB

[2015-07-03 22:14] crlsgms commented on #1598
Another friend that I encoured migrating to linux is having the same issue. The game randomly closes while playing, some info dropped on the terminal:

[code]

His hardware info:
[code]

[2015-07-03 22:33] cesargog commented on #9
no difference without steam overlay.

[2015-07-03 23:13] jeanlain commented on #176
No it doesn't.

[2015-07-03 23:58] sylware commented on #120
The weird thing: If I drop arial.ttf in my font directory, the console will get a font and heroes will have names (above the health bar in a game).
I tried to removed the fontconfig cache (reborn one), tried to make it work with only dejavu (removed Noto), nothing. Like it really really wants arial.ttf ignoring the fontconfig configuration files.

[2015-07-04 03:10] watbe commented on #145
I have the libudev error: `failed to dlopen librendersystemgl.so error=libudev.so.0: cannot open shared object file: No such file or directory`

However, Reborn was working fine for me up until the June 26 update. The issue you linked was prior to that update.

[2015-07-04 03:57] chaserhkj commented on #65
Nope, text renderings still remain the same

[2015-07-04 04:46] ku4nc4 commented on #4
No improvement anrer disabling the steam overlay, and the 2nd July update make the mainmenu not accessible instantly without pressing any button

[2015-07-04 05:15] dhiru1602 commented on #205
Do you use dual displays? I am seeing the same issue with KDE on Dota 2 and reborn too. I suspect the issue has to do with kwin compositor. Toggling the vsync on or off fixes the issue temporarily without requiring a client restart.

[2015-07-04 06:22] gdrewb-valve commented on #145
The libudev dependency hasn't changed so I'm not sure why things ever worked for you.

[2015-07-04 06:31] jeanlain opened #207 "[Mac] objects don't block light halos"
See screenshot, the light halo from the candles at the left of the camp shines through the tree. It's not due to sparse foliage. Stones wouldn't block light halos either. This affects all sources of lights, including the fountain, fireballs, etc.
This issue used to affect some source 1 games on the Mac and was resolved. See http://store.steampowered.com/news/4211/
Maybe it's known in dota 2 and le

[2015-07-04 06:57] watbe commented on #145
It was definitely working, so I think we can assume that the error isn't causing the new crash, or maybe the error is a side-effect of the X Error?

[2015-07-04 07:41] dhiru1602 commented on #204
Thanks for your prompt response. I am suspecting this issue maybe because of the kwin compositor in KDE. I have disabled desktop effects and the game seems to run fine so far. It appears that the compositors vsync handling is not playing well with the game. This is probably related to https://github.com/ValveSoftware/Dota-2-Reborn/issues/205

I will test it more over the next few days and report b

[2015-07-04 07:46] dhiru1602 opened #208 "[Linux] Illusions can't be differentiated from the real hero"
**My PC Specs**
Intel Core I7 920 3.5Ghz
16GB RAM
Nvidia 9600GT 1GB
Arch Linux with 4.0.7 kernel
Nvidia Proprietary 340xx (340.76-10) GPU driver

Illusions appear exactly like the hero when **Additive Light Pass is disabled**. This makes it really hard to identify the real hero and differentiate between Juxtapose and Manta Style illusions for Phantom Lancer. Tested Phantom Lancer, Chaos Knight, Na

[2015-07-04 08:41] budimanjojo commented on #200
Now I think I know what's causing the problem, it's my mouse.
When I tried disconnecting the mouse from the system, the error log in the console stopped.
Then I try reconnecting it again, the console shown something like "joystick connected" and then the error log spams again.
So maybe the issue is because Dota 2 Reborn recognize my mouse as a joystick.
Then I remembered that I have a "-nojoy" lau

[2015-07-04 09:22] budimanjojo commented on #198
I've got another finding now. This issue "only happens" if I open up Dota 2 Reborn on the right monitor. When I change the window to lower resolution borderless the issue is gone. Then I tried starting Dota 2 Reborn on my secondary monitor (which is left monitor) using full resolution, the problem is gone.
So it only happens on right monitor (primary) on full monitor resolution.

[2015-07-04 09:43] davmac314 commented on #18
computerquip:

Urgent push? There are precisely two people here that have asked for a 32-bit version of Dota 2 Reborn (I'm not one of them). There are at least as many who've said they don't see the need, and there's a statement from a Valve employee that Dota 2 will be 64-bit going forwards.

The problem is not that Dota 2 Reborn isn't supported on 32-bit systems. The problem is that you have the

[2015-07-04 09:45] yaakov-h commented on #18
How were you duped? According to #139, there's no in-game option, and the official instructions instructed gamers to go in-game to install it, not through the game properties in Steam.

[2015-07-04 11:03] budimanjojo commented on #200
I don't know if this will get fixed because it's all because of my mouse detected as joystick and I already made an udev rule to tell the kernel it is not a joystick and tried re adding the -nojoy launch option without having this similar issue anymore. You can close this issue if you think this is not Dota 2 problem, gdrewb

[2015-07-04 11:27] phoerious commented on #205
Yes, as you might see from the system information provided above, I use two displays with 2560x1440px each. Dota2 is running on the primary display.

[2015-07-04 11:30] davmac314 commented on #18
There was no in-game option previously, but there is now (it came in with some recent update; I couldn't tell you exactly when, because I've been away from the land of Dota for several days). When I use it, it downloads the DLC and says that I must restart Dota 2 and choose the "Play Dota 2 reborn" option. No such option is presented. As far as I can tell, the content that was downloaded contains

[2015-07-04 11:53] AngryPenguinPL opened #209 "[Linux] Graphics corruption after minimalizing game"
Hi.
I play with bots and when I minimalize game and come back to play I see this graphics corruption (not always but sometimes):

http://steamcommunity.com/sharedfiles/filedetails/?id=474268015

http://steamcommunity.com/sharedfiles/filedetails/?id=474267654

http://steamcommunity.com/sharedfiles/filedetails/?id=474267324

My Steam system info:
https://gist.github.com/xpris/a225f4cb2bf376d945fd

Q

[2015-07-04 12:02] yaakov-h commented on #182
This is likely caused by #22, which changed the behaviour (on OS X at least) to match what you're describing.

[2015-07-04 13:42] phoerious commented on #204
Maybe Dota2 should set _NET_WM_BYPASS_COMPOSITOR=1 to tell the window manager to suspend compositing? Then we don't have to define custom window rules for it.

[2015-07-04 13:42] budimanjojo commented on #208
As far as I know the illusions are differentiated by the health bar, so what do you mean by "differentiated"?

[2015-07-04 13:44] budimanjojo commented on #209
Happened to me when I alt tab while on the picking hero scene or when the game is loading. The screen is black and I need to redoing alt tab to get the screen rendered

[2015-07-04 14:36] CommanderAlchemy commented on #114
@danginsburg should i create a new bug for my issue?

[2015-07-04 15:58] dhiru1602 commented on #208
**PHANTOM LANCER - Additive Light Pass enabled**
![snapshot15](https://cloud.githubusercontent.com/assets/1326273/8508592/8bc61346-2287-11e5-8565-f37df664c247.png)

**PHANTOM LANCER - Additive Light Pass disabled**
Notice how there is no difference between the Manta Style illusions and Juxtapose Illusions. They all look the same.
![snapshot14](https://cloud.githubusercontent.com/assets/1326273/850

[2015-07-04 16:08] kyle-annen commented on #175
working perfect now, thanks

[2015-07-04 16:30] rodlorric commented on #208
This is happening on the Windows client too.
Just tested it with both DX9 and DX11 options and Additive Light Pass disabled.

Windows DX9 - 32 bits
![Windows DX9 - 32 bits](http://i.imgur.com/W3MxJr8.jpg)

Windows DX11 - 64 bits
![Windows DX11 - 64 bits](http://i.imgur.com/5DMyWG7.jpg)

[2015-07-04 16:40] gdrewb-valve commented on #204
http://forums.libsdl.org/viewtopic.php?t=9171&sid=3374c819e18df779e17b4ce5a49fdd15 suggests that SDL may be using this hint already but I'll check with the SDL devs.  I don't believe dota2 would do this directly.

[2015-07-04 16:54] gdrewb-valve commented on #200
It's not possible to say if it's a Reborn problem or not since we don't know exactly what's causing the spurious input.  It could be your mouse, it could be the system's handling of your mouse or it could be Reborn's handling.  At some point we'd have to track down such a mouse and try and isolate the issue.  That's not likely to happen any time soon but I'll leave this issue open.

[2015-07-04 17:04] gdrewb-valve commented on #208
As this isn't a Mac/Linux issue we'll pass this on to the larger team and it won't be tracked here.

[2015-07-04 17:14] gdrewb-valve commented on #145
librendersystemgl.so is the OpenGL renderer so if it doesn't load it's not possible for the game to function.  If you're seeing that error and things are working we must be displaying the message incorrectly or at least misleadingly.  Can you post your console log with the error?

[2015-07-04 17:16] rained23 commented on #4
@gdrewb-valve no improvement by disabling it

[2015-07-04 17:19] budimanjojo commented on #200
Have you guys try connecting to a real joystick and see if that issue happen? Or it only happen on my mouse? I don't have other mouse to try, sorry

[2015-07-04 17:25] gdrewb-valve commented on #200
I don't know that anybody has specifically tried to repro your problem but I assume the larger team has done some joystick testing.  At some point we will track down a joystick and give it a shot.

[2015-07-04 17:34] michaelkclements commented on #4
@gdrewb-valve No improvement to me either it seems. Here's a couple of images that show the FPS (in the top right) with the settings applied.
http://i.imgur.com/2XJ13fP.jpg
http://i.imgur.com/urSteHl.jpg <- the settings I use to play

[2015-07-04 17:35] nixi-awoo opened #210 "Chen walk animation is broken / too fast"
I faced this problem in my last game whilst playing Chen. Other heroes were fine, but I am not sure whether only Chen is affected. Two of my friends saw the bug as well (on Windows).

My hero (as in entity) was walking at the right speed, but the hero model was too fast. It looked as if he was walking at max walking speed. The model was faster than the health bar and green circle around the hero e

[2015-07-04 17:38] gdrewb-valve commented on #210
As this isn't a Mac/Linux issue I'll pass it on to the larger team and it won't be tracked here.

[2015-07-04 17:44] vhda commented on #1421
First game ready notification works.
Second game and forward, no more notifications appear.

Running in Debian Sid.

[2015-07-04 18:03] dhiru1602 commented on #204
Looks like the patch for kwin never got merged. https://git.reviewboard.kde.org/r/110088/

[2015-07-04 18:06] phoerious commented on #204
According to Martin's blog post here: http://blog.martin-graesslin.com/blog/2011/04/turning-compositing-off-in-the-right-way/ KWin has such a property. I just don't know if it is exactly this one. But he wrote that he hoped to get his property into the NETWM specification.

[2015-07-04 18:13] gdrewb-valve commented on #198
Thanks for the extra info, we'll try and repro.

[2015-07-04 18:14] gdrewb-valve commented on #114
Yes, go ahead and open one specifically for the multimon window moving.

[2015-07-04 18:21] gdrewb-valve commented on #204
I just heard back from the SDL devs that SDL is setting this should it should be there.  @dhiru1602, are you saying the _NET_WM_BYPASS_COMPOSITOR won't work on KWin?

@Manko10, I see _NET_WM_BYPASS_COMPOSITOR in the freedesktop docs.

[2015-07-04 18:24] gdrewb-valve commented on #167
Closing for now.

[2015-07-04 18:24] #167 closed, assigned to gdrewb-valve

[2015-07-04 18:25] gdrewb-valve commented on #180
Closing for now.

[2015-07-04 18:25] #180 closed, assigned to gdrewb-valve

[2015-07-04 18:25] gdrewb-valve commented on #196
Closing pending more information.

[2015-07-04 18:25] #196 closed, assigned to gdrewb-valve

[2015-07-04 18:27] phoerious commented on #204
Maybe ask Martin Gräßlin about it. He'll be able to answer why it doesn't work and which property KWin uses.

[2015-07-04 18:53] dhiru1602 commented on #204
@gdrewb-valve The kwin patch for the bypass flag that was submitted to kde was not merged according to https://git.reviewboard.kde.org/r/110088/ . So I think kwin doesn't support the _NET_WM_BYPASS_COMPOSITOR flag which is required to bypass window compositing.

@Manko10  The blog post is quite old and I am not sure how much of the info that Martin provided would hold true today. According to WM s

[2015-07-04 19:08] gdrewb-valve commented on #204
Thanks for the detailed investigation.  Sounds like this should be closed?

[2015-07-04 19:09] gdrewb-valve commented on #205
Important information about the KWin compositor not interacting well with Reborn at #204, this may not be a Reborn issue.

[2015-07-04 19:29] rained23 commented on #4
I have all settings lowered, still 10-12 fps ... this is really bad.

[2015-07-04 20:00] sylware commented on #120
Seems I nailed it: I dropped liberation fonts in my font dir and console/heroes' names are ok.

The reborn fontconfig fallback from arial font is specific to liberation font and does not work with dejavu font.

[2015-07-04 20:24] gdrewb-valve commented on #120
Reborn itself isn't doing anything with fontconfig for fallbacks, we simply ask fontconfig for all matches and it's supposed to handle things.  I'm not sure why it would work with Liberation but not Deja Vu, but maybe some font property we're setting is affecting things oddly.  We'll mark this one down for more extensive repro efforts in the future.

[2015-07-04 21:51] rained23 commented on #141
Hi, this still happen to me.

You can reproduce it by hosting a lobby for custom game, it will ask for a permission randomly.

[2015-07-04 22:06] gdrewb-valve commented on #141
When hosting a lobby your computer is going to do network operations so it seems normal for the permission dialog to come up then.  Can you explain further why you don't think it should?

[2015-07-04 22:10] gdrewb-valve commented on #141
Is it the random nature of the dialog that you're asking about?  Reborn can definitely try to listen for people connecting in to your lobby so that's normal, but why the OS shows the permission dialog randomly is unknown.  Go ahead and open a separate issue for that if I'm understanding you correctly.

[2015-07-04 22:22] rained23 commented on #141
Yes it is, I have mysql server running and it only ask once for permission to allow it in my firewall,
I think it should only ask once for entire session of Reborn running. Right now its really frustrating, when its pop up randomly while I am for sure giving it permission. I will create an issue for this.

[2015-07-04 22:26] rained23 opened #211 "[OS X] Hosting a custom game will ask for permission randomly"
Hi,

As discussed at #141 , OS X will randomly ask for permission to use network when I am hosting
a game which I think should only occur once for the entire session of the game and only revoke the
allow access to the network once Reborn closed.

With this thing pop up randomly its irritating, sometimes I need to go out of Reborn client just to click on
allow button.

[2015-07-04 22:36] rained23 opened #212 "[OS X] Mouse didn't stay inside client"
I have 1 external monitor that positioned as top and my built-in display as bottom.

Moving the mouse down will exit the mouse pointer from client and go to built-in display.

I think the mouse should stay and locked inside the client.

Maybe you can reproduce it by position an external display as top and built-in display as bottom.

My display arrangement
![image](https://cloud.githubusercontent.

[2015-07-04 22:44] gdrewb-valve commented on #38
Thanks, closing.

[2015-07-04 22:44] #38 closed, assigned to davidw-valve

[2015-07-04 22:52] gdrewb-valve commented on #212
If you look over #33 does that describe your situation?  Are you using fullscreen, windowed or borderless windows?  If you use fullscreen or a full borderless window (if you aren't already) does that work better?  Are you using the full monitor resolution for the monitor the game is on?

[2015-07-04 23:04] rained23 commented on #212
@gdrewb-valve Yes, I think is similar I am using full borderless window. I use "Use my monitor current resolution". I didnt use full screen cause it blacken my other display plus I cannot use mission control.

I think is similar with #33 maybe can merge this issue.

Update

I tried to use fullscreen, and this issue also happen in Fullscreen, its like the client also running on my built-in display

[2015-07-04 23:23] p-groarke commented on #61
Haven't had time to respond. Ty for the follow-up and information! Curiosity == satisfied :D Hopefully I get to test out the new client soon. Have a great day.

[2015-07-04 23:38] weirddan455 commented on #120
I can confirm this.  If I uninstall ttf-liberation, the console fonts and hitpoints go missing.

The reason is because you're trying to ship your own fontconfig configuration instead of letting the systemwide configuration handle it.

[code]

Fixes this so it will work with DejaVu fonts.

[2015-07-05 00:37] CommanderAlchemy opened #213 "[Linux] Cannot select correct resolution after update"
After some recent update recently I cannot longer select my resolution from the list. Tried also "use my monitor's current resolution" but it fails with the same resolution as in the picture below.

**_Forcing resolution**_ with launchoptions work however:
`-windowed -w 1920 -h 1080`

![screenshot1](https://cloud.githubusercontent.com/assets/3089330/8509842/50d3e736-22be-11e5-834c-59266e0349a2.png

[2015-07-05 00:39] CommanderAlchemy commented on #13
@Kirov123 what KDE version do you have? I tried for me but it seems that it just ignores it if I dont runt the game in Window mode. Could you post your kwin rule?
**Edit** nwm seems that i got it to work.

[2015-07-05 01:05] phoerious commented on #205
As I said above, I have disabled compositing, so KWin shouldn't interfere with its own OpenGL context.

[2015-07-05 01:25] CommanderAlchemy commented on #30
Same here, Dota 2 was able to catch the alt key but now it seems that the Window manager gets it instead so I cannot broadcast alerts etc ingame.

[2015-07-05 02:25] CommanderAlchemy opened #214 "[Linux] Broken ingame Hud on resolution change."
I found that for me its related to how Dota 2 handles resolution changes.
Bug #13 Forces me to use Kwin rule to move the application to correct position.

If the game is in borderless window (im guessing it goes into fullscreen mode), changing resolution then breaks the ingame HUD as seen below.

![b16fb718-1d56-11e5-8477-b04d124af3ef](https://cloud.githubusercontent.com/assets/3089330/8510044/a82

[2015-07-05 04:18] CommanderAlchemy commented on #152
I also experienced the hanging when switching from borderless window to window mode. I also changed resolution at the same time because of #213 that defaulted to 1024x768 And the game just hanged.

[2015-07-05 05:17] hyperactiveChipmunk commented on #145
Petoju has it correct: any return value besides Success (e.g. BadMatch) from SetInputFocus is treated as fatal by the client, when by no means is that the case.  I fixed mine the same way (just made the function return Success when it would have returned BadMatch).

[2015-07-05 07:15] gdrewb-valve commented on #213
There's a fix coming for this.

[2015-07-05 07:21] budimanjojo commented on #212
Do you enable edge pan? If you enable it, play a bot game. After the game start the cursor should stay inside the window, the cursor don't stay inside the client is done by design which is what I like better than grabbing mouse when not in game

[2015-07-05 07:22] gdrewb-valve commented on #120
The people who set that up supposedly set it up to be non-exclusive but I guess that's not working.  I'll pass this on to them.

[2015-07-05 08:05] jeanlain commented on #4
Disabling the steam overlay has no effect.

[2015-07-05 08:58] jomihaka opened #215 "[Linux] Quickly scrolling the mousewheel sometimes causes mouse4/mouse5 events"
##### Operating System Version
- Linux (64 bit)
- Kernel Name:  Linux
- Kernel Version:  4.0.7-2-ARCH
- X Server Vendor:  The X.Org Foundation
- X Server Release:  11702000
- X Window Manager:  Xfwm4
- Steam Runtime Version:  steam-runtime-release_2015-01-06
###### Following system libraries used instead of steam-runtimes
- libgcc_s.so.1
- libstdc++.so.6
- libxcb.so.1
- libfreetype.so.6
##### Repr

[2015-07-05 09:05] rained23 commented on #212
I have edge pan enabled.

How can you sure its by design ?

The mouse should stay in the client if you intend it to be there and does not bound to it if you focusing on
another  display, now the game is not playable when I move my mouse to bottom as it will go passthrough the client and enter my builtin screen and I might accidentally clicked on something on my bottom display.

I think the best wa

[2015-07-05 09:13] jeanlain commented on #4
To do a more rigorous test, I compared source 1 and source 2 on an empty lobby (otherwise other heroes would make the comparison difficult).
I used 2 settings : everything on except ambient occlusion and Vsync (which are my usual settings), and everything off except screen render quality left to max. Resolution is 1680*1050 fullscreen for both. I show the results in this order:
High settings sourc

[2015-07-05 09:15] budimanjojo commented on #212
Have you tried playing a bot game?
Here's what happen in my case:
1. Mouse can go outside the client when you are not in a game.
2. When the game starts, the mouse is grabbed in the Dota 2 Reborn.
3. When spectating a game with other views except "Free Camera", the mouse can go wherever you want it to be.
4. When spectating a game with "Free Camera" view, mouse will be grabbed again because you co

[2015-07-05 09:19] rained23 commented on #212
Not happen on me for no 2. Try reproduce my issue.

Play any game, custom or anything, move mouse faster to the bottom.

Result : the mouse will exit Reborn client and go to your desktop and careful dragging your file into the trash hehe.

The currently working left and right only, bottom should be locked too.

Btw you need to have same arrangement display as me, and run Reborn on Top.

[2015-07-05 09:24] budimanjojo commented on #212
What is your monitor resolution? I think you are using borderless window with the monitor resolution? Try changing it to a smaller resolution or "Use monitor resolution" instead. Btw I'm a Linux user but I think it should be the same.

[2015-07-05 09:27] rained23 commented on #212
Oh maybe its only happen to OS X. If your mouse still bounded when playing a game  moving mouse to the bottom, this mean only happen to OS X. I use my monitor resolution, dont think changing to a smaller resolution is a good fix for me plus my mouse dpi is high and sensitive .

[2015-07-05 09:34] budimanjojo commented on #212
No, it also happens to me if I use borderless window on full resolution, because dota 2 will launch below the top panel. So the bottom will be below your monitor. Can you post a screenshot at how your Dota 2 window displayed? You have to try using fullscreen if you want full resolution and use borderless window only if you want smaller resolution

[2015-07-05 09:57] rained23 commented on #212
I use borderless window on full resolution. Using fullscreen will disable all my display, my external screen will be Reborn client, and other display will be black. I cannot use mission control or anything.

[2015-07-05 10:41] budimanjojo commented on #212
I don't understand what do you mean by disable all your display. Then I think you can try using launch option to "shorten" your dota height. What is your desktop resolution? For example if you are using 1920x1080 display, try putting this into your dota launch option:
-windowed -noborder -h 1060 -w 1920
Now I think bottom edge panning should be working.

[2015-07-05 11:39] shaddow2k opened #216 "[Linux] Enhancement: Either implement a check to not make me "Custom Lobby Host" or forbid it when I set "Network Quality" to "Low""
Right now there is no control over becoming lobby leader in a custom game. While I have a powerful PC, my internet connection is quite limited. Either implement a checkbox to disable becoming lobby host or make it bound to the network quality setting low. Thoughts?

[2015-07-05 16:43] gdrewb-valve commented on #216
Sounds reasonable to me.  This isn't a Mac/Linux issue but I'll pass it on to the larger team.

[2015-07-06 06:09] jeanlain commented on #134
After all, this is probably the same behavior as it standard Dota 2.

[2015-07-06 06:09] #134 closed, assigned to nobody

[2015-07-06 06:14] jeanlain commented on #181
Sure, every source game has a menu with its name, but it is not visible immediately at launch, due to another issue where the game isn't entirely brought to front when launched from steam. I could report that issue too. It happens in all source games. But switching to another app and back will activate the game's menu bar.

[2015-07-06 10:57] mmdeas opened #217 "[OSX] Reborn dies (semi-)silently on launch"
When launching reborn, I get the "Preparing to launch Dota 2..." dialog box, my status changes to in-game and just over a second later changes back to online with no message.
Launching Steam from Terminal gives the following messages when attempting to launch Reborn:

[code]

Running OS X 10.8.5 on MacBookPro7,1.

EDIT: More info from Steam's System Information:

[code]

[2015-07-06 11:36] Pharmasolin commented on #214
Also if change map location (via settings) while in game, will be crash in HUD too.

[2015-07-06 16:50] gdrewb-valve commented on #217
You don't get an OSX failure dialog?  Does the system information have any failure reports?  Has Reborn ever worked on the system?  Does Source 1 Dota 2 work?

[2015-07-06 16:51] gdrewb-valve commented on #210
The larger team says they understand the problem and a fix will be coming but it won't be tracked here.

[2015-07-06 16:51] #210 closed, assigned to gdrewb-valve

[2015-07-06 17:33] davidw-valve commented on #126
@sylware: Is this still occurring for you? What do you have snd_mixahead set to?

For anyone else who was experiencing this can you please try setting snd_mixahead to 0 and tell me if the issue is still resolved? The aim of the audio design is to be able to set snd_mixahead super low and enjoy very low latency audio.

[2015-07-06 17:40] EPadronU commented on #126
Hi, @davidw-valve. I just set `snd_mixahead` to 0 as you requested and everything is OK. Cheers.

[2015-07-06 17:45] gdrewb-valve commented on #181
I've checked into this and currently the lack of a fullscreen button is expected as Reborn does not use resizable windows.  This will stay open as an enhancement request for that.

I've logged the menu bar not appearing as SDL bug 3051 and it will be tracked over there.

[2015-07-06 17:48] gdrewb-valve commented on #152
The apparent hang in SDL is SDL bug 3052.

[2015-07-06 18:25] deksden commented on #24
Same graphics issue for me (Late 2009-top config iMac)

[2015-07-06 18:53] gdrewb-valve commented on #208
The larger team says a fix will be in an upcoming update.

[2015-07-06 18:53] #208 closed, assigned to danginsburg

[2015-07-06 19:16] lewisdiamond commented on #145
It used to work for me as well in prior patches. Something introduced the bug later on. I might try Petoju's patch (or just wait for an update and play the old client until then). I'll post the result if I end up patching xserver.

[2015-07-06 20:19] Najadorel commented on #217
I had a similar crash a while ago, did a "Verify Integrity of Gam Cache", downloaded a missing file and solve the issue, maybe its the same here

[2015-07-06 20:49] gdrewb-valve commented on #1806
There's a specific repo for Reborn, Dota-2-Reborn.  I believe this is the same as issue 24 there.

[2015-07-06 22:43] tpruzina commented on #145
Workaround above seems to be working, try compiling Xserver from source and apply following patch:

[code]

[2015-07-06 22:54] computerquip commented on #145
That's definitely a work around... having input focus without a window being viewable is not a good thing. That said, it probably shouldn't be fatal.

The correct fix is probably to make sure the window is viewable before you attempt to call XSetInputFocus. If you fail to do that, there's not much to do anyways. In this case, Awesome would probably be more at fault than DotA 2.

[2015-07-06 23:43] DarkDefender commented on #126
@davidw-valve same as @EPadronU, the sound still seems to be fine with snd_mixahead set to 0

[2015-07-07 05:37] ssnl commented on #206
I also experienced this.

[2015-07-07 08:14] ChristophHaag commented on #150
https://bugs.freedesktop.org/show_bug.cgi?id=91193#c6
http://cgit.freedesktop.org/mesa/mesa/commit/?id=248b26429f52d0f19949a083aa3e0aeebcbe2138

[2015-07-07 08:36] DarkDefender commented on #150
Yupp, I think this can be closed now. :)

[2015-07-07 09:04] benoit-pierre commented on #145
It's fixed in SDL master: https://bugzilla.libsdl.org/show_bug.cgi?id=2997

[2015-07-07 09:13] nixi-awoo opened #218 "Unused hotkeys act as if they were set to their default binding"
Let us take item bindings for instance.
These are the hotkeys I use:

![hotkeys](http://i.imgur.com/tLQw16D.jpg)

Notice that I do not have B or N assigned to anything. Those unassigned keys work as if they were set to default and activate items set to C and V. Both keys C (set by me) and B activate any item in slot 5.

I use B for my Mumble PTT and I accidently activate items because of this. Oth

[2015-07-07 09:16] nixi-awoo opened #219 "The hotkey menu does not show binds to mouse keys"
Item slots 1 and 2 are binded to 'mouse 5' and 'mouse 6'. The menu does not show anything.

![hotkeys](http://i.imgur.com/v7lojB4.jpg)

[2015-07-07 09:18] nixi-awoo commented on #219
I am sorry. I just noticed that this is a duplicate of #195.
Closing...

[2015-07-07 09:18] #219 closed, assigned to nobody

[2015-07-07 09:46] phoerious commented on #150
Is this fix only for Radeon? Shadow flickering also occurs with NVIDIA cards.

[2015-07-07 10:59] sylware commented on #150
On Tue, Jul 07, 2015 at 02:46:50AM -0700, Janek Bevendorff wrote:

This is non-sense, this is totally specific to radeon SI hardware.

Expect if nvidia has the same hardware with the same driver bugs...

[2015-07-07 11:15] mmdeas commented on #217
I get no dialog, it just goes back to where it was as if I'd closed the game.
The Steam System Information has no failure reports - the only things I didn't copy were the Miscellaneous and Installed Software sections.
I have never had Reborn working on this system.
Source 1 Dota 2 launches without problem (EDIT2: I haven't tried playing any games, only launching). After installing Reborn, Source 1

[2015-07-07 11:50] phoerious commented on #150
That's what I thought. The issue is slightly different. Shadows always flicker, regardless of whether normal mapping is turned on or not. I see it in the trees and on the flowers on the ground. It's pretty annoying. It also depends on the angle at which you look at the object. Shadows of objects to the side of the screen tend to flicker more than those of objects viewed almost from the top, i.e. o

[2015-07-07 12:04] sylware commented on #150
Sorry nvidia is quite open source non-friendly, they can go die in hell.

This is another matter, you should open another issue and ask nvidia driver support.

[2015-07-07 12:21] DarkDefender commented on #150
@Manko10 this specific github issue is only related to radeonsi cards.
IIRC there were some similar problems with Nvidia cards when using older drivers on them. So updating to the lastest driver release may solve it. If not, you can open an other issue about that here.

[2015-07-07 12:25] phoerious commented on #150
I have the latest stable driver. I guess I'll open another issue then.

[2015-07-07 14:55] medv commented on #4
I get ~45-60fps in source1 and ~35-50 in source2.

[2015-07-07 16:00] sylware commented on #126
Good news: I'm unable to reproduce the sound issue, with snd_mixahead of 0.1 or 0.
I got only one alsa message underrun, but a benign standalone one since the sound stayed perfect.

(could you backport the fix in dota2 source 1/portal 2/portal2 MEL/CS GO/Team Fortress 2? Thanks a million).

[2015-07-07 18:45] realbyx opened #220 "Dota 2 Reborn Ubuntu 15.04 Not Working"
I use Version 15.04 Ubuntu. I have no problems wıth usage of Dota 2 but Dota 2 Reborn.
It crashes after I see its logo on screen. The game's logs are in the below

https://gist.github.com/90a1de2d9ea0d623bc04.git

<script src="https://gist.github.com/realbyx/90a1de2d9ea0d623bc04.js"></script>

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Steppi

[2015-07-07 19:55] realbyx commented on #220
Dmp files:

Running Steam on ubuntu 15.04 64-bit
STEAM_RUNTIME is enabled automatically
Installing breakpad exception handler for appid(steam)/version(1433441724)
Installing breakpad exception handler for appid(steam)/version(1433441724)
Gtk-Message: Failed to load module "overlay-scrollbar"
Gtk-Message: Failed to load module "unity-gtk-module"
Installing breakpad exception handler for appid(steam

[2015-07-07 20:14] realbyx commented on #10
I didnt understand what to do to fix the problem. Can any of you explain to me please?

[2015-07-07 20:51] urbinek commented on #10
in my case - passive wait for update ;)

[2015-07-08 05:14] gdrewb-valve commented on #220
This is a duplicate of #41, starting in the Turkish locale causes a problem.  If you switch LANG to en_US.UTF-8 the game should start.

[2015-07-08 05:14] #220 closed, assigned to nobody

[2015-07-08 08:34] budimanjojo opened #221 "Weird rainbow like thing when using voice chat to team"
![2015-07-08_00001](https://cloud.githubusercontent.com/assets/13085918/8566171/6b87882e-2586-11e5-86ce-27b8f11daf35.jpg)
I don't know how did I get it, only happen in one game but it stays there whenever I use voice chat in that game.

[2015-07-08 08:35] budimanjojo opened #222 "Weird Killed by box when being killed by fountain"
![2015-07-07_00001](https://cloud.githubusercontent.com/assets/13085918/8566216/db2a8046-2586-11e5-904b-1f6b94c0c989.jpg)

[2015-07-08 09:39] nixi-awoo commented on #222
This is an expected behaviour. The 'card' is set to show models of heroes. Since the fountain model is bigger it creates this effect.

I seriously doubt this is a Linux / MAC only issue and can be tweaked by the main team. I might be wrong though. You can test it on windows if you have that installed.

[2015-07-08 11:08] budimanjojo commented on #222
I don't know. I'll try to see how does it looks like in source 1 to make sure it isn't a bug

[2015-07-08 12:10] micaelbergeron commented on #10
I think this issue is now resolved, as the game doesn't crash anymore on SSSE3 illegal instructions. We should use other issues to track related bugs.

[2015-07-08 12:10] #10 closed, assigned to gdrewb-valve

[2015-07-08 16:40] gdrewb-valve commented on #221
We'll need to try and find a repro to get more information.

[2015-07-08 19:01] Tele42 commented on #221
@budimanjojo, what video driver are you using?

[2015-07-08 19:02] budimanjojo commented on #221
I'm using nvidia gtx970 with the latest driver on Manjaro Linux

[2015-07-08 19:17] #204 closed, assigned to gdrewb-valve

[2015-07-08 20:13] davidw-valve commented on #218
I am afraid I cannot immediately reproduce this. I set the bottom-middle item with C as its hotkey and did not assign B to anything else. Pressing C activates the item, B does nothing for me.

Are there any more specifics to this bug that you can think of that might enable me to reproduce it? Does it happen every time for you or just sometimes?

[2015-07-08 20:20] davidw-valve commented on #135
Do you still have this issue? Do you have it for all heroes?

[2015-07-08 20:28] davidw-valve commented on #217
The Dota2 Reborn beta only supports OSX 10.9 and above. Is there a reason you cannot upgrade your version of OSX?

[2015-07-08 20:52] SexyFlanders opened #223 "[Linux] ability draft: missing courier and other glitches"
While playing ability draft, the courier is not being loaded correctly (just showing "error"). There are also other textures not loading correctly.

My system:
https://gist.github.com/SexyFlanders/22d8bcb02d1ef981ec65

![bildschirmfoto1](https://cloud.githubusercontent.com/assets/4339297/8581824/6ded94ea-25c3-11e5-9f3d-aee9e0c205e6.png)
![bildschirmfoto3](https://cloud.githubusercontent.com/assets

[2015-07-08 21:08] gdrewb-valve commented on #223
I believe this occurs on Windows also.

[2015-07-08 21:50] ogyct commented on #13
Confirmed, ubuntu 14.04, 2 displays, gtx 660 card.

[2015-07-08 21:55] nixi-awoo commented on #218
Actually, I seem to have fixed it by simply rebinding everything from scratch. It used to happen all the time: In custom gamemodes, normal matches and in the hero showcase as well.

The issue might have been caused by an import of my configuration from the Source 1 version of Dota.

[2015-07-08 21:56] davidw-valve commented on #218
Okay. Since we don't have any clarity as to why this happened I am going to close out the bug. If you reproduce it in future please file a new bug report and we can try to get it fixed!

[2015-07-08 21:56] #218 closed, assigned to davidw-valve

[2015-07-08 21:57] nixi-awoo commented on #218
@davidw-valve

A small update:
A friend of mine just told me that he has the same problem on his Windows machine.
Perhaps this is not a Linux-only issue afterall.

[2015-07-08 22:59] theGeekPirate commented on #145
Latest update has resolved this issue, thanks all!

[2015-07-08 23:02] mmdeas commented on #217
Ah. I did wonder but I couldn't find any information on the requirements for the beta.
I have some concerns about upgrading but they're beyond the scope of this issue.
Thanks for the information; at least I know it's not supposed to work now.

[2015-07-08 23:02] #217 closed, assigned to gdrewb-valve

[2015-07-08 23:04] davidw-valve commented on #217
No problem. I was just wondering the reason for you not upgrading since it would be easier for us to simply support recent versions of OSX, but if we have a substantial number of players who are on earlier versions of OSX and have good reasons for not upgrading we would love to support them!

[2015-07-08 23:57] EPadronU commented on #53
Just FYI, I got around 10 more FPS after the 08/07 update. Cheers

[2015-07-09 00:14] watbe commented on #145
Can confirm; latest update (8th July) has fixed the issue for me, cheers!

[2015-07-09 00:48] gdrewb-valve commented on #41
As of the July 8 update the SSSE3 problems and the X errors should be fixed.  I believe that still leaves the original tr_TR / az_AZ problem.  @suhaaktas, can you confirm?  For anybody else that posted on this issue is there still a startup crash for you?

[2015-07-09 00:48] gdrewb-valve commented on #145
Is anybody else still seeing problems?

[2015-07-09 00:49] gdrewb-valve commented on #146
The July 8 update has a fix for the X error, is that helping people?

[2015-07-09 00:50] gdrewb-valve commented on #213
The July 8 update should address this, are you still seeing problems?

[2015-07-09 00:58] suhaaktas commented on #41
When i try to launch the game i get an error in an alertbox saying "Hero npc_dota_hero_antimage has no HeroID defined.  This will break stats tracking!" which you are thinking about it is related to original problem?

[2015-07-09 01:00] gdrewb-valve commented on #41
You get that with az_AZ, correct?  I believe that is the original issue and as you are still seeing it I'll leave this open.  The game still starts correctly with en_US, right?

[2015-07-09 01:12] watbe commented on #145
Looks like there's some regressions in other areas, will file issue separately.

[2015-07-09 01:48] suhaaktas commented on #41
i get that with tr_TR. if i launch steam with LANG=C or en_US, everything looks fine.

[2015-07-09 01:54] micaelbergeron commented on #145
The latest update fixed the problem for me too. Good job!

[2015-07-09 02:03] gdrewb-valve commented on #145
Thanks, closing.

[2015-07-09 02:03] #145 closed, assigned to gdrewb-valve

[2015-07-09 02:06] Tele42 commented on #217
Apple bumped OpenGL support from 3.2 to 4.1 in OSX 10.9, which I assume is why source 2 is avoiding OSX 10.8 and older. Is this information (or just minimum supported OSX version) conveyed to the player at all?

[2015-07-09 02:34] gdrewb-valve commented on #217
It's actually more about C++11 support, but we haven't set a minimum in stone yet.  We still have a ways to go on smoothing out problems in the code (in particular we have a huge range of perf on Macs) but once we've stabilized we'll have a better idea of where to make the cuts.

[2015-07-09 02:54] CommanderAlchemy commented on #213
@gdrewb-valve It did change what resolutions I get, however its still not correct.

![screenshot1](https://cloud.githubusercontent.com/assets/3089330/8587022/a21148ba-25f6-11e5-9b11-7fe22554fb37.png)

[2015-07-09 03:03] gdrewb-valve commented on #213
You want to use 1920x1080, correct?  What resolution is your desktop?  You won't see windowed resolutions larger than your desktop.  Also, if your window has a border it can't be the exact size of your desktop.

[2015-07-09 03:14] CommanderAlchemy commented on #213
@gdrewb-valve My desktop is 3 monitors (1080x1920, 1920x1080*, 1920x1080)      *Primary

But yes you are correct after switching from Window to Borderless 1920x1080 appears in the list, (game did hang when i switched but that's another issue). Resolution below 1920x1080 behaved like Borderless Window while 1920x1080 seems to snapped to the monitor and behaves as a Fullscreen Window. (As intended i

[2015-07-09 03:19] gdrewb-valve commented on #213
Correct, a monitor-sized borderless window functions as close to fullscreen as Reborn allows on Linux.

It sounds like things are all working as expected.  OK to close this?

[2015-07-09 03:26] CommanderAlchemy commented on #213
@gdrewb-valve For me this is OK I already force the correct resolution through launchoptions because of #214, but other users may get confused not seeing their native resolution when set to windowed mode. (Don't think other games actually does this).

[2015-07-09 03:27] gdrewb-valve commented on #213
At least the bugs preventing the resolutions from showing are fixed.

It's possible there will be confusion, we'll see how user feedback goes.

[2015-07-09 03:27] #213 closed, assigned to gdrewb-valve

[2015-07-09 05:55] chrylis opened #1808 "[Linux] Frequent loss of in-game commands"
I'm not sure how to specify the problem I've been seeing, but for about the past week I've been having a consistent problem with the client simply dropping issued commands, meaning that the client itself has acknowledged the command by a sound effect, visual target, or other indicator, but then my hero simply proceeds as if the command had never been issued.

It does not seem that it is more commo

[2015-07-09 06:24] SexyFlanders commented on #223
I don't know, i don't use windows :-)

[2015-07-09 07:51] msjyoo commented on #198
Also experiencing this issue, however in my case the chat wheel always points up which is "Push Now!".

I have tried removing Ubuntu's fake joystick, using `sudo rm /dev/input/js*`, however this did not help.

I can also confirm that the issue is gone if the resolution is changed to a lower resolution in borderless windowed mode.

System information:

[code]

[2015-07-09 11:14] budimanjojo commented on #198
Latest update doesn't fix the issue

[2015-07-09 12:12] micaelbergeron commented on #41
@gdrewb-valve I am running on a straight GTX 560 Ti with no optimus/primus. Please take note that this bug has been fixed for me.

[2015-07-09 12:47] xpris commented on #1783
Same here on Linux with KDE.

[2015-07-09 17:13] ghost commented on #146
No joy :(

Reading symbols from /home/bednar/.steam/steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/dota2...(no debugging symbols found)...done.
Make breakpoint pending on future shared library load? (y or [n]) [answered N; input not from terminal]
LD_PRELOAD = :/home/bednar/.steam/ubuntu12_32/gameoverlayrenderer.so:/home/bednar/.steam/ubuntu12_64/gameoverlayrenderer.so
[Thread debuggin

[2015-07-09 18:39] TheJaymowShow commented on #9
July 8 update didn't fix anything either.

[2015-07-09 19:13] gdrewb-valve commented on #146
Can you hit enter and get the full stack and post here?

[2015-07-09 19:34] davidw-valve commented on #126
@sylware: what issue exactly do you get in the source 1 games? Dota2 Reborn uses a fairly different audio system to Source 1 games so simply porting back this fix isn't easy. However, if you can file a bug report or point me to an existing one in the appropriate repositories for these games I would be happy to look into it.

[2015-07-09 19:34] #126 closed, assigned to davidw-valve

[2015-07-09 20:28] jeanlain opened #224 "Can use showcase view on enemy heroes"
I'm not sure if it's new to the 8/07 update and it's probably not Mac-specific.
If you activate the showcase view on a friendly unit, and then click on an enemy hero portait on the top list, the showcase view will shift to the enemy hero.
This cannot be done when the hero is not visible on the map, so it may not be an issue. However, since the showcase view cannot be activated on enemy heroes when

[2015-07-09 20:39] davidw-valve commented on #30
Are you running the game fullscreen or windowed? Which window manager are you using?

I am not reproducing this at all.

[2015-07-09 20:44] mfonville commented on #30
I am running with a borderless window in Unity.

Part of the problem may be, that I tend to have other windows in focus, before loading a match. Though in the old Dota2 this was not a problem.

Current trick, that since the latest versions work, is that when the match starts, I return to the menu, within the menu I alt-click and ctrl-alt-click the window, I change focus to the title bar of the win

[2015-07-09 20:53] ghost commented on #146
sure. here you go:

GNU gdb (Ubuntu 7.9-1ubuntu1) 7.9
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-linux-gnu"

[2015-07-09 21:24] mmdeas commented on #217
So basically, I heard that the upgrades seemed to use up more RAM and running low on memory is a problem I have had rather frequently already. This combined with the fact that I had to move my hard drive into my CD slot because it stopped working when attached to the original port meant that I didn't want to risk needing to downgrade while I actively needed my laptop to be working as I didn't know

[2015-07-09 21:25] gdrewb-valve commented on #146
Thanks, that looks like a new problem with SDL doing something bad with OpenGL vs. the previous Xinerama issue.  I've sent it over to the SDL devs to see if they know what's going on.

[2015-07-09 21:27] gdrewb-valve commented on #224
I'll pass this on to the larger team.

[2015-07-09 21:34] gdrewb-valve commented on #150
Can this issue be closed then?

[2015-07-09 21:43] ramma commented on #30
Running with "Use my monitors current resolution", and using default everything from Ubuntu 14.04(Compiz window manager).

As mentioned in the [Source 1 report](https://github.com/ValveSoftware/Dota-2/issues/1740) of this issue, the problem started after overlay updates in late April. That may just be coincidental though as disabling the overlay doesn't fix it for me.

[2015-07-10 06:56] DarkDefender commented on #150
Yes, it seems like it is solved for me now.

[2015-07-10 12:43] sylware commented on #126
On Thu, Jul 09, 2015 at 12:34:41PM -0700, davidw-valve wrote:

I get randomly, but nearly surely, an alsa pcm underrun then rainy audio in
dota2 source 1. I fix this with the "snd_restart 1" console command. Since I'm
going to switch slowly to reborn client, don't bother, and I don't really
recall getting this sound issue in portal 2/CS GO/TF2 (I get mainly annoying
graphical glitches).
If I get t

[2015-07-10 13:14] sylware commented on #150
For me too.

[2015-07-10 15:39] gdrewb-valve commented on #150
Thanks, closing.

[2015-07-10 15:39] #150 closed, assigned to danginsburg

[2015-07-10 15:44] gdrewb-valve commented on #164
Actually on looking at this again I see you're running on 10.7.  The beta requires 10.9 or above.

[2015-07-10 18:13] davidw-valve commented on #212
In Dota2 Source1 do you experience this problem?

[2015-07-10 18:29] phoerious commented on #205
I got a new motherboard, a new CPU and 8GB more RAM (now 1600 instead of 1333). I upgraded from first-gen Core i7-860 and H57 chipset to a fourth-gen Core-i7-4790K on a Z97 chipset.
Frames now only drop to 30fps instead of 5. Restoring to 60fps by toggling VSync off and back on still works most (or some) of the time.
The issue that Dota hangs on exit until I kill it with killall -9 dota2 still per

[2015-07-10 19:27] jeanlain commented on #4
I tried reborn on a 27" iMac with 3.5 GHz i7 and GTX 775M. I can only confirm what others have reported. Speculars and ambient occlusion absolutely nuke performance (20 fps a full resolution just showing the fountain and my hero). In these situations it seems the GPU is the limiting factor, as CPU usage is pretty low and performance heavily depends on resolution.
The main client performs very well

[2015-07-11 03:25] p4u45 opened #1809 "Units slow motion in single player"
Hi. So I've been playing Dota 2 for quite some time now. Usually I play with bots because of my intermittent internet connection. Dota 2 updated today and I was surprised when I tried to play single player and see EVERY UNITS walk/attack in SLOOOWWWWW MOTIONNN! I thought at first that it was just a simple problem and exiting the game would fix it, but it didn't. My hero, my allies, my enemies, ros

[2015-07-11 03:32] DeaconFell commented on #1809
You aren't the only one. We can both rest assured it doesn't seem to be something unique to our systems. What are you running Dota2 on? I'm on 2015 Macbook Air. Hadn't tried playing on it until today... rude surprise to find. I'm sure Valve will fix it.... eventually...

[2015-07-11 04:30] abaalkh commented on #1809
I also have the same problem.
In the console, it displays this error:

`Attack speed is <= 0 in GetAttackSpeed()! Check for uninitialized modifier values or extreme modifier combinations`

The game is unplayable.

[2015-07-11 04:53] abaalkh commented on #1809
I too have this problem.
`Attack speed is <= 0 in GetAttackSpeed()! Check for uninitialized modifier values or extreme modifier combinations`
Is the error you see in the console.

[2015-07-11 05:09] esperonr commented on #1809
Having same problem here. I wish I didn't update it. I even restart my computer, reinstall Dota again. Nothing fixed the issue. Please help

[2015-07-11 05:40] nikhilsh opened #1810 "Dota 2 Mac client crash on quit"
I'm on El Capitan Developer Preview Beta 3. Everytime I quit dota normally, the app closes, and I get a crash report.

https://gist.github.com/782fcf906508115c9c15.git

[2015-07-11 06:03] gdrewb-valve commented on #146
Have you had any issues in any other OpenGL programs?

[2015-07-11 06:34] ajinkyapisal commented on #1809
Same problem.
{code}
extreme modifier combinations.
Attack speed is <= 0 in GetAttackSpeed()! Check for uninitialized modifier values or extreme modifier combinations.
{code}

[2015-07-11 06:37] ajinkyapisal commented on #1807
@semaperepelitsa Hey! I was also facing same issue.

if you have retina display then you might want to lower the resolution to 1440 x 900.
It solved problem for me. I dont think retina is fully supported by Dota 2

Thanks

[2015-07-11 07:25] semaperepelitsa commented on #1807
Thanks, I will try that resolution. I had 1920x1200 previously. The higher resolutions do work but Macbook graphics can't handle them at a decent FPS.

[2015-07-11 07:31] jeanlain opened #225 "Demo hero button leads to "all pick""
Upon clicking the "demo hero" button, it is expected that the demo map loads with the currently viewed hero. Instead, the player gets to choose a hero in "all pick" mode.

[2015-07-11 07:32] jeanlain opened #226 "Enhancement: cancel button in loading screen"
It would be useful to be able to abort the loading of a game.

[2015-07-11 11:03] ghost commented on #146
Well, I don't think so. Stellarium works fine. The regular Dota 2 client also works fine. Not sure if Crusader Kings 2 is openGL, but it works just fine and so does CIV 5. Installing CSGO now to see how it runs.

Would you like me to install anything in particular to test?

[2015-07-11 11:39] deplorableword commented on #1809
Same problem in Multiplayer / Local Lobby. Game is broken :(

https://www.reddit.com/r/DotA2/comments/3cwfb0/help_mac_client_running_in_slow_motion/

[2015-07-11 12:05] ghost commented on #146
Update: CSGO runs fine.

[2015-07-11 12:37] michaelkclements opened #227 "[OS X] Freezing and other issues using El Capitan public beta."
While I realise it is a public beta for an operating system, I figured I should raise the issues I'm seeing just in case it goes unnoticed.

I'll write the different issues I've had below.
- First off, the steam overlay doesn't seem to work. I have it activated.
- Cmd + Tabbing out of Dota is fine but either cmd tabbing back or clicking the app icon does nothing. Have to 3 finger slide along on th

[2015-07-11 12:43] nifker opened #1811 "Crash after a game [GNU/Linux]"
When I finish a game and press close it crashes/I'm unable to do anything.
OS: Debian 8
Architecture: amd64
Harddrive: Toshiba 1TB HDD
CPU: Intel Core i5-3570K 4x3.40GHz
GPU: GIGABYTE NVidia GeForce GTX 970 4GB VRAM
Mainboard: GIGABYTE GA-Z77-DS3H
RAM: elixir 8GB DDR3

[2015-07-11 12:54] nifker commented on #1783
Same on Debian 8 with XFCE
![bildschirmfoto - 11 07 2015 - 14 48 16](https://cloud.githubusercontent.com/assets/5812753/8633799/c1e88aee-27dc-11e5-906f-4ba173fc5eac.png)

[2015-07-11 13:07] juvenpajares commented on #1809
same problem. mac user

[2015-07-11 14:20] flverhaegen commented on #1809
Same.  I've reinstalled twice and tried every console command I could think of to fix it, no joy.  Most boring DotA possible, unbearable to play

[2015-07-11 15:55] gdrewb-valve commented on #146
That's fine, thanks.

[2015-07-11 16:01] gdrewb-valve commented on #225
Probably not a Mac/Linux issue.

[2015-07-11 16:02] gdrewb-valve commented on #226
I'll pass this on to the larger team.

[2015-07-11 16:43] esperonr commented on #1809
Any news on this? This is frustrating.

[2015-07-11 17:09] DeaconFell commented on #1809
I wouldn't expect anything until next week. I doubt they have a ton of people out there looking to squash bugs on the Mac client on the weekend. :(
Has anyone heard if this is Mac only? Are there any Macs that aren't experiencing it?

[2015-07-11 18:20] deplorableword commented on #1809
It's super annoying that critical bugs like this are missed by QA and left to hang. If this issue appeared on Windows, a patch would have be issued ASAP, instead mac users are left with a broken game.

[2015-07-11 18:54] holmes2 commented on #1809
Mac user Mid 2014 2.8 GHz Intel Core i7 16GB RAM experiencing same problem after the July 10th 2015 update....Now the syllabear would require moonshard to attack normally.

[2015-07-11 19:24] jakub-chatrny commented on #1765
+1 I have same issue for long time. System specification: ATI R8 280x, Ubuntu 14.04 & Ubuntu 15.04, mesa drivers

[2015-07-11 19:33] jeanlain commented on #4
Something to have in mind when comparing performances with the regular dota, is that ambient occlusion doesn't seem to work at all on the source 1 client. Neither does antialiasing (on Mac).

[2015-07-11 20:34] OSnapz commented on #1809
Same here at MBP Mid 2014, my friend who is using ASUS don't have any kind of this issue. @DeaconFell I think only macs have this issue.

[2015-07-11 20:56] kartikthapar commented on #1809
Fixed in Source 2? Please fix this among a 100 billion other issues on the mac client.

[2015-07-11 23:40] michaelkclements commented on #4
I dunno if it's something new added to Reborn or the El Capitan public beta but I've been able to put on two more of the FPS dropping graphical settings without going under 60 now.

The settings I've added back on which used to reduce my FPS a lot are High Quality Water and Specular and Light Blooms.
http://i.imgur.com/pnShTQH.png - settings
http://i.imgur.com/WtTWWWs.jpg - fps in top right

The t

[2015-07-11 23:45] rained23 commented on #212
@davidw-valve No, my mouse bound to the client for Source 1 with the same arrangement. Its only happen in Source 2

[2015-07-12 00:46] rained23 commented on #212
I just tested the new update, it fix this issue. Thanks.

Update

After some games, the problems happen again, my mouse will unbound from the client and go straight to my second monitor at bottom.

[2015-07-12 02:17] TheJaymowShow commented on #9
July 10 also nothing.

[2015-07-12 06:11] jeanlain commented on #4
I'm on Mavericks. Specular and light blooms, as well as hight quality water and antialiasing don't affect performance much (tested on my iMac and Mac Pro). Specular and ambient occlusion are the only settings that are really problematic (on the iMac. The Mac Pro has a really slow CPU and a fast GPU, so the issue may not show in that configuration).

[2015-07-12 10:07] ghost commented on #205
I'm guessing this is the same issue that I have.

When I start the game I get around 150-220 FPS which then drops to 60-90 when I visit the Heroes menu. From there I select a hero and then I use the Demo hero option. In game I have a framerate of 40-60 in general. However, when I open the menu it directly drops to 10-20 FPS. The problem is that the framerate never goes back up when I close the men

[2015-07-12 12:59] Tele42 commented on #205
So, if I'm seeing this right, the common trend is 1GB of vram or less. It's possible the game is maxing out the vram and something is getting bumped over to the system ram, which is significantly slower. If that is true, anything to lower the vram usage could improve the behavior being seen.

[2015-07-12 14:45] eomanis commented on #36
Much better now, you're getting there:
http://fleder.mooo.com/dota.2.reborn/dota.2.reborn.linux.amd64.radeon.barts-xt.2015-07-12.jpg

Keep up the good work, much appreciated.

Edit:
GitHub tells me "drivers-valve was unassigned by eomanis 2 minutes ago"...?
What did I do?!

[2015-07-12 15:37] dieva commented on #1809
same problem, I'm mac user too and i don't know how to fix this problem

[2015-07-12 18:46] Isuru-Nanayakkara commented on #1809
The timing of this issue just couldn't get any worse. I actually started playing Dota 2 two days ago. The next day, this thing happened. >_<

[2015-07-12 22:19] deplorableword commented on #1809
It looks like if you create a Lobby (not a local lobby) you can fill it with bots you can still play at regular speed. That appears to be the only workaround now :/

[2015-07-12 23:13] phoerious commented on #205
That would at least explain why my new PC only drops to 30 instead of 5 FPS.

[2015-07-12 23:15] Damdomy commented on #1809
@deplorableword That's a really weird issue.
I play local lobbies on the go due to bad internet. This needs to be fixed asap.

[2015-07-13 02:12] scottlow commented on #227
To add to this, the steam overlay was working pre developer beta 3/public beta. It seems to be something Apple added recently that broke it.

[2015-07-13 06:27] gxgani commented on #1813
Detailed here: https://github.com/tekezo/Karabiner/issues/355

[2015-07-13 11:51] danginsburg commented on #207
This occurs on Windows DX9/DX11/GL as well.

[2015-07-13 13:36] deksden commented on #1809
Same problem on iMac - game is unplayable! All moves are SLOOOOW. Just after recent patch.

[2015-07-13 13:40] deksden commented on #1810
Same for me on Yosemite release 10.10.4

https://gist.github.com/deksden/ae5b359ce1012414b756

[2015-07-13 15:44] danginsburg commented on #206
Does this happen both in fullscreen and windowed mode?  What resolution and settings?  I haven't been able to repro this on any of my Macs here.  Vsync behaves as I would expect (capping the framerate at the vertical refresh rate).

[2015-07-13 15:50] rpayanm opened #1814 "Item bought by team mates notification should be at the back"
[Inspiration](http://www.reddit.com/r/DotA2/comments/24rqsg/the_new_heroitem_bought_notification_has_been/)
Thank you for this feature, but... honestly this feature is kind of annoying for me, because: this makes it hard to buy (fast) when an ally has acquired something. This happened earlier: Wanted to buy an item before dying so I don't lose gold, at the same time, an ally got an item and the no

[2015-07-13 15:53] gdrewb-valve commented on #36
No worries, the assignment field just triggered.  The original poster's issue was because he had NVIDIA 331 drivers and it's now fixed so I'm going to close this.  Your issue with the minimap is something different so you can look at the other minimap issues open here or create a new one.

[2015-07-13 15:53] #36 closed, assigned to gdrewb-valve

[2015-07-13 16:08] gdrewb-valve commented on #143
Can you post your system info?

[2015-07-13 16:09] gdrewb-valve commented on #31
What keyboard layout are you using?  Do you have multiple layouts installed and switch between them?

[2015-07-13 16:10] gdrewb-valve commented on #50
@osleg, have you been able to try this since?  I'm going to rename this to reflect that it's now just for the IME request.

[2015-07-13 16:19] diegogmx commented on #31
spanish, usually switching to english

[2015-07-13 16:44] danginsburg commented on #209
I have tried to repro this on AMD 7950 with Catalyst 15.7 on Ubuntu 14.10 x64 in Unity and have not been able to reproduce it.  It does not look to me like an application issue, but I'm not sure because I haven't been able to repro it.  Does it only happen in KDE?  Only at particular resolutions?

[2015-07-13 16:59] gdrewb-valve commented on #31
What do you boot with?  If you do not change your keyboard layout after boot are you able to bind and use the key you want?

[2015-07-13 17:08] danginsburg commented on #207
I have reported this to the larger team.  Will not track this issue here since it is not OSX/Linux specific.

[2015-07-13 17:08] #207 closed, assigned to danginsburg

[2015-07-13 17:30] mansarip commented on #1809
same problem here.
Mac OSX Yosemite 10.10.3

Problem occured after recent update (10 July)

[2015-07-13 17:46] mansoor090 commented on #1809
facing the same problem . i also play dota on PC - custom made . it is fine over there
using mid 2012 mac i5 4gb ram intel 4000 HD

i guess mac user only facing this issue

[2015-07-13 17:51] Najadorel commented on #206
In full screen resolution 1920x1200

[2015-07-13 18:24] danginsburg commented on #2
@tstarboy Are you still seeing the minimap sized incorrectly?

[2015-07-13 20:22] gdrewb-valve commented on #222
Confirmed that this happens on Windows also.  I've passed this on to the larger team and it won't be tracked here.

[2015-07-13 20:22] #222 closed, assigned to gdrewb-valve

[2015-07-13 20:23] #226 closed, assigned to gdrewb-valve

[2015-07-13 20:23] #224 closed, assigned to gdrewb-valve

[2015-07-13 20:43] gdrewb-valve commented on #216
Closing as won't be tracked here.

[2015-07-13 20:43] #216 closed, assigned to gdrewb-valve

[2015-07-13 20:49] gdrewb-valve commented on #211
This isn't Mac-specific in that the game opens and closes listen sockets as necessary on all platforms.  It's particularly annoying on the Mac since the workaround for this on Windows doesn't apply and there can be multiple permission prompts but the fix, if any is made, will come from the larger team and won't be tracked here.

[2015-07-13 20:49] #211 closed, assigned to gdrewb-valve

[2015-07-13 21:04] #164 closed, assigned to gdrewb-valve

[2015-07-13 21:09] gdrewb-valve commented on #223
I tried this, not a full game but enough to buy a courier, and it worked properly on both Windows and Linux.  Does this happen every time for you?  Do you have problems with any game mode other than Ability Draft?

[2015-07-13 21:30] gdrewb-valve commented on #225
I was not able to repro this on Windows or Linux.  My steps:
1. Start game, go to heroes list.  Pick Juggernaut.
2. Select "Demo Hero".  Game goes directly to demo.

Are those the right steps?  Does this happen every time for you?

[2015-07-13 21:34] gdrewb-valve commented on #6
It doesn't appear that Cmd+Tab is expected to work in true fullscreen, but I'm not 100% sure of that.  The right thing to do here is to use a borderless window.  However that does mean you can't run at a resolution lower than your monitor so I've switched this to an enhancement request to support a scaling mode.  Then the actual window would be a borderless monitor-sized window and you'd get globa

[2015-07-14 00:43] gdrewb-valve commented on #120
If you change the panorama fonts.conf to include /etc/fonts as a directory does that fix the issue?

[2015-07-14 01:40] gramathy commented on #85
Any luck tracking this down? It seems like it's forcing each input to "finish" before processing the next. or something.

[2015-07-14 01:49] gdrewb-valve commented on #85
Unfortunately no.  This appears to not be a Linux/Mac issue as there are complaints on Windows also about laggy input so the investigation has moved into the larger team.

[2015-07-14 01:51] gdrewb-valve commented on #138
Is this still happening?

[2015-07-14 02:19] gramathy commented on #85
I messed around a little more and this seems to also happen with just normal mouse movements - the hardware cursor is where it should be but each individual mouse movement is delayed progressively more as more inputs are added to the stack. Can replicate this part of it by going to heroes tab and moving mouse in a circle on the empty space to the left, then moving the mouse into the area with the

[2015-07-14 02:46] gramathy commented on #138
I haven't had it happen lately that I remember. If it crops up again I'll necro the issue but I think it's not happening anymore.

[2015-07-14 03:48] gdrewb-valve commented on #138
Thanks, closing.

[2015-07-14 03:48] #138 closed, assigned to gdrewb-valve

[2015-07-14 06:31] gdrewb-valve commented on #215
This appears to be an issue in SDL, we're following up with the SDL devs.

[2015-07-14 08:31] deplorableword commented on #1809
paging @gdrewb-valve for help and triage :(

[2015-07-14 15:10] danginsburg commented on #176
This has been fixed.  The fix will be in the next release.

[2015-07-14 15:11] danginsburg commented on #127
This has been fixed.  The fix will be in the next release.

[2015-07-14 17:42] gdrewb-valve commented on #1809
You're running the main Dota 2 client and not Reborn, correct?  I'm checking with that team.

[2015-07-14 17:45] DeaconFell commented on #1809
Yes. In local lobby games in regular client is where I've seen it happen, and as has been said on the thread making a lobby on the game server and filling it with bots worked fine. Thanks for checking into it.

[2015-07-14 17:52] davidw-valve commented on #1809
I have reproduced this and am looking into it. In the meantime note that this bug does not affect the Reborn Beta so you could consider playing bot games using Reborn.

[2015-07-14 19:34] deksden commented on #1809
@davidw-valve : unfortunally - on my iMac Dota2-Reborn beta did not playable due to other bug - https://github.com/ValveSoftware/Dota-2-Reborn/issues/24#issuecomment-118946920

So, as for now - no Dota2 is working on my system ;) Just waiting for fixes))

[2015-07-14 19:35] Damdomy commented on #1809
@davidw-valve Reborn runs very poorly on my macbook air.

[2015-07-14 20:43] danginsburg commented on #4
I have checked in fixes that will greatly improve performance of Ambient Occlusion and Specular and Light Blooms on NVIDIA GPUs.  These fixes will be in the next update. On my Macbook Pro Retina with NVIDIA GT650M the changes boost performance at 1440x900 from 18fps with both settings on to 50fps.  Basically what was happening is that the shader compiler in the driver was failing to unroll loops.

[2015-07-14 21:41] davidw-valve commented on #1809
We have a fix for this. Please expect it to be resolved in the next update.

Note that this only appears to affect bot games, you can still play online with others while waiting for this to be fixed.

[2015-07-14 23:35] bxio commented on #227
I can confirm that the steam overlay is broken on beta 3. Toggling Steam in Accessibility and/or restarting the Steam client does not fix the overlay.

Also, the overlay works in other games such as Civilization V, but is broken in Dota2 and CS:GO.

[2015-07-15 08:57] deplorableword commented on #4
@danginsburg Awesome! Does this fix only apply to NVIDIA GPUs atm? or will we see performance improvements on Intel Iris etc?

[2015-07-15 11:48] materemias commented on #4
@danginsburg great progress, what do you think what should we expect on intel iris gpus? I have a macbook pro 2015 and I expected that I will see drastical performance improvements compared to source1, but frame rates are actually worse.

[2015-07-15 12:55] danginsburg commented on #4
@deplorableword I did not measure any performance benefit from the change on Intel GPUs.  It seemed only the NVIDIA driver was impacted by this.

@materemias Can you post your full system specs?  Testing on my Macbook Pro Retina Mid 2012 with 2.7 GHz Intel Core i7 forcing the graphics to Intel HD 4000 on low settings I see framerates around 55fps at 1440x900 with settings on low.

[2015-07-15 14:22] materemias commented on #4
@danginsburg
it is
  Model Name:   MacBook Pro
  Model Identifier: MacBookPro12,1
  Processor Name:   Intel Core i5
  Processor Speed:  2,7 GHz
  Number of Processors: 1
  Total Number of Cores:    2
  Memory:   16 GB
  Gpu: Intel Iris 6100 1536MB

on 1440x900 and low setting I see fps ranging 20-45 usually around 35.
going to the next preset detail setting (med-low) it drops to 25fps ranging 10-3

[2015-07-15 14:24] danginsburg commented on #4
@materemias What is your fps in dota2 s1 at the same res/settings?

[2015-07-15 14:35] materemias commented on #4
@danginsburg i got around 35 fps in s1 on 1600x900 medium settings. compared to how better iris6100 should be over HD4000 this is frustrating.

[2015-07-15 17:09] gdrewb-valve commented on #120
Scratch the fonts.conf suggestion, that isn't going to work.  I heard back and unfortunately it looks like the current setup has a limitation that prevents using the standard system fontconfig.  You should still be able to use fonts in /usr/share/fonts and such or the workaround that you've found.  In the long term the underlying code is going to be switched and this problem will go away but for n

[2015-07-15 17:10] gdrewb-valve commented on #31
Any luck when not switching the keyboard layout?

[2015-07-15 17:11] gdrewb-valve commented on #143
Are you still seeing problems?

[2015-07-15 17:16] gdrewb-valve commented on #225
Closing pending more info.

[2015-07-15 17:16] gdrewb-valve commented on #223
Closing pending more info.

[2015-07-15 17:16] #223 closed, assigned to gdrewb-valve

[2015-07-15 20:32] michaelkclements commented on #227
Both the home panel problem and the freezing issue seem to have resolved. Think the freezing might've been a one off that day?

[2015-07-15 20:34] gdrewb-valve commented on #227
I've passed the Steam overlay issue on to the Steam team.

The only active issue would then be Cmd+Tab?  What video mode are you running in?

[2015-07-15 20:51] michaelkclements commented on #227
Borderless window.

[2015-07-15 20:53] gdrewb-valve commented on #227
OK, thanks.

[2015-07-16 00:11] p-groarke opened #228 "[OS X] Heroes invisible."
http://i.imgur.com/WpmhIVG.jpg
http://i.imgur.com/uKnzds0.png
http://i.imgur.com/hkXbF2L.jpg
Video settings: http://i.imgur.com/Rch8jsM.png

Happens pretty much anywhere the heroes models are used in interface.

OS X Yosemite 10.10.4
MacBook Pro (Retina, Mid 2012)
2.6 GHz Intel Core i7
16 GB 1600 MHz DDR3
NVIDIA GeForce GT 650M 1024 MB

[2015-07-16 00:16] p-groarke commented on #61
Hmmm, maybe this should be re-opened? Or would you prefer I create a new bug report?

http://i.imgur.com/8KPlRM1.jpg

[2015-07-16 00:45] SuperFlick commented on #143
now i can switch layout to eng and back. but still have to switch back from rus to eng (if i binded it with eng layout) to use spells and back again to type something in chat with rus layout.

sysinfo
Intel® Core™ i5-2410M CPU @ 2.30GHz × 4
Intel® Sandybridge Mobile HD 3000
6gb ram
x64

[2015-07-16 00:46] davidw-valve commented on #143
Does this work as you think it should in Source1?

[2015-07-16 00:49] SuperFlick commented on #143
davidw-valve
yes. it works fine in source1. i can type with rus layout and cast spells w/o switching to eng layout even if its binded with eng.
Even better in source1 - i have rus layout now, but when i'm trying rebind an action dota binds it with eng letter.

[2015-07-16 01:17] tstarboy commented on #2
Yes.
![2015-07-15_00001](https://cloud.githubusercontent.com/assets/680229/8713460/ce2ee084-2b36-11e5-97b4-e8594e431d2b.jpg)

[2015-07-16 04:25] gdrewb-valve commented on #61
We'll reopen.

[2015-07-16 04:30] gdrewb-valve commented on #143
To make sure I understand you're saying the problem occurs if you bind a key in one layout and then try to use it in another layout?  That's by-design behavior since bindings are layout-sensitive.  For example, if you bind something to 'z' in a US layout on an US keyboard and then switch to a French layout, where the 'z' key on the US keyboard is now 'w', pressing the US 'z' key should not trigger

[2015-07-16 06:53] SuperFlick commented on #143
exactly. a key binded on a layout1 won't work on a layout2

[2015-07-16 07:35] gdrewb-valve commented on #143
OK, that's the way it's supposed to work now and for the forseeable future.  I'll leave this open as an enhancement request to somehow make it work across layouts.

[2015-07-16 07:36] gdrewb-valve commented on #31
Did you bind the key with one layout and try to use it in a different layout?

[2015-07-16 15:07] ghost commented on #110
Broken again. Changing resolution in fullscreen _at all_ is simply ignored by the game, and is reset to the default monitor size.
Minimap becomes transparent so restart is required.

[2015-07-16 15:26] gdrewb-valve commented on #110
This is a temporary regression, the next update will have yet more changes to video settings.

[2015-07-16 18:08] diegogmx commented on #31
rebound it with this build, it works properly now.

2015-07-16 4:36 GMT-03:00 Drew Bliss notifications@github.com:

[2015-07-16 18:25] gdrewb-valve commented on #31
Thanks, closing.

[2015-07-16 18:25] #31 closed, assigned to gdrewb-valve

[2015-07-17 05:41] p-groarke opened #229 "[OS X] Survival Coop crashes."
Hi, I am not sure what the policy for crashes with mods. I submit this hoping you'll delete it if its not a dota bug. :)

Process:               dota2 [16145]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2
Identifier:            dota2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [16142]
Responsible:           steam_osx [1

[2015-07-17 05:41] p-groarke commented on #228
Fixed for me, that was fast!

[2015-07-17 06:06] gdrewb-valve commented on #229
Ideally the engine wouldn't crash even with a bad mod.  I doubt this is a Mac-specific issue but we'll take a look.

[2015-07-17 06:26] liquidspikes commented on #50
Hello, well the issue returned, I have a feeling that Yosemite slowed things down again.

Reborn menu is flawless, but in game it is really choppy, it seems like its fine for the first 10 seconds, then the FPS drops hard... REALLY hard. Somewhere between 5-10 FPS.

[2015-07-17 14:47] sinatosk commented on #1811
I too have this issue... just started crashing today and my terminal shows this repeated message

/home/buildbot/buildslave_steam/steam_rel_client_ubuntu12_linux/build/src/webhelper/../common/html/chrome_ipc_server.cpp (397) : Assertion Failed: Failed to push command of 27 bytes into m_pToChromeStream
Timed out waiting for mutex in PutInternal()

and when I kill the dota 2 process... I see this

/

[2015-07-17 15:43] danginsburg commented on #9
I can confirm there are severe performance issues on HD 3000.  We are actively looking into the issue.  In short summary: in OS X 10.9.5 we have severe performance issues and then get a crash in the GL driver at the hero selection screen and in OS X 10.10.4 we have severe performance issues although the GL driver crash is resolved.  The performance issue stems from the HD 3000 GL driver constantly

[2015-07-17 15:46] jie-lyu commented on #227
I'm using OS X 10.10.4.
Freezing happens when entering and closing games with high probability.
Anyone has the same problem or just me?

[2015-07-17 16:04] #228 closed, assigned to danginsburg

[2015-07-17 16:32] FloSchramm commented on #1811
Can confirm that on Archlinux and Windows, too!

[2015-07-17 16:50] thanhkhoa85 commented on #1809
Me too. After updated, I can't play game anymore. When I see my hero moving, I really boring. Could someone have any idea to fix this bugs?

[2015-07-17 22:32] p-groarke commented on #229
That's pretty much what I thought. May lead to unassigned memory or missing checks etc. This crash happened to the whole team, many times in a row. So somehow the game was in a bad state. Anyways, time for some dota strikers :D

[2015-07-18 00:19] akalankapagoda commented on #1809
Same problem. Just here to notify.

[2015-07-18 00:20] DeaconFell commented on #1809
I just tested after the latest update and it worked. If you haven't played since downloading it give it another try.

[2015-07-18 05:47] doylefermi commented on #1811
I too confirm it. Game crashes after the scoreboard comes and click 'close'

Inorder to start new game, I will have to restart Ubuntu

[2015-07-18 06:01] presianbg commented on #227
Same on Linux - Fedora 22 and Arch Linux (all up to date). Did not happened before, I'm talking about the freezing when starting (while players are accepting the game  10/10) and when quitting the game (final score board, leaving, disconnection... etc.) Nothing in the logs :(

[2015-07-18 07:30] Isuru-Nanayakkara commented on #1809
This issue is fixed in the last update. Just checked myself.

[2015-07-18 10:32] chrylis commented on #1811
Confirmed on Arch. Game hangs when pressing "Close" on the post-game summary dialog.

[2015-07-18 11:51] VelorumS opened #230 "[Linux] Freezing on scoreboard after Owerthrow match"
It freezes almost every time (95%) after an Owerthrow match. After click on close button (sometimes without clicking).

Have to alt+tab and close it.

It wasn't like that on beta release. And I think, that yesterday it didn't freeze.

15.04
GTX760 4GiB
340.76-0ubuntu2

[2015-07-18 12:42] AngryPenguinPL commented on #230
I have also the same issue.
Game freeze on scoreboard after owerthrow and also when I try find match for explain:

Match is found but some in player don;t accept it and game looking for another match and now 10 players accept and now game freeze. So I need rage quit game and restart it.

Also when game freeze, I can't anythink in game, I hear only the music.
I can't quit game, I can't also ALT+Tab

[2015-07-18 12:46] akalankapagoda commented on #1809
Fixed! Finally!

[2015-07-18 13:33] grasdaggel commented on #230
Solution for Linux:

Ctrl + Alt + T to open Terminal.

Go on and kill the third or fourth PID with kill PID

For example:
$ kill 3042
$ kill 3046

You then can restart.

[2015-07-18 14:13] grasdaggel commented on #230
Disclaimer: doesnt work always. :(

[2015-07-18 14:23] Isuru-Nanayakkara commented on #1817
After a game, when I close the stats screen, the app freezes. Can't even bring up the Fore Quit window with keyboard shortcuts.

[2015-07-18 14:34] OSnapz commented on #1817
After the update today mine wasnt freezing when clicking the close button anymore.

[2015-07-18 14:39] bitfade commented on #1811
confirmed on ubuntu 14.04, GeForce GTX 850M with 352.21 drivers

[2015-07-18 15:49] chrylis commented on #1811
Now that I think about it, more specifically: This occurs when trying to shut down the main game engine. I have similar behavior if I spectate a game.

[2015-07-18 16:31] OSnapz commented on #1811
Reconfirm this. But mine is either a hit or miss when pressing close button.

[2015-07-18 17:29] fivetwentysix commented on #1817
If you have spaces you can press CTRL -> or -< to go to another screen then force quit.

Hope for a solution soon.

[2015-07-18 17:43] peter21581 opened #231 "[MAC] Dota2 Reborn Crashed When I Accept A Match and Exit match"
It happens every time when i accept a match or exit match(at the end).
Here is the crash info.

Full crash info here: http://d.mzpeter.co.uk/nTAw+
System information here: http://d.mzpeter.co.uk/1jjcW+
Video record: http://d.mzpeter.co.uk/14OdB+

Date/Time:       2015-07-19 00:08:56 +0700
OS Version:      10.10.4 (Build 14E46)
Architecture:    x86_64h
Report Version:  21

Command:         dota2
Pa

[2015-07-18 17:56] VelorumS commented on #230
Command to close:

killall -9 dota2

[2015-07-18 18:00] degaart commented on #1817
It's not only on Yosemite, it also happens on mavericks. Seems it freezes for about 5mn after closing the stats screen before returning to the main screen.

[2015-07-18 18:20] DavidStaron commented on #1817
Same problem, i did the trainings and after every victory i see a "Congratulations" screen and when i press the OK button the game freezes.

Yosemite 10.10.4
MacBook Pro (Retina, 15-inch, Mid 2015)
AMD Radeon R9 M370X 2048 MB

[2015-07-18 18:23] gxgani commented on #1817
Seems to be an issue with the steam, https://www.reddit.com/r/DotA2/comments/3dqgbd/i_recently_have_like_a_3040_seconds_freeze_on/

[2015-07-18 20:02] xmorpheu5x commented on #1817
the dota2 freeze happens right after every game while pressing close button and even while clicking the close (X) button of a game that i was spectating. Obviously one has to alt+tab and force quit everytime and restart dota2. It's very cumbersome.

[2015-07-19 00:44] p-groarke opened #232 "[OS X] [Feature] Add firewall exception."
Since mods often use a players computer as server host, the OS X firewall popup to allow incoming connections comes up a lot. The problem with it, is it doesn't save your prefs. I've tried adding rules manually, but it seems I don't have the right executable or what-not.

Anyways, would be nice to simply add a rule when you install dota/start it up. This requires user password, but should be good

[2015-07-19 07:08] supereddie commented on #230
I also had the freeze: the first time after only doing Demo Hero, quit Demo, and then trying to exit Dota 2; the second time winning 1 bot-match the scoreboard frooze.

In both instances I had to $kill the processes

[2015-07-19 07:38] xmorpheu5x commented on #1817
There was a 60 MB update which solved the app not responding issue :) :+1: to the dev

[2015-07-19 07:47] xmorpheu5x commented on #1817
However,the dota_osx crashes while trying to play "training"

[2015-07-19 13:30] p-groarke opened #233 "[OS X] Crash when zooming on hero."
So this was a pretty hard crash, playing GreenTD Reborn. Happened instantly when zooming on hero (I'm pretty sure I hit the console key at the same time).

Process:               dota2 [2130]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2
Identifier:            dota2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [2127]
Res

[2015-07-19 22:22] cajoled opened #1819 "White Screen on Dota 2. Completely Unplayable!"
<img width="1680" alt="screenshot" src="https://cloud.githubusercontent.com/assets/3789144/8768131/a4ed745e-2e6c-11e5-80b9-f6abb33688fe.png">

Help please.
I'm on a MacBook Pro Retina (mid 2012) running 10.10.4 Yosemite and NVIDIA GeForce GT650M graphics card. My friend has the exact same specs as me and is able to play DOTA 2 freely.

However, I encounter this situation permanently in DOTA 2 and

[2015-07-20 00:15] gdrewb-valve commented on #1818
Please log Reborn issues in the Dota-2-Reborn repo.  There's already an open issue there on hangs.

[2015-07-20 02:51] gdrewb-valve commented on #230
This doesn't appear to be a Mac/Linux issue as people on Windows are seeing it also, as are people with the main client.  The larger team mentioned that a possible fix was rolled out yesterday afternoon (July 18 at something like 17:00 US west coast time).

Are people still seeing this?

[2015-07-20 06:22] oBerrypunch opened #234 "gl_arb_separate_shader_objects is not supported [Ubuntu 14.04]"
Sorta new to ubuntu, no idea how to fix this issue.

[2015-07-20 07:22] CommanderAlchemy commented on #234
@oBerrypunch start by reading the README.md in this repo: https://github.com/ValveSoftware/Dota-2-Reborn

[2015-07-20 09:00] Isuru-Nanayakkara commented on #1817
There was a small update a couple of days ago which fixed this issue.

[2015-07-20 10:04] VelorumS commented on #230
I hope that 17:00 US west coast time (whatever it is) was later than my first post.

I've stopped seeing this freeze from around that day.

[2015-07-20 10:04] #230 closed, assigned to gdrewb-valve

[2015-07-20 11:04] AngryPenguinPL commented on #209
For now I don't have this issue anymore, maybe some patch fixed it quietly?
BTW. I tested it only on KDE.

Im let you know, if I see this coruption again.

[2015-07-20 12:36] materemias commented on #4
@danginsburg any update on this?

[2015-07-20 12:50] danginsburg commented on #209
I will close this for now, let us know if you see the corruption again.  I suspect it is not an application issue either way.

[2015-07-20 12:50] #209 closed, assigned to danginsburg

[2015-07-20 12:52] danginsburg commented on #234
@oBerrypunch It is very likely you do not have updated drivers or you are running with unsupported hardware.  GL_ARB_separate_shader_objects is a required OpenGL extension and is supported by mesa along with closed source NVIDIA and AMD drivers.  Please post your system information and we can point you to the correct driver.

[2015-07-20 12:54] danginsburg commented on #9
We are in contact with Apple and have filed a Radar on the issue.  I will post an update as soon as we hear back from Apple.  We have not been able to find a way to workaround the GL driver issue.

[2015-07-20 15:45] cesargog commented on #9
Thanks for the updates, I hope there is a fix.

[2015-07-20 17:52] gdrewb-valve commented on #1809
Closing as this appears fixed.

[2015-07-20 17:52] #1809 closed

[2015-07-20 18:01] gdrewb-valve commented on #231
Is this a crash where the game exits?  The report info you have here is for a hang, the same hang as #230.  That should be addressed now, are you still having problems?

[2015-07-20 18:11] gdrewb-valve commented on #233
This happens on Windows also so I've passed it on to the larger team.

[2015-07-20 18:11] #233 closed, assigned to gdrewb-valve

[2015-07-20 18:50] Wuerstchen opened #235 "Binding to Circumflex-key does not work with german keyboard layout"
Binding any command to the circumflex key does not work with German keyboard layout. In the chat it's working, though.

[2015-07-20 19:58] gdrewb-valve commented on #235
Can you post your system info?  Are you changing your keyboard layout at any time or are you booting with a German layout?

[2015-07-20 19:58] gdrewb-valve commented on #45
Have you seen this recently?

[2015-07-20 20:00] gdrewb-valve commented on #64
Actually closing this as this has been passed on to the larger team and won't be tracked here.

[2015-07-20 20:00] #64 closed, assigned to nobody

[2015-07-20 20:02] gdrewb-valve commented on #101
The lack of true fullscreen support is already captured in #63 so closing this.

[2015-07-20 20:02] #101 closed, assigned to nobody

[2015-07-20 20:04] gdrewb-valve commented on #227
I believe the freezing should be addressed now.  Are you still seeing it?

[2015-07-20 20:41] Wuerstchen commented on #235
I'm booting with a german layout and do not change it at any time. All my friends have that issue on Windows 7 and Windows 8.1, too.

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3900 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SS

[2015-07-20 20:44] gdrewb-valve commented on #235
OK, as this doesn't sound like a Mac/Linux issue I'll pass it on to the larger team.

[2015-07-20 20:44] #235 closed, assigned to gdrewb-valve

[2015-07-20 22:30] rained23 opened #236 "[OS X Yosemite] Unable to download custom game"
Hi,

From previous update caused Install will stuck at Download Queued.

![image](https://cloud.githubusercontent.com/assets/907309/8789005/7a539538-2f71-11e5-81cb-16fe77078175.png)

Checking Steam showing the Steam Workshop are in infinite loop of Update Required & In Queue.

![image](https://cloud.githubusercontent.com/assets/907309/8789024/9cb4a2d4-2f71-11e5-9e0d-f1d83db15b53.png)

I need to cl

[2015-07-20 22:39] rained23 commented on #4
Intel HD5000 have low fps, I think the devs should focus on onboard graphic issue first
cause majority have onboard GPU like HD 4000 or HD 5000 and in a mean time resolve Nvidia/Radeon.

[2015-07-20 22:42] rained23 commented on #232
#211

[2015-07-20 23:50] p-groarke commented on #236
rained23, you should black out the serial number! gday

[2015-07-21 01:07] gdrewb-valve commented on #232
The end result of this is the same but there two different things being discussed.  In #211 what the larger team will be looking at is not cycling listening sockets so much so that if you get a permission dialog you'll only get one per process execution.  This particular issue would be an even bigger fix in that adding a firewall exception would suppress all future prompts and would make the large

[2015-07-21 01:35] gdrewb-valve commented on #11
Can you pick up the 7/20 update and report back on whether this is still an issue?

[2015-07-21 01:37] gdrewb-valve commented on #13
Can you pick up the 7/20 update and see if it helps?

Also it will now support -sdl_displayindex # if you want to force Reborn to start on a non-primary monitor.

[2015-07-21 01:38] gdrewb-valve commented on #172
The 7/20 update adds a crude way of controlling this via launch options.  -sdl_displayindex # will force Reborn to start on a non-primary monitor.

[2015-07-21 01:39] gdrewb-valve commented on #41
The 7/20 update has an attempt at fixing the VerifyHeroIDs issue with tr_TR.  Can you retry with that update?

[2015-07-21 01:48] gdrewb-valve commented on #41
Yes, thanks.

[2015-07-21 02:27] p-groarke opened #237 "[OS X] Desktop friendly or exclusive don't allow workspace switching."
First of all, HUGE update! Congrats :D Of course there are a few issues.

Both new fullscreen modes seem worst than before. You can no longer switch workspace (ctrl + arrow left). I personally never had issues with how it was. The game was extremely dual-screen friendly. Keep those updates coming :)

This doesn't really seem like a huge problem, but at first launch: http://i.imgur.com/SZ9wF9B.jpg

[2015-07-21 02:29] p-groarke opened #238 "[OS X] If mouse cursor isn't overridden, clicks don't register."
This happened when first launching the game. I tried to record a video, but as that removes focus from the window, the custom cursor gets applied and the clicks register.

If the game doesn't override the cursor, than many clicks don't register.

Fix, lose focus of window and refocus (ex: minimize window). Then custom cursor kicks in and works as expected.

[2015-07-21 02:36] p-groarke opened #239 "[OS X] Music fader doesn't work anymore."
May be related to custom music packs?

[2015-07-21 02:42] Gordon01 commented on #215
Same for me

[2015-07-21 02:43] oBerrypunch commented on #234
How do I find system information that doesn't list everything down to the usbs and isn't a pain to copy?

[2015-07-21 03:09] dubcanada commented on #13
It works for me with the 7/20 update now.

Note: I did have to change my setting a custom resolution to using the current monitors resolution. Changing the resolution or setting a custom one caused it to return to the old monitor. But I can deal with that :)

Also glad that `-sdl_displayindex` works now.

[2015-07-21 03:34] p-groarke commented on #232
After doing a little research on this topic, it seems the actual problem is code-signing the application. The OS X firewall allows incoming connections by code signed applications by default. Obtaining a valid certificate for Valve seems trivial (if you don't already own one). I guess since the executable hierarchy is very different running through Steam, fixing this might be more involved than ju

[2015-07-21 03:36] Vuccappella opened #240 "[MAC] -enable_addons not working not working properly ?"
Nothing in resources > flash3 is working for me on reborn. I have custom item icons, custom HUD, custom Cursors. I've copied everything to the same folders from the old client to the new one, they're supposed to replace the default item icons,cursor,hud but they aren't working. I have -enable_addons set to my launch options, but there is no way to set it individually for reborn to my knowledge sin

[2015-07-21 03:44] malmrose commented on #13
Working fine now.

[2015-07-21 03:46] reportados123 opened #241 "ALT clicking on buyback, hp/mana, items in shop, etc, does not work"
Hi, I'm on Arch Linux, with the window manager BSPWM, and when I try to alt click on several different spots that should work on Windows, it does not work.

Alt clicking your spells work (either it being ready or on cooldown), but alt clicking items in the shop indicating how much gold you are away from a certain item or that you will purchase it, does not work. Also, alt clicking your gold to sho

[2015-07-21 04:08] codycurley commented on #11
@davidw-valve I see the added full screen option. This is getting closer. The mouse locks to the app, but Reborn still isn't opening up in it's own ["space"](https://en.wikipedia.org/wiki/Spaces_%28software%29) like the current app does.

The causes issues while wanting to switch spaces as it causes Reborn to minimize instead of stay in another space.

[2015-07-21 04:13] diegogmx commented on #13
works indeed

2015-07-21 0:09 GMT-03:00 dubcanada notifications@github.com:

[2015-07-21 04:25] Cheogh commented on #241
I was having an alt click problem on another game using kde, I found that one of the settings in the window manager(?) needed to be disabled or switched to another key. I remember having a similar problem in ubuntu pre or post unity.

[2015-07-21 04:42] presianbg commented on #227
@gdrewb-valve
Now game is running fine under Linux (Fedora and Arch). Thank you :)

[2015-07-21 05:02] gdrewb-valve commented on #237
The old fullscreen option is unchanged so this may be a result of no longer using spaces.

[2015-07-21 05:03] gdrewb-valve commented on #238
So the repro is just to start the game and clicks don't work?

[2015-07-21 05:05] gdrewb-valve commented on #240
I'll ask the larger team.

[2015-07-21 05:08] gdrewb-valve commented on #11
We had to turn off using separate spaces because they were causing some graphics issues, so at the moment that's expected behavior.

[2015-07-21 05:09] gdrewb-valve commented on #13
@dubcanada, I think the final piece of changing resolutions using the wrong monitor will get fixed in the next update.

[2015-07-21 05:10] p-groarke commented on #238
Yes exactly. I think it has to do with the first launch. Somehow the fullscreen is bugged until you change it. I will test with borderless window and windowed mode to see if the custom cursor is applied (no custom cursor, no clicks).

edit: It happens when fullscreen is in effect too (I am using the desktop friendly version).
Launch Dota, if the custom cursor isn't applied, many clicks aren't regi

[2015-07-21 05:21] gdrewb-valve commented on #239
Do you mean the music volume control in settings?

[2015-07-21 05:43] p-groarke commented on #239
Well, I was going to record a screen share for this, and was able to reproduce #238 on video :)

So, here is this bug: https://youtu.be/_l-QzER9vGc

[2015-07-21 05:44] p-groarke commented on #238
Video demonstration. Double-clicks kind-of register: https://youtu.be/AO-1qcJYnq0

edit: Please use fullscreen, as the smaller youtube video player crops out 16:10 ty

[2015-07-21 06:15] mehmetali commented on #41
Yes, game is starting with 7/20 patch. There are some upper string problems but it does not affect game-play.

![ekran goruntusu_2015-07-21_09-14-16](https://cloud.githubusercontent.com/assets/1127177/8794151/f079aea2-2f88-11e5-99a5-02a8fba5328d.png)

[2015-07-21 06:34] gramathy commented on #174
Seems to happen with any joystick and can be resolved by moving the joystick. Like there's a default position that will move the selection that gets cleared when you change the joystick input at all. Combined with #85 could explain the "sticking" heroes tab as it processes more events as if the heroes tab was still open when it's not.

[2015-07-21 06:54] bklooster commented on #4
Congrats, the Ambient Occlusion and Specular Lighting are both much faster than they were on my Nvidia 670!

Overall, my performance is still not as good as Source1, but it is much closer now. I noticed that source1 doesn't seem to enable AO or the effect that it produces is significantly different than Source2. I also don't know if the frame rate calculation between source1 net graph is different

[2015-07-21 06:59] gdrewb-valve commented on #41
Thanks, closing.

[2015-07-21 06:59] #41 closed, assigned to gdrewb-valve

[2015-07-21 07:00] gdrewb-valve commented on #174
Does that happen with -nojoy also?  That's supposed to turn off joystick input in the engine.

[2015-07-21 07:00] gdrewb-valve commented on #240
This apparently isn't implemented yet but will done at some point by the larger team.  It won't get tracked here.

[2015-07-21 07:00] #240 closed, assigned to gdrewb-valve

[2015-07-21 07:02] gdrewb-valve commented on #4
Source 1 doesn't actually support AO and antialiasing is different also so comparing without those would be more representative.

[2015-07-21 07:03] bklooster commented on #237
Can confirm that when launching the game with Exclusive Fullscreen set the menubar remains at the top of the screen. If I go through to video settings and hit apply it will correctly display on top. If I use "use desktop settings" it will appear correctly on top of the menubar.

I am running the 10.11 beta so that may be related. (system information https://gist.github.com/bklooster/6026046)

[2015-07-21 07:04] presianbg opened #242 "[Linux] Can't Watch replay"
Dear All,

Tried to watch my replay (match id: 1647971592) and following error appeared:

http://i.imgur.com/v7ZXwgW.png

[code]

[2015-07-21 07:49] bklooster commented on #4
@gdrewb-valve Awesome, thanks for the confirmation about source1 and source2 rendering option differences. I think that will help those testing frame rates on the higher-end systems with more of the options enabled.

After doing some additional light testing between source1 and source2 with both AA and AO disabled. I'm getting some very similar results. If I disable high-quality water on Source2 t

[2015-07-21 08:34] bklooster commented on #239
I think it's just a problem with the Reborn music being put under Game Sounds. Windows users seem to be reporting the same problem on reddit. https://www.reddit.com/r/DotA2/comments/3e1bom/dota_2_reborn_music_is_counted_as_game_sound/

[2015-07-21 08:36] michaelkclements commented on #4
It's playable for sure now on max everything. On my iMac I get around 60 if there's not much going on. During a decent fight it'll drop to 40's but that's expected. Thanks for the updates!

[2015-07-21 09:39] letharion opened #243 "How can I start reborn from a shortcut or CLI?"
I can't seem to figure out how to start reborn without going through the steam ui. Launching regular dota is easy, but how do I launch reborn?

[2015-07-21 09:59] chrylis commented on #201
I tried the latest update, and the problem is now even worse; with high quality settings (the equivalent of what I normally play Source 1 at), I get a max of 18fps. Turning the video quality to minimum gets me to 50-60fps with graphics that look something like Super NES.

[2015-07-21 12:01] jeanlain commented on #225
This happened just once. It seems to be fixed.

[2015-07-21 12:11] DeepDlueIV opened #244 "[Linux]No fonts in Reborn"
I see white squares on every word in the game. But main menu UI is fine.
Regular D2 is ok everything.
And sometimes i can see different glitches in the game (reborn)
Most i need is working fonts. How i can do it?

Ubuntu 14.04 x64
intel gma graphics

[2015-07-21 13:01] SuperFlick commented on #244
I had same problem and fixed this with upgrading mesa till 10.6
but now i need an option to fix it w\o upgrading my 10.3 mesa. Because with upgraded mesa come upgraded drivers and after reboot some windows (including steam and chrome) just freeze after start. maybe it freezes because of another reason, but 100% after upgrade mesa and drivers

[2015-07-21 13:27] reportados123 commented on #241
I see, the thing is though, with my window manager, I do not have any keybinds that should mess with the game at all. BSPWM is a minimalistic tiling window manager and should not get in the way of the user. SXHKD, a program created by the author of bspwm, is responsible for these said keybindings. However, all of my keybinds require the use of the windows modifier key.

I forgot to mention that al

[2015-07-21 13:29] danginsburg commented on #234
In Steam, go to Help -> System Information

[2015-07-21 13:34] danginsburg commented on #4
Glad to hear perf was improved for those on NVIDIA GPUs.

For Intel HD 3000 performance issues those are being tracked in #9.  We are awaiting response from Apple on the driver issue there.  We are aware that it is unplayable on HD 3000 so fixing that is a top priority although the issue is in the OpenGL driver.

For those with issues on HD4000/5000/Iris please open another bug if you believe ther

[2015-07-21 13:34] #4 closed, assigned to danginsburg

[2015-07-21 13:35] danginsburg commented on #127
Fix is in 7/20 release.  Closing this bug, let us know if you still see the problem.

[2015-07-21 13:35] #127 closed, assigned to danginsburg

[2015-07-21 13:35] danginsburg commented on #176
Fixed in 7/20 release.  Closing this bug, let us know if you see it again.

[2015-07-21 13:35] #176 closed, assigned to danginsburg

[2015-07-21 13:43] danginsburg commented on #61
I am unable to repro this in the 7/20 update.  @Socapex can you please provide repro instructions?  The original repro instructions with the bug I fixed do not apply anymore because 1024x640 is not offered as a resolution anymore.

[2015-07-21 14:14] vyrus714 commented on #182
With the new fullscreen mode, the borderless window mode stays maximized on focus loss; issue resolved.

[2015-07-21 14:14] #182 closed, assigned to nobody

[2015-07-21 14:16] gramathy commented on #238
This is the issue I thought was fixed - He's right, it is kinda a first-launch thing (it happens after an update) though it didn't happen all the time.

[2015-07-21 14:17] rained23 commented on #236
@Socapex removed.

[2015-07-21 14:17] gramathy commented on #174
Yes, -Nojoy is on in the launch options (it's actually my only launch option atm). The joystick continues to work despite this. Tested using a SNES controller that has the dpad hardware mapped to joystick axes and the G13 from earlier.

[2015-07-21 14:32] rained23 opened #245 "[OS X Yosemite] Intel HD5000 low fps"
Hi, the performance of Intel HD5000 are so bad but playable, its around 20 - 35 fps on all turned off
and lowest setting. Playing custom game like Green TD Reborn, when spawn so much monster will
make it as low as 1 - 6 fps.

The following is my Macbook Air specs

![image](https://cloud.githubusercontent.com/assets/907309/8803438/7eba0bec-2ff9-11e5-955a-4799d145ff08.png)

[2015-07-21 14:35] danginsburg commented on #245
@rained23 Please post your system specifications.

[2015-07-21 14:40] rained23 commented on #245
@danginsburg updated.

[2015-07-21 14:41] materemias opened #246 "[OS X] Low fps in game with Intel 6100 GPU"
Hi,

as previously discussed in https://github.com/ValveSoftware/Dota-2-Reborn/issues/4 OS X reborn has way lower fps than S1. Based on the technical demo it should be improved much on such integrated GPU-s.

My device is a MacBook Pro 13" retina 2015:

Model Identifier: MacBookPro12,1
Processor Name: Intel Core i5
Processor Speed: 2,7 GHz
Number of Processors: 1
Total Number of Cores: 2
Memory: 1

[2015-07-21 14:48] YabosMcGee commented on #13
I'm also experiencing this issue, even after the 7/20 update. Dota 2 Reborn is freshly installed as of today, 7/21. I have two 23" 1920x1080 monitors. The left one is set to primary, but Reborn launches on the right one (secondary).

If I change Reborn to go into windowed mode in the game settings I can drag the window over to the primary screen, change it back to fullscreen, and it will stay full

[2015-07-21 15:10] ghost opened #247 "[Linux] Dota Live Streaming Beta won't work in-game"
The recently introduced Live Streaming service won't work in-game, citing the same issue as trying to watch it from an unsupported browser (e.g. Firefox):
 "_Your web browser does not support the minimum set of features required to watch this broadcast._"

![Example image](http://i.imgur.com/CZTdKw0.png)

It also won't work within the Steam Overlay, while it tries to load it, it says
 "_Updating S

[2015-07-21 15:24] gdrewb-valve commented on #13
@YabosMcGee, if you put "-sdl_displayindex 1" in your launch options which monitor does Reborn launch on?

[2015-07-21 15:29] gdrewb-valve commented on #237
Does the exclusive fullscreen issue occur on repeated launches or was it only the first launch after the update?  I believe this might be an issue upgrading the settings to account for the new fullscreen mode.  If it occurs multple times does it occur once you change your video settings and then relaunch?

[2015-07-21 15:29] ogyct commented on #13
Problem seems to be fixed on my machine

[2015-07-21 15:30] gdrewb-valve commented on #239
Thanks for the video.  This is a core bug and not a Mac/Linux issue so I've passed it on to the larger team.

[2015-07-21 15:30] #239 closed, assigned to gdrewb-valve

[2015-07-21 15:35] Vuccappella commented on #240
Thanks for the response.

[2015-07-21 15:37] gdrewb-valve commented on #244
@DeepDlueIV, can you post full system specs?

[2015-07-21 15:38] gdrewb-valve commented on #246
Hopefully the same issue as #245 but keeping this open for 5000 vs. 6100.

[2015-07-21 15:51] gdrewb-valve commented on #247
Are you running the Steam client beta?  If not can you opt into that and see if it works better?

[2015-07-21 15:54] gdrewb-valve commented on #243
It's simpler and safer to launch from Steam, but if you want to the executable for Reborn is in the app directories under game/bin/arch.  arch would be linuxsteamrt64 for Linux, osx64 for OSX, etc.  There's also a dota.sh just up from the arch directories that will set library paths and such for you.

Note that the main client has its own dota.sh and binaries so you'll have multiple around if you'

[2015-07-21 16:00] sheikhumar93 commented on #9
Has anyone checked Dota 2 Reborn under El Capitan's beta? It is supposed to have vastly improved performance so im guessing better drivers. Does Reborn works fine on intel HD 3000 in that?

[2015-07-21 16:07] DeepDlueIV commented on #244
SuperFlick can you tell me how can i upgrade to 10.6?Canot find anyway to do it in trusty. 10.6 that's for virvid as i know.
Btw here they are valve:
http://pastebin.com/PRSpsNed
Log is too big. And sorry, i don't know GitHub syntaxes

[2015-07-21 16:17] YabosMcGee commented on #13
@gdrewb-valve Just tried using -sdl_displayindex 1, and it still launches on the secondary monitor.

[2015-07-21 16:20] jeanlain opened #248 "[Mac] V-sync greatly degrades performance in fullscreen mode"
This is on a 27" iMac 3.5 GHz i7, geforce GTX 775M, OS X 10.9.5, with everything set to max
Without V-Sync I get 68 fps, with V-sync I get ~30-35 fps in either exclusive fullscreen and desktop-friendly fullscreen. It seems that the frame rate is most of the time limited to 30. Everything gets jerky, including the menus.
In borderless window mode, same resolution (2540x1440), I get 60 fps and every

[2015-07-21 16:30] codycurley commented on #11
Then my issue is resolved.

Now, I'll be adding an edge pan stuttering / FPS drop issue that's consistent for me across all graphic settings and resolutions. Has the dev team already seen issues like this? Specifically when you pan around the mid tower.

[2015-07-21 16:40] jeanlain commented on #225
Actually it's happening again. I did the step you describe and it leads me to "all pick". This creates a game in the demo Map as if it was a match (without the options of the demo panel on the left).
Note that I often create lobbies (not hosted locally) in "all pick" mode.

[2015-07-21 16:51] ghost commented on #247
I were running the Normal Update branch.
I've enabled the Steam Beta Update.
As of _1437423524_ , It'll play the stream through the Steam Overlay.
However it still fails to open the stream in-game.
Moreover, it disables the `Steam` Icon and the `Fullscreen` Button.

[2015-07-21 17:08] gdrewb-valve commented on #248
It's possible that with enough frame variability there are enough frames that don't make the vsync interval that vsync will really drag things down even if it averages out to higher than the vsync interval.

[2015-07-21 17:09] gdrewb-valve commented on #11
I haven't seen it, go ahead and open an issue.

[2015-07-21 17:10] gdrewb-valve commented on #13
I'm not sure what would be causing that, we'll have to try and see if we can repro.

[2015-07-21 17:51] gdrewb-valve commented on #236
Are you running the Steam client beta?  If not can you opt into it and see if that helps?

[2015-07-21 17:52] gdrewb-valve commented on #225
Reopening, but still not happening for me.  We'll have to try and pin down a repro.

[2015-07-21 17:54] gdrewb-valve commented on #247
That's good that updating Steam fixes the underlying issue.  As for Reborn there's still work going on to get things ironed out.  That's not Mac/Linux specific so it won't be tracked here.

[2015-07-21 17:54] #247 closed, assigned to gdrewb-valve

[2015-07-21 18:00] gdrewb-valve commented on #11
Closing as the original issue is resolved.

[2015-07-21 18:00] #11 closed, assigned to davidw-valve

[2015-07-21 18:01] gdrewb-valve commented on #45
Closing pending more info.

[2015-07-21 18:01] #45 closed, assigned to gdrewb-valve

[2015-07-21 18:01] gdrewb-valve commented on #231
Closing pending confirmation that this is different from the resolved hang.

[2015-07-21 18:02] #231 closed, assigned to gdrewb-valve

[2015-07-21 18:04] gdrewb-valve commented on #242
Probably not a Mac/Linux issue, checking into it.

[2015-07-21 18:05] gdrewb-valve commented on #241
As this isn't specific to Reborn we might have to try and duplicate your config to repro, which will take a while.

[2015-07-21 18:07] gdrewb-valve commented on #1821
Please open Reborn issues in the Dota-2-Reborn repo.  In this case go to your video settings and switch to a borderless window, then back to fullscreen or desktop-friendly fullscreen.  Does that fix it?

[2015-07-21 18:12] gdrewb-valve commented on #174
That's odd as then Reborn itself shouldn't be looking at joysticks at all.  We'll still need to try and repro this at Valve.

[2015-07-21 18:18] gdrewb-valve commented on #238
I'm not able to get it to happen but that may because it only happens after updates and I don't have the right state.  We'll try and find a repro.

[2015-07-21 18:23] lakerkid commented on #9
After that crappy steam update time. The MAIN MENU IS STILL LAGGY! Exactly like the FIRST TIME I TRIED TO PLAY!

[2015-07-21 18:23] lakerkid commented on #9
The whole game is still ridiculously laggy cannot navigate through ANY menus.

[2015-07-21 18:27] chrylis commented on #182
This appears to work correctly.

[2015-07-21 18:56] OSnapz commented on #1821
Checking "Use my monitor's current resolution fixed the issue". OsX Yosemite

Sent from my iPhone

[2015-07-21 19:07] bloodbender opened #249 "Oversized Resolution on Mac Client (Reborn)"
Prior to the last update, the Reborn client worked almost perfectly on my mac - occasionally my minimal was oversized, but that problem quickly fixed itself. However, after the most recent update (where they released ranked matchmaking), the Reborn client is unplayable. Every image in the client is blown up by 200% so that I am only able to see the top right portion of the screen (the settings but

[2015-07-21 19:19] budimanjojo commented on #198
Still not fixed, please this bug is really annoying. I can't say anything to my teammates

[2015-07-21 19:19] gdrewb-valve commented on #249
Put "-sw -w 1280 -h 720" in your launch options and that should force a smaller size.  Then pick your preferred settings from the video settings and see if things work after that.

[2015-07-21 19:22] gdrewb-valve commented on #198
We will comment here when this issue is fixed.  As we do not have a repro at Valve I can't say when a fix might be coming.

[2015-07-21 19:23] budimanjojo commented on #198
I can repro it everytime. How can I help? The console shows nothing

[2015-07-21 19:28] gdrewb-valve commented on #198
Nobody has a theory on why it would be happening, particularly only in the specific situation you're seeing it in, so it's hard to say where investigation should be focused.  At some point we'll try and recreate your configuration and hopefully that'll show something but I don't know when that will happen.

Does the new desktop-friendly fullscreen mode differ from borderless window mode?

[2015-07-21 19:30] budimanjojo commented on #198
It happens when the primary monitor is on the right side with fullscreen. Yes, I'm now using desktop-friendly fullscreen and the issue still exist.

[2015-07-21 19:31] gdrewb-valve commented on #198
Does it happen with a monitor-sized borderless window?

[2015-07-21 19:31] budimanjojo commented on #198
Yeah it happens. But not in small size borderless window

[2015-07-21 19:33] gdrewb-valve commented on #198
Thanks for the extra info, we'll look more here at some point.  Unfortunately that will probably not be soon.

[2015-07-21 19:44] bloodbender commented on #249
Thank you so much! I entered those commands and it worked exactly like you said. Unfortunately, the game doesn't save my settings, so it seems I have to reconfigure the resolution each time I load up. Also, sometimes I have to click multiple times for a mouse-click (occasionally it doesn't register the click on first try). Do you think the client will be updated so that I can remove the command fr

[2015-07-21 19:47] gdrewb-valve commented on #249
There definitely sounds like a bug here that we'll fix if we can find it.

What video settings are you using?

[2015-07-21 19:51] bloodbender commented on #249
Sorry, I'm really tech illiterate. I'm not exactly sure what you are referring to with video settings. This is some information that may be relevant lol...

Graphic Card: Intel Iris Pro 1536 MB
Resolution: 16:10
Model: Macbook Retina Display; Mid 2014

If there is different information you are asking for, please let me know how to find it! Thanks again for your help.

[2015-07-21 19:58] gdrewb-valve commented on #249
If you click on the gear icon on the upper left to get to settings there's a tab to control your video settings.  What are your settings currently at?  If they aren't "use my current resolution" click that, then apply.  Exit and restart and see if that helps.

[2015-07-21 20:08] bloodbender commented on #249
Ahh - thats easy. Okay, when I start up the game with the commands you gave me, the video settings are:

"Use Advanced Settings"
16:9
1280x720
Display Mode: Windowed

I have never manually selected any of these settings, not even for the source 1 Dota client - so I have no idea how they got there. I changed the settings to "use my monitor's current resolution" and it works fine afterwards (so than

[2015-07-21 20:10] gdrewb-valve commented on #249
If you fix the settings, exit Reborn, remove the launch options and then restart are your settings still lost?

[2015-07-21 20:13] jeanlain commented on #248
Maybe, but why would it only occur in fullscreen mode and not in borderless window mode, even though they show the same performance with Vsync off?
And this didn't happen before the 07/20 update. Before, I played a few (bot) matches at 60 fps most of the time, now it's mostly capped at  30.
Before, Vsync didn't use to degrade performance. Frame rate could be around 50 fps with Vsync on, basically

[2015-07-21 20:18] bloodbender commented on #249
I feel so silly. It's fixed! I removed the original commands and now it boots up fine. Thanks for everything, you're the best!

[2015-07-21 20:18] jeanlain commented on #225
The issue doesn't happen when the game is in offline mode (no internet connection).

[2015-07-21 20:20] jeanlain commented on #206
I too have described this issue with additional details.
https://github.com/ValveSoftware/Dota-2-Reborn/issues/248

[2015-07-21 20:21] gdrewb-valve commented on #249
Thanks.  Is there anything unresolved?  Does this need to stay open?

[2015-07-21 20:22] gdrewb-valve commented on #248
I was just theorizing, it could definitely be something else.

[2015-07-21 20:22] bloodbender commented on #249
No, I don't have any other problems currently. This can be closed.

[2015-07-21 20:22] #249 closed, assigned to gdrewb-valve

[2015-07-21 20:52] gdrewb-valve commented on #229
Does this occur every time you play with that mod or was it just the once?

[2015-07-21 20:59] wiseone13 commented on #172
FYI, this does fix it (for me at least), but if I change my resolution, it goes back to the other monitor. I only had to change it because it still had the other monitor's resolution. I shouldn't have to change my resolution again. Thank you!

[2015-07-21 21:50] gdrewb-valve commented on #172
A future update will have some more multimon fixes.

[2015-07-21 21:58] VelorumS opened #250 "[Linux] Becomes unresponsive when clicking on Settings button"
After the last big update, when I click on settings (not random, happens every time):

The whole Dota window darkens and becomes unresponsive.
At the same moment Steam closes by itself.
Music still playing.
After about a minute Dota window closes too.

(tried to switch to fullscreen mode, because after update it starts in window-maximized mode, leaving Ubuntu panels around)

Can select other tabs

[2015-07-21 22:09] gdrewb-valve commented on #250
If you look in your Steam system info does it have failure reports that correspond to the times Steam exited?  I can pass those on to the Steam team.

[2015-07-21 22:10] gdrewb-valve commented on #242
Was the replay from before an update and you watched it after, or was Reborn the same between recording and watching?

[2015-07-21 22:12] suhaaktas commented on #41
yes works for me too.

[2015-07-21 22:19] VelorumS commented on #250
Several managed to be uploaded, as I understand:
bp-a4a4bd78-ff79-40c4-9b43-5c6502150721
bp-91bd3f21-8046-4196-8341-f9b4a2150721
bp-7fea9859-474a-4965-a42a-0a9122150721
bp-7b909a3f-6682-4f61-83c4-6d7262150721

[2015-07-21 22:24] Turmfalke2 opened #251 "match_time displayed instead of the actual time spend searching"
hi,
I just had to restart dota 2 reborn while our stack was searching the next match. After I get back into the main menu the search options are overwritten with match_time. (bottom right corner)

Screenshot:
![dota_2_reborn_bug](https://cloud.githubusercontent.com/assets/5174562/8813983/ff65906e-3007-11e5-92ec-161506a88bba.png)

[2015-07-21 22:53] gdrewb-valve commented on #250
Thanks, those did come through.  As this is a crash in Steam this won't be tracked here, but I'll hold it open for a bit in case the Steam team has some immediate questions or feedback.

[2015-07-21 22:56] gdrewb-valve commented on #251
This isn't a Mac/Linux issue but I'll pass it on to the larger team.

[2015-07-21 22:56] #251 closed, assigned to gdrewb-valve

[2015-07-21 22:57] bklooster commented on #237
For me, it occurred every time I launched the game. It happens to me in both desktop friendly fullscreen and exclusive fullscreen. On launch even when set to exclusive mode my secondary monitor wouldn't blank until I hit the apply button in settings.

The only time I could game to launch fullscreen in front of the menubar is when I saved the setting to the "use desktop settings"  radio button (or

[2015-07-21 23:51] gdrewb-valve commented on #237
I can repro and I believe I've found the problem.  The next update will have a fix.

[2015-07-21 23:54] daren25 commented on #234
Having the exact same problem
I have an r9 280 video card running on linux mint
Here is the system information output

Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x10
    CPU Model:  0xa
    CPU Stepping:  0x0
    CPU Type:  0x0
    Speed:  2800 Mhz
    6 logical processors
    6 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported

[2015-07-22 00:35] msjyoo commented on #198
My primary monitor is on the left side and this still occurs. Looks like this issue happens on an Ubuntu distribution on a setup with dual monitors. Just try this issue on a dual monitor setup with Ubuntu live CD to repro? The Reborn Beta is practically unplayable with this issue.

[2015-07-22 00:45] p-groarke commented on #229
It has happened a few times afterwards. But I have not experienced this on the new update.

[2015-07-22 00:49] Xaue commented on #45
Hello, no this hasn't happened again. Seems like an early fluke bug/ glitch

[2015-07-22 01:51] bklooster commented on #237
Whoops I think I completely hijacked this bug report, sorry! I thought the original poster was referring to the menubar, but I think the original poster was referring to the empty space (that I believe was a server issue that was fixed for the store). So you may not want to close this ticket until the first issue about command-tab/space management is fixed.

[2015-07-22 01:56] gdrewb-valve commented on #237
No worries, this will stay open so that we can resolve the spaces/not-spaces issue.

[2015-07-22 02:25] SuperFlick commented on #244
DeepDlueIV
i do it via Synaptic with xorg-edgers ppa. but since it works pretty bad  for me, i dont think i am doing it right.
some users say: add xorg-edgers ppa via terminal, then update and upgrade (apt-get update && apt-get upgrade). but this option doesnt upgrade mesa, only drivers

[2015-07-22 04:43] DeepDlueIV commented on #244
That's it. Already have xorg ppa, but synaptic does not seeing mesa.
https://launchpad.net/~xorg-edgers/+archive/ubuntu/ppa But here it is

[2015-07-22 04:45] p-groarke commented on #237
Just to make it clear. The issues is Mission Control Spaces (multiple desktops) not working anymore in any fullscreen mode. Hope that makes it more clear :)

Before update: ctrl + left arrow worked (Switches Desktop Space).
Now: doesn't work (absolutely have to alt-tab out of game if you need to access desktop).

Oh, and just because I need to mention it somewhere, OH MY GOD THE PERFORMANCE ON OSX

[2015-07-22 04:54] gdrewb-valve commented on #237
That's clear.  We were using the SDL mode which puts fullscreen apps in their own space but that was causing problems so we turned it off.  I believe that's the cause of the change affecting you.  We're working with the SDL devs to see if we can fix the underlying problems and then we'll be able to turn separate spaces back on.

[2015-07-22 04:59] presianbg commented on #242
The game was played right before 7/20 update. And the replay was downloaded after the update, if that helps ...

[2015-07-22 05:02] gdrewb-valve commented on #242
There were changes in the 7/20 update which potentially would invalidate old replays so this is likely an expected failure.

[2015-07-22 05:07] p-groarke commented on #237
<3 SDL

[2015-07-22 05:09] presianbg commented on #242
Ok. Thanks for the info. Closing....

[2015-07-22 05:09] #242 closed, assigned to gdrewb-valve

[2015-07-22 05:11] p-groarke commented on #61
I am sorry to waste your time on this issue. I haven't been able to reproduce it since the screenshot I posted. It might have been a "first-launch-after-update" thing, as it seems common (and it is to be expected while all the kinks get fixed). I will post more information here if I ever get a reproducible use-case. It is up to you whether you prefer to keep this bug open or not, either way it is

[2015-07-22 05:34] gdrewb-valve commented on #61
Thanks for the update.  We'll close this for now and if you find a repro case we will reopen.

[2015-07-22 05:34] #61 closed, assigned to danginsburg

[2015-07-22 06:38] SuperFlick commented on #244
look for lib****-mesa
![2015-07-22 12 36 15](https://cloud.githubusercontent.com/assets/13034633/8819447/e57bfbee-3065-11e5-9421-d9b18dbcba8c.png)
Better wait for aswer by developers. Because i'm tired reinstall ubuntu 5 times per day =)

[2015-07-22 06:50] xmorpheu5x commented on #1821
Thank you.I figured it out later.I'm using "Desktop-friendly fullscreen" mode at the moment. BTW i would've posted this on dev.dota2.com but i can't create a new account when i click "register" and i get the following error :
![screen shot 2015-07-22 at 12 19 06](https://cloud.githubusercontent.com/assets/12004849/8819688/fc39086c-306b-11e5-9861-19bd44d6d94e.jpg)

[2015-07-22 07:35] DeepDlueIV commented on #244
This is Xorg-edgers ppa. No any mesa there
![no mesa](https://cloud.githubusercontent.com/assets/13434539/8820288/ad8e321c-3086-11e5-88e8-c277da228e96.png)
But this  is canonicals rep which have a lot of different mesas.  Which one i need?
![mesa](https://cloud.githubusercontent.com/assets/13434539/8820329/0d319df8-3087-11e5-998a-0815d7ecfb22.png)
btw тут их просто дохрена. На скрине видно в том ч

[2015-07-22 07:53] SuperFlick commented on #244
DeepDlueIV
because you have oibaf's ppa with latest mesa 10.7 and it replaces 10.6 in the list.

[2015-07-22 09:28] jeanlain commented on #225
The issue appears to be linked to the creation of a lobby in "all pick" mode prior to demoing a hero.

[2015-07-22 09:45] ArnaudAndre commented on #234
Both mint 17.1 and ubuntu 14.04 come with the 10.1.x branch of mesa. Mesa 10.1 is one year and a half old, it's not going to run reborn. Afaik nothing before 10.5 can run reborn. (not even sure 10.5 is good enough, 10.6 may be necessary)

[2015-07-22 09:57] VelorumS commented on #250
Fixed.

[2015-07-22 09:57] #250 closed, assigned to gdrewb-valve

[2015-07-22 11:05] DeepDlueIV commented on #234
14.04 is going with mesa 10.3
But not, i dont know how to update to 10.6 xorg-edgers ppa should have this package, but synaptic can't find him

[2015-07-22 11:17] budimanjojo commented on #198
No it's not Ubuntu issue, I'm using Manjaro. It's also not desktop environment issue, tested on xfce and kde. It looks like mouse grabbing issue because when you press chat wheel command the mouse tries to go to the other monitor causing the bug (because it happens in game which grabbing the mouse). It's not joystick problem because I've told the kernel my mouse is not a joystick by making an udev

[2015-07-22 11:43] videni opened #252 "Unable to see full game interface when set resolution to the max , macbook pro"
macbook pro, change resolution to max , then the display can only show display part of the game interface, there is no way to set the resolution back for  it is impossible to set the apply button anymore,.

[2015-07-22 12:11] phoerious opened #253 "[Linux] Can't select audio device + initially no sound"
First of all, I think this is related to issue #111. But since that one is closed already but the issue is not fixed with the latest beta update, I open a new one.

When I go to my audio settings, there is no default device selected, i.e. the field is empty. When I click on it, I get a dropdown with the Pulseaudio default device and a list of my audio cards and headsets. Selecting default doesn't

[2015-07-22 12:59] daren25 commented on #234
Thanks for the help, I used the oibaf ppa
sudo add-apt-repository ppa:oibaf/graphics-drivers

and everything works.

[2015-07-22 13:22] danginsburg commented on #234
Right, so mesa 10.1 is not supported because it does not have GL_ARB_separate_shader_objects.  mesa 10.3.2 works, but there is a bug that causes shadow flickering, see: #55.  That bug report has a patch for the shadowmap flickering which is now in mesa master.

[2015-07-22 13:22] #234 closed, assigned to danginsburg

[2015-07-22 13:24] phoerious opened #254 "Scroll wheel way too sensitive"
I'm not sure if this really fits here and maybe it's just me, but Reborn is completely unplayable for me due to one fact: the scroll wheel which zooms into the scene is way to sensitive.
I use the MMB a lot to drag around the viewport which worked fine in the old Dota2. But with the beta I always zoom into the scene accidentally dramatically reducing my sight and action range. This gets me killed

[2015-07-22 13:24] oBerrypunch commented on #234
Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x15
    CPU Model:  0x2
    CPU Stepping:  0x0
    CPU Type:  0x0
    Speed:  3500 Mhz
    6 logical processors
    6 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Supported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-07-22 13:42] pfent opened #255 "[Linux] Decode() array index out of range, when spectating"
The reborn client crashed seemingly random while spectating a game with the in game client

Detailed crash message (as in attached screenshot):

[code]

Match in question: (I can provide a match id later on)
![screenshot from 2015-07-22 15-39-05](https://cloud.githubusercontent.com/assets/5686284/8826629/326c6d36-3088-11e5-9e11-8e7d4bda221c.png)

Crash message:
![screenshot from 2015-07-22 15-12-5

[2015-07-22 14:32] ravirahulj commented on #252
I had the same problem on mac book air running reborn beta. After reborn beta loads, go to settings>video>Desktop-friendly fullscreen>apply. It's a chore i have to do everytime to get rid of the issue.

[2015-07-22 15:30] gdrewb-valve commented on #252
The next update should fix this.

[2015-07-22 15:32] gdrewb-valve commented on #255
Likely not a Mac/Linux issue.

[2015-07-22 15:50] pfent commented on #255
Match ID was 1652379188

[2015-07-22 15:50] gdrewb-valve commented on #198
This is good information, thanks for trying to narrow things down.  We'll keep exploring here too.

[2015-07-22 16:30] phoerious opened #256 "[Linux] Shading issue with Ember Spirit's fire remnants"
Ember Spirit's fire remnants look pretty ugly in Reborn. I don't think they're meant to be purple, blue or plain white. To me they look much like there is a calculation error in the fragment shader and color values are clamped at some point.

Here are a few examples:

![Fire Remnant 1](https://cloud.githubusercontent.com/assets/911270/8830906/2ee91256-309f-11e5-84e8-ba133ee15103.png)
![Fire Remnan

[2015-07-22 16:42] mfonville commented on #30
An updated: currently I only need to go back from game to the menu, and then back to the game again, to solve the problem.

[2015-07-22 16:48] bklooster commented on #9
@lakerkid Would you mind posting your system specs from Steam in a gist link so Valve can confirm that your computer is using an HD 3000 GPU that is affected by the same driver issue as they mentioned above?

[2015-07-22 17:29] alkore commented on #237
Sorry to hijack this thread but maybe it's related ; I can't seem to be able to CMD + TAB while in fullscreen ? Is it the way it's supposed to be ?

[2015-07-22 17:30] gdrewb-valve commented on #237
Yes, see #6.

[2015-07-22 17:34] alkore commented on #6
Sadly using borderless windowed disables you the brightness setting. Only fullscreen has this and not windowed unlike the original Dota2 client.

[2015-07-22 17:39] gdrewb-valve commented on #6
You can only adjust the brightness in true fullscreen as that's the only time Reborn owns the display.  In all other settings Reborn is just a window and changing the brightness would also affect the desktop (and the other way around too so regular brightness adjustments will affect Reborn).

[2015-07-22 17:58] gdrewb-valve commented on #13
@YabosMcGee, things work correctly for me.  Does -sdl_displayindex 0 make any difference (it shouldn't)?  I'm not sure why -sdl_displayindex 1 wouldn't change anything.  Did you do anything unusual in your multimon setup?  Your system sees them properly and identifies them correctly as primary and secondary?

[2015-07-22 19:06] gdrewb-valve commented on #198
OK, I was just able to reproduce this on Windows, although it took some doing.  The issue is that when the chat wheel pops up the game moves the mouse cursor to the center of the chat wheel (which you can't see since the cursor is off).  When filling the screen it computes the center position based only on the screen size and then sets the cursor position so if the game is not at 0,0 it'll put the

[2015-07-22 19:16] gdrewb-valve commented on #243
I'm going to assume this is answered, closing.

[2015-07-22 19:16] #243 closed, assigned to gdrewb-valve

[2015-07-22 20:16] YabosMcGee commented on #13
@gdrewb-valve I just tried both -sdl_displayindex 0 and -sdl_displayindex 1 again, but it still launches on the secondary monitor. Fedora identifies left monitor as 1, and right monitor as 2. It also identifies monitor 1 as primary, and monitor 2 as secondary.

If I make monitor 2 the primary monitor, Reborn will launch on the left monitor (1 - secondary). Also, just some more information, both mo

[2015-07-22 20:25] gdrewb-valve commented on #13
To confirm, Reborn always launches on the secondary monitor instead of the primary?  Switching which monitor is the primary does change which monitor Reborn starts on (if A is primary Reborn starts on B, but if B is primary reborn starts on A)?

[2015-07-22 20:30] gdrewb-valve commented on #225
Ah, OK, thanks for the extra info.  I was able to confirm a problem on Windows and I've passed this on to the larger team.

[2015-07-22 20:30] #225 closed, assigned to nobody

[2015-07-22 21:00] danginsburg commented on #256
This is confirmed and is an OpenGL-specific issue.  Investigating.

[2015-07-22 21:11] budimanjojo commented on #198
Nice then. Hope the next update can fix it. Thanks drew
On Jul 23, 2015 2:06 AM, "Drew Bliss" notifications@github.com wrote:

[2015-07-22 22:50] wuschLOR commented on #13
The default startup monitor seems to be the secondary monitor. Here's an example for KDE:

![dotakde](https://cloud.githubusercontent.com/assets/2751321/8839297/7838c016-30d4-11e5-9370-706b532ced71.png)

If you want Dota to start on on your primary display (= display 0) you have to enter
   `-sdl_displayindex 0`
If you want Dota to start on on your secondary display (= display 1) you have to enter

[2015-07-22 23:12] gdrewb-valve commented on #13
Reborn starts on index 0, which is supposed to be the primary monitor, by default (if no -sdl_displayindex is given).  SDL takes care of figuring out which monitor is primary so if your primary monitor is misidentified we can pass that on to the SDL team.

[2015-07-22 23:29] gdrewb-valve commented on #198
I'm not sure which release it will make it into; I'll post here when an update goes out with the fix.

[2015-07-22 23:36] gdrewb-valve commented on #236
@rained23, did you check on which Steam client you are running?

[2015-07-22 23:36] gdrewb-valve commented on #229
OK, we can reopen if you see it again.

[2015-07-22 23:36] #229 closed, assigned to gdrewb-valve

[2015-07-23 02:59] hrzhu commented on #244
Just FYI, to use xorg-edgers ppa, you need to do dist-upgrade not just upgrade. It will upgrade your x server, mesa(to 10.6.2) and drivers. If in the future you want to upgrade your Ubuntu to a new release, you need to purge this ppa first.

[2015-07-23 03:51] rained23 commented on #236
Opting beta fix this, not sure update or opt in, but currently its working now.

[2015-07-23 04:01] #236 closed, assigned to gdrewb-valve

[2015-07-23 04:10] SuperFlick commented on #244
hrzhu

didn't work in my case. still 10.3
and why libgbm1 conflicts with itself?  i cant update this pack
![2015-07-23 10 07 59](https://cloud.githubusercontent.com/assets/13034633/8842966/a662883c-311a-11e5-8cb2-b525a76d22ee.png)

[2015-07-23 05:27] letharion commented on #243
@gdrewb-valve Yes, thank you, that works. I was simply confused because nothing is obviously named "reborn" or similar, so I didn't find the file to run.
One follow up though, why/how is it "safer" to launch from Steam?

[2015-07-23 05:27] rained23 opened #257 "[OS X][suggestion] Hosting game autostarted"
Hi,

I am always hosting a game, and the issue is the game will always auto started without me as Host
intention, I dont think this is good for many reason. One of it is when some troll entering your host and waste your time there or when you want to arrange something, or maybe someone with bad connection that most of the time crash the host.

1.Maybe have a toggle Start Game, where we turned on w

[2015-07-23 05:36] DeepDlueIV commented on #244
sudo apt-get dist-upgrade
[sudo] password for deepdlueiv:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following NEW packages will be installed:
  linux-headers-3.16.0-44 linux-headers-3.16.0-44-generic
  linux-image-3.16.0-44-generic linux-image-extra-3.16.0-44-generic
The following packages have been kept back:
  libgbm1

[2015-07-23 05:56] gdrewb-valve commented on #257
As this isn't a Mac/Linux issue you're probably better off raising this on the regular forums.

[2015-07-23 05:57] gdrewb-valve commented on #243
If you launch from Steam you can be sure that the environment is set up properly.  For example the Steam client makes sure that the Steam runtime paths are set up for execution on Linux.  You don't necessarily need what Steam does but if you run from Steam you don't need to think about it.

[2015-07-23 07:26] jeanlain commented on #135
It seems the sound level is now adequate.

[2015-07-23 07:26] #135 closed, assigned to davidw-valve

[2015-07-23 08:05] hrzhu commented on #244
^
This is a [bug](https://bugs.launchpad.net/ubuntu/+source/xorg/+bug/1431714).
I manually remove some package and install it again to solve the conflict, I forget which specific package though.

[2015-07-23 08:14] bklooster commented on #227
I am also running the 10.11 beta and since the last patch the only problem I have is the steam overlay which affects all games. It appears Apple redid their accessibility control panel, so I figure getting a steam overlay working again will be a good chunk of work for the Steam team.

The command-tab thing was explained in #6 as that is the SDL windowing that they're going with.

As of the last pa

[2015-07-23 08:42] budimanjojo commented on #198
I've got a workaround for this issue using KDE. I changed the dota 2 video settings to monitor sized resolution borderless window (now it works after the addition of desktop-friendly fullscreen). After that, to make it fullscreen I made a window rule for dota 2 using kwin settings. See pictures
![2015-07-23_00002](https://cloud.githubusercontent.com/assets/13085918/8846440/6e7e81aa-3151-11e5-99a4-

[2015-07-23 09:48] SuperFlick commented on #244
after all i've installed 15.04 with mesa 10.5 and now reborn works fine. but 15.04 is not lts, so i'm waiting for more bugs=\

[2015-07-23 09:52] gluttonyGit opened #258 "Sound settings don't work"
I have really big problem with sound in Dota 2 Reborn.
I have several sound settings like as "Master Sound", "Game Sounds", "Music", "Voice" and "Unit speech".
I don't like music in dota 2 and tried to switch off it by "Music" setting. But this setting doesn't work! I can switch off music using "Game Sounds" setting and after that can't hear important sounds like sound when game search is ready.

[2015-07-23 10:35] mfilej opened #259 "[OS X] Desktop-friendly Fullscreen mode does not behave as proper fullscreen app"
With the default _Desktop-friendly Fullscreen_ mode, when cmd-tabbing away the game gets minimized to the dock. This is a somewhat cumbersome behaviour for OS X apps (minimizing windows is very unusual).

I don't know if this behaviour is intended or a bug. In case it is intended please take this issue as a suggestion.

In my opinion fullscreen games should work as regular OS X fullscreen apps. In

[2015-07-23 10:36] mfilej opened #260 "[OS X] Borderless window mode makes game appear behind dock and menubar"
When I go to Video settings and set Display Mode to Borderless Window, the dock and menubar will be visible above the game.

This is a problem I noticed the day after the OS X Reborn client came out, but it was then fixed. Now it reappeared (not sure when exactly because I haven't been active for the past 2 weeks).

Screenshot:
![screen shot 2015-07-23 at 12 25 02](https://cloud.githubusercontent.

[2015-07-23 11:48] YabosMcGee commented on #13
@gdrewb-valve That is, correct. Even if I switch around which monitor is primary, and which is secondary, Reborn always starts on the secondary monitor. Even when trying to force it using either
`-sdl_displayindex 0`
`-sdl_displayindex 1`

[2015-07-23 12:16] CommanderAlchemy commented on #13
@YabosMcGee

Maybe try with another wm? Maybe some gnomeshell feature or extension?

[2015-07-23 12:46] jeanlain commented on #260
I suppose this is intentional since the "desktop-friendly fullscreen" mode is supposed to be equivalent of a fullscreen borderless window. However, since there are issues with Vsync in fullscreen mode, I too would like to use the borderless window mode at full screen resolution without seeing the menu bar and dock.

[2015-07-23 12:49] jeanlain opened #261 "[Mac] Dekstop-friendly fullscreen dota 2 doesn't use its own space"
Since OS X Lion, fullscreen apps are expected to create their own space, which helps switching between fullscreen apps. This was the case for dota 2 until the 07/20 update, after which the fullscreen app does not sit in its own space.

[2015-07-23 12:49] jeanlain commented on #261
OK this was already reported

[2015-07-23 12:49] #261 closed, assigned to nobody

[2015-07-23 12:50] mfilej commented on #260
Why do you think it is intended to be like this? I don't suppose anyone finds this useful, am I wrong?

[2015-07-23 12:50] jeanlain commented on #259
Add me to those who would like to see this issue solved. Prior to the 07/20 update, fullscreen mode behaved properly.

[2015-07-23 12:54] jeanlain commented on #260
A regular window is generally not supposed to sit on top of menus and dock. In your screenshot, you use a window at full screen resolution. In this case it is recommended to simply use one of the two available fullscreen modes (which have their own problems, but this is another issue).
But I agree that they could just make the game window sit on top of everything else. I think it is easy to do in

[2015-07-23 12:56] mfilej commented on #260
I think that would be true for the Windowed mode. In Borderless the game acts far form a regular window For instance it has no chrome and it can't be moved around.

[2015-07-23 13:23] DeepDlueIV commented on #244
I can't solve this problem on 14.04 but i'm realy afraid to install 15.04. Last time it lives for a 2 day and then broke down my Boot loader

[2015-07-23 13:33] DeepDlueIV commented on #244
Valve! Were are you?

[2015-07-23 13:38] budimanjojo commented on #258
This issue are reported in Windows version too so I think this will not be tracked here by Valve

[2015-07-23 13:42] budimanjojo commented on #215
It also happens in the main menu. To reproduce try scolling the custom games lobby list quickly. It will go back and forward the menu opened

[2015-07-23 14:03] Ape commented on #87
Sand Storm also drops FPS quite a bit on my system. I usually have stable 80-150 fps that never drops below 60, but Sand Storm takes it down to around 45. With vsync enabled this is just simply stable 60 fps, or 30 with Sand Storm. There may be others effects that drop the FPS, but usually it stays above 60 even in fights.

[code]

[2015-07-23 15:03] blakeb155 opened #262 "[OSX] Graphics Failure In-Game and Hero Browser"
My client appears to run fine, however trying to play a game or browse heroes causes horrific graphics errors. (see photos)

I'm on an older machine that was top of the line at the time - Source 1 client works fine me.

Please help
![screen shot 2015-06-29 at 8 08 02 pm](https://cloud.githubusercontent.com/assets/13469795/8853437/f77aa0dc-319d-11e5-95be-07f8bcfc3a64.png)
![screen shot 2015-06-23 a

[2015-07-23 15:25] gdrewb-valve commented on #244
@DeepDlueIV, can you confirm which version of mesa you're using?  If you are using an older version with known issues upgrading is the best option.

[2015-07-23 15:28] gdrewb-valve commented on #227
michaelkclements was using a borderless window so I think Cmd+Tab should have worked.

[2015-07-23 15:31] gdrewb-valve commented on #13
@YabosMcGee, I'll pass this on to SDL that it looks like they aren't properly identifying which monitor is primary and which is secondary.  Hopefully that is also related to why the display index doesn't work, but I don't know.

[2015-07-23 15:33] michaelkclements commented on #227
Yeah sorry I didn't reply sooner. The cmd tab is working. Differently (like the genie in the bottle way), but it's working fine.

It seemed fine when I loaded it on the Public Beta 2 as well, except the shift tab overlay. I'll let you guys know if anything else pops up. Thanks very much.

[2015-07-23 15:35] gdrewb-valve commented on #258
Yes, this sounds like #239.  The larger team is aware of the issue.

[2015-07-23 15:35] #258 closed, assigned to nobody

[2015-07-23 15:36] gdrewb-valve commented on #259
The behavior of desktop-friendly fullscreen is by-design (and a future update will offer control over the minimization behavior).  You can use exclusive fullscreen mode if you want Reborn to run in true fullscreen.  If you use exclusive fullscreen are you getting the behavior you want?

[2015-07-23 15:39] gdrewb-valve commented on #260
@jeanlain is correct, Reborn deliberately offers multiple modes so that users can choose the behavior they want.  If you don't want to see desktop elements use one of the fullscreen modes.  For example, desktop-friendly fullscreen is very similar to a borderless window and doesn't cause mode switches like exclusive fullscreen.  Does it work the way you want?

[2015-07-23 15:41] gdrewb-valve commented on #227
So everything is OK at the moment?  I'll close this out, then.

[2015-07-23 15:42] #227 closed, assigned to nobody

[2015-07-23 17:05] sylware opened #263 "[linux] wraith king animation broken"
Since last update, the animation of a walking wraith king is broken.
(radeon tahiti xt with recent mesa stack)

[2015-07-23 17:07] sylware opened #264 "[linux] ward destruction leads to "red crosses" animation"
The animation of the destruction of a ward is a set of
"red crosses" falling on the ground since last update.

[2015-07-23 17:11] sylware opened #265 "[linux][alsa] equiped music pack buggy"
If you have an equipped music pack, you will get a mix
of the original reborn music with the equiped music pack,
and you cannot switch off the music in the audio option, the music slider is ignored.

[2015-07-23 17:15] sylware opened #266 "[linux][alsa] pcm and card setting"
With alsa, for sound output, for a card, we should be able to select the pcm.
For instance the "default" pcm for card 0 (should replace 0 with the full name), or surround51 for card 1, etc.

[2015-07-23 17:40] rained23 commented on #232
@Socapex is there a possible way to bypass this on OS level for now ? If you have mind to share ?

[2015-07-23 18:12] p-groarke commented on #232
I haven't been able to no. I haven't found a way googling either. I've added ~/Library/Application Support/Steam/SteamApps/common/dota 2 beta/game/bin/osx64 to the firewall, and the old executable was already there. This is the executable running when I checked with Activity Monitor, but it wont work. I'm thinking the firewall wants the certificate.

[2015-07-23 18:14] rained23 commented on #232
@Socapex maybe its not osx64 that host a game, there might be something running. I will try this too. Because I never had any firewall permission asked when I run as example mysqld or something that listening to a port.

[2015-07-23 18:15] davidef commented on #259
@gdrewb-valve
Before the last upgrade it was working just fine.
Now no setting works like the fullscreen setting of the old client and reborn earlier beta.
The game should have it's own space so you can swipe with trackpad/mouse/ctrl+arrow between game / desktop / other fullscreen app.
Or you can use expose (I think apple now call this mission control) and see the fullscreen app on top

[2015-07-23 18:24] gdrewb-valve commented on #259
We had to turn off spaces because of a couple of bugs we hit (filed against SDL, #3066).  Otherwise exclusive fullscreen is the same as the old fullscreen.

[2015-07-23 18:25] gdrewb-valve commented on #13
SDL bug #3062.

[2015-07-23 18:28] gdrewb-valve commented on #265
This isn't a Mac/Linux issue (music slider also already reported in #239).  The larger team is aware but we won't get direct tracking here.

[2015-07-23 18:28] #265 closed, assigned to nobody

[2015-07-23 18:29] gdrewb-valve commented on #266
Reborn uses SDL so we show whatever SDL enumerates.

[2015-07-23 18:29] gdrewb-valve commented on #263
Confirmed on Windows, the larger team is aware.

[2015-07-23 18:29] #263 closed, assigned to gdrewb-valve

[2015-07-23 18:40] gdrewb-valve commented on #146
Waiting on SDL bug #3068 to get more info on the glxMakeCurrent X11 error.

[2015-07-23 18:43] gdrewb-valve commented on #215
SDL bug #2987.

[2015-07-23 18:44] ribbley opened #267 "LoadSystemAndDependencies error in connect() GameUI011"
Hello, I updated the steam client (and loaded a reborn patch I think) and from yesterday on I get following error while launching through steam:
(small box appears after launching reborn->):
LoadSystemAndDependencies():
## AppSystemDict: Error in Connect() of interface: 'GameUI011'!

After that I started it from terminal to get a bit more information:

ribbley@saphira:~/.steam/steam/SteamApps/comm

[2015-07-23 19:02] gdrewb-valve commented on #267
You're missing a dependency, which is odd since usually that occurs when people aren't using the Steam runtime.  Does regular dota2 work?

[2015-07-23 19:02] gdrewb-valve commented on #267
#105 is a different example of this but in that case the Steam runtime wasn't getting used, just something to look at.

[2015-07-23 19:27] ribbley commented on #267
I've checked previous issues and tried something from that, and yes normal dota2 works fine (playing @ the moment :D ). Steam is running normally. Can I check steam for errors in some way?

[2015-07-23 19:30] gdrewb-valve commented on #267
The cache check you already did is the primary thing for Reborn.  For Steam itself you can do "steam --reset" in a terminal.

[2015-07-23 19:31] gdrewb-valve commented on #264
Just saw a similar report on Windows so I've passed this over to the larger team.

[2015-07-23 19:31] #264 closed, assigned to gdrewb-valve

[2015-07-23 19:57] gdmsl opened #268 "[LINUX] Problems with US international keyboard layout"
I cannot have bindings in game for the keys ' and `  when using the us international layout (us-acentos) where ' and ` are two modifier keys to get acentos on various letters. For example ` + e will give è and the character ` is obtained with ` + space. In the old client I had the ` assigned to the scoreboard and it worked.

xev gives this output when pressing the key:

[code]

[2015-07-23 20:53] ribbley commented on #267
wow! This did the trick for me! :) thanks a lot. reseted steam, downloaded 283 MB , and after 5 mins I ran reborn normally. Last time updating steam and ubuntu update ran side by side, so maybe it crashed this way somehow . Big thanks for that fast support.

[2015-07-23 20:53] #267 closed, assigned to gdrewb-valve

[2015-07-23 22:58] Disk1of5 commented on #13
**update**
Correction
-sdl_displayindex 1 does NOT work. it makes no difference

---

I am also having the same issue as as @wuschLOR but with Mint 17.2 Cinnamon, Primary monitor still is not being used as default but works when using -sdl_displayindex 1

[2015-07-24 01:24] gdrewb-valve commented on #6
With the 7/23 update you should be able to choose arbitrary resolutions with desktop-friendly fullscreen and use that as an exclusive fullscreen replacement.  I believe that's the only route to supporting Cmd+Tab with fullscreen that we have available.  Let me know if this works reasonably well.

[2015-07-24 01:24] gdrewb-valve commented on #172
@stealthpants, the 7/23 update should fix your issue, does it?

[2015-07-24 01:25] gdrewb-valve commented on #252
Do you still have the problem with the 7/23 update?

[2015-07-24 01:25] gdrewb-valve commented on #198
There is a chance the 7/23 update picked up the fix, give it a try.

[2015-07-24 02:15] bklooster commented on #262
Might be similar to problem #24. It appears you're using all using the same AMD/ATI cards that have the same level of OpenGL compatibility.

[2015-07-24 03:06] blakeb155 commented on #262
Ah yes, you are correct @bklooster that's definitely my issue (#24)

Sorry for the repost.

Valve team - let me know if I can provide any more info to support

[2015-07-24 05:12] videni commented on #252
no, it solved , but another problem shows up.I will create another issue.

[2015-07-24 05:14] videni opened #269 "All buttons won't respond until clicking several times, this happens occasionally."

[2015-07-24 05:58] r3pek opened #270 "PA Arcana kill markers missing"
Shows the "error" label instead...

[2015-07-24 06:02] bklooster commented on #238
This happened again after today's update. Launching the game the first time after the update and the mouse moves fine, but the mouse does not register the mouse buttons. It seems to handle button states fine in terms of hovered, but the actual input seems to be getting confused.

[2015-07-24 06:03] bklooster commented on #269
I think this is the same problem as #238 and only appears to happen the first launch after an update.

[2015-07-24 06:42] SuperFlick commented on #244
@gdrewb-valve mesa 10.3
we got the same problem with similar sys specs (intel hd 3000)

[2015-07-24 07:01] jeanlain commented on #260
It wouldn't hurt to make the borderless window float on top of the menu and dock, like it did before. I would personally appreciate it since the fullscreen modes have issues with V-Sync. If people want to put other windows on top of the game, they could choose the standard window mode.

[2015-07-24 07:11] gdrewb-valve commented on #260
Desktop-friendly fullscreen at monitor size is exactly equivalent to what monitor-sized borderless window was.

[2015-07-24 07:30] budimanjojo commented on #198
No it's not fixed yet.

[2015-07-24 07:47] mfilej commented on #259
Exclusive fullscreen doesn't let you switch away from the game in any way (that I could find; except for quitting the game altogether).

Ok, hoping that it will be able to be brought back at some point. :smile: Thanks for sharing the details!

[2015-07-24 07:51] mfilej commented on #260
I'm curious to hear what the use case is for having the dock/menubar float over in Borderless? Seems like you can't really play in that mode without clicking on the dock/menubar accidentally?

[2015-07-24 09:03] budimanjojo commented on #198
Here's another finding. The problem in this issue is not just that. Look at these screenshots:
![2015-07-24_00001](https://cloud.githubusercontent.com/assets/13085918/8870906/c0fdc5ba-321b-11e5-910f-8c2c2c6c3895.jpg)
![2015-07-24_00002](https://cloud.githubusercontent.com/assets/13085918/8870911/ce5679a0-321b-11e5-8e2f-5021a5448fc7.jpg)
See the mouse cursor (not captured idk why) position. Before

[2015-07-24 10:31] budimanjojo commented on #270
Not Linux/Mac specific issue I think

[2015-07-24 12:32] deksden commented on #24
Latest patch as of 24-07-2015 did not resolve this issue!

[2015-07-24 14:12] jeanlain commented on #248
Were you able to repro this issue? Because it's very real on my Mac and wouldn't go away after several restarts and tests with Quartz Debug. Right now I can't play the game at full display resolution. I'm either having frame rate issue in fullscreen mode, or the menu bar masking part of the game (namely the hero colors) in windowed mode.

[2015-07-24 14:29] jeanlain commented on #260
Arguably, this allows putting another app on top of the game (say your twitter app ;-) with the game being still visible. But this is never really useful, and if you want that, you could choose the standard window mode instead. Since the borderless mode allows the window to be as large as the monitor, there is an argument that it should be on top of the menu bar and dock.

[2015-07-24 14:36] danginsburg commented on #262
This is a duplicate of #24.  I have filed a Radar with Apple and am in contact with AMD.  I will post progress if there is any.

[2015-07-24 16:42] sylware opened #271 "[linux] cannot delete downloaded games"
I downloaded one of my game... cannot delete it. It does not appear.

[2015-07-24 16:47] msjyoo commented on #198
Let me know which specific build contains the patch and I'll try it and report if I can still reproduce the bug.

[2015-07-24 18:24] gdrewb-valve commented on #248
The odd thing is that desktop-friendly fullscreen is identical to what a monitor-sized borderless window was, yet you see a vsync issue with desktop-friendly fullscreen but you didn't with a borderless window.  That makes this a very strange issue.

That's aside from whether vsync is causing issues in exclusive fullscreen, which ideally it shouldn't.

[2015-07-24 18:26] gdrewb-valve commented on #269
Sounds like it, closing.

[2015-07-24 18:26] #269 closed, assigned to nobody

[2015-07-24 18:28] gdrewb-valve commented on #270
This does occur on Windows also and the larger team is aware of it.

[2015-07-24 18:28] #270 closed, assigned to gdrewb-valve

[2015-07-24 18:29] gdrewb-valve commented on #271
Which game?  If you download others does the same thing happen?

[2015-07-24 18:30] gdrewb-valve commented on #252
Thanks, closing.

[2015-07-24 18:30] #252 closed, assigned to gdrewb-valve

[2015-07-24 18:33] gdrewb-valve commented on #259
Reborn doesn't have control over the Cmd+Tab behavior in exclusive fullscreen (from discussions with the SDL devs apparently the basic event loop is different) so unfortunately that behavior is not going to change any time soon as far as I know.

[2015-07-24 18:34] gdrewb-valve commented on #259
Cmd+Tab is covered by #6 and the lack of spaces is covered by #237.  Does this issue still need to be open?

[2015-07-24 18:42] gdrewb-valve commented on #260
We made the settings change to attempt to be consistent.  Windowed modes are windows and work like all other windows, which means they are underneath the desktop elements like the dock.  Fullscreen modes take over the whole screen and hide desktop elements.  Previously it was somewhat strange that a borderless window 1 pixel smaller than the monitor would be under the dock but one exactly matching

[2015-07-24 18:43] gdrewb-valve commented on #260
Aside from the discussion of what modes should be offered is there an issue here that isn't already in other issues?  I'm going to close this out.

[2015-07-24 18:46] gdrewb-valve commented on #198
It'll be the next update but I don't have firm details on when exactly that'll be.

[2015-07-24 18:49] gdrewb-valve commented on #237
SDL bug #3066.

[2015-07-24 19:03] gdrewb-valve commented on #248
As for a repro I have one of our low-end test Macs, an old Mac Mini, so my numbers may not be meaningful.  I ran at exclusive fullscreen 1280x800 no vsync and averaged about 35fps.  Turning on vsync dropped my perf to about 27fps, which is expected since perfectly hitting the vsync'ed frame times would be 30fps and we have enough variability that we do not perfectly hit the frame times all of the

[2015-07-24 19:42] mfilej commented on #259
I'm not completely sure what #237 describes, does it cover spaces switching?

If that's the case then I'm happy to wait until upstream bugs get resolved.

[2015-07-24 19:42] mfilej commented on #260
Feel free to close, thanks for the feedback. :heartbeat:

[2015-07-24 19:50] gdrewb-valve commented on #259
Yes, #237's original issue was the loss of space switching.  Closing.

[2015-07-24 19:50] #259 closed, assigned to gdrewb-valve

[2015-07-24 19:51] gdrewb-valve commented on #260
Thanks, closing.

[2015-07-24 19:51] #260 closed, assigned to gdrewb-valve

[2015-07-24 20:41] gdrewb-valve commented on #270
Can you run the game in a terminal and post the game spew from that?  That'll help the larger team isolate the issue.

[2015-07-24 22:09] jeanlain commented on #248
This is different from what I'm seeing. I've tested precisely again with the 07/23 update, on the hero demo map, using Legion Commander and monitoring fps while the game is paused, the little pool at the bottom left being visible. With everything on except ambiant occlusion and V-Sync, I get 70+ fps in borderless window mode at native monitor resolution. With V-Sync on I get 60 fps. Once I switch

[2015-07-24 22:22] gdrewb-valve commented on #248
I think the text description is sufficient for now.  Dan might have more luck with a repro.

[2015-07-24 22:54] r3pek commented on #270
Nothing shows up on the terminal aside from the normal loading of the game (neither from game nor steam). On the game console there is this, but I guess you already have this one.

ERROR: RESOURCE_TYPE_MODEL resource 'models/heroes/attachto_ghost/pa_gravestone_ghost.vmdl' (BE8B846A8E07D6E5) requested is not loaded and may have been deleted.

[2015-07-24 23:11] gdrewb-valve commented on #198
Oops, looks like they did another update today, it's not in that one.

[2015-07-24 23:15] budimanjojo commented on #198
Yeah. I just saw it, small update to fix some gameplay related bug. No problem I already told my mind that next big update should be at least another 10 days or so :)

[2015-07-24 23:42] gdrewb-valve commented on #270
Thanks, I've passed that on.

[2015-07-25 00:23] sylware commented on #271
On Fri, Jul 24, 2015 at 11:29:34AM -0700, Drew Bliss wrote:

One of my games. Have not tried to download other types of games, yet.

[2015-07-25 01:24] WhiteAxe commented on #234
this is what my open gl info is and I get that exact error it says update your open gl drivers
server glx version string: 1.4
client glx version string: 1.4
GLX version: 1.4
OpenGL core profile version string: 3.3 (Core Profile) Mesa 10.1.3
OpenGL core profile shading language version string: 3.30
OpenGL version string: 3.0 Mesa 10.1.3
OpenGL shading language version string: 1.30

[2015-07-25 01:28] r3pek commented on #270
It's fixed on today's update.

[2015-07-25 05:13] gdrewb-valve commented on #271
Can you give me the specific name so that we know exactly which one it is?

[2015-07-25 12:30] sylware commented on #271
I don't know how knowing my game id will help: 1653416671. I tried to download "friends" replays... that I was unable to do, yet, since they were all source 1 replays.

[2015-07-25 12:37] sylware opened #272 "[linux] item/armory management does not work"
I cannot equip/unequip items. I cannot change the global loadout, or hero loadout...

[2015-07-25 16:33] gdrewb-valve commented on #271
Sorry, I thought you meant you had downloaded a custom game mode.

[2015-07-25 18:35] sylware opened #273 "[linux] hotkey mouse button does not show up"
When I configure an "hotkey" to be a mouse button, it does not show up.

[2015-07-25 19:30] gdrewb-valve commented on #272
Not a Mac/Linux issue.  I'm not sure this is fully hooked up at the moment.

[2015-07-25 20:46] manicmouse opened #274 "[OSX] Low FPS on Intel Iris (5100)"
I know this issue has been brought up before, but it isn't resolved.  In a previous thread a developer was saying he was getting 50fps at lowest settings on an intel HD4000.

On lowest settings on my Intel Iris I get 40fps max.  In comparison to DOTA source 1 the performance is completely abysmal.

Given that source one was basically emulating direct X I expected the performance of Reborn to blow

[2015-07-25 21:29] sylware opened #275 "[all] wyvern icon missing from minimap"
mini wyvern icon is missing in minimap

[2015-07-25 22:25] gramathy commented on #174
Curiosity and testing show that the G13 is the cause of the "permanent" screwiness and that the SNES!joystick works fine once you do something with it while the G13 keeps doing unexpected stuff.

[2015-07-26 03:52] gdrewb-valve commented on #274
Duplicate of #245/#246.  This is a 5100 but presumably the underlying cause is the same for all of this.

[2015-07-26 03:52] #274 closed, assigned to nobody

[2015-07-26 03:53] gdrewb-valve commented on #275
Happens on Windows also, the larger team is aware.

[2015-07-26 03:53] #275 closed, assigned to nobody

[2015-07-26 06:29] DeepDlueIV commented on #244
mesa10.3 default trusty 14.04

[2015-07-26 08:42] ssnl opened #276 "[Mac] Weird UI issue at lobby list"
<img width="1440" alt="screenshot 2015-07-26 01 41 44" src="https://cloud.githubusercontent.com/assets/5674597/8893115/9e08125a-3337-11e5-9975-4261983e2b4a.png">

The "Browse DotA Lobbies" text is cropped.

[2015-07-26 11:46] sylware opened #277 "[linux] message box does not handle long messages"
If you type a long message, there is no linefeed/carriage return and size extension, then you can see only a part of the message.

[2015-07-26 12:33] sylware opened #278 "[linux] often, messages are not received and/or sent"
In a party, or via steam (whisper), messages are not sent and/or received.

[2015-07-26 12:54] sylware opened #279 "[linux] emoticons are gone"
today, my emoticons are gone (regression).

[2015-07-26 16:42] SaifurRahmanMohsin commented on #1816
+1

[2015-07-26 16:45] mohsin commented on #227
No steam overlay still doesn’t work. That’s a big issue that needs to be patched soon
+1

[2015-07-26 17:38] gdrewb-valve commented on #227
This isn't a Steam bug tracker so the overlay issue isn't being monitored here.  The last I heard from the Steam team they are waiting for Apple to address the issue since it is new Apple software that has broken Steam.

[2015-07-26 17:38] gdrewb-valve commented on #276
Probably not a Mac/Linux issue.  What resolution are you running at?

[2015-07-26 17:39] gdrewb-valve commented on #277
Not a Mac/Linux issue.

[2015-07-26 17:42] gdrewb-valve commented on #279
Reborn had no updates since Friday.  What about your system changed, or have you not tried emoticons recently?

[2015-07-26 17:42] gdrewb-valve commented on #278
Not a Mac/Linux issue.

[2015-07-26 17:46] gdrewb-valve commented on #278
Is the "Mute all chat" button ever set?

[2015-07-26 18:00] Scias commented on #279
Had the same issue today (now fixed) but it has nothing to do with Reborn or the Linux client. It happens when the Dota network is offline (You "lose" all your items during that time).

[2015-07-26 18:22] Scias opened #280 "[Linux?] (Custom games) Wrong host displayed in Lobby List"
Hello,
I'm not sure if this is a Linux-specific issue but I failed to reproduce it on Windows (could be just bad luck tho).
So basically sometimes when joining a custom game lobby, the displayed Host won't be hosting after everyone presses accept and I will be hosting the game instead even if I wasn't the lobby host in the first place.
Managed to catch this on video : https://www.youtube.com/watch

[2015-07-26 18:26] mohsin commented on #227
Ah alright. Thanks for the info. I suppose Apple would fix it by the time El Capitan official version comes out or hopefully in the next update 😄

[2015-07-26 18:48] gdrewb-valve commented on #280
This apparently can happen on Windows also, I've passed this on to the larger team.

[2015-07-26 18:48] #280 closed, assigned to gdrewb-valve

[2015-07-26 19:40] MrSchism commented on #1822
Please don't keep spamming.

[2015-07-27 00:19] gdrewb-valve commented on #277
The larger team is aware of the issue and apparently it's not simple to fix but they do have it on their work list.

[2015-07-27 00:19] #277 closed, assigned to gdrewb-valve

[2015-07-27 02:50] blakeb155 commented on #24
Top of the line 2009 iMac 27' - exact same issue for me.

[2015-07-27 04:02] r3pek opened #281 "[Linux] Uncategorized Armory really slow FPS"
When viewing the armory and deselecting the "category view" I get a really low (3-10) FPS while on every other place on the game I have really good (300 with vsync turned off) FPS.

I have a GTX770 4GB with proprietary drivers.

[2015-07-27 07:24] ssnl commented on #276
1440*900

[2015-07-27 11:22] danginsburg commented on #24
As I mentioned in #262, we have filed a Radar with Apple on this issue and are awaiting an update.  I will post progress when I hear something back on this.  We are aware this is impacting HD 2600 and HD 4850.  If there are any other GPUs that you see this on, please let us know.

[2015-07-27 11:25] deksden commented on #24
@danginsburg : Yup. Tnx - did not read #262, now i m subscribet for that issue too.

Yes, you are right - my card is ATI Radeon HD 4850.

[2015-07-27 11:36] danginsburg commented on #281
@r3pek Can you post a screenshot?  I am not able to repro this, but I wonder if you have a large number of items you are displaying?

[2015-07-27 17:59] r3pek commented on #281
Here are the screenshots:

![image](https://cloud.githubusercontent.com/assets/3050556/8913558/2de1a682-3489-11e5-9401-be2d0380d03e.png)
![image](https://cloud.githubusercontent.com/assets/3050556/8913562/36b01e2e-3489-11e5-98ba-7dbbe09fc87b.png)

I have a total of 764 items

[2015-07-27 18:19] gdrewb-valve commented on #272
Confirmed that this is still a work in progress for all platforms.

[2015-07-27 18:19] #272 closed, assigned to gdrewb-valve

[2015-07-27 18:20] #279 closed, assigned to gdrewb-valve

[2015-07-27 18:26] gdrewb-valve commented on #276
I can't repro this on Windows, Mac or Linux.  It's possible it has been fixed and that just hasn't made it out yet, we'll have to see after the next update.

[2015-07-27 18:37] gdrewb-valve commented on #232
I'm not sure if this would help or not but it seemed interesting.  http://robcottingham.ca/2008/03/os-x-applications-constantly-asking-permission-to-accept-incoming-connections-heres-a-fix/

[2015-07-27 20:28] gdrewb-valve commented on #6
Closing as there is no current way of adding the enhancement of Cmd+Tab in fullscreen.

[2015-07-27 20:28] #6 closed, assigned to gdrewb-valve

[2015-07-27 20:28] gdrewb-valve commented on #8
Closing as this sounds resolved.

[2015-07-27 20:28] #8 closed, assigned to nobody

[2015-07-27 20:29] gdrewb-valve commented on #32
Closing as this is understood.

[2015-07-27 20:29] #32 closed, assigned to nobody

[2015-07-27 20:45] gdrewb-valve commented on #268
SDL is not generating key up/down events for this key as it's part of the accent composition.  I've opened SDL bug #3076 for this to see if they can change their behavior.

[2015-07-27 20:48] gdrewb-valve commented on #69
SDL issue #3075 discusses adding system notification support to SDL itself, which we could potentially switch to.

[2015-07-27 21:01] sylware commented on #266
It seems SDL2 should combine all PCMs with card/subdev and let games enumerate all those combinations (with the default PCM as the prefered/first choice).

[2015-07-27 21:03] sylware opened #282 "[linux][minimap] enemy wards are overlayed by our own wards"
Our wards overlay enemy wards in minimap :(

[2015-07-27 21:04] gdrewb-valve commented on #271
Not a Mac/Linux issue, I've passed this on to the larger team.

[2015-07-27 21:04] #271 closed, assigned to gdrewb-valve

[2015-07-27 22:59] gdrewb-valve commented on #253
I was able to repro issues with the initial state of the audio device dropdown, a fix for that will go out in the next update.  I wasn't able to repro a hang but I found https://forums.libsdl.org/viewtopic.php?t=9457&sid=ac1ba90da23d6295b4a5fa4dff28bae7 so it's possible the hang you're seeing is in SDL.  I did find an issue where Reborn was resetting audio state much too often when clicking throug

[2015-07-27 23:07] gdrewb-valve commented on #273
This happens on all platforms and the larger team has it on the bug list.

[2015-07-27 23:07] #273 closed, assigned to gdrewb-valve

[2015-07-27 23:08] phoerious commented on #253
Thanks. The issue with having no audio after starting Dota is 100% reproducible here. I always have to unplug my headset, then sound is working. When I then plug it back in, it keeps working until I restart Dota.
Are there maybe any logs that could be of interest for you? E.g. pulseaudio -vvvv?

[2015-07-27 23:13] gdrewb-valve commented on #278
Everything worked fine for me with basic testing.  I created a lobby, had another person join it and all lobby chat messages worked fine.  Are there specific situations in which this occurs?

[2015-07-28 01:04] gdrewb-valve commented on #255
Confirmed this on Windows and I've passed this on to the larger team.

[2015-07-28 01:04] #255 closed, assigned to gdrewb-valve

[2015-07-28 01:06] gdrewb-valve commented on #282
I've passed this on to the larger team.

[2015-07-28 01:06] #282 closed, assigned to gdrewb-valve

[2015-07-28 02:16] sylware commented on #278
On Mon, Jul 27, 2015 at 04:13:11PM -0700, Drew Bliss wrote:

I could not identify any pattern.

[2015-07-28 02:18] gdrewb-valve commented on #278
We'll have to try and find a repro.  As this doesn't appear to be a Mac/Linux issue that'll most likely be checked first by the larger team.

[2015-07-28 02:24] sylware opened #283 "[linux][alsa] buffer underrun"
In each dota2 reborn session, after a while playing the game, I get often an alsa buffer underrun then rainy audio.
The alsa log message is spamed in the steam client log.
I could not find any pattern in order to reproduce.

[2015-07-28 02:36] danginsburg commented on #256
This has been fixed.  The fix will be in the next update.

[2015-07-28 03:40] rained23 commented on #232
@gdrewb-valve can I know which binary that actually trying to accept the incoming connection ?

[2015-07-28 04:04] gdrewb-valve commented on #232
The executable is dota2 in game/bin/osx64.  The particular dylib is most likely networksystem.dylib.

[2015-07-28 04:08] gdrewb-valve commented on #181
We heard back from the SDL team and apparently this has to do with starting from a shell script.  We can potentially change how Reborn is packaged to fix it.

[2015-07-28 09:29] letharion opened #284 "Reborn freezes completely when "Accepting" if the game is not in focus."
Can repro every time.

1) Search for game.
2) Alt-tab out to look at guide or whatever.
3) Get notification that "Your game is ready".
4) Try to alt-tab in, and notice that your entire system is moving at a glacier speed that makes it completely impossible to re-enter the game in time.
5) Problem resolves itself as soon as you get booted from the queue, now with a 10 minute ban on your head. ;(

N

[2015-07-28 09:29] letharion commented on #1824
Ops, opened on wrong project.

[2015-07-28 11:58] Paxa commented on #1247
Was having same issue, on macbook air (mid 2013). This thread helped me http://dev.dota2.com/showthread.php?t=59984

[2015-07-28 14:05] phoerious commented on #205
After getting a new mainboard and CPU (as said above) which mitigated the issue a bit, I now also got a new graphics card (GTX 960, 4GB RAM). With this new graphics card, I have no frame rate drop at all. So this is most likely an issue with lower profile graphics cards which obviously have less RAM to work with.

[2015-07-28 15:03] danginsburg commented on #245
I have spent a lot of time looking at perf on Haswell on OSX.  I have a fix for one of the big performance issues.  We have a vertex shader that outputs more than 8 interpolators for drawing the world geometry.  It turns out that the HD5000 driver is punting to SW to execute this vertex shader.  It is unclear to me why this is the case because the hardware is capable of >8 interpolators so it appe

[2015-07-28 15:59] gdrewb-valve commented on #284
I believe this happens on Windows also, checking.

[2015-07-28 16:30] phoerious commented on #253
I noticed that I also have no sound in some other SDL-based games, like The Witcher II and ARK. Unfortunately, unplugging the headset doesn't fix it for those games, but maybe the issue is the same.
I tried to run the games directly from the command line, but wasn't able to get any useful debug output. Is there a way to get debug output in Dota2 Reborn? It would probably help me solving this issue

[2015-07-28 16:50] michaelkclements opened #285 "[OS X] Crashing after quick fast-forwarding a replay"
There's a bug that crashes Dota when you watch a replay and press the 10s forward button over and over.

I know it's a pretty harsh one but I was trying to find the time of an event in the game I was watching and it crashed after pressing it again and again.

I've tried it several times and pressing it quickly gets it to crash quicker it looks like.

Here's a pastebin of the crash log http://paste

[2015-07-28 20:32] gdrewb-valve commented on #281
This is a problem on Windows also and we've passed it on to the larger team.  They're looking into it and it won't be tracked here.

[2015-07-28 20:32] #281 closed, assigned to danginsburg

[2015-07-28 21:14] gdrewb-valve commented on #285
Confirmed on Windows, passing to the larger team.

[2015-07-28 21:14] #285 closed, assigned to nobody

[2015-07-28 21:18] gdrewb-valve commented on #284
Confirmed on Windows, passing to the larger team.

[2015-07-28 21:18] #284 closed, assigned to gdrewb-valve

[2015-07-28 23:29] MrSchism commented on #1825
Please stop this.

[2015-07-29 01:54] rained23 commented on #238
This happen to me too, each launch will cause your mouse not working, I need to move and press randomly anywhere until the mouse icon turn to Reborn cursor. Most of the time I just keep pressing exit reborn button or go to the top right corner repeatedly until the desktop cursor turn into reborn (focus into reborn).

[2015-07-29 07:03] dmpanch commented on #245
The same here: still 30 FPS on the same MacbookAir.

[2015-07-29 07:10] budimanjojo commented on #198
Confirmed the latest update fixed this bug. Thanks gdrew :)

[2015-07-29 07:17] budimanjojo commented on #198
Closing this issue now

[2015-07-29 07:21] budimanjojo commented on #205
@Manko10 The release note of the latest update seems like this issue is fixed. Tried myself it transitioned perfectly smooth now

[2015-07-29 07:58] budimanjojo opened #286 "Issue when moving window to other monitor"
I think this is somehow related to issue #198.
As the issue with chatwheel is now fixed (which I thought should also fixed this bug), but not.
To reproduce:
1. Use Cinnamon window manager (I think other WM is also the same)
2. Under Keyboard - Keyboard Shortcuts - Windows -Inter-monitor - Move window to left/right monitor, bind something (defaulted to Super-Shift-Left/Right).
3. Open Dota 2 Reborn

[2015-07-29 09:18] ghost commented on #205
Seems to be fixed here too. The framerate when playing is now around 50-60 for me and opening the menu now only drops to around 40 FPS. But the greatest thing is that it goes back up to 50-60 when closing the menu.

Thanks!

[2015-07-29 10:37] phoerious commented on #205
Great, then I guess this can be closed.

[2015-07-29 12:38] danginsburg commented on #256
Confirmed fixed in 7/28 update.  Closing.

[2015-07-29 12:38] #256 closed, assigned to danginsburg

[2015-07-29 12:42] danginsburg commented on #246
@materemias Can you try the 7/28 update and report back on your in-game perf numbers at low and medium-low settings?  It includes several performance optimizations, I would like to know if it improved things on your configuration.

[2015-07-29 13:10] materemias commented on #246
@danginsburg here my results:
in menu the heroes sub menu (displaying 3 heroes side by side): drops to 25-30fps from 70
1440x900, low settings: 40-45 fps (much improved, but still doesn't seem like 40fps, with small stops and laggs pretty often)
1440x900, med-low: 20-25 fps (also some improvement here, graphics is on playable level here)
1440x900, med-high: 16-19 fps
1440x900, high: 15-18 fps

[2015-07-29 13:36] shaddow2k opened #287 "[Regression] After the latest update (July 28), watching games from the watch tab doesn't work anymore"
As stated in the title, watching games from the watch tab in the main menu doesn't work anymore.

Not sure if Linux specific, as I have no Windows installation, but it worked before. Judging from the 0 spectators for the top ten games I guess it is a general problem though.

Note: Watching games via rightclicking a friends name still works.

[2015-07-29 20:41] gdrewb-valve commented on #287
Are you watching live games?  I just tried it and there were people spectating on the live games page.  Were you trying to download a replay?

[2015-07-29 20:44] gdrewb-valve commented on #146
We have picked up the SDL fix for 3068.  Reborn will still not work but should give some more interesting output on the terminal.  Can you try again and see if the behavior is any different?

[2015-07-29 20:48] gdrewb-valve commented on #253
Did the 7/28 update fix the initial dropdown value?  Did it have any effect on the no-initial-sound issue?  From your post about other games also having problems it likely won't.

Unfortunately there's no special debug output for sound in Reborn, plus we use SDL so the underlying audio implementation is hidden from Reborn.

[2015-07-29 20:48] gdrewb-valve commented on #276
Did the 7/28 update change this?

[2015-07-29 21:06] gdrewb-valve commented on #286
If you switch to windowed mode and move the window from screen to screen with the mouse does the problem still occur?  I just tried that on Windows and it worked fine but it could be the wrong repro or the problem could be Linux-specific.

The game isn't good about being moved between windows while running (you won't get the correct resolution list, for example) so it's also possible it's somethin

[2015-07-29 21:08] budimanjojo commented on #286
The problem doesn't occur on windowed mode and borderless full resolution
mode. No, two of my monitors are the same monitors, so it couldn't be
resolution issue.
On Jul 30, 2015 4:06 AM, "Drew Bliss" notifications@github.com wrote:

[2015-07-29 21:10] budimanjojo opened #288 "Left Alt Button not working on auto-cast"
Tried playing Clinkz and used Alt+W to auto cast the second skill, it didn't work. Source 1 works.

[2015-07-29 21:18] gdrewb-valve commented on #286
I meant if you start fullscreen, switch to windowed, drag the window to a different monitor and then switch back to fullscreen.

[2015-07-29 21:18] Tele42 commented on #1826
@deri82 why are you trying so hard to get yourself banned from this github issue tracker?  This is not acceptable or constructive behavior.

[2015-07-29 21:34] budimanjojo commented on #286
Tried that, the mouse cursor is good after doing that, but the chatwheel still broken after that.

[2015-07-29 21:36] gdrewb-valve commented on #288
Do you mean toggling auto-cast on and off?  Does this happen in the hero demo?  I just tried a quick test with Clinkz demo, levelled up and selected the second skill and was able to toggle auto-cast.

There are a couple of other bugs in here about people with environments where Alt is meaningful to the window manager, does it mean anything on your system?

[2015-07-29 21:39] budimanjojo commented on #288
I tried it in Bot Match. I'm using 3 environments, this happened on Cinnamon. Will try kde and xfce when I have time. But Source 1 works though, so I don't think this is DE issue.