[2015-01-01 16:25] fernandofleury commented on #1658
Can you provide a bit more of details on how to reproduce that behavior?

[2015-01-01 16:27] fernandofleury commented on #1636
Have you tried updating your Razer Drivers?

Does it only happens on Dota 2? If it is, does it only happens when you are playing the game? Or does it happens when you are expectating games as well?

Could you try reproducing the bug with another mouse as well?

[2015-01-01 16:28] fernandofleury commented on #1657
The behavior just happened once? If so I think its dev forums wise. Doesn't sound like a platform bug.

[2015-01-01 16:32] fernandofleury commented on #1615
Are you using the default macbook microphone? If not, does it happens when you are using another microphone, for example a headset?

[2015-01-01 16:35] fernandofleury commented on #1652
You get 30 fps with any setting? For example: Setting quality to low vs high you get the same fps?

Are you using the custom weather effects?

[2015-01-01 17:47] gxgani commented on #1615
It happens both with in-built and inline mic as well(mdr-x10).

[2015-01-01 23:10] Plagman commented on #1649
Can the people affected by this see if today's update affects the issue by spectating games with Earth Spirit? You can filter by hero in the "Live Games" tab to that effect.

[2015-01-01 23:24] stith commented on #1649
Seems to be working great so far! I've spectated an Earth Spirit match for about 10 minutes with no problems.

[2015-01-02 20:16] krobelus commented on #1644
I may have the same issue (arch linux, [system information](https://gist.github.com/krobelus/1ec0500fae4288faebe0#file-steam-system-information))
As I had disabled VSync I did not have the issue but since upgrading to kernel 3.18 I  have had constant frame drops when just moving my hero around.

[2015-01-03 06:17] deadcpu commented on #1658
Completely random.  Play a few game or games with the OSX client and it will happen.  No way to specifically reproduce it.

[2015-01-03 12:06] chiamjohn commented on #1649
Hello! I play Dota on my Macbook and i love playing Earth spirit, but this crashing problem makes the game crash at least once in every earth spirit game I play. My brother and I both experienced a crash today (when i was playing Earth Spirit, and my brother was playing a pub against an earth spirit). Therefore I think this bug has not been fixed.

[2015-01-04 03:52] Vuccappella commented on #1649
Hi, I just played with an earth spirt on my team and the game crashed 3 times. This update did not fix this bug.

[2015-01-04 13:55] gxgani commented on #1649
16 days later, no updates have been issues to mac. I've got 2 abandons already because of Earth Spirit.

[2015-01-04 14:25] hoanghuy89 opened #1660 "Steam can't auto reconnects on mac after network back"
There are two parts in this issue, the first issue is Steam cannot reconnect that leads to other issue, still I'll list them all

1. The first part can be easily reproduced as follow:
- Find and play a normal game
- Disconnect to internet, for 2 or 3 mins
- Reconnect to internet, both Dota 2 and Steam just stay "Lost connection to Steam" forever

2. The second part as follow:
- After reconnected t

[2015-01-05 17:42] Vuccappella commented on #1649
Process:         dota_osx [46220]
Path:            /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:      dota_osx
Version:         ???
Code Type:       X86 (Native)
Parent Process:  bash [46217]
Responsible:     steam_osx [40373]
User ID:         501

Date/Time:       2015-01-05 16:43:28.391 +0000
OS Version:      Mac OS X 10.9.5 (13F34)
Report Version:  11
Anonymous UUID:  979

[2015-01-06 07:24] Orange-Fox commented on #583
MacBook Pro Retina 15" late 2012 OS X 10.10.2 – the latest update brought thus problem again.

System report:

 Model Identifier:	MacBookPro10,1
  Processor Name:	Intel Core i7
  Processor Speed:	2,3 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  Memory:	8 GB

NVIDIA GeForce GT 650M:

  Chipset Model:	NVIDIA GeForce GT 650M
  Type:	GPU
  Bus:	PCIe
  PCIe Lane Width:	x8
  VRAM (Total):

[2015-01-07 14:07] SaberSalv commented on #1634
Confirmed @letharion's method, I have the same issue before, after I install [ xserver-xorg-video-intel	2:2.99.917](https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers) on Ubuntu 14.10, Dota 2 hasn't been frozen for days.

[2015-01-07 19:41] richardramirez commented on #1665
Well it looks like i found a solution - SELinux denies execheap so you need to add proper policy to allow it.

Fps drop still persists.

[2015-01-08 01:18] Vuccappella commented on #1649
Earth Spirit still crashes game since latest update, it Is still not fixed.

[2015-01-08 10:18] Orange-Fox commented on #1663
Already fixed, not sure if permanently, but fixed. Thanks.

[2015-01-08 13:14] aquaraider11 commented on #1490
Fixed.
And closed as it is fixed.

[2015-01-08 20:04] nlhnt commented on #1652
Actually it is on set on high, and I am using custom weather effects.
I didn't try to lower the settings because this hardware can easily get 100 fps on windows... (playing right now)

[2015-01-09 00:20] Plagman commented on #1649
Can you try the update that just

[2015-01-09 18:29] chiamjohn commented on #1649
Just played 2 games and watched another 2 games with earth spirit, and no crash!
Seems like the new update fixed the issue. THANK YOU!

[2015-01-10 18:41] vladtenet commented on #1630
I have two notebooks with same specs..
i7 16GB Ram, SSD, same installation of dota2 and config.
GTX980m lagging
HD8970m smooth
Seams this problem is only with nvidia cards.

[2015-01-11 07:03] dhiru1602 commented on #1667
@Gordon01 and @fomich-artem also reported the same issues.

https://github.com/ValveSoftware/Dota-2/issues/1272
https://github.com/ValveSoftware/Dota-2/issues/632

[2015-01-12 00:01] Plagman commented on #1666
Hello, yes, having the custom games client available on all platforms where Dota 2 is currently supported is our eventual goal, but it might not all come before the Alpha is over. Thanks!

[2015-01-12 01:38] Vuccappella commented on #1666
Thanks for the reply!

[2015-01-12 02:31] lewisdiamond opened #1669 "Poor network conditions detected"
Hi,

Could you please create a patch such that 30s of poor network conditions don't immediately throw away 30+ mins of normal gameplay? This is getting very annoying. Especially since most of the time, the issue is resolved in just a few seconds.

Maybe consider pausing for 3-5 mins until the problem is resolved or ask for players to vote and require a majority.

[2015-01-12 04:41] lewisdiamond commented on #1669
Ok, 64 mins game and @ 60mins, Game is safe to leave!!!!!

Barely 30 seconds lag overall!

[2015-01-12 16:12] Tele42 commented on #1669
This sounds like it is OS independent, also posting at http://dev.dota2.com/forumdisplay.php?f=4 may increase your odds of this being resolved

[2015-01-12 17:17] lewisdiamond commented on #1669
Yea I posted it on the dev forum. I was not aware that this github was for OS specific issues only.

[2015-01-12 17:58] Tele42 commented on #1669
It varies slightly per issue tracker, the general trend is mac and linux client issues. We have been told the general pool of valve devs do not look at these issue trackers, just the ones focusing mac and linux.

[2015-01-17 21:22] fastpars commented on #1664
Have a same bug on Arch Linux
X 1.16.3
i3wm 4.8

[2015-01-19 05:51] grantholly commented on #1482
updating --

Still on (lspci -vnn | grep VGA) the same hardware:
01:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc. [AMD/ATI] Curacao PRO [Radeon R9 270] [1002:6811] (prog-if 00 [VGA controller])

This bug has completely gone away.

[2015-01-19 22:56] fastpars commented on #1664
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  6300 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-01-19 23:09] pbojinov commented on #37
The offset is present for me on OSX 10.0.1 with Steam Client version built on Nov 25, 2014.

[2015-01-19 23:13] pbojinov commented on #332
adding `+sdl_displayindex 1` to launch options fixed it for me on OSX 10.10.1 with latest steam client

[2015-01-21 23:53] alfrenerd commented on #1670
When it crashes, it crashes only when I put a new stone near Earth Spirit.

[2015-01-22 03:47] anthonyalberto commented on #1637
:+1: it's very annoying ... crashes approximately once every game or two

[2015-01-22 12:40] vrodic commented on #1664
Yeah, me too. Ubuntu 14.10, Mesa Intel (IvyBridge) or nVidia proprietary driver, Google Chrome  39.0.2171.99.

[2015-01-23 02:59] Vuccappella commented on #1637
Process:               dota_osx [13386]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:            dota_osx
Version:               ???
Code Type:             X86 (Native)
Parent Process:        bash [13383]
Responsible:           steam_osx [3390]
User ID:               501

Date/Time:             2015-01-23 02:58:20.908 +0000
OS Version:            Mac O

[2015-01-23 12:04] who-me commented on #1332
I'm seeing this too. Steam sysinfo below:
https://gist.github.com/who-me/0227d06a87bb2d862f99

Happened with the 331 drivers that Ubuntu 14.04 comes with by default.

An easy way to reproduce it messing with the vsync setting.

[2015-01-23 14:17] richardramirez commented on #1672
**I have exactly same issues**. On top of that, fps drop persist during game if I don't change  display mode:
1. i start dota 2 in borderless window
2. i switch from borderless window to fullscreen
3. i find match
4. hero selection screen appears (fps drops to 5-10)
5. game starts
6. i go to setting and change display mode to borderless window again
7. fps goes up and i can play the game
8. during

[2015-01-23 17:12] ramma commented on #1672
Glad to see I'm not the only one experiencing this set of problems. Did yours start recently too?

The FPS drops on death are something I've noticed too, but since it only drops to around 20-30 FPS it's more of a nuisance than a game breaking issue for me. Especially compared to the other issues causing 1-5 seconds of 0 FPS.

If you have CSGO, have you tested its loading times?

[2015-01-24 10:08] richardramirez commented on #1672
Problems started long time ago. I've never reported any issues because i had very uncommon setup ( 1 pc + 2 graphic cards +2 sound cards = two separate seats but on older kernel, hdd  and legacy nvidia drivers 30x).

I don't play CSGO.

[2015-01-25 10:06] ramma commented on #1672
One thing I've noticed over the last few days as well is that on the hero selection screen, the FPS dropping to nearly 0 is only happening in matchmaking games with players. Bot matches do not have the constant near 0 FPS drop, only the FPS drops when heroes are selected, and when loading into the game (both of which also happen in player matches).

Loading times are very sporadic now too. First t

[2015-01-25 12:58] MaximilianoFelice commented on #1662
Still having this problem. According to console log, the game seems to be trying to load DirectX files in Linux based systems, which obviously leads to a dead end while instantiating a D3DX device, causing the game to crash.

    [...]
    Creating D3D9 device with D3DCREATE_MULTITHREADED
    IDirect3DDevice9::Create: BackBufWidth: 1920, BackBufHeight: 1080, D3DFMT: 3, BackBufCount: 1. Multisample

[2015-01-25 19:59] Tele42 commented on #1662
@MaximilianoFelice This is expected as Source games still have a d3d9 engine, which is feed into ToGL which translates it to opengl 2.1.

[2015-01-25 23:44] parski commented on #1588
I've been having these issues since I switched my gaming rig to Yosemite. I've tried deactivating Steam Overlay as a per game setting for Dota 2. I'll report back here with results after a few days of stress testing.

[2015-01-26 18:48] Enigma7ic commented on #1588
Disabling the Overlay did nothing to alleviate the crashing for me. At least most of the time it crashes now, it's during pick or at the end of the match so I don't crash as much during team fights and end up giving up a free kill to the enemy (which makes my blood boil!)

[2015-01-27 05:47] chetcoenen commented on #1588
I installed windows 7 on a partition because I was fed up with the random crashes, pittiful support and silence. Why even release the game for Mac if you can't support it on OSX? Since playing on windows with the Mac hardware I've noticed better graphics, smoother frame rates and a totally new experence. It should be exactly the same.

[2015-01-27 20:17] Hadrian-II commented on #1674
i have/had the same problem before i used a radeon driver repository that included llvm 3.6 that made dota crash, and now i noticed that oibaf or ubuntu have updated llvm to version 3.6 again and dota 2 crashes again all the time. so i suspect it is some bug in the shader compilation with llvm 3.6.

[2015-01-28 00:26] u83rmensch commented on #1664
glad some one else brought this up. I have the same issue and it drives me nuts. I dont get it with other source games or any other games for that matter, only dota 2 and its only with chrome, no other browsers or software seem to do this.

hope this gets addressed.

fedora 20, intel i5, nvidia 770

[2015-01-28 13:06] parski commented on #1588
Disabling the overlay didn't work. I also tried Big Picture mode. The crashes have seem to occur less frequently lately but that might just be me imagining things. The latest crash occurred right after I uninstalled Adobe Flash. Someone suggested that Flash might be a factor but the information comes from an obscure source and the post was from 2013. I don't mean to spread misinformation but I tho

[2015-01-29 17:23] paupav opened #1678 "Keyboard not detected properly for keybindings"
Dota 2 has EN keyboard layout (QUERTY) for abilites and items, but system keyboard layout for chat/messaging (QUERTZ).

Running Ubuntu 14.04, 64bit
System language: Croatian
Keyboard layout : 'hr'

GPU: Radeon 7770 with Catalyst drivers (fglrx) 14.12

[2015-01-29 17:28] #1678 closed

[2015-01-29 17:29] paupav commented on #1678
https://github.com/ValveSoftware/Dota-2/issues/1547

[2015-01-29 23:39] timotk commented on #402
@Loknar
Still going crazy over this. What currently helps for me is quickly pressing alt+tab twice in a row. Sometimes it just pops back to fullscreen.

[2015-01-30 10:58] paupav commented on #1547
Works on Croatian keyboard layout without any problems.

[2015-01-30 14:05] deri82 commented on #1677
Are you sure it only happens with lina

[2015-01-30 14:24] renatosierra commented on #1677
No, it seems to be randomly with all heros it may be the configuración of vídeo adapter

[2015-01-30 14:28] deri82 commented on #1672
That slow loading speed is because dota is caching some files that it loads while starting the game. The amount of files grows the more you play. It takes around 2.5Gb now for me (in fully playable game). Not calculated shared memory or steam. That makes some extra.

you can remove your steam cache and the game loads fast again

[2015-01-30 14:40] alkore commented on #1675
same problem here but this happens with any hero, almost systematically. Only way to fix it is quitting the game before picking and relaunching it. Else it always ends up crashing at one point (usually just after everyone picks and game starts)

[2015-01-30 17:28] paupav commented on #1672
I've updated to Ubuntu Gnome 15.04 Alpha and installed fglrx drivers 14.12, and Dota 2 seems to be very smooth. I don't know what happened, but before after 2 matches I had to restart my PC to be able to play third game without laggs. My suggestion is to wait for Ubuntu 15.04 (since Ubuntu Unity doesn't have Alpha and nightlies are not recommended to be used.)

[2015-01-31 14:32] ramma commented on #1672
I may have actually found a solution to my issue, and admittedly should have tried this earlier. All I did was uninstall through Steam, plus delete the games install folder to ensure the config files are removed before reinstalling. I figured the defragmenting would have done the same thing, but something else along the line (maybe part of the config) got messed up instead.

[2015-01-31 15:23] deri82 commented on #1672
It's not fragment issue. it's because the amount of files that dota 2 loads increases in time.

[2015-01-31 16:02] alkore commented on #1675
Seems like 10.10.2 fixed this issue, just did 2 games in a row and no crash at all. Maybe i got lucky though but usually 2 games in a row is impossible without at least 1 crash.

[2015-01-31 16:02] alkore commented on #1679
Seems like 10.10.2 fixed this issue, just did 2 games in a row and no crash at all. Maybe i got lucky though but usually 2 games in a row is impossible without at least 1 crash.

[2015-02-01 02:05] Enigma7ic commented on #1675
Still happening

[2015-02-01 14:56] timotk commented on #402
@Loknar
I think I have found a solution.

Start CompizConfig Settings Manager and go to Utility > Workarounds and disable Legacy Fullscreen Support. Then restart your computer and try to start Dota again.

[2015-02-02 00:43] SHOTbyGUN commented on #1395
To fix "cannot ALT + Mouse1 to ping map" in Linux Mint: Cinnamon

1. System Settings
2. Windows
3. On the bottom: Special key to move and resize windows: <Alt>
Change it to disabled, or something else.

Xfce workaround: http://askubuntu.com/questions/270032/how-do-i-disable-window-move-with-alt-left-mouse-button-in-xubuntu

[2015-02-02 22:21] Socapex commented on #1682
ty

[2015-02-03 00:02] Socapex commented on #1682
nope. Was only temporary.

[2015-02-03 09:48] alyphen commented on #1682
It seems to do this after participating in at least one game. I'm getting the same thing - Yosemite 10.10.1 on Mac Mini (Mid 2011 model)

[2015-02-04 03:38] Vuccappella commented on #1679
Issue is still here.

[2015-02-04 06:26] deri82 commented on #1674
I was just able to finnish game of thrones episode 2 from tell tale with no issues, but dota 2 has hanged everytime recently. So the issue can be dota related only.

[2015-02-04 18:36] aldousxin commented on #1670
same here. I use mac and every time when there's an earth spirit in game, dota crash for several times.
I was thinking if it's the problem of my language(which was chinese) or maybe the TI4 music I use. But it's not. Also, my friend is using a mac too. When we play together, we all crash at different time. He normally crash 5 to 10 min before i crash.
Vavle plz fix this bug. In 4600 mmr matches, p

[2015-02-04 21:12] anilanar commented on #1670
You guys should probably post your stack traces. It is not a widespread problem and it would help developers fix the bug.

[2015-02-05 03:47] Ozmoz commented on #1649
Process:         dota_osx [1023]
Path:            /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:      dota_osx
Version:         ???
Code Type:       X86 (Native)
Parent Process:  bash [1020]
Responsible:     steam_osx [986]
User ID:         501

Date/Time:       2015-02-05 04:44:23.173 +0100
OS Version:      Mac OS X 10.9.5 (13F34)
Report Version:  11
Anonymous UUID:  AF5DEE2

[2015-02-05 12:43] gvescu commented on #1682
It always happens after the first game, and stays there until you restart the game. It may be part of the lighting bug (#1635) I reported a while ago.

[2015-02-05 12:45] gvescu commented on #1635
Just a friendly reminder to Valve: this is still happening... I hope that with Source 2 (and better drivers from Appe) this resolves. In the meantime, I'm still wondering how is that League of Legends, Heroes of the Storm and a Cider emulation of World of Tanks works better than Dota 2 on my Mac :(

[2015-02-05 17:55] aldousxin commented on #1670
hmm. How to find the stack traces?

[2015-02-05 18:56] anilanar commented on #1670
When Dota 2 crashes, a window appears asking if you want to report the problem. In that window there’s a stack trace (multiple actually, there’s one stack for each thread).

[2015-02-06 06:36] Vuccappella commented on #1685
It works after the last update.

[2015-02-06 06:38] Vuccappella commented on #1687
This isn't a non windows OS related issue,the dota2 network was down for a moment, nothing unusual. It got fixed in a matter of minutes.

[2015-02-06 07:07] Socapex commented on #1687
What I meant is, a while back the game was patched so you can still log-in when servers are down, and not see this connecting screen. So issue isn't servers down, but the game stuck on loading instead of in-game client. I can't find the exact changelog, though I've been looking for it.

[2015-02-06 08:12] Placebo commented on #1686
there is a new update this morning ... im trying to test if problem still exist

[2015-02-06 10:18] richardramirez commented on #1672
Something has changed (i don't know when because i don't play much), now i don't get fps drop on hero select screen.
I only get fps drop when i am dead and waiting for respawn. Earlier this happened from time to time but now it's 100% guarantee i would have 5 fps during my time in netherworld. It doesn't affect gameplay tough but its really annoying. Fps comes back to normal after respawn.

[2015-02-06 19:33] mbakturk commented on #1686
Me too. I can play ~30fps before but today the fps was ~10 (Geforce 9600M GT)

[2015-02-07 21:54] Vuccappella commented on #1687
I don't believe that was patched officially, I believe that was only a suggestion by some people, correct me if I'm wrong.

[2015-02-08 01:37] Vuccappella commented on #1680
I'm pretty sure that custom game modes aren't still natively supported by any other OS than Windows. Custom game lobbies require the alpha workshop tools which are WIindows Only for the moment. Meaning that the official versions for Mac OS and LInux OS, do not support these alpha tools as of yet (valve is planning to release them for Linux and Mac in the future but for now they are not available.)

[2015-02-08 07:06] melkor217 commented on #886
Well, alt-tab still sometimes causes a crash in fullscreen mode.
Debian sid, Nvidia 340.65, gnome3/kde4.

[2015-02-09 17:36] Hadrian-II commented on #1674
i switched back to a more bleeding edge ppa and now dota2 works but has some artefacts, so i dont think there is a bug in dota, but some hickup in radeon/mesa

[2015-02-10 04:19] kaiserprogrammer commented on #1547
Not working properly for NEO 2 layout. Normal Characters are working but special characters like "ü" "ö" "ä" are not working right because these special characters map to the qwerty layout instead of their own bindings.

[2015-02-11 00:44] lewisdiamond commented on #1684
Happened again today
Recent Failure Reports:
    Wed Feb 11 00:06:36 2015 GMT: file ''/tmp/dumps/crash_20150210183805_1.dmp'', upload yes: ''CrashID=bp-ab9cae2f-a298-47b7-ae41-32dd32150210''
    Wed Feb 11 00:07:58 2015 GMT: file ''/tmp/dumps/crash_20150210190631_1.dmp'', upload yes: ''CrashID=bp-497854f9-2b00-4f4a-8777-6c6582150210''

[2015-02-12 23:03] gcp commented on #1692
http://dev.dota2.com/showthread.php?t=155419 by design

[2015-02-12 23:25] lewisdiamond commented on #1693
I finally managed to join a game after clearing the GLCache folder:
rm -rf ~/.nv/GLCache/

Can't say if it's permanent yet.

[2015-02-12 23:30] lewisdiamond commented on #1693
Scratch that. It crashes still:
    Thu Feb 12 23:29:26 2015 GMT: file ''/tmp/dumps/crash_20150212182743_1.dmp'', upload yes: ''CrashID=bp-8818a24f-5e25-4fec-9398-d61d62150212''

[2015-02-13 07:30] AllahThealmighty commented on #1693
Segfaults on my 64-bit Arch. https://gist.github.com/AllahThealmighty/6123450f53fbaad03bbf.

[2015-02-13 12:19] blendi-93 commented on #1694
after restart it appered...

[2015-02-13 14:46] lewisdiamond commented on #1693
Might be related: #1684

[2015-02-14 12:52] Fade78 commented on #10
Same problem : main monitor 1440p, left monitor 1080p, nvidia proprietary drivers, Fedora 21. The mouse is never grabbed. Unusuable while playing, especially if I click on a window on the other screen...

[2015-02-14 13:36] Fade78 commented on #10
Hello again.

Here is what happened just now (see configuration in my previous message, I must add, I'm using gnome3):
- I was in full screen mode, the mouse was grabbed.
- I had to ALT-TAB to do something on my secondary monitor, the game minimized.
- I ALT-TABed again to go back to the game but the screen was a mess : the game viewport was only a part of the screen, while the mouse coordonate wh

[2015-02-15 19:29] nifker13 commented on #1577
Sry fro not responsing havent checked github after that

[2015-02-16 20:30] davidw-valve commented on #1693
Have you tried verifying the integrity of the game cache or deleting and redownloading Dota2?

[2015-02-16 22:30] lewisdiamond commented on #1693
I have tried redownloading dota 2 for #1684 but not since the patch. Note that I'm now able to play and get occasional crash (requiring glcache clearing), about daily.

[2015-02-17 00:19] davidw-valve commented on #1693
What version of the NVidia drivers do you have? If you haven't I would recommend updating to the latest drivers.

[2015-02-17 15:25] lewisdiamond commented on #1693
I have the latest supported drivers for my card on my Linux distro (304.125). Even if nvidia's website says the 340 supports the GTS 250, it doesn't.

[2015-02-17 22:59] Tele42 commented on #1693
This should also be reported to nvidia as the 340 series really _should_ support your card.

[2015-02-18 14:19] richardramirez commented on #10
I use mate with two monitors and i can only use "borderless window".
In fullscreen mode mouse behaves properly on three edges but it goes
thorough 4th edge (where 2nd screen is) so i can click
desktop/window/whatever.

2015-02-14 14:36 GMT+01:00 Fade <notifications@github.com>:

[2015-02-18 23:20] davidw-valve commented on #1693
I appreciate you posting your card. Any other users who experience the same problem should also post the model of their NVIDIA card as a reply to this. We want to work out what cards it occurs with so we can try to get a fix.

[2015-02-18 23:27] davidw-valve commented on #1695
Should be fixed now.

[2015-02-19 05:57] gwark10 commented on #1695
Confirmed. Thanks!

[2015-02-19 16:04] atanasbozhkov commented on #10
I can confirm the same thing as @richardramirez
The cursor goes past the edge of the screen where the second monitor is. Even though I cannot click anything outside - I do get a momentary pause while the game window refocused.

[2015-02-20 00:26] SsnL commented on #1403
It's not fixed for me (OS X 10.10 MacBook Pro (Retina, 15-inch, Early 2013)) and my friend (also OS X 10.10 with a non-retina MacBook Pro).

[2015-02-20 00:52] Densaugeo opened #1699 "[Lunix] Crash on launch"
Since downloading updates today, Dota crashes as soon as it finishes loading.

Running on Fedora 20 64-bit, with a Radeon HD7850 GPU on the open source radeon drives.

I've tried re-downloading Dota and Steam, same thing happens.

Here is terminal output from starting Steam and then trying to run Dota:
[code]

[2015-02-20 01:09] davidw-valve commented on #1693
@lewisdiamond: I would suggest contacting NVIDIA for support; the right solution is for you to be using the 340 branch for your card.

[2015-02-20 22:02] Densaugeo commented on #547
Just updated to Fedora 21 and started getting this issue. Selinux logs show:

[lunariel@morpheus]$ sudo cat /var/log/audit/audit.log | grep dota
type=AVC msg=audit(1424432881.793:470): avc:  denied  { execheap } for  pid=8538 comm="dota_linux" scontext=unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023 tcontext=unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023 tclass=process permissive=0

[2015-02-21 00:04] chrylis commented on #1702
This is a gameplay question, not one related specifically to the Mac or Linux client.

[2015-02-21 03:06] mikefaille commented on #1703
Lol, 16 failures reports in one day.

Please fix it ASAP. It worked well before.

Valve ftw !

[2015-02-21 03:31] farley13 commented on #73
![Uploading Screen Shot 2015-02-20 at 10.21.48 PM.png . . .]()
http://i.imgur.com/Wl1KgCV.jpg

ckray85's solution or using switchresx or something similar will work as well. I get crystal clear menus and open GL graphics after this. It makes it look like a regular high resolution screen to the game, instead of a high DPI screen. So no code changes required on the game side.... though it'd be nice

[2015-02-21 08:13] SsnL commented on #1691
Crash: https://gist.github.com/SsnL/3d632e8898620fd3be0f

[2015-02-21 10:05] Ekranos commented on #1664
Just wanted to report that I have exactly the same issue.

[code]

[2015-02-21 19:13] fastpars commented on #1664
Same bug with Vivaldi browser.
webkit ...

[2015-02-22 18:44] Razi91 commented on #1158
Hello, it's February 2015 and this is still NOT FIXED!
I have no idea if anyone plays on lower than 100% which is not 50% (every other option is just UGLY!) so just disable this slider!

[2015-02-22 19:22] Weegee commented on #1158
I just added `bind F5 "mat_viewportscale 1"` to my autoexec.cfg and press it every time I start a game, I don't think this has any priority whatsoever anymore for Valve

[2015-02-22 20:24] Vuccappella commented on #1691
After the last few mini-updated the issues have gotten worse and most of the time it doesn't produce crash logs. A common time for it to crash is just after the picking phase ends and you select your hero, the game just crashes. Anyone experiencing that?  It crashes twice per game now, really unplayable.

[2015-02-22 20:33] Vuccappella commented on #1702
This forum isn't about suggestions or requests, it's about reporting problems of the dota 2 client in operating systems different from Windows OS such as Linux or Mac.

[2015-02-22 20:34] Vuccappella commented on #1675
Same issue for me. Still here.

[2015-02-23 15:46] Fade78 commented on #10
There is two problem I reported earlier: the mouse grab and the display mess. I just realized that, when I alt tab from the game and then I come back, my displayport 1440p (16/9) monitor is displaying the game like my HDMI 1600x1200 (4/3) would do, so the mess.

[2015-02-23 16:57] lewisdiamond commented on #1693
340.76 Now works. Unfortunately I can't find the error I had but for anyone else who couldn't get his GTS 250 working on early 340, the latest now works!

[2015-02-23 18:13] davidw-valve commented on #1693
Okay. I'm closing this bug out. File a new bug if you still have problems.

[2015-02-23 22:06] krikaoli commented on #1226
I have tried a lot of things, I uninstalled Dota and Steam, I reinstalled Yosemite. I changed the permissions... Nothing... Anyone has solved this Dota 2 Yosemite crash problem yet?

[2015-02-24 21:39] Vuccappella commented on #1707
That's weird. Is this the first time you've tried the client on this computer?  Have you tried checking the game cache and re-installing dota if it's not the first time you've ran the client ?

[2015-02-25 07:54] eggymule commented on #1707
First time running the client on this computer. Haven't tried reinstalling though, will try!

[2015-02-25 15:04] GregPK commented on #1417
Confirmed that when Xinerama is disabled on the same setup, the variable does not need to be changed.

[2015-02-25 17:58] artemjackson commented on #1707
I have a similar problem. And it hasn't been solved yet.
https://github.com/ValveSoftware/Dota-2/issues/1696

[2015-02-26 01:20] Vuccappella commented on #1707
SInce it's the first time you're running dota on this computer I'm guessing there is some specific issue to your computer as I'm not experiencing  any of those problems on two other computers which run Mac OS. That is not to say that it's not the dota2 client's fault it's most likely an issue of the client not interacting well with your hardware.

[2015-02-26 16:42] alkore commented on #1691
Yes I'm experiencing the exact same issues Vuccappella, usually it's after picking heroes or sometimes random only once during game and only after a 2nd game in hero. Usually first game is fine all the way through and 2nd game will either crash after hero pick or once in game. Then it's OK until the next one.

[2015-02-26 19:39] VirgilMing commented on #1588
Just wanna say that these days I'm seeing much less crashes. Though it does happen for like once per two weeks. Overlay also worked fine.

[2015-02-26 21:37] sunbriel commented on #1644
Same here. Issue does not persist if I disable V-Sync, but if I do that, I get screen tearing. Dota used to run somewhat smooth on my average PC, but now it's stuttering even in local lobbies, so it doesn't have anything to do with my internet connection.
Linux Mint 17.1 x64, Nvidia GT 640.

[2015-02-26 22:31] evrial commented on #1691
I experience random crashes on Mac OS client since November I guess, maybe earlier. Nothing have changed in that direction by Valve to improve stability neither random crashes caused by memory management.

Just one of hundred crash logs https://gist.github.com/evrial/60aeb14f85d041827a8d

[2015-02-26 22:36] evrial commented on #1403
Still not fixed.

[2015-02-26 22:36] evrial commented on #1698
+1

[2015-02-26 22:39] evrial commented on #1635
Dota 2 is by far the most bugged game client on Mac, and they hardly put effort into improve.

[2015-02-26 22:43] alkore commented on #1635
Still happening and really bothering. Please fix it Valve.

[2015-02-26 22:43] alkore commented on #1691
yep since november here too.

[2015-02-27 03:58] Vuccappella commented on #1691
Yes, same for me as well. I just hope these issues are reviewed.

[2015-02-28 06:30] ramma commented on #1672
It appears this issue is starting to happen again, but very sporadically. Loading times have slowly been increasing since the reinstall that I thought fixed the issue. Worst case right now is loading into a match after starting the game, which takes over 90 seconds at times. It has loaded slow enough in match making games that I've missed my pick even.

Worth noting as well, which should probably

[2015-02-28 10:24] deri82 commented on #1672
Do you even read the other comments? The issue is because in time the cache of cached files is increasing and more content are loaded into memory. Dota is doing really lousy job with this. Even with good cpu and ssd  it's slow to load.

[2015-03-01 18:16] linuxdoto commented on #1696
Got the same prob, also up to date Arch, but AMD HD6670, which rules out the graphics card i guess (also happens in bot-games, so no internet issue). Probably is Arch-specific though (kernel maybe?), so I guess Valve might only look into it, when the new Ubuntu releases. Anyway, I really hope its fixed somehow. Happens so often also-- Teamfight --> Freeze for a good 5 secs --> dead... plz volvo, d

[2015-03-04 16:30] vimbaer commented on #402
I have the same issue with the panel of gnome 3.

[2015-03-05 00:51] IdleGandalf commented on #1664
Can confirm this on debian jessie with nvid driver.

[2015-03-05 20:36] krikaoli commented on #1588
Try to use the Disk Utility and verify and repair permissions. I have just reinstalled Steam and Dota 2 and also done that, lets see if it solved. Apple technician said the problem could be also cause by the Flash application.

[2015-03-06 03:36] mikefaille commented on #1703
I don't have this problem anymore since ~27 feb. patch.

[2015-03-06 12:58] Vuccappella commented on #1691
Is ther

[2015-03-06 12:59] Vuccappella commented on #1691
Is there any news about this issue. Dota 2 Is unplayable. The crash logs I've provided are just maybe half of the actual crashes I got since the 18.02.

[2015-03-06 21:01] krikaoli commented on #743
Just found out the problem is probably Flashplayer and Yosemite's fault.

[2015-03-07 10:42] Psychobab commented on #1588
Dota2 still crashes barely each game. i tried to turn on/off each options but no changes for me.

Process:               dota_osx [36592]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:            dota_osx
Version:               ???
Code Type:             X86 (Native)
Parent Process:        bash [36589]
Responsible:           steam_osx [453]
User ID:

[2015-03-07 17:29] krikaoli commented on #1588
What options?

Use utility disk and verify and repair permissions.

Turn off and uninstall flash player.

To be sure flash it is not working you must not see any model or internet inside the dota.

[2015-03-07 17:58] croogrog commented on #1699
I have the same problem Running fedora 20 x86_64 with radeon r9 270x on the open source drivers.

my console output is nearly identical so I will add it upon request.

[2015-03-07 21:49] Vuccappella commented on #1691
Can we get some info if this is being reviewed ? Or at least a temporary solution to the problem or any way I could possibly help apart from crash logs, anything.

[2015-03-09 20:08] Vuccappella commented on #1713
https://github.com/ValveSoftware/Dota-2/issues/1691 yep dude same issue. I've been providing crash logs for 20 days now I have like 30 listed over there and probably another 50 I haven';t even documented, I'm really getting frustrated at the moment, Valve is really slow dealing with this issue and the game is pretty unplayable.

[2015-03-11 21:02] asumaran commented on #1682
+1

[2015-03-12 19:03] Vuccappella commented on #1715
#1691  BEEN LIKE this for a while now.

[2015-03-13 08:02] krikaoli commented on #977
Well... This post is from 2013... but even so I'm getting this a lot playing at my Mac top end... late 2013.

[2015-03-13 08:07] krikaoli commented on #1637
A lot of crashes, also playing Dota 2 with Yosemite...

Process:               dota_osx [1255]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:            dota_osx
Version:               ???
Code Type:             X86 (Native)
Parent Process:        bash [1252]
Responsible:           steam_osx [931]
User ID:               501

Date/Time:             2015-

[2015-03-13 08:24] krikaoli commented on #1691
I spent a lot of money at Dota 2, and it is not nice see how negligent Valve is being with Mac users... I can't play more than two games without a crash... a lot of different crashes. I play using Yosemite and my two most common crashes are: Exception Type: EXC_BAD_ACCESS (SIGSEGV) and EXC_CRASH (SIGABRT)

Process: dota_osx [1255]
Path: /Users/USER/Library/Application Support/Steam/*/dota_osx
Iden

[2015-03-13 08:29] krikaoli commented on #1691
The only solution I found so far it is downgrading Yosemite to Maverick... but not viable to me...

[2015-03-13 18:51] fotanus commented on #1252
I'm using nvidia proprietary driver and still an issue to me. Not sure what info can I post that will be usefull? If I can help let me know.

[2015-03-13 18:54] fotanus commented on #1005
I'm having this issue again...

[2015-03-13 19:00] Vuccappella commented on #1691
Yeah there's actually no way I'm going to downgrade just for dota.

[2015-03-13 21:30] krikaoli commented on #1691
I have been dealing with the Apple Support to solve this puzzle.

Try to complete remove flash, that could work, but you loose all window info inside the game windows.

Enviado do meu iPhone

[2015-03-13 21:39] Vuccappella commented on #1691
Sadly I can't do that either, I work with flash from time to time and I need it from time to time as well. Has it solved the issue for you ?

[2015-03-13 21:44] krikaoli commented on #1691
Not a single crash. I have other idea. Just create a new user with admin power and do that.

Enviado do meu iPhone

[2015-03-14 17:06] Vuccappella commented on #1691
What do you mean by that? Create a new user, disable flash on that user and then play the game ?

[2015-03-14 17:42] krikaoli commented on #1691
At settings you have the Users and Groups option, just create another user and install Dota for it.

Enviado do meu iPhone

[2015-03-14 17:43] krikaoli commented on #1691
But at this new user, you can't install Flash player from Adobe. Got it?

Enviado do meu iPhone

[2015-03-14 17:57] Vuccappella commented on #1691
I see. I will try it.

[2015-03-14 19:13] blendi-93 opened #1717 "viewer dont see rubbick ult icon while pick phase"
rubbick no ult icon:

![no rub ult icon](http://i.imgur.com/lX6hBVW.jpg)

[2015-03-16 14:49] shanefagan opened #1719 "Vsync settings reset every time the game is opened"
Pretty much the title, I get 110FPS average in Dota2 but when vsync is on I get pretty random frame drops so I have to turn vsync off but Dota2 doesn't hold the setting.

[2015-03-16 23:54] Viech commented on #505
I can confirm:

* I can't type any character when holding down `SHIFT`. `SHIFT`+`a` selects text, so it may be treated like `CTRL`+`a`. This implies that I can't use uppercase letters except when I use capslock.

I can *not* confirm:

* `DEL` doesn't input a `.` for me but it doesn't delete a character either.
* `BACKSPACE` works fine here.

I can add:

* The left and right arrow keys don't work.

[2015-03-18 12:12] chiamjohn commented on #1649
Hello valve, I think this exact same earth spirit bug is back..... my game has been crashing every time i play earth spirit. Please look into this....

[2015-03-19 05:07] tejaskale commented on #1715
Its not unplayable at all. I was trying this command out to reduce my first game load times.

[2015-03-20 23:10] aleksandaratanasov commented on #1103
Problem is still present. I had to restart not only DoTA but Steam multiple times in order to get it working at the end and of course I got an "abandon" for the game I was currently in. Gotta love bugs that screw your gameplay so hard...The major problem with the Alt-bug is that I was unable to do anything like casting my spells, use any key (for example the default Q to attack your own creep and

[2015-03-22 09:51] gxgani commented on #1691
Earth Spirit Bug still exists! Ty volvo!

[2015-03-23 17:05] Aljeksandr commented on #1606
use steam beta, not fixit bug vision

Процессор:
    Поставщик:  AuthenticAMD
    Семейство процессора: 0x10
    Модель процессора: 0x4
    Степпинг процессора: 0x3
    Тип процессора: 0x0
    Тактовая частота: 3709 МГц
    Кол-во логических процессоров: 4
    Кол-во физических процессоров: 4
    HyperThreading:  Не поддерживается
    FCMOV:  Поддерживается
    SSE2:  Поддерживается
    SSE3:  Под

[2015-03-23 17:19] Celexi commented on #1721
I just noticed that when tabbing back but in lobby, it doesn't outright crash. but if i open the steam overlay it will crash - making this sound like is an steam overlay problem

[2015-03-24 02:12] gssjr commented on #33
I have the same issue in all Valve games on Windows as well. I use Dvorak layout but the game defaults to QWERTY layout. Even if I switch the currently selected layout to QWERTY, it still acts as if I'm in Dvorak, oddly (it might use the Windows default, in my case Dvorak, regardless of the currently selected layout?). Most other modern games I play have their layout mapped to the physical locatio

[2015-03-24 23:04] HarlemSquirrel commented on #1725
Here's some journalctl output
[code]Mar 24 18:48:24 hs-desktop gdm-Xorg-:0[448]: (II) RADEON(0): EDID vendor "ACI", prod id 10147
Mar 24 18:48:24 hs-desktop gdm-Xorg-:0[448]: (II) RADEON(0): Using hsync ranges from config file
Mar 24 18:48:24 hs-desktop gdm-Xorg-:0[448]: (II) RADEON(0): Using vrefresh ranges from config file
Mar 24 18:48:24 hs-desktop gdm-Xorg-:0[448]: (II) RADEON(0): Printing DDC

[2015-03-25 02:52] njgingrich commented on #1598
Linux Mint 17 Cinnamon, will crash ~10 minutes into a game usually.

[2015-03-25 06:31] sailang commented on #1633
now my windows is experiencing the same problems

[2015-03-26 00:31] tmwbook commented on #1725
I am experiencing the same issue, though it normally is just during a match.  I notice it happens when the default window manager cursor is replaced with the "Dota 2" cursor after something like an alt-tab.  I have the same `kernel: radeon 0000:01:00.0: GPU fault detected` error in the journalctl.

[2015-03-26 11:34] deri82 commented on #1674
Still crashing. Been like this several months now.

[2015-03-26 19:30] nifker commented on #1630
What are your video settings in DotA2?

[2015-03-27 11:20] Socapex opened #1727 "[OS X] Random crashes"
Got this a few times last game. Playing the worst ever Anti-Mage ever played. Coulnd't figure out a pattern, other than game was encouraging me to abandon...

Process:               dota_osx [1318]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:            dota_osx
Version:               ???
Code Type:             X86 (Native)
Parent Process:        bash

[2015-03-27 20:29] HarlemSquirrel commented on #1725
There are a bunch of radeon fixes in the 3.19.3 kernel released yesterday. I am just waiting for it to come down the Arch pipeline and crossing my fingers.

[2015-03-28 06:00] cmbirk commented on #1713
+1

[2015-03-28 06:01] cmbirk commented on #1691
+1 on the crashing thread.

[2015-03-28 12:28] Celexi commented on #1721
Disabling steam overlay did stop it from crashing, it somehow still crashes when exiting though ( not much of an issue though)

[2015-03-28 21:07] buzzlighty commented on #73
@jorgenpt. Playing 1440x900 on MBP 15 (mid 2014). 80 fps on max settings. great optimization. tnx!

[2015-03-29 10:12] bklooster commented on #1691
When you see in the crash log that RAM at 3.7GB it usually means that the 32-bit DOTA process ran out of memory. This is similar to issue #976 and was commented at the time that they are working to try to reduce RAM usages of the app.

The only workaround is to lower graphical settings (textures/resolution being the bigger ones) to try to reduce the RAM requirements. Don't browse the store/invento

[2015-03-29 15:59] HarlemSquirrel commented on #1725
I tested the 3.19.3 kernel to no avail. Perhaps the mesa 10.5.2 updated will give us what we need!
http://lists.freedesktop.org/archives/mesa-dev/2015-March/080735.html

[2015-03-29 16:22] Ozmoz commented on #1649
Bug fixed for me, thx valve
(i dont play with remnants cosmetics too, maybe that helps)

[2015-03-29 21:57] HarlemSquirrel commented on #1725
The update to mesa 10.5.2 came through the Arch Linux pipeline, I installed it, rebooted, loaded Dota 2, went to the loadout section of the store, clicked on Morphling, clicked on loudout...freeeeeze :(

[2015-03-30 22:50] Socapex commented on #1727
So this one happened when I ulted.

Process:               dota_osx [2276]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota_osx
Identifier:            dota_osx
Version:               ???
Code Type:             X86 (Native)
Parent Process:        bash [2273]
Responsible:           steam_osx [1967]
User ID:               501

Date/Time:             2015-03-30 18:22:00.084

[2015-03-31 11:26] deri82 commented on #1725
I got hang in game before leveling the hero level 6. Using oipaf ppa. It's been like some months already. It's not because of kernel.

[2015-04-01 13:57] oraclexzf commented on #1295
This has been ongoing for me for months now. I have very good specs and simply a default installation of linux mint 17.1 with xorg drivers. No changes made, yet I am constantly restarting the game to get a better FPS.

Quite tired of disconnecting and reloading into my games......

[2015-04-01 14:06] oraclexzf commented on #1630
Good to know I'm not the only one restarting the game like a maniac after dropping 100 fps to 30 fps every 20 minutes. Using Nvidia card as well.

[2015-04-01 16:40] legendofdoug commented on #1630
In my game, I max out everything but anti-aliasing. But I also noticed the game starting to slow down roughly half way through the game. Perhaps a memory leak. Its not as bad as it used to be though.

[2015-04-03 06:54] joehakimrahme commented on #318
I can still confirm what @jeakehilton describes. It's good to have a workaround to enable the console, but it'd be nice to have it work normally.

Any plans on fixing this issue?

[2015-04-04 01:37] chrylis commented on #1731
Solo bot mode appears not to be crashing, although I'm noticing a lot of stuttering. Perhaps network code?

[2015-04-04 01:43] HarlemSquirrel commented on #1725
I am now noticing the same crippling freeze issue when I click to create illusions. It happened today with Ember Spirit and a rune and yesterday with Chaos Knight and his ultimate.

[2015-04-05 20:21] vith commented on #402
This is worse than just what it looks like---it also makes the mouse cursor misaligned with where the game thinks it is.

There is however a workaround: switch to Fullscreen and back to Borderless Window.

These are my experiences when using Gnome 3.

[2015-04-07 03:15] Vloz commented on #1088
Still not fixed... :/

[2015-04-07 03:55] HarlemSquirrel commented on #1729
I have noticed that running Dota 2 and Steam after resuming from suspend leads to issues. I have to wait about 30 seconds to a minute after resuming to launch a game. Steam will show offline for a few moments then connect and I then know it is safe to launch Dota 2. I've noticed this issue on Mac OS, Ubuntu, Arch Linux, and Fedora.

[2015-04-07 10:22] nrauschcom commented on #1664
Confirmed on Ubuntu 14.10, NVidia driver (GTX 960), Google Chrome

[2015-04-07 10:38] IdleGandalf commented on #1664
Maybe we should open this issue on the WebKit tracker as well? Maybe the
folks over there have an idea.
Am 07.04.2015 12:22 schrieb "Nico Rausch" <notifications@github.com>:

[2015-04-07 13:38] u83rmensch commented on #1664
perhaps. I'd think its a specific issue with dota2 though as these problems dont exist running other Source games from Valve.

[2015-04-07 21:27] fastpars commented on #1664
hmmm
[code]

[2015-04-11 22:01] Tele42 commented on #1729
@Guztec Are you leaving steam running when you put the computer to sleep? If so, this is a known issue and is being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/474. The workaround is to close and relaunch steam.

[2015-04-12 03:02] Guztec commented on #1729
@Tele42 Yes that's exactly it! Thank you! I'll track that instead.

Cheers!

[2015-04-14 01:04] HarlemSquirrel commented on #1725
This issue still exists with mesa 10.5.3

[2015-04-14 10:10] deri82 commented on #1732
+1

[2015-04-14 12:43] Dumbaz commented on #1719
As a workaround, try setting the VSYNC value in autoexec.config

`mat_vsync "1"`

Path should be
`steam/SteamApps/dota 2 beta/dota/cfg/autoexec.cfg`

[2015-04-15 09:30] maetthew commented on #10
Using Ubuntu with 2 screens. Mouse isn't grabbed in either window, borderless window or fullscreen

[2015-04-16 12:38] deri82 commented on #1725
Do you also get the hang if you press the button that draws the game in 3d mode?

[2015-04-16 14:16] HarlemSquirrel commented on #1725
I'm not sure what button you are talking about.

[2015-04-16 14:19] deri82 commented on #1725
Middle of the screen, bottom you see your hero. Move your cursor inside the hero and find a clicable button. Click it.

[2015-04-16 14:31] HarlemSquirrel commented on #1725
Are you talking about the inspection view that has the default shortcut "i"? I think this issue has been nailed down to llvm 3.6.0
https://bugs.freedesktop.org/show_bug.cgi?id=89685

[2015-04-17 14:01] Angriff commented on #1716
The same problem. It will be more comfortable to use different icons in Unity for dota2 and steam

[2015-04-17 17:53] idanci commented on #177
Is there any ETA for that?

[2015-04-19 08:00] v3rtx commented on #1734
I also can add that CS:GO works without any problem.

[2015-04-19 12:39] v3rtx commented on #1734
Ok, I finaly fixed it by changeing root directory:
GAMEROOT="/mnt/storage/Games/Steam/steamapps/common/dota 2 beta"

[2015-04-20 09:01] mateuspv commented on #1732
+1

[2015-04-21 03:49] ablackbu commented on #1672
Hi Deri, Would you mind providing a little more information ?  When you speak about clearing the cache is there a specific directory (or a few) that can we remove  ? Do you have to dump the whole install directory and re-download ? Downloading an entire game to empty a cache is not an idea solution. Appreciate any information.

[2015-04-21 08:23] deri82 commented on #1672
I dont remember how it's done. It was mentioned here somewhere.  But steam caches things. In time dota caches more and more stuff that it loads while loading the game and it becomes slow to load. You can see this with memory consumption too that increases over time. You can see the difference if you download dota into wine for the 1st time. It's like new install of native game. The loading speed i

[2015-04-21 09:21] ianmartorell commented on #1570
I'm having this same issue, although not in Dota, but in the entire OS. Whenever I press the middle button, to open a link in a new tab for example, the system will stop responding to hover events (think like hovering over the dock to trigger the magnification no longer work). Did you manage to fix this issue or did Apple manage to fix it for you? I'm running the latest version of Yosemite. Sorry

[2015-04-21 17:54] Socapex commented on #1570
I have opened a bug at bugreport.apple.com and they have at least answered. Can you do the same? When I opened this bug I didnt realise it was the entire OS affected. Thats why I closed the bug. Temporarily installing the mouse drivers fixed it, but broke other stuff (and I prefer running without drivers when possible).

Anyways, please open a bug and put it in high priority. Have a good day.

[2015-04-22 08:35] ianmartorell commented on #1570
Now that you mentioned that you're running without drivers, I realised that although I'm not using the official drivers for my mouse either, I'm using [USB Overdrive](http://www.usboverdrive.com/USBOverdrive/News.html), which works great for setting the mouse to zero acceleration. If I disable it the problem goes away, so I can't reproduce this with no drivers at all. However, I've fixed it with U

[2015-04-22 10:47] Socapex commented on #1570
Oh my! If this works you are my hero! :D I am also using USB Overdrive of course. I will try that next time I play some Dota (when 6.84 hits probably). I hope this works, if it does, we should both submit a bug to USB Overdrive. Have a great day!

[2015-04-22 10:59] ianmartorell commented on #1570
No problem :) if you're also using USB Overdrive, it's definitely a bug on their side, not Apple's.

[2015-04-23 12:18] Bragato commented on #73
Will we ever gonna have retina support?
I rescaled my monitor to 2880x1800. The game actually looks crisp, but runs with low FPS on my MacBook Pro 15 (Late 2013). I feel like it shouldn't be that slow. Isn't the GT 750M supposed to handle the task?
I am also getting a small cursor during the game.

[2015-04-23 14:05] c1p0 commented on #1015
Yep. I am having the same issue. I get a red rectangle.

[2015-04-24 06:25] ramma opened #1735 "Blog and Store pages don't load."
They stopped loading after the April 23rd patch.

![screenshot from 2015-04-23 23 16 56](https://cloud.githubusercontent.com/assets/2745346/7313543/e52fd06c-ea0f-11e4-9002-27a7453dd553.png)
![screenshot from 2015-04-23 23 20 44](https://cloud.githubusercontent.com/assets/2745346/7313542/e52e7faa-ea0f-11e4-9b77-289ff9405ac4.png)

[2015-04-25 09:41] theforkofjustice commented on #1735
Same here.  I got it to load once and bought a HUD from store but 99% of the time blog/store are useless.

Using Linux.

[2015-04-25 10:53] theforkofjustice commented on #1664
Same on Linux Mint 17.1 with MATE and Ubuntu MATE 15.04

Closing the tab quickly stops the hang and keeps it from eating memory.  Then just right-click on the tab area and 'Reopen closed tab" to start where you left off.

[2015-04-26 03:30] matiaslina commented on #1738
I've got the same problem on my Arch Linux :/ Any thought of what it could be?

[2015-04-26 05:43] hssm commented on #1738
I have the same problem. I had just updated to Ubuntu 15.04 and wasn't sure if it was the game or the OS update that broke things, but it looks like it's the game itself.

It seems like a restart of the game temporarily fixes most of it. There is the occasionally broken sound (like the "about to respawn" sound is a short glitch instead) but the game is playable. I think you need to do something to

[2015-04-26 06:20] gxgani commented on #1738
I thought I was the only one. They're at it again.

[2015-04-26 13:59] yetanotherus3r commented on #1738
Same here (Ubuntu 14.10/15.04).
I get static noises on hero selection screen, while watching replays, and when going back to main screen after a game.

Game also crashes if i try to change the "sound config" under options. Terminal output:

[0426/154558:ERROR:renderer_main.cc(212)] Running without renderer sandbox
crash_20150426154529_1.dmp[9598]: Uploading dump (out-of-process)
/tmp/dumps/crash_2

[2015-04-26 14:51] LowlifePiano commented on #1738
Same issue here.  Deleted and reinstalled the game and it's still loud static everywhere unless I turn the game volume slider all the way down.  It legitimately sounds like I'm listening to Merzbow.

[2015-04-26 16:14] LMG commented on #1738
Same issue here, Ubuntu 14.04.2.

[2015-04-26 20:16] sylware commented on #1738
idem on steamOS (gnu/linux debian + alchemist beta) + beta steam client.
Additionnaly, all the web part or the dota2 client are gone (probably related to the steam client beta update with the web component update...)

[2015-04-27 13:08] nifker commented on #1738
Same issue here on Ubuntu 15.04

[2015-04-27 14:02] yetanotherus3r commented on #1738
I have a new issue since upgrading to Ubuntu 15.04 where if the game starts making scratch noises during a match, the client crashes shortly thereafter. Seems to happen a few minutes into every second game without restarting the client.

I'm collecting the dumps as i go, but I'm still not sure where to post them.

[2015-04-27 14:28] Mutley5000 commented on #1738
I am also having the same problem. I have a Macbook Pro running 10.10.3 Yosemite.  I have the same problem with game sounds and my client proceeds to crash a couple of minutes into a game or sometimes straight after hero selection.

[2015-04-27 14:30] jamieguinan commented on #1738
Same audio problem, Gentoo system that hasn't been updated in a few months, but had been running Dota2 fine as recently as last week.

[2015-04-27 19:35] volvofixthis commented on #1738
i can confirm this bug, very annoing.

[2015-04-27 21:01] JeffreyFalgout commented on #1738
:+1: Ubuntu 14.04.2

[2015-04-27 21:10] rkettering commented on #1403
This did seem to be fixed a few months ago, but seems to have crept back in.  I can echo the earlier commenter's statement such that:

The same behavior seems to be happening for me - it's initially correct, and then after viewing the "start of game hero showcase" for selecting a hero, it becomes dark and stays dark thereafter.

Previously it was just dark all the time.

[2015-04-28 01:59] armahillo commented on #1738
Confirming bug: Ubuntu 15.04 -- bug did not begin until after I upgraded from 14.10, but that could have been a coincidence.
NVidia GTX 960 using nvidia-349 drivers (x-org-edgers PPA).

Game occasionally crashes. I've been able to reproduce a crash twice:
1. Open DOTA2, go to "Play", Game vs. Bots (Medium)
2. Select "Earthshaker" from Hero select screen
3. Purchase starting items and level up, run

[2015-04-28 09:00] ramma commented on #1738
Same sound issue happening here as well. The issue is also still present on the test client 6.84 build released earlier today, so I've created a thread for it on the critical test client bugs forum http://dev.dota2.com/showthread.php?t=158902. The title sadly can't be changed, but the edits explain the bug further.

I also got the exact same crash that yetanotherus3r reported above. I was also una

[2015-04-28 11:54] HarlemSquirrel commented on #1738
I have this horribke sound issue as well on Arch Linux in addition to the llvm/mesa problem with open source AMD graphics.
https://github.com/ValveSoftware/Dota-2/issues/1725

[2015-04-28 13:09] mmm0nky commented on #1738
Same issue, also on yosemite.

[2015-04-28 16:39] ggroggs commented on #1735
Having the same issue; Store tab looks exactly as in OP's second screenshot.  Fully-updated Fedora 21 x86_64 with nvidia.  Thanks!

[2015-04-28 18:57] kmelkon commented on #1738
same issue here, running Ubuntu Gnome 14.10 x64.

weird noises and random crashes.

[2015-04-28 21:39] jmetzmeier commented on #1738
This seems to be an issue with Steam beta. I had the same issue on Debian 7, but it was resolved by opting out of Steam beta which rolled back to the current stable version of Steam.

[2015-04-29 00:38] Celexi commented on #1721
So i re-enabled the overlay, was in a match of dota, got a steam message which promptly crashed my dota 2 client, then froze the xserver and made me lose the game, really cool engineering you got going here valve, is this that you expect to ship on the steam console?

[2015-04-29 00:41] Celexi commented on #1738
I just got that bug today on fedora 21 x64 after a crash, said crash was caused by the steam overlay.

 Is valve going to release this joke on their console? the steam client in osx and linux, along with dota are so bad that i just can't understand if i am being trolled by valve

[2015-04-29 00:50] ramma commented on #1738
This issue got listed on the known bugs list for the 6.84 test client. Scroll down to the Linux bugs section at this link http://dev.dota2.com/showthread.php?t=159004

[2015-04-29 03:31] ramma commented on #1735
A workaround for me was to downgrade to the stable version of Steam by opting out of Beta channels. Guess that means it's a steam client bug as opposed to a Dota bug.

[2015-04-29 03:33] ramma commented on #1738
@sylware The Steam beta client does seem to be the culprit. Downgrading fixed the sound bug, and the blog/store page bug at #1735.

[2015-04-29 04:32] armahillo commented on #1738
AH!

Can confirm -- opting out of Steam Beta client (Steam -> Settings ->
Account -> Beta Participation: NONE) fixed the problem!

Thanks! I didn't even realize I had opted in.

On Tue, Apr 28, 2015 at 11:33 PM Justin <notifications@github.com> wrote:

[2015-04-29 05:34] ramma commented on #1738
I've created a bug report for this on the steam-for-linux issue tracker ([bug #3823](https://github.com/ValveSoftware/steam-for-linux/issues/3823)), since this issue also occurs in other valve titles and is fixed by opting out of beta.

[2015-04-29 06:14] zeroedout commented on #1630
A little more data. I have this same problem with a Nvidia GTX 460 but **not** with a GTX 760, in the same machine.

[2015-04-29 09:15] oraclexzf commented on #1630
I'm going to try install Arch with different nvidia drivers, I'm using native drivers now but I'll try the mesa ones.

This is totally ridiculous how long this issue has been going on, having to restart my game every time it loads the map is not fun.

[2015-04-29 14:13] volvofixthis commented on #1738
Can confirm that steam beta client was problem with blog page.

[2015-04-29 14:44] perezalvarezhi commented on #1738
I also want to confirm that opting out of the beta fixes the problem.

My system:
MacBook Pro
2.6 GHz Intel Core i7
8 GB 1600 MHz DDR3
NVIDIA GeForce GT 650M

[2015-04-30 03:04] chrylis commented on #1738
Same issue on Arch. And thanks for the tip, @perezalvarezhi. I'll try it.

[2015-04-30 10:32] vadi2 commented on #1740
Confirmed here. Highly annoying behaviour and very disruptive.

[2015-04-30 16:55] gavindi commented on #1735
Also affected by this but only on the 6.84 Dota2 Test client. The Dota2 stable client loads pages as expected.

[2015-05-01 01:22] Turmfalke2 commented on #1741
I just came here to report the same issue, I had it happen the first time yesterday. It happened prior the 6.84 update, maybe it is related to a steam update?
If you need any additional information please let me know.

[2015-05-01 05:58] zeroedout commented on #1630
**Figured it out,** on my system at least. It turns out the driver was underclocking my card! Forcing Maximum performance in nvidia-utils has solved it so far (one full game without an issue). IIRC one can also force it through xorg.conf.

[2015-05-01 13:06] DarkwaveMD commented on #1741
As a temporary solution I muted Game Volume in Audio/Video setting.

[2015-05-01 13:15] Turmfalke2 commented on #1741
From what I have found here https://github.com/ValveSoftware/steam-for-linux/issues/3823 it might be related to the steam beta.

[2015-05-01 17:30] jimmylinux commented on #1742
I bought it now through the website:
http://www.dota2.com/store/

but I guess the shop should work also inside the dota 2 client.

[2015-05-01 19:43] theforkofjustice commented on #1736
I'm pretty sure this is a bug in the Nvidia 346.59 drivers.  Dota behaved itself under Linux Mint 17.1 but when I upgraded to Ubuntu MATE 15.04 I started getting the forced reboot crashes under linux where this crash only happened under Windows before.  I THINK the Mint drivers were a version before 346.59

After rolling back the drivers to 340.76 it didn't crash after a game (Dire winning tends t

[2015-05-01 22:16] ramma commented on #1741
Downgrading to the stable version of steam is the current workaround for this. Typing snd_restart in console has temporarily fix it for some on the Beta branch though.

As @Turmfalke2 said, the bug is reported at the link above, and it has been reviewed by the Steam client devs.

[2015-05-01 23:35] davidw-valve commented on #1741
This should be fixed now. Make sure you have the latest version of Steam ( File -> Check for Updates).

[2015-05-01 23:42] sylware commented on #1735
The steam beta client was fixed regarding web rendering with today update.
dota2 web rendreing is still broken.

[2015-05-01 23:55] davidw-valve commented on #1742
Does the Steam Overlay work for you in-game? Do you have it enabled? (i.e. does pressing alt+tab while in-game bring up the Steam Overlay?) The game uses the Steam Overlay to complete the purchase.

[2015-05-02 01:33] SirOfTheRepo commented on #1738
The same.
Arch x86_64
Nvidia blob, 660GTX
steam-native installed from aur (to make sure steam has every library it needs)

`LD_LIBRARY_PATH=".:${LD_LIBRARY_PATH}" ldd $(file *|sed '/ELF/!d;s/:.*//g')|grep 'not found'|sort|uniq`
Only outputs:
ldd: warning: you do not have execution permission for `./libav_h264.so.56'
ldd: warning: you do not have execution permission for `./libx264.so.142'
	libgnut

[2015-05-02 01:39] SirOfTheRepo commented on #1735
After updating I got both steam and Dota rendering working again.

[2015-05-02 02:06] sylware commented on #1738
fixed for me with steam and dota2 latest updates

[2015-05-02 02:49] sylware commented on #1735
yep, same here

[2015-05-02 05:43] lunixbochs commented on #97
Happens reliably for me. 2013 Retina Macbook Pro / Iris Pro 5100. Sound cuts out about 5 minutes into the second ARDM game in a row.

[2015-05-02 06:59] chrylis commented on #1738
Just downloaded an update, and the problem is more frequent than it was.

[2015-05-02 07:15] jimmylinux commented on #1742
Thx for the reply. Enabling Steam Overlay resolves the problem (for me (KDE?), shift-tab brings up the steam overlay, with alt tab I browse through the active windows).

I didn't know that Steam Overlay has to be enabled for the store. Issue solved.

(by the way, thank you a lot for the great linux version of dota 2! It works very well)

[2015-05-02 07:44] gentlecolder commented on #1743
again not beacause of the desplay setting ,and the os is ubuntu kylin 14.04

[2015-05-02 08:36] gentlecolder commented on #1743
and even closing the dota2 must use command line in terminal "kill -9 xxxx'' since the mouse cannot click the close button X hided behiand the right edge.

[2015-05-02 09:21] tito commented on #1738
Same problem

[2015-05-02 15:13] SirOfTheRepo commented on #1735
Happening again.
Im subscribed to beta updates, but there was no steam client update since yesterday.
There was only a small Dota update (1.1Mb), and either that or something else broke the game once again.

[2015-05-02 17:19] HarlemSquirrel commented on #1732
+1

[2015-05-02 19:17] DanBrink91 commented on #1743
I had a similar issue once where my game wouldn't cover up the sidebar (unity launchery I think?), I either changed dota 2 to fullscreen or told ubuntu to hide the sidelbar (or both) I can't remember which. Sorry if this doesn't help.

[2015-05-02 20:09] chrylis commented on #1738
I'm guessing that the "uncheck beta" workaround just reflected that the bug hadn't been released to mainstream. WTF Valve, why do you ignore these huge problems when they're reported before rollout?

[2015-05-02 21:29] chrylis commented on #1738
Specific details: This is a problem on the "Game Volume" channel and appears to be the result of playing corrupted SFX samples. It seems to always occur after the aforementioned GC error and appears to be a problem with the memory allocator's handling of samples.

[2015-05-02 23:13] gentlecolder commented on #1743
thank u you answer, but i set full-screen and try hide the left launch bar, then the close button appeared, but the top bar cannot hide . so no the app cannot edge pan bottom only. i found many way to hide the top bar for ubuntu 14.04, seam there is no good way to avoid this problem except return to old version.

[2015-05-03 20:19] HarlemSquirrel commented on #1725
I was finally able to test the patch and I can confirm that Tom's patch works!
https://bbs.archlinux.org/viewtopic.php?pid=1525699#p1525699

[2015-05-04 09:50] zeroedout commented on #1630
* Frame rate drops consistently during death. **Disabling Color Shift on Death** appears to fix this specific frame rate drop. As in the game no longer slows down during (and then permanently after) the death screen.

* Pausing in an online game causes a frame rate drop semi-consistently (about 80% of the time, but sometimes it doesn't?).  But **not** in a bot match, pausing in a bot match has no

[2015-05-04 17:51] gxgani commented on #1615
This thing is back again with recent update (May 3rd, 2015)

[2015-05-05 01:49] HarlemSquirrel commented on #1747
I think these things are coming later. I didn't receive them yet either.

[2015-05-05 04:18] ionutmurar commented on #1747
I dont understand how it works...i have friends with lvl 2 compendium and in theyr case the tp effect is working.

[2015-05-05 15:29] alokhan commented on #1712
Same here !

[2015-05-06 06:13] monkeydluffy55 commented on #1747
Hey guys this same problem is happening to me too. I bought a lv 50 compendium got like the armadillo and the effigy and all the rest but they didn't give me the blink effect, fountain effect, teleport effect, etc. (I am using a mac OS X)

[2015-05-06 07:11] achacttn commented on #1740
I used compiz to remove the super key shortcuts myself.

[2015-05-06 18:23] Slarky commented on #1745
Same problem here, I'm getting a crash every time I quit the game

"Application Specific Information:
abort() called
*** error for object 0x5ec5ed50: pointer being freed was not allocated"

https://gist.github.com/Slarky/e1808b2394a4df019f41

[2015-05-07 11:12] letharion commented on #1634
Since the update to 15.04 this has started happening again >_<
Updating to a new intel driver did not help this time. Hopefully useful part of strace posted here: https://gist.github.com/letharion/cdcb401e21ef01fce47a

[2015-05-07 13:13] dietrmat commented on #1141
This also happens for since the last patch (yesterday) on Ubuntu 15.04 running Unity:

Prozessor:
    Hersteller: GenuineIntel
    CPU-Familie: 0x6
    CPU-Modell: 0x3c
    CPU-Stepping: 0x3
    CPU-Typ: 0x0
    Geschwindigkeit: 3600 MHz
    4 logische Prozessoren
    4 technische Prozessoren
    HyperThreading:  Nicht unterstützt
    FCMOV:  Unterstützt
    SSE2:  Unterstützt
    SSE3:  Unterstüt

[2015-05-07 19:39] Cirelli-94 commented on #360
Still have this problem!

[2015-05-07 21:53] oraclexzf commented on #1748
Dota is just awful on linux, I doubt anyone plays this game properly with this OS from all the complaints we've seen over the years.

[2015-05-08 05:08] achacttn commented on #1748
I did run into a lot of issues such as Super key shortcuts interrupting and the Linux bar on the left hand side... they were dealt with but this random freezing lag is very frustrating :(

[2015-05-08 08:13] letharion commented on #1747
This is indeed confusing. The compendium has a little lock icon for things that are not yet unlocked by the stretch goals, and is has a wrench for things that are unlocked by valve have yet to distribute. I see neither of those symbols on the dagon/blink/bottle/tp effects. So I would expect those to be out.
However, is there any reason to think this is related to the linux client? I don't think th

[2015-05-08 08:29] ramma commented on #1740
Issue is still present after the overlay input issue referenced above was fixed, so likely not related like I originally though. Also happens in CSGO still.

[2015-05-08 17:17] Christiankun commented on #1744
Same problem with me:

System Info
Memory: 3.8 GiB
Processor: Intel Core I5
Graphics: GeForce 730m
OS: Ubuntu 14.04 LTS x64
Disk: 980.0 GB

[2015-05-08 18:43] danielesegato commented on #1459
I have same log. Used to run smooth now I have bad performances some times, notisable even if I don't look at the FPS.

is there something I can do to see what's causing it?

[2015-05-08 20:18] Escudeiro1 commented on #1459
I've solved this problem by playing it in steamOS or Fedora 20/21. The
performace is as good as in windows.
Em 08/05/2015 15:43, "Daniele Segato" <notifications@github.com> escreveu:

[2015-05-09 12:39] achacttn commented on #1744
Same problem with me, so much lag, model combiner errors... does anyone even fucking read these forums?

[2015-05-09 16:32] DanBrink91 commented on #1744
I updated to ubuntu 14.10, then updated my intel drivers and I seem to be crashing much less frequently. I'll check back in a few days to report if it remains this way.

[2015-05-09 21:02] Karetski commented on #1635
Fix it please

[2015-05-10 10:11] tsaber commented on #1737
do you autostart steam?

I had no sound but that was because Steam started before pulse and alsa did

[2015-05-10 11:58] achacttn commented on #1748
The following improved performance slightly, but for the most part, errors still persist:
-Disabling 2nd monitor
-Disabling VSync in Dota 2 and Setting PowerMizer to 'maximum performance' in nvidia-settings.

Still getting error messages in the main post, although the DrawElement error message seems to have disappeared. I am getting Model Combiner errors and Model over budget errors that look like

[2015-05-10 12:59] achacttn commented on #1748
Just played a game, and this is what I got in console:

C:Gamerules: entering state 'DOTA_GAMERULES_STATE_INIT'
NotifyClientSignon: 3
No pure server whitelist. sv_pure = 0
NotifyClientSignon: 4
NotifyClientSignon: 5
C:Gamerules: entering state 'DOTA_GAMERULES_STATE_INIT'
Can't use cheat cvar cl_predict in multiplayer, unless the server has sv_cheats set to 1.
Receiving uncompressed update from ser

[2015-05-10 16:55] Huinen commented on #1753
Same issue as above here. Other games working OK with primusrun (bumblebee).

Sytem information:

http://pastebin.com/J5HYdzaG

Crash log:

http://pastebin.com/79DeVu5T

[2015-05-10 17:44] blendi-93 commented on #1732
+1 pls

[2015-05-11 13:32] RBrandon commented on #1753
I have the same issue as well. Starts without primusrun, but crashes with it.

Terminal output when attempting to start Dota 2:
http://pastebin.com/W33XhcJP

System info:
http://pastebin.com/iLtA11L0

My configuration is remarkably similar to OP.

[2015-05-11 20:00] fasmat commented on #1753
Same issue for me, maybe it was caused by the updates to libdrm packages in trusty-updates recently (I installed it yesterday evening).

[2015-05-12 09:52] fasmat commented on #1754
Start steam from the command line and please post the lines that show up as soon as you try to start the game as these possibly provide additional information.

[2015-05-12 18:05] gavindi commented on #1753
This has also been reported here: https://github.com/ValveSoftware/steam-for-linux/issues/3506

[2015-05-12 22:01] xlegs commented on #1754
/home/xlegs/.local/share/Steam/ubuntu12_32/steamwebhelper: error while loading shared libraries: libgnutls.so.28: cannot open shared object file: No such file or directory

Running w/ the Valve runtime fixed it.

[2015-05-12 22:52] DanBrink91 commented on #1744
I have yet to crash in game since updating to 14.10 / updating drivers with that, I sometimes crash in menu transitions but even that is rarer.

[2015-05-13 08:36] Socapex commented on #1755
This is not a Dota issue, its a USB Overdrive issue and happens when you middle click + scroll at the same time. Temp fix, instead of restarting unplug/replug your mouse.

In USB Overdrive, add middle click + up and middle click + down (you can set whatever key is up/down).

More info: https://github.com/ValveSoftware/Dota-2/issues/1570#issuecomment-95076871

[2015-05-13 10:11] mbailom commented on #1746
This problem was solved in an update around one week after I opened this issue.

Closing.

[2015-05-13 13:22] mikonium commented on #1755
I don't have USB Overdrive installed and I've never used it. Don't think that's the issue.

[2015-05-13 19:52] WinterfreshWill commented on #1754
[code]

[2015-05-13 19:56] WinterfreshWill commented on #1754
Actually, Dota2 just updated in Steam, and it is now working. Thanks for helping me out everyone. Is there a way to mark this as solved?

[2015-05-15 22:12] virsli100 commented on #1158
May 2015, still not fixed. Freaking irritating. Thats why I am gonna keep playing HoN (Heroes of Newerth). They have a nice track record of creating quality linux games. I could even play it on my poor laptop with nvidia go 7300 with minimum settings, still looked nice. Good scalability.
Its a shame because I would like to support also Valve because of their linux oriantation, but I wonder how the

[2015-05-15 23:16] saward commented on #1158
Dota 2 is too good to stop playing.  Wait until the Source 2 version is released to

[2015-05-15 23:24] virsli100 commented on #1158
Btw when will be the source2 version out? Are you 100% sure that this will be solved there?

[2015-05-15 23:33] saward commented on #1158
I do not work for Valve.  I am simply making an educated guess that it won't be fixed before source 2, and that it will be fixed sometime soon after.  I'm nowhere near 100% sure (very few of my beliefs approach that level of certainty).

[2015-05-16 07:38] rkettering commented on #1739
It's fixed in the following patch:  http://dota2.gamepedia.com/May_14,_2015_Patch

Thanks, whoever worked on this. :)

[2015-05-16 10:25] Radimof commented on #1753
I solved this problem using this launch option: "LD_PRELOAD=/usr/lib/nvidia/libGL.so primusrun %command%", but the in-game browser doesn't work.
I hope this could be a temporary solution.

[2015-05-17 15:54] schadowfox commented on #452
This is still a issue that needs adressing.

[2015-05-18 15:36] sylware commented on #847
No news about fine grained ALSA capture device selection?
(Don't forget *NOT* to use the dsnoop _PCM_ but build
an alsa-lib pipeline with e the dsnoop _plugin_ with the
capture device hw as the backend to let the steam client use it at the same time!)

[2015-05-19 13:46] mmm0nky commented on #1745
Yep, I don't know how to bring up the crash log, but the data client just crashed again while in queue and now I'm banned for 30 mins. Despite the abundance of complaints on the issue in various other forums, I have not seen a single fix.

[2015-05-19 23:07] Carmoldu commented on #1757
I have the same issue :(

[2015-05-19 23:50] theforkofjustice commented on #1736
Turns out it's my cheapo power supply that is the cause of my woes (700W my butt).  I unplugged my printer and now the reboots have ceased after being thoroughly tested..

It is funny how it was that specific moment, when the ancient fell, that triggered the reboot.  Not sure if that is something worth looking into.

[2015-05-20 05:50] triskadieka commented on #1757
The TI effects are not in the form of an item this time they are directly applied to your account as soon as u buy a compendium, confirm the effects with another player who does not have a compendium yet.

[2015-05-20 05:53] triskadieka commented on #1747
Those effect are directly applied as soon as the compendium is activated they are not in the form of separate items as was in the case for DAC compendium.

[2015-05-21 18:58] iemesis commented on #1598
Had similar problem, dota kept crashing because steam crashes in background, for me nicing steam helped and it hasn't crashed since, if you have more than 4gb ram it might be different problem.
run this command from terminal, you may have to change display number X uses in the command "DISPLAY=:0" to "DSIPLAY=:8" or do it htop or other task manager, to nice a program you need to be root.
sudo ioni

[2015-05-22 10:09] xawyzen commented on #811
Same problem here.

[2015-05-22 15:33] sekjun9878 commented on #1754
Instead of marking the title as solved, you can use the close button to close the issue :)

[2015-05-23 17:37] theforkofjustice commented on #1736
Just happened again on Windows 7.  Not sure why because it should not have if the PSU was my issue..

[2015-05-23 19:06] WinterfreshWill commented on #1754
oops, didn't see it. thanks.

[2015-05-26 14:54] hmumyathein commented on #1643
Deleting the video.txt file from dota2 config directory fixed the problem for me.

For Mac, the file is located in
/Library/Application Support/Steam/steamapps/common/dota2 beta/dota/cfg/video.txt

In steam >> Dota2 properties >> Local Files >> Browse Local Files ...

[2015-05-26 21:00] CreatureDev commented on #1763
I think it was caused by improper drivers, seems to be working now

[2015-05-26 21:42] CreatureDev commented on #1763
It doesn't launch again, this time using mesa/nouveau drivers

[2015-05-30 06:10] shanling commented on #1226
I think it's pretty obvious they don't care about this issue anymore.. I posted this same thing right after the OSX client came out (right before TI3, about ~2 years ago) and they still haven't fixed it, or commented that they are at least working on it.

[2015-05-30 17:28] mkroman commented on #1664
I'm also able to consitently reproduce this on Arch Linux (Linux 4.0.4-3-ck), running PulseAudio and the NVIDIA proprietary driver (v352.09).

[2015-05-30 19:20] muff1nman commented on #1735
![screenshot from 2015-05-30 14-07-45](https://cloud.githubusercontent.com/assets/1531528/7898962/fa20afa8-06d6-11e5-9d22-8ebfbc1a4089.png)

[2015-05-31 09:22] taourist commented on #140
Is this issue fixed?

[2015-06-01 05:24] Celexi commented on #1766
This also happens in Fedora 22 ( and before on fedora 21), google chrome displaying a notification will make the overlay crash and the game crash right after also.

[2015-06-02 11:23] ciprianionescu commented on #1770
There was a setting for this. I don't know how it got activated. Probably by me, by accident.
It's under "Options" > "Minimap Hide Background" in case somebody find this thread while checking for a "fix"

[2015-06-03 01:09] Viech commented on #505
The issue became worse for me. The following changed since my last post:

- `BACKSPACE` doesn't have any effect anymore, just like `DEL`. I can only delete text by selecting it and replacing it with different text. Thus I know no way to clear a text field.
- [The formatting broke](http://i.imgur.com/auVBcnc.jpg). My screen resolution is 1920×1200 (16:10).

Except for console input (which worked ju

[2015-06-03 07:11] NikitaRogozin commented on #310
Excellent solution. Simple and works well!

[2015-06-04 01:52] zovt commented on #10
Looks like it's working for me

[2015-06-05 17:35] Slarky commented on #1745
It's not crashing on exit anymore here with the 2015-06-05 update.

[2015-06-05 20:42] ipickert55 opened #1775 "[OS X] Crashes all the time"
I can't find a pattern for the crashing of this game, it just happens all the time, usually once per match that I play, usually in the middle of said match.

[2015-06-05 20:44] #1775 closed

[2015-06-05 21:19] Slarky commented on #1745
You can get crash logs via /Applications/Utilities/Console.app

[2015-06-06 22:52] FloSchramm commented on #1766
Can confirm this issue.

[2015-06-07 05:31] muff1nman commented on #1620
Closing this as it is outside of Dota and now looks to be resolved in SDL

[2015-06-07 05:32] muff1nman commented on #1024
This has been resolved in libsdl as mentioned in #1620

[2015-06-09 18:36] gankbanger commented on #1664
Got the same bug in the past on Linux Mint 17 and 17.1 KDE, and currently have it on Linux Mint 17.1 Cinnamon.

[2015-06-11 06:10] iemesis commented on #1777
isssue solved on june 10th update

[2015-06-11 14:41] ESToFI commented on #1691
The most reliable (but sadly not foolproof) method to avoid the crash is to restart Dota between games.  Recently, I have been using the following shell script to warn when the dota_osx process is using close to the 3.7G crash-point so I can at least ask for a pause and restart, rather than crashing halfway through a gank or teamfight - maybe it will be useful for others having this issue.

It che

[2015-06-11 16:22] OlllieB commented on #1606
Its still happening with me on Fedora 22, using this is a temporary fix: su -c 'setsebool selinuxuser_execheap 1'

[2015-06-11 17:07] krikaoli commented on #1691
I don't have enough words. Thank you very much for your solution and kind reply.
My best regards friend ________________________ Cristiano Caiado De AcioliAdvogado Associado - OAB/DF 31497 (061) 9976-6474 Brasília - DF

     Em Quinta-feira, 11 de Junho de 2015 11:41, ESToFI <notifications@github.com> escreveu:

 The most reliable (but sadly not foolproof) method to avoid the crash is to restart D

[2015-06-14 23:22] eliasmtz commented on #33
I hace a similar issue, but my keyboard isn't working fine, when I press the key '1'  (alphanumeric), is pressed 1 = 'Enter' key, 3=space: in the console or the chat. The keys Q, W, E, R, T, Y, A, S, D, those doesn't work: into game I can't to attack or denie (with key A), or use the alphanumeric keys. I am frustrated and can't play the game D: Thank you so much.

[2015-06-15 14:08] iemesis commented on #1778
I use this for when steam crashes in background(use your own display nummber):
sudo ionice -c 2 -n 0 nice -n -20 xterm -e 'su -l hk -s /bin/bash -c "DISPLAY=:0 steam steam://run/570"' && steam steam://SteamExit
Append additional parameters in when you click properties on game in steam(turns off vsync):
vblank_mode=0 primusrun %command% -console
You could try this since its value seems to be ralate

[2015-06-15 18:58] mbfraga commented on #1778
Thank you iemesis, that is good to know for the future.  Yesterday I installed Windows and Dota crashed as well there. I think this is hardware related, so I am closing this issue. I am having the laptop reparied, and if it still happens then, I will re-open.

That is still good information to have. Thanks!

[2015-06-17 23:14] computerquip commented on #1780
Oh wow, real subtle message practically in fine print at the bottom:
"We're still putting the finishing touches on the Mac and Linux clients and we hope to have them available in the coming weeks."

[2015-06-18 11:24] gxgani commented on #1782
https://github.com/ValveSoftware/Dota-2/blob/master/README.md

[2015-06-19 18:21] ihsanberahim commented on #1779
I also experienced it. I need to reopen dota.

[2015-06-20 05:52] cpmdolyp commented on #1688
Thank you very much!
The problem haunted me for a long time. According your solutions, i work out my problem.
My situation is a little different from yours.
 Not only `ttf-dejave`, `ttf-liberation` and `ttf-ms-fonts`  also cause the problem.
I don't install `ttf-ubuntu-font-family` and `otf-hermit`, and i install `ttf-arphic-ukai`, `ttf-arphic-uming`, `ttf-linux-libertine`, `wqy-microhei`, `wqy-ze

[2015-06-20 08:00] cpmdolyp commented on #493
I read the article [ibus Dota2](http://forum.ubuntu.org.cn/viewtopic.php?f=34&t=460195), [fcitx Dta2](http://forum.ubuntu.org.cn/viewtopic.php?f=34&t=466879&sid=1664abac47d8f639ed9b7f3abf94c675) and the [issues#1650](https://github.com/ValveSoftware/Dota-2/issues/1650)
I download the archive and it doesn't work.
I download the [source](https://github.com/timxx/SDL-fcitx) and compile by myself,
and

[2015-06-22 12:53] freddy311082 commented on #1776
I have the same issue. I had installed windows on my MBP retina 15'' and has not crach problem but, the game has not the same graphics quality like OS X. I had a friend who has Ubuntu and he have more crash problems tha me.

Can anyone tell me if Valve have solution for this?

Regards

[2015-06-22 17:00] ajinkyapisal commented on #1756
Volvo don't care about mac gamers I think. I spend like 100$ on this game and I don't even get a proper game to play

[2015-06-22 17:12] Socapex commented on #1756
Yes they do, they have fixed dozens of crash I've reported already. They are silent about it, but fixes come and they come fast. Just report the crashes here.

It is a hate-free place, so I am sure devs are more happy reading bug reports here than on the forums, where everyone is like CryBaby "Volvo don't care about mac gamers I think. I spend like 100$ on this game and I don't even get a proper g

[2015-06-22 17:37] ajinkyapisal commented on #1756
There is some process that needs to follow when issue is reported. This is simple software engineering concept. Bug reported is still in open state, no action has been taken on the bugs that I have reported in a proper way.

[2015-06-22 17:43] Socapex commented on #1756
They seem to have prioritized their bug fixing efforts. With Dota 2 Reborn coming, many "annoyances" will be fixed, new ones will come. It would be a waste of dev time to work on non-critical things like that. They do fix crashes, and really fast!

For not marking bugs as fixed, all software companies do this. There isn't much you can do about it. I believe a cleanup of the bug section would be ni

[2015-06-23 01:23] sarnex opened #1 "GL API Errors on AMD FOSS drivers"
Hi guys.

When I try the Dota 2 Reborn beta, there are constantly these errors:
Mesa: User error: GL_INVALID_VALUE in glScissor
Mesa: User error: GL_INVALID_OPERATION in glUseProgramStages(program not linked)

Here is my complete steam log
https://gist.github.com/sarnex/554f58fb28ce991c19b9#file-dota-2-reborn

My system info:
Radeon 7950, Mesa git, Kernel 4.1.0, Gentoo Linux

Let me know if you ne

[2015-06-23 01:52] tstarboy opened #2 "UI not loading in game (Xubuntu 15.04, Nvidia)"
UI not loading in game. Using Xubuntu 15.04, kernel 3.19.0-14, Nvidia proprietary 352.21 drivers on a GTX 970, at 2560x1440 resolution fullscreened.

![2015-06-22_00003](https://cloud.githubusercontent.com/assets/680229/8297174/96b3b69a-1928-11e5-809c-dde186ae1d10.jpg)

To me it seems like only the top-left 1920x1080 section of the screen is showing the UI?

The issue does not present itself when

[2015-06-23 02:19] r3pek opened #3 "Game doesn't start"
First, there's no "Play reborn" button on the source 1 client.

If I try to launch it directly from Steam, I get a error message saying it didn't find the executable. Looking at the game/ directory inside the dota dir, it's actually missing the binaries.

[2015-06-23 02:49] Vuccappella opened #4 "Mac: Low fps in game."
I'm experiencing very low frame rates inside of Dota2 Reborn.
http://i.imgur.com/lPJ5JeE.jpg 15-20fps. My video settings are the same as on the main client where I easily get between 115 and 120fps.

There are slight frame drops while navigating the menu as well but it's not too noticeable compared to ingame gameplay.

Configuration: http://i.imgur.com/DJgP8tu.png

[2015-06-23 02:58] Vuccappella opened #5 "Mac: Spectating games is not possible."
http://i.imgur.com/oHwVufT.png

Not able to spectate games trough the Watch>Live menu tabs. Dota is stuck on Waiting For Game Data and there is no option to spectate the game.

Configuration: http://i.imgur.com/DJgP8tu.png

[2015-06-23 03:02] Vuccappella opened #6 "Mac: Fullscreen Mode Disables Global Shortcuts"
Accessing dota trough fullscreen disables the ability to navigate between programs (CMD+TAB) or to take Screenshots (CMD+SHIFT+4) and possibly disables any global shortcuts assigned to the CMD key or any other key. I'm not sure if this is intended behaviour or if it's a bug, since this isn't how it functioned on the main client. However, this is a feature other games have but usually they come wit

[2015-06-23 03:21] xfalcox opened #7 "Linux: High ksoftirqd"
After launching the client the game runs really fine, but I'm getting a relatively high load on ksoftirqd for each core on my machine:

[code]

Is this expected?

[2015-06-23 03:24] lucasmorano commented on #1784
Just to reinforce that this is exactly happenning to me also. There' some serious leakage going..

[2015-06-23 03:32] gankbanger opened #8 "Linux: Steam overlay flickering"
Shift-tabbing into steam overlay is making the whole screen flicker, going from white, gray, blue to green and probably other colors. You can make out some of the icons, and the border of the windows between flashes, but it is mostly unusable

The bug is only happening when shift-tabbing in the menu screens BEFORE loading a game. After I demoed a hero the issue went away. I could access steam over

[2015-06-23 03:58] ItzRobot opened #9 "Main Menu Lag (Mac)"
Cant click anything without clicking multiple times or even start a game, I get 1-2 fps in the main menu.

[2015-06-23 04:09] micaelbergeron opened #10 "Cannot enter in hero "demo" mode"
The game will crash during the loading (with the dota2 logo on black background).
If you need any more logs, just tell me.

[2015-06-23 04:31] bklooster commented on #1784
Yup, the performance of the OS X reborn client is virtually unplayable. I cranked it down to low, just in order to play through a co-op game I joined. (I guess I was optimistic about the improvements) I barely made it through it.

Looking at CPU profiler it is a vacuum of cpu, running at 550-600% cpu on my quad-core. The input is incredibly laggy. The hardware mouse seems to be updating, but the a

[2015-06-23 04:34] codycurley opened #11 "Mac: Fullscreen mode with second monitor"
When using fullscreen mode and dual monitors, my mouse will track over to the second screen.

On the main client, the second monitor continued to work as intended. It would show my desktop or browser while in Reborn it goes black.

Specs: https://cloudup.com/c2e8DUzlhtG

[2015-06-23 04:46] lucasmorano commented on #1784
Not trying to be 'that' guy but I hope this is not even Alpha version

[2015-06-23 04:50] spalfs opened #12 "Custom Game Doesnt Launch"
I've installed overthrow and have tried matchmaking and creating my own private game and the loading screen comes up for overthrow but then the game force closes down.

On Debian Testing 64bit.

**Edit for more information**
I'm running i3 window manager with a GTX 550 ti with no problems on legacy dota.
I've tried running it with MATE with no difference.

[2015-06-23 04:57] gdrewb-valve commented on #1784
Closing in favor of Dota-2-Reborn#4.

[2015-06-23 04:58] gdrewb-valve commented on #1786
You can leave this but please open Reborn issues in Dota-2-Reborn.

[2015-06-23 04:58] gdrewb-valve commented on #1785
You can leave this but please open Reborn issues in Dota-2-Reborn.

[2015-06-23 05:00] atanasbozhkov commented on #1785
Sorry did not realise that there was a new repo. I followed the link from the dota dev website.

[2015-06-23 05:01] Disk1of5 opened #13 "[LINUX] Reborn Starts up on wrong monitor"
It seems that Dota 2 - Reborn doesn't use the main monitor initially, original Dota 2 works correctly.
I had to change to bordered window, move to the primary screen and then re-enable full screen.
It would be nice to choose what display to use in a multi display setup.

My setup is mint 17.1 with Cinnamon as as my windows manager.

[2015-06-23 05:06] khill opened #14 "Game crashes to desktop when trying to demo hero or play bot game"
I downloaded the Reborn beta and installed with no issues.  Hero browser, armory, etc. all work fine.  When I try to demo a hero or launch a bot game, it crashes to desktop.

I have removed my autoexec.cfg, tried fullscreen vs. borderless window, etc. but nothing makes a difference.  I tried it from big picture mode with the same result.

Dota 2 6.84 continues to work flawlessly, just a problem wi

[2015-06-23 05:34] nascob opened #15 "[Mac][El Capitan] Game crashes every time on launch."
As a developer - I am running El Cap Build 1.
I just installed Dota 2 Reborn, but it seems to crash straight after the UI shows up on the screen.

Crashlog - http://pastebin.com/HmyY2MLk

I know it's still in beta  - just thought this might be helpful.

[2015-06-23 05:51] computerquip opened #16 "[Linux] Item names do not show"
I don't recall this issue on Windows. Have a pic:

![Some Stuff](http://images.akamai.steamusercontent.com/ugc/525015750982213228/CBE9EA4C5F0AF768563978D2F4576AC5C25ECE07/)

This happens with all items.

[2015-06-23 06:03] computerquip opened #17 "[SteamCloud] Settings Not Saved"
Hotkeys and preferences should be saved in the cloud. They currently are not (as my settings from Windows was not saved). I'm not sure if it's intended or not yet so I'm defaulting to a report.

[2015-06-23 06:10] spacebiggles opened #18 "No advance warning of 64bit requirement."
The requirement for 64bit OS isn't clear when you go to download the DLC. When you try to start the game, there is no indication as to why it's not starting, you have to go manually look at the readme on github to get your disappointment.

[2015-06-23 06:20] computerquip opened #19 "[OpenGL] Green Screen"
The first frame or so when starting the game up using the OpenGL renderer shows a very quick but out-of-place green screen. It does this on Windows as well.

[2015-06-23 06:49] yaakov-h opened #20 "OS X: Corrupt text in-game"
![screen shot 2015-06-23 at 2 58 38 pm](https://cloud.githubusercontent.com/assets/426009/8300384/843a289c-19c7-11e5-9a72-c4d75180718f.png)

MacBook Pro (Retina, 13-inch, Late 2013) / MacBookPro11,1
OS X Yosemite Version 10.10.3 (14D136)

[code]

[2015-06-23 06:49] Crayyu opened #21 "Reborn opens with dock and top bar but cant click anything to change to full screen (Mac)"
When ever I open dota it opens fine, but it has the dock up still and the top bar and I can't click anything in the client to change it.

[2015-06-23 06:51] yaakov-h opened #22 "OS X: Game does not start full-screen"
The menu bar and dock are still visible. I tried clicking on the game surface and on the dock icon, but the menu bar and dock remained.

Given that the minimum requirements for Reborn is OS X 10.9, it would be nice if Source could use the new fullscreen mode that was introduced in OS X 10.7.

![screen shot 2015-06-23 at 2 58 08 pm](https://cloud.githubusercontent.com/assets/426009/8300400/d8b15e4a

[2015-06-23 07:39] sgsdxzy opened #23 "[Linux]No 3D Rendering with Intel HD 4000 and Mesa"
All 2D game ui and layout and hero selection works fine.
However, no 3D models are rendered, in hero preview/selection/loadout, etc.
In a match, the whole screen goes purple and white. The only working part is minimap and hero skill/item bar.

Confirmed on 2 systems:
1. Gentoo Linux 64bit, Intel HD4000 with mesa 10.5.4/10.5.6
2. Archlinux 64bit, Intel HD3000 with mesa 10.5.5

[2015-06-23 07:48] Andify opened #24 "[OS X] Flickering, Corrupted 3D Graphics"
The menus are quick and responsive but the actually rendered 3D content is glitching horribly; the content flickers rapidly to boot. The computer's specifications can be viewed [here](https://gist.github.com/Andify/72b39168813b2e9fb756).

![screen shot 2015-06-23 at 9 31 08 am](https://cloud.githubusercontent.com/assets/4118371/8301213/50a82578-198c-11e5-9541-0fe9774d1ecd.png)

![screen shot 2015-

[2015-06-23 08:00] ananace opened #25 "In-game 2D components render on top when console is open"
When you open the console then any in-game 2D component - health bars, text, etc - will render on top of everything, obscuring the console text as well as the menu.
![Image example](http://i.imgur.com/LwvVwhl.png)

[2015-06-23 09:02] svms1 opened #26 "[Linux] Watch: Waiting for Game Data..."
If I click on the "Watch" tab I can see a list of games (with the number of spectators, game type and game mode), but for every game in the list it shows "Waiting for Game Data..." indefinitely.

[2015-06-23 09:02] hssm commented on #1165
Thought I'd chime in to say that the Reborn client *still* has this problem (1.5 years later!). I'm on Ubuntu 15.04.
![2015-06-23_00001](https://cloud.githubusercontent.com/assets/789082/8302392/64944b1e-19d9-11e5-91b0-61af4fef03e2.jpg)

The re-worked UI actually displays Japanese correctly now, so it's an improvement from before, but the in-game UI is still broken. I'm sure the 8 people who want

[2015-06-23 09:06] svms1 opened #27 "[Linux] Custom Games: The lobby you specified no longer exists."
When I try to join a custom game lobby I get the "The lobby you specified no longer exists." error. This happens for any lobby, even if I have just refreshed the list.

However, I am able to create a lobby and people are able to join it. Most of them are filled within seconds and start automatically.

Edit: I just realized that maybe the issue is that the lobbies are filled too fast and thus don't

[2015-06-23 09:21] gu3st opened #28 "OS X - Crash on launch"
After installing Reborn, it launched once and then crashed once I went to view a replay.  Upon relaunch, I get an instant crash when beginning to render the UI. I have tried with "Automatic Graphics Switching" Enabled and Disabled with the same result.  Also of note, I am running OS X 10.11

System specs are:
![screenshot 2015-06-23 02 22 40](https://cloud.githubusercontent.com/assets/375232/83028

[2015-06-23 09:43] ramma opened #29 "[Linux] Unable to join games when partied with another Linux user and/or while on the same network."
While grouped with another Linux user on the same network, connecting to games fails to load one of the users. Console repeatedly attempts to reconnect, then fails after 30 retries.

Worth mentioning as well is a seemingly identical issue started happening in CSGO a short while ago, and is reported at [bug #389](https://github.com/ValveSoftware/Counter-Strike-Global-Offensive/issues/389).

[System

[2015-06-23 09:51] ramma opened #30 "[Linux] Modifier keys such as Alt perform actions which minimize the game."
This issue was reported originally [here](https://github.com/ValveSoftware/Dota-2/issues/1740) and still exists in the Reborn beta.

[2015-06-23 09:55] diegogmx opened #31 "Scoreboard not showing, keyboard layout issue? (ubuntu 15.04, plasma5, nvidia 352.21)"
Scoreboard wont show when pressing º, the default key was `, tested it and changed it but didn't show up anyway, keyboard layout issues maybe?

[2015-06-23 10:20] xiansu opened #32 "error C3008: unknown layout specifier 'row_major'"
Using dual monitors with nvidia-304-updates

Loads dota2 reborn into a black screen with music. I have a console up and the last thing it says before a bunch of errors is:

CL: Receiving uncompressed update from server
CL: CL_ProcessPacketEntities: frame window too big (>=128)
CL: Signon traffic "client": incoming 35.943 KB [8 pkts], outgoing 1.270 KB [9 pkts]
Compilation failed: no code produced.

[2015-06-23 10:22] gyaru opened #33 "Linux: Borderless Window and multiple monitors makes mouse track over to a different monitor."
Kinda similar to #11

Using Borderless Window and more than one monitor makes the cursor go to a different monitor instead of being bound to the dota window itself. (The regular client did not have this issue)

Switching to fullscreen mode seems to "fix" this because it doesn't have the same issue.
Starting the client with fullscreen seems to suffer the same issue though.

[2015-06-23 10:38] SexyFlanders opened #34 "[Linux] Game is crashing after loading screen"
Hello,
The reborn client itself is running well, but if I want to start a game (online or against bots) the game is crashing after loading screen.
Here my systeminformation:
https://gist.github.com/SexyFlanders/22d8bcb02d1ef981ec65

Here is the crashfile dump:
https://drive.google.com/file/d/0BxgzxCaqJxflOWFWd1NITmFsZUE/view?usp=sharing

I hope you can use it?

[2015-06-23 10:44] DarkDefender opened #35 "[LINUX] Client fails to load bundled libpangoft-1.0.so"
When I try to start the new reborn client it errors out with:
`Plat_GetProcAddresses: unable to load 'libpangoft2-1.0.so'`

I have pango version 1.36.8 installed on my system (both 32 and 64 bit versions) so I thought I might be able to workaround this by simply renaming the bundled lib. It worked in somewhat because it now successfully loads the system pango libs. However it segfaults now instead

[2015-06-23 11:46] SamTShaw opened #36 "[Linux] Corrupted HUD"
Hi,

I launched Reborn, which was fine, I went to demo a hero to see what in-game is like, and came across a corrupted HUD. Mostly everything is black.
In original Dota 2 I was using the diretide HUD, so I don't know if it is trying to use the same HUD in reborn as well.

Here is a screenshot showing what it looks like: https://imgur.com/GD52LYq
System information:

[code]

[2015-06-23 11:55] hadim opened #37 "[Linux] Only black screen with Intel Iris Graphics 5100"
While the Dota 2 original works fine.

My system : Linux Mint 17.2 on Asus Zenbook UX301LA (Intel Iris Graphics 5100).

[code]

Thank you !

[2015-06-23 12:35] alois-git opened #38 "AZERTY keyboard keys 1(&)/2(é)/3(")/.../0(à) trouble"
Hi,

Keys are not working properly because they bind it to the special character associated with the key but not all special character works.

For example : "2" associated with "é" doesn't work, I can't bind any action on it. This is a bit annoying because I guess many people use it as Item shortcut.

Ubuntu 15.04, AZERTY keyboard (French layout)

[2015-06-23 12:37] ananace opened #39 "[Linux] Voids/Chasms not being cleared properly"
This is only really noticeable on the hero testing map and - most likely - any custom games that use chasms.

Here's a picture from my GTX 570 desktop:
![Desktop image](http://i.imgur.com/lSKP79S.jpg)
And here's my Intel HD Graphics 4400 laptop:
![Laptop image](http://i.imgur.com/qoe81Vy.jpg)

Using Mesa 10.5.6 on my laptop, Nvidia 346.45 blob driver on desktop.
Here's the glxinfo from my laptop,

[2015-06-23 13:04] gdmsl opened #40 "[LINUX] Graphics glitch on map edge in hero demo"
When scrolling past the edge of the map in the "hero demo" mode the render fails. An example of this bug is shown in the image below. The edge of the playable map is repeated several times in place of the dark zone.

I am running Dota 2 Reborn on a laptop with a nVidia card using `optirun -b primus %command%` to start the game

![Image of the glitch dring hero demo](http://i.imgur.com/iITd1X8.png)

[2015-06-23 13:09] suhaaktas opened #41 "[Linux] Game doesnt launch"
i cant launch the game as it crashes on the inital loading screen. trying verifying the game files. will post the result asap.Normal dota client works smoothly
Edit: nope, it didnt work. still crashes on loading screen.and i also found out several reddit users having the same problem. is there anything i can help fixing it?
Edit 2: This is the game console log: http://paste.ubuntu.com/11761194/

d

[2015-06-23 13:11] #37 closed, assigned to nobody

[2015-06-23 13:52] gensss opened #42 "[Linux] game uses over 300% cpu"
a big part on mutex spinlocks/calls

cpu: amd fx 8320
gpu: nvidia 465, 352.21

linux 4.1, 64bit
glibc 2.21

i can provide perf data or anything else if needed

[2015-06-23 14:48] Forty-Bot opened #43 "[Linux] GUI Unresponsive and Corupt"
![](http://i.imgur.com/S0Ekmao.png)

The gui appears very different from what is intended.  Many of the widgets were not shown until they were moused over.  Mousing over is the only reliable way to interact with the interface, clicking does nothing, although repeated double clicks did bring up the "Heroes" tab.  The game is running in borderless windowed mode on a 5:4 screen with the launch option

[2015-06-23 14:55] Vuccappella opened #44 "Mac: Crash In-game."
https://gist.github.com/Vuccappella/4cde71b4b264b29575c1 . Crashed while playing custom lobby.

[2015-06-23 15:07] ArnaudAndre commented on #1787
I don't have osx but I believe adding `-w 1920 -h 1080` to the game launch options still works.

[2015-06-23 15:51] Xaue opened #45 "[Linux] Player models and towers replaced with error when rejoining a crashed game"
When rejoining a game after crashing, no assets will load, meaning certain heros are unable to target the errors, because they don't seem to be actually clickable either.

![Image of Error](http://images.akamai.steamusercontent.com/ugc/37501219154886379/B57B5F9D765E3BE766C0495E3236A74D415950B2/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside|2048:1152&composite-to=*,*|20

[2015-06-23 16:13] nestos opened #46 "[Linux] Random colors (in-game)"
Game opens really fast and menus work nice but:
http://steamcommunity.com/sharedfiles/filedetails/?id=467510036
Also really low fps.

[2015-06-23 16:27] BanhmiDev opened #47 "[Linux] Graphical issues"
Thumbnails are initially blurred out, although change to their original resolution when hovering over them
![Blurry](https://i.imgur.com/PmvHWYZ.png)

Heroes don't even show up in showcase mode
![Hero](https://i.imgur.com/NgEphEL.png)

edit: Games do not load - correlating to https://github.com/ValveSoftware/Dota-2-Reborn/issues/10

System specifications:

[code]

[2015-06-23 17:11] VelorumS opened #48 "[Linux] Ingame-UI/Hero-Pick-UI almost not rendered - nVidia"
Ubuntu 14.04LTS (standard, with Unity)
`3.15.0-6-generic #11-Ubuntu SMP Thu Jun 12 00:40:00 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`
GTX760 4GiB (MSI)
proprietary driver 331.113-0ubuntu0.0.4

fullscreen or borderless

![hero_pick](https://cloud.githubusercontent.com/assets/5393579/8312119/35f30e60-19db-11e5-861e-67bf4a3b5fbe.png)

**update:**
Newer driver changes things. What works correctly:
Ubun

[2015-06-23 18:31] VelorumS opened #49 "[Linux] Custom game start button does nothing after initial mod install"
Started Dota.
Changed to fullscreen (maybe it is not important).
Downloaded the Overthrow mod.
The Overthrow start-match button became active, but submode choice buttons didn't appear.

Had to restart Dota to be able to enter an Overthrow match.

[2015-06-23 18:46] rcano opened #50 "[Linux] Input Methods not supported"
I'm using the great fcitx for input method handling, unfortunately dota2reborn ignores it completely not allowing me to type in anything but english (it does seem to respect keyboard layout though). It also ignores my xmodmap'ped keys.

[2015-06-23 19:26] #26 closed, assigned to nobody

[2015-06-23 19:27] #40 closed, assigned to nobody

[2015-06-23 19:32] #3 closed, assigned to gdrewb-valve

[2015-06-23 19:39] #28 closed, assigned to nobody

[2015-06-23 21:01] xianyu-wang opened #51 "[MAC] Game Crashed When I Accept A Match"
It happens every time when i find a match.
Here is the crash info.
Process:               dota2 [7085]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2
Identifier:            dota2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        ??? [7082]
Responsible:           dota2 [7085]
User ID:               501

Date/Time:             2015-0

[2015-06-23 21:23] #42 closed, assigned to gdrewb-valve

[2015-06-23 21:26] rodlorric opened #52 "Water in Dota 2 Reborn differs from Dota 2 Source 1 on Linux and Dota 2 Reborn on Windows"
In the Linux Dota 2 Reborn client, I can clearly see where the stairs ends and the river starts, there is no blending as there is on Dota 2 Reborn on Windows and even on the Source 1 Linux version.

Here are some screenshots:
Dota 2 Reborn - Linux
![Day time](http://imgur.com/jR8rdeH.jpg)

![Night time](http://imgur.com/rhyCZin.jpg)

Dota 2 Reborn - Windows
![Day time](http://imgur.com/QmgPtct.jpg

[2015-06-23 22:07] EPadronU opened #53 "[Linux] Unplayable due low FPS in Manjaro Linux x86_64 (Valve's runtime)"
The main HUD runs at 50 FPS in average but when I **start a game** the FPSs drop to a **maximum of 3**.

My graphic settings are the following:

![Graphic settings](https://cloud.githubusercontent.com/assets/829947/8317931/bb88cd64-19ca-11e5-979f-a5db0288e4b7.jpg)

Some technical information about my machine:

`uname -a`

[code]

`lspci -vv`

[code]

`mhwd -lh -d`

[code]

`Help -> System Informat

[2015-06-23 22:12] EPadronU commented on #1792
I closed this issue in favor of reporting it at [ValveSoftware/Dota-2-Reborn](https://github.com/ValveSoftware/Dota-2-Reborn/issues/53)

[2015-06-23 22:24] rodlorric opened #54 "Hero portraits are not displayed on Players profile Trophy Case"
You can see on this screenshot that the hero portrait is not being displayed:
![Trophy Case](http://imgur.com/25vZG5D.jpg)

Additionally, on the Heroes Tab / All Heroes option, none of the hero portraits are animated, just still images on mouse hover.

*Edit:
On the draft screen when you enter a game, say All Pick, the portraits are animated.

I verified the game's cache with the same results.

[2015-06-23 23:23] MaelRL opened #55 "[Linux] Flickering shadows"
Hi,

I have the following issue: the shadows flicker (as if the option was being quickly turned on and off randomly). This requires 'Shadows' to be enabled, but it happens regardless of the state of all the other options (could be max or min settings, as long as Shadows is enabled, the problem is there).

It also happens regardless of weather choices, whether I am in full screen / windowed / etc,

[2015-06-24 00:29] rodlorric opened #56 "Some trees are much darker in Linux than on Windows"
As shown in these screenshots below some trees are much darker on Linux, almost black.

Linux
![Linux](http://i.imgur.com/0DvFSk1.jpg)

Windows
![Windows](http://i.imgur.com/6wXtSBx.jpg)

These very dark trees are very common on the Dire side of the map.
*Edit. Grammar

[2015-06-24 01:14] bxio opened #57 "Client crashes after a few seconds on El Capitan"
Latest MacBook Pro retina, running OS X 10.11 beta2. The client successfully launches but crashes a few seconds after.

I have tried reinstalling the beta, and verifying game cache. Please advise on next steps.

[2015-06-24 01:39] #57 closed, assigned to nobody

[2015-06-24 02:06] elwl opened #58 "[OS X] client crashes instantly on startup if dx11 parameter is set."
if dx11 parameter is supplied it should be ignored, but instead it tries to do something.
interesting, as the parameter has no effect in the old client on OS X.

[2015-06-24 03:17] rodlorric opened #59 "UI Performance drop on Heroes tab"
In the Heroes tab, specifically in the Featured Heroes and in All Heroes, the frame rate drops from 60 fps to 40 fps.

My guess is that this performance drop seems to be related to the All Heroes screen, since the Featured Heroes screen have the All Heroes grid as background.

System info:

[code]

[2015-06-24 03:22] kcazyz commented on #1791
I have the same problem, exactly.

My stats are:
Linux Mint 17.1, Intel(R) Core(TM) i7-4710HQ, 8GB RAM, NVIDIA proprietary driver 331.113 on GeForce GTX 860M

[2015-06-24 03:47] Densaugeo commented on #1791
I'm having the same issue in lobby (haven't tried to start a game yet). I'm on Fedora 21, open source radeon driver, Radeon HD 7850 GPU.

Here's my terminal output from starting steam and going directly to the reborn beta:

[code]

[2015-06-24 04:14] Densaugeo commented on #1791
Reposted in https://github.com/ValveSoftware/Dota-2-Reborn/issues/43

[2015-06-24 04:16] Densaugeo opened #60 "[Reborn] Missing dependency on Fedora 21"
After downloading, reborn failed to start and gave errors related to not having support of s3tc compression. It was not able to start until after I install an s3tc library (libtxc_dxtn) from the rpmfusion repo.

I am running on Fedora 21, with HD7850 GPU and open source radeon drivers.

[2015-06-24 04:16] Densaugeo commented on #1793
Reposted in https://github.com/ValveSoftware/Dota-2-Reborn/issues/60

[2015-06-24 04:59] p-groarke opened #61 "[OS X] Minimap "invisible" after changing resolution."
I have everything set quite low (lowest actually). I took a screenshot but it is all black (probably because of fullscreen). The minimap is transparent with overlaid health bars in it. I will try screenshots again :/ Happened after changing resolution with fullscreen enabled.

2012 Retina macbook pro, everything up-to-date.

[2015-06-24 08:25] adityavm opened #62 "[Win] 64-bit client crashes on hero grid"
When switching from other tabs to hero tab, then clicking on 'View Grid', the client crashes after a short while.

[2015-06-24 09:03] fasmat opened #63 "[Linux] Fullscreen not available"
I can't play Dota 2 Reborn in full screen. If I select it in the options it will render as border-less window instead (same if I select border-less window).

I didn't have this issue with the old Dota 2 and other Linux games (e.g. Amnesia or CS:GO) also work in full screen.

[2015-06-24 09:05] TimotheeJeannin opened #64 "The startmovie command does not record anything."
From the http://www.dota2.com/reborn/part3 we can read that [SFM](http://www.sourcefilmmaker.com/) allows to render MP4 video of source2 games:

From the [valve documentation on video recording](https://developer.valvesoftware.com/wiki/Demo_Video_Creation) it looks like there is a command to record source games.

[code]

Is this command available in Dota2 Reborn ? Is there any way I can record Dot

[2015-06-24 09:14] z0mbieprocess opened #65 "[Linux] cl_showfps shows unrecognizable text"
Arch Linux, Gnome 3.16, kernel 4.0.5, i5-2520M, intel HD3000, mesa 10.6 (patched with http://patchwork.freedesktop.org/patch/52603/ taken from https://github.com/ValveSoftware/Dota-2-Reborn/issues/23)

![screenshot from 2015-06-24 12-01-12](https://cloud.githubusercontent.com/assets/13030753/8326405/b7f50ff6-1a69-11e5-89e5-3d6279965764.png)

[2015-06-24 09:34] Korobochka commented on #1791
@Densaugeo, thank you. I didn't know about that repository.
I guess this issue can be aborted then.

[2015-06-24 10:18] daniele-salvagni opened #66 "[Linux] Auto-disconnect message does not go away after disconnection"
The red "WARNING: Connection Problems. Auto-disconnect in ..." message does not go away after disconnecting from a game. In my case I was disconnected from a custom game, but I think it could happen also in normal ones. The message is static, the timer does not decrease.

![Screenshot](http://i.imgur.com/2WUMANE.jpg)

Liux distro based on Ubuntu 14.04 LTS, nvidia-346 with bumblebee and primus.

[2015-06-24 10:23] diegogmx opened #67 "hero search not working (ubuntu 15.04, plasma5, nvidia 352.21)"
self descriptive

[2015-06-24 11:17] hrzhu opened #68 "[Linux] Have dota2 sound in desktop although I have `play sound in desktop` unchecked"
System info:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x17
    CPU Stepping:  0xa
    CPU Type:  0x0
    Speed:  3003 Mhz
    2 logical processors
    2 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Unsupported
    SSE42:  Uns

[2015-06-24 11:45] suptimal opened #69 "[Mac]: add notify support (match ready)"
can we have to notification support again as in dota 2

[2015-06-24 11:50] #60 closed, assigned to danginsburg

[2015-06-24 12:03] Turmfalke2 opened #70 "Can't watch live games"
hi,
The watch tab lists few games on the left side, but the window to the right always says "Wating for Game Data..."

[2015-06-24 12:09] kingdomnerdia commented on #1790
I found that opening the steam overlay (default shift+tab) allowed me to alt-tab.  Are you running the game in windowed mode?

[2015-06-24 12:49] #70 closed, assigned to nobody

[2015-06-24 13:47] r3pek opened #71 "Necrophos missing particles"
Necro is missing particles for all his attacks.

https://www.youtube.com/watch?v=AKeOBuf2TR4

[2015-06-24 13:51] pramadito commented on #63
still happen until now
here's at my computer:
https://www.youtube.com/watch?v=QculgWJtcTA

[2015-06-24 14:01] minecraft2048 opened #72 "Dota 2 Reborn increases Linux kernel CPU usage"
So I'm curious with Dota 2 Reborn CPU and memory requirements, so I SSH to my laptop and I use htop. Then I that the CPU bar have more red bar than usual. I suspect Dota 2 Reborn is causing this, so I tried to isolate it.

Here is the screenshot of my desktop with all running programs:

![screenshot_2015-06-24_20-39-26](https://cloud.githubusercontent.com/assets/2445636/8331589/6278defa-1ab3-11e5-

[2015-06-24 18:09] grasdaggel opened #73 "[Linux/Ubuntu 14.04] Cant pick a hero, nor can I move him if I eventually manage to pick him"
Played a round of Overthrown.

Not sure what caused this. Nvidia 331 driver, Linux 14.04

[2015-06-24 18:40] #56 closed, assigned to danginsburg

[2015-06-24 18:55] milovanderlinden opened #74 "linux - Map scroll down not working"
In borderless window mode on Linux, moving the mouse to the bottom of the screen won't scroll the map down while in game when screen resolution equals the chosen resolution (in my case 1920x1080 monitor, 1920x1080 resolution picked)

I use gnome that takes up the top bar and maybe pushes the Dota Reborn window down a bit leaving the area to move the map just out of reach, because when I select a l

[2015-06-24 18:55] chiconcota opened #75 "[ linux ] can't chosse dota2 reborn option to lauch"
i has installed dota2 reborn, but when i click play button in steam, it don't show option window to choose dota2 reborn. when right click dota i don't see dota2 reborn option. what should i do to play dota2 reborn?
![screenshot from 2015-06-25 01 12 30](https://cloud.githubusercontent.com/assets/13038146/8338779/4647ef62-1add-11e5-8922-134085916eea.png)

[2015-06-24 19:29] milovanderlinden opened #76 "linux - Unable to drop item from inventory in learn"
When in game, I am unable to drop or sell an item from my inventory. This is in "Learn", so maybe this is intended.

[2015-06-24 21:02] #76 closed, assigned to nobody

[2015-06-24 23:11] #1 closed, assigned to danginsburg

[2015-06-24 23:11] #71 closed, assigned to gdrewb-valve

[2015-06-24 23:12] #5 closed, assigned to gdrewb-valve

[2015-06-24 23:12] #19 closed, assigned to danginsburg

[2015-06-24 23:13] #23 closed, assigned to danginsburg

[2015-06-24 23:14] #52 closed, assigned to danginsburg

[2015-06-24 23:15] #35 closed, assigned to gdrewb-valve

[2015-06-24 23:35] #67 closed, assigned to gdrewb-valve

[2015-06-24 23:36] #15 closed, assigned to gdrewb-valve

[2015-06-24 23:41] gdrewb-valve commented on #1791
Closing in favor of the Reborn repo.

[2015-06-24 23:42] gdrewb-valve commented on #1786
Closing now that this is in the Reborn repo.

[2015-06-24 23:43] gdrewb-valve commented on #1789
Please post Reborn issue in the Dota-2-Reborn repro (which already has multiple perf reports).

[2015-06-24 23:58] jmmL opened #77 "[Mac] Fonts are blocky, lots of yellow boxes and very low FPS"
I hope this isn't a duplicate, but Reborn on Mac has extremely blocky fonts in-game (except for player names above heroes, which seem fine). There are also lots of yellow boxes where there ought to be hero portraits and spell icons etc. See another user's screenshot: https://i.imgur.com/dUpJYFd.png

Additionally, I get very low fps, maybe 3-5. The audio seems to play fine.

OS X 10.10.3 Yosemite,

[2015-06-25 00:44] vividnightmare opened #78 "[Linux] Swing animations delayed from actual swing damage"
After today's update, the animation for last hitting seems to be delayed a bit.

Basically the damage for the swing is dealt prior to the animation finishing the hit.  It seems to deal damage about half-way through the animation.

I don't know if this is Linux specific or hero specific, but I was playing Meepo and my hardware information is as follows:

[code]

[2015-06-25 01:13] #77 closed, assigned to nobody

[2015-06-25 01:14] #43 closed, assigned to gdrewb-valve

[2015-06-25 01:19] DarkDefender opened #79 "[Linux/radeonsi] Ingame gui only renders on half of the screen"
Todays (Jun 25) update solved the radeonsi main menu rendering problems for me on my 290x.
However, with mesa from git (checkout from Jun 25, 02:10 CEST) the ingame GUI is not correctly rendered:
![2015-06-25-030304_1920x1200_scrot](https://cloud.githubusercontent.com/assets/312503/8344877/7ce950ba-1ae7-11e5-941d-12b083e9d4c8.png)
![2015-06-25-030335_1920x1200_scrot](https://cloud.githubuserconten

[2015-06-25 01:41] EPadronU opened #80 "[Linux] The minimap isn't rendering correctly in Manjaro Linux x86_64 (Valve's runtime)"
### Reborn client

![2015-06-24_00001](https://cloud.githubusercontent.com/assets/829947/8345177/4810e196-1ab5-11e5-8b3a-73241538bdad.jpg)
### Main client

![2015-06-24_00004](https://cloud.githubusercontent.com/assets/829947/8345183/5d1353b2-1ab5-11e5-84d0-ee0ed3fde2d9.jpg)
### Machine specs

`uname -a`

[code]

`lspci -vv`

[code]

`mhwd -lh -d`

[code]

`Help -> System Information`

[code]

[2015-06-25 01:46] #53 closed, assigned to gdrewb-valve

[2015-06-25 01:53] EPadronU opened #81 "[Linux] Blurry text in the `Play Dota` menu - Manjaro Linux x86_64 (Valve's runtime)"
### Screenshot

![2015-06-24_00002](https://cloud.githubusercontent.com/assets/829947/8345275/6baebe7e-1ab6-11e5-9b6e-f981a9d610a0.jpg)

This is more evident under the `PICK TEAM` section.
#### Note

I also got to see the picture of Lina very blurry but it was one time and I didn't take a screenshot of it.
### Machine's specs

`uname -a`

[code]

`lspci -vv`

[code]

`mhwd -lh -d`

[code]

`Help -

[2015-06-25 01:55] Vuccappella opened #82 "Mac: Heroes> Global items, menu does not work."
I tried disabling my weather effects from the menu Heroes>Global Items>World but upon clicking world everything is greyed out Wards,Effigies,Weather Effects, same with the menu Companions>Pets or Companions>Couriers. or both the Interface and Audio menus and sub menus.  http://i.imgur.com/qsIRDy0.jpg example. I have many items that fit these categories.

[2015-06-25 01:59] Kirov123 opened #83 "[Linux] Net worth hotkey does not work while spectating"
I have tried mapping it to other keys which still doesnt work, and mapping other game stat hotkeys to the key I would use for net worth, and they work fine. Whenever I press the keybind for net worth, it closes the same stats panel if it is open, and does nothing if closed.

[2015-06-25 02:03] Kirov123 opened #84 "[Linux]If console is opened while in a game, it cannot be closed, and game buttons cannot be pressed, requiring a force close of the game"
The close button for the console does not work, and the console is on top of every game element, and so no game buttons can be pressed either.

[2015-06-25 02:30] kcazyz commented on #1791
I think this should be reopened as it is not the same issue as in the other case. My issue was not fixed by the update, and as someone there pointed out the 3d is rendering for me, the issue is the HUD. Thanks!

[2015-06-25 02:35] gramathy opened #85 "[Mac] Multiple rapid inputs slow to process"
Lots of ingame inputs (this doesn't seem to affect UI interactions, only unit commands and camera movements) result in later inputs taking longer to be expressed compared to earlier inputs. Allowing the game time to catch up "resets" the input lag but subsequent random inputs will start out responsive and get progressively laggier until the game is allowed some time to catch up again.

[2015-06-25 02:36] gdrewb-valve commented on #1791
@kcazyz, I meant "the Reborn repo" in the general sense, not just item 43, as this is the regular non-Reborn repo and Reborn issues should go in the Reborn repo.  Also there are a number of rendering issue bugs there.  The one in particular I was thinking of was that updating to the 352 drivers fixed graphics problems that people were having with 331, but whether or not that would help you I don't

[2015-06-25 02:37] kcazyz commented on #1791
Oh I see, thank you very much!

[2015-06-25 02:44] Kirov123 opened #86 "[Linux] The inspect hero UI while spectating does not show equipped cosmetics"
The magnifying glass icon in the hero portrait opens a small windows in the side thats shows the hero as shwn in the loadout screen, but does not display equipped items in their boxes.

[2015-06-25 02:51] EPadronU opened #87 "[Linux] Huge FPS drop during sand storm in Manjaro Linux x86_64 (Valve's runtime)"
### Description

During `Sand King`'s `Sand Storm` I'm getting a **huge FPS drop from ~44 to ~19**.
### Machine's specs

`uname -a`

[code]

`lspci -vv`

[code]

`mhwd -lh -d`

[code]

`Help -> System Information`

[code]

[2015-06-25 02:56] EPadronU opened #88 "[Linux][Layout] [Minor] `Duration` column name under the `Recent Games` view is not correctly aligned"
### Screenshot

![2015-06-24_00005](https://cloud.githubusercontent.com/assets/829947/8345931/7eaaa782-1abf-11e5-9143-efb0b1e9e770.jpg)
### Notes

Let me know if you need my machine's specs for this one.

[2015-06-25 03:01] kcazyz commented on #1791
Yup upgrading to 352 worked for me, thanks again!

[2015-06-25 03:19] #7 closed, assigned to gdrewb-valve

[2015-06-25 04:28] ssnl opened #89 "[Mac] Key bindings"
It seems that not only the app switch (Command+Tab) is incorrectly bound to Command+H. Many other functions are bound to wrong combinations. Right now I find copy and paste are bound to Ctrl+C and Ctrl+P (should be Command+C and Command+P). I believe there might also are other key binding issues.

Also, is there any way to use the Dota IME on Mac? Like the IME that is built in Dota on Windows.

[2015-06-25 04:47] Aldrog opened #90 "[Linux] Flickering HUD"
The in-game HUD flickers heavily making it impossible to play.

![shot_0003](https://cloud.githubusercontent.com/assets/6755141/8346768/3bb9b04e-1b0a-11e5-918f-c8b9f063a5ea.jpg)
![shot_0004](https://cloud.githubusercontent.com/assets/6755141/8346766/3bb93844-1b0a-11e5-9bd7-49e761642a35.jpg)

Also, player name and amount of health are not displayed above a hero.

![shot_0008](https://cloud.githubus

[2015-06-25 04:50] kevin-abiera opened #91 "[Linux] Audio skipping"
Audio (background music, unit speech, ui sound) is skipping thoughout the game (dashboard and in-game)

This may not be related but the mic level in the audio settings of the game is abnormally spiking to around 50%. There is no mic plugged in and no noise around for it to even move. Is there a way to disable mic from the game?

System:
Arch Linux
Audio device:

[code]

EDIT: BTW, there is no lag/

[2015-06-25 05:28] ssnl opened #92 "[Mac] Top 10 custom game label"
![screenshot 2015-06-24 22 24 29](https://cloud.githubusercontent.com/assets/5674597/8347845/4b1473de-1ac0-11e5-859e-401041251ed9.png)
The 10th game's name has its bottom part cut.

[2015-06-25 05:29] ssnl opened #93 "[Mac] Anti-mage basher glitch"
![screenshot 2015-06-24 22 27 05](https://cloud.githubusercontent.com/assets/5674597/8347850/69fc07e4-1ac0-11e5-9d09-25d5e405d0fc.png)
There is an additional golden line.
Same for ordinary ones:
![screenshot 2015-06-24 22 35 13](https://cloud.githubusercontent.com/assets/5674597/8347917/56ee51ce-1ac1-11e5-8d4a-8b731e2dee90.png)

The basher bundle's icon is also incorrect. I don't own a golden bash

[2015-06-25 05:33] ssnl opened #94 "[Mac] Browsing all custom games' selector & content inconsistency"
When I first entered the "browsing all custom games" page, the game client showed me
![screenshot 2015-06-24 22 25 12](https://cloud.githubusercontent.com/assets/5674597/8347866/b1dfeb02-1ac0-11e5-92c4-85ea9f2c8193.png)
Although the selector shows "Most popular (today)", the table content is actually "Most popular (this week)". Proved by:
![screenshot 2015-06-24 22 25 18](https://cloud.githubuserc

[2015-06-25 06:21] ssnl opened #95 "[Mac] Home page sales display bug"
![screenshot 2015-06-24 23 21 25](https://cloud.githubusercontent.com/assets/5674597/8348396/cda77c36-1ac7-11e5-9578-e7b20ea10995.png)

The texts are overlapping each other.

[2015-06-25 06:25] ssnl opened #96 "[Mac] Winter Wyvern courier armory display"
![screenshot 2015-06-24 23 25 08](https://cloud.githubusercontent.com/assets/5674597/8348451/531b42bc-1ac8-11e5-8f15-d458fc8a1347.png)

The courier's overview picture is missing.

[2015-06-25 06:32] ssnl opened #97 "[Mac] Nyx carapace and OD's imprisonment"
With OD casts imprisonment to a Nyx whose carapace is on, Nyx's model disappears but the carapace model remains floating in mid air.

[2015-06-25 10:15] tiburcillo opened #98 "[Linux] Crash when loading game or demoing hero"
Hi Valve,

When I try to load a game in the reborn client, after a few seconds the game crashes and I'm back on the desktop. All the other functionality seems to work fine (Armory, Interface browsing, ...).
My specs:
- Linux Mint 17.1 Cinnamon x64
- Processor: AMD Phenom X4
- OpenGL renderer string: Gallium 0.4 on AMD RV770
- OpenGL core profile version string: 3.3 (Core Profile) Mesa 10.6.0

Dump

[2015-06-25 10:24] shaddow2k opened #99 "[Linux] Game failes to launch (Failed to create an OpenGL context.)"
When I try to start Reborn on my Laptop with an Intel GM45 graphic card it doesn't start.
Linux Kernel: 4.1.0-1-MANJARO
Mesa: 10.6.0-1
xf86-video-intel: 1:2.99.917+364+gb24e758-1

Gist of the Steam output:
https://gist.github.com/shaddow2k/9ea59da78201c2fd5375

Gist of my Steam System Information:
https://gist.github.com/shaddow2k/dba4fa521c518cbe2b95

Output of glxinfo32:

[code]

Apparently the

[2015-06-25 10:25] diegogmx opened #100 "Custom games: cancel button not showing"
the button to cancel joining a match when the host takes far too long doesnt appear, if its intended this way at least let it show up after 2-3 min

[2015-06-25 10:42] #46 closed, assigned to gdrewb-valve

[2015-06-25 12:17] #75 closed, assigned to davidw-valve

[2015-06-25 13:20] #90 closed, assigned to danginsburg

[2015-06-25 14:30] Specter200 commented on #1790
i prefer to play in fullscreen mode( i can also alt-tab in windowed.

[2015-06-25 15:18] SuperFlick opened #101 "[linux] cant change resolution in fullscreen"
It is always native (1366) and ignores "apply" button.  The Issue came with 6/24 update.
Ubuntu 14.04
Intel hd 3000
mesa 10.7

btw Reborn works better via WINE (v1.7 with "-gl" launch option). It's faster, has higher fps, but totaly ignores my keyboard when dota2reborn launched.

[2015-06-25 16:14] suptimal opened #102 "[Linux] dota 2 reborn beta says Update Required but there is no update"
![Dota wants update](http://i.imgur.com/RW3i2Ts.jpg)

i restarted:
- Dota
- Steam
- PC

but the update notification stays and steam wont make an update

EDIT: i cant play anything cause the game wants the update

[2015-06-25 17:24] #102 closed, assigned to nobody

[2015-06-25 17:40] #97 closed, assigned to gdrewb-valve

[2015-06-25 17:49] #51 closed, assigned to gdrewb-valve

[2015-06-25 17:52] #82 closed, assigned to gdrewb-valve

[2015-06-25 17:58] #98 closed, assigned to gdrewb-valve

[2015-06-25 18:36] #93 closed, assigned to gdrewb-valve

[2015-06-25 18:40] #62 closed, assigned to gdrewb-valve

[2015-06-25 18:44] #29 closed, assigned to gdrewb-valve

[2015-06-25 19:05] #72 closed, assigned to gdrewb-valve

[2015-06-25 19:56] milovanderlinden opened #103 "Complements to Valve!"
Even though there are bugs, I am very pleased with the new Dota-2-Reborn for in general:
- it runs more smoothly
- starts faster
- closes faster
- doesn't crash when interacting with the desktop so often

On my

Linux 4.0.5-1-ARCH #1 SMP PREEMPT Sat Jun 6 18:37:49 CEST 2015 x86_64 GNU/Linux

Complements guys! Keep up the good work!

[2015-06-25 20:05] AriseEVE opened #104 "[Linux] Game Fails to Start."
Hello,
Got Dell inspiron 5110 laptop with optiumus intel graphics 3000 + nvidia gt 525m
Game fails to start with nvidia card but works with intel card.
I have bumblebee setup dota 2 runs fine with it.
Os: Arch Linux x64   4.0.6-1 kernel
Using:  nvidia  352.21-1 driver.
optirun %command% -  launch command.

Logs:
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad mi

[2015-06-25 20:11] #86 closed, assigned to gdrewb-valve

[2015-06-25 20:11] #103 closed, assigned to nobody

[2015-06-25 20:37] #66 closed, assigned to gdrewb-valve

[2015-06-25 20:51] HarlemSquirrel opened #105 "[Linux] Fails to Start with Error in Connect() of interface 'GameUI011'!"
I am running Arch Linux 64-bit with radeonsi open source drivers on a Sapphire R9 270X and AMD FX 8370. When I attempt to start Dota 2 Reborn Beta I get the start animation and I see Dota 2 in my window list on Cinnamon. I can click that to toggle minimization, but after about 30 seconds the game just crashes. In the /tmp/dumps folder is the following in user_stdout.txt.
https://gist.github.com/Ha

[2015-06-25 20:56] #94 closed, assigned to gdrewb-valve

[2015-06-25 21:11] MaelRL opened #106 "[Linux] Mispositioned gold text on the picking screen"
Hi,

Small issue with the position of the gold (when ticking down) on the picking screen. A screenshot explains it best:

It happens regardless of the resolution or windowed / fullscreen / etc.

I just noticed it also happens in source 1 dota 2, but I can't find a report in the source 1 tracker so I'm putting it here.

[2015-06-25 21:34] #106 closed, assigned to gdrewb-valve

[2015-06-25 21:35] #105 closed, assigned to gdrewb-valve

[2015-06-25 21:36] #81 closed, assigned to gdrewb-valve

[2015-06-25 22:29] HarlemSquirrel opened #107 "[Linux] No Sound"
So now that I have her running well, I don't have any sound! I have this error just before I load...

[code]

I tried removing the `alsa-lib` folder and `libasound.so.*` files as described here: https://wiki.archlinux.org/index.php/Steam#Audio_not_working

Just to clarify, sounds works fine on the standard Dota 2 and Left 4 Dead 2 games.

[2015-06-25 22:43] paulfryzel opened #108 "[Linux] Game client fails to start (Fedora 21)"
Hi, on a 64-bit Fedora 21 desktop the Reborn client attempts to start and then fails with the following error:

[code]

[code]

[code]

[code]

[2015-06-25 22:45] #107 closed, assigned to davidw-valve

[2015-06-25 22:51] #78 closed, assigned to gdrewb-valve

[2015-06-25 22:58] CreatureDev commented on #1794
Same issue, haven't found a solution yet

[2015-06-25 23:08] #108 closed, assigned to gdrewb-valve

[2015-06-25 23:54] #99 closed, assigned to danginsburg

[2015-06-26 01:10] #20 closed, assigned to gdrewb-valve

[2015-06-26 04:40] ssnl opened #109 "[Mac] Aspect ratio selectors have wrong values"
I have a 15 inch retina MBP machine.

Problem 1:
The 16:9 option, rather than having 16:9 resolutions, actually has a combined list from 16:10 and 4:3.

![screenshot 2015-06-25 21 38 41](https://cloud.githubusercontent.com/assets/5674597/8370822/b44afe5a-1b82-11e5-8369-dc19b76759d4.png)
![screenshot 2015-06-25 21 38 45](https://cloud.githubusercontent.com/assets/5674597/8370821/b449bb12-1b82-11e5-

[2015-06-26 04:46] ssnl opened #110 "[Mac] Aspect ratio setting not working with fullscreen"
The aspect ratio setting is not working with fullscreen.

My machine is a 15 inch 2880 \* 1800 retina mbp. At fullscreen mode, setting aspect ratio doesn't work. At windowed mode, changing to fullscreen ignores my current resolution and aspect ratio setting and sets resolution to 1440*900 without actually change the displayed setting values.

[2015-06-26 05:28] svms1 opened #111 "[Linux] No "default" sound device"
I switch between audio devices a lot since my headset has a different (built-in) sound card than my speakers. Before I accidentally selected a sound device in the settings, I heard the sound on the device that was selected in pulseaudio and there was no device selected in the settings (the dropdown was blank). Now I have to change the settings every time I switch devices.

It would be nice to have

[2015-06-26 11:25] jeanlain opened #112 "[Mac] portraits don't animate when previewing heroes in grid view"
This is on OS X 10.9.5 with a radeon HD 7950.

Portraits don't animate when mousing over heroes in grid view. This is in the "heroes" pane.
Instead of a video, we get a zoomed pixelated preview which is the same as the portrait (I think, but I'm not on my gaming Mac right now).
This issue does not happen when choosing heroes before a match, in grid view.

[2015-06-26 11:27] jeanlain opened #113 "[Mac] No water splashes when units cross the river."
This is on OS X 10.9.5, radon HD 7950.

Units crossing the river dont cause water splashes. This is regardless of the water quality setting.

[2015-06-26 14:11] #58 closed, assigned to davidw-valve

[2015-06-26 14:26] Escouflenfer opened #114 "Bug in DotA2 Interface - Ubuntu 14.04 (Linux) - Nvidia GeForce GT430"
The game start perfectly good, the menu is beautiful :
![dota_1](https://cloud.githubusercontent.com/assets/13065859/8379390/f099196c-1c1f-11e5-9a8c-abc74a96cf9c.png)
But when I get into a game, buttons doesn't display at all, There are big problems in game with the rendering but the game itself work normally
![dota_2](https://cloud.githubusercontent.com/assets/13065859/8379392/f09eae04-1c1f-11e5-

[2015-06-26 15:21] Denwid commented on #1796
There is a Dota 2 Reborn Issues page I just saw.

[2015-06-26 15:51] grasdaggel opened #115 "[Linux] Dota2 Reborn start on the secondary screen"
Hi guys,

Dota2 Reborn starts on the secondary screen, not on the primary one. This is unusual, because Dota2 always started on the first screen attached to the videocard.

It seems like there is no fix, switching to Windowed Mode and place it on the first screen, then selecting "Fullscreen" again does not fix the bug.

Using: Linux 14.04, Nvidia 352 drivers.

[2015-06-26 16:04] #115 closed, assigned to nobody

[2015-06-26 17:48] gdrewb-valve commented on #1795
Please file Reborn issues in the Dota-2-Reborn repro.  This problem is already covered there, so closing this one out.

[2015-06-26 18:48] EPadronU opened #116 "[Sugestion] Create independent milestones for each update release"
First of all: I'm very thankful for the great and hard work you devs are doing here. In particular, is great that you're indicating which bugs will be fix in the next update release, but for what I can see, you only have one milestone `next release`. It would be nice if you could create one milestone for each update release, for example: keep the bugs and suggestions to be release in the next upda

[2015-06-26 20:12] #116 closed, assigned to gdrewb-valve

[2015-06-26 20:42] Amet13 opened #117 "Does not launch reborn"
Linux Mint MATE 17.1

Nvidia 710M+bumblebee

[code]

[2015-06-26 21:50] #100 closed, assigned to nobody

[2015-06-26 21:50] philipgroet opened #118 "Linux unusable UI in hero selection"
Hi,

With the release of the Reborn Beta on linux I tried starting dota 2 reborn, and play a solo botgame. Sadly it didn't really work as expected. http://i.imgur.com/xpxwGfC.jpg
Name: 2015-06-26_00001.jpg  Views: 1  Size: 230.0 KB  ID: 32396
I hear the voice pack saying: "Make your pick", but I'm unable to see anything of the UI and am unable to even click on anything.

System I'm running:
- Linu

[2015-06-26 22:16] #88 closed, assigned to gdrewb-valve

[2015-06-26 22:19] #96 closed, assigned to gdrewb-valve

[2015-06-26 22:24] sinatosk opened #119 "Linux: sometimes window drags instead of map signal"
When holding ALT+Left Mouse Button it causes the window itself ( what dota 2 is rendering in ) to be draggable (dragging while the mouse button is down) instead of dota 2 itself picking up that I want to signal on the minimap...

same with dota source 1 but when not ingame... just on the main menu

I play with multi monitor setup

primary display is 2560x1600
secondary display is 1680x1050

I play

[2015-06-26 22:50] lynx29 opened #120 "Linux: hero health bars does not render the graphics correctly"
Sometimes when playing the game, I would get this hero health bar graphics.
![2015-06-26_00001](https://cloud.githubusercontent.com/assets/13056543/8388689/c4f0ad20-1c97-11e5-94c1-fe04a9c12683.jpg)
Then opening dashboard menu, I get this graphics image.
![2015-06-26_00002](https://cloud.githubusercontent.com/assets/13056543/8388826/fce058b4-1c99-11e5-8440-5571d38a2d24.jpg)

Steam System Informatio

[2015-06-27 01:10] #91 closed, assigned to davidw-valve

[2015-06-27 02:07] ssnl opened #121 "[Mac] Issues when trying to join lobby from lobby list"
I don't know if this is a bug or I am just really unlucky. But from my many attempts to join a lobby from lobby list, I have never succeeded. I would get an error message saying the lobby I wanted to join doesn't exist anymore, although when I refreshed the page it was still there.

Another issue is I can spam the join lobby button. Then it seems my client will send multiple join lobby requests be

[2015-06-27 02:09] ssnl opened #122 "[Mac] Cannot view infos about "ready" players"
![screenshot 2015-06-26 18 58 34](https://cloud.githubusercontent.com/assets/5674597/8390031/a42f6ede-1c36-11e5-96b2-05efc2c574df.png)
I could only see the detailed info about the player who didn't press "ready". When I hovered my mouse on other "ready" players' avatars, there was no such view displayed.

[2015-06-27 02:12] ssnl opened #123 "[Mac] Cannot "decline" at the first one or two second."
Realized this issue when I joined a lobby and the network was bad and the game auto-started before I could press leave.

Might be intended behavior though.

[2015-06-27 02:27] #123 closed, assigned to gdrewb-valve

[2015-06-27 03:30] ssnl opened #124 "[Mac] Cursor when custom game begins"
Before a custom began, at the screen where the host can arrange teams, I had my cursor hovering above the input. The cursor changed into something like ![image](https://cloud.githubusercontent.com/assets/5674597/8390297/e7ac866e-1c41-11e5-8d45-3bd418064776.png). Then I didn't move my mouse and the host started the game. My cursor remained like ![image](https://cloud.githubusercontent.com/assets/56

[2015-06-27 03:35] hrzhu opened #125 "[Linux] Can't spin to Bloodseeker by typing BL when selecting hero"
Not sure if it's Linux specific, I just find this when I play on Linux. Typing BL when selecting hero, it stops at Bane.

[2015-06-27 04:36] EPadronU opened #126 "[Linux] 'Rainy' audio in Manjaro Linux x86_64 (Valve's runtime) after the 26/06 update"
### Description

As the title says, I'm experiencing a audio problem and the best way I can describe it is that it's like rain... This is happening after the 26/06 update.
### Machine's specs

`uname -a`

[code]

`lspci -vv`

[code]

`mhwd -lh -d`

[code]

`Help -> System Information`

[code]

[2015-06-27 05:18] ssnl opened #127 "[Mac] Weird resolution issue"
Thanks for enabling 2880x1800 on retina screens. But there are some bugs related to it. I couldn't screen shot on some places so I took photos.

I have a 1440x900 retina 15inch mbp.

Repro step:
Issue 1:
0. Set draw minimap on right.
1. Set display to fullscreen 2880x1800.
2. Start a bot game, select hero and enter game.
3. Set resolution to 1440x900. The minimap is drawn on the wrong side:
![phot

[2015-06-27 05:28] Vuccappella opened #128 "[Mac] Newest update broke CMD+TAB and CMD+Q"
Originally upon the release of Dota2Reborn for Mac there was a bug where CMD+TAB and CMD+Q and other global shortcuts like (CMD+SHIFT+3) wouldn't work in dota and then it got fixed, after the newest update, those commands do not work again.

[2015-06-27 05:39] ssnl opened #129 "[Mac] Cancel behavior at "create lobby" setting"
Actually this is more of a suggestion.

Current behavior:
When I click on the "cancel" button, the background dark view first disappears with a fade time about 0.5s and then the setting box suddenly disappears.

It feels like that "cancel" button was bugged and didn't respond at first.

Suggested behavior:
The setting box disappears first and then the background view gradually disappears.

[2015-06-27 05:47] vadi2 opened #130 "[Linux] Game launches on the wrong monitor"
Dota Reborn, unlike the original Dota, launches on the wrong monitor for me - not on the currently selected one but the first one in the list, I think. System information:

[code]

[2015-06-27 05:54] vadi2 opened #131 "[Linux] broken rendering in-game after monitor resolution change"
This issue stems from https://github.com/ValveSoftware/Dota-2-Reborn/issues/130 where Dota launches on the wrong monitor for me, and I have to move it to my main monitor. Regardless, the game should handle resolution changes as the Source 1 version did without issues.

When the game launches on my small monitor, everything looks ok:

![2015-06-27_00001](https://cloud.githubusercontent.com/assets/1

[2015-06-27 05:58] #27 closed, assigned to gdrewb-valve

[2015-06-27 05:59] #130 closed, assigned to nobody

[2015-06-27 06:54] #128 closed, assigned to gdrewb-valve

[2015-06-27 07:01] ssnl opened #132 "[Mac] Custom game search bar indicator"
Displaying the searching indicator shouldn't make the search bar shorter.

Original:
![screenshot 2015-06-26 23 52 21](https://cloud.githubusercontent.com/assets/5674597/8390897/7a937830-1c5f-11e5-9a32-7668626ce8e4.png)

Searching:
![screenshot 2015-06-26 23 57 10](https://cloud.githubusercontent.com/assets/5674597/8390898/81cfd828-1c5f-11e5-826d-99c5735b7027.png)
Note how the indicator "replaces"

[2015-06-27 07:50] jeanlain opened #133 "[Mac] Aliasing in the minimap"
There is no antialiasing in the minimap. This may be new to the 26/6 update, since I haven't noticed this issue before.
This is regardless of the antialising setting.

Radeon 7950, OS X 10.9.5.

[2015-06-27 07:52] jeanlain opened #134 "Hero can walk through siege creeps"
The player can walk through allied siege creeps as if they didn't exist. This is on OS X 10.9.5.
I haven't tested enemy siege creeps and I haven't looked at bots.

[2015-06-27 07:55] jeanlain opened #135 "[Mac] Played hero voice volume is too low"
The voice volume of the played hero is too low, and is much lower than the voice of non-played heroes (bots in my case). (I'm not talking about voice chat here, just to be clear.) Tested on Sniper.

OS X 10.9.5, 2006 Mac Pro with headphones plugged on the line-out jack port.

[2015-06-27 08:25] #22 closed, assigned to gdrewb-valve

[2015-06-27 08:48] amfg commented on #1798
Output from steam system information
http://pastebin.com/raw.php?i=QTMpGsZu

[2015-06-27 09:06] chaserhkj opened #136 "[Linux] Flickering noise when playing all sounds"
After 6/26 update, a new issue emerges in the Linux client

All sounds played in Linux client is now accompanied by a flickering noise, the noise's volume depends on the current playing sound volume, and lasts from the start of the game, through the main menu to the game play until game ends.

My sound system is ALSA. and here's my system info:

[code]

This issue seems to be introduced by  the 6/

[2015-06-27 09:32] #136 closed, assigned to nobody

[2015-06-27 10:00] alex1442 opened #137 "ubuntu 15.04 64-bit. reborn not start"
terminal log:
steam
Running Steam on ubuntu 15.04 64-bit
STEAM_RUNTIME is enabled automatically
[2015-06-27 14:51:53] Startup - updater built Jun  4 2015 10:35:42
[2015-06-27 14:51:53] Проверка установки...
[2015-06-27 14:51:53] Verification complete
Running Steam on ubuntu 15.04 64-bit
STEAM_RUNTIME has been set by the user to: /home/wwadmin/.steam/ubuntu12_32/steam-runtime
Attempting to create O

[2015-06-27 11:01] amfg commented on #1798
Solved by updating nvidia driver to v. 352.21

[2015-06-27 13:40] gramathy opened #138 "[Mac] All objects not responding to single inputs - intermittent relative to application launch"
Happens in menus and ingame. Restarting the application can resolve issue.

In menus single clicks are nonfunctional. Double clicking most elements allows for navigation, with some exceptions - it seems like the second mouseup event is unusual (multiple events being fired?) and causes other things to happen that I can't quite pin down. If repro'd, clicking on the navigation arrows at the top of th

[2015-06-27 14:25] #137 closed, assigned to nobody

[2015-06-27 14:40] LineoLemon opened #139 "No option to launch reborn linux."
There is no way for me to launch dota reborn.I do not get this window that asks me if i wanna play reborn or normal dota 2 when i start the game.It instantly starts normal dota 2.I also can not start reborn by right clicking dota in the library.There is no option for that.I downloadet the dlc and all.And it is installed, because it is marked as installed and the reborn content is in the games fold

[2015-06-27 15:53] deplorableword opened #140 "[Mac] Lowest graphics settings show no tree / tango outline appears"
Steps to reproduce.

Run the Mac client on lowest setting using the slider.
Buy a tango.
Try to use a tango on a tree, no outline / selection outline appears.

Changing the slider to any other settings shows the outline

[2015-06-27 17:09] gdrewb-valve commented on #1797
There is a separate Dota-2-Reborn repo for Reborn issues.  This is already captured there, so closing.

[2015-06-27 17:11] #121 closed, assigned to gdrewb-valve

[2015-06-27 17:15] #110 closed, assigned to gdrewb-valve

[2015-06-27 17:29] ssnl opened #141 "[Mac] Game always asks for network permission"
Dota always asks for network permission when started. Source 1 doesn't have this problem.

[2015-06-27 17:35] TheJaymowShow opened #142 "[Mac] Main Menu Unusable - Intel HD 3000 Integrated Graphics"
Main menu slow/unusable. Seen several reddit threads where users have the same issue. If I wait it out and get into an actual bot match, the game slows to the point where a Mac restart is the only solution.

Macbook Pro 13", early 2011
2.3 Ghz Intel i5
Intel HD 3000 Integrated Graphics
4 GB 1333 Mhz DDR3

[2015-06-27 17:40] #39 closed, assigned to danginsburg

[2015-06-27 18:28] #139 closed, assigned to gdrewb-valve

[2015-06-27 19:07] #142 closed, assigned to danginsburg

[2015-06-27 19:18] SuperFlick opened #143 "[linux] problem with bindings and changing keyboard layouts"
If i start dota with russian keyboard layout (but i think it's for any lang), then game binds are not work. And they wont even if I switch to eng. It allows to type with both layouts, but I cant use spells and inventory. So I have to restart my client with eng layout.
ubuntu 14.04

[2015-06-27 19:36] ssnl opened #144 "[Mac] 11th player"
I was looking through the lobby list and decided to join a lobby. After clicking the "join" button, I had the lobby chat window appeared, along with a reconnect button. I clicked the reconnect button and found myself as the 11th player in the lobby.

![screenshot 2015-06-27 12 34 38](https://cloud.githubusercontent.com/assets/5674597/8393549/1e487a52-1cc9-11e5-8676-cf8b494715ef.png)

Maybe not a M

[2015-06-27 21:53] ethan961 opened #145 "[Linux] Reborn fails to launch on Awesome WM under Arch Linux"
Had no issues until the update issued on the 26th. Now, an X error occurs when launching Reborn. Source 1 Dota and other games have remained unchanged. No system updates had been applied since Reborn last worked. I tested in KDE and Reborn launches without issues.

[code]

[code]

[2015-06-27 21:55] Bednar87 commented on #1799
wrong forum.

[2015-06-27 21:56] ghost opened #146 "[Linux] Dota Reborn won't start - executable does not belong to a package, ignoring"
The regular client starts just fine, but when I try to run reborn I get this:

ERROR: apport (pid 1916) Sat Jun 27 23:46:06 2015: called for pid 1911, signal 11, core limit 0
ERROR: apport (pid 1916) Sat Jun 27 23:46:06 2015: executable: /home/bednar/.steam/steam/steamapps/common/dota 2 beta/game/bin/linuxsteamrt64/dota2 (command line "/home/bednar/.steam/steam/steamapps/common/dota\ 2\ beta/game/

[2015-06-27 22:38] #68 closed, assigned to davidw-valve

[2015-06-27 22:40] #79 closed, assigned to danginsburg

[2015-06-27 22:45] #132 closed, assigned to gdrewb-valve

[2015-06-27 23:06] ssnl opened #147 "[Mac] Lobby list "sorted by" arrow is not at correct position"
This is fine:
![screenshot 2015-06-27 16 04 55](https://cloud.githubusercontent.com/assets/5674597/8394321/6d8a9d94-1ce6-11e5-92ec-0377566c7145.png)
But not this one:
![screenshot 2015-06-27 16 04 59](https://cloud.githubusercontent.com/assets/5674597/8394322/6d9bce48-1ce6-11e5-80ad-9c0f8a0eee2a.png)

[2015-06-27 23:08] Bubous opened #148 "[Linux] Crash when will start "Start bot match" closing the game"
OS: Linux Mint Mate 17.1
Processor:Phenom 64 bit X4 810 2.6Gb
Ram: 6gb 1300mhz
Video: ATI Radeon sapphire HD 7770 GPU:1100 OC GDDR5 1G 5.6MHz
Driver proprietary: Catalyst 15.5
Game: Dota 2 Reborn

[Code Error]
Installing breakpad exception handler for appid(gameoverlayui)/version(1.0)
Fontconfig warning: "/media/sdb6/JogosLinux/steamapps/common/dota 2 beta/game/core/panorama/fonts/conf.d/41-repl-o

[2015-06-27 23:23] #148 closed, assigned to nobody

[2015-06-27 23:42] Tele42 opened #149 "Audio stutter with the alsa loopback device"
The 6/24 or 6/26 update introduced audio stuttering on my system, which uses JACK + the alsa loopback device. It was putting out clean audio before that.

[code]

jackd is running as:
`/usr/bin/jackd -r -dalsa -r48000 -p1024 -n2 -s -M -D -Chw:2,0 -Phw:2 -i2 -o8`
My ~/.asoundrc - this was made by trial and error, it's probably suboptimal, but works in most cases:

[code]

Please let me know if any

[2015-06-27 23:48] DarkDefender opened #150 "[Linux/radeonsi] Minimap and ground textures flickers"
The icons on the minimap flickers for me in Dota2 Reborn.

If I enable normals in the video settings, some parts of the ground also flickers.

To demonstrate the issue I have uploaded two avi files here:
https://github.com/DarkDefender/dota2_reborn_issue
Notice that the mini map flickers in both cases. I have tried to disable every video option to see if that helps, but it does not.

I also had th

[2015-06-28 02:15] weirddan455 opened #151 "[Linux] No hitpoints number on the hitbar above your hero"
I've attached a picture. Above Anti-Mage's hitbar there's supposed to be a number showing how many hitpoints he has but it's just a blank blue box. I've enabled the relevant option in settings. If I disable it the little blue box just goes away. It works on Source 1 and works on Source 2 in Windows. Seems to be a Source 2 Linux specific bug.

![hitpoints](https://cloud.githubusercontent.com/assets

[2015-06-28 06:46] #44 closed, assigned to gdrewb-valve

[2015-06-28 06:52] #21 closed, assigned to gdrewb-valve

[2015-06-28 06:53] MatthewWalker opened #152 "[Linux] Video settings are not saved, hang when going Windowed <-> Borderless"
Borderless window also minimizes when it loses focus.

System information:

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  4200 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported

[2015-06-28 10:23] davidef opened #153 "[osx] Starting a custom game while watching a game cause reborn to crash"
[code]

[2015-06-28 11:10] budimanjojo opened #154 "Network Connection Settings not saved"
I'm using Manjaro Linux and as the title described, when I set the Network Quality setting to "Low" it gets back to "High" after restarting Dota 2 Reborn. I turn the fps and ping counters on, haven't try turning it off yet.

[2015-06-28 11:43] urbinek opened #155 "[Linux] Game crash after launching any game"
Hello there!

I am trying to launch properly Dota 2 Reborn (it seems that there is issues with CPU instruction (2856 Illegal instruction) or some LD paths (LD_PRELOAD cannot be preloaded)

I can easly see other games, via watch

[code]

And now when i try run normal practice with boots, game crash

[code]

also i've got gameoverlayrenderer.so errors, even after removinf all problematic lib's accor

[2015-06-28 12:41] random-nick opened #156 "[Linux] Black screen after logo but sound works on Arch Linux x86_64"
This is steam's output when launching Dota 2 Reborn Beta and then closing it after the menu music starts:

[code]

GPU: NVIDIA GeForce 9600m GT (nvidia-304xx drivers)
CPU: Intel(R) Core(TM)2 Duo CPU P8400
Both mesa and lib32-mesa packages are version 10.6.0-1.
`glxinfo | grep Mesa` doesn't output anything.
I have installed the dependencies listed on this [page](https://wiki.archlinux.org/index.php

[2015-06-28 14:32] #156 closed, assigned to nobody

[2015-06-28 16:28] #155 closed, assigned to nobody

[2015-06-28 16:43] jeanlain opened #157 "[Mac] Viewed area polygon in "showcase view" is not drawn properly"
The green overlay polygon representing the area that is currently viewed in the minimap of the "showcase view" can get too big if you move the camera at certain angles.
See attached screenshot.
![capture d ecran 2015-06-28 a 18 34 50](https://cloud.githubusercontent.com/assets/4463576/8397243/58550830-1dc5-11e5-860c-3c71fbf7ed85.png)

[2015-06-28 16:45] jeanlain opened #158 "[Mac] Cannot take screenshots"
This is on OS X 10.9.5.
The screenshot key has no effect (even after assigning the function to another key).

[2015-06-28 17:23] ghost opened #159 "Network information overlay won't hide when the game is over"
When the network information overlay option is enabled, the overlay stays active when the game is ended, and the rest of the UI is hidden. Not sure if intended.

![Picture of the issue](http://i.imgur.com/PoGMES0.png)

Specs:

[2015-06-28 18:35] sylware opened #160 "alsa buffer underun"
Sometimes I get crunchy alsa sound output, which I could solve with dota2 source 1 using the console command "snd_restart 1".
Since the console is "empty" in reborn, I cannot restart the sound system to clear the buffer underrun.

[2015-06-28 18:40] sylware opened #161 "[radeon tahiti xt] in-game visual glitches"
On a state of the art 3D stack, linux/mesa from git,
in a match, reborn has so many visual glitches (textures
shadows), it cannot be played reasonably.

[2015-06-28 20:04] jeanlain opened #163 "Black sky in showcase view, spectator mode"
When spectating a game in "showcase view", the sky appears black. There is no bluish fog, contrarily to the showcase view from a player perspective (i.e., not a spectator).
This is regardless of the time of day.
Note also that the viewing distance is greater since there is no fog (but I don't see that as an issue). At some point everything becomes black, abruptly.

EDIT : this may be intended beha

[2015-06-28 21:08] #160 closed, assigned to davidw-valve

[2015-06-29 00:17] their commented on #747
Any update here. We have noticed this issue on two Fedora boxes since about January, 2015. In the console the error shows many instances of failed to load various MP3 sounds. E.g.: "Failed to load sound "vo/soldier_PainSevere03.mp3", file probably missing from disk/repository"

[2015-06-29 01:08] madjak5 opened #164 "[OS X] Segfault on Startup"
On starting DOTA 2 Reborn from the menu, the game will appear to load before abruptly closing.
The console output:

6/28/15 8:58:37.511 PM [0x0-0x4f74f7].com.valvesoftware.steam: /Users/hellbender123/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota.sh: line 98: 43614 Segmentation fault: 11  ${STEAM_RUNTIME_PREFIX} ${GAME_DEBUGGER} "${GAMEROOT}"/${GAMEEXE} "$@"

6/28/15 8:58

[2015-06-29 03:08] toastdriven opened #165 "[Mac] Terrain texture blurring"
As of the June 26th patch, I occasionally get an odd blurring of the lane textures around the T1 tower of Radiant bot. If I l center on the path, it blurs, but it I start to move the viewport up into the jungle, the textures unblur & look normal. Go back, blurred once again.

From a programming standpoint, it's an extra wonderful "happens intermittently", in that it only appears this way sometimes

[2015-06-29 05:24] osleg opened #166 "Naix is able to infest snowball of enemy's team Tusk"
Just in one of the matches N'aix from enemy team was able to infest snowball when I was casting it on him

[2015-06-29 06:24] deri82 commented on #1801
Then when you want to leave such a game, then you are banished as low priority.

Are the people at valve fucking retards themselves too?

[2015-06-29 07:10] bytes-max opened #167 "[Linux] PING cant be re-assigned to another key"
Hi guys,

Ive played around with my configuration and wanted to have the PING command on my ^-key. However, there's nothing I can do in order to get it away from ALT.

That also prevents my configuration from being usable. I have Selfcasts with modifier key stroke at ALT, which has worked fine in Source 1.

I'm on Linux 14.04 LTS

[2015-06-29 10:30] #74 closed, assigned to nobody

[2015-06-29 16:21] #73 closed, assigned to gdrewb-valve

[2015-06-29 16:22] #118 closed, assigned to gdrewb-valve

[2015-06-29 16:28] Pharmasolin opened #168 "Video artifacts"
Ubuntu 14.10
![2015-06-29_00001](https://cloud.githubusercontent.com/assets/13041082/8412744/83d103b8-1e94-11e5-9be6-6aa6369aecee.jpg)
![2015-06-29_00002](https://cloud.githubusercontent.com/assets/13041082/8412745/83d7ea0c-1e94-11e5-94fe-e967690196ff.jpg)

Playing on all on low settings: 80%
Anything else: off

Intel Open Source Technology Center Mesa DRI Intel(R) Sandybridge Desktop x86/MMX/SSE2

[2015-06-29 18:14] EPadronU opened #169 "[Linux] The console's icons aren't showing at all in Manjaro x86_64 (Valve's runtime)"
### Description

Instead of normal icons, like and `x` to close the window, I'm seeing letters. This situation happens for the rest of the icons (the scroll bar's arrows and the bottom-right corner to re-sizing the window).
### Screenshot

![2015-06-29_00001](https://cloud.githubusercontent.com/assets/829947/8414859/7e4a3d18-1e64-11e5-8583-f44990ce03c8.jpg)
### Machine's specs

`uname -a`

[code]

[2015-06-29 18:16] r3pek opened #170 "Date language not according to UI"
Hi... I'm from Portugal and I _do_ have LC_TIME set to "pt_PT.UTF-8" on my system (default to en_US.UTF-8) but the mixed language on the UI looks weird ;)

![image](https://cloud.githubusercontent.com/assets/3050556/8414944/e5437a2c-1e8a-11e5-9a98-a91b809dd013.png)

I don't know if it should stay like this or make it use the same language overall.

[2015-06-29 18:43] #147 closed, assigned to gdrewb-valve

[2015-06-29 18:54] grasdaggel opened #171 "[Linux] Trying to Ping with ALT makes borderless windows to be moved"
Problem is in title. If I start a new game and want to ping from time to time the window gets moved, instead of a ping. Reproduceable if you can see the drag-cursor ingame.

[2015-06-29 18:57] #16 closed, assigned to gdrewb-valve

[2015-06-29 19:23] #158 closed, assigned to gdrewb-valve

[2015-06-29 19:24] #166 closed, assigned to gdrewb-valve

[2015-06-29 19:28] #170 closed, assigned to gdrewb-valve

[2015-06-29 20:03] #171 closed, assigned to gdrewb-valve

[2015-06-29 20:25] #59 closed, assigned to gdrewb-valve

[2015-06-29 20:26] #92 closed, assigned to gdrewb-valve

[2015-06-29 20:27] #95 closed, assigned to gdrewb-valve

[2015-06-29 20:31] #124 closed, assigned to gdrewb-valve

[2015-06-29 20:34] #122 closed, assigned to gdrewb-valve

[2015-06-29 20:42] #144 closed, assigned to gdrewb-valve

[2015-06-29 20:43] #159 closed, assigned to gdrewb-valve

[2015-06-29 20:45] #157 closed, assigned to gdrewb-valve

[2015-06-29 20:50] #154 closed, assigned to gdrewb-valve

[2015-06-29 20:52] #129 closed, assigned to gdrewb-valve

[2015-06-29 21:31] #153 closed, assigned to gdrewb-valve

[2015-06-29 22:14] MatthewWalker commented on #152
@gdrewb-valve, here's a video of it hanging changing from Borderless -> Windowed and changing from  "Use my monitor's.." -> Windowed.

https://www.dropbox.com/s/t3z99z18ust93h3/reborn-video-settings.ogv?dl=0

If I use a smaller borderless window it doesn't minimize when changing focus for me either.

Dota 2 Source 1 borderless window doesn't minimize on focus loss and I prefer it that way (so I ca

[2015-06-29 22:43] Kirov123 opened #172 "[Linux] Add monitor selection to resolution settings in video"
This would help solve multi-monitor issues on Linux, and would be particularly useful to people who have more than 2 monitors. A drop-down menu would probably work best.

[2015-06-30 15:44] #140 closed, assigned to danginsburg

[2015-06-30 16:05] #125 closed, assigned to gdrewb-valve

[2015-06-30 19:34] Tele42 commented on #1801
@deri82 You're obviously violating the code of conduct, this is not a forum to vent frustration.

[2015-06-30 20:30] jaholliman commented on #1801
I second that @Tele42. He must be butthurt. This issue needs to be closed.

[2015-06-30 21:17] budimanjojo opened #173 "Can't launch when steam runtime is disabled"
Running Steam on manjarolinux 0.8.13 64-bit STEAM_RUNTIME is disabled by the user Installing breakpad exception handler for appid(steam)/version(1433441724) Installing breakpad exception handler for appid(steam)/version(1433441724) Installing breakpad exception handler for appid(steam)/version(1433441724)

(steam:19238): Gtk-WARNING **: Unable to locate theme engine in module_path: "murrine",

(st

[2015-06-30 21:18] budimanjojo commented on #1802
sorry posted in the wrong tracker, moved to dota 2 reborn tracker

[2015-06-30 23:28] karabijavad commented on #1664
man this is insane. i have the EXACT same problem.

whats even funnier:

when i have dota 2 running,
and i bring up my docker containers, it _crashes dota_

this makes NO SENSE

[2015-07-01 00:01] #149 closed, assigned to davidw-valve

[2015-07-01 00:14] #12 closed, assigned to gdrewb-valve

[2015-07-01 00:38] karabijavad commented on #1664
fyi, this happens in my atom editor, too. so i think it might be related.

heres a message provided by atom:

 [1674:0630/154211:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
App load time: 660ms
[1815:0630/154212:INFO:renderer_main.cc(212)] Renderer

[2015-07-01 01:38] #111 closed, assigned to davidw-valve

[2015-07-01 01:46] gankbanger commented on #1664
I just tested with the new Dota 2 client ("Reborn") and the bug is no longer present. Worst case scenario, this bug will disappear once Reborn becomes the main client (sometime after August 2015)

[2015-07-01 01:52] MrSchism commented on #1801
Closing and locking.  Knock this off.

[2015-07-01 02:36] #14 closed, assigned to gdrewb-valve

[2015-07-01 02:37] gramathy opened #174 "[Mac] Game is detecting phantom inputs."
I don't have a good way of explaining this in detail so i'm going to just link the video I took. Persists between restarts of game, Steam, and computer. Unplugged mouse, continues to happen. In general I don't think it's an input issue on my end as it can be seen happening in the background right after the "Heroes" tab is clicked.

Video:

https://www.dropbox.com/s/2iascjyxj1jwy5h/2015-06-30%2019-

[2015-07-01 02:38] #141 closed, assigned to gdrewb-valve

[2015-07-01 03:16] kyle-annen opened #175 "[Linux] Ability icons, item icons, shop, many others not displaying."
# Description

Portraits, Items, Abilities both in game and in selection are not showing.
# Screenshot

![dota 2 screenshot](https://cloud.githubusercontent.com/assets/12836507/8446694/34a49d34-1f63-11e5-9417-28df14eebc80.jpg)
# System Specs

`Steam System Info`

[code]

`uname -a`

`Linux kyle-desktop 3.16.0-41-generic #57~14.04.1-Ubuntu SMP Thu Jun 18 18:01:13 UTC 2015 x86_64 x86_64 x86_64 GNU/L

[2015-07-01 05:49] #113 closed, assigned to danginsburg

[2015-07-01 05:54] jeanlain opened #176 "[Mac] Exiting full screen doesn't bring Dota to its previous space"
When exiting fullscreen, a Mac app is supposed to come back to its previous space. Dota 2 does not and stays in a space with a uniform grey background and no desktop icons.
OS X 10.9.5.

[2015-07-01 05:58] jeanlain opened #177 "Switching window mode reverts to initial resolution"
Repro steps:
(here under OS X 10.9.5)
Launch the game, go to the graphic settings. Change resolution (don't apply yet). Then switch from windowed to fullscreen or vice verse (don't apply). Watch the resolution drop-down menu go back to its previous value.

[2015-07-01 06:02] #34 closed, assigned to gdrewb-valve

[2015-07-01 06:55] #109 closed, assigned to gdrewb-valve

[2015-07-01 07:14] kon14 opened #178 "[Linux] Fullscreen missing after 6/30 update?"
I'm pretty sure it was there last time I launched the reborn client.

http://i.imgur.com/0K4MMN2.jpg

[2015-07-01 08:02] ramma opened #179 "Hud displays artifacts in the gaps between hud pieces."
Artifacts from other UI  such as health bars and player names will appear within the gaps between the hud pieces.

Example - http://steamcommunity.com/sharedfiles/filedetails/?id=472927914
Looking next to the inventory and at the very bottom of the image below the spells is the issue I'm referring too.

System specs - https://gist.github.com/ramma/925cc19fb6fd7805979e

[2015-07-01 11:43] jeanlain opened #180 "Window resolution is limited by previous fullscreen resolution"
This is a minor issue and there are workarounds, but anyway...

If you set the fullscreen resolution to be low (say 800x600) and then want to switch to windowed mode, proposed resolutions don't go higher than 800x600, even though your display allows higher res.
To work around the issue, increase the fullscreen resolution.

This shouldn't bother many players since they are unlikely to switch to win

[2015-07-01 11:50] jeanlain opened #181 "[Mac] Enable fullscreen button and "View" menu (enhancement)"
For better integration in OS X, it would be nice to enable fullscreen mode via the "View" menu (in the menu bar) and via the fullscreen button (which would be the green button in 10.10+)
Right now, the menu is greyed out and the button does nothing.
I recall that at some point, dota2 supported the fullscreen button, but no longer.

[2015-07-01 12:37] vyrus714 opened #182 "[Linux] Borderless WIndowed mode minimizes when focus is lost"
Brought up in #152, the 6/26 update changed the behavior to mimize the window when it looses focus. I believe it would be better to leave this up to the window manager, or at least add a menu option to toggle this.

[2015-07-01 13:24] ccjunior9 commented on #1803
(Sorry for my bad english, trying to learn as second language).

[2015-07-01 14:24] #175 closed, assigned to danginsburg

[2015-07-01 14:27] supereddie opened #183 "[Linux]'Random Hero' button on pick screen"
There are a few issues with the ''Random Hero' button on the hero pick screen.
First: the hit-test and tooltip trigger are slightly too high - you can press the button (and the tooltip shows) without an mouseover.
Second: After I have pressed the random button on the hero pick screen, the button changes to 'Browse Heroes' but not the tooltip. Moving the mouse doesn't fix it. Also, since the hit-te

[2015-07-01 14:43] sylware opened #184 "console has no font"
Console without font: no text, no typing, nothing.
I start reborn with -console command line switch

[2015-07-01 14:45] suhis opened #185 "linux mint 17.1, dota reborn graphic problems"
Hello!

I have tried dota 2 reborn in my linux mint 17.1 and it has a lot of graphical issues, normal dota 2 works fine and there are no problems.  In character selection screen can't see any characters or buttons, just map and some empty boxes.

anyone else seen this kind of bugs?

![screenshot from 2015-07-01 17 40 30](https://cloud.githubusercontent.com/assets/13136806/8457219/c8bb53ea-2018-11e

[2015-07-01 15:26] #178 closed, assigned to nobody

[2015-07-01 16:12] #133 closed, assigned to danginsburg

[2015-07-01 16:12] #80 closed, assigned to danginsburg

[2015-07-01 16:26] #161 closed, assigned to danginsburg

[2015-07-01 19:40] #183 closed, assigned to gdrewb-valve

[2015-07-01 20:08] #185 closed, assigned to gdrewb-valve

[2015-07-01 23:49] ArnaudAndre commented on #1803
Valve created a different repository for reborn. It's at https://github.com/ValveSoftware/Dota-2-Reborn

As seen in the readme there, reborn requires version 340 or higher of the nvidia driver and you seem to be running 331.

For reporting system specs you can use the sytem info tool in the steam main app -> help menu -> System Information.

[2015-07-02 00:38] vhda opened #186 "[Linux] Game ready popup not working"
Game ready popup available in the original game is not working.

[2015-07-02 00:50] ccjunior9 commented on #1803
Oh. I'm sorry how many times I was wrong. Thanks for the patience.

[2015-07-02 01:24] Vuccappella opened #187 "[Mac] New update broke hosting custom games."
Since the new update 2/07 I can't host custom game lobbies. Whenever I host any map and the game starts it just says Waiting For Host... and then it sits like that for about 2 minutes and the game doesn't start, after which the game just disappears.

Update: Ok so for some reason, whichever map I host it's just displayed as Map:Error isntead of the actual game I'm hosting, probably related.

[2015-07-02 01:49] ArnaudAndre commented on #1803
No worries. And anyway, there's a valid bug report here. They need to give better warning/visibility on the new requirements for reborn before moving it out of beta.

[2015-07-02 02:36] ssnl opened #188 "[Mac] Friends UI issue"
![screenshot 2015-07-01 19 35 03](https://cloud.githubusercontent.com/assets/5674597/8468974/7ff658a2-2028-11e5-93aa-46611d5b38c0.png)
notice the text overlap

[2015-07-02 02:45] computerquip opened #189 "[Linux(?)] Weird Circle-like Around Medusa"
Not sure what triggered this... but Medusa suddenly started having a weird oblong line drawn around her: ![Oblong Thingy](http://images.akamai.steamusercontent.com/ugc/440574088297532279/F66B3DDA2FDFD62741C9050FDB421C2FF7D2C9C2/)

This persisted throughout the rest of the match. I'm not sure what triggered it but I think I hovered my mouse over Medusa when it first happened. Take with a grain of s

[2015-07-02 05:39] ssnl opened #190 "[Mac] "disconnect in xxs" red alert doidn't disappear after I was out of the lobby"
![screenshot 2015-07-01 20 33 34](https://cloud.githubusercontent.com/assets/5674597/8470545/e6c2a478-2041-11e5-9cbf-51106b3d3e62.png)
This is a screenshot of what I saw when I got kicked out of a lobby, probably because host disconnected. I knew I was out of the lobby because the bottom right button says Play Game, instead of Reconnect

[2015-07-02 05:40] ssnl opened #191 "[Mac] Accept button doesn't work if chat window is open"
Accept button doesn't work if chat window is open. On first click, chat will close. And only on second click, I am accepting the game.

[2015-07-02 05:54] ssnl opened #192 "[Mac][Suggestion] Auto-start toggle"
Can we have an option to toggle auto-start? And, if possible, have that option disabled by default.

The current behavior causes lots of problems. For instance,
say I have 3 friends and I want to play a 4-player map. I have them in my party and I clicked "create lobby". Then a lobby showing only me will appear and in one second, I would see the accept/reject popup. I have no way to see if I am act

[2015-07-02 06:25] jeanlain opened #193 "bots are not named properly in slots of a lobby"
Creating a lobby and placing a bot of, say, hard level in a slot. Instead of seeing the text "Bot - hard" in the slot, we get "user_accound_id" (or something similar, I don't have this screen right now) written in red.

[2015-07-02 06:32] jeanlain opened #194 "showcase view: clicking a new hero in the top list does not update the HUD"
This is not specific to the reborn client and probably not OS-specific, but I'm not sure where to report it.
In showcase view, selecting another hero by clicking its portray in the list on top does move the camera to this hero, but the HUD is not updated and still corresponds to the previous hero. If it's intended behavior, it doesn't make much sense to me...

[2015-07-02 07:30] #186 closed, assigned to davidw-valve

[2015-07-02 11:22] nekuro-dev opened #195 "[Linux] Mouse buttons 4 and 5 not being shown as bound in options menu"
As you can see in the options menu, for item 1 and voice chat the boxes are blank. Clicking the box to bind and pressing mouse button 4 and/or 5 leaves the box blank

![2015-07-02_00001](https://cloud.githubusercontent.com/assets/3646809/8475985/fece3aca-20bc-11e5-9164-d9454b8407d4.jpg)

In game however, button 4 correctly works for item 1, as seen in the screen shot below, and mouse 5 is working

[2015-07-02 13:13] #179 closed, assigned to danginsburg

[2015-07-02 13:17] #47 closed, assigned to danginsburg

[2015-07-02 13:19] #151 closed, assigned to danginsburg

[2015-07-02 17:35] #188 closed, assigned to gdrewb-valve

[2015-07-02 17:39] #190 closed, assigned to nobody

[2015-07-02 17:45] #193 closed, assigned to nobody

[2015-07-02 17:53] #194 closed, assigned to nobody

[2015-07-02 17:54] #191 closed, assigned to gdrewb-valve

[2015-07-02 17:57] #187 closed, assigned to gdrewb-valve

[2015-07-02 18:07] #195 closed, assigned to gdrewb-valve

[2015-07-02 18:18] #163 closed, assigned to gdrewb-valve

[2015-07-02 18:23] #83 closed, assigned to gdrewb-valve

[2015-07-02 18:26] drager opened #196 "[Linux] Various crashes when trying to start a custom game."
When I tried to play a game of Pudge Wars the game crashed right after everyone was done loading. After that I started the game again and the game just crashed right away (after startup). Starting dota once again and trying going to the in-game bug reporter resulted in this image:

![2015-06-27_00002](https://cloud.githubusercontent.com/assets/1957563/8484437/0f1212cc-20f8-11e5-893d-beffaf422ab2.j

[2015-07-02 18:41] #89 closed, assigned to gdrewb-valve

[2015-07-02 18:56] gdrewb-valve commented on #1803
You can open a request in Dota-2-Reborn for driver version notification but that gets difficult with the variety of configurations that Linux can have.

[2015-07-02 19:00] gdrewb-valve commented on #181
The menu bar has Dota 2 on it?  I don't get any menu bar from Reborn, it's just whatever was active before starting Reborn.

[2015-07-02 19:01] gdrewb-valve commented on #145
Was there any new spew?  Can you post your console text from the X error on?

[2015-07-02 19:11] theGeekPirate commented on #145
@gdrewb-valve Hopefully this is what you're after.

[code]

[2015-07-02 19:12] gdrewb-valve commented on #145
Yes, thanks.  That's the same issue in #146 and other places.  The next update has an SDL change which should avoid the crash but whether it fixes startup is unknown.

[2015-07-02 19:50] gdrewb-valve commented on #167
It's theoretically possible to rebind the alt modifier to a different key but that would affect anything checking alt, there's no way to limit it to ping.  Ping also would always require a left click.

What exactly was working in source 1?  Changing the alt binding?

[2015-07-02 19:52] ChristophHaag commented on #150
@sylware Have you thought about simply `git revert af4b9c7c2e119d373f9684119b833a8b62cbb756` on mesa master?

I can confirm by the way that reverting this commit makes the flickering going away. Looks fine now.

[2015-07-02 20:59] ssnl commented on #192
Custom lobby. I haven't tried regular game lobby though.

[2015-07-02 21:00] gdrewb-valve commented on #192
Thanks.  As this isn't a Mac/Linux issue I've passed it on to the larger team.

[2015-07-02 21:00] #192 closed, assigned to gdrewb-valve

[2015-07-02 22:23] davidw-valve commented on #173
Closing this since it isn't a bug in the game. If you want to run without the steam runtime you must make sure you have needed dependencies.

[2015-07-02 22:23] #173 closed, assigned to nobody

[2015-07-02 23:12] davidw-valve commented on #126
This should be fixed in the latest update. If someone who was experiencing this issue can try it and let me know that would be appreciated.

[2015-07-02 23:29] sinatosk commented on #126
fixed for me

[2015-07-02 23:40] weirddan455 commented on #184
Check issue #120.  You will probably need to either install Microsoft Fonts or use the workaround I posted (2nd to last comment from the bottom at the moment.)

[2015-07-02 23:41] tstarboy commented on #2
The UI is fixed, but the map is not.
![2015-07-02_00002](https://cloud.githubusercontent.com/assets/680229/8490147/42962b20-20f2-11e5-8a24-a1cb074acec9.jpg)
![2015-07-02_00001](https://cloud.githubusercontent.com/assets/680229/8490148/4298dd34-20f2-11e5-8218-c56d7857665a.jpg)

[2015-07-03 00:00] Turmfalke2 commented on #126
thank you @davidw-valve, the patch fixed it for me.

[2015-07-03 00:00] weirddan455 commented on #120
Actually I think they fixed it in the update that just came through.  I deleted my workaround and everything stays intact.

[2015-07-03 00:01] weirddan455 commented on #126
Fixed for me as well.

[2015-07-03 00:02] sylware commented on #126
:( Only partial for me.
I started to watch a live game, it was ok for a little while, then I got in the log the alsa underrun messages and the rainy audio.

[2015-07-03 00:05] sylware commented on #184
Damn I'm bad at search the issue database

Yes this bug is a duplicate of #120

[2015-07-03 00:11] sylware commented on #150
I did use revert once. I don't really recall why (probably something related to
the linux kernel). There was so much non-orthogonal code creating conflicts, I
dropped its use and have forgotten about it.
But for those mesa commits, just one little conflict! Nice indeed.

Same here. The flickering went away.

[2015-07-03 00:16] ChristophHaag commented on #150
kdiff3 merged it automatically and did this: https://github.com/ChristophHaag/mesa-mesa/commit/7d27b6ea35fdab46190605232ae6fe3dcaadec33

It removes only three cases, so a trivial thing to test would be to test whether it's really clipdist which is responsible for the glitches. But I'm getting some sleep for now.

[2015-07-03 00:21] EPadronU commented on #126
Fixed for me as well. Even though more testing is required

[2015-07-03 00:37] sylware commented on #120
:( I still don't have console font (with your fix or not) I have DejaVu installed though.
If I install arial.ttf in my font directory, the console gets font and heroes get names.
There is something still weird with the fontconfig non-microsoft font fallback configuration.

[2015-07-03 01:15] mtbrandao commented on #48
Will Dota 2 Reborn final version support nvidia 331?
This is the current version of the driver on latest Ubuntu LTS (Trusty).
All the updates comes from unofficial sources.

[2015-07-03 01:22] bo0ohXae commented on #182
Not sure if this helps, but this worked as expected when reborn first came out for Linux, and broke a couple day later after one of the updates..  Really annoying as I have  monitors and as soon as I move the mouse to the other screen the game minimizes..

[2015-07-03 02:26] Tele42 commented on #149
This regression is fixed, June 2nd update (buildid 681811). Is the engine audio rate is not related to libsdl2's output rate?

[2015-07-03 05:38] ssnl commented on #89
Yes, the problem is fixed... But I imagined I shouldn't be able to use Ctrl+C/V/A/etc shortcuts...

[2015-07-03 06:39] gdrewb-valve commented on #89
That's actually expected as it comes from cross-platform code and seems pretty harmless.

[2015-07-03 06:40] gdrewb-valve commented on #184
I don't believe this is a duplicate since #120 is fixed and you mention there you're still having issues.

[2015-07-03 06:45] jeanlain opened #197 "shadow contours flicker"
With the 7/2 update, the contours of shadows may flicker. Turning shadows off and on doesn't fix the issue, but it seems that hiding and unhiding the game does it.

OS X 10.9.5, radeon 7950.

[2015-07-03 06:46] gdrewb-valve commented on #120
@sylware, what fontconfig fonts do you have installed?  fontconfig is always supposed to return a font in its sorted match list so I'm not sure why it would show nothing unless no fonts could be found.

[2015-07-03 06:46] gdrewb-valve commented on #184
Actually reading your latest post it does sound like a duplicate, closing.

[2015-07-03 06:46] #184 closed, assigned to gdrewb-valve

[2015-07-03 06:47] gdrewb-valve commented on #197
Similar to #55.

[2015-07-03 06:48] gdrewb-valve commented on #145
The 7/2 update should fix the crash, although things may not work overall.  Can people retry?

[2015-07-03 06:49] gdrewb-valve commented on #146
The 7/2 update should fix the crash, what happens after updating?

[2015-07-03 06:50] gdrewb-valve commented on #176
Does the 7/2 update change this?

[2015-07-03 06:50] gdrewb-valve commented on #180
The 7/2 update should fix this, do you still see the issue?

[2015-07-03 06:51] jeanlain commented on #197
In my case it's only the contours that flicker. The shadows don't disappear entirely. I confirm that switching to another app and back temporarily removes the issue, which comes back a couple of minutes afterwards.

[2015-07-03 07:21] theGeekPirate commented on #145
No luck here

[code]

[2015-07-03 07:25] vdrandom commented on #145
Can confirm it not working, even after the newest patch. Game runs fine while using xfce4, but crashes in awesome.

[2015-07-03 07:27] watbe commented on #145
Still not working for me:

[code]

[2015-07-03 07:37] jeanlain commented on #197
Also, unit shadows don't flicker. Only the shadows of vegetation.

[2015-07-03 08:29] sylware commented on #120
I have only the DejaVu ttf and Noto ttf fonts in $HOME/.local/share/fonts

[2015-07-03 08:45] nekuro-dev commented on #145
Can confirm the problem persists. Also doesn't start under Fluxbox.

[2015-07-03 09:07] osleg commented on #145
:+1:  not starting

[2015-07-03 09:28] chrylis commented on #182
Concur on all points: This worked in the initial release, it's broken in the new update, and the new behavior is unwanted.

[2015-07-03 09:31] budimanjojo opened #198 "Chat wheel always go to left"
Whenever I press Y to toggle the chat wheel it will always go to the left command, default is "Stun now!!"
System Information:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3900 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Su

[2015-07-03 09:35] budimanjojo opened #199 "CPU and RAM usage is beyond control again since 29/06 update"
![screenshot_2015-07-03_16-26-34](https://cloud.githubusercontent.com/assets/13085918/8496679/4ab99dbe-21a1-11e5-8a54-d1a04e6fcd3c.png)

This is the cpu usage after alt+tab back to desktop and took the screenshot immediately. Usage is above 70% when in game, which is really high.

System Information:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU

[2015-07-03 09:37] budimanjojo opened #200 "Heroes tab will spin the heroes selection non stop"
Tittle says it all, can't select hero, it keeps spinning on its own.

System Information:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3900 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE

[2015-07-03 09:42] chrylis opened #201 "[Linux] Reliably low FPS (Arch Linux, i7-4760HQ Haswell mesa 10.6.1)"
I'm running on Arch with Mesa 10.6.1 on an i7-4760HQ (Haswell), using the integrated graphics. In Source 1, I reliably get full frame rates, but in Reborn, I get a maximum of about 22fps (including in hero selection), dropping down to single digits whenever anything interesting happens on screen, completely independent of quality settings and whether compositing is enabled. CPU usage is low. The u

[2015-07-03 09:58] suptimal commented on #69
yey notifications working on linux now, thx. now i can use my accept script in reborn too ;)

[2015-07-03 10:00] suptimal commented on #69
sry markdown didnt work in title :D

[2015-07-03 10:27] AngryPenguinPL commented on #196
Hi,
I don't have crash but have smillar graphics in dota2 reborn.
I play with bots and when I minimalize game and come back to play I see this graphics corruption:

http://steamcommunity.com/sharedfiles/filedetails/?id=474268015

http://steamcommunity.com/sharedfiles/filedetails/?id=474267654

http://steamcommunity.com/sharedfiles/filedetails/?id=474267324

My Steam system info:
https://gist.githu

[2015-07-03 10:34] bytes-max opened #202 "[Linux] Size of borderless window is no longer borderless and closes when clicking on a second monitor"
This ones new, within the last patch a bug appeared, where you cannot move your mouse outside of the client without having the client to be minimised.

A few days ago it was possible to have the client on screen two while clicking around on the screen on monitor one without having the client to be minimised. This now appears automatically.

Please make it possible to have the client available on t

[2015-07-03 10:58] budimanjojo commented on #202
Try reducing the resolution of the borderless window. As far as I know borderless window with the max resolution of monitor is basically a fullscreen window that isn't placed above the panel or dock. And dota will minimize when you alt tab if it is in fullscreen.

[2015-07-03 11:16] danginsburg commented on #197
@jeanlain Does adjusting the "Texture Quality" to Low make this issue go away?  I don't see this problem on my FirePro D500.  However, it's strange because I checked in a fix for the 7/2 update for this problem which occurred on NVIDIA.  The problem was with anisotropic filtering alpha tested objects rendered to the shadow map.  It only occurred when texture quality was set to high.

[2015-07-03 11:26] suptimal opened #203 "[featurerequest] move the players ready indicator bar"
the player rdy x/10 is blocking the whole game, could u move it bot mid or left mid for example?

![bot](http://i.imgur.com/ziavew9.jpg)
![left](http://i.imgur.com/lG2QDzr.jpg)

[2015-07-03 11:29] danginsburg commented on #201
What do you see when you do:

[code]

I'm testing on a i7-4770R CPU and depending on the CPU frequency my framerate varies from 45fps -> 120fps.  I tend to disable cpu frequency scaling when I am benchmarking.

[2015-07-03 11:33] danginsburg commented on #197
@jeanlain Ignore.  I've got this repro'd, thanks for the report.  Investigating.

[2015-07-03 11:45] ChristophHaag commented on #79
The ingame UI works now, but the steam overlay still has this problem.

[2015-07-03 11:59] danginsburg commented on #55
Thank you @stroyan!  I can confirm that this patch fixes the issue.  @stroyan has committed this patch to mesa master so you can either build latest mesa from master or apply this patch to your build and it will fix the shadow issues.  Official patch is here:

http://cgit.freedesktop.org/mesa/mesa/commit/?id=fe2b748a39ff676949fcefccf739aff967fc38c5

Closing.

[2015-07-03 11:59] #55 closed, assigned to danginsburg

[2015-07-03 12:08] bytes-max commented on #202
But it worked fine before. I had a fullscreen window which was able to stay on the very top even if I alt-tab out. This was extremly userfriendly and I remember that the same thing was possible on Windows, too, however, I switched to Ubuntu like 2 years ago.

[2015-07-03 13:01] Josko commented on #145
It's currently not working (Arch 64, awesome WM)

[2015-07-03 13:45] budimanjojo commented on #202
How did you get it fine before? Been playing Dota using Linux for half a year and never get it working.  What's your distro and your desktop environment?

[2015-07-03 13:49] bytes-max commented on #202
Note that we are not talking about Source 1, which wasn't able to stay on screen.

Source 2 did it, am on Ubuntu 14.04 with 1920x1050 resolution

[2015-07-03 13:50] bytes-max commented on #202
Duplicate #182

[2015-07-03 13:50] #202 closed, assigned to nobody

[2015-07-03 13:54] budimanjojo commented on #202
You mean you're using 1920x1050 resolution borderless on a 1920x1080 monitor? Your Unity dock is on your left monitor and you're playing Dota in your right monitor? I tried it on my system and alt tab worked without minimizing Dota 2 Reborn. But I'm using xfce on Manjaro

[2015-07-03 13:55] bytes-max commented on #202
I don’t use Unity, I backed up to Gnome2. Unity is ugly af IMHO. :)

Von:  budimanjojo
Antworten an:  ValveSoftware/Dota-2-Reborn
Datum:  Freitag, 3. Juli 2015 15:55
An:  ValveSoftware/Dota-2-Reborn
Cc:  Atropos GmbH
Betreff:  Re: [Dota-2-Reborn] [Linux] Size of borderless window is no longer borderless and closes when clicking on a second monitor (#202)

You mean you're using 1920x1050 resolution

[2015-07-03 13:58] budimanjojo commented on #202
Try setting the Dota 2 settings to 1600x900 borderless and see if it still minimized? It worked for me

[2015-07-03 14:00] danginsburg commented on #48
You can workaround the problem on with NVIDIA 331 drivers by adding the following to your Launch Options:

[code]

I'll look into adding some autodetect code to turn these on so that it at least works on 331, but I highly recommend latest NVIDIA drivers because these flags are just working around bugs in the NVIDIA 331 driver.

[2015-07-03 14:01] bytes-max commented on #202
If I do so the borderless Window does not fill out the screen completely thus taking my attention away from Dota2. Not an option to lower the resolution besides fullscreen resolution.

However, this works and the screen don’t minimize anymore, but thats not what players want (see #182). The new behavior is unwanted, it also worked fine in the revision before.

Von:  budimanjojo
Antworten an:  Valv

[2015-07-03 14:11] budimanjojo commented on #202
I don't know if it worked before. Maybe try setting from the launch option? Use something like this:
-windowed -noborder -w 1919 -h 1079. This way it will "almost" fill out the screen. As a workaround as the developers try to fix it for some time :)

[2015-07-03 14:33] danginsburg commented on #48
I checked in a fix that will auto detect NVIDIA 331 and disable GL_ARB_buffer_storage and GL_ARB_vertex_attrib_binding use since it is broken in this driver.  Fix will be in the next release.  For now, use the command-line options I mentioned to forcibly disable the use of those extensions which have bugs in the NVIDIA 331 driver.

[2015-07-03 14:33] #48 closed, assigned to danginsburg

[2015-07-03 14:46] mtbrandao commented on #48
WOW, nice.
The workaround works perfect!
Thanks

[2015-07-03 14:54] danginsburg commented on #197
I have found the issue and checked in a fix.  The fix will be part of the next update.

[2015-07-03 14:54] #197 closed, assigned to danginsburg

[2015-07-03 15:03] danginsburg commented on #168
@Pharmasolin It is unclear to me how to reproduce this issue.  Can you please provide more detailed reproducer instructions?

[2015-07-03 15:05] danginsburg commented on #114
Duplicate of #48 .  Workarounds have been checked in for NVIDIA 331.

[2015-07-03 15:05] #114 closed, assigned to danginsburg

[2015-07-03 15:07] danginsburg commented on #65
Is this fixed by the 7/2 update?

[2015-07-03 15:33] gdrewb-valve commented on #196
@xpris, can you open a separate issue for the graphics corruption, even though it's the same as what drager is seeing?  We'll keep this issue just for the crash.