[2016-10-28 07:57] rained23 commented on #1060
I will try the open source driver and other previous version and update about this issue

[2016-10-28 16:56] rained23 commented on #1060
Tested on nouveau , no hang/crash happen just very low fps. 1 - 10 fps No Vulkan.

Tested on nvidia 364.19, Vulkan. Manage to watch 1 game, second game suddenly the game hang, didnt crash my computer.

Driver issue ?

[2016-10-28 16:59] admshao commented on #1060
Probably Dirver issue. 370.28 proprietary driver is rock solid stable on
vulkan

2016-10-28 14:56 GMT-02:00 rained23 notifications@github.com:

[2016-10-28 18:14] gdrewb-valve commented on #1060
Closing for now, if you believe there's a Dota issue we can reopen.

[2016-10-28 18:14] #1060 closed, assigned to gdrewb-valve

[2016-10-28 18:15] gdrewb-valve commented on #1061
Can you post your system info?

[2016-10-28 18:15] gdrewb-valve commented on #1058
Is there an issue remaining or should this be closed?

[2016-10-28 18:20] alexchuang72 commented on #1058
This can be closed, thanks Drew

On Fri, Oct 28, 2016 11:15 AM, Drew Bliss notifications@github.com
wrote:
Is there an issue remaining or should this be closed?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-28 19:30] admshao commented on #1061
https://gist.github.com/admshao/8568ee136ae52a6e424623a29258fe5c

2016-10-28 16:15 GMT-02:00 Drew Bliss notifications@github.com:

[2016-10-28 19:34] #1058 closed, assigned to gdrewb-valve

[2016-10-29 06:37] icarus-schleg opened #1062 "[macOS] Too low FPS on NVidia GTX 780M"
Hello. I have already left a message about low macOS performance about a year ago, but nothing was changed.

On the same iMac, Dota 2 runs on 20-30 FPS on macOS and stable 60FPS (vsync) on Windows with the same max graphics settings and same 2560x1440 resolution. It means that I have to use Bootcamp on my Mac to play Dota 2 comfortable. This issue was appeared after some weeks from Reborn Beta lau

[2016-10-29 13:14] glubsy commented on #1037
I have a strong feeling there is something wrong with my hardware, either RAM or graphics card, or even mother board. I get this glitch quite frequently on different models
I get the following messages in dmesg sometimes, it might be related.

[code]

It's just strange it never happened when I was running Windows 7 on the same machine.
You might want to close this now. Sorry for adding noise.

[2016-10-29 13:38] melkor217 commented on #1040
https://github.com/ValveSoftware/steam-for-linux/issues/4670

[2016-10-29 15:40] gdrewb-valve commented on #1037
Thanks for the update, closing.

[2016-10-29 15:40] #1037 closed, assigned to danginsburg

[2016-10-29 15:43] gdrewb-valve commented on #1056
Closing as this doesn't seem to be a Dota issue.

[2016-10-29 15:43] #1056 closed, assigned to gdrewb-valve

[2016-10-29 15:45] gdrewb-valve commented on #1062
This is a duplicate but holding it open for now.

As with the other open OSX GPU performance issues here we are dependent on Apple to do work on the OSX OpenGL driver.  We have not had any luck in our attempts to engage with them on the issue.

[2016-10-29 16:07] icarus-schleg commented on #1062
That's very sad. Do you have any possibilites to improve performance in the future? I mean, do you plan to use another API that compatible with macOS?

[2016-10-30 04:54] gdrewb-valve commented on #1062
If Valve decides to support a new rendering API there'll be some kind of announcement but you'll just have to wait and see if that happens or not.

[2016-10-30 04:58] icarus-schleg commented on #1062
Thank you for your assistance

[2016-10-30 04:58] #1062 closed, assigned to nobody

[2016-10-30 16:17] gdrewb-valve commented on #1057
Likely unrelated, but just in case:

http://dev.dota2.com/showthread.php?t=270972

[2016-10-31 18:56] gdrewb-valve commented on #1042
No new reports of problems so closing this.

[2016-10-31 18:56] #1042 closed, assigned to gdrewb-valve

[2016-10-31 18:57] gdrewb-valve commented on #1028
Is this still an issue?

[2016-10-31 19:00] gdrewb-valve commented on #1061
This works properly for me on my Linux box.  If you add -input_message_spew to your launch options and open the console in-game do you see MOUSEWHEEL messages (assuming you're wheeling for scroll) for both directions of scroll?

[2016-10-31 19:09] admshao commented on #1028
Hardcoding the window spectate lock convar to 1 did the trick in dotatv
outside lobby.

Unfortunately as PT-BR caster i wasn't able join a lobby of any tournament
so far. This might change this week with esl genting since we got lobby
access. I'll report back.

On Oct 31, 2016 4:57 PM, "Drew Bliss" notifications@github.com wrote:

[2016-10-31 19:10] gdrewb-valve commented on #1028
I'm going to close for now as it sounds like it's working as expected with the convar.

[2016-10-31 19:10] #1028 closed, assigned to gdrewb-valve

[2016-10-31 19:10] admshao commented on #1061
Your assumption is right. I'll try that command later on.

On Oct 31, 2016 5:00 PM, "Drew Bliss" notifications@github.com wrote:

[2016-10-31 22:39] gdrewb-valve commented on #1057
This works properly for me on my Linux box.  Does the Steam overlay work at all?  Can you Shift+Tab to bring up the Steam overlay?

Are you launching the game from within Steam or from a terminal?

[2016-10-31 23:56] sudoforge commented on #1057
@gdrewb-valve I know the overlay _used_ to work; I think I have disabled it for one reason or another (after this issue first appeared) -- so it's possible that this disabling is the current reason that I cannot add friends in-game. I can check in a few hours and update you here.

I'm launching the game from the Steam client.

[2016-11-01 22:52] admshao commented on #1061
Here. I cutted the log to just the mouse input regarding left/right button
and mousewheel. I can provide the  whole 200k lines log file if needed.

https://gist.github.com/admshao/5d9dad7f668169e8be8238aac0bae2c7

2016-10-31 17:10 GMT-02:00 Fabio Madia admshao@gmail.com:

[2016-11-01 22:54] admshao commented on #1061
Notice that "SDL: got SDL_MOUSEWHEEL" is printed as the same string for
either wheel foward or backwards or up/down dunno the proper way to say it.

2016-11-01 20:52 GMT-02:00 Fabio Madia admshao@gmail.com:

[2016-11-01 22:59] gdrewb-valve commented on #1061
The wheel events are coming in so I'm not sure why things aren't working properly, we'll have to see if we can find a way to repro.

[2016-11-01 23:03] admshao commented on #1061
This might be related with some king of Bind issues? I tried to "bind '-'
'camerazoomout'" and tested in a bot match. it just works... Then tried the
same hotkey while casting a game with free camera and nothing happened.

2016-11-01 20:59 GMT-02:00 Drew Bliss notifications@github.com:

[2016-11-01 23:16] gdrewb-valve commented on #1061
That's possible, although a non-platform issue like that would not get handled here.

[2016-11-02 01:04] rudmint opened #1063 "Can't download new update"
When I attempt to download today's update I receive this error,

An error occurred while updating Dota 2 (disk write error) :

/media/steamdrive/steamapps/downloading/570/game/dota/pak01_040.vpk

I've tried validating the install and deleting all local content and reinstalling.  I am getting the same error after each attempt.  Is my hard drive faulty?

System info:

Processor Information:
    CPU

[2016-11-02 01:07] Tele42 commented on #1063
@rudmint, no, this is a regression in the 2016-11-01 steam beta client, you should be able to workaround it by opting out of the beta. This issue is being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/4670 and/or https://github.com/ValveSoftware/steam-for-linux/issues/4686.

[2016-11-02 01:19] rudmint commented on #1063
I attempted updating again after making this post and it worked without issue.  I did not opt-out of the beta participation.

[2016-11-02 01:19] #1063 closed, assigned to nobody

[2016-11-02 07:18] RogerDodger opened #1064 "Linux: Duplicate Desktop Notifications"
When a matchmaking match is found or a lobby game starts, two desktop notifications are emitted:

**Matchmaking Status**
Your game is ready

**dota2**
Dota 2 is ready

Expected behaviour: Only one notification is emitted.

---

When the game is unpaused, no desktop notification is emitted.

Expected behaviour: A notification is emitted when the unpause countdown begins.

[2016-11-02 16:21] gdrewb-valve commented on #1064
Can you post the full system info from Steam?  Also have you customized your system notification settings (not Dota) in any way?

[2016-11-02 17:39] u00101010 opened #1065 "[Linux] Dashboard-game switch performance is bad"
Hi there,

For a couple days/weeks now, the transition between the Dashboard (Menu) and the actual Game gets worse and worse the more games are played sequentially. First game, fine, second game, fine, however, around the 3rd or 4th game, things get tricky.

Either when a match is found, the game freezes for a couple seconds before it shows up the "Accept" button. Usually, I spam the enter key for

[2016-11-02 17:54] ramma commented on #1064
Is there an easy way to test the desktop notifications without having to play a game or decline a game?

I haven't been getting them for a while now. Probably since upgrading to Ubuntu 16.04.1 when the dist upgrade became available. [Sys info](https://gist.github.com/ramma/925cc19fb6fd7805979e)

[2016-11-02 22:35] gdrewb-valve commented on #1064
I'm not aware of one, unfortunately.

[2016-11-02 22:36] gdrewb-valve commented on #1065
This isn't a platform-specific issue, I've passed it on to the larger team.

[2016-11-02 22:36] #1065 closed, assigned to nobody

[2016-11-02 22:55] gdrewb-valve commented on #1064
I don't see a second notification, that might be something your DE is generating.

The feature request for more notifications should be posted a dev.dota2.com.

[2016-11-02 22:55] gdrewb-valve commented on #1057
Did you get a chance to check on the overlay?

[2016-11-02 23:38] gdrewb-valve commented on #952
Closing as this isn't a Mac/Linux issue.

[2016-11-02 23:38] #952 closed, assigned to nobody

[2016-11-02 23:38] gdrewb-valve commented on #947
Is this still happening?

[2016-11-02 23:40] gdrewb-valve commented on #937
Closing as this isn't a Dota issue.

[2016-11-02 23:40] #937 closed, assigned to nobody

[2016-11-02 23:43] gdrewb-valve commented on #929
Closing as this isn't a Mac/Linux specific issue.

[2016-11-02 23:43] #929 closed, assigned to nobody

[2016-11-02 23:44] vadi2 commented on #947
Hasn't happened recently.

[2016-11-02 23:44] gdrewb-valve commented on #1040
Closing as the underlying problem in Steam has been identified and is being worked on.

[2016-11-02 23:44] #1040 closed, assigned to vlv-henryg

[2016-11-02 23:44] gdrewb-valve commented on #947
Thanks, closing.

[2016-11-02 23:44] #947 closed, assigned to nobody

[2016-11-03 01:06] nascob commented on #817
Same situation here. I noticed that when running the game one of the GPUs sits idle without any memory or computation load. It would be awesome if we could get some basic sort for this.

[2016-11-03 02:35] RogerDodger commented on #1064
[Full system info](http://pastebin.com/r3TP5GQH). Running GNOME3 Window Manager (gnome-shell), Desktop Manager (gdm), and Desktop Environment. I haven't customised my notification settings at all.

I don't think it should be my DE doing something irregular since the start of the hero picking phase only emits the following notification:

**Matchmaking Status**
The hero picking phase has begun

Dota

[2016-11-03 02:59] gdrewb-valve commented on #1064
The notification that Dota gives always have the title "Matchmaking Status", that's the only string it uses.  It also only has one code path for notifications so all notifications function identically.  It's a mystery as to why you see two, we'll have to see if other people hit it and we can figure out the common factor.

[2016-11-03 03:00] gdrewb-valve commented on #1064
If you use notify-send from a terminal window does it just send one notification?

[2016-11-03 03:05] RogerDodger commented on #1064
Yes

[2016-11-03 06:53] icculus commented on #360
Just wanted to ping on this; are people still seeing this issue? I'm not able to reproduce it now (Ubuntu 16.10, the default Unity desktop environment, "desktop-friendly" window, etc), but it's possible I'm not doing it right. A lot of code has changed in these pieces of SDL since March.

Let me know when you get a chance!

[2016-11-03 07:54] ramma commented on #360
Also unable to reproduce it on 16.10, but I can't actually set the display mode to desktop-friendly fullscreen like was mentioned above for reproducing this. The option reverts to "Use my monitor's current resolution" once the options are reopened, but the other display modes set just fine. Not sure if the display mode matters much.

Either way I got no disconnects in all modes I could set, irrele

[2016-11-03 14:27] Turmfalke2 commented on #360
hi @rcgordon
I am using Gentoo with herbstluftwm and the problem still persists.
Test 1:
I created a lobby on the luxembourg server with no bots, after spawning as Abaddon I changed to another tag (completely hides the window) for 2 minutes. While doing so I still heard the music, but up on changing back to the tag with dota 2 I got disconnect from the server message with no way to reconnect.

Tes

[2016-11-04 05:06] sudoforge commented on #1057
@gdrewb-valve Sorry for taking so long to get back to you, haven't had much free time!

Enabling the overlay solves the issue. For future readers, here are the steps necessary to enable the overlay in both the Steam client and in Dota 2:
- Open the Steam client. Click on _Steam -> Settings -> In-Game_.
- Check the box that's labeled _Enable the Steam Overlay while in-game_.
- Press _OK_ at the bot

[2016-11-04 05:06] #1057 closed, assigned to gdrewb-valve

[2016-11-04 13:58] ghost opened #1066 "Hero selection menu is buggy"
The Hero selection menu is buggy(graphical bug) when using a 5:4 monitor I'd like to screenshot it but it doesnt work under vulkan.

[2016-11-04 15:47] gdrewb-valve commented on #1066
This is not a Mac/Linux issue, the larger team will handle it so it won't be tracked here.

[2016-11-04 15:47] #1066 closed, assigned to nobody

[2016-11-04 15:53] ghost commented on #1066
but this happened under linux.

[2016-11-04 16:01] Tele42 commented on #1066
@nifker, @gdrewb-valve is saying this is a known issue that affects all platforms, so it will be addressed by the larger Dota 2 dev team, not the relatively small group that maintains the mac and linux version.

[2016-11-04 22:42] dsjoho commented on #360
Still seeing this @rcgordon on archlinux (current up to a couple of days) with KDE/Plasma 5.8.
Switching workspaces for more than a couple of seconds causes a disconnect, in all the scenarios described above.
This with dekstop-friendly fullscreen, as well as the border-less window.
The option for minimizing on focus loss is disabled.

[2016-11-05 14:15] admshao commented on #1028
I finally could test today on ESL tournament inside lobby. Manually setting
the window spectate lock convar indeed did the trick.

I would just ask for you to double check if it's being set on all cases and
close this issue.

2016-10-31 17:10 GMT-02:00 Drew Bliss notifications@github.com:

[2016-11-05 22:23] TomNaessens commented on #1030
This seems fixed for me now. I can't recall it being in the patch notes neither from MacOS nor from Dota, so I don't know what has fixed it.

[2016-11-05 22:25] gdrewb-valve commented on #1030
I don't know of any changes to address this in Dota, but possibly something affected it.  If ezewan reports it working also I'll close this out.

[2016-11-06 04:02] sakuramboo opened #1067 "Having Morphling in the game and someone popping illusions will make FPS drop from 90 to 10"
Easily tested in a bot match, select Morphling, play normal, after 25 minutes get manta, pop illusions and watch the FPS plummet.

It gets worse if other bots have manta spawn illusions as well. Waveform and killing the illusions helps but only if you haven't pop manta.

[2016-11-06 17:37] gdrewb-valve commented on #1067
This isn't specific to Mac/Linux so it's out of the scope of this forum, I'll pass this on to the larger team.

[2016-11-06 17:37] #1067 closed, assigned to nobody

[2016-11-06 17:41] gdrewb-valve commented on #1034
@Maxxie, are you still seeing this problem?

[2016-11-06 17:50] TomNaessens commented on #1030
I had issues with it today again, so it's not fixed (sorry). I have no idea what was different, but I'll try some things are report back when I found something.

[2016-11-06 17:51] gdrewb-valve commented on #1030
OK, thanks.

[2016-11-06 21:54] 420git commented on #905
I've been having the same problem since the same period.Something in Dota is bugged to require such highload of the CPU talking from an i5 3rd gen, while my core 2 duo on win xp is working without issues.
After bumping my head trying to resolve this I found a workaround that is helping me for the time being I disabled the intel_pstate driver which recognizes my cpu highest frequency 3.2ghz and use

[2016-11-07 06:16] glubsy opened #1068 "Hero picking phase overlay not covering game screen entirely"
I have noticed this glitch across several Ubuntu 14.04 systems (Linux Mint 17.3 here).

![Hero picking phase overlay on Linux](http://i.imgur.com/J05XSXg.jpg)

Notice how the bottom of the screen it not covered entirely by the overlay. The mini-map is also interactive, I can ping in it (although team mates don't seem to receive them), and see the green camera view field moving around in the mini-m

[2016-11-07 13:11] danginsburg commented on #1068
I suspect this is an issue with 4:3 aspect ratio (running at 1280x1024).

[2016-11-07 13:52] ramma commented on #1068
It definitely is, which likely means it's not Linux specific.
Interestingly though, the same 1 pixel gap that's on the right of the pick screen in 16:9 aspect is still there in 4:3.

[2016-11-07 15:33] glubsy commented on #1068
It seems Linux specific to me as I don't recall having had this issue under Windows 7 with the same hardware and resolution. I don't run Windows anymore to test this though, so if anyone is able and willing to test this, please report.

I have tested in **other aspect ratios** and the problem is **not present.**
However, testing in **4:3 running at any other resolution** (ie 1024x768), there is **

[2016-11-07 15:43] Tele42 commented on #1068
I'm just stating the obvious for a moment, but 1280x1024 is 5:4, not 4:3. The closest 4:3 resolution would be 1280x960.

Maybe (speculatively) an issue with libsdl2's scalar?

[2016-11-07 20:01] gdrewb-valve commented on #1068
This happens on Windows also so it won't be tracked here.  It's an issue with Dota's handling of 5x4 that the larger team is aware of.

[2016-11-07 20:01] #1068 closed, assigned to nobody

[2016-11-07 20:02] gdrewb-valve commented on #1034
Presumed fixed, closing.

[2016-11-07 20:02] #1034 closed, assigned to gdrewb-valve

[2016-11-08 01:47] glubsy commented on #1068
Ah that explains it. I gather that I must have been using the wrong resolution the whole time. :grey_question:
Anyway, my bad. Thank you! :)

[2016-11-08 11:57] gear4s commented on #793
This is _still_ not fixed, and I complained about it in March already.

When the fuck are you going to do something about it ?

[2016-11-08 19:47] 420git commented on #793
Well I recently reinstalled steam and all its dependencies after purging it from my system due to cpu overload  with dota since about 5 months which turned out to be due to fan problem.
After the fresh install this hasnt happened again, been using it for about  week.
Try purge and reinstall might be some outdated lib still stuck in the system
OS:Arch linux using native libs
Edited: removed reinsta

[2016-11-10 02:37] ericp1337 opened #1069 "[Linux] Unable to update, Corrupt game files."
I continue to try and update the game, but it keeps on giving me an error about corrupt game files. I tried to restore from a previous working backup, but still no luck.

[2016-11-10 02:45] BernardoGO commented on #999
Are you guys starting a session using weston or using it trough gnome?

[2016-11-10 04:09] gdrewb-valve commented on #1069
You'll want to post in the steam-for-linux section.  Make sure to give system info and what version of the Steam client you're running.

[2016-11-10 04:09] #1069 closed, assigned to nobody

[2016-11-10 21:13] konstantinblaesi commented on #999
Anything wayland wise started via gdm didn't let me run dota.

[2016-11-11 03:12] AlphanumericChars opened #1070 "Dota 2 FPS drops on Gnome 3.22"
I've updated to GNOME 3.22 and since then Dota 2 is suffering FPS drops, input lag for mouse and other annoying stuff such as the mouse pointer moving to the other screen when it reaches the left side.

Is there any way to solve it? Gnome improved a lot this update, it is smoother than never but dota is not good/

[2016-11-11 05:58] gdrewb-valve commented on #1070
You might have more luck posting on a GNOME forum, but possibly somebody reading this will have advice.

[2016-11-11 17:49] BernardoGO commented on #1070
I have the same issue. It's probably related to wayland.
Is there a way to make it smoother on xwayland by using any parameter?

[2016-11-11 17:56] ericp1337 opened #1071 "Disconnected from server - Timed out"
I am running ArchLinux with Gnome 3.22 when loading into a game it will sometimes crash during the loading screen, get disconnected from server during loading screen, or get disconnected/timed out during pick phase. This has been happening for quite a while now and happens both on Vulkan and OpenGL.

[Video](https://youtu.be/fSFNvUWrKNI?t=1m8s)

[2016-11-11 17:59] Tele42 commented on #1071
Hello @computerfr33k, for the crashes, please copy your system information from steam (`Steam` -> `Help` -> `System Information`) and put it in a gist, then include a link to the gist in this issue report, especially any CrashIDs related to the issue.

[2016-11-11 18:03] ericp1337 commented on #1071
[System Information](https://gist.github.com/computerfr33k/c26be5ce08ea1d60e62296bda51f054a)

I will update this with any crash id's if it crashes again (it's very random).

[2016-11-11 18:09] gdrewb-valve commented on #1071
This kind of things happens on all platforms so there won't be direct action here.  If you get crash IDs we can look and see if there's anything new popping up.

[2016-11-12 04:02] jahsome opened #1072 "[Mac OS] Ping from Phoenix to US West abnormally high"
For about the last month, I've had 140 ping to the US West servers, whereas US East hovers around 60. I've tried a different router/modem combo. It seems to have occurred immediately following a release though I cant remember which specific release.

[code]

[2016-11-12 04:38] admshao opened #1073 "[Linux] Game eventually crashes when spectating Captains Mode draft from DOTATV"
It's been months that this error keeps appearing. Some days more frequently than others.
Currently under ubuntu 16.10, Gnome 3.22, NVidia 1080 with 370.28 drivers.
I don't have much information to give other than that it happens when spectating a tournament match while game is already in the draft and on Captains Mode. I wouldn't discard it happening while game is loading before the draft screen t

[2016-11-12 05:53] jahsome commented on #1072
Also should note, after 10:30 PM MST, the ping goes back down to around 60-70ms for US West.

[2016-11-12 06:40] gdrewb-valve commented on #1073
Duplicate of #922.

[2016-11-12 06:40] #1073 closed, assigned to nobody

[2016-11-12 06:41] gdrewb-valve commented on #1072
This isn't a Mac issue, the larger team will take a look.

[2016-11-12 06:41] #1072 closed, assigned to nobody

[2016-11-12 12:02] xrisk opened #1074 "[macOS] Capslock key isn't working"
My capslock key was working till today morning, but as of now it isn't. I can't bind it to a hotkey and the existing binding that I was had isn't working any more.

[2016-11-12 12:12] xrisk commented on #1074
Never mind, a reboot fixed it. Apologies.

[2016-11-12 12:12] #1074 closed, assigned to nobody

[2016-11-12 21:22] adityakaulagi opened #1075 "[MAC OSX] Cursor problems when using two external displays"
I just started using multiple external monitors, and I'm facing the following issues:

1. The cursor disappears, and will only appear back if I switch to another app and back to dota. When it's disappeared, it still works. For example, a move command shows the green cross notification at the location that is clicked on. I just cannot see the cursor.

2. The game stutters anytime I try to edge pan

[2016-11-13 00:07] gdrewb-valve commented on #1075
Can you post your system information?

[2016-11-13 01:25] adityakaulagi commented on #1075
Steam System Information

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro11,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz
    CPU Family:  0x6
    CPU Model:  0x46
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2800 Mhz
    8 logical processors
    4

[2016-11-13 16:06] ericp1337 commented on #1071
Just experience a crash when loading back into a game after being disconnected/timed out.

[code]

[2016-11-13 17:45] gdrewb-valve commented on #1071
If the report was discarded it didn't make it to Valve for us to look. If it has a CrashID we can check it, or if you share the actual dump file.

[2016-11-13 18:15] ericp1337 commented on #1071
[crash_20161113083112_1.zip](https://github.com/ValveSoftware/Dota-2/files/587949/crash_20161113083112_1.zip)

[2016-11-14 03:08] admshao commented on #922
This just happened today again when broadcasting a Professional Tier tournament and i had to capture another brodcaster video so i couldn't complete miss the draft.. It's a pretty serious issue guys. In 2 days a Premium tournament is about to start and in a couple of weeks a Major!

Do you recommend me to drop my linux setup while this is being worked on? Let me know if any other info is needed.

[2016-11-14 20:26] gdrewb-valve commented on #922
As mentioned in the comments here at least one of the crashes involved happens on Windows also and is being checked out by the larger team.  It's also in non-Valve code so finding and fixing the issue is going to be extremely difficult.  We're not aware of any workarounds that work for everybody in all cases, but some people have had luck using Vulkan.

[2016-11-14 20:38] gdrewb-valve commented on #1071
This is an instance of a problem the larger team is already looking at so there won't be direct status here.

[2016-11-14 21:58] u00101010 opened #1076 "[Linux] Steam crashes unexpectedly"
Hi there,

So since the last couple days sometimes Steam crashes unexpectedly, therefore freezing the game completely and disconnecting me from the session.

I don't know where to find Steam crash logs (if there's any) or if I'm even posting this on the right board (if not here, where and how should I post this to you?), but this seems like a platform issue?

[2016-11-14 22:53] gdrewb-valve commented on #1076
The right board would be the steam-for-linux section, which is a peer of Dota-2.  If you run Steam from a terminal you might get some info.  Also if Steam runs long enough to let you go to the Help menu and get the full system information there as you'll need to post that with your report in steam-for-linux.

[2016-11-14 22:53] #1076 closed, assigned to nobody

[2016-11-15 19:11] bymoe opened #1077 "Video setting always high, slow main menu UI & game stutter"
I have tried everything in this issue #921 but nothing works, It is not totally not FPS drop or any network problems, Any suggestions?

[2016-11-15 19:26] gdrewb-valve commented on #1077
Please post your full system information from Steam.  We need specific details on your GPU and video driver.

Can you give more detail on what "video setting always high" means?  When you change your video settings that doesn't get saved for the next run?

[2016-11-15 19:38] bymoe commented on #1077
@gdrewb-valve I do not know how to get system infos for steam ( How? ) & I had DotA2 installed last 3 months and It was so fine, My problem is just same to this #921 .

The video setting It does not even applied, It is always high.

[2016-11-15 19:50] gdrewb-valve commented on #1077
In the Steam client there's a Help menu and it has a System Information option, that's the info we need here.

I still don't understand your comment on video quality.  You're saying that when you go into the video settings screen you can't change your options?  Please post exact, detailed steps of what you are doing.

[2016-11-15 19:57] bymoe commented on #1077
@gdrewb-valve  I can change the options but nothing applied, The UI looks High for all settings!
Infos:

`Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepp

[2016-11-15 20:18] gdrewb-valve commented on #1077
Most of the video settings apply to the game, not the UI.  If you choose desktop-friendly fullscreen you can choose a resolution lower than your screen size and that will affect the UI.  Also make sure that the FPS limit (lower right of video settings) is 60 or more so that it isn't kicking in.

Your system has fairly low specs, what was your frame rate in the past?  When exactly did it change?

[2016-11-15 20:28] bymoe commented on #1077
@gdrewb-valve : Yeah I know it 's a prefect system but It was fine ( from 3 years playing ).

And it was 60, But I guess the new UI update is the problem . And not only DotA2 is lagging, but I feel like the whole computer suffer when I open DotA2, Might be Cpu!!

[2016-11-15 20:30] gdrewb-valve commented on #1077
You're comparing pre-Reborn Dota to post-Reborn Dota?  Has Reborn Dota ever run well on your system?

[2016-11-15 20:31] bymoe commented on #1077
No, I mean only the reborn, I play it on Reborn and It was fine.

[2016-11-15 20:36] gdrewb-valve commented on #1077
When exactly -- I need a date if possible -- did things change?

[2016-11-15 22:10] bymoe commented on #1077
I do not know, I uninstalled the game 4 months later, and now It is so unplayable because of the main menu lag, I mean I just install it again and the problem appear.

[2016-11-15 22:35] gdrewb-valve commented on #1077
OK, if something pops up there'll be an update here.

[2016-11-16 10:18] bymoe commented on #1077
I am waiting for any suggestions, because it is literally unplayable.

[2016-11-16 15:31] AngryPenguinPL opened #1078 "[Linux] Dota 2 crash in normal match and bot match"
Hi.

I not playing in dota from one week and now Im starting play again, but I see my dota2 crash often.
When I playing normal match I get few crash in one day (every match or two).
Also today, when I try bot game I have crash in all match.
It also crash when I watch game.

This is crashing dump from last time:
http://www.filedropper.com/crash201611161608441
http://www.filedropper.com/crash2016111

[2016-11-16 16:02] Tele42 commented on #1078
Hello @xpris,
First crash dump link is in libscenesystem.so.
Second link is in libscaleformui_4_gl.so (being tracked at #922).
Third link is in steamwebhelper / libcef.

[2016-11-16 17:26] gdrewb-valve commented on #1077
Did you try my suggestion of lowering your full-screen resolution?

As we don't know which of the many updates in the last four months might have caused your issue it's hard to give more concrete advice.  Hopefully a future update will improve things for you, but there's no specific timetable.

[2016-11-16 17:39] gdrewb-valve commented on #1077
Some other things you could try, although these are less likely to help:
1. Restart your Steam client and verify your Dota install (right click on Dota in the Steam game list, go to properties and in the local tab there's a verify option).
2. Try switching to the Steam beta client.

[2016-11-16 19:53] gdrewb-valve commented on #1078
You'll want to file an issue in steam-for-linux with the steamwebhelper crash.

[2016-11-21 10:12] AngryPenguinPL commented on #1078
So it is not related to Dota2? Thanks, I report on Steam github.

[2016-11-21 20:23] gdrewb-valve commented on #1078
One of the three is not related to Dota, the others are.

[2016-11-22 12:46] RohanPrabhuNomadly opened #1079 "200%+ CPU usage, client completely unresponsive with rendering bugs"
This is what my client looks like right now: http://imgur.com/a/NDpMD

And there are other windows over it, because that's just how it is painting, any window on top of it just stays there and the entire client is unresponsive. It takes more than a minute to load and then just stays black for another 2-3 minutes and this is the screen I see after it.

Also, the process is using 2 cores upto 100%.

[2016-11-22 12:51] Tele42 commented on #1079
Hello @RohanPrabhuNomadly, are you able to easily retest with nvidia 375.10? I have heard a rumor that there is one or more regressions in 375.20.

[2016-11-22 13:01] RohanPrabhuNomadly commented on #1079
Let me try doing a downgrade, it isn't easy.. but not something I haven't done before. Also I did suspect this because this issue started after me upgrading my drivers. I guess, the perils of having a rolling release :(

[2016-11-22 14:13] RohanPrabhuNomadly commented on #1079
Can confirm that the problem does not persist with `nvidia-375.10`. A downgrade for now works. Looks like nvidia is tracking this as a bug. Hopefully future updates should resolve this issue.

[2016-11-22 14:13] #1079 closed, assigned to nobody

[2016-11-22 23:16] u00101010 opened #1080 "[Linux] Screenshots are completely black (+ Visage effigies)"
Hi there,

I just noticed that the screenshot I took on 18th Nov (CET time) is completely black. I wanted to take a picture of my Visage effigy which lost its bodyparts since his model has been broken down. (The effigy only shows the "body" which is the blue-ish effect thing by default.)

Today I wanted to take a screenshot and noticed it was black on the popup notification. I took another and it

[2016-11-22 23:18] bymoe commented on #1077
@gdrewb-valve I tried everything, Reinstall steam and the whole game and still. I think I have to wait for any future updates!

[2016-11-23 00:06] Plagman commented on #1080
Was the screenshot broken in Vulkan or regular OpenGL mode?

[2016-11-23 09:45] u00101010 commented on #1080
It was in Vulkan mode.

[2016-11-23 13:11] Tele42 commented on #1080
Related to https://github.com/ValveSoftware/Dota-2-Vulkan/issues/141.

[2016-11-26 16:47] ghost opened #1081 "[Linux] Stuck at loading screen"
I'm using Arch Linux and have this problem on it since Reborn update. I can't play any game except local game with bots. I tried solutions from #521 but they doesn't fit me. Here is my system information:
[code]

[2016-11-26 16:49] artemjackson commented on #1070
@AlphanumericChars are you using `bumblebee`?

[2016-11-27 16:37] gdrewb-valve commented on #1081
This problem happens on all platforms so it isn't being tracked here.  The larger team has been looking into it but there's no specific response to report.

[2016-11-27 16:37] #1081 closed, assigned to nobody

[2016-11-29 02:46] leodutra commented on #793
I changed from Ubuntu to Arch. Did a total reinstall and am using Steam Native.
Bug did not occur today.

Using Gnome 3 with Arch.
I have a subtle feeling the problem was Ubuntu specific but non-native Steam.

I'll certify.

[2016-11-29 14:36] #1077 closed, assigned to nobody

[2016-11-29 17:28] Eanshine commented on #345
@danginsburg  I play game on windows,and it will be freezing too. I will try your "r_frame_sync_enable 0" command in console,and track it.

[2016-11-30 17:27] BernardoGO commented on #1070
@artemjackson I'm using bumblebee.

[2016-12-03 14:25] sylware opened #1082 "CDN IP geolocation is significantly wrong"
I live in Paris where I play dota from 2 lines (VDSL and ADSL) at different places in the city. My IAP is Free SAS (IPv4 and native IPv6) on both lines and I'm localized in other cities far away in France (Rennes and Bezier!).
When I'm localized in Bezier, I got even the wrong steam download location (Marseilles) which I needed to manually override to Paris.

Then I'm suspicious I get routed to th

[2016-12-03 15:39] ChrisLauinger77 commented on #556
I needed to change also video settings ingame to "Desktop friendly full screen".
Then -phased_window_create worked 4 me, 2 :+1:

[2016-12-03 17:17] gdrewb-valve commented on #1082
This isn't Linux-specific so I've passed this on to the larger team.

[2016-12-03 17:17] #1082 closed, assigned to nobody

[2016-12-04 00:03] FlaminSarge commented on #922
I've too have experienced this on OSX when attempting to spectate a game that is in its draft phase. If I do manage to get through to spectate the draft, the game's performance (and in some cases, my Mac's performance) tanks during the draft phase (but once the actual gameplay starts it returns to normal).

Where would the relevant crash dumps and logs be for this problem on OSX? I'm having troubl

[2016-12-04 09:40] artemjackson commented on #1070
@BernardoGO you can try [this](https://wiki.archlinux.org/index.php/bumblebee#Primus_issues_under_compositing_window_managers)
Just add it to launch options like `PRIMUS_SYNC=1 primusrun %command%`

[2016-12-04 11:41] sylware commented on #278
seems to be fixed.

[2016-12-04 17:25] gdrewb-valve commented on #278
Thanks, closing.

[2016-12-04 17:25] #278 closed, assigned to nobody

[2016-12-04 17:45] gdrewb-valve commented on #1082
The larger team commented that the server selection is based purely on ping, not geolocation, so any geolocation oddities won't affect server selection.

[2016-12-04 22:05] sylware commented on #1082
On Sun, Dec 04, 2016 at 09:45:25AM -0800, Drew Bliss wrote:

It would mean I ping Marseille servers better than Paris servers?? WOW!

Either somethings are not clean on my internet access lines or there is
something quite defective with Free SAS IAP and dota2 servers.

So it's expected I get almost the same ping on West EU than East EU?

[2016-12-04 22:07] gdrewb-valve commented on #1082
No idea, they didn't provide any more details.

[2016-12-04 22:18] DyXel commented on #1082
This always happen, i live on a South American country and i get better ping on US East servers even thought that i am more close to the South American servers; Is like black magic, you never know how exactly it works...

You should do further testing with other servers that are near you and if you find an oddity report it to your ISP, this has nothing to do with the Dota 2 servers, i believe.

[2016-12-05 09:56] sylware commented on #1082
On Sun, Dec 04, 2016 at 02:18:17PM -0800, Dylam De La Torre wrote:

Indeed, I do believe that dota servers are not in cause. I do believe indeed
that my IAP, Free SAS, may have something wrong on the lines I use. I'll ask
other dota players in Paris with the same IAP to know how much ping they have
on west EU servers, that to know if it's a global pb with Free SAS or specific
to the lines are used

[2016-12-06 04:14] cybik commented on #921
@gdrewb-valve can you point us to the SDL-based issue?

[2016-12-06 04:27] gdrewb-valve commented on #921
Do you mean something in their bugzilla?  I don't believe they've opened one, that's up to rcgordon.  As mentioned above the issue is that SDL started using dbus for ibus IME support and there's bad behavior when dbus doesn't initialize.

[2016-12-06 04:32] cybik commented on #921
Ah, I didn't see that message. Sorry for the bother!

[2016-12-07 20:29] Najadorel opened #1083 "[MacOS] Crash when trying to watch tournament games during picks and bans"
If I try to watch a game from tournaments during picks and bans the game just crash and keeps crashing until the last 4 picks and bans.  I have witness this behaviour in the WESG, DreamLeague, The Summit and currently on the Boston Mayor

  Model Identifier:	MacBookPro11,3
  Processor Name:	Intel Core i7
  Processor Speed:	2.5 GHz
  Memory:	16 GB

[2016-12-07 20:39] Tele42 commented on #1083
Duplicate of #922.

[2016-12-07 23:31] gdrewb-valve commented on #1083
Closing duplicate.

[2016-12-07 23:31] #1083 closed, assigned to nobody

[2016-12-09 00:05] peytonc opened #1084 "Fedora 25 w/ Mesa 13.0.2-1"
Upon updating from Mesa 12 to Mesa 13, Dota 2 stopped launching. Any ideas on how to fix?

[2016-12-09 00:17] Tele42 commented on #1084
Hello @peytonc, you may have more success reaching out to your distro's community.

That said, what distribution and video card are you using? Have you confirmed there isn't a new-to-you steam runtime compatibility issue?

If you close steam, then run it from a terminal, does the console spew give you a hint when trying to launch Dota 2?

[2016-12-09 01:17] peytonc commented on #1084
Thank you very much Tele42 for some hints. Everything been working great in Fedora 25 with Wayland and Mesa 12. I just updated to Mesa 13, and Dota 2 stopped working. See below for diagnostics.

[peyton@c1 game]$ glxinfo | grep OpenGL
OpenGL vendor string: Intel Open Source Technology Center
OpenGL renderer string: Mesa DRI Intel(R) Iris 6100 (Broadwell GT3)
OpenGL core profile version string: 4.5

[2016-12-09 01:29] Tele42 commented on #1084
@peytonc, sorry for not being clear, try to run steam from a terminal, then Dota 2 from steam instead of trying to run the game directly.

[2016-12-09 01:36] peytonc commented on #1084
Followed instructions, here is the Dota 2 specific section from console

Game update: AppID 570 "Dota 2", ProcID 7709, IP 0.0.0.0:0
ERROR: ld.so: object '/home/peyton/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/peyton/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PREL

[2016-12-09 11:22] Tele42 commented on #1084
This is most likely a steam runtime compatibility issue.

[2016-12-09 15:04] kaiserprogrammer commented on #922
I have the same issue when  "-map dota" is set in launch options, ~~removing it fixed this issue for me.~~
It worked only once. So my bad.
~~Somehow messing with the launch options "fixed" it for me.~~

[2016-12-09 15:39] oliverhenshaw commented on #1084
Similar for me on fedora 25 on Xorg. There's a little more detail on the crash in the journal (as root) or dmesg:

[  557.559314] dota2[2241]: segfault at 7f79599569c8 ip 00007f796360d845 sp 00007ffeb5aeff98 error 7 in libcrypto.so.1.0.2j[7f796359d000+234000]

Downgrading to mesa-libGL-12.0.3-3.fc25.x86_64 makes dota2 run again.

$ glxinfo | grep OpenGL
OpenGL vendor string: X.Org
OpenGL renderer

[2016-12-09 16:30] ford-prefect commented on #1084
Is this really mesa related (edit: downgrading to mesa 12 doesn't change anything for me). I see the following backtrace (edit: which seems to be related to a statically linked version of openssl in libpanorama_text_pango.so):

[code]

[2016-12-09 17:07] gdrewb-valve commented on #1084
As Tele42 mentioned it's probably related to the Steam runtime, if you look in steam-for-linux you'll see a variety of problems caused by compatibility problems.  One of them is related to OpenSSL.

[2016-12-09 17:09] ford-prefect commented on #1084
The library being loaded when the crash happens is `libpanorama_text_pango.so`, which ships with dota2 and not steam, so this is likely game-specific.

[2016-12-09 17:13] ford-prefect commented on #1084
Either way, it's likely related, as you point out, thank you for looking at it so quickly.

[2016-12-09 17:36] gdrewb-valve commented on #1084
Very likely https://github.com/ValveSoftware/steam-for-linux/issues/4619 and its relations.

This isn't just dota, the same thing is being reported for CS:GO too (https://github.com/ValveSoftware/csgo-osx-linux/issues/1249).

[2016-12-09 22:48] anlsh opened #1085 "Allchat immediately disappears"
I am on Ubuntu 16.04 with an nvidia 650m.

For the past several months in dota 2 I have not been able to allchat. Pressing shift+enter brings up a chatbox, but it disappears almost immediately and so I cannot use it. team chat works fine.

I am not sure how to reproduce the bug- it simply happens. If there is any further information I can give, please ask

[2016-12-10 00:53] gdrewb-valve commented on #1085
This works correctly for me on my Ubuntu system.

Do you have any alternate input processing, such as an IME?  Does shift+enter mean anything to any other running software like your desktop environment?  Do you have any joysticks or other input devices besides a plain keyboard and mouse?

[2016-12-10 01:03] Tele42 commented on #1085
For what it's worth, this is also behaving properly on my Gentoo box.

[2016-12-10 12:27] G4brym opened #1086 "Failed to create Opengl context"
I can run dota 2 on linux, it gives this error "Failed to create opengl context", but on windows it runs just fine.
I tryed running dota and steam on the terminal and got this message

`Attempting to create OpenGL context: v3.3 (Core profile)...failed.
Attempting to create OpenGL context: v3.1 (Core profile)...failed.`

My computer is a i5 480m, and im running the cpu integrated graphic card (inte

[2016-12-10 14:35] Tele42 commented on #1086
(Previous comment removed)
Hello @G4brym, your i5 480m is part of the [Ironlake generation](https://en.wikipedia.org/wiki/List_of_Intel_graphics_processing_units#Fifth_generation) of intel graphics. It does not support OpenGL 3, which is required for Dota 2 on linux.

[2016-12-10 18:13] gdrewb-valve commented on #1086
@G4brym, Linux OpenGL drivers often do not have the same levels of support as their Windows counterparts.

As Tele42 mentions Dota requires OpenGL 3 so it won't run on your system under Linux.

[2016-12-10 18:13] #1086 closed, assigned to nobody

[2016-12-11 17:13] ghost opened #1087 "Cannot join a game"
When I press ‘PLAY DOTA’ button, eventually a window to accept match popups, I press ‘ACCEPT’ and then see one of the random wallpapers, which are shown before the menu loads. Except that now it doesn’t load – I continue to see the wallpaper and then I am forcefully returned to main menu and cannot neither reconnect not join a new game, because the client thinks I have abandoned previous game. Wha

[2016-12-11 17:57] gdrewb-valve commented on #1087
Very unlikely to be Linux-specific.  The whole team is going to be working through things for 7.00 and this'll get checked out.

[2016-12-11 22:38] genX75 opened #1088 "Please Remove"
Upon further review my system appears to be going threw hardware issues. Please disregard.

[2016-12-11 23:48] gdrewb-valve commented on #1088
Thanks, closing.  There's a Dota-2-Vulkan forum here for posting Vulkan issues in the future.

[2016-12-11 23:48] #1088 closed, assigned to nobody

[2016-12-12 07:06] iMarv commented on #1022
The new HUD fixes all my problems, just want to give a shoutout for that. Good job guys!

[2016-12-12 10:02] GIANTCRAB commented on #1084
@peytonc Have you tried linking the missing file? ```ln -s /usr/lib64/libudev.so.1 ~/.steam/steam/steamapps/common/dota\ 2\ beta/game/bin/linuxsteamrt64/libudev.so.0```

I'm also having the same issue whilst trying to launch but the error is different and not descriptive:
[code]
I'm on Fedora 25 xWayland with Mesa 13.
[code]

[2016-12-12 14:56] milot-mirdita opened #1089 "[OSX] New query menu shows black models as overlays."
This happens in the 7.00 test client:

New query menu shows huge pitch black models as a overlays.
The dark models are gone when I enable the legacy query menu.

Images: http://imgur.com/a/F1Kss

Sadly I don't have a linux or windows machine here to see if the same issue also happens on other platforms.

The steam hardware information output follows:

[code]

Edit: Apparently someone else had this

[2016-12-12 17:17] peytonc commented on #1084
oliverhenshaw, how to install mesa-libGL-12.0.3-3.fc25.x86_64 in Fedora 25? I tried sudo dnf install --allowerasing mesa-libGL-12.0.3-3.fc25.x86_64, but DOTA 2 still will not work and glxinfo still shows Mesa 13.0.2.

[2016-12-12 17:36] Tele42 commented on #1084
@peytonc, https://github.com/ValveSoftware/csgo-osx-linux/issues/1249#issuecomment-266487835 may be of interest to you. It references mesa 13 for Fedora 25 rebuilt with a workaround.

[2016-12-12 18:04] klarkc opened #1090 "Keyboard shortcut not working in the test client (7.0)"
I have an A4Tech X7 keyboard ([ABNT-2](https://en.wikipedia.org/wiki/Portuguese_keyboard_layout#/media/File:KB_Portuguese_Brazil.svg)), and when I try to change a shortcut to `´` key nothing happens, the key keeps unchanged.

[2016-12-12 18:19] gdrewb-valve commented on #1090
Can you post your system information and what language you're using?

Have you looked at #268?  It sounds like you have a similar problem but there's not enough information to know.

[2016-12-12 18:28] gdrewb-valve commented on #1089
I'm not able to repro on my Mac.  Does this happen with any structure?  Does it happen in any game mode (hero demo, bot match, etc.)?

[2016-12-12 18:34] milot-mirdita commented on #1089
I tried it in hero demo mode and in a bot match. Make sure that the legacy query view is not enabled. Only happens in the new one.

Also I am using a Macbook without a dedicated GPU (Intel Iris). Maybe it works alright if you have a real GPU?

[2016-12-12 18:38] gdrewb-valve commented on #1089
The new panel is working correctly for me, with a properly rendered image of the unit at the left of the panel.  We'll see if we can find a repro.

[2016-12-12 19:22] oliverhenshaw commented on #1084
@peytonc, try "sudo dnf downgrade mesa* " if the mesa build in updates-testing doesn't help (it reverts to the version in the fedora release repo which was good enough for me. If I'd needed the newest 12.0.x version from the updates repo I would have needed to download each package and install them explicitly).

[2016-12-12 19:35] milot-mirdita commented on #1089
Can I do anything to help debug the issue? I captured an opengl trace using apitrace:
https://mega.nz/#!ossgBIwK!XtAge7XwMN_1LyOtQNX6o4wnjU9MAkYaK8Ho4sE9T7I
Can't replay it on my mac however. Any other ideas?

[2016-12-12 19:45] gdrewb-valve commented on #1089
I think it's going to need a repro at Valve to track down the cause.  I believe we're close to getting that, though, so hopefully you don't need to do anything further.

[2016-12-12 20:21] klarkc commented on #1090
[code]

The language of my system is Portuguese:
[code]
It looks similar, but in my case it's only happening in the test client.

The xev output is also different:

[code]

[2016-12-12 20:28] klarkc commented on #1090
Plus: The key is working in the chat and other places where I can enter text

[2016-12-12 20:33] anlsh commented on #1085
I dont have any special input processing, no. Allchat actually works perfectly on the 7.0 test client, so I don't think my system is trying to interfere or anything

[2016-12-12 20:36] gdrewb-valve commented on #1090
Did you enable positional keybinds (Settings -> Hotkeys -> Advanced Hotkeys -> Bind keys based on keyboard position)?

If that doesn't work add -input_message_spew to your launch options.  In the console you'll see spew each time you press and release the key, post that here.

Hotkeys are handled completely differently than text input like chat, so it's normal for them to have different behavior.

[2016-12-12 20:38] gdrewb-valve commented on #1085
OK, if this is still working after the full release of 7.00 we'll just close it out.

[2016-12-12 20:45] Tele42 commented on #1085
Possibly a bad keybindings config? Does the issue persist if you reset the hotkeys in the settings?

[2016-12-12 21:24] danginsburg commented on #1089
I have this reproduced and am working on a fix.

[2016-12-12 21:49] ualvesdias opened #1091 "[Linux] - Game fails to start after flashing a black screen"
Hi! After looking for a possible solution here and in the internet in general, I decided to open this issue... After the last update (I think), My Dota 2 client fails to start. It just blinks a blackscreen for less than a second and then returns to Steam. I have already set the -con_logfile option as you can see below. I don't know if you guys will be able to help me because my OS is Fedora 25 and

[2016-12-12 22:00] ualvesdias commented on #1091
Oh, forgot the output of the ./dota.sh...

Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Steam_SetMinidumpSteamID:  Caching Steam ID:  76561198041833410 [API loaded yes

[2016-12-12 22:04] gdrewb-valve commented on #1091
Likely a Steam runtime issue and not a Dota issue.  See also #1084.

[2016-12-12 22:36] ualvesdias commented on #1091
Thank you so much for the quick reply! I'll try to downgrade mesa... If it doesn't work, I'm gonna try the workarround in https://bodhi.fedoraproject.org/updates/FEDORA-2016-70e10c3a84

[2016-12-12 23:20] ualvesdias commented on #1091
I can start DotA2 now, after downgrading mesa drivers... I'll follow the fedora update link until a proper update comes up. Thank you so much for the help!

[2016-12-12 23:24] gdrewb-valve commented on #1091
Thanks, closing.

[2016-12-12 23:24] #1091 closed, assigned to Plagman

[2016-12-13 01:36] danginsburg commented on #1089
I have fixed this bug, it will be fixed in an upcoming update.

[2016-12-13 02:04] anko commented on #1089
I also see what I suspect is the same bug on Linux in the now-live 7.00 client, both in the menus and when some objects or heroes are selected and shown in the new unit query panel.

For example, here I clicked the fountain:

![1481594070](https://cloud.githubusercontent.com/assets/5231746/21124519/bab01c0e-c0df-11e6-998e-0d598939db17.png)

It goes away when the panel closes.

Eagerly awaiting [th

[2016-12-13 02:10] danginsburg commented on #1089
You should also be able to work around it by turning on Shadows in the video settings.  Fix should ship soon though.

[2016-12-13 02:19] anko commented on #1089
@danginsburg That works better. Thanks!

[2016-12-13 05:34] ryan33020 opened #1092 "Linux crash in NVIDIA driver using Vulkan"
The latest patch from a couple hours ago crashes after game launch and reconnecting.
It ran without issues on the updates earler today.

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Brand:  AMD Opteron(tm) Processor 4274 HE
    CPU Family:  0x15
    CPU Model:  0x1
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  2500 Mhz
    8 logical processors
    4 physical processors

[2016-12-13 06:57] gdrewb-valve commented on #1089
This should be fixed now, are you still seeing problems?

[2016-12-13 08:27] milot-mirdita commented on #1089
Thanks a lot!

[2016-12-13 08:27] #1089 closed, assigned to danginsburg, gdrewb-valve

[2016-12-13 13:22] anko commented on #1089
Confirming fully fixed for me too. Thank you! :sparkles:

[2016-12-13 14:28] kunalex opened #1093 "Very low fps after 7.00 update - help?"
Hello,

Everyone knows that Dota2 sucks on a OS device. Now it is worse. Don t know why though, Valve is racist against us. Valve, it is 2016, soon 2017. Can we fix the game for every platform.. please?

In the last few months I have been playing dota2 on my macbook pro with all the setting to low, and quality to 80. I managed to get a constant 45-55 fps. Even in heavy fights.

Now, after the 7.00

[2016-12-13 14:30] sylware opened #1094 "[new HUD] centered minimap option"
Could we have a centered minimap option in the new HUD?

[2016-12-13 14:32] sylware opened #1095 "[700] holding alt does not show hero stats"
Holding alt does not show the hero stats in the hero panel (smart double tap or not).

[2016-12-13 14:33] sylware opened #1096 "[700] missing side shops on the minimap"
Whatever the minimap mode I try, the side shops won't be displayed.

[2016-12-13 14:37] sylware opened #1097 "[700] 15% ~ 20% performance loss"
I got roughly 15~20% performance loss on my fps with this new patch.
(AMD 8 cores 4.8Ghz ...)

[2016-12-13 14:39] sylware commented on #1093
Same on linux based OSes. Severe performance loss (15 ~ 20 fps).
Need cache memory local and assembly code optimization?

[2016-12-13 15:26] Tele42 commented on #1097
I got a fairly good look at the new client last night and it feels like the overall performance is the same as before the update. However, the 3d rendered area is substantially larger than before because the 6.8x clients did not render 3d content behind the top and bottom UI elements. The 7.00 client has a larger viewport and my impression is that the larger viewport is just adding more overhead t

[2016-12-13 15:53] AngryPenguinPL opened #1098 "Incorrect update files"
Hi.

I can't download new 7.00 update to Dota 2 on Linux.

Every times when I trying updating it, steam download 5.8 GB and every time after downloading I get error: Incorrect update files and I need to start download it again and again and again...

Is any solution to fix it? I never have similar issues.

My pc linux spec: https://gist.github.com/xpris/1d36deeb8e62a48b9871069576bfb5c6

[2016-12-13 16:04] dufia opened #1099 "[700] [MAC] > 50% fps drop when scoreboard open"
Latest MacOS, GeForce GT 650M 512 MB, SSD, 16GB ram

Fps also drops when ALT button is held but significantly less.
On the side note, spectator chat doesn't work properly. Your own messages aren't displayed.

Cheers, keep up great work!

[2016-12-13 16:25] Tele42 commented on #1098
Hello @xpris, what filesystem are you using with your home folder? Does closing Steam, deleting the contents of ```~/.local/share/Steam/steamapps/downloading```, and restarting Steam help?

[2016-12-13 16:42] sylware commented on #1096
weird... they are now on the minimap.

[2016-12-13 16:42] #1096 closed, assigned to nobody

[2016-12-13 16:44] sylware opened #1100 "default quick attack should be on key release"
The quick attack should be on key release, and if the "on key down" option is enabled, then it should be like the spell, namely on key down. That for consistency.

[2016-12-13 16:53] gdrewb-valve commented on #1094
You'll want to post this at dev.dota2.com

[2016-12-13 16:53] #1094 closed, assigned to nobody

[2016-12-13 16:53] gdrewb-valve commented on #1095
You'll want to post this at dev.dota2.com

[2016-12-13 16:53] #1095 closed, assigned to nobody

[2016-12-13 16:55] gdrewb-valve commented on #1100
You'll want to post this at dev.dota2.com

[2016-12-13 16:55] #1100 closed, assigned to nobody

[2016-12-13 17:00] gdrewb-valve opened #1101 "Performance on 7.00 tracking"
Performance on 7.00 has changed substantially across all platforms and so isn't being handled by the porting team.  We'll use this issue as a way of collecting information and communicating updates to people following it.  At the moment there is no need to post system specs or +1 comments.

Note to Mac users: there are known performance problems and bugs in Apple’s OpenGL drivers, particularly for

[2016-12-13 17:01] gdrewb-valve commented on #1099
Performance on 7.00 is an issue across all platforms and will be handled by the larger team.  Leaving open #1101 for status.

[2016-12-13 17:01] #1099 closed, assigned to nobody

[2016-12-13 17:01] gdrewb-valve commented on #1097
Performance on 7.00 is an issue across all platforms and will be handled by the larger team.  Leaving open #1101 for status.

[2016-12-13 17:01] #1097 closed, assigned to nobody

[2016-12-13 17:01] gdrewb-valve commented on #1093
Performance on 7.00 is an issue across all platforms and will be handled by the larger team.  Leaving open #1101 for status.

[2016-12-13 17:01] #1093 closed, assigned to nobody

[2016-12-13 17:05] dufia commented on #1099
@gdrewb-valve

Thanks, please don't miss the spectator chat issue. It might be Mac/Linux only.

[2016-12-13 17:22] Tele42 commented on #1099
Hello @dufia, in general, this is why there should be one issue per issue report, so that each issue can be tracked properly.

[2016-12-13 17:38] gdrewb-valve commented on #1099
@dufia, as Tele42 says you should open a separate issue just for the chat.  It's unlikely that it's Mac/Linux-specific but we can get more information on exactly what you're doing.  For example, are you watching live or have you rewound?  Specific details about what you were doing will help us determine what's going on.

[2016-12-13 18:32] sylware opened #1102 "open mic broken"
Dash board open mic is broken, push to talk in-game works.

[2016-12-13 18:38] sylware commented on #1097
vulkan! save us!

[2016-12-13 18:48] aldebaranbm opened #1103 "Crash after select Summons (Necro, Forged...)"
After 7.00 update, Dota2 crash in selection (Hotkey or Screen Square). GPU crash after select summons (Necronomicon, Forged Spirit...)

Distro: Debian 8 (Stable Repository)
Kernel: 3.16.0-4-amd64
GPU: AMD Radeon HD 6850
CPU: Prcessor AMD FX(tm)-8350

[2016-12-13 18:50] sylware commented on #1100
done

[2016-12-13 18:56] sylware commented on #1095
It's a bug. When you hover the cursor above the attack/armor/speed value (above the inventory), the popup window tells you to hold alt to show the stats (strenght, agility, intel), that it does not.

[2016-12-13 19:00] Tele42 commented on #1103
Hello @aldebaranbm, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report. If you find any CrashIDs or mindump (.dmp) files related to this issue, please include them as well.

[2016-12-13 19:18] aldebaranbm commented on #1103
I uploaded My System Information (Portuguese Language) in this link https://dl.dropboxusercontent.com/u/5700318/SteamSystemInformation

*I tryed find .dmp files (with terminal search, "sudo find / -iname *.dmp") but not found anythint dump from Dota2/Steam

[2016-12-13 19:20] gdrewb-valve commented on #1103
When you say "GPU crash" do you mean that the system put up specific information saying that there was an issue with the GPU?

[2016-12-13 19:30] Jaizu opened #1104 "Blurry avatars on loading screen"
gist with system information: https://gist.github.com/lmao-emerald/312b78390a9fab03254936ad71611345
bug image: http://i.imgur.com/ng68Zjz.png

[2016-12-13 19:31] Jaizu opened #1105 "Shop upgrades sometimes get duplicated"
Sometimes when I want to upgrade an item, upgrade options will get duplicated.

gist with system information: https://gist.github.com/lmao-emerald/312b78390a9fab03254936ad71611345
bug image: http://i.imgur.com/iPgObQA.png

[2016-12-13 19:39] Jaizu opened #1106 "Average mmr = -1"
gist with system information: https://gist.github.com/lmao-emerald/312b78390a9fab03254936ad71611345
bug image: http://i.imgur.com/ghkqY9d.png

[2016-12-13 19:50] aldebaranbm commented on #1103
My computer simply produces failed images. The sound keeps working... the whole video is compromised. I can not even access other terminal sections (Ctrl + Alt + F1 ... F6).

Hard restart is required.

[2016-12-13 20:05] AngryPenguinPL commented on #1098
In home I have ext4 but game is located on other partition with ntfs "old" dota2 on this partition working well.

After closing steam, removing /steamapps/downloading from all files on partitions with dota2 I download again update but still have this error.

Maybe I should make new installation Dota??

[2016-12-13 20:07] gdrewb-valve commented on #1103
Full system failures would be driver or hardware issues and not Dota problems so this may not be something that Valve can address.  You might want to check with the maintainers of your OpenGL driver too.

[2016-12-13 20:08] gdrewb-valve commented on #1104
This forum is for Mac/Linux-only bugs, you'll want to post at dev.dota2.com

[2016-12-13 20:08] #1104 closed, assigned to nobody

[2016-12-13 20:08] gdrewb-valve commented on #1105
This forum is for Mac/Linux-only bugs, you'll want to post at dev.dota2.com

[2016-12-13 20:08] #1105 closed, assigned to nobody

[2016-12-13 20:09] gdrewb-valve commented on #1106
This forum is for Mac/Linux-only bugs, you'll want to post at dev.dota2.com

[2016-12-13 20:09] #1106 closed, assigned to nobody

[2016-12-13 20:09] gdrewb-valve commented on #1102
Likely not system-specific, checking with the larger team.

Please link a gist of your system information in your issues so that we don't have to go to other issues to find it.

[2016-12-13 20:10] aldebaranbm commented on #1103
I uploaded a video to demonstrate the Critical Bug... https://dl.dropboxusercontent.com/u/5700318/Steam/20161213_164239.mp4

PS: Something similar happens when I try to view graphs ...Graphs of departures from my game history or a game that has just ended. This bug in graphics has occurred since their implementation at Reborn, but it has never bothered me since it's not critical.

[2016-12-13 20:12] gdrewb-valve commented on #1102
The larger team is aware of this and says it's not platform-specific so they'll take it.

[2016-12-13 20:12] #1102 closed, assigned to nobody

[2016-12-13 20:14] aldebaranbm commented on #1103
Whenever some HUD update is released ... such errors occur, after a few days Dota always fixes ... I do not see that there could be problems here.

Maybe a lack of support for Debian Jessie and old AMD cards.

PS: Sorry per my english.

[2016-12-13 20:15] gdrewb-valve commented on #1092
Your crash is inside of the NVIDIA 375.20 driver and may be related to using Vulkan.  Do things still crash if you don't use Vulkan?

[2016-12-13 20:17] gdrewb-valve commented on #1103
Dota itself by definition can't crash or hang the machine, any such problem would be a bug in the system's protection against bad processes.  Dota's behavior can certainly influence things, such as exposing bugs in the system, so Dota changes may definitely affect this.  It's possible a Dota update will correct it but it still might be useful to check with your OpenGL driver maintainers.

[2016-12-13 20:24] aldebaranbm commented on #1103
OK. I will try install proprietary drivers of AMD.

I'm using driver "xserver-xorg-video-ati" because as this was what provided me with a better Dota2 experience.

[2016-12-13 20:24] ChristianHersevoort commented on #1101
Linux: With Vulkan enabled the menu is not functioning at all. (it feels frozen). Might be the same issue as https://github.com/ValveSoftware/Dota-2/issues/1092 . OpenGL is still working but performance in some fights drop from 120 to 20 fps. When the fight is over the frame-rate restores to about 120.

Update december 15:
Game seems much better, not sure why
- I updateted nvidia driver to 375.26

[2016-12-13 20:36] Tele42 commented on #1098
Yes, this is most likely a poor interaction between the steam-for-linux client and the ntfs partition and is not Dota-2 specific.

[2016-12-13 20:40] Tele42 commented on #1103
For what it's worth, Mesa 10.3.2 was released on 2014-10-24. There's a good chance you are encountering a driver bug that is already fixed upstream.

[2016-12-13 21:00] aldebaranbm commented on #1103
Thanks Tele42 and gdrewb-valve. After the installation of the proprietary drivers (from the Debian repositories), the failure does not occur. Apparently no new bugs ...

This is my new driver...

[2016-12-13 21:05] gdrewb-valve commented on #1103
Thanks, closing.

[2016-12-13 21:05] #1103 closed, assigned to nobody

[2016-12-13 21:11] EmmanuelPerezP commented on #1098
im having the same problem
when the game finishes downloading steam says "CORRUPT UPDATE FILES" and restarts downloading the game, i tried 3 times already and the same thing happens, everytime i delete local contents to get  a fresh start but it doesnt fix the problem

alrady tried deleting `~/.local/share/Steam/steamapps/downloading`
i also have the dota 2 on a ntfs partition, so thats probably t

[2016-12-13 21:22] gdrewb-valve commented on #201
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:22] #201 closed, assigned to danginsburg

[2016-12-13 21:22] gdrewb-valve commented on #245
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:22] #245 closed, assigned to danginsburg

[2016-12-13 21:23] gdrewb-valve commented on #246
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:23] #246 closed, assigned to danginsburg

[2016-12-13 21:25] gdrewb-valve commented on #426
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:25] #426 closed, assigned to danginsburg

[2016-12-13 21:25] gdrewb-valve commented on #446
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:25] #446 closed, assigned to danginsburg

[2016-12-13 21:25] gdrewb-valve commented on #479
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:25] #479 closed, assigned to danginsburg

[2016-12-13 21:25] gdrewb-valve commented on #538
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:25] #538 closed, assigned to danginsburg

[2016-12-13 21:27] gdrewb-valve commented on #662
NekR, your last comment sounds like, other than the refresh rate you mention is a known system bug, things were mostly working?  Is this issue still active?

[2016-12-13 21:28] gdrewb-valve commented on #248
Is there still an active Dota issue here?  It sounds like investigation has shown it to be a problem on Apple's side?

[2016-12-13 21:29] gdrewb-valve commented on #522
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:29] #522 closed, assigned to danginsburg

[2016-12-13 21:32] gdrewb-valve commented on #912
Should this be closed in favor of the Dota-2-Vulkan issue?

[2016-12-13 21:33] gdrewb-valve commented on #906
Is this issue still active?

[2016-12-13 21:35] gdrewb-valve commented on #762
Closing duplicate, plus #662 looks like a system issue.

[2016-12-13 21:35] #762 closed, assigned to danginsburg

[2016-12-13 21:37] gdrewb-valve commented on #731
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:37] #731 closed, assigned to danginsburg

[2016-12-13 21:38] sosiska commented on #1098
same problem, i have f2fs file system
I spent searching for solutions about 5 hours
my solution is:
1) close linux native steam client
2) Install windows steam client via wine
3) Install Dota 2 on windows steam
4) make Dota 2 reserve copy via Steam > Backup and Restore game
5) close windows steam
6) open native linux steam
7) Restore game via Steam > Backup and Restore
8) enjoy dota 2 700!

my con

[2016-12-13 21:38] gdrewb-valve commented on #740
Is this issue still active?

[2016-12-13 21:38] gdrewb-valve commented on #750
Is this still happening with 7.00?

[2016-12-13 21:39] gdrewb-valve commented on #751
Is this still happening with 7.00?

[2016-12-13 21:40] gdrewb-valve commented on #773
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101.  Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:40] #773 closed, assigned to danginsburg

[2016-12-13 21:42] gdrewb-valve commented on #752
Is this still a problem if you remove -set_locale_disable?

[2016-12-13 21:43] gdrewb-valve commented on #826
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:43] #826 closed, assigned to danginsburg

[2016-12-13 21:43] gdrewb-valve commented on #837
Is this still active?

[2016-12-13 21:44] gdrewb-valve commented on #863
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:44] #863 closed, assigned to danginsburg

[2016-12-13 21:44] EmmanuelPerezP commented on #1098
i ran steam from console to see logs and started downloads from zero, apparently the game is not being installed on the default library or something

this is the output on console https://gist.github.com/EmmanuelPerezP/035e59255a671f0f51585f98eb00e4b2

on line 110 it says `xdg-open: file '/mnt/windows2/SteamLinux/steamapps/common/dota 2 beta' does not exist`

but the folder in  `~/.local/share/Ste

[2016-12-13 21:44] gdrewb-valve commented on #895
Is this still happening with 7.00?

[2016-12-13 21:44] gdrewb-valve commented on #897
Is this still happening with 7.00?

[2016-12-13 21:44] gdrewb-valve commented on #900
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:44] #900 closed, assigned to danginsburg

[2016-12-13 21:45] gdrewb-valve commented on #915
Is this still happening with 7.00?

[2016-12-13 21:45] gdrewb-valve commented on #918
Does this still happen with 7.00?

[2016-12-13 21:46] gdrewb-valve commented on #922
7.00 has reduced the usage of Scaleform and may affect this.

[2016-12-13 21:47] gdrewb-valve commented on #926
Is this issue still active? Were you able to try a different version of Mesa?

[2016-12-13 21:47] gdrewb-valve commented on #931
Closing Windows issue.

[2016-12-13 21:47] #931 closed, assigned to danginsburg

[2016-12-13 21:48] gdrewb-valve commented on #932
Is this issue still active?

[2016-12-13 21:48] Vuccappella commented on #1101
Any suggestion on how to report the issue to Apple as well? This is really disappointing, I'm sure you guys are doing your best but apple seems not to care about small cases such as this one. Would using nvidia dirvers improve anything?

[2016-12-13 21:51] gdrewb-valve commented on #1101
It looks like https://getsupport.apple.com/ is their online entry point.  As for using NVIDIA drivers it's hard to say if they'd be better or not as it's going to depend on the exact underlying issue.  If you have time to try it it couldn't hurt.

[2016-12-13 21:53] gdrewb-valve commented on #938
Is this still happening with 7.00?

[2016-12-13 21:55] gdrewb-valve commented on #956
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:55] #956 closed, assigned to nobody

[2016-12-13 21:56] gdrewb-valve commented on #964
Does this still happen with 7.00?

[2016-12-13 21:56] gdrewb-valve commented on #990
Does this still happen with 7.00?

[2016-12-13 21:57] gdrewb-valve commented on #966
I haven't heard anything from the larger team but is this still happening?

[2016-12-13 21:57] gdrewb-valve commented on #996
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:57] #996 closed, assigned to nobody

[2016-12-13 21:58] gdrewb-valve commented on #1013
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 21:58] #1013 closed, assigned to nobody

[2016-12-13 21:58] AndreasAakesson commented on #906
I've been able to play Dota after the patch stated in the issue without experiencing freezes and bad fps. Not tried in 7.00 tho.

[2016-12-13 21:58] gdrewb-valve commented on #1014
Does this still happen with 7.00?

[2016-12-13 21:59] gdrewb-valve commented on #906
OK, I'll close for now.

[2016-12-13 21:59] #906 closed, assigned to gdrewb-valve

[2016-12-13 22:02] gdrewb-valve commented on #1017
Closing pending more info.

[2016-12-13 22:02] #1017 closed, assigned to nobody

[2016-12-13 22:02] gdrewb-valve commented on #1015
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 22:02] #1015 closed, assigned to nobody

[2016-12-13 22:02] gdrewb-valve commented on #1016
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 22:02] #1016 closed, assigned to danginsburg

[2016-12-13 22:04] gdrewb-valve commented on #1031
Did things change with 7.00?

[2016-12-13 22:05] gdrewb-valve commented on #1039
Our investigations didn't go anywhere, we'd need information from Apple to determine why the system settings have such an effect.  I'd recommend opening a support issue with Apple.

[2016-12-13 22:05] #1039 closed, assigned to nobody

[2016-12-13 22:05] gdrewb-valve commented on #1053
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 22:05] #1053 closed, assigned to nobody

[2016-12-13 22:05] gdrewb-valve commented on #1054
7.00 has changed performance significantly so we are closing out old perf issues in favor of #1101. Anybody on this issue is welcome to post their current 7.00 performance experience here (not 1101) even after this is closed so that we can get updated information.

[2016-12-13 22:05] #1054 closed, assigned to nobody

[2016-12-13 22:06] gdrewb-valve commented on #1055
Does this change with 7.00?

[2016-12-13 22:06] gdrewb-valve commented on #1061
Is this still happening with 7.00?

[2016-12-13 22:07] gdrewb-valve commented on #1070
This sounds more like something on the bumblebee side, is this a Dota issue?

[2016-12-13 22:07] gdrewb-valve commented on #1071
Does this still happen with 7.00?

[2016-12-13 22:08] gdrewb-valve commented on #1078
Does this still happen with 7.00?

[2016-12-13 22:08] gdrewb-valve commented on #1087
Does this still happen with 7.00?

[2016-12-13 22:08] gdrewb-valve commented on #1090
Did any of that help?

[2016-12-13 22:11] admshao commented on #1061
I don't know when i'll be able to test it again. I'm stuck with a windows
box for a while. Probably early january.

I understand if you find out to close this issue due to the 7.00 and delay
to test again.

On Dec 13, 2016 20:06, "Drew Bliss" <notifications@github.com> wrote:

[2016-12-13 22:11] gdrewb-valve commented on #1061
I'll close for now, we can always reopen it if you see it again.

[2016-12-13 22:11] #1061 closed, assigned to nobody

[2016-12-13 22:15] t3rnary commented on #932
I'm no longer playing Dota on Linux, so I can't say for sure. However, switching from Unity to Gnome was a workaround I discovered and used for several months with no problems. The issue was almost definitely caused by some bug in the version of Unity I was using at the time, rather than Dota. Might as well close this issue.

My apologies for not updating earlier.

[2016-12-13 22:15] #932 closed, assigned to nobody

[2016-12-13 22:25] Turmfalke2 opened #1107 "Loud noice -> crash"
hi,
I heard a loud noice and then the game crashed.

[460242.537281] dota2[32031]: segfault at 0 ip 00007ff9e4500188 sp 00007fff6896b090 error 4 in libclient.so[7ff9e2260000+45e1000]

[2016-12-13 22:26] gdrewb-valve commented on #817
Closing this because it's not a Mac/Linux issue.  It's a valid request but this forum is only for porting bugs.  The general Dota forum is dev.dota2.com

[2016-12-13 22:26] #817 closed, assigned to nobody

[2016-12-13 22:27] gdrewb-valve commented on #1107
Can you post your full Steam system info?  Also did you get a crash dump (it'll be referenced in the Steam system info)?

[2016-12-13 22:37] sylware commented on #1095
it's fixed in last update

[2016-12-13 22:39] Turmfalke2 commented on #1107
http://pastebin.com/UHeTQFnx

Dump renamed to png because github is being silly.
![crash_20161213200944_1](https://cloud.githubusercontent.com/assets/5174562/21162359/469e7852-c18d-11e6-8f26-2e8b600434f6.png)

[2016-12-13 22:45] gdrewb-valve commented on #1107
Your crash (BoneFlagsToBitVec) is something that is happening on all platforms and is being investigated by the larger team.  Can you remember exactly what was going on prior to the crash?  What hero were you playing?  What else was visible on the screen?

[2016-12-13 22:46] aldebaranbm commented on #1103
With proprietary driver have many lags in Team Fight. Frozing by 1 or 2 seconds...

One more update in Dota2 linux but not resolve the bugs. I back driver and waiting Dota2/Drivers updates =/

[2016-12-13 22:51] vadi2 commented on #918
Will have to wait for a tournament to happen to test.

[2016-12-13 22:57] u00101010 opened #1108 "Mysterious black line above HUD"
There's a black vertical line above the center HUD, next to the portrait.

![visageeffigy](https://cloud.githubusercontent.com/assets/7419656/21162821/a275ae50-c18f-11e6-8295-c6464345c104.png)

(Ubuntu 16.04, i3wm)

Also, the Visage effigies still don't have bodies which would be nice to fix since that's something I actually payed money for and it's been like this for a while now.

[2016-12-13 22:58] Turmfalke2 commented on #1107
Even better, I just checked the replay. At 10:42 6 players all over the map crashed.
2844088232

[2016-12-13 23:05] Tele42 commented on #1108
Hello @helix42, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report.

[2016-12-13 23:07] u00101010 commented on #1108
Sorry, here it is:

https://gist.github.com/helix42/749ac54d6099c026bbab49fa66f10dbc

[2016-12-13 23:35] gdrewb-valve commented on #1107
Thanks, I'll pass that on.

[2016-12-14 00:25] klarkc commented on #1090
@gdrewb-valve Neither solution worked, with -input_message_spew there is nothing related to key press and release in the console. It seems that -input_message_spew is not working, because even with working keys nothing is printed in the console.

I am running the steam + game with: `steam steam://rungameid/205790`

[2016-12-14 00:30] gdrewb-valve commented on #1090
If you run directly from the Steam client does that change anything?  Also add -console to your launch options also and can you open the game console?  That's an easy way to see the spew.

[2016-12-14 00:43] klarkc commented on #1090
@gdrewb-valve it worked, I got this:

[code]

I am not expert, but it seems that key `[` is not my key `´`

Looking further, I discovered more keys not working, like: `~`, `^`, `"`. All these keys are pointing to wrong keys in the console output.

[2016-12-14 00:47] ethan961 commented on #912
I forgot to post my findings here as well but I found this issue was the result of using the AMDGPU-PRO userspace driver without the supplied AMDGPU-PRO DKMS module (and instead using the unpatched upstream kernel driver). Since the DKMS module didn't easily build on newer kernels, people were ignoring the installation of that module. Essentially, an unsupported configuration that works partially

[2016-12-14 00:49] gdrewb-valve commented on #1090
SDL is not interpreting the keymap for your keyboard, apparently, assigning to the SDL dev.

[2016-12-14 00:49] gdrewb-valve commented on #912
Thanks, closing.

[2016-12-14 00:49] #912 closed, assigned to gdrewb-valve

[2016-12-14 01:10] jamesc12 opened #1109 "Dota Client Freezing as soon as a game is accepted"
Hello,

I can't launch into a game of Dota 2 since the 7.00 patch.

I have been playing the game for 3 years on exactly the same system and never had a problem before.
I can launch the Dota client and the app runs fine, I can customise my heroes browse the shop everything.

The issues begins when I try to play a game.

I begin to queue and all goes well, Dota locates me a game and asks me to accep

[2016-12-14 02:13] teletubo opened #1110 "OSX - Crash on menu"
Right after I open Dota 2 client, it crashes on Menu screen after 2-3 seconds.

[2016-12-14 02:16] teletubo commented on #1110
OSX Sierra, Content build 1517628

[2016-12-14 02:18] vadi2 opened #1111 "Linux - game doesn't load, crashes straight up"
Console:

[code]

[code]

[2016-12-14 02:20] wuerges commented on #1111
Crashing here too. How do I get the console output?

[2016-12-14 02:20] sinatosk commented on #1111
same... just updated a few minutes ago

ERROR: ld.so: object '/home/user/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.

ERROR: ld.so: object '/home/user/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
pid 13804 != 13803, skipping de

[2016-12-14 02:21] nsimmons commented on #1110
Same issue for me.

System info:
[code]

[2016-12-14 02:24] marshall2056 commented on #1111
Same issue here, was working before last update few minutes ago:
dmesg
[  255.491765] dota2[3270]: segfault at 0 ip 00007f43e0ff5571 sp 00007ffd56e8ef30 error 6 in libtier0.so[7f43e0fb1000+af000]

uname -a
Linux T460 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-12-14 02:25] gdrewb-valve commented on #1109
Can you post your full system information from Steam?

As for next steps I don't have any concrete suggestions at the moment, we aren't seeing this problem.  We'll have to see if others see the same thing and whether we can find a common thread.

[2016-12-14 02:26] zeflap commented on #1111
Getting the same thing, running steam in terminal outputs https://gist.github.com/zeflap/b89c7e4e9281f74c63e5fc19f6f361bc

[2016-12-14 02:28] phoerious commented on #1111
Just got another update which fixed the problem. It's working again.

[2016-12-14 02:28] vadi2 commented on #1111
There's a 130mb update that came out just now, does the issue still happen
if you upgrade?

I'm still downloading.

On Wed, Dec 14, 2016 at 12:26 PM zeflap <notifications@github.com> wrote:

[2016-12-14 02:33] phoerious commented on #966
I haven't played much for 3 months and haven't had it in 7.00 yet. If it happens again, I'll let you know.

[2016-12-14 02:34] zeflap commented on #1111
@vadi2 Fixed for me

[2016-12-14 02:35] gdrewb-valve commented on #966
OK, closing for now.

[2016-12-14 02:35] #966 closed, assigned to danginsburg

[2016-12-14 02:35] sinatosk commented on #1111
fixed for me

[2016-12-14 02:40] teletubo commented on #1110
I can confirm latest update fixed it.
I entered a bot match and started it with no issues.

[2016-12-14 02:41] nsimmons commented on #1110
Same for me

:+1:

[2016-12-14 02:59] gdrewb-valve commented on #1110
Thanks, closing.

[2016-12-14 02:59] #1110 closed, assigned to gdrewb-valve

[2016-12-14 03:00] gdrewb-valve commented on #1111
Thanks, closing.

[2016-12-14 03:00] #1111 closed, assigned to gdrewb-valve

[2016-12-14 03:10] phoerious commented on #1107
I can't tell if it's the same issue, but since you reported that multiple players from both teams crashed, I guess it is. We had quite a frustrating evening today. A couple of losses, all of which were scored and a couple of wins non of which were scored because at some point, people randomly crashed. One could say, Dota3 hated us. :-)

Here's my system info. Please check if the crash dumps point

[2016-12-14 03:11] sardetushar commented on #938
Hi, It's resolved now. It was problem with my network but problem i have noticed that even if i launch steam using -tcp launcher, i was still getting loading screen stuck issue. but for me its solved now.

[2016-12-14 03:14] phoerious commented on #1085
I'm having similar problems. I can use the chat, but as soon as I move my mouse, it disappears. This is especially annoying when I want to check the game log (who picked which rune, took aegis, killed whom etc.).

[2016-12-14 03:59] gdrewb-valve commented on #938
Thanks, closing.

[2016-12-14 03:59] #938 closed, assigned to gdrewb-valve

[2016-12-14 03:59] gdrewb-valve commented on #1107
@Manko10 you'll need to post a dump file for us to look.

[2016-12-14 04:29] ryan33020 commented on #1092
Was able to complete a game again disabling Vulkan.  Thank you.

[2016-12-14 05:07] gdrewb-valve commented on #1108
This is not Linux-specific, the larger team will handle it.

[2016-12-14 05:07] #1108 closed, assigned to gdrewb-valve

[2016-12-14 06:14] ethandbrand opened #1112 "Game Crashes in Demo Mode (It probably crashes in the real game too though)"
Game crashes after playing in demo mode for a brief period of time (1-3 min).

Error is: CThreadMMultiWaitEvent::CThreadMulitWaitEvent(bool)
():
Unable to create event, error 24

I'm on a Mac (if that even matters)

[2016-12-14 06:22] nfang commented on #1112
Getting the same error after installing the latest patch on Mac OS Sierra.

[2016-12-14 06:30] bewater8 commented on #1112
Same problem Mac OS Sierra<a href="http://imgur.com/a79J9jI"><img src="http://i.imgur.com/a79J9jI.png" title="source: imgur.com" /></a>

[2016-12-14 06:31] podliy16 commented on #1112
Same here El. Capitan

https://gist.github.com/podliy16/956dc078810ef260828b3060971ebb8d

[2016-12-14 06:32] shampoobob commented on #1112
Same problem on my El Capitan.

[2016-12-14 06:33] xrisk commented on #1112
Crashing when I'm queuing for a game. 4 times in a row.  Impossible to start a game...

Here's the detailed stack trace: [gist](https://gist.github.com/xrisk/9983ecaa3de3e6a7febf87ce4ff8dd93)

[2016-12-14 06:51] Conzar opened #1113 "Patch 2016/12/14 causes Linux Version to crash between 1 to 4 minutes in the menus"
# Summary
After starting the game, sitting idle in the menu between 1 to 4 minutes, the game crashes to the desktop without any errors.

# Details
* System Info (from help -> system info): [pastbin](http://pastebin.com/19R0eRsj)
* Steam Package Version: 1481318740
* stack trace: [pastebin](http://pastebin.com/zbrsFSwt)

# Extra Information
I was able to play a few matches yesterday (a different pa

[2016-12-14 06:55] jedStevens commented on #1113
Also getting this, can confirm.

[2016-12-14 06:57] ghost commented on #1113
Same on Mac OS El Capitan 10.11.1. Was playing fine today until the latest patch. Current content BuildID : 1517888.

[pastebin](http://pastebin.com/HAJMKbsA)

[Steam System Information - gist](https://gist.github.com/orenthal/f70da84e3a0a1fa294254696dd1190a1)

EDIT: Just reporting my error. I don't find it "unbelievable" or "SEV1" when it's probably less than 10% of your userbase. F2P. Thanks Val

[2016-12-14 07:04] suptimal commented on #1113
crash occures not only in main menu.
i launched dota reconnected could play 30sec and crashed.

[2016-12-14 07:05] zenner88 commented on #1113
i got same issue
on macOS Siera 10.12.1

[2016-12-14 07:10] lexandrop commented on #1113
Confirm, linux here.

[2016-12-14 07:10] ryan33020 commented on #1092
May have spoken too soon, OpenGL got me through a couple games with ok performance, averaged about 20fps.  It just got another dota update and the crashing started again.  It did not generate a full dump.   Will see if I can get it to dump tomorrow if it will help after full restart of steam and the system.

[stdout.txt](https://github.com/ValveSoftware/Dota-2/files/650984/stdout.txt)

[2016-12-14 07:10] trentjones21 commented on #1113
Confirmed on macOS Sierra 10.12.1

[2016-12-14 07:10] shpinog commented on #1113
++ linux

[2016-12-14 07:11] videonerds commented on #1113
Same here. Worst bug I've ever seen in two years of playing.  Got this error before unexpected quit:
![screen shot 2016-12-13 at 10 48 59 pm](https://cloud.githubusercontent.com/assets/24561752/21172850/41721658-c189-11e6-936a-ead3e17b329d.png)
Now it just unexpectedly quits every time I launch. Just bought that monkey terrain too...

Specs:
![image](https://cloud.githubusercontent.com/assets/2456

[2016-12-14 07:12] gdrewb-valve commented on #1092
The latest update broke Linux for everybody so you're not alone.

[2016-12-14 07:13] FlaminSarge commented on #1113
Same issues as above, OSX El Capitan 10.11.16.
I'm unable to use the wager coins that I was planning on using today, and they're being reset tomorrow; I didn't get the chance to use them during the week. This doesn't seem... right, considering it's a feature money was spent to access.

https://gist.github.com/FlaminSarge/249b661991b9f357c6b2853ab52132ac
<img width="353" alt="screen shot 2016-12-13

[2016-12-14 07:14] shpinog commented on #1113
[code]

[2016-12-14 07:20] keanantf commented on #1113
Ubuntu 16.04, Same crashes. no error.

[2016-12-14 07:21] rained23 commented on #1113
Now i am prevented from searching for game for 24 hours due to multiple crash after accepting game.
Vulkan and non vulkan , can you just remove the penalty when the fault is yours not us ? remove the entire penalty for duration of 1 - 3 weeks until you resolve the entire massive bugs you bring to us

[2016-12-14 07:34] shpinog commented on #1113
crash occurs, find the game or not. Crash occurs enabled Steam runtime or not

[2016-12-14 07:35] shpinog commented on #1113
You create one rollback for MacOS, why not make for Linux?

[2016-12-14 07:47] blakeb155 commented on #1113
Same bug here, El Capitan.
Game seems to be broken on all Mac's.

[2016-12-14 07:47] rhubarbselleven commented on #1113
Crashes within 2 mins of bot and demo games

[code]

[2016-12-14 07:48] danmilas commented on #1113
EDIT: Lastest update fixed it!
----------------------
Same here. I tried not moving the mouse, different video and audio setting, crashes after 30s.
![screen shot 2016-12-14 at 09 45 12](https://cloud.githubusercontent.com/assets/1519468/21173765/0f40c176-c1e2-11e6-9fb8-03428ad661dd.png)

Exception Type:        EXC_BAD_INSTRUCTION (SIGILL)
Exception Codes:       0x0000000000000001, 0x0000000000000

[2016-12-14 07:48] yrrah2 commented on #1113
I have not crashed in a game yet which is lucky but within at least 2 minutes dota 2 has crashed 100% of attempts during bot matches, while searching or idle in menu after the latest patch. Running Debian 8.3 x86_43 3.16.0-4-amd64. Window Manager: i3. i5-4460. gtx 750 Ti.

[2016-12-14 08:02] Mosher23 opened #1114 "[macOS] Dowloaded update 14.12.16 Game Crashes after starting looking for a Match"
It Crashes with a Message  "Bad Mutlithreading Issue"

i have 5k iMac 2015 maxed

Here is a Crash Log

Process:               dota2 [39285]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:            com.dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:        ??? [39282]
Responsible:

[2016-12-14 08:07] quantombone commented on #1113
When I run from command line on my Mac I get the following:

[code]

Cannot find source of threadtools.cpp, (but quite possible older versions without CThreadMulti appears to be visible online, see https://github.com/UAVXP/D0G/blob/e83d1ffb639e0219af5efc0cfee7104f1f3e7090/src_main/tier0/threadtools.cpp)

Maybe MultiWaitEvent was recently added and that's the culprit?

[2016-12-14 08:10] ghost commented on #1113
A patch just went out and I'm not crashing thus far.

Thanks @gdrewb-valve.

[2016-12-14 08:11] gdrewb-valve commented on #1113
The fix is rolling out, should be good on all platforms.

[2016-12-14 08:11] gdrewb-valve commented on #1112
The fix is rolling out, should be good on all platforms.

[2016-12-14 08:11] gdrewb-valve commented on #1114
The fix is rolling out, should be good on all platforms.

[2016-12-14 08:16] yrrah2 commented on #1113
so far no crashes at all on new patch, thank you so much gdrewb

10 minutes 0% crashes

[2016-12-14 08:16] zenner88 commented on #1113
fixed

[2016-12-14 08:17] blakeb155 commented on #1113
Thanks Drew!!

Legend

[2016-12-14 08:19] suptimal commented on #1113
wow that was fast, fixed thx

[2016-12-14 08:20] gdrewb-valve commented on #1113
Closing.  New crashes are hopefully new bugs.  :-)

[2016-12-14 08:20] #1113 closed, assigned to gdrewb-valve

[2016-12-14 08:20] gdrewb-valve commented on #1112
Closing.  New crashes are hopefully new bugs.  :-)

[2016-12-14 08:20] #1112 closed, assigned to gdrewb-valve

[2016-12-14 08:20] gdrewb-valve commented on #1114
Closing.  New crashes are hopefully new bugs.  :-)

[2016-12-14 08:20] #1114 closed, assigned to nobody

[2016-12-14 08:32] kunalex commented on #1101
There is a new update now. Anyone has a changelog?

[2016-12-14 08:53] videonerds commented on #1113
Thank you @gdrewb-valve

[2016-12-14 08:54] quantombone commented on #1113
Thanks, working without a problem now.

[2016-12-14 09:11] lexandrop commented on #1113
Confirm working fine now.

[2016-12-14 09:32] mathdroid commented on #1113
Hey I got an abandon and banned for 24 hours because of this :/ It's my fault to try and play under the condition, but can I get the ban lifted? Sorry to ask here :bowing_man:

[2016-12-14 09:33] Conzar commented on #1113
Thanks, its working for me now too.

[2016-12-14 10:08] phoerious commented on #1107
Oh, I thought you could look up the id since it says "submitted=true".I'll post it somewhere when it happens again. Are those regular gdb-readable core dumps? 

[2016-12-14 10:43] jamesc12 commented on #1109
Hi thank you for your reply ; here is what you asked for:

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro10,1
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:        Intel(R) Core(TM) i7-3740QM CPU @ 2.70GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2

[2016-12-14 11:08] jamesc12 commented on #1109
As I continue to research this problem I have stumbled across another user who's game is hanging at the exact same point as mine (all players accepted but just before loading screen) -

Server was unable to locate game session after 7.0 patch.
Dota worked perfectly normally yesterday. The next day, after 7.0 update, super excited to play the game, I was denied. Every game i accept, it pauses on th

[2016-12-14 13:20] AngryPenguinPL commented on #1098
Oh just see. It not dota2 related it steam related issue. Today I get CS:GO update and also have CORRUPT UPDATE FILES.

But before latest steam update I never see similar issue. I think something change in steam in latest update (two or three days ago) and now games on ntfs not downloading and updating correctly.

Trying download dota2 update on my old laptop with ext4 and it work.
Now I crate bac

[2016-12-14 13:24] Tele42 commented on #1107
Hello @Manko10, Steam uses Breakpad minidumps by default.

[2016-12-14 16:34] sylware commented on #1102
fixed

[2016-12-14 17:15] gdrewb-valve commented on #1109
I've passed this on to the larger team since people on Windows are seeing the same kind of issue, we'll see if they have any suggestions.

[2016-12-14 17:22] gdrewb-valve commented on #1107
The "Discarded=1" means that the dump wasn't kept.  Some submissions are discarded to reduce load and storage.

[2016-12-14 17:24] gdrewb-valve commented on #1113
This is just the Mac/Linux porting team, we don't have anything to do with accounts / low priority.  You can post at dev.dota2.com

[2016-12-14 17:31] NekR commented on #662
@gdrewb-valve I wasn't playing in Dota for a while now. Not sure if issue persists. I probably worth checking by someone with macOS Sierra + Dota 2 7.00. If this matters, you may close this and if something I'll report it again.

[2016-12-14 17:45] gdrewb-valve commented on #662
OK, I'll close this for now.

[2016-12-14 17:45] #662 closed, assigned to gdrewb-valve

[2016-12-14 17:57] fumazu commented on #752
Problem is still there without the launch option.

But I just noticed that even though -set_locale_disable changes the time format from 12:00 AM/PM to 24:00, the date format remains MM/DD/YYYY instead of DD.MM.YYYY. Also, the decimal mark should be changed to a comma and digit grouping mark to a point (e.g. 7.000,56) for most european countries in the main menu and the new in-game HUD.

PS: The da

[2016-12-14 19:27] admshao commented on #1061
Out of curiosity. I tested this under windows and i can't zoom out either
once i zoomed in.

 Now i'm fully confused. You saw the input spew console option that the
mousewheel events are normal. So no system/hardware failure. But that bugs
my mind.

Dunno what to say.. Let me know if any other info or procedure is required.

On Dec 13, 2016 20:11, "Drew Bliss" <notifications@github.com> wrote:

[2016-12-14 20:19] gdrewb-valve commented on #1061
As this isn't a Mac/Linux issue it won't be handled here.  I'll pass it by the larger team and see if they have any thoughts.

[2016-12-14 21:47] jp1995 opened #1115 "Sudden massive lagspike followed by a disconnect to the main menu"
I'm on Linux.

I lose control of my hero, sometimes I can still briefly see it moving to the last issued location, other times I (and everything else) just runs on the spot. This period lasts about 10 seconds. Then I get disconnected to the main menu. I reconnect, and everything is fine again until the next time.

This happens roughly every 15-20 minutes. No way for me to reproduce.

While this is

[2016-12-14 22:09] gdrewb-valve commented on #1115
Has this ever worked properly?  If it used to work properly when did thing stops working properly?  Is your network completely reliable?

[2016-12-14 22:10] gdrewb-valve commented on #752
Thanks for trying it.

[2016-12-14 22:32] jp1995 commented on #1115
Recently I switched from Windows to Linux, but Dota on Linux worked (surprisingly) fine until 7.00 hit.

The network is definitely reliable, I've played dota for like 2000 hours on it. I used to have some ISP issues where DNS broke but ever since that i've been using Google's DNS servers without fail.

[2016-12-14 23:06] gdrewb-valve commented on #1115
OK, we'll see if we can find out what's going on.  Given the random nature it probably won't be easy to narrow down.

[2016-12-14 23:19] jp1995 commented on #1115
Okay, thanks for taking the time!

[2016-12-14 23:55] AngryPenguinPL commented on #1098
ok, after creating new ext4 filesystem and install dota2 all working fine (except performance).

Thanks.

[2016-12-15 00:06] kisak-valve commented on #1098
Glad to hear you got the game working, closing in favor of https://github.com/ValveSoftware/steam-for-linux/issues/4752.

[2016-12-15 00:06] #1098 closed, assigned to Plagman

[2016-12-15 01:51] ksthiele opened #1116 "Items not shown in pregame screen"
When I buy items in pregame they are not shown in my inventory.

Ubuntu 16.04

[2016-12-15 01:54] ksthiele opened #1117 "Black screenshots"
I can't take screenshots, they are all just black.

Ubuntu 16.04 with Vulkan

[2016-12-15 01:56] #1117 closed, assigned to nobody

[2016-12-15 01:56] ksthiele commented on #1117
duplicate

[2016-12-15 02:38] gdrewb-valve commented on #1116
What specific items did you buy?

[2016-12-15 03:14] admshao commented on #1101
For those on green hardware. Nvidia issued a new Driver update today 375.26 - Although the changelog doesn't say much.

[2016-12-15 05:25] aldebaranbm commented on #1103
**I finally fix** it instaling the package **libgl1-mesa-dri** of Debian **Backports** repository.

I continue using the **xserver-xorg-video-ati** (Open Drivers) from the **Stable** repository.

I leave here my solution to possibly help other members.

PS: Special thanks to @Tele42

[2016-12-15 08:51] deksden opened #1118 "Dota2 7.00 currier behaviour with bots"
Starting from today's (15 dec 2016) version - currier's behaviour became really strange - currier is stick to one of bots and this bot periodically (every 2-3 sec) calling bot to his location. You can override command, but after 1-2 sec bot issue new command, so currier is following bot. Imho, this is some bug with bot logic.

My system is macos, latest, client is latest release, 7.0

[2016-12-15 11:33] justSQL commented on #1118
This issue affects all platforms and is not Linux / OS X specific. There was already a reddit post made about this on /r/dota2 so the dota 2 developers likely are already (or when they wake up :)) aware of this problem.

https://www.reddit.com/r/DotA2/comments/5ifwcc/bots_are_annoyingly_broken_at_the_moment/

[2016-12-15 11:47] justSQL commented on #1101
According to multiple reports (and [a phoronix benchmark](https://phoronix.com/scan.php?page=news_item&px=Dota-2-7.00-Linux-Benchmarks)) since 7.00 the Vulkan performance has been somewhat worse and people have encountered ingame texture corruption on all platforms.

I personally do not see these texture corruption issues but my Vulkan performance is still 10-20 fps in general worse than OpenGL pe

[2016-12-15 13:10] sylware opened #1119 "[hero panel] courrier ultimate appears next to hero ultimate"
Select courrier, then select your hero: the courrier ultimate is displayed next to the hero ultimate. It does not go away.

[2016-12-15 14:36] srhseungyeon commented on #24
hi @danginsburg my mac ATI Radeon HD 4670 GPU is also having this graphic bug issue after i updated the dota 2 7.00 patch. can i get help on this?

[2016-12-15 15:04] danginsburg commented on #24
@srhseungyeon Please open a new issue with repro instructions, screenshot(s), and your system information.  This particular issue was a driver bug we worked around.

[2016-12-15 15:27] srhseungyeon opened #1120 "[OSX] 3D graphic bug after updating patch 7.00 on dota 2"
Hello, my mac came out around 2009 and its currently running on Yosemite 10.10.2
graphic card ATI Radeon HD 4670 256 MB/ processor 3.06 GHz Intel Core i3
i could play dota perfectly fine before the patch 7 came and this happens only after i updated my dota 2
![screen shot 2016-12-15 at 11 17 57 pm](https://cloud.githubusercontent.com/assets/24589883/21229822/d2b76ac4-c31d-11e6-8048-ab1bbd71f697.pn

[2016-12-15 15:32] Turmfalke2 commented on #1119
From what I heard that also happening on windows. So probably known issue and not relevant on this bug tracker.

[2016-12-15 16:26] gdrewb-valve commented on #1118
Closing as the larger team is handling this.

[2016-12-15 16:26] #1118 closed, assigned to nobody

[2016-12-15 16:28] gdrewb-valve commented on #1119
You should post general issues like this at dev.dota2.com

[2016-12-15 16:28] #1119 closed, assigned to nobody

[2016-12-15 16:35] danginsburg commented on #1120
I have been able to reproduce this on ATI 2600 XT 256MB.  It seems to be made worse as I increase video settings.  It may be a problem with the driver handling GPU memory oversubscription.  I'll see what can be done to workaround it.  If you turn all video settings to lowest does it still happen for you?

[2016-12-15 17:53] ksthiele commented on #1116
Tango, Quelling Blade, Stout Shield, Faerie Fire, but it doesn't really matter what item

[2016-12-15 17:56] Tele42 commented on #962
Just to add to this, I am unable to use -phased_window_create with -vulkan. The window spawns, shows a still image of what was in the area the window spawned, and starts with 3 loaded threads that drops down to 2 threads in an endless loop.

I am using Cinnamon 3.0 with a pair of 1920x1080 monitors, primary monitor to the right, secondary to the left. There is no serviceable solution to run Dota 2

[2016-12-15 18:44] AngryPenguinPL opened #1121 "[Linux] game eat all RAM memory"
Hi.

After 7.00 patch Dota 2 use all my RAM memory and all swap.
This is what happens while playing "normal" as well as training with bots.

When I start game In main menu I see RAM usage (all ram usage system + dota2) at 1,88 GB, when I start bot match I have at the beginning 2,62 GB usage. After few minutes it use 2,99 GB and after first small team fight it use 3,19 GB. About 20-30 min it use 3,

[2016-12-15 18:58] AngryPenguinPL opened #1122 "[Linux] heavy lag when casting spell or use teleports or other things"
When me or other hero in within sight casts such skill. tidehunter its ultimate "Ravage" or Zeus "Thundergod's Wrath" or any other hero of "heavy" spell i get big lags - performance for few seconds drop to 1 FPS and game look like freeze but after few second FPS back to normal.

It also happens when using teleports, at the time of rebirth after death. This is also during fast of traverse camera to

[2016-12-15 19:31] sylware opened #1123 "[in-game txt chat] some messages are not displayed"
In game, I write a txt message (team or all) then type enter. Randomly, the txt is not displayed (sent?)

[2016-12-15 19:33] sylware opened #1124 "[hero selection] text hero selection does not work upon entry"
Once I have a game and reach the hero selection screen, I type the first letters of the hero I want to select, but it does not work: I have to click first on the screen to be able to type the hero name

[2016-12-15 21:17] gdrewb-valve commented on #1121
What tool are you using to get your memory usage numbers?  They are much higher than what I see on my Linux box and I also don't have the high growth.

That said the larger team is working on performance and memory so it's likely that at least some of this will improve over time.

[2016-12-15 21:20] admshao commented on #1101
Updating after Nvidia driver release on Windows and Linux.

Still regarding Vulkan. On the same PC and on Windows the performance seems "normal" sitting between 150-190fps on my system. Prior 7.00 on Linux + Vulkan resulted in a better performance and now is between 90-110.

I'm on a 8-core PC.
General CPU usage in Windows is CPU 0 almost 100% and 3 other cores only being used. 4 Cores being barel

[2016-12-15 21:20] gdrewb-valve commented on #1122
I just tried Tidehunter's Ravage in a hero demo and didn't see anything that extreme.  There's a perf drop, which is expected since the spell causes a bunch of new effects, but it was from 90fps to 75fps while the spell ran.

From 1121 your system looks to be under substantial memory pressure so that may play a part.  As I mentioned in that issue the larger team is looking at all of this across al

[2016-12-15 21:21] gdrewb-valve commented on #1123
This is happening across all platforms and the larger team is looking.

[2016-12-15 21:21] #1123 closed, assigned to nobody

[2016-12-15 21:24] gdrewb-valve commented on #1124
This worked properly for me on my Linux box, we'll have to see if we can get a repro (or it has already been fixed).

[2016-12-15 21:24] #248 closed, assigned to gdrewb-valve

[2016-12-15 21:24] #740 closed, assigned to gdrewb-valve

[2016-12-15 21:24] #750 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #751 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #837 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #895 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #897 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #915 closed, assigned to gdrewb-valve

[2016-12-15 21:25] #926 closed, assigned to gdrewb-valve

[2016-12-15 21:26] #964 closed, assigned to gdrewb-valve

[2016-12-15 21:26] #990 closed, assigned to gdrewb-valve

[2016-12-15 22:15] perezect commented on #964
Not to my knowledge, sorry for being unresponsive!

[2016-12-15 23:43] runfalk opened #1125 "[Linux] Activity feed is empty for me but not for my friends"
Both the activity feed on the "home screen" and in my profile is empty for me, but my friends can see my messages and rampages. I am able to write messages using the "Say something on your feed..." input, but it does not show for me.

It has been like this at least since the new patch, but probably before that. I reacted because I got a rampage that I couldn't see recently.

Distribution: Linux Mi

[2016-12-16 00:37] srhseungyeon commented on #1120
@danginsburg yeah its the same, the screenshot above is actually running on the lowest settings

[2016-12-16 00:57] glubsy commented on #1046
Forgot to mention that was on Linux Mint 17.3. Now I'm on Antergos (Arch based) and restarting pulseaudio doesn't crash the game anymore, perhaps because of a more recent version. (also could be because dota is now 7.00)
I do have to select audio channels again of course, but that's to be expected.

[2016-12-16 00:57] #1046 closed, assigned to Plagman

[2016-12-16 01:00] glubsy opened #1126 "[Linux] network / fps counter is not displayed anymore"
In the top-right hand corner, there should be a small display of latency in ms and frames per second.
Instead, there is only a small grey line.

SPECS: Antergos x64 kernel 4.8.13-1

[2016-12-16 01:50] gdrewb-valve commented on #1125
Probably not Linux-specific, checking with the larger team.

[2016-12-16 01:51] gdrewb-valve commented on #1126
This is happening on all platforms, the larger team is handling it.

[2016-12-16 01:51] #1126 closed, assigned to nobody

[2016-12-16 05:02] deksden commented on #1118
@gdrewb-valve : thx) One post-question: what is preferred way for reporting issues? github or reddit?

[2016-12-16 05:05] gdrewb-valve commented on #1118
Linux/Mac-only bugs should be reported here.  Non-platform-specific bugs should be reported at dev.dota2.com.  Lots of people post on reddit also so that would work too.

[2016-12-16 06:44] sinamiandashti opened #1127 "OSX game wont fullscreen"
<img width="970" alt="screen shot 2016-12-16 at 10 27 57" src="https://cloud.githubusercontent.com/assets/195868/21254110/6ab80234-c378-11e6-88ed-97de824b2153.png">

game wont go fullscreen after 16 Dec Update in MacOS Sierra

[2016-12-16 07:13] gdrewb-valve commented on #1127
Assigning to SDL dev.

[2016-12-16 10:17] sylware commented on #1119
I cannot know if it's a general issue.

[2016-12-16 10:18] sylware commented on #1094
done

[2016-12-16 12:50] sylware commented on #1123
shout box too.

[2016-12-16 16:06] deksden commented on #1120
Same for my system, again (this bug was fixed before, but after 7.00 patch it appears again!)
**Upd**: playing with any video config options did not help at all.

Model Name:	iMac
  Model Identifier:	iMac11,1
  Processor Name:	Intel Core i7
  Processor Speed:	2,8 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	8 MB
  Memory:	16 GB
  Processor Inte

[2016-12-16 16:06] deksden commented on #1120
![dota2-7 00-bug](https://cloud.githubusercontent.com/assets/2203023/21269179/4917878c-c3e4-11e6-9c09-5fd250fbdaee.png)

[2016-12-16 16:07] deksden commented on #1120
Also this bug is visible during observing hero 3D models

![dota2-7 00-bug-hero](https://cloud.githubusercontent.com/assets/2203023/21271115/2ded925a-c3ec-11e6-9832-65aca2767917.png)

[2016-12-16 16:38] deksden commented on #1120
IMHO, exactly same as: https://github.com/ValveSoftware/Dota-2/issues/24

[2016-12-16 17:19] srhseungyeon commented on #1120
@deksden i feel you bro, i think the last time this happened, was when the reborn client first came out. I thought i couldnt play it anymore but somehow a few patches later the problem was solved

[2016-12-16 17:55] jacobaughtab commented on #990
Nope! The only issue now is texture crashes with grass and stairs from time to time, but after I disconnect and reconnect the problem is usually solved. Thanks for checking up!

[2016-12-16 17:56] danginsburg commented on #1120
@srhseungyeon I think I've found a workaround and I do agree it is the same root cause as #24.  Are you sure you didn't at some point toggle video settings (specifically Grass) on during play?  Did you start out at lowest quality video settings?  I do not see this happen on ATI 2600 XT if I start at low quality settings and never change them.  I believe the grass is bumping up against the limit wi

[2016-12-16 17:59] gdrewb-valve commented on #990
Can you open a new issue with specifics on the grass and stairs, plus and any CrashIDs from your Steam system information?

[2016-12-16 18:02] jacobaughtab commented on #990
Sure thing, next time it happens I'll open an issue and include some screenshots and the CrashIDs.

[2016-12-16 18:11] gdrewb-valve commented on #1125
Are you specifying any launch options or anything non-default when starting Dota?

[2016-12-16 18:32] deksden commented on #1120
@danginsburg : Ouch! Restarting on lowest settings do the trick! this is real workaround. After that i can even add some graphics stuff (did not touched grass ;) Many tnx)))

**Summary for workaround**: set lowest settings. Restart game.

[2016-12-16 18:36] danginsburg commented on #1120
@deksden Thanks.  I am working on a fix that will disable grass on AMD 2xxx-4xxx, but it will basically do the same thing.

[2016-12-16 18:45] deksden commented on #1120
@danginsburg : my bad luck was that once you have that bug - changing video settings did not help. You should start at lowest settings and add them later. Thank to pointing to key step: restart at lowest settings.

After that i was able to add most video setting back. I can confirm that touching "grass" option returns graphical issues.

[2016-12-16 19:14] srhseungyeon commented on #1120
@danginsburg oh i thought you meant by texture low quality, i disabled grass and it works TT thank you so much

[2016-12-16 19:18] danginsburg commented on #1120
Great, glad we got to the bottom of it.  I've also checked in a workaround to forcibly disable grass on AMD 2xxx-4xxx on Mac.  It will be in the next dota update.

[2016-12-16 19:18] #1120 closed, assigned to danginsburg

[2016-12-16 19:59] runfalk commented on #1125
Yes I am:

[code]

I use these to place Dota in borderless window mode on my middle monitor and show the taskbar underneath, since it doesn't autohide otherwise.

[2016-12-16 20:12] gdrewb-valve commented on #1125
Where did -language en come from?  I'm not sure that en is a valid language for Dota.  If you remove that does it make any difference?

[2016-12-16 21:24] ghost commented on #1087
No, it’s not.

[2016-12-16 21:24] #1087 closed, assigned to nobody

[2016-12-16 21:40] gdrewb-valve commented on #1116
What game mode were you playing in?

[2016-12-16 22:00] runfalk commented on #1125
Removing ``-language en`` does indeed fix it. I have used that launch option since before reborn to force Dota 2 to be in English even though  my Steam client is in Swedish. It successfully changed it, at least back then. Now I have Steam in English so it doesn't matter anymore.

Thank you for your time.

[2016-12-16 22:17] gdrewb-valve commented on #1125
Thanks, closing.

[2016-12-16 22:17] #1125 closed, assigned to gdrewb-valve

[2016-12-16 22:35] gdrewb-valve commented on #573
Is this still happening?

[2016-12-16 22:44] #1031 closed, assigned to nobody

[2016-12-16 22:45] #1070 closed, assigned to nobody

[2016-12-16 22:45] #1071 closed, assigned to nobody

[2016-12-16 22:45] #1078 closed, assigned to nobody

[2016-12-16 23:42] ksthiele commented on #1116
it was on a tutorial

[2016-12-17 12:18] sylware commented on #1124
On Thu, Dec 15, 2016 at 01:24:05PM -0800, Drew Bliss wrote:

I noticed sometimes it works, sometimes it does not. I cannot figure out a reproductible way.

It seems related to keyboard focus as I noticed a similar issue: while watching
a live game, if I want to see the score board via the key shortcut, sometimes
it won't work till I mouse click on the screen.

[2016-12-17 14:29] jamesc12 commented on #1109
any news on this problem yet , i am still to get into a game of Dota.

I had a close fix yesterday, by creating a new user account on my laptop, redownloading Steam and using a new steam account i was able to play Dota.  However when logging back into that account this morning it too has begun freezing before games so I am now seeing the same problem on that too, I can't get into the game before t

[2016-12-17 17:46] velocitea opened #1128 "Complete system freeze when selecting summoned units"
The following bug occurs for me **since patch** 7 of Dota2:

**As soon as I want to select summoned units, the whole system freezes. I can not get back to my system, have to force a shutdown.**

Only when the summoned units are selected, the system freeze occurs.

This bug can **always be reproduced** on my system. I tested several kinds of summoned units, the system freeze always occurs. Tested s

[2016-12-17 18:14] gdrewb-valve commented on #1128
Dota is a normal user-mode process and cannot cause system lockups so your problem lies elsewhere, most likely in your graphics driver.  Have you tried different drivers or newer versions of Mesa?

[2016-12-17 18:20] gdrewb-valve commented on #1109
There won't really be status here as this forum is for Mac/Linux bugs and your problem is happening on Windows also so it's being handled by the full Dota team and not the porting team.  The larger team is working on my problems and doing a lot of updates so hopefully they'll find the problem here and fix it.

[2016-12-17 18:46] BrandonZV19 opened #1129 "The captain mode window doesn't disappear"
After the draft time, I choose my hero, then the window never took off, I restarted dota client, restarted steam and restarted iMac.

The hero never appeared in game.

The images speak for themselves:

![570_screenshots_20161217123807_1](https://cloud.githubusercontent.com/assets/15038820/21288971/5782d494-c456-11e6-803d-dc0aa0357a31.jpg)
![570_screenshots_20161217122831_1](https://cloud.githubuse

[2016-12-17 19:54] gdrewb-valve commented on #1129
This is unlikely to be a Mac issue and probably won't be handled here, I'm checking with the larger team.

[2016-12-17 21:32] gdrewb-valve commented on #1129
This is happening on Windows too so the larger team will take it.

[2016-12-17 21:32] #1129 closed, assigned to gdrewb-valve

[2016-12-17 22:10] Conzar opened #1130 "6.88 Replays UI & Other Glitches"
I attempted to watch Game 3 of the OG/AF finals from Boston on a 7.0 client.  There are several problems:

- The UI spells & item icons are missing replaced with numbers
- Heroes appear to hover in some places of the map
- Wards appear to hover in some places of the map

http://imgur.com/a/2saTq

Overall, replays pre-7.0 are unwatchable due to these issues.

[2016-12-17 22:14] gdrewb-valve commented on #1130
This happens on Windows too and will be handled by the larger team.

[2016-12-17 22:14] #1130 closed, assigned to nobody

[2016-12-17 22:29] regs01 commented on #1115
This is pretty old problem. In 10v10 10 players in average gets disconnected after hero pick. Happens because of excessive and very long reads from the hard drive that freezing the game. The freeze takes longer than network timeout time.  The problem does not appear with SSD. Only with HDDs.

[2016-12-17 22:42] regs01 commented on #1092
Same on Windows. Not always a Nvidia driver crash. Sometimes game just exists to desktop. But there are also regular Nvidia driver crashes after 7.0 update.

[2016-12-17 23:38] Conzar commented on #1130
I think you should keep this open so that other isers won't create new issues.  Keep open until a fix has been released.

[2016-12-18 00:06] gdrewb-valve commented on #1130
This tracker is deliberately limited just to Mac/Linux bugs so that people looking for Mac/Linux advice can come here.  If it holds all issues of any kind until they are resolved it would quickly become overwhelmed with non-platform-specific entries.

[2016-12-18 03:14] Conzar commented on #1130
Can you please point me to the windows tracker for this issue?

[2016-12-18 04:37] JJAYL commented on #1014
I just tested it. When loading up a bot match it did not crash when loading (I suspect it is due to the new pregame screen), but loading a replay to watch will still make it crash. I also tried a live game and it did not crash; it seems to have a new startup animation. Let me know if you need anything else from me. Thanks for the hard work. Also this is still running with vulkan (I think I am usin

[2016-12-18 05:28] bregory opened #1131 "dota 2 wont open, this always shows up whenever i try to launch it - how do i fix this"
![screen shot 2016-12-18 at 1 26 59 pm](https://cloud.githubusercontent.com/assets/24631183/21291720/d026381c-c525-11e6-917d-09d0eeca54a0.png)

[2016-12-18 09:04] tungnk1993 commented on #1115
Getting same problem in SEA server. Here's the log:
Incorrect client cookie in NoSession from hkg#74 (153.254.86.172:27016).  Could be spoofed, ignoring.

Moved to low-priority.....

[2016-12-18 09:45] gdrewb-valve commented on #1131
There's not enough information to go on.  Can you take the Steam system information and post it here as a gist?

[2016-12-18 09:46] gdrewb-valve commented on #1130
It's dev.dota2.com

[2016-12-18 11:41] iMarv opened #1132 "[Linux] Ubuntu Ping spike issues"
Hello,

I am playing DotA on the latest Ubuntu release and am experiencing spikes in my latency. This most probably is not a problem with my internet connection, as I am not having this issue with DotA on windows on the same computer.

My ping rises from ~40 to about 400 for a couple seconds, then it goes back down to 40.
I can not find any known fix for this on the internet.

[2016-12-18 12:56] jp1995 commented on #1115
@tungnk1993 So you weren't able to reconnect? I can always reconnect, very quickly in fact, just takes a couple of seconds.

[2016-12-18 13:30] tungnk1993 commented on #1115
@jp1995 I can reconnect, but after a few secs I got auto-disconnected again.Have tried restarting steam,laptop,router, changing dns, didn't help

[2016-12-18 14:06] kisak-valve commented on #1128
Hello @skrogul,

This issue was recently seen at #1103. Please update to a newer version of mesa. https://github.com/ValveSoftware/Dota-2/issues/1103#issuecomment-267242055 is what you are looking for in terms of a solution.

@gdrewb-valve, do we want to leave a note somewhere that Debian 8 users need to update mesa if they want to use Dota 2 with that graphics driver?

[2016-12-18 14:13] kisak-valve commented on #1014
Hello @JJAYL, the minidump you provided is a crash in libscaleformui_4_vulkan.so.

[2016-12-18 15:36] sindrom91 opened #1133 "[Linux] Periodic FPS drops"
Every few minutes FPS drops massively and I can barely see anything happening, it lasts for ~15s and then FPS goes back to normal. I'm running fresh Ubuntu 16.04, on Intel HD graphics 4000 (I can post whole system information if necessary). I tried running with vulkan support, but it's happening that way as well (though spikes seem to last not as long).

I looked at `htop` at the moment of spikes

[2016-12-18 16:33] regs01 commented on #1115
If HDD is busy and actively working for other apps, you will disconnect again.

[2016-12-18 18:38] cauanh commented on #1115
I got the same problem too. and the console message is exactly as above.
Can someone explain ? it's really pissing me off.

[2016-12-18 18:43] gdrewb-valve commented on #1132
I haven't seen that happen on my Linux box so it's going to be difficult to track down.  We'll have to see if enough other people have the issue that we can find a common thread.

[2016-12-18 18:45] gdrewb-valve commented on #1133
I haven't seen that occur on my Linux box but my configuration is different.  We'll have to see if other people have the same issue to try and narrow down what might be causing it.

[2016-12-18 18:48] gdrewb-valve commented on #1128
Yes, go ahead and add a mention in the tracker description right after the recommendation to use NVIDIA 340 or newer.

[2016-12-18 18:51] gdrewb-valve commented on #1115
This doesn't appear to be a Mac/Linux issue and the larger team is investigating so there won't be much status here.

[2016-12-18 19:46] JJAYL commented on #1014
Yes, and like before it doesn't crash when loading the replay on OpenGL. I also tried with  +r_overlap_scaleform 0, but, coincidentally, my desktop froze up. I'll try it again tonight.

[2016-12-18 20:04] kisak-valve commented on #1132
Hello @iMarv,
I've heard rumor of some drivers for wireless chipsets which have periodic lag spikes from poor throughput while scanning to see what other networks are nearby. If that is the case, then the issue is chipset/driver specific and not related to Dota 2. It would also occur in a very even period of time, like every 2/5/10 minutes and might be a tunable of your wireless connection manager

[2016-12-19 02:08] MinervaW1993 opened #1134 "[Linux]Steam crashes when chatting in game"
Especially when receiving messages from others, Steam will segfault immediately.

CrashID=bp-f7702933-6911-420a-b709-dcd332161218

=====System information
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Xeon(R) CPU E5-2660 0 @ 2.20GHz
    C

[2016-12-19 06:30] rained23 commented on #1132
I think I have this issue too, this often happen when some event occur example enemy initiating or when 1 or more enemy are shown from fog of war.

The lag cause you frozen for 3-5 second and it will return normal and will happen back if an event occur sometimes.

Not using wireless here.

[2016-12-19 07:24] JJAYL commented on #1014
I tested it again with +r_overlap_scaleform 0 and it seems to prevent the crash just like it did before 7.00 (for loading replays).

[2016-12-19 09:12] chrissisura opened #1135 "OSX no sound when pluggin in lan cable."
I know this is nothing big, but maybe its really easy to solve. Basically i have no sounds whenever i plug in my lan cable and have to restart dota.
macOS Sierra Version 10.12.2 MacBook Pro (Retina 13 Zoll, Early 2015) Processor 2,9GHz Intel Core i5, 8GB RAM 1867 MHz DDR3, Intel Iris Graphics 6100 1536MB

[2016-12-19 09:30] iMarv commented on #1132
I will check on that @kisak-valve, as the intervals seem to be periodically. I have never stopped time, but it is not related to teamfights or enemies showing up in general as @rained23 said.

[2016-12-19 09:59] joshlopes commented on #1101
Can anyone tell, if on mac, upgrading from yosemite to sierra has any improvement? Reluctant in upgrading! Last time it did not go so well.

Also i feel the need to let this here: is really sad seeing this kind of upgrades! This clearly was not tested at all using other distros as it is failing all over in all games, its not a bug that happens now and then.. Upgrading to affect the game system jus

[2016-12-19 13:43] kisak-valve commented on #1092
Hello @ryan33020, does this issue occur with a different nvidia driver version (375.26 or 375.10)?

[2016-12-19 14:59] kisak-valve commented on #1128
If updating mesa to 10.5.9 or newer does not help, please let us know and we can look into this further. Closing.

[2016-12-19 14:59] #1128 closed, assigned to gdrewb-valve

[2016-12-19 15:20] kunalex commented on #1101
Hello.

I am on Yosemite. After the updates, things improved a little. Like very little. In fights, from 15 fps I have 20 fps now. And roaming, non-active fights, I have 40. Before the 7.00 I had 30 fps in fights and 60 fps roaming. Before and after the update, the settings were always on LOW, all boxes unchecked and recommended rezolution.

I think Valve simply does not care about the OS users, b

[2016-12-19 16:42] gdrewb-valve commented on #1135
So sound works up until you plug in your cable and then sound stops working?  Does it work again with your cable plugged in after you've started Dota?

I don't see issues like this with my Mac, I'm not sure why would be going on.

[2016-12-19 17:07] joshlopes commented on #1101
@kunalex so you have the Sierra version ? I meant upgrading from "El Capitan" not Yosemite.. sorry.

Just for your information, for me it improved a lot, when i selected advanced settings, and disabled everything, put everything in low and FPS to MAX, is the only way to make it playable, on fights you may struggle a little but still way better.

Regards

[2016-12-19 17:29] #573 closed, assigned to gdrewb-valve

[2016-12-19 17:30] gdrewb-valve commented on #1116
The larger team says that this can happen on all platforms and they're taking it on.

[2016-12-19 17:30] #1116 closed, assigned to gdrewb-valve

[2016-12-19 19:48] kunalex commented on #1101
What can I do more?
Seriously? With his machine, to play a game like dota2 on low... Uh, I feel disgusted.

![screen shot 2016-12-19 at 21 46 46](https://cloud.githubusercontent.com/assets/20557199/21326773/c3c59eea-c634-11e6-9428-12bbf13d29d6.png)
<img width="245" alt="screen shot 2016-12-19 at 21 11 30" src="https://cloud.githubusercontent.com/assets/20557199/21326774/c3c65da8-c634-11e6-812e-426

[2016-12-19 20:07] AngryPenguinPL commented on #1122
After few small Dota 2 updates and disabled in graphics options "grass" today I play few normal matches.
First match my RAM was taken only at the end.
In another about 30-40 minutes.
In next already in about 15 minutes. So I think more or less, but it also depends on the Hero that appear in game. Last match I play Monkey King (I think he is poorly optimized) and in my team I have Underlord. When h

[2016-12-19 20:10] AngryPenguinPL commented on #1121
System monitor from KDE DE (ksysguard).

Also I trying reproduce this on my notebook but on it I not see this issue. On it I have only much worse performance 19 FPS on start match and in it about 10 FPS. Before patch I get on it about 25 FPS in match. Maybe I can't reproduce it because it use other Linux OS and MESA 13.1 driver instead of Catalyst?

[2016-12-19 20:19] admshao commented on #1101
Chill out dude. You already made your point. Valve knows that something is
up and they already reported to be looking for the issue in everybody's
performance problems...

And to be fair. Have you tried to reach apple for any support? I bet you
think that its all good on their side. Nothing wrong with their new OS
updates or older version of OpenGL and not supporting Vulkan...

Valve is doing thei

[2016-12-19 21:32] sethdusek opened #1136 "Dota 2 doesn't work on NTFS anymore after 7.00"
So, whenever you try and update dota to the 7.00 version, Steam will tell you you have corrupt update files, and restart the download. It is happening to a lot of people including me, and it apparently happens if you're storing dota on an NTFS filesystem.

[Steam discussion](http://steamcommunity.com/app/570/discussions/0/1843493219432308676)

[2016-12-19 21:54] kunalex commented on #1101
I have reached out to Apple too. The same response. Nothing.

I am chill man, I am. I have been for a year now, when I made the switch from Win to OS. Didn't knew what I was coming to. And sorry, performance bugs and gameplay bugs were repaired much more master for PC owners. It is ok. The problem is that I love dota, and I will keep playing. Too bad tha Valve and Apple don't care as much as we do

[2016-12-19 22:08] kisak-valve commented on #1136
Closing as a duplicate of https://github.com/ValveSoftware/steam-for-linux/issues/4752.

[2016-12-19 22:08] #1136 closed, assigned to nobody

[2016-12-20 00:27] jp1995 commented on #1115
@regs01 @gdrewb-valve @triage-valve
So, I've done some testing.

I installed dota 2 on a SSD and the problem persists. I should point out that the Linux is still installed on a HDD, I just created a new steam library on a separate SSD drive and installed dota there.

Also, this does not happen in locally hosted games. Only in public games (normal, ranked, private lobby on Luxembourg server for exa

[2016-12-20 06:40] ryan33020 commented on #1092
375.26 is working at the moment

[2016-12-20 10:01] joshlopes commented on #1101
@admshao to be fair, valve didn't need to update the game knowing that at very least even knowing that 5% of their community being mac, wouldn't be able to play the game ;) That if they tested mac at all. which doesn't look like the case.

Anyway, looking forward for the fixes / any hack around to fix this issue, i'm off dota meanwhile. Good thing that the update came exactly when people is on hol

[2016-12-20 13:17] kisak-valve commented on #1092
Thanks for retesting @ryan33020. If you experience this issue again (not with 375.20), please include a CrashID or a minidump (.dmp) of the crash and we can look into this further.

[2016-12-20 13:17] #1092 closed, assigned to danginsburg

[2016-12-20 14:36] joshlopes commented on #1101
So i have contacted apple support and they can't do nothing other than tell me to do the feedback here: http://www.apple.com/feedback/macbookpro.html as long as many of you do the same the faster they will take action on this, so share with other mac players and try to get as much tickets on their feedback system as possible. If they filter by Dota 2 and get a nice amount i'm pretty sure they will

[2016-12-20 15:20] chrissisura commented on #1135
Seems to be fixed! Ty guys! Working fine now!

[2016-12-20 15:22] joshlopes commented on #1135
@chrissisura if you are having (which you most have!) fps issues using mac to play the game. Please create a ticket on http://www.apple.com/feedback/macbookpro.html

[2016-12-20 16:44] gdrewb-valve commented on #1135
Thanks, closing.

[2016-12-20 16:44] #1135 closed, assigned to nobody

[2016-12-20 16:45] gdrewb-valve commented on #1131
Closing pending more information.

[2016-12-20 16:45] #1131 closed, assigned to gdrewb-valve

[2016-12-21 09:24] kxxoling commented on #564
This happened to me once I enabled home stream through Ubuntu to macOS which failed with this dialog. Then I cannot start DotA2 anymore even I closed stream settings or quit stream on macOS.

[2016-12-21 09:41] joshlopes commented on #1101
Okay to update you guys, after updating to sierra, and having the settings with max fps and playing on cable (Ethernet) everything seems to be running as smooth as the last version! It could also mean they have fixed it. :)

[2016-12-22 07:30] gdrewb-valve commented on #1124
Is this still happening after the latest updates?

[2016-12-22 07:34] gdrewb-valve commented on #1122
A recent update added an Effects Quality option in the video settings.  If it isn't already on low does changing it to low help framerate with complex effects?

[2016-12-22 07:36] gdrewb-valve commented on #1107
Has this happened recently? I believe the larger team has fixed the underlying cause.

[2016-12-22 07:37] gdrewb-valve commented on #1101
A recent update added an Effects Quality option in the video settings.  For those of you where it isn't already on low does changing it to low help framerate with complex effects?

[2016-12-22 09:38] jgouth commented on #1101
No change.

Please valve, it has been over 9 days and no progress. It is extremely frustrating being such a fan of this game but yet not being able to play because of an update that was not properly tested.

[2016-12-22 16:40] gdrewb-valve commented on #1101
@jgouth, can you provide more details?  What was your Effects Quality setting at?  Did you change it to low?  What effects did you test out to see if something changed?

[2016-12-22 16:54] gdrewb-valve commented on #963
Is this still happening after the 7.00 HUD changes?

[2016-12-22 16:57] gdrewb-valve commented on #1038
The 7.00 HUD updates should have affected things some, are there still active issues here?

[2016-12-22 16:58] gdrewb-valve commented on #1055
Assuming inactive, closing.

[2016-12-22 16:58] #1055 closed, assigned to danginsburg

[2016-12-22 18:17] sylware commented on #1124
tested a few times, seems fixed. Both issues.

[2016-12-22 18:22] jgouth commented on #1101
My effects quality setting was at high, I changed it manually to low.

However, after playing ~ 5 games, I've noticed a max difference of 5 fps. I used to get about 50-60 fps easily, now I am getting max 30.

[2016-12-22 18:51] gdrewb-valve commented on #1124
Thanks, closing.

[2016-12-22 18:53] gdrewb-valve commented on #1101
The Effects Quality will primarily affect performance for spell and ability effects so it's a more localized change.  It would help with hitching when complex affects appear but it isn't a constant improvement.

[2016-12-22 19:51] shadowman79 opened #1137 "issue with latest update 21/12/2016 with built_from_cl.txt"
issue with latest update 21/12/2016 with built_from_cl.txt

steam reports built_from_cl.txt corrupted and trying to download files again without installation

[2016-12-22 19:52] sylware commented on #1124
nope it happened again.

I managed to get into a state where it happens again.

[2016-12-22 19:57] kisak-valve commented on #1137
Hello @shadowman79, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report. Additionally, what filesystem is the game being stored on?

[2016-12-22 20:00] gdrewb-valve commented on #1137
Also additionally issues with the Linux Steam client should go in steam-for-linux.

[2016-12-22 20:29] shadowman79 commented on #1137
fs: ntfs
https://gist.github.com/shadowman79/4fc7f63a6229d119d68b7e2ac8cb00f5

[2016-12-22 20:34] kisak-valve commented on #1137
This issue is already being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/4752. Closing as a duplicate.

[2016-12-22 20:34] #1137 closed, assigned to gdrewb-valve

[2016-12-23 06:03] jgouth commented on #1101
Any update from valve on what the issue is?

Is this on apple side or the update?

[2016-12-23 06:11] gdrewb-valve commented on #1101
The major changes in 7.00 impact different computers in a variety of ways so there is no one single issue.  The larger team is working through things and will continue to do so.  The game view is also larger since the new HUD shows more game area so there's just more being done overall.

Apple's driver problems will always limit frame rate on Macs but that is even more complicated as to how it aff

[2016-12-23 09:25] wahmbulance opened #1138 "[macOS] FPS Drop to 10 randomly"
I have an iMac 5k 27 inch late 2015 with i5 + amd r9 390x 16 gb ddr3 ram.

pre 7.0 i could at 80-100 fps. now i run around 60-80. however. sometimes the fps will drop to 10-13. in order for me to fix it. i have to command tab out (desktop friendly mode) then re enter game. it sorta fixes it. dota also runs above 95% cpu usage. and also i think the "show cast range finder" option may have something

[2016-12-23 12:15] AngryPenguinPL commented on #1122
If this change performance, it does it only a little. During normal matches hardly see any difference. I not make any benchmark yet. So I do not know precise results. But from what I can see the impact is very small.

Also game still eat all RAM. From last days, I only finish two match (from the beginning to the end without rebooting due to use all of the RAM).
Also I see that game laggy not only

[2016-12-23 13:20] kisak-valve commented on #1138
Hello @wahmbulance, the performance regression since the 7.00 update is being tracked at #1101.

[2016-12-23 17:45] gdrewb-valve commented on #1138
Closing in favor of 1101.

[2016-12-23 17:45] #1138 closed, assigned to nobody

[2016-12-23 21:45] wahmbulance commented on #1101
thanks for trying to fix the problem valve. ill try to get my good friend tim cook to contact lord gaben in hopes of giving out the apple open gl driver source codes to gabe personally.

[2016-12-23 21:57] wahmbulance commented on #1101
created a support request on imac from apple. i told them to contact you guys about these open gl driver problems. i hope it works out.

[2016-12-24 16:09] kolobos commented on #1101
As a proud owner of dual core Intel E7200 CPU from 2008, I can confirm regressions on very low-end hardware in 7.00 (Valve Panorama) compared to pre-7.00 (Autodesk Scaleform).

**System:**
OS: Gentoo Linux
CPU: 2 cores, 2 threads Intel E7200 (2008) overclocked to 3163 MHz
GPU: AMD HD7790 (GCN 1.1 Bonaire)
RAM: 4 GB

**Drivers:**
Mesa git, LLVM git, libdrm git, xf86-video-amdgpu git (userspace AMDG

[2016-12-25 18:13] rudmint opened #1139 "Adding socket/gem to item crashes game"
The game crashes when you add a socket to an item, and again when you add an inscribed gem.  There is nothing in the Recent Failure Reports, but I found this in kern.log;

Dec 25 13:08:55 razorwolfelite kernel: [276657.399504] traps: dota2[19015] general protection ip:7f0fef85d0a6 sp:7ffcf5596650 error:0 in libclient.so[7f0fec4fe000+4601000]

Dec 25 13:09:23 razorwolfelite kernel: [276685.181949]

[2016-12-25 19:10] kisak-valve commented on #1139
Hello @rudmint, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report. Additionally, if you can find a relevant minidump in ```/tmp/dumps```, please compress it, then click and drag it into the comment box of this issue report.

[2016-12-25 21:56] MinervaW1993 commented on #1134
dmesg output:

[29701.870529] gameoverlayui[13153]: segfault at 0 ip 00000000f27073fb sp 00000000ffcd89d0 error 4 in vgui2_s.so[f2689000+260000]
[29757.084867] steam[12562]: segfault at 0 ip 00000000ef949e09 sp 00000000ffed7c70 error 4 in vgui2_s.so[ef8b7000+260000]

[2016-12-26 18:05] gdrewb-valve commented on #1139
This is likely a cross-platform issue, I'm checking with the larger team.

[2016-12-26 23:11] rudmint commented on #1139
https://gist.github.com/rudmint/f51395951911319ed93a16548770d0cc

[crash_20161225130632_1.dmp.gz](https://github.com/ValveSoftware/Dota-2/files/673360/crash_20161225130632_1.dmp.gz)

[2016-12-27 08:07] ghost opened #1140 "[LINUX+VULKAN] steam overlay friend chat not working when use vulkan"
ingame chat works to chat with friends out of game but when use steam overlay it does not work. can not input text. i did not notice any other issues with the overlay yet.

 kubuntu 16.04 | 4.4.0-57-generic #78-Ubuntu | plasma 5. i disabled fullscreen desktop effects already for another fix with the plasma 5 panel messing with edge panning and the window spread also messing with it. so im sure tha

[2016-12-27 13:18] kisak-valve commented on #1140
Closing as a duplicate of https://github.com/ValveSoftware/Dota-2-Vulkan/issues/11.

[2016-12-27 13:18] #1140 closed, assigned to nobody

[2016-12-28 20:28] kunalex commented on #1101
@admshao two weeks passed. guess what? fps still 30-40. 15 in fights. same machine, same iOs. valve? oh well, it is XMas, no time for the little community of mac players.

[2016-12-28 20:33] jgouth commented on #1101
@kunalex @gdrewb-valve yup same here. Here's hoping there is a fix eventually, i love this game too much to quit, but if it is like this for months I will have no other choice.

[2016-12-28 20:34] kunalex commented on #1101
@jgouth @gdrewb-valve I still play. Crappy, laggy, but I still do it. It hurts my mmr too. Worked hard for that MMR. Time, sweat, nervers. But who cares. Our community needs to be heard, but it seems that we can't find a catalyst.

[2016-12-28 20:52] gdrewb-valve commented on #1101
Please note that this is a bug tracker and not a discussion forum.  Also, as mentioned above, problems are happening on all platforms, this is not just a Mac issue.  The larger Dota team is in charge of the investigation and not the porting team that handles this tracker so updates here will be infrequent.

[2016-12-29 12:10] ghost opened #1141 "[MAC] Bad performance even with every settings disabled"
OS: macOS 10.12.2 Sierra
CPU: i3 4150
GPU: Gainward GTX 960

Driver: NVIDIA Web Driver 367.15.10.25f02

This is unplayable when lot of entities are on screen, do you have a Metal renderer? if no is it planned ?

[2016-12-29 13:00] ghost commented on #1141
Ok i found the issue, FPS starts to drop from 60 down to 30 when i move the mouse

So probably an issue about input events in SDL ?

[2016-12-29 13:04] ghost commented on #1141
Mouse: Razer Naga

[2016-12-29 13:11] ghost commented on #1141
I disabled mouse acceleration with: ``defaults write .GlobalPreferences com.apple.mouse.scaling -1`` then i rebooted and it seems to have completely fixed the issue, this is weird

 I close it for now, i'll reopen if something go wrong again

[2016-12-29 13:11] #1141 closed, assigned to nobody

[2016-12-29 16:39] AngryPenguinPL opened #1142 "[Linux] low graphics quality although options are high"
Hi.

Through Christmas I not played in Dota2. But after xmas, I play few match and I see another bug but don't know in which patch this bug was inserted...

When I start game with almost high graphic quality I see my game look much worse like on low quality (This can be seen particularly in the trees). Quick check on options and I see almost all on high. So going back to game and still I see low q

[2016-12-29 16:49] AngryPenguinPL commented on #1121
Worth to add that when match is end (and not all RAM is used) so I can simply finish it. I see dota after match even in main menu use RAM like on match. For example. I start dota and have about 50% RAM usage. When ending match I have about 80/90% usage and when I back to main menu my RAM usage is still at 80/90%
Only when I close dota2 my RAM usage drop down.

[2016-12-29 16:56] AngryPenguinPL commented on #1122
I can add that I trying use another desktop environments - IceWM and I see it use much less RAM. So I have about 300-400 RAM more free RAM. But when play in DOTA2, game eat also this addition RAM. So I don't know If I get more RAM memory, dota not eat it all.

Also this massive lags still appear. So game for me still is almost unplayable.

[2016-12-29 17:25] gdrewb-valve commented on #1142
If you just wait do things become sharper?  Do things switch between low and high quality and back ever?  Dota has a streaming load system where things can start lower quality and then become higher quality when loading completes.  Additionally there's dynamic GPU memory management where Dota may use lower-quality textures to save space if it feels like GPU memory is filling up.  Your GPU has 1GB,

[2016-12-29 17:34] kolobos commented on #1142
There are no shadows in the screenshots, that couldn't be just textures loading dynamically. This issue makes no sense, because no one else is experiencing video settings not applying in-game.

[2016-12-29 17:56] danginsburg commented on #1142
I'm having a bit of trouble understanding the issue, but I notice @xpris is using Catalyst 15.9 which is the last available AMD Catalyst driver for AMD 5xxx, but is rather old (September 2015).  If you are willing, I suspect you might do better with a recent radeonsi driver which supports Dota quite well on older AMD hardware.  I do recall a bug with an older Catalyst driver that caused shadows no

[2016-12-29 23:19] AngryPenguinPL commented on #1142
Thanks for the answer.

At the beginning, I'm sorry for the difficulty in understanding my post - English is not my native language.

To illustrate problem I recorded a video from bot game, showing this issue. Look it here:

https://www.youtube.com/watch?v=OCQFop9AuT8

Now answering questions:

No. I can play full match and still it look like this.

Don't know yet. I try it tomorrow.

EDIT: Ok, I

[2016-12-30 00:31] zandergrin commented on #1109
I am experiencing exactly the same issue - also on a macbook pro. Have been unable to get into a game since the update. Have posted log here http://dev.dota2.com/showthread.php?t=274330&p=1412533&viewfull=1#post1412533

Symptoms all the same, moment all 10 people accept the game freezes slightly, then drops back to home screen with an unable to locate game session bug.

I've re-installed the game,

[2016-12-30 01:07] c0rru commented on #1101
@kunalex please stop the spam. Valve did an amazing job for linux and mac os so far just wait for the fix. If you can't wait try to install windows with bootcamp until it works well again. (Should help)

I asked Apple about vulkan support in general 2 months ago but (sadly) got no answer yet :/ If they really rejected vulcan its really really bad for multi-platform support :/ Does someone got a re

[2016-12-30 04:08] wahmbulance commented on #1101
i might have to install windows boot camp on my imac. fml.

[2016-12-30 08:54] ghost commented on #1115
Were you able to find a solution to this yet? I'm having a similar problem.

[2016-12-30 10:05] tungnk1993 commented on #1115
@trogdor202 the problem disappeared for me automatically, not sure why. It lasted 2 days for me.

[2016-12-30 10:42] jp1995 commented on #1115
@trogdor202 Still occurs, no solution.

[2016-12-30 10:54] regs01 commented on #1115
If you get into 10v10 you'll see how bad it is. 7 to 10 players gets kicked every game after picking a hero.

[2016-12-30 11:35] jp1995 commented on #1115
@regs01 I don't think this is the same issue.

My disconnects are seemingly random, with high variations in intervals. For example, recently I got disconnected like 3 minutes into the game, but I've also gone 40 minutes without getting a disconnect. The average time remains around 15-20 minutes. Still, it happens at least once every game, but it's not tied to any specific event. I could just be st

[2016-12-30 11:55] regs01 commented on #1115
Still you disconnects mast likely like other are because of massive swap.

This happens every game
https://yadi.sk/i/ORyiyg5D35wAJ9

[2016-12-30 16:19] jp1995 commented on #1115
Tested on a clean install of Linux Mint, during 112 minutes of game time I did not get a single disconnect.

So this probably means that the issue is somewhere in my Arch system. And I have no idea where to look.

One interesting and glaringly obvious difference is in the Mesa drivers used, Mint currently uses 11.2.0 and Arch is on 13.0.2. However, it's in my mind unlikely that what is seemingly a

[2017-01-01 01:30] dufia commented on #1099
@gdrewb-valve hey, my suspicion that the unusual characters in my nickname (steam alias) were causing trouble proved correct.

Well. Spectator chat **works fine if I remove ʕ•ᴥ•ʔ from my nickname**.

I will mention that In the previous version of the UI, the ʕ•ᴥ•ʔ was not displayed correctly within game too. It was replaced with some random characters. I never really cared to be honest maybe it's

[2017-01-01 07:15] ghost opened #1143 "PLZ support Chinese input on linux"

[2017-01-01 14:53] kisak-valve commented on #1143
Hello @luzhengyang1995, are you using fcitx or ibus for input? What is the specific issue you are encountering? This issue was previously discussed on #50.

[2017-01-01 18:11] AngryPenguinPL commented on #1122
I get my old unused 2 GB RAM memory and use it. Now I have 2x2 GB 1800 MHz CL9 + 2 GB 1333MHz CL9. So I lose dual channel but it work for testing.

When I play dota with this exotic 6 GB RAM I have free about +- 2.20 GB RAM but still get massive lags...

[2017-01-02 01:09] gdrewb-valve commented on #1107
Closing as there are no new reports.

[2017-01-02 01:09] #1107 closed, assigned to gdrewb-valve

[2017-01-02 01:10] gdrewb-valve commented on #963
Closing as this doesn't appear active anymore.

[2017-01-02 01:10] #963 closed, assigned to gdrewb-valve

[2017-01-02 01:10] gdrewb-valve commented on #1038
Closing pending confirmation that there are still problems.

[2017-01-02 01:10] #1038 closed, assigned to gdrewb-valve

[2017-01-02 15:47] danginsburg commented on #1142
Thanks for the video.  So this issue still occurs for you with Catalyst 15.12?  If so, I will try to get setup to repro here.  It does look like when the screenshot is captured in the Steam Overlay that shadows get turned on.  I recall there being a driver bug on AMD OpenGL with shadows that I thought had been fixed (impacted Windows too), but perhaps it is still occurring if you see this on 15.12

[2017-01-02 15:56] danginsburg commented on #1142
Actually, I have confirmed this occurs even on AMDGPUPro 16.40 on RX480.  And I can confirm taking the screenshot in the overlay resolves the issue.  I'll look into it.

[2017-01-02 16:24] danginsburg commented on #1142
This also happens on Windows with AMD OpenGL on RX 480 16.12.1.  I narrowed this down to a glBlitFramebuffer call inside of the Steam Overlay that for unknown reasons causes the shadows to appear.  There is no logical reason why this should be the case, it appears to be an AMD driver bug.  I am going to follow up with AMD.

[2017-01-02 21:56] OZ-13MSX1 opened #1144 "[Linux][NVIDIA][OpenGL] Texture setting is ignored (always set to high)"
See title.  Regardless of what it is set to in the options the textures will be on high.  This can be changed during the game but loading up the next game will have the textures reverted back to high again.  This issue does not occur on Vulkan.

Below is my Steam system info.  Thanks for your help!

-----

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Deskto

[2017-01-03 00:00] gdrewb-valve commented on #1144
I don't see this behavior on my Linux box.  Can you post a gist of the console output when Dota starts?

[2017-01-03 00:42] OZ-13MSX1 commented on #1144
[code]

[2017-01-03 00:44] gdrewb-valve commented on #1144
Are you using an autoexec.cfg?  Do you have any launch options set?

[2017-01-03 00:49] OZ-13MSX1 commented on #1144
Yes, its contents are the following:
[code]

The only launch option I have set is "+con_enable 1"

[2017-01-03 00:52] gdrewb-valve commented on #1144
OK, I don't see anything conflicting there so it's unclear why your settings wouldn't save.  We'll have to see if other people have similar issues and we can find a common thread.

[2017-01-03 08:36] feelmyjoyfriend opened #1145 "[Mac OS] Setting hotkeys via Russian keyboard layout doesn't work"
On Mac OS (any versions) setting hotkeys via Russian (cyrillic) keyboard layout doesn't work. It works only on English keyboard layout.

[2017-01-03 14:02] kisak-valve commented on #1145
Hello @feelmyjoyfriend,

In the Advanced Hotkeys section of the settings you should be able to check the 'Bind keys based on keyboard position.' Does that setting let you set your keybindings how you want?

Previously reported for linux at #792.

[2017-01-03 17:19] gdrewb-valve commented on #1143
Closing pending more information.

[2017-01-03 17:19] #1143 closed, assigned to gdrewb-valve

[2017-01-03 20:53] AngryPenguinPL commented on #1101
In my case FPS is also bad. Before 7.00 game on high graphics working with with nice FPS. Now FPS is too low to comfortable playing.
Maybe this most issues is not related to graphics section but for other (maybe CPU?). Why? Because when I set graphics settings to low, I still get almost the same FPS like on high settings.

Can I somehow help in determining the reasons for decrease FPS? Maybe some

[2017-01-03 23:09] gdrewb-valve commented on #1139
The larger team has asked what item you were using, do you remember?

[2017-01-03 23:28] ghost commented on #1115
Found this youtube clip related to the same problem I'm having. Problem is, it's in Russian. So shot in the dark that anyone here speaks Russian fluently... But perhaps you'd have better luck than I understanding what they could be referring to.

https://www.youtube.com/watch?v=juO02SAfHE8

[2017-01-04 01:30] rudmint commented on #1139
Zeus arcana, adding kills inscribed gem.

[2017-01-04 01:43] gdrewb-valve commented on #1139
Was this during a hero demo, a bot game or a regular game?

[2017-01-04 02:27] rudmint commented on #1139
It was not during a game, from the main menu > Heroes tab > Zeus > right click arcana > Item details > add socket (or gem).

[2017-01-04 12:26] jp1995 commented on #1115
Well, I've solved the problem. I'm not entirely sure what the underlying cause is, but it works nevertheless.

@trogdor202 I couldn't understand anything but from context he was going through a bunch of windows network settings.

So that gave me the idea of checking mine. What I discovered was that I was not using Google's DNS servers as I believed, but rather my ISP's servers. This was due to net

[2017-01-04 17:27] gdrewb-valve commented on #1145
Closing pending more information.

[2017-01-04 17:27] #1145 closed, assigned to gdrewb-valve

[2017-01-04 17:28] gdrewb-valve commented on #1139
No repro here so far, we'll have to keep trying to make this happen.

[2017-01-04 18:37] ghost commented on #1115
@jp1995 Ah, that might make sense. Just yesterday I played at a different location than I normally do and had zero issues with it. Interesting. I'll give that a try. Last night I shut off my cable modem/router and plan on turning it back on this afternoon for an IP change. But i'll definitely give your suggestion a go. I'm thrilled to hear it worked. Thanks so much.

[2017-01-04 23:13] mastercoms commented on #999
I tried with the latest GNOME 3.23 release and it is working. However, fonts don't load properly and use a fallback font.

[2017-01-05 19:05] jp1995 commented on #1115
Something something celebrating too early..

Didn't play more on linux until today due to some unrelated issues. Problem occurs again. DNS is not related to the issue. Feeling kind of hopeless right now to be honest.

@trogdor202 Did this work for you?

[2017-01-05 19:08] ghost commented on #1115
@jp1995

Unfortunately i'm still having issues too. Like I mentioned, I played at a different location and had no problems, both on a different pc and also on a laptop that I normally play on that usually has this problem. I contacted my ISP and everything seems fine on their end and my net is fine with everything else I do.

But still having the issue when I play at home. Which is super frustrati

[2017-01-05 19:26] ghost commented on #1115
@jp1995

It couldn't be a possible router problem? I'm currently using a netgear cable modem router that I plug directly into.

[2017-01-05 20:01] jp1995 commented on #1115
@trogdor202 I mean, if it was a router problem then it would be prevalent on any system regardless of OS. The fact that it's working on Mint and Windows 10, and not working on Arch kind of disproves that, at least in my case.

When I have some time I'll do a fresh arch install and see if it persists there.

[2017-01-05 22:16] ghost commented on #1115
@jp1995
I just tested again, played on the same laptop, nothing changed, just a different locale. No problems. Not sure why the difference. I'd like to figure it out though, I'd like to have the freedom to play at home.

[2017-01-06 01:04] evaldobratti opened #1146 "[Linux] no brightness slider"
I have found #428, even though it's closed, there is no brightness slider in linux client

Mint 18.1/cinnamon

[2017-01-06 01:32] kisak-valve commented on #1146
Hello @evaldobratti, the brightness control is part of exclusive fullscreen mode, which is intentionally not provided by SDL on linux, noted at https://github.com/ValveSoftware/Dota-2/issues/63#issuecomment-189018420 for this issue. My current understanding is this is not going to change.

[2017-01-06 02:25] evaldobratti commented on #1146
I noticed that in windows the option is only available in exclusive fullscreen, but I thought it could be made available on linux in some way

Thanks for your answer and for your time :)

[2017-01-06 02:25] #1146 closed, assigned to nobody

[2017-01-06 09:51] admshao commented on #1061
I Can't say precisely in which update it fixed for me. But i'm pretty sure it was a week ago or so.
Thx

[2017-01-06 09:56] joshlopes commented on #1101
I can confirm that lately the game has been more stable for OSX on sierra with minimum settings. (didn't try defaults yet). I also opt to use cable instead wifi! not sure if has something to do with it too.

[2017-01-06 11:00] feelmyjoyfriend commented on #1145
Guys, it was so obvious and on the surface. Can't believe it. Tnanks, it really helped.

[2017-01-06 13:20] liuerfire opened #1147 "[macOS] Can't display Chinese text"
Show as the picture
<img width="1261" alt="screen shot 2017-01-06 at 21 02 08" src="https://cloud.githubusercontent.com/assets/745867/21718932/aca0e740-d455-11e6-8389-addeb2af4a8e.png">

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro11,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM)

[2017-01-06 17:47] gdrewb-valve commented on #1139
The larger team mentioned that they had made a change in the last update, does this still happen?

[2017-01-06 17:50] gdrewb-valve commented on #1147
Can you be more specific about what you're expecting to see?  I can't read Chinese but it appears like there is quite a bit of Chinese text in the picture.  If you can point out exactly what's wrong or missing that could help narrow down the issue.  A screenshot of the same thing with English would be good for comparison.

[2017-01-06 18:05] liuerfire commented on #1147
Hi, @gdrewb-valve thanks for the reply. The text in the red box are missing or shown as mojibake. It should be ”包含于珍藏中“。
<img width="1261" alt="screen_shot_2017-01-06_at_21_02_08" src="https://cloud.githubusercontent.com/assets/745867/21727533/cacd883c-d47c-11e6-9a1d-7ec0554f610b.png">
Below is the screenshot with English
<img width="1152" alt="screen shot 2017-01-07 at 02 03 14" src="https://clou

[2017-01-06 18:20] gdrewb-valve commented on #1147
Are there any other problems or is it only the prices where things have issues?

[2017-01-06 18:45] liuerfire commented on #1147
Yes. There are several problems that can't display Chinese characters correctly in the game.
1.  During the pick phase, if a player's name is written in Chinese and he sends some words in the chat box, the characters of his name is shown as "???" instead of the correct ones.
1.  In the game, if someone's statue is destroyed, the game message also can't display the player's name using "????" instea

[2017-01-06 19:40] BrendanBall commented on #1064
@gdrewb-valve apparently dota 2 does give a desktop notification on windows when unpausing. However this doesn't happen on Linux. The game is ready notification works fine and gets sent through libnotify so I'm pretty sure this is a bug. Can we open a separate issue for the unpause notification as this issue seems to be for the duplicate notification (which I haven't experienced.)?

[2017-01-06 19:49] xrisk opened #1148 "[macOS] can't connect to games"
I can't load into games after accepting a seek. I can't even spectate any games. I just return to the main screen and get the option to reconnect which does not work.

This problem is only occurring on **one account**. On another account, I can connect to games just fine... There is nothing in the console worth mentioning. What can I do to diagnose the problem?

The only error is: `
[ResourceSyste

[2017-01-06 19:50] gdrewb-valve commented on #1064
@BrendanBall you are welcome to open issues for anything you think isn't covered.

[2017-01-06 20:42] gdrewb-valve commented on #1148
This isn't a Mac issue, I've passed it on to the larger team.  They might have questions so keeping this open for the moment.

[2017-01-06 21:30] gdrewb-valve commented on #1148
According to the larger team your client is disconnecting itself (the #GameUI_Disconnect_User line).  If you validate your install does that help?

[2017-01-06 23:47] xrisk commented on #1148
Yes I have tried that, along with restarting my computer and steam :)

[2017-01-06 23:51] xrisk commented on #1148
I could paste more stuff from the console, but it seems like there is no way to way to copy large parts of text from the console, as it does not support scrolling while selecting.

[2017-01-06 23:55] gdrewb-valve commented on #1148
The larger team isn't sure what's going on.  They'll keep looking but there won't be much status here.

[2017-01-07 00:03] gdrewb-valve commented on #1148
Do you have any kind of .cfg file in use, launch options or any other modifications active?

[2017-01-07 00:09] xrisk commented on #1148
None. I will try reinstalling Dota though.

 Demo mode seems to work, as does queueing into a game through the lobby. Spectating does not work. I haven't tried to load into another game yet after failing twice, for fear of getting a long timeout. What's weird though is that spectating etc works fine on another account on the same computer. I have not tried loading into a game using the other accou

[2017-01-07 00:12] gdrewb-valve commented on #1148
Thanks.  The larger team is going to try and add some more checks to narrow down what's going on, they'll ship in a future update.

[2017-01-07 00:13] xrisk commented on #1148
Thanks for your help

[2017-01-07 05:34] liuerfire commented on #1147
@gdrewb-valve
<img width="145" alt="screen shot 2017-01-07 at 13 30 11" src="https://cloud.githubusercontent.com/assets/745867/21739703/8713d4be-d4dd-11e6-8f1a-8a7787b8a622.png">
During the pick phase, the player's name disappeared or showed as a mojibake in the chat box.

[2017-01-07 07:34] BrendanBall opened #1149 "[Linux] Unpause Desktop Notification"
Apparently dota 2 does give a desktop notification on windows when unpausing. However this doesn't happen on Linux. The "game is ready" notification works fine and gets sent through libnotify so I'm pretty sure this is a bug. The fact that I'm using unsupported Linux distro should be irrelevant seen as the "game is ready" notification works. Also I'm pretty sure someone can easily reproduce this o

[2017-01-07 16:22] rudmint commented on #1139
This issue has been fixed, thanks.

[2017-01-07 16:22] #1139 closed, assigned to nobody

[2017-01-08 08:26] shivaramkrs commented on #564
I happens to me, I restart the system and then it starts working.

[2017-01-08 17:29] kencals02 opened #1150 "Hero demo mode not working"
Clicks demo mode, loads then goes back to main menu saying "Unable to load map specified by server."

[2017-01-08 17:39] gdrewb-valve commented on #1150
Can you post your system info from Steam?  Have you verified your install?

[2017-01-08 19:45] jp1995 commented on #1115
@trogdor202 Do you use NetworkManager?

[2017-01-08 22:37] jacobaughtab opened #1151 "[OSX] Black Screens, Texture Glitches, and Crashes"
This is an issue I am experiencing on Mac.
The steps to reproduce most of these is simply to play the game, I'm not entirely sure of what I am doing to cause it but it happens in about 80% of my games. I will describe the three issues in order: the black screens, the lack of textures, and the crashes.

**Black Screen**
_Description:_ This happens after the picking phase typically. I have attached

[2017-01-09 01:27] kencals02 commented on #1150
Computer Information:
    Manufacturer:  MICRO-STAR INTERNATIONAL CO.,LTD
    Model:  MS-7529
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Pentium(R) Dual-Core  CPU      E5500  @ 2.80GHz
    CPU Family:  0x6
    CPU Model:  0x17
    CPU Stepping:  0xa
    CPU Type:  0x0
    Speed:  2799 Mhz
    2 logical processors
    2

[2017-01-09 01:44] kisak-valve commented on #453
Closing pending feedback.

[2017-01-09 04:19] gdrewb-valve commented on #1150
This tracker is only for Mac and Linux-specific bugs, you'll want to report this at dev.dota2.com

[2017-01-09 04:19] #1150 closed, assigned to gdrewb-valve

[2017-01-09 04:24] gdrewb-valve commented on #1151
Most of what you describe sounds like problems with Apple's OpenGL driver.  Aside from that do you have any failure reports listed in your Steam system information?  If they have CrashID responses we can take a look.

[2017-01-09 05:51] kencals02 commented on #1150
Oh ok

[2017-01-09 13:57] jacobaughtab commented on #1151
@gdrewb-valve,
Is there anything I can do to fix this OpenGL issue? Or is it another "Wait for Apple" thing? I can play most other games that claim to use OpenGL without fail, and it pains me that my favorite game is the only one I consistently have issues with.

[2017-01-09 13:59] kisak-valve commented on #1151
Hello @jacobaughtab,
Although not officially supported, you could give nVidia's web driver a try. http://www.macvidcards.com/drivers.html is an easy reference for matching your version of MacOS to a compatible driver version.

[2017-01-09 14:32] jacobaughtab commented on #1151
I'll check it out @kisak-valve! Maybe that will show some progress.

[2017-01-09 17:29] ghost commented on #1115
@jp1995
I'm not especially savvy, so I'm not sure.

I will say, I reset my cable modem router, just a hard factory reset, and since haven't had any problems. Occasional lag, but nothing like before, and I open the console when the lag hits and that error message no longer shows.

[2017-01-09 18:43] jp1995 commented on #1115
@trogdor202
Glad to hear that.

I played this FPS called Insurgency and I noticed a similar lagspike, occuring in a similar frequency. I searched wider, looking for anything that might cause lag spikes in multiplayer games and stumbled upon a reddit thread. Apparently networkmanager can cause such behaviour. I removed networkmanager and the problem appears to have disappeared.

If your problem ret

[2017-01-09 22:03] gdrewb-valve commented on #1148
Did you get any new messages or errors with recent updates?

[2017-01-09 22:08] xrisk commented on #1148
Hey, it was my fault all along. I had put `-override_vpk` in my launch settings and forgotten to remove it. Sorry for the inconvenience. 🙁

[2017-01-09 22:09] gdrewb-valve commented on #1148
Thanks for letting us know.

[2017-01-09 22:09] #1148 closed, assigned to gdrewb-valve

[2017-01-09 22:30] Vuccappella opened #1152 "[MAC OS] Using Microphone in-game causes huge lag spikes"
When I use my microphone in game (demo mode,actual game or anything) the game freezes for a good 2 seconds.

Recently I updated my operating system to the latest version 10.11.6 (64 bit), perviously I was on 10.11.2 so I suspect something happened in between.

Something else that I might suspect is the update of the Nvidia driver I'm using to work with the newest update of the OS, so I'll later te

[2017-01-10 02:14] Vuccappella commented on #1152
Issue seems to be resolved after the latest update, not sure how.No lag when using microphone.

[2017-01-10 02:30] kisak-valve commented on #1152
Thanks for the feedback @Vuccappella, closing for now.

[2017-01-10 02:30] #1152 closed, assigned to nobody

[2017-01-11 14:11] jp1995 commented on #1115
Dota works flawlessly! Closing the issue.

[2017-01-11 14:11] #1115 closed, assigned to nobody

[2017-01-11 16:07] ghost commented on #1115
I don't use networkmanager I don't think, but I'm glad that it worked alright for you!

[2017-01-11 23:26] sindrom91 commented on #1133
FPS drops don't actually seem to always be 15s. It looks like they start as 1-2s long and gradually prolong as the game progresses.

[2017-01-11 23:37] gdrewb-valve commented on #1109
Did this change with the recent update to increase connect time from 20 to 30 seconds?

[2017-01-12 01:59] gdrewb-valve commented on #1149
Jan. 11th's update should add these.

[2017-01-12 02:00] gdrewb-valve commented on #599
Jan. 11th's update should add the icon.

[2017-01-13 03:22] stattrak-dragonlore commented on #1151
I have same problems.
iMac 21.5

[2017-01-13 14:38] MasterSergius commented on #74
Still have the same issue with scrolling - on borderless it shows menu status bar and can scroll any direction but down. Xubuntu 16.04

[2017-01-13 17:01] gdrewb-valve commented on #74
That's expected with borderless windows, does it cover the menu bar if you use fullscreen?

[2017-01-13 18:07] AngryPenguinPL commented on #1122
Hey.
I still have this issue, albeit, FPS is already good. It still annoying me to this heavy lag and in many times my game completly freeze and I need reboot PC.
After adding additional RAM to 6GB. Memory is not use in full, and even not in half!
See my cpu and memory usage from ending playing game and quit game:
![desktop4](https://cloud.githubusercontent.com/assets/3121142/21940199/84bd40b6-d9c

[2017-01-13 22:08] gdrewb-valve commented on #1122
If your system completely freezes you have a system problem such as a bad driver.  Trying different drivers may change your experience.  That's about all you can do.

The larger team is still looking at perf across all systems.  As it isn't a Mac/Linux problem there won't be a lot of status here but hopefully their work will help your case.

[2017-01-13 22:21] admshao commented on #922
Nothing has changed for me. With -vulkan i'm unable to watch a game in the draft phase of Captains Mode. Like 9 out of 10 times. Always crashing on vulkan scaleform lib in dmesg. Same issue as before 7.00

[2017-01-13 22:23] admshao commented on #1149
Works for me now.

[2017-01-13 22:28] gdrewb-valve commented on #1149
Thanks, closing.

[2017-01-13 22:28] #1149 closed, assigned to gdrewb-valve

[2017-01-13 22:29] gdrewb-valve commented on #1121
You mentioned in 1122 that Dota is no longer consuming all of your RAM, is that correct?  If so I'll close this.

[2017-01-13 22:29] admshao commented on #1101
After a couple of days of a update that restored some fps for me. I still have to say that my gpu isn't being maxed out like it was before 7.00 and sometimes i still feel the game stutters a little bit whereas wasn't happening before.

It's sitting now between 50-60% and before was almost 100%. Maybe 7.00 changed something about async workloads? I know Dota is way harder on the CPU and Vulkan rend

[2017-01-13 22:31] gdrewb-valve commented on #922
Unfortunately Captain's Mode is still using scaleform so the crash is still going to happen.  Eventually the larger team will convert it as they've done with other game modes.

[2017-01-13 22:34] admshao opened #1153 "[Ubuntu]Dota is having a hard time registering all users inputs in the game"
I don't know how to explain this in a better way than this.

Armlet toggle sometimes doesn't tick. Tread switching eventually fails as well. In general, whenever there is multiple inputs almost at the same time eventually a couple of inputs seems to be lost. I had to say it wasn't that evident prior 7.0

[2017-01-13 22:47] gdrewb-valve commented on #1153
People are reporting this on all platforms, the larger team is investigating.  I don't have any status on what they're doing or if they've found issues, unfortunately, but hopefully future updates will improve things.

[2017-01-13 22:47] #1153 closed, assigned to nobody

[2017-01-13 23:03] AngryPenguinPL commented on #1121
Yes. Now it use much less RAM.
Thanks.

[2017-01-13 23:06] #1121 closed, assigned to gdrewb-valve

[2017-01-14 01:25] gdrewb-valve commented on #1147
The Jan. 13th update has some macOS fixes, can you retest?

[2017-01-14 01:26] gdrewb-valve commented on #1099
The Jan. 13th update has some macOS fixes for Unicode handling in chat, give it a try.

[2017-01-14 01:27] gdrewb-valve commented on #918
It turns out that the Captain's Mode code hasn't change to avoid this, so it'll probably still happen.

[2017-01-14 01:28] gdrewb-valve commented on #599
Assuming this is working, closing.

[2017-01-14 01:28] #599 closed, assigned to gdrewb-valve

[2017-01-14 01:46] liuerfire commented on #1147
Thanks for the work. It's normal now.

[2017-01-14 01:49] gdrewb-valve commented on #1147
Thanks, closing.

[2017-01-14 01:49] #1147 closed, assigned to gdrewb-valve

[2017-01-14 10:17] dufia commented on #1099
Its much better, thank you. Performance improved too.

[2017-01-15 16:08] Kentavr1982 opened #1154 "Linux - problems installing OpenGL support for DOTA 2"
"Required OpenGL extensoin "GL_ARB_separate_shader_abjects@ is not supported. Please update your OpenGL driver."

[2017-01-15 16:20] Kentavr1982 commented on #1154
Собственно обновляем OpenGL:
$ sudo add-apt-repository ppa:oibaf/graphics-drivers
$ sudo apt-get update
$ sudo apt-get upgrade
$ sudo apt-get install libegl1-mesa libegl1-mesa-drivers xserver-xorg-video-intel libgl1-mesa-dri libglapi-mesa mesa-vdpau-drivers

but...

Чтение списков пакетов… Готово
Построение дерева зависимостей
Чтение информации о состоянии… Готово
Заметьте, вместо «mesa-vdpau-driv

[2017-01-15 17:29] gdrewb-valve commented on #1154
As this isn't a problem with Dota itself this is outside the scope of this tracker.  I've edited the title to make it more clear it's an OpenGL installation problem and it's possible other users might have advice, but you'll want to ask on forums for your Linux distribution too.

[2017-01-15 17:45] kisak-valve commented on #1154
Hello @Kentavr1982, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```).

[2017-01-16 10:09] MasterSergius commented on #74
Oh, sorry. Yes, it works perfectly on fullscreen.

[2017-01-16 17:44] zeflap opened #1155 "[Linux] Dota2 fails to start with error in dialog box"
console output:https://gist.github.com/zeflap/c3d3bd16213aaf1a437633cf3ab5f5e7
sysinfo: https://gist.github.com/zeflap/fc5fea15ab1167766dd639ae9252bc25
Dialog: ![1484587000](https://cloud.githubusercontent.com/assets/4191012/21993481/ac12cade-dc23-11e6-8d65-f64ac23a2f0b.png)

This started after installing [this](http://www.dota2.com/news/updates/26842/) patch and reproduction is a matter of trying

[2017-01-16 18:03] kisak-valve commented on #1155
Hello @zeflap, the actual issue is "libudev.so.0: cannot open shared object file: No such file or directory" in the log.

The better way to resolve this is to compile a shim library which links against the system library like https://www.archlinux.org/packages/community/x86_64/libudev0-shim/ or https://gitweb.gentoo.org/repo/gentoo.git/tree/sys-libs/libudev-compat/files/udev_old.c while retaining

[2017-01-16 18:03] #1155 closed, assigned to nobody

[2017-01-16 18:20] zeflap commented on #1155
Oh, I failed to see that might be what's causing it, thanks.

[2017-01-16 18:42] zeflap commented on #1155
@kisak-valve Managed to fix the issue by making /usr/lib/x86_64-linux-gnu/libcurl-gnutls.so.4 a symlink to .so.4.4.0 again, which does sadly break Don't Starve Together, fwiw.

[2017-01-17 15:45] sylware opened #1156 "selecting "player perspective", while watching a live game, pulls down the kills/deaths/assists stat box"
I did post the bug on dev.dota2.com a long time ago, but no idea if it was taken into account, since it's seems to be a platform independent bug.

[2017-01-17 16:50] gdrewb-valve commented on #1156
Reporting it at dev.dota2.com is the right thing, it's not the kind of thing that would be handled here.

[2017-01-17 16:50] #1156 closed, assigned to nobody

[2017-01-17 18:20] tomekmarchi commented on #1151
Using nvidia drivers for mac and the game is unplayable. Lags the entire time nothing but frame skips even on the lowest settings possible.

[2017-01-17 18:24] tomekmarchi commented on #1101
The performance has never been worse for me in the current 7 patch on OSX. Tons of frame skips.

[2017-01-17 18:47] tomekmarchi commented on #1151
@gdrewb-valve It's highly unlikely the issues I'm facing relative to the above is an (OGL/Nvidia WD) problem.
Reasons
- The issues above aren't present across other games.
- The current OGL version/OS update/NWD worked flawlessly with a previous patch of Dota.
- The issues for me became blatantly apparent starting today.
- This is a reoccurring issue every few major patches. Eventually something g

[2017-01-17 19:31] danginsburg commented on #1151
We haven't been able to repro this yet.  I have a Macbook Pro 2012 with GTX 650M but does not repro there.  It seems maybe specific to the iMac which has 512MB 650M.  @tomekmarchi yours sounds like it is a hackintosh?  I'm not aware of which Mac has the GTX 960.  Could you folks try -gl_force_sm30 on the command-line and see if it helps?

[2017-01-17 19:47] gdrewb-valve commented on #1151
Note that it's not clear that tomekmarchi is experiencing the issues that this report covers, he mentions poor perf but nothing about black screens and crashes.

[2017-01-18 16:19] neronmoon commented on #305
That's quite disappointing, valve!

[2017-01-18 19:19] Kentavr1982 commented on #1154
i deinstall ubuntu and reinstall... new problem:

Steam needs to install these additional packages:
	libgl1-mesa-dri:i386, libgl1-mesa-glx:i386, libc6:i386
[sudo] password for evgeniy:
Sorry, try again.
[sudo] password for evgeniy:
..................................................................................................................................
Чтение списков пакетов… Готово
Постро

[2017-01-18 19:21] Kentavr1982 commented on #1154
evgeniy@evgeniy-Inspiron-3542:~$ sudo apt-get install ia32-libs
[sudo] password for evgeniy:
Чтение списков пакетов… Готово
Построение дерева зависимостей
Чтение информации о состоянии… Готово
Некоторые пакеты невозможно установить. Возможно, вы просите невозможного,
или же используете нестабильную версию дистрибутива, где запрошенные вами
пакеты ещё не созданы или были удалены из Incoming.
Следую

[2017-01-18 19:23] Kentavr1982 commented on #1154
restart ubuntu:

Steam needs to install these additional packages:
	libgl1-mesa-dri:i386, libgl1-mesa-glx:i386, libc6:i386
[sudo] password for evgeniy:
.................................................................................................................................
Чтение списков пакетов… Готово
Построение дерева зависимостей
Чтение информации о состоянии… Готово
Некоторые пакеты н

[2017-01-18 19:24] Kentavr1982 commented on #1154
In window:

error

You are missing the following 32-bit libraries, and Steam may not run:
libc.so.6

[2017-01-18 19:28] Kentavr1982 commented on #1154
After -- in менеджер обновлений: "launcher for steam software distribution service" --> install it

[2017-01-18 19:31] kisak-valve commented on #1154
@Kentavr1982, Dota 2 requires at least mesa 10.5.9 to work with the open-source driver. Please update to a distro release that supports this version or newer. Beyond that it appears you are encountering one or more distro-specific packaging issues which is outside the scope of this issue tracker. Please use the forums or reach out to your distribution's community for support.

[2017-01-18 19:31] #1154 closed, assigned to gdrewb-valve

[2017-01-18 19:42] Kentavr1982 commented on #1154
My version UBUNTU:

lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	**Ubuntu 12.04.5 LTS**
Release:	12.04
Codename:	precise
uname -r
**3.13.0-107-generic**

It's latest version:

sudo apt-get dist-upgrade
[sudo] password for evgeniy:
Чтение списков пакетов… Готово
Построение дерева зависимостей
Чтение информации о состоянии… Готово
Расчёт обновлений…Готово
обновлен

[2017-01-18 19:45] Kentavr1982 commented on #1154
How i install  mesa 10.5.9?
ppa?

my dist support mesa 10.5.9?

[2017-01-19 14:13] outtathefreezer opened #1157 "2-3 second freeze when "Purple Smeevil and Dyed Crab" courier appears from fog"
Match ID: 2925414387

I was playing on the Radiant Team in this battle and the enemy team had a courier called "Purple Smeevil and Dyed Crab" as seen on the following website http://dota2.gamepedia.com/Smeevil
Every time when the enemy courier came out of fog without having the camera directed to it (seen by wards or other heroes, etc) the game froze for 2-3 seconds. I can reproduce the issue with

[2017-01-19 23:19] gdrewb-valve commented on #1157
Can you give me a specific time reference in the replay where this occurs?  That'll help me test out exactly the same point that you are seeing the hitch at.

[2017-01-20 10:04] outtathefreezer commented on #1157
I've rewatched some part of the replays where I remembered the lags, only with the Radiant Team's vision on (player perspective / free camera doesn't matter, happens in both).
The timestamps are representing the time of the hangs, basically when the courier appeared in the Radiant Team's vision.

11:53 - courier appears at mid (creeps giving vision of it)

16:17 - courier heading to bot (in ward v

[2017-01-20 21:25] gdrewb-valve commented on #1157
Thanks for the detailed info.  My Linux box doesn't hitch at all when the courier appears but I'll check around and see if anybody else sees an issue.

[2017-01-21 11:11] migrome opened #1158 "Dota 2 crashes for some custom maps since today."
Some custom maps crash at random times. Usually it crashes pretty soon (couple of minutes after game starts, or even sooner). It worked fine until today.

1. Some custom maps work well (Epic Boss Fight, Vampirism). Some custom maps crash (Guarding Athena, Zhu Xian). Regular dota map doesn't crash.
2. The only thing that changed between yesterday and today that I can think of is the most recent Dot

[2017-01-21 13:22] kisak-valve commented on #1158
Hello @migrome, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report. Additionally, please include any CrashIDs or minidumps related to this issue. Minidumps can be compressed and drag-and-dropped into the comment section.

[2017-01-21 16:01] migrome commented on #1158
@kisak-valve ,

1. [System information.](https://gist.github.com/migrome/70e87f22ce751b771db0073e4ec03c1c)
2. CrashID=**bp-211aaa37-f8ba-4e11-9733-83e122170121** ([crash_20170122012555_1.dmp.gz](https://github.com/ValveSoftware/Dota-2/files/721262/crash_20170122012555_1.dmp.gz)).

[2017-01-21 17:15] BrendanBall opened #1159 "Portrait Avatar no longer targetable"
I use quickcast so I can't double tap abilities to self cast. Thus I have to use the portrait to self cast as it's the second quickest way to self cast. Imagine my surprise when my glimmer cape isn't working because the avatar is no longer targetable. I found there is a tiny area on the portrait that is still targetable. maybe like 1/15 of the portrait in a random location.
Can we please make the

[2017-01-21 17:19] gdrewb-valve commented on #1159
This isn't a Linux issue so it won't be handled here, the larger team will address it.

[2017-01-21 17:19] #1159 closed, assigned to nobody

[2017-01-21 18:18] kisak-valve commented on #1158
For reference, the attached minidump is a SIGSEGV in libclient.so (in Dota 2).

[2017-01-22 15:26] shbhmrzd commented on #1109
I am experiencing the same issue for the past one week. I am using a Macbook Pro,  Processor Name:	Intel Core i7,  Processor Speed:	2.2 GHz. I have played dota on this device conveniently before, but this issue keeps on pertaining.

[2017-01-22 17:32] gdrewb-valve commented on #1109
@shbhmrzd, do you get the "unable to locate game session" message?  Can you post your full console log as a gist here?

[2017-01-23 03:06] admshao opened #1160 "[Linux] No Microfone Sound when casting inside Lobby on Draft."
On the last 3 days during a broadcast inside Lobby some viewers reported that the microfone of casters wasn't working while in the draft in captains mode.

As soon as the game started all sound was just fine.

[2017-01-23 03:09] gdrewb-valve commented on #1160
Can you include a reference to a gist of your system info?  It's helpful to have it in every issue.

However this is likely not a Linux issue, I'll check with the larger team.

[2017-01-23 03:22] admshao commented on #1160
General info-> Ubuntu 17.04, Gnome 3.22, kernel 4.9.4

Steam Info -> https://gist.github.com/admshao/b5e19f1521d20e8ce3fda1d81984f080

[2017-01-23 15:49] Alexs7zzh opened #1161 "Dota 2 fullscreen window initialization on 2016 MacBook Pro"
I have just bought a MacBook Pro late 2016 today. And found Dota2 is unplayable. The screen crashes everytime I ran dota2. I have tried to reinstall dota2 but no help.
![screen shot 2017-01-23 at 11 30 40 pm](https://cloud.githubusercontent.com/assets/25302375/22211093/f0cbb14c-e1c6-11e6-9b4e-9d48ddf4e9a1.png)

[2017-01-23 15:55] kisak-valve commented on #1161
Hello @Alexs7zzh, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report.

[2017-01-23 16:03] Alexs7zzh commented on #1161
https://gist.github.com/Alexs7zzh/7be08f654a9516683b78830a535befef

[2017-01-23 16:25] gdrewb-valve commented on #1161
Does the system stay locked up with the red screen or is it still usable?

[2017-01-23 16:46] Alexs7zzh commented on #1161
The system locked up.
Inside the dota is fine, but I can't do anything beyond dota, unless I quit it.

[2017-01-23 16:55] gdrewb-valve commented on #1161
What video settings are you using?  If you're using a fullscreen mode and switch to windowed does the system function normally in addition to Dota?

[2017-01-23 20:53] gdrewb-valve commented on #1158
We've found the cause of this crash and a fix will be in the next update.

[2017-01-23 20:55] gdrewb-valve commented on #1157
I haven't found people seeing this at Valve but that could just be due to us having different computer configurations than you.  I'll leave this open to see if we come up with more info in the future.

[2017-01-23 20:56] gdrewb-valve commented on #1160
The larger team had a question: did you notice this while watching DotaPit matches?  They also mentioned that it's common for tournaments to have the analysts desk cast the drafting phase then switch to the in-game casters after the draft.

[2017-01-23 21:16] kisak-valve commented on #1157
I can reproduce this issue on my E-350 (another dual core r600g) system running Gentoo Linux (no steam runtime). Nothing of interest in the console.

System Info: https://gist.github.com/kisak-valve/7fec2856b731d2efd647420354e993e1
![initial result unclear](https://cloud.githubusercontent.com/assets/24358216/22224057/454ac7b2-e18b-11e6-90aa-7ed5bbafe7a6.png)

[2017-01-23 22:31] admshao commented on #1160
While Broadcasting DotaPit. I did the official coverage in PT_BR inside the
lobby so it was our mics that wasn't working while on draft. Our viewers
reported on twitch chat and than i could confirm that while on Draft phase
the Sound indicator on the right corner of the screen was always muted and
as soon as the heroes entered the game all started to work fine.

2017-01-23 18:56 GMT-02:00 Drew Bli

[2017-01-23 23:04] gdrewb-valve commented on #1160
Thanks, I've passed this on and the larger team will take it from here.  I'm not sure if there'll be more direct feedback.

[2017-01-24 02:58] gdrewb-valve commented on #1158
The Jan. 23rd update should have fixed this, are you still seeing problems?

[2017-01-24 03:12] Alexs7zzh commented on #1161
I tried "-windowed" but didn't work.

[2017-01-24 05:51] gdrewb-valve commented on #1161
To start windowed use the launch option -sw.  You can set the window width and height with -w and -h.

[2017-01-24 05:52] gdrewb-valve commented on #1161
Also, as you said that Dota is fine, you can change your video settings directly in Dota.

[2017-01-24 06:02] Alexs7zzh commented on #1161
yeh windowed use is fine, although it opens as a window as big as a fullscreen...
So what should I do next? Or just play in windowed mode... Thanks!

[2017-01-24 06:08] gdrewb-valve commented on #1161
Were you using exclusive fullscreen or desktop-friendly fullscreen?  If you try the other kind of fullscreen does that work?

Dota uses SDL to handle fullscreening so I'll assign this to the SDL dev.

[2017-01-24 06:11] Alexs7zzh commented on #1161
I haven't set any kinds of fullscreen before. Just installed it and ran it. So...
How can I figure out what kind of fullscreen I am using?
And how to change it?
Thanks a LOT.

[2017-01-24 06:14] gdrewb-valve commented on #1161
Click on the gear icon on the upper-left of the main menu to get to settings.  Select the video settings and on the left-hand side you'll see what it chose for you.  If you are using defaults it should be desktop-friendly fullscreen (unless you start with -sw, which will override the settings).

[2017-01-24 06:28] Alexs7zzh commented on #1161
Thank you! The problem is solved!
BTW, a small problem left. Can I customize the mouse size?
<img width="326" alt="screen shot 2017-01-24 at 2 26 30 pm" src="https://cloud.githubusercontent.com/assets/25302375/22236555/53a76160-e241-11e6-95e7-d78b434b8216.png">

[2017-01-24 06:28] Alexs7zzh commented on #1161
I think this is far too big..

[2017-01-24 06:37] gdrewb-valve commented on #1161
Go to the Options part of settings and in the lower-right turn off "Automatically choose cursor size" and slide the Cursor Size slider to whatever size you prefer.

[2017-01-24 06:52] Alexs7zzh commented on #1161
Thank you!

[2017-01-24 08:58] migrome commented on #1158
No, works fine for me. Thank you.

[2017-01-24 13:40] kisak-valve commented on #1158
Thanks for retesting, closing.

[2017-01-24 13:40] #1158 closed, assigned to gdrewb-valve

[2017-01-24 15:28] gvr1421 opened #1162 "MAC OS Steam overlay not responding for Dota 2 and CS:GO"
Hi. I launched DotA 2 yesterday, found game and started to play it. When i was moving camera fps was jumping from 90 to 30 and then dota suddenly hanged out. I couldn't click anything. Only way to close the game was closing it with cmnd+options+escape. I tried to rc the game but was getting same problem every time (finally I got low priority). Then i tried to play with bots and i got the same prob

[2017-01-24 15:39] kisak-valve commented on #1162
Hello @gvr1421, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a gist, then include a link to the gist in this issue report. If you happen to find any CrashIDs or minidumps related to this issue, please include them as well.