[2015-10-07 19:06] danginsburg commented on #363
No, the fix has not shipped yet.

[2015-10-07 19:12] Shad3w commented on #483
CreateDevice: Requested DX level 110, clamped to DX level 95
Graphics Device changed, resetting video config
(16): Setting setting.cpu_level to 0
(9): Setting setting.mem_level to 2
(10): Setting setting.gpu_mem_level to 0
(10): Setting setting.unsupported to 1
Video Card dxsupport (1002 : 94c8)
(457): Setting setting.defaultres to 640
(457): Setting setting.defaultresheight to 480
(457): Setting

[2015-10-07 19:18] Tele42 commented on #483
I think the key detail here is the 128MB of vram, which is painfully low for this game engine.

[2015-10-07 19:20] Shad3w commented on #483
Well it was certainly enough for source 1, and if I recall wasn't source 2 supposed to run better?

[2015-10-07 19:41] danginsburg commented on #483
Can you try starting the game and at the main menu bring up the console and type r_texture_pool_size 200 and then see if it helps?

[2015-10-07 20:26] Shad3w commented on #483
That let me load in just fine, yeah. Still that lag spike when all the heroes load in, but hey, at least I don't time outl

[2015-10-07 21:43] danginsburg commented on #483
OK, good.  We actually already had a fix going in for this issue which will force r_texture_pool_size to 200MB on low memory systems.  It will be in a future release.

[2015-10-07 23:30] kschoener commented on #227
My overlay still doesn't work on El Capitan. Has anyone found a solution yet?

[2015-10-07 23:51] danginsburg commented on #227
See #526.

[2015-10-08 06:16] Gordon01 commented on #473
Same problem for me, and this is very serious.
Plz, fix!

[2015-10-08 07:01] AphidGit opened #540 "[linux] Graphics related crash when using ability in custom game."
This is a re-post of an issue to the linux tracker list that happens in certain circumstances when playing custom games. See this thread at the developer forums for attached crash dump: http://dev.dota2.com/showthread.php?t=182850.

Edit: This is a link to the thread for the Workshop: Custom game authors discovered the bug is related to using openGL, so it can happen on the Windows version too: ht

[2015-10-08 07:23] mfilej commented on #237
Awesome! :heart_decoration:

[2015-10-08 13:29] djaney opened #541 "Dota2 Reborn on linux executing windows path"
I'm on ubuntu 14.04. I try to run dota 2 on steam and says "missing executable".

In logs it seems to be trying to execute a windows path:
[2015-10-08 21:27:05] Failed running app 570 (missing executable "/home/zeratul/.local/share/Steam/steamapps/common/dota 2 beta/game/bin/win32/dota2.exe"

[2015-10-08 13:41] danginsburg commented on #473
Please try adding the following to your command-line and let me know if this fixes it for you: -input_button_code_is_scan_code

[2015-10-08 13:50] danginsburg commented on #541
Duplicate of #439.  I assume you are on Ubuntu 32-bit?  We do need a better error message, but Dota 2 is only supported on 64-bit Linux now.

[2015-10-08 13:53] danginsburg commented on #467
Duplicate of #473?  Does -input_button_code_is_scan_code on the command-line resolve the issue?

[2015-10-08 13:53] danginsburg commented on #465
Is this in Exclusive Fullscreen?  Does it work in Desktop Friendly Fullscreen?

[2015-10-08 13:55] danginsburg commented on #421
Does adding -input_button_code_is_scan_code to the command-line resolve the issue?

[2015-10-08 13:56] danginsburg commented on #421
Possible duplicate as #473

[2015-10-08 13:58] lithiumcool commented on #473
@ danginsburg

I've added string you provided to Dota launch option command line and it fixed my problem.
Macbook Air 13^ El Capitan

Thank you!

[2015-10-08 13:58] danginsburg commented on #540
Could you post your system info with Steam -> Help -> System Information?  Does the problem occur if you use Sniper R in Demo Hero mode or just in the Custom Game?

[2015-10-08 13:59] danginsburg commented on #540
Also, if you could run with -con_logfile and post the contents of game/dota/console.log when the bug occurs that would help.  I took a look at the crash dump, but it didn't seem to be the same case you caught in the debugger.

[2015-10-08 14:00] danginsburg commented on #473
OK, we will work on a better fix that automatically enables this mode, but for now please use this as a workaround.

[2015-10-08 14:33] titeo1998 commented on #474
It was fixed when I updated my PC to Windows 10. Thank you!

[2015-10-08 14:41] danginsburg commented on #457
This is fixed on OS X, will track for Linux in #488.

[2015-10-08 14:41] #457 closed, assigned to danginsburg

[2015-10-08 14:43] danginsburg commented on #485
I am unable to repro this bug currently.

[2015-10-08 14:44] #474 closed, assigned to nobody

[2015-10-08 15:05] cyrilvoynov opened #542 "[OSX] Unable to download the Compendium"
![2015-10-08 20 05 11](https://cloud.githubusercontent.com/assets/14957336/10370375/e7c59b74-6df7-11e5-89d2-c6aa5fb3e139.png)
Everything works fine but after some updates today i can't even use my Compendium.

El Capitan 10.11.1, Macbook Air 5,2

[2015-10-08 15:59] cyrilvoynov commented on #542
Alright, sorry. Now it seems like everything okay.

[2015-10-08 16:41] #542 closed, assigned to nobody

[2015-10-08 16:45] #541 closed, assigned to nobody

[2015-10-08 21:56] AphidGit commented on #540
Report info:

[code]

The issue only happens in custom game. Other people that use openGL also have this issue.

Attached is a screenshot of what happens with the debugger attached.
![distortion](https://cloud.githubusercontent.com/assets/4745077/10381047/24399f5e-6e18-11e5-9922-6fd53c599dc0.jpg)

[2015-10-08 22:01] AphidGit commented on #540
Here's the contents of the console.log file:

[code]

[2015-10-09 04:05] admshao commented on #515
I was able to get my pc frozen again.. Datetime was October 09, 00:20ish log time.
Again, Only happens in Dota. CSGO and Portal is just fine. I can play for hours.

so i was running with -con_logfile and here is the dota log https://gist.github.com/admshao/0fbc3f297f9bcea77990

Screen, keyboard, mouse, all unresponsive.
Video was stuck on last frame and Audio was in a loop off the last 100ms or so

[2015-10-09 09:24] Gordon01 commented on #473
OK, this workaround works for me perfectly, thank you, Valve :)

[2015-10-09 12:40] danginsburg commented on #515
This looks like a GPU hang.  The console log indicates we are waiting on a query that never returns from the GPU.  Your syslog also indicates a GPU hang.  You are on NVIDIA 346.96, can you try updating to NVIDIA 355.11 from here: http://www.geforce.com/drivers/results/90393  You might also try enabling vsync to see if it has any impact on the hang.

Here are the relevant bits from syslog:

9 00:15

[2015-10-09 12:41] danginsburg commented on #515
Another thing definitely worth trying is running with the command-line option -gl_disable_buffer_storage

[2015-10-09 13:22] Anderson-Juhasc opened #543 "[Ubuntu] Locking the screen when using alt + tab command"
The game works perfectly, but when I use the alt + tab often the game freezes and have to restart your computer.

[2015-10-09 13:31] ghost commented on #13
Also confirming that "-sdl_displayindex 2" works for me on Linux Mint 17.2 with Cinnamon (2 monitors), thanks

[2015-10-09 13:48] Tele42 commented on #543
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

[2015-10-09 14:27] ghost opened #544 "Is it possible to avoid joining chat rooms of my city?"
Subj. That's really annoying...

[2015-10-09 14:36] danginsburg commented on #544
This tracker is for Linux/OSX bugs, closing.  There is an option for this in Options called "Join regional chat channel on startup".

[2015-10-09 14:36] #544 closed, assigned to nobody

[2015-10-09 15:11] mjstahlberg opened #545 "Not all teammates are displayed in menu if sixth player coaches."
When a sixth player (who wasn't the sixth to join the group) becomes a coach, only five players are displayed in both the upper and lower team listing visible in the main menu. The players displayed differ, with a different player missing in each listing. See the image for the exact listings. The numbers in the image are chosen according to the order in the upper listing. This is on the linux clie

[2015-10-09 15:59] ruliane commented on #13
I tried -sdl_displayindex -1, 0, 1, 2, 3... but Reborn still launches on my left monitor, whereas my primary monitor is on the right. :(
Running Mint 17.2 with MATE 1.10.2.

[2015-10-09 16:50] Yunoo commented on #473
Gonna test it soon and write back.
Thank you for your response!

UPDATE
Haven't had any problems afterwards. Shortcuts are working.

[2015-10-09 21:15] Anderson-Juhasc commented on #543
OS: Ubuntu 15.04
Processor: INTEL CORE I7 HASWELL - 4710MQ 2.5 GHZ, 6MB CACHE (3.50 GHZ)
Video: NVIDIA GEFORCE 840M GPU (2GB)
Drive: NVIDIA version 346.96 nvidia-346-updates

[2015-10-10 02:41] gxgani opened #546 "Command Tab'in doesn't restore focus to Dota 2"
Firstly, thank you for fixing the desktop space! Now to the issue, I am unable to restore focus on desktop space using command+tab.

Secondly, Is "Exclusive Full-screen" supposed to be unresponsive to command+tab keys? What I assumed was **Exclusive Full-screen** should be using the Desktop space and **Desktop Friendly Full-screen** to minimize upon losing focus.

OSX 10.11
Intel HD4000

[2015-10-10 11:31] MrTheSoulz commented on #533
Mine wont even open, stuck downloading at 100%

[2015-10-10 14:57] barkovv opened #547 "[linux] Key press are not handled if game was launched with non-US keyboard layout"
So, if I launch game with non-US keyboard layout, spells can't be casted by using keybord, but writing chat messages is still avaible in this case.

[2015-10-10 14:58] barkovv commented on #547
Some info if you need it:
Archlinux (KDE5)
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3800 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41

[2015-10-10 18:13] Enigma7ic commented on #546
Yup, having the same issue. Have to restart the client every time I accidentally Alt-Tab (force of habit).

Really annoying!

This is on El Capitan

[2015-10-10 19:54] leg0las-devel commented on #547
I confirm it, abilities/items not work, but shop/courier work fine. Gentoo x86_64, KDE 4.14.8, locale ru_RU.UTF8.

[2015-10-10 23:03] danfmaia commented on #546
Same here. Can't restore focus on client after command+tabbing out of it. I'm on El Capitan also. But this bug is happening only since yesterday, after a bugfixing patch.

[2015-10-11 00:22] Maixy commented on #546
Same issue on El Capitan!  Would love to see this resolved

[2015-10-11 04:22] jamorton commented on #546
Also having this issue on El Capitan.

For now, I found a temporary fix that doesn't require restarting dota:  maximimize another window so it slides over into a new workspace. Then, alt-tab back into Dota 2 and it should appear.

[2015-10-11 04:27] griffin144 opened #548 "[OSX] Dota 2 Hero Menu Constantly Shuffling"
On the hero menu, I am not able to select any hero because the game is always shuffling them, I have no idea how to fix this. Also when I click of my friends list the scroll bar scrolls all the way down and then I can't scroll back up, it is a very frustrating glitch, has anyone had the same issue?

[2015-10-11 06:17] Yunoo commented on #547
Try to add -input_button_code_is_scan_code to the command-line while starting Dota.

[2015-10-11 10:51] gumacahin opened #549 "White noise, audio distortion and eventually silence as I play a match."
This started with the recent patch. Ten to fifteen minutes into a match I get a noticeable white noise. Ten more minutes and all audio gets a little distorted. Ten more minutes and it's just noise. Ten more minutes and it's silence.

Model Name: Mac mini
  Model Identifier: Macmini7,1
  Processor Name:   Intel Core i5
  Processor Speed:  2.6 GHz
  Number of Processors: 1
  Total Number of Cores:

[2015-10-11 14:11] barkovv commented on #547
Thank you. -input_button_code_is_scan_code CLI option fixes the problem.

[2015-10-11 14:11] #547 closed, assigned to nobody

[2015-10-11 16:24] albertwidi commented on #515
-gl_disable_buffer_storage and Vysnc On works for me.

Ubuntu Gnome 15.10 Beta 2
Intel 2600K
NVIDIA 660TI - 355.11

So, what is the root of the problem? Driver or Dota2 bugs?

[2015-10-11 17:02] biji opened #550 "Network lag each 5 minutes"
When playing dota2 reborn,  I get network lag each +-5 minutes, ping get so high (3000ms).
while using same internet connection (tethering) I can play smooth on original dota2

workaround:
sv_cheats 1
cl_upspeed 100

[2015-10-11 17:43] Tele42 commented on #547
Okay, so that makes this a duplicate of #473. (for reference)

[2015-10-11 19:50] pradeeproark opened #551 "Reborn client crash, dynamic_cast error"
The client crashes after clicking Accept to join a match, Trying reconnect keeps throwing the following error in console

[code]

MBP, OSX Yosemite.

In the abandon Q now because of this.

[2015-10-11 19:52] pradeeproark commented on #551
Processor Information:
    Model:  MacBookPro11,3
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x46
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2300 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    S

[2015-10-12 02:21] muff1nman opened #552 "Cannot resize screen using window manager on Linux"
Was working fine for the past couple months and just today I cannot resize the window. If I do, I lose all control and have to kill -9 the process.

[2015-10-12 02:29] muff1nman commented on #552
Ah, I remembered I just upgraded Catalyst this last week. 90% sure that is what the "problem" is.  14.20 is what I upgraded to. I do not remember what is was last.

[2015-10-12 05:25] kolobos opened #553 "Camera drag (with middle mouse) stops at the edge of the screen"
**Edit: invalid issue submit, same behavior as on Windows, can be removed**

**System information:**
1. Gentoo Linux with Xmonad windows manager (2 screens configured with xrandr).
2. RadeonSI drivers (open-source) on AMD HD 7790 (Bonaire XT).
3. Using "x11-drivers/xf86-input-mouse" for mouse input.
4. Mesa 11.0.3 and LLVM 3.7.0.
5. QT: dev-qt/qtcore-4.8.6-r2 and dev-qt/qtcore-5.4.2

**What happen

[2015-10-12 05:46] #553 closed, assigned to nobody

[2015-10-12 08:55] DARKTHUNDER opened #554 "Dota 2 after reborn update has some terrible pathfinding issues."
Scenario 1: While we move the screen towards some direction ( while moving the fps is 2x the fps that we are playing at and after we stop the frame rate reduces to playing rate ( must not happen )

Scenario 2: While using courier at shift queuing like Fetch items and Transfer items : the courier goes to the fountain ( a minor delay in getting the items into the courier ) then the courier (invariab

[2015-10-12 09:54] wintermelons opened #555 "Dota freezes right after loading screen in xmonad and herbstluftwm"
Dota was working fine before yesterday's patch.

Using Arch Linux (latest), 64 bit, with 32-bit steam over current latest proprietary NVIDIA driver. Window manager is Xmonad.

[2015-10-12 12:28] Wusch commented on #546
I have the same problem if press alt + tab and want to go back i hear the dota sound and see the dota cursor. But nothing else.

[2015-10-12 13:36] PUPAS commented on #465
I'm sorry, I did not understand your answer. The buttons"fn", "ctrl", "alt", "cmd" do not work in any mode. As if they do not exist.

[2015-10-12 13:47] danginsburg commented on #555
Possible duplicate of #359.  Can you try running with -sw on the command-line?  We have previously seen that dota loads just a black screen in fullscreen mode on xmonad.

[2015-10-12 14:15] gdrewb-valve commented on #13
I think it's time to split this issue as we have a few different things going on.  For those of you where -sdl_displayindex 2 works and you only have two monitors can you try the SDL display info test?

sudo apt-get install libsdl2-dev
wget https://hg.libsdl.org/SDL/raw-file/9f0a0c7de41a/test/testdisplayinfo.c
gcc testdisplayinfo.c `pkg-config --cflags --libs sdl2`
./a.out

Does it show two monito

[2015-10-12 14:18] gdrewb-valve opened #556 "Linux: Some window managers automatically move windows between monitors if the window doesn't fit"
When creating a window that has the same size as a monitor the window may not fit due to window decorations or space taken for a dock/tray/etc.  Some window managers will move the window to a monitor where it can fit in that case.  Reborn will not have the correct monitor info as it doesn't realize that it did not get its window in the place it wanted.

Splitting this specific case from issue #13,

[2015-10-12 14:19] gdrewb-valve commented on #13
For the cases where the window manager appears to be moving windows between monitors when they can't fit I have opened issue #556.

[2015-10-12 14:19] gdrewb-valve commented on #13
I'll close this issue in favor of the more-specific issues once we have more-specific issues opened.

[2015-10-12 14:23] gdrewb-valve commented on #30
Note that in the Advanced section of hotkey settings you can select to allow the Windows / Command key to be bindable.

[2015-10-12 14:24] gdrewb-valve commented on #54
This has been considered low priority as it only impacts a couple of specific points in the UI.  Is it causing you an issue playing the game?

[2015-10-12 14:27] gdrewb-valve commented on #143
An update added the -input_button_code_is_scan_code command-line option which switches things to something like Source 1 (note that switching between using this and not using it may invalidate your key bindings).  If you try it does it work the way you want?

[2015-10-12 14:30] gdrewb-valve commented on #189
Closing pending repro info.

[2015-10-12 14:30] #189 closed, assigned to nobody

[2015-10-12 14:31] gdrewb-valve commented on #552
How are you resizing the window, by choosing new video settings or with a window manager override (the window is not normally resizable)?

[2015-10-12 14:32] gdrewb-valve commented on #554
Can you post your system information from Steam?

[2015-10-12 14:34] gdrewb-valve commented on #550
Can you post your system information from Steam?

[2015-10-12 14:37] gdrewb-valve commented on #545
Probably not Linux-specific.

[2015-10-12 14:40] gdrewb-valve commented on #546
Exclusive full screen should ignore Cmd+Tab, at least that's what the SDL devs said a while back.  Are you all using exclusive or desktop-friendly or windowed?

[2015-10-12 14:41] gdrewb-valve commented on #548
Can you post your system information from Steam?

Do you have any kind of joystick, controller or extra input device plugged in beyond a mouse and keyboard?  Are your mouse and keyboard completely standard or special gaming models?

[2015-10-12 14:44] gdrewb-valve commented on #50
@RenanOliv, if you start with -input_button_code_is_scan_code does that make a difference?  That should switch Reborn to using scan codes underneath, which may or may not help you.

This has nothing to do with IMEs, just for clarity with the overall issue.

[2015-10-12 14:45] gdrewb-valve commented on #212
Is this still happening?  I saw something from the larger team that a fix had been made in this area.

[2015-10-12 14:50] gdrewb-valve commented on #238
Is this still happening?  I saw something from the larger team that they had made a fix related to restoring a cursor grab after losing focus.

[2015-10-12 14:52] gdrewb-valve commented on #241
Does anybody have a consistent repro for this?  Can anybody else confirm the left Alt vs. right Alt behavior that reportados123 mentions?

[2015-10-12 14:55] gdrewb-valve commented on #276
Is this still happening?

[2015-10-12 14:58] gdrewb-valve commented on #294
As far as I know there isn't a way for Reborn to fix the issue.  If the operating system doesn't allow network access then Reborn is out of luck.  It's possible that Reborn is doing something wrong in some way but this appears to be limited to just a few people and we don't have a repro here at Valve so it's difficult to make progress.

[2015-10-12 14:59] gdrewb-valve commented on #316
Closing as this isn't a Linux or Mac issue and we've passed it on to the larger team.

[2015-10-12 14:59] #316 closed, assigned to nobody

[2015-10-12 15:00] gdrewb-valve commented on #548
See also #318 for something somewhat related.

[2015-10-12 15:01] gdrewb-valve commented on #319
An update added the -input_button_code_is_scan_code launch option which changes Reborn to work more like Source 1 Dota 2 where key bindings are not sensitive to keyboard layout.  Does that work more like what you are expecting?

[2015-10-12 15:03] danginsburg commented on #237
Fix has been released.  Closing.

[2015-10-12 15:09] MaikuMori commented on #13
So I'm one of those for whom `-sdl_displayindex 2` parameter fixes the issue.

Here's the output from `testdisplayinfo`:

[code]

For reference this is how my windows are aranged in `Gnome 3`:

![screenshot from 2015-10-12 18-11-25](https://cloud.githubusercontent.com/assets/28470/10431262/d690415c-710c-11e5-93df-43dc8ec787cc.png)
_Primary display is on the left._

[2015-10-12 15:10] Pharmasolin commented on #319
I will test it right now.

[2015-10-12 15:10] gdrewb-valve commented on #198
sekjun9878, what window size are you using and on what size monitor?  Are you using a window border or not?

[2015-10-12 15:11] gdrewb-valve commented on #368
I have reopened #198, closing this duplicate.

[2015-10-12 15:11] #368 closed, assigned to nobody

[2015-10-12 15:18] Pharmasolin commented on #319
Yes, tested with Russian layout, it worked as i expect. Will this be available later without launch option?

[2015-10-12 15:20] gdrewb-valve commented on #319
It's likely this will get UI in settings but that's up to the larger team as this isn't a Linux or Mac issue.

[2015-10-12 15:23] Pharmasolin commented on #319
Ok, thanks for this launch option anyway, i'm as a user from no EN_US/UK etc layout want this by default, for example i want to write something in chat in Russian and then use spell i need change layout. Or if i will bind Russian layout, and in team will be some one who understand only English, i need change layout again this is very uncomfortable.

[2015-10-12 15:23] gdrewb-valve commented on #13
@MaikuMori, that's even stranger as you only have two displays so display index 2 is invalid and SDL should just end up returning 0,0 for its position.  In your case that should be the same as display index 0.  What video mode and size are you using and on what monitor?

Also, can you force things to use the libSDL2-2.0.so.0 in the Reborn directory (if you weren't already) just to see if it's some

[2015-10-12 15:24] #237 closed, assigned to danginsburg

[2015-10-12 15:29] gdrewb-valve commented on #551
This apparently happened with Source 1 Dota 2 also.  The larger team is taking a look.

[2015-10-12 15:33] gdrewb-valve commented on #364
Both of these spew items should be fixed now, is this issue still active?

[2015-10-12 15:34] gdrewb-valve commented on #369
Closing pending more info.

[2015-10-12 15:34] #369 closed, assigned to nobody

[2015-10-12 15:35] gxgani commented on #546
@gdrewb-valve currently desktop-friendly. May I know what actually exclusive full screen is meant to do? Is it suppose to cut off the gpu processing of desktop and utilize it completely for the game?

[2015-10-12 15:41] DARKTHUNDER commented on #554
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  2494 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-10-12 15:45] gdrewb-valve commented on #377
This apparently also happens on Windows, passing along to the larger team.

[2015-10-12 15:45] AngryPenguinPL opened #557 "[Linux] game freeze when I try get to menu when play match (after latest patch)"
Hi.

After latest patch I get many Dota 2 issues. One biggest is freezing game when I play match and try look at menu (I dead and want to check to main menu for chat or etc). When I click on icon menu (this is left up corner) game instant freeze. I cant anythink, game not response. I cant alt+tab, I cant alt+f4, all is freeze only mouse coursor and music works.
Only hope is killing xserver or pres

[2015-10-12 15:47] gdrewb-valve commented on #554
This issue tracker is for problems that only occur on Linux and Mac.  I've passed your report on to the larger team and you can also post on the regular Reborn forums (dev.dota2.com).

[2015-10-12 15:47] #554 closed, assigned to gdrewb-valve

[2015-10-12 15:48] gdrewb-valve commented on #377
This is supposed to be fixed now, closing.

[2015-10-12 15:48] #377 closed, assigned to gdrewb-valve

[2015-10-12 15:49] gdrewb-valve commented on #551
The larger team thinks they might know what's going on, but this won't be tracked here as it's not a Linux / Mac issue.

[2015-10-12 15:49] #551 closed, assigned to gdrewb-valve

[2015-10-12 15:51] AngryPenguinPL opened #558 "[Linux] When game is end and should see score game very laggly from fewer seconds (after latest patch)"
Hi.

After latest patch I get many laggly in dota2. In many case after we win or lose and main building is destroing. I should see score window or compendium window I get big lag. Music works, coursor works but game is freeze and after 5-15 seconds game lag is gone.

This issues I have also in other game parts. I play and I get this big lags (this is strange). This look like all game freeze, but a

[2015-10-12 15:52] gdrewb-valve commented on #546
Exclusive fullscreen basically means "devote my computer to running the game".  It will do things like change resolutions and such that make switching away from the game slower and harder.  Generally operating systems do get out of the way in that case and you can get a little more perf, particularly if you are using a resolution lower than the desktop resolution.

[2015-10-12 15:54] gdrewb-valve commented on #557
Having the whole system lock up suggests that the video driver may not be working properly, you may want to try different AMD drivers.

[2015-10-12 15:57] AngryPenguinPL opened #559 "[Linux] Big ping in all servers and huge internet usage when I start game"
Hi.

When I play in Dota2 (source1) on EU servers I get 50-60 ping.
Now in reborn I have 90-120 pings/

But after I start game, I get ping in all servers about 500-800ms. I show on internet usage and I get 100% download use.  When I close game, this download use drop to 0%. When I start it agin, ping still is huge.
This is some in game, because this high ping I get from few min and next it gone.
I

[2015-10-12 15:58] AngryPenguinPL commented on #557
Maybe, but before latest patch dota2 reborn work fine. Only now I have this issues.

BTW. I use latest Catalyst 15.9 driver.

[2015-10-12 16:02] gdrewb-valve commented on #366
A recent update should have fixed the commendation sound, are you still hearing issues?

[2015-10-12 16:04] gdrewb-valve commented on #557
Changes in Reborn could be triggering new code paths in the drivers.  Generally operating systems aren't supposed to allow applications to lock up the system even if the applications aren't well-behaved, but it's also possible it's something unusual that Reborn is doing.

[2015-10-12 16:08] gdrewb-valve commented on #379
Is this still happening or can this issue be closed, pending a solid repro?

[2015-10-12 16:09] gdrewb-valve commented on #386
Closing assuming that this is a duplicate of #238.

[2015-10-12 16:09] #386 closed, assigned to davidw-valve

[2015-10-12 16:11] gdrewb-valve commented on #391
Likely not Linux / Mac specific, but I can check with the larger team.  Is this issue still active?

[2015-10-12 16:11] gdrewb-valve commented on #559
Can you get a network capture or some other information that might help pin down what's going on with your network?

[2015-10-12 16:12] MaikuMori commented on #13
Unless I messed up something the output is the same with Reborns SDL:

[code]

[2015-10-12 16:13] gdrewb-valve commented on #13
OK, thanks.  Can you post what video mode and size are you using and on what monitor?  You mentioned previously that it seems like the indices are off by one, can you post exactly what happens for indices 0, 1 and 2?  How about 3, just to see what happens?

[2015-10-12 16:15] gdrewb-valve commented on #394
The error message suggests that your Reborn install has some problem.  Can you verify your local files (painful, yes, sorry)?

[2015-10-12 16:16] gdrewb-valve commented on #396
Key bindings are layout-specific by design right now.  If you add -input_button_code_is_scan_code to your launch options things will work more like Source 1.  Does that help?

[2015-10-12 16:17] danginsburg commented on #378
Does running with -gl_disable_buffer_storage help?  Can you post full system spec from a crash?  It would also be helpful if you could post a minidump.

[2015-10-12 16:17] gdrewb-valve commented on #398
Can you post your system information from Steam?  The graphics errors suggest something is broken in OpenGL, but it's hard to say.

[2015-10-12 16:23] gdrewb-valve commented on #294
Here's a more current page from Apple about the firewall, but I don't have more specifics since we don't know for sure where the problem is coming from.

https://support.apple.com/en-us/HT201642

[2015-10-12 16:25] gxgani commented on #546
I just compared both the display mode and I was getting around 65-70fps with nothing enabled and having set the rendering to 70% (1280x800) on Intel HD4000. But is it really necessary to have Command+Tab disabled during the exclusive screen mode? I believe source 1 was running on exclusive screen mode since it had it's own brightness settings enabled but I feel there wouldn't be a drop in performa

[2015-10-12 16:25] ajrobertsonio commented on #394
Hi @gdrewb-valve, I no longer have this OS X machine set up any and cannot verify the install, sorry!

[2015-10-12 16:25] #394 closed, assigned to gdrewb-valve

[2015-10-12 16:25] gdrewb-valve commented on #402
Duplicate of #294.

[2015-10-12 16:25] #402 closed, assigned to davidw-valve

[2015-10-12 16:27] gdrewb-valve commented on #546
From what I've heard from the SDL devs when SDL uses exclusive fullscreen it doesn't run certain portions of code that make it cooperate better with the desktop and that includes the Cmd+Tab support.  That should have been true in SDL always, though, and should affect Source 1 Dota 2 also.

[2015-10-12 16:30] MaikuMori commented on #13
Tried with different indexes:
- 0 - opens on the right screen.
- 1 - opens on the right screen.
- 2 - opens on the left screen.
- 3 - opens on the left screen.
- 4 - opens on the left screen.
- 5 - opens on the left screen.

So invalid index fixes the issue.

For reference these are my launch options: `-novid -sdl_displayindex 2`.

Using correct index (<2) gives me this option screen:

![screensho

[2015-10-12 16:34] gdrewb-valve commented on #409
Closing duplicate.

[2015-10-12 16:34] #409 closed, assigned to davidw-valve

[2015-10-12 16:35] gdrewb-valve commented on #410
Duplicate of #347.

[2015-10-12 16:35] #410 closed, assigned to davidw-valve

[2015-10-12 16:36] gdrewb-valve commented on #404
Probably not Linux / Mac specific.

[2015-10-12 16:37] gdrewb-valve commented on #411
This bug tracker is only for Linux / Mac specific issues.  I've passed your question on to the larger team but there won't be tracking here.

[2015-10-12 16:37] #411 closed, assigned to davidw-valve

[2015-10-12 16:48] gdrewb-valve commented on #413
Check out #105 and #35 and see if those suggestions help.

[2015-10-12 16:51] gdrewb-valve commented on #415
Key bindings are keyboard-layout-specific by default.  Try adding -input_button_code_is_scan_code to your launch options.  Do things then work more like what you expect?

[2015-10-12 16:53] gdrewb-valve commented on #421
Closing in favor of #473.

[2015-10-12 16:53] #421 closed, assigned to nobody

[2015-10-12 16:53] gdrewb-valve commented on #423
Not Linux / Mac specific, I've passed this on to the larger team.

[2015-10-12 16:53] #423 closed, assigned to nobody

[2015-10-12 16:55] gdrewb-valve commented on #425
As this isn't Mac-specific I've passed it on to the larger team.

[2015-10-12 16:55] wintermelons commented on #555
It seems that the issue lies with xmonad. I too, have switched to i3 and got it to work. Thanks for the help.

[2015-10-12 16:57] gdrewb-valve commented on #13
That does sound like #556, we'll see if other people that have -sdl_displayindex 2 report similar things.

[2015-10-12 16:58] engywook commented on #555
I have this too,. It happened after last nights patch(Sunday CEST). I'm on herbstluftwm though and not xmonad. I've found that it works if I fullscreen it. I usually play windowed and it has worked great until yesterday.

It hangs just after it starts showing the main menu. I still see the dota2 logo but the party stuff in the lower left corner is visible.

[2015-10-12 17:02] gdrewb-valve commented on #411
The larger team suggested two things:
1. Add +net_showudp 1 -condebug to your launch options and post a gist of the console.log from the dota folder after encountering the problem.
2. Add +net_filelogging 1 to your launch options and gist the dota\networking*.\* folder.  This will generate large files so you may want to clean them out.

[2015-10-12 17:04] gdrewb-valve commented on #428
Duplicate of #63.

[2015-10-12 17:04] #428 closed, assigned to nobody

[2015-10-12 17:05] wintermelons commented on #555
Oh yes, I saw the exact same thing as you. It seems that it isn't X server, NVIDIA or Dota though, but relates to how the window manager handles window/fullscreen. Even when Xmonad was working for me, I had issues with the window floating (not tiled) where sometimes the I lose a few pixels on the bottom and right borders and I won't be able to move the camera down or right in game.

[2015-10-12 17:06] gdrewb-valve commented on #429
This issue occurs on Windows also, the larger team may have addressed this.  This will get closed regardless but is it still occurring?

[2015-10-12 17:07] Pharmasolin commented on #429
I cant test it right now.

[2015-10-12 17:08] danslo commented on #378
I'll try that option and see if it prevents crashes. It's not exactly reproducible either, it just randomly happens between tabbing.

Running proprietary linux driver 355.11 (latest as of writing this), however it has also happened on other versions of that driver such as 355.06.

How do I obtain a minidump?

[2015-10-12 17:10] gdrewb-valve commented on #356
The larger team says that this is by-design, here's what they said.  If you disagree I can pass that back but I'm not sure anything will change.

This is a design change in Reborn to accommodate better communicate your mic behavior at all times. The “no sound” with open mic is there to communicate a few things all the time.
1.  That open mic is enabled.
2.  Whether you have open mic set to transmi

[2015-10-12 17:11] gdrewb-valve commented on #434
This happens on Windows also, the larger team is aware and this won't be tracked here.

[2015-10-12 17:11] #434 closed, assigned to davidw-valve

[2015-10-12 17:14] gdrewb-valve commented on #554
The larger team mentioned that you can control the display of the range finder in the Options tab of settings.  Do you have it enabled?  There was also a convar in Source 1 Dota 2 but Reborn doesn't use that, instead the UI controls it.

[2015-10-12 17:18] gdrewb-valve commented on #371
This probably isn't a Linux or Mac specific issue.  I've passed this on to the larger team and this won't be tracked here.

[2015-10-12 17:18] #371 closed, assigned to gdrewb-valve

[2015-10-12 17:21] munraqnb commented on #558
Same here, running debian jessie on nvidia prop. drivers.

[2015-10-12 17:22] gdrewb-valve commented on #443
Is this still happening?

[2015-10-12 17:23] munraqnb commented on #557
Same here, running debian jessie and nvidia prop. drivers.

[2015-10-12 17:24] gdrewb-valve commented on #442
Not platform-specific, the larger team is going to take a look.

[2015-10-12 17:24] #442 closed, assigned to gdrewb-valve

[2015-10-12 17:26] gdrewb-valve commented on #444
Is this still happening?  A fix for focus issues went out a bit ago.

[2015-10-12 17:26] gdrewb-valve commented on #449
Closing pending more info.

[2015-10-12 17:26] #449 closed, assigned to davidw-valve

[2015-10-12 17:27] gdrewb-valve commented on #453
Key bindings are keyboard-layout-specific so changing layouts can affect bindings.  If you add -input_button_code_is_scan_code to your launch options does it work as you expect (changing this option may require you to reset your bindings)?

[2015-10-12 17:29] gdrewb-valve commented on #454
If you add -input_button_code_is_scan_code to your launch options (which may require you to redo bindings) does it work the way you expect?

[2015-10-12 17:30] gdrewb-valve commented on #455
As mentioned this bug tracker isn't for Windows issues.  I've passed this report on to the larger team and this will end up getting closed.

[2015-10-12 17:32] gdrewb-valve commented on #467
Definitely a duplicate, closing.

[2015-10-12 17:32] #467 closed, assigned to nobody

[2015-10-12 17:35] gdrewb-valve commented on #456
If you have no failure reports that means the crash came before Steam and the game really had a chance to run.  That is often an issue with video drivers not working properly.  If you are familiar with using gdb you can run under gdb and see if you can get a backtrace to at least see what component is having a problem.

[2015-10-12 17:36] gdrewb-valve commented on #459
Can you post your system information from Steam?  This looks like a problem that was reported with certain older graphics drivers.

[2015-10-12 17:37] gdrewb-valve commented on #461
We'll need more information, such as what you were doing when this came up, whether it happens repeatedly, your system information and so on.  Closing pending more info.

[2015-10-12 17:37] #461 closed, assigned to nobody

[2015-10-12 17:40] gdrewb-valve commented on #464
Reborn only supports bindings for five mouse buttons (left, middle, right and mouse4/5).

[2015-10-12 17:42] gdrewb-valve commented on #465
Do not work for key bindings or do not work for any purpose?  You can't bind the Command key unless you enable that in the Advanced tab of the hotkey settings.  You can't bind Ctrl and Alt on their own.

[2015-10-12 17:43] gdrewb-valve commented on #468
This happens on Windows also and won't be tracked here.

[2015-10-12 17:43] #468 closed, assigned to nobody

[2015-10-12 17:44] gdrewb-valve commented on #471
These aren't Mac-specific bugs and I've passed them on to the larger team.  I believe at least one more of the crashes should be fixed.

[2015-10-12 17:44] #471 closed, assigned to nobody

[2015-10-12 17:46] gdrewb-valve commented on #476
The lack of IME support is covered already by #50, closing this duplicate.

Note that Reborn needs substantially more work to get IMEs working than just turning them on in SDL, unfortunately.

[2015-10-12 17:46] #476 closed, assigned to nobody

[2015-10-12 17:46] gdrewb-valve commented on #477
Not Linux / Mac specific.  The larger team is aware of several replay crashes, they won't be tracked here.

[2015-10-12 17:46] #477 closed, assigned to nobody

[2015-10-12 17:50] ssnl commented on #276
I'm not sure since I deleted Dota from my Mac and started playing on Windows

[2015-10-12 17:51] chrylis commented on #356
If that's the intent, there needs to be substantially more visual distinction. The current "no audio" and "speaking" states aren't distinguishable from peripheral vision, where the previous nothing/icon setup was.

[2015-10-12 17:53] chrylis commented on #391
Intermittent, and far less frequent recently.

[2015-10-12 17:54] MaikuMori opened #560 "[Linux] Chat wheel bug when used with keybinding with modifier key."
If you have chat wheel bound to something like `ALT-MOUSE4` when you bring up chat wheel and then release ALT/modifier key before releasing mouse key the chat wheel stays on the screen even after releaseing mouse.

Steps:
- Press ALT-MOUSE4 together.
- Release ALT, hold MOUSE4.

This is quite annoying since your mouse gets locked to the chat wheel and prevents you from other actions. The only way

[2015-10-12 17:54] gdrewb-valve commented on #276
OK, closing until we hear that it's still around.

[2015-10-12 17:54] #276 closed, assigned to nobody

[2015-10-12 17:55] gdrewb-valve commented on #545
Confirmed with the larger team that this isn't expected to work at the moment.  It'll get fixed at some point but it won't be tracked here.

[2015-10-12 17:55] #545 closed, assigned to gdrewb-valve

[2015-10-12 17:57] gdrewb-valve commented on #391
OK, I've passed this on and the larger team has it on its list.

[2015-10-12 17:57] #391 closed, assigned to gdrewb-valve

[2015-10-12 18:00] gdrewb-valve commented on #484
Not a Mac / Linux specific issue, I'll pass this on to the larger team.

[2015-10-12 18:01] MaikuMori commented on #516
I'm having this very same issue. I'm also using Gnome 3. When I start the game **every time** there is "Not responding" dialog showing up. The game itself transitions from the black screen to start screen just about right after the Gnome dialog comes up. If you just dismiss the dialog the game is working fine.

As mentioned previously this seems to be the game client not sending/responding to wind

[2015-10-12 18:01] danginsburg commented on #378
If you go to Steam -> Help -> System Information you will see a list of recent minidumps.

[2015-10-12 18:01] AngryPenguinPL commented on #559
Tomorrow I'll try to use a net capture, but I'm not expert on the subject :)

For now I try doto in my second computer - old notebook with Ubuntu 15.04 and looks like is the same :/  Here also my Steam Spec from this notebook: https://gist.github.com/xpris/ec9868d59d5357a9fdfd

I recorded small video from this issues on my notebook:
https://youtu.be/lihCc-j-qls

[2015-10-12 18:02] gdrewb-valve commented on #459
Also look at issues like #485.

[2015-10-12 18:03] danginsburg commented on #546
Are you able to get back into the game by using CTRL->RIGHT to switch spaces?  I am seeing that in OS X El Capitan when you CMD-TAB out and then CMD-TAB back the dock hides and it doesn't switch to the space with dota running.  You can get back to the space with CTRL->RIGHT though.  I don't see this behavior in OS X 10.10.

[2015-10-12 18:04] gxgani commented on #546
Yes, also using four-finger swipe.

[2015-10-12 18:06] gdrewb-valve commented on #484
This isn't Mac / Linux specific but I'll pass it on to the larger team.

[2015-10-12 18:07] ghost commented on #558
Can confirm that one too. I have it when I try to enter the menu from a game too, hangs for multiple seconds then.

Debian testing on Nvidia 340.93.

[2015-10-12 18:09] gdrewb-valve commented on #486
Likely not platform specific.  Can you post your system info from Steam?

[2015-10-12 18:10] MaikuMori commented on #453
Using this launch option + rebinding the key (It still shows as  blank square in options instead of "SPACE") fixes the issue.

I find it strange that the space has different code between these two layouts. My main layout is English, but the other one is Latvian. Key layout is almost the same, it only ads special handling for inputting `ā/č/š` via `right ALT + A/C/S` and so on.

[2015-10-12 18:10] gdrewb-valve commented on #490
This isn't Mac / Linux specific so it won't be tracked here.

[2015-10-12 18:10] #490 closed, assigned to nobody

[2015-10-12 18:11] ghost commented on #557
Can confirm that too, but running nvidia prop with Debian testing. It's the same kind of lag/hang  described in #558.

[2015-10-12 18:12] gdrewb-valve commented on #484
The larger team says this should be fixed already or soon.

[2015-10-12 18:12] #484 closed, assigned to gdrewb-valve

[2015-10-12 18:14] gdrewb-valve commented on #557
If I read it correctly the original report here is a system hang that does not go away.  A multi-second delay would be a different thing.

[2015-10-12 18:14] danslo commented on #378
Managed to crash it again, even with `-gl_disable_buffer_storage`.

dmesg: `[78987.698081] GLRenderThread[13803]: segfault at fffffff8edca5ca0 ip 00007fbfec1fb728 sp 00007fbfe07ec620 error 5 in libnvidia-glcore.so.355.11[7fbfeb1bd000+126f000]`

[code]

The crash dump has been uploaded [here](https://github.com/danslo/Dota-2/raw/master/crash_20151012190846_1.dmp).

[2015-10-12 18:15] gdrewb-valve commented on #453
I agree it's strange that it would be different, but it may be some other interaction with keyboard layouts.  Regardless, if it works that's progress.  There'll likely be a UI setting for this instead of requiring the launch option.

It's also strange that you don't get the name SPACE, which suggests somehow the key isn't actually space underneath or something bizarre like that.

[2015-10-12 18:16] ghost commented on #557
Don't know exactly. The author isn't mentioning waiting for it to come back. I didn't tried alt+tabing, but I will next time. Maybe we need some more informations on the authors side.

[2015-10-12 18:19] gdrewb-valve commented on #559
Thanks for trying, there shouldn't be the steady 250KB/s usage you're seeing and the larger team would like to try and figure out what's going on.

[2015-10-12 18:19] gdrewb-valve commented on #404
Confirmed with the larger team that this happens on all platforms so it won't be tracked here.

[2015-10-12 18:19] #404 closed, assigned to gdrewb-valve

[2015-10-12 18:20] PUPAS commented on #465
I shot a video to show the essence.

https://www.youtube.com/watch?v=xsg3JIz5U4w

Before, I could use the CMD key and ALT in the inventory.

Now, when pressed, nothing happens. Neither the Russian nor English. Mac does not see them.

I hope you understand me)

[2015-10-12 18:20] gdrewb-valve commented on #491
Yes, duplicate of #54.

[2015-10-12 18:20] #491 closed, assigned to nobody

[2015-10-12 18:22] gdrewb-valve commented on #497
Closing pending more info.

[2015-10-12 18:22] #497 closed, assigned to nobody

[2015-10-12 18:23] gdrewb-valve commented on #498
This isn't platform-specific, I've passed it on to the larger team.

[2015-10-12 18:23] #498 closed, assigned to nobody

[2015-10-12 18:23] gdrewb-valve commented on #500
Closing pending more info.

[2015-10-12 18:23] #500 closed, assigned to danginsburg

[2015-10-12 18:34] gdrewb-valve commented on #425
They're going to take a look.

[2015-10-12 18:34] #425 closed, assigned to gdrewb-valve

[2015-10-12 18:35] gdrewb-valve commented on #465
Ctrl and Alt cannot be bound on their own, that's by-design.

You can bind the Command key if you enable that in the Advanced page of the hotkey settings.

[2015-10-12 18:35] #465 closed, assigned to gdrewb-valve

[2015-10-12 18:35] gdrewb-valve commented on #455
The larger team is taking a look.

[2015-10-12 18:35] #455 closed, assigned to gdrewb-valve

[2015-10-12 18:44] MrTheSoulz commented on #54
True, it does not affect  in-game.
But it does look "bad" and causes empty boxes like the last played match on main UI.

[2015-10-12 18:51] danginsburg commented on #378
Thank you for the minidump.  So unfortunately this is crashing in a thread spawned by the NVIDIA driver when the game issues a swap buffers.  You could try editing ~/.steam/steam/steamapps/common/dota 2 beta/game/dota.sh and modifying this line:

export __GL_THREADED_OPTIMIZATIONS=1

to:

export __GL_THREADED_OPTIMIZATIONS=0

If this does work, keep in mind that dota.sh will get overwritten on the

[2015-10-12 18:53] gdrewb-valve commented on #507
Can you show what the settings look like just before you hit apply?  This may be something related to the Retina pixel doubling where the game thinks that 1280x800 is the monitor resolution.

[2015-10-12 18:57] gdrewb-valve commented on #506
This isn't platform-specific and won't be tracked here, but the larger team believes this has been fixed.

[2015-10-12 18:57] #506 closed, assigned to nobody

[2015-10-12 18:57] danginsburg commented on #508
Can you please provide more information here.  You say you are running OS X 10.1@, did you mean OS X 10.11?  Do you have System Integrity Protection (SIP) disabled?  Exactly what FPS drop are you seeing and where are you in game?  We need more info to address this bug.

[2015-10-12 18:59] gdrewb-valve commented on #510
This isn't platform-specific, I passed it on to the larger team.  They've already looked and think they have a fix.

[2015-10-12 18:59] #510 closed, assigned to nobody

[2015-10-12 18:59] gdrewb-valve commented on #512
This isn't Mac-specific, I've passed it on to the larger team.

[2015-10-12 18:59] #512 closed, assigned to nobody

[2015-10-12 19:04] gdrewb-valve commented on #516
Reborn uses SDL and doesn't directly respond nor implement any XWM stuff, but I can pass this on to the SDL devs.

[2015-10-12 19:05] Shchvova commented on #467
Thanks @danginsburg. It works. Pity you have to do some magic for a game to work. Ty!

[2015-10-12 19:11] danginsburg commented on #515
At this point, we are not quite sure what is happening with this one.  We have not been able to reproduce it yet.  That it goes away with -gl_disable_buffer_storage means it could be an app bug but it could be a driver bug too.  That we don’t hear about this more often makes me feel it is something particular to your config.  Buffer storage uses persistently mapped coherent buffers which I would g

[2015-10-12 19:13] PUPAS commented on #465
Please tell me how to press CMD.

I will add a shortcut to the settings. But it can only add to the Steam. Separately on a program DotA 2 is impossible. Promptness keys in the game is not working.

That's what is written on the apple:
"If the app you want to select doesn’t appear in the list, choose Other, then locate it using the Open dialog. Some apps may not allow you to set keyboard shortcuts.

[2015-10-12 19:17] admshao commented on #515
I'm travelling right now because here in Brazil its a extended holyday.
I'll be able to test the suggested changes by tomorrow night.
On Oct 12, 2015 4:11 PM, "Dan Ginsburg" notifications@github.com wrote:

[2015-10-12 19:19] gdrewb-valve commented on #519
Duplicate of #294.  Unfortunately we don't know what causes this for some people.

[2015-10-12 19:19] #519 closed, assigned to nobody

[2015-10-12 19:23] gdrewb-valve commented on #438
This isn't really platform-specific, it's just luck that it's working on Windows.  A fix will come in an upcoming update.

[2015-10-12 19:23] #438 closed, assigned to gdrewb-valve

[2015-10-12 19:25] gdrewb-valve commented on #518
Can you post your Steam system info? Does this happen every time?  When does it start happening?

I just tried this on my Linux machine and up through starting a bot match I didn't see any doubling of output.

[2015-10-12 19:36] gdrewb-valve commented on #527
Can you post your system information so that it's here with the issue?

[2015-10-12 19:38] gdrewb-valve commented on #530
This isn't Mac-specific, the larger team will get this working but it won't be tracked here.

[2015-10-12 19:38] #530 closed, assigned to nobody

[2015-10-12 19:42] ColonelHeisenberg commented on #294
Thanks for the reply.

[2015-10-12 19:48] gdrewb-valve commented on #533
These issues happen on Windows also and won't be tracked here.  The regular forums at dev.dota2.com have multiple reports that you can watch.

[2015-10-12 19:48] #533 closed, assigned to nobody

[2015-10-12 19:48] gdrewb-valve commented on #535
Closing pending more info.

[2015-10-12 19:48] #535 closed, assigned to nobody

[2015-10-12 19:49] gdrewb-valve commented on #536
Closing pending more info.

[2015-10-12 19:49] #536 closed, assigned to nobody

[2015-10-12 19:50] #539 closed, assigned to danginsburg

[2015-10-12 19:52] gdrewb-valve commented on #543
You can't switch away or start another tty or anything?  The machine is completely locked up?  That would most likely be a driver issue.

[2015-10-12 19:53] gxgani commented on #508
Yes, I am running 10.11 with SIP **partially** disabled, @ was a typo.
I recorded the whole experience here: https://cobalt60.xyz/shared/Screen-Recording-2015-10-13-01-19-52.mp4

Video might not be suffice enough to prove that the stuttering is real bad sometimes.

[2015-10-12 19:54] MaikuMori commented on #516
I was looking trough logs for another issue, but I stumbled on this:

[code]

I bet this is the problem.

[2015-10-12 19:54] gdrewb-valve commented on #532
I just tried it it seemed OK.  What exact operations are you doing?  Does anything at all happen?

[2015-10-12 19:55] gdrewb-valve commented on #516
Were those general logs?  Those come up for the Steam client itself.

[2015-10-12 20:11] danginsburg commented on #526
The fix for Steam is available in the Steam Beta Channel.  Go to Steam -> Preferences -> Beta Participation and choose "Steam Beta Update" and it now works on El Capitan.  Closing.

[2015-10-12 20:11] #526 closed, assigned to danginsburg

[2015-10-12 20:21] danginsburg commented on #508
Thanks for the video.  It isn't clear to me though what the issue is from watching it.  The framerate counter disappears when you bring up the overlay so it was hard to tell.  I tried running on my Macbook Pro 2012 with HD 4000 and the perf seemed reasonable.  I'm going to close this, if you find a more reproducible instance of slowdown that looks like a bug post it here.

[2015-10-12 20:21] #508 closed, assigned to danginsburg

[2015-10-12 20:46] ChrisLauinger77 commented on #366
nope - its actually better now

[2015-10-12 20:55] gdrewb-valve commented on #366
Thanks, closing.

[2015-10-12 20:55] #366 closed, assigned to gdrewb-valve

[2015-10-12 20:56] gdrewb-valve commented on #560
You're correct, this does happen on Windows too.

[2015-10-12 20:56] MaikuMori commented on #516
Those are `gnome-session` logs from `journalctl --user`. If you look at the very end it says `(Dota 2)` so it must be Dota 2 window generating it.

[2015-10-12 20:57] gdrewb-valve commented on #516
OK, SDL must have the same problem as the Steam client.

[2015-10-12 21:00] MaikuMori commented on #516
Maybe it's not related. Just noticed it's `_NET_ACTIVE_WINDOW` instead of `_NET_WM_PING` which was mentioned before. When I posted I taught it was the same event/message name.

[2015-10-12 21:21] cosaryus commented on #294
so we can't gonna play the game for a while..? I'm still taking the same error...

[2015-10-12 21:25] gdrewb-valve commented on #560
This also happens in Source 1 Dota 2.  The larger team never fixed it there so who knows when it'll get fixed, but I've passed it on.

[2015-10-12 21:25] #560 closed, assigned to gdrewb-valve

[2015-10-12 21:27] gdrewb-valve commented on #294
Valve will keep trying to find a repro.  There's presumably something computer-specific that causes this in some situations and not in others.  Not knowing what that is it's impossible to say how long a repro will take, unfortunately.

[2015-10-12 21:27] MaikuMori commented on #464
I have this issue as well (RAT9). I did the same debug steps as OP a while ago with similar results.

Overall I feel Dota's keybinding options are very limited in terms of mouse buttons and modifier keys. It would be nice improvement to at least have couple more mouse buttons.

[2015-10-12 21:35] cosaryus commented on #294
i hope they can fix soon..

[2015-10-12 22:02] p-groarke commented on #238
It has happened again yes, though I'm not sure when that was.

[2015-10-12 23:13] budimanjojo commented on #516
So should I post a bug report on SDL or they already know it?

[2015-10-12 23:31] fwsGonzo commented on #379
I clicked watch on a game with time -1:26, game immediately exited

So, I guess its still happening?

[2015-10-12 23:37] muff1nman commented on #552
I resize the window using the window manager - xmonad. I know, I know... xmonad is not supported. But it was working brilliantly on my dual head setup for over two months. Last night I tried to bisect the issue in AMD graphics drivers but the three or four I tried were all showing the same issue. So I can't really say whether it was an update with AMD or Dota that has caused the issue to start sho

[2015-10-12 23:40] gdrewb-valve commented on #552
Resizing is only marginally supported so this will be a low-priority issue.

[2015-10-12 23:40] gdrewb-valve commented on #516
I've already started a conversation with them.

[2015-10-12 23:41] gdrewb-valve commented on #379
Was it a public match that we can try out here?

[2015-10-12 23:42] budimanjojo commented on #516
Nice, would like to have some news updates from you later :)

[2015-10-13 00:58] fwsGonzo commented on #379
I opened dota again and during watch tab loading it exited. I tried GAME_DEBUGGER="strace..." but it seems like an outdated or internal build thing

So, I can't seem to get into the watch tab. Game exited 3/3 times right now

[2015-10-13 04:23] ArnaudAndre opened #561 "Dota segfaults after switching to the watch tab"
Around 1 second after switching to watch tab the game crashes.
Happens 100% of the time.
Recent regression. I'm pretty sure i used the watch tab this week end.
Rest of game is perfectly fine afaik.

[console log](https://gist.github.com/ArnaudAndre/1742e9b4a955beccc668) doesn't show anything interesting but has a crash id
[system specs](https://gist.github.com/ArnaudAndre/12d5204c9347ccc3e94b)

[2015-10-13 05:04] TadSV opened #562 "[MAC] Resolution not supported"
I can't use 1920x1200 or any other higher resolution in fullscreen mode, everytime that i use any of the previous i just can see the left bottom quarter in the screen and i have to reset the settings when i restart the game (also, i have to use cmd+shift+esc to quit because i can't use the button in the menu).

Apart of that issue, i have fps issues with any settings in the game, unplayable.

My s

[2015-10-13 07:18] albertwidi commented on #515
I see, thank you @danginsburg for your explanation and solution. Hope this will get fixed soon.

[2015-10-13 08:27] Eignar17 commented on #557
is game instant freeze my sistem ubuntu 15.04 is new update is slow in menu is fps 5-10 in game good in menu is problem is slow. my video card intel i5  and You navigate the menu closes suddenly @triage-valve

[2015-10-13 08:29] Eignar17 commented on #559
is my ubuntu 15.04 is lag and close ip the steady 600KB/s

[2015-10-13 08:38] Eignar17 commented on #558
is problem in my ubuntu 15.04 and intel i5 drivers

[2015-10-13 11:18] neko-kai commented on #396
@gdrewb-valve

It doesn't affect main menu bindings (ctrl-c, ctrl-v)

Now that is is a very questionable design decision, I might even call it pants-on-head fucking retarded.

[2015-10-13 11:26] neko-kai commented on #561
Happens for me too.

[2015-10-13 12:22] YabosMcGee commented on #13
@gdrewb-valve Just like @MaikuMori -sdl_displayindex 2 works for me, even though I only have two monitors. Here's my output as well:

[code]

[2015-10-13 12:32] gdrewb-valve commented on #379
Watch does seem broken in general, see also #561.

[2015-10-13 12:45] danslo commented on #378
That does seem to have solved it - no crashes so far, though does (expectedly) result in noticably degraded performance especially when a lot is happening on the screen (earthshaker or death prophet ultimates for example).

[2015-10-13 13:01] diguliu commented on #398
I discovered that I had some broken packages and dependencies that were forbidding a system upgrade. I reinstalled my SO, and now with debian testing things are working properly. I think the problem was happening due to outdated libraries or packages in conflict.

[2015-10-13 13:17] AngryPenguinPL commented on #557
Hey.

I apologize for not accuracy. English is not my native language and expressed myself very imprecise.

Short and to the point:
1. Game hangs when I try to enter the menu.
2. System is not hangs, because I can go to tty (ALT + CTRL + F1 or F2) and come back to desktop and close the game or kill the Xserver and log in again.

Maybe I can make video?

[2015-10-13 13:32] gdrewb-valve commented on #557
I think that description is fine, a video isn't necessary.  We'll see if we can get the same behavior.

[2015-10-13 13:33] gdrewb-valve commented on #398
Thanks, closing.

[2015-10-13 13:33] #398 closed, assigned to danginsburg

[2015-10-13 14:28] danginsburg commented on #562
Deskop Friendly Fullscreen only goes up to the resolution of your desktop.  What resolution is that set to?  What resolutions do you see for Exclusive Fullscreen?  A screenshot might be helpful here to narrow this down.

Regarding performance: your system is very high spec if there is poor performance on your machine we need to investigate it.  If you could post your video settings and FPS in a bo

[2015-10-13 15:02] TadSV commented on #562
The desktop friendly fullscreen is 1920x1200 (Like my scaled resolution in OS X).
For fullscreen i can only see from 2880x1800 and less, i usually want to use 1920x1200 for the scaled resolution or even tried 2880x1800 but i just see the left quarter fullscreen, after that i have to use force quit otherwise is impossible to close the game (then, i use -autoconfig in steam to reset everything).

Us

[2015-10-13 15:07] TadSV commented on #562
Solved.

I uploaded the zip file with the screenshots to file dropper.
Here is the link: http://www.filedropper.com/archive_85

If you need another screenshot or information let me know, i keep an eye constantly in this topic.

P.S: I forgot to tell, everytime that i use an ability or someone else, my fps decrease a lot (like 20-30fps) and i get a little freeze (almost 1-2 seconds, but in team fig

[2015-10-13 15:28] superoraculus commented on #561
Originally posted here: http://dev.dota2.com/showthread.php?t=183178

"
Me too. Only when I click Watch tab (from what I've seen so far).

uname -a
Linux debian 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u4 (2015-09-19) x86_64 GNU/Linux

dmesg:
[11666.629627] dota2[4740]: segfault at 7f800000000a ip 00007f81377b395e sp 00007fffbb4f3950 error 4 in libtcmalloc_minimal.so.0[7f813779e000+21000]

[2015-10-13 15:34] danginsburg commented on #562
Thanks, I'm trying to repro the resolution issue but am not having any luck.  If I setup my MBP with this desktop resolution:

<img width="670" alt="screen shot 2015-10-13 at 11 29 55 am" src="https://cloud.githubusercontent.com/assets/375707/10459561/187f819a-719e-11e5-8d2f-d6f820c14280.png">

I see this as the modes available for exclusive fullscreen:
![2015-10-13_00001](https://cloud.githubuser

[2015-10-13 15:39] TadSV commented on #562
<img width="1920" alt="screen shot 2015-10-13 at 10 42 20 am" src="https://cloud.githubusercontent.com/assets/15100190/10459854/2472fa92-7197-11e5-8755-ee77460410e7.png">
I use most 1920x1200 for the performance, but is the same problem of the left bottom quarter with both.

Are you using OS X 10.10.x "Yosemite"? Is just a doubt, i don't know if maybe is that (I bought the MBP on the same day as t

[2015-10-13 16:03] danginsburg commented on #562
I am on OS X 10.11 although an older model MBPr.  I have tried setting Exclusive Fullscreen resolution at various settings, starting and restarting, and don't see the 1/4 screen bug.  To be clear:  you set your desktop to 1920x1200, exclusive fullscreen to 1920x1200 in game, exit game, come back in and it shows 1/4 of the screen.  Is that right?

[2015-10-13 16:20] TadSV commented on #562
My desktop is the whole time in 1920x1200 scaled resolution (i don't use the default settings), i use the 1920x1200 exclusive fullscreen setting in game, sometimes when i set it up (after i press apply) everything goes well, except for the performance in game with fps spikes in teamfights and lower performance in general (40-50 fps). When i quit the game and open it again i have the 1/4 screen bug

[2015-10-13 16:38] Srogozins commented on #443
Yes.

[2015-10-13 16:45] danginsburg commented on #562
Regarding perf: are you sure it is running on the AMD R9 M370X and not the Intel Iris Pro?  On a three year old MBPr with NV GTX 650M I see perf well into the 70-80fps range with your exact settings.  You can try using gfxcardstatus to force it to use the AMD GPU: https://gfx.io/ .  There is also a Graphics Setting in El Capitan for Higher Perf vs Battery Life.

[2015-10-13 16:47] danginsburg commented on #561
We have this confirmed and repro'd.  We are working on a fix.

[2015-10-13 16:55] TadSV commented on #562
It is using the M370X. Is the first thing that i check after i have an issue with a game in OS X.

I have gpu switching enabled in the energy settings and usually when i play, i just have Dota 2 open (excluding steam).

P.S: I forgot, when i play or im doing something intensive with the gpu/cpu, my mac is plugged.

[2015-10-13 17:07] danginsburg commented on #378
OK, this very strongly points to a bug with driver multithreading in the NVIDIA driver.  We will follow up with NVIDIA.

[2015-10-13 17:39] gdrewb-valve commented on #443
I think we found the problem, a fix will be coming in a future update.

[2015-10-13 18:10] Leproide opened #563 "Game crash at "Watch" tab"
Game crash at "Watch" tab

OS: Fedora 22
WM: GNOME Shell
Kernel: x86_64 Linux 4.1.10-200.fc22.x86_64
CPU: Intel Core i7-2600K CPU @ 3.8GHz
GPU: AMD/ATI Barts XT [Radeon HD 6870]

Console log when the client starts:
http://leprechaun.tk/zerobin/?8448452ad4484a3a#lfHx7Rw73bY+A8jb47EWfW+u1dpuMgxJmmc303W9MI4=

lsusb (only pertinent):
Logitech, Inc. G930
ROCCAT Kone+ Mouse
Genesys Logic, Inc. Logitech

[2015-10-13 18:31] presianbg commented on #557
Some freezes here on Fedora 22 (nvidia optimus technology). It happens for 5-10  sec and then it's ok. It was ok before latest patch.

[2015-10-13 18:41] cosaryus commented on #294
by the way the icon on my deskop seems like this
![ekran resmi 2015-10-13 21 41 10](https://cloud.githubusercontent.com/assets/14952425/10464560/1cfc77d2-71f3-11e5-93c6-2f888c0e1fa1.png)

[2015-10-13 18:44] gdrewb-valve commented on #563
Duplicate of #561.

[2015-10-13 18:44] #563 closed, assigned to nobody

[2015-10-13 18:50] Leproide commented on #561
Ops, sorry i see now this post...

OS: Fedora 22
WM: GNOME Shell
Kernel: x86_64 Linux 4.1.10-200.fc22.x86_64
CPU: Intel Core i7-2600K CPU @ 3.8GHz
GPU: AMD/ATI Barts XT [Radeon HD 6870]

Console log when the client starts:
http://leprechaun.tk/zerobin/?8448452ad4484a3a#lfHx7Rw73bY+A8jb47EWfW+u1dpuMgxJmmc303W9MI4=

lsusb (only pertinent):
Logitech, Inc. G930
ROCCAT Kone+ Mouse
Genesys Logic, Inc. L

[2015-10-13 19:08] gdrewb-valve commented on #13
When the invalid index is used it ends up trying to put the window at negative coordinates (it's trying to center the window on the given display and there isn't one so its size is 0,0 and the centering will put the window center at 0,0 so the upper-left will be negative).  When I try this on my Ubuntu / Unity system it ends up putting the window in the upper-left corner of my leftmost monitor, so

[2015-10-13 19:09] gdrewb-valve commented on #364
Closing for now.

[2015-10-13 19:09] #364 closed, assigned to gdrewb-valve

[2015-10-13 19:10] gdrewb-valve commented on #413
Closing as this should be covered by other issues.

[2015-10-13 19:10] #413 closed, assigned to gdrewb-valve

[2015-10-13 19:11] gdrewb-valve commented on #429
Any luck?

[2015-10-13 19:13] gdrewb-valve commented on #521
Can you add +net_showudp 1 and +net_showsplits 1 to your launch options, retry and put up a new console log?

[2015-10-13 19:30] ruliane commented on #13
As far as I understand, it only "works" if you want Reborn to launch on
the leftmost monitor. Am I right ?
In my case (2 monitors, the right one as main display), Reborn starts on
the left monitor whatever the -sdl_displayindex supplied.

[2015-10-13 19:32] gdrewb-valve commented on #13
Correct, my comment was only for the people where -sdl_displayindex 2 is helping.

[2015-10-13 19:34] gdrewb-valve commented on #13
For others the important info is what video settings you're using: fullscreen, windowed, borderless, etc.; what resolution and what size of monitor it is.  Also, try using a borderless window that's smaller than the monitor size.  If that works you're probably one of the people affected by #556 where the window manager is not letting the window get created on the desired monitor.

[2015-10-13 19:49] Pharmasolin commented on #429
Yes, i reproduce this and i have this warning in main menu with 0.0 sec when i disconnected from server, but when i press connect and it connected this red warning dissipated.

[2015-10-13 19:52] gdrewb-valve commented on #429
OK, I've passed this on to the larger team.

[2015-10-13 19:52] #429 closed, assigned to gdrewb-valve

[2015-10-13 20:45] MaikuMori commented on #13
@gdrewb-valve To me it seems like both the problem and the fix is quite obvious:

The problem is window manager being too smart and moving the window. I'm actually thinking that the WM behaviour is correct even though unintuitive.

The fix is also quite simple as I mentioned earlier:
- Start Dota in windowed mode which is smaller than full monitor resolution. (2nd to biggest resolution for example

[2015-10-13 20:50] TimotheeJeannin opened #564 "[linux] Unable to launch game (Unable to create dummy window for GLMDisplayDB)"
When I try to launch the game I have the following error:

[code]

![screenshot from 2015-10-13 22 48 18](https://cloud.githubusercontent.com/assets/1969368/10467948/aad8d0ba-71fc-11e5-8d8a-5237c27eb8fe.png)

[2015-10-13 20:51] gdrewb-valve commented on #13
Reborn uses SDL so the window creation work is inside of SDL.  We've been talking to the SDL devs about this issue but changes would be up to them.  Reborn could potentially try to work around SDL but it would be much more valuable to fix SDL so that all users of it benefit.

[2015-10-13 20:57] gdrewb-valve commented on #564
Can you post your system information from Steam?

I'm guessing this is a problem with OpenGL support on your system.  The dummy window is created to query OpenGL support and resolutions.

[2015-10-13 21:12] TimotheeJeannin commented on #564
I'm running **Ubuntu Server 14.04.3** with the **--no-install-recommends ubuntu-desktop** package.

Result of the **cat /etc/X11/xorg.conf** command:

[code]

Result of the **lspci** command:

[code]

Result of the **lshw** command:

[code]

[2015-10-13 21:15] TimotheeJeannin commented on #564
The result of the **lsmod** command:

[code]

[2015-10-13 21:17] TimotheeJeannin commented on #564
I use the **352.30** nvidia drivers.

http://us.download.nvidia.com/XFree86/Linux-x86_64/352.30/NVIDIA-Linux-x86_64-352.30.run

[2015-10-13 21:19] gdrewb-valve commented on #564
In the Steam client under the Help menu there's a System Information option.  What you have is OK to start, though.

Do other games work?

[2015-10-13 21:23] TimotheeJeannin commented on #564
Please find the steam spec bellow:

[code]

[2015-10-13 21:31] TimotheeJeannin commented on #564
Just tried with the **340.93** version of the nvidia drivers and I have the same issue.

[2015-10-13 21:57] gdrewb-valve commented on #564
Do other games work?

[2015-10-13 22:09] TimotheeJeannin commented on #564
I will try some other games tomorrow. :)

[2015-10-13 22:12] bitflip2 commented on #454
Adding the command to the launch options unfortunately does not change any behavior for me.

[2015-10-13 22:16] gdrewb-valve commented on #454
OK, thanks for trying it.

[2015-10-13 23:05] khill commented on #557
I can reproduce this consistently as well.  When I am playing a game (bot game or online) the application freezes when I click the "return to dota 2 home screen" button in the top left.  The video freezes but the sound continues.

The only way I can get it working again is to switch to a different virtual desktop and then switch back to dota2.  At that point, it unfreezes.  Switching between an in

[2015-10-13 23:07] m1kc commented on #561
Same problem. My system info:

[code]

[2015-10-13 23:13] m1kc commented on #550
Looks like I have the same problem. I used to think that that's the fault of my ISP, but symptoms are very similar to what @biji says. Here's my system info:

[code]

[2015-10-14 00:21] Tele42 commented on #564
Wow that's a strange video card, @gdrewb-valve this is a headless system that is being VNC'd into, which is why GLMDisplayDB is failing.

[2015-10-14 00:22] felipinho-lima commented on #521
Ok.

The log with UDP active generates much lines because the type protocol it's diferents with TCP.
But i print inside the dota 2,.

Follow the logs.

Console_log.txt
https://github.com/felipinho-lima/Dota-2/issues/3

Server_log.txt
https://github.com/felipinho-lima/Dota-2/issues/2

Log console with inside DOTA 2
https://github.com/felipinho-lima/Dota-2/issues/1

[2015-10-14 01:52] Nocswary opened #565 "[Mac] Crash on loading screen nearly every game and on hero pick screen occasionally"
When loading into the game it loads quickly and then during the time when other players load the game crashes at some point unless they load quickly enough before it happens. Generally occurs at 2:45 left to 2:00 left for players to load but can be lower. I can usually reconnect fast enough but if players still have not loaded by the time I get in the crash can occur again.
The client will automat

[2015-10-14 02:09] biji commented on #550
Processor Information:

[code]

Network Information:

[code]

Operating System Version:

[code]

Video Card:

[code]

Sound card:

[code]

Memory:

[code]

Miscellaneous:

[code]

Installed software:

Recent Failure Reports:

[2015-10-14 03:36] admshao commented on #515
So, i turned V-Blank on
Set openGL to High Performance on nvidia-settings
and i used ppa.lanchpad.net/graphics-drivers/ to update to 355.11 (nvidia proprietary from their website gives me fatal error during installationg and i had to revert on recovery mode)

also i switch from pt_Br steam to en_us (different dota folder in steam) and redownloaded the game
and i just test the game under same condi

[2015-10-14 03:49] chrylis opened #566 "[Linux] voice chat cuts off when window loses focus"
Whenever I switch away from the game window, any voice chat (apparently both directions) is cut off. I have desktop sound enabled, and the rest of the sounds keep playing.

I'm running KDE on Arch, compositing disabled; the disparate behavior of music and voice seems to indicate a specific bug in the handling of the voice streams.

[2015-10-14 06:52] Turmfalke2 commented on #518
hi,
here is the steam system information: http://pastebin.com/6Rvbtywj  my window manager is herbstluftwm, I think it is only claiming to be compiz for java compatibility.

Right now I am unable to reproduce this bug (steam/dota is down) I will try again later.

[2015-10-14 07:29] Eignar17 commented on #557
is bugs

File error loading resource header "panorama/images/heroes/selection/npc_dota_hero_default_png.vtex_c" (Error: ERROR_FILEOPEN)

/home/buildbot/buildslave/source2_dota_rel_linuxsteamrt64/build/src/rendersystem/texturebase.cpp(1933):ResourceHandleToData( panorama/images/heroes/selection/npc_dota_hero_default_png.vtex ) failed! Falling back to error texture!

File error loading resource head

[2015-10-14 07:51] Eignar17 opened #567 "[Linux] game close when I try get to menu when play match (after latest patch)"
is my system

ubuntu 15.04

4 CPUs, Frequency: 3.0 Ghz,  Features: GenuineIntel SSE SSE2 SSE4.1 SSE4.2 AVX MMX

I walk a lot if the palette menu closes

[2015-10-14 09:48] sgentle commented on #444
Seems to be fixed now. Thanks!

[2015-10-14 09:48] #444 closed, assigned to gdrewb-valve

[2015-10-14 10:47] RichardAnthoyFalzini commented on #464
i know that dota only support mouse 4 & 5 but on my case, end i think that i'm not the only one. i need to use more button.
I just need to know how dota take the imput from the keyboard.
i need help to find the reason that make  my configuration work on the menu and not in game,(there is some special process or thread that handle  input during game?).

[2015-10-14 10:59] GreatBigWhiteWorld commented on #567
Mine crashes as soon as I click the "Top spectated game now"

Linux amd64,  It's also after the latest patch.

[2015-10-14 11:16] sinatosk opened #568 "[Linux] Client crashes when I select the "watch" tab"
Using other areas of the client including playing games and no problems but with watch tab... crashes after a second and in that second everything in the client is paused...

I see this in my dmesg

`dota2[8238]: segfault at a ip 00007f70de5fc95e sp 00007ffeebaa5820 error 4 in libtcmalloc_minimal.so.0[7f70de5e7000+21000]`

and sometimes

`GlobPool0[7878]: segfault at 5 ip 00007f940204895e sp 00007

[2015-10-14 12:04] loisgomez commented on #568
Affected as well on Ubuntu 14.04 since last patch.

Crash output.
    Installing breakpad exception handler for appid(gameoverlayui)/version(1.0)
    ERROR: ld.so: object '/home/berto/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so'  from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/berto/.local/share/Steam/ubuntu12_32/gameoverlayrenderer

[2015-10-14 12:48] Tele42 commented on #568
Duplicate of #561.

[2015-10-14 12:52] danginsburg commented on #546
Just want to follow up that we have looked into this.  The issue only happens in OS X 10.11.  We are discussing this issue with the SDL devs.  Basically what is happening is that for a reason we don't yet understand in OS X 10.11 it does not switch to the space the fullscreen window was created in when it becomes active.  In OS X 10.10 it did switch automatically.  The workaround for now is just t

[2015-10-14 12:57] gxgani commented on #546
I'll like to also add that "bring dota2 foreground on matchmaking found" is affected by this. What happens is after a match is found, I switch space(dota2) but I am reverted back to my original space, thus have to switch space again.

[2015-10-14 13:01] drewferagen commented on #558
Same here. Ubuntu 15.04 with Nvidia 355.11

I've noticed that the Armory is also very laggy when I try to scroll through, which started happening about the same time. before it was smooth as butter.

[2015-10-14 13:09] emnoor commented on #378
It happens with me too. Just adding this comment to say that it is may be not a NVIDIA related issue as it happens for me too.

Distro: Arch Linux
DE: Gnome
CPU: Intel i5-4770
GPU: (cpu-builtin) Intel HD 4600

It happens randomly with overlays too (like gnome's volume overlay). I have noticed that, if it does not crash for a tabout/overlay, then it will not crash for any following tabouts until yo

[2015-10-14 13:57] gdrewb-valve commented on #568
Closing duplicate.

[2015-10-14 13:57] #568 closed, assigned to nobody

[2015-10-14 14:01] gdrewb-valve commented on #567
@Eignar17, are you trying to watch a game as @GreatBigWhiteWorld is?  Watching games has a known crash covered in #561.

[2015-10-14 14:03] gdrewb-valve commented on #565
The GPU is hanging and resetting.  This could be an Apple OpenGL driver problem or something weird that Reborn is doing.

Application Specific Signatures:
Graphics hardware encountered an error and was reset: 0x00008813

Thread 9 Crashed:
0   libsystem_kernel.dylib              0x00007fff988fa0ae __pthread_kill + 10
1   libsystem_pthread.dylib             0x00007fff89f22500 pthread_kill + 90
2   l

[2015-10-14 14:05] gdrewb-valve commented on #464
Reborn uses SDL for its input, so you can read over the SDL source code if you want to see specifically what it's doing.

[2015-10-14 14:09] gdrewb-valve commented on #559
Was anybody able to get a net capture of the net traffic?

[2015-10-14 14:12] gdrewb-valve commented on #198
@sekjun9878, what window size are you using and on what size monitor? Are you using a window border or not?

[2015-10-14 14:12] gdrewb-valve commented on #241
Closing pending more information.

[2015-10-14 14:12] #241 closed, assigned to gdrewb-valve

[2015-10-14 14:13] gdrewb-valve commented on #415
Closing pending more info.

[2015-10-14 14:13] #415 closed, assigned to gdrewb-valve

[2015-10-14 14:14] gdrewb-valve commented on #486
Closing pending more info.

[2015-10-14 14:14] #486 closed, assigned to gdrewb-valve

[2015-10-14 14:14] gdrewb-valve commented on #507
Closing pending more info.

[2015-10-14 14:14] #507 closed, assigned to gdrewb-valve

[2015-10-14 14:15] gdrewb-valve commented on #532
Closing pending more info.

[2015-10-14 14:15] #532 closed, assigned to gdrewb-valve

[2015-10-14 14:15] gdrewb-valve commented on #543
Closing pending more info.

[2015-10-14 14:15] #543 closed, assigned to gdrewb-valve

[2015-10-14 14:15] danginsburg commented on #363
Fix has been released.

[2015-10-14 14:15] gdrewb-valve commented on #548
Closing pending more info.

[2015-10-14 14:15] #548 closed, assigned to gdrewb-valve

[2015-10-14 14:16] gdrewb-valve commented on #564
OK, that's an expected failure then.

[2015-10-14 14:16] #564 closed, assigned to gdrewb-valve

[2015-10-14 14:17] gdrewb-valve commented on #463
#363 is fixed now, can you check if this is still happening?

[2015-10-14 14:29] gdrewb-valve commented on #521
Thanks for the logs.  Can you add +net_maxroutable 800 to your launch options and see if things work better?

[2015-10-14 14:35] kvblinov opened #569 "[Linux] keyboard works weird with non-US layout"
ive seen instructions telling to add "input_button_code_is_scan_code" to launch options but it doesnt work for me. specifically problem is not recognizing space bar and mistaking '1' for 'RETURN'
I have ubuntu 14.04 LTS

[2015-10-14 14:36] gdrewb-valve commented on #569
What language are you running in?  What keyboard layout are you using?  Are you changing keyboard layouts at any time?

[2015-10-14 14:40] kvblinov commented on #569
I have an English-Russian keyboard, changing layouts doesnt affect anything

[2015-10-14 14:59] gdrewb-valve commented on #569
What language are you running in, English or Russian?  Do you switch languages?  Does the '1' key work properly in chat?

[2015-10-14 15:01] danginsburg commented on #414
We have a fix for this issue, it will ship in a future update to Dota2.

[2015-10-14 15:06] kvblinov commented on #569
Running in English or Russian has no effect on the problem, I tried both. '1' key acts as return but doesnt close input form and sometimes doesnt remove whats written.

[2015-10-14 15:19] gdrewb-valve commented on #569
So the '1' key acts as return even when typing in chat?  That usually means that the character returned from the OS is not '1' so Reborn doesn't have any way of knowing it's supposed to be '1'.  Do you have issues in any other programs?

[2015-10-14 15:23] kvblinov commented on #569
I guess I explained badly. In almost every dota chat (party chat, game chat etc) I press '1', it shows up as I would entered 1. Then I press '1' key the second time and dota thinks I pressed 'RETURN' so it prints out my message which is '1'. But input form is still up and it contains the string '1'. Concerning space - it works in chats but when I try to bind it it just shows blank space and that b

[2015-10-14 15:56] kvblinov commented on #569
Ok, I now figured that adding input_button_code_is_scan_code makes dota not see even a,b,c... keys

[2015-10-14 16:39] khill commented on #567
Feels like this is the same issue as in #557 - when playing a game and going to the menu, the game freezes.  Sometimes the display un-freezes in 5-30 seconds, sometimes it stays stuck, and other times the display unfreezes and the game is over (including the sound of the radiant or dire ancient being destroyed).

I have the same issue and pasted my specs in the other defect.

Please let me know if

[2015-10-14 16:41] TimotheeJeannin commented on #564
Yes, I'm trying to play on **amazon ec2** with a **g2.2xlarge** instance.
I was able to play without any problem with `source1` but I cannot make it work with `source2`.

It looks like some other people have this problem too : https://steamcommunity.com/discussions/forum/1/523897653298172545/

[2015-10-14 16:44] TimotheeJeannin commented on #564
About the VNC session, i'm using [x11vnc](http://www.karlrunge.com/x11vnc/), which means there is a **real X11 session** started on the machine. If I close the VNC session, the screen and the display will continue to run normally as if a real screen was plugged in. I don't think the VNC session is causing any problem. If I launch the game from the command line without any VNC session running, ther

[2015-10-14 17:19] gdrewb-valve commented on #564
There isn't much that Reborn can do in this situation.  Its request to create an OpenGL-enabled window failed and it needs one so it can't run.  This appears to be related to your specific configuration and not a Reborn bug.

[2015-10-14 17:20] gdrewb-valve commented on #566
I've passed this on to the larger team.

[2015-10-14 17:20] #566 closed, assigned to gdrewb-valve

[2015-10-14 17:23] gdrewb-valve commented on #569
Can you add -input_message_spew and -console to your launch options, then open the console when in the menu and press keys like space, 1, a and b and then copy in the spew here?

For example, here's the spew I get when I press those keys on a regular US English keyboard:
SDL:  got SDL_KEYDOWN
KEYDOWN (keyc): sdlkeycode=32 sdlscancode=44 SDL_GetKeyName='Space' buttoncode=66 buttonname='SPACE' Butto

[2015-10-14 17:24] gdrewb-valve commented on #557
The resource error messages are interesting, they may point to a different issue.  Removing the drivers marking for now.

[2015-10-14 17:27] TimotheeJeannin commented on #564
OK, I will investigate. :)

[2015-10-14 17:30] ghost commented on #561
Same here: http://pastebin.com/E35WzjGJ .

[2015-10-14 18:06] antekone commented on #561
Same here, http://pastebin.com/wniEdxZ4

[2015-10-14 18:24] DARKTHUNDER commented on #554
Hi , I just installed ubuntu 14.04 in my system and backed up my dota 2 game from steam and installed in it. Installed nvidia 340 drivers and i get 120 fps at 1080p full best looking resolution, While in-game i get fairly >80fps. That is some great news but my account has only games listed till 15-1-2015 and my mmr is nearly 700 points lower. My 8 months progress is lost ( including immortal items

[2015-10-14 18:39] gdrewb-valve commented on #554
Unfortunately no, this is just for Mac and Linux bugs.  You'll need to open a support ticket or post on the regular forums.

[2015-10-14 18:44] danslo commented on #378
Thank you. If there is anything else I can assist with, please let me know.

[2015-10-14 19:29] AngryPenguinPL commented on #559
What apps I should use for this?

Maybe terminal tcpdump (default in Ubuntu) and save output to txt file?

[2015-10-14 19:36] gdrewb-valve commented on #559
tcpdump is a good place to start.  Wait until the main menu has reached a steady state (a minute?) and then capture ten seconds or so.  With nothing else running to use net traffic hopefully the capture won't be too enormous.

[2015-10-14 19:38] DARKTHUNDER commented on #554
I have moved from windows to ubuntu 14.04 now. I am playing in linux. After installing the game in linux only i am unable to view my past records. My matches played till 05-01-2015 are only shown in the dota 2 history ( which is in linux now ). You can help with this in linux bugs, is it not ?

[2015-10-14 20:00] gdrewb-valve commented on #554
Sorry, I thought you were asking to have your MMR adjusted.  I'll check with the larger team about whether switching between systems should have any effect.  You're logging in with exactly the same Steam account, correct?

[2015-10-14 20:18] DARKTHUNDER commented on #554
I am playing with the same steam account. sorry for the date notation i have said is wrong. My dota 2 progress inbetween 01-05-2015 to 14-10-2015 is gone and the history with mmr it shows is terribly wrong. I started dota 2 with 2050 mmr ( after TBD matches) and then i always have been to the lowest of 1620 ( never below but the history shows i have alwaz been playing 1400 mmr matches) . I had abo

[2015-10-14 20:23] AngryPenguinPL commented on #559
I upload output as txt file here:

http://speedy.sh/s9gAR/output.txt

I start capture about one minute after start dota.

[2015-10-14 21:13] gdrewb-valve commented on #554
I'll pass this on to the larger team.

[2015-10-14 21:53] gdrewb-valve commented on #559
Thanks, the larger team is looking at the trace now.

[2015-10-14 21:56] DARKTHUNDER commented on #554
Hi there. Thanks for the support.  steam in Linux works great for me. I will check with my account details if anything is wrong. Really appreciate your quick responses. Keep up the good work.

[2015-10-14 22:08] DARKTHUNDER commented on #554
I am terribly sorry. My steam account which i used is wrong. It is an old one. I got the new login credentials and i have all my items in that account without any loss. MMR is also fine. Thanks once again. My happy dota days are gonna be back.. FPS is pretty high in linux. Thank You.

[2015-10-14 22:10] gdrewb-valve commented on #554
No problem, glad you found what the problem was.

[2015-10-14 22:52] ghost opened #570 "[Linux] Texture issue on Ubuntu 15.04"
I have this issue since reborn launched and am getting sick of booting into windows ever time i want to play my favorite video game :(

The screen shots show whats happening more or less, The issue is intermittent and gets worse once it starts. Re-launching dota fixes the issue until it come back. This also happens on the dash board.

Link to Console output:
https://gist.github.com/adamRogerson/39

[2015-10-14 22:56] ghost commented on #570
PC info:

*-cpu
          product: Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
          vendor: Intel Corp.
          physical id: 1
          bus info: cpu@0
          size: 3568MHz
          capacity: 3800MHz
          width: 64 bits

*-display
                description: VGA compatible controller
                product: Turks PRO [Radeon HD 6570/7570/8550]
                vendor: Advanced Micro

[2015-10-15 00:39] danginsburg commented on #570
Can you post Steam -> Help -> System Information.  One thing I can't tell from your bug report is what driver you are on.  Have you tried the AMD Catalyst 15.9 driver?

[2015-10-15 00:41] felipinho-lima commented on #521
I don't know how i don't know if have changes in my network but i can PLAY AGAIN.
I create lobby using Brasil server it' works
I find new match in Brasil Server and work's

I love this GAME it's my distraction out my job.

Thank You so much.

[2015-10-15 00:41] gdrewb-valve commented on #453
Can you add -input_message_spew and -console to your launch options, then open the console in the main menu and press space?  You should get some spew about the key going down and up that'll tell more about what space is showing up as.  Can you try that with and without -input_button_code_is_scan_code so that I can see the difference?

[2015-10-15 00:44] gdrewb-valve commented on #521
That's great.

Did you add +net_maxroutable 800 to your launch options?

@jonesz, are things still not working for you?  Can you try the maxroutable option?

[2015-10-15 00:50] felipinho-lima commented on #521
Yes. I think this option limited the packet.
I play now :+1: :)

[2015-10-15 00:54] gdrewb-valve commented on #521
If you have some extra time can you try it again with values between 800 and 1200, possibly by increments of 50?  At some point the game should stop working and we're curious to know where it is.

What internet service are you using?  You're in Brazil (or Peru from your name)?

[2015-10-15 01:03] felipinho-lima commented on #521
In Brasil.
During the week i can try and i can tell in here or another place my experience.

[2015-10-15 01:33] admshao commented on #515
So. I managed to freeze my pc again. Error datetime is Oct 14 21:55:20ish now. I was doing High stress test this time. And the error is really weird. Nothing about NVIDIA. I`m running new drivers now.

What is fun is that it was the second time i got the freeze when the Dire team has just won the game and it was playing the Radiant ancient death animation.

syslog https://gist.github.com/admshao/4

[2015-10-15 01:49] buhman commented on #555
+1, can confirm.

No change in behavior.

[2015-10-15 02:17] ghost commented on #521
@gdrewb-valve I fiddled around with some of my network settings and managed to get it working a few days ago. apparently a certain set of ips dhcp gives me doesn't like to work with dota2.

[2015-10-15 02:21] admshao commented on #515
So i got a crash 2minutes after started the game. This was fast. -gl_disable_buffer_storage and VSync were in use

The game was in lane phase. PC fresh restarted and running Chrome on Netflix and OBS Recording Dota to reproduce latest error conditions of Stress.

kernel https://gist.github.com/admshao/b671d7f72f8812656153
syslog https://gist.github.com/admshao/dfd4c640ebcd6b29e869
console https://

[2015-10-15 02:29] Gab0 opened #571 "Menu/dashboard slowdown/bug(?)"
Last updade broke the menu/dashboard of the game on my system. I start the game and it's ok, choose a game to watch, the map is loaded and I can spectate flawlessly. But if I fallback to the menus while the game is happening, it takes 30 full secs to load the dashboard/dota's social network, and suddenly everything is unstable and laggy... returning to the game also takes forever, but ingame fps i

[2015-10-15 04:02] chrylis commented on #566
@gdrewb-valve This might be related to #360 if loss of focus is somehow disabling the network thread. I haven't heard from any Windows users about either of these, so they do look like they may be Linux-specific.

[2015-10-15 05:21] Azazelium commented on #480
Thanks you!!!

[2015-10-15 05:33] ghost commented on #546
You can switch back to the screen by 3 finger swiping the trackpad. Thats what works for me if cmd tab doesn't work

[2015-10-15 05:43] gavindi commented on #561
I played a few games and then went to watch and it worked! I then exited the Dota 2 client and re-ran the client and went to the watch tab and it crashed again. It seems to work if you play a game first but only sometimes.

[2015-10-15 08:19] zbstof opened #572 "Cannot leave local chat"
I cannot leave location-specific groupchat ('Kiev' in my case)
Clicking 'leave' only moves focus to the chat to the right (or first, if I leave rightmost chat)
The chat contains no people.
See attached screenshot
![2015-10-14_00001](https://cloud.githubusercontent.com/assets/1374723/10508238/76aac450-732e-11e5-8c45-f5a77cbadddc.jpg)
My guess it's a relic from buggy days of reborn.
System info:
zbs

[2015-10-15 09:32] MaikuMori commented on #453
With `-input_button_code_is_scan_code`:

[code]

Without `-input_button_code_is_scan_code`:

[code]

Seems like it fails to get proper `buttoncode`.

Also while now using `-input_button_code_is_scan_code` I still don't get text "SPACE" in options it does show up in-game over the inventory slot.

[2015-10-15 09:38] ghost commented on #570
Driver is the fglrx (proprietary)

Here is a link to the full out put
https://gist.github.com/adamRogerson/08c4201584576ef449c1

Below is a screen shot of the driver in question. Also i will re-test this issue with the opensource driver available
![screenshot from 2015-10-15 10 37 27](https://cloud.githubusercontent.com/assets/5727054/10510087/c71f9402-7328-11e5-862c-99e8441d2b4d.png)

[2015-10-15 13:03] danginsburg commented on #570
@adamRogerson It looks like you are using Catalyst 15.3 from the ubuntu package.  Try using AMD Catalyst 15.9 directly from AMD, I would guess it will fix the problem: http://support.amd.com/en-us/download/desktop?os=Ubuntu%20x86%2064 You could also try using mesa 10.5.9+ which is known to work well with Dota 2 on AMD.  These are noted as minimums on the Steam page:

Graphics: nVidia Geforce 8600/

[2015-10-15 13:30] jirupu opened #573 "My display suddenly became cropped and zoomed in, I can't change it. Cant see "Apply" button"
Here's what I'm talking about

![screen shot 2015-10-15 at 8 49 12 pm copy](https://cloud.githubusercontent.com/assets/15142384/10515134/8554ca0e-7384-11e5-86e6-843348955292.jpg)

It won't allow me to change the resolution as i can't click on APPLY!!

AND !!

I can't Alt+tab back in to the game even it's set on Desktop-friendly monitor. :'( It's just blank always. PLEASE HELP!!

I'm a mac user, MB

[2015-10-15 15:05] khill commented on #558
Same thing here.  See comments in #557 and #567.

Specs: https://gist.github.com/khill/38683fbee5a77e8b9d03

[2015-10-15 15:23] danginsburg commented on #565
I don't have access to the Macbook pro retina Early 2015.  Can anyone else out there confirm this GPU hang?  If I get at least another confirmation this is not an issue specific to your system I'll open a Radar with Apple.

[2015-10-15 15:39] Tele42 commented on #521
For reference, @felipinho-lima's IP address belongs to Prymus Serviços Em Telecomunicações Ltda, Please remove your IP as there is always a risk of trouble when associating any IP address with a user.

[2015-10-15 15:48] ArnaudAndre commented on #573
Not clue what's happening on your comp but as a temporary fix you can force a specific size of the game's window with command line parameters.
In steam, right click dota, _properties_, the _general_ tab as a _set launch options_ button : type `-w 1920 -h 1080` (tweaked to your monitor's dimensions).

edit : thinking about it, do you have a retina display ?

[2015-10-15 15:52] felipinho-lima commented on #521
Done

[2015-10-15 16:00] jirupu commented on #573
YOU SIR HAVE SAVED MY LIFE!!! THANK YOU SO MUCH @ArnaudAndre !!! <3

![screen shot 2015-10-15 at 11 59 52 pm](https://cloud.githubusercontent.com/assets/15142384/10519564/dd5d80d8-7398-11e5-95f3-0ba7a444df06.png)

The only prob now is that i can't cmd+tab unlike before, unless i swpe 4 fingers to switch screens. But it's all good as long as I can play! THANK YOU AGAIN!! <3

[2015-10-15 16:53] danginsburg commented on #546
I filed SDL bug #3152 to track this issue: https://bugzilla.libsdl.org/show_bug.cgi?id=3152  This bug impacts any SDL app that uses SDL_WINDOW_FULLSCREEN_DESKTOP on OS X 10.11 (although not previous versions of OS X).

[2015-10-15 16:59] gdrewb-valve commented on #572
Probably not Linux / Mac specific.

[2015-10-15 17:01] gdrewb-valve commented on #573
Probably related to #546.

[2015-10-15 18:07] dietrmat commented on #561
Same here: http://pastebin.com/9XRpHdfv

[2015-10-15 18:16] gdrewb-valve commented on #572
You're not supposed to have two Kiev channels either, the larger team is going to take a look. They also suggested that as a workaround you could try clicking the down caret next to Kiev and then clicking the X to close the tab.

As this isn't a Mac issue it won't be tracked here.  However if this happens regularly and you have consistent repro steps please post them and I'll pass them on.

[2015-10-15 18:16] #572 closed, assigned to gdrewb-valve

[2015-10-15 18:20] gdrewb-valve commented on #559
The tcpdump information was useful but not completely conclusive as to what is happening.  It looks like some localized text files may be getting downloaded too often and the team has added some more console spew that will catch that.  The next update will have the spew, then you can try it again and see if you see console spew about repeated downloads.

[2015-10-15 18:26] gdrewb-valve commented on #463
Closing pending info that this is still active.

[2015-10-15 18:26] #463 closed, assigned to gdrewb-valve

[2015-10-15 18:26] gdrewb-valve commented on #518
Closing until we have a repro.

[2015-10-15 18:32] gdrewb-valve commented on #453
SDL itself isn't recognizing your space key as space. SDLK_SPACE is 32 so the sdlkeycode here should be 32, but instead it's SDLK_SCANCODE_MASK | SDL_SCANCODE_UNKNOWN.  That lack of information prevents Reborn from recognizing it as space.  I'll pass this on to the SDL devs and see what they say.

[2015-10-15 18:35] gdrewb-valve commented on #453
Can you post your Steam system info so that we have your specs here?

[2015-10-15 18:41] gdrewb-valve commented on #516
A future update will opt out of _NET_WM_PING so that these notifications should go away (the app will still hitch on startup, it's just turning off the notifications).

[2015-10-15 18:48] gdrewb-valve commented on #181
An upcoming update with put dota2 in a dota2.app bundle so that the menu will appear initially.  The menu function is unchanged.

[2015-10-15 18:49] gdrewb-valve commented on #346
Were you able to make more progress on this?  Should it stay open as a Reborn issue?

[2015-10-15 19:06] gdrewb-valve commented on #566
The loss of focus shouldn't affect networking in Reborn.  If there's something specific to Linux that shuts things off without focus it could be OS-specific but that would be very strange.

Regardless the larger team has it on their list to investigate.

[2015-10-15 19:09] MaikuMori commented on #453
Sure:

[code]

VRAM detection doesn't work because of ValveSoftware/steam-for-linux#3734. It's ATI 6970 2GB.

This is my input configuration in Gnome. I guess screenshot is fine, I don't feel like digging into gnome settings db to get exact values.

![screenshot from 2015-10-15 22-08-01](https://cloud.githubusercontent.com/assets/28470/10524627/39aeaf52-7389-11e5-857c-f455d7d27c43.png)

[2015-10-15 19:18] gdrewb-valve commented on #360
I was unable to repro this.  Can you post your Steam system info?

What I did:
Start lobby on machine A (happened to be Windows).
Join lobby from machine B (Ubuntu 12.04).
Start game, pick characters.
On machine B switch to a different window.  Let it sit for a while, no problems.

[2015-10-15 19:19] gdrewb-valve commented on #254
Is this still active?

[2015-10-15 19:19] gdrewb-valve commented on #351
Is this still active?

[2015-10-15 19:53] danginsburg commented on #555
So to make sure I am clear on the problem here, we freeze on loading screen in xmonad (known from #359) and also herbstluftwm (new in this bug).  Is that right?

[2015-10-15 19:53] MaikuMori commented on #351
Seems to be fixed.

[2015-10-15 19:55] danginsburg commented on #570
I'm going to close this out as an issue with AMD Catalyst 15.3.  If you find switching to Catalyst 15.9 does not fix the issue, post here and I can reopen.

[2015-10-15 19:55] #570 closed, assigned to danginsburg

[2015-10-15 19:57] gdrewb-valve commented on #351
Thanks, closing.

[2015-10-15 19:57] #351 closed, assigned to gdrewb-valve

[2015-10-15 20:03] gdrewb-valve commented on #453
SDL bug 3153.

[2015-10-15 20:25] danginsburg commented on #537
I'm going to close this out under the assumption it was a bug in 11.1.0-devel git-443d3bf unless I hear otherwise in which case I can reopen it.

@l3th3x I'm not sure the best way to install mesa on mint.  On Ubuntu there is xorg-edgers and of course you can always build from source too.

[2015-10-15 20:25] #537 closed, assigned to danginsburg

[2015-10-15 20:28] danginsburg commented on #483
This fix has been released, closing.

[2015-10-15 20:28] #483 closed, assigned to danginsburg

[2015-10-15 20:47] gdrewb-valve commented on #198
For anybody still affected by this can you respond with info on what video mode, window size and window border you're using, plus how many monitors you have and their sizes?

[2015-10-15 20:58] admshao commented on #198
I have this too

Left monitor (primary) 1920x1080@60
Right monitor (where dota runs) 1920x1080@120
Dota video is Fullscreen Friendly with all maxed and VSync Off.

i have no launch parameters that affect window

2015-10-15 17:48 GMT-03:00 Drew Bliss notifications@github.com:

[2015-10-15 21:01] gdrewb-valve commented on #198
@admshao, if you switch to a monitor-sized borderless window does Reborn start on the primary?  If you make the window smaller than the monitor does it start on the primary?  I'm wondering if this is another symptom of #556.

[2015-10-15 21:05] admshao commented on #198
I'm not @my rig atm.

It is working as i expected to open on the other monitor, but i guess i'll
have to use those -sdl_monitor # to achieve the same effect.

I'll update later with more info.

2015-10-15 18:01 GMT-03:00 Drew Bliss notifications@github.com:

[2015-10-15 21:40] superoraculus commented on #561
Just a pointer: No need for "same here" posts. Valve is working on a fix already, as per below:

"danginsburg commented 2 days ago
We have this confirmed and repro'd. We are working on a fix."

BTW Valve, that must be a hell of a bug huh, and just when major tournaments are in progress.. Sigh :/

[2015-10-15 22:40] streamfx opened #574 "Cant resume dota 2 after apple-tab."
I often apple-tab to different apps while playing and come back to dota2.  Now when I leave dota2 and goto finder or any other app I cannot get back to dota2.  I hear the sound and cursor but nothing else.  NO graphics, etc.

I have to force quit dota2 and re-launch.

MacBook pro 15" 2015.  OSX 10.11

AMD Radeon R9 M370X 2048Mb

[2015-10-15 22:56] chrylis commented on #360
Was this a bot game or a real game?

[2015-10-15 23:02] ghost commented on #574
3 finger swiping right or left to get back works for me in this instance

On Thu, Oct 15, 2015 at 3:40 PM, streamfx notifications@github.com wrote:

[2015-10-15 23:03] chrylis commented on #360
[code]

[2015-10-15 23:06] budimanjojo commented on #516
That's good enough for me. Thanks gdrewb

[2015-10-15 23:06] chrylis commented on #360
I'm using desktop-friendly fullscreen and switching desktops. The application is blurred (because compositing is disabled) but not minimized.

[2015-10-15 23:12] gdrewb-valve commented on #574
Is this different from #546?

[2015-10-15 23:13] gdrewb-valve commented on #360
My game had two humans and the rest filled with bots.  I was using a windowed video mode, does that change the behavior for you?

[2015-10-15 23:21] streamfx commented on #574
nope.. same thing :)

[2015-10-15 23:22] gdrewb-valve commented on #574
Closing duplicate.

[2015-10-15 23:22] #574 closed, assigned to gdrewb-valve

[2015-10-16 00:28] admshao commented on #198
@gdrewb-valve  OK. FullScreen Friendly is always going to left.

Borderless window works properly

Windowed with a lower resolution the chat whell goes crazy. If you move your mouse more than a inch it acts like crazy. You have to move it really carefully to be able to get something out of it. It`s fun.

Switching back to Fullscreen got my dota to be always black. The full window.. And now i can`t

[2015-10-16 00:49] gdrewb-valve commented on #198
The bug with bordered windows is a known SDL bug where it misreports the window position.  You aren't using -sdl_displayindex, are you?  I don't think so, and the fact that fullscreen is opening on the wrong monitor (non-primary) suggests #556 is happening and then throwing off the mouse cursor position, which affects the chat wheel.

I'm not sure what happened with switching back to fullscreen.

[2015-10-16 00:53] admshao commented on #198
Already reinstalled.
So main monitor is left one with 60hz. Right one is 120hz

a.out from sdl monitor infos ->
https://gist.github.com/admshao/58ec732a8aeebcfca894

Playing with -sdl_displayindexes:

0 i got on right monitor but with 60hz ingame feel, chat wheel broken
1 i got on right monitor with 120hz just fine, chat wheel broken (same as
no parameters at all)
2 or + i got on left monitor @ 60

[2015-10-16 01:07] admshao commented on #198
I had no lucky using -sw -noborder -w1920 -h1080
But after switching back to fullscreen it fixed my chat cheel.

When i restarted dota. The chat whell went broken again.

[2015-10-16 01:10] gdrewb-valve commented on #198
Try a space between -w / -h and the number.  Thanks for the experiments, it does seem like you're affected by #556.  For some reason in that case it doesn't seem like SDL or Reborn knows about the move to the other monitor so things are bad.  We're discussing it with the SDL devs but it'll take a while to get more info.

[2015-10-16 01:20] admshao commented on #198
OH. i did with and without the space after the -w and -h. Same results>
It`s fine. 1 more thing to w8. #Vulkan FTW

2015-10-15 22:10 GMT-03:00 Drew Bliss notifications@github.com:

[2015-10-16 01:20] admshao commented on #198
For Further info i`ll comment on #556. Ty for your time!

2015-10-15 22:20 GMT-03:00 Fabio Madia admshao@gmail.com:

[2015-10-16 01:25] buhman commented on #555
[right here](https://cloud.githubusercontent.com/assets/728108/10531602/8cd3387a-7379-11e5-8cb8-e78796b34740.png) to be precise.

I've played around a bit:

If I tell dota (after starting it successfully in another WM) to do anything other than 'borderless window' (then quit), it restarts fine in xmonad. If I start dota in xmonad (successfully) then switch to borderless window (possibly telling xm

[2015-10-16 10:49] chrylis commented on #360
I can give that a try, but that was causing lots of other problems (such as with general desktop focus and edge panning) when I tried it back before friendly fullscreen was added.

[2015-10-16 11:11] elfernesto commented on #360
I'll test again later today also in windowed mode.

Usually i'm in fullscreen mode, and bug is consistent. Everytime I tab-out to some other application dota disconnects from game server after around 10 seconds

[2015-10-16 14:31] ingrid3dx commented on #497
Sorry for delay, im without internet and using in my phone, cause dont have at home now ç_ç
But i was talking about the Reborn Switch.
I solved the problem in a weird way.
While not working for no reason i was trying to check everything so i notice the launch options, then i asked my friend what was about and he told me about those commands so i had the thinking "Im already on the shit so roll on

[2015-10-16 14:52] danginsburg commented on #561
We have a fix for this issue, it will be in the next update.

[2015-10-16 17:05] chrylis commented on #360
As this issue is completely reliable, I'd be happy to replicate it for you in real time if that would provide any useful data.

[2015-10-16 18:03] gdrewb-valve commented on #360
I tried it with desktop-friendly fullscreen and I got the disconnect, so I can start investigating further.  My initial attempts didn't repro it but I didn't have the option to minimize on focus.  If you turn off that option so that the game doesn't minimize do you still get the problem?  That may also be why I couldn't repro with a window either.  Has anybody seen it when using a plain window?

[2015-10-16 18:26] bykbpa commented on #558
I have same issue on ubuntu 14.04 with flgrx driver. Also, I have lag and freezes when I click on tabs on main menu and also sometimes dota crash.

[2015-10-16 18:29] presianbg commented on #558
same here, on Fedora 22 with optimus (nvidia). It was ok before the last patch.

[2015-10-16 18:43] dphildebrandt commented on #332
There seems to have been a bit of this persisting ever since the patch that 'fixed' it. The last few updates though, it's back to levels that are just as bad as before.

[2015-10-16 18:47] sagarkarira commented on #561
When will the next update be out. I wanted to watch the MLG. It is starting in 15 minutes.

[2015-10-16 18:52] chrylis commented on #360
I never minimize the game, though I'm not sure what specific X events get sent when you switch away from the virtual desktop on a fullscreen window. The "minimize on blur" bug (#182) was a problem specifically because "blur" (I switched desktops) isn't the same as "this window isn't fullscreen and primary" when you have multiple virtual desktops.

[2015-10-16 18:55] gdrewb-valve commented on #497
It's good that you have things working, but it's unclear why.  DX9 and DX11 don't exist on a Mac so those options won't do anything.

[2015-10-16 18:57] gdrewb-valve commented on #360
By default SDL will minimize on focus loss when you're using desktop-friendly fullscreen.  There's an option in the video settings to control it and I didn't have any problems until I allowed minimizing so I was guessing that might be part of it.

[2015-10-16 19:09] Gab0 commented on #567
I was having exactly the same problem, also #567. Now the game says it's out of date even though no automatic update happens. Game cache was checked and is fine.

[2015-10-16 19:24] ghost opened #576 "Clicking to buy an item sometimes not working"
Sometimes when I click on an item to buy it, the click will be registered and the sound feedback will be present, but the item won't be bought. If the bug occurs in Quick Buy, the item will disappear from the QB. Here's a video:

http://gfycat.com/EllipticalImprobableAlleycat

Happens on Linux (Mint 17.2 x64) and possibly Windows (a friend of mine seems to have the same problem).

Also, sometimes

[2015-10-16 19:45] gdrewb-valve commented on #360
In my testing this is definitely related to minimizing on focus loss.  When you switch back to the workspace with Reborn running, but minimized, SDL gets a focus-in event and tries to do a window grab.  That doesn't work since the window is minimized and SDL keeps trying over and over again and never gives control back to Reborn to run the game.  Eventually the server thinks the client has disconn

[2015-10-16 20:13] gdrewb-valve commented on #576
Issues which occur on all platforms aren't handled here, but I passed this on to the larger team.  One person did comment that on a quick look the GIF seemed to have correct behavior but they weren't sure exactly what they should be looking for.  Can you give more details on exactly what's going wrong in the GIF?

[2015-10-16 20:19] gdrewb-valve commented on #576
Also, do you have a match that Valve employees could watch to see the issue?

[2015-10-16 20:25] gdrewb-valve commented on #212
Closing pending confirmation that this is still active.

[2015-10-16 20:25] #212 closed, assigned to gdrewb-valve

[2015-10-16 20:25] gdrewb-valve commented on #238
The Oct. 16th update has another attempt at addressing this, after updating do you see the issue?

[2015-10-16 20:26] gdrewb-valve commented on #319
The Oct. 16th makes this a UI option.  In the Advanced section of key binding settings you can choose to have bindings be positional.  Give it a try.

[2015-10-16 20:28] Pharmasolin commented on #319
Updating

[2015-10-16 20:32] gdrewb-valve commented on #379
The Oct. 16th update might fix this, are you still seeing it?

[2015-10-16 20:35] gdrewb-valve commented on #396
For people having problems can you add -input_message_spew and -console to your launch options, then open the console in the main menu and press keys that aren't working? You should get some spew about the key going down and up that'll tell more about what those keys are showing up as.

[2015-10-16 20:36] gdrewb-valve commented on #473
The Oct. 16th makes this a UI option. In the Advanced section of key binding settings you can choose to have bindings be positional. Give it a try and if things are OK I'll close this out.

[2015-10-16 20:36] gdrewb-valve commented on #557
Does the Oct. 16th update help?

[2015-10-16 20:37] gdrewb-valve commented on #567
Does the Oct. 16th update help?

[2015-10-16 20:37] gdrewb-valve commented on #559
The Oct. 16th update has the new spew so if you can try it again and post the console spew that should help us make progress.

[2015-10-16 20:38] gdrewb-valve commented on #569
Closing pending more info.

[2015-10-16 20:38] #569 closed, assigned to gdrewb-valve

[2015-10-16 20:40] gdrewb-valve commented on #69
The Oct. 16th update should change the dota2 packaging a bit.  Notifications should be working, can you retry?

[2015-10-16 20:42] danginsburg commented on #561
The fix has been released.  Closing bug.

[2015-10-16 20:42] #561 closed, assigned to danginsburg

[2015-10-16 20:44] danginsburg commented on #414
Fix for this has been released, closing.

[2015-10-16 20:44] #414 closed, assigned to danginsburg

[2015-10-16 20:47] chrylis commented on #360
The distinction between "not visible" (or possibly "not on top") and "minimized" might be important; I can see from my pager that the window is still taking up the whole desktop (thus not minimized from a X perspective) but isn't visible, which SDL may treat identically.

[2015-10-16 20:59] ghost commented on #576
I'm reporting this bug here because I'm not 100% sure it happens on other platforms. So to explain the problem a bit better. Sometimes when I try to buy an item, I hear the sound feedback of it being bought, but that's all. No item was bought, no gold was spent. I just get the sound feedback of it being bought.

And on the gif you can see that I click on ALL THREE components, but only TWO were bou

[2015-10-16 21:18] vith opened #577 "Watch tab / live games no longer sorted by MMR"
The live games in the watch tab used to be at least somewhat sorted by MMR. I used to see 5-6k average MMR games listed there. Now it's 1.5-3k average MMR games.

Could this be a regression caused by the fix for #561?

![screenshot from 2015-10-16 16-13-11](https://cloud.githubusercontent.com/assets/3265539/10553518/ff218100-7420-11e5-8c6f-8a16437be11c.png)

System info: https://gist.github.com/vi

[2015-10-16 21:35] gdrewb-valve commented on #576
The larger team had a question about what was in the quick buy.  Response:
Headdress has 3 components one of which is a recipe.  He has no recipe in the stash and the amount of gold deducted from him is equivalent to the amount an entire Headdress costs(~600).  Could it be that he put the wrong item in quick buy, because to complete Pipe in this situation he would actually need 4 components.  The

[2015-10-16 21:38] gdrewb-valve commented on #577
This wasn't intentional and is supposedly fixed, are you still seeing it?

[2015-10-16 21:39] vith commented on #577
It's good now. Thanks :thumbsup:

[2015-10-16 21:39] #577 closed, assigned to gdrewb-valve

[2015-10-16 22:11] ghost commented on #576
Yes, seems so. However, I put Pipe in QB. Here's the Match ID 1870968576. Watch from around 45:18, Lion's Player perspective. The recipe for the Pipe just disappeared. I did not drop any other item into QB. I'm playing on 1080p, just in case you need to know for the replay to be shown properly (cursor positioning).

However, the other problems I mentioned are still there. E.g., getting the sound f

[2015-10-16 22:37] drewferagen commented on #557
I just tested this with the new update and this issue seems to still be happening for me.

To test it, I created a local bot game, whenever I hit the upper left button to go to the main UI. Now it will eventually go to the dashboard. However it completely seizes up besides mouse and sound for 11-35 seconds.

The last thing in the log is:
ChangeGameUIState: DOTA_GAME_UI_DOTA_INGAME -> DOTA_GAME_UI_

[2015-10-16 23:15] gramathy commented on #69
I can confirm notifications have been working after clearing out notification center database and it hasn't screwed up on my again. This is probably okay? I'll keep an eye on it long term, I just got my machine working again yesterday so I haven't had much opportunity to keep track.

[2015-10-16 23:18] gdrewb-valve commented on #69
Thanks for checking.

[2015-10-16 23:19] gdrewb-valve commented on #557
Thanks for trying it.  We have another slowdown issue with switching to the main menu and I wanted to confirm that it's still present.

[2015-10-16 23:20] gdrewb-valve commented on #567
I'm going to close this as a duplicate of #557.

[2015-10-16 23:21] #567 closed, assigned to gdrewb-valve

[2015-10-16 23:21] Eignar17 commented on #567
is new update fix

[2015-10-16 23:30] Eignar17 commented on #557
is parcial patch is create complete patch in linux @gdrewb-valve

File error loading resource header "panorama/images/heroes/selection/npc_dota_hero_default_png.vtex_c" (Error: ERROR_FILEOPEN)
/home/buildbot/buildslave/source2_dota_rel_linuxsteamrt64/build/src/rendersystem/texturebase.cpp(1933):ResourceHandleToData( panorama/images/heroes/selection/npc_dota_hero_default_png.vtex ) failed! Falling

[2015-10-17 00:01] gdrewb-valve commented on #557
I believe that's actually an old error, I don't think it's causing new problems.

[2015-10-17 00:28] khill commented on #557
I'm still seeing the issue after today's patch.  My screen freezes up any time I switch between a game and the main menu screen.  The music/sound doesn't freeze and my mouse cursor still moves.  However, all video just freezes up for 5-20 seconds.

[2015-10-17 00:44] chrylis commented on #360
FWIW, I don't have the problem when queuing. It does show up on the loading screen and even after clicking "accept" on a match while still in the lobby.

[2015-10-17 00:51] Eignar17 commented on #557
@gdrewb-valve  bug is big will require more than 3 patches

[2015-10-17 01:16] gdrewb-valve commented on #576
I've passed this on.

[2015-10-17 01:56] b-jam opened #578 "[Linux] After patch, must re-validate 4000+ files before I can find dota 2 game coordinator"
Just started playing again yesterday, couldn't find game coordinator, hit "validate game cache" , ~4600 invalid files, had to redownload GBs of data.

New patch today,  exactly the same deal.

Never had this issue previously (1month ago+)

[2015-10-17 02:55] fwsGonzo commented on #379
It worked for a while with many games both pre-game and late. So I reopened Dota and it just exited on a -1:26 game. Not sure if the players were loaded yet so I'm trying to replicate. The watch tab is no longer crashing the game. I could spectate the game that exited on me after I reopened the client again.

EDIT: Ok, I purposely loaded a -1:53 game with no players loaded, and it exited. Note tha

[2015-10-17 03:38] monororo opened #579 "[Linux]Cannot paste string in game"
Linux distribution:arch linux
Window manager:openbox
Graphics card:NVIDIA GEFORCE GT 645M

During DOTA source 1 engine, I can input words from other programs (such as leafpad) and select & paste in the game to communicate with others because of failed input Chinese in game. But in Source 2, this way can be done in main menu. If is in a match, pressing ctrl+v gets nothing.

[2015-10-17 04:00] chrylis commented on #360
It also apparently disables the "pause countdown" sounds, which is _really_ nasty.

[2015-10-17 04:22] ingrid3dx commented on #497
I know, for me was very weird but I was trying everything to make it work so I even cared if Mac has DX9/11. I was choosing commands randomly and checking
Either when Valve released Dota 2 Reborn Beta i could never experience cause was not even opening, then i update my Mac to OS X Yosemite 10.10.5, the window opened all black but was failing without entering to the menu.
Just after setting those

[2015-10-17 08:19] kon14 commented on #112
Still no updates on this one? I mean it's not breaking the game but it's really annoying.
I know you've replied to this in #54, just bumping

[2015-10-17 09:00] Rovanion opened #580 "[Linux] X.org crash when running DotA 2 with nvidia drivers on Ubuntu 14.04"
As described on [Launchpad](https://bugs.launchpad.net/ubuntu/+source/nvidia-graphics-drivers-346-updates/+bug/1507113).

Multiple times now I've had graphical glitches leading into a complete system lock of Ubuntu when running DotA 2 with the proprietary nvidia drivers on Ubuntu 14.04. The same thing doesn't happen when running Windows 10. I've also tried with the nouveau drivers from xorg-edgers

[2015-10-17 09:10] ghost commented on #557
I'm glad to see that this issue has already been reported and is receiving attention as I am getting it as well. I can also confirm it happens with both the proprietary AMD drivers and the RadeonSI drivers.

[2015-10-17 09:12] budimanjojo commented on #516
It's still happening after the latest 16/10 update

[2015-10-17 10:01] ArnaudAndre commented on #579
Yeah it was fixed after #494 but a recent update broke it again.

[2015-10-17 13:12] Gordon01 commented on #473
For me it worked, thank you.

[2015-10-17 14:36] gdrewb-valve commented on #516
The change didn't make the Oct. 16th update, it'll come in the next one.

[2015-10-17 14:39] gdrewb-valve commented on #580
You'll want to report this to NVIDIA also.

[2015-10-17 14:40] gdrewb-valve commented on #578
I'll pass this on to the Steam folks.

[2015-10-17 14:48] Rovanion commented on #580
Already by email, but thanks for the pointer. Maximum exposure!

[2015-10-17 16:21] minecraft2048 opened #581 "Not exactly a bug: Disconnecting from game caused me to unable to talk to party"
Lets say I'm playing with 5 stack party, and we communicate through ingame voice chat, this means that we use party voice chat instead of team voice chat. Then lets say my dota crashed, and then when I reconnect, I got kicked out from the party, with me forming a 1 player party. This means that if I use party open mic, they cannot hear me, and I cannot hear them. If I use team voice chat, they can

[2015-10-17 17:08] vitaliy-evsyukov commented on #413
Nothing helped. Nice work, valve.

[2015-10-17 17:10] mjstahlberg commented on #545
For my next report: What's the appropriate way to report bugs that look platform-independent?

[2015-10-17 17:25] gdrewb-valve commented on #545
The regular forums are at dev.dota2.com

[2015-10-17 17:25] gdrewb-valve commented on #581
As this isn't a Mac or Linux issue it won't be tracked here, I'll pass it on to the larger team.

[2015-10-17 17:26] #581 closed, assigned to nobody

[2015-10-17 17:51] gdrewb-valve commented on #578
Can you post your Steam system information?

Can you put up a gist of your Steam content_log.txt?  If you have a standard Steam install it'll be something like ~/.local/share/Steam/logs/content_log.txt

[2015-10-17 18:08] lewisdiamond opened #582 "Game crashes when seeking in a replay"
Not 100% of the time, but relatively often. So far it only happened to me on the first seek.

The last 2 crashes in the list are those I'm referring to. Not sure why it was discarded but I can provide the tmp file.

[code]

[2015-10-17 18:10] vith opened #583 "[Linux] Memory leak at dashboard?"
I accidentally left Dota 2 running last night after playing some custom games. This morning I immediately noticed my system was almost out of memory. Dota 2 has a virtual size of 11.1G and resident size of 9024M according to htop (text dump from htop: https://gist.github.com/vith/cb7acba65d8b0bd1588f).

After restarting the game, loading the 3 custom maps I played yesterday, and going back to the

[2015-10-17 18:51] gdrewb-valve commented on #582
I think this happens on Windows also, I've passed it on to the larger team.

[2015-10-17 18:51] gdrewb-valve commented on #583
Likely not Mac or Linux specific.

[2015-10-17 19:07] posti opened #584 "[Linux] Game not starting after last update"
After the last update the game freezes on the startup loading screen. If i don't switch the window it seems the game finishes loading and then freezes before the dashboard is shown. I cant really tell this for sure, but after the usual loading time the mouse pointer switches to the dota style but the game is frozen. That's the only clue i have so i assume it has something to do with the dash board

[2015-10-17 19:57] posti commented on #584
Just found the debugger option in the shellscript. Output:

$ primusrun ./dota.sh
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Steam_SetMinidumpSteamID:  Caching Steam

[2015-10-17 20:06] gdrewb-valve commented on #584
Can you post your Steam system information?

[2015-10-17 20:10] posti commented on #584
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3200 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-10-17 20:31] gdrewb-valve commented on #583
Confirmed that it also happens on Windows so I've passed this on to the larger team.

[2015-10-17 20:31] #583 closed, assigned to gdrewb-valve

[2015-10-18 00:12] Eignar17 commented on #557
is bug loading game and menu is big bugs

[2015-10-18 14:17] tiburcillo commented on #557
Hi, I also have the same issue. Once you're in game and you try to get back to the menu by clicking the button in the top left corner then entire game freezes for 10-20 seconds.
Issue was introduced a week ago and the recent soaring cache patch did not solve the issue.

Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x15
    CPU Model:  0x2
    CPU Stepping:  0x0
    CPU Type:

[2015-10-18 14:52] AngryPenguinPL commented on #559
Ok, I trying DOta2 now and looks like this issues is gone. When I start dota2 i see main menu and my internet usage go to 80-90% and after 2 seconds drop to very small usage about 0-5%.  Look at this screenshot with my net usage:
![zrzut ekranu z 2015-10-18 16 49 03](https://cloud.githubusercontent.com/assets/3121142/10564565/15d60396-75b9-11e5-83bc-7f44424adb52.png)

So looks like now woking fine

[2015-10-18 15:57] gdrewb-valve commented on #559
Thanks for the update.  Is anybody else seeing continuing large net usage (there will be a small amount) at the main menu?

[2015-10-18 17:18] posti commented on #584
I found something: It only works when i have my second screen connected! I can reproduce this.
I use "xrandr --output VGA1 --auto --left-of eDP1" to connect the second monitor. I guess there was an update to the xserver that broke something. The last time i remember playing without my second screen was around October the fifth. If you are interested, i can post a list of packages related to xserve

[2015-10-18 19:50] YauhenVasileusky commented on #571
I experience the same issue + everything freezes when I switch to different tabs in main menu(Heroes/Watch/Learn/etc.)

My configuration:

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3f
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  3600 Mhz
    12 logical processors
    6 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported

[2015-10-18 20:20] ghost opened #585 "[LINUXsegfault while loading a game"

[2015-10-18 20:20] #585 closed, assigned to nobody

[2015-10-18 22:30] jazztickets opened #586 "[Linux] Keeper of the Light's illuminate spell doesn't show running horses model"
Happening since the last big update. Only a particle effect shows up.

System info:
https://gist.github.com/jazztickets/ec290c38deb7fa8db404

![2015-10-18_00001](https://cloud.githubusercontent.com/assets/425930/10567052/2caa03fa-75b5-11e5-8878-9d5f7fc4b140.jpg)

[2015-10-18 23:39] gdrewb-valve commented on #586
Probably not Linux-specific.

[2015-10-19 05:23] Eignar17 opened #587 "hero texture and model error"
![pantallazo](https://cloud.githubusercontent.com/assets/8561550/10570298/94ed2c66-75f7-11e5-9fb2-2a1ccc1ef00a.png)

[2015-10-19 09:31] Staban9 commented on #584
Hi there bro, I encountered similar problems after downloading the last update which was released about 3 days ago, everything became unresponsive like when clicking the heroes, watch, armory, treasury, play, everything became laggy. It's totally unplayable - the pub and practice with bots match. I already did everything including verifying cache, even reinstalling DOTA. It always takes long to lo

[2015-10-19 09:47] Staban9 commented on #571
Hi there bro, I encountered similar problems after downloading the last update which was released 16/10/15, everything became unresponsive like when clicking the heroes, watch, armory, treasury, play, everything became laggy. It's totally unplayable - the pub and practice with bots match. I already did everything including verifying cache, even reinstalling DOTA. It always takes long to load up, a

[2015-10-19 09:50] Staban9 opened #588 "DOTA became unresponsive, unplayable and FPS drops after 16.10.15 UPDATE"
I encountered similar problems after downloading the last update which was released 16/10/15, everything became unresponsive like when clicking the heroes, watch, armory, treasury, play, everything became laggy. It's totally unplayable - the pub and practice with bots match. I already did everything including verifying cache, even reinstalling DOTA. It always takes long to load up, and takes a whi

[2015-10-19 09:52] Staban9 opened #589 "DOTA became unresponsive, unplayable and FPS drops after 16.10.15 UPDATE"
I encountered similar problems after downloading the last update which was released 16/10/15, everything became unresponsive like when clicking the heroes, watch, armory, treasury, play, everything became laggy. It's totally unplayable - the pub and practice with bots match. I already did everything including verifying cache, even reinstalling DOTA. It always takes long to load up, and takes a whi

[2015-10-19 10:11] #589 closed, assigned to nobody

[2015-10-19 10:39] PUPAS commented on #465
closed topic .. but the question is not solved ..

[2015-10-19 13:29] justSQL commented on #587
AFAIK, this is a reaaalllyyy old issue and I'm surprised it's still not fixed. This has been bothering modders even before they had official support. It's related to customs not refreshing the herolist/addon_english files. I'm  a bit surprised that it's still not fixed after official support. There have been multiple reports about this on the dev forums, and i'm fairly sure there are many with eve

[2015-10-19 13:50] justSQL commented on #587
Decided to gather a few more posts from the dev forums:
http://dev.dota2.com/showthread.php?t=176336&highlight=custom+game+ui+bug
http://dev.dota2.com/showthread.php?t=176025&highlight=custom+game+ui+bug
http://dev.dota2.com/showthread.php?t=175654&highlight=custom+game+ui+bug
http://dev.dota2.com/showthread.php?t=174710&highlight=custom+game+ui+bug
http://dev.dota2.com/showthread.php?t=174175&hig

[2015-10-19 15:11] u00101010 opened #590 "Spetre Phasma Phasmatis set portrait bug"
Hi there,

The other day I played a game and got killed by a Spectre. The **"Killed By" window** shows the portrait of the hero. However, this showed the "grids" (I don't know its specific name) of the cosmetics as well.

![screenshot from 2015-10-18 20 02 49](https://cloud.githubusercontent.com/assets/7419656/10581678/41394068-7684-11e5-8582-5f4f2b3cab08.png)

The basic model did NOT show the gri

[2015-10-19 15:55] gdrewb-valve commented on #584
@Staban9, can you post your full system specs from Steam?

[2015-10-19 15:58] gdrewb-valve commented on #465
Can you be more specific?  Ctrl and Alt cannot be bound so the issue wouldn't stay open for that.  Command can be bound, as I mentioned above, so that seems to cover the original issue's question about binding keys?

[2015-10-19 16:01] gdrewb-valve commented on #587
I'll send it on.

[2015-10-19 16:01] gdrewb-valve commented on #588
Can you post your full system specs from Steam?

[2015-10-19 16:02] gdrewb-valve commented on #590
Presumably not a Linux / Mac specific issue.

[2015-10-19 16:26] Staban9 commented on #588
@gdrewb-valve
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2594 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Suppor

[2015-10-19 16:54] gxgani opened #591 "[OSX] Draggable Fullscreen Window?"
https://cobalt60.xyz/shared/Screen-Recording-2015-10-19-22-21-59.mp4

OSX 10.11
Intel HD4000

[2015-10-19 16:54] engywook commented on #555
My issue seems to be with Borderless Window. Fullscreen works fine in herbstluftwm.

[2015-10-19 16:58] gdrewb-valve commented on #582
Can you try this again?  It should still crash but then can you put the dump file up somewhere for us to look at?

[2015-10-19 17:06] gdrewb-valve commented on #591
I can pass this on to SDL to verify if they do anything to try and prevent dragging.

Is this desktop-friendly fullscreen?

[2015-10-19 17:11] gdrewb-valve commented on #559
Closing as this appears to be addressed.

[2015-10-19 17:11] #559 closed, assigned to gdrewb-valve

[2015-10-19 17:12] Staban9 commented on #591
@gdrewb-valve I already posted my steam system info. please check it out.

[2015-10-19 17:14] gdrewb-valve commented on #571
@Gab0, your issue sounds like #557, is that correct?

@YauhenVasileusky, you appear to have a different issue and may want to open a separate item.

[2015-10-19 17:16] gdrewb-valve commented on #143
There is now a UI option in the Advanced section of the key bindings settings to turn on positional binds.  Closing pending info that this isn't sufficient.

[2015-10-19 17:16] #143 closed, assigned to gdrewb-valve

[2015-10-19 17:17] gdrewb-valve commented on #198
Is anybody having a different issue?  It seems like #556 is sufficient now and I'll be closing this out.

[2015-10-19 17:18] gdrewb-valve commented on #238
Closing pending a response that this is still happening.

[2015-10-19 17:18] #238 closed, assigned to gdrewb-valve

[2015-10-19 17:18] gdrewb-valve commented on #254
Closing pending a response that this is still happening.

[2015-10-19 17:18] #254 closed, assigned to gdrewb-valve

[2015-10-19 17:18] gdrewb-valve commented on #319
Closing pending a response that this is still happening.

[2015-10-19 17:18] #319 closed, assigned to gdrewb-valve

[2015-10-19 17:18] gdrewb-valve commented on #346
Closing pending a response that this is still happening.

[2015-10-19 17:18] #346 closed, assigned to gdrewb-valve

[2015-10-19 17:19] gdrewb-valve commented on #379
I believe the fix only applies to new games recorded after the fix.  It sounds like things are working for all newer games, is that correct?

[2015-10-19 17:20] gdrewb-valve commented on #396
Closing pending more info on what keys are not working and the spew for them.

[2015-10-19 17:20] #396 closed, assigned to gdrewb-valve

[2015-10-19 17:21] gdrewb-valve commented on #396
See also #453.

[2015-10-19 17:21] #473 closed, assigned to gdrewb-valve

[2015-10-19 17:21] gdrewb-valve commented on #521
Any luck trying different sizes?

[2015-10-19 17:22] gdrewb-valve commented on #578
Closing for now as we'll need the logs to make progress.

[2015-10-19 17:22] #578 closed, assigned to gdrewb-valve

[2015-10-19 17:28] gxgani commented on #591
Yes. And I also notice a micro-freeze when I switch from game to menu and cursor moves to a different position.

[2015-10-19 17:32] gdrewb-valve commented on #591
The desktop-friendly window is still just a window so unless SDL specifically prevents it I think the window will be draggable.  Confirming with SDL.

There'll definitely be a small lag switching from game to menu as all of the menu resources are evicted when playing the game to give the game maximum space.  There's an open issue, #557, about huge lags on switching that we're looking at but a smal

[2015-10-19 17:33] phoerious commented on #254
Hi and sorry for not responding. I got too many mails from this bug tracker over the last few days.
I just tested it and it seems to be fixed. I think you can still end up zooming in when you don't want to, but it's not like that even looking at your scroll wheel does that anymore. I need to turn it at least two or three steps in order to perform a zoom

But honestly, after I reported this bug I s

[2015-10-19 17:43] Pharmasolin commented on #319
I updated, this check-box works perfectly.

[2015-10-19 18:20] gdrewb-valve commented on #254
OK, thanks, sounds like this can stay closed.

[2015-10-19 19:09] gdrewb-valve commented on #586
The larger team has taken a look and believes they have a fix.

[2015-10-19 19:09] #586 closed, assigned to gdrewb-valve

[2015-10-19 19:17] Urubaen opened #592 "Cannot open game on Imac"
For the last week I've been unable to play Dota. Can't really recall if it started after an update, but since there have been more since, I guess the problem is elsewhere.

Basically I start the game from Steam, got to the loading screen with the Dota2 image... and that's it. Never goes any farther. The screen is blocked, most of the time I can't even forcequit and have to restart the computer. Ga

[2015-10-19 19:30] Gab0 commented on #571
Basically it is #557, but while he plays 5-7 games, my DOTA freezes right on.

[2015-10-19 19:44] gdrewb-valve commented on #571
There's definitely an issue with switching from the game to the main menu and it can occur right away, it's being investigated right now so #557 is sufficient.  Closing this.

[2015-10-19 19:44] #571 closed, assigned to nobody

[2015-10-19 19:44] gdrewb-valve commented on #592
Can you post your Steam system information?

[2015-10-19 19:56] gdrewb-valve commented on #579
I don't think this ever worked (the fix in #494 was for the console, not in-game chat).  A future update will fix it.

[2015-10-19 19:58] gdrewb-valve commented on #443
I believe this was fixed in the Oct. 16th update, are you still seeing it?

[2015-10-19 19:59] Urubaen commented on #592
Processor Information:
    Model:  iMac10,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x17
    CPU Stepping:  0xa
    CPU Type:  0x0
    Speed:  3060 Mhz
    2 logical processors
    2 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42

[2015-10-19 20:05] gdrewb-valve commented on #587
The larger team has this list now.  Due to the number and variety of bugs here it's hard to say when they'll get addressed.

[2015-10-19 20:05] #587 closed, assigned to gdrewb-valve

[2015-10-19 20:07] gdrewb-valve commented on #590
I've passed this on to the larger team.

[2015-10-19 20:07] #590 closed, assigned to gdrewb-valve

[2015-10-19 20:20] Turmfalke2 commented on #518
@gdrewb-valve It happened again, played a few games of solo ranked and at the end found that I once again triggered the bug.

The only new information is that the bug temporally fixed it self when I started spectating a game.

Any idea how we could get a better repo than "play a few games"?

[2015-10-19 20:22] gdrewb-valve commented on #518
Other than specifically experimenting with playing games and seeing when it happens I don't have a lot of concrete suggestions.

[2015-10-19 21:32] Turmfalke2 commented on #518
ok, I just reproduced it again.
1. started dota
2. checked, console is not bugged
3. started searching for a ranked match
4. checked console is not bugged
5. accepted and waited for rest to load in
6. console is bugged and outputs twice

[2015-10-20 00:34] gdrewb-valve commented on #518
Thanks, I'm also checking with the larger team.

[2015-10-20 11:28] mickyjb81 commented on #592
I have exactly the same problem.  Happened out of the blue just hangs on the red square load screen.  Have to force quit to exit.  I have the exact same 4670 Radeon vid card that the poster has.

[2015-10-20 13:55] emnoor opened #593 "[Linux] Weird UI of sidepanel when in low priority"
Not sure if it is only related to Linux (don't have other platforms).
Image:
![Image of the bug](http://i.imgur.com/QxszKZQ.jpg)

Clicking on the red portion does not close the "play dota" side panel.

[2015-10-20 16:08] danginsburg commented on #592
I just tried on a very similar system spec and it is working just fine.  I am about to try upgrading from 10.9.5 to 10.11.  Is your machine hung?  If you run in windowed mode with -sw -w 1280 -h 720 on the command-line is the entire system frozen?

Processor Information:
    Model:  iMac11,2
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x25
    CPU Stepping:  0x5
    CPU Type:  0

[2015-10-20 16:29] gxgani commented on #591
@gdrewb-valve is it not possible to unify them into a single entity?

[2015-10-20 16:37] gdrewb-valve commented on #591
I'm not sure what you mean.  Unify what into what kind of entity?

[2015-10-20 16:39] gdrewb-valve commented on #593
I've passed this on to the larger team.

[2015-10-20 16:39] #593 closed, assigned to nobody

[2015-10-20 17:05] Urubaen commented on #592
Mine is not in a very good shape (it's from 2009), I used to play Dota 2 with pretty much every option on "low" but it never bothered me, I don't really play for graphics, as long as the game works... Which it doesn't anymore.

I updated to 10.1.11 just yesterday, had the same problem with the previous version of the OS.

"If you run in windowed mode with -sw -w 1280 -h 720 on the command-line is

[2015-10-20 17:15] danginsburg commented on #592
I just tried this on the iMac11,2 on OS X 10.11 and I can not repro this bug.  Can you guys also run with -con_logfile on the command-line and post the contents of game/dota/console.log?  Can you also try doing Verify Integrity of Game Cache in the Steam Properties?

@Urubaen You can see this clicking on Dota 2 in Steam -> Properties -> Set Launch Options...

[2015-10-20 17:22] gxgani commented on #591
It almost seems like the game part is being run in a different resource and menu in another since you said that the resource are evicted. Or the development of upcoming In-game UI would actually bridge these resources?

[2015-10-20 17:25] Urubaen commented on #592
Fantastic, it worked modifying the Launch options ! Crazy since I actually had modified them twice following some advice on another forum...

Game launches perfectly and I can switch back to full screen once I'm in.

Thanks a lot man, appreciate it

[2015-10-20 18:08] danginsburg commented on #592
@mickyjb81 Does the same fix work for you?

[2015-10-20 18:18] jacobcraner commented on #557
I am having a similar experience, trying to change tabs in the menu or entering the menu from a match freezes the game for about 20 seconds. When online, this disconnects the user from the match. This happens on all my machines, running Ubuntu 14.04 with either AMD and Nvidia cards in them and different drivers provide no change.

[2015-10-20 19:12] danginsburg commented on #557
We are working on a fix for this and are definitely aware of the problem.

[2015-10-20 19:23] danginsburg commented on #592
Closing pending additional info from @mickyjb81

[2015-10-20 19:23] #592 closed, assigned to danginsburg

[2015-10-21 00:33] danginsburg commented on #557
We have a fix for this, it will be in the next Dota 2 update.

[2015-10-21 00:39] khill commented on #557
Awesome.  Thanks!

[2015-10-21 03:38] gdrewb-valve commented on #591
The UI takes GPU memory for its images and such.  Those all get discarded when running the game so that the game gets the whole GPU.  Then when you switch to the menu things need to get reloaded so there's a hitch (that's a bit oversimplified but gives you the idea).

[2015-10-21 07:08] Eignar17 opened #594 "Texture huskar bug in game"
![pantallazo](https://cloud.githubusercontent.com/assets/8561550/10629904/6ebca542-7798-11e5-8f4a-831273ae36bc.png)
is bug when they kill huscar

[2015-10-21 10:58] Staban9 opened #595 "Bug/Glitch caused by 16.10.15 update? Any Progress or Action being done?"
After this update, I can't anymore play dota. All buttons are not responding quickly and games are unplayable since my fps drops from time to time. I haven't heard anything whether it's being fixed or not. Do we still have hope? I thought the semi update today has the solution for it, but there wasn't!! Please to those who have knowledge about this, tell us if this is known by valve, taking action

[2015-10-21 13:24] Rovanion commented on #580
Updated the BIOS version on my mother board and played two more games, have yet to crash again. Will report back in two weeks with more info.

[2015-10-21 13:31] danginsburg commented on #546
We patched SDL and have a fix for this issue.  It will go out in a future Dota 2 update.

[2015-10-21 13:45] danginsburg commented on #534
I have filed a Radar with Apple on this issue.  I will close this bug here.  If anyone else observes the same issue, please post here with your System Information.

[2015-10-21 13:45] #534 closed, assigned to danginsburg

[2015-10-21 13:47] danginsburg commented on #529
Since the flickering has only been reported by a single user, I don't yet feel it warrants filing a bug with Apple since it is not clear if this is specific to this system or a universal bug.  If anyone else observes this issue please post here and if we get more than one report I will file a Radar with Apple.  Closing for now.

[2015-10-21 13:47] #529 closed, assigned to danginsburg

[2015-10-21 13:50] danginsburg commented on #565
Interestingly, this callstack is similar to bug #534 in that it is coming from the scaleform texture upload, although it is a completely different driver (Intel BDW in this case, NVIDIA in bug #534).

[2015-10-21 13:53] danginsburg commented on #565
I mentioned this issue in the same Radar filed for bug #534.  I will update if we hear anything from Apple.  Other users: please post if you encounter the same issue with your system specs.  Closing for now.

[2015-10-21 13:55] #565 closed, assigned to danginsburg

[2015-10-21 15:27] gdrewb-valve commented on #588
This bug tracker is only for Mac and Linux issues.  I've sent your report on but you'll want to post in the regular forums at dev.dota2.com.

[2015-10-21 15:27] #588 closed, assigned to gdrewb-valve

[2015-10-21 15:29] gdrewb-valve commented on #595
The team is actively working on a lot of bugs.  It's hard to know if they're what you report or not but perf issues are definitely being looked at.  However, this bug tracker is for Linux and Mac issues so you'll want to go check out dev.dota2.com.

[2015-10-21 15:29] #595 closed, assigned to nobody

[2015-10-21 15:29] gdrewb-valve commented on #580
OK, closing for now.

[2015-10-21 15:29] #580 closed, assigned to nobody

[2015-10-21 15:45] admshao commented on #580
I'll try that for #515 since it's seems very similar issue.

2015-10-21 13:29 GMT-02:00 Drew Bliss notifications@github.com:

[2015-10-21 18:29] gdrewb-valve commented on #594
I'll pass this on to the larger team.

[2015-10-21 18:34] #198 closed, assigned to gdrewb-valve

[2015-10-21 18:35] gdrewb-valve commented on #379
Closing pending more info.

[2015-10-21 18:35] #379 closed, assigned to gdrewb-valve

[2015-10-21 18:35] #443 closed, assigned to gdrewb-valve

[2015-10-21 18:36] gdrewb-valve commented on #582
Closing pending more info.

[2015-10-21 18:36] #582 closed, assigned to gdrewb-valve

[2015-10-21 18:56] sinamiandashti opened #596 "Wierd UI language problem [OSX elcapitan]"
In recent update

look at the screen shots
<img width="1440" alt="screen shot 2015-10-21 at 10 22 50 pm" src="https://cloud.githubusercontent.com/assets/195868/10646864/758aa40a-7842-11e5-8acf-021cbc54ec7f.png">
<img width="1440" alt="screen shot 2015-10-21 at 10 23 35 pm" src="https://cloud.githubusercontent.com/assets/195868/10646865/768dd246-7842-11e5-84d3-1f3f5ca5cd4c.png">

[2015-10-21 18:57] sinamiandashti commented on #596
i cant even play the game ... cant lockin my hero
a lot of texts change to underlined placeholders

plz fix this ... game is unplayable

[2015-10-21 19:00] gdrewb-valve commented on #596
You appear to be missing files, try validating your local files from Steam.

Also this wouldn't be specific to Linux or Mac so this won't end up staying open.

[2015-10-21 19:01] sinamiandashti commented on #596
how can i validate @gdrewb-valve

[2015-10-21 19:06] gdrewb-valve commented on #596
In Steam right-click on the game, select Properties, then the Local Files tab, then click on "Verify integrity of game cache."  That'll take a while to run.

[2015-10-21 19:41] sinamiandashti commented on #596
Fixed
thanks

[2015-10-21 19:41] #596 closed, assigned to gdrewb-valve

[2015-10-21 20:12] gdrewb-valve commented on #576
The larger team looked at your match and feels that things are working as expected with the purchasing.  The sound issues aren't Linux-specific so I'm closing this out.

[2015-10-21 20:12] #576 closed, assigned to gdrewb-valve

[2015-10-21 20:16] ghost commented on #576
So nothing on why the Recipe for Pipe disappeared by itself on 45:18? Without me doing anything?

[2015-10-21 21:47] ArnaudAndre opened #597 "Steam for linux doesn't know of dota2's logo"
When creating a .desktop shortcut (in steam, right-click on dota 2, _Create Destkop Shortcut_ ) the resulting shortcut uses the generic steam icon rather than the dota 2 logo it would use on windows. Same happens for _Create start menu shortcut_ during game installation.

As per [steam for linux #989](/ValveSoftware/steam-for-linux/issues/989) steam doesn't try to generate icons for linux from the

[2015-10-21 23:30] gdrewb-valve commented on #576
They thought that you had clicked, is this not accurate?
::: Watching his mouse positions again, it looks exactly like he moves his mouse over where the pipe recipe would be in the combine tree inside the shop, and clicks, then moves his mouse quickly away.

[2015-10-21 23:49] admshao commented on #576
On top of that. I can add that weird things happens when you have exactly
the money for a item. or the mana. and so forth

Let me try to be clear. You have 70 gold and want to buy a tp on the
Shortcut that you place above the Gliph Button. You spam clicks until you
have the 75 gold. The client will hide and show the item and play the sound
like you had just bought and after that gives the error me

[2015-10-21 23:55] magist3r commented on #453
Some more info. Load Dota 2 with 'ru' keymap and press '1':

With -input_button_code_is_scan_code:

[code]

Without -input_button_code_is_scan_code:

[code]

With 'en' keymap all works fine.

Some system info:

[code]

[2015-10-21 23:59] magist3r commented on #453
Example with 'en' keymap:

[code]

[2015-10-21 23:59] admshao commented on #515
@gdrewb-valve  following the tips from #580

I did update my bios to latest
upgraded ubuntu to 3.19.0.31
after that i went to recovery mode. and purged any graphic drivers and reinstalled.

I could stress the system for 4 hours straight and no hangs so far.
I think it`s safe to close this issue for now

Let me know if any info is needed!

[2015-10-22 00:01] gdrewb-valve commented on #515
Great, thanks for letting us know.  If you see further problems we can reopen.

[2015-10-22 00:01] #515 closed, assigned to nobody

[2015-10-22 00:11] gdrewb-valve commented on #453
Thanks, that does look like the same SDL bug where it isn't recognizing keys properly.

[2015-10-22 00:28] #594 closed, assigned to gdrewb-valve

[2015-10-22 00:29] gdrewb-valve commented on #584
@posti, it sounds like you've found a possible xserver explanation for this?  Do you still think there's a bug in Reborn?

[2015-10-22 01:46] Tele42 commented on #597
As a side note, @Plagman communicated via another method that the source 1 dota 2 issue tracker has been made private to valve, it is not deleted, just not public.

[2015-10-22 02:42] yuhihe commented on #515
I used to have same problem. After few dota 2 update the problem was fixed.

I use Linux Mint 17.2 with 3.19.0-18 kernel and proprietary driver.

[2015-10-22 04:18] Eignar17 opened #598 "Killed by box not showing the correct image"
![pantallazo-8](https://cloud.githubusercontent.com/assets/8561550/10656912/093ee2ae-784a-11e5-8627-6d96c465f6de.png)

[2015-10-22 05:49] Eignar17 commented on #594
OK thanks

[2015-10-22 06:33] daya-prac commented on #459
My Debian 8 also has this question

[2015-10-22 09:18] PUPAS commented on #465
I will be determined.
We have to work the button CMD. I tried to tie it, but it's impossible. I posted a screen shot on the screen.
Please tell me how to knit.
that's how it was before...

http://s019.radikal.ru/i604/1510/2c/1fc28df21d7d.png

[2015-10-22 11:21] Turmfalke2 commented on #518
@gdrewb-valve found something that is likely related to it. If I start dota and type and incorrect command in the console such as "sdf" there is no response. If however the bugged already triggered I get "unknown command: sdf" twice.
Maybe that helps with figuring where the error is located.

[2015-10-22 12:33] danginsburg commented on #557
Fixed in Oct. 21st update.

[2015-10-22 12:33] #557 closed, assigned to danginsburg

[2015-10-22 17:17] Tele42 commented on #598
@Eignar17 Please be more verbose with your issue reports, images are not searchable on github.

[2015-10-22 17:49] AngryPenguinPL commented on #597
Same here, I can only get default steam icon. This same is in most Linux games from Steam but if I not running it often, this is not problem. But in game like Dota2 (i try play in it every day) should be a good icon.

[2015-10-22 18:47] ArnaudAndre opened #599 "Game is ready desktop notification doesn't use the dota logo"
Former dota 2 used to put the dota 2 logo in the game-found notification. In reborn the notification only has text. If you can't hear the game-found sound it's not immediately obvious what the popup is for.

In #69 Drew mentions that dota displays the message with the `notify-send` command.
`notify-send` has a `--icon` option which can be either a path or the name of a known icon (i.e. something i

[2015-10-22 18:47] gdrewb-valve commented on #598
I believe this happens on Windows also, I've passed it on to the larger team.

[2015-10-22 18:57] gdrewb-valve commented on #576
@admshao, I've passed this back to the main team but this isn't really the forum for things that happen on Windows and in Source 1.

[2015-10-22 18:58] gdrewb-valve commented on #459
Can you post your system information from Steam?  As I mentioned above this looks like a known problem with older graphics drivers.

[2015-10-22 19:14] gdrewb-valve commented on #518
Interesting, I've passed this on.

[2015-10-23 00:13] felipinho-lima commented on #521
Sorry for delay. I try now

[2015-10-23 00:32] felipinho-lima commented on #521
Only works set 800 at 950 ... 1000 dont't work. Always same you say 50 and 50 .. i create lobby can test for it.
Thanks

[2015-10-23 00:36] gdrewb-valve commented on #521
Did you try 850 and 900?  Those might be interesting, but it's not critical.  Thank you for the info.

[2015-10-23 00:45] felipinho-lima commented on #521
Yes .. 800 .. 850 .. 900 and 950 its works ... more no

[2015-10-23 00:57] gdrewb-valve commented on #521
OK, thanks.

[2015-10-23 04:56] ghost opened #600 "No HealthBars, no minimap"
![file](https://cloud.githubusercontent.com/assets/5942127/10684832/2bd9e972-7952-11e5-96d5-57fb6d5f12c8.png)
As you can see, health/mana bars and minimap are not showing up. Common threads on the issue have not helped as nothing relevant could be found. The running system is archlinux. The card is a 780GTX with nvidia proprietary drivers. I've tried various things like 'hud_sf_reload dota_sf_hud_

[2015-10-23 08:54] zeronote commented on #464
It will be useful to know which SDL version Reborn actually use in order to get the right source code and hopefully propose a patch.

[2015-10-23 12:28] danginsburg commented on #546
Fixed in 10/22 update.

[2015-10-23 12:28] #546 closed, assigned to danginsburg

[2015-10-23 12:34] danginsburg commented on #600
Can you post your system specs from Steam -> Help -> System Information?  Also, what resolution is your monitor and what mode are you running the game in (Desktop Friendly Fullscreen, Exclusive Fullscreen, Windowed, Borderless Windowed)?  Does running in windowed vs. fullscreen make a difference?  I suspect this is some kind of issue related to running in i3 and maybe resize events, but that is a

[2015-10-23 14:23] sgardn opened #601 "Unable to download updates"
I'm on a mac, yosemite OS. When there is an update queued I tell it to download and it shows me this:

![unresponsive](https://cloud.githubusercontent.com/assets/1424950/10695128/0e06c212-7970-11e5-8925-5a49436b544d.gif)

After a minute or two, it shows me:

<img width="438" alt="screen shot 2015-10-23 at 10 23 20 am" src="https://cloud.githubusercontent.com/assets/1424950/10695139/22f2d8f0-7970-1

[2015-10-23 15:01] ghost commented on #600
Hi, reinstalling the game effectively fixed the problem. I had indeed tried all modes and resolutions and i3 used to do just well with dota2 before reborn. Well, anyways, I appreciate your swift reply.
Thank you.

[2015-10-23 15:21] danginsburg commented on #600
OK, glad to hear.  Closing.

[2015-10-23 15:21] #600 closed, assigned to danginsburg

[2015-10-23 15:45] cstruck commented on #584
@gdrewb-valve I've got the same problem stated in the first post.

the game freezes right after the loading screen ends.
For me it makes no difference if I have my second screen on or off. In both cases it freezes.

========== My specs are ===========

[code]

=========== The strace debug shows ===============

[code]

and then it freezes and has to be killed by the OS.

[2015-10-23 15:51] cstruck commented on #584
ok for me it seems that the problem is somewhere in the windowed mode... game starts with the -fullscreen argument.

maybe that helps.

[2015-10-23 15:54] Tele42 commented on #464
@zeronote Dota 2 should be using a pre-release of 2.0.4, just use git master as it should be very close, besides, the fix would go into SDL2 proper, not a fork.

[2015-10-23 16:46] Srogozins commented on #443
Seems to be fixed now.

[2015-10-23 18:20] gdrewb-valve commented on #464
Note also that there is a limitation in Reborn itself as it doesn't have any handling beyond the five buttons I mentioned.

[2015-10-23 18:22] gdrewb-valve commented on #584
That's odd, usually fullscreen is the more complicated option.  We'll have to see if we can repro.

[2015-10-23 18:23] gdrewb-valve commented on #601
You'll want to post this in a Steam forum so that the Steam team seems it.

Does any other downloading in Steam work?  Do you have other Mac games?  If so and you have a small one can you delete its local content and try redownloading it?

[2015-10-23 18:28] AngryPenguinPL commented on #558
This issues is fixed now on my Linux rig. Looks like you fixed it in same time as this issue https://github.com/ValveSoftware/Dota-2/issues/557

[2015-10-23 19:04] gdrewb-valve commented on #558
Anybody else still having problems?

[2015-10-23 19:05] khill commented on #558
No, I'm good.  This last patch fixed all my issues.  Thanks.

[2015-10-23 19:11] budimanjojo commented on #516
Confirmed it's not showing the notification again after the latest update. Closing, thanks gdrewb.

[2015-10-23 19:12] #516 closed, assigned to gdrewb-valve

[2015-10-23 19:19] gdrewb-valve commented on #518
I think I found the underlying problem and a fix will be in a future update.

[2015-10-23 19:19] bykbpa commented on #558
Now everything works fine.

[2015-10-23 19:20] gdrewb-valve commented on #558
Thanks all, closing.

[2015-10-23 19:20] #558 closed, assigned to gdrewb-valve

[2015-10-23 19:22] gdrewb-valve commented on #307
How are things looking nowadays?  We've done a few optimization passes so the really bad cases should be fixed.  There'll always be room to make things better in the future but we'll close this out unless there a specific problem areas.

[2015-10-23 19:23] gdrewb-valve commented on #318
It sounds like with the configuration change this is no longer an issue?

[2015-10-23 21:15] gdrewb-valve commented on #509
How are things running these days?

[2015-10-23 21:15] gdrewb-valve commented on #329
@mjmetts, is this issue still active?

[2015-10-23 21:16] gdrewb-valve commented on #395
Has anything changed with the recent updates?

[2015-10-23 21:17] gdrewb-valve commented on #485
@sebyx07, is this issue still active?

[2015-10-23 21:17] mjmetts commented on #329
No longer an issue for me!

[2015-10-23 21:17] #329 closed, assigned to gdrewb-valve

[2015-10-23 21:18] gdrewb-valve commented on #492
@DeadlyGhast, is this issue still active?

[2015-10-23 21:18] gdrewb-valve commented on #495
Closing pending more info.

[2015-10-23 21:18] #495 closed, assigned to nobody

[2015-10-23 22:18] posti commented on #584
@cstruck Confirmed. -fullscreen fixes it.

@Staban9 I think i have that issue too, but you should post it in a separate thread. This is something else.

[2015-10-23 22:23] KuriKai commented on #69
This seems to have broken in ubuntu. How can i go about debugging it?

[2015-10-23 22:37] gdrewb-valve commented on #69
There's not a lot you can do.  See if notify-send works when you run it manually.  If so then see if Reborn is trying to run notify-send.

As far as I know nothing has changed in Reborn's code to launch the notify.

[2015-10-23 23:14] gdrewb-valve commented on #521
In the interest of finding out more concrete information can you try the instructions at http://www.dslreports.com/faq/5793 to find out your MTU size?

There's also this article in Portuguese https://forum.zwame.pt/threads/achar-o-mtu-da-ligacao-adsl.212830/ I don't read Portuguese and the Google translate result was a little iffy so hopefully that page is readable.

[2015-10-23 23:32] serianx commented on #556
This is affecting me, I've read the comments on issue #13 and I want to help fix this bug.

This is all the information I have gathered:
I use gnome3
Usually, my primary monitor is on the right  (check SDL test at the end)
If I force dota to open in windowed mode, then it will open on the correct monitor, ( it also changes, according to the -sdl_displayindex value)
if the window is set to borderle

[2015-10-23 23:34] gdrewb-valve commented on #556
You could try and contact the maintainers of your window manager and see what they say or if they have more info.  However at this point I think it'll have to wait until the SDL team can try and dig into it.

[2015-10-23 23:35] serianx commented on #13
Same problem Here, I posted my results on thread #556 because the option -sdl_displayindex 2  doesn't help for me. What else can I do to help fix this?

[2015-10-24 01:39] serianx commented on #13
also The option -fullscreen makes the game launch in the correct monitor but with extremely low framerate ~6fps so it's not really a workarround

[2015-10-24 05:27] cstruck commented on #584
@gdrewb-valve @posti
I think there was a bug a while ago which affected tiling window manager, as I can see from @posti 's specs we both use tiling window managers (i3 and awesome). Maybe that could also be a hint where to look at.

[2015-10-24 06:04] gear4s commented on #509
seems to run fine (no frame drops) but it just crashes while loading in now (reconnecting doesn't crash)

[2015-10-24 07:20] gxgani opened #602 "[OSX] Volume/Brightness HUD No longer hidden"
I've recently noticed that Volume and Brightness HUD starded popping up in game.

![](https://cobalt60.xyz/shared/Screen-Shot-2015-10-24-12-11-10.png)

[2015-10-24 09:18] rained23 opened #603 "[Linux] Freeze / Not Responding when quiting client"
Hi,

The client freeze/ not responding when I try to quit. I need to force kill it manually.

Below is my system specs

[code]

[2015-10-24 12:06] sebyx07 commented on #485
i reinstalled lubuntu, now it works

[2015-10-24 13:22] msjyoo commented on #13
@gdrewb-valve Using `-sdl_displayindex 2` worked fine until now, but a since a few patches ago when I use that option, I get "No supported resolutions". It works perfectly fine, except I don't get a list of resolutions. This does not happen if I omit the launch option.

[2015-10-24 16:28] ilyuhin-s opened #604 "the console does not work"
when you open the console. in it nothing is displayed and nelsa to write in it. Button does not work.
OS Deepin Linux

[2015-10-24 16:57] Tele42 commented on #604
Without more information, https://github.com/ValveSoftware/Dota-2/issues/120#issuecomment-118086863 most likely can help you get past this issue. Missing system fonts would be a distro packaging issue.

[2015-10-24 19:25] gdrewb-valve commented on #584
There are issues like #359 where it's actually fullscreen that hangs on startup, so there are certainly issues with various window managers.

[2015-10-24 19:29] gdrewb-valve commented on #602
Does it pop up on its own or when you hit certain keys?

[2015-10-24 19:30] gxgani commented on #602
Only upon usage.

[2015-10-24 19:30] gdrewb-valve commented on #603
Has this always happened?  If not did this start happening after a Reborn update or after a Steam client update?

[2015-10-24 19:31] gxgani commented on #602
To also add, FPS drops during the HUD duration.

[2015-10-24 19:31] gdrewb-valve commented on #602
Usage of the volume and brightness controls?  Do they then go away?

[2015-10-24 19:31] gxgani commented on #602
Yes, after the default timeout, they disappear.

[2015-10-24 19:33] gdrewb-valve commented on #602
Do they not work properly?  I'm not sure what the issue is here.  If you used the volume controls I would expect the volume control to pop up.

[2015-10-24 19:34] gdrewb-valve commented on #604
There is also #169 which is similar.

[2015-10-24 19:36] gxgani commented on #602
In source 1 and just before the recent update, the HUD was not appearing when brightness/volume were changed, which I suppose seemed normal? And just as I said, there's noticeable amount of drop in the FPS when the HUD appears.

[2015-10-24 19:37] gdrewb-valve commented on #13
That behavior is expected since 2 is not a valid display index for you so there's no way to retrieve monitor-supported resolutions.

[2015-10-24 19:40] gdrewb-valve commented on #485
Thanks, closing.

[2015-10-24 19:40] #485 closed, assigned to gdrewb-valve

[2015-10-24 19:41] gdrewb-valve commented on #509
Is there already an issue open for that?  If not you should open one with whatever crash information you have (failure report IDs from Steam system info, console output, whatever you have).  I'm going to close this since the frame drops no longer happen.

[2015-10-24 19:41] #509 closed, assigned to gdrewb-valve

[2015-10-24 19:42] gdrewb-valve commented on #602
OK, thanks for the clarification.

[2015-10-24 20:19] ilyuhin-s commented on #604
помогла установка пакета "ttf-liberation"

[2015-10-24 20:19] #604 closed, assigned to nobody

[2015-10-24 20:19] ilyuhin-s commented on #604
has helped to install the package "ttf-liberation"

[2015-10-24 21:38] Vuccappella opened #605 "[MAC] In game friend UI does not work."
https://i.imgur.com/4lDOTbW.jpg

As you can see in my friend list i have a friend invite. Right clicking that name and selecting accept friend invite does not work. Going to this person's profile and clicking accept friend request at the top right corner does not work either. The only way I could accept the friend request was through steam. I think same behaviour is observed when trying to add peo

[2015-10-24 22:24] John23Anthony opened #606 "[Linux] Dota 2: Reborn crashes"
Dota 2: Reborn crashes on logo screen. Been trying to resolve it now for sometime, but nothing has worked so far. Although while typing this, I've tried again, this time it didn't crash, but just froze. Had to reload my DM to exit it though, and upon doing that I got the following error when steam tried to load up. I'm running DeepinOS 2014.3 which is based on Ubuntu 14.04

"OpenGL GLX context is

[2015-10-24 22:55] Tele42 commented on #606
@Wolfie5493 github formatting can be found at https://help.github.com/articles/github-flavored-markdown/, what you have now is pretty legible.

[2015-10-24 23:06] John23Anthony commented on #606
Noted and subsequently updated. Thanks!

[2015-10-25 11:52] Tele42 commented on #606
@Wolfie5493, I just noticed your specs hint that you might have an Optimus system, if that is true, than that is the root of the issue. What method are you using to use the nvidia card? https://github.com/ValveSoftware/portal2/issues/219#issuecomment-46381697 hints that using Primus via optirun may increase you chances of success.
I am not an Optimus user, so I don't have first hand experience wit

[2015-10-25 13:21] John23Anthony commented on #606
I do indeed have an optimus system. My integrated graphics (intel) isn't supported with dota or most other games so i have to activate my Dedicated GPU to play them. I use Bumblebee, and run most graphic intensive programs with optirun [application]. Without this steam doesn't even let me start most games

[2015-10-25 14:04] gramathy commented on #522
Also getting a lot of performance issues, framerate sub-40 on an i5 3750K@4.2GHz and a 980.

System Software Overview:

  System Version:   OS X 10.10.5 (14E46)
  Kernel Version:   Darwin 14.5.0
  Boot Volume:  Holmes
  Boot Mode:    Normal
  Computer Name:    BakerSt
  User Name:    *******
  Secure Virtual Memory:    Enabled
  Time since boot:  19:48

Hardware:

[code]

Graphics/Displays:

[code

[2015-10-25 17:19] ghost opened #607 "[Linux] Can't connect to gameservers"
I'm unable to connect to any servers, neither to spectate a game nor to play a game. Local Play works as intended.
I had the Problem before and there was a Message in the console:
`Resending reliable seq 1`
repeated endlessly. Now this Message is gone and it just states:

[code]

Using "status" in the Console (to specatate a game) gives me:

[code]

Using Wireshark gives me the following:
ICMP pac

[2015-10-25 17:25] gear4s commented on #606
try posting the output of this:

also it looks like you're running 32bit Steam on a 64bit PC, and missing a few 32bit dependencies:

[2015-10-25 17:42] gluttonyGit opened #608 "[OSX] Avatar issue in "Your last match" section"
OS X version: 10.11.1

Main page has problem with hero avatar in "Your last match" section.

![2015-10-25 20 38 57](https://cloud.githubusercontent.com/assets/9007635/10716893/9fee68c6-7b58-11e5-93d8-c66f8c698d73.png)

[2015-10-25 17:46] nipunanoob commented on #492
yes i still have this problem and my os is updated to 10.10.5. I tried
redownloading but to no avail

On Sat, Oct 24, 2015 at 1:18 AM, Drew Bliss notifications@github.com
wrote:

[2015-10-25 18:10] John23Anthony commented on #606
Forgive my lack of knowledge here, but the output of the first command creates a file, how do i open/view/attach it?

and yes, I suspected my steam to be 32 bit. how would i install a 64 bit steam client or fix the 32-bit dependency errors?

[2015-10-25 18:18] Tele42 commented on #606
ldd outputs to stdout (regular text), and grep is a filter. Steam is only available in 32 bit, but this an irrelevant detail. As for gameoverlayrenderer.so, steam always tries to preload a 32 bit and 64 bit overlay library, one is always expected to non-fatally fail as an application can not be 32 bit and 64 bit at the same time.

[2015-10-25 18:24] kolobos opened #609 "[Linux] Question: Does Dota 2 use OpenGL 4.2 extensions, or it won't use anything above 4.1?"
Not an issue, but questions are usually allowed on GitHub and I can't find that information through Google.

Thinking about trying LLVM 3.8-devel branch and Mesa Git branch on RadeonSI drivers and AMD Bonaire graphics card.
I know that minimal requirements are OpenGL 3.3, my open-source driver supports 4.1 at the moment.

Will OpenGL 4.2 extensions support in the drivers benefit Dota 2 performance

[2015-10-25 18:31] John23Anthony commented on #606
The output is as follows for the ldd command.

[code]

[2015-10-25 18:36] Tele42 commented on #606
@Wolfie5493 I'm guessing here, but I think you need to run ldd the same way you run steam (with the optimus-enabling command) to get a valid result.

[2015-10-25 18:43] gear4s commented on #606
yes you do. I don't use nvidia though (amd); it'll help to get specifics

https://asciinema.org/ seems good for "sharing" what your commands do

also please share the output of this command:

I know this would be a lot to paste but I know for a fact that it has to do with your opengl libraries being symlinked to the incorrect library files. also try using Primus on Linux (it's a lot better on Arch

[2015-10-25 19:02] rhysm94 commented on #538
Just wondering - and I know it's a longshot that it'll be answered here - is there any chance Source 2 will be ported to Metal, or is the more likely situation waiting to see if Vulkan can be released on OS X?

[2015-10-25 19:08] John23Anthony commented on #606
okay I did as you suggested:

[code]

[2015-10-25 19:30] gdrewb-valve commented on #492
OK, thanks for the update.  We don't have a repro for your issue here at Valve but we'll try and find one.  If you could post your full Steam system info that would give us a little more info.

[2015-10-25 20:31] gear4s commented on #606
the steamui is linking to nvidia's 64bit libGL, but the ldconfig is linking to the default libGL (which would load when dota's running)

try this:
to make optirun work on dota 2, right-click on DotA 2 in the sidebar, go to Properties and click Set Launch Options

put this in the launch options:

(copy it exactly, including the "%command%")

[2015-10-25 20:39] Tele42 commented on #606
Dota 2 is 64 bit, you need to preload the 64 bit variant to have any effect.

[2015-10-25 20:43] gear4s commented on #606
then try preloading the 64bit variant, I only see the default libGL being loaded though

why did you install 32bit nvidia on a 64bit system anyway ?

[2015-10-25 21:45] John23Anthony commented on #606
Yes yes yes! it works, thanks gear4s heh.

Btw, the proprietary drivers i use are from the proprietary PPA. It didn't have an option for 64-bit and the .deb package from Nvidia's website gives issues. If there is a way for me to get 64-bit nvidia, would you be able to guide me on how to get them? I would prefer to be using the correct drivers.

Thanks for the assist folks, i appreciate it

[2015-10-25 21:46] gear4s commented on #606
enable the x86_64 "branch" of the PPA, and then install it. usually it's "install package_name:amd64" or something (I use archlinux so it's a lot easier :/)

[2015-10-25 22:04] John23Anthony commented on #606
okay forgive me for being an idiot here. the PPA i got the drivers from is the ppa:graphics-drivers/ppa and i have no idea how to enable the x86_64 branch, if it even has it. thanks again for the help gear4s

[2015-10-25 22:55] gear4s commented on #606
If my tests on my Ubuntu VM are right it should go like so:

note: they have to be run as root (add "sudo" before every command or run as root user)

you can add "-Vs" to the install command, which allows verbose imulation (you can see what packages will be installed or removed)

no problem btw, I used to use that wreck of a "distro" before I switched over to ArchLinux/Gentoo. honestly it feels so

[2015-10-26 01:26] gdrewb-valve commented on #606
It sounds like this issue is resolved, should I close it out?

[2015-10-26 05:52] Vuccappella opened #610 "[Mac] Game Freezes upon selecting courier (game breaking)"
Seems to be a problem with this particular game/courier model or something but basically http://www.dotabuff.com/matches/1893081811 here's the match. Whenever I selected the courier the game would freeze for 4 seconds completely until it went back to normal. This only happened if I only selected the courier after I've had another unit selected first (like my hero). This happened both with manually

[2015-10-26 06:21] rained23 commented on #603
Most of the times, even without any update it still occurred.

On Sun, Oct 25, 2015, 03:30 Drew Bliss notifications@github.com wrote:

[2015-10-26 06:38] gear4s commented on #606
sure, if it works. he can use IRC or email me if he has other problems

[2015-10-26 13:15] felipinho-lima commented on #521
Ok. I read more in my house after job. But now i can tell you i had problem recently (more or less 4 months) i could not send image in whatsapp after change solved the problem and i continuous play dota normally without problem. I don't remember the exact number but i think set 1500.

[2015-10-26 13:46] danginsburg commented on #609
The extensions beyond OpenGL v4.1 that benefit Dota 2 include the following:
- GL_ARB_texture_storage (OpenGL v4.2) - all application textures are allocated with immutable texture storage.  This enables the driver to do less validation at draw time.
- GL_ARB_shader_image_load_store (OpenGL v4.2) - memory barrier functionality is used to emulate read-only depth stencil
- GL_ARB_vertex_attrib_bindin

[2015-10-26 13:46] #609 closed, assigned to danginsburg

[2015-10-26 17:12] vonclutch commented on #603
hey,

Same for me, this happen since reborn, i need to force kill it.

[code]

[2015-10-26 17:35] Tele42 commented on #609
@danginsburg is fglrx the reason why EXT_dsa is used instead of ARB_dsa? Last I heard, EXT_dsa will not be coming to mesa any time soon.

[2015-10-26 18:18] danginsburg commented on #609
@Tele42 At the time I wrote it, EXT_dsa was more widely supported.  That includes fglrx as well as Haswell/Broadwell on Windows.  In other words, last time I looked drivers supporting ARB_dsa were a subset of those supporting EXT_dsa.  It would not be hard to add ARB_dsa support though.

[2015-10-26 18:28] hatunike commented on #318
Yes. I've had a few times where i've needed to unplug and replug in and tinker around with the joystick, but this certainly is the trick.

[2015-10-26 19:13] phoerious opened #611 "Endless dialog loop DOTA_ReplayDownload_Error"
Sometimes downloading replays fails for unknown reasons. When that happens, the client shows a dialog with the title "DOTA_ReplayDownload" and the overly verbose and detailed error message "DOTA_ReplayDownload_Error".

When I click OK, the same dialog appears again and again. In most cases I need to force-close Dota to get rid of it.

The last time this happened was when downloading the replay 189

[2015-10-26 19:27] gdrewb-valve commented on #611
Likely not Linux or Mac specific.

Can you post your Steam system specs here?

[2015-10-26 19:29] gdrewb-valve commented on #610
Likely not Mac/Linux specific.

[2015-10-26 19:29] gdrewb-valve commented on #608
Likely not Mac/Linux specific.

[2015-10-26 19:31] gdrewb-valve commented on #606
OK, closing for now.

[2015-10-26 19:31] #606 closed, assigned to gdrewb-valve

[2015-10-26 19:32] gdrewb-valve commented on #605
Likely not Mac/Linux specific.

[2015-10-26 19:38] gdrewb-valve commented on #607
Can you try adding

[code]

to your Reborn launch options?

[2015-10-26 19:39] phoerious commented on #611
Sure. I don't think that it's even system/hardware specific, but here you go. :-)

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  4400 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Suppo

[2015-10-26 19:45] gdrewb-valve commented on #521
Thank you for the extra information.  It sounds like everything is OK so I'm closing this out.

[2015-10-26 19:45] #521 closed, assigned to gdrewb-valve

[2015-10-26 19:45] gdrewb-valve commented on #603
Does this happen every time?  I just tried starting the game, getting to the main menu and immediately exiting and it worked fine on my Ubuntu system.  Does it hang for you even with a simple startup/shutdown like that?

[2015-10-26 19:46] gdrewb-valve commented on #601
Closing pending more info.

[2015-10-26 19:46] #601 closed, assigned to gdrewb-valve

[2015-10-26 19:48] felipinho-lima commented on #521
No problem. Thank you for help and solve my problem. All for community Dota 2 and developers.

[2015-10-26 19:49] #598 closed, assigned to gdrewb-valve

[2015-10-26 19:50] gdrewb-valve commented on #318
Thanks, closing.

[2015-10-26 19:50] #318 closed, assigned to gdrewb-valve

[2015-10-26 19:50] gdrewb-valve commented on #307
Closing pending more info.

[2015-10-26 19:50] #307 closed, assigned to gdrewb-valve

[2015-10-26 19:51] gdrewb-valve commented on #395
Closing pending more info.

[2015-10-26 19:51] #395 closed, assigned to gdrewb-valve

[2015-10-26 19:51] gdrewb-valve commented on #459
Closing pending more info.

[2015-10-26 19:51] #459 closed, assigned to gdrewb-valve

[2015-10-26 19:53] gdrewb-valve commented on #611
I've passed this on to the larger team.  They don't know why this would keep popping up but they're aware of it now.

[2015-10-26 19:53] #611 closed, assigned to gdrewb-valve

[2015-10-26 19:56] gdrewb-valve commented on #603
Are you using the stable Steam client or the beta Steam client?

[2015-10-26 21:13] ghost commented on #607
Done but doesn't seem to have any impact.
console output:

[code]

Additionally i'm getting messages about packet loss, i never got those previously but i'm not sure it's related:

[code]

[2015-10-26 21:23] gdrewb-valve commented on #611
The larger team says they might have found the issue and a future update will have a fix.

[2015-10-26 21:31] phoerious commented on #611
Wow, that was fast. Very cool. Thanks.

[2015-10-26 21:37] phoerious opened #612 "Micro Freezes when dying or grabbing runes"
Since about when Reborn became the new stable client I'm suffering from little micro freezes during the game. These freezes are about .5 to 1 seconds. Most of the time, they are not really game breaking, but really annoying.

These freezes happen mostly when dying (especially in team fights), but also sometimes when grabbing runes.  In the process of writing this report I tried reproducing it in a

[2015-10-26 22:02] gdrewb-valve commented on #612
As you mention there are many reports of hitches.  The larger team is investigating so there won't be a direct Linux-specific effort until that is done, but I can post back if anything new is found.

[2015-10-26 22:31] phoerious commented on #612
That'd be nice. Thanks.

[2015-10-27 00:39] phoerious commented on #612
Just played another game and had some really random micro freezes without any specific preceding action.

[2015-10-27 02:23] vonclutch commented on #603
Thanks for your reply,

This happens generaly after 3 or 4 games. Before 3 games i can leave Dota withtou problems.

[2015-10-27 05:30] the-gods-are-cruel opened #613 "Graphic bug and freeze"
in a bot game for about 15s in desktop friendly fullscreen when this happened: http://i.imgur.com/RGGd0Rq.jpg

[2015-10-27 13:19] Tele42 commented on #613
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

[2015-10-27 19:21] gdrewb-valve commented on #603
Thanks for the clarification.  What Steam client are you using?

[2015-10-27 20:21] PUPAS commented on #465
0=)

[2015-10-27 20:23] gdrewb-valve commented on #465
As I mentioned before: you can bind the Command key if you enable that in the Advanced page of the hotkey settings.

[2015-10-27 20:51] Enigma7ic opened #614 "(OSX El Capitan) Weird Resolution Settings issue"
Whenever I launch Dota 2, the client won't let me Alt-Tab out of the game (or switch spaces) unless I go in the Video settings and select the "Use my monitor's current resolution" option first.

I have to select that Every. Single. Time. I launch the game client. It's incredibly annoying.

Please note that this is not related to the recent bug that wouldn't let you Alt-Tab back into the game (whic

[2015-10-27 20:51] PUPAS commented on #465
friend, you tried to do that? you have it work?
I put a photo in my post above. button enables to link only to Steam, but not for DOTA 2.

[2015-10-27 21:13] Turmfalke2 commented on #518
todays update did not fix this

[2015-10-27 21:39] gdrewb-valve commented on #518
I'll post when it makes it out.

[2015-10-27 22:15] gdrewb-valve commented on #465
Yes, it works fine for me.  You're sure you set the "Allow Windows / Command key to be bound" option in the Advanced section?

[2015-10-27 22:19] QORTEC commented on #552
I have the same issue, I have a Primary monitor 1080x1920, Secondary monitor 1920x1080. Dota 2 Reborn launches on the primary monitor in undesirable resolutions (even in windowed mode)...
Before Dota 2 Reborn I used to use the following launcher options `-windowed -w 1918 -h 1027 -x 1080 -y 660` however they do not work any more.

@muff1nman I was reading #13 and found the following launcher optio

[2015-10-27 22:29] BirdInTheCity commented on #347
@gdrewb-valve You mentioned above that cursor resizing doesn't currently work on a Mac.  Is it in the pipeline to get a mac fix in place?  I'm currently playing on a 2015 5k iMac and the game runs fantastically well at full resolution, but it's almost unplayable because the cursor is so small.

There seem to be some workarounds on reddit, but I'll wait if a better solution is being implemented.

[2015-10-27 22:33] gdrewb-valve commented on #347
At the moment no, unfortunately.  We have a pile-up of SDL issues (SDL is providing the information about high-DPI to Reborn and it doesn't have an OSX path for that) so this is behind other bugs.

[2015-10-27 22:59] Tele42 commented on #465
@PUPAS The advanced section mentioned is in-game, not some OSX-specific window.

[2015-10-27 23:15] alek-beloff opened #615 "[OSX] Crash when typing Cyrillic 'x'"
1. When one switches to Russian (PC) layout - Dota hotkeys (Q,W,E,R, etc.) are no longer available. I.e. hotkeys now depend on the language you type on
2. Although, if Russian (PC) layout is switched on you still can write a comment in cyrillic. Everything but ONE letter! This button corresponds to cyrillic letter 'х' - the international marking will be '{ [' (keycode: 219, ASCII keycode: 91). Ent

[2015-10-27 23:44] cyrilvoynov commented on #615
Same to me. It's pretty annoying when you need to quick chat someone during the game and after it you have no one hotkeys are working properly. So you need to switch up your language.

[2015-10-27 23:49] danginsburg commented on #614
Can you add -con_logfile to your Launch Options and post game/dota/console.log.  Or check if maybe you have something on your command-line already that is forcing Exclusive Fullscreen?  That would be my guess as to what is going wrong.

[2015-10-27 23:53] gdrewb-valve commented on #615
The hotkey behavior can be changed in the Advanced part of the hotkey settings.  Choose positional hotkeys and they won't change when you switch your language.

Keeping this open for the crash.

[2015-10-28 01:44] cyrilvoynov commented on #615
Yeah, it works. Thank you.

[2015-10-28 02:40] gselsidi opened #616 "[MAC OS] Left CMD key binding doesn't work"
Can you add functionality to bind the CMD key?

In windows keyboards the ALT key is in current CMD key position on MACs. There are alot of bindings that involve the ALT key in windows, which translates into the Left CMD key on mac.

[2015-10-28 04:05] the-gods-are-cruel commented on #613
here you go:

Processor Information:
    Model:  iMac13,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2700 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Suppo

[2015-10-28 04:25] vonclutch commented on #603
No problem ^^

I used the normal one i think ( i don't participate to the beta )

[2015-10-28 06:48] Enigma7ic commented on #614
Oh god, -fullscreen was enabled in the launch options. I feel so dumb.

Thanks for the help!

[2015-10-28 07:33] #614 closed, assigned to danginsburg

[2015-10-28 10:06] rained23 commented on #603
I suspected there is memory leak on the client, try host any custom game (self host),
and play the game longer than 50 min, when I check the RAM, reborn took 60% of my RAM causing high ram usage(client only not including steam and any helper), even after you end hosting the custom game.

Comparing before game and after game, show the RAM not cleared after usage, I think this might be the reason of

[2015-10-28 10:11] rained23 opened #617 "[Linux] Verify integrity of game cache causing client redownload"
Hi,

There is sometimes my courier become ERROR, so I think there are issue on my client cache.

When I verify integrity of game cache, it said around 4k of file need to be acquired causing downloading 6.8 GB of file.

This happen to me before using a copy and paste dota 2 beta folder from my external, so I remove it back and redownload back the client, but I still sometimes found the ERROR ward,c

[2015-10-28 14:15] Tele42 commented on #616
There should be an option in an advanced hotkey section to allow this as noted at https://github.com/ValveSoftware/Dota-2/issues/465#issuecomment-147472279.

[2015-10-28 14:56] Sebby91 opened #618 "Sometimes Dota 2 won't close in dock (Mac OSX 10.10.5)"
Honestly no clue when, but some days it won't happen, and some days it will. When you close Dota 2, the icon is still active in the dock, despite it won't show up in activity monitor (i.e i am not running Dota 2). This forces you in shutting down your computer while holding the on and off button, since the computer can't close it neither when you try to shut your computer down. When you start up d

[2015-10-28 14:59] Sebby91 commented on #618
Oops, forgot to add system info:

iMac 21.5 inch 2.7 GHz intel core i5.

[2015-10-28 15:01] gselsidi commented on #616
@Tele42

Thanks will try that, will close issue for now.

[2015-10-28 16:45] gdrewb-valve commented on #618
Probably the same as #603, which doesn't seem platform-specific (I believe there are reports for Windows too).

[2015-10-28 16:46] gdrewb-valve commented on #617
Can you put up a gist of your content_log.txt after starting Steam and doing the validate?  I'll pass it on to the Steam team.

[2015-10-28 17:01] BirdInTheCity opened #619 "[Mac El Capitan] Dota 2 Does Not Start"
So this is weird—I got a brand new 2015 iMac and have been playing Dota for a few days now at full-5k resolution with no issues.  Now for some reason, the game is no longer booting up for me.

The last time it launched successfully, I was attempting to lower the resolution:
Launched game
Settings > Changed resolution from 5120x2880 to 2560x1440 (cause of that damn small cursor!)
Clicked Apply

The

[2015-10-28 17:52] gdrewb-valve commented on #619
Similar to #584.

[2015-10-28 18:56] Vuccappella commented on #610
@gdrewb-valve no one in the game had that problem, so I'm not too sure, I asked my team mates they said it was fine, most likely they were running windows.

[2015-10-28 19:36] Sebby91 commented on #618
It will close down like usually tho, but the icon won't disappear. So I'm not sure if it is linked.

Edit: I even doubt whether it is running at all at that point, since it won't show up in the console/activity monitor.

[2015-10-28 19:38] gdrewb-valve commented on #618
That would be an OSX bug then?  If Reborn isn't running but OSX is still showing it that's something weird in OSX.

However I think it's more likely that Reborn is lingering in a partially-shut-down state.

[2015-10-28 21:09] salcin commented on #555
Ho my god after two day suffering I can finally running dota2 on my Debian with xmonad + radeon driver (and not the cursed driver fglrx).

I use the -fullscreen option with the video options in the game "use the current resolution of my screen".

[I use this xmonad config as base](https://github.com/jelly/Dotfiles/blob/master/.xmonad/xmonad.hs)

[2015-10-28 21:21] BirdInTheCity commented on #619
Can confirm.  `-fullscreen` fixes the issue.

[2015-10-28 21:35] dracorl opened #620 "[Linux] Game cannot open with bumblebee"
Games working stable normally but trying to open with bumblebee game cant open and there is no error and log file.
I am tried to verify game cache and use this commands "primusrun %command% -sw -con_logfile" and didt work.

[code]

Can you help me?

[2015-10-28 21:36] Sebby91 commented on #618
Would there be any way to check it right now? I haven't restarted yet so it's still showing its logo while not running.

I do know that on a different Mac (my girlfriends, but exactly the same model) this problem occurs too. I just can't tell how to reproduce it.

[2015-10-28 21:40] gdrewb-valve commented on #618
In a terminal you should be able to do "ps -A | grep dota2" and see if there are any dota2 processes sitting around.

[2015-10-28 21:41] Sebby91 commented on #618
![screen shot 2015-10-28 at 22 41 30](https://cloud.githubusercontent.com/assets/15364034/10803919/0a8a5168-7dc5-11e5-93dd-15d0affd90e9.png)
Shows me this.

[2015-10-28 21:42] gdrewb-valve commented on #618
Reborn isn't running then, so I have no idea why OSX would have two dock icons.  We'll have to try and repro.

[2015-10-28 21:44] gdrewb-valve commented on #620
As this doesn't appear to be a Reborn issue I'm not sure there's much we can do but it's possible there's some bumblebee knowledge floating around.

[2015-10-28 21:44] Sebby91 commented on #618
I know it sounds stupid, but just starting up and closing it might do it. I will try to figure out these upcoming days if I do something special in Reborn what might trigger it, but in overall I spectate and play during one session.

Edit: thank you for your time.

[2015-10-28 22:15] dracorl commented on #620
Do you know anything about that log?
Its from my terminal:

[code]

[2015-10-28 22:17] gdrewb-valve commented on #620
Some piece of code did something wrong but the log doesn't identify if it was in Bumblebee, the drivers or Reborn.

[2015-10-28 22:52] gdrewb-valve commented on #618
I just tried it and it exited fine for me.  Are you running the stable Steam client or the beta Steam client?  If you aren't using the beta try opting into it and seeing if that helps you (I'm running the beta).

[2015-10-28 22:53] Tele42 commented on #620
Ubuntu Trusty-fixes is shipping libdrm-intel1 2.4.60, which is known incompatible and fixed in 2.4.61. For full details see https://github.com/ValveSoftware/steam-for-linux/issues/3506. Also, there is a posted workaround in this issue report at https://github.com/ValveSoftware/steam-for-linux/issues/3506#issuecomment-102565272.

[2015-10-28 23:46] Sebby91 commented on #618
I was not using the beta Steam client. Will use it now. Will let you know if it still gives me trouble.

[2015-10-29 01:05] vonclutch commented on #603
Yep, this exactly what happens to me.
When i launch dota, it used 0.8Gb RAM after 3 games it almost used 2.9Gb Ram (almost 75% of my RAM). I restart dota every 3 game or i've got a leak in the performance game ( freeze, lags, sometimes client don't even respond ... )

[2015-10-29 02:35] gdrewb-valve commented on #104
Is this still active?  One possible source of issues and a suggested workaround are covered in ValveSoftware/steam-for-linux#3506.

[2015-10-29 02:36] gdrewb-valve commented on #117
Is this still active? One possible source of issues and a suggested workaround are covered in ValveSoftware/steam-for-linux#3506.

[2015-10-29 08:03] gxgani commented on #487
Just a reminder that this enhancement is still not ported from source 1.

[2015-10-29 08:59] Sebby91 commented on #618
Okay, using the beta Steam now. After spectating one whole game (+ some alt-tabs in-between) and closing dota, the icon will not disappear again. Thus it might have something to do with either alt-tabbing or with spectating a game.