[2018-01-16 22:38] vichug commented on #1375
@gu3st well, it's possible, but i have had this plugin installed & untouched alongside dota with no trouble for an eternity up to this update ; and the dota crashing behaviour is exactly the one described above.
(Now it's possible this message has always been there and harmless, just that i never had a need to check the console... so in fact this may indeed be unrelated to the issue at end, as you

[2018-01-16 22:40] gu3st commented on #1375
@vichug I think it's unrelated given the other issues that Valve are currently fixing.   Doesn't seem like an error, just a warning.

[2018-01-16 22:41] Zucca01 commented on #1375
Same here :C🌵

[2018-01-16 22:44] vichug commented on #1375
@danginsburg will the fix possibly include uncompatibility with older systems (like 10.10.5) ? i wanna be prepared pyschologically

[2018-01-16 22:45] magnetoid commented on #1375
i have same problem..

[2018-01-16 22:46] elieandraos commented on #870
It's happening again !
Manufacturer:  Apple
    Model:  MacBookPro11,2
    Form Factor: Laptop
    No Touch Input Detected

[2018-01-16 22:48] gdrewb-valve commented on #1380
Can you post your system information from Steam?

[2018-01-16 22:52] Shrugtal commented on #1380
This is a non-system specific issue, this occurs on Windows systems too.

[2018-01-16 22:52] kisak-valve commented on #870
Hello @elieandraos, the current regression is being tracked at #1375 and the Dota 2 devs are aware of the issue.

There's no benefit in mentioning new regressions on closed issue reports, but feel free to add a thumbs up reaction to the current issue report to show your support.

[2018-01-16 22:52] elieandraos commented on #1375
same problem
[code]

[2018-01-16 22:56] Hursofid commented on #1375
Hello, same here

[code]

[2018-01-16 23:02] gdrewb-valve commented on #1380
Closing at this tracker only handles Mac/Linux specific issues.  The larger team is aware of this problem and looking into it but there won't be further status here.

[2018-01-16 23:02] #1380 closed, assigned to nobody

[2018-01-16 23:02] gdrewb-valve commented on #1378
I'm assuming this is from Windows, in which case you'll want to post at dev.dota2.com

[2018-01-16 23:02] #1378 closed, assigned to nobody

[2018-01-16 23:09] featured14 commented on #1375
Same issue .
macOS Sierra 10.12.6 on MacBookPro11,4

[2018-01-16 23:09] injectios commented on #1375
Just updated a second ago - **works again**. Thanks

[2018-01-16 23:10] magnetoid commented on #1375
yes, thanks guys

On Wed, Jan 17, 2018 12:09 AM, Dmitriy L notifications@github.com  wrote:
Just updated a second ago - works again. Thanks

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

Marko Tiosavljević
Chief Executive Officer
marko.tiosavljevic@cloud-industry.com

cloud-industry.com | Web Development Ag

[2018-01-16 23:10] gdrewb-valve commented on #1375
The latest update should fix this.  We'll leave this open for a bit to get reports but assuming that things go well we'll close it out.

[2018-01-16 23:12] abensur commented on #1375
fixed on macOS High Sierra

[2018-01-16 23:13] ilkedemir commented on #1375
Works again! Thanks for the quick update.

[2018-01-16 23:13] gu3st commented on #1375
Confirmed no CTD on my 2015 MBP

[2018-01-16 23:14] foners commented on #1375
FIXEd MAcbook pro 2011

[2018-01-16 23:14] danginsburg commented on #1375
Thanks for the confirmations, the fix was shipped and it should be working again after you get the latest update.  Closing.

[2018-01-16 23:14] #1375 closed, assigned to danginsburg

[2018-01-17 00:19] Random-txt commented on #1378
oh thanks. Am new to this stuff, sorry

[2018-01-17 01:28] regs01 commented on #1375
when are we going to have an ability to ban players from custom lobbies? trolls are not going away.

[2018-01-17 01:28] gu3st commented on #1375
Not relevant to this issue tracker tbh.

[2018-01-17 01:33] regs01 commented on #1375
where is it relevant then? devs are totally ignoring custom games issues everywhere.

[2018-01-17 01:53] gu3st commented on #1375
Dev forum?  Spamming it in every place you feel a Valve eye might see it won't help the cause.  The end result will be that Valve communicates less and closes down avenues like this which provide value to various segments of the community.  Not to say that the custom game issues aren't valid, but there are better avenues available for that.

Maybe Valve should open an issue tracker similar to this

[2018-01-17 07:16] mwaqarshahid commented on #1375
Issue resolved on my MAC after latest update. Thanks.

[2018-01-17 11:32] bojunwu opened #1381 "[MAC] Strange Graphics glitch on hero/creep/ward"
![screen shot 2018-01-17 at 2 49 47 am](https://user-images.githubusercontent.com/9892226/35040635-1b996ed6-fb3f-11e7-9283-fa247848b0da.png)
It happens very often. Some strange graphics pop out on a hero/creep or ward. Most of the time it requires a reload to solve this problem. If the object is dead the problem is gone as well.

[2018-01-17 11:34] bojunwu opened #1382 "[MAC] Screen stutters when someone cast an ability for the first time in a game"
Screen stutters when someone cast an ability/item(like a tp) for the first time in a game. I guess the game just need some time to load the ability or item animation into memory. It's not really a bug but it's pretty annoying.

[2018-01-17 13:42] danginsburg commented on #1382
I can explain why this is, but unfortunately there is not a lot we can do about it on macOS.  What you are likely seeing is the cost to compile shaders when a new shader is used.  On Windows/Linux we mitigate this in two ways:

1. We use GL_ARB_get_program_binary and store a cache on disk of all previously compiled shaders.  This is loaded at startup and written to disk any time a new shader is en

[2018-01-17 13:42] #1382 closed, assigned to nobody

[2018-01-17 17:54] gdrewb-valve commented on #1381
Do you have a specific set of steps where this happens all of the time?  Also can you post your specific system information from Steam?

[2018-01-17 18:03] Dota2Fanboy opened #1383 "Dota 2 Freezes on loading screen in"
Dota 2 when I start it up goes to the black screen then goes to to black screen with logo in the middle and doesn't go any further. I am in full screen if that has anything to do with it. Hopefully u can help it started last last update

[2018-01-17 18:15] Dota2Fanboy commented on #1383
I'm also on a Mac and never had a problem like this before

[2018-01-17 18:22] kisak-valve commented on #1383
Hello @Dota2Fanboy, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Are you using any launch options with Dota 2? Also, how long did you let the game try before you gave up?

[2018-01-17 18:34] Dota2Fanboy commented on #1383
Computer Information:
    Manufacturer:  Apple
    Model:  iMac14,1
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-4570R CPU @ 2.70GHz
    CPU Family:  0x6
    CPU Model:  0x46
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2700 Mhz
    4 logical processors
    4 physical processors
    HyperThr

[2018-01-17 18:34] Dota2Fanboy commented on #1383
Besides full screen

[2018-01-17 19:07] gdrewb-valve commented on #1383
Have you validated your Dota install in the Steam client?

[2018-01-17 19:49] Dota2Fanboy commented on #1383
Yes still same problem

[2018-01-18 05:31] elbarto132 opened #1384 "OSX, low fps when moving mouse"
Macbook Pro 15 inch, 2017, High Sierra
If you increase the cursor size in the OS under System Settings -> Accessibility (let's say to the first dash), start the game, and join any game. while you move the mouse ingame FPS will be limited to 30 FPS (exactly 30). If you use the touchpad it's jumping between 30 and 40 FPS. As soon as i stop moving the mouse i have 60+ FPS
This only happens if you mak

[2018-01-18 12:10] #1383 closed, assigned to nobody

[2018-01-18 13:00] bojunwu commented on #1381
I don't have a specific step to create this. It's random. It can happen even in hero demo mode. I'll try to make a video when I see it next time.

[2018-01-18 13:01] bojunwu commented on #1381
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro14,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
    CPU Family:  0x6
    CPU Model:  0x9e
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2900 Mhz
    8 logical processors
    4 physical processors
    Hy

[2018-01-18 15:38] #1214 closed, assigned to nobody

[2018-01-18 16:03] moofMonkey opened #1385 "Dota 2 Test SEGFAULT"
[Logs](https://pastebin.com/8uqBSc4A) | [SysInfo](https://pastebin.com/LrcJ4vks)
When launching Dota 2 Test in steam there's nothing about SEGFAULT.

[2018-01-18 16:43] gdrewb-valve commented on #1384
You'll want to report this to Apple also.

[2018-01-18 16:44] gdrewb-valve commented on #1385
Dota 2 Test is not a maintained product, it's only used temporarily.

[2018-01-18 16:44] #1385 closed, assigned to nobody

[2018-01-19 00:15] elbarto132 commented on #1384
I did of course also report this to Apple.
But the problem with the mouse cursor on multiple screens and the solution by increasing the cursor size exists since at least 5 years. So i think by now Apple should have received quite a lot of bug reports about this also limiting the FPS in games, if it occurs in every game.
But however, i think Apple doesn't give a shit about user reported bug reports

[2018-01-19 02:31] blazingbags opened #1386 "Game Randomly Pauses"
Hey guys, for the past day or so my Dota and CS:GO have been randomly freezing.

I figured out that the game isn't actually crashing, it just keeps Pausing. (Pausing as in the Linux Pause signal)

A fix to this is to just unpause it.

[code]
It works temporarily until the next pause.

It's annoying though, and again this is a recent thing. I don't think my system information is relevant, but I can

[2018-01-19 02:47] kisak-valve commented on #1386
Hello @blazingbags, yes, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2018-01-19 02:48] blazingbags commented on #1386
Here you go,

https://gist.github.com/blazingbags/c3dc09e65c3cba239e709c37d9a452bc

[2018-01-19 03:48] gdrewb-valve commented on #1386
As this isn't specific to Dota this isn't the right place for the issue.  This may be related to the Steam client, did you get any updates for it recently?  If you turn off the Steam overlay does that change anything?

[2018-01-19 04:24] blazingbags commented on #1386
Reproducing it is kind of random, but I did some digging in my logs and found that this occurs when it freezes

[code]
(There are ones in there for Dota too)
I first experienced the issue while playing Dota and I was queueing for CS:GO while writing this, my bad.

I don't remember if there were any steam client updates.

[2018-01-19 05:47] darklordabc commented on #1372
Prehaps this isnt the place for it, but Valve has finally fixed the bots, but they did a really sub-optimal solution which has left a lot of people unable to join custom game lobbies. Is this intentional or is it a mistake? Nobody knows, could you please confirm one way or another.
https://www.reddit.com/r/DotA2/comments/7rg3fg/i_am_a_custom_game_creator_and_i_cant_even_join/

[2018-01-19 06:24] bojunwu commented on #1381
![screen shot 2018-01-18 at 11 20 54 pm](https://user-images.githubusercontent.com/9892226/35137452-b22405d8-fca6-11e7-8714-efafeabe8777.png)

[2018-01-19 11:51] RogerDodger opened #1387 "Game freezes when matchmaking game is ready"
Happened 3 times in a row. Freeze occurs simultaneously with the inotify message appearing. Don't know how to reproduce nor debug since I can't queue anymore. Arcade games work fine.

[code]

[2018-01-19 11:58] eplgr commented on #1387
Same here on Debian, happened twice in a row. 15 minutes ban so far. I think I won't try to find a game until a confirmed fix is here, I don't wanna get a 24 hours ban.

Also, I think the freeze occurs as soon as the match is found: there's no "match is ready" sound, no pop-up window, I only get the notification from xfce.

[2018-01-19 12:05] jfhjfh commented on #1387
Same here. Seems to happen on a re-queue but not the first game after launching the game.

I am getting a segfault showing up in dmesg.
`segfault at 9 ip 00007fd1ddd7200f sp 00007ffd4ab5e4e0 error 4 in librendersystemempty.so[7fd1ddd39000+17e000`

[2018-01-19 12:11] eplgr commented on #1387
@dimitri-koussa Does that mean that the client un-freezes itself for you? I had to kill the process, I never had the chance to re-queue.

[2018-01-19 12:14] jfhjfh commented on #1387
@eplgr, I had to kill the process after it crashed too. What I meant was that the first match I play after launching the game works (3 times now). After the first game it would crash (3 times here too) then I could kill and relaunch.

I'm on Unity/Ubuntu 16.04 fwiw.

[2018-01-19 13:33] danslo commented on #1387
Confirming this issue. Currently banned 4 hours from matchmaking due to this happening repeatedly.

[2018-01-19 13:53] u92time commented on #1387
Same here Ubuntu 16.04 banned for 4 hours :(

[2018-01-19 14:08] kisak-valve commented on #1387
Possibly related to #1386. If anyone happens to have the game in the quirk state, please check if `killall -18 dota2` has an effect.

[2018-01-19 14:12] jfhjfh commented on #1387
@kisak-valve killall -18 didn't help. stayed frozen (still frozen now).

I did redirect stderr/stdout and I did get this line around the time it froze:
`ERROR: ld.so: object '/home/dimitri/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.`

[2018-01-19 14:22] eplgr commented on #1387
Just now, it froze randomly while spectating a game. `killall -18 dota2` didn't help either.

[2018-01-19 15:07] WagnasT commented on #1387
Same here on Fedora.  Would love to dig up a crash report or something but currently banned for 4 hours.

[2018-01-19 16:39] gdrewb-valve commented on #1386
This does seem like something on the Steam side, reassigning.

[2018-01-19 16:41] tycho commented on #1386
@blazingbags Does the issue still repro? I made some changes last night that may have fixed it.

[2018-01-19 16:43] cluoma commented on #1387
Same thing happening for me since a couple days ago, and reconfirmed just now. The client freezes when the 'Accept' box appears.

https://gist.github.com/cluoma/ffbb413b97d961f2807a2531cd0bb821

[2018-01-19 17:03] conormcg13 commented on #1387
Can confirm, 4 hour ban.

[2018-01-19 17:56] AutoAwesome commented on #1387
Can confirm this bug. Same issue here.

[2018-01-19 18:38] blazingbags commented on #1386
@tycho
30 minutes into Dota, so far so good

[2018-01-19 18:39] mrgsv commented on #1387
Can confirm same bug. Manjaro

[2018-01-19 18:42] glubsy commented on #1387
Same here on Antergos (Arch Linux). I only play Turbo, ~~happens very often, especially when the dota2 window is not in focus (alt-tabbed out, on i3 window manager in a different workspace). Started happening today.~~ edit: irrelevant, it happens also when the window is active / focused.

The infuriating thing is that it counts as a failure to ready up, which adds to the ban preventing from search

[2018-01-19 18:47] u92time commented on #1387
+ 4 hour ban again :( .
I can confirm that the first game after I open dota goes without any issue.
The issue start to happen after a game played or after someone failed to load on Hero Selection (after accept screem) then the next time when matchmaking is about to load the Accept screen everything freezes no button clickable.
p.s. the killall -18 dota2 doesn't work.

[2018-01-19 18:57] tycho commented on #1386
Awesome, thanks for testing!

[2018-01-19 18:57] #1386 closed, assigned to tycho

[2018-01-19 19:09] gdrewb-valve commented on #1387
See also #1109.

[2018-01-19 19:14] glubsy commented on #1342
I believe this problem is now fully resolved. I have not experienced any issue and using libinput 1.9.4-1.
Thanks!

[2018-01-19 19:24] tukkek commented on #1387
Confirming this, happened twice today and I'm banned from matchmaking. I don't mean to complain but it's unacceptable that we're being banned and possibly put into low-priority when the only thing misbehaving is the official game client, not us as players.

Please fix this as soon as possible so we can get back to playing DotA - no Linux user should be queuing until this is confirmed as fixed.

Al

[2018-01-19 19:25] glubsy commented on #1387
But in this case, it seems that the game crashes as soon as the notification is sent to the notification server/daemon, in which case the user can't even click on accept (since the window is frozen). @ https://github.com/ValveSoftware/Dota-2/issues/1387#issuecomment-359060565

[2018-01-19 19:35] gdrewb-valve commented on #1387
Did anybody get console output from a session where this happened?

[2018-01-19 19:43] tukkek commented on #1371
A massive decrease in performance is expected for Intel processors as a mitigation for the recently unveiled Spectre and Meltdown security issues. However, you seem to be using the 4.9 kernel and the mitigation is supposed to only be present on version 4.15+ (as far as I can assess).

I know this isn't very helpful but this was the first thing that came to my head once I saw you mentioning a drop

[2018-01-19 19:54] tukkek commented on #1352
Does the FPS drop happen only during big team fights (especially early on in a match) or when one of the heroes uses a spell or item? Because if that's the case I'm pretty sure I've seen this reported already in this repository. Or are the FPS drops completely random?

[2018-01-19 19:58] blazingbags commented on #1386
@tycho
I tried CS:GO and it seems to be working too, thanks.

In Dota, I tried to queue for another game and the Accept button freezes the game, I think the other issue is separate.  #1387

[2018-01-19 20:02] kisak-valve commented on #1371
A KAISER patch set (earlier iteration than KPTI, which is in 4.14.11+ and 4.15) was backported to 4.9.75 and 4.4.110. It's possible Arch pulled these patches into their kernel build immediately, before the version was bumped, but you'll need to check with your kernel package maintainers is that is actually the case.

[2018-01-19 20:26] cakesale commented on #1387
If you lift my ban I'll try to get some output code :(

[2018-01-19 20:31] WagnasT commented on #1387
Yeah, it's hard to troubleshoot when we get banned for longer periods of time.  I suppose I could create a throwaway account and mildly inconvenience 9 other players for science!

[2018-01-19 20:35] WagnasT commented on #1387
Really appreciate the dev responses to this as well as previous issues.  I played all day yesterday with no issue and didn't notice an update today.  Not saying there wasn't an update, just that I didn't notice one, which makes me suspect it isn't a change on the client side.

[2018-01-19 20:37] glubsy commented on #1387
@gdrewb-valve Here's a Steam client log: https://gist.github.com/glubsy/2612d8fdd295ce2a007f17f720b79b07

Not much going on it seems. I add that this bug occured both with OpenGL and Vulkan renderers.

Can't test anymore now, banned for 4 hours. :(

[2018-01-19 20:45] gdrewb-valve commented on #1387
Thanks for the log, you're right that it doesn't give any useful information.  We'll continue to investigate here and see if we can get a repro.

[2018-01-19 20:50] glubsy commented on #1387
Tomorrow I'll try to get a Dota2 client log.

I should also add that I have not upgraded my system (Arch Linux) in 20 days, as the last system-wide upgrade was done on 2017-12-29. So I assume it's most likely a change in the dota2 client itself or in the backend somewhere.

[2018-01-19 20:57] blazingbags commented on #1387
I started the game in console, started searching, the accept button worked and I played a game.

Queueing the 2nd game is where it freezes when the accept button appears.

Nothing new in the console.

The process state in ps aux is ` tl+`, trying to resume it doesn't help.

I restarted the game and queued again and it worked first time

[2018-01-19 21:09] Patrick-Edouard opened #1388 "Game freeze on notification"
Hey guys, I hope someone will read this before the week end !

So since yesterday update, I'm having crash on dota when the game issues me a notification (aka party invite, game found, ...)

There is maybe an issue with the connection with GNOME 3 since I usually get a pop up in my shell when dota do such a thing

Since I just got a 5 minutes ban from not accepting a ranked due to this crash, I ho

[2018-01-19 21:25] Denwid commented on #1387
Can confirm same happening here. First game no problem. Temporary fix to prevent bans: Restart game before every queue.

[2018-01-19 21:25] kisak-valve commented on #1388
Hello @Patrick-Edouard, this issue is already being tracked at #1387. Closing as a duplicate.

[2018-01-19 21:25] #1388 closed, assigned to nobody

[2018-01-19 21:28] gdrewb-valve commented on #1387
A change has been made on the server side which may affect this.  We only want a very small number of people to try it to avoid a bunch of penalties if it doesn't help.  @SergeantWagner or @tukkek or @glubsy, if you want to try it out can you exit Dota and Steam and then try a match?  In this particular case I should be able to remove penalties if you give me your Steam account.

[2018-01-19 21:35] WagnasT commented on #1387
apparently there is an update, going to try it on a throwaway account.

[2018-01-19 21:40] tukkek commented on #1387
@gdrewb-valve thanks, I'll give it a try, always glad to help! Looking at my match history for today it sounds like it happened pretty close to 50% of the time so if I can get a few matches in a row without it recurring then it should be a good indication that it's indeed fixed.

[2018-01-19 21:41] anmacik opened #1389 "Lags with ping ~50 and 0/0."
Since 707c(mb earlier) after 7-8pm(utc+0) have 1-2% packet loss always(not critical to play, but not comfortable) + sometimes strong packet loss + sometimes strong ping spikes. When it happens to me it always happens with somebody else in current game. ue west/east, russia servers. Is there any way to fix it or valve want to kill dota 2 so much that they make it unplayable at all?

About fps panel

[2018-01-19 21:42] WagnasT commented on #1387
1st game works, gunna stomp these noobs then queue again

[2018-01-19 21:45] tukkek commented on #1387
@gdrewb-valve can you remind me again if there's a default location for a client log? If the game freezes I won't be able to use `condump` to get you any relevant information and I don't want to restart the client and just lose any previous data either if I can help it.

[2018-01-19 21:46] gdrewb-valve commented on #1387
If you put -con_logfile in your launch options the console output will go to a console.log file in your dota directory under game/dota.

[2018-01-19 21:49] gdrewb-valve commented on #1387
Besides console output, which so far hasn't been too helpful, when Dota hangs check ps aux to see if the dota2 process is in a tracing state (usually tl+).

[2018-01-19 22:02] JohanAR commented on #1387
Happened to me 7 minutes ago. This I know because I have 8 minutes left on my 15 minutes ban. Second time today and never before, played 2 games yesterday though only 1 of them was matchmaking.

Xubuntu 17.10, Nvidia, only launch option is "-console"

[2018-01-19 22:03] Patrick-Edouard commented on #1388
Ok my bad ! Thanks for the heads up

[2018-01-19 22:04] sytranvn commented on #1387
@JohanAR  Can you try to get the log and post it here. I'm on 4hrs ban and don't want to get an other 24 :sob:

[2018-01-19 22:06] JohanAR commented on #1387
@sytranvn I would like to play a game with my friend before getting a 4 hour ban :) If nobody has tested it when we're finished I'll give it a go

[2018-01-19 22:07] ghost commented on #1387
same problem and got 4 hour ban

[2018-01-19 22:08] strewnfield commented on #1109
Same issue for me on Ubuntu 16.04. Now I have a 4 hour ban. NOT OK WITH THIS VALVE.

[2018-01-19 22:08] inzru commented on #1387
Can also confirm; am on Ubuntu 16.04 with 15 minute ban now. Super frustrating, thanks gdrewb for your help. So the official recommendation is to just wait until we get more reports of improvement?

[2018-01-19 22:10] gdrewb-valve commented on #1387
From what has been reported here you are fine to play as long as you exit and restart Dota between games. If you want to be completely safe then I'd hold off until SergeantWagner reports on whether he was able to play a second game.

[2018-01-19 22:10] akrashe commented on #1387
First queue after game opens works fine, 2nd queue always crashes when accept window comes up.  Happened 3 times, 4 hour ban :/  For now just always restart game after every game I guess.

[2018-01-19 22:14] glubsy commented on #1387
I have just tested with a secondary account, and the crash didn't happen during the second match making. So perhaps that server fix did the trick.

[2018-01-19 22:15] WagnasT commented on #1387
got stomped.  default controls are so bad.  queuing second game

[2018-01-19 22:18] WagnasT commented on #1387
2nd queue worked fine. apparently not paired up with noobs with new account =P  archon 5's and I'm normally crusader 3.

[2018-01-19 22:19] eplgr commented on #1387
@gdrewb-valve No, my client freezes every time a game is found (the accept window doesn't even pop up).

In fact, I wanted to see if it was the case for me that the first game would work since 1 or 2 people were talking about that (this was ~2 hours ago), and now I'm on a 4 hours ban as the result.

[2018-01-19 22:21] gdrewb-valve commented on #1387
If you have exited Dota and Steam and restarted both and your game hangs on accept the very first time please open a new issue as you're hitting something separate.  Please run with -con_logfile and include a gist of your system information from Steam and the console.log file.  Also include any information about what has changed since the last time Dota worked for you.

[2018-01-19 22:44] gdrewb-valve commented on #1389
You'll want to post this at dev.dota2.com

[2018-01-19 22:44] #1389 closed, assigned to nobody

[2018-01-19 22:54] WagnasT commented on #1387
i think I'm good.   Devs commended.  Managed to stomp the second game noobs.  I'll get time to play again later today and try to queue a bunch of times.

[2018-01-19 22:56] JohanAR commented on #1387
I could queue for a second game after winning the first. Second game was turbo mode and I had Dota focused. When it froze earlier Dota was unfocused and I was watching twich on second monitor if that matters

[2018-01-19 23:02] WagnasT commented on #1387
Yeah, I usually watch the top players in the client while I queue, didn't occur to me that watching is about the same as playing the first game.

[2018-01-19 23:09] jmsauret commented on #1387
Can also confirm. Ubuntu 16.04 64 bits ; Nvidia driver version 384.111
Since last Dota update (this night) when i am starting Steam, 1st Dota game is good, 2nd game is crashing when ready. If i restart Steam and Dota, same issue (1st Dota game is good, 2nd game is crashing). Other steam games (War thunder, Portal, Shadowrun chronicles) are fine.

[2018-01-19 23:18] gdrewb-valve commented on #1387
@jmsauret, are you confirming something you just experienced?  Is it actually a crash or does Dota hang (you can check the hang state with ps aux).  A couple of people who were experiencing the original hang reported here no longer have it so you may be seeing something else.  If so open a new report.  lease run with -con_logfile and include a gist of your system information from Steam and the con

[2018-01-19 23:24] jmsauret commented on #1387
sorry i can't reproduce it and verify if it's a crash or a hang : too much crashs so i'm baned for 4 hours

[2018-01-20 00:27] jmsauret commented on #1387
I searched in my /var/log/dpkg.log file. Last update last night (01h55 AM) : before this update all was fine

[2018-01-20 01:05] tukkek opened #1390 "[Linux] Client freezes when exiting game"
I have had this happen multiple times in the last one or two weeks. Basically when you try to exit the client (after your match is over with and already disconnected, from the starting screen) the client freezes. This isn't critical since it's trivial for me just to kill it (Ctrl+Alt+Esc) but I'm reporting it since it might be related to #1387

[2018-01-20 01:05] tukkek commented on #1387
@gdrewb-valve I played three games in a row and had no problem in any of them. I wouldn't be so quick to dismiss everybody else as having a new problem instead since a lot of confirmations have come after the attempted server-side fix... could be just dumb luck that we didn't get the issue and the "first match is fine, second crashes" is pure speculation, especially because people have reported th

[2018-01-20 01:09] gdrewb-valve commented on #1390
Are you still seeing this after the fix for #1387?  If so can you post a console log here and also check on the dota process status with ps aux?

[2018-01-20 01:09] eplgr commented on #1387
My 4 hours ban is gone and yeah, I could successfully accept my first game.

[2018-01-20 01:11] gdrewb-valve commented on #1387
If people are still having a problem with the process being in a tracing state it's definitely something different from what was fixed server-side for this issue.  That's not a dismissal, it's a request to open a separate issue.  If we hear from @RogerDodger about things working for him I'm going to close this one so people will want their own issues for their problems.

[2018-01-20 01:11] tukkek commented on #1390
Just like #1387, killing the process still leaves something hanging because I cannot exit Steam cleanly after that ("Waiting for Dota 2 to shut down..."). Even if I restart Steam it still won't let me restart Dota ("only one instance of the game can be running at one time").

If I close my current user session (on KDE), then I can log back in and start Steam and Dota normally again.

@gdrewb-valve

[2018-01-20 01:13] gdrewb-valve commented on #1390
If you get in this state do a ps aux and see if there's a dota2 process still around.  There most likely will be and that's the instance that's preventing you from starting a second one.  The state of that hung process would be interesting.

[2018-01-20 01:14] tukkek commented on #1390
This is my `console.log`. I was trying to help with #1387 so it's not clean and I played a few games in that session before exiting the client and having the client freeze. Zipped because it's 5MB uncompressed.

[console.zip](https://github.com/ValveSoftware/Dota-2/files/1648389/console.zip)

[2018-01-20 01:16] tukkek commented on #1390
Output of `ps aux` before killing the frozen client window.

[ps aux.txt](https://github.com/ValveSoftware/Dota-2/files/1648391/ps.aux.txt)

[2018-01-20 01:17] gdrewb-valve commented on #1387
Also as people might be noticing matchmaking bans have been cleared.

[2018-01-20 01:18] tukkek commented on #1390
After killing the process and posting these messages, I still have 3 dota related processes running (`sh, dota.sh, dota2`). Here's a new `ps aux` after the window was killed in case it helps any:

[ps aux.txt](https://github.com/ValveSoftware/Dota-2/files/1648393/ps.aux.txt)

[2018-01-20 01:20] tukkek commented on #1390
Finally, my system information from the Steam Client, for completeness' sake: [system info.txt](https://github.com/ValveSoftware/Dota-2/files/1648394/system.info.txt)

[2018-01-20 01:21] gdrewb-valve commented on #1390
The console log looks clean, nothing of note there.  The ps aux logs are interesting as they show dota2 sleeping and not traced like #1387.  Dota is apparently waiting for something to happen but there's no way to tell exactly what.  If you can remember the exact (and hopefully minimal) steps that lead to this that would help us isolate a repro.

[2018-01-20 01:21] tukkek commented on #1387
Can you explain when should we continue on this issue and when to open a new one? It's unclear to me.

[2018-01-20 01:26] tukkek commented on #1390
I have had this happen a few times to me already in the last days but it's pretty rare (anywhere up to a couple weeks ago, not sure, I haven't kept track). My use-case with the Dota client is pretty much always the same: open client, play one or more ranked matchmaking (All Pick only) and then quit the game. Sometimes the game will freeze upon quitting, sometimes not - more often it'll leave as in

[2018-01-20 01:28] gdrewb-valve commented on #1387
Make sure you have exited Dota and Steam and restarted.  This particular tracing hang is resolved so basically anybody that's still hanging on match accept after restarting has a different issue from this one.  There can be one new "hang on accept match" issue so look and see if one has been created.  In any new issue please include the gists I mentioned above.  Note also that hangs on accept have

[2018-01-20 01:29] gdrewb-valve commented on #1390
No problem, we'll also try and catch it.

[2018-01-20 02:32] 3141bishwa commented on #1390
Interestingly, this happened to me a couple of times today. I was just done with one match and was finding another match when the client froze. I did not realize it until my friends told me to accept the match but there was no way to accept it. Even though the client froze, I was somehow still in the party finding the match.

[2018-01-20 02:45] tukkek commented on #1390
@3141bishwa This report is about quitting the game, you may want to look into #1387 instead.

[2018-01-20 05:52] RogerDodger commented on #1387
Did the following today and experienced no freezes:

1. Restart steam/dota
2. Spectate a game
3. Queue and accept a matchmaking game
4. Queue and accept another matchmaking game

So it seems to be fixed now.

[2018-01-20 06:35] gdrewb-valve commented on #1387
Thanks, closing.

[2018-01-20 06:35] #1387 closed, assigned to nobody

[2018-01-20 11:01] rackom commented on #1339
Same issue on:
MacbookPro (15-inch 2016)
2.9GHz Intel Core i7
16GB 2133MHz LPDDR3
Radeon Pro 460 4GB
macOS 10.13.2

I have locked v-sync and fps lock to 60fps but every X minutes I have huge fps spikes (at least to dota 2 client to 70-80fps) even though fps is locked. This results into stuttering for good 5seconds. I have disabled graphic card switching.

Playing on external monitor 2560x1440 nati

[2018-01-20 14:23] cluoma opened #1391 "[Linux/Vulkan] Client Freezes with Accept Notification"
The game client freezes when the matchmaking Accept notification pops. This happens even during the first notification after restarting Steam and Dota 2.

Maybe related to [#1387](https://github.com/ValveSoftware/Dota-2/issues/1387)?

System info: https://gist.github.com/cluoma/ffbb413b97d961f2807a2531cd0bb821
Client log: https://gist.github.com/cluoma/8fef929bbcb85b83dca8cd7f6b6f9dff

The last li

[2018-01-20 17:29] gdrewb-valve commented on #1391
These particular messages are specific to Vulkan.  Do things work if you use OpenGL?

[2018-01-20 17:59] cluoma commented on #1391
Yup, switching to openGL seems to fix the issue. Thanks.

[2018-01-20 22:23] bdockery81 opened #1392 "[Win 10] Microphone issue specific to Dota 2"
Dota 2 displays a crossed-out mute icon whenever voice chat is attempted, and voice chat cannot be transmitted. This occurs even though the microphone audio is detected successfully via viewing the 'level' feedback bar in the Dota 2 client audio settings.  The microphone audio works correctly throughout the rest of the operating system, and Steam, as well.

[2018-01-20 23:23] Plagman commented on #1391
Are you runnning Dota in fullscreen with unredirection enabled? Does the issue also happen in Vulkan + windowed mode?

[2018-01-21 03:57] darklordabc opened #1393 "[Linux] Can't join custom games when using Linux"
I get this error everytime I try. Is it something wrong with my setup?
![image](https://user-images.githubusercontent.com/16277198/35190689-57f7171e-febb-11e7-8100-fbc5e814120f.png)

[code]

[2018-01-21 12:57] cluoma commented on #1391
Yes I usually run fullscreen. I tested, with vulkan enabled, and did not encounter freezing in windowed mode.

As far as I know unredirection is no longer supported in KWin as of 5.8. I run 5.8.8. (https://blog.martin-graesslin.com/blog/2016/08/opengl-changes-in-kwin-compositing/)

[2018-01-21 19:10] gdrewb-valve commented on #1392
This tracker only handles bugs specific to Mac and Linux, you'll want to post at dev.dota2.com

[2018-01-21 19:10] #1392 closed, assigned to nobody

[2018-01-22 01:22] gdrewb-valve commented on #1393
This is happening on Windows too so you'll want to post at dev.dota2.com

[2018-01-22 01:22] #1393 closed, assigned to gdrewb-valve

[2018-01-22 05:39] dawoodt commented on #1307
I tried the above suggestions without much luck, but managed to get significant improvement by setting the following launch options: "-gl -high -map dota". I think -gl did the trick, but added the other two options for better performance.

[2018-01-22 07:30] dawoodt commented on #1339
I'm on a MacBook Pro 2017 with Radeon Pro 560 and disabling automatic switching did not help. However, I was able to see significant performance improvement by forcing Dota to run on OpenGL (using the launch option "-gl"). You can also try adding "-high" and "-map dota" to see if it improves things further.

[2018-01-23 20:35] AveYo opened #1394 "Expired certificate at dev.dota2.com"
![Hi Gaben](https://i.imgur.com/o1qM5Jz.png)

[2018-01-24 00:30] gdrewb-valve commented on #1394
Obligatory joke: "please post general issues at dev.dota2.com".

The team is aware of the problem but I don't have any status beyond that.

[2018-01-24 00:30] #1394 closed, assigned to nobody

[2018-01-24 00:31] gdrewb-valve commented on #1394
I just heard that this should be working now.

[2018-01-24 14:38] shiki commented on #1307
This is weird. I have the same specs as @r3laxand3r. I usually get ~30 fps. When I used gfxCardStatus and forced it to use Integrated graphics, I actually get ~60fps. Is there something wrong with Radeon?

[2018-01-26 20:57] #1251 closed, assigned to nobody

[2018-01-29 01:03] monotykamary commented on #1195
On Fedora 27, symlinking these two files were enough for me:

[code]

This issue happens on both a bumblebee and PRIME setup. The only alternative workaround that doesn't include messing with game files is running dota2 on Vulkan with the PRIME setup.

[2018-01-29 20:16] athei commented on #1382
Why not use Metal then? It seems that this is the way forward on macOS und surely supports binary shaders.

[2018-01-31 19:34] astroty commented on #1371
Sorry it took too long to answer! Life and all.
So, as said here before https://github.com/ValveSoftware/steam-for-linux/issues/5333#issuecomment-357381707 , they backported the patches to kernel 4.9. Currently I'm using 4.9.78 and it still has the same performance as it had when I opened the ticket.

Upon further inspection, this issue happens with some other steam games too. I tried some benchma

[2018-02-01 18:41] lolgear opened #1395 "[MAC] Window with player accept/deny choice is not disappearing"
After new update window with player accept/deny choice is not disappearing after game started.

It change size ( become small ), but does not disappear.

MacOS 10.13.3
Latest version of dota 2 client

[2018-02-01 22:18] danginsburg commented on #1395
This issue is not specific to macOS and has been reported to the larger team.

[2018-02-01 22:18] #1395 closed, assigned to nobody

[2018-02-01 22:50] ghost commented on #1369
Hi, per https://bugs.freedesktop.org/show_bug.cgi?id=104214 this has been fixed and was a DRI 3 issue.

[2018-02-02 09:25] #1369 closed, assigned to nobody

[2018-02-03 04:09] Juicebox360 opened #1396 "Dota2 Scripting API - SetPoseParameter"
Posted this over on the dev.dota2 forum, but getting more visibility wouldn't be bad. SetPoseParameter seems like it doesn't work, which is odd because in the model editor, I can manipulate and demo pose parameters just fine.

I have a model that I created a Lua animation script for, and assigned it two pose parameters - move_x and move_y. I use these to adjust the movement of the model along the

[2018-02-03 09:41] dinomacri opened #1397 "Game crashing on entering a game."
My game crashes when entering a game. I have tried playing a public match and crashed, from then I have been testing my game in an offline-bots match. I have reinstalled my "video-amdgpu" driver, and have also completely reinstalled the game.

I am using a i7-960, RX 480 with the video-amdgpu driver, 4.14.15-1 kernel on Manjaro.

If there are any logs or information which I could supply, let me kn

[2018-02-03 13:25] LiamDawe commented on #556
Just to comment, that it took me forever to find this issue. Constantly starts on the non-primary monitor. It's still a problem on Ubuntu 17.10 with NVIDIA drivers.

-phased_window_create only works if it's set to "Desktop-friendly fullscreen" in the "Display Mode" dropdown.

Is it not possible to have this behaviour added to the options somehow? Having to dig through issues to find this was a rea

[2018-02-03 14:55] BrendanBall opened #1398 "[Linux] Add desktop notification for ready check"
Platform: Linux
The new ready check feature is awesome, but kind of useless without a desktop notification.
Hopefully it's pretty straightforward to add the notification for this.

[2018-02-03 15:17] kisak-valve commented on #1396
Hello @Juicebox360, this issue tracker is limited to the Mac and Linux ports of Dota 2. Issues that cover all three platforms is handled at dev.dota2.com and there most likely won't be any updates on this issue report.

[2018-02-03 15:17] #1396 closed, assigned to nobody

[2018-02-03 15:19] kisak-valve commented on #1397
Hello @dinomacri, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. In particular, if you can find any CrashIDs or minidumps related to this issue, please include them (commonly found in `/tmp/dumps`) in an archive.

[2018-02-03 16:09] mastercoms commented on #1397
System info: https://gist.github.com/mastercoms/dad032220ab36849f8f9ed22c25bc510

[code]

https://mega.nz/#!elN2HAjJ!e-T2haCoC5Drq-fOZzD-Gz7kq2BcJunWFBrAMZKjBeg

[2018-02-03 17:01] kisak-valve commented on #1397
For reference, the attached minidump is a SIGSEGV in libclient.so (part of Dota 2).

[2018-02-03 17:39] mastercoms commented on #1397
Also, this crash happens on both the OpenGL and Vulkan renderers.

[2018-02-03 19:27] Seeboooo commented on #1397
Also having the same problem (stopped working somewhere in the past 2 weeks or so). I can launch the client but the game close soon after I start a game (not even reaching the loading screen).

rx 580 (amdgpu) with ryzen 1600x - 4.15.0 kernel

[https://gist.github.com/Seeboooo/6f36045368a95bce42af9b2312fbad47](https://gist.github.com/Seeboooo/6f36045368a95bce42af9b2312fbad47)

edit:
something fina

[2018-02-03 20:07] Seeboooo commented on #1397
Oddly enough, I can join games if I lunch dota through the dota.sh script with the debugger active (debugged logs attached). The game does feel a lot slower than usual. Any clue to which module wasn't loaded and that might be causing the issue?

[https://gist.github.com/Seeboooo/ffdb6174640cab82c5b8e94dfb69b39b](https://gist.github.com/Seeboooo/ffdb6174640cab82c5b8e94dfb69b39b)
(started dota, join

[2018-02-04 00:52] dinomacri commented on #1397
System information: https://gist.github.com/dinomacri/57467b62e1efb1cc1c5b77d9a1959314

Snippets from /tmp/dumps related to dota: https://gist.github.com/dinomacri/59bc6e812122924dc5b96d3cfd6252c6

Output when running dota.sh (refuses to open at all, as compared to launching through the steam client): https://gist.github.com/dinomacri/0589bbc09d081d9b27ddfda0626755ab

Edit: Okay, I've just done a

[2018-02-04 04:26] ghost opened #1400 "[7.08] Dota client freezes on taking a screenshot (steam hotkey)"
Gentoo Base System release 2.4.1

mesa-17.2.0_rc4
nvidia-drivers-375.82
steam-client-meta-0-r20161126
steam-games-meta-0-r20160812
steam-launcher-1.0.0.54-r3
steam-meta-0-r20160817

WM: i3
Kernel: 4.9.75

[2018-02-04 04:38] ghost opened #1401 "[7.08] Sounds missing on camera move"
When I move camera to look at how my teammates are doing then move it back (with Focus Hero command bound to Space), for 1–2 seconds any abilities I use are not heard. I do not hear Lina’s Dragon slave or Light strike array, when I cast them right after I move the camera back to Lina. Actually, I do not hear other players’ abilities too – Riki’s Smoke screen for example. The ambient sounds are the

[2018-02-04 10:10] alanpoon opened #1402 "[LINUX] Dota 2 closes after logo"
Here is my crash dump.
https://gist.github.com/anonymous/8de2464259c5db1e168859265ddc4793

[2018-02-04 13:17] Seeboooo commented on #1397
@dinomacri the last stable update to the graphic stack seems to have fixed the issue for me (using 4.15 kernel).

[https://forum.manjaro.org/t/stable-update-2018-02-03-kernels-libreoffice-browsers-thunderbird-php-haskell/39663/55](https://forum.manjaro.org/t/stable-update-2018-02-03-kernels-libreoffice-browsers-thunderbird-php-haskell/39663/55)

mesa 17.3.3-1.1 --> 17.3.3-2
vulkan-radeon 17.3.3-1.

[2018-02-04 13:49] kisak-valve commented on #1400
Hello @deterenkelt, this issue is not limited to Dota 2 and is already being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/4928. Closing as a duplicate.

[2018-02-04 13:49] #1400 closed, assigned to nobody

[2018-02-05 03:26] mastercoms commented on #1397
Still not fixed for me.
I tried on both nvidia 387.34-21 and 390.25-3 and on kernels linux 4.14.15-1, linux-zen 4.15.0-1, linux-zen 4.15.1-1.

[2018-02-05 14:48] kisak-valve commented on #1402
Hello @alanpoon, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

[2018-02-05 14:57] alanpoon commented on #1402
Hi, here is the link. https://gist.github.com/alanpoon/f53b7f1ff7bd48f59e2620e058510957

[2018-02-05 16:35] gdrewb-valve commented on #1397
Make sure to validate your Dota install from the Steam client.

[2018-02-05 16:39] gdrewb-valve commented on #1402
Make sure to validate your Dota install from the Steam client.

[2018-02-05 18:50] DarkDefender commented on #1368
I'll close this as the changes that caused this has been reverted, for now at least

[2018-02-05 18:50] #1368 closed, assigned to nobody

[2018-02-09 01:36] mastercoms commented on #1397
Seems like the issue was fixed for me by deleting my `dota/cfg` folder and then verifying game cache.

[2018-02-09 01:41] kisak-valve commented on #1397
Thanks for the follow up. Closing as the issues reported appear to have been resolved.

[2018-02-09 01:41] #1397 closed, assigned to nobody

[2018-02-09 14:42] glubsy opened #1403 "[Linux] Crash at main menu with Nvidia 390.25 (Vulkan)"
I have upgraded my Linux LTS kernel from 4.9 to 4.14 recently (4.9.78-1-lts -> 4.14.18-1-lts).

When I use the proprietary nVidia drivers version 390.25, the game crashes one or two seconds after displaying the main menu.
Only tested with Vulkan renderer, haven't tried with OpenGL.
[code]

For now I went back to version 384.111 and it works alright with kernel 4.14.18-LTS.
Posted a thread on nvidi

[2018-02-09 14:53] glubsy opened #1404 "[Linux] Random crashes with nVidia 384.111 (Vulkan)"
Since upgrading to kernel 4.14.18-LTS from 4.9-LTS (Arch Linux) I get random crashes in game when using the Vulkan renderer. I went back OpenGL for now.

Stack trace:
[code]

For now I would avoid upgrading to a newer driver because they are too unstable.

Posted to nVidia forum here too: https://devtalk.nvidia.com/default/topic/1029843

[Steam system info](https://gist.github.com/glubsy/f5eb1d872

[2018-02-10 00:10] alanpoon commented on #1402
Validated 100%, still cannot

[2018-02-10 00:16] kisak-valve commented on #1402
Probably worth mentioning that OpenSUSE Leap 42.2 has reached its [end of life](https://lists.opensuse.org/opensuse-security-announce/2018-01/msg00103.html) upstream. You should consider updating your system, but that is separate from this issue.

[2018-02-10 00:42] alanpoon commented on #1402
I have a line that says NET: not connected. Could this be the problem?

[2018-02-10 15:06] alikuro commented on #1012
try,
myname$ cd /private
myname$ sudo chmod 777 tmp

[2018-02-12 01:23] alanpoon commented on #1402
Fixed with: STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam

[2018-02-12 01:25] #1402 closed, assigned to nobody

[2018-02-14 05:17] Apple-Lion commented on #198
It's two years later, and I'm having this exact same issue with Solus.  Center monitor, and chat wheel, regardless of keybinding, causes the same issues.  Can we reopen this?

[2018-02-14 05:26] gdrewb-valve commented on #198
You should open a new issue,  Please include full system info, your monitor sizes and positions and the video settings and launch options you're using.

[2018-02-14 05:43] Apple-Lion commented on #556
It's back from the patch a couple weeks back.

[2018-02-15 22:25] ghost commented on #1306
I can't reproduce this anymore.

libfreetype.so.6.12.3

Not sure what fixed it. Upgraded graphics stack to Mesa 18something too.

[2018-02-15 23:16] gdrewb-valve commented on #1306
Thanks for the update, I'll go ahead and close this.

[2018-02-15 23:16] #1306 closed, assigned to nobody

[2018-02-17 04:45] IndigoVortex opened #1405 "My game crashes occasionally since 7.08"
I am playing against default bot all this time, game crashes not strictly in game. I see it crash out in menu one time. I am trying to upload my dump file.

[2018-02-17 04:48] IndigoVortex commented on #1405
My dump file link here: https://drive.google.com/open?id=1LEwCtlm5WWhf56BhLIBSUf1WoX5TsGbA

[2018-02-17 04:51] IndigoVortex commented on #1405
------------------
System Information
------------------
      Time of this report: 2/17/2018, 12:50:39
             Machine name: INDIGO-PC
               Machine Id: {1534BB2C-B6E3-4260-BAF0-BCB8943D1F05}
         Operating System: Windows 10 专业版 64-bit (10.0, Build 16299) (16299.rs3_release.170928-1534)
                 Language: Chinese (Simplified) (Regional Setting: Chinese (Simplified))

[2018-02-17 07:39] moofMonkey commented on #1405
Sorry, but it's Linux/MacOS tracker, not windows. Also next time please use pastebin/gists to store THAT big posts.
From README:

[2018-02-17 07:53] moofMonkey opened #1406 "[Linux] Memory leak?"
Maybe there's memory leak/bad optimization issue as at windows 7.08 eats ~1-2GBs, but on linux it's usual - ~2-3GB. I think SteamOS are affected too.
Like, it eats ~1.5GB on start and ~2.5GB in-game.
[SysInfo (wasn't updated)](https://pastebin.com/LrcJ4vks)

[2018-02-17 08:19] gdrewb-valve commented on #1405
You'll want to post at dev.dota2.com

[2018-02-17 08:19] #1405 closed, assigned to nobody

[2018-02-17 08:21] gdrewb-valve commented on #1406
Memory numbers between systems aren't easily comparable, so the numbers you see may be correct.

[2018-02-17 12:02] IndigoVortex commented on #1405
@gdrewb-valve  but I got "Auth failed - missing key" when I linking my steam account on dev.dota2.com.

[2018-02-17 15:00] avxkim opened #1407 "How to remove Dota 2 from notifications High sierra"
![image](https://user-images.githubusercontent.com/5739191/36342232-83416f3a-1425-11e8-8d2f-915973f38a1c.png)

Is it possible to remove this from Notifications settings?

[2018-02-17 18:40] gdrewb-valve commented on #1407
I don't think that you can since Dota registers as a notification source.  Is it that you don't want to see notifications or is having Dota in the list causing an issue somehow?

[2018-02-18 00:10] sylware commented on #1225
seems fixed.

[2018-02-18 00:10] #1225 closed, assigned to nobody

[2018-02-18 04:04] avxkim commented on #1407
No, it just was my curiosity. You can remove it using CMD + Backspace, but when you launch Dota 2 again, it automatically adds to notifications once again.

[2018-02-18 05:04] gdrewb-valve commented on #1407
OK, closing this out.

[2018-02-18 05:04] #1407 closed, assigned to gdrewb-valve

[2018-02-19 07:58] Nightshadow1258 opened #1408 "[Linux] crashes after connecting to a game no error messages"
Hi,

I cannot play since yesterday, because the game just closes as soon the loading screen finishes. It does not matter if it is a normal game, a custom game or a local lobby.

I reported my problem already to the steam community which lead me here.
http://steamcommunity.com/app/570/discussions/0/2860219962095621849/

The Problem is i don't get any error message even if Steam is started from the

[2018-02-19 13:34] kisak-valve commented on #1408
Helllo @Nightshadow1258, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. Additionally, please add `-con_logfile` to Dota 2's launch options, reproduce the issue, then put `<dota 2 install dir>/game/dota/console.log` in a gist and include a l

[2018-02-19 14:31] Nightshadow1258 commented on #1408
Hi,thanks for the replay

here is the link to the System informations:
https://gist.github.com/Nightshadow1258/57b430ec557b7b472aafef54d196a297

here is the link to the console.log after reproducing the crash:
https://gist.github.com/Nightshadow1258/8e4c64f011cad3506d2493e2ae4b188f

[2018-02-19 17:02] gdrewb-valve commented on #1408
The lack of an error report or spew suggests it's a system issue, such as something in the OpenGL stack.  It could be something else entirely but that's a common reason that Dota has no error information.

Make sure you validate your Dota install from the Steam client.

[2018-02-19 23:11] Nightshadow1258 commented on #1408
I already did a complete reinstall of Dota which did not help sadly.

[2018-02-20 15:22] Th3NightHawk opened #1410 "[MacOS] Dota unplayable"
* System information: https://gist.github.com/Th3NightHawk/9ca5223717ceb84f48c0ebc1fedb8210
* Have you checked for system updates?:  Yes, none available
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

When running anything in game (Even hero demo mode) my frame rate drops dramatically (down to +/- 10fps). This is when graphics

[2018-02-20 17:40] danginsburg commented on #1410
I am not aware of anything that changed recently that would impact performance in this way.  Are you sure it is running on your AMD Radeon 555?  To confirm, you can start the game from the command-line (with Steam already opened):

From this folder:
[code]
run:
[code]

You should see something in the output like this:

[code]

If it is using the Intel Integrated GPU instead of AMD you could try fo

[2018-02-20 17:41] Th3NightHawk commented on #1410
Docker Mac App which was installed yesterday removed. Performance back to acceptable levels... fml

[2018-02-20 17:41] #1410 closed, assigned to nobody

[2018-02-20 17:48] Th3NightHawk commented on #1410
Thanks for the feedback @danginsburg . I did verify that the AMD Radeon was being used though, even forced it. Still didn't change until the Docker app was removed. Not sure why it had such a dramatic effect. If I figure out why I'll update this post.

[2018-02-22 02:56] monsieurwaffle opened #1411 "Dota 2 Unplayable - Crashes on Launch (Help needed)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/monsieurwaffle/e479ba47f5135057e3760395c33cc7d0):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as

[2018-02-22 14:44] #1411 closed, assigned to zpostfacto

[2018-02-23 20:45] ghost commented on #1408
all done today (my only day off)
fresh install of 17.10 with default everything selection.
after install & all system updates done + reboot i do
sudo apt install steam steam-devices -y
connect to steam and install dota, default location
rx480 + ryzen1700
any game, instant crash to desktop as soon as i reach character selection
when i run steam from terminal and instigate the crash, it shows nothin

[2018-02-23 20:50] ghost commented on #1408
work around
sudo apt install mesa-vulkan-drivers vulkan-utils
add -vulkan to launch options and use vulkan instead.

game still stalls (for about 0.4s) at char selection section but it doesn't crash. hopefully this helps others.

[2018-02-25 21:50] Veske commented on #1408
Can provide a core dump. Happened with` -vulkan` option and without. I was playing a game with Invoker and doing a sun strike on this Phurist Thunderwrath hero and then the game crashed. From now on opening the game will make the game crash in about 15 seconds in.

Some system info:
[code]

[dota2.log](https://github.com/ValveSoftware/Dota-2/files/1756748/dota2.log)

EDIT: Could be that now when s

[2018-02-26 00:38] robertpro opened #1412 "[Linux] Can not start dota 2 game since feb 22"
#### Your system information

* System information from steam: [gist](https://gist.github.com/robertpro/38d0e8c563ecd752b63895c5fa41ba3c)
* Have you checked for system updates?: `Yes`
* Are you using the latest stable video driver available for your system? `Yes`
* Have you verified the game files?: `Yes`

#### Please describe your issue in as much detail as possible:
I can not start the game usin

[2018-02-26 00:45] kisak-valve commented on #1412
Hello @robertpro, your system information is indicating you're using llvmpipe, which is mesa's faster software renderer. Please check that your video driver is healthy and working properly outside of steam.

[2018-02-26 01:19] robertpro commented on #1412
Well, I can play other games, like tf2 or csgo

![image](https://user-images.githubusercontent.com/8595170/36649110-187041cc-1a60-11e8-85b8-f9685ff4fec8.png)

![image](https://user-images.githubusercontent.com/8595170/36649144-6929d466-1a60-11e8-914d-3e6614acb1ca.png)

But I feel some bad perfomance... will check again for the Nvidia driver

[2018-02-26 01:21] robertpro commented on #1412
Well I can see there are no updates, and I can see Nvidia driver in use:

[code]

Should I reinstall the driver ?

[2018-02-26 03:38] robertpro commented on #1412
I am sorry for opening this issue, the problem was "something" (am not sure what) about the system update, I updated fedora, and it broke Nvidia driver, so I have reinstalled the driver and it is working ok again, thanks! @kisak-valve

[2018-02-26 03:39] #1412 closed, assigned to nobody

[2018-02-26 16:00] gdrewb-valve commented on #1408
@Veske, you appear to have a different issue than at least some of the people posting here and you might want to create a separate entry.  Regardless, please include a pastebin link (or whatever you prefer) to your crash dump.  It's impossible to say if it's related to shader cache or not, although it's unlikely if it occurs with both Vulkan and OpenGL.

[2018-02-26 16:52] Veske commented on #1408
@gdrewb-valve: The issue resolved for me after doing the following steps:

1.  Delete mesa shade cache folder that was located somewhere in `~/.cache`
2.  Delete mesa folder in `~/.cache`
3.  Delete shader caches in Dota 2 folder and steam folder
4.  Verify integrity of game files for Dota 2

The problem was only solved after step 4, but step 4 did something because there was 1 file that had to be

[2018-02-26 16:56] gdrewb-valve commented on #1408
If things work properly after validating your install there's no need for an issue.  If you see problems in the future after validation then you should open a new issue.

[2018-02-26 16:56] gdrewb-valve commented on #1408
Also, validation might need to be done after every update.

[2018-02-26 16:57] Veske commented on #1408
@gdrewb-valve Would make sense to have a small P.S under update notes then. I think I have never heard of that. Good to know tough, could avoid future issues.

[2018-02-26 17:02] gdrewb-valve commented on #1408
We have it in the submission form here and I just edited the readme to make it more prominent.

[2018-02-26 17:08] zpostfacto commented on #1408
Man, it would really be great if we could understand why this was necessary.  I mean "just do a validation after every update" is a workaround, but it would be really outstanding if we could understand why the normal patching process isn't working.  @Veske, I don't suppose that you could copy off your whole dota 2 install directory?  And then next time you get the bug, copy off your current tree t

[2018-02-26 17:54] kisak-valve commented on #1408
One of the answers [here](https://stackoverflow.com/questions/16085958/scripts-find-the-files-have-been-changed-in-last-24-hours) can help reduce the number of files to compare before and after verifying the game files.

[2018-02-26 17:59] Veske commented on #1408
@fletcherdvalve Sure, can do that. No guarantees tough on if and when it happens again.

I would imagine that Steam developers could also include a trigger for this verify step which would log the diff on users disk somewhere in case of corrupt file. Could help with some nasty cases.

[2018-02-28 21:00] eXcuvator opened #1413 "Mac: Interaction with f.lux is broken"
#### Your system information

https://gist.github.com/eXcuvator/c92e766abc6e683a255f09f1da6c7bce* Have you checked for system updates?:  Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
f.lux is an app that allows you to remove blue colors from your screen, for

[2018-03-01 07:23] Eshakk commented on #1339
I used to get around 70-80fps pre 7.0.7 updates :(

My system information:
[code]
**`sys_info`**
[code]
I've tried -gl, -high but to no avail. My Dota2->Video->Rendering is set to 'Use basic settings'-Fastest.

Can someone please suggest me some settings/hacks to get at-least 60fps(I just want the game to be playable, no need for high end graphics) ?

[2018-03-01 16:09] danginsburg commented on #1413
This may be related to us updating SDL but has nothing to do with Vulkan.  Not sure this is a dota bug as opposed to a bug with f.lux.

[2018-03-01 19:30] SingularityCat opened #1414 "[Linux] Game does not launch"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/SingularityCat/37fbfa4905fb8da53e4727a1ee254209
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes (Mesa 17.3.6)
* Have you verified the game files?: Yes

####

[2018-03-01 19:31] SingularityCat commented on #1414
I should probably mention that Dota worked fine a few days ago.

[2018-03-01 19:33] SingularityCat commented on #1414
~Downgraded Mesa to 17.3.5 and it works, this looks like a Mesa issue.~
Mesa 17.3.5 gets to the main menu, but fails to enter any kind of game.

[2018-03-01 19:44] kisak-valve commented on #1414
Hello @SingularityCat, Mesa 17.3.6 is an emergency release for outstanding issues with the Intel stack. There are no AMD changes between 17.3.5 and 17.3.6. This issue should be brought to the attention of your distro's package maintainer(s) for Mesa.

Closing as this can't be an issue with Dota 2 with the symptoms described.

[2018-03-01 19:46] SingularityCat commented on #1414
Hi @kisak-valve, I've just discovered that downgrading mesa allows me to get to the menu, but I fail to successfully load into a game.

Similarly, entering the hero demo screen fails.

[2018-03-01 20:09] kisak-valve commented on #1414
Can you add `-con_logfile` to Dota 2's launch options, reproduce the issue, then throw `<dota 2 install dir>/game/dota/console.log` in a [gist](game/dota/console.log) and include a link in this issue report?

If you can find any CrashIDs or minidumps in `/tmp/dumps` related to this issue, please include them as well.

[2018-03-01 20:26] SingularityCat commented on #1414
@kisak-valve it seems Dota literally just had an update pushed, and I can no longer reproduce this crash, on either the OpenGL or Vulkan version.

[2018-03-01 21:39] eXcuvator commented on #1413
Yes, I only observed it happening yesterday (28th feb) for the first time, and assumed that it was coming from the Vulkan change.

[2018-03-02 01:29] gdrewb-valve commented on #1414
Closing as per the last comment.

[2018-03-02 01:29] #1414 closed, assigned to nobody

[2018-03-02 05:12] ghost opened #1415 "Request/minor, low resolution icon on Gnome"
Sorry, I've got to skip most the template for this one. On Windows at the moment.

Under Gnome (maybe other DEs?) the icon resolution for Gnome is actually kind of low, seems to be lower than 256x256, which seems to be the minimum for icons to look good under Gnome. Wine's autogenerated icons seem to have a similar problem. This seems to be a non issue on Windows since for alt+tabbing/start menu i

[2018-03-02 12:46] anko commented on #1345
I believe I'm also seeing this problem. My symptoms are identical to @BrendanBall's. However, it locks up my machine so badly that I can't even kill the process, so I need to hard reset. CPU usage spikes dramatically when it happens.

The issue is inconsistent, usually requiring a few alt-tabs until it happens. I've only observed it happen when in-game, not in menus.

See [this gist](https://gist.

[2018-03-02 13:02] anko commented on #1345
Read some [ValveSoftware/Dota-2-Vulkan](https://github.com/ValveSoftware/Dota-2-Vulkan); here are some entries that looked like this same issue, based on descriptions and `console.log` files posted:

 - https://github.com/ValveSoftware/Dota-2-Vulkan/issues/233
 - https://github.com/ValveSoftware/Dota-2-Vulkan/issues/187#issuecomment-343707564

[2018-03-11 06:53] ghost opened #1416 "How can change the name font.（not steam name）"
Linux linux 4.15.7-1-MANJARO #1 SMP PREEMPT Wed Feb 28 20:35:31 UTC 2018 x86_64 GNU/Linux

As you see the name too high,it blocked the health bar.and look like very ugly.so I want to change the font or adjust the height。

![screenshot_20180311_144413](https://user-images.githubusercontent.com/11383988/37250580-3c3f775e-253b-11e8-8af0-5dd3756d5323.png)

[2018-03-12 20:41] gdrewb-valve commented on #1416
There isn't a simple way to customize it.  As this isn't a Linux-specific thing (it's kind of related to Linux since fonts are more variable on Linux but the underlying issue affects everything) I've passed this on to the larger team.

[2018-03-12 20:41] #1416 closed, assigned to nobody

[2018-03-12 20:53] zezaocapoeira opened #1417 "Is consuming lots of ram ( Dota 2 GNU/Linux)"
Hello.

(sorry bad english )

After the update of 12/03/2018 the Dota-2 (GNU / Linux version) is consuming
lots of ram.
![captura de tela_2018-03-12_17-35-12](https://user-images.githubusercontent.com/13563840/37308848-f4c8be10-261d-11e8-830d-132769d3937d.png)

System description:

https://pastebin.com/raw/HHjwLsZ7

Before the update of 12/03/2018 , it was normal using approximately 2 gb in game.

[2018-03-13 06:17] ywaby commented on #1417
same

[2018-03-13 12:43] sylviinho commented on #1417
crashing sporadically on mac after the update

[2018-03-13 13:06] kisak-valve commented on #1417
Hello @sylviinho, please open a new issue report so that your issue can be tracked properly.

[2018-03-13 14:00] vonclutch commented on #1417
i think @kisak-valve it's related.

when the game start after selection phase, when the rune spawn ( at 00:00) when there is a big fight or just randomly (maybe cause of some spell), your game can crash because of too much memory consumtion. And most of the time it's not only the game, my 2 last game since this patch crash my computer ( and many times my game ) and now i can't really play in case

[2018-03-13 19:50] sylviinho commented on #1417
@kisak-valve I really think it's related too. It's not only that the game crashes, but it runs VERY slowly whenever multiple actions are being made, thus making me strongly believe the game crashes because of the RAM usage

[2018-03-13 22:58] gdrewb-valve commented on #1417
So far we haven't seen memory usage anywhere near that high at Valve so we don't have any leads.

[2018-03-14 01:52] zezaocapoeira commented on #1417
Hello.

( sorry bad english )

In this build today ( version 2,745 )  03/13/2018, apparently corrected the ram problem I had quoted.

![captura de tela_2018-03-13_22-43-29](https://user-images.githubusercontent.com/13563840/37379136-faf4a1ca-2710-11e8-8806-c573363287de.png)

Thanks for listening.

[2018-03-14 01:54] gdrewb-valve commented on #1417
Thanks.  Is anybody else still seeing memory problems?

[2018-03-14 03:20] ywaby commented on #1417
still happen, speical in imba mode, dota2 easily eat all my memery.

[2018-03-14 03:35] AlejandroC90 commented on #1417
Same here in Arch Linux, Dota 2 blocks my pc because it uses 4GB of RAM (of total 6GB), sometimes happens slow and sometimes almost instantly after spectating a game

[2018-03-14 05:49] gdrewb-valve commented on #1417
@ywaby and @AlejandroC90, this memory usage only started with the Dota Plus update?

[2018-03-14 08:14] ywaby commented on #1417
yes

[2018-03-14 09:44] cuteredpwnda commented on #1417
Having the same issue here, also using Arch (Antergos) with 8GB of RAM. Game randomly crashes and kinda locks my PC after playing with low fps for a while.

[2018-03-14 11:21] hayyan71 opened #1418 "[LINUX] Dota 2 crashes after starting bot match with default bots"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/hayyan71/748ff27d7c1a3b14f90f9c79847f220b
* Have you checked for system updates?: Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Describe what you _expected_ should happ

[2018-03-14 15:32] gdrewb-valve commented on #1418
Can you post a gist of the console log?  You can add -con_logfile to your launch options and it'll create a console.log file in your Dota install under game/dota.

[2018-03-14 17:16] vonclutch commented on #1417
Same for me try with bot in low fps and game crash once and next time my computer freeze and need to force restart

(Intel Core i7-4770 @ 3.40GHz / RAM:  7921 Mb )

[2018-03-14 17:29] hayyan71 commented on #1418
@gdrewb-valve
here:

https://gist.github.com/hayyan71/2709e9bfc197ca6ec9087dcd05b8f647

[2018-03-14 18:10] kisak-valve commented on #1418
Looks like OpenSUSE Leap 42.3 ships glibc 2.22, but this hint looks like a red herring as the described scenario works on my OpenSUSE 42.3 test box.

[2018-03-14 23:12] gdrewb-valve commented on #1418
I'm not having any troubles on my Linux system either, we'll have to see if other people hit it and we can establish a common configuration.

[2018-03-14 23:27] kisak-valve commented on #1418
@hayyan71, if you can find any CrashIDs or minidumps (commonly found in `/tmp/dumps/`) related to your issue, please put them in an archive and include them in this issue report.

[2018-03-14 23:33] AlejandroC90 commented on #1417
Yes, sometimes it happens pretty fast, this was just after a turbo game
![image](https://user-images.githubusercontent.com/5132907/37436463-0d9fde20-27b6-11e8-95bf-4b5733298e5c.png)
Full RAM and full SWAP used

[2018-03-15 07:33] hayyan71 commented on #1418
[crash_20180315105150_1.tar.gz](https://github.com/ValveSoftware/Dota-2/files/1814350/crash_20180315105150_1.tar.gz)

[2018-03-15 09:16] hayyan71 commented on #1418
[failed to dlopen libtensorflow.so error=/lib64/libm.so.6: version `GLIBC_2.23' not found] but GLIBC version in Leap 42.3 is 2.22.

Upgrading from 42.3 to Tumbleweed (GLIBC 2.27) solved the problem for me

[2018-03-15 09:42] cuteredpwnda commented on #1417
Oh, I forgot to mention my specs/setup:
Ryzen5 1600@3.2Ghz, 8GB RAM and Gnome3 as DE.

[2018-03-15 10:12] conrev commented on #1417
I also can confirm this issue on Ubuntu 16.04 LTS (i7 7700HQ/8GB/1050ti/Unity)

Dota 2 (Vulkan) consumes around 6-7GB after 1 game. Sometimes i can even reproduce this by only watching replays.

I will test the oGL version and report here.
EDIT: I tested the OpenGL ver. and it stays at around ~2.7GB,  so maybe it is vulkan specific? (at least on my machine)

[2018-03-15 12:12] kisak-valve commented on #1418
For reference, the attached minidump is a SIGSEGV in ld-2.22.so.

[2018-03-15 19:22] gdrewb-valve commented on #1418
The failure to load libtensforflow.so is not an issue, the game doesn't require that to succeed.  I can force that failure on my Linux box without any game crashes.  As the crash is in the system loader itself, though, I wonder if on some versions the failure causes something bad to happen in the system?

[2018-03-16 16:34] d4ve89 opened #1419 "[Linux] Random crashes in Ranked & Unranked All Pick only (Matches with DotaPlus features)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Dve89/029ff49ba22de20d147eead2de4f8245
My distro is Arch Linux and I am running dota in the default gl mode.
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Y

[2018-03-16 16:52] MasterZapple commented on #1419
Same problem.
My gist: https://gist.github.com/MasterZapple/3840961a9c8527f088fdfb26e7d1519e

This doesn't happen to me every game, but some games it's near-impossible to play. It just closes the game every 1-5minutes after reconnecting.

[2018-03-16 17:31] kisak-valve commented on #1419
For reference, the attached minidumps are SIGSEGV coming from libclient.so (part of Dota 2).

[2018-03-16 17:49] gdrewb-valve commented on #1418
It isn't training and in fact is mostly unused.  The larger team is probably going to pull the library from the install in an upcoming released.

[2018-03-16 18:14] Eignar17 commented on #1419
I have the same problem at all times in the menu and in the game

[2018-03-16 18:27] timosaure commented on #1419
I can confirm the same issue. Started happening after I activated DotaPlus.

The timespan between crashes varies, but I couldn't determine an action yet that reliably causes the crash.

System: [gist](https://gist.github.com/timosaure/a7b5f620597a0e8c8ca81f01e9ef76dd)

I added the `-con_logfile` option and will try to supply that later, when the crashes happen again.

[2018-03-16 22:47] CharlesDN commented on #1419
Same issue on the latest version of MacOS(High Sierra 10.13.3). This issue does not exit after the first update for Dota Plus, but happens after the [second update on 15th of March](http://www.dota2.com/news/updates/38245/).

The first crash comes at ~12mins after the game started. No crash when playing bot game.

[2018-03-16 23:12] grantnicholas commented on #1419
Same problem on ubuntu 16.04 and I can confirm it did not happen with the first dotaplus update, but with the second update on March 15th

Here is more information to help debugging (system information + some crash logs from /tmp/dumps):

https://gist.github.com/grantnicholas/cf43de329d85a07fb653fa8bdbedf9be

[2018-03-17 01:33] tpruzina commented on #1418
@gdrewb-valve thanks

[2018-03-17 15:30] eviltoast commented on #1419
Hello, I have the same issue since one of the last updates (but not the first update that introduced Dota plus) - the game freezes for a few seconds and crashes after about 15 minutes into the game. Then the crashes become more frequent throughout the game. Tested in All Pick Normal game with Dota plus.
Crash log attached.

[crash_20180317163734_1.dmp.zip](https://github.com/ValveSoftware/Dota-2/f

[2018-03-17 16:56] Shchvova opened #1420 "[macOS] Dota crashes a lot with Stack Overflow since 7.10 & Dota+ updates"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a https://gist.github.com/Shchvova/9380d06769b0f4cd48cca90e84482920#file-sys-info
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much de

[2018-03-17 17:32] phoerious opened #1421 "Terrible Frame Spikes, especial at game end"
#### Your system information

* System information from steam: https://gist.github.com/phoerious/b4f596f1ed10872aa56edd9f8f035088
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
Recently I've been getting terrible f

[2018-03-17 17:44] kisak-valve opened #1422 "Dota 2 froze"
Issue transferred from https://github.com/ValveSoftware/steam-for-linux/issues/5407.
@amitavmohanty01 posted on 2018-03-17T11:19:35:

#### Your system information

* Steam client version (build number or date): 1.0.0.54-3
* Distribution (e.g. Ubuntu): Arch linux
* Opted into Steam client beta?: [Yes/No] No
* Have you checked for system updates?: [Yes/No] Yes

#### Please describe your issue in as

[2018-03-17 17:48] kisak-valve commented on #1422
Hello @amitavmohanty01, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Additionally, if you find any CrashIDs or minidumps (commonly found in /tmp/dumps) related to this issue, please throw them in an archive and you can drag and drop the

[2018-03-17 17:55] kisak-valve commented on #1421
Possibly related to #1417.

[2018-03-17 19:39] gdrewb-valve commented on #1421
If you could check memory usage that'd be interesting info.

[2018-03-17 19:40] gdrewb-valve commented on #1422
If there's some kind of consistent repro please add the steps.

[2018-03-17 21:29] phoerious commented on #1421
I'll check next time it happens.

[2018-03-17 22:22] phoerious commented on #1421
Update: I just had a game and while I didn't have the terrible breakdown at the end, I had occasional frame spikes. However, memory was pretty stable the whole time. I have 16GB RAM and Dota used 10% of that when I started and slowly climbed to 13.6% (and it didn't go back to 10% after the game). So there is most likely a memory leak somewhere, but it's probably not responsible for the FPS spikes.

[2018-03-18 05:41] amitavmohanty01 commented on #1422
As I mentioned, the dump is ~700mb. Would the issue tracker accept that size for an attachment?

[2018-03-18 07:27] gdrewb-valve commented on #1422
Probably not, but more importantly if it's truncated it may not be useful.  I'd just wait to see if it happens again, in which case try to remember what was going on at the time it happened.

[2018-03-18 10:12] ptmpn commented on #1420
Same issue here it happen every time I do a teamfight.

[2018-03-18 12:05] amitavmohanty01 commented on #1422
I remember what I was doing. I was in an unranked all pick match and it was the banning phase. My mouse was on witch doctor and the hero icon had magnified. The game just got stuck there.

[2018-03-18 15:32] cuteredpwnda commented on #1421
Today I experienced a problem with my FPS spiking while in the game and PC freezing.
Now after reading this, I realised that my RAM usage is like @phoerious, not too high.

Also wrote in #1417, Problem still persist.
my system info: https://gist.github.com/cuteredpwnda/3196aafeb66b03620f43f44a75d02fb7

[2018-03-18 18:08] AlekseiMordas commented on #1420
I noticed it happens when ping increasing x times. Same issue.

[2018-03-18 21:02] dervus opened #1423 "[Linux] Playing Dark Willow crashes the game after Dota+ release"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/dervus/3ec7713bd757b9eab35ced249761b258
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your i

[2018-03-19 00:28] megatog615 commented on #1420
My game has crashed seemingly every time I complete the first rank of a hero challenge.
edit: I'm using Linux.

[2018-03-19 21:37] ghost opened #1424 "Local bot game crash on opengl/linux"
#### Your system information

[code]

* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
I am experiencing problems with opengl after recent update. Vulkan works as expected. When starting a new bot game, game crashes.

[2018-03-19 23:17] Meaot commented on #1420
Same issue here. I'm no expert and can't parse much of the crash log but I also see a stack overflow identical to Shchvova.

[Example Crash Log](https://gist.github.com/Meaot/db917992046d25ac30bc21d64644a944)
[System Info](https://gist.github.com/Meaot/2b0dc466abcf3a68cee51b0a06380ad9)

I've had 3-4 crashes in each of 2 games out of maybe 5 total after subscribing to DotaPlus. No issues before sub

[2018-03-20 04:19] gdrewb-valve commented on #1424
Likely a duplicate of #1418.

[2018-03-20 09:48] magist3r commented on #1419
Same here on openSUSE 42.3 with DotaPlus activated. I think that hero quests causes this (I got crash only with Lanaya with specific quest).

[2018-03-20 11:49] d4ve89 commented on #1419
@magist3r this could explain why some people said on reddit that they don't have any issues. Some people said they got this issue in only a few games, while I have them always. Maybe we selected hero quests with issues, while others were lucky because they never picked problematic quests. Could you look into this @triage-valve ?

[2018-03-20 18:45] czarnyckm commented on #1345
I update the issue
[Freezing all system, when alt+tab game [LINUX] #233](https://github.com/ValveSoftware/Dota-2-Vulkan/issues/233#issuecomment-373473932l)

[2018-03-20 20:05] gdrewb-valve commented on #1417
Did the March 20 update improve things for any Linux users with issues?

[2018-03-20 20:05] gdrewb-valve commented on #1418
The March 20 update has made changes in this area, can people retest bot matches?

[2018-03-20 20:09] gdrewb-valve commented on #1419
The March 20 update made some changes in this area.  People that have posted here should update and retest.

[2018-03-20 20:38] ghost commented on #1424
Issue resolved with 20/03 update, closing. Thank you

[2018-03-20 20:38] #1424 closed, assigned to nobody

[2018-03-20 22:03] zezaocapoeira commented on #1417
Hello.

( sorry bad english )

This build today:
![build](https://user-images.githubusercontent.com/13563840/37684967-8f7fcbe4-2c70-11e8-9224-5778d50954ff.png)

I did a screencast of a fast gameplay  with vulkan enabled , everything is working normally:

[Screencast Dota 2 ](https://youtu.be/piEzEurxhIc)

Thanks for listening.

[2018-03-20 22:16] AlejandroC90 commented on #1417
Updated, watched some games, and stills uses all the ram that it can
![photo_2018-03-20_17-14-59](https://user-images.githubusercontent.com/5132907/37685671-427fbae2-2c62-11e8-9a9d-848f711b964e.jpg)

After closing the game
![photo_2018-03-20_17-15-02](https://user-images.githubusercontent.com/5132907/37685687-4ac78a40-2c62-11e8-9360-99ccc44dbd47.jpg)

![image](https://user-images.githubusercontent

[2018-03-21 03:22] reportados123 commented on #1419
I'm still getting random crashes in ranked. Although somewhat less frequently it seems?

System information from steam: https://gist.github.com/reportados123/a046c1bd6b3877274b0ce825216a5f93
My distro is Arch Linux and I am running dota in the default gl mode.
Have you checked for system updates?: [Yes]
Are you using the latest stable video driver available for your system? [Yes] (nvidia 390.42)
H

[2018-03-21 04:18] ywaby commented on #1417
issue had fixed，thanks for you good job.

[2018-03-21 04:49] hashwagon commented on #1419
Just crashed 5 times in one ranked all pick game. Ubuntu 16.04 (KDE Neon). AMD 8350 CPU, AMD 7970 (Opensource Drivers). Had to boot into Windows :'(

[2018-03-21 06:06] quinns26 opened #1425 ""unable to establish connection to server" MAC"
So for the last week or so my roommate and I have been unable to host or join online games, getting the error message 'unable to establish connection to servers' when we try to initiate the game. We have tried playing over our phone wifi and still have the same issue. We have also uninstalled and reinstalled DOTA 2, and are both fully updated. I have also deactivated firewall to no avail. We are b

[2018-03-21 10:14] d4ve89 commented on #1419
For me it's the same like reportados123. At first I thought it was fixed, because I finally was able to play 3 games without any trouble. Then it happened again on the fourth game (before March 20 patch, it happened to me in every game).

[2018-03-21 12:32] kisak-valve commented on #1425
Hello @quinns26, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Additionally, please add `-con_logfile` to the game's launch options, reproduce the issue, then add the console log found at `<dota 2 install dir>/game/dota/console.log` to a

[2018-03-21 12:38] kisak-valve commented on #1419
For reference, @reportados123's second and third minidumps look similar to the earlier minidumps in this issue report. The first is a DUMP_REQUESTED in crashhandler.so.

[2018-03-21 15:56] hayyan71 commented on #1418
@gdrewb-valve

Re-installed openSUSE Leap 42.3, and seems bot matches working again for me.

[2018-03-21 17:53] bemug commented on #1419
Seem to happen only when activating a quest, since I tried both.
Tried with the Rubick assists quest.

Edit: Nevermind. It's not all the quests.

[2018-03-22 00:24] Sidai-13 opened #1426 "[macOS] FPS degradation during game and freezing on startup / hero selection"
#### Your system information

* System information: https://gist.github.com/SiDai-13/9943eed054c03e9a4159f313c1557b98
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
When playing a game, FPS starts at around 60-80.

[2018-03-22 00:29] Tbird761 commented on #1425
I'm not sure if it's more useful to chime in here or start a new ticket, but I've experienced what would appear to be the same issue on Debian during the same time frame.

[2018-03-22 00:30] gdrewb-valve commented on #1426
Likely a duplicate of open memory usage / perf issues.

[2018-03-22 00:36] kisak-valve commented on #1426
Hello @SiDai-13, the symptoms you've described may be cooling related. It would be a good idea to keep an eye on the system temperatures as the system may be throttling back to protect itself from overheating.

[2018-03-22 00:40] gdrewb-valve commented on #1418
OK, I'm going to close this for now.

[2018-03-22 00:40] #1418 closed, assigned to nobody

[2018-03-22 00:58] quinns26 commented on #1425
Thanks for the response guys! Here is a link to my system info:

https://gist.github.com/quinns26/c14b1524687e39fb9825d924981c9bc3#file-quinns26-txt

I cannot reproduce the issue at this time but will be able to do so in the next day or so, I will post the console log as soon as I can.

Thanks again, any help is greatly appreciated!

[2018-03-22 01:35] Sidai-13 commented on #1426
Hi @kisak-valve, thanks for the suggestion. I downloaded a CPU monitor and tried playing through a game. In this case, I encountered some freezes upon start up and initial menu navigation and was hitting 20fps within 5min of starting a game. CPU temp started at around 65C before opening Dota and later peaked at 75-80C. CPU usage during the game was around 30-50%. The freezing and fps issues starte

[2018-03-22 08:06] cakesale commented on #1239
I have a similar issue on SteamOS, the problem does not occur on Solus that is installed on the same system.

I have an AMD R9 270X. This problem occurs on both radeon and amdgpu drivers. I have also tested with the beta version installed.

![img_20180320_152347](https://user-images.githubusercontent.com/5090375/37758301-61a9d96e-2db8-11e8-8452-ed935dbed141.jpg)
![img_20180320_152400](https://user

[2018-03-22 16:45] AngryPenguinPL commented on #1419
Hi.

I have this same issue on my Linux Mageia5.

Worth to add:

1. This problem started when I bought dota plus.
2. The game crashes many times, even several or a dozen times in one match (tested only unranked)
3. After few days, this issue just gone but today just appeared again.
4. For what I can see, this can be issue with "quest". Why?
I had a quest to kill creeps and ancients. Crash appeared

[2018-03-22 22:50] reportados123 commented on #1419
If I recall correctly, I also crashed when I chose the creeps/ancient quest after 20-30 mins on Arc Warden.

EDIT: I've been playing games (3 so far in ranked) without picking quests and so far I haven't experienced a crash.

[2018-03-23 05:55] quinns26 commented on #1425
[console.log](https://github.com/ValveSoftware/Dota-2/files/1840321/console.log)

[2018-03-23 05:56] quinns26 commented on #1425
[console.3795265807.log](https://github.com/ValveSoftware/Dota-2/files/1840325/console.3795265807.log)

Not sure which one you want, so here are both of them. Thanks again guys!

[2018-03-23 18:23] westonrb commented on #1420
Same here.  I have the same logs as already posted.  If it helps testing at all, I've noticed I have never crashed while playing Spectre, but I have always crashed while playing Dark Willow.

Edit:
I have tried heroes without selecting quests and whichever heroes I don't select quests for, I don't get crashes.  So I'm pretty sure it has to do with dota plus quests in general.  Just don't pick a qu

[2018-03-24 04:43] megatog615 commented on #1419
I have noticed it crashing when meeting quest requirements. I've been trying to get Wraith King to level 3 lately and was trying to get my 3 wins for the week, and it only appeared to crash while I had the creeps/ancient quest selected.

[2018-03-24 05:06] reportados123 commented on #1419
Yup. Just got 3 more crashes from actually picking a quest and completing one. I was playing Shadow Demon and picked the "Get 3 / 6 / 9 Assists before the game reaches 15:00" and then as soon as I completed it (got the required assists by 15:00) and crashed. To be more precise, I was 2/2/2 and got my 3rd assist at 13:45 where I crashed shortly after. After that, I continually crashed every few min

[2018-03-24 14:35] AntouanK commented on #1419
Exactly same problem. Happens on more than half of the games for the last few days.
Also joined dota plus since day 1.

Running Arch/i3wm , nvidia GTX 1070 and the default gl version. ( I see there's an option for Vulcan, would that bypass the crashes? )

How can we provide a crash log or something?
( my system information https://gist.github.com/AntouanK/e37eee62f0c4267691ded71defe3f296 )

[2018-03-24 16:18] AngryPenguinPL commented on #1419
Maybe. Just try it and let us know.

After crash u can find dump in this location /tmp/dump/

[2018-03-24 16:50] AntouanK commented on #1419
It's a bit frustrating that we paid to get dota plus, and now we cannot play because of it :/

I want to try with vulcan, but on the other hand I don't want to ruin other's games ( or get abandons ).
Is there any feedback at all from valve on this issue?

I suppose this response is from valve?

edit:
latest match where I got multiple crashes (as kotl) : https://www.dotabuff.com/matches/3797722841

[2018-03-24 17:07] driebe commented on #1419
Your system information

    Steam client version (build number or date): Mar 22 2018, at 16:58:48 (package 1521764535)
    Distribution (e.g. Ubuntu): Ubuntu 16.04
    Opted into Steam client beta?: No
    Have you checked for system updates?: Yes, system up to date
    Hardinfo can be found in the attached TXT file

Systems details can be found at the end of the post.
Please describe your issue

[2018-03-24 17:46] dingchat555 commented on #1420
Mac Sierra 10.12 here, with DotaPlus. Last night I played a ranked All Pick match as Rubick and crashed a total of 8 times. I remember that a few times it crashed as soon as an enemy died and I got an assist for it, but if I remember correctly, I don't think that was the case for all the crashes. The first crash happened on the VS screen after hero picking phase when you enter the match, and the c

[2018-03-25 02:14] lynx29 opened #1427 "downloads occurring while playing dota 2"
#### Your system information

* System information: https://gist.github.com/lynx29/5aae64175abdf7d8592242038c81da2f
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
When playing dota 2 there is a process that downloading s

[2018-03-25 03:20] gdrewb-valve commented on #1427
This doesn't look to be a Linux/Mac issue but I'm going to hold it open for a bit.

[2018-03-25 06:15] AlejandroC90 commented on #1427
Is happening to me too, it consumes all my 2MB connection and I can't play, in my case it happens when there is a heavy team fight and then non stop from there, closing the game, opening it again and it fixes it until there is another heavy teamfight

[2018-03-25 12:19] cuteredpwnda commented on #1419
I can confirm I still have the same issue on Arch Linux. It was better after the 20th of March update, but Today I crashed two times out of a game and have to restart my PC once.

I also had the Ancient Creep/Creep farming challenge selected.

[2018-03-25 13:15] kisak-valve commented on #1427
https://github.com/ValveSoftware/steam-for-linux/issues/5417 is the start of the discussion of this issue and will be handled the same as this issue report.

[2018-03-25 14:18] AntouanK commented on #1419
Some logs from my crashes today as Silencer https://www.opendota.com/matches/3799685211
https://drive.google.com/file/d/1v2AhY0Voglj0RN6fCV7Qyil-cfPuyZGZ/view?usp=sharing

Seems like they all end with `Hang watchdog not implemented for this platform!` if that means something.
_also, using vulkan makes no difference_ :(

[2018-03-25 19:17] Zhouball commented on #1419
Same issue on Ubuntu 17.10. Random game crashes with no crash report.

[2018-03-26 11:36] leandromeiramedeiros opened #1428 "[BUG] Terrible input delay only for Box selection."
#### Your system information

I have an Hackintosh with an I3 3250 + NVIDIA GeForce 970 with the latest High Sierra build (17D102) and latest NVIDIA drivers (387.10.10.25.161), for input I use an Razer Blackwidow Chroma and a Razer Mamba Chroma (Tournament Edition with cord)

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
![screen

[2018-03-26 16:24] eier7 commented on #1419
Crashes with the assist quest for Shadow Demon. Reveal heroes with dust and shadow poison quests worked, but when i play with the assist quest it freezes all the time.

[2018-03-26 17:36] bemug commented on #1419
This could be an issue with assist quests since I've only been able to reproduce the bug with these kind of quests.
Can anyone else confirm?

[2018-03-26 17:55] AntouanK commented on #1419
I had the problem with other quests as well.

[2018-03-26 19:20] AngryPenguinPL commented on #1419
Few post above I wrote that I have a problem during the execution of quests. So YES, I can confirm it.

Today, I see more: crash start when my quest is done (for one star or more). Just when I reach the another star. So like today with drow ranger quest for killing creeps and ancients. So when I kill 9 ancients (0 crash) but when kill 10 crash instant appear. And more 11-19 ancients - 0 crash, whe

[2018-03-26 19:47] bemug commented on #1419
That's strange because I've been crashing with rubick + assist quests even if I didn't get any assists.
Crashing every 2-3 min or so. Seems to be more frequent in late game.

[2018-03-26 20:27] Krrl commented on #1419
Seems to be related to assists quest with AA when AA ults after 15minutes

[2018-03-27 10:26] AntouanK commented on #1419
Any update on this issue?
I will get tired of playing ability draft eventually :P

[2018-03-27 14:02] AngryPenguinPL commented on #1419
Dota is constantly crashing. Today, two match, both with few crashed. Yesterday few matches, almost all with crash. One again when I make quest for killing ancients (crash when get star). Second when I need assit in kills (crash when I take one star and then crashing every new assist, until expired time to end my quest. After that 0 crash). Next match Viper (deal magic damage), one star (no crash)

[2018-03-27 17:59] Grief commented on #1264
@skogler it's probably not actual for you anymore, but I just found the root cause of this bug which happened to me and my G600 mouse. It might be not the exact case for you but still.

My mouse has very high dpi and I tweaked it with `xinput`, setting `Coordinate Transformation Matrix` to something like `1 0 0 0 1 0 0 0 1.6` on every boot. When I reset it back to `1 0 0 0 1 0 0 0 1`, everything b

[2018-03-27 19:54] adrfantini commented on #1419
I can also confirm this. Completely unplayable, Dota crashes every 5 minutes. Does not happen if no quest is selected. Assists quest with Jakiro triggers very frequent crashes.

[2018-03-28 01:05] kisak-valve opened #1429 "Dota2 freezes with 100% CPU usage during Ranked gameplay"
Issue transferred from https://github.com/ValveSoftware/steam-for-linux/issues/5429.
@clintonshanewright posted on 2018-03-27T18:41:35:

#### Your system information

* Steam client version (build number or date): Mar 26 2018, 1522101301
* Distribution (e.g. Ubuntu): OpenSUSE Linux 42.2
* Opted into Steam client beta?: [Yes/No]
* Have you checked for system updates?: [Yes/No] Yes

#### Please desc

[2018-03-28 01:08] kisak-valve commented on #1429
Hello @clintonshanewright, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

This is most likely a variation of #1419.

[2018-03-28 01:50] gdrewb-valve commented on #1429
If you do 'dmesg' in a terminal after Dota has hung what are the last 20 lines of output (or anything that looks interesting)?

[2018-03-28 09:46] AntouanK commented on #1419
Can anyone confirm that the bug is still occurring with the new update?

https://www.reddit.com/r/DotA2/comments/87ma2y/dota_2_update_main_client_march_27_2018/

[2018-03-28 16:15] AngryPenguinPL commented on #1419
`Can anyone confirm that the bug is still occurring with the new update?`

Nah. Shadow Shaman today and two crash in one match.

[2018-03-28 16:26] eier7 commented on #1419
Still crashing

[2018-03-28 16:36] AntouanK commented on #1419
Ok, thank you.

I'm amazed that no one from valve comments on a critical bug like this one.
I hope it's not because they have no idea what causes it.

[2018-03-28 16:54] eier7 commented on #1419
I'm running Arch, here is my dmesg
[173425.575566] dota2[25921]: segfault at 6e0000006f ip 0000006e0000006f sp 00007fff687782b0 error 14
[174540.806336] dota2[26330]: segfault at 6e0000006f ip 0000006e0000006f sp 00007fffd42a4c90 error 14
[175224.132910] dota2[26713]: segfault at 6e0000006f ip 0000006e0000006f sp 00007ffe3e1da180 error 14
[175937.851264] dota2[26827]: segfault at 6e0000006f ip 000

[2018-03-28 17:28] AntouanK commented on #1419
Stop playing all pick and ranked. Just play turbo or other modes. I play ability draft.
But yes, it's frustrating that no one answers from valve.

[2018-03-28 18:31] LDD19 opened #1430 "[Linux] Game crashes with Silencer games because of dota+ quest"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/LDD19/2cc49628f131628d12da5b100c0fc3b4
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No
* Have you verified the game files?: Yes

#### Please describe your iss

[2018-03-28 19:10] adrfantini commented on #1419
I got this in ranked RD with Jakiro with quests, but not in ranked RD with WW without quests. Maybe the quests are to blame?

[2018-03-28 19:43] MasterZapple commented on #1419
I had it a while ago with Arc doing the "get X creepkills and at least X ancient creep kills" quest and had nonstop crashes. A couple of days ago I played him again and was crashing again, I had the same quest selected.
I'm also guessing it's quest or hero+quest or hero specific.

[2018-03-28 19:55] gdrewb-valve commented on #1430
Duplicate of the other issues here but I'll hold it open for a bit.

[2018-03-28 20:57] LDD19 commented on #1419
Looks like the  "get 3/6/9 assists before the game timer reaches 15:00" quest will crash your game at 15:00 minutes. I'm glad I'm not the only one having this problem. I haven't had any problems with other quests so far.

[2018-03-29 02:05] camclay opened #1431 "[macOS] Dota client not pulling in player/server variables"
#### Your system information
Computer Information:
    Manufacturer:  Apple
    Model:  Macmini7,1
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2600 Mhz
    4 logical processors
    2 p

[2018-03-29 03:05] gdrewb-valve commented on #1431
You don't appear to have a Steam connection, is the Steam client running normally?

[2018-03-29 08:55] eier7 commented on #1419
Did anyone else get a 14.1MB update a few hours ago?

[2018-03-29 09:23] AntouanK commented on #1419
@eier7  https://www.reddit.com/r/DotA2/comments/87y1t1/patch/

Must be adding the DAC stream link in the main view :/

[2018-03-29 10:59] eier7 commented on #1419
Still freezing. Tried with the sd assist quest

[2018-03-29 11:03] AntouanK commented on #1419
I regret getting the 12 months of Dota plus. :/

If you have the monthly one, just cancel it and you should be able to play just fine ( I assume ).

[2018-03-29 13:59] eier7 commented on #1419
I also have 12months :/

[2018-03-29 15:42] AntouanK commented on #1419
`7.12` out
https://www.reddit.com/r/DotA2/comments/881kk7/dota_712/
doubt it fixed the bug though.

[2018-03-29 21:49] cluoma commented on #1419
Still present in 7.12. Crashed 3 times playing Shadow Shaman in ranked doing the assist quest.

[2018-03-29 21:51] ivanpepelko opened #1432 "Game freeze with creep kills hero challenge"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/ivanpepelko/a40fe048d2e3e7eeebe7422bfbc6bdba)
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much

[2018-03-29 22:07] gdrewb-valve commented on #1432
Duplicate of existing issues.

[2018-03-29 22:07] #1432 closed, assigned to nobody

[2018-03-29 22:08] gdrewb-valve commented on #1431
Closing as this doesn't appear to be a Dota issue.

[2018-03-29 22:08] #1431 closed, assigned to gdrewb-valve

[2018-03-30 00:05] quinns26 commented on #1425
Hey guys just checking somebody is following up on this??

[2018-03-30 00:55] Markussss commented on #1419
Had this happen to me tonight, the first time I did an assist-quest. Crashed three times during one game. Forgot to copy the crashdumps and the messages in dmesg before restarting the system (as it was required to get back control of my computer from Steam and Dota). Here's a gist of my system information, since it's not as volatile as the crash dumps and dmesg messages: https://gist.github.com/Ma

[2018-03-30 00:58] lewisdiamond opened #1433 "Apparently random freezes, up to ~2 seconds"
#### Your system information
[code]
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes/No]
* Are you using the latest stable video driver available for your system? [Yes/No]
* Have you verified the game files?: [Yes/No]

#### Please describe your issue in as much detail as possible:
Before

[2018-03-30 02:52] lewisdiamond commented on #1433
New patch came out, I don't see the issue anymore.

[2018-03-30 02:52] #1433 closed, assigned to nobody

[2018-03-30 07:37] adrfantini commented on #1419
It definitely is connected to quests. If I don't select quests, it does not crash.

[2018-03-30 08:06] AntouanK commented on #1419
@adrfantini How can you now select a quest?? It randoms one by default anyway.

[2018-03-30 08:16] adrfantini commented on #1419
@AntouanK uh? Not for me, I just do not select any of the three quests offered and close the quests tab by pressing the downward arrow. Just played with SS and SB last night with no problem.

[2018-03-30 08:23] AntouanK commented on #1419
when you are in-game, can you see the golden `+` logo at the top left corner?
IRC I didn't select any quest with kotl, but when I went in-game, I saw `0/3000` at the top left corner. It selected the arcane boots quest on it's own.
I'll try again later.

[2018-03-30 08:28] adrfantini commented on #1419
@AntouanK mh, I do not know, do you happen to have a screenshot of what you mean? I cannot play for a while so cannot check.

[2018-03-30 08:36] AntouanK commented on #1419
@adrfantini Watch this video at  8:00 https://www.twitch.tv/videos/244550151
He picks riki, and whithout touching the quests, in a few seconds it selects one on it's own.
And then you can see the `0/2` in-game so the quest is enabled.
![screenshot_2018-03-30_09-35-08](https://user-images.githubusercontent.com/4569111/38131129-c2209a6c-33fd-11e8-85ca-3987cf3f111b.png)

[2018-03-30 17:41] TomatoFryEggs opened #1434 "I got a crash without any characteristic"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

System: MacOS 10.13.3
MacBook Pro (Retina, 15-inch, Early 2013)

* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No]
Yes

[2018-03-31 01:09] camclay commented on #1431
Heya, issue is resolved when I went to play this evening.
Steam had an update, which had mac patches which may have resolved this issue.

I was online, and was able to access other games from Steam. I did not try a multiplayer game that evening. I had tried for about a week including restarting Steam, and verifying it was online, before posting.

Thanks for all the work you do!

[2018-03-31 02:37] vonclutch commented on #1417
Looks like nothing bug anymore :+1:

[2018-03-31 02:49] vonclutch opened #1435 "Dota crash with window chat"
Since some patch ( can't really tell which one ) everytime someone speaks to me, dota just go back to my desktop to show me the windows chat and when i try to go back on dota i can't cause it's froze ( i have to force kill to close it  ).

I tried to stop displaying notification or flash window when i receive a message but it still go back to my desktop and dota froze .

the only way to prevent th

[2018-03-31 03:55] GapMAX opened #1436 "Something about dota2 fps"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/GapMAX/2c14d20334fe3f098c286008c3ee186a):
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your

[2018-03-31 04:08] GapMAX commented on #1436
Oh i'm sorry this is a windows issue, please ignore problem....

[2018-03-31 04:08] #1436 closed, assigned to nobody

[2018-03-31 08:05] AntouanK commented on #1419
Played 3 games with WD yesterday. ( 2 unranked AP and 1 ranked AP ).
Didn't select any quest, but it chose on it's own. I actually completed two of them, so they were 100% selected by the game.
That said, it didn't crash at all.
No idea what that means.
Can anyone else play with WD and see if it crashes?

[2018-03-31 08:25] adrfantini commented on #1419
Can everybody confirm that it crashes with Assists quests only? Never had it crash with any other quest myself.

[2018-03-31 08:39] AntouanK commented on #1419
@adrfantini I really hope that's the case.
To add to my comment, those were the quests I got completed in the last 3 games

![screenshot_2018-03-31_09-38-02](https://user-images.githubusercontent.com/4569111/38161475-5a4999fa-34c7-11e8-91dc-4eadff7dd042.png)

[2018-03-31 08:40] MasterZapple commented on #1419
@adrfantini For me, it consistently crashed with the "get X cs and Y of those have to be ancients" quest on Arc Warden.

[2018-03-31 11:07] leandromeiramedeiros commented on #1428
@gdrewb-valve Issue persists after all those updates :(

[2018-04-01 04:48] gdrewb-valve commented on #1417
Anybody else still seeing problems?

[2018-04-01 04:49] gdrewb-valve commented on #1428
We'll comment here when we believe something has changed related to this, as long as it's still open we're aware that it's still an issue.

[2018-04-01 04:51] gdrewb-valve commented on #1434
Can you post your full system information from Steam as a gist, as requested?  That will show if Dota caught any problems and logged them.  Without that we'll have to close this since we have no information on what happened and no repro.

[2018-04-01 10:20] ghost opened #1437 "Dota freezes every 3 minutes or so during match"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/ceLoFaN/dc17c2adfca8b971462ac980a37d8d10
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

I must also add that this

[2018-04-01 12:19] kisak-valve commented on #1437
Hello @ceLoFaN, can you put that minidump in an archive and drag and drop it to the comment box. It got mangled when it went into a gist.

[2018-04-01 16:49] ghost commented on #1437
Unfortunately I won't be able to do that until Thursday.

[2018-04-01 17:22] gdrewb-valve commented on #1437
Does this happen in hero demo or a local bot match?  If it's restricted to just DotaPlus-active games this is likely a duplicate of the other issues here since a DotaPlus quest is chosen for you in DotaPlus-active games.

[2018-04-01 18:41] LDD19 commented on #1419
@MasterZapple Can confirm, I'm crashing on both of those 2 quests. On the "get X cs and Y of those have to be ancients" quest my game crashes once I hit 15 ancient kills.

[2018-04-01 19:27] ghost commented on #1437
I see. I just saw that Drow has the creeps/ancients kills quest which other people said is one of the quests that causes the crashes, so I assume I must have randomed the lucky one. That being said, sorry for opening a duplicate issue.

Could we get a temporary fix that allows us to disable quests?

Edit: Forgot to mention I played a ranked game with Mirana since, and at the end of the game it sai

[2018-04-01 19:31] gdrewb-valve commented on #1437
Overall control of quests is outside the scope of this bug tracker, but you can post at dev.dota2.com

[2018-04-02 15:43] Markussss commented on #1419
I had a similar crash the other day when playing Vengeful Spirit, with the «Deal x/y/z damage to enemy heroes with Mask of Madness active» (cant remember the exact wording) quest active.

[2018-04-02 20:22] gdrewb-valve commented on #1434
Closing pending more info.

[2018-04-02 20:22] #1434 closed, assigned to gdrewb-valve

[2018-04-03 14:09] kdwinter opened #1438 "Segfaults since latest patch"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/kdwinter/465269b5a25c67099cd3744c44b77273
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your

[2018-04-03 14:27] kisak-valve commented on #1438
Hello @kdwinter, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

For reference, the attached minidump is a SIGSEGV coming from libnetworksystem.so (part of Dota 2).

[2018-04-03 14:28] kdwinter commented on #1438
My bad; forgot to actually paste the link. I have edited the OP.

[2018-04-04 00:42] gdrewb-valve commented on #1438
Duplicate of other Dota Plus issues (primary at #1419).

[2018-04-04 00:42] #1438 closed, assigned to nobody

[2018-04-04 02:48] gdrewb-valve commented on #1419
The April 3 update had some changes which may affect this.

[2018-04-04 19:40] gdrewb-valve commented on #1417
Closing as nobody seems to be having issues.

[2018-04-04 19:40] #1417 closed, assigned to nobody

[2018-04-04 20:18] Shchvova commented on #1420
Just wanted to say that this isn't happening for me anymore. It seems that one of the updates fixed the issue, as far as I am concerned, it can be closed, @triage-valve @gdrewb-valve

[2018-04-04 22:22] chaosk commented on #1419
No crashes with assist quest so far.

[2018-04-04 22:24] gdrewb-valve commented on #1437
The April 3 update should help with this.

[2018-04-04 22:24] gdrewb-valve commented on #1430
The April 3 update should help with this.

[2018-04-04 22:25] gdrewb-valve commented on #1429
If this is the same underlying issue as the other Dota Plus problems the April 3 update should help.

[2018-04-04 22:25] gdrewb-valve commented on #1422
If this is the same as the other Dota Plus issues the April 3 update should help with it.

[2018-04-04 22:27] gdrewb-valve commented on #1420
The April 3 update should help with this.  Shchvova hopefully you're seeing the effects of that.

[2018-04-05 08:18] Qfl3x opened #1439 "[Linux] OpenGL failing to launch. Segmentation Fault"
#### Your system information
* [System Information](https://gist.github.com/IceColdMind/e81d0d28fc109d2d4dbbfbac34842dde)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
I'm running Dota on Solus, and the game will crash

[2018-04-05 17:52] AngryPenguinPL commented on #1439
Maybe this is your problem:

Try run steam with steam-runtime enabled and then check dota2.

[2018-04-05 19:33] amitavmohanty01 commented on #1422
It happened again today with the latest client.

[2018-04-05 19:55] gdrewb-valve commented on #1422
Were you doing the same thing?  Do you have any dmesg messages that look interesting?  We don't have a repro here so we need to find more information to see if this is a Dota issue or a system issue.

[2018-04-06 06:14] amitavmohanty01 commented on #1422
What packages does Dota depend on in a linux system? I can probably check if changes to those packages can cause the issue.

[2018-04-06 18:18] nvh95 commented on #1012
I have just encountered this problem. The reason is I deleted /tmp by accident. The solution is recreate one and make sure it is configured correctly. Follow this to fix [https://discussions.apple.com/thread/4986375](https://discussions.apple.com/thread/4986375)
or you can follow instructions bellow:
1. `cd /private`
2. make sure there is `tmp` folder inside `/private` by `ls -l`, if not, create o

[2018-04-06 19:25] hipunk opened #1440 "[Mac] Pressing and holding ALT/⌘-key doesn't show attack range/viewfinder etc."
Hi,

#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/hipunk/e624855b1fefd8ba74e24822ad24b869
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No]

[2018-04-06 19:29] hipunk commented on #1413
Possible workaround: flux is now built in into macOS. Open notification center (top right corner of the screen), scroll up and enable night shift.

[2018-04-06 20:28] Eignar17 commented on #1437
@gdrewb-valve not fix error

[2018-04-06 20:59] Veske opened #1441 "Graphical artefacts after latest mesa update"
#### Your system information
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):  https://gist.github.com/Veske/62737d55cbbd29e9c41888535d7a7f5e
Mesa: ➜  ~ pacman -Q mesa
mesa 18.0.0-2
Game is running with -vulkan parameter

* Have you checked for system updates?: [Yes/No]: Yes
* Are you using the latest stable video driver available f

[2018-04-06 21:00] Veske commented on #1441
Not sure if it's game issue or mesa issue, but reported it here just in case. Maybe you guys can have a look.

[2018-04-07 23:06] gdrewb-valve commented on #1437
Whether it's fixed or not is going to depend on @ceLoFaN's feedback.  The crash information he posted above looks a lot like the problem that was addressed in the April 3 update.

[2018-04-07 23:06] gdrewb-valve commented on #1430
Closing as this appears to be fixed.

[2018-04-07 23:06] #1430 closed, assigned to nobody

[2018-04-07 23:07] gdrewb-valve commented on #1429
Closing pending more information.

[2018-04-07 23:07] #1429 closed, assigned to nobody

[2018-04-07 23:09] gdrewb-valve commented on #1423
Do you have any recent failure reports in your Steam system information?

[2018-04-07 23:12] gdrewb-valve commented on #1422
Dota uses the Steam runtime (unless your system is configured not to).  You can look at the packages there to get an idea of what might be used.  Other than that the big dependencies are OpenGL/Vulkan and X11.

[2018-04-07 23:15] gdrewb-valve commented on #1421
Is anybody still seeing the extreme frame spikes (system freezing level)?  Less severe frame rate variations happen on all platforms and we won't keep this open for that kind of thing.

[2018-04-07 23:16] gdrewb-valve commented on #1420
Closing as this appears to be fixed.

[2018-04-07 23:16] #1420 closed, assigned to nobody

[2018-04-07 23:18] gdrewb-valve commented on #1419
Closing as this appears to be fixed.  For people still seeing crashes this issue and fix was specific to ranked/unranked all-pick with Dota Plus.  If you're still seeing crashes you likely have a different problem and will want to open a separate issue.

[2018-04-07 23:19] #1419 closed, assigned to nobody

[2018-04-07 23:20] gdrewb-valve commented on #1439
You also might want to try older drivers if you're on a cutting-edge driver.  Checking with Vulkan could be interesting too to see if the problem is specific to OpenGL.

[2018-04-07 23:26] gdrewb-valve commented on #1441
We haven't seen other reports of issues like this so it seems likely to be a Mesa issue.  You'll want to report it with them also.

[2018-04-08 09:52] phoerious commented on #1421
What I noticed is that the most severe lags maay to be connected with KDE's file indexer. When the baloo_file_extractor process is running, I see these long freezes on startup, on game end and sometimes in between when stuff is going on a lot more often. When I kill the process, I'm only getting these pesky micro freezes that exist on all platforms.

[2018-04-09 04:12] Eignar17 commented on #1437
new update not fix error

[2018-04-09 04:13] Eignar17 commented on #1429
@gdrewb-valve  is patch not fix all dota 2 is cpu 100%

[2018-04-09 06:54] Qfl3x commented on #1439
I just rechecked with Vulkan, works wonderful. Will just contempt my self with it at the moment.  ( ~150 fps stable at max )

Enabling Steam-Runtime requires downloading some drivers. And I sadly don't have the space for it.

[2018-04-09 12:50] danginsburg commented on #1440
We've been unable to repro this on several Macs.  For me, holding ALT does the same thing on macOS as it does on Windows/Linux.  When I hold Alt/Option on my Macbook Pro (Mid 2012) I see this:

![20180409084545_1](https://user-images.githubusercontent.com/375707/38498563-d97bfeea-3bd2-11e8-8b0c-0496ad14aa0b.jpg)

Which does what I would expect based on the options (highlights hero, shows neutral s

[2018-04-09 12:53] danginsburg commented on #1441
I see that you filed an issue with mesa, thanks.  Tracked also here, which is the right place for it: https://bugs.freedesktop.org/show_bug.cgi?id=105942

We'll keep it open here for now.

[2018-04-09 13:02] danginsburg commented on #1439
We'll close this issue for then.  You really should run with the Steam Runtime.  If you do ldd librendersystemgl.so without the steamrt in your path you might be able to see what library you are missing.  My wild guess would be it's libudev.so.0.  You can symlink libudev.so.0 -> libudev.so.1 if so and it will fix it.

But it's meant to be run inside the steamrt, so you shouldn't really expect it t

[2018-04-09 13:02] #1439 closed, assigned to nobody

[2018-04-09 13:54] ghost commented on #1437
About the crashdump I promised, I noticed it was erased from the tmp directory a few days ago.
Anyway, I haven't encountered the error during the last week, although I haven't followed what quests I was being assigned.
As far as I'm concerned, this issue may be closed. Maybe @Eignar17 can provide some logs related to his problems.

[2018-04-09 14:48] danginsburg commented on #1441
This has been bisected to a specific commit (ad11fc3571e025b22d9feed80a7f499665f7a255) over on https://bugs.freedesktop.org/show_bug.cgi?id=105942 so not a Dota 2 bug.  Closing here, check the mesa bug for any updates.

[2018-04-09 14:48] #1441 closed, assigned to danginsburg

[2018-04-09 16:32] gdrewb-valve commented on #1437
Eignar17 presumably has a different problem if he's still encountering it and yours is fixed, so he should open a separate issue and provide concrete information.  I'll go ahead and close this.

[2018-04-09 16:32] #1437 closed, assigned to nobody

[2018-04-09 16:35] umang-desai opened #1442 "[MAC OS] GPU Hand/Restart, Game Crash"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/umang-desai/bacb10e5b3700f1e6bfee7036a082335
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No]

[2018-04-09 18:21] hipunk commented on #1440
Hmm, that is very odd. I would suspect lacking support on my system if I wouldn't know that it once worked. Another thing that kind of shows that it cannot really be something like lack of OpenGL support or similar, is that the range is being shown when e.g. the tower is being clicked like it was before this setting existed, like so:
![clicking the tower](https://user-images.githubusercontent.com/

[2018-04-09 18:37] hipunk commented on #1440
I found it! It is this setting:

![screen shot 2018-04-09 at 20 30 04](https://user-images.githubusercontent.com/11931747/38515571-e3d03f0c-3c34-11e8-8bd8-25eec5332510.png)

I am using that switched layout since way over a decade, so changing this is absolutely impossible for me 😅 Keys and wizards, wizards and keys...

Can we get the old behaviour back where Dota 2 respected this setting? I know f

[2018-04-10 04:48] gdrewb-valve commented on #1440
The keyboard system settings are handled underneath Dota, it's not aware of any of those settings.  It's possible that something in SDL changed how it interprets keys, assigning to the SDL dev.

[2018-04-10 07:50] umang-desai commented on #1442
I tried reinstalling it as well. I wiped clean steam as well. Still the problem persists.
Happened about 8-10 times in a single game today.

[2018-04-10 20:18] Veske commented on #1441
Thanks! Seems that they fixed this issue in a quick manner.

[2018-04-11 21:16] gdrewb-valve commented on #1421
I'm going to close this for now until we get more evidence of a Mac/Linux-specific problem.

[2018-04-11 21:16] #1421 closed, assigned to nobody

[2018-04-12 10:57] codedcosmos opened #1443 "[BUG] Dota freezes on using a map ping, in certain circumstances with a linux PC."
#### System information
Ryzen 7 1700
8 Gigs of DDR4 RAM
Asus Strix RX 470

OS: Arch Linux 64 bit
Steam and DOTA are latest version

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Brand:  AMD Ryzen 7 1700 Eight-Core Processor
    CPU Family:  0x17
    CPU Model:

[2018-04-12 20:57] gdrewb-valve commented on #1443
Does it happen in bot games?  Is there a problem if you're the one pinging?  I just did a quick test on my Linux box where I started a bot game and did an on-my-way ping where I was and there weren't any issues.

[2018-04-12 22:43] codedcosmos commented on #1443
It does not appear to happen in bot games, at least not currently. Since yesterday there have been a xorg update and a dota 2 update so it may have been patched, but I never tested in in a bot match. I'm not willing to use that ping in real matches to test it at the moment because I am in LP because of it.

[2018-04-12 22:46] codedcosmos commented on #1443
Also to answer the second question, yes it did freeze when I was the one pinging. This is a weird bug to be sure.

[2018-04-12 22:48] gdrewb-valve commented on #1443
OK, we'll have to see if it keeps happening or not.

[2018-04-13 02:25] codedcosmos commented on #1443
OK, I think this issue might be closed, the bug no longer occurs in any instance. It appears to have disappeared as quickly as it came. My guess it was probably a weird issue with xorg. But not sure.

I will comment here again if it returns.

[2018-04-13 11:57] kisak-valve commented on #1443
Closing per the last comment.

[2018-04-13 11:57] #1443 closed, assigned to nobody

[2018-04-14 06:49] pratamawijaya opened #1444 "[Mac OS] FPS drop after update Dota client 7.13b"
#### Your system information
Mac OS High Sierra 10.13.3
Macbook Pro 15 inch 2015
Core i7
Radeon R9 M370X

my sysinfo https://gist.github.com/pratamawijaya/cd291258d54d9247675d13fa076aaadf

Fps drop after update client to 7.13, have been using gfxCard for force use discrete GPU, but still drop, before update game still playable about 30-40fps but right now it drop under 10fps - 20fps game its not p

[2018-04-15 04:37] epatpol commented on #962
Same thing happens here, I can somehow move it on the main display with GNOME but as soon as I alt-tab out of the game it minimizes and when maximized go back to the other display. Same thing happens with Vulkan/OpenGL.

[2018-04-16 19:33] gdrewb-valve commented on #1444
We aren't seeing a drop here and the update didn't have any significant perf-related changes so this is a mystery at this point.  Make sure you validate your installation and we'll see if other people chime in where we can find a pattern.

[2018-04-16 21:28] ivanceras opened #1446 "[Linux] FPS drops throughout the game"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

https://gist.github.com/ivanceras/9fcec0cdfe384d80d7274c4609e33292

* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No]

[2018-04-17 03:01] gdrewb-valve commented on #1446
This only started happening with 7.12?  People have been reporting FPS drops as the game progresses on all platforms for a long time.

[2018-04-17 03:03] gdrewb-valve commented on #1446
Also you mention Vulkan specifically so you do not observe the same drop when using OpenGL on the same system?

[2018-04-17 08:04] ivanceras commented on #1446
@gdrewb-valve I'm not sure if this just started with 7.12, but I came to play dota2 on version 7.12. I've also tried the Opengl which has the same problem.
The only way for me to get the smooth fps back is to close the game and reconnect back again.
Restarting dota2 every after game will also help delay the problem.

[2018-04-17 16:31] gdrewb-valve commented on #1446
OK, I've edited the title to reflect that this isn't Vulkan-specific and isn't necessarily new since 7.12.  It's likely the same all-platforms problem that other people are seeing which the larger team is looking at.  There won't be a lot of status here since it's not a Mac/Linux issue.

[2018-04-20 19:07] TomatoFryEggs opened #1447 "【macOS】How clould I can enable vulkan for dota2 on mac?"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes/No]
* Are you using the latest stable video driver available for your system? [Yes/No]
* Have you verified the game files?: [Yes/No]

#### Please describe your issue in as much detail as possible:
Describe what

[2018-04-21 00:13] gdrewb-valve commented on #1447
There isn't any Vulkan support on macOS yet.

[2018-04-21 00:13] #1447 closed, assigned to nobody

[2018-04-21 01:43] TomatoFryEggs commented on #1447
https://www.extremetech.com/gaming/264694-khronos-brings-vulkan-macos-ios-apple-refuses

@gdrewb-valve

[2018-04-21 04:42] gdrewb-valve commented on #1447
The support has not been released to the public yet.

[2018-04-22 01:48] TomatoFryEggs commented on #1447
When will you release it to the public？@gdrewb-valve

[2018-04-22 05:46] gdrewb-valve commented on #1447
I don't think there's any announced schedule.

[2018-04-22 10:06] dervus commented on #1423
Well, at the time of this report there was none as you can see.
I reinstalled the system recently, and I have new clean Steam installation as well. Not sure when I'll be able to test it again.

[2018-04-25 17:42] ivanceras commented on #1446
I think it is only affecting vulkan. I've tested it on my other PC with GTX 1070 it will have the same issue. Meanwhile changing the back-end to opengl will only drop to ~40fps and gradually recover to 60fps which is bearable in the game without having to restart and reconnect.

Observation in vulkan:
When I close the game it shows a split second still image on the previous status of the game (ie,

[2018-04-26 22:10] zjeffer opened #1448 "[Linux] Chat wheel always goes left when playing on 2nd monitor"
#### Your system information

* System information: https://gist.github.com/zjeffer/6ffc4863e3218516355316e4a09b4dc5
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
When starting the game with default window setting

[2018-04-26 23:17] gdrewb-valve commented on #1448
If you start on the right window (use -sdl_displayindex 1) does that fix it?

[2018-04-26 23:27] zjeffer commented on #1448
Thanks for the quick answer.
How do I add that to my launch options?
Right now I changed it to this: -sdl_displayindex 1 vblank_mode=0 primusrun %command%
But this doesn't move the window.

[2018-04-26 23:34] kisak-valve commented on #1448
When using `%command%` in the launch options, game arguments must go after %command%.

In your case that would be `vblank_mode=0 primusrun %command% -sdl_displayindex 1`.

[2018-04-26 23:52] zjeffer commented on #1448
Thanks.
So now, the game still opens on my laptop monitor, and before moving it, the chatwheel goes to the right instead (which is expected i guess, because it's pointing at the chosen monitor). So I move it to my right monitor, which is the one I want to use, and that works!

I did some more testing and found that when I unplug my second monitor, the chatwheel works fine and doesn't point to the

[2018-04-30 09:22] regs01 opened #1449 "Offline mode causing 5 min ban in custom games"
The system should determine whatever it was player to cause unaccept or the server.

[2018-04-30 15:32] gdrewb-valve commented on #1449
Closing as this doesn't seem like a Mac/Linux issue.  You'll want to post at dev.dota2.com

[2018-04-30 15:32] #1449 closed, assigned to nobody

[2018-05-04 21:46] vmyroslav opened #1450 "Dota2 freezes with 100% CPU Linux"
* Your system information
 https://gist.github.com/VMAnalytic/ce67fce8d6ac4c7d69cb3b449c8e211a

* Have you checked for system updates?: [Yes/No]
 Yes

* Are you using the latest stable video driver available for your system? [Yes/No]
 Yes

* Have you verified the game files?: [Yes/No]
 No

#### Please describe your issue in as much detail as possible:
Dota 2 during gameplay freezes up with CPU usa

[2018-05-07 20:39] konstantinblaesi commented on #999
Finally got it working on Fedora 28
From a terminal execute as the user running your steam games:
[code]
In the steam client set launch options to
`SDL_VIDEODRIVER=wayland %command%`

Question to dota 2 devs: Can you enable wayland support in the shipped libSDL ?

[2018-05-08 07:22] konstantinblaesi commented on #999
Another Fedora 28 user reported that he didn't have to do any of the above steps to make it work. I am now wondering whether libSDL wasn't updated by the steam client on my machine?

[2018-05-08 16:40] konstantinblaesi commented on #999
On Fedora 28 using Gnome 3.28:
When using `Alt` + `Tab` to switch focus to another window I cannot get the focus back to Dota 2. When Dota 2 is focused I hear the In-Game sounds, but I don't see anything visually from the client.

[2018-05-08 16:52] konstantinblaesi commented on #999
It looks like the `Desktop-friendly Fullscreen` mode doesn't work. `Borderless Window` mode doesn't have this issue.

[2018-05-08 16:54] konstantinblaesi commented on #999
After switching modes and restarting the dota 2 client the issue disappeared. Not sure why and how long this will last...

[2018-05-08 17:56] vmyroslav commented on #1450
GPU usage
![screenshot from 2018-05-08 20-53-54](https://user-images.githubusercontent.com/14234768/39773993-49475346-5302-11e8-8c84-ef227ed3ca29.png)

[2018-05-08 22:06] s-ruangdech opened #1451 "Green screen after battle pass update (May 8, 2018)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookAir7,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
    CPU Family:  0x

[2018-05-08 22:12] gdrewb-valve commented on #1451
Likely the rendering issue that is affecting all platforms, the larger team is taking a look.

[2018-05-08 22:38] dawik commented on #1451
Experiencing same issues on nvidia and arch linux

[2018-05-08 22:38] sebastiansilbernagl commented on #1451
![error_console](https://user-images.githubusercontent.com/19287430/39786477-0c616902-5321-11e8-94f9-48459ec529e1.jpg)

Just adding to what @s-ruangdech said, when I scroll around on the map, I get a green screen. Attached, the console with errors.

[2018-05-08 23:12] d4ve89 commented on #1451
I am running arch linux on kernel  4.16.5-1, nvidia / opengl. I get similar glitches and almost the same error messages in my console:

`texturebase.cpp(2198):ResourceHandleToData(  ) failed! Falling back to error texture!
texturebase.cpp(2220):ResourceHandleToData(  ) failed! Falling back to error texture!
texturebase.cpp(2198):ResourceHandleToData(  ) failed! Falling back to error texture!
textu

[2018-05-08 23:29] mkhamat commented on #1451
Same here, running on Ubuntu 18.04 LTS. (Mesa, AMD)

[2018-05-08 23:38] danginsburg commented on #1451
Does it work if you turn on High Quality water?  If so, we have a fix incoming.

[2018-05-08 23:39] gabrielboliveira commented on #1451
@danginsburg Same on macOS. Fixed when I changed shadows to medium (instead of disabled).

[2018-05-08 23:40] d4ve89 commented on #1451
looks like it has been fixed a minute ago! thanks for the speedy work :)

[2018-05-08 23:57] mkhamat commented on #1451
Now everything is fine, thank you

[2018-05-09 00:41] gdrewb-valve commented on #1451
Is anybody still seeing problems after the most recent update and validating your Dota install?

[2018-05-09 00:54] s-ruangdech commented on #1451
It's fixed. Thanks for the quick response.

[2018-05-09 00:54] #1451 closed, assigned to gdrewb-valve

[2018-05-09 03:45] Eignar17 commented on #1450
@VMAnalytic  ubuntu 16.04 mate nvidia 396.18.08  compiz-reloaded

[2018-05-09 21:17] YabosMcGee opened #1452 "[Linux] Purple and black checkerboard on screen while paused or dead if Vulkan is used"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/YabosMcGee/2497ed43afea1e23048d337991a36149
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe yo

[2018-05-09 22:48] gdrewb-valve commented on #1452
In the future you'll want to report Vulkan-specific issues at Dota-2-Vulkan.

[2018-05-10 00:33] danginsburg commented on #1452
Can you please run with -con_logfile and post the contents of steam_install_dir/steamapps/common/dota 2 beta/game/dota/console.log.  What you are seeing there is the error texture being chosen, it might help me triage it with the log.

[2018-05-10 00:49] gdrewb-valve commented on #752
The latest update should have fixed the date and time display, are you seeing any changes?

Decimal and grouping separators will not be affected (and aren't localized on any platform).

[2018-05-10 01:59] YabosMcGee commented on #1452
@danginsburg Here is the log https://gist.github.com/YabosMcGee/44876eb047cc884fbe4c88e9f3d532de

[2018-05-10 10:41] fumazu commented on #752
Did indeed solve it. Maybe the number issue could be resolved by complying with [ISO 31-0](https://en.wikipedia.org/wiki/ISO_31-0#Numbers)?

Anyway, thanks for putting more effort into l10n lately. :-)

[2018-05-10 13:38] Markussss opened #1453 "Big frame loss when viewing certain immortals on Fedora 28"
* System information from steam: https://gist.github.com/Markussss/d7b0d25187cc3fe90e58a9c653c2ba39
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: No
* glxinfo: https://gist.github.com/Markussss/a29e7e967f8b2f33418da76651fe7e35
[code]

#### Please describe your issue in as much detail as

[2018-05-10 14:34] danginsburg commented on #1452
Thanks, I have a fix for this issue.  This bug is Vulkan-specific, but not specific to your driver.  It happens at graphics settings level 1 so you can workaround for now by decreasing or increasing your graphics settings.  The fix will be in the next update though.

[2018-05-10 15:44] gdrewb-valve commented on #1453
You should verify your Dota install just to eliminate that as a variable.  If you add -con_logfile to your launch options and run Dota and go through the immortals, then exit there'll be a console.log file in your Dota install directories.  Can you attach that as a gist here?

[2018-05-10 15:45] gdrewb-valve commented on #1453
Also are you using OpenGL or Vulkan?

[2018-05-10 16:44] Markussss commented on #1453
@gdrewb-valve
The validation came back OK.

console.log: https://gist.github.com/Markussss/4394693cbb72ca03d2ad9895ea3a6d8d

I am using OpenGL.

[2018-05-10 18:58] danginsburg commented on #1453
I presume what you are commenting about here is the long stutters towards the end of the video and not the FPS counter, which looks reasonable to me.

Given the framerate is not fluctuating I'm not sure if this is something dota itself is doing as opposed to something with the compositor or windowing system.

[2018-05-10 19:54] gdrewb-valve commented on #1427
Closing in favor of the Steam issue as this isn't a Dota problem.

[2018-05-10 19:54] #1427 closed, assigned to Plagman

[2018-05-10 22:20] gdrewb-valve commented on #1453
The fact that the frame rate is lower when looking at the left side of the figures and is higher when looking at the right is something that happens on all platforms and the larger team will take a look.  I think that's the only thing you're reporting here, correct?  If so I'll close this out.

[2018-05-10 22:20] gdrewb-valve commented on #1453
It's also not connected to the Immortals themselves, just how they're being displayed in that piece of the UI.

[2018-05-10 22:33] Markussss commented on #1453
@danginsburg No, the long stutters towards the end is a result of the recording software acting weird. The problem is the left side of the immortals effectively halving framerate, compared to the right side. The framerate is also halved in zoomed out mode.

@gdrewb-valve Yes, that is the only thing I'm reporting here. I just assumed it was Linux specific, as I did not notice any posts about it on

[2018-05-11 00:00] gdrewb-valve commented on #1453
Thanks, closing.

[2018-05-11 00:00] #1453 closed, assigned to gdrewb-valve

[2018-05-11 06:16] Smilex commented on #1425
I'm getting the same issue on arch linux

[2018-05-18 14:22] adamrisser opened #1454 "Camera drag stuttering, unplayable using it"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/adamrisser/4d68804548ad965fc2a9564173c03b84
* Have you checked for system updates?: YES
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe yo

[2018-05-18 17:29] adamrisser commented on #1454
This is most definitely something with my mouse as I switched the camera drag from Mouse3 to a key on my keyboard and it works great. My apologies!

[2018-05-18 17:29] #1454 closed, assigned to nobody

[2018-05-22 02:12] kisak-valve opened #1455 "Dota 2 Vive controller orientation appears to have a swapped axis"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/kisak-valve/a23f7dec7f06618bd7c8a919986a5378
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No (Bleeding edge)
* Have you verified the game files?: Yes

#### Pl

[2018-05-23 13:54] danginsburg commented on #1455
I have fixed this issue.  It should be fixed in the next Dota update.

[2018-05-23 18:47] #1452 closed, assigned to danginsburg

[2018-05-23 21:54] kisak-valve commented on #1455
Closing confirmed fixed. Thanks a bunch!

[2018-05-23 21:54] #1455 closed, assigned to danginsburg

[2018-05-24 22:14] Turmfalke2 opened #1456 "Segfault in libclient.so at the start of the picking phase"
hi,
Early today I had the game crash at the start of the picking phase, apparently it was a segfault in libclient.so

dota2[3230]: segfault at 420 ip 00007f6cc8af6889 sp 00007ffd9db3c518 error 4 in libclient.so[7f6cc5cfe000+52ad000]

Upon restarting dota and reconnecting I got stuck in the panels flying away animation at the end of loading into the game. I had to kill dota again and then on the th

[2018-05-24 23:20] kisak-valve commented on #1456
Hello @Turmfalke2, if you can find any CrashIDs or minidumps (commonly found in /tmp/dumps) related to this issue, please throw them in an archive and drag and drop the archive into the comment box.

[2018-05-25 02:19] juanparey95 opened #1457 "Cant Run Dota2 on my iMac"
i have a imac and when iam trying to play DOTA 2 and click to play a game, i crashes and show me this message

virtual void CNetworkSystem::InitGameServer()():
SteamDatagramServer_Init failed. Can't get steam interface 'SteamNetworkingSocketsSerialized002'
please help!

[2018-05-25 05:35] Turmfalke2 commented on #1456
Sorry, system has been rebooted by now and /tmp  wiped.  However systemd appears to have captured a complete core dump, sporting 1.7G or 152MB xz compressed. I am fairly certain that github doesn't allow file attachments of that size and that the dump probably contains credentials that I don't intend to share with the rest of the world.
Do you have an alternative way I could send you that dump? Ma

[2018-05-25 13:32] jgillich commented on #1417
[I still have this problem](https://user-images.githubusercontent.com/347965/40546113-93370d6e-602e-11e8-94bb-9faafb59ac1a.jpg). Game starts at around 2GB, but RAM usage constantly climbs as the game goes on. In some games I don't notice it at all, in others either Dota crashes or it hangs (due to swapping but still constantly increasing ram usage, FPS drops to zero). I've read that it might be re

[2018-05-25 13:54] kisak-valve commented on #1417
Hello @jgillich, please open a new issue report in the https://github.com/ValveSoftware/Dota-2-Vulkan issue tracker since the investigation for the issue in this report has concluded and Dota 2 + OpenGL is not affected.

[2018-05-25 21:47] acafresna commented on #1446
This is also happening to me, and it doesn't happen in opengl. Also it crashes a lot under vulkan. [gist](https://gist.github.com/acafresna/778c9ea8419a0b32793f08578efd1c7b)

Example of a segmentation fault when watching a [downloaded replay](https://gist.github.com/acafresna/d3bf16412416d122f5f90d53941b53af)

[2018-05-26 16:51] gdrewb-valve commented on #1446
@acafresna, you'll want to open an issue for your crashes on [Dota-2-Vulkan](https://github.com/ValveSoftware/Dota-2-Vulkan/).

[2018-05-26 16:52] gdrewb-valve commented on #1457
Make sure you have validated your Dota install in the Steam client.

[2018-05-26 19:42] juanparey95 commented on #1457
Hey thanks for the reply. How I do that

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Drew Bliss <notifications@github.com>
Sent: Saturday, May 26, 2018 11:52:52 AM
To: ValveSoftware/Dota-2
Cc: juanparey95; Author
Subject: Re: [ValveSoftware/Dota-2] Cant Run Dota2 on my iMac (#1457)

Make sure you have validated your Dota install in the Steam client.

—
Yo

[2018-05-26 19:49] kisak-valve commented on #1457
https://support.steampowered.com/kb_article.php?ref=2037-QEUH-3335

[2018-05-27 01:59] juanparey95 commented on #1457
just did, and still doesnt work

________________________________
De: Drew Bliss <notifications@github.com>
Enviado: sábado, 26 de mayo de 2018 11:52 a. m.
Para: ValveSoftware/Dota-2
Cc: juanparey95; Author
Asunto: Re: [ValveSoftware/Dota-2] Cant Run Dota2 on my iMac (#1457)

Make sure you have validated your Dota install in the Steam client.

—
You are receiving this because you authored the thre

[2018-05-27 06:09] acafresna commented on #1446
@gdrewb-valve thanks, I just read in [dota-2-vulkan](https://github.com/ValveSoftware/Dota-2-Vulkan/) that may experience crashes with < 2GB of GPU memory, and I have 1GB. So I won't open an issue. It didn't happen a month ago though.

[2018-05-27 12:46] danginsburg commented on #1446
@acafresna For the Vulkan crash, you can try adding -newtexturestreaming to your Launch Options, but yes we tend to have issues in low memory configs still when memory allocations start failing.  The new texture streaming more aggressively reduces texture memory utilization, but also comes at a small performance cost so I haven't made it the default.

[2018-05-28 13:16] imcasben opened #1458 "[LINUX] Always searching for/reconnecting to dota 2 game coordinator"
Whenever I tray to play Dota on Ubuntu the connection is really, really poor and keeps constantly disconnecting from the game coordinator, making it impossible for me to play the game.
That does not happen on Windows at all, but it is better for me to play on Ubuntu since my machine performs better on it.

System Information

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown

[2018-05-28 20:09] Eignar17 commented on #1450
@VMAnalytic error on ubuntu 16.04 update to 18.04 fix problem.

[2018-05-28 22:26] refelian commented on #1404
I had something similar happen to me just now. Running Vulkan with a GTX1050TI. I don't have a stacktrace because it froze with dmesg giving me the following:

`[ 1799.645581] NVRM: Xid (PCI:0000:01:00): 31, Ch 0000002e, engmask 00000105, intr 10000000`

I was forced to kill it (kill 9) because it was otherwise unresponsive.

I am also running nVidia 384.111. It also didnt happen to me with OpenGL

[2018-05-29 07:15] vmyroslav commented on #1450
@Eignar17 Thank you!

[2018-06-01 18:09] gdrewb-valve commented on #1457
Is your Steam client working properly?  Are you running the primary Steam client or a beta?

You might want to try uninstalling and reinstalling Steam, although there are no guarantees that will help.

[2018-06-02 23:02] glubsy commented on #1404
With nvidia proprietary drivers 390.59, the Dota2 Vulkan renderer doesn't crash randomly anymore like that.
Linux kernel: 4.14.41-1-lts
Also, my GPU runs 10°C lower compared to OpenGL with this driver. Very strange, but very good (granted, I run on the lowest settings possible, including 40% for the quality slider).

[2018-06-03 14:31] sylware commented on #1446
Yep, I noticed the same thing: running dota2 vulkan
linux amd-staging-next (from yesterday)
drm/llvm/mesa/xserver/x86-video-amdgpu git from yesterday
CPU: AMD FX9590
GPU: AMD TAHITI XT

[2018-06-03 14:39] sylware opened #1459 "[linux][alsa] "underrun occured" are back"
While playing dota2, I get tons of the following log msg:
ALSA lib /root/nyanlinux/src/alsa-lib-1.1.6/src/pcm/pcm.c:8424:(snd_pcm_recover) underrun occurred
linux amd-staging-next (4.16)
alsa-lib 1.1.6 (pinned)
SDL_AUDIODRIVER=alsa
Realtek ALC892/HDA ATI SB
I also have the mic from my USB webcam used for steam voice.

[2018-06-04 09:16] Ace5040 commented on #1345
seems like fixed here after dota update with macos vulkan support
archlinux, lxqt, nvidia 396.24

[2018-06-04 22:12] pavildon commented on #1446
any workaround for this?
I'm also getting FPS drop in mid game (vulkan and opengl), and I have to restart dota and reconnect. very annoying.
Dota 2 was working very stable and solid previous the compendium patch.

My specs:
OS: Nix OS
CPU : i7 7700 HQ
RAM: 16Gb
GPU: NVidia 1060 GTX 6 Gb VRam

[2018-06-04 23:07] ivanceras commented on #1446
@aindigo, not a workaround but may improve the fps.
Disable the steam overlay, in steam settings. When steam overlay is enabled, i noticed that when there is a notification ie. `<Your Friend' name> is now playing Dota2` this will be the start of the fps lag.
I also type in this into the console, which tell the engine to maintain process priority to prevent lag.
[code]
Nice to see steam works well

[2018-06-05 00:35] sylware commented on #1446
If you disable the overlay, with the vulkan backend, in the middle of a game,
you'll get stuttering related to the mouse input. I did report this bug and
tested not that long ago (bug still around).

[2018-06-05 11:40] eXcuvator commented on #1413
With a recent update (cannot say exactly when) it's working again -- I guess this can be closed.

[2018-06-05 11:40] #1413 closed, assigned to icculus

[2018-06-05 20:14] pavildon commented on #1446
@ivanceras  i do not have problems with fps, i got overlay disabled all the time, I play with 100 - 120 in all stages of the game except when this problem surges. is not that the game degrades slowly, it just drop from 120 fps to 20 and it never go back. and yes , steam/dota2 works really good on NixOS, i don't know about other games.

[2018-06-05 21:17] anko commented on #1458
Are you on a wireless connection? Some wireless cards perform differently between Linux and Windows, often because the manufacturer focused more on Windows drivers than Linux drivers.

You could narrow it down to that by testing on a wired connection.  If that fixes the constant disconnections in Linux, the wireless driver is probably at fault.

[2018-06-05 21:51] sylware commented on #1446
@aindigo this is because you don't have the overlay enable. It's a reported bug.
when it happens, don't touch the mouse and keyboard and you'll see the
difference

[2018-06-06 18:14] gleyfer opened #1460 "[Mac OS] Cursor scaling on Retina display causes severe FPS drops and stutters"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

https://gist.github.com/gleyfer/907c5affccd4bcf6485e13bb2ff65221

* Have you checked for system updates?: [Yes/No] Yes, already all on latest
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the g

[2018-06-06 19:55] gdrewb-valve commented on #1460
Dota uses SDL for cursor handling so assigning to the SDL dev, although I think there's a decent chance this is a macOS issue that Apple would need to look at.

[2018-06-06 21:08] gleyfer commented on #1460
Agreed that this may be a MacOS issue, but for the time being, it may be worth to disable the cursor scaling by default or set the scale to 100% by default for MacOS unless the user is using a hiDPI resolution (4k).

I happened to find this completely by chance (the cursor was huge and I disabled the scaling/set it to 100% and then also noticed, hey the game runs really smooth now and was laggy/st

[2018-06-09 18:10] dddavo commented on #1444
I have the same problem, but not with the dota update. Just with high sierra osx, i've upgraded my imac 3 days ago from macos sierra to high sierra. I cant play at all  with open gl api on dota 2, i have like 9 fps into the game. Never had with macos sierra before. Now i play with vulkan api, i have 80-90 fps and i can play, but there is some glitch problems in the menu or in game sometimes. I thi

[2018-06-09 23:46] kinosang opened #1461 "Cannot register on dev.dota2.com"
Auth failed - missing key

![](https://i.imgur.com/HesNQIo.png)

[2018-06-09 23:53] kinosang opened #1462 "[General] Team Composition not working"
Sorry for posting general issue here, but the dev forum does not work well (see #1461).

The Team Composition in the strategy screen shows nothing since some months ago, it seems caused by the Dota Plus feature.

Here's some thread talking about this issue:

https://www.reddit.com/r/DotA2/comments/86t45j/team_composition_feature_is_broken_since_dota/
https://steamcommunity.com/app/570/discussions/

[2018-06-10 04:01] gdrewb-valve commented on #1461
I've passed this on.

[2018-06-10 04:01] #1461 closed, assigned to nobody

[2018-06-10 04:02] gdrewb-valve commented on #1462
I've passed this on but there won't be any status here.

[2018-06-10 04:02] #1462 closed, assigned to nobody

[2018-06-10 14:32] pratamawijaya commented on #1444
@dddavo im never trying vulkan api, i will try it

[2018-06-12 21:31] FaresJandali opened #1463 "Establishing connection Dota 2 problems"
Hello,

So for the last 2 weeks I have been having trouble establishing connection to Dota 2 servers at specific times of the day, I live In Lebanon and I mostly play on Europe servers. My issue seems to appear mostly at night times and specially from 12 am to 3 am, I figured that I could test my internet before connecting to a match by making a lobby in LUX, in order to avoid getting banned for x

[2018-06-12 22:31] gdrewb-valve commented on #1463
This isn't the right place to get general networking help, that'd be dev.dota2.com

If you believe this is a Mac/Linux specific problem please post your system information.

[2018-06-12 23:25] zpostfacto commented on #1463
What is your friend ID?  I'll dig through logs and see if I can understand the packet loss better.

One thing: you might try setting "cl_use_snp 1".  This switches the networking to use a new reliability layer that's in beta.  (We are probably going to start rolling this out soon.)  It *should* be a lot better dealing with really bad packet loss like you are getting.  Give it a try and let me know

[2018-06-13 01:24] dmarcuse commented on #1391
Any update on this? I'm still having this issue, with i3wm and vulkan. [System info](https://pastebin.com/u7QFJf0P).

[2018-06-13 06:04] FaresJandali commented on #1463
233284121 that's my friend ID, I will let you know if the setting you mentioned helped tonight. Thank you

[2018-06-13 06:09] FaresJandali commented on #1463
I would like to note something that is when it works sometimes to join the lobby and start the game at night time ( after many tries )  ( when the issue is happening ) I don't have packet loss in game or ping issues neither while spectating games, as it seems only when i'm trying to connect to games or creating a lobby game.

[2018-06-13 21:16] gdrewb-valve commented on #1463
Closing as this issue is out of scope for this tracker.  You're welcome to continue passing information back and forth.

[2018-06-13 21:16] #1463 closed, assigned to nobody

[2018-06-13 22:24] FaresJandali commented on #1463
wow that setting actually worked, thank you so much!
when I set it to 1 I can connect when I turn it back to 0 it doesnt let me. thank you guys.

[2018-06-15 22:45] kisak-valve opened #1464 "Scaled Content - Steam Browser"
Issue transferred from https://github.com/ValveSoftware/steam-for-linux/issues/5531.
@annacmr posted on 2018-06-15T22:15:52:

#### System Information

* Steam API: v018
* Distribution: Ubuntu 16.04.3 LTS (64 bit)
* Opted into Steam client beta?: No
* Have you checked for system updates?: Yes

#### Detailed Issue:

Hello y'all! Although my computer is very simple I can play DoTA 2 perfectly fine. I

[2018-06-17 15:18] ghost opened #1465 "Audio captions are just a bunch of ???s"
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist]https://gist.github.com/tjackson/1ad7aed880d4279f4b8aef5c3c4d1ed9
I don't know if it's relevant to this issue but this is a dual GPU system using reverse Prime so the modesetting driver is involved too.

* Have you checked for system updates?: [Yes/No]
Yes

* Are you using the latest stable video driver availabl

[2018-06-18 17:05] gdrewb-valve commented on #1464
As mentioned in #1178 this is something that we'll need to pass by the Steam team so there may not be much feedback here.

[2018-06-18 17:06] gdrewb-valve commented on #1465
This was working the past but broke recently?  Does it happen on all heroes you demo?  Can you list some specific ones that you've tried so that we can test the same ones?

[2018-06-18 18:10] resendeacm commented on #1464
Thank you @kisak-valve and @gdrewb-valve, I appreciate the help. :)

[2018-06-18 19:00] oghaffarinia opened #1466 "No steam logon after disconnect"
#### Your system information

* [System information from steam](https://gist.github.com/omidplus/1c349ce63f132c885e83b35bc128f7d2)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
After disconnecting, I get "no steam logon

[2018-06-18 20:02] gdrewb-valve commented on #1465
We found an issue that is likely what you're hitting, the next release will have a fix.

[2018-06-18 20:02] gdrewb-valve commented on #1466
The issue is most likely on the Steam side, assigning to one of the devs.

[2018-06-18 20:23] ghost commented on #1465
Thanks!

Yeah, I demoed a bunch of heroes and it happens on all of them. Last I tested it was working about a month ago, maybe two.

[2018-06-18 21:02] gdrewb-valve commented on #1464
Do you have multiple monitors or just one?  What is the monitor resolution and what mode and screen resolution are you playing Dota in?

[2018-06-19 01:30] gdrewb-valve commented on #1465
I believe the fix was in the June 18 update, does this still happen for you?

[2018-06-19 02:22] ghost commented on #1465
Awesome, it's fixed now with a 374.9 MB update and then some other tiny update.

[2018-06-19 02:22] #1465 closed, assigned to gdrewb-valve

[2018-06-19 02:28] gdrewb-valve commented on #752
Number format localization should also be present in the latest updates.  Closing since the original issue is resolved.

[2018-06-19 02:28] #752 closed, assigned to gdrewb-valve

[2018-06-19 12:48] resendeacm commented on #1464
I use a monitor attached to my notebook. I play using the "Desktop-Friendly Fullscreen" mode, and my monitor resolution is the same as my screen: 1360 x 768 (AR: 16:9).

![screen](https://user-images.githubusercontent.com/13593456/41598295-4c509ca4-73bf-11e8-8d4b-bdc47feee394.png)

![valve](https://user-images.githubusercontent.com/13593456/41598224-1a186f32-73bf-11e8-834d-8ecb3bec07db.png)

[2018-06-19 17:09] gdrewb-valve commented on #1464
What are the physical dimensions of your monitor?  The image you attached shows it being identified as a 7" monitor.  You can run "xrandr" in a terminal and the first few lines will show monitor dimension info. If your monitor is really being detected as something with a 7" diagonal then 1360x768 is high DPI and it's expected that web elements will be scaled and fixing the monitor detection should

[2018-06-19 23:11] resendeacm commented on #1464
Hi @gdrewb-valve, what do you mean by "fix the monitor detection"?

![valve2](https://user-images.githubusercontent.com/13593456/41628886-1f5d91f0-7416-11e8-8ab7-1ad60e5c23e9.png)

[2018-06-19 23:13] gdrewb-valve commented on #1464
The output says that the monitor is 160mm x 90mm in size.  I'm assuming that's wrong so that's the part that needs to be fixed.  Dota can't do anything better when given incorrect information.

As to how you would fix that I have no idea, somehow the monitor information is wrong.  You could ask on a forum about your distribution.  For example here is a thread discussing a very similar issue on Arc

[2018-06-20 10:44] Th3BiSh0p commented on #1347
same issue with another game. Anything new since november ?

[2018-06-20 11:19] Tanapruk commented on #1259
After 4-5 games of Underhollow, my FPS decrease from 70+ to ~15 (it progressively decrease like ~50 in the second game, ~30 in the third game). I noticed that steam app (not DOTA2 app) used high % of CPU. I exited both. Launch the game again. FPS is at ~60.

Machine: Macbook Pro non-touchbar 13 inch 2016
OS: Mojave beta 2

[2018-06-21 00:11] RankoR opened #1467 "[macOS] Steam High CPU usage after game"
#### System information

* System information from steam https://gist.github.com/RankoR/271dc17ca4ec24cd2f7044028650def8 (old config; the only difference is system version — 10.13.5).
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

Steam utilizes about 10-20% of CPU (i7-7700K) even i

[2018-06-21 00:16] RankoR opened #1468 "[macOS] Unable to restore minimized game with MoltenVK"
#### Your system information

* System information from steam https://gist.github.com/RankoR/271dc17ca4ec24cd2f7044028650def8 (current version is 10.13.5 actually)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

As I'm u

[2018-06-21 00:19] RankoR commented on #1444
On my hackintosh with i7-7700K, 32 GB RAM and GTX 970 currently I see a bit worse performance then I had about 6 month ago (when I've last played Dota), with MoltenVK or with OpenGL.
Currently the only playable settings on my config are lowest with 50% quality on both renderers (4K display).

[2018-06-21 00:38] kisak-valve commented on #1468
Hello @RankoR, the first half of this issue is already being tracked at #1326, so we'll only track the second half in this issue report.

[2018-06-21 01:01] RankoR commented on #1468
@kisak-valve yep, the second half is main one :)

[2018-06-21 01:03] RankoR opened #1469 "[macOS] Game crash after selecting Dota Plus item in the store"
#### Your system information

* System information from steam https://gist.github.com/RankoR/271dc17ca4ec24cd2f7044028650def8 (10.13.5 acually)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

Game crashes after selecting

[2018-06-21 02:07] gdrewb-valve commented on #1467
This sounds like a Steam issue and not a Dota issue?  I'll assign to a Steam dev but there may not be much status here.

[2018-06-21 02:07] gdrewb-valve commented on #1468
For the future Vulkan bugs should be filed in Dota-2-Vulkan.

[2018-06-21 22:47] gdrewb-valve commented on #1464
Closing as this doesn't appear to be a Dota issue.

[2018-06-21 22:47] #1464 closed, assigned to nobody

[2018-06-22 00:29] danginsburg commented on #1468
I have a fix for this bug, it should make it in to the next Dota 2 Update.

[2018-06-22 08:25] gselsidi opened #1470 "[OSX] Dota doesn't capture all input keyboard/mouse"
This issue was resolved sometime last year, with the newest updates late last year, it became atrocious again, I have to slam buttons 2-3 times repeatedly for it to register.

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookAir7,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-5250U CP

[2018-06-22 12:22] danginsburg commented on #1469
I've been unable to reproduce this bug so far on either OpenGL or Vulkan.  Is there a specific item in the store that crashes for you?  Could you run with the -conlogfile in your "Launch Options" and post the ~/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/console.log?  Thanks.

[2018-06-22 15:25] RankoR commented on #1469
@danginsburg I've tried to set this option but no file was created in that location.

Here is video with crash: https://www.youtube.com/watch?v=9PEWKCWFTpo

I'm sorry for recording screen, QuickTime records only top-left 1/4 of the screen in game in 4K mode for some reason.

[2018-06-22 17:30] danginsburg commented on #1469
@RankoR Thanks.  It's still not repro'ing for me.  Are you running with OpenGL or Vulkan?  Vulkan is not supported on 10.12.3.  You say you are on 10.13.5, but that is not what's in your system report.  Steam will report this accurately so I'm not sure why you say it's 10.13.5.  Is this on hackintosh?

[2018-06-22 17:34] RankoR commented on #1469
@danginsburg that's just old system report, everything is actual but system version is now 10.13.5. I'm running with OpenGL. I also use latest Nvidia driver (387.10.10.10.35.106) and yes, that's hackintosh (with iMac 5K hardware, except GPU).

Are you clicking on item's image? In my case it crashes only if I'm clicking on image.

[2018-06-22 22:02] sylware commented on #1459
I did narrow it down: dmix at default 48000Hz, buffer underrun occurs, at 44100 Hz(dmix or native direct) no buffer underrun occurs.
Something seems wrong with dota2 resampler.

[2018-06-22 22:59] danginsburg commented on #1468
This fix shipped in today's update.  You should be able to CMD+H in exclusive fullscreen and restore it back without issue now on a retina display.  Please test and confirm.

[2018-06-23 01:55] chintyaputrizm opened #1471 "(OSX)Can't overlay in game (can't shift+tab)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): Computer Information:
    Manufacturer:  Apple
    Model:  iMac13,2
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3470S CPU @ 2.90GHz
    CPU Family:

[2018-06-23 02:16] gdrewb-valve commented on #1471
This is likely a Steam issue and not a Dota issue, you may not get a lot of status here.

[2018-06-23 02:33] chintyaputrizm commented on #1471
well but still can;t you suggest something that at least i can do to be able to overlay ?

[2018-06-23 02:41] gdrewb-valve commented on #1471
Other than the basics -- make sure it's enabled in for Dota in Steam and that it works in other games -- it's hard to say how to make it work again since we don't have information on why it isn't working on your system.  Somebody from Steam will need to investigate.

[2018-06-23 02:47] chintyaputrizm commented on #1471
oh alright... right before the steam update (the chat beta) i was still able to overlay w/o any probs... but right after the update i can't.. i can't even add friends while in dota2... my overlay setting is enabled while in-game....

[2018-06-27 07:43] u83rmensch commented on #1446
I also have this issue but it is only with Vulkan, the issue does not exist at all when using OpenGL. I was using the nvidia 390 drivers and just updated them to the 396 drivers but this did not help. I am on kubuntu 18 x64 with an nvidia 770gtx.

this started happening about the same time the steam client beta for the new chat came out. I dont know this this is relevant or not as rolling back the

[2018-06-28 23:22] admshao opened #1472 "LINUX - Can't find or watch match"
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/admshao/775f42764242a714d999a03faaa9564b
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

An hour ago or so, just finished my match. Tried t

[2018-06-28 23:29] kisak-valve commented on #1472
Also reported at https://github.com/ValveSoftware/steam-for-linux/issues/5545. Opting out of Steam's beta client should workaround the issue.

[2018-06-28 23:30] admshao commented on #1472
i was just about to close and comment i found this work around as i would post this on steam-for-linux tracker. Sorry i didn't check there before.

[2018-06-28 23:30] #1472 closed, assigned to nobody

[2018-06-29 09:19] weidtn opened #1473 "Can't queue for or watch games."
#### Your system information

* https://gist.github.com/Aramus92/17b5e2e4a00aaacee54ffb69e22b309a
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes
#### Please describe your issue in as much detail as possible:

I can't search for a game. I click "Play Dota", select my Modes, then the "

[2018-06-29 09:23] weidtn commented on #1473
I just realized I can opt-out of Steam beta, did this, now it works again. So try to fix your beta.

[2018-06-29 09:23] #1473 closed, assigned to nobody

[2018-06-29 10:00] Pharmasolin opened #1474 "[Linux] Steam beta client makes in-game region servers unreachable"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/Pharmasolin/f796925a8fe662ead39f88511d5e3b5e):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as muc

[2018-06-29 11:23] Pharmasolin commented on #1474
It seems it is steam dev team fail, noticed similar reports
https://steamcommunity.com/groups/SteamClientBeta/discussions/0/1727575977552752049/

[2018-06-29 12:34] kisak-valve commented on #1474
Also reported at https://github.com/ValveSoftware/steam-for-linux/issues/5545.

[2018-06-29 16:34] mjstahlberg commented on #1473
Hello @Aramus92, I encountered the same problem under Arch Linux and opting out of the Steam Beta fixed it as well. So thanks! Since this appears to be at least partly a bug in Dota 2 and potentially just under Linux I suggest you keep this issue open, though?

[2018-06-29 16:46] kisak-valve commented on #1473
Hello @Viech, there are other open issue reports for this issue including #1474 and https://github.com/ValveSoftware/steam-for-linux/issues/5545.

[2018-06-29 18:09] gdrewb-valve commented on #1474
Closing in favor of the Steam issue.

[2018-06-29 18:09] #1474 closed, assigned to nobody

[2018-06-30 19:44] ellysh opened #1475 "Localhost lobby game crashes on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/ellysh/726f82c5e19e2c22e9c56e502a6eead4
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your i

[2018-06-30 22:42] gdrewb-valve commented on #1475
There was another update released on June 30 that addressed something like this, are you still seeing issues?

[2018-07-01 10:09] ellysh commented on #1475
Thank you for information. Now it works well.

[2018-07-01 10:09] #1475 closed, assigned to nobody

[2018-07-01 12:57] d4ve89 opened #1476 "[Linux] Cannot ping the matchmaking servers within the client?"
#### Your system information
I am running dota2 on an Arch Linux machine with the newest kernel, newest drivers etc, and am using the beta release of the Steam runtime.
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Dve89/164e692380219a67f30368b6edbd5338
* Have you checked for system updates?: [Yes]
* Are y

[2018-07-01 13:25] kisak-valve commented on #1476
Hello @Dve89, this issue is already being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/5545. For the time being you can work around this issue by switching to Steam's stable client.

Closing in favor of https://github.com/ValveSoftware/steam-for-linux/issues/5545 (and also a duplicate of #1474 and https://github.com/ValveSoftware/csgo-osx-linux/issues/1678).

[2018-07-01 13:25] #1476 closed, assigned to nobody

[2018-07-02 17:01] RankoR commented on #1467
Seems to be fixed, at least did not happen last few days.

[2018-07-02 19:08] gdrewb-valve commented on #1467
OK, closing for now.

[2018-07-02 19:08] #1467 closed, assigned to natbro

[2018-07-02 19:23] gdrewb-valve commented on #1188
Now that the Dota Vulkan support for macOS has released how does it compare on your system?

[2018-07-02 19:26] gdrewb-valve commented on #1101
We're going to be closing this general issue as 7.00 has been out for a while now.  Specific performance issues are open already for more recent things.  Note in particular for Mac users that you should try the Vulkan support and report issues in the Dota-2-Vulkan tracker.

[2018-07-02 19:26] #1101 closed, assigned to gdrewb-valve

[2018-07-02 19:26] RankoR commented on #1188
@gdrewb-valve still playable only with minimal graphics settings and 50% rendering quality and with noticeable fps drops in fights or complex scenes (such as Tinker's machines).

And great performance on Windows with highest settings on the same machine.

[2018-07-02 19:31] gdrewb-valve commented on #1188
I meant more whether there are still perf drop issues that we should keep this open for?

I understand the perf doesn't match Windows but that's due to many factors.  In particular if you're comparing Windows Vulkan to macOS Vulkan the Valve part of the rendering path is the same and major perf differences arise from elsewhere.  You're welcome to open an issue in Dota-2-Vulkan with comparisons but

[2018-07-02 19:33] RankoR commented on #1188
I don't see any noticeable differences in performance (in my case) on Vulkan or OpenGL comparing to last year on the same machine.

[2018-07-02 19:35] gdrewb-valve commented on #1188
Do you think there's still something to keep this issue open for?  This issue is titled "huge FPS drops".  Are there still huge FPS drops?  Previous comments indicated they might have been related to other software.

[2018-07-02 19:38] gdrewb-valve commented on #1259
Now that the Vulkan support for macOS is out how does it compare on your systems?

[2018-07-02 19:39] gdrewb-valve commented on #1285
Is this still an issue?

[2018-07-02 19:39] gdrewb-valve commented on #1296
Is this still an issue?

[2018-07-02 19:40] gdrewb-valve commented on #1297
Now that the Vulkan support for macOS is out how does it compare on your systems?

[2018-07-02 19:41] RankoR commented on #1188
FPS still drops when moving screen.

I think it might be related to Nvidia driver (and generally poor performance), I'm planning to replace my GTX970 with some natively supported AMD GPU and re-check. I think you can close this issue, I will re-open it if needed.

[2018-07-02 19:43] gdrewb-valve commented on #1188
Thanks, closing.

[2018-07-02 19:43] #1188 closed, assigned to nobody

[2018-07-02 19:43] swiftMag3 commented on #1297
Just knew it supports Vulkan now as I haven’t played for a long time because of this issue.. will try to use vulkan and see how it is now.

[2018-07-03 20:15] rmbleeker opened #1477 "[LINUX] Unable to queue up for a match while using Steam beta client"
#### Your system information

* System information: [Ubuntu 16.04.4 LTS on a Core i5 8400 with 16GB ram and an NVidia GTX1070](https://gist.github.com/rmbleeker/bb03f96e8a904ba6e756b70956595964)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes, 396.24.02 from https://launchpad.net/~graphics-drivers/+archive/ubuntu/ppa
* Have

[2018-07-03 20:32] zpostfacto commented on #1477
We've been trying to reproduce this problem at the office but have been unable for some reason.

Can you share the output of the Dota console?  Also, if you launch Steam from a terminal (~/.local/share/Steam/steam.sh), can you share the output of that terminal session?

Also, you should have a file ~/.local/share/Steam/network_config.json.  Can you share that file?

[2018-07-03 21:47] rmbleeker commented on #1477
The terminal output from Steam should be logged to the file /tmp/dumps/<username>_stdout.txt if I'm not mistaken, so how about I just share that file?

I'll start Steam twice, once subscribed to the beta and once while I'm not and give you the outputs of both sessions.

[2018-07-03 21:57] kisak-valve commented on #1477
Hello @rmbleeker, you can put the log in a [gist](https://gist.github.com/) or drag and drop it directly into the comment box since it is a txt file.

[2018-07-03 21:59] zpostfacto commented on #1477
@rmbleeker, sure thing.

[2018-07-03 22:17] rmbleeker commented on #1477
[output.zip](https://github.com/ValveSoftware/Dota-2/files/2161239/output.zip)
Here's a zip file containing the Steam console output and Dota 2 console output from two sessions, one in the beta client and one in the stable client. There is also a crash log that I happened to get while switching from the Steam beta client to the stable client. That was a fluke though, since I've switched between th

[2018-07-03 22:47] zpostfacto commented on #1477
We think it might related to Ubuntu 16.  We are on 18 here, that's probably why we cannot reproduce it.

[2018-07-03 23:00] zpostfacto commented on #1477
@rmbleeker, are you able to wget this URL?

https://steamcdn-a.akamaihd.net/apps/sdr/network_config.json

[2018-07-03 23:02] rmbleeker commented on #1477
$ wget https://steamcdn-a.akamaihd.net/apps/sdr/network_config.json
--2018-07-04 01:02:06--  https://steamcdn-a.akamaihd.net/apps/sdr/network_config.json
Resolving steamcdn-a.akamaihd.net (steamcdn-a.akamaihd.net)... 104.93.82.232, 104.93.82.186
Connecting to steamcdn-a.akamaihd.net (steamcdn-a.akamaihd.net)|104.93.82.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16

[2018-07-03 23:06] rmbleeker commented on #1477
Well it's as good a reason as any to upgrade to 18.04 then I guess.

[2018-07-04 00:19] Uramekus commented on #1398
news on that? I mean, emmiting a notification is not hard, I'm pretty sure you guys wouldn't need to make a lot of changes to do it.

[2018-07-04 00:44] zpostfacto commented on #1477
@rmbleeker, do you know what locale you are using?  E.g. try:

env | egrep -i '(lc|lang)

[2018-07-04 01:11] zpostfacto commented on #1477
We think it's a LOCALE ISSUE.  There is a field (strictly for human consumption...lol) where we describe each point-of-presence, and one of them is in......São Paulo.  And that is why we couldn't reproduce it, because we all have our locale set to US default or whatever.

I just updated the config.  See if it works now!

[2018-07-04 01:40] xfalcox commented on #1477
Hi @fletcherdvalve

I'm using Ubuntu 18.04 and having the same issue from São Paulo too.

Anything I can do to help debug the issue?

[2018-07-04 01:42] zpostfacto commented on #1477
@xfalcox LoL, thanks but it doesn't actually matter where you are from.

And it looks like it might be related to just parsing and printing numbers and doesn't have anything to do with the extended characters.  Something in the pipe is being locale-specific in a dumb way.

[2018-07-04 01:45] xfalcox commented on #1477
My locale related env variables are:

[code]

Also, it may help to debug that the server selection modal also doesn't work (it will keep on "Calculating..." forever).

[2018-07-04 01:57] xfalcox commented on #1477
Also here is my output from steam @fletcherdvalve

https://gist.github.com/xfalcox/aa734056767e931feb24e76a2dc255af

[2018-07-04 02:24] zpostfacto commented on #1477
Can everybody having this bug confirm that setting LC_ALL=C fixes the problem?

We think the correct solution is just to totally disable all the CRT locale code, which we have done on other platforms but for some reason not Linux.  Want to make sure it does actually fix the problem and not break anything worse.

[2018-07-04 02:25] zpostfacto commented on #1477
We are planning on updating the beta with this change sometime int he next few days.

[2018-07-04 02:29] xfalcox commented on #1477
Yes, it fixes it! :tada:

I can use the server ping modal and search for a match now.

[2018-07-04 02:57] lordtiva commented on #1477
Not working for me, using Arch Linux + KDE

[2018-07-04 03:01] xfalcox commented on #1477
@lordtiva you want to launch steam as:

[code]

[2018-07-04 08:55] rmbleeker commented on #1477
@fletcherdvalve I see you've made progress while I was asleep, but just in case it still matters somehow I've pasted the output of the "locale" command below. As you can see I'm using a mixed locale, en_US.UTF-8 as a base with some regional settings (The Netherlands) for some number representation and stuff like that.

$ locale
LANG=en_US.UTF-8
LANGUAGE=en_US:en
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC=n

[2018-07-04 09:10] rmbleeker commented on #1477
It seems that this is indeed a locale related issue. Starting Steam as `LC_ALL=C steam` while enrolled in the client beta enables me to find a match in Dota 2, without that setting it doesn't work. For now I've added `export LC_ALL=C` somewhere at the top of `/usr/bin/steam` as a work-around.

[code]

[2018-07-05 02:17] MaikuMori commented on #1466
This is somewhat old issue, been happening at least for 3-6 months. Very consistent and easy to reproduce. This is more of a problem in SA region where short internet disruptions lasting couple secs to couple mins are very common.

[2018-07-05 05:36] Ayub-Khan commented on #1466
Ah this one sucks. Have lost so many games because of this.

[2018-07-06 17:00] SergioGlorias commented on #1477
@fletcherdvalve eu sou de portugal e tambem estou com o mesmo problema

[2018-07-06 17:22] SergioGlorias commented on #1477
e com esse método tambem

[2018-07-07 15:46] ghost commented on #1477
@rmbleeker thanks you so much. It works like a charm

[2018-07-11 05:57] LouisBoulas opened #1478 "Lost connection to steam in Dotaclient while Steamclient is connected and working"
#### Your system information

* https://gist.github.com/LouisBoulas/b7873f8dea8565a1d5674360b132758a
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:

The steam client works fine and as expected, shows that I am conn

[2018-07-11 09:12] N-ReZA-A commented on #1285
As a quick fix go to Dota 2 in your library, right click, select properties and go to launch options and type '-clientport 27015' then restart your steam and it should work fine.

[2018-07-11 10:27] Ayub-Khan commented on #1285
@gdrewb-valve yes.

[2018-07-11 14:22] riffus commented on #1478
Not sure what causes this corruption/malfunction but it appears that **every** game -either online or offline is affected by latest update for Steam Beta Client on some (if not all) *nix OSes. I'm on macOS High Sierra and checked every log, open port, process etc. but ended up with only two clues.

1. libsystem_network.dylib throws an nw_path_close_fd warning, hinting possible library access issue

[2018-07-11 14:28] visrey commented on #1425
Facing this issue after having a steam upgrade.

[2018-07-11 15:32] zpostfacto commented on #1478
Is there anything in the Dota console log that might give a clue?  (Can you attach it?)

[2018-07-11 15:34] zpostfacto commented on #1478
Same bug as #1285

[2018-07-11 15:34] #1478 closed, assigned to nobody

[2018-07-11 15:35] zpostfacto commented on #1285
Is there anything in the Dota console log?  Can you launch with -vconsole to make sure you get the complete log from the beginning?

[2018-07-11 15:39] riffus commented on #1478
@fletcherdvalve Unfortunately no (didn't save previous logs), but I checked them thoroughly and didn't spot any clear sign of process attachment or network issues. Also clientport didn't work, so it may seem like the same issue as #1285 but probably not as network layer access seems fine (although I can't say that I'm 100% sure).

Probably not even related to Dota, but Steam Client ;)

[2018-07-11 15:43] zpostfacto commented on #1478
Oh, sorry I just now grasped the bit where you opted back out of the steam client beta and it didn't fix it.  So reproducing it would be a lot of work.

[2018-07-11 15:45] riffus commented on #1478
@fletcherdvalve Actually, give me a couple minutes. I didn't delete my old data (in case), let me see if I encounter the same issue when I replace the folder with working one.

[2018-07-11 16:05] riffus commented on #1478
@fletcherdvalve Alright, here's my how to guide for reproducing this issue :)

1. Made sure clean, working non-beta release Steam Client doesn't have this issue.
2. Quit client and moved back suspected Steam folder.
3. Launched client, logged in.
4. Launched Dota, works perfectly, connects to coordinator etc.
5. Opted in for Steam Beta, relaunched.
6. Issue re-appeared (Dota 2 console log attached

[2018-07-11 16:07] riffus commented on #1478
@fletcherdvalve Silly me, I just noticed "no ISteamClient interface" warning in the console logs...

[2018-07-11 16:08] zpostfacto commented on #1478
Yeah it's failing to get all of the interfaces it needs, so init failed for some reason.

Thanks!  We'll see if we can reproduce.

[2018-07-11 17:58] LouisBoulas commented on #1478
Thank you very much, got it back up in working. I did also have the problem where it would launch dota2 at a much slower rate.

I did it a bit differently but it worked in the end. instead of renaming the steam file i just got rid of it.
1. opted out of beta
2. deleted steam
3. reinstalled steam

thanks again for the help guys ^^

[2018-07-11 23:00] thomaschan9328 commented on #1285
I am having this issue as well. -clientport 27015 solution is not working. Restarting steam is not working. Do you need me to send you anything?

[2018-07-11 23:19] kisak-valve commented on #1285
Hello @thomaschan9328 to workaround the recent regression, opt out of Steam's beta client, allow it to update the steam client, then quit and relaunch the steam client.

[2018-07-11 23:29] thomaschan9328 commented on #1285
@kisak-valve I tried doing this and it didn't work. I just tried again and still no luck. Any other suggestions?

[2018-07-12 00:54] ralacerda opened #1479 "Linux - Crashing Steam and Dota2 during start up"
* System information
https://gist.github.com/RenatoLacerda92/bbb3ec75ddd203e80f8670048440cedb

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Issue:

While dota is loading up, before the "Main" page, steam crashes, and dota2 soon follows. I tried both opt-in and opt-out of stea

[2018-07-12 01:09] kisak-valve commented on #1479
Hello @RenatoLacerda92, this issue is being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/5564 and can be worked around by opting out of Steam's beta client.

[2018-07-12 01:50] kisak-valve commented on #1479
Closing per "Fixed an issue where Steam could crash when running Steamworks-enabled games, or where Steamworks functionality wouldn't work properly in the game." in the [2018-07-11](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) Steam client beta update.

[2018-07-12 01:50] #1479 closed, assigned to nobody

[2018-07-12 01:55] kisak-valve commented on #1477
Hello, per "Fixed an issue where CS:GO and Dota 2 matchmaking would not function properly." in the [2018-07-11](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) Steam client beta update, please update your steam client and retest this issue.

[2018-07-12 02:08] kisak-valve commented on #1285
Per "This release fixes an issue starting certain games that began after the July 10th Steam Beta release. To apply the fix you will need to reboot your computer after installing this Steam Beta update." in the [2018-07-11](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) Steam client beta update, please retest this issue.

If the above does not resolve t

[2018-07-12 03:02] 121watts commented on #1285
@kisak-valve can confirm that issue is resolved on my machine after [this](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) update to the Steam Beta Client!  Thank you.

[2018-07-12 03:26] thomaschan9328 commented on #1285
Not sure what fixed my problem, but I just came home and re-enabled steam beta. I restarted steam, and received a dota update as well. Everything worked fine after that. Thanks all

[2018-07-12 05:47] GreatBigWhiteWorld opened #1480 "Completely crash/freezing OS on loading screen after today's update"
#### Your system information
Opensuse Leap 15.0 x64 (all up to date) Nvidia, KDE, Xrender for compositer, Allow apps to block compositing
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes/No]
* Are you using the latest stable video driver available for your system? [Yes/No]
* Have you veri

[2018-07-12 13:09] kisak-valve commented on #1480
Hello @GreatBigWhiteWorld, please copy your system information from steam (```Steam``` -> ```Help``` -> ```System Information```) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report. Additionally, if there you can find any CrashIDs or minidumps (commonly found in `/tmp/dump/`) related to this issue, lease include them as well.

[2018-07-12 17:38] rmbleeker commented on #1477
I've just tested this after applying the [2018-07-11](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) update to the Steam beta client and can confirm matchmaking in Dota 2 works as expected again.

I've tested this by removing `export LC_ALL=C` from `/usr/bin/steam`, then I started Steam and Dota 2. I looked up the PID for the Dota process and checked `/

[2018-07-12 17:38] #1477 closed, assigned to zpostfacto

[2018-07-12 18:58] AngryPenguinPL opened #1481 "Can't watch replay"
Hi.

I can't watch replay. Downloading a replay from a professional match or from match my friend then I can't watch it. Just download --> decompresing --> watch and nothing happens. Still see only watch button and can click on it multipe times but without any success.

but when download my own replay, then when I click on watch -  my replay is displayed.

**So issue occurs only on replays of othe

[2018-07-13 01:26] danginsburg commented on #1481
This happens on all platforms and is being fixed.  I won't track this further here since this tracker is specifically for Linux/macOS issues.  Thanks.

[2018-07-13 01:26] #1481 closed, assigned to nobody

[2018-07-13 02:38] gdrewb-valve commented on #1480
Apps can't freeze up the system so this typically indicates a problem in a system component such as a graphics driver (possibly triggered by Dota but still a bug in the driver).  You might also want to check this out with NVIDIA or your distro.

[2018-07-14 12:00] areux commented on #1261
Same here, exactly 30 minutes with `-vulkan` and suddenly fps drops from 60 to 15-20 in my case.
Why this bug hasn't been fixed yet? or at least change it from `drop_performance_after_30_or_15_minutes_on_linux()` to `drop_performance_on_linux_after_1_hour_so_itll_be_long_enough_for_them_to_almost_finish_a_match()`?

[2018-07-14 12:12] Ace5040 commented on #1261
confrim. still happens every game
arch - deepin de
linux - 4.17
nvidia - 396.24

[2018-07-15 10:19] zottce commented on #1261
This problem can be fixed (at least for me) so easy. Just enable Steam Overlay for Dota.
I don't know why but it's worked.

[2018-07-15 13:11] GreatBigWhiteWorld commented on #1480
I solved this by changing vulkan to opengl.

[2018-07-15 13:11] #1480 closed, assigned to nobody

[2018-07-15 15:54] DoctorApparatus opened #1482 "Extremely low frame rate on Debian Sid"
#### Your system information
[gist]https://gist.github.com/DoctorApparatus/390cc0e74c8a4d255be16c120b3fcc14
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
After I upgraded to Debian Sid the frame rate in Dota 2 dropped t

[2018-07-15 16:18] kisak-valve commented on #1482
Hello @DoctorApparatus, `Driver: VMware, Inc. llvmpipe (LLVM 6.0, 128 bits)` in your system information indicates that you are using llvmpipe, mesa's faster software renderer. This means that your system isn't configured to use a real video card and you should re-install your video driver. You can use `glxinfo | grep OpenGL` from `mesa-utils` to quickly check which opengl driver stack is in use.

[2018-07-15 16:21] DoctorApparatus commented on #1482
OpenGL vendor string: VMware, Inc.
OpenGL renderer string: llvmpipe (LLVM 6.0, 128 bits)
OpenGL core profile version string: 3.3 (Core Profile) Mesa 18.1.3
OpenGL core profile shading language version string: 3.30
OpenGL core profile context flags: (none)
OpenGL core profile profile mask: core profile
OpenGL core profile extensions:
OpenGL version string: 3.1 Mesa 18.1.3
OpenGL shading language ve

[2018-07-16 13:00] kisak-valve commented on #1482
Closing as low framerate is expected when not using a GPU for 3D rendering.

[2018-07-16 13:00] #1482 closed, assigned to nobody

[2018-07-16 14:05] kisak-valve commented on #1285
Thanks for retesting, closing as fixed in the [2018-07-11](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/2642934601290756923) Steam client beta update.

[2018-07-16 14:05] #1285 closed, assigned to nobody

[2018-07-16 17:59] SSalekin commented on #1261
Hi. As stupid as it might sound, but ZOTTCE is actually right. I used to face framerate drop to 20-30fps in dota 2 constantly after 30 minutes of game time, no matter if any background process running or not. Now after enabling Steam Overlay the issue is completely gone. I just played 3 games in a row, so about 2 hours of gameplay, which was never possible without restarting steam before.

This fn

[2018-07-17 14:47] DrorShim opened #1483 "Mouse edge pan not working, have to click twice on everything [OSX]"
#### SysInfo
https://gist.github.com/DrorShim/d839abbba15b6c087d2b2c0044645769

* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### the issue
I've had no problems running/playing Dota2 previously on my MAC but now the game is unplayable.
The first problem is that I have to cli

[2018-07-17 18:38] rohanharikr opened #1484 "quitting dota 2 leading to crash - not responding [application not closing properly - need to force quit every time]"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    CPU Fam

[2018-07-17 19:20] gdrewb-valve commented on #1483
Likely the same as #1470.  Underlying issue in #414 was an SDL problem I think.

[2018-07-18 10:36] ghost opened #1485 "Cant use fcitx input method in game"
#### Your system information
Linux linuxhost 4.17.5-1-MANJARO #1 SMP PREEMPT Sun Jul 8 19:26:38 UTC 2018 x86_64 GNU/Linux

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-4720HQ CPU @ 2.60GHz
    CPU Family:  0x6
    CPU Model:  0x3c