[2015-09-10 10:45] SchrodingerEquation opened #396 "[Linux] [Reborn] Incorrect mapping of physical keys"
When I press the physical key 1 it is recognized as RETURN in the key bindings as well as the enter key. Some keys like 2 5 etc doesn't seem to be recognized at all. Many keys get mapped to the same value even if they are different. I usually use the numeric keys for item slots but now I cant since they map to enter which bring my chat or are not recognized at all.
I've had this bug for quite some

[2015-09-10 11:08] guillevc commented on #30
i'm also experiencing this

ubuntu 14.04

[2015-09-10 11:27] tiburcillo commented on #234
No panic, if you have some experience with adding PPA's just add the following:
https://launchpad.net/~xorg-edgers/+archive/ubuntu/ppa

Then your Mesa will be updated to 10.6 and you will be able to run Reborn fine.

*I am not responsible for any broken systems

[2015-09-10 12:13] danginsburg commented on #394
Please go to Steam -> Help -> System Information and provide your system specs.  Also, please run with -con_logfile and provide the output of game/dota/console.log.  Given you are on hackintosh, we may or may not be able to help.

[2015-09-10 12:14] danginsburg commented on #395
If you run with -console and hit "\" when the framerate drops, do you see any messages in the console that correspond with when the drops happen?  If so, can you run with -con_logfile and post the contents of game/dota/console.log when you see the framerate issue?

[2015-09-10 12:29] danginsburg commented on #392
Confirmed.  Investigating.

[2015-09-10 12:35] sunwoo-kim commented on #392
Hi, since you responded, I'd like to mention the long-lasting korean chat bug on the mac client as well:
When you chat in game, You have to put a space after what you write in korean (on a mac), otherwise your message gets repeated for some bizarre reason or doesn't send sometimes. Thanks for your work!

[2015-09-10 12:38] suhaaktas commented on #312
i have to reopen this issue since it turns out 15.20.1013 is actually 15.7 and since there is no way to play dota with source1.
http://askubuntu.com/questions/646436/catalyst-15-7-could-it-run-on-ubuntu-15-04

now i am using ubuntu 15.04 with fglrx-updates (amd catalyst 15.7)

[2015-09-10 12:53] Maokei commented on #305
That's quite disappointing valve!

[2015-09-10 13:17] clankill3r commented on #305
Please stop posting comments like that. They have close to zero value.
Also:

I think github is a really nice way to create a bridge between the devs and the community. But with non constructive posts like "That's quite disappointing valve!". All you do is waste time of devs and encourage them to check the issues less often.

I'm sure they have good reasons. Maybe there are dependencies like the .

[2015-09-10 13:21] ekianjo commented on #305
Reasons is exactly what I would like to hear, instead of just saying that they are not going to support it.

[2015-09-10 13:58] Shad3w opened #397 "[Mac OSX] Client won't start up."
When I click "Play" the game opens up to just a black screen. No loading screen. Just a black screen.

[2015-09-10 14:09] 420git commented on #387
I tried the workaround in #35 and it didnt work.
I however fixed this thanks to alucryd.
Looks like DotA 2 Reborn is only 64bit now so it doesnt need the previous 32bit libs at all.
He just added libpng12 and libudev0 to his x86-64 repo which were missing from my lib64 folder and now it works flawlessly after I disable steamruntime.

I think I have another issue with steam runtime in which it cant

[2015-09-10 14:09] #387 closed, assigned to nobody

[2015-09-10 14:20] dhollinger commented on #305
@clankill3r Those metrics are not accurate. I can tell you that in the last 6 months my wife (running windows) has gotten the steam survey 6-7 times, as someone running only Linux (primarily for professional reasons) I've only ever seen the survey once in the last year. That disparity in frequency will create inaccurate results. That said, OSX (Sitting around 3%) and Linux (Sitting around 1.2%) bo

[2015-09-10 14:39] madhavan10 commented on #365
I also cannot even play after latest patch. Please revert immediately, this is absurd.

In addition, no console.log in the directory you specified @danginsburg and also my directory structure is common/dota 2 beta/ not common/dota 2/

[2015-09-10 15:08] suhaaktas commented on #352
https://github.com/ValveSoftware/Dota-2/issues/3 this was similar and got fixed.
https://github.com/ValveSoftware/Dota-2/issues/312 and this is similar too.
Edit:
I am also using TR language.
i tried LC_ALL=EN steam and everthing seems fine except the fps drop(fastest settings). is this because i am running steam from console?
are there any more optimizations on the way that could help at least re

[2015-09-10 15:57] luntik2012 commented on #374
still have the same on ubuntu 15.10 with latest updates

[2015-09-10 16:00] luntik2012 commented on #117
still cann't run dota reborn on ubuntu 15.10 with opensource drivers

always get this
Running Steam on ubuntu 15.10 64-bit
STEAM_RUNTIME has been set by the user to: /home/nick/.steam/ubuntu12_32/steam-runtime
Refresh rate: 1
Refresh rate: 1
Dongle firmware $(HOME)/.steam/linux64/../controller_base/d0ggle.bin loaded, version 1435869091.

[2015-09-10 16:01] luntik2012 commented on #104
still cannot start with ubuntu 15.10 and opensource drivers. yesterday i could run old dota, but with this udpate i cannot play at all

[2015-09-10 16:18] ajrobertsonio commented on #394
This time, when starting a Solo vs Bots match, Dota crashed and OS X gave me a popup message, screenshot below. System specs and console log are below as well. Again, let me know if I can help in any other way.

The specific hardware in my machine can be found [here](https://docs.google.com/document/d/1t7tMRKtVRUSncJ9p9zN6HJ3ISWWks1L1RBC2eJtZwQ0/edit?usp=sharing) (Google Drive Document).

For my G

[2015-09-10 16:19] gemakochi commented on #352
thanks @ecylmz, i modified launcher at  _~/.local/share/applications/steam.desktop_ to run without console.

[code]

[2015-09-10 16:28] ajrobertsonio commented on #393
This morning, I opened the game up and single clicks worked as expected. No more needing to double click on everything.

[2015-09-10 16:28] #393 closed, assigned to nobody

[2015-09-10 16:40] Amet13 commented on #117
So, today i launching reborn on my mesa driver and get a error:

[code]

Linux Mint 17.2
Solution:

[code]

[2015-09-10 16:44] eNormt commented on #365
I have been experiencing the same problem for two days. Please revert!

I have tried every troubleshoot, contacting steam support and followed every advice from every thread by other users experiencing the same problem, without luck.

[2015-09-10 17:02] diguliu opened #398 "Map not displayed"
Hello,

I have a Debian 8.0 (Jessie) system with Steam and Dota2 installed. I play Dota2 on this for about 8 months and Dota2 Reborn since the beginning without any problem. After the last update, in which the option to choose between Dota2 and Reborn was removed and you can only play Reborn the problem started.

I can enter the game normally and find matches. But when I choose a hero, the problem

[2015-09-10 17:10] mwic commented on #388
Yes, I restarted all.
Full output from the terminal as this happens is:

Game update: AppID 570 "Dota 2", ProcID 5341, IP 0.0.0.0:0
ERROR: ld.so: object '/home/hack/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/hack/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wro

[2015-09-10 17:14] josephmate commented on #234
tiburcillo's advice (except I used a different PPA) worked for me but you have to becareful:

On the sudo apt-get upgrade step, you might see:

[code]

The key part is that the upgrade I wanted to do didn't happen:

[code]

You will have to:

[code]

I ended up doing:

[code]

For more information on this problem see: http://askubuntu.com/questions/501560/how-to-update-opengl-driver-on-ubuntu-14-0

[2015-09-10 17:15] davidw-valve commented on #391
What OS are you using?

[2015-09-10 17:16] davidw-valve commented on #397
Have you been able to play Dota2 before? If so when did this start occurring?

What version of OS are you using?

[2015-09-10 17:17] davidw-valve commented on #396
What locale are you using? What kind of keyboard do you have?

[2015-09-10 17:20] Shad3w commented on #397
I am using OS X Yosemite 10.10.5. I've been able to play dota 2 prior to the update forcing source two to be played as the main client, and prior to that I just couldn't play reborn due to issues #24 After Issue #24 was resolved I couldn't play because of issue #345 and now, since it's been made into the main client it won't even load.

[2015-09-10 17:33] roberdorfer opened #399 "Dota 2 segfaulting with pulseaudio"
[code]

is the exact error. It always happens when trying to open the settings in dota. I've had the exact same issue with the non-reborn version as well. It used to be fine a few months ago though.

The entire log of what happened after starting steam can be found here : http://hastebin.com/uvopulegap.vhdl

steam version: 1.0.0.50-1
kernel-version: 4.1.6-1-ck
nvidia driver version: 352.41-1
Arch

[2015-09-10 17:35] SchrodingerEquation commented on #396
My laptop has normal qwerty keyboard and I am using en_US.UTF-8 locale. Also I am playing on Ubuntu 14.04 with LXDE.
This problem is very strange because I've never noticed thing like that in other application except the reborn client.

Also some of the keys that cannot be bound like 5 can be typed correctly in the chat while others like 1 close the chat (because they are recognized the same as En

[2015-09-10 17:38] rcano commented on #347
I'd like a review of this issue, since I have a linux machine with 2880x1620 res and the cursor is the size of the head of a ranged creep, just like image posted already.
In fact, the cursor shown throughout the UI is bigger than that shown ingame for some reason.
Here is my system info:

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:

[2015-09-10 17:56] davidw-valve commented on #389
To achieve equivalent performance to the Source1 client you may have to disable some graphical settings.

The reason this is is that many graphical features were not implemented on OSX on Source1, even if they appeared to be usable from the menus. Now we have implemented them, but this means that you have to turn them off if you want performance comparable with Source1.

[2015-09-10 18:00] davidw-valve commented on #399
As far as I can see from the crash it looks like this is a crash inside pulse audio on your system when Dota2 queries its settings. Perhaps you could try disabling pulse or upgrading or reinstalling it and see if that alleviates the problem?

[2015-09-10 18:09] danslo commented on #385
Eh, not exactly fixed, but hitting 'Apply Resolution' fixes this without requiring a restart of client.

Very minor bug.

[2015-09-10 18:13] jamieguinan opened #400 "[Linux] [Reborn] Older AMD64 not supported (Illegal instruction on startup)"
Start steam from an xterm.
Dota2, Play Game...
...
/home/guinan/Steam/SteamApps/common/dota 2 beta/game/dota.sh: line 99:  6255 Illegal instruction     ${Steam_RUNTIME_PREFIX} ${GAME_DEBUGGER} "${GAMEROOT}"/${GAMEEXE} "$@"

For kicks, I tried running it under GDB,

$ gdb "/home/guinan/Steam/SteamApps/common/dota 2 beta/game/bin/linuxsteamrt64/dota2"
..
(gdb) run
Starting program: /home/guinan/Stea

[2015-09-10 18:14] elbuglione commented on #305
5% OSX+Linux = 4.5 millions of Developers an Designers
95% Windows = 100 Millions of Non Developers and Non Designers.

[2015-09-10 18:31] roberdorfer commented on #399
You're right. Removing pulseaudio and pulseaudio-alsa fixed the problem. After reinstalling the problem immediately occurs again.

edit: just found this: https://github.com/ValveSoftware/steam-for-linux/issues/3503 could that be related?

[2015-09-10 18:55] davidw-valve commented on #400
Unfortunately I don't think you will be able to play any 64 bit games on Steam using this CPU, and Dota on Linux is now 64 bit.

Thank you for your detailed report of this issue.

[2015-09-10 19:16] danginsburg commented on #392
We have tracked down the issue.  At the moment we just have a workaround, but will be working on a real fix.  This bug impacts both Linux and OSX and the crux of the problem is the game relying on the presence of the Gulim system font for Korean characters.  To workaround:
1. Go to a windows machine and copy c:\Windows\Fonts\gulim.ttc
2. On OSX or Linux, do mkdir ~/.fonts
3. Copy gulim.ttc to that

[2015-09-10 19:23] danginsburg commented on #397
Right, this is a duplicate of #345.  As far as I can tell from the reports the issue is particular to machines with HD2400/HD2600.  We are working on trying to repro.  It does not repro on similar iMacs with HD4xxx.

[2015-09-10 19:23] #397 closed, assigned to danginsburg

[2015-09-10 19:23] dpacmittal commented on #119
Happens with KDE on Kubuntu as well.

[2015-09-10 19:23] caesium1107 opened #401 "[Linux] Failed to start game (missing executable)."
The following are the solutions I tried:

-Delete appcache folder
-Verify integrity of game cache
-Flushing my Steam application files
-Opted into Beta participation
-Fresh Re-download (including Steam client)

Worked fine in Source 1. Happened since yesterday, when Source 1 was completely replaced by Source 2. Current OS is Elementary OS Freya.

[2015-09-10 19:25] danginsburg commented on #345
@Shad3w Can you run in windowed mode (use -sw command-line option) and also -con_logfile and then post game/dota/console.log here?  Also, unless I screwed up the GPU detection it shouldn't be necessary, but try adding -gl_force_sm30 to the command-line and see if it makes a difference.

[2015-09-10 19:27] elfernesto commented on #360
Experiencing the same problem. It was present from early reborn betas.

[2015-09-10 19:40] Shad3w commented on #345
@danginsburg  CreateDevice: Requested DX level 110, clamped to DX level 95
Graphics Device changed, resetting video config
(16): Setting setting.cpu_level to 0
(9): Setting setting.mem_level to 2
(10): Setting setting.gpu_mem_level to 0
(10): Setting setting.unsupported to 1
Video Card dxsupport (1002 : 94c8)
(457): Setting setting.defaultres to 640
(457): Setting setting.defaultresheight to 480
(

[2015-09-10 20:16] jamieguinan commented on #400
Thanks for the reply, davidw. Good excuse to build myself a new machine. I'll close the issue.

[2015-09-10 20:16] #400 closed, assigned to davidw-valve

[2015-09-10 20:45] davidw-valve commented on #401
What are your system specs?

Are you on a 32 bit system by chance? (Dota2 now only supports 64 bit Linux).

[2015-09-10 21:14] troughton commented on #389
Would you be able to give an indication as to what settings would need to be disabled to be equivalent to the S1 settings? In testing a little more it seems that High Quality Water and "Specular and Light Blooms" are the major performance killers - particularly the former.

Also, disregard this if you can't answer it, but is there any expectation for performance to close in on what I get under Win

[2015-09-10 22:57] codycurley commented on #337
A little update on this. I've been trying to replicate it around the map and I've figured out that it's not actually the mid tower.

The frame rate drops when I edge pan to the bottom. It's fine for the first half a second, then it will hiccup down to 15–20 FPS and then back up to normal.

[2015-09-10 23:38] jxyang131 opened #402 "After getting into REBORN. Keep getting this message when I try to get in a game or try spectating"
bool CNetworkSystem::OpenSocketInternal(int, int, int, const char *, int, bool)():
Couldn't allocate any client IP port, tried 1 addresses

please help!
heres my system information:
Processor Information:
    Model:  MacBookAir6,2
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  1300 Mhz
    4 logical processors
    2 physica

[2015-09-10 23:49] danginsburg commented on #389
@troughton On Linux with NVIDIA GL the performance is better than the same machine on Windows+DX11.  The code is essentially the same on OSX, except Mac GL doesn't support GL_ARB_buffer_storage (used to write vertex/index/constant updates to persistently mapped buffers from multiple threads), GL_ARB_vertex_attrib_binding (used to reduce switching vertex API overhead), and seems to have a poor impl

[2015-09-11 00:11] danginsburg commented on #345
Thanks this is helpful.  Can you try adding +r_frame_sync_enable 0 to your command-line?  It looks like it is getting stuck infinitely waiting for a query to return.  I also see that the texture streaming is rather aggressively evicting textures.  That is to some extent to be expected given your GPU only has 128MB of RAM, but can you try setting your Texture Quality settings to Low in the Video Op

[2015-09-11 00:58] Shad3w commented on #345
Still freezes.

[2015-09-11 01:32] magist3r commented on #396
I can confirm this.
And I found a workaround: try to press volume keys in game and this bug disappears. Anyway it is very annoying.

KDE 4.14 on openSUSE 13.2 64-bit, ru_RU.UTF-8 locale

[2015-09-11 02:01] Vuccappella commented on #389
I'm experiencing fps drops as well compared to source 1. I used to run both source 1 and now Source 2 with only the Animate Portrait and High Quality Water settings on, Source 1 I'd get a constant 120fps but on source 2 I get 70-110 and the biggest problem is it fluctuates a lot and it's not steady, I feel.

[2015-09-11 03:41] sunwoo-kim commented on #392
Oh cool. So that was the directory, not the main font one; I tried installing Gulim before but it didn't work. This way, you can make the font anything you want!

By the way, I just wanted to point out that a lot of Korean people HATE Gulim, so maybe when you're working on the fix, you might want to take note of that.

Thanks a lot.

[2015-09-11 04:39] ghost commented on #234
Thanks tiburcillo & josephmate.  For others hitting this the following worked for me:

$ sudo add-apt-repository ppa:xorg-edgers/ppa
$ sudo apt-get update
$ sudo apt-get dist-upgrade
$ sudo reboot

[2015-09-11 08:05] gxgani opened #403 "[OSX 10.11] Steam Overlay not working"
~~I just updated my OSX to El Capitan 10.11 (15A282a) GM Candidate build, Reborn doesn't launch at all~~
Overlay seems to work on S1 Engine games but not working with Reborn

[2015-09-11 08:39] gxgani commented on #403
For some very weird reason, I restarted the osx and now it seems to work.

[2015-09-11 08:53] carlosingles opened #404 "[OSX 10.10.5] Dota 2 Bot Match Settings"
When I select Practice With Bots from the Play menu it remembers all my settings except my team. When I select Random for team, leave/finish the game and return to the menu, the team defaults to whatever team was picked at random in the previous game.

[2015-09-11 08:55] BeastOutside commented on #401
If you see message with "Force Quit" and "Wait",just press wait,and game will be minimize into dock.Now,just click to "Dota 2",and your game will run.I think,this is an patheon issue,but if u do what i sayed,game works
P.S. sorry for bad english

[2015-09-11 09:24] tiburcillo commented on #234
Yeah I was in a hurry so couldn't give extended information. Basically the difference between the xorg-edgers and the oibaf ppa's is that the former generally uses the latest released Mesa GL drivers while the latter is a daily developer alpha/beta build for people that like living on the edge. :)

[2015-09-11 10:26] dracorl opened #405 "Failing to start with black screen"
Hi,
Since the last update(10.09.2015) my dota2 doesn't work. No sound, all huge **black** screen. I am using
- Intel Core i5-2410m
- Nvidia GT 540m
- Ubuntu 15.04
- nvidia-346 driver

[code]

[2015-09-11 10:27] wildtron opened #406 "[Linux] Dota 2 Reborn stuck on Black screen"
logo shows up but stops there. and tuck. then the screen goes black.

OS: Arch Linux x86_64
Kernel Release: 4.1.6-1-ARCH

Here's an output from dumps

[code]

[2015-09-11 10:29] chrylis commented on #391
I forgot to tag this one. Arch Linux.

[2015-09-11 10:30] jsynacek opened #407 "[Linux] Dota 2 Reborn doesn't start: s3tc not supported (Fedora 22)"
With:

[code]

$ rpm -q libtxc_dxtn
libtxc_dxtn-1.0.0-4.fc22.i686

$ uname -a
Linux jsynacek-ntb-work 4.1.6-200.fc22.x86_64 #1 SMP Mon Aug 17 19:54:31 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

$ glxinfo | grep OpenGL
OpenGL vendor string: Intel Open Source Technology Center
OpenGL renderer string: Mesa DRI Intel(R) Haswell Mobile
OpenGL core profile version string: 3.3 (Core Profile) Mesa 10.6.3 (g

[2015-09-11 10:52] wildtron commented on #405
are you seeing the dota 2 logo but stuck on it? if you see it as well, then we have the same issue.

[2015-09-11 10:53] dracorl commented on #405
nope just stuck on black screen

[2015-09-11 10:55] wildtron commented on #405
Is it in full screen as well?

[2015-09-11 10:56] dracorl commented on #405
Yes it's fullscreen

[2015-09-11 12:03] MS90D3V commented on #309
Annoying as hell. I like to control courier when I'm dead to pick up items at secret shop, but I cannot see a thing and I'm afraid that my lovely courier gets killed. Please fix!

[code]

[2015-09-11 12:15] danginsburg commented on #392
We have a fix for this bug on OSX/Linux that will go out in the next Dota 2 update.  It will not require or use the Gulim font.  It uses our own font.  Thanks for the bug report.

[2015-09-11 12:18] kirqe opened #408 "[macos 10.8.5] - Can't start dota 2"
After dota2 updated itself a few days ago I just can't start the game.

When I click on Dota2 in my library, the game starts and my Steam status changes to in game. But in a few seconds(1-2s) the status changes back from in game to online and nothing happens.

macos 10.8.5
gtx460se

It used to work fine before update. Fix this plz...

![screen shot 2015-09-11 at 4 26 54 pm](https://cloud.githubuse

[2015-09-11 12:20] eNormt commented on #365
Anyone find a fix that worked? Or just waiting for steam/dota update?

[2015-09-11 12:39] danginsburg commented on #405
Trying to repro this here on Ubuntu 15.04 x64 NVIDA 352.41 and not seeing it.  Can you add -con_logfile to your command line and post game/dota/console.log?  Can you also do Steam -> Help -> System Information and post that?  Please also do Verify Game Cache on the game and finally you can try launching with -sw to start in windowed mode to see if it reveals anything else.  I need to get more info

[2015-09-11 12:43] danginsburg commented on #406
Seems possibly a duplicate of #405 .  Can you provide what I asked for there:

Trying to repro this here on Ubuntu 15.04 x64 NVIDA 352.41 and not seeing it. Can you add -con_logfile to your command line and post game/dota/console.log? Can you also do Steam -> Help -> System Information and post that? Please also do Verify Game Cache on the game and finally you can try launching with -sw to start i

[2015-09-11 12:45] danginsburg commented on #407
Do you maybe need an x86_64 variant of libtxc_dxtn?  Can you try installing that?

[2015-09-11 12:53] jsynacek commented on #407
Ok, now I feel stupid... I was under the impression that since Steam needs a lot of .i686 dependencies from rpmfusion, the library shouldn't be any exception. Installing its 64bit version resolves this issue.

[2015-09-11 12:53] #407 closed, assigned to danginsburg

[2015-09-11 12:54] jsynacek commented on #407
Forgot to add... Thank you for the quick response!

[2015-09-11 13:13] eNormt commented on #408
I am having the same problem, and have tried everything to fix it, but nothing works.
I really hope they have someone trying to fix this.

If you however find a way to make it work again, be sure to post :)

[2015-09-11 13:28] danginsburg commented on #408
Are you able to update to OS X 10.9 or 10.10?

[2015-09-11 13:35] kirqe commented on #408
@danginsburg I don't think so. I'm happy with 10.8.5 and most of the apps that I need work just fine.

Should I update only for dota? :stuck_out_tongue_closed_eyes:

[2015-09-11 13:41] eNormt commented on #408
I am also using 10.8.5, because updating decreases system performances.
I decided however to upgrade to yosemite, and I am downloading it now.
I will report back once updated and tell you if it works or not.

[2015-09-11 14:06] neko-kai opened #409 "[Linux] [Reborn] Keys don't work in non-English layouts"
Switching to russian layout causes letter binds to longer work. Trying to bind a key in options results in an empty bind that doesn't work in game.

Note, that this bug was fixed a few weeks after Reborn was released for Linux, but was reintroduced again at some point.

OS: Ubuntu 14.04 LTS

[2015-09-11 14:12] amfg commented on #396
Mine might be a similar issue.
I am unable to assign keys which are right above qwerty line on laptop keyboard (numbers).
Locale is en_US.UTF-8, however I am using 'sk' keyboard layout, which has these keys mapped: +ľščťžýáíé and numbers are reached with shift.
This was not an issue in original dota2 client, which reported the keys as numbers (preffered behaviour, better than special symbols).
Not

[2015-09-11 14:14] vsethuooo commented on #386
Faced the same issue. I'm using Mac OSX. I thought this was a bug, and was using the previous version of Dota 2 (the one before Reborn). But now, since Dota2Reborn is enforced, I'm facing a problem. As soon as the game is launched, single click doesn't work. For every section/selection I've to double click. The keyboard doesn't work.

In-game: Worst game ever for me. The map doesn't scroll when yo

[2015-09-11 14:29] nekuro-dev commented on #395
I checked the console as the drops started happening, but it was empty.
Weirdly the frame rate keeps spiking down even while paused over a hero just standing in lane.
I'll be checking the windows version later today or tomorrow to see if I get the same issue there.

Edit: Tested the windows client. Same issue. Seems it's not a linux client issue - just source 2 not liking my hardware or something.

[2015-09-11 14:56] rcano opened #410 "[Linux] Cursor size on High DPI"
I have a linux machine with 2880x1620 resolution and the cursor is the size of the head of a ranged creep.
In fact, the cursor shown throughout the UI is bigger than that shown ingame for some reason.
Here is a picture:

![smallcursor](https://cloud.githubusercontent.com/assets/759769/9817877/e232c768-587b-11e5-839a-fa90c1026b86.png)

You will find the cursor above Pudge's portrait. Notice it is r

[2015-09-11 15:22] eNormt commented on #408
Updated to Yosemite, and the game is working again!
so to conclude: The new update makes it impossible to play dota 2 on mac with version 10.8.5

[2015-09-11 15:23] eNormt commented on #365
Updated to yosemite, and the game is working again!
so to conclude: The new update makes it impossible to play dota 2 on mac with version 10.8.5

to anyone who hasn't updated yet, do it :)

[2015-09-11 15:42] hummer463 opened #411 "Unable to connect to games and epic frame lag"
My client opens perfectly fine and is fully responsive. When I attempt find a game it will say "connecting" at the bottom right corner after which it will change to a "reconnect" and "leave game" button indicating i have been disconnected from game. It takes multiple tries before it even attempts to reconnect and sometime just sits in loading screen for +-10 min. The second issue is that even when

[2015-09-11 15:47] appleparan opened #412 "Dota 2 Korean Character problem"
I'm using Macbook Air 2012 and OSX 10.10.5
1. Dota 2 reborn has a big problem with Korean. I can't see any Korean character .
2. I can't type korean character neither. For 2nd problem, same problem is occurred in windows ver.

[2015-09-11 16:18] z81 commented on #396
Locale ru_RU.UTF-8 - not working q,w,e,r,...
Locale en_US.UTF-8 - not working 1,5,space
Fix it pls.

[2015-09-11 17:11] #403 closed, assigned to nobody

[2015-09-11 17:26] danginsburg commented on #352
Thanks everyone for the help in narrowing down the problem, I was able to reproduce and fix it.  The fix will be in the next update to Dota 2.

[2015-09-11 17:29] danginsburg commented on #412
Problem 1 has been fixed and will roll out in a future update, see #392 which also includes a temporary workaround until the update rolls out.

[2015-09-11 17:53] appleparan commented on #392
Please let windows team do same thing (embed your own font). Gulim = Comic Sans in Korea. Nanum Gothic is recommend (SIL OpenFont license 1.1) for korean fonts.

[2015-09-11 18:17] danginsburg commented on #408
Yes, sorry, OS X 10.9 is the minimum.  We are going to update the Steam page with this info.  Closing.

[2015-09-11 18:17] #408 closed, assigned to danginsburg

[2015-09-11 18:20] Nikitafromdota opened #413 "LoadSystemAndDependencies error in connect() GameUI011"
Pls help me! I am from Estonia and my english is bad. When i started dota 2 reborn.(Windows 8.1)
AppSystemDict: Error in Connect() of interface: 'GameUI011'!
help pls.

[2015-09-11 18:54] davidw-valve commented on #413
Has Dota worked for you previously? When did it stop working specifically?

[2015-09-11 18:58] Nikitafromdota commented on #413
Last week i downoloaded dota 2 reborn and first time i play custom games, the next day i wanted to play  dota 2 reborn but this problem AppSystemDict: Error in Connect() of interface: 'GameUI011'! i went play dota 2 not reborn and now need dota 2 reborn but... sry for my english)

[2015-09-11 18:58] danginsburg commented on #395
This is a total guess, but might the CPU be getting frequency scaled (perhaps due to heat)?  On my Intel box I do this (the last part wouldn't be relevant since you are on an Intel CPU):

#!/bin/bash

set -x

cpufreq-set -c 0 -r -g performance
cpufreq-set -c 1 -r -g performance
cpufreq-set -c 2 -r -g performance
cpufreq-set -c 3 -r -g performance
cpufreq-set -c 4 -r -g performance
cpufreq-set -c 5

[2015-09-11 19:00] danginsburg commented on #372
@blakeb155 What language do you have your computer set to?  We saw an issue in #352 that turned out to be related to Turkish language that we fixed.  I wonder if this is the same, but on OSX.

[2015-09-11 19:12] danginsburg commented on #406
I'm going to mark this as a duplicate of #405.  If you have additional details please post them there so we can collect info in one place.  Thanks, closing.

[2015-09-11 19:12] #406 closed, assigned to danginsburg

[2015-09-11 19:14] davidw-valve commented on #395
Can you please also tell us what /sys/devices/system/clocksource/clocksource0/current_clocksource contains on your system?

[2015-09-11 19:21] danginsburg commented on #365
@eNormt Yes, that is right, OS X 10.9 is the new minimum.  We updated the Steam page to reflect this.  Closing this one out.

[2015-09-11 19:21] #365 closed, assigned to nobody

[2015-09-11 19:29] headcased opened #414 "[OSX] - Have to double click everything; mouse edge pan not working; game unplayable"
I've had no problems running/playing Dota 2 previously on a MAC (Yosemite), but after installing Reborn, this game is unplayable at the moment.

The first major problem is that I have to double click on everything (and most of the time even double clicks won't register). This happens in-game as well (e.g. it takes me a good minute to succeed in double clicking on the SHOP for instance, or even to

[2015-09-11 19:30] danginsburg commented on #309
Thanks the tip about it only being at the highest video settings helped me repro it.  So I've got this repro'd on Intel HD 4000 (and clearly from reports it is also happening on Iris/Iris Pro).  It does not happen on NVIDIA GTX 650M on same Mac.  I'll see what I can do.

[2015-09-11 19:33] woctezuma opened #415 "Inconsistent behavior with shop hotkeys in dotakeys_personal.lst"
I mention the problem here: http://gaming.stackexchange.com/q/236112/3921

It might not be specific to Linux or MacOSX.

Bascially, if I want to edit the shop hotkeys, I have to resort to editing a text file called dotakeys_personal.lst in userdata. I can rebind the hotkeys for the columns, going from QWERTY to AZERTY, like this for the first column:

[code]

However, the behavior is inconsistent

[2015-09-11 19:35] davidw-valve commented on #414
When you say you have to 'double click' do you mean some clicks are simply missed?

Which Display Mode do you have selected in video settings? (Fullscreen vs Windowed etc)

Do you mean edge pan isn't working at all? Have you checked that the "Edge Pan" option is checked in the Options menu under Camera?

[2015-09-11 19:38] Nikitafromdota commented on #413
Can smb help me?

[2015-09-11 19:42] admshao commented on #389
I have to say that just the day before the merge of clients. The Linux Reborn client was so solid with constant 120 FPS(if i type fps_max 300 -> fps went to 220-240) and now after the merge it fluctuates a lot. between 110-120(fps_max 300 -> fps goes to 110-200). I know its weird. But i can provide logs if u guys teach me how to greb.

Its still way better than Win7 for my rig. Nice work!

Ubuntu

[2015-09-11 19:45] nekuro-dev commented on #395
No frequency scaling, just tested to make sure. current_clocksource is tsc

[2015-09-11 19:47] headcased commented on #414
Hi -

I have to double-click on EVERYTHING for clicks to register throughout the game. For instance, even at the home page when in game, I have to double-click to switch "tabs" (e.g. between the main page, "Heroes" tab, "WATCH" tab, CUSTOM GAMES tab, etc. etc.). When going to find a match, I have to double click (or sometimes furiously multi click)  to click "FIND A MATCH" and then furiously doubl

[2015-09-11 19:58] basedfelix21 opened #416 "[OSX] Dota 2 Doesn't start up after merging with source 2"
Opening dota 2 doesn't open up after clicking play. Has been happening with reborn before merge, now can't even open dota 2.
Specs:
Mid 2011 mac 21.5"
2.5 GHz Intel Core i5
Graphics  AMD Radeon HD 6750M 512 MB
Memory  4 GB 1333 MHz DDR3
Software  Mac OS X Lion 10.7.5 (11G63)
MiniDump:
Information:
    Model:  iMac12,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Step

[2015-09-11 19:59] ghost commented on #414
I'm having the same problem. I need to click twice on everything for anything to happen.
Examples: double clicking the settings button to open settings, double clicking on play dota to open the play dota interface.

Happens with both the touchpad and a 3rd party mouse.

[2015-09-11 20:11] vitaliy-evsyukov commented on #413
I have same problem. Symlink (which can be found in internet) didn't helped me.

[2015-09-11 20:20] headcased commented on #414
I just restarted my steam + computer and tried to play another game. Things ran more smoothly but the problems remain the same.

1) Have to double click for anything to register.

2) Edge pan doesn't work

3) Cannot type at all. (Cannot use my skills/hotkeys, cannot chat)

[2015-09-11 20:44] yemyatthu1990 opened #417 "[LINUX] Dota 2 Ingame Font Shown Up as White Boxes"
Fonts are unreadable with the shape of white boxes during Hero Selection and Ingame. Fonts on main menu are ok. Otherwise, FPS seems ok and I don't encounter other problems.  Please let me know what do I need to provide for furthur information. This happens on latest Steam Update as of now.

![Font Ureadable Ingame](https://cloud.githubusercontent.com/assets/6486696/9825710/33d37ca0-58fb-11e5-99f9

[2015-09-11 20:45] danginsburg commented on #309
A temporary workaround: disable anti-aliasing, it is the setting that is causing the problem.  I am still looking into why.

[2015-09-11 20:47] youaresofunny commented on #396
+
UTF-8 not working at public and ranked matches
Intresting that all is ok in custom maps and bot matches

[2015-09-11 21:16] ArnaudAndre commented on #411
You didn't tell anything about your setup and (perhaps more importantly) your ISP and modem/router.

[2015-09-11 21:28] caesium1107 commented on #401
Hi David. Yes, I'm on a 32 bit system, though was not aware that Dota 2 only supports 64 bit Linux currently. Is there any future update that will enable 32 bit Linux to run Dota 2 (so that I don't have to reinstall my os)? And is 32 bit Windows still being supported? Thanks.

[2015-09-11 21:34] ArnaudAndre commented on #380
conmute : you're using catalyst too right ?
Have you tried running dota on the integrated gpu ? 3rd Gen Core Graphics means HD Graphics 2500/4000 right ? That should allow you to run dota2 for a quick test, although framerate will be awful.

[2015-09-11 21:39] ArnaudAndre commented on #401
See david's answer in #18 . No plan to keep supporting 32 bit linux.
They're still building for 32 bit windows.

[2015-09-11 21:41] davidw-valve commented on #401
I am afraid that we don't have any plans to support Dota2 on 32 bit Linux going forward. The Linux ecosystem has great support for 64 bit applications and that is what most users use.

We do still support 32 bit on Windows.

[2015-09-11 21:41] #401 closed, assigned to davidw-valve

[2015-09-12 00:15] Vuccappella commented on #389
Just played today and it was actually lower (iMac (27-inch, Late 2012) 3.2 GHz Intel Core i5 24 GB 1600 MHz DDR3 NVIDIA GeForce GTX 680MX 2048 MB )) I get 30-60 fps comapred to the 120fps of source one and its constantly fluctuating :(. Same settings as source 1, graphics high, rendering high, only animated protrait on, nothing else. Is there anything i can try to attempt a fix ?

[2015-09-12 00:20] jaredmcateer commented on #380
I am also having these problems on my desktop

[code]

[2015-09-12 02:19] reportados123 commented on #241
Have you tried using the right ALT key on your keyboard? That one is the one that doesn't work for me as stated above. Everything works fine on my end if I use the left ALT key. The problem only happens when I press the alt key on the right side of the keyboard.

[2015-09-12 03:20] xubihang commented on #414
Same here! I've try every display mode and restart both steam and dota2 for several times. But the problem is still there.

[2015-09-12 03:24] rodlorric commented on #316
I got this again today, couple of things: after restarting the game it dissapears and so far it happens only spectating games, as soon as the commentator speaks.
Here is a screenshot, you can see that the triangle is not always the same size:

![Weird triangle](http://i.imgur.com/bGbMwAN.jpg)

[2015-09-12 03:59] hssm opened #418 "Japanese text does not render correctly in game"
This is a problem that carried over from the source 1 client. It may in fact be the exact same issue as https://github.com/ValveSoftware/Dota-2/issues/392 but for Japanese instead.

I am on Ubuntu 15.04 and start the game with the launch option `-language japanese`. Most text in game appears as white boxes:
![reborn_jap2](https://cloud.githubusercontent.com/assets/789082/9829741/b1dfea2a-5955-11e5

[2015-09-12 04:02] strattonbrazil opened #419 "[Linux] After latest Reborn update the game doesn't have mouse focus, displays "wait" dialog"
I'm running Ubuntu 14.04 in gnome shell.  I've been playing for a long time on the previous DOTA build using Source 1.  I've used the beta before when it first came to Linux.  That had a minor issue where it would immediately pop a dialog asking me if I wanted to wait or kill the process that wasn't responding.  If clicked on wait it would come back.

I was able to play reborn last night, but afte

[2015-09-12 04:08] strattonbrazil opened #420 "DOTA 2 Reborn - No sound followed by crash when starting game"
After the update today I have practically no sound when the application starts.  Every once and a while I'll here a sound for clicking on a menu, but not consistently and no background music at all.  I tried starting a match and the entire game crashed.  It looked like there was some texture corruption when the game was starting, which I've experienced before, too.

Processor Information:
    Vend

[2015-09-12 04:12] strattonbrazil commented on #420
After experimenting some more I see this is because of that "force quit" dialog I mentioned in issue 419.  While I can't see it, if alt-tab I see a flicker where that dialog is and if I move my mouse over it and click on the "wait" button I get sound and scrolling back again.  It all has to do with that "force quit" dialog.

https://github.com/ValveSoftware/Dota-2/issues/419

[2015-09-12 04:45] Punzx opened #421 "Macbook keyboard does not work in DOTA 2 reborn"
My macbook keyboard and other macbook (my friend's) did not work while playing the game; this problem includes skill spelling, voice talking (G), shop opening and etc. which relates to keyboard function in game. However, the chat can type normally after pressing 'enter'.

Do you have any suggestion to solve this keyboard problem? (macbook)

Please resolve this problem as soon as you notice this is

[2015-09-12 05:32] vvorlov commented on #421
@Punzx, I change the keyboard layout (language) every time when keyboard is not working. It's odd, but helps for a while.

Seems to be keyboard doesn't work after death and you should do this trick again.

[2015-09-12 06:28] jazztickets opened #422 "[Linux] Game crashes in Demo Hero mode when you click Spawn Enemy"
System Info:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/e5332271c7c37021cb5ba867b0bbeb38288d577b/gistfile1.txt

[2015-09-12 07:04] appleparan commented on #418
Korean has a same problem. It is font problem. They use Windows' font which isn't exist in Mac & Linux. See #392 and there is a temporary solution (copy fonts from Windows)

They have a huge problem in supporting CJK language (even in Windows Ver.),  I don't know why they removed 'Beta' flag in Dota 2 Reborn

[2015-09-12 07:17] hexvalid commented on #352
Now fixed in new update. Thanks @danginsburg and everyone
![2015-09-12_00001](https://cloud.githubusercontent.com/assets/4836149/9830453/5b4b6752-5937-11e5-8d34-9476b477ccfc.jpg)

[2015-09-12 07:54] khaschuluu commented on #20
:arrow_up:
Same problem in linux
Ubuntu 14.04 LTS 64-bit
5.4 GiB Memory
Intel Core i3-2328M 2.20GHz × 4 CPU
Intel Sandybridge Mobile Graphics

[2015-09-12 09:50] hummer463 commented on #411
Im with Axess and am running a 4mb line. My computers specs are:
 Processor: Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz, 3500 Mhz, 4 Core(s), 8 Logical Processor(s)
16GB RAM. 1TB storage. Router is a  N300 NETGEAR Wireless adsl2+ Modem router
model dgn2200v3

[2015-09-12 09:51] dracorl commented on #405
I installed nvidia 352.41 and now I can't open steam it gives "opengl glx extension not supported by display".

[2015-09-12 09:54] chrylis opened #423 "[Linux] New friends do not appear in "friends" box"
After adding a new friend, the "friends" box in the lobby does not update.

[2015-09-12 10:14] kirqe commented on #416
There's no dota 2 anymore. And reborn only works on 10.9 and higher.

[2015-09-12 10:49] tfhavingfun commented on #377
I can confirm this issue.

[2015-09-12 10:53] nbaztec opened #424 "[linux] Dota 2 Graphics glitch (then segfault)"
Graphics get glitched usually within 5 minutes of launching Dota 2. All icons (settings, close, etc) get bugged. Minimap and health bars get bugged.

Eventually the game segfaults (also happens at hero selection).

![screenshot from 2015-09-12 16 01 27](https://cloud.githubusercontent.com/assets/1564843/9831190/4aa92898-596a-11e5-8819-dcf1411ac19c.png)

Crash logs and dump.
https://www.dropbox.com

[2015-09-12 11:59] conmute commented on #380
@ArnaudAndre yes, i using catalyst, fglrx drivers.

When i switched to integrated graphics i started to have this isse #234 . when going back, all is ok.

More descruption about user expirience with this bug.

I will start with old dota 2, before few updates it was removed from users usage, i had such bug, i think it can be related somehow to this issue. After few matches,i had black boxes. Conect

[2015-09-12 12:19] appleparan opened #425 "Problem with input in Korean Language"
I'm using MAC OSX 10.10.5

If I entered korean language in chat, Last word is not showing. For example, Enter "안녕하세요" , then I can see only "안녕하세" only 4 characters.

Actually, Windows Ver. has similar bug, but it duplicates last word (little bit different), for example, "안녕하세요" becomes "안녕하세요" "요" like this

[code]

Temporal solution is add a space after input such as "안녕하세요 "
I think Dota 2 rebo

[2015-09-12 12:20] #412 closed, assigned to davidw-valve

[2015-09-12 12:21] appleparan commented on #392
Font issue is fixed today. it is not perfect (see #425), but anyway now I can see and type Korean.

[2015-09-12 12:23] appleparan commented on #418
Is this fixed? Korean langauge is showing well today.

[2015-09-12 14:39] ruliane commented on #424
Hello,
Having same issue here. (Linux Mint 17.1, Radeon HD 6870)

[2015-09-12 15:51] l3eamel2 commented on #414
Me too!!
yesterday, restart steam was worked, but today i cant do anything for this problem.

[2015-09-12 16:40] gdrewb-valve commented on #305
There are no plans to support the tools on anything except Windows for the forseeable future.  Valve understands that will disappoint many people but we only have so many resources and maintaining the tools across all platforms has a substantial cost. We know this is not what people using this bug tracker want to hear but that's the state of things, sorry.

[2015-09-12 16:49] gdrewb-valve commented on #13
We'll need to work with the SDL devs to try and see what's going on.

The behavior where a borderless window that's monitor-sized gets moved by the window manager is presumably by-design for the window manager and not something Reborn is doing.  Assuming you want fullscreen-like behavior hoosing desktop-friendly fullscreen is the right video option, provided that we can find out why that uses the

[2015-09-12 17:06] gipawu opened #426 "[Linux] VERY low fps (Nvidia 8600m GT)"
Before Reborn patch, I used to play fine with minimal graphic settings with 35-45 fps.
Now fps max to 15-20, and often they go down to 2-5, in main menu too.
I have a T9300 cpu and a Nvidia 8600m GT (with latest working driver 340.93). I know that my specs are low, but as I said I used to play fine before, and it is sad that now the game is really unplayable. And many others with relatively low sp

[2015-09-12 17:49] ase1590 commented on #13
I can confirm, at least on the Cinnamon desktop environment, that it appears to be an issue with either cinnamon or its windows manager: Muffin

Windowed, the game will always go to the correct monitor.

Fullscreen/borderless/desktop-friendly will go to the wrong monitor.

HOWEVER, setting the cinnamon panel to auto-hide will allow Dota to start on the primary monitor in all modes.
The same result

[2015-09-12 18:22] Pharmasolin opened #427 "[Linux] GUI. Hero tab"
1. From main menu go to Heros tab
2. Open hero grid

Don't work carry and nuker buttons.

Check screens to see what do i mean

![2015-09-12 21 17 35](https://cloud.githubusercontent.com/assets/13041082/9833687/55f86918-59a9-11e5-8686-9d5fcf7556d5.png)
![2015-09-12 21 17 54](https://cloud.githubusercontent.com/assets/13041082/9833688/58664c9c-59a9-11e5-8da9-23f456a567e7.png)

[2015-09-12 20:55] e1usion opened #428 "[Linux] [Reborn] No brightness slider"
In Windows, upon choosing "Exclusive fullscreen" option in Video tab, brightness slider appear.
There is no "Exclusive fullscreen" option in Linux client, thus there is no brightness slider. Choosing any other video option doesn't solve that problem.

OS: Archlinux x86-64
GPU: Nvidia GTX 750

[2015-09-12 21:02] Pharmasolin opened #429 "[Linux] GUI bug after server crash"
1. Play game
2. Server crashing, you are disconnected
3. You receive bug forever (until you will close and open game again) (right top corner)

Screens:
![2015-09-12 22 50 32](https://cloud.githubusercontent.com/assets/13041082/9833713/68709b82-59aa-11e5-83e3-669055e3b5c7.png)
![2015-09-12 22 51 08](https://cloud.githubusercontent.com/assets/13041082/9833714/6871cf3e-59aa-11e5-9057-01d5c978fd00.pn

[2015-09-12 21:07] Pharmasolin commented on #424
is this wiht mesa?

[2015-09-12 21:36] Frank1230 commented on #389
I originally started this thread.  I have lowered the graphics lower and it worked all right for a day or two. Today there was a small update implemented that seems to have made it worse. It's become actually unplayable; the Fps drops to 1 for a good 15 seconds at the beginning of games and is oscillating more than before. These sorts of problems never happened on source 1. I understand certain gr

[2015-09-12 22:06] withthelemons opened #430 "No "Exclusive fullscreen" option"
There is no "Exclusive fullscreen" option in video settings. This causes desktop compositor to interfere with Dota. I also cannot set brightness and Dota is very dim.

[2015-09-12 22:56] PhyFrancis opened #431 "[Windows] can't put multiple comments in "Match Discussion" panel"
Description:
1. clicke on any of my recent match
2. write something in the "Match Discussion" panel, and post it.
3. write something again and post.

Expect: I have two comments in the panel
Real: The second commented is not posted.

[2015-09-12 23:17] Pharmasolin opened #432 "[Linux] GUI main menu right courner animation hitches when carousel changes"
Right bottom corner, when searching game there is some animation, it is freezing when main slider changes picture (may be because i have HD 2000 intel and it is not enough for this, anyway reporting)
https://youtu.be/IcGbJRtfFIE?t=5
+
After i accepted offer to play, we were in lobby, but 1 don't loaded, it start to search new game and animation changed, check video below, for me it is hard to repr

[2015-09-13 00:37] Disk1of5 commented on #13
@gdrewb-valve I tweeted out to  Ryan C. Gordon @rcgordon (on github) a few weeks ago a  and he is aware of this bug has valve tried working with him to resolve this?

[2015-09-13 02:24] ase1590 commented on #13
@Disk1of5 if you set your Cinnamon panel to auto-hide, does this correct the behavior?

[2015-09-13 02:57] p-groarke opened #433 "[OS X] All is blue."
Happens in many mods.

http://i.imgur.com/ftpZTRd.png

MacBook Pro (Retina, Mid 2012)
Yosemite up-to-date.
NVIDIA GeForce GT 650M 1024 MB

[2015-09-13 03:25] Disk1of5 commented on #13
@ase1590 doing that trick does startup full screen on the correct monitor.

[2015-09-13 03:46] nbaztec commented on #424
Without mesa.

[2015-09-13 05:14] headcased commented on #421
I've been having this problem for a while, but it seems to be source to a dock issue??

I solved the problem by simply pressing "CMD+H" while in-game, and then simply going back to dota afterwards.

[2015-09-13 06:12] blakeb155 commented on #372
Hi Dan,

Have updated to 10.10.5 and can confirm the issue still persists.

OS language is set to English (Australian)

[2015-09-13 06:26] blakeb155 commented on #372
I've also noticed the buttons for Hero Selection and Random Hero are missing/incomplete as per below

<img width="1005" alt="screen shot 2015-09-13 at 4 21 47 pm" src="https://cloud.githubusercontent.com/assets/13469795/9835547/fc4c2e32-5a33-11e5-82d9-85b8bf8e48f6.png">

[2015-09-13 06:48] SHOTbyGUN commented on #13
I switched to debian and currenly using Xfce desktop environment with lightdm display manager.
No dual monitor issues are present here... Also mousegrab works as intended.

This issue sounds like that SDL devs and Linux Mint devs have to solve this together.
https://github.com/linuxmint/muffin

[2015-09-13 08:26] headcased commented on #414
Found a solution for those having the same problems as I did....

Simply press CMD + H and then go back into the game..... It was as simple as that and everything ran smoothly thereafter.

[2015-09-13 09:05] MaikuMori commented on #13
I'm quite sure the issue is as follows:

You have two resolutions:
- Max display resolution
- Available screen area (resolution minus title bar). This can be quite random and depends on title bar size and location horizontal/vertical and maybe some other elements.

Then:
- Game starts and tries to set it's window size to max resolution.
- WM detects that window can't fit primary screen and moves i

[2015-09-13 09:53] conmute opened #434 "[ubuntu 14.04] On rewind in game replay, game crashes."
Whell. Dell Inspirion 15r.

[2015-09-13 11:20] ghost opened #435 "[Linux] Fullscreen panel interference restricts edge-panning"
When running Linux in Desktop-friendly fullscreen or Borderless window at my monitors native resolution, I notice that when moving the cursor to the bottom of the screen, my panel (taskbar) gets priority over Dota 2, this results in me being unable to interact with the bottom of the screen and makes it impossible for me to play Dota 2 at my native resolution(fullscreen) as I rely on edge-panning.

[2015-09-13 12:11] filipminev commented on #309
+1 have the same bug. (Disabling antialiasing fixes it for me too)

[2015-09-13 12:41] zbstof commented on #309
Can confirm that disabling antialiasing fixes the issue for now

On Sun, Sep 13, 2015, 15:11 Filip Minev notifications@github.com wrote:

[2015-09-13 12:56] ghost commented on #198
I am running KDE, and have this issue (mouse-wheel always points up). Playing in windowed mode as fullscreen interferes with my panel and therefore does not allow me to edge-pan to the bottom.

[2015-09-13 13:21] dz0ny opened #436 "[Linux]: dota2 reborn amd foss drivers ubuntu 14.10 kernel 4.2"
Worked fine before big update this week (reborn and old client). With disabled steam sdk afc :)

It looks the problem is in bundled steam64 sdk. The trick with ld_preload of libudev, libstdc, libgcc no longer works and the message is the same one(seen before) on fresh install of steam:

[code]

[2015-09-13 14:20] quarthex commented on #359
When I add the launch option "-sw", the issue does not occurs.
I do not have the problem any more since I switched from XMonad to i3.
Maybe the way the fullscreen setting is handled with XMonad...

[2015-09-13 14:31] Forty-Bot opened #437 "Game does not draw the screen"
When dota is loaded, it does not draw the screen at all, however the cursor does change when moved over the game.  There are no menu interactions, which suggests that dota hangs during the loading process.  This is further supported because it always has around 640mb. It was loading fine as recently as yesterday (12 Sep), but I was unable to load in the evening.  I normally run dota in borderless-

[2015-09-13 14:51] budimanjojo commented on #198
How does fullscreen interferes with your panel?
It's weird because before it was fixed on me it only happened in fullscreen mode and not in windowed mode.

[2015-09-13 14:54] ghost commented on #198
How fullscreen interferes with my panel: https://github.com/ValveSoftware/Dota-2/issues/435

[2015-09-13 15:12] budimanjojo commented on #198
Did you try disabling fullscreen compositing and unredirect fullscreen on kde?

[2015-09-13 15:26] dz0ny commented on #436
Oh look someone pushed outdated libs again:

fix:

[code]

[2015-09-13 15:26] #436 closed, assigned to nobody

[2015-09-13 15:29] ghost commented on #198
I am quite new to Linux so I am not 100% sure, but I believe you might be referring to the option "Suspend desktop effects for fullscreen windows" which I do have checked. Is it possible to move this conversation to #435?

[2015-09-13 15:30] msjyoo commented on #198
I am also (still) experiencing this issue on windowed mode.

[2015-09-13 15:33] budimanjojo commented on #435
Try running this in terminal "kcmshell5 kwincompositing" and Untick "suspend compositor for fullscreen windows", then try again (in very doubt, restart "kwin_x11 --replace &")

[2015-09-13 15:42] ghost commented on #435
<code>No command 'kcmshell5' found, did you mean:
Command 'kcmshell4' from package 'kde-runtime' (universe)
kcmshell5: command not found
</code>
So after running kcmshell4 kwincompositing and unchecking the similar option in the Advanced tab, the issue was still not fixed.
![image](https://cloud.githubusercontent.com/assets/14020084/9837427/b33e1f9c-5a3e-11e5-80f1-acf5f8d9e15a.png)

[2015-09-13 15:47] budimanjojo commented on #435
Yeah, kcmshell5 is for kde 5.
Okay maybe you should wait for the respond from the Valve devs then, I only know desktop effects on fullscreen windows can cause a lot of problems on games. Good luck :)

[2015-09-13 15:57] ArnaudAndre commented on #380
Ah yes, for ubuntu 14.04 you'd need to get a PPA carrying a more recent mesa. Although with the 3rd report on this coming from a catalyst user there's even less doubt about the problem's source...

[2015-09-13 16:00] ghost commented on #435
Some folks over at reddit.com/r/DotA2 helped me realise that the issue was the fact that I had my panel set to auto-hide (which is ofcourse my preference). It seems that for now I will most likely be changing this every time that I start/close Dota 2 as a temporary fix until I can find a better solution.

[2015-09-13 16:00] #435 closed, assigned to nobody

[2015-09-13 16:01] jazztickets opened #438 "[Linux] "Cooldown" and timer text truncated on Glyph of Fortification popup"
Says "Cooldow" and is missing timer.
http://i.imgur.com/04udCmn.jpg

System info:
https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/e5332271c7c37021cb5ba867b0bbeb38288d577b/gistfile1.txt

[2015-09-13 16:02] ChrisLauinger77 commented on #368
Correct same as #198

[2015-09-13 16:04] ChrisLauinger77 commented on #366
It improved in the last update - but the commenting/reporting sounds are still really LOUD.

[2015-09-13 16:10] ArnaudAndre commented on #438
[old bug](https://www.reddit.com/r/DotA2/comments/251lje/volvo_please_fix_the_cooldow/)

[2015-09-13 16:13] jazztickets commented on #438
Which was never fixed for linux.

[2015-09-13 16:14] ArnaudAndre commented on #437
steam main app, _help_ menu, _system information_ entry, copy paste in a [gist](https://gist.github.com/)

[2015-09-13 16:15] ArnaudAndre commented on #438
you mean never fixed at all
(those kind of things are never platform specific and this one even predates reborn)

[2015-09-13 16:19] jazztickets commented on #438
Nah, it was fixed in windows a while back:
http://i.imgur.com/zN45jhO.jpg

[2015-09-13 16:38] ArnaudAndre commented on #411
I'm assuming axess in holland not south africa ? Connecting to your modem through wifi or ethernet ? Also, your OS/version may be relevant.
You can enable "_Display Network Information_" in dota2 settings, _options_, _network_ group. I suspect it would show significant packet loss.

[2015-09-13 16:44] ArnaudAndre commented on #438
My bad then. Is it correct in reborn on windows though ?

[2015-09-13 16:45] jazztickets commented on #438
No prob. Yep, both of those screenshots were taken today.

[2015-09-13 17:37] gramathy commented on #69
This is not working properly on OS X, Dota was registering notifications as if it were a different application (for some reason, WJoy+) and when I removed that application due to not using it, notifications ceased to work entirely.

I can't test it further because I've been locked out of matchmaking for a day twice in a row. I'll try reinstalling the game to see if it registers itself properly but

[2015-09-13 19:04] OlegPinchuk opened #439 "Linux Mint x32 . Missing exucatable!"
In the log i have this  -
"[2015-09-13 21:48:05] Failed running app 570 (missing executable "/home/oleg/.local/share/Steam/steamapps/common/dota 2 beta/game/bin/win32/dota2.exe")" .
.exe this is something strange, isn't?

[2015-09-13 19:05] strattonbrazil commented on #420
This doesn't happen in Unity.  I've found a decent workaround when running in gnome-shell.  If I start the app and it minimizes, I can go into the shell and kill the zenity process.  Going back into the game after that everything works fine.

[2015-09-13 19:05] strattonbrazil commented on #419
This doesn't happen in Unity. I've found a decent workaround when running in gnome-shell. If I start the app and it minimizes, I can go into the shell and kill the zenity process. Going back into the game after that everything works fine.

[2015-09-13 19:05] #419 closed, assigned to nobody

[2015-09-13 19:52] TRiedling commented on #426
Reborn is unplayable for me too. Before everything worked great.
I have intel core i5.

[2015-09-13 19:55] dracorl commented on #405
**System Information**
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  2900 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42

[2015-09-13 19:57] danginsburg commented on #416
Your system is supported, but you will need to update to OS X 10.9 or greater.  After that, it should work.  Closing.

[2015-09-13 19:57] #416 closed, assigned to nobody

[2015-09-13 19:59] danginsburg commented on #439
We can look at fixing up the error message, but dota 2 is now only supported on 64-bit variants of Linux.

[2015-09-13 20:02] danginsburg commented on #433
Does it happen in the regular game or just in a mod?  If it is a mod, can you give an example of which one this occurs on?  Also, you can make sure you are running on NVIDIA 650M using gfxCardStatus https://gfx.io/ .  I'd be curious if this happens when you switch to HD 4000 which is also on that machine.

[2015-09-13 20:02] dracorl commented on #405
it worked. I verified game cache and it worked. thank you.

[2015-09-13 20:03] danginsburg commented on #437
Can you upload one of the dump files listed in your Recent Failure Reports?  That should help us track down what is going on.  It might also be useful to run with -con_logfile and upload your game/dota/console.log.

[2015-09-13 20:05] #405 closed, assigned to danginsburg

[2015-09-13 20:06] danginsburg commented on #417
I believe you are hitting a bug that has been fixed in the mesa Sandybridge driver.  Can you update to a newer version of mesa, such as 10.6.5?  You could use xorg-edgers ppa or if you want to be a bit more risky you can use the oibaf ppa.  Thanks.

[2015-09-13 20:12] ghost commented on #414
headcased, that worked for me. Thanks!

[2015-09-13 20:13] danginsburg commented on #430
Duplicate of #428.

[2015-09-13 20:13] #430 closed, assigned to nobody

[2015-09-13 20:46] danginsburg commented on #426
@gipawu What settings/resolution are you running at?  Can you post full system specs from Steam -> Help -> System Information.  I haven't tested on that specific config, but generally the source 2 performance on NVIDIA GL Linux is better than source 1, so I'm a bit surprised it's so much worse on your machine.

[2015-09-13 20:52] Despruk commented on #377
+1

[2015-09-13 21:11] gipawu commented on #426
Here you are:

[code]

[2015-09-13 23:29] p-groarke commented on #433
Well its gone now (#ofcourse).

It happened in every mod I tested (Epic boss fights, dota strikers, bash wars). Pinging and selecting things sometimes flashed to the correct view. Dota strikers had the blue overlayed on top so it is was least playable.

Yes I am running on the 650M. If it ever happens again I'll test with the intel 4000.

[2015-09-13 23:48] Smerity commented on #417
I've upgraded the relevant mesa packages to xorg-edgers and this has fixed the issue. It'd be great if, when the system detects an older version of mesa (which is default for at least 14.04 and 14.10 - and used to be fine for DotA 2 non-Reborn), it'd tell the user that upgrading is likely to resolve graphical glitches.

For those following along at home (no warranty):

[code]

Steam then prompts y

[2015-09-14 00:00] danginsburg commented on #433
So that exact problem does happen on HD 4000 for which we punt to SM30 shaders based on GPU detect.  It is due to a GL driver bug on the OS X GL driver for HD 4000.  The GPU detect does the equivalent of running with -gl_force_sm30.  I can't think of any way that the GPU detection could fail.  If you see it again and have any other info on what might have been different, please reopen it.  I'll cl

[2015-09-14 00:02] danginsburg commented on #417
That is a good suggestion (adding a message when the user has an old mesa driver).  Thanks for posting the resolution info for others.

[2015-09-14 00:03] p-groarke commented on #433
False alarm, it is still happening. It seems I was luck on my solo mod lobby.

Tested both 650M and Intel 4000, it happens using both :/

edit: I will set my preferences to always use discrete graphics. If that fixes the issue then the game is most likely not detecting GPUs correctly.

[2015-09-14 00:10] danginsburg commented on #433
If you can figure out what conditions under which it happens or does not, it would be a big help.  I have this exact machine and have not seen this.

[2015-09-14 00:10] danginsburg commented on #433
Also, try -gl_force_sm30 on the Launch Options and see if that makes a difference.

[2015-09-14 00:17] echer opened #440 "WIN 7 64 BITS (VMWARE)"
I have intel core i5 460m w/ intel graphics hd running in vmware windows 7 64 bits, but not able to run dota 2 reborn because im was getting "Unable to find a valid Direct 3D device", but i have a "VMware SVGA 3D" video adapter, where i go to add this video graphic to the list of devices?

[2015-09-14 00:21] p-groarke commented on #433
I think I have a culprit. Setting always use discrete graphics crashes reborn all the time. A little friend called mumble overlay pops his unhappy head :)

So, when I tested earlier (and it was working), I wasn't on mumbel. So that would seem to be the problem. I only recently started using mumble overlay for Eve, oh well.

Process:               dota2 [5731]
Path:                  /Users/USER/Lib

[2015-09-14 01:09] blakeb155 commented on #372
I just verified integrity of game cache and it identified that there were almost 700mb files missing.

After updating, the bug is now fixed.

[2015-09-14 01:09] #372 closed, assigned to danginsburg

[2015-09-14 01:47] Vuccappella commented on #440
I think this is mainly an issue with vmware and not the dota2 client, I'm not sure if people can help you, and when you are running dota2 on vmware you're running the windows client for which there is the (dev.dota) forums. Running dota on vmware(or any other virtual machine) isn't officially supported from valve so I doubt they can help you, try checking in on some vmware forums or support.

[2015-09-14 01:49] Vuccappella commented on #421
I had this while swapping languages. Make sure you're using english.

[2015-09-14 01:50] Vuccappella commented on #414
I experienced something simillar when I tried changing my resolution from native (2560x1440)  to lower, once i restored to native it was fixed , it might be related.

[2015-09-14 03:28] vvorlov commented on #421
"CMD+H" isn't working for me

[2015-09-14 05:07] wildtron commented on #381
I'm also getting this blackscreen. Here's my system info

[code]

here's my console.log

[code]

[2015-09-14 10:16] wildtron commented on #405
That did not work for me..

Here's my system info

[code]

here's my console.log

[code]

[2015-09-14 10:22] wildtron opened #441 "[LINUX][Reborn] Still getting blackscreen"
Here's the information

[code]

[code]

[2015-09-14 11:08] budimanjojo commented on #356
@gdrewb-valve where are you bro?

[2015-09-14 11:31] wildtron commented on #441
here's an update of my console.log

[code]

[2015-09-14 12:10] nbaztec commented on #422
Same happens to me, except when you click to spawn at Limited Heroes selection. Game will then crash for atleast once more while reconnecting. Can reproduce this 100% of the time.

Will attach crahshlog and dump the next time I play (and it crashes)

[2015-09-14 12:16] nbaztec commented on #424
Adding to this issue - if I navigate to Armory/Store, basically anywhere which isn't "Play DOTA" button/sidemenu, the glitches will start occurring almost instantaneously. Closely followed by a segfault crash.

[2015-09-14 12:41] danginsburg commented on #418
This appears to be a different issue than what we already fixed for Korean language.  I have this repro'd on Ubuntu 15.04 x64.  Investigating.

[2015-09-14 12:48] #392 closed, assigned to danginsburg

[2015-09-14 12:49] #352 closed, assigned to danginsburg

[2015-09-14 12:59] danginsburg commented on #359
I have been able to repro that if you run in fullscreen mode or switch to fullscreen mode in dota2 with xmonad then you get a blackscreen.  Would you be willing to file a bug with xmonad on this issue?  Not sure this is really a problem with Dota 2.

[2015-09-14 13:12] gdrewb-valve commented on #356
Out for a few weeks, but I'll be back.

---

From: budimanjojo
Sent: 9/14/2015 2:08 PM
To: ValveSoftware/Dota-2
Cc: Drew Bliss
Subject: Re: [Dota-2] [Linux] Open mic causes "mic open, no sound" icon to appear constantly (#356)

@gdrewb-valvehttps://github.com/gdrewb-valve where are you bro?

—
Reply to this email directly or view it on GitHubhttps://github.com/ValveSoftware/Dota-2/issues/356#issue

[2015-09-14 13:14] danginsburg commented on #441
I have been trying to repro your issue.  You obviously have a machine more than capable of running Dota 2.  I tried installing Xfce on Ubuntu hoping maybe that was the issue, but can't repro it under that either.  I know you posted on another issue, but I can't recall: did running with -sw make no difference for you?  I just want to eliminate fullscreen being the issue as it was in #359.

The comm

[2015-09-14 13:27] danginsburg commented on #422
Maybe I am not trying to repro this correctly, but I go to "Demo Hero" mode and then click "Spawn -> Enemy" and thus far have not seen a crash.  Are those the correct steps?  Can you upload your minidump?  So far unable to repro.

[2015-09-14 13:32] wildtron commented on #441
I managed to fix it.
Steps:
1. I deleted dota 2 folder from ~/.steam/steam/SteamApps/common
2. restored using backup from another linux machine
And then it worked.
But I have another issue, clicking audio freezes the game.

@danginsburg  thanks for looking at this btw.. :D

[2015-09-14 13:35] wildtron commented on #441
[code]

this is the new output of console.log btw..

[2015-09-14 13:47] danginsburg commented on #440
As @Vuccappella says, this is not a Linux/OSX issue, so you are best off posting on VMware forums or if you want to try it, dev.dota2.com.

[2015-09-14 13:47] #440 closed, assigned to nobody

[2015-09-14 13:49] danginsburg commented on #433
Indeed, the crash looks to be in libmumbleoverlay.dylib.  Please file a bug with them, thanks for tracking it down.  Closing.

[2015-09-14 13:49] #433 closed, assigned to danginsburg

[2015-09-14 13:50] danginsburg commented on #433
By the way, for the corruption on HD 4000 (i.e. when it doesn't crash but you see blue screen), my best guess is that the Muble overlay is not restoring GL state.  If I had to wager a bet, they are disabling GL_CLIP_DISTANCE0 and not re-enabling it, but that's just a guess.  I don't know about mumble, but usually those tools work by hooking swapbuffers and injecting GL calls, which is prone to hav

[2015-09-14 14:21] nbaztec commented on #422
Okay, here's the dump. It's a segfault on hero select, then another segfault when I restart+reconnect.
https://www.dropbox.com/sh/c3iotxeprmd9os4/AAANMpugUEN1N8iYLpUNzzrla?dl=0

Steps:
Limited Heroes (on SEA server not that it matters)
Select Hero (occasionally it won't show the model when I lock it)
Click button to spawn/start game > Crash.

[2015-09-14 15:56] jazztickets opened #442 "[Linux] Combat Log Attacker/Target dropdown doesn't show names."
Text is cut off or missing:

![2015-09-14_00001](https://cloud.githubusercontent.com/assets/425930/9854602/d7023958-5ac6-11e5-95c5-77649cae7bfe.jpg)

[2015-09-14 15:59] jazztickets commented on #422
dmp file:
https://drive.google.com/file/d/0B0F0CKVMavH7S3BpWE1rWUVYdlk/view

This isn't related to limited heroes mode. This is just "Demo Hero".

[2015-09-14 17:23] davidw-valve commented on #427
I cannot reproduce this. These buttons seem to work fine for me. What exact behavior do you see?

[2015-09-14 17:28] nbaztec commented on #422
Oh my bad, @danginsburg do I keep this as is or create a new issue?

[2015-09-14 17:54] p-groarke commented on #433
That's pretty interesting :) I may have a look at it, since its open-source anyways. Thanks for taking the time to give feedback/help. You guys are outdoing yourselves for Reborn! :D

[2015-09-14 17:57] crlsgms commented on #117
I tryed the solution above, but the oibaf repo is offline for me here, even the packages are already installed:

Im using mint LMDE

[2015-09-14 18:02] hummer463 commented on #411
Im in South Africa and using the axess based here. Im using windows 10 and am connected with ethernet. After the last major patch the ability to connect and reconnect to games has been fixed but there is still a strange issue with the packet loss. I'm usually on team-speak 3 with my friends but the second i join a game my packet loss spikes to 70% and my ping goes easily over 500. The same goes fo

[2015-09-14 18:07] Amet13 commented on #117
@crlsgms what about OpenGL version?
I have:

[code]

[2015-09-14 18:24] davidw-valve commented on #439
Dota2 is now only supported on 64 bit Linux, so I will close this. We are looking at making a clearer error message.

[2015-09-14 18:30] crlsgms commented on #117
My version is older, but my system is fully updated, maybe the repos for oibaf / LMDE arent with this version yet.

glxinfo | grep "opengl version" -i
OpenGL version string: 3.0 Mesa 9.2.2

Just to documment the dota lounch via terminal:

[code]

[2015-09-14 18:50] Pharmasolin commented on #427
https://youtu.be/-gH1H29hyw0

[2015-09-14 19:06] Pharmasolin commented on #427
[code]

[2015-09-14 19:10] #439 closed, assigned to nobody

[2015-09-14 19:26] crlsgms commented on #117
Ill try this doc on installing mesa from git:

http://x.debian.net/howto/build-mesa.html

[2015-09-14 19:47] danginsburg commented on #309
I have checked in a fix for this, it will be in the next release of dota.  The problem was that we were reading from/writing to the same texture when playing the death effect which can result in undefined behavior according to the OpenGL specification.  We were also sampling that texture as LINEAR and writing it as sRGB which was problematic.  I reworked things to use a ping-pong buffer approach a

[2015-09-14 20:24] Pharmasolin commented on #432
Today i have same steps and in the result i received broken animation again.

[2015-09-14 20:39] yemyatthu1990 commented on #417
Thanks for the help @danginsburg and @Smerity . I did a mesa driver update and the graphical glitch disappeared. You can close the issue now.

[2015-09-14 20:44] #417 closed, assigned to danginsburg

[2015-09-14 20:55] Srogozins opened #443 "[Linux][Reborn]Legion Commander's biography empty"
On other heroes' About pages you see an intro paragraph, Roles section and Biography. But for Legion Commander the Biography section contains no text, only the section title.

System info: https://gist.github.com/Srogozins/93792fe50ade441130f7
Spotted this a couple weeks ago. After performing a cursory survey, this seems to occur on other Arches as well, but not on Windows machines.

![screenshot

[2015-09-14 22:22] TRiedling commented on #426
Here my specs:
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3200 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Suppo

[2015-09-15 00:01] Tele42 commented on #426
With regards to @gipawu's system specs, this is most likely caused by the 256MB of vram on the video card, with the Source 2 engine, there is a significant increase in vram usage among other things, so I am reasonably confident more of the art assets are getting pushed over to system ram compared to the source 1 version.

@TRiedling, your system does not resemble @gipawu's from a vram perspective

[2015-09-15 00:11] Tele42 commented on #381
@wildtron This issue report is closed and your system does not resemble the original post, please open a new issue report.

[2015-09-15 00:33] danginsburg commented on #309
My fix actually caused some regressions so it won't make it into the next update.  I'm still working on a fix that takes care of the regression.  The problem is well understood it's just tricky to fix without introducing any additional performance cost.

[2015-09-15 00:48] jazztickets commented on #422
Fixed

[2015-09-15 00:48] #422 closed, assigned to danginsburg

[2015-09-15 01:09] sgentle opened #444 "[OS X] Mouse lock not acquired if game is unfocused during game start"
Might be related to #212. I'm using Friendly Fullscreen on 10.10.4, and it seems the game doesn't acquire a mouse lock if it's unfocused when the lock would normally be acquired (eg during game start if the game starts while I'm alt-tabbed).

This may be by design - maybe OS X doesn't allow you to, or maybe it does something weird like snap the cursor back into the window - if so I think the appro

[2015-09-15 02:57] adriantyw opened #445 "[OSX] Game will blackout/darken when the game is paused or when during death"
![screen shot 2015-09-14 at 5 20 14 pm](https://cloud.githubusercontent.com/assets/14286360/9866672/d5f29644-5b97-11e5-9fc6-afcf87009c3f.png)

Whenever i am dead or the game is paused the game visuals will be darken/blackout. As shown in the picture.

Here is my specs
https://gist.github.com/adriantyw/f4c0f5c67212cabcd658

[2015-09-15 03:47] gramathy commented on #444
Related to #238 I think, any "unfocus-refocus" of the application fixes it, correct?

[2015-09-15 03:48] gramathy commented on #414
This seems related to the focus on launch issue #238 which results in the behavior described by headcased. Try cmd-H and then going back to the game to see if it recaptures focus.

[2015-09-15 03:51] gramathy commented on #386
Sounds like #238 to me. Try to unfocus the game with cmd-H, then go back to the game and see if it captures everything normally?

Big giveaway for this is the mouse cursor looking like the system cursor and not the dota cursor.

[2015-09-15 04:49] sgentle commented on #444
Afraid not. Un/refocus doesn't fix it, only going to the menu and back. When it's working, un/refocus also has no effect (ie it doesn't break it either).

[2015-09-15 05:06] gramathy commented on #69
Confirmed notifications are not working for me. It's not even showing up in the list of applications using notifications.

[2015-09-15 05:47] TRiedling opened #446 "very low fps (Ivybridge mesa 10.5.9 + oibaf-ppa)"
Dota reborn has very low fps. Before reborn everything was ok. Now I have 20-30fps at the start of the game. But when some action is going on it drops to 4-10 fps. Sometimes freezing for 10 or more sec when playing  matchmaking. The drop in fps also happens in local lobby or bot games.

Here my specs:
Processor Information:
Vendor: GenuineIntel
CPU Family: 0x6
CPU Model: 0x3a
CPU Stepping: 0x9
CPU

[2015-09-15 05:47] TRiedling commented on #426
ok. I opened a new fps issue.

[2015-09-15 06:39] edwinksl commented on #446
Have you tried upgrading your GPU driver using either the oibaf PPA or xorg-edgers PPA?

I am also running Ubuntu 15.04 using the latest GPU driver from the oibaf PPA but my FPS dips to 5 (from 60) periodically. I am curious if upgrading your driver helps you since it didn't really help me.

[2015-09-15 07:08] SirBlondie opened #447 "[MAC] Graphics freeze randomly during play"
Similar to problem #345, but more random, and more recoverable.

I can start a bot match, play for a random period of time, then the game will freeze. Use Ctrl+Left or Right to switch desktops, and as it switches I hear the game update, switch back, and often the game screen has gone to black, switch back and forth two or three times, and the game will recover, and I can play to the end, although

[2015-09-15 07:30] SirBlondie commented on #447
Processor Information:
    Model:  MacPro5,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2c
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  3330 Mhz
    12 logical processors
    6 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42

[2015-09-15 09:00] TRiedling commented on #446
I installed my whole system (ubuntu 15.04) new, but it didnt change anything. I will have a look in the drivers.

[2015-09-15 09:49] gipawu commented on #426
Thank you for the answer. If the problem is the low amount of ram, is there any way (console command etc.) I can reduce vram usage other that using obviously minimum graphical settings?

[2015-09-15 10:12] gipawu commented on #426
I also noticed that when I hover the mouse cursor over an hero I have almost always a fps drop.

[2015-09-15 10:52] nbaztec opened #448 "[linux] Segfault Crash upon clicking "Enter As" on Hero Selection"
Separated from #422
https://github.com/ValveSoftware/Dota-2/issues/422#issuecomment-140095723

Crashlog and dumps
https://www.dropbox.com/sh/ojk7077x3yhme0t/AACiMQ1AsRwZ_UBsYmgSCEy8a?dl=0

System Information
https://gist.github.com/nbaztec/d78ebed411a60c432f15

[2015-09-15 10:53] nbaztec commented on #424
Adding consolidated system information as per guidelines
https://gist.github.com/nbaztec/d78ebed411a60c432f15

[2015-09-15 11:52] danginsburg commented on #445
Thanks, this is the same issue as #309.  You can workaround it for now by disabling anti-aliasing.  As I mentioned in the bug there, the problem is understood and I am working on a fix.  I'm going to close this as a duplicate.

[2015-09-15 11:52] #445 closed, assigned to danginsburg

[2015-09-15 13:16] Tele42 commented on #448
This issue should also be reported to the video driver vendor.
From the newer of the two minidumps:

[code]

[2015-09-15 13:21] nbaztec commented on #448
The older minidump is while clicking "Enter As", the second minidump is from the secondary crash that almost always happens when I restart+reconnect to join the game again.
The driver is the latest one from fglrx (15.20) in trusty (14.04) repositories.

[2015-09-15 13:23] Tele42 commented on #424
This should also be reported to the video driver vendor.
From the provided minidump:

[code]

[2015-09-15 13:31] nbaztec commented on #424
I purged old fglrx packages and reinstalled again, the crash dump with latest stable driver is
https://www.dropbox.com/s/djr5xnbge5u0m8p/crash_20150915185538_1.dmp?dl=0

If you could let me know the decoded stacktrace to file a bug report to the vendor (AMD?), it'd be helpful.

Thanks.

[2015-09-15 13:43] Tele42 commented on #424
@nisheeth-barthwal yes, the new minidump still indicates a driver issue:

[code]

[2015-09-15 15:22] facupedrazzini commented on #376
Im using 1440x900 in OS X 10.10.5, and every time I restart the dota 2 I have to set Desktop Friendly fullscreen again... is the only option that isn't saved..

[2015-09-15 15:24] danginsburg commented on #418
I have a fix for this.  This problem occurred on both Linux and OSX.  Fix will be in the next release.

[2015-09-15 17:36] VelorumS commented on #316
Noticed in random video on YouTube:
https://www.youtube.com/watch?v=CcBZObf8ZHY
(Silly Builds || Speedy Silencer || Vol. 17 by JimBenDoto)

On 1:11, 6:23 etc.

[2015-09-15 17:51] davidw-valve commented on #431
The number of comments you can make is rate limited so you cannot spam with too many comments. We will most likely add a message box to communicate this better in future.

[2015-09-15 17:51] #431 closed, assigned to davidw-valve

[2015-09-15 18:12] SuperFlick opened #449 "huge latency"
I have my regular ping in reborn 110-140. but there is a huge latency like 0.7-1.5 sec. no matter if i use wifi or lan, with skype and browser or w\o.
in source1 i had low latency, but now i just cant play at all
 linux ubuntu studio x64

[2015-09-15 18:32] vitaliy-evsyukov commented on #413
Nobody gives a fuck. Very well.

[2015-09-15 18:42] davidw-valve commented on #413
Have you tried verifying your game cache? These kinds of errors often mean that the local copies of your files are somehow corrupted.

[2015-09-15 18:50] vitaliy-evsyukov commented on #413
Yes, I also reboot my PC and unplug network cable.
You can find similar problem for Arch Linux, for example, in related forums topics.

[2015-09-15 19:00] gxgani commented on #447
Is your in-game overlay working?

[2015-09-15 19:21] Pharmasolin commented on #446
https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers

sudo add-apt-repository ppa:oibaf/graphics-drivers
sudo apt-apt update
sudo apt-get dist-upgrade

Try this then reboot pc and write if it will help you.

If it will make your game worth, use:

sudo apt-get install ppa-purge
sudo ppa-purge ppa:oibaf/graphics-drivers

You will restore default mesa from Ubuntu

[2015-09-15 20:07] danginsburg commented on #448
The link to your system information is not working, but from your previous post it looks like you are on AMD 7700/7800.  Can you clarify your exact GPU or repost your system info from Steam -> Help -> System Information.  I can't repro this here on Ubuntu 15.04 x64 AMD 7950 with Catalyst 15.7 (fglrx 15.20).  I tried a Limited Heroes game and it worked fine.

Also, as @Tele42 says, the two minidump

[2015-09-15 20:12] danginsburg commented on #441
@wildtron Please file another bug on the Audio issue so we can track it separately since it seems unrelated to this bug.

[2015-09-15 20:12] #441 closed, assigned to danginsburg

[2015-09-15 20:13] danginsburg commented on #437
@Forty-Bot I haven't tested on mesa 10.4.7.  I wouldn't expect a black screen, but can you upgrade to a newer mesa such as 10.6.5 which is known good with Sandybridge?

[2015-09-15 20:14] danginsburg commented on #437
Oh, that it was loading recently points to a corrupt game cache.  Please do Verify Local Game Cache and see if it helps.

[2015-09-15 20:16] danginsburg commented on #376
@facupedrazzini What is your command-line (i.e. do you have Launch Options set?)

[2015-09-15 21:06] ArnaudAndre commented on #449
Does that also happen if you play a local bot game ? Also, how are you getting those ping readings ? (there's at least 4 different ways to get pings and they mostly disagree with each other)

[2015-09-15 21:10] MaikuMori opened #450 "[Linux] When playing in windowed mode mouse sometimes is not restricted to window."
Sometimes when the game starts the mouse is not restricted to window borders which causes you to click outside window and lose focus (especially when panning the screen).

This seems to be caused by alt-tab'ing in lobby and/or game window, but I don't have exact steps to reproduce it.

It can be fixed in-game by going to options and changing resolution or window mode.

I'm also quite sure this is

[2015-09-15 21:23] TRiedling commented on #446
i tried the oibaf ppa. I dont think it changed something for me. Maybe the drop of the fps is less often. Fps is still droping in Bot Games, when there is a lot of hero action going on to 8-10fps.

[2015-09-15 21:46] edwinksl commented on #446
Yeah, so I guess you are in the same situation as me then. Tough luck.

[2015-09-15 21:51] admshao commented on #446
Running on default nvidia-346 from Ubuntu 15.04 ppa i have a stable fps now

I tried the oiabf and xorg-edgers up to 355 and either i had high fps drops
on tema fights, camera moviments and spells casts or it blow my X-server at
all. Infinite login black screen loop that i had to go down to recovery
mode and revert to proprietary.

2015-09-15 18:46 GMT-03:00 Edwin Khoo notifications@github.com:

[2015-09-15 22:35] magist3r commented on #409
same as #396

[2015-09-15 22:36] edwinksl commented on #446
Well, OP has a Intel GPU, so I am not sure if what you did for your Nvidia GPU is directly applicable.

[2015-09-15 22:40] nlIthi opened #451 "[OSX] Game crashes after hero selection"
After the Reborn patch my girlfriend has been unable to enter a DOTA match. The dashboard loads fine, and after the loading screen the hero selection all works as predicted. But after clicking on the enter match button, the computer totally freezes. Tabbing out does not work, but the cursor keeps reacting. The sound continues as if I was in the game itself.

The things I tried:
- Reset video confi

[2015-09-15 22:50] admshao commented on #446
Yeah. Not directly. Just a chance that he might have some driver version
issue somehow. I thought it worthed a try
On Sep 15, 2015 7:36 PM, "Edwin Khoo" notifications@github.com wrote:

[2015-09-15 23:06] SirBlondie commented on #447
No, I just tried it, it does not work. Checked settings, it is enabled and on the default keybinding.

[2015-09-15 23:24] edwinksl commented on #446
Yeah, I was hoping it was a driver version issue but it doesn't seem like it is the case for Intel GPUs on Ubuntu. I am hoping Valve will at least give us some hints and tips on what we can try. We are basically their beta testers for the Linux client at this point.

[2015-09-15 23:49] danginsburg commented on #446
@TRiedling What are your video settings?  8-10fps sounds quite low for your config.  You can post game/dota/cfg/video.txt

[2015-09-15 23:52] danginsburg commented on #451
This appears to be a duplicate of #345.  The problem appears to be impacting Macs with HD 2400/2600.  I'm closing because I believe it's the same issue and we are still looking into it.

[2015-09-15 23:52] #451 closed, assigned to danginsburg

[2015-09-16 00:07] danginsburg commented on #359
I am going to close this out since it seems to be an issue with xmonad.

[2015-09-16 00:07] #359 closed, assigned to danginsburg

[2015-09-16 01:21] danginsburg commented on #448
AMD just released Catalyst 15.9 for Linux.  Can you see if this fixes the issue for you? http://support.amd.com/en-us/download/desktop?os=Linux+x86

[2015-09-16 01:22] danginsburg commented on #424
AMD just released Catalyst 15.9 for Linux: http://support.amd.com/en-us/download/desktop?os=Linux+x86 .  Please give that a try and let us know if it fixes the issue.

[2015-09-16 06:29] ramma commented on #450
This sounds like it may be related to the problems reported in issue #30, seeing as it involves input not being capture exclusively by Dota. My understanding from gdrewb-valve comment on issue #101 is that there is no true full screen in reborn (which may explain these issues).

[2015-09-16 07:52] nlIthi commented on #451
It looks like it is a duplicate. On the other hand, my game does not load at all; i don't see the map, can not proceed to my lane.

[2015-09-16 08:15] Turmfalke2 commented on #378
Got this again yesterday. I was tapped out while we were searching for a ranked party game, the moment I heard the game is ready sound the game crashed.
[106723.124815] GLRenderThread[22396]: segfault at 7f5b611e9d80 ip 00007f5f7593bf8c sp 00007f5f6aca5640 error 4 in libnvidia-glcore.so.352.21[7f5f74172000+19fb000]

[2015-09-16 10:25] nbaztec commented on #424
Awesome, the new driver fglrx-15.201.1151 runs it smooth without any crash.
Closing.

[2015-09-16 10:25] #424 closed, assigned to danginsburg

[2015-09-16 10:26] nbaztec commented on #448
Fixed with the new driver  fglrx-15.201.1151 (Catalyst 15.9)
Closing.

[2015-09-16 10:26] #448 closed, assigned to danginsburg

[2015-09-16 10:41] TRiedling commented on #446
here my settings:
There is no difference if I change the resolution.

"video.cfg"
{
    "VendorID"      "4098"
    "DeviceID"      "26671"
    "setting.cpu_level"     "0"
    "setting.mem_level"     "2"
    "setting.gpu_mem_level"     "2"
    "setting.defaultres"        "1280"
    "setting.defaultresheight"      "720"
    "setting.gpu_level"     "2"
    "setting.version"       "1"
    "setting.kno

[2015-09-16 11:07] budimanjojo commented on #450
Latest update log shown this:
Fixed an alt-tab issue on multiple monitor systems that would fail to confine the mouse upon resuming the game.
Maybe you can try again? On me it locks the mouse immediately after alt tabbing into dota 2 "when" I was ingame.

[2015-09-16 11:32] SirBlondie commented on #447
Just FYI, installed most recent update, no change.

[2015-09-16 12:29] danginsburg commented on #309
This is fixed, will be in the next update.

[2015-09-16 13:19] MaikuMori commented on #450
I can confirm that I still have this bug. I was alt tabbing while waiting for a game and then in lobby as well. When the game started the mouse was not confined. I tried to tab out and back in and it still didn't work. Had to fix it by changing resolution.

[2015-09-16 13:24] budimanjojo commented on #450
Can you post the screenshot or a short video? I'm curious :)

[2015-09-16 14:28] MaikuMori commented on #450
Grr, gif turned out too big for GitHub, here's the movie:
http://webmshare.com/play/n80zN

[2015-09-16 14:31] PimientoMoruga commented on #447
Same for me i can only play against bots and finish to freeze (i must do hard reboot), for the others the map is loading but when start i've just a map with every player disconnected and the game bring me back to the main menu.
It was working well with source and crash every time with reborn. I've verified game's files with steam (all looking allright), verified mac permissions, uninstall/reinstal

[2015-09-16 14:33] danginsburg commented on #446
You perfis definitely way below what it should be given your settings and system spec.   Can you make sure that your clock frequency isn't getting scaled?  Try for example:

#!/bin/bash

set -x

cpufreq-set -c 0 -r -g performance
cpufreq-set -c 1 -r -g performance
cpufreq-set -c 2 -r -g performance
cpufreq-set -c 3 -r -g performance
cpufreq-set -c 4 -r -g performance
cpufreq-set -c 5 -r -g perform

[2015-09-16 15:11] TRiedling commented on #446
I wrote all of your commands into the terminal.

After that I got a window with 4 frequencies, which where fluctuating between 1500 and  3200MHz.

I'm not shure if I did everything right. So here ist the output of my terminal:

torsten@Schroedinger:~$ #!/bin/bash
torsten@Schroedinger:~$ set -x
torsten@Schroedinger:~$ cpufreq -c 0 -r -g performance
- cpufreq -c 0 -r -g performance
- '[' -x /usr/lib

[2015-09-16 15:24] danginsburg commented on #446
I think you need to install cpufrequtils:

sudo apt-get install cpufrequtils

[2015-09-16 15:48] TRiedling commented on #446
I did already.
You can see it at the 9th point of my terminal output.

[2015-09-16 16:41] budimanjojo commented on #450
Okay, did you try using borderless window?

[2015-09-16 16:54] biji opened #452 "[linux] Full screen mode dont switch to lower resolution"
my desktop resolution is 1920x1080
my dota setting is 1360x768 full screen
but when playing it looks like scaled window to my desktop resolution, and lower fps
my graphic card is amd r7 m260

my workaround is running:
xrandr -s 1360x768
before playing dota, the result sharper image and higher fps

i hope dota2 can do this automatically

[2015-09-16 17:24] danginsburg commented on #347
@rcano I am unable to repro this at 2560x1440.  Would you be able to provide a picture or screenshot of the cursor in menu and in game?

[2015-09-16 17:59] ghost commented on #20
Hi @khaschuluu did this problem fix for you? I have the problem same in Debian Jessie.

[2015-09-16 18:14] MaikuMori commented on #450
Yep I encounter this in all modes - windowed, fullscreen, borderless.

[2015-09-16 18:22] MaikuMori opened #453 "[Linux] Keybinding Space doesn't work (most of the time)."
When I keybind space to quickcast it doesn't work.

When I try to keybind space the button turns blank (like there is no keybind) and ingame the keybind text is " " (blank square).

Sometimes after patches I can keybind space and it works and the text is "SPACE", but at some point it just stops working. I try to rebind it and it then is :" " and still doesn't work.

The only idea I have is that ma

[2015-09-16 19:05] onlinecco commented on #414
Same problem here. Restarting the client sometimes fixes it.

[2015-09-16 19:42] danginsburg commented on #20
@khaschuluu If you can upgrade to mesa 10.5.9+ it will fix the issue on Sandybridge.  You can use the xorg-edgers ppa or oibaf ppa if you are daring.

[2015-09-16 20:43] jaredmcateer commented on #380
I've upgraded to 14.10 and the issue persists, I'll be upgrading to 15 today and will report back whether it makes a difference (I doubt it will as it seems clear it's something to do with the AMD proprietary drivers at this point.)

[2015-09-16 21:19] danginsburg commented on #380
Yesterday AMD released Catalyst 15.9, we heard similar issues such as #424 were fixed by it.  Please give it a try and report back: http://support.amd.com/en-us/download/desktop?os=Linux+x86

[2015-09-16 23:54] rcano commented on #347
Here they are:
![dota-mouse-ui](https://cloud.githubusercontent.com/assets/759769/9921538/f21efd8a-5cb4-11e5-80cf-3e95eef8a43a.png)
and in game (the cursor is above the hero portrait):
![dota-mouse-in-game](https://cloud.githubusercontent.com/assets/759769/9921544/fcdb9738-5cb4-11e5-9d54-8107317668ff.png)

In game is slightly smaller ? (maybe an illusion due to the different style, ingame one havi

[2015-09-17 00:46] bitflip2 opened #454 "[Linux] dota_remap_alt_key "CARET" does not work"
Trying to remap the alt key in Reborn using `dota_remap_alt_key "CARET"` does not work, i.e. pressing the button afterwards while clicking on the map does not issue a ping. Other alt-combinations like `ALT + click on healthbar` are unaffected and continue to use the ALT key.

Hardware information:

[code]

This issue is most likely related to #235.

[2015-09-17 01:37] hartigan43 commented on #450
This occurs with Arch in Plasma (KDE 5) as well.  The most recent patches seemed to have make it occur less often.  Also toggling between Desktop-friendly fullscreen fixes the issue for me without having to choose a new resolution or change from fullscreen to windowed.  I can provide more information if necessary but as mentioned by MaikuMori, I also cannot reliably reproduce it.

[2015-09-17 03:56] MisterTaxman opened #455 "Korean Chat Input Bug"
There seems to be a problem with Korean chat input wherein whenever I want to delete a single chat letter, the whole character BEFORE it (along with the character it is on) gets deleted instead. For example:

If it wasn't bug it should show "안녕ㅎ" instead.

Thanks

[2015-09-17 05:25] headinthebag commented on #14
dota2 dont start. dump here:
http://pastebin.com/raw.php?i=aPJfWG70

[2015-09-17 05:31] headinthebag opened #456 "[LINUX] Dota2 dont start, xubuntu 14.04.3(64 bit)"
Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0xf
    CPU Model:  0x27
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2400 Mhz
    1 logical processor
    1 physical processor
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Unsupported
    SSE4a:  Unsupported
    SSE41:  Unsupported
    SSE42:  Unsupported

Ope

[2015-09-17 07:37] zkzipoo opened #457 "Chinese does not render correctly on Mac Reborn Client"
Model：MacBook Pro (Retina, 13-inch, Mid 2014)
OS：OS X 10.10.5

I've currently set the default OS language to be EN, steam to be Chinese and Dota 2 Reborn to be Chinese.

When in a game, most of the Chinese characters are fine but those above the hero (the one shows the players' name) are invisible. Only en ACSII characters are rendered properly (displays well) but the field for Chinese player name

[2015-09-17 09:49] letharion commented on #14
@headinthebag Wrong issue I believe.

[2015-09-17 10:54] vitaliy-evsyukov commented on #456
Start from console. Same problem? https://github.com/ValveSoftware/Dota-2/issues/413

[2015-09-17 11:32] Nostra6amus opened #458 "LINUX OpenGL failed "createContext()""
Hi,

When I run Dota Reborn it just show:

"CreateContext():
Failed to create a OpenGL context."

Quad 6400
4GB ram

Linux diver 3.16.0-49-generic #65~14.04.1-Ubuntu SMP Wed Sep 9 10:03:23 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

OpenGL vendor string: Intel Open Source Technology Center
OpenGL renderer string: Mesa DRI Intel(R) G41
OpenGL version string: 2.1 Mesa 11.1.0-devel (git-47e18a5 2015-09-

[2015-09-17 12:21] headinthebag commented on #456
Game update: AppID 570 "Dota 2", ProcID 14544, IP 0.0.0.0:0
ERROR: ld.so: object '/home/alex/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/alex/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
pid 14547 !=

[2015-09-17 12:51] danginsburg commented on #309
Fixed in 9/16 update.

[2015-09-17 12:51] #309 closed, assigned to danginsburg

[2015-09-17 12:52] danginsburg commented on #418
Fixed in 9/16 update on Linux/OSX.

[2015-09-17 12:52] #418 closed, assigned to danginsburg

[2015-09-17 13:00] danginsburg commented on #458
Indeed, the minimum Intel GPU that supports OpenGL v3.1 on mesa is Sandybridge (i.e. HD 3000-class).  Source 2 requires that as a minimum so unfortunately your hardware is not supported.  You didn't actually provide your system information, but from the brief description I think you have Intel GMA X4500 which is below minspec.  This is listed in the minimum requirements on the Steam page for Dota

[2015-09-17 13:00] #458 closed, assigned to nobody

[2015-09-17 13:21] Nostra6amus commented on #458
ty

[2015-09-17 14:01] danginsburg commented on #456
@headinthebag Can you please try doing "Verify Local Game Cache..." in Steam?  If that does not fix it, can you run with -con_logfile on the command-line and post the contents of game/dota/console.log.  Also, if it is crashing, it should write a minidump file, you can see the last one written in Steam -> Help -> System Information.  It would be helpful to post the minidump.

[2015-09-17 14:14] headinthebag commented on #456
@danginsburg dump here http://pastebin.com/raw.php?i=aPJfWG70
i do "Verify cash', its not fix. I reinstall steam with all games, i delete all config files and its not fix it.

thats dota2 errors:
Game update: AppID 570 "Dota 2", ProcID 8752, IP 0.0.0.0:0
ERROR: ld.so: object '/home/alex/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELF

[2015-09-17 14:21] Tele42 commented on #456
@headinthebag the pastebin you provided is a console log, not a dump. @danginsburg is asking for a corresponding SteamID from Steam -> Help -> System Information or a .dmp posted somewhere.

[2015-09-17 14:33] Tele42 commented on #455
Duplicate of #425.
Please add your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information to that issue report.

[2015-09-17 14:35] danginsburg commented on #457
Could you please a screenshot?  I don't speak Chinese so it would help to have the exact issue shown from a Chinese speaker.  Thanks.

[2015-09-17 14:51] danginsburg commented on #452
Duplicate of #63.  Right now "Exclusive Fullscreen" is not supported on Linux due to undesirable side effects.

[2015-09-17 14:51] #452 closed, assigned to nobody

[2015-09-17 15:46] zkzipoo commented on #457
Thanks for replying, danginsburg
Firstly, numbers and ascii characters are rendered correctly as shown below
<img width="297" alt="screen shot 2015-09-17 at 11 33 06 pm" src="https://cloud.githubusercontent.com/assets/3366892/9937759/a58ab3c0-5d94-11e5-87b6-f7bc7f98c506.png">
Secondly, if the players name contains both Chinese and English, only English parts remain
For example, the player who play

[2015-09-17 16:27] simplystic commented on #424
Can confirm. Had same problems as mentioned here, installed new drivers on my Ubuntu 15.04 at it fixed EVERYTHING for me.

[2015-09-17 16:27] simplystic commented on #380
Had same problems as mentioned here, installed new drivers on my Ubuntu 15.04 at it fixed EVERYTHING for me.

[2015-09-17 18:11] headinthebag commented on #456
@Tele42 "Recent Failure Reports" is empty. SteamID: STEAM_0:0:44565242

 File from /var/log/steam here
https://drive.google.com/file/d/0Bz2SJdz29kBXUy1KcDExb1FhakE/view?usp=sharing

[2015-09-17 18:30] danginsburg commented on #380
OK, so it sounds like this was a bug with Catalyst 15.7 that has been fixed by Catalyst 15.9.  Closing.

[2015-09-17 18:30] #380 closed, assigned to danginsburg

[2015-09-17 20:22] nixi-awoo commented on #396
My keybindings work when I use a US keymap. If I switch the keymap to CZ qwerty and start the game, it does not recognize numbers 1 to 0 (as far as I am aware). When I start the game with a US keymap and switch to CZ afterwards, the bindings (usually) work.

[2015-09-17 20:55] danginsburg commented on #345
I have a fix for this that will be in the next Dota 2 update.  The problem was a shader that was not writing the correct value to gl_ClipDistance[0].  I am actually at a loss for why it could cause a hang (because gl_ClipDistance[0] was being set to 0.0), but it could have resulted in visual corruption.  I think the fact that it was hanging was probably a driver bug.  Nevertheless, it will be fixe

[2015-09-18 00:55] Dexterlab1986 opened #459 "debian linux text display / font bug"
![instantanea1](https://cloud.githubusercontent.com/assets/14339690/9949616/be4b304e-5d74-11e5-979d-54f01cc0c8d7.png)
desde que instale reborn  tengo el siguiente problema ,  no se aprecian los nombres; de los items, heroes , el chat sale solo rayas,  el reloj tambien se ve afectado. No se a que se deba , espero su ayuda gracias

[2015-09-18 01:04] facupedrazzini commented on #376
I didn't know about that, I have: "-fullscreen"

[2015-09-18 02:57] RenanOliv commented on #50
I've done some tests and hopefully I can provide more info about this issue.

My keyboard model is a Steelseries Apex Raw and I'm using Ubuntu 14.04 LTS. As the Apex Raw has no official Linux support I'm using an utility to enable the extra macro keys named [ApexCtl](https://github.com/tuxmark5/ApexCtl).

So basically Dota 2 can't understand my keybinds at all with xmodmaped and since [it is kinda

[2015-09-18 03:21] MisterTaxman commented on #455
Dear Mods,

I have seen bug report #425 prior to submitting this one as I believe that this is an entirely different problem. This problem occurs during input (typing) while the other problem occurs during sending (hitting enter to send chat). This problem is like if I typed "This is a sentenca" and pressed backspace, the result would be "This is a" being seen on the chatbox. Note that the message

[2015-09-18 05:37] timxx commented on #457
The same problem on linux platform. It seems that dota2 uses arial font internal which doesn't support Chinese.

[2015-09-18 06:32] zkzipoo commented on #457
Have you figured out a workaround, @timxx ? I've tried to look into those configurations but failed to get a clue.

[2015-09-18 08:00] budimanjojo opened #460 "Lina Skills Damage?"
The damage dealt by Lina's skills are displayed incorrectly. Screenshot tells everything.
![2015-09-17_00001](https://cloud.githubusercontent.com/assets/13085918/9954775/ec5a000e-5e15-11e5-89e1-aa4d396de240.jpg)

[2015-09-18 08:20] zkzipoo commented on #457
![screen shot 2015-09-18 at 4 09 39 pm](https://cloud.githubusercontent.com/assets/3366892/9955081/b90a0fa4-5e20-11e5-970e-b8d5d2fae3c9.png)

seems found something here, it's about the font config of infinality which is available at https://github.com/Infinality/fontconfig-infinality/tree/master/infinality

according to the repo above, it saids I can customize my own render style, but there is a q

[2015-09-18 08:52] edwinksl commented on #460
Did you have illusions?

[2015-09-18 10:20] budimanjojo commented on #460
Yeah, I got the rune then they ganked me there

[2015-09-18 10:52] Shad3w commented on #345
I'm so glad to hear that, thank you very much, it's been annoying being unable to play my favorite game.

[2015-09-18 10:55] ghost commented on #227
@gdrewb-valve I talked to Apple they said Valve needs to update their code and that this is why they have a developer preview. OSX 10.11 is now GM so its up to Steam Team to update the steam overlay code to support the new OSX 10.11 permissions can you check the status?

[2015-09-18 12:46] danginsburg commented on #345
It didn't make the update yesterday (my check-in was too late for the release), but should be in the next one.

[2015-09-18 12:49] danginsburg commented on #376
Can you try removing -fullscreen and see if it still resets?  I think that is likely the problem.

[2015-09-18 13:15] facupedrazzini commented on #376
Works! but is ok that by default comes with that?

[2015-09-18 13:38] danginsburg commented on #376
@facupedrazzini That the default Launch Options comes with "-fullscreen"?  It doesn't.  You must have added it at some point and forgotten.  Or, perhaps you had it for Dota 2 Source 1.  The same Launch Options were used in Steam so it would have carried over.

[2015-09-18 13:47] facupedrazzini commented on #376
Its a possibility that I forgget it, thanks for the help!

[2015-09-18 13:49] xylein commented on #376
Hey @danginsburg I had been using -sw to open Dota2 till now. Today I removed it and tried, and it is working. I don't know if I was doing something stupid earlier or some of the many updates solved it, but it seems to be working fine. I have no command in the launch options and the game opens perfectly in "Use my monitor's current resolution". I think you can close the issue if you feel so.
PS: I

[2015-09-18 14:45] danginsburg commented on #376
@facupedrazzini @xylein Thanks for checking and thanks for the kind words!  I will close out this bug.

[2015-09-18 14:45] #376 closed, assigned to danginsburg

[2015-09-18 15:17] edwinksl commented on #460
That would explain it: the damage shown includes the damage done to illusions. This has always been the case as far as I know. Not sure if it is a bug or a feature to be honest.

[2015-09-18 15:20] jaredmcateer commented on #380
Confirming, upgraded to Catalyst 15.9 and my issues have been resolved.

[2015-09-18 16:01] budimanjojo commented on #460
Ok, if that's a feature then the devs can feel free to close this issue :)

[2015-09-18 17:17] threexone commented on #120
A quick update on my case : I installed the new AMD driver (15.9) as indicated in #380 . It completely solved my problem.

[2015-09-18 17:55] bxio commented on #227
Steam overlay is back up as of September 18, 2015. Freezing issue is still there, though. Every so often the game lags so badly it's impossible to see what's going on.

Ranked games have turned into a game of chance - the team who lags during fights is the team that loses.

[2015-09-18 17:59] mohsin commented on #227
Is that right? I’m on OS X 10.11 (15A282a) -- the El Capitan GM one and it doesn’t appear to work.

[2015-09-18 18:17] davidw-valve commented on #459
What locale are you using? If you set the game to use English does this problem still occur?

[2015-09-18 18:18] #460 closed, assigned to nobody

[2015-09-18 20:01] danginsburg commented on #345
@Shad3w fix has been released in 9/18 update.  Please report back if it fixes the issue for you (fingers crossed! ;)

[2015-09-18 21:25] poiuty opened #461 "ran out of networkable entities"
<img src="https://poiuty.com/img/97b7e45abb758cebcfd54521a071.png">

[2015-09-18 21:45] Shad3w commented on #345
Yep, able to play just fine now.

[2015-09-18 22:39] danginsburg commented on #345
Great, closing

[2015-09-18 22:39] #345 closed, assigned to danginsburg

[2015-09-18 23:46] danginsburg commented on #447
@PimientoMoruga Your issue should be fixed with the 9/18 update today.

[2015-09-19 01:00] chreesp commented on #414
For all of you having double click problem. When gem starts just press CMD+H to hide game, open it again from dock and it will restore focus so you wont have to double click.

You're welcome.

[2015-09-19 04:38] demaseme commented on #456
I have the same error, using Radeon R7 graphics in brand new Ubuntu 15.04 64Bit installation.

[2015-09-19 05:56] AndresInSpace opened #462 "[Windows7]Dota Freezes then Hangs Computer and Screen - No Input Responds"
Issue happens during:
Loading Screens
Hero Pick Screen
During Game Randomly
On Exiting Dota and then Opening Chrome

I am running Dota in 64bit mode with -dx11 launch option (directx11), because well the 32bit doesn't even let me play a game at the lowest lowest settings without crashing.

I have updated all my drivers couple months ago - Checked for updates and I am up-to-date.
I have my startup

[2015-09-19 06:29] gxgani opened #463 "[OSX] Crash On All Pick, Couldn't reconnect a Ranked Match (Screen Recorded)"
Just after picking a hero in a ranked match, I crashed to desktop. Tried restarting game and steam couldn't not load.  This happened right after the 2 updates that followed yesterday. It was all fine.

Here's the screen record:  http://webm.host/bccf3/vid.webm

PS: I don't know why but the clicks were not registering when I was recording the screen using Quicktime's built in function.

[2015-09-19 06:30] gxgani commented on #463
When I tried to reconnect some time later, I crashed again.

[code]

[2015-09-19 09:03] gxgani commented on #463
After a reboot, Tried finding another game.

Low Priority Issued.
![](http://i.imgur.com/8MQfycj.png)

[2015-09-19 09:18] RichardAnthoyFalzini opened #464 "mouse button 8, 9 and 12 mapping not working on dota 2 game"
I'm trying to get my RAT 5 mice working with custom actions associated to buttons 8,9 and 12.
Specifically, I would like to use these buttons in order to emulate some keyboards keys (x,c and z) in
Dota 2, I've tried two methods:
1) using xdotools (launched by xbindkeys) i launch xbindkeys with this .xbindkeysrc config file:

[code]

2) using imwheel whit this config file:
this is my startup.conf l

[2015-09-19 10:02] suptimal commented on #395
tsc i have framedrops too

[2015-09-19 10:20] gxgani commented on #463
Crashes have become too frequent. Another crash during finding a match trying to watch a live tournament.

[code]

[2015-09-19 10:20] PUPAS opened #465 "Button does not work "cmd" and "alt" on MAC."
Hello friends. I'm sorry for the mistakes immediately, writing through Google translator.

Button does not work "cmd" and "alt" on MAC.

I always use the buttons in the game. DotA 2 everything was fine. After the reborn they simply are not working. I saw people complaining. But to solve the problem could not find.

Many buttons on mac just stopped working. Sometimes people play with Apple computer

[2015-09-19 10:49] dayvough commented on #391
This is happening to me as well on Mac 10.10 on a Mid-2012 15" MBPr. Right click-ing finds the correct game.

But there's another bug that crashes the app when viewing friends games. (I've still yet to find an issue in the issues before creating a new one.)

[2015-09-19 12:50] Turmfalke2 opened #466 "segfault when spawning"
hi,
After the update yesterday I and a friend of mine crashed the moment we joined the map after picking was over.

dmesg has to say the following:
[365855.036089] dota2[11514]: segfault at 7ffee3ac5573 ip 00007f934995e44a sp 00007ffee3abd5a8 error 4 in libc-2.20.so[7f93498db000+18d000]

[2015-09-19 13:04] Shchvova opened #467 "[Mac] OS X: Game shortcuts doesn't work in another language"
None of the abilities or other shortcuts work if keyboard layout is in other than english layout. This make game practically unplayable if you trying to chat in other than English. Potentially clone of #421

[2015-09-19 13:07] PimientoMoruga commented on #447
Fixed, thx a lot.

[2015-09-19 13:09] gxgani commented on #466
Same bug, https://github.com/ValveSoftware/Dota-2/issues/463

[2015-09-19 13:09] Tele42 commented on #462
This issue tracker is explicitly marked for the Mac and Linux clients of Dota 2, please use the Dota 2 dev forums (http://dev.dota2.com/forumdisplay.php?f=3) for issues with the Windows client.

[2015-09-19 13:13] Tele42 commented on #461
@poiuty that's a really neat screenshot, please try to be more verbose with your issue report as requested at https://github.com/ValveSoftware/Dota-2#reporting-issues.

[2015-09-19 13:47] SirBlondie commented on #447
Unfortunately my issues remain. Is there any further information I can provide?

[2015-09-19 14:05] AndresInSpace commented on #462
Oh,  my bad. Didn't realize.
However I have tried registering on dev.dota2.com  for past couple days, to report my issue, but it throws an error and does not work...
Furthermore I posted in steam dota discussions forum, but you guys never reply or even read those.
Can you please communicate to the window team about their registration error for their website? Thanks,  I'll just just remove/close th

[2015-09-19 14:37] Dexterlab1986 commented on #459
Hi  @davidw-valve  le puse  todo el entorno de steam y  del juego en inglés, pero presenta el mismo, error, sigue lo mismo

[2015-09-19 16:00] gxgani opened #468 "[OSX} Storm Spirit Permanent Lightining Form"
http://webm.host/06dcd/vid.webm

[2015-09-19 20:07] p-groarke opened #469 "[OS X] Game crashes on start."
This is the error message. Much sadness was had :(

Error
void CVfxStaticComboData::Unserialize(CUtlBuffer &, const CVfxProgramData *, VfxProgram_t, uint64, IRuntimeShaderCreateCallbacks *, ICompiletimeShaderCreateCallbacks *, bool)():
Expecting compressed combo data

[2015-09-19 20:13] p-groarke commented on #469
Verifiying integrity of cache fixes this.

[2015-09-19 21:17] kosarasok opened #470 "[LINUX] Dota 2 Reborn Will Not Launch"
Dota 2 will not launch since the switch to Reborn. The 'Preparing to Launch' dialog box appears for a few seconds, disappears, and Dota 2 syncs to the cloud even though it never launches. I've launched with -autoconfig and -safe to no avail. I've deleted the steam appcache folder to no avail. I've tried steam --reset in the terminal to find the attached bootstrap error. System specs and gdb are al

[2015-09-19 23:56] michaelkclements opened #471 "[OS X] Watching & Queuing crash in El Capitan Public Beta"
I had been playing Reborn since the first El Capitan Public build came out a few months ago now and I thought finally Dota was playable without worrying about crashes. Never really experienced it on a regular occurrence like the Source 1 Dota did; until now.

I had just been watching a few games (after a few weeks break from playing Dota) and it started crashing fully. Kept doing the same thing an

[2015-09-20 07:40] jeanlain commented on #238
I'm having this issue as well, as every launch. It's as if the game wasn't the front app, even though it takes the whole screen. At launch, the cursor isn't updated, clicks aren't registered and the music doesn't play. I have to cmd-tab out and back to bring the game to the front. I'm using-user friendly fullscreen.

[2015-09-20 09:55] andrebower opened #472 "[OS X] Multiple Monitor Support"
In the old Dota 2 client it was possible to use one screen for gaming and the other screen for browsing etc. Now the game is minimized when switching to other screen OR if you disable the desktop friendly mode, the mouse can leave the game area even when focused (not playable with this setting).

PLEASE fix that asap. Most annoying new "feature" of the new client.

[2015-09-20 10:24] Srogozins commented on #443
Just discovered that Omniknight has got the same issue. Not sure for how long this has been so either.

[2015-09-20 10:57] michaelkclements commented on #471
The latest patch may have fixed the issue. Will keep checking.

[2015-09-20 11:23] RSevumyan opened #473 "Keyboard problems on Dota 2 Reborn Linux version."
Hello. I have some problems in Dota 2 Reborn. When i launch dota 2 in russian language, keyboard does not works except for numbers, space, return and other specific buttons. When i launch dota with english keyboard, Space button does not works, button 1 works as RETURN. It is serios problem for me, because i use 1 2 3 4 for spels. I have waiting for some patсh for two month, but it seams patch wil

[2015-09-20 11:32] ArnaudAndre commented on #472
Have you already unchecked the "Desktop-friendly fullscreen minimizes on focus loss" option ?

Also, at least on linux, you can force dota to grab the cursor by clicking the top-left arrow to go to the menu then again to go back ingame.

[2015-09-20 11:37] Srogozins commented on #443
Ditto for Oracle and Shadow Demon.

[2015-09-20 12:01] Tele42 commented on #472
On linux, it's possible to set this launch option `SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0 %command%` to override this behavior as well with any SDL2-based game.

[2015-09-20 12:11] Tele42 commented on #470
"Program received signal SIGILL, Illegal instruction." is telling you the application tried to use a cpu instruction that your cpu does not support.

[2015-09-20 12:15] titeo1998 opened #474 "Display issue"
Please help me to fix this bug
Some skills and effects don't display as fully as usual. Such as: Bloodseeker 2nd skill, Pugna, Eye of Skadi effect, Phoenix,.. I am using Intel HD Graphics 4000

[2015-09-20 12:16] Turmfalke2 commented on #468
I have the same issue with linux.

[2015-09-20 12:18] titeo1998 commented on #474
Here is the picture of this bug: http://postimg.org/image/dw1t5cp6n/
It was normal in the old Dota 2

[2015-09-20 13:38] khaschuluu commented on #20
@el4tomo no. If I did, I'll notice you ;)
@danginsburg thank you for your reply. I can't install mesa in my system caused package dependencies problem. And when I tried to install from source code, problems was appears that I can't fix. I need to upgrade my system version to Ubuntu 14.10 or higher, I guess. Wasting time on that.

[2015-09-20 15:01] gxgani commented on #363
Can we have the "Bounce to Alert" back? Since the latest update, I've stopped getting notifications from the game, sound alert as well (Desktop sound alert has been enabled".

Got 2, 24HRS BAN due to this and longer matchmaking time issue.

[2015-09-20 16:16] kosarasok commented on #470
Thanks for the response.
Is that an issue on my end? Dota 2 Reborn runs through wine, but I would much rather use the native Linux version.

[2015-09-20 16:17] Tele42 commented on #474
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

[2015-09-20 16:26] Tele42 commented on #470
@kosarasok, there is no action you can take on your end, either the fallback path for whatever unsupported cpu operation is implemented or not on valve's side. It may be helpful to a valve dev if you include a CrashID or minidump that corresponds to the issue. If things are working as they should, these can be found in your system information (https://github.com/ValveSoftware/Dota-2#system-informa

[2015-09-20 19:50] ageisen2000 commented on #450
This is still an issue for me (Ubuntu Gnome). My workaround currently is to open the main menu again from in game (top left corner) and then go back into game.

[2015-09-20 19:56] michaelkclements commented on #471
Nope. It seems it happens when I'm watching a game and finding a game at the same time.

[2015-09-20 19:59] ChrisLauinger77 opened #475 "[Linux] Game starts always on the right screen in multimonitor setup"
Dota 2 reborn always starts on the right screen (which is the primary in my setup) even when Steam Client is on the left screen.  And then it minimizes after the start.  Maximize will put it again on the right screen and I need to manually move it to the left.
I use Debian stretch. Gnome-Shell 3.16.
Dota 2 classic did always start on the screen where the steamclient was opended.

[2015-09-20 22:39] Plagman commented on #470
Hi,

The first generation of Athlon 64 processors isn't supported for 64-bit applications on Steam for Linux; we're working on making it clearer rather than just crashing at runtime. Since Dota 2 Reborn does not have a 32-bit client on Linux, you will not be able to play it on this system.

[2015-09-20 23:50] kosarasok commented on #470
Thanks both of you.
@Tele42 Unless I'm completely misunderstanding the crashids and minidump, there is no crashid since I cannot get the game to start. I start Steam via terminal, hit play on Dota 2 and nothing happens in the terminal. Every other game works properly and shows the run processes. Dota 2 gives me nothing.  In the same vein, I cannot get the minidump because the Dota 2 process never

[2015-09-21 03:05] Plagman commented on #470
Dota 2 Reborn has a 32-bit executable option for Windows, which explains why you can run it through Wine. Steam for Linux requires the CMPXCHG16B instruction to support 64-bit applications, which is not supported by the first generation of Athlon 64 CPUs.

[2015-09-21 03:09] kosarasok commented on #470
Good to know. Thank you.

[2015-09-21 06:04] timxx opened #476 "[Linux] Please build SDL2 with IME supports"
Since dota 2 reborn upgrade SDL2 to **2.0.4**, it should supports input method for **IBus**.
Just install the ibus dev and dbus dev headers, and run autogen.sh && configure, if all goes fine, you should see **Using ibus : YES**

I made a patch supports both fcitx and ibus: https://github.com/timxx/SDL-fcitx, (fcitx dev headers is needed).

P.S. There are some bugs on typing Chinese chars, sometime

[2015-09-21 10:18] lithiumcool commented on #473
Same problem here, but on MacOS Yosemite
Unable to use keyboard for spells when language is set to russian.
Have to change language to english and then it works fine.

Dota 2 Source 1 worked like a charm.

[2015-09-21 11:52] danginsburg commented on #463
@gxgani This should have been fixed by the 9/19 update and was not Linux/OSX specific.  Can you confirm this is not happening anymore?

[2015-09-21 11:53] danginsburg commented on #466
Should have been fixed by 9/19 update, duplicate of #463.  Closing.

[2015-09-21 11:53] #466 closed, assigned to nobody

[2015-09-21 11:54] danginsburg commented on #469
Glad to hear that fixed it, closing.

[2015-09-21 11:54] #469 closed, assigned to nobody

[2015-09-21 11:54] danginsburg commented on #475
You can use -sdl_displayindex 1 to have it open on the other screen.

[2015-09-21 12:01] danginsburg commented on #462
My first suggestion would be to update to Catalyst 15.7.1 because you are running Catalyst 14.12 (http://support.amd.com/en-us/download/mobile?os=Windows%207%20-%2064).  I will also pass along the registration info about dev.dota2.com.  We do monitor those forums closely.  Closing because this is not a Linux/OSX-specific issue.  Thanks.

[2015-09-21 12:01] #462 closed, assigned to nobody

[2015-09-21 12:05] danginsburg commented on #474
As @Tele42 says, we are going to need more info to repro.  Please post your system information.

[2015-09-21 12:10] danginsburg commented on #470
Closing this out since it is a known issue with Steam for Linux on Athlon 64 CPUs.

[2015-09-21 12:10] #470 closed, assigned to nobody

[2015-09-21 12:13] danginsburg commented on #447
@SirBlondie If you could run with -con_logfile and provide game/dota/console.log that would be helpful.   I am going to get a HD 7950 for my MacPro 3,1 which I used to repro the ATI 2600 problem to see if I can repro your issue.

[2015-09-21 12:16] gxgani commented on #463
I wish I could. https://github.com/ValveSoftware/Dota-2/issues/363#issuecomment-141793953

[2015-09-21 13:08] danginsburg commented on #472
@andrebower Are you seeing the mouse leave the game area during actual play or just on the main menu? I only see it leave the game area when in the main menu.  From my testing on a dual monitor Mac, if you set "Desktop Friendly Fullscreen" and then disable "Desktop friendly minimizes on focus lost" it gives you the behavior you would want.  The mouse is captured when in game and you can CMD-Tab an

[2015-09-21 13:17] danginsburg commented on #471
The crash pictured in the far right was fixed by the 9/19 update.  The other three crashes in your screenshot are different.  Please post Steam -> Help -> System Information.  Also, if you could provide either an upload of the minidump file from a crash or your Steam ID we can take a look at the crash in more detail.  If you run with -con_logfile and provide game/dota/console.log that may provide

[2015-09-21 13:20] danginsburg commented on #120
Thanks, closing.

[2015-09-21 13:20] #120 closed, assigned to nobody

[2015-09-21 13:28] SirBlondie commented on #447
No problems, will look to collect that for you, and I realise that I probably have a fairly rare system, so understand if it get's too hard to debug.

I'm actually a little suspicious that it might be an OS X issue rather than on your end, but it's certainly was the case that swapping between DOTA2 and Reborn prior to the change over, I had stability issues with Reborn that kept me on the older ve

[2015-09-21 14:57] Tele42 commented on #470
For posterity, this can be checked by running `cat /proc/cpuinfo` and looking for the `cx16` flag.

[2015-09-21 18:16] michaelkclements commented on #471
System Info - http://pastebin.com/raw.php?i=X8yDdtLz
Crash log just now after clicking to join a 10v10 Custom Game then quickly watched the first item in the watch tab while still in queue. Pretty much insta-crash - http://pastebin.com/raw.php?i=XYfTXTsX
Console log - http://pastebin.com/raw.php?i=ZY4mJfhj

Hope that helps.

[2015-09-21 18:31] Turmfalke2 opened #477 "segfault when watching a replay"
hi,
I just opened a replay from my last match and the game directly crashed.

dmesg:
dota2[9083]: segfault at 128 ip 00007f8a47832241 sp 00007ffd84bdc150 error 4 in libengine2.so[7f8a4748c000+b01000]

[2015-09-21 19:01] Turmfalke2 opened #478 "segfault when changing ttys"
hi,
Every time I change to another tty (ctrl+alt+f2) and back again (ctrl+alt+f7) the game crashes.

dmesg:
[617507.189978] dota2[9992]: segfault at 7f4d5d9fe000 ip 00007f4d5360bf0d sp 00007fffa77f8200 error 6 in libparticles.so[7f4d53382000+4e9000]

Is there anyway I can help you with locating all these segfaults?

[2015-09-21 19:41] ChrisLauinger77 commented on #475
-sdl_displayindex 2 did the job - ty !

[2015-09-21 20:08] danginsburg commented on #457
I have this repro'd here and understood.  We are looking into a fix.

[2015-09-21 20:20] danginsburg commented on #475
Great, closing.

[2015-09-21 20:20] #475 closed, assigned to nobody

[2015-09-22 02:17] zkzipoo commented on #457
thank you and looking forwards to a solution

[2015-09-22 05:19] Bugscz commented on #473
Same problem - Ubuntu 15.04 64bit. When I use Czech (QWERTZ) keyboard I cannot set up nor use number keys 123456789 below F keys on keyboard. Only 1 (+) key can be binded... When I switch to EN keyboard, number keys works great. This issue is since Dota 2 Reborn Linux client was released. Dota 2 Source 1 was working without this glitch.

[2015-09-22 05:54] Plagman commented on #478
Are you using the NVIDIA binary driver? There is a known issue with that driver, where buffers will get discarded on VT-switch and mode-switch, and pointers to previously-mapped buffers become invalid. I recommend reporting that bug on their forum instead.

[2015-09-22 07:03] andrebower commented on #472
i will verfiy my setting later that day and let you know!

[2015-09-22 07:26] Turmfalke2 commented on #478
Yes, I am using the nvidia binary driver, going to look into reporting that to them.

[2015-09-22 08:51] gxgani commented on #468
I've also observed pugna's "Life Drain" visual on Nightstalker permanently.

[2015-09-22 09:36] gipawu opened #479 "FPS drop when hovering mouse over an hero (Fedora NV 8600M GT 340.93)"
As title says. The fps come back to normal when i move out cursor from the hero.
My specs:

[code]

[2015-09-22 09:40] Azazelium opened #480 "Display mode in a window without frame! iMac 27."
When setting the display window without a frame , while playing the cursor jumps to the desktop. Please correct the mistake !

[2015-09-22 12:11] NotUrien opened #481 "[Mac] Graphical errors in game and menu, no audio, or sound"
Visual effects appearing as checkered error boxes instead (even those in the menu/UI outside of the game). In one game Sand King (and placed observer wards) appeared to me as a bunch of orange letters that I couldn't click on. There isn't any specific thing I am doing the game just appears this way to me.

Controls aren't as responsive I have to order my hero 2-3 times for them to respond.

![5fhl

[2015-09-22 12:14] danginsburg commented on #481
@NotUrien These symptoms strongly suggest a corrupt game cache.  The red wireframe is our error shader which loads when a .vcs file fails to open.  Please try doing Verify Local Game Cache from Steam.  If that does not fix it, please run with -con_logfile and post the contents of game/dota/console.log.

[2015-09-22 12:17] danginsburg commented on #478
You can also try running with -gl_disable_buffer_storage in the Launch Options which disables the engine's use of persistently mapped buffers to see if it works around the issue.  As @Plagman said this is a driver issue though so I am going to close this issue.

[2015-09-22 12:17] #478 closed, assigned to nobody

[2015-09-22 12:20] danginsburg commented on #479
Can you try bringing up the in-game console and seeing if anything displays in it when the FPS drop occurs?  If so, please run with -con_logfile and post the contents here (game/dota/console.log).  How significant is the FPS drop?

[2015-09-22 12:49] SirBlondie commented on #447
Console log attached.

Matt.

[2015-09-22 12:51] danginsburg commented on #480
Mouse is captured in borderless window mode once you enter the game, just not in the main menu.  Is that what you are seeing?  If so, this is by design and consistent with the behavior on Windows.

[2015-09-22 13:10] danginsburg commented on #447
I am not seeing the console log, could you try to post it again?

[2015-09-22 13:35] SirBlondie commented on #447
Odd, sent folder email definitely has it attached. Perhaps zipped files stripped on server?

Attaching uncompressed.

[2015-09-22 14:10] gipawu commented on #479
No messages in console. Fps drop from 35-40 to about 10-15.
I forgot to specify that the trouble does not happen always for all heroes in game, apparently random, but then is constant for those specific heroes for all game duration.

[2015-09-22 14:34] Tele42 commented on #478
nVidia has been aware of this for a very long time. If my memory is correct (please check), nVidia's blob has no way to track or influence the various generic framebuffers available to drive a VT. As far as I know, there is no fix coming. nVidia would need to implement a framebuffer for the VT which shared information with the blob driving the gui and convinced people to exclusively using it with

[2015-09-22 14:43] Tele42 commented on #447
@SirBlondie you're posting to an issue tracker via an email interface, not a mailing list. Please use a pastebin to attach logs (https://gist.github.com/ is the recommended default).

[2015-09-22 14:55] NotUrien commented on #481
I verified game cache and just had my first reborn game, and it was completely bug free and ran perfectly. My hero <3

[2015-09-22 15:04] danginsburg commented on #481
Great, closing.

[2015-09-22 15:04] #481 closed, assigned to danginsburg

[2015-09-22 15:09] danginsburg commented on #457
Fixed.  The fix will be in the next Dota 2 release.

[2015-09-22 15:36] andrebower commented on #472
Well it does work with these settings but only if I apply them in an actual game! Configuring while in main menu did not work for both (menu and game)

[2015-09-22 17:10] danginsburg commented on #472
Can you please provide exact repro instructions?  I am not seeing this behavior.

[2015-09-22 19:43] danginsburg commented on #479
I presume this is when you mouse over a hero and see the glow effect?  I can see that causing a framerate hit because it does cause extra GPU work, although I am surprised it would be such a big hit on your hardware.  Can you post your dota/cfg/video.txt contents?

[2015-09-22 21:08] gipawu commented on #479
Yes, I mean the glow effect. However the glow effect on creeps or buildings (not heroes) does not cause any issues.

Here my video.txt:

[code]

[2015-09-22 22:50] magist3r commented on #421
Same as #396

[2015-09-22 23:17] Tele42 commented on #479
With 256MB of vram, it's possible some things are getting pushed over to system ram to cause this perf hit.

[2015-09-22 23:57] roman-holovin commented on #388
Same here, steam installed on btrfs filesystem, which can be a cause of the problem. When I'm launching steam, it verifies itself and I see that every link under .steam directory became valid, but as soon I'm trying to lauch Dota in steam, all links became broken.

Output when links are valid

[code]

Output when links became broken

[code]

**Update**
I blocked .steam folder with immutable flag (

[2015-09-23 00:11] danginsburg commented on #437
I am at a bit of a loss on what is happening here.  The console log does not have anything obvious in it.  If there was a crash, we could look in a minidump, but without that there isn't anything obvious.  I tried building mesa 10.4.7 on Ubuntu from source and testing it with Dota 2.  Aside from the issue that existed in #55 with shadows flickering, it runs fine.

You could try running with -gl_di

[2015-09-23 00:16] danginsburg commented on #457
The fix is in the 9/22 update.

[2015-09-23 00:59] appleparan commented on #455
Actually this issue tracker is only for mac & linux ver.

[2015-09-23 02:17] zkzipoo commented on #457
Thx, I will comment here if it is solved. Really appreciated.

[2015-09-23 04:47] SirBlondie commented on #447
Apologies, uploaded log file to gist.

https://gist.github.com/SirBlondie/267f7a9cbcd1e98456ee#file-console-log

Matt

[2015-09-23 11:13] andrebower commented on #472
Every time i start dota2 i have to apply the settings you mentioned while in a match to  prevent the mouse from leaving the monitor with the game. Maybe this is because after pressing apply and close+reopen settings the toggle button goes back to "Use monitors current resolution" ??

[2015-09-23 11:23] SirBlondie commented on #447
Suspect I have figured it out. Looks like notifications coming in while DOTA2 is running, are causing it to hang. I’ve now had hangs while sitting at main menu. Turned off notifications, and played through the first game in ages with only minor, half second pauses.

Will explore some more but thought I should pass it on.

Matt.

[2015-09-23 13:28] presianbg opened #482 "Emoticons missing"
Hello,

My TI4 Emoticons are missing since last night :(

[2015-09-23 14:48] Shad3w opened #483 "[Mac] Timing out when heroes load in"
Whenever I enter a match, everything will run fine, but when the heroes load into the map, there's a giant lag spike that will usually time me out.
Edit: system information
Processor: 2.4 GHz Intel Core 2 Duo
Memory: 6 GB 800 MHz DDR2 SDRAM
Graphics: ATI Radeon HD 2400 XT 128 MB
OS: Mac OSX Yosemite 10.10.5
early 2008 IMac

[2015-09-23 15:35] Tele42 commented on #483
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

[2015-09-23 18:20] #482 closed, assigned to nobody

[2015-09-23 18:20] presianbg commented on #482
Don't know how, but they are back.

[2015-09-23 20:34] austusross commented on #105
Better to link outside steam directories so cache is not corrupted.

sudo ln -s /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.0

[2015-09-24 00:39] danginsburg commented on #457
I'm going to close this out, it should be fixed for you.  If not, let me know and I can repoen it.

[2015-09-24 03:03] zkzipoo commented on #457
Hey @danginsburg , it seems the problem still exists, just as I've posted before.
I will post some specs of my computer.

### computer and os

#### ![image](https://cloud.githubusercontent.com/assets/3366892/10064149/0c2b1ff8-62a8-11e5-9477-5b495f6d2586.png)

### language

#### ![image](https://cloud.githubusercontent.com/assets/3366892/10064162/28cbc39c-62a8-11e5-8c4b-f8204c5191d8.png)

### dota2

[2015-09-24 06:27] Asm0d3us commented on #473
Same problem on Arch Linux ( Linux 4.1)
Sometimes all keys except "Enter" no longer work until restart dota.

[2015-09-24 07:48] SirBlondie commented on #447
Actually, spoke too soon. Still having regular pauses, but they’re about 5 to 10 seconds, rather than 20 as they have been.

Matt.

[2015-09-24 09:29] Turmfalke2 commented on #477
The bug still exists, just had the crash again:
dota2[10042]: segfault at 128 ip 00007fad87d11241 sp 00007ffda3dcf3b0 error 4 in libengine2.so[7fad8796b000+b01000]

[2015-09-24 12:30] danginsburg commented on #457
Can you do me a favor, can you try running with -language schinese on the Launch Options and see if it works?

[2015-09-24 12:39] zkzipoo commented on #457
It works this time by adding the launch settings.
But it is still bit weird when showing Chinese Characters. The font size seems unequal.
![image](https://cloud.githubusercontent.com/assets/3366892/10073516/16242cee-62fc-11e5-81c0-667addefa423.png)

But in all, this was a big help and really appreciated.

[2015-09-24 13:25] danginsburg commented on #457
The problem is to do with the way the code is detecting language.  I will keep this open until I fix that issue.

[2015-09-24 13:28] zkzipoo commented on #457
thanks

[2015-09-24 15:05] alexanderhou opened #484 "[bug][linux][ubuntu 14.04][2015sep24]dota2 bot training hero skill level up may stuck guided notice window"
[bug][linux][ubuntu 14.04][2015sep24]dota2 bot training hero skill level up may stuck guided notice window.

platform: ubuntu 14.04 LTS 64bit latest.
steam: steam for linux stable version(non-beta) latest for linux. 64bit.

game: dota 2 for linux. latest update through steam client.

language: english.

=-=-==-=-=-=-=-=-=-=-=-=-=-=
how to reproduce the bug.

play dota 2 linux ver. with reborn DLC.

[2015-09-24 17:08] timxx commented on #457
@danginsburg Is it also fixed linux platform? At least isn't work for me, I'm using ArchLinux 64bit, with en_US locale and launch dota 2 with **-language schinese** option. What font shall I installed?

[2015-09-24 17:27] Tele42 commented on #477
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information, in particular any relevant CrashIDs.

[2015-09-24 18:28] ghost commented on #105
Thanks @austusross, previous comment helped me

[2015-09-24 19:17] sebyx07 opened #485 "Font not displayed"
I don't have the text displayed in console and the player names above the heroes. I have lubuntu 15.04 and nvidia driver: 346.59

[2015-09-24 19:40] onlinecco opened #486 "After swapping heroes, cosmetics do not show up after respawning"
also, when you click on the right bottom button on hero portrait, the cosmetics do not show up in the panel.

[2015-09-24 23:22] PUPAS commented on #465
:(

[2015-09-25 04:00] Dexterlab1986 commented on #459
please need any solution please

Att:

ING. JUAN ZAMORA
CHIEF LEADER
-ROCARELI
-PLUS FINCA
Telf: 062833944
Cel: 0985494086
ECUADOR

Date: Fri, 18 Sep 2015 11:17:42 -0700
From: notifications@github.com
To: Dota-2@noreply.github.com
CC: juancho56_7@hotmail.com
Subject: Re: [Dota-2] debian linux bug (#459)

What locale are you using? If you set the game to use English does this problem still occur?

[2015-09-25 07:23] Shad3w commented on #483
In case it doesn't notify you about edits:
Processor: 2.4 GHz Intel Core 2 Duo
Memory: 6 GB 800 MHz DDR2 SDRAM
Graphics: ATI Radeon HD 2400 XT 128 MB
OS: Mac OSX Yosemite 10.10.5
early 2008 IMac

[2015-09-25 10:52] zkzipoo commented on #457
@timxx add Chinese as system secondary language ?

[2015-09-25 12:27] danginsburg commented on #457
@timxx This is not also fixed on Linux, there is still an issue there.  It has only been fixed on OS X so far.

[2015-09-25 13:45] Tele42 commented on #459
@Dexterlab1986 it would help if you answered the question @davidw-valve asked you, your locale is a system-wide setting, not in steam. What happens if you close steam, in a terminal run `LANG=C steam` and try to run the game?

[2015-09-25 13:49] Dexterlab1986 commented on #459
yes i change  the locale , i put usa utf 8 , then all my system change , but the  problem persist,

Att:

ING. JUAN ZAMORA
CHIEF LEADER
-ROCARELI
-PLUS FINCA
Telf: 062833944
Cel: 0985494086
ECUADOR

Date: Fri, 25 Sep 2015 06:45:19 -0700
From: notifications@github.com
To: Dota-2@noreply.github.com
CC: juancho56_7@hotmail.com
Subject: Re: [Dota-2] debian linux bug (#459)

@Dexterlab1986 it would hel

[2015-09-25 14:04] oxycoder opened #487 "Notification when game ready and unpause"
Their is no notification when another gamer un-pause the game.Also, in earlier version, the icon of dota2 will bouncing everytime match start or game unpause

[2015-09-25 15:23] jonglae opened #488 "[Linux] Chinese/Korean/Japanese fonts not displaying correctly"
under link is linux dota2 client fonts Trouble

korean mode clients is Trouble
english mode clients is not trouble

http://images.akamai.steamusercontent.com/ugc/684901978176142557/7175764259B9611D57F91AE94B3121CF45B7994D/

my system infomation
# dmidecode 3.0

Scanning /dev/mem for entry point.
SMBIOS 2.4 present.
52 structures occupying 2260 bytes.
Table at 0x000F0100.

Handle 0x0000, DMI type 0

[2015-09-25 15:57] danginsburg commented on #447
@SirBlondie I have installed an AMD Radeon 7950 in a MacPro 3,1 to try to reproduce your issue.  I am not seeing 5-10 second pauses.  At most, I see small hitches on the order of 250-500ms caused by shader compiles.  Can you check if that is what you are noticing?  If you run with -gl_time_shader_compiles and keep the console open you will see a message whenever a shader compile occurs.  See if th

[2015-09-25 16:06] Vuccappella commented on #487
Notification does not make sound after last update and the icon does not bounce, it's really hard to tell you're in a game, only notification you get is in top right corner.

[2015-09-25 17:46] filipminev commented on #11
+1 having the same issue on OSX

[2015-09-25 18:54] Yunoo commented on #473
The same problem here.
Keys are not working, except number ones. Even the language is not set to Russian, it still does not work.

Debian GNU/Linux 8.2 (jessie)
Nvidia GeForce 560 Ti

Dota 2 Source worked before.

[2015-09-25 23:41] #437 closed, assigned to danginsburg

[2015-09-26 00:49] rcano commented on #476
fwiw, I'd love this too.

[2015-09-26 00:52] rcano opened #489 "[Linux] Dota won't launch after patch of sep 25"
The process launches, but the game's window never shows up, if launched from the console all I see is "Using breakpad crash handler" and nothing ever happens. Game's files were validated.

[code]

[2015-09-26 01:12] rcano commented on #489
Restarting steam seem to have fixed the issue.

[2015-09-26 01:12] #489 closed, assigned to nobody

[2015-09-26 01:47] hatunike commented on #318
I too am having this issue (have had it since reborn came out). It happens every single time on the heroes tab of the main client UI. It's actually not really a big deal, except I can't browse heroes when not in a game. Everything in game works great.

[2015-09-26 01:54] hatunike commented on #318
Oh, and I too use a Logitech G13 (that has a joystick). However the issue persists even when the joystick isn't plugged in and after i've restarted.

[2015-09-26 02:03] hatunike commented on #318
Fixed it finally. I opened the Logitech G13 software and noticed I had my joystick assigned to non joystick keys. I reset the joystick back to default joystick mode. Then i went back into dota and the heroes tab. After using the joystick the hero scrolling stopped! This is the first time i've seen it not scroll since reborn came out. It looks to be acting normally now.

[2015-09-26 04:49] danslo opened #490 "Crash on linux while watching live game"
Gave the following, then crashed to desktop:

![screenshot from 2015-09-26 06-48-27](https://cloud.githubusercontent.com/assets/743661/10115887/b383f77a-641a-11e5-886d-7eb5b638097d.png)

[2015-09-26 06:51] suptimal commented on #395
yesterday anything was smooth => dota update => today its laggy

[2015-09-26 08:28] tilman2 opened #491 "Linux: Hero portrait not shown in "Your last match" widget"
A recent patch introduced a widget in the main UI that shows information about "Your last match". It includes a rectangle on the left hand side that supposedly shows the portrait of the hero that you played.

On my Linux system, the portrait isn't shown (said rectangle empty). This is with an Radeon Bonaire graphics card and the free Radeon driver (ie, Mesa).

Relevant part of my glxinfo output:

[2015-09-26 09:04] nipunanoob opened #492 "Dota 2 screen frozen on loading screen!!!!!!"
Platform: Mac
I have been facing this issue for weeks where i cant even get past loading screen on the new dota 2 reborn client when i was successful in doing so b4 but with severe fps drop in gameplay and menu screen compared to the old dota 2 client. I assume this might be the issue with my intel graphics card. i cant even cmd tab out of the client and have to reboot my computer
Steps to reprodu

[2015-09-26 09:05] SirBlondie commented on #447
Yeah, nothing like that. If it was 250 - 500ms, I wouldn’t be complaining. This is definitely long enough that I can take both hands off the keyboard, crack my knuckles, put them behind my head and whistle.

Looking in console I see a lot of shader compiles taking 41ms, and then a lot of deferred shader compiles. And there’s 100’s of them, if this was happening as often that throughout the game I

[2015-09-26 10:04] davidef commented on #237
@gdrewb-valve Any chance to get this fixed ? It's quite annoying not being able to easily switch between desktop & dota. On SDL's Bugzilla is seams there was a patch to be tested in August.

[2015-09-26 14:28] ghost opened #493 "[LINUX]Empty boxes when hovering over heroes"
Arch 64 bit XFCE Compton.

When hovering over a hero the grey information box is empty with no text in it.  I will try to grab a screenshot later and post it.

Am I missing some dependencies?

[2015-09-26 15:11] Dexterlab1986 commented on #459
need help  wiht this  problem
Att:

ING. JUAN ZAMORA
CHIEF LEADER
-ROCARELI
-PLUS FINCA
Telf: 062833944
Cel: 0985494086
ECUADOR

Date: Fri, 18 Sep 2015 11:17:42 -0700
From: notifications@github.com
To: Dota-2@noreply.github.com
CC: juancho56_7@hotmail.com
Subject: Re: [Dota-2] debian linux bug (#459)

What locale are you using? If you set the game to use English does this problem still occur?

—
R

[2015-09-26 18:00] MrTheSoulz commented on #491
Comfirmed also for nvidia blob 355.11.
I dont belive this has anything related to drivers whatsoever.

[2015-09-26 18:57] MrTheSoulz commented on #54
Any news on this?
How come "the hero movies is still under construction for Linux and Mac" but while in match selecting a hero does have "movies".

[2015-09-26 19:48] Tele42 commented on #491
Possible duplicate of #54.

[2015-09-26 21:01] Dexterlab1986 commented on #459
![instantanea1](https://cloud.githubusercontent.com/assets/14339690/10119794/fb3114f8-6466-11e5-8b81-d9ad7ed9854b.png)

pero el problema continua

[2015-09-26 21:18] bkacjios opened #494 "[Linux] Weird copy+paste and clipboard issues"
You can't copy any text into clipboard or paste anything into the console. Using both shortcuts and the right-click context menu doesn't work at all for console.

The game also seems to use its own instance of a clipboard, separate from the desktop so you can't copy something from say a webpage and paste it in chat. It will only paste whatever you copy/cut in the game itself and also won't transfe

[2015-09-26 22:47] NotUrien opened #495 "[Mac] Insane frame drops since latest patch"
I'm not referring to 6.85, rather to the new that was released a few hours ago. 3 games so far, i would end up being practically frozen for minutes at time, and the longer the game progressed the longer the freezes.

iMac OS X Yosemite (10.10.5)
3.2 GHz Intel Core i5
8 GB 1600 MHz DDR3
NVIDIA GeForce GTX 675MX 1024 MB

[2015-09-26 23:39] shnipsergey opened #496 "[Linux] Alt not working after alt+tab"
Hi. My alt key stop to work in dota after alt-tab (not exactly first time I alt-tab from dota).
I use it for highlights on map and other stuff. Such things like Alt+Mouse1 stop to work, at the same time, alt+ctrl+MOUSE1 works well (it shows X on map).
I need to relaunch to dota to get Alt working as expected.

[2015-09-27 01:16] ingrid3dx opened #497 "(MAC OS) My Dota 2 wont launch!!!!! At all... Please help"
Hello guys!
Well, Im having this issue that my mac wont start the latest update from Dota 2, first it was preparing but no new window or whatever, then i update my mac to YOSEMITE now the Dota 2 window start but its all black and after few seconds this image pop up:

Error
bool
CAppSystemDict::LoadSystemAndDependencies(CUtlVectorCAppSystemDict::AppSystemRequest_t &,ErrorResponse_t)():
AppSystemDic

[2015-09-27 07:12] p-groarke opened #498 "[OS X] Crash on first hit."
Happened at the very beginning, someone hit me. Playing Hardcore Ninja (jugg vs jugg).

2012 retina MBP, 650M

Process:               dota2 [4624]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2
Identifier:            dota2
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [4621]
Responsible:           steam_osx [4064]
User ID:

[2015-09-27 07:22] mmm0nky commented on #318
Thank you hatunike! The default for the joystick is actually wasd but a simple right-click 'assign joystick' fixed this issue. How do i private message you on this thing?

[2015-09-27 09:39] tilman2 commented on #493
Can confirm. I'm seeing this with heroes I put in my profile "showcase".

Linux with AMD graphics card and Mesa driver here.

Actually this seems to be a duplicate of issue #54.

[2015-09-27 11:15] #496 closed, assigned to nobody

[2015-09-27 12:51] ChrisLauinger77 opened #499 "[Linux] Game minimizes after start"
When I start the game it shows the loading screen - and after its loaded it just minimizes.
Need to ALT-TAB to bring it on top.

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  5900 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:

[2015-09-27 16:08] bkacjios commented on #499
Yeah, this happens to me too. Usually after a little pop-up saying the game is unresponsive during the initial startup.

[2015-09-27 18:10] ChrisLauinger77 commented on #499
Yep - the inresponsive I have as well.

[2015-09-27 20:37] Tele42 commented on #499
If something is popping up and taking focus, then SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS's default behavior will minimize the game. Add `SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0 %command%` to your launch options in the game properties to override

[2015-09-27 22:23] ArnaudAndre commented on #497
The last patch was a few hours ago. What are you calling the "latest update" ? 6.85 ? the reborn switch ?
Your system specs may help (steam -> help -> system information).

[2015-09-27 22:53] ArnaudAndre commented on #494
The console is known to be bad/unfinished (see drew's comment in #25).

I'm able to copy paste text from the desktop to lobby chat and back. The ingame chat box has the behaviour you describe with its separate clipboard.

Basically, console and ingame HUD have a bunch of problems coz they're not yet converted to panorama but they say they're working on it.

[2015-09-28 02:02] soleneedshelp opened #500 "MAC OS - Dota 2: Performance Warning after pressing "Play" on steam."
Having issues launching dota 2... "Performance Warning" message pops up after pressing play through steam. Error message: "Your system does not meet one or more of Dota 2's system recommendations for CPU, Memory or Video Card.

My system is.. 2.5Ghz, 4.0 GB, AMD Radeon HD 6750M.

It worked previously.. but ever since the change to REBORN, it stopped working.
I have done all the troubleshooting I c

[2015-09-28 12:47] gear4s commented on #500
Do you perhaps use a 2011/2012 Macbook pro ?

[2015-09-28 12:56] danginsburg commented on #500
What version of OS X are you on?  Your system spec looks fine.  Can you please post Steam -> Help -> System Information.  You will need OS X 10.9+ for Dota 2 Reborn

[2015-09-28 12:58] danginsburg commented on #492
Please post Steam -> Help -> System Information.  Your system is supported (in fact, it is one of the configs I test on here).  There have been a number of OpenGL driver bugs in previous versions of OS X.  Especially for your config I would recommend you update to OS X 10.10.5.  My guess is you are hitting one of the OpenGL driver crashes on HD 3000 we have encountered on OS X 10.9.x.

[2015-09-28 13:02] danginsburg commented on #493
This is most likely a missing font package.  Is there a ttf-liberation package for your distro?  Try installing that and see if it fixes the issue.

[2015-09-28 13:04] gear4s opened #501 "[Linux/Windows] Crashing using multiple system software"
I've tried this on specific and different system software (Gentoo Stage 3 Hardened (24/09) 64bit, Ubuntu 14.04 64bit, Debian 8 64bit, Arch 01/09 ; Windows 7 64bit, 8.1 64bit, 10 64bit) and they all crash while (waiting to load), during (waiting on other players) or before loading into the match. Currently not known how to reproduce, and happenes non-frequently (I don't reformat to test this, just

[2015-09-28 13:14] danginsburg commented on #501
@gear4s If you could post a crashdump from one of these cases that would be helpful in narrowing it down.

[2015-09-28 13:22] danginsburg commented on #499
In addition to @Tele42's suggestion, you should also be able to uncheck "Desktop-friendly fullscreen minimizes on focus lost" as shown in the screenshot:

![2015-09-28_00001](https://cloud.githubusercontent.com/assets/375707/10136410/62cea75e-65c2-11e5-97e3-aa937afa027e.jpg)

[2015-09-28 13:23] phoerious opened #502 "Missing hero portrait images in main interface"
The tile on the front page that shows stats about my last match is missing the hero portrait. It shows the hero name, stats and item icons, but the box where the hero image is supposed to be is empty.
The same issue can be seen when I go to my profile and click on the "All-hero challenge" tab. Stats are shown correctly, but the hero portrait for the current hero is just a black box (all other hero

[2015-09-28 13:25] danginsburg commented on #495
If you could run with -con_logfile and post game/dota/console.log from when this problem occurs there might be something in there we could use to track this down.  Also, please post full system specs from Steam -> Help -> System Information.

[2015-09-28 13:32] danginsburg commented on #502
Duplicate of #54?  Or is this something else?

[2015-09-28 13:47] phoerious commented on #502
Not sure, but it definitely is a duplicate of issue #491 which is linked to that issue but which for some reason I couldn't find via the search function.

[2015-09-28 14:20] danginsburg commented on #502
Thanks, closing as duplicate of #491.

[2015-09-28 14:20] #502 closed, assigned to nobody

[2015-09-28 15:03] danginsburg commented on #485
Please try installing ttf-liberation font package.

[2015-09-28 16:26] ChrisLauinger77 commented on #499
the suggestion from @danginsburg was enough.
unchecking the "Desktop-friendly fullscreen minimizes on focus lost" brought the behaviour.
thx

[2015-09-28 17:13] danginsburg commented on #499
Closing.

[2015-09-28 17:13] #499 closed, assigned to nobody

[2015-09-28 17:28] ghost commented on #493
Thanks! Installing ttf-liberation  resolves the issue. Closing and marking as resolved.

[2015-09-28 17:28] #493 closed, assigned to danginsburg

[2015-09-28 18:09] danginsburg commented on #490
@danslo Were you spectating directly connected?  How long were you in the game?  Any chance you were running with -con_logfile and could send game/dota/console.log.  Any additional details you have here would be helpful to us to try to repro this.

[2015-09-28 18:11] 32charactername opened #503 "[Linux] Cursor fails to capture if tabbed out during loading"
If tabbed out when loading, the cursor will fail to capture, making edge panning incredibly difficult. Moving the cursor out of the window causes all inputs to fail, such as space, which I use to screen drag. All display modes are affected. It can be temporarily fixed by changing the window type, such as from windowed to borderless windowed and back. It does not seem to be an issue with multiple m

[2015-09-28 18:36] danginsburg commented on #450
Alt-tab'ing during load allows me to reproduce this reliably as described in #503.

[2015-09-28 18:36] danginsburg commented on #503
Duplicate of #450.

[2015-09-28 18:36] #503 closed, assigned to danginsburg

[2015-09-28 20:16] danginsburg commented on #450
This issue has been fixed and will be in a future Dota 2 update.

[2015-09-28 20:17] danginsburg commented on #480
I believe this to be a duplicate of #450 and I have checked in a fix that will be in a future update.  The issue was the same on Linux and OSX.

[2015-09-29 01:26] Tele42 commented on #501
This is potentially a black hole of unrelated crashes. It is discouraged to have multiple users combine their issue reports unless the details are an exact match. Just typing it crashed without further detail is not a match.

It's interesting that you have so many OS installs on the same system, and might hint at an OS-independent hardware quirk that needs to be worked around, or not.

[2015-09-29 08:45] sebyx07 commented on #485
yeah, now dota is broken http://i.imgur.com/dPVItWG.jpg
can't even pick. I purged the package but still broken

[2015-09-29 10:25] loisgomez opened #504 "[Linux] Incorrect timeleft on penalty"
Linux version of the game is showing wrong timeleft when a match is not accepted. Its showing 2+ hours intead of the real penalty which is 10 min.

![captura de pantalla de 2015-09-29 10 24 14](https://cloud.githubusercontent.com/assets/3087254/10161538/19f86338-66a5-11e5-9dca-e34c224659be.png)

[2015-09-29 10:29] loisgomez opened #505 "[Linux] Accepting match while watching not working"
Scenario:
Watching a game while searching for a game.

Issue:
Accepting a game match while watching doesnt work. Have to go back to the main menu to really accept the match.

[2015-09-29 17:02] jazztickets commented on #316
Saw this bug last night

https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/eb7f152fa02cb41ada436fad6d0dbaaaa9149e81/gistfile1.txt

[2015-09-29 18:06] danginsburg commented on #494
This issue has been fixed.  The fix will be in a future Dota 2 update.

[2015-09-29 19:51] danginsburg commented on #206
Duplicate of #248.  Closing.  I'm about to post an update there.

[2015-09-29 19:51] #206 closed, assigned to danginsburg

[2015-09-29 20:05] danginsburg commented on #248
I have been able to repro this on Macbook Pro Mid 2012 2.7GHz NVIDIA GT650M.  Unfortunately, I don't have a fix yet other than to suggest disabling vsync.  From what I can see from profiling, once we go Exclusive Fullscreen it seems that we are getting extremely long irregular waits inside of SDL_GL_SwapWindow (from 30-80ms).  I believe this is NSOpenGLContext flushBuffer that is taking the time.

[2015-09-29 20:19] andrebower commented on #472
Fixed with the latest patch! Thank you!!

[2015-09-29 20:19] #472 closed, assigned to danginsburg

[2015-09-29 20:31] nullfoxh commented on #13
I found a fix! I'm using Cinnamon on Arch.
In launch options set -sdl_displayindex 2

[2015-09-29 20:32] danginsburg commented on #450
The fix has been released.  Closing.

[2015-09-29 20:32] #450 closed, assigned to danginsburg

[2015-09-29 20:32] danginsburg commented on #480
The fix has been released.  Closing.

[2015-09-29 20:32] #480 closed, assigned to danginsburg

[2015-09-29 20:34] CommanderAlchemy commented on #13
@nullv0id have you even tried to read the comments?

[2015-09-29 20:35] nullfoxh commented on #13
@CommanderAlchemy Yeah I have. They all suggest trying 0 (primary) or 1 (secondary), no mention of trying "2". Maybe you should take your own advice and "try to read the comments", or try what I'm suggesting or maybe even stop shitposting. Frankly I don't care.

No good deed goes unpunished indeed.

[2015-09-29 20:47] CommanderAlchemy commented on #13
@nullv0id Then instead of getting mad you would see that the index number correlates to your monitor. I have 3 monitors and tried using from 0 and 1 ie (0-2, 1-3) and game would launch on same monitor no matter what. (0x0).

[2015-09-29 20:55] nullfoxh commented on #13
@CommanderAlchemy Yes, the number obviously correlates to the monitor as I and many others already pointed out, but thanks for the reminder..? So it doesn't work for you, but it works for me and multiple people have said they tried 0 and 1, but not 2, so I suggested trying 2 since it worked for me.

Then you posted your useless reply while I was trying to help people out. I don't understand why yo

[2015-09-29 21:01] msjyoo commented on #13
Can confirm that -sdl_displayindex 2 works on a dual monitor setup, left monitor primary, Cinnamon Debian Jessie. Thanks @nullv0id!

[2015-09-29 21:36] Vuccappella opened #506 "Mac: Crashes while watching replays/spectating in game."
Game just crashes randomly when spectating/watching replays, this is the error I get https://i.imgur.com/XZELcV7.png after which I have to terminate the application. This isn't new, happened in the last few patches as well I just didn't get the error, either I was too slow so I couldn't clip it or it didn't show . iMac OSX , late 2012.

[2015-09-29 22:05] Tele42 commented on #506
Possibly related to #490.

[2015-09-29 22:07] Tele42 commented on #490
For ease of lookup: CFlattenedSerializer::Decode array index out of range

[2015-09-29 23:39] danginsburg commented on #506
This is a duplicate of #490.  Could you get us a match ID where this occurred?  We are still working to repro this.

[2015-09-30 01:21] MaikuMori commented on #13
Yea using 2 works when using with 2 monitors. Seems like the index starts with 1 and not 0.

@CommanderAlchemy try using 3.

EDIT: I'm actually using Gnome 3, not Cinnamon.

[2015-09-30 03:04] gear4s commented on #501
Well, it hasn't crashed since the latest update (Windows) but on Linux I get significant frame drop times when doing some things (using abilities, blinking, sometimes just standing their watching a fight)

If any more crashes do occur I'll post the crashdump.

here's a gist of my BIOS, baseboard, processor, memory, cache and GPU information:
https://gist.github.com/gear4s/1cf4b2032500f411de4c

[2015-09-30 05:15] VoZZZup opened #507 "[Mac]Cannot change display resolution in Desktop-Friendly Fullscreen Mode"
I play DotA 2 on MacBook Pro with Retina-display and using resolution 1280x800 for better performance. But in Desktop-Friendly Fullscreen I cannot set any resolution but 2560x1600. I can use 1280x800 in Exclusive Fullscreen but cannot switch between apps using it. Please, fix Desktop-Friendly Fullscreen Mode, at Source 1 it works perfectly.

[2015-09-30 08:23] Vuccappella commented on #506
Sure, Match 1830314782

[2015-09-30 10:29] stefanbesler commented on #459
did you run locale-gen afterwards?

[2015-09-30 12:40] YabosMcGee commented on #13
I can also confirm that -sdl_displayindex 2 works. I'm using Fedora 21 with Gnome 3, two Dell 23" monitors connected with DP, on an Intel HD 4600.

[2015-09-30 12:55] danginsburg commented on #507
When you say that you "cannot set any resolution but 2560x1600", can you be more specific?  Is that the only resolution you are seeing available in any of the dropdown boxes?  Or, are you having some problem when you set the resolution?  What is your actual desktop resolution set to?

[2015-09-30 13:03] danginsburg commented on #506
Thanks, attempting to repro now on the replay.  We are definitely looking into this and know it is an issue.

[2015-09-30 13:09] danginsburg commented on #501
Glad to hear the crash is fixed.  For the frame drop issues on Linux, please try using Catalyst 15.9 on Linux if you are not already.  I'm going to close this one out since the original issue sounds like it is resolved.

[2015-09-30 13:09] #501 closed, assigned to nobody

[2015-09-30 16:38] Dexterlab1986 commented on #459
Then .i do all necessary but . what is the problem whith it

Date: Wed, 30 Sep 2015 03:29:53 -0700
From: notifications@github.com
To: Dota-2@noreply.github.com
CC: juancho56_7@hotmail.com
Subject: Re: [Dota-2] debian linux bug (#459)

did you run locale-gen afterwards?

—
Reply to this email directly or view it on GitHub.

[2015-09-30 16:44] Dexterlab1986 commented on #459
hi

Date: Wed, 30 Sep 2015 03:29:53 -0700
From: notifications@github.com
To: Dota-2@noreply.github.com
CC: juancho56_7@hotmail.com
Subject: Re: [Dota-2] debian linux bug (#459)

did you run locale-gen afterwards?

—
Reply to this email directly or view it on GitHub.

[2015-09-30 16:49] Dexterlab1986 commented on #459
![shalalalalal1](https://cloud.githubusercontent.com/assets/14339690/10199950/31a0c3d0-6769-11e5-8bf7-473e8f7dd851.png)
el problema continua

[2015-09-30 20:07] gxgani opened #508 "[OSX] Steamoverlay FPS Drop"
Previously it did not occur, even with 10.11 on board.

[2015-09-30 22:30] gear4s commented on #501
I just had a crash on Linux (Ubuntu), no access violation log today or the past month-ish, nor entry in debug.log

[2015-09-30 22:32] gear4s opened #509 "[Linux] Frame drops using same system as Windows install"
(related: [issues/501](https://github.com/ValveSoftware/Dota-2/issues/501))

I've been experiencing heavy frame drops ever since 6.85 dropped. I'm using the 15.20.3 driver package (no problems since pre-6.85 besides the crashing)

[2015-10-01 09:28] phoerious opened #510 "Wrong team icons on replay summary"
When looking at the summary screen of a tournament match and then at the summary of a normal pub match, the teams get the team icons of the tournament parties.

Steps to reproduce:
1. Go to Watch->Replays and click on one of the popular tournament matches
2. Go back and click on any of your friend matches or search for a pub match ID

Result:
When looking at the pub game, the two factions get the

[2015-10-01 09:50] milovanderlinden commented on #493
Confirmed. ttf-liberation does the trick. Thank you for the solution!

[2015-10-01 10:39] kemosabe73 opened #511 "Linux (Ubuntu 14) In-game text not rendering properly (white boxes)"
Upon updating to the reborn client my in-game font is only white boxes, should I just wait for an update or is there already a fix for this?

P.S. I've already installed Liberation package and it is still not rendering properly.

[2015-10-01 12:23] danginsburg commented on #511
Please post your full system information Steam -> Help -> System Information.  My guess would be you have an old version of mesa as there was a bug that would cause that, but without seeing your system details or a screenshot I can't be sure.

[2015-10-01 14:54] VoZZZup commented on #507
@danginsburg After every time when I'm trying to choose "use advanced settings" and applying changes, nothing changes and next time radio button is in "current resolution" again.
<img width="546" alt="screenshot 2015-10-01 17 51 45" src="https://cloud.githubusercontent.com/assets/14901399/10224182/7b7be85c-6865-11e5-9166-960e93348ff9.png">

[2015-10-01 15:02] VoZZZup opened #512 "DotA crashing while closing game"
Bug report:

<details>Process: dota2 [14245]
Path: /Users/USER/Library/Application Support/Steam/*/dota2
Identifier: dota2
Version: 0
Code Type: X86-64 (Native)
Parent Process: bash [14242]
Responsible: steam_osx [13765]
User ID: 501

Date/Time: 2015-10-01 17:45:06.405 +0300
OS Version: Mac OS X 10.10.5 (14F27)
Report Version: 11
Anonymous UUID: B4BF93F6-A2DF-020F-B4CE-CD8E668BE681

Sleep/Wake UUI

[2015-10-01 15:18] phoerious opened #513 "Color clamping while stepping back in paused replays (minor)"
This is surely just a cosmetic issue, but should also be easy to fix.
When pausing a replay and then using the 10s back button to skip back in time several times, screen colors are added up so effects get blown out until almost everything is white. When continuing playback, colors revert back to normal.

![dota2-replay-clamp](https://cloud.githubusercontent.com/assets/911270/10224844/3900268c-6860

[2015-10-01 15:35] kemosabe73 commented on #511
Thanks for your reply. Here is the link to my screenshot.

https://goo.gl/photos/YE9kFHNXwJi5y7Ls5

[2015-10-01 15:40] danginsburg commented on #511
You are on mesa 10.3.2 and this is a known issue there.  You can update to a newer version of mesa using the xorg-edgers ppa or oibaf ppa if you are more daring.  Please see the comments in issue #417 for further info on how to install from xorg-edgers.  Closing this one as a duplicate.

[2015-10-01 15:40] #511 closed, assigned to danginsburg

[2015-10-02 02:57] saward opened #514 "[Linux] fps degrades during matches"
Hi,

I've looked through current open issues and didn't find one describing a situation like mine, so apologies if there is.

Basically, games start off with a high frame rate, but it gets slower as the match progresses.  Quitting the client completely, and then reloading and reconnecting gets me back to a fast game.

I had thought it was my GPU overheating, and there did seem to be a problem with

[2015-10-02 05:16] admshao opened #515 "[LINUX] PC Freezing in Dota Randomly after September 30 update"
I dunno how to provide any system-wise log but i'm experiencing random freezes while playing dota.
It started to happen after September 30 update.

Now it freezes while playing Dota + Streaming also in Dota + browser and even in dota only. (so in different loads it stills freezes)
I did the memtest successfully, My temps are below 70c under max load. (CPU and GPU) My PSU seems just fine.

What els

[2015-10-02 11:07] saward commented on #514
Thought I should add that I'm running Arch linux, which typically has more up to date packages than some other distros.

[2015-10-02 12:19] budimanjojo opened #516 "Opening Dota 2 from Gnome shows "not responding""
I always get a window not responding on Gnome when opening Dota 2.
It happens all the time since Dota 2 Source 1. Any idea about whether it's Gnome or Dota 2 issue? Filed a bug in gnome bug tracker already:
https://bugzilla.gnome.org/show_bug.cgi?id=755979

[2015-10-02 16:41] budimanjojo commented on #516
They just responded that Dota 2 should do something about _NET_WM_PING. You guys should read the 3rd comment. https://bugzilla.gnome.org/show_bug.cgi?id=755979#c3

[2015-10-02 16:59] danginsburg commented on #508
Please post Steam -> Help -> System Information and provide more details on this bug.

[2015-10-02 17:14] gxgani commented on #508
Macbook Pro 13 2012
Intel i5 / HD4000
OSX 10.1@
On Oct 2, 2015 22:29, "Dan Ginsburg" notifications@github.com wrote:

[2015-10-02 20:26] admshao commented on #515
I have no experience with errors in linux, but what i've found is that it gave me Kernel Panic and on executign a 'cat /var/log/*.log | grep error' I saw mentions about Hardware failure error with NVIDIA strign in the line.

I got no errors playing Portal 2 and CS:GO (only other games i have to test with)

If i can provide any better info, Please let me know how.

[2015-10-02 21:31] Tele42 commented on #516
Related to #499.

[2015-10-02 23:20] budimanjojo commented on #516
I don't think so. That bug is about the not responding window overlaping Dota 2, but not about what causing the window to come out. Maybe devs from Valve can do the fix the Gnome team shows in the link?

[2015-10-03 00:00] Tele42 commented on #516
Right, I didn't claim this was a duplicate, just related.

[2015-10-03 01:41] bkacjios commented on #494
Just wanted to say that tonight's update seems to have fixed this!

[2015-10-03 07:39] TimotheeJeannin opened #517 "Complete black screen when opening Dota2"
When I open the game I just have a **black screen**.

![screenshot from 2015-10-03 09 32 31](https://cloud.githubusercontent.com/assets/1969368/10261931/27b5bede-69b2-11e5-8a69-15c2636eabd3.png)

I do **have the sound** of the game, I **have the game** mouse cursor but apart from that **just a black screen**.

I tried different launch options like `-windowed -w 1920 -h 1080 -noborder -novid` witho

[2015-10-03 09:33] Turmfalke2 opened #518 "double output in the console"
hi,
I have noticed that pretty much everything printed to the console is printed twice:

![double_console](https://cloud.githubusercontent.com/assets/5174562/10262289/7ed147fa-69c2-11e5-8566-adc8e93ea5cb.png)

[2015-10-03 10:56] cosaryus opened #519 "i can't enter the game"
hey everyone. i was not able to play data 2 for a while. i updated my mac and my dota 2. but when i try to enter a game, it goes to deskop with this error. i can play with bots but not in real game. anyone got same error? or someone just can help me !! ?!
![ekran resmi 2015-10-03 13 49 06 1](https://cloud.githubusercontent.com/assets/14952425/10262565/78ed5356-69d6-11e5-8132-63e2a8be59bc.png)

[2015-10-03 11:40] #494 closed, assigned to danginsburg

[2015-10-03 14:11] Mathiasbang opened #520 "Dota 2 on linux"
I have already downloaded it, but whenever I go to start it it says "Check GLExtensions(): Required OpenGL extension 'GL_ARD_separate_shader_objects' is not supported. Please update your OpenGL driver". I can't find anything online on how to update my GL driver and have tried to use the Linux registry to do it but it isnt in there. Anyone know what I can do?

Processor Information:
    Vendor:  Ge

[2015-10-03 16:10] felipinho-lima opened #521 "stuck at loading screen dota 2 reborn"
I have this problem after upgrade the 01/10/2015.
I can't see the match and don't play anyone mode.
Pls help.

[2015-10-03 20:17] cyrilvoynov opened #522 "[OSX] FPS Drops"
I have huge fps drops since 2th October. It looks like game performance shut down to the half of itself. Instead of 60-70 fps that i had before the regular Dota 2 update, now I have 25-35 fps only in the better case and it's actually unplayble.

There're some system information. Hope it will helps:

Processor Information:
    Model:  MacBookAir5,2
    Vendor:  GenuineIntel
    CPU Family:  0x6

[2015-10-03 21:13] ghost opened #523 "[osx] screenshots taken on "desktop-friendly fullscreen" are messed up"
it might have something to do with game resolution being lower than actual monitor resolution (1280x800 vs 1920x1200)

![2015-10-03_00001](https://cloud.githubusercontent.com/assets/9968388/10265148/281e18ea-6a24-11e5-9b2f-5d3525c8093d.jpg)
![2015-10-03_00002](https://cloud.githubusercontent.com/assets/9968388/10265149/282031e8-6a24-11e5-9d27-ef1f58317fa1.jpg)
![2015-10-03_00003](https://cloud.git

[2015-10-03 21:15] ghost opened #524 "[osx] cant alt+tab out of "exclusive fullscreen""
and `Cmd+Alt+Esc` crashes the game

[2015-10-03 21:27] Tele42 commented on #522
Screenshots of text are not searchable, Here's the key details to help others who are searching:

[code]

[2015-10-04 04:28] prudnicki opened #525 "Commentary sound missing in replays"
Commentary is missing while watching tournament replays - 100% of the time.
Sound is there while watching live.

Many people are reporting same problem:
https://steamcommunity.com/app/570/discussions/0/523897277925162399/
http://dev.dota2.com/showthread.php?t=180602
https://steamcommunity.com/app/570/discussions/0/523898291496538133/

[2015-10-04 04:48] saward commented on #514
I disabled compton, and that appears to have resolved my framerate issues (in combination with cleaning fan).  I will reopen or recreate issue if it turns out to not be resolved, but for now looks good.

I suspect compton running with the glx backend will run better, but that causes some issues with some other progams for me.

[2015-10-04 04:48] #514 closed, assigned to nobody

[2015-10-04 05:53] Yunoo commented on #473
Any updates?

[2015-10-04 09:06] MiniLarsen opened #526 "[OS X] Steam overlay not working on OS X 10.11 El Capitan"
The steam overlay ingame is not working. I cannot buy anything from the market eather. Have been trying to buy the compendium since release but its just loading forever. Also tryed to buy from the steam store site with same issue.

I live in Norway.

Have tested the steam overlay in FM15, works just fine there.

Processor Information:
    Model:  MacBookPro10,1
    Vendor:  GenuineIntel
    CPU Fa

[2015-10-04 09:34] Vuccappella opened #527 "Mac: Game Is ready sound not working with external audio card."
2 updates back or so the game is ready sound stopped working at all. I'm using an external audio card and before the sound didn't work properly because it came from the built in output instead of the external audio card input (as all other sound do) but after the last couple of updates there's no sound even trough the built in speakers when you select your external audio card.

[2015-10-04 10:50] suptimal opened #528 "[Linux] FPS Drops are back"
yesterday i had no proplems, todays its unplayable again

[2015-10-04 11:12] LinoleumRipper opened #529 "[MAC] Black Flickering/"Flying" Pixels on OS X 10.11 El Capitan"
Hi!

During game i have black  "flying pixels" on screen constantly. My game's video settings are Basic Setting's "Fastest". However, if I turn "Additive Light Pass" or "Ambient Occlusion" or "Specular" ON the issue completely stops. These black things only appears on the actual game area (not on the HUD). Another interesting thing is, these pixels don't show up on screenshots...

I wouldn't like

[2015-10-04 11:21] LinoleumRipper opened #530 "[MAC] Can't change or preview announcer"
Hi!

In the game (menu or in-game) i can't use other announcers. I can hear only the defaults. When someone shares an announcer in-game, i can't use them. When i try to select one after closing the panel it changes back to the defaults. I tried to preview one of my announcers in armoury it was completely silent... It seems the game can't find those sound files.
I tried many announcers none of them

[2015-10-04 12:56] grasdaggel opened #531 "No sets after opened treasure"
Exactly the title. Using Ubuntu 14.04 LTS. I opened two chests of the actual compendium and got no sets out of the chests which come with the compendium.

[2015-10-04 12:57] grasdaggel opened #532 "Armory bug: not able to equip items"
Currently I cannot equip items. Ubuntu 14.04 LTS.

[2015-10-04 13:55] #528 closed, assigned to nobody

[2015-10-04 15:14] schoening commented on #520
I had the same issue with my amd radeon chip. So I switched to the proprietary drivers. Perhaps that can help you.

[2015-10-04 17:02] nellh opened #533 "Downloading Fall Compendium is very slow"
It takes 30-60 seconds to open the Fall Major Compendium after each client start. That is pretty slow compared to how compendiums worked in the original client.

[2015-10-05 02:25] Tele42 commented on #520
Proprietary drivers do not exist for Intel graphics, making that suggestion irrelevent.  Separate shader objects got added to mesa in 10.2.0, which was released June 6, 2014. As for update instructions, look for instructions for Ubuntu 14.04, which is what Linux Mint 17 is based on.

[2015-10-05 10:59] Mathiasbang commented on #520
Ty for the answers. I would love to update my gl drivers but i cannot figure out how to do so. It all seems gibberish to me.
Can anyone link something to me, so i can do it? I duno how to update mesa and i dunno which mesa i should be gettin:-/

[2015-10-05 12:21] danginsburg commented on #517
This is a duplicate of #32 and is due to a bug an older versions of the NVIDIA driver.  The shaders are failing to compile due to a bug in the GLSL compiler.  Any NVIDIA driver after v331 will fix this issue.

[2015-10-05 12:21] #517 closed, assigned to danginsburg

[2015-10-05 12:32] danginsburg commented on #520
I don't personally run Linux Mint so I'm not sure what the best update procedure is.  You could try the xorg-edgers PPA http://www.ubuntuupdates.org/ppa/xorg-edgers or the Intel Graphics Installer for Linux https://01.org/linuxgraphics/downloads/intel-graphics-installer-linux-1.2.0.  I would recommend mesa 10.6+.  I'm going to close this out since it is a driver update issue, but people can feel f

[2015-10-05 12:32] #520 closed, assigned to danginsburg

[2015-10-05 12:33] danginsburg commented on #521
There is not enough information here for us to help you.  Can you post Steam -> Help -> System Information?  It also would be helpful if you run with -con_logfile and post the contents of game/dota/console.log.

[2015-10-05 12:35] danginsburg commented on #523
Can you please post Steam -> Help -> System Information to help us isolate the issue here?

[2015-10-05 12:36] danginsburg commented on #524
This is by design.  If you want to be able to Cmd+Tab out of the game you will want to use Desktop-Friendly Fullscreen.

[2015-10-05 12:36] #524 closed, assigned to nobody

[2015-10-05 12:37] danginsburg commented on #525
This bug tracker is for Linux/OSX-specific issues.  The dev.dota2.com forum is the appropriate place for other issues.

[2015-10-05 12:37] #525 closed, assigned to nobody

[2015-10-05 12:38] danginsburg commented on #526
We are working on a fix for this issue.  The problem is to do with OS X El Capitan 10.11 System Integrity Protection (SIP).  I am not recommending this, but a temporary workaround for the issue would be to disable SIP.  We are working on a real fix.

[2015-10-05 12:44] danginsburg commented on #529
Given that Dota 2 Reborn was working fine on your machine prior to the OS X El Capitan update, please file a Radar with Apple.  It would be useful to hear if this issue is impacting any other users or whether it is specific to your hardware configuration.  I will see if I can repro it on similar hardware, but it does not sound like an application issue.  Also, does this happen in borderless window

[2015-10-05 12:45] MiniLarsen commented on #526
Thank you.

[2015-10-05 12:56] danginsburg commented on #526
I'm going to leave this open until we push out a fix.

[2015-10-05 14:22] danginsburg commented on #523
Actually, I'm all set, I have this repro'd.

[2015-10-05 15:57] LinoleumRipper commented on #529
Thank you for reviewing my issue.

I tested all screen modes and the issue is still there.
Is there any graphical setting (even from console) that could change the way the game looks (like "Additive Light Pass" / "Ambient Occlusion" / "Specular") but not lower drastically my FPS? It might help

[2015-10-05 15:57] danginsburg commented on #529
If you can post a screenshot or video I might be able to wager a guess.

[2015-10-05 16:45] Tele42 commented on #529
per the opening post: "Another interesting thing is, these pixels don't show up on screenshots..."

[2015-10-05 16:49] felipinho-lima commented on #521
Ok. My bad. I forgeted the post it.
Followed the log.

In the network 162.254.XXX.XXX i can play but the ping it's very high more our less 203ms in the network 208.78.XXX.XXX i have the problem "high packet loss detected flow incoming".

---

CreateDevice: Requested DX level 110, clamped to DX level 97

## PIX was NOT detected.

Path ID:             File Path:
ADDONS               "E:\Steam\steama

[2015-10-05 17:08] Shad3w commented on #483
Anything?

[2015-10-05 17:22] felipinho-lima commented on #521
Follow the tracert of Networks.

OBS: My DNS it Google Public (8.8.8.8 and 8.8.4.4)

First test it's the server in the West EUA. It's work for me.

C:\Users\FelipinhO>tracert 162.254.199.170

Rastreando a rota para 162-254-199-170.valve.net [162.254.199.170]
com no máximo 30 saltos:

  1     2 ms     3 ms     3 ms  192.168.0.1
  2     3 ms     4 ms     3 ms  10.168.80.1
  3    13 ms    75 ms    24

[2015-10-05 17:50] LinoleumRipper commented on #529
I'll make a video with my phone

[2015-10-05 19:03] danginsburg commented on #529
What do you have "Game Screen Render Quality" set to?  Can you see if setting it to 100% resolves the issue?  If so, I think I know what the problem is.

[2015-10-05 20:09] danginsburg commented on #523
This has been fixed and will be in a future release of Steam.  It was caused by the steam overlay not disabling scissor test.  I'm going to close this out here since it is not actually a Dota 2 issue.

[2015-10-05 20:09] #523 closed, assigned to danginsburg

[2015-10-05 20:26] LinoleumRipper commented on #529
With 100% "Game Screen Render Quality" they still there but they are smaller. I found out if i set shadow quality to mid or higher it also solve the problem it might be some shadow issue.  I don't know those other settings "Additive Light Pass" / "Ambient Occlusion" / "Specular" has anything to do with shadow "settings" because the also make the black things disappear.

Changing "Texture Quality"

[2015-10-05 20:47] ap0l0 commented on #529
![bug dota2](https://cloud.githubusercontent.com/assets/14894967/10293153/08a01398-6b81-11e5-99aa-f3c0a3dce468.png)

I have the same issue. Using "El Capitan" public release. Let me know if you need the crash log.

Crash log: http://pastebin.com/qugJrPza

[2015-10-05 20:55] danginsburg commented on #519
We have heard of this here too: http://dev.dota2.com/showthread.php?t=179817.  Could you do what is suggested in comment 7 and post here: http://dev.dota2.com/showthread.php?t=179817&p=1277908&viewfull=1#post1277908

[2015-10-05 21:04] danginsburg commented on #529
@ap0l0 Please open another bug because this looks like a completely different issue.  Also, make sure you include your system info from Steam -> Help -> System Information.

@LinoleumRipper I have not had any luck repro'ing your issue yet.  Please also post your game/dota/cfg/video.txt

[2015-10-05 21:10] ap0l0 opened #534 "[MAC] Dota Crash - Image Error El Capitan 10.11 NVIDIA GTX 660M iMac 13,2"
When a game starts in a random moment the image gets distorted and after a few the game crashes. Please note that this happens since I updated to "El Capitan". I tried reinstalling the application but it doesn't work.

Crash log: http://pastebin.com/qugJrPza

![bug dota2](https://cloud.githubusercontent.com/assets/14894967/10293645/ae30d9da-6b83-11e5-8289-48b5d1db7f71.png)

Steam Information:

Pro

[2015-10-05 22:14] ghost commented on #20
@danginsburg Any other workaround? I am having the same text problem in Kali GNU/Linux 2.0 (Debian) and mesa 10.5.9 is not available in wheezy AFAIK.
System Details:
Kali GNU/Linux 2.0 (sana) 64-bit
7.7 GiB Memory
Intel Core i5-2450M CPU @ 2.50GHz × 4
Intel Sandybridge Mobile

[2015-10-06 01:26] admshao commented on #515
It just happened right now. Spectating BeyondtheSummit cast ingame now and watching netflix on the other monitor. I was playing CSGO for hours before that and pc was just fine. 5min inside Dota and PC has Frozen.

Informações do processador:
    Fabricante: GenuineIntel
    Família do processador: 0x6
    Modelo do processador: 0x3a
    Stepping do processador: 0x9
    Tipo do processador: 0x0

[2015-10-06 12:20] danginsburg commented on #534
I run on an MacbookPro with NVIDIA GTX 650M and have never seen this corruption.  Would you be able to see if installing the NVIDIA web driver fixes the issue?  There is a driver for El Capitan here: http://www.nvidia.com/download/driverResults.aspx/92173/en-us

[2015-10-06 12:22] danginsburg commented on #534
The crash appears to happen inside of scaleform code when uploading a texture in the GeforceGLDriver:

Thread 9 Crashed:
0   libsystem_kernel.dylib              0x00007fff9561e0ae __pthread_kill + 10
1   libsystem_pthread.dylib             0x00007fff994fe500 pthread_kill + 90
2   libsystem_c.dylib                   0x00007fff8f06e37b abort + 129
3   libGPUSupportMercury.dylib          0x00007fff8e

[2015-10-06 12:37] ap0l0 commented on #534
Hey @danginsburg , I installed the driver and I made a quick test playing with bots, everything is working fine now. The only thing is that now I am running around ~30 fps and before I was ~80 fps, any ideas about that ? Maybe this driver needs to process more data ?

[2015-10-06 12:54] magist3r opened #535 "[linux] Disconnecting from server immediately after connecting"
Today (10/6) I can't play Dota2 at all. Nor MMR neither custom games. After every attempt to reconnect I get the main menu again ((.

Regions EU RU
Thx for LP valve...

[2015-10-06 15:42] timxx commented on #476
Hello, is any offical developer ever have a look at my post...
[Here is the one I built from ubuntu 12.04 x64 box](https://www.dropbox.com/s/md4uztomwdfeqmf/libSDL2-2.0.so.0?dl=0) (ibus, fcitx both enabled, set _SDL_IM_MODULE=fcitx_ to use fcitx), it works perfectly on ArchLinux (no screen flicker), the only problem is the input window can't following the cursor.
I hope you guys could have a test

[2015-10-06 16:42] LinoleumRipper commented on #529
@ap0l0 Unfortunately, it's a different issue.

@danginsburg
Here's the video i made about the issue: https://youtu.be/HzYcJevmwVI

And my "video.cfg"
{
    "VendorID"      "32902"
    "DeviceID"      "2606"
    "setting.cpu_level"     "1"
    "setting.mem_level"     "2"
    "setting.gpu_mem_level"     "2"
    "setting.defaultres"        "1920"
    "setting.defaultresheight"      "1080"
    "settin

[2015-10-06 16:47] ap0l0 commented on #534
I decreased the video quality and now it's working at 80fps.

Thanks @danginsburg !

[2015-10-06 22:17] Turmfalke2 opened #536 "General protection error"
hi,
I just had the game crash at the main menu screen. For a moment I could see the missing game coordinator message.

[559690.527189] traps: dota2[29812] general protection ip:7fe93e686bc8 sp:7ffd09446120 error:0 in libpanorama.so[7fe93e551000+52d000]

[2015-10-06 22:51] l3th3x opened #537 "[Linux] Graphic Issue AMD RV730 Mesa 11.1.0-devel git-443d3bf"
Hi

I have some problems with the graphics. Please help to fix

Operating System Version:

[code]

Video Card:

[code]

Sample Screenshots:

![ekran goruntusu - 2015-10-07 02 38 55](https://cloud.githubusercontent.com/assets/15005360/10325714/952abfc2-6c9c-11e5-9662-e43c239f6b4e.png)
![ekran goruntusu - 2015-10-07 01 47 33](https://cloud.githubusercontent.com/assets/15005360/10324866/c8bfce7e-6c95

[2015-10-06 23:58] danginsburg commented on #537
This looks like it is most likely a regression on 11.1.0-devel.  Can you try using an earlier version of mesa?  mesa 10.5.9 is known good on AMD HD 7950.

[2015-10-07 10:04] manicmouse opened #538 "[MAC] Continued poor performance on Iris GPU"
I'm sorry to bring this up again, as it has already been brought up and supposedly addressed, however performance on Mac with Iris GPUs is still sub-par.

Playing with medium settings (textures and shadow at medium, with only normal maps, ambient creatures, normal maps, additive light pass and world lighting on) I am struggling to hit 30fps in Reborn.  This is without antialiasing, without high qu

[2015-10-07 11:20] l3th3x commented on #537
Thanks for the reply but Linux Mint 17.x based on Ubuntu 14.04. Mesa 10.5.9 does not have in the store. This version available at Ubuntu 15.04. Is there another way to the solution?

[2015-10-07 14:42] thegunner2401 opened #539 "[Ubuntu] Bad text and number."
http://imgur.com/hvzeQq4
http://imgur.com/mc2k4pe
I've tried to reinstall ubuntu and dota 2 but the problem still persists.

[2015-10-07 15:07] danginsburg commented on #539
Please post Steam -> Help -> System Information.  This looks exactly like a known bug in mesa that will be fixed by updating to a newer version of mesa.

[2015-10-07 15:08] danginsburg commented on #539
Duplicate of #417.

[2015-10-07 15:12] Tele42 commented on #537
@l3th3x This issue should also be reported to the Mesa devs if it has not been already.

[2015-10-07 15:14] danginsburg commented on #538
We are aware of the performance issues on Iris on OS X.  We have an open Radar with Apple and are trying to get help in improving this.  I have spent a ton of time tuning performance on OS X Intel and we are running into OpenGL driver performance issues that we are awaiting help from Apple/Intel to resolve.  Duplicate of #245 and #246.

[2015-10-07 15:16] Tele42 commented on #536
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information, especially any relevant CrashIDs.

[2015-10-07 15:28] danginsburg commented on #535
There is not enough info here for us to repro.  Can you post Steam -> Help -> System Information as well as run with -con_logfile and post game/dota/console.log?

[2015-10-07 16:08] ghost commented on #521
I'm stuck on the loading screen as well. Unable to connect to a created lobby or spectate games; I'm able to play bot matches.

System information:
https://gist.github.com/jonesz/f6551b3ea0ee8c2b932d

console.log
https://gist.github.com/jonesz/bc4b82bd408e144739c1

thanks.

edit: gist'd log file.

[2015-10-07 17:08] danginsburg commented on #237
SDL bug #3066 has been fixed.  We have integrated the fix into Source 2 and it will be in a future release.  This will allow you to switch spaces when in Desktop Friendly Fullscreen mode.

[2015-10-07 17:10] danginsburg commented on #363
Duplicate of #237 which as I noted in that bug has been fixed and will be in a future Dota 2 update.  You will be able to switch spaces in Desktop Friendly Fullscreen mode with that update.

[2015-10-07 17:10] #363 closed, assigned to danginsburg

[2015-10-07 17:15] p-groarke commented on #237
Great news! Thank you for updating these bug reports. Just for the record, the later addition of dual screen helped a lot in this regard. The combination of both the spaces fix and dual-screen will be an even better outcome :) Keep it up!

[2015-10-07 17:56] danginsburg commented on #529
Thanks for the video.  If anyone else runs into this issue please post your system specs to help us narrow this down.  The only theory I had on what might be causing it would have been fixed by "setting.mat_viewportscale" "1.0", but I know you already tried that and it didn't work.  For now, I'm not sure what the issue is.

[2015-10-07 18:06] danginsburg commented on #513
I haven't been able to repro this bug.  Still happening with the latest version of Dota 2?  If so, could you post a match ID and a time to pause at and 10s skip at that reproduces the bug.  It also might help if you post your game/dota/cfg/video.txt.

[2015-10-07 18:28] phoerious commented on #513
I can reproduce it with every replay at every position.
The important thing is that you must not continue playback in between
steps as that resets colors to normal.
When you step back quickly, Dota continues playback automatically. So
you have to do it slowly so that the game stays paused at all times.
After two or three steps you'll notice that spell effects get blown out.
The extreme example abo

[2015-10-07 18:29] danginsburg commented on #483
So far I have not been able to repro this.  It may help narrow it down if you run with -con_logfile and post game/dota/console.log.

[2015-10-07 19:01] gxgani commented on #363
By future you mean not the update I received now of 50MB size?