[2016-03-30 09:27] NekR commented on #819
See this: https://github.com/ValveSoftware/Dota-2/issues/816

Also today they issued an update, which claims to fix "mouse left click some times ignored".

Hope that they meant this bug.

[2016-03-30 09:36] somecolors commented on #819
ah ok, thanks man!

[2016-03-30 09:36] #819 closed, assigned to nobody

[2016-03-30 13:09] xrisk commented on #804
Can confirm. Same Iris 6100, and the black patches when a unit moves "underneath" the minimap.

[2016-03-30 14:58] danginsburg commented on #804
Thanks for the reports.  Unfortunately this looks like an OpenGL driver bug on the OS X Broadwell driver.  I have filed a Radar with Apple (25440145).  Hopefully they can take a look at it.  What I believe is happening is that the stencil test is misconfigured when drawing the minimap, but I don't have any workaround from our side yet. @anyuzer Please leave the video up, I referenced it in the Rad

[2016-03-30 18:56] danginsburg commented on #817
Currently, we do not do anything to explicitly enable multi-GPU on OS X.

[2016-03-30 19:02] danginsburg commented on #818
Thanks I've looked at the crash dumps you posted.  It looks to be in non-platform specific code.  I've passed the issue along to the larger team for them to have a look.

[2016-03-30 19:26] danginsburg commented on #818
This issue was fixed in an update last night.  Closing.  If you still see the crash, please comment here and we can reopen.

[2016-03-30 19:26] #818 closed, assigned to nobody

[2016-03-30 20:43] omarloren opened #820 "Game keeps crashing"
Hi,
The game keeps crashing, I know that there is already a patch for it but somehow my game is messed up. I already tried to reinstall it and nothing, this is my computer information:

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:

[2016-03-30 21:13] danginsburg commented on #820
Can you please run with "-con_logfile" in your Launch Options and post the contents of game/dota/console.log after it crashes.  Ideally we need a crashdump file or crashdump ID to be able to repro.

[2016-03-30 21:41] omarloren commented on #820
Here you have my [console.log file](https://gist.github.com/omarloren/34b14b8accc62519a54cec616409c8b0), I am not getting any errors it just crashes without further notice.

[2016-03-31 06:16] ggaaooppeenngg commented on #234
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Family:  0x12
    CPU Model:  0x1
    CPU Stepping:  0x0
    CPU Type:  0x0
    Speed:  1500 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Sup

[2016-03-31 10:53] davmac314 opened #821 "Key release as well as press triggers item cast"
I have "quickcast on key down" OFF (so: quick cast should trigger on key up) and quickcast keys bound for all item slots. If I use a non-targetable item (phase boots, drum of endurance) the item triggers on key DOWN and then seemingly again on key UP (which causes a "Recharging..." notification and clock tick sound). Remarkably the item does NOT trigger on key up if its cooldown has expired, i.e.

[2016-03-31 14:24] Portosthedevil opened #822 "Can't run DOTA 2 on MacOs - ElCapitan"
Hello there,

can anybody help me solve my issue ? I try to run DOTA 2  on MacbookPro 15 Retina display early 2013.

When I click on ''START'' button nothing happens ...

[2016-03-31 14:46] Dendim0n commented on #822
Everything seems fine...15" Retina 2014 Mid

[2016-03-31 15:06] Dendim0n commented on #804
2014 Mid MBPr 15" with nVIDIA GT750M   everything seems fine.

[2016-03-31 15:34] xrisk commented on #804
Here I got a screencap as well.

![20160330185753_1](https://cloud.githubusercontent.com/assets/10669859/14181326/1bae2bfc-f784-11e5-86a2-fe293121cd30.jpg)

[2016-03-31 16:22] gdrewb-valve commented on #821
I've passed this on to the larger team as it's very likely not Linux-specific.

[2016-03-31 16:24] gdrewb-valve commented on #822
What version of OSX are you running?  10.9 is required.

Have you verified the local installation files?  Right-click on the app in the Steam client, go to Properties -> Local Files and click the button there.

[2016-03-31 16:33] Portosthedevil commented on #822
10.11

[2016-03-31 16:53] gdrewb-valve commented on #822
After verifying your local files try running the game from a terminal window (there's a dota.sh that'll launch it) or add -con_logfile to your startup options, then post the terminal output or contents of console.log.

[2016-03-31 18:45] gdrewb-valve commented on #821
The larger team found the problem and they'll take care of it in an upcoming update.  It won't be tracked here.

[2016-03-31 18:45] #821 closed, assigned to gdrewb-valve

[2016-03-31 19:27] gdrewb-valve commented on #812
The Invoker issue is not a Mac/Linux thing so the larger team will look at is (has already, I think).

The larger team is going to keep investigating the networking issue but they don't have anything specific right now.  It's not platform specific so it won't be tracked here.

[2016-03-31 19:27] #812 closed, assigned to gdrewb-valve

[2016-03-31 19:53] ericorr commented on #804
Want to confirm I have the same problem with the iris 6100 macbook

[2016-03-31 20:18] mmuldoon commented on #745
Since the new update I'm getting hit with abandons again. New 24hr ban, woot! Here's my console.log
https://gist.github.com/mmuldoon/0cd2d8e500433b4cfb2561a06ee3cfb6

[2016-03-31 20:42] gdrewb-valve commented on #745
I've passed this log on.

[2016-03-31 22:57] davmac314 commented on #821
Ok, thanks for forwarding it.

[2016-03-31 23:06] davmac314 commented on #821
And I see it's now fixed. Thanks again.

[2016-03-31 23:14] gdrewb-valve commented on #301
Seems like there are no new complaints so closing.

[2016-03-31 23:14] #301 closed, assigned to gdrewb-valve

[2016-03-31 23:22] gdrewb-valve commented on #556
The March 31 update has a tweak to -phased_window_create, does it make any difference?  Also in the console output on initial window creation there should now be a line like

[code]

Does that show up?  The four numbers are x,y - width,height.  Does the x,y coordinate look correct for the upper-left corner of the screen you want to use?  Does it change when you use -sdl_displayindex 0 vs. 1?

[2016-03-31 23:24] gdrewb-valve commented on #266
The current release should enumerate many more ALSA options, is that working for you?

[2016-03-31 23:24] gdrewb-valve commented on #765
Closing pending more info.

[2016-03-31 23:24] #765 closed, assigned to gdrewb-valve

[2016-03-31 23:25] gdrewb-valve commented on #813
Closing as this has been passed on to the larger team and won't be tracked here.

[2016-03-31 23:25] #813 closed, assigned to gdrewb-valve

[2016-04-01 05:20] chrylis commented on #301
I've been trying to figure out whether it still applies. I'm not _noticing_ anything amiss, so yeah, it seems fixed.

[2016-04-01 10:06] PizzaPino commented on #804
I have this same problem and I think it happens, when heroes walk in front of the minimap, too. Left clicking on the black spots remove them.

[2016-04-01 10:11] PizzaPino commented on #616
Can't we have this working in-game? There's even an option to enable the CMD button, which doesn't work.

[2016-04-01 11:21] czarnyckm opened #823 "Dota2 doesn't start on linux since Spring Cleaning Update"
Hi,
since few days I'm unable to start Dota2 on 64bit Debian Sid with Alsa.
I verified local content, but without effect.

[code]

Other games works fine e.g.: cs:go or Xcom2.

System Information:

[code]

console.log:

[code]

Strace:

[code]

[2016-04-01 13:02] msjyoo commented on #556
Hello, using Cinnamon on Debian 8 here. I have the same issue. Before if I went into windowed mode and switch back to desktop fullscreen, I could play on my primary monitor (left). But now, even that workaround doesn't seem to work and I'm now forced to play in windowed mode just to get the correct monitor :(

1920x1200
Dual monitor, left primary
Debian 8, Cinnamon DE

@gdrewb-valve

[2016-04-01 13:36] Tele42 commented on #556
@sekjun9878 cinnamon has a hotkey to move fullscreen windows from one monitor to another, which will work when the steam overlay is up.

[2016-04-01 15:21] gdrewb-valve commented on #556
Does Dota initially start on the correct monitor?  Does -phased_window_create make a difference? Can you post the startup information I requested?

[2016-04-01 16:03] gdrewb-valve commented on #745
According to the larger team your log shows network communication failures, which will prevent the game from running normally.  There's nothing in the logs to show a particular reason, just that some network traffic isn't getting through correctly.

[2016-04-01 17:31] engywook commented on #555
@gdrewb-valve @danginsburg since you closed this. Any hints what the issue might be with the Window Manager, xorg, whatever if I get the time/itch to take a look at herbstluftwm myself? The patch released at 11 Oct made this issue appear for me. It may also have been caused by some Arch Linux update though. It has been too long to recall. I am also affected by #360 which makes dota kind of annoyin

[2016-04-01 17:46] gdrewb-valve commented on #555
It's hard to say what the problem might be as we only suspect that it's the WM at fault since things work fine on many other WMs.  It could be the same underlying issue as #360 so if you're familiar with gdb looking at whether things are hanging in SDL would be a good thing to check.

[2016-04-01 17:56] gdrewb-valve commented on #823
The Steam failure reports that have CrashIDs are ones that were recorded at Valve.  The one you have is a problem in the Steam client itself with the hardware survey and isn't related to Dota.  When you have crashes that aren't recorded they're most often problems in the video driver, but I have no proof of that.  If you're familiar with gdb at all you can start Dota in gdb and then at least get a

[2016-04-01 17:59] gdrewb-valve commented on #616
Dota is still limited in what modifiers you can use, this isn't a Mac issue.  You can't use shift or control for bindings on any platform.  You can't use the Windows key on Windows.  The larger team has been doing some key binding updates and might be considering this but I have no idea if or when that'll happen.

[2016-04-01 20:07] czarnyckm commented on #823
Backtrace:

[code]

[2016-04-01 20:08] gdrewb-valve commented on #823
Thanks, I'll pass this on to the SDL team.  They just added some extra ALSA output enumeration and it looks like they have a bug.

[2016-04-01 20:39] czarnyckm commented on #823
I can confirm after remove libSDL2-2.0.so.0 from game/bin/linuxsteamrt64/ directory the Dota2 start again. Thanks

[2016-04-01 21:42] admshao commented on #733
Not affected by Spring Cleanup update. It's been painfull to proper control the camera.
Please consider giving this another look.

[2016-04-01 21:44] gdrewb-valve commented on #733
You'll want to report this at dev.dota2.com, this repo is for bugs that only happen on Mac and Linux.

[2016-04-01 22:52] vith opened #824 "Fails to start by clicking an invite in a friends message window"
This used to work not too long ago.

Log:

[code]

Sysinfo: https://gist.github.com/vith/ae38c6aa707b705b7c012b5ffc4a12be

[2016-04-02 01:17] gdrewb-valve commented on #824
We think we've found the problem and the next update will have a fix.

[2016-04-02 12:19] u00101010 opened #825 "Menu is missing 3 panels on Linux"
Hi there!

Only the last match and the store sale panels work on the Dashboard.

![dasherror](https://cloud.githubusercontent.com/assets/7419656/14226263/7819e5c0-f8dd-11e5-94f0-62a458f22fe6.png)

This doesn't seem to be a computer-specific issue to me, but [here's a gist with my system information](https://gist.github.com/helix42/263e9e672868f05aca1a389e1b3db2ec) anyways.

[2016-04-02 12:49] chinoythegreat commented on #804
Happens to me as well. Mac OSX El Capitan 10.11 here.

![20160402201721_1](https://cloud.githubusercontent.com/assets/17286618/14226426/4cbf3664-f914-11e5-8d10-6b399bb6fbf5.jpg)

[2016-04-03 14:37] dhiru1602 commented on #556
I was suffering from Dota 2 launching on wrong monitor ever since the release of Reborn client. I was using the _-sdl_displayindex "some-invalid-value"_ to force it to launch Dota 2 on the primary monitor. This workaround no longer works with recent SDL update.

I tried -phased_window_create and removed the sdl_displayindex parameter and Dota 2 correctly launches on my primary monitor. I am also a

[2016-04-03 16:49] u00101010 commented on #825
UPDATE: Now the shop's gone, too.

![20160403170156_1](https://cloud.githubusercontent.com/assets/7419656/14233568/c9111e22-f9cc-11e5-9886-d7244c3420c8.jpg)

[2016-04-03 21:09] engywook commented on #555
bt dota thread:
https://gist.github.com/engywook/60e4e2d5002864a9da0caa42545a8ea5

info threads:
https://gist.github.com/engywook/df95e7c2f4a06b97d710b40cbc10413a

bt of some locked threads & SDLAudio:
https://gist.github.com/engywook/7c9c4395327fa64f0ad276436506b4f4

Anything useful? It's kinda hard without debug symbols. ;-)

[2016-04-03 23:49] sylware commented on #266
Tons of alsa options, indeed (Alsa dev nodes are set in "pulse" unix group, then I had to add the steam user to pulse unix group).
Is this code going into the steam client for steam voice?

[2016-04-04 01:22] gdrewb-valve commented on #266
The Steam client doesn't use SDL so the work doesn't directly translate.  You can open a feature request in the steam-for-linux repo.

[2016-04-04 01:23] #266 closed, assigned to gdrewb-valve

[2016-04-04 01:28] gdrewb-valve commented on #555
It doesn't appear to be stuck in SDL like it would show for #360.  That makes it much harder since it's unclear if any threads are misbehaving or not.  There are a couple of threads waiting in the OpenGL renderer, which may be totally normal.  Dan, does anything jump out at you?  We probably won't be able to get any more without actually reproing it here at Valve, which will be a long while off.

[2016-04-04 16:26] engywook commented on #555
And like I mentioned earlier this used to work before Oct 12.

[2016-04-05 00:13] gdrewb-valve commented on #822
Closing as we can't do more without additional information.

[2016-04-05 00:13] #822 closed, assigned to gdrewb-valve

[2016-04-05 00:14] gdrewb-valve commented on #303
Closing as this appears inactive.

[2016-04-05 00:14] #303 closed, assigned to gdrewb-valve

[2016-04-05 01:41] Kadunzera commented on #790
Hello, I'm having the same problem. I get disconnected right after hero picks and game starts.

`Informações do computador:
    Fabricante: Apple
    Modelo: MacBookPro8,2
    Tipo: Laptop
    Sem entrada de toque

Informações do processador:
    Fabricante da CPU: GenuineIntel
    Família do processador: 0x6
    Modelo do processador: 0x2a
    Stepping do processador: 0x7
    Tipo do processador:

[2016-04-05 06:06] lucianjon opened #826 "[Linux] Poor performance with GTX970"
Have been having issues with the performance with the linux client. On windows with the opengl
renderer it sits at a solid 120 fps (where it's capped) most of the time, it sometimes drops to 90s or so. However when playing on linux it frequently drops to the 30s and under. It does seem to generally correspond with stuff going on, typically team fights are the worst. Have tried disabling the steam

[2016-04-05 20:12] gdrewb-valve commented on #804
Is this still happening after the April 5 update?

[2016-04-06 03:10] budimanjojo commented on #825
I can confirm this on my system too

[2016-04-06 15:55] tksafrit commented on #804
Yes. Another Iris 6100 user reporting in.

![20160406115319_1](https://cloud.githubusercontent.com/assets/5273385/14323353/35af7aba-fbee-11e5-9d33-eea8c320fc0a.jpg)

[2016-04-06 16:11] gdrewb-valve commented on #804
Too bad, now we'll have to wait and hopefully Apple will get back to us.

[2016-04-07 01:32] pdrocaldeira opened #827 "[Linux] Crasis/Tilde Hotkey"
I can't use crasis in any hotkey. I bought a new keyboard with en-US layout, my previous was BR-ABNT2.
In this layot Crasis is where single quote were, I'm trying to change but I can't.

I just keep pressing crasis to set my scoreboard hotkey and nothing happens. I've put ']' but I really like crasis cause I can use my left hand to press.

Sorry for my bad english.

[2016-04-07 03:17] anyuzer commented on #804
Got back from out of town. Problem still occurs for me as well, though seems fairly well documented at this point.

![system](https://cloud.githubusercontent.com/assets/195924/14339568/5e71e0c8-fc34-11e5-97d2-1079ab765a42.png)

[2016-04-07 08:50] ruscur commented on #556
Finally reunited with my desktop so I can test this.

`-phased_window_create` works for me, no other arguments.

[2016-04-07 15:08] gdrewb-valve commented on #827
In the binding Settings go to the Advanced section and choose positional bindings.  Does that help?

[2016-04-07 16:17] gdrewb-valve commented on #825
This happens on all platforms.

[2016-04-07 17:00] mahavir1196 opened #828 "Map glitches"
some times we are not able to see map.map becomes black and shadows of creep was shown.

[2016-04-07 19:39] gdrewb-valve commented on #828
Are you running on Mac?  In that case #804 is already open for this.

[2016-04-07 23:55] pdrocaldeira commented on #827
Sorry but It doesnt.
I tried to change my layout to en-US instead of en-US (alternative, international) and same result. :(

[2016-04-07 23:59] gdrewb-valve commented on #827
Can you post the system information from Steam?

[2016-04-08 00:00] gdrewb-valve commented on #827
Also can you add -input_message_spew and -console to your launch options, then open the console in the game main menu and press the key you're interested in?  That should result in some spew that you can post here.

[2016-04-08 00:05] pdrocaldeira commented on #827
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  3100 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supp

[2016-04-08 00:14] pdrocaldeira commented on #827
SDL:  got SDL_TEXTINPUT
TEXTINPUT '`'

I need to press it two times to get this message. Also It works if I press  `  and <space>.
This is a normal behaviour using en-US(international) layout cause this layout allow me to combine this key with a letter like: à è ì ò ù

Using en-US (default) I cant write these letters and just press  ` one time and get `.  But doesn't matter what layout I'm using D

[2016-04-08 00:16] gdrewb-valve commented on #827
Can you also include the key up and key down information if there is any?  If there aren't any then Dota can't treat it as a key.

It sounds like this may be the same issue where SDL doesn't generate some key events for combining characters, #268.

[2016-04-08 00:20] pdrocaldeira commented on #827
There isn't. :(

What a coincidence. Exactly the same problem "In the old client I had the ` assigned to the scoreboard and it worked."

Please, let me know if/when they fix it! Thanks for your time Drew!

[2016-04-08 06:17] literallyunplayable opened #829 "Support missing for 'select all other units' after spring cleaning update"
Support for "dota_select_all_others" was removed from the UI after the spring cleaning update. This command is nessicary to quickly and accuratley use Witch Doctor's ward as well as easily command broodlings. Please return support to the settings UI.

[2016-04-08 11:39] msjyoo commented on #556
`-phased_window_create` launches the game on the primary window correctly for me. However, switching from Windowed to "Desktop fullscreen" in-game seems to make the game go back to the wrong behaviour again. `-sdl_displayindex 0` made no difference.

Still a huge improvement though, thanks for the fix!

[2016-04-08 18:53] gdrewb-valve commented on #829
This repo is for Mac and Linux bugs and we don't handle general issues.  I've passed this on to the larger team.

[2016-04-08 18:53] #829 closed, assigned to nobody

[2016-04-08 18:55] gdrewb-valve commented on #556
OK, sounds like -phased_window_create is working for everyone.  We'll hook some more of its logic in the video settings path and that will hopefully fix the case of switching from windowed to fullscreen.

[2016-04-08 19:07] gdrewb-valve commented on #828
I'm assuming this is on a Mac so closing duplicate.

[2016-04-08 19:07] #828 closed, assigned to gdrewb-valve

[2016-04-08 19:08] gdrewb-valve commented on #824
The update has been released, this should be fixed.

[2016-04-08 21:14] gdrewb-valve commented on #829
It's in the advanced page of key bindings, there's a "Select All Other Units" binding there.

[2016-04-09 04:22] ashmew2 opened #830 "[Linux] Prevented from matchmaking timer counts up instead of counting down"
Details:

If you fail to ready up for a match , you are prevented from matchmaking for 10 minutes.
## Expected Behaviour :

You are prevented from matchmaking due to failing to ready up for 9 minute 59 seconds (Timer counts down).
## Actual Behaviour :

You are prevented from matchmaking due to failing to ready up for 8 hours 50 minutes 51 seconds (Timer counts up to 9 hours).

Steps to Reproduce

[2016-04-09 15:18] bkconrad commented on #826
Same card, same distro, same problem. It affects pretty much every steam Linux game I play. Best solution I've found so far is to dump Unity for a WM that lets you disable compositing (even though you really should be able to get 60fps with compositing enabled...). I use XFCE then disable compositing in the system settings.

Other suggestions are to play in "fullscreen" rather than "windowed fulls

[2016-04-09 16:38] gdrewb-valve commented on #830
This happens on all platforms so the larger team will handle it.

[2016-04-09 16:38] #830 closed, assigned to gdrewb-valve

[2016-04-09 16:53] markfinst commented on #790
Getting exactly the same problem. On iMac 2013.

I've found on dev.dota2 similar discussions with the same problem:
- http://dev.dota2.com/showthread.php?t=190868
- http://dev.dota2.com/showthread.php?t=192664

Both are on Mac.

Also, for some reason I always load into the game one of the last, even though specs are quite good:

[code]

... again, reading discussions on dev.dota2, it seems to happ

[2016-04-09 17:12] gdrewb-valve commented on #790
This happens on all platforms.  The larger team has been looking at it.  There are multiple reports on Mac to be sure and we'll keep this open.

[2016-04-10 03:28] chinoythegreat commented on #804
Will this ever be fixed? Still bugged for me. Well done Valve.

[2016-04-10 07:53] aigarius commented on #347
I think that the issue is actually something a bit different - the desktop friendly resolution could be at fault. If you have a 4k screen and your real resolution is set to 4k, but in Dota2 you set the resolution to 1080p then the game is rendered at 1080p and then scaled up by compositor, but the cursor is a hardware cursor that is rendered by compositor directly and thus it does not get scaled i

[2016-04-10 11:43] catamphetamine commented on #4
Performance is so bad on Hackintosh 10.11.4 GeForce 970 that I'd prefer rebooting into Windows than playing this on Mac.
The FPS is above 100 according to the top bar but the performance is very laggy and is unplayable.
(NVidia web driver installed)

[2016-04-10 16:15] FeatheredSerpent opened #831 "[Linux] Miscellaneous and Control Groups sections inaccessible in 1280x1024"
The Control Groups section under Advanced Hotkeys and the Miscellaneous section under Advanced Options are inaccessible in 1280x1024.

https://i.imgur.com/HuLB8FZ.jpg
https://i.imgur.com/NOEP2oa.jpg

On other resolutions (1280x960, 1152x864, 1024x768, 800x600, 640x480) the sections are accessible.

[code]

[2016-04-10 16:19] icyphox opened #832 "[Linux] Dota 2 not starting up correctly on Ubuntu 15.10"
I've installed Dota 2 on my Ubuntu box, and the Nvidia proprietary drivers too. And now, when I launch Dota, I get a HUGE logo of Dota on the screen and then two black boxes appear over that. And that's it, it's hung. Any ideas? Here's what it looks like: http://imgur.com/Jv8aj1B
- Okay so here's my kernel version: `4.2.0-16-generic`
- And, here's my driver version: `304.131`
- Finally, I have a G

[2016-04-10 16:50] gdrewb-valve commented on #831
This happens on all platforms and will be handled by the larger team.

[2016-04-10 16:50] #831 closed, assigned to nobody

[2016-04-10 16:52] gdrewb-valve commented on #832
The first thing to try is to update your drivers.

[2016-04-10 16:59] gdrewb-valve commented on #347
You're correct that the cursor doesn't scale with upscaling video settings but the cursor size should still be doubled on a high DPI system.  I believe most of the reports here are that it doesn't get scaled at all.

[2016-04-10 17:20] rcano commented on #347
I'm using my native resolution (which isn't 3k but something close to it). The cursor is not being scaled at all. If I configure full screen with resolution of 1080p it is scaled up, just not with native resolution.
Indeed I think the real solution is providing an option to configure it (even if console based).
On the other hand, without really knowing SDL, I don't think any update to it will give

[2016-04-10 18:20] gdrewb-valve commented on #347
We need actual DPI information for reasonable automatic scaling. Basing it purely on resolution won't work well since you need to know the screen's physical size to have an idea of how large the cursor will appear.

Adding some kind of arbitrary user control might be possible, I'll check on that.

[2016-04-10 18:23] aigarius commented on #347
Why would DPI matter? On my 13" laptop a 5mm cursor would be fine, but on my 60" TV I need a 4cm cursor at least. But if the resolution is the same, they are the same size in pixels. IMHO the cursor size needs to be proportional to the resolution as a baseline and from that users could adjust. Casters, for example, might actually want to have a smaller cursor in the streams. People with vision pro

[2016-04-10 21:32] gdrewb-valve commented on #347
The DPI information is used for auto-sizing as it's the only way to guess how big a cursor would appear.

[2016-04-11 03:43] icyphox commented on #832
I think I have the latest drivers because I used `sudo apt-get install nvidia-current` to install them.

[2016-04-11 03:58] gdrewb-valve commented on #832
The current NVIDIA drivers are at 361.42, the 304 series was from quite a while ago.

[2016-04-11 04:09] icyphox commented on #832
Okay, I'll try installing those and get back to you.
EDIT: I actually had installed these before, now that I check my Downloads folder. I remember now, it caused some severe display issues, hence I had to purge them. Maybe compatibility issues.

EDIT2: Okay! I installed 340.32 and it worked! I know it's not the latest, but I'm not going to bother updating it. Because, if it ain't broke, don't fix

[2016-04-11 04:54] vith commented on #824
No difference:

[code]

[2016-04-11 06:03] lucianjon commented on #826
Using something other than unity really makes that much of a difference for you? Can you get solid 60+ on something like XFCE? I'd understand a few fps difference but not the significant drops I've been getting.

[2016-04-11 16:04] gdrewb-valve commented on #832
Thanks, closing.

[2016-04-11 16:04] #832 closed, assigned to nobody

[2016-04-11 16:06] dafuq1337 commented on #401
Could you at least fix that I can install it, if I can't run it - and if that's to much work, at least give a decent error message?
It seems like a huge waste of time and broadband to install it (twice).
While figuring out what the problem is, steam recommanded to remove the appcache folder - which obviously didn't help ...

If I try to start dota, I get the error "Failed to start game (missing ex

[2016-04-11 16:45] Tele42 commented on #401
The 64 bit requirement is documented at https://github.com/ValveSoftware/Dota-2 but not on the store page.

[2016-04-11 17:15] dafuq1337 commented on #401
Sorry, I didn't find this. Would it be possible to update the instruction in store? I think that would really be great and beneficial as I am not the only one who missed this dependecny.
I think the links to this github page are rather hidden ...

Thanks for the fast reply.

[2016-04-12 00:05] gdrewb-valve commented on #824
This worked for me on my Linux machine so we'll have to see if we can find a way to repro the error.

[2016-04-12 00:39] vith commented on #824
I'll see if it'll happen on a more common distro or, failing that, a clean install.

[2016-04-12 15:00] vith commented on #824
I can reproduce it on a clean install of Antergos, which is a glorified Arch Linux GUI installer, on a physical machine. I tried Ubuntu in a VM first but was unable to launch the game in any way because of lacking OpenGL support in the VM.

terminal log: https://gist.github.com/anonymous/118afc43e6610a276ee7dd7176eba73a
system info: https://gist.github.com/anonymous/36b64bbad7256fec7419fd690ba0dd6

[2016-04-12 15:34] vith commented on #824
Ah, I think I know why you couldn't reproduce it. I am using `__GLVND_DISALLOW_PATCHING=1 %command%` as Dota 2 launch option. If I export that environment variable before starting steam instead, and clear the launch options, accepting the invite launches the game successfully.

[2016-04-12 15:38] gdrewb-valve commented on #824
Thanks, I think you're right that the extra launch options are creating a more complex command line and confusing the launch script.

[2016-04-12 22:21] gdrewb-valve commented on #347
The April 12 update added a -cursor_scale_percent launch option.  -cursor_scale_percent 50 will make the cursor 50% of its default size, -cursor_scale_percent 200 will make it twice as large as normal and so on.  People can give it a try to override the auto-scaling decision.

[2016-04-12 22:24] gdrewb-valve commented on #804
We haven't heard anything from Apple so we've put in another experimental change in the April 12 update.  Are things any different after updating?

[2016-04-12 22:36] anyuzer commented on #804
Did a really quick check, and it looks fixed to me! Unfortunately, now I will have nothing to blame my terrible playing on :-D

[2016-04-13 01:40] gu3st commented on #804
0/10 for map awareness.

[2016-04-13 03:26] mgalvank commented on #347
@gdrewb-valve How do I reduce it to the default size ? Here's how my cursor looks ingame after the latest update.
![img-20160412-wa0002](https://cloud.githubusercontent.com/assets/16555428/14482006/fd944440-0105-11e6-974f-42d8254ddc37.jpg)

[2016-04-13 03:39] gdrewb-valve commented on #347
-cursor_scale_percent 100 is probably what you want.

[2016-04-13 04:02] rcano commented on #347
Great! I believe this can now be marked as fixed

[2016-04-13 04:39] mgalvank commented on #347
@gdrewb-valve Yes, but how do I do that ? I tried doing it in console but it's not working.

[2016-04-13 05:11] gdrewb-valve commented on #347
Right click on the game in your game list in Steam.  Choose Properties.  In the General tab there is a button named "Set Launch Options..."  Click on that and enter the text, then start the game.

[2016-04-13 05:49] mgalvank commented on #347
@gdrewb-valve  Thanks that fixed it. Cheers.

[2016-04-13 06:33] xrisk commented on #804
Yes, I haven't noticed the bug for some time. I believe it is fixed for me.

[2016-04-13 12:36] danginsburg commented on #804
Great, sounds like our workaround did the trick.  Closing.

[2016-04-13 12:36] #804 closed, assigned to danginsburg

[2016-04-13 17:17] gdrewb-valve commented on #84
Closing as the console behavior is not platform-specific.

[2016-04-13 17:17] #84 closed, assigned to nobody

[2016-04-13 17:20] gdrewb-valve commented on #347
The fact that auto-sizing of the cursor is wrong sometimes affects all platforms so this will be handled by the larger team.  Anybody is welcome to use -cursor_scale_percent to work around it for now.

[2016-04-13 17:20] #347 closed, assigned to gdrewb-valve

[2016-04-13 18:24] czarnyckm commented on #823
I want just lets you known that todays update breaked dota2 again.

Backtrace:

[code]

[2016-04-13 18:27] gdrewb-valve commented on #823
I don't believe we've shipped a fix, you just worked around it locally, didn't you?

[2016-04-13 19:33] czarnyckm commented on #823
After the fix dota2 worked well till today.

The problem occured on the two computers with sid debian+ alsa

1st: Creative Xfi + usb-audio + nvidia hdmi
2nd Creative Audigy 2zs + nvidia hdmi

 To be able to play dota today we must to delete libSDL again.

[2016-04-13 19:38] gdrewb-valve commented on #823
That all sounds correct.  When we ship the fix we'll close this issue.

[2016-04-14 10:05] Sathish59 opened #833 "Unable to connect to dota 2 servers"
I've been having this problem for about a week. I'm unable to connect to any dota servers. I can find games but then a connection cannot be establisghed with the server and I end up getting a matchmaking ban. Firewall or antivirus doesn't seem to be the problem. I'm using a cable connection., so no router issues. Tried the solution -net_maxroutable 800 but didn't work.
This I what the console says

[2016-04-14 14:06] Eignar17 opened #834 "cursor big error"
new error is new update

[2016-04-14 14:42] justSQL commented on #834
See issue #347 the last few comments already address this issue.

[2016-04-14 16:33] gdrewb-valve commented on #833
This forum is for bugs that only occur on Mac and Linux, you'll want to post at dev.dota2.com

[2016-04-14 16:33] #833 closed, assigned to nobody

[2016-04-14 16:37] gdrewb-valve commented on #834
This happens on Windows too and the larger team is already looking at it.  The current workaround is to add -cursor_scale_percent 100 to your launch options.

For data gathering can you post here with your desktop resolution and physical monitor diagonal size, whether you have any DPI/UI scaling options set in your system plus the video mode and size you're running at?  At the main menu can you br

[2016-04-14 17:09] gdrewb-valve commented on #833
One pointer to round this out: the particular ports used to communicate to the routing clusters are 27015-27050.  The traffic is UDP, so check that your networking setup allows UDP traffic through on those ports.

[2016-04-16 00:05] pcactr opened #835 "issue with 15 APR patch"
This occurs immediately after launch:

Verify integrity completes successfully.

[2016-04-16 00:06] rained23 opened #836 "SteamDatagram_InitClient() failed to initialize steam datagram network config"
After the recent update, I am unable to run Dota

OS : Ubuntu 16.04

System Information

[code]

[2016-04-16 00:10] #835 closed, assigned to nobody

[2016-04-16 00:10] lordtiva commented on #836
I have the same error

[2016-04-16 00:11] pdrocaldeira commented on #836
Same here.

[2016-04-16 00:11] pcactr commented on #835
duplicate of #836

[2016-04-16 00:12] rained23 commented on #836
It keep validating the game file, Is this Steam problems ?

[2016-04-16 00:12] gu3st commented on #836
Same here. 14.04 Ubuntu

[2016-04-16 00:12] rained23 commented on #836
Are you all running Steam Beta ?

[2016-04-16 00:13] pdrocaldeira commented on #836
I'm not.

[2016-04-16 00:13] rained23 commented on #836
Okay, I tried reverting to non beta Steam to check if its Dota2 or Steam bug.

[2016-04-16 00:14] ericp1337 commented on #836
It's a Dota 2 bug. I was playing just fine earlier today before the patch

[2016-04-16 00:15] rained23 commented on #836
Okay tested on both Beta and Non Beta. Dota2 bug indeed.

[2016-04-16 00:22] cmoang commented on #836
I confirm. The problem is real! :)

[2016-04-16 00:24] dmashuda commented on #836
Ubuntu 14.04:
Uninstalled and reinstalling now: ill update if it fixes the issue

Update:
 Uninstalling and reinstalling does not fix the issue

[2016-04-16 00:26] DyXel commented on #836
Valve broke the game with that patch! Hopefully they will fix it anytime soon (I am afraid that this will not happen until tomorrow)

Edit:
OS: Debian Stretch/Sid x64 bits

[2016-04-16 00:26] astroty commented on #836
Confirmed for me too
manjaro 64

[2016-04-16 00:27] Zera99 commented on #836
+1. Same thing

[2016-04-16 00:31] gtg903w commented on #836
Ubuntu 14.04 also confirming bug. No extra information to add.

[2016-04-16 00:31] ghost commented on #836
+1. Tried to verify local files few times but that doesn't fix issue.

[2016-04-16 00:34] Dotarp commented on #836
+1 - Same as everyone else is saying.

[2016-04-16 00:36] matheo commented on #836
Oh well, I was having some fun then BOOM :( broken update for my ubuntu 14.04

[2016-04-16 00:38] gu3st commented on #836
@gdrewb-valve

[2016-04-16 00:39] klarkc commented on #836
+1 Ubuntu 14.04 64bits.

Terminal Log:

[code]

[2016-04-16 00:40] ipeterov commented on #836
+1 Ubuntu 15.10 64 bit. Hope this will be fixed soon!

[2016-04-16 00:43] bitfade commented on #836
Ubuntu 14.04 64
same ... how that's even possible for bugs like this to go unnoticed before realeasing a patch is beyond me

[2016-04-16 00:44] ebetica commented on #836
+1 on Arch 64 bit

[2016-04-16 00:46] 0re5ama commented on #836
same here

[2016-04-16 00:46] klarkc commented on #836
@bitfade I know right? There is not tests for this? It seems to be occurring with everyone who use Linux.

[2016-04-16 00:46] zentrification commented on #836
+1 Ubuntu 14.04 64bit

[2016-04-16 00:47] brandonw commented on #836
+1 Arch 64

[2016-04-16 00:47] ghost commented on #836
@bitfade I guess they don't check if game runs fine on Linux...

[2016-04-16 00:47] nowylie commented on #836
+1 Arch 64

[2016-04-16 00:48] pdrocaldeira commented on #836
@HereComesTheRainAgain Now we're sure. haha

[2016-04-16 00:49] ghost commented on #836
@pdrocaldeira So annoying... I don't know if reinstalling whole game can change anything? I suppose error will remain... Anyone tried that?

[2016-04-16 00:50] pfwb commented on #836
+1 openSUSE tumbleweed x86_64, AMD Radeon 7750 (radeonsi)

[2016-04-16 00:50] ze12augusto commented on #836
+1 fedora 23 x86_x64

[2016-04-16 00:51] pdrocaldeira commented on #836
@HereComesTheRainAgain @dmashuda is trying that but I doubt it will work. :(

[2016-04-16 00:51] Mat9999 commented on #836
+1 gentoo x86_64

[2016-04-16 00:52] paulo-erichsen commented on #836
+1 same here

[code]

[2016-04-16 00:52] dmashuda commented on #836
I tried reinstalling. It did not work :(

[2016-04-16 00:55] DyXel commented on #836
@bitfade
"Linux is the future of Gaming" -Gabe Newell

And they do not even check if the game runs on Linux...

[2016-04-16 00:56] dsimmie commented on #836
+1 Ubuntu 14.04 64bit

[2016-04-16 00:56] ghost commented on #836
@DyXel They probably assume that Linux is perfect and everything will run just fine. xD

[2016-04-16 00:56] Storm-Engineer commented on #836
+1 on both normal and beta. So far nothing I tried worked.

Arch Linux 64 bit

[2016-04-16 00:58] chadq commented on #836
instead of 6.87 we get a broken client.

[2016-04-16 00:58] pdrocaldeira commented on #836
"They don't care about us"

JACKSON, Michael

[2016-04-16 00:59] DyXel commented on #836
@HereComesTheRainAgain I am pretty sure that the problem is not Linux, they are probably wondering what is happening. Do you guys think that this affects Valve servers? Because most of the servers runs on Linux nowadays...

[2016-04-16 00:59] EncodedBird commented on #836
@DyXel Its just the Linux client most likely, I doubt it does affect the server, else the windows version would have issues as a result.
also +1 archlinux 64 bit

[2016-04-16 01:01] ghost commented on #836
@DyXel I guess that servers are fine because Windows users can play Dota... My friend updated the game and launched it normally. I updated the game, verified cache, and error occured...

[2016-04-16 01:02] klarkc commented on #836
Do you think they will make a hotfix still today?

[2016-04-16 01:02] AbuShawarib commented on #836
Ok guys it's confirmed. Just wait till someone sends the patch for the game.

[2016-04-16 01:03] klarkc commented on #836
The best is to hear "Just Install windows motherfuc$%#@" from my friends who are waiting me to join party xD. That's your fault Mr. Newell.

[2016-04-16 01:03] nelsongc commented on #836
same problem in Elementary OS
Linux LinuxDev 3.19.0-58-generic #64~14.04.1-Ubuntu SMP Fri Mar 18 19:05:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-04-16 01:04] ghost commented on #836
@klarkc Probably, this wasn't major update, so I think that it couldn't cause big issue... But who knows... Hope that fix will come soon.

[2016-04-16 01:04] immortal-tofu commented on #836
Same here on Linux Mint.
![image](https://cloud.githubusercontent.com/assets/1384478/14578118/db8e4dd8-037f-11e6-8c31-0b24ff57cb7a.png)

[2016-04-16 01:04] Storm-Engineer commented on #836
@AbuShawarib I don't call it confirmed until I see a valve employee posting that they are aware and working on it. Until that keep blowing the horns and hitting the drums. Breaking their own most hyped game on a whole platform is kind of a major fail.

[2016-04-16 01:05] ghost commented on #836
Ditto; Ubuntu 15.10

[2016-04-16 01:06] pyarmak commented on #836
Same result here Arch linux x64.

[2016-04-16 01:08] kaioduarte commented on #836
Same thing here Fedora 23 x64

[2016-04-16 01:09] habibiefaried commented on #836
Same here bro.
It's weekend, nice moment to play dota. aand
.
.
.
.
.
.
.
Now, I can't run dota >.<
I hope valve fix this bug as soon as possible

-Cheers from ubuntu 14.04

[2016-04-16 01:09] iomtt94 commented on #836
i have same problem on ubuntu 15.10(x64)

[2016-04-16 01:09] soriac commented on #836
Same error, Manjaro 15.12 x64

[2016-04-16 01:10] iomtt94 commented on #836
ty vovlo

[2016-04-16 01:11] ysfalo commented on #836
same error , ubuntu 14.04

[2016-04-16 01:12] Storm-Engineer commented on #836
CRITICAL!
@danginsburg @gdrewb-valve @triage-valve

[2016-04-16 01:15] ghost commented on #836
What do you guys think about posting this issue on their official fb page or somewhere they can see it?

[2016-04-16 01:15] Storm-Engineer commented on #836
Don't tell me they are not looking at the bug tracker after an update...

[2016-04-16 01:16] ghost commented on #836
It could be the case, maybe they didn't tested this minor update on Linux...

[2016-04-16 01:16] ze12augusto commented on #836
This error is caused by wrong file path.
Dota is looking for file in '~/.local/share/steam/steamapps/common/dota 2 beta/game/core/cfg/network_config.json' but that file not exists.
I fix this bug creating a link for the correct file to wrong dota path.
'ln -s ~/.steam/steam/steamapps/common/dota\ 2\ beta/game/core/cfg/network_config.cached.json ~/.local/share/steam/steamapps/common/dota 2 beta/gam

[2016-04-16 01:22] habibiefaried commented on #836
@ze12augusto where is the cache file?

[2016-04-16 01:23] pcactr commented on #836
My install has network_config.json in the right spot -- still doesn't work.

[2016-04-16 01:23] habibiefaried commented on #836
same as @pcactr

[2016-04-16 01:25] Plagman commented on #836
We're looking into this now, I'll update the bug when there's news, thanks!

[2016-04-16 01:29] klarkc commented on #836
@ze12augusto For me, the file exists, but still the error persists.

How do you know where Dota is looking for files?

[2016-04-16 01:31] Nadhum commented on #836
Let's hope Valve learns a lesson from this.

[2016-04-16 01:32] bitfade commented on #836
the problem is the case, just symlink

steam/steamapps to Steam/SteamApps

and it works.

[2016-04-16 01:33] Plagman commented on #836
We just deployed a hotfix to the game depot; can people that are affected by the issue download the update and try again?

[2016-04-16 01:36] aresch commented on #836
Just updated, but still experiencing the issue.

[2016-04-16 01:37] pyarmak commented on #836
Same, downloaded, same issue.

[2016-04-16 01:40] ghost commented on #836
@Plagman Fixed on Ubuntu 14.10

[2016-04-16 01:40] juston-li commented on #836
Works fine on Arch now, thanks!

[2016-04-16 01:41] dsimmie commented on #836
Fixed on Ubuntu 14.0.4

[2016-04-16 01:41] jasontduncan commented on #836
@Plagman I'm running Ubuntu 14.04x64 Downloaded the hotfix, and the game loads. Thanks!

[2016-04-16 01:41] pyarmak commented on #836
Arch = fixed

[2016-04-16 01:42] gu3st commented on #836
@Plagman Works for me now.  14.04x64

[2016-04-16 01:42] klarkc commented on #836
I don't know if I've downloaded the right update (It was a "validating" download). But still not working.

The @bitfade workaround did not fixed here.

[2016-04-16 01:42] aresch commented on #836
Downloaded another update and it works now for me.

[2016-04-16 01:43] DyXel commented on #836
Debian 8 Stretch/Sid x64 = Fixed!

Thank for the hotfix. Please test the patches everytime! Specially on the future platform of gaming!

[2016-04-16 01:43] f-hipolito commented on #836
The hotfix solved. Thanks.

[2016-04-16 01:43] Mat9999 commented on #836
fixed on Gentoo Linux x86_64. Thanks

[2016-04-16 01:44] nh2 commented on #836
@klarkc No, `validating` is not a real update. You should see a real download, roughly under 1 MB.

[2016-04-16 01:45] dmashuda commented on #836
Ubuntu 14.04 Fixed. Thanks for the quick response Valve!

[2016-04-16 01:48] astroty commented on #836
Manjaro = fixed

[2016-04-16 01:49] Plagman commented on #836
Thanks for confirming, I'll close this issue now; please open other issues as needed for any issues related to fullscreen, etc.

[2016-04-16 01:49] #836 closed, assigned to nobody

[2016-04-16 01:49] nh2 commented on #836
@Plagman If I may ask (out of interest), did you notice that problem before you commented, or did it really only take 8 minutes between the start of the investigation and the rollout of the hotfix?

Admittedly, having a community of thousands of gamers who are all pressing F5 on a Github issue AND know what `strace` is probably makes it a bit easier, but still, 8 minutes would be pretty impressive

[2016-04-16 01:51] klarkc commented on #836
Fixed here (Ubuntu 14.04) after the update.

[2016-04-16 01:58] buhman commented on #834
| key | value |
| --- | --- |
| resolution | 2880x1620 |
| diagonal | 389.5mm |
| scaling options | xft/fontconfig is manually set to 212dpi |
| video mode | borderless window; 2880x1620 |
| `check_dpi` | `SDL reports current DPI as 215.490631 (horz 215.152939, vert 216.568420)` |

---

Here I thought a ridiculously large cursor was a new feature.

Without this, the cursor goes from normal size to

[2016-04-16 02:03] Storm-Engineer commented on #836
Thank you!

But next time please check before pushing patch. :3

[2016-04-16 02:35] ghost commented on #836
Fix confirmed

[2016-04-16 03:14] nelsongc commented on #836
it works after update, thank you!!!!

[2016-04-16 11:23] gxgani opened #837 "[OSX 10.11.4] Artifacting again"
This used to happen with the previous source engine and this happened again when I launched the game, switched my space to desktop. Focused window on iTunes/Firefox and then back to game.

Here's the screenrecord:
https://cobalt60.xyz/shared/Screen-Recording-2016-04-16-16-09-55.mp4

[2016-04-17 13:04] urbinek opened #838 "Game is randomly and constantly crashing with segfault and/or various libs..."
This issue is bothering me for some time now...

I've upgraded and later reinstall system, used various combination of Nvidia drivers nothing seems to be helping

Game is crashing in menu, on loading game, on afking in game, on some big aoe spells, on closing etc without any reason...

I've found some older submits that seems to be similar whoever they are all marked as solved

system info:

[code

[2016-04-17 13:22] Phidelux opened #839 "Glitch in Berserkers Call"
After a Berserkers Call all affected Heros had to follow Axe until they were killed by the enemy team. After respawning everything was fine again. As I was playing on Linux while my team mates were playing on windows, this seems to be a logic or timing issue.

[2016-04-18 12:30] danginsburg commented on #837
The only thing I can think of here that could be us is that we use client texture storage and perhaps there is memory corruption and when the OpenGL driver tries to restore textures from our memory it is corrupted.  Does it still happen if you run with +gl_texclientstorage 0 on your command line?  Can you also please post Steam -> Help -> System Information so we can try to repro?

[2016-04-18 12:34] gxgani commented on #837
I could not replicate it (almost opened dota a lot many times after this mishap). But it was totally random. Usually list the spec out but forgotten it this time.

Macbook Pro / OS X 10.11.4
i7/Intel HD4000
8GB RAM

[2016-04-18 12:36] danginsburg commented on #838
Can you try commenting out  export __GL_THREADED_OPTIMIZATIONS=1 from dota.sh and see if it improves the situation for you?

[2016-04-18 12:41] danginsburg commented on #837
So you are saying it does not repro with +gl_texclientstorage 0 or simply that it happens very randomly and you can't repro it in general?  I do have an HD 4000 so I will try to repro it myself.

To be honest, this seems very likely to be an OS X driver issue.  I'm a bit grasping at straws, but the only thing I can think of with regard to texture memory that we control is for the textures backed w

[2016-04-18 12:43] gxgani commented on #837
It never happened after moving to Source Engine 2. This is the first time, but I'll keep a lookout without having the argument being passed to see if it's reproducible.

[2016-04-18 12:46] danginsburg commented on #837
OK, be aware the game will use more system memory with that option

[2016-04-18 13:31] Tele42 commented on #838
Alternatively, you can also add `__GLVND_DISALLOW_PATCHING=1 %command%` to the launch options of Dota 2, as libglvnd bundled with nvidia 361.28 is known defective. Either way is confirmation that libglvnd is the cause of the issue (and is fixed upstream).

NOTE: this only applies to 361.28

[2016-04-18 13:57] urbinek commented on #838
@Tele42, ate your suggesting yet another nvidia driver upgrade :)?

[2016-04-18 14:42] Tele42 commented on #838
@urbinek no, I'm just bringing to light a known quirk in your current driver.

[2016-04-18 14:59] urbinek commented on #838
@Tele42 ok, good to know, anyway i've updated driver to 361.42

i'll check both solutions

p.s. %commad% should be replaced with current provided start commands ?

[2016-04-18 16:46] Tele42 commented on #838
no, %command% is a wildcard so that you can put the environment variable ahead of the steam-game-repo provided command to start the game. In any case, `__GLVND_DISALLOW_PATCHING=1` is not applicable to 361.42 and should not change the expected behavior ... are you still crashing with no workaround?

[2016-04-18 18:21] danginsburg commented on #839
This bug is not Linux/OS X specific.  I have passed it along to the larger team though and they are looking at it.

[2016-04-18 18:21] #839 closed, assigned to nobody

[2016-04-18 19:42] urbinek commented on #838
yes... i've watched entire game and after pressing close i've got
`[16885.272121] dota2[28151]: segfault at 7708 ip 00007f6ef7b53db9 sp 00007ffc5cc247b8 error 6 in libscaleformui_4_gl.so[7f6ef78b9000+9cd000]
`

[code]

[code]

[2016-04-18 22:49] soriac opened #840 "[Linux] Black screen on startup"
After a short update today the game opens, shows the DOTA 2 logo for a few seconds and then goes into a black screen. The cursor from the main menu is visible, but clicking does nothing. I'd post system stats but i don't know how.

[2016-04-18 23:00] soriac commented on #840
After restarting steam and checking game integrity the problem went away. Sorry.

[2016-04-18 23:00] #840 closed, assigned to nobody

[2016-04-19 14:42] Cynede opened #841 "Create list of libraries that we need to have"
For example I just googled this one https://github.com/ValveSoftware/Dota-2/issues/108

`libtxc_dxtn`

but it will be nice to have them all in one place, I can't find such list for now

[2016-04-19 14:58] danginsburg commented on #841
libtxc_dxtn is a driver-specific requirement for mesa on certain Linux distros.  There should otherwise not be external dependencies outside of the steamruntime.

[2016-04-19 14:58] #841 closed, assigned to nobody

[2016-04-19 18:02] Cynede commented on #841
@danginsburg ... honestly I'm not agreed with closing this
Even when it's driver-specific everything should be clear
Users should not google for error message like I did

[2016-04-19 19:10] ghost opened #842 "Dota 2 won't start since today"
Yesterday Dota 2 was working fine, I've made no updates since yesterday (means state of my machine has not changed one bit), yet since today Dota 2 doesn't work. Was there some minor update or something?

This is the error I get :
`libGL error: unable to load driver: i965_dri.so`

Details:
https://gist.github.com/gutigen/26ae45864d3b2585dd44606d8d405a02

Running up to date Arch on Intel 4400:
http

[2016-04-20 08:42] Phidelux commented on #842
Same here. And yes, there was a minor update and after this it tells me that the Dota2 Reborn client is running, but the client doesn't show up. Getting the same error on Arch with Intel graphics. Output of "LIBGL_DEBUG=verbose steam":

[code]

This seems to be a compatibility issue as Steam includes libstdc++ (the C++ standard library), but has a version that is incompatible with the mesa driver.

[2016-04-20 08:44] LiranV commented on #842
Same problem here (Arch + AMD R9 290).

[2016-04-20 11:01] todorovbg commented on #842
libGL error: unable to load driver: i965_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: i965
libGL error: unable to load driver: swrast_dri.so
libGL error: failed to load driver: swrast
Arch - Nvidia540m

[2016-04-20 12:45] Tele42 commented on #842
This sounds like fallout from arch updating from libgcrypt 1.6.5 -> 1.7.0, which would make this related to https://github.com/ValveSoftware/steam-for-linux/issues/4410.

[2016-04-20 13:27] todorovbg commented on #842
Downgrading to libgcrypt 1.6.5 seems to fix the issue for now. Thanks

[2016-04-20 13:31] danginsburg commented on #842
@gutigen Can you confirm the problem you have is also with libgcrypt (see ValveSoftware/steam-for-linux#4410)?  If not, please post your bug on the steam-for-linux tracker as the issue is not specific to Dota 2.

[2016-04-20 13:33] LiranV commented on #842
Also working here after downgrading to libgcrypt 1.6.5

[2016-04-20 13:52] blzq commented on #842
Adding '/usr/$LIB/libgpg-error.so' to LD_PRELOAD for steam instead of downgrading also fixed it for me (Arch).

[2016-04-20 15:18] Phidelux commented on #842
@blzq Adding LD_PRELOAD=/usr/$LIB/libgpg-error.so also worked for me. Now the Exec section of my steam desktop file looks like this:

`Exec=env LD_PRELOAD='/usr/$LIB/libstdc++.so.6 /usr/$LIB/libgcc_s.so.1 /usr/$LIB/libxcb.so.1 /usr/$LIB/libgpg-error.so' /usr/bin/steam %U`

[2016-04-20 16:57] ghost commented on #842
@danginsburg Yes, I can confirm that downgrading libgcrypt solves the issue.

[2016-04-20 17:30] martenson commented on #639
@gdrewb-valve It changed only for the worst; now it starts to happen even when the application is open. I have to minimize it multiple times to get the responsiveness back. So I basically stopped playing.

[2016-04-20 20:21] urbinek commented on #838
Fame is still crashing even with commented `__GL_THREADED_OPTIMIZATIONS=1`

dmesg

[code]

/var/log/messages

[code]

console.log:
http://nginx.urbinek.eu/dota_console.log

[2016-04-21 10:32] crapthings opened #843 "OSX graphic slow as hell after update."
fps drops

MacBook Pro (Retina, 15-inch, Mid 2015)
AMD Radeon R9 M370X 2048 MB

[2016-04-21 16:43] abacuscode commented on #843
same here. single-digit fps while playing last night

MacBook Pro (Retina, 15-inch, Early 2013)
NVIDIA GeForce GT 650M 1024 MB

[2016-04-21 17:40] danginsburg commented on #843
There is not enough information here for me to repro the problem.  I just tried on the latest version of Dota 2 on my GT650M MBPr Mid 2012 running a botmatch at 1440x900 highest quality settings Desktop Friendly Fullscreen and it is running at ~50fps solidly.  Can either of you provide more detailed repro instructions?

[2016-04-21 17:48] abacuscode commented on #843
I was playing in a bot match with 2 other people.

I forgot to add additional hardware...
Dell P2715Q Monitor
Logitech G502 wired mouse
Apple Wireless Keyboard

Additional programs running: Skype

I can double-check the screen resolution and video settings later when I am able to take a look.

[2016-04-22 00:59] satyarth commented on #842
Downgrading libgcrypt fixed the problem for me too. Thanks!

[2016-04-22 02:19] crapthings commented on #843
there're four fullscreen modes, the first one fix for me.

[2016-04-22 09:54] gear4s opened #844 "[LINUX] Not sure if this is a client problem .."
It doesn't display me as being in a party to my friends. What could that be :x

[2016-04-22 13:26] danginsburg commented on #842
OK, I will close this bug here, the right place to track this is ValveSoftware/steam-for-linux#4410

[2016-04-22 13:26] #842 closed, assigned to danginsburg

[2016-04-22 13:32] danginsburg commented on #843
I think you are suggesting going from Desktop Friendly Fullscreen to Exclusive Fullscreen fixed the issue for you.  That's good, but I'm unable to repro this.  If someone can provide repro instructions feel free to comment and I'll reopen, but closing for now.

[2016-04-22 13:32] #843 closed, assigned to danginsburg

[2016-04-22 14:12] abacuscode commented on #843
I will try the different full screen modes. Mine is at Desktop Friendly Fullscreen as well. Changing my video settings to "fastest" improved the frame rate to about 20-30. Thanks!

[2016-04-22 17:03] 4pih opened #845 "Dota 2 crash."
Hi,

Today is a very bad day for me. Dota 2 keep crashing game after game at random. Sometime only Dota2 crashed, but sometime my macbook crashed and restarted. It happens even when i'm just spectating other's game. Here is the **console.log** file. Hope this will help you to resolve the issue.
Thank you and have a great day.

[console.log.zip](https://github.com/ValveSoftware/Dota-2/files/232245/

[2016-04-22 20:59] vonclutch commented on #603
Up !
@gdrewb-valve  Any news about this bug ? rly annoying to force close everytime ....

[2016-04-22 21:01] gear4s commented on #793
ok, it's been doing it for a while again, since new update

[2016-04-22 21:30] EmersonSnow opened #846 "Dota 2 Mac Start Up"
Basically, after the latest update whenever I start Dota 2 I get the following error dialogue - Source 2 Warning - Only one instance of the game can be running at one time.

[2016-04-22 22:00] EmersonSnow commented on #846
I'm no longer getting this issue after I updated my Mac, this was either fixed in another update or is version specific.

[2016-04-23 07:16] gdrewb-valve commented on #793
Can you get the thread 1 stack in gdb?

[2016-04-23 07:16] gdrewb-valve commented on #603
@vonclutch , your last post here was that it was fixed.  The issue has been closed for months, nobody has been looking.  Issue #793, which sounds like the same thing, is currently being looked at but as before Valve has no repro.

[2016-04-23 09:03] NikitaPuzyryov commented on #793
Hereʼs something systemd-coredump generated upon dota receiving SIGQUIT from me when it was hang:

[code]

I can send the whole coredump if you point to a secure place where I can submit it.

[2016-04-23 09:34] gdrewb-valve commented on #793
I'll check with the SDL devs and we'll see where things go.

[2016-04-23 09:36] gdrewb-valve commented on #844
You'll want to post this at dev.dota2.com where there's a general discussion of Dota (there's already ani issue there actually).  This repo is only for bugs that are specific to Mac and Linux, whereas your problem happens to everybody.

[2016-04-23 09:36] #844 closed, assigned to nobody

[2016-04-23 09:37] gdrewb-valve commented on #845
Can you post the full system information from Steam?

[2016-04-23 09:38] gdrewb-valve commented on #846
OK, closing.  This may be an instance of #793 where a previous run of Dota didn't exit.  When you restarted your Mac that would have gone away.

[2016-04-23 09:38] #846 closed, assigned to nobody

[2016-04-23 09:40] 4pih commented on #845
Hi,
Here is the system info from Steam.
Thank you.

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2500 Mhz
    4 logical processors
    2 physical processors
    HyperThre

[2016-04-23 09:50] gdrewb-valve commented on #845
There is no failure report information?  That means that none of the crashes have been recorded to look at.  This often indicates a driver problem but it's hard to say for sure.  We'll have to try and catch the problem here at Valve.

[2016-04-23 09:55] NikitaPuzyryov commented on #793
I must add that Iʼm running Arch Linux and forcing dota to use system libs if possible.

[2016-04-23 10:04] 4pih commented on #845
My mac usually generates crashed report. I'll update this thread once I manage to grab it.
Thanks for your prompt reply.

[2016-04-23 10:43] 4pih commented on #845
By the way,
I attached the crash report but this is not the latest. Hope this can you in the investigation.
Thank you.

[dota2_2016-03-21-093859_BlackBeard.crash.zip](https://github.com/ValveSoftware/Dota-2/files/232909/dota2_2016-03-21-093859_BlackBeard.crash.zip)

[2016-04-23 10:51] Nieselregen opened #847 "Dota 2 starts but stays in Waiting: poll_schedule_timeout"
This is a really strange day for playing, since the Game starts and the Steam client aswell recognises that the game was launched but the process just keep Sleeping in poll_schedule_timeout. But is used to work till today, not sure if the error occurred after someone invited me to a game or after the last update cause i haven’t played for one day.

My starting options are: DRI_PRIME=1 for my Hybri

[2016-04-23 10:54] Nieselregen commented on #847
Nevermind it is fixed, dont really know how or what i caused...

[2016-04-23 10:54] #847 closed, assigned to nobody

[2016-04-24 08:38] urbinek commented on #838
shameless self-bump

also shall i sent new crash reports or it is enough ?

[code]

fresh console.log will auto update at http://nginx.urbinek.eu/dota_console.log

[2016-04-25 02:16] vonclutch commented on #603
Oups sry if you don't understand what i means, I only said it was better not fixed.

[2016-04-26 15:51] Turmfalke2 opened #848 "Dota does not start since the 6.87 update"
hi,
I am having an issue with dota no starting at all. When I launch it from the steam library tab it shows the logo for a moment and then just this:
https://ibin.co/2f6MoNW59ReV.png
The blue frame and everything around it is from my window manager and at the bottom there is half of dmenu visible, the slightly shifted grey plane is from dota2.
While in this state, the only way to close dota2 is a

[2016-04-26 22:44] jordanlm commented on #848
I'm having the same problem, except my game looks like this:
https://ibin.co/2f8QJjtNte4U.jpg

[2016-04-27 12:13] danginsburg commented on #848
The libudev.so.0 would have prevented things from running, but the fontconfig and video playback errors should not be causing a problem.  Can you please run with -con_logfile and post game/dota/console.log?  Could you also post Steam -> Help -> System Information.  I haven't been able to repro this here.

[2016-04-27 23:44] zhestkov opened #849 "Just a question to devs"
You guys doing amazing work.
Can we have any updates about Vulkan IHV shipping status?
https://steamdb.info/app/369250/history/
Its being updated often lately.
Thanks!

[2016-04-28 17:08] madtune commented on #805
nope bug it's still alive :(

[2016-04-28 21:25] gear4s commented on #793
[here's my gdb output](https://gist.github.com/gear4s/cc88ed8da64d9733a529b289bc9722a6)

using Arch Linux too, just as Nikita

[2016-04-28 22:48] gdrewb-valve commented on #793
Thanks, that looks like the same SDL issue.  I haven't heard anything back from the SDL devs yet.

[2016-04-29 02:46] crapthings commented on #843
after 6.8.7 update

frame rate drops, switched each options, with lowest settings

still slow as hell

[2016-04-29 15:57] danginsburg commented on #849
It is being actively worked on.  We are integrating a new version of Autodesk Scaleform with a Vulkan render backend.

[2016-04-29 15:57] #849 closed, assigned to nobody

[2016-04-29 18:17] Turmfalke2 commented on #848
hi @danginsburg
I noticed that I had an old nvidia driver pinned and decided to update it first. This is my System information now: http://pastebin.com/Yx3DEthN
I am using 4.5.0 NVIDIA 361.28 now and when I try to start dota 2 I get:
"Missing basic OpenGL v1.0 -> v2.0 required OpenGL functionality."

E2:
Ok, I can work around the Missing basic OpenGL bug with exporting __GLVND_DISALLOW_PATCHING=1

[2016-04-29 19:15] danginsburg commented on #848
So the part with __GLVND_DISALLOW_PATCHING=1 is a duplicate of #756.  There is nothing in the console log to suggest a problem, can you provide a callstack of the crash from gdb or a crashdump?

[2016-04-29 19:56] Turmfalke2 commented on #848
@danginsburg
As expected, I don't have debug symbols:
http://cxg.de/_11c964.htm

E2:
Also there is no 'crash' it just gets stuck while starting.

E3:
All the threads:
http://cxg.de/_547789.htm

E4(Mo 2. Mai 22:55:06 CEST 2016):
small update, if I open dota2 and the moment the window appears switch to another tag (so it isn't visible) I get to hear a few sound effects from the main screen/lobby. If

[2016-04-29 22:47] bioxz commented on #453
Same problem here with SDL 2.0.4 (is there an update that should fix the problem? I haven't tried the mercurial version so far, only stable.). "1"-Key and "Space"-Key are broken. With "Bind keys based on keyboard position" disabled, i cannot bind "Space" (nothing happens). With that option enabled, i can bind "Space" (but there is no description in the game for that binding, just a blank field.).

[2016-04-30 07:13] gdrewb-valve commented on #453
We're waiting on the SDL devs.  When something happens we'll update this issue.

[2016-04-30 08:17] SuperFlick opened #850 "Custom Hotkeys not allowed"
Cant set custom hoykeys on linux (xubuntu 15.04). This thing with skills just doesnt appear
![2016-04-30 14 12 41](https://cloud.githubusercontent.com/assets/13034633/14934794/3d37e2b0-0ede-11e6-9998-d1fca01bdcff.png)
![2016-04-30 14 12 45](https://cloud.githubusercontent.com/assets/13034633/14934793/3d37cc08-0ede-11e6-8979-661db3cf3e0e.png)
![2016-04-30 14 12 48](https://cloud.githubusercontent.c

[2016-04-30 08:31] 4pih commented on #845
Hi,
Here is the latest crash report from my mac.
Hope this helps.

Thank you

[Dota2.crash.zip](https://github.com/ValveSoftware/Dota-2/files/243511/Dota2.crash.zip)

[2016-04-30 16:54] gdrewb-valve commented on #825
The larger team fixed this in the April 27th update, I believe.

[2016-04-30 16:58] vith commented on #825
Confirming it's fixed for me on Arch Linux.

[2016-04-30 17:10] hipunk opened #851 "In the Itemshop rightclicks sometimes are not recognized correctly."
Hi,

I am experiencing an issue since a few patches (I think it got introduced in one of the later versions of 6.86), where right clicking an item in the item shop sometimes gets not recognized. I feel/see, that this issue is somewhat related to the lagging/unclean animation that is being made when opening up the shop (the shop slides in from the left of the screen so that it becomes accessible).

[2016-04-30 17:22] budimanjojo commented on #825
Thanks, gdrewb!

[2016-04-30 18:38] #825 closed, assigned to gdrewb-valve

[2016-05-01 02:29] Azura-Soren-Yuuki opened #852 "[Linux] Dota hidden?"
A note of forewarning: I have not run into many errors, and not done too much servaying, so if you need something, try asking me (and telling me what to do), as I may be slow to catch on, and do not know what exactly is needed. Sorry in advance, and thank you~!

I recently updated my computer to Ubuntu Gnome 16.04 and since then the game has an error. I startup the game, in expectation of seeing t

[2016-05-01 07:39] codeInTheShell opened #853 "[Linux] Dota 2/Steam crash and key binding issues"
Every time I try to customize my game settings Dota crashes including steam. I could partially apply a few settings at the first game launch and now every once in a while maybe 1 out of 100 attempts or more. I thought maybe it's a bug related to Skylake so I installed kernels from the repo and compiled a few by hand but without resolving the issue ( 3.19.0-32, 4.4.0-18, 4.4.0-21).

Then I thought

[2016-05-01 17:59] codetorex commented on #852
Try downgrading libgcrypt and lib32-libgcrypt to v1.6.5 or something. In ubuntu I think you can do that with `sudo apt-get install libgcrypt20=1.6.5-2` but I didn't tested though, hope it helps :)

[2016-05-01 18:53] Azura-Soren-Yuuki commented on #852
my libgcrypt was already that version. Thanks though...
I think the error has to do with the bootstrap, because most of the errors that I have been running into other people having have the symptom of `steam --restart` returning "couldn't find bootstrap, it's not safe to restart steam"... Which returns the same here, but all the "fixes" that I have encountered do not work? O.o?

[2016-05-01 19:06] codetorex commented on #852
https://wiki.archlinux.org/index.php/Steam/Troubleshooting there is section for 'Deleting the runtime libraries' which may help.

[2016-05-01 19:12] Azura-Soren-Yuuki commented on #852
Thanks soo much! This got it for me (for future reference for anyone):
`find ~/.steam/root/ \( -name "libgcc_s.so*" -o -name "libstdc++.so*" -o -name "libxcb.so*" -o -name "libgpg-error.so*" \) -print -delete`

If there were +points I would give them <3
You are a lifesaver, thanks!

[2016-05-01 19:12] #852 closed, assigned to nobody

[2016-05-01 19:35] codetorex commented on #852
Glad it did work! By the way don't forget you might have to do it again when steam updates :)

[2016-05-02 12:42] danginsburg commented on #845
@4pih For dota2_2016-03-21-093859_BlackBeard.crash.zip are you able to provide any more information about what you were doing during this crash?  For example, if you were watching a match could you provide the match ID?  It looks like an infinite recursion problem in our code from the crash dump, but I will need to figure out a way to reproduce it.  The second Dota2.crash.zip looks like a crash in

[2016-05-02 21:19] Turmfalke2 commented on #848
@danginsburg Breakthrough!
Given that my window manager is probably the most exotic program I use with dota2 I decided to test it with a more common one. For that installed i3 and to my amazement dota2 started just fine.
Now it turns out it isn't actually my window managers fault, but that fact that I usually don't launch programs as full screen.
So what ever is causing this issue is related to re

[2016-05-03 09:52] urbinek commented on #838
problem still exist on 6.87 occasionally crashing entire OS

[2016-05-03 11:38] ghost opened #854 "[LINUX] Unable to close the MVP VOTE RESULTS window"
Hi there,

I cannot close the  MVP VOTE RESULTS window by clicking X. The button gives the impression of being pressed but nothing happens and I have to kill the process and restart the game.

System info:

[2016-05-03 12:51] danginsburg commented on #854
Thanks, this issue is not platform specific, but I have passed it along to the larger team.  This tracker is for Linux/OS X-specific issues.

[2016-05-03 12:51] #854 closed, assigned to nobody

[2016-05-03 12:57] danginsburg commented on #850
This is fixed in the latest update.  Please comment if you are still seeing the bug and I can reopen.

[2016-05-03 12:57] #850 closed, assigned to danginsburg

[2016-05-03 12:59] danginsburg commented on #853
Are you able to provide a crashdump or crashdump ID?  If you could provide specific steps to repro that would help too.

[2016-05-03 14:42] Tungzzz opened #855 "[Linux] No response after choosing best player after watch dotatv ingame."
No response after choosed best player/ Looks like menu controls didn't  response on clicks.
Only killing app is helpfull.
![2016-05-03 17-38-56](https://cloud.githubusercontent.com/assets/13603284/14986861/9aed58a4-115e-11e6-8771-ac0d25d28e64.png)
![2016-05-03 17-35-45](https://cloud.githubusercontent.com/assets/13603284/14986867/a922492a-115e-11e6-8d5d-609e28ae9763.png)

[2016-05-03 15:44] Tele42 commented on #855
Possible duplicate of #854.

[2016-05-03 15:55] Tungzzz commented on #855
Yup the same issue.

[2016-05-03 15:55] #855 closed, assigned to nobody

[2016-05-03 17:32] renjithis opened #856 "Spectate - MVP result does not close"
After spectating a match, MVP screen comes. The close button clicks and there is an audio effect, but does nothing. The MVP screen stays there with no change in animation and the close button is still clickable (and the effect is same).

Ubuntu 16.04
Cinnamon 3.0.1-1
Core i5 2500K

[2016-05-03 19:12] ghost opened #857 "Text on top of the Healthbar gets very small during game."
Just like the title says, during the game the text on top of the healthbar(Player name, Hero name and lvl) gets smaller and smaller during the curse of the game. Goes away when you restart the game but then it happens again. I reinstalled the game and the problem it's still there.
Any solution/cause for this? Thx

Screenshot: in 1920*1080
http://imgur.com/EKs3bHM

[2016-05-03 19:53] danginsburg commented on #856
This problem is not Linux/OS X-specific.  The larger team is working on a fix for this.

[2016-05-03 19:53] #856 closed, assigned to nobody

[2016-05-03 19:54] danginsburg commented on #857
Please post Steam -> Help -> System Information.  It is not clear from the bug description which platform you are on.

[2016-05-03 20:26] ghost commented on #857
Here it is:

Computer Information:
    Manufacturer:  ASUS
    Model:  All Series
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3398 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported

[2016-05-03 22:55] ghost opened #858 "[Linux] Missing Vulkan support"
Looks like Dota 2 is still missing Vulkan support, can we get an ETA on when we will get some kind of beta?

[2016-05-04 00:07] danginsburg commented on #857
Thanks for the info.  It looks like you are on Windows 10.  This tracker is for Linux/OSX issues.  You can report your issue at dev.dota2.com.  I will also pass it along to the larger team.

[2016-05-04 00:07] #857 closed, assigned to danginsburg

[2016-05-04 00:08] danginsburg commented on #858
See #849, we are actively working on it.

[2016-05-04 00:08] #858 closed, assigned to nobody

[2016-05-04 01:36] ghost commented on #858
@danginsburg Oh, sorry and thanks for the answer, hopefully You can ship something to customers soon enough ;)

[2016-05-04 03:06] B9707C6887CD8B31AB6F62718091A968 opened #859 "[Linux] Starting game with non-English keymap makes binds unworking"
I'm using two keyboard layouts. US and RU one. So when I'm running game while it's US layout keybinds work correctly. But if I start game while Russian layout is ON, all binds stop working. I can text but can' not use any abilities from keyboard. Changing keymap while in game is useless. Only solution to reload game with English keymap.
Hope you fix it. :D

[2016-05-04 20:22] codeInTheShell commented on #853
Reproduction is just clicking the gear icon for the game settings inside Dota 2.
Since I can't upload for unknown reasons here is the ID:
CrashID=bp-3b00fa8d-a693-4fb7-9d39-f42602160504

I also noticed that the time zone is incorrect and not configured as on the local host which should be CEST or if GMT it should be GMT+2.

Wed May  4 20:05:46 2016 GMT: file ''/tmp/dumps/assert_20160504220446_1.dm

[2016-05-04 21:31] danginsburg commented on #853
Thanks I found the crash dump.  It seems the crash is inside of OpenAL initializing your microphone.  We will look into it.

[2016-05-04 21:57] codeInTheShell commented on #853
Now that you mention it I did make use of the "Test microphone" function in the settings. The default device is "Pulseaudio Default" which leads to an instant crash of steam.
Out of all options the only one that didn't lead to Steam crashing was with input device set to "HDA Intel PCH [ALC283 Analog](hw:0,0) via ALSA"
Seems like the audio jack in the front is only recognized via ALSA.

I should al

[2016-05-05 05:37] Feydragon opened #860 "[Mac] Dota 2 crashes multiple times while in a match (May 4 update)"
Hello,

Today's small update (May 4) seems to have caused an issue with my ability to run the game. Played several matches before the update and all was well, but after updating, I played one match and the game crashed about 4 times during that match. The first two times, the game crashed on it's own, booting me back to desktop with no error message or crash report. The third time it just became u

[2016-05-05 11:27] gdrewb-valve commented on #859
This is probably expected.  If you go into the advanced section of the binding settings and select positional bindings does that do more of what you want to do?

[2016-05-05 11:30] NekR commented on #859
@gdrewb-valve not sure about original bug, but I know other bug: If you start game with other lang selected, it displays key-binding-hints on items for that language, even if "positional bindings". e.g., for button "B" it displays Russian "И", while I expect it to still be "B" since "positional bindings" is selected.

P.S. I am on OS X.

[2016-05-05 11:31] gdrewb-valve commented on #853
You should open different entries for different issues.  However some of your key binding issues appear to be the same as #268 and don't need a new entry.  Some of the configuration issues are not Linux/Mac-specific too so things may be covered.

[2016-05-05 11:34] gdrewb-valve commented on #859
That's correct behavior, positional bindings means that the key position on the keyboard is remembered, not the character on the key.  If you switch keyboard maps a positional binding won't change but the character on the keycap can change.  If you want bindings based on characters then turn off positional bindings, in which case when you change keyboard maps the key you need to press can change.

[2016-05-05 11:36] gdrewb-valve commented on #851
You didn't post system information but this has been reported on all platforms and will be handled by the larger team.

[2016-05-05 11:36] #851 closed, assigned to nobody

[2016-05-05 11:51] NekR commented on #859
What I want is this:

1) be able to use binding with key I set no matter which language is selected (positional binding on, right?)
2) Key hints displayed on items/abilities be always displayed on English.

This is that I used to have on Windows.

Plus, those displayed hints do not change, e.g. if I start with Russian lang selected, hints are always displayed in Russian, no matter how much times I

[2016-05-05 11:58] NekR commented on #859
Hmm.. "want" is incorrect here I think. More like "expect" because I had that behavior on Windows and in most other games, e.g. no one game displays binding hints in "current language". Not sure, maybe this is usable for Asian langs/keyboards or something like that, but for other people it must be kind of weird.

[2016-05-05 12:40] gdrewb-valve commented on #859
For 1 you do want positional bindings.  There's no existing way that I know of to accomplish 2, key names will always be displayed in whatever language the system reports key names to SDL.  You could open an always-English feature request at the SDL Bugzilla and a Dota request at dev.dota2.com.  However the desired behavior in the game is to show the character for the key based on the current keym

[2016-05-05 14:05] hipunk opened #861 "[Mac] Combined sents and obs wards cooldown bugged"
When combining the two ward types together (sentries and observers), you get one item now.

However, if you use up all the charges of one kind of a ward in that item, you have suddenly no cooldown instead of the 1 second cd that is generally intended.

Very nice to see in Match ID 2340578409, gametime 43:42, Jakiro is about to ward the Sentinel ancient camp, but accidentally places three of them,

[2016-05-05 14:18] danginsburg commented on #860
If you are able to provide a crash ID or crash dump that would be very helpful.  Please also post Steam -> Help -> System Information.

[2016-05-05 14:24] danginsburg commented on #861
This is likely not OS X specific so I have forwarded it on to the larger team.

[2016-05-05 14:24] #861 closed, assigned to nobody

[2016-05-05 15:09] danginsburg commented on #848
What window manager were you using prior to i3?  If you were using xmonad this is a duplicate of #552.

[2016-05-05 15:13] hipunk opened #862 "[Mac] Sorting user chatrooms by number of members crashes the client"
How to reproduce: When in the main menu, try to join a chat channel/lobby, go to the "user" tab and try to sort by count of members, by clicking on the members column.
The client immediately crashes.

This bug is pretty old already. If I remember it correctly, it already got introduced with the 6.86 patch.

Current system this still occurs on:
Mac OS X 10.11.4
AMD Radeon HD 7870
Intel quad core i5

[2016-05-05 22:48] mcgruber22 opened #863 "FPS drops when selecting smeevil couriers."
So I'm not sure how to say this. Whenever I select a smeevil courier my FPS drops tremendously (sometimes stuttering the game completely) and it only happens when it's a smeevil. It started with the most recent update (6.87). I have a MBP late 2013 and I'm running El Capitan.

The weird thing is sometimes the FPS drops won't occur. I'll be able to select the courier multiple times in a row and the

[2016-05-05 22:51] hipunk commented on #862
Awesome! You fixed it! Great work - and so quick!

Thank you!

[2016-05-05 22:57] hipunk commented on #862
Ahh shucks, for some reason it now crashes again. I thought the last update fixed it (and it did! It really worked one time!), but it didn't.

It still crashes on me.

I am currently looking for crash logs in Console.app, but I cannot find anything. Where are the crash logs located? I am willing to help here, but how?!

[2016-05-06 05:10] Turmfalke2 commented on #848
@danginsburg herbstluftwm and it does not appear to be directly related to the wm, but rather to not running it as fullscreen.
E: https://github.com/herbstluftwm/herbstluftwm

[2016-05-06 13:33] admshao commented on #733
Just to let you guys know that this has been fixed. Today i casted the major qualifiers and it's all good now!

Thx

[2016-05-06 14:07] gxgani commented on #837
When at the all pick screen, If I move to a different space (ctrl+arrows), I either notice a micro freeze or a freeze followed by a CTD or this which happened out of no where (https://gfycat.com/DirectInfiniteBluetickcoonhound)

PS: I am running the same configuration with no changes in the settings.

[2016-05-07 21:33] traf1990 opened #864 "Dota 2 high packet loss detected flow incoming 15-75%"
Last 2 month i have this problem and i can't find the solve for it.
Every day maybe 12:00 ~ 16:00 and night in 21:30 ~ 01:20 i have high packet loss
Need help!

**Tracert 185.25.182.24**
<p align="center"> <table border="1" align="center">
<tr><td>Host</td> <td>%</td> <td>Sent</td> <td>Recv</td> <td>Best</td> <td>Avrg</td> <td>Wrst</td> <td>Last</td></tr>
<tr><td>192.168.1.1</td> <td>   0</td> <td

[2016-05-07 22:19] #864 closed, assigned to nobody

[2016-05-08 12:36] renjithis opened #865 "Spectate - Crash when spectating live matches when they are in pick screen (drafting)"
Crash does not occur always, sometimes I am able to watch the draft, but half the time it crashes to desktop. Doesn't happen if I wait for the draft to complete.
Edit : Loading screen appears and crashes.
Attaching /tmp/dumps/<username>_stdout.txt (Can you add the location and instructions for getting logs to the README.md-Reporting Issue section?)

[renjith_stdout.txt](https://github.com/ValveSof

[2016-05-08 13:34] renjithis commented on #865
Also happens when changing watching game. i.e. Watch 1 game, click top left minimize button, select another game to watch which is in its drafting stage : Loading screen appears and crashes

[renjith_log.txt](https://github.com/ValveSoftware/Dota-2/files/253933/renjith_log.txt)
[renjith_stdout.txt](https://github.com/ValveSoftware/Dota-2/files/253934/renjith_stdout.txt)

[2016-05-09 16:13] aeosynth commented on #793
happened to me on osx too

[2016-05-09 17:32] ghost commented on #826
Noticed poor performance with unity on gtx 760, all ok witih xfce. But after switching to 980 gtx I got const 60 on unity.

[2016-05-10 09:24] telegram-error opened #866 "[All platforms] Quickbuy buy order broken with multiple items queued"
Quickbuy bug when adding multiple items which share components: Components are removed in a LIFO order instead of FIFO order:

Here is a [video illustrating the issue](https://gfycat.com/TautIcyBlackandtancoonhound). As you can see each time a component is bought it is removed from the second deadalus instead of the first deadalus and thus the order in which items are bought is just **wrong**. Thi

[2016-05-11 10:20] urbinek commented on #838
another batch of errors, some of them crashed my KDE and OS

[code]

[2016-05-12 12:54] SHOTbyGUN commented on #793
Issue happens constantly if game had been running 1+ hours, but does not happen on fresh start.

[2016-05-12 16:50] renjithis opened #867 "Watch tab has matches stuck on last watched game's player names"
Watched a game being played by a pro and after that, all the games in the watch tab has that match's player names. PFA.
Have to quit and open Dota2 again for this to show real names.

![20160512221504_1](https://cloud.githubusercontent.com/assets/1526467/15222931/88287e46-188f-11e6-8c93-85906e70eb5e.jpg)
![20160512221506_1](https://cloud.githubusercontent.com/assets/1526467/15222933/888bb164-188f-

[2016-05-12 23:30] danginsburg commented on #865
Thanks, the crash ID you gave us bp-caa88cd7-25f2-44f1-b4c6-03e7f2160508 shows it is inside of scaleform video decoding.  We will look into it and see if we can repro.

[2016-05-14 02:34] gdrewb-valve commented on #862
If you look in the system information in the Steam client (under the Help menu) hopefully it'll list some failure reports that weren't discarded.  I can look at those and see where the crash is.

[2016-05-14 02:40] gdrewb-valve commented on #866
dev.dota2.com is the place to report general bugs, this is only for bugs specific to Mac and Linux.  I've passed this on to the larger team.

[2016-05-14 02:40] #866 closed, assigned to nobody

[2016-05-14 02:42] gdrewb-valve commented on #867
This isn't specific to Mac/Linux so I've passed it on to the larger team.

[2016-05-14 02:42] #867 closed, assigned to nobody

[2016-05-14 03:21] gramathy opened #868 "Game crashing on load into game"
Happens for both games and spectating, consistently. Menus are fine but loading into game results in a crash right about when the game would start being displayed. Persists through reboot and reinstall of game. Seems to be new within the last couple days.

Dota console output:

https://gist.github.com/gramathy/26b089283c625c457e523149ed39be14

https://gist.github.com/gramathy/7e8924e3d6072b36c13cf

[2016-05-14 04:06] gdrewb-valve commented on #868
Is that system info recent?  Do you have any corresponding failure reports in Steam system info (nothing appears in the one you posted)?  Have you done any video driver or system updates recently?

[2016-05-14 04:44] 0re5ama opened #869 "[Linux]Game stuck at connecting"
After accepting a match, most of the times, my dota gets stuck at connecting and the console says

But when my friend on windows gets stuck on connecting, which occurs at the same time as mine, after restarting dota and reconnecting, he is easily able to reconnect. While mine on linux shows the above error.

[2016-05-14 04:56] gramathy commented on #868
System info was pulled earlier today as there had been some changes since previous. I haven't updated anything recently, and Steam itself didn't seem to be affected by these crashes (though Steam itself has also been unstable lately)

[2016-05-14 13:38] gdrewb-valve commented on #868
There's nothing that looks too problematic in the console output and no failure reports to go on so there's not an obvious investigative path.  We'll have to see if it happens to more people so that we can isolate the problem.

You might want to verify your local installation, there were a couple of errors that suggest the on-disk content might have problems.

[2016-05-14 13:42] gdrewb-valve commented on #869
As you point out the underlying connection problem crosses all platforms and won't be handled here.  The lack of a network configuration is likely a Linux-specific issue with reading the local configuration file but it also indicates a networking problem as there's a separate attempt to read the config from the cloud.  We'll fix the local file access but it may only be a partial fix.

[2016-05-14 15:44] gramathy commented on #868
I saw those and thought that might be it, but since Dota was broken and I
was procrastinating on it anyway, I just installed El Cap and it's working
fine now, so it wasn't anything on disk. It was just so weird that it was
crashing with no error or console output.

On Sat, May 14, 2016 at 6:38 AM, Drew Bliss notifications@github.com
wrote:

##

Graham Alldredge

"Try not. Do, or do not. There is n

[2016-05-14 15:53] gdrewb-valve commented on #868
OK, it's likely it was an OpenGL driver issue, closing for now.

[2016-05-14 15:53] #868 closed, assigned to nobody

[2016-05-14 15:54] gdrewb-valve commented on #860
Do you have any other information?

[2016-05-14 15:56] gdrewb-valve commented on #859
I'm going to close this out as there doesn't appear to be a Mac-specific problem here (your feature requests would affect all platforms and should be posted at dev.dota2.com).

[2016-05-14 15:56] #859 closed, assigned to gdrewb-valve

[2016-05-14 15:59] gdrewb-valve commented on #834
Is this still happening if you remove -cursor_scale_percent?  The larger team tweaked the auto-scaling but I don't think there are any further changes coming.

[2016-05-14 15:59] gdrewb-valve commented on #823
I think the fix has shipped, is this still occurring?

[2016-05-14 16:03] gdrewb-valve commented on #556
I think the windowed->fullscreen fixes have shipped, are you still seeing problems with that transition?

[2016-05-14 16:05] gdrewb-valve commented on #756
Is there a Dota issue here?  It sounds like it's an NVIDIA issue that they've addressed?

[2016-05-14 16:30] dhiru1602 commented on #556
Could you please confirm if **-phased_window_create** is still required? I am currently using BuildID:**1121941** and removing the **-phased_window_create** launch option causes Dota2 to launch on the secondary monitor. Adding it back again launches Dota 2 on the primary monitor.

[2016-05-14 16:31] gdrewb-valve commented on #556
Yes, it's still required and likely will stay that way.

[2016-05-14 16:59] Tele42 commented on #756
@gdrewb-valve no Dota 2 issue here, it is explicitly limited to nvidia 361.28, any distro that uses it.

[2016-05-14 17:14] buhman commented on #834
Yes.

[2016-05-14 17:32] buhman commented on #756
^ Arch Linux has 364.19, which works with no intervention.

This issue should be closed, because it was fixed upstream.

[2016-05-14 18:18] gdrewb-valve commented on #756
Thanks, closing.

[2016-05-14 18:18] #756 closed, assigned to gdrewb-valve

[2016-05-14 18:19] gdrewb-valve commented on #834
@buhman, it's expected that it'll scale at 215DPI.

[2016-05-15 13:39] gdrewb-valve commented on #169
As a side effect of some other changes this should be resolved now.  Are you still seeing letters?

[2016-05-15 21:39] czarnyckm commented on #823
everything fine now. than you

[2016-05-15 23:55] gdrewb-valve commented on #823
Thanks, closing.

[2016-05-15 23:55] #823 closed, assigned to gdrewb-valve

[2016-05-16 19:24] gdrewb-valve commented on #853
For the audio crash it's in the Steam voice support so we've passed this on to the Steam team.

[2016-05-16 19:24] #853 closed, assigned to gdrewb-valve

[2016-05-16 19:26] gdrewb-valve commented on #834
Closing pending somebody using low DPI posting here.

[2016-05-16 19:26] #834 closed, assigned to gdrewb-valve

[2016-05-16 19:38] gdrewb-valve commented on #838
The crash IDs here are for a crash that occurs on all platforms.  The larger team is investigating that and we won't get direct status here.

Most any time a problem causes your larger system or OS to die there's a driver bug and it isn't a problem with Dota itself (Linux does not allow processes to tamper with each other or take the system down).

[2016-05-16 19:40] gdrewb-valve commented on #820
Is this still happening? If you look in your Steam system information do you have any failure reports?

[2016-05-16 19:41] gdrewb-valve commented on #865
This crash occurs on all platforms so we the larger team is taking a look and we won't get direct status updates here.

[2016-05-16 19:42] gdrewb-valve commented on #808
Is this still happening?

[2016-05-16 19:47] urbinek commented on #838
Other games (both Windows and Linux) are not making any issues whatsoever

[2016-05-16 19:48] gdrewb-valve commented on #838
Dota itself can't crash your system (if it can that's a system bug in itself).  Dota is apparently triggering a driver bug.

[2016-05-16 19:53] urbinek commented on #838
Most likely yes, but Dota is also messing with my KDE, sometimes when it crash i can still see game screen on second desktop but proces itself is  killed.

It might be driver issue, but i have those problems for over a year now on couple OS (debian testing/stable)

Also don't get me wrong, system crashes are rare (1% of them) and i can accept other issues as reason BUT Dota itself is crashing and

[2016-05-16 19:56] gdrewb-valve commented on #838
Dota definitely has its own crashes and Valve is investigating those it gets reports for, such as the ones you have here.

[2016-05-16 20:01] urbinek commented on #838
I hope so, till then do You want me to post more crash report?

I have a lot more :)

[2016-05-16 20:21] gdrewb-valve commented on #838
No, any reports with a CrashID have already been sent to Valve.

[2016-05-16 23:21] somecolors opened #870 "MAC Problem: Dota crash after starts without any error - seems like all macs have it"
hi dev team,

as descripted in title

best regrads,
stef

[2016-05-16 23:23] samuelclark commented on #870
+1

[2016-05-16 23:26] Segflow commented on #870
Same thing for me, crash after start.

[2016-05-16 23:34] tembra commented on #870
+1
Same is happening here. Crash without any error (just ends) very shortly after startup.
I just update the game today (last match was 3 days ago) and also apply today OS X El Capitain 10.11.5 update through AppStore (https://support.apple.com/kb/HT206230).

OS X El Capitain
Version 10.11.5 (15F34)
MacBook Pro (13-inch, Mid 2012)
2,5 GHz Intel Core i5
16 GB 1600 MHz DDR3
Intel HD Graphics 4000 15

[2016-05-16 23:35] zanderzhng commented on #870
same here. crash in 30s after game start.

[2016-05-16 23:39] adamrisser commented on #870
+1

10.11.4
MBP Retina Mid 2014
2.2.ghz Intel i7
16bm ddr3
Graphics Intent Iris Pro

Edit: DYING to buy compendium, if you need any more info, let us know

[2016-05-16 23:39] ethandbrand commented on #870
+1 Worked yesterday, before the patch, now the game client crashes at random very shortly after startup.

[2016-05-16 23:47] blackkingbra commented on #870
+1, was party with friends and did the update just now. And now it sucks, crash after login 5secs for no reason! With Capitain Mac

[2016-05-16 23:49] welkinlan commented on #870
+1
MacBook Pro (Retina, 15-inch, Early 2013)

[2016-05-16 23:50] gdrewb-valve commented on #870
If you add

[code]

to your launch options does that help?

[2016-05-16 23:52] Segflow commented on #870
@gdrewb-valve no

[2016-05-16 23:54] blackkingbra commented on #870
@gdrewb-valve  it doesn't work, man!

[2016-05-16 23:54] hilmanzainuri opened #871 "Dota Crash After Battle Pass International Update on Mac"
Dont know why after i am updated new patch i cant play just forced closed

[2016-05-16 23:55] nuttyness commented on #870
I'm having the same problem...

Macbook pro, retina, late 2013

[2016-05-16 23:56] samuelclark commented on #871
duplicates https://github.com/ValveSoftware/Dota-2/issues/870

close this

[2016-05-16 23:57] #871 closed, assigned to nobody

[2016-05-16 23:57] gdrewb-valve commented on #870
We're investigating, we don't need any more +1's at the moment.

[2016-05-16 23:58] cesargog commented on #870
@gdrewb-valve no, with that command now it works for 30 seconds and then crash again.

[2016-05-17 00:08] nuttyness commented on #870
Just an update. Dota stays on until I use the mouse. Mouse movement causes crash... even using trackpad. Hope this helps

[2016-05-17 00:11] blackkingbra commented on #870
@nuttyness That is right, something wrong with mouse

[2016-05-17 00:14] Segflow commented on #870
yeah no crash if we don't use the mouse (or trackpad)

[2016-05-17 00:18] monolyth-studio commented on #870
@gdrewb-valve Stayed in client longer the first time I launched with these settings. Crashes  < 1 minute of being in client.

EDIT: I can stay in client until I move my mouse / trackpad

iMac (Retina 5K, 27-inch, Late 2015)
4 GHz Intel Core i7
8 GB 1867 MHz DDR3
AMD Radeon R9 M395X 4096 MB

[2016-05-17 00:20] gdrewb-valve commented on #169
Closing as this should be addressed.

[2016-05-17 00:20] #169 closed, assigned to gdrewb-valve

[2016-05-17 00:22] gdrewb-valve commented on #790
Closing as this isn't Mac-specific.  dev.dota2.com is the place for information, although I don't believe the larger team has any fixes yet.

[2016-05-17 00:22] #790 closed, assigned to gdrewb-valve

[2016-05-17 00:23] gdrewb-valve commented on #745
The larger team is going to continue to look at this but they don't have any ideas other than that you appear to have general networking issues.

[2016-05-17 00:23] #745 closed, assigned to gdrewb-valve

[2016-05-17 00:36] blackkingbra commented on #870
a new update came, but seems still not work.

[2016-05-17 00:49] jfosback commented on #870
Still crashing for me after the patch.

MacBook Pro (Retina, 15-inch, Mid 2014)
27" Thunderbolt Display

[2016-05-17 00:51] tembra commented on #870
@nuttyness seems to be right.

@gdrewb-valve this config doesnt help.

if you stay moving the mouse after open the crash occurs early then before.
if you didnt move the mouse at all the crash doesnt occurs. after some minutes of no crash and no mouse move, if you move the mouse a little the crash is almost instantly.

EDIT: tested after the new patch and with -gtpoolstacksize 1048576

[2016-05-17 00:51] gdrewb-valve commented on #870
We'll comment here when we believe we have a fix.

[2016-05-17 00:54] hilmanzainuri commented on #870
+1

[2016-05-17 00:54] morty200000 commented on #870
the  patch  not  work

[2016-05-17 01:00] gdrewb-valve commented on #172
The feature request here is not Linux/Mac specific so I've passed it on to the larger team.

[2016-05-17 01:00] #172 closed, assigned to nobody

[2016-05-17 01:05] zanderzhng commented on #870
gtpoolstacksize option can make it stick longer.

[2016-05-17 01:10] ruchernchong commented on #870
Is this some sort of memory leak?

[2016-05-17 01:13] gdrewb-valve commented on #165
Is this still happening?

[2016-05-17 01:15] gdrewb-valve commented on #556
No problem reports have come in so closing for now.

[2016-05-17 01:15] #556 closed, assigned to gdrewb-valve

[2016-05-17 01:20] gdrewb-valve commented on #616
Assuming that you have NOT chosen to allow the Command key to bind itself as of May 16 you should now be able to bind Command+Key combinations.  Give it a try.

[2016-05-17 01:21] xiay1 commented on #870
Hi, after the most recent update, game still crash after a few seconds. El Capitan 10.11.4. iMac 27-inch late 2012 user here

[2016-05-17 01:23] gdrewb-valve commented on #616
Note also that the binding will show up properly in the settings but in the actual in-game UI it will say "Alt" instead of "Command".  That's something the larger team will fix later.

[2016-05-17 01:25] gdrewb-valve commented on #789
Is there a Dota issue here?  Seems like a driver problem.

[2016-05-17 01:26] gdrewb-valve commented on #793
Is this still happening after the May 16 update?  I'm assigning an SDL dev to look.

[2016-05-17 01:29] gdrewb-valve commented on #848
Assigning an SDL dev as this sounds similar to the other issues here where things have trouble with window changes.

[2016-05-17 01:29] gdrewb-valve commented on #845
You have two different crashes, but are there still problems after the May 16 update?  Can you post a new failure report?

[2016-05-17 01:32] gdrewb-valve commented on #869
The May 16 update should fix the issue with you not having a network configuration, do you still see that message?

[2016-05-17 01:38] ruchernchong commented on #870
An update was pushed and seemed to have fixed the problem.

Edit: Didn't fix for me. Weird the client actually stayed longer than I expected. First crash led to subsequent crashes.

[2016-05-17 01:38] teletubo commented on #870
It didn't fix for me! Still Crashes after last update.
El capitan, 10.11.3
MacBook Pro (Retina, 15-inch, Late 2013)

[2016-05-17 01:39] gdrewb-valve commented on #870
@daviluisgf you have a separate problem as the issue here is Mac-specific.  You'll want to post in dev.dota2.com.

[2016-05-17 01:39] tiagoln commented on #870
I found the following message in the console after the crash:
"16/05/16 22:34:31,884 WindowServer[167]: disable_update_likely_unbalanced: UI updates still disabled by application "Dota 2" after 15.00 seconds (server forcibly re-enabled them after 1.00 seconds). Likely an unbalanced disableUpdate call."

Don't know if it can be of any help.

[2016-05-17 01:39] ealvesss commented on #870
fresh update rigth now!!

[2016-05-17 01:41] ealvesss commented on #870
Still Crashing =(

[2016-05-17 01:42] blackkingbra commented on #870
delate "-gtpoolstacksize 1048576" in the console if you tried to fix before, and the new update seems fixed the problem.
I will test it again

[2016-05-17 01:43] blackkingbra commented on #870
well. still crash.

[2016-05-17 01:44] abacuscode commented on #870
There was an update about an hour ago that fixed it for me. There's a newer update that just got pushed and it's crashing on moving the mouse again.

[2016-05-17 01:46] mkim commented on #870
I no longer immediately crash upon opening Dota 2, but mouse movements still crash and Cmd + H crash the app.

MacBook Pro Mid 2012
El Capitan 10.11.4
6 GB Ram

[2016-05-17 01:47] blackkingbra commented on #870
The new update looks like make me stay in dota2 longer, but still crash after several stamps of movements and clicking

[2016-05-17 01:47] ealvesss commented on #870
Using breakpad crash handler
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
found breakpad via in process memory: '/Applications/Steam.app/Contents/MacOS/Frameworks/Breakpad.framework/Versions/A/Resources'
Installing breakpad crash handler
Uploading pending dumps
Uploaded 1 pendin

[2016-05-17 01:58] goller commented on #870
From the console for me:

[code]

[2016-05-17 02:02] ruchernchong commented on #870
I wonder if the crash has to do with the Game Coordinator.

[2016-05-17 02:14] kaelwu commented on #870
+1

[2016-05-17 02:20] rachidcalazans commented on #870
Add the config -autoconfig. Solved my problem on OSX

[2016-05-17 02:22] ruchernchong commented on #870
@rachidcalazans what does it do?

[2016-05-17 02:22] xxfunbelievablexx commented on #870
Also, within the span of 30 seconds if you start spectating a game and do not move the mouse, you can spectate for as long as you like.

[2016-05-17 02:25] morty200000 commented on #870
new update

[2016-05-17 02:25] zanderzhng commented on #870
@sassanh  I waited long enough and it crashed as long as I touch my mouse.
@rachidcalazans It changes desktop friendly fullscreen to beardless fullscreen but didn't fix the crash.

[2016-05-17 02:26] ruchernchong commented on #870
New update! Hype!

[2016-05-17 02:27] ghost commented on #870
New update seems like the bug is being fixed!

[2016-05-17 02:27] ruchernchong commented on #870
Seemed like the bug is fixed.

[2016-05-17 02:27] xxfunbelievablexx commented on #870
@rachidcalazans yeah seems to work, changed it from border less to desk friendly in game after launching with -autoconfig. Did not crash and still working.
Mac Book pro , retina 13 inch, 11.4

[2016-05-17 02:27] zanderzhng commented on #870
newest update seems to fix it.

[2016-05-17 02:27] xxfunbelievablexx commented on #870
oh cool

[2016-05-17 02:28] ghost commented on #870
I did not used -autoconfig, and windows was reset to default, border window.

[2016-05-17 02:29] ruchernchong commented on #870
Okay, it seemed to be fixed now. Case closed! :D

[2016-05-17 02:29] mkim commented on #870
I no longer crash!

Chat, Cmd+H, clicking/moving mouse early all do not crash. Seems fixed!

[2016-05-17 02:30] gdrewb-valve commented on #870
As people have already noticed we have shipped an update with a fix to the SDL problem that was causing this.  I'm closing this issue, open new ones for new crashes.

[2016-05-17 02:30] #870 closed, assigned to gdrewb-valve

[2016-05-17 02:49] gselsidi commented on #616
Confirmed Working. You have to make sure in Advanced options the option to allow "Windows Key/Command key to be bound is not selected" then you can bind CMD+ whatever, also confirmed that is shows up incorrectly as ALT. Closing Issue

[2016-05-17 02:50] ruchernchong commented on #870
@mkim What is CMD+H?

[2016-05-17 02:51] ghost commented on #870
CMG + H is like alt+tab but it complete hide you the current window

[2016-05-17 03:04] #616 closed, assigned to gdrewb-valve

[2016-05-17 05:00] blackkingbra commented on #870
works now

[2016-05-17 06:49] ealvesss opened #872 "Failed to start game, party member is currently in another game."
When i try to launch the game, i receive this error message.

I`m not in a party. i`m trying to play solo.

[2016-05-17 08:09] gear4s commented on #793
Ill play a few games and see if its fixed. Thanks for the quick responses
On 17 May 2016 03:26, "Drew Bliss" notifications@github.com wrote:

[2016-05-17 13:06] gdrewb-valve commented on #872
You don't give any system info, but this is being reported across all platforms.  The larger team will take a look.

[2016-05-17 13:06] #872 closed, assigned to nobody

[2016-05-17 20:05] zhestkov opened #873 "Dota 2 cursor still too on 16:10"
I tried -cursor_scale_percent 100 (or smaller) with 1440x900 resolution -- no difference there.
But when i tried it again with 1920x1080 then all was OK, except resolution.
P.S. using bootcamp win10
Computer Information:
    Manufacturer:  Apple Inc.
    Model:  MacBookPro12,1
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:

[2016-05-17 21:28] gdrewb-valve commented on #873
This forum does not handle Windows bugs, but we can gather some info first.  Can you add -console to your launch options, run the game, open the console and use 'check_dpi' with the video mode where you think the cursor is too big?

Note also that you can't scale the cursor below what Windows says is the expected cursor size, so if you have any Windows settings that would have Windows using larger

[2016-05-17 22:43] zhestkov commented on #873
That is! I had 200% Windows scaling, otherwise all UI elements are too small on 4k. When i rescaled it to lower value then cursor is OK, except Windows ui :) (btw, signing out required).
Thanks!

[2016-05-17 22:44] gdrewb-valve commented on #873
OK, closing.

[2016-05-17 22:44] #873 closed, assigned to gdrewb-valve

[2016-05-18 02:25] 420git opened #874 "LINUX Game update corrupt wont finish"
I woke up about 1 hour ago and there was a new update 50.9MB, it never finishes and keeps pausing randmly every 5 secs. If i press resume repeatedly it gets stuck at 27.1MB no further. I clearded my downloading folder and restarted update still same issue. Always says download is corrupt.

[2016-05-18 02:58] tiagoln commented on #719
Just an update on the issue, I've done a clean install of the osx some time ago and reinstalled steam and dota 2 from scratch, the trackpad issue seems to be gone since then. So, anyone with this issue should give it a try.

[2016-05-18 05:13] gdrewb-valve commented on #874
You'll want to file this in the steam-for-linux section.

[2016-05-18 05:13] #874 closed, assigned to nobody

[2016-05-18 08:50] Third-Jaruda commented on #473
I have found a work around on this. I'm using PoL on Arch,

1.) Open Dota2 via steam (keyboard shouldn't work as expected).
2.) Return to desktop e.g. alt+tab. (I'm on gnome so prefer using the super key for this)
3.) Return to Dota2 e.g. by clicking on the running icon (I have plank so I click the wine icon there)
the keyboard should work from there (at least for me)

if you experience issues lik

[2016-05-18 13:06] jacksondeng opened #875 "[Linux] Keyboard not responding"
After the recent update ,my keyboard will not stop to respond if the [ user online ] notification shows up. Game still runs smoothly , but I can't use keyboard in game. Have no idea why this is happening.

[2016-05-18 13:21] sinatosk opened #876 "[suggestion] control volume on out of focus window"
when waiting to join a game while the window is not focused ( using application outside of dota ) the volume to let me know there is a game ready is loud... like maximum volume.

I would like to see an option to control the volume when client is out of focus... I don't want it to be silent

thanks

[2016-05-18 14:14] gdrewb-valve commented on #876
This forum is only for Linux/Mac bugs, you'll want to post this at dev.dota2.com.

[2016-05-18 14:14] #876 closed, assigned to nobody

[2016-05-18 14:15] gdrewb-valve commented on #875
If you switch to another window/app and back does the keyboard start working again?

[2016-05-18 15:02] 4pih commented on #845
Hi,
Sorry for late reply.
I didn't play much lately. Will update this thread if have new crash report.
But, i do notice my mouse acting weird since last few days. It's like lag / stuttered / glitching.
Its never happen before but I already try changing mouse battery, mousepad, connect wired mouse etc. But still no good. All my dota2 setting is at the lowest.

Mouse works fine if dota2 is not runni

[2016-05-18 15:14] gdrewb-valve commented on #845
OK, closing for now.

You can open a new issue for mouse lag if you believe it's a Dota problem.

[2016-05-18 15:14] #845 closed, assigned to gdrewb-valve

[2016-05-18 15:23] 4pih commented on #845
OK.. Thanks for the support :)

[2016-05-18 17:50] ArnaudAndre commented on #473
Wait, you're running the windows version of dota 2 through wine ? That's not what this bug tracker is about at all. This bug is about the native linux build of the game.

[2016-05-19 00:31] thorncorona opened #877 "[Linux] Stuck on game connecting while trying to watch/start game."
Setup is listed below. Issue occurs when I try to connect to an online game, and the game gets stuck on the loading screen until SourceTV times out/connection timer ends. Dota works fine in local games however.

Let me know if you need more info.

[code]

[code]

[2016-05-19 01:05] gdrewb-valve commented on #877
Your problem is likely not Linux-specific so you might want to look at the existing threads on this kind of problem at dev.dota2.com.

[2016-05-19 01:09] gdrewb-valve commented on #869
Closing pending more info.

[2016-05-19 01:09] #869 closed, assigned to gdrewb-valve

[2016-05-19 01:09] gdrewb-valve commented on #862
Closing pending more info.

[2016-05-19 01:09] gdrewb-valve commented on #860
Closing pending more info.

[2016-05-19 01:09] #860 closed, assigned to gdrewb-valve

[2016-05-19 01:11] gdrewb-valve commented on #838
After the recent (up to May 18) updates has your crashing changed any?  Are you getting crashes other than system crashes?

[2016-05-19 01:11] gdrewb-valve commented on #820
Closing pending more info.

[2016-05-19 01:11] #820 closed, assigned to gdrewb-valve

[2016-05-19 01:12] gdrewb-valve commented on #808
Closing pending more info.

[2016-05-19 01:12] #808 closed, assigned to gdrewb-valve

[2016-05-19 01:12] gdrewb-valve commented on #789
I'm assuming this isn't a Dota problem, closing.

[2016-05-19 01:12] #789 closed, assigned to gdrewb-valve

[2016-05-19 01:12] gdrewb-valve commented on #165
Assuming this is no longer active.

[2016-05-19 01:12] #165 closed, assigned to gdrewb-valve

[2016-05-19 01:14] gdrewb-valve commented on #174
After the May 18 update if you use -nojoy in your launch options does that have any effect?

[2016-05-19 02:45] thorncorona commented on #877
Alright I actually managed to get it solved. Woohoo!

Here's how I did it:

After @gdrewb-valve mentioned the fact it may not be a Linux-specific issue, I tried installing Dota 2 through wine. The same symptoms appeared - leading me to believe that the issue was related to my networking setup (has both ethernet and wifi).

I then tried playing Dota after unplugging my ethernet cable, and voila! It

[2016-05-19 02:47] gdrewb-valve commented on #877
Great, glad you figured it out.

[2016-05-19 02:47] #877 closed, assigned to nobody

[2016-05-19 04:10] 0re5ama commented on #869
thanks, it got solved

[2016-05-19 14:37] gdrewb-valve commented on #875
We'll also need your system information from Steam.  As it is we can't really investigate so closing.

[2016-05-19 14:37] #875 closed, assigned to gdrewb-valve

[2016-05-19 16:38] NikitaPuzyryov commented on #793
Just happened to me with pretty much the same stack trace.

[2016-05-19 17:26] jacksondeng commented on #875
At first I thought i was the [user online] notification causing the problem, but the problem actually occurs after I pressed alt. So I think it is actually my mandarin input method's causing problem, I will follow this lead and searching for the answer.
Sorry for taking your time. Regards.

[2016-05-20 07:17] HunKfTw opened #878 "teleport effect 1 ti6"
so , i claimed my tp effect 1 and it isnt their in my inventry nor it's been used

[2016-05-20 12:57] sinamiandashti opened #879 "FPS drop new update"
Hi

i have heavy FPS drop in latest update (battlepass)
it drops from 70 to 50 when moving hero

[2016-05-20 14:47] ghost commented on #328
This issue not solved. Can't leave Dota 2 Custom games lobby 1-2 times a week. For example, Overthrow game.

[2016-05-20 15:14] gdrewb-valve commented on #328
Note that the issue here was closed because it is not a Mac/Linux bug, not because it was solved.

[2016-05-20 15:15] gdrewb-valve commented on #879
It's unlikely this is a Mac/Linux problem as people at dev.dota2.com are reporting it very generally, but can you post your system information from Steam?

[2016-05-20 15:16] gdrewb-valve commented on #878
Can you give some information, such as your system info and account?

[2016-05-20 16:21] HunKfTw opened #880 "high load server bug"
i played 2 games international ranked match
1st venomancer
2nd mirana
due to high load servers it wasn't updated
after sometime when i checked in recent games it only shows mirana as recent game nothing else
venomancer's game is missing and my quest which i completed in that too.. :/ help me plz...

[2016-05-20 16:22] HunKfTw commented on #878
ty it's done :)

[2016-05-20 16:33] gdrewb-valve commented on #878
You're saying there isn't a problem any more?  Great, closing.

[2016-05-20 16:33] #878 closed, assigned to gdrewb-valve

[2016-05-20 16:33] gdrewb-valve commented on #880
This doesn't seem to be a Mac/Linux bug, but can you post your system info?

[2016-05-20 16:33] gdrewb-valve commented on #880
Also any details on the match so that we can look it up?

[2016-05-20 16:45] HunKfTw commented on #880
it was international ranked match (Ti6)
with me their was a guy whom i added later, even his recent games is not updated yet, its been more than 2 hrs.

[2016-05-20 17:18] gdrewb-valve commented on #880
Can you post your system info?

[2016-05-20 17:23] gdrewb-valve commented on #865
The larger team is actively investigating so closing.

[2016-05-20 17:23] #865 closed, assigned to gdrewb-valve

[2016-05-20 17:24] gdrewb-valve commented on #838
Closing as it's probably best to open any non-system-crashes as new issues anyway.

[2016-05-20 17:24] #838 closed, assigned to gdrewb-valve

[2016-05-20 18:35] danginsburg commented on #863
@mcgruber22 I tried to repro this but I don't see any FPS difference with smeevil versus other couriers.  I would guess the framerate drop might be something else.  Can you provide exact repro instructions, the magnitude of the fps drop (you can see with +cl_showfps), and your system info (Steam -> Help -> System Information).

[2016-05-20 20:00] sinamiandashti commented on #879
`Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro10,1
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2700 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:

[2016-05-21 01:02] gu3st opened #881 "Shadowing flickering in new Terrain around edge of screen"
I don't have a Windows machine to compare this with, but I noticed that there are some weird shadow errors with the new terrain, which could be linked to Linux/OpenGL specifically

You can see them at the right side of the screenshots.

![screenshot from 2016-05-20 17 58 29](https://cloud.githubusercontent.com/assets/375232/15445522/e80ae3e6-1eb4-11e6-9b73-b3595c3a1200.png)
![screenshot from 2016-

[2016-05-21 04:33] gdrewb-valve commented on #881
Can you post your system information from Steam?

[2016-05-21 04:35] gu3st commented on #881
`Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  3900 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Sup

[2016-05-21 12:30] ghost opened #882 "Chat color stay red after disconnection message"
If i receive disconnection message, the next message will all be red

![20160521124800_1](https://cloud.githubusercontent.com/assets/4980894/15448365/7be122d2-1f60-11e6-85a4-4ade564388ca.jpg)

[2016-05-21 12:58] skoehler opened #883 "Dota 2 Crashes during loading screen"
When starting Dota 2, I see the red dota logo on the black background, and then Dota crashes.
This didn't happen yesterday evening (about 10 hours ago) but now it does.

When I start steam in a console window and then start dota, I find the following error that might be related:
Inconsistency detected by ld.so: ../sysdeps/x86_64/dl-machine.h: 497: elf_machine_rela_relative: Assertion `((reloc->r_i

[2016-05-21 13:33] skoehler commented on #883
I had to perform "verify integrity of game cache" and then some file failed verification and was redownloaded. After that, the game starts successfully.

[2016-05-21 13:38] Tele42 commented on #883
@skoehler go ahead and close the issue report if you believe it is resolved.

[2016-05-21 14:14] #883 closed, assigned to nobody

[2016-05-21 15:47] gdrewb-valve commented on #882
This isn't Mac/Linux specific so I've passed it on to the larger team.

[2016-05-21 15:47] #882 closed, assigned to nobody

[2016-05-21 15:47] gdrewb-valve commented on #880
As this isn't platform-specific the larger team is investigating.

[2016-05-21 15:47] #880 closed, assigned to gdrewb-valve

[2016-05-23 16:36] danginsburg commented on #881
Thanks, we have repro'd this bug here.  It is not platform specific so I'm going to close it out here, but the larger team is looking into it.  It is actually related to the weather and not the specific terrain.

[2016-05-23 16:36] #881 closed, assigned to danginsburg

[2016-05-23 18:41] 4pih commented on #845
Hi,
I'm not sure is it OK to update this thread again. But the crashes still happening. Here is my last 2 crash reports.

[Kernel_Task - Crash Report.zip](https://github.com/ValveSoftware/Dota-2/files/278037/Kernel_Task.-.Crash.Report.zip)

Hope you can take a look.
Thank you and have a nice day.

[2016-05-23 19:09] gdrewb-valve commented on #845
Kernel panics should be reported to Apple.

[2016-05-24 00:25] sinatosk commented on #879
discard mine, it's related to vulkan, opengl still good for me, sorry

[2016-05-24 02:28] 4pih commented on #845
Noted. Thanks 👍

[2016-05-24 04:48] crapthings commented on #879
Model Name: MacBook Pro
  Model Identifier: MacBookPro11,5
  Processor Name:   Intel Core i7
  Processor Speed:  2.5 GHz
  Number of Processors: 1
  Total Number of Cores:    4
  L2 Cache (per Core):  256 KB
  L3 Cache: 6 MB
  Memory:   16 GB

[2016-05-24 04:48] crapthings commented on #879
Chipset Model:  AMD Radeon R9 M370X
  Type: GPU
  Bus:  PCIe
  PCIe Lane Width:  x8
  VRAM (Total): 2048 MB
  Vendor:   ATI (0x1002)
  Device ID:    0x6821
  Revision ID:  0x0083
  ROM Revision: 113-C5670E-777
  gMux Version: 4.0.20 [3.2.8]
  EFI Driver Version:   01.00.777
  Displays:
Color LCD:
  Display Type: Retina LCD
  Resolution:   2880 x 1800 Retina
  Retina:   Yes
  Pixel Depth:  32-Bit C

[2016-05-24 07:51] 4pih commented on #845
Hi,
Its me again.
I played a lot today and got crashed a lot too.

Here is the latest one.

Anonymous UUID:       533E1EF0-D3A6-141A-496E-5F87634E503F

Tue May 24 15:42:28 2016

**\* Panic Report ***
panic(cpu 0 caller 0xffffff802e511424): "Invalid queue element linkage for 0xffffff805197ad58: next 0xffffff820ca85068 next->prev 0xffffff805197ad58 prev 0xffffff80514791f8 prev->next 0xffffff805197ac

[2016-05-24 17:56] randomdota opened #884 "Question regarding issues with cosmetics reports."
Hi there, I was wondering if there is any reliable ways to get a cosmetic bug report reviewed & fixed as I am currently experiencing an issue http://dev.dota2.com/showthread.php?t=193936 but have exhausted many methods but is still unable to get the attention of a developer. I have provided as much information as possible such as values in the item schema and full reproduction steps. I have been f

[2016-05-24 18:04] gdrewb-valve commented on #884
dev.dota2.com is the right place, even if it doesn't seem like it.  This forum is for Linux/Mac bugs only so we don't investigate problems like what you're reporting.  I've sent this on to the larger team.

[2016-05-24 18:04] #884 closed, assigned to nobody

[2016-05-24 22:39] Moosli opened #885 "Ubuntu 14.04 Keyboard stops working and closing the game freezes PC"
Dota 2 reborn had been working fine for weeks and suddenly this bug occurs. Seems like the May 23rd Patch may have caused it.

So, randomly when I'm in the client (Dota 2 reborn), this includes in-game or in-menu, the keyboard will stop working (all buttons). I can't even alt-tab, use the superkey, ctrl + alt +del, etc. When I try to exit the game with the mouse, the computer freezes and so my onl

[2016-05-24 22:48] Tele42 commented on #885
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

In general, user applications should not be capable of crashing the system, so this is most likely a driver issue or overheating hardware. It would be a good idea to read up on `REISUB` (http://blog.kember.net/articles/reisub-the-gentle-linux-restart/) as a last-ditch effort to stop

[2016-05-24 23:08] Moosli commented on #885
Sorry, here is the info:

Computer Information:
    Manufacturer: Acer
    Model:  Aspire V5-573G
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2401 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV

[2016-05-24 23:15] Tele42 commented on #885
Yeah, this should also be reported to the mesa devs at freedesktop.org if there isn't a bug report already reported for this issue.

[2016-05-24 23:24] Moosli commented on #885
OK, I'll go and have a look, thanks.

[2016-05-24 23:59] Moosli commented on #885
So, I tested with CS:GO (another steam game) and the same thing occurred. Would this indicate a hardware failure or some kind of software issue?

[2016-05-25 00:14] Tele42 commented on #885
Personally, I'd monitor the cpu/gpu temperature from a ssh session, if it goes above 100C, then that should be considered a critical temp and may be a hardware issue, otherwise it is most likely a driver issue.

[2016-05-25 02:24] gdrewb-valve commented on #885
Closing as this appears to be a driver issue and not a Dota issue.

[2016-05-25 02:24] #885 closed, assigned to nobody

[2016-05-25 03:22] firearasi commented on #105
@HarlemSquirrel
Out of so many things only your fix works! Thank

[2016-05-25 06:06] felipec opened #886 "Every other game fails to start (linux)"
After finishing a match I can't start another game, first, the error messages says that the game cannot be started, then I close, reopen, and I get a message that another player in my party isn't allowing the game to start, but I am soloing. The second time I restart it seems to work.

This happens after **every** game.

[2016-05-25 07:07] gdrewb-valve commented on #886
This happens on all platforms, the larger team is looking at it.

[2016-05-25 07:07] #886 closed, assigned to nobody

[2016-05-25 07:46] felipec commented on #886
What's the point of reporting bugs if you are going to close them without resolving them? Where is the duplicate?

[2016-05-25 12:08] Tele42 commented on #886
@felipec this issue tracker is explicitly limited to mac and linux client issues of Dota 2. If an issue affects all platforms, like this one, it's handled by a larger team of devs as @gdrewb-valve typed. The issue report was closed to make it clear there was not going to be any follow up information.

[2016-05-26 00:23] admshao commented on #773
I opened multiple tabs for git and posted on wrong one. Sorry

[2016-05-26 01:39] admshao opened #887 "[Linux] MATE/Cinnamon issues with Mouse clicks"
HeyGuys,

I tend to click left and right mouse buttons a lot at the same time and i never noticed that but now that i switched to MATE 1.12 (tested with 1.14 too) i'm having issues with my mouse in Dota 2. I've been playing like that since ever though. The same issue is valid on Cinnamon 3.x

dota_camera_disable_zoom is set to 1

I'm on Ubuntu 16.04 LTS (64-bit), kernel: 4.6.0-040600-generic, X: 1

[2016-05-26 02:45] gdrewb-valve commented on #887
If I understand you correctly you're having a problem only with MATE and Cinnamon?  Gnome and Unity work properly?  You might get more information asking in MATE/Cinnamon forums.

[2016-05-26 02:53] admshao commented on #887
Yes, exactly. I tried Gnome (flashback) and it works just ok. I was hoping it could have something to do with maybe SDL. Gonna check there into those forums. Thx!

[2016-05-26 02:53] #887 closed, assigned to nobody

[2016-05-26 03:33] Tele42 commented on #887
In cinnamon, check System Settings -> Mouse and Touchpad and make sure 'Emulate middle click by clicking both left and right buttons' is set to off. MATE has a simular setting somewhere.

[2016-05-26 05:03] planktonzp opened #888 "The Second Time About Chinese Input"
Maybe i will make you and your team boring but there are so many chinese player on linux waited for so long ，please fix it ,thank you

[2016-05-26 07:07] gdrewb-valve commented on #888
Duplicate of #50.  Unfortunately I have no new news for you.

[2016-05-26 07:07] #888 closed, assigned to nobody

[2016-05-26 07:09] gdrewb-valve commented on #888
If only one input method was supported which one would you vote for?

[2016-05-26 07:10] gdrewb-valve commented on #50
If only one input method was supported which one would you vote for?  fcitx?

[2016-05-26 12:14] Jaizu opened #889 "[Linux - Vulkan] Game won't start"
System info: https://gist.github.com/lmao-emerald/6e66d16f67f5802b4c7bc044b3d8b706

Game says Running on Steam but won't appear in my screen.
Was working like a day ago. My Arch is updated and I can post a list of my packages installed if needed.

I can confirm it won't start even without the -vulkan option on launch settings. I will reboot later and confirm if this still happening. I have no comp

[2016-05-26 12:28] Jaizu commented on #889
Looks like restarting my computer fixed the issues. I apologize.

[2016-05-26 12:28] #889 closed, assigned to nobody

[2016-05-26 13:28] khairullah opened #890 "Unplayable visual after installing Vulkan."
![20160526211237_1](https://cloud.githubusercontent.com/assets/19559326/15575957/049257c4-2388-11e6-8460-18706d2e0bb1.jpg)

I installed Vulkan, then this happened. Then I found out that my GPU doesn't support Vulkan. So I uninstalled it, and this problem still happened, I tried reinstalling Dota 2, and the problem didn't go away.

Manufacturer:  ASUSTeK COMPUTER INC.
Model:  X555LD
Form Factor: La

[2016-05-26 17:07] rcano commented on #50
Definitely fcitx.

[2016-05-26 18:31] gdrewb-valve commented on #890
This area is for Mac/Linux bugs only, plus this seems like a system issue and not a dota issue.  You'll want to double-check your video driver, such as removing the NVIDIA driver entirely and then reinstalling.  After that contact NVIDIA.

[2016-05-26 18:31] #890 closed, assigned to nobody

[2016-05-27 01:30] samidhtalsania commented on #793
Happened to me on ubuntu 16.04. Been happening since the 6.87 update.

[2016-05-27 07:52] LLFourn commented on #305
Sorry to comment on an old issue but can someone who is part of the VALVE developer community mention that it only works on Windows on the wiki so ppl don't waste there time trying to figure out why they can't install it.

https://developer.valvesoftware.com/wiki/Dota_2_Workshop_Tools/Installing_and_Launching_Tools

[2016-05-27 12:24] SuperFlick commented on #850
I didnt played dota last month, so mb it was fixed. but now i see this checkbox does nothing. Still doesnt work in my case.

[2016-05-27 19:19] MasterZapple commented on #863
I'm also getting a massive fps drop whenever selecting it.
Simply ingame select it (or use the courier hotkey). Does not matter if you are looking at it or not. Can bypass by using the courier deliver button.
I have only tried it with my genuine Smeevil using the last style (Purple Smeevil and Dyed Crab). I have only noticed it in matchmaking (I had it in shuffle). Just now tried it in 'Demo Couri

[2016-05-27 19:56] gdrewb-valve commented on #305
I passed this on and the page has been updated.

[2016-05-28 01:02] DKrepsky commented on #793
Same problem here.
Ubuntu 16.04 and 15.10.

[2016-05-28 01:54] EmmanuelPerezP opened #891 "[Linux] Alt pinging doesn't work"
Hello, i have this issue that i cant alt ping or control-alt ping on the ground, i can do it in the minimap but not in the game, i tried rebinding alt modifier in settings to another key in this case "k" and it didnt work either with "k", i also tried others and it didnt work so i dont think its a problem with binding, because it works on the minimap...

i think this started happening like 2-3 upd

[2016-05-28 02:25] gdrewb-valve commented on #891
Several people have reported this and it doesn't appear to be a Linux problem so the larger team will look at it.

This thread says that resetting your hotkeys will fix it.
https://www.reddit.com/r/DotA2/comments/4lcre5/unable_to_ping_map_after_5252016_patch/

[2016-05-28 02:25] #891 closed, assigned to nobody

[2016-05-28 02:30] Tele42 commented on #891
If that does not help, I'm mildly curious if bspwm has an alt + left click default keybinding, which is a relatively common keybinding for move window. That still does not explain why control + alt + left click does not work though.

[2016-05-28 03:05] EmmanuelPerezP commented on #891
what gdrewb-valve linked worked i just reseted the hotkeys and worked again! thanks! it may be something to do with people who imported the hotkeys from the old client to reborn

[2016-05-28 16:14] Krogash86 opened #892 "Vulkan XFCE cannot ALT+TAB when in the game"
Hi i cannot alt+tab while using vulkan and XFCE desktop while in game and fullscreen

[2016-05-28 16:35] sunnybubblegum opened #893 "No end-of-match scoreboard in Steam Offline Mode bot-only match"
Hi there,

The game works great, the only thing being that at the end of a bot-only match in Steam's Offline Mode, no scoreboard appears. It's not a big deal, but it would be nice if it did. I'm pretty sure it used to appear at the end of offline matches before.

Thanks!

System specifications:
Ubuntu 16.04 LTS (64-bit)
Asus M4A78LT-M LE Motherboard
AMD Athlon II X4 645, 3.10 GHz
Mushkin 8 GB PC3

[2016-05-28 17:10] sunnybubblegum opened #894 "Hero 'About' writeup not updating"
![dota-2-hero-about-not-updating](https://cloud.githubusercontent.com/assets/1007764/15628650/00473e1a-24cc-11e6-93f2-817ccf1044c1.jpg)

Hello,

While playing Dota 2 recently, I noticed a small glitch. It's when you go into the 'Heroes' tab at the top, select a Hero, select another Hero, and after the third Hero you select, their short writeup under the 'About' tab will not update. It will be stuc

[2016-05-28 18:59] Tele42 commented on #892
Dota 2 Vulkan issues are being tracked over at https://github.com/ValveSoftware/Dota-2-Vulkan.

[2016-05-28 20:01] gdrewb-valve commented on #892
Closing as per Tele42's comment.

[2016-05-28 20:01] #892 closed, assigned to nobody

[2016-05-28 20:02] gdrewb-valve commented on #894
Probably not a Linux issue so this will likely go to the larger team.

[2016-05-28 20:02] gdrewb-valve commented on #893
Probably not a Linux issue so this will likely go to the larger team.

[2016-05-28 20:33] Panhead360 opened #895 "[OS X] Constant crashing since the May 25th update."
In all game modes I would receive a drop in frames, which is usually followed by a crash.

Unlike a lot of users on dev.dota2 I am able to start a match without hanging during startup. But during team fights or an event that may be considered resource intensive, I will crash.

Prior to the update on the 25th everything was running fine. If I could find the crash reports I would post it here, but s

[2016-05-30 00:54] gear4s commented on #793
[thread list](https://gist.github.com/gear4s/c69de29f361fad63e8a60530d67d4c65), it happens way more now, 4-5 times a day, and constant disconnecting as well as crashing (crashing on Windows only though so)

[2016-05-30 03:51] queenmedley commented on #888
I also have been waiting for korean input.
I don't play dota2 until it is available.
Is is so hard to fix it as waiting for several years?

[2016-05-30 06:05] Turbid commented on #603
I confirm this at Ubuntu 16.04 with GTX650Ti

p.s. and Ubuntu 20.04 with GeForce GTX 1650

[2016-05-30 06:11] planktonzp commented on #888
Maybe the answer is YES ，and probably the problem is not caused by them. @queenmedley

[2016-05-30 18:44] gdrewb-valve commented on #603
Check #793 for status from the SDL devs.

[2016-05-30 18:45] gdrewb-valve commented on #793
As a quick check does adding -nosound to your launch options avoid the problem?  This is just to add more confirmation that it's a sound-related issue, not a suggestion that you try to play without sound.

[2016-05-30 18:52] gdrewb-valve commented on #894
The larger team is going to look.

[2016-05-30 18:52] #894 closed, assigned to gdrewb-valve

[2016-05-30 18:53] gdrewb-valve commented on #893
The larger team is going to take a look.

[2016-05-30 18:53] #893 closed, assigned to gdrewb-valve

[2016-05-30 19:03] gdrewb-valve commented on #894
Does this happen every time for you?  If so the larger team asked for your console output from starting the game until you've hit the problem.

[2016-05-31 05:07] gear4s commented on #793
I'l have to check later today.

[2016-05-31 12:40] sunnybubblegum commented on #894
Yes, it happens every time. At least when I'm in Steam's Offline Mode; haven't tested Online Mode. What I've found though is that it happens after I do 'Demo Hero'. It seems like the first Hero I demo, that is the Hero whose 'About' writeup gets stuck.

In the session below, I first viewed Vengeful Spirit, Death Prophet, then Windranger, but the issue still wasn't happening. So I demoed Windranger

[2016-05-31 12:45] sunnybubblegum commented on #894
P.S. I'm sure you'll notice, but I've reverted to Ubuntu 14.04. (My WiFi network adapter wasn't supported in 16.04.) But, as you can see, I still experience the issue.

[2016-05-31 15:27] gdrewb-valve commented on #894
Thanks, I've passed this on.

[2016-06-01 11:13] xen0n commented on #50
fcitx :+1: , but maybe supporting the general IME framework like XIM or KDE IM is what people want instead... AFAIK fcitx and ibus are almost equally popular among Chinese users.

[2016-06-01 21:32] die-fi opened #896 "[Linux]Battlepass Courserpack has no alpha channels. (No transparency)"
New Cursor Pack isn't displayed properly. I see a moving white block with the courser in it. I assume the alpha value is is not processed properly, resulting in a white space that should be transparent.
The same error happens with the hand cursor if you want to scroll around the Group Stage for Manila Major, that was added today.
The only comparison  I can make is to the International 2015 Coursur

[2016-06-01 22:21] gdrewb-valve commented on #896
This works properly for me on my Ubuntu / NVIDIA system.  We'll have to see if other people have the same issue and then identify what configurations don't work.

[2016-06-01 22:23] die-fi commented on #896
I tested a few packs in Demo mode with the following conclusion.
DAC 2015 Chaos Knight Cursor Pack - Partially transparent. White block on the right side of the cursor and some at the bottom when, hovering over units.
DAC 2015 Mirana Cursor Pack - White surrounding, a few pixel transparent around the coursor.
DAC 2015 Crystal Maidon Cursor Pack - Partially transparent
The Summit 3 Cursor pack comp

[2016-06-01 22:26] gdrewb-valve commented on #896
The TI 2016 Battlepack cursor pack doesn't appear to be broken as it works properly for me so the cause seems like something more complex.

[2016-06-01 23:07] Tele42 commented on #896
I suspect this is related to mesa 10.3.2, which was released in Sept. 2014, a full year before the Dota 2 reborn client was released and most likely is fixed in a newer version.

[2016-06-02 05:46] B1aZer commented on #603
Confirm on Ubuntu 14.04. [system Info](https://gist.github.com/B1aZer/e6046917a64dafdc110da9cad0dc4ff1). Happens once in 2-3 games.

[2016-06-02 11:51] die-fi commented on #896
Well I upgraded most of the mesa packages to the newers backports, without any change.

[code]

[2016-06-02 19:15] jakubjanuzik opened #897 "[Linux] Game crashes after "Enter to battle as...""
System: Elementary OS (Ubuntu under the hood).

The game crashes when I press "Enter to battle". It's like, less than a 1 sec and it turns off.

Running steam via primus (`vblank_mode=0 primusrun steam`). Happened today and can't play rankeds or normals because of that.

Logs from bash:

[code]

Moreover, there's also a bug with workshop content to be downloaded. Starts/stops in a split of seconds

[2016-06-02 19:25] Tele42 commented on #897
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information, especially any CrashIDs or crash dumps related to this issue.

[2016-06-02 20:17] gdrewb-valve commented on #897
The crash report was discarded so we don't have it at Valve.  Are you familiar with gdb?  If you run the game under gdb you can set a backtrace and post here to see where the crash is happening.  Alternately keep having it crash until you see one with a crash ID.

[2016-06-02 20:18] jakubjanuzik commented on #897
Steam -> Help -> System information

[code]

How can I check nvidia drivers?

[2016-06-02 20:21] odhrnac opened #898 "Dota2 crashing"
Hi, i am using arch linux.

how could i found out why, or some reports.

pls help.

[2016-06-02 20:21] jakubjanuzik commented on #897
@gdrewb-valve I could keep it crashing, but then I have to abbadon game (due not connecting finally) so I'm not sure how long is that possible.

Never used gdb but I've seen it during searching the issue on the Web, let me try to get the logs via that.

[2016-06-02 20:22] gdrewb-valve commented on #897
The first thing I'd do is update your NVIDIA drivers, 340 is pretty old.  NVIDIA should have updates.

[2016-06-02 20:23] gdrewb-valve commented on #898
Go to your Steam client and in the Help menu pick System Information.  Copy that text and paste it here.  That'll help us get an idea of what you have and it may contain crash information.

[2016-06-02 20:26] jakubjanuzik commented on #897
I'll try that, but that doesn't explain why it worked like yesterday.

[2016-06-02 20:27] gdrewb-valve commented on #897
Sure, it could be lots of things but updating your drivers is a simple first step.  After that we'd need more information on what is happening on your system and that'll require possibly hitting the crash.

[2016-06-02 20:27] odhrnac commented on #898
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  6300 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Su

[2016-06-02 20:31] jakubjanuzik commented on #897
Sure, I've installed nvidia-352 and set launch options  to `GAME_DEBUGGER=gdb %command%`. Searching for game now, so I can reproduce that.

PS: Low Prio Queue so it might take a while :smile:

[2016-06-02 20:39] jakubjanuzik commented on #897
After I updated drivers game doesn't crash anymore.

Hopefully that's not related to the hero. But for now let's assume it's fixed.
Thanks @gdrewb-valve !

[2016-06-02 20:41] gdrewb-valve commented on #897
Thanks, closing.  If you have more crashes we can reopen.

[2016-06-02 20:44] gdrewb-valve commented on #898
Unfortunately you don't have any crash information caught by Dota.  That often means it's a video driver crash, although that's not always the case.  Can you update to the latest NVIDIA drivers?

[2016-06-02 23:19] Tele42 commented on #898
@odhrnac if you are able to collect any CrashIDs or crash dumps, please include them in this report.

[2016-06-02 23:26] odhrnac commented on #898
@Tele42 if you will tell me how to do that next time it crashes i will post it.
edit: i did find this file "core.dota2.1000.d1... .lz4" but it is 699 MiB. in # /var/lib/systemd/coredump/
@gdrewb-valve i have all drivers upto date. that was the first thing that i did check.

[2016-06-02 23:57] Tele42 commented on #898
@odhrnac on linux systems, crash dumps are stored locally in /tmp/dumps/ until the next reboot.

[2016-06-03 00:07] gdrewb-valve commented on #898
According to NVIDIA the latest Linux 64-bit drivers are 367.18.

[2016-06-03 02:44] telegram-error commented on #866
I am well aware that dev.dota2.com is the place for bug reports. I made a thread but it seems to get ignored. I wish I could look at the source code for quickbuy related functions and just fix it myself..

[2016-06-03 11:41] Sergiy98 opened #899 "Steam crashed"
I linux user and I had a mistake Steam, then gave me a 24-hour ban Search match, Fix and remove the ban !!!

[2016-06-03 11:44] Tele42 commented on #899
This issue tracker is explicitly limited to mac and linux client issues of Dota 2. Account stuff is not done here.

[2016-06-03 17:50] gdrewb-valve commented on #899
If you have information on your crash or even system information please post it.

As Tele42 mentions we can't do anything about your account, you can post at dev.dota2.com.

[2016-06-04 19:51] ghost commented on #879
Same here on OSX 10.11.6 Public Beta 1

GTX 960 - Web Driver: 346.03.10f01

I'm forced to boot to my Winshit partition to play :'(

Also it would be cool if saved settings are platform independent

Steam cloud setting for PC/OSX/Linux in separate place

EDIT:

Do you think if you implement a Metal renderer for OSX it'll be better than OpenGL ? Is this already planned?

[2016-06-05 15:52] AngryPenguinPL opened #900 "[Linux] Poor performance from last month (few latest update broke my FPS) Catalyst"
Hi.

In Dota 2 I recently played seriously month ago, because currently I not have time. Then dota 2 runs very well.

Today I came back. But the game works much worse. Performance is worse in the game than before (few latest update broke my FPS). So I don;t know that update broke. But I know that one of the last month.

Previously, I had about 70 FPS, now 20-60 of them during the fighting 20-30 FP

[2016-06-06 12:54] GregPK opened #901 "Cannot start DoTA2 - fatal stalled cross-thread pipe"
Came back from holiday and after an update I cannot run DoTA. Starting from steam leads to about 30 seconds of waiting with no result. Starting from console gives this output:

[code]

Attached are the system information - crash dumps should be uploaded.

[system-info.txt](https://github.com/ValveSoftware/Dota-2/files/300386/system-info.txt)

[2016-06-06 16:50] gdrewb-valve commented on #900
FPS issues are being reported on all platforms and as this is a general issue the larger team is taking a look.

[2016-06-06 16:51] gdrewb-valve commented on #901
Does this happen every time?  If you restart Steam does it still happen?  If you restart your computer does it still happen?

[2016-06-06 18:25] jakubjanuzik commented on #897
@gdrewb-valve unfortunately, it happened again. Yesterday I played with friend ranked and it was fine, now I'm getting crash again.
Ran game with GDB. That's something I got (had to kill -9 tho). Hope that's helpful.

[code]

[2016-06-06 18:31] jakubjanuzik commented on #897
Something else I found:

[code]

[2016-06-06 18:43] phoerious commented on #900
Are these FPS issues only reported for the in-game experience or also for the main menu and stuff? Because yesterday I opened Dota2 again for the first time in a month and the whole main menu was pretty laggy. I don't know what FPS it is, but it's really noticable: transitions aren't smooth and everything's sluggish.
The in-game performance is pretty bad as well, as reported already: in hero demo

[2016-06-06 19:15] jakubjanuzik commented on #897
If that's also helpful `Overthrow` mode works perfectly fine.

Update: Solo Q Normal Single Draft (again low prio queue:) ) works perfectly as well.

It appears it's an issue with SoloQ Ranked.

[2016-06-06 19:53] gdrewb-valve commented on #897
The crash in libclient looks like a Dota problem, reopening.  We still don't have a repro but we'll keep an eye out.

[2016-06-06 19:54] jakubjanuzik commented on #897
Okay, so just to play Dota2 Rankeds I have to come back to Windows? :cry:

[2016-06-06 19:54] gdrewb-valve commented on #899
Closing pending more info.

[2016-06-06 19:54] #899 closed, assigned to gdrewb-valve

[2016-06-06 19:55] gdrewb-valve commented on #897
We don't know the cause of your problem so we won't be able to fix it until we find out what's going on.  It's not possible to say how long that might take, unfortunately.

[2016-06-06 19:56] gdrewb-valve commented on #900
They've been reported for everything.

[2016-06-06 19:57] jakubjanuzik commented on #897
yeah, as a Python Dev I know that feel.

Anyway, if there's anything else I can help with finding the root of the issue, let me know.

[2016-06-06 20:15] phoerious commented on #900
Yeah, I just tried a game and I was playing with 15-20 FPS. Normally I play with a steady 60 FPS (vsync) with highest settings at 2560x1440px.

[2016-06-06 20:23] odhrnac commented on #898
Thx gyus for help. for now it didnt crash but did only play game from that time. the problem probably was hardware because one time it did crash all core where rly high at tempature around 80 C. So i cleaned up the hardware.
@gdrewb-valve yeah that is newest that current one that i am using but its also beta. i had problems with beta drivers in the past.
if it crashes, i will post the crash dumps

[2016-06-07 10:17] GregPK commented on #901
Restarting Steam didn't help.
Restarting the system did.

Thanks!

[2016-06-07 10:17] #901 closed, assigned to gdrewb-valve

[2016-06-07 17:30] gdrewb-valve commented on #901
If you consistently get stuck in this state you'll want to open an issue in the steam-for-Linux section.

[2016-06-08 05:25] sunnybubblegum opened #902 "Found Town Portal Scrolls not combining with existing ones"
![town-portal-scrolls-not-adding-to-existing-town-portal-scrolls](https://cloud.githubusercontent.com/assets/1007764/15883492/2835e620-2d0e-11e6-85bb-afe9c160ce89.jpg)

Hi,

I don't imagine this issue is Linux-specific, but I didn't see a place to submit general Dota 2 bugs. Sorry.

I'm finding that whenever I pick up dropped Town Portal Scrolls on the map, and I already have some in my Inventory,

[2016-06-08 11:33] Tele42 commented on #902
Hello, general gameplay issues can be reported at http://dev.dota2.com/.

[2016-06-08 23:40] gdrewb-valve commented on #902
I've passed this on to the larger team, closing.

[2016-06-08 23:40] #902 closed, assigned to nobody

[2016-06-08 23:40] gdrewb-valve commented on #898
OK, closing for now.

[2016-06-08 23:40] #898 closed, assigned to nobody

[2016-06-08 23:57] gdrewb-valve commented on #902
The early response from the larger team was that it's by-design.  As the scrolls are owned by other players they aren't supposed to stack to keep things clear.

[2016-06-09 10:53] ghost commented on #879
Any new on this?

It's hard to keep 60FPS even when every setting is disabled and everything on LOW ..

[2016-06-10 11:51] illtech commented on #897
Getting a similar crash here [looks like gameoverlayrender]; except when trying to watch The Manila Major games using the in-game client.

The game loading screen loads and sits there for a while loading; but where you think it would actually show the game; it just crashes out.

Restarting dota and re-trying numerious times usual fixes the issue (although its fricking tedious).

I also have anothe

[2016-06-10 12:36] menixator opened #903 "No Steam Logon"
Today I played Terrorblade, which was the worst decision of the day since every time I used reflection, the client freezes up for a second and I get a loss spike(possibly related) and me being the idiot I am, I restarted my router twice to get rid of the loss and then I got the classic "No Steam Logon" error when I am clearly logged in. I have experienced the "No Steam Logon" error multiple times

[2016-06-10 13:25] Tele42 commented on #903
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information.

Restarting a router closes all NAT-forwarded ports, so steam losing connection is makes sense, and it is normal for existing network connections to be dropped. The fact your workaround does anything at all is due to luck more than anything.

[2016-06-10 14:50] gdrewb-valve commented on #903
I'm not sure there's much Dota can do about this.

[2016-06-10 15:29] Tele42 commented on #903
@gdrewb-valve, there's nothing that can be done about users who decide to restart their router midgame, removing that there still is a possible client stall/slow path related to Terrorblade's reflection, but most likely it's a shader that's getting compiled on demand.

[2016-06-10 15:37] gdrewb-valve commented on #903
I should have been more clear, by 'this' I meant the post title of No Steam Logon.  I was going to have a quick conversation with some Steam people but likely this will be closed out.

The Terrorblade hitch is a possible problem but it would not be Linux/Mac specific and wouldn't be handled here.

[2016-06-10 15:39] truboxl opened #904 "Stuck at Match selection menu after receiving abandoned punishment"
Now undergoing redownload and reinstall... _sigh_

Fedora 23
MATE Desktop - macro WM
Nvidia GF 820M - Bumblebee with proprietary driver

So I received abandoned punishment (kudos to Dota2 team :-1: ), now I stuck with choosing only Single Draft mode. However, even if I choose to (select only SD mode), it still says I can only pick Single Draft even though I already picked...

Even with all options

[2016-06-10 15:59] gdrewb-valve commented on #904
This isn't a Linux issue, I'll pass it on to the larger team.

[2016-06-10 16:24] gdrewb-valve commented on #904
The regular team suggested starting with -console and in the console entering "dota_match_game_modes 0" and seeing if that helps.

[2016-06-10 17:26] gdrewb-valve commented on #897
The ValveSurveySubSummarize issue is an assert in the Steam client, I've passed that on to the Steam team.  There are two other problems in your other failure reports.  One is a cross-platform crash in Scaleform video decoding that the larger team is looking at but doesn't have any fixes for yet.  The final one is likely a Dota problem but doesn't have enough info in the report to pin down the cau

[2016-06-10 18:50] gdrewb-valve commented on #903
The Steam team feels that this behavior is expected due to the network interruptions, closing.

[2016-06-10 18:50] #903 closed, assigned to nobody

[2016-06-10 18:51] gdrewb-valve commented on #904
Closing as this isn't a Mac/Linux issue.

[2016-06-10 18:51] #904 closed, assigned to gdrewb-valve

[2016-06-11 09:35] AshishBhattarai opened #905 "High CPU usage after last weeks update[Linux]"
After last week update i get 80%+ cpu usage at UI.
https://i.imgur.com/fCHxvPO.png

OS: Arch Linux x86_64
Kernal: 4.4.13-1-lts
WM : Openbox
Processor Type: Intel(R) Core(TM) i3-4130 CPU @ 3.40GHz
Nvidia Drivers : 364.19
OpenGL Version: 4.5.0

[2016-06-11 16:52] AndreasAakesson opened #906 "[OS X 10.11.5] Dota 2 unplayable since 10 june 2016 patch"
[Current patch](http://dota2.gamepedia.com/June_10,_2016_Patch)

Played a game yesterday without problem on about 80-110 FPS. Today, FPS suddenly drops to about 40, and when a spell is cast, Dota 2 freeze for about a second and fps drops to 10-20.

CPU usage:

[code]

`steamoverlaygui` also stopped working all the time. Tried without but doesn't solve the problem.

After leaving a game, the menu G

[2016-06-12 02:57] gdrewb-valve commented on #905
I'm not sure there's anything wrong as there is no attempt to minimize CPU usage in the UI, but I'll take a quick look.

[2016-06-12 02:59] gdrewb-valve commented on #906
There are numerous FPS issues open on all platforms, the larger team is currently taking a look.

[2016-06-12 03:03] gdrewb-valve commented on #906
Also the June 10 patch was a minor update so it's unclear what exactly would have made a difference to Mac frame rate.

[2016-06-12 03:10] AshishBhattarai commented on #905
Its same during gameplay too. The game was killing my CPU so i used cpulimit to limit the cpu usage to 60%. Works fine with cpulimit.

[2016-06-12 04:14] gdrewb-valve commented on #905
It's definitely expected that during the game two or even three cores will be kept busy.

[2016-06-12 04:15] gdrewb-valve commented on #906
Do you have any failure reports from the system or from the Steam client system information?

[2016-06-12 04:26] tomekmarchi commented on #906
Same here crashes every few minutes.

[2016-06-12 04:58] gdrewb-valve commented on #906
@tomekmarchi you're talking about a different problem, please open your own issue and post the full system information from the Steam client.

[2016-06-12 05:04] AshishBhattarai commented on #905
I never got 80% (cpu0) usage before. I think thats too much.
My cpu was always 50%-60% (cpu0) ingame and 25%-35% (cpu0) in UI.

[2016-06-12 10:40] sinamiandashti commented on #879
volvo plz fix

[2016-06-12 10:40] sinamiandashti commented on #879
@gdrewb-valve

[2016-06-12 12:13] Tele42 commented on #905
For what it's worth, any computer that can't handle the cpu running at 100% for an extended period and fails has a bad cooling solution or an undersized power supply. It does not matter what it is running. Most modern processors have a critical temperature shutoff which prevents damage from high heat.

[2016-06-12 13:55] AshishBhattarai commented on #905
Yea but missuse of resources is not good + it makes a huge noise.

[2016-06-12 21:09] AndreasAakesson commented on #906
Not sure how to retrieve a failure report. Here's what my Steam client system information says:

[code]

[2016-06-12 22:27] gdrewb-valve commented on #906
If Steam or Dota catch a problem they'll record a failure report in the Steam system information. You don't have any so that would suggest the overlay stopping isn't due to a crash, or at least not one that Steam/Dota is aware of.  We'll have to see if we can repro problems here.

[2016-06-13 16:44] ghost opened #907 "[Linux] Inotify message ‘Matchmaking is ready’ hangs in the message stack"
If an inotify message wasn’t dismissed _manually_, i.e. by clicking on it, it will still hang in the message stack until it’s cleared. The stack is not infinite. It allows only 20 messages or so, and when it’s full, inotify won’t allow any new messages to appear. So the notify-send should be called as

[code]

The transient hint tells inotify to automatically dismiss the message when it expires.

[2016-06-13 18:31] gdrewb-valve commented on #907
We'll add these options.  As for disabling the notification entirely that isn't Linux-specific and you'll want to post that at dev.dota2.com.

[2016-06-14 03:33] ghost opened #908 "[Linux] Cannot start game with -vulkan option"
I can run the game with no problem using default options but when passing -vulkan as argument I get

[code]

when trying to start the game. I'm on Fedora 22 with NVIDIA prop. drivers.

[2016-06-14 03:38] ghost commented on #908
I'm a complete retard. I just noticed the "Dota 2 - Vulkan support checkbox". _facepalm through face_

[2016-06-14 03:38] #908 closed, assigned to nobody

[2016-06-14 13:51] Lex4hex commented on #473
Same here. Ubuntu 16.04. input_button_code_is_scan_code works.

[2016-06-14 15:17] ghost commented on #906
Just drop OpenGL on osx and implement Metal renderer please

[2016-06-15 02:51] lewisdiamond opened #909 "Game causes computer crash (full freeze, no TTY)"
After update to 6.88 and upgrade nvidia drivers from 364.19-1 to 367.27-1, game crashes multiple times per game (fully crashes the PC).

On a side note, I've had issues with voice comm, not being transmitted (it's picked up by the game, testing the microphone in the options works fine, but people can't hear me).

[2016-06-15 03:13] Tele42 commented on #909
Your description of the issue sounds like a video driver issue, I would revert to the known good driver version and retest.

[2016-06-15 03:30] lewisdiamond commented on #909
Could be a driver issue, could be a Dota issue. Unfortunately, System Information doesn't provide any crash reports...

[2016-06-15 03:44] Tele42 commented on #909
If you're getting a kernel panic due to something going wrong in the nvidia kernel module, then anything in the userspace would not have a chance to write to a log. If this was one of my systems, I'd get netconsole setup so that the kernel has a chance of sending a kernel panic to another system on the network, and the only time I've seen that fail is if a thermal safety trips and the system hard-

[2016-06-15 03:48] gdrewb-valve commented on #909
Dota can't cause the system to crash so this is definitely outside of the scope of this forum.  I'd go ahead and open a separate issue for the voice problem.

[2016-06-15 03:48] #909 closed, assigned to nobody

[2016-06-15 03:53] zeroedout commented on #50
It looks like GNOME [integrates ibus now](https://help.gnome.org/misc/release-notes/3.6/i18n-ibus.html.en), so +1 for ibus! I don't pity the dev that has to look up the different Linux input methods and choose just one to support. Does Valve have data on which desktops / input methods are most common among Linux Steam Users? I mean internal data, I can always point you folk to community data but i

[2016-06-15 04:12] gdrewb-valve commented on #50
No, we don't.  We've looked at a few options in the past; SDL has ibus support so that's one of the leading contenders.

[2016-06-15 15:06] truboxl commented on #904
seem fixed now...

[2016-06-15 18:20] lolgear opened #910 "[OS X] Energy consumption eats battery with charger plugged in."
Battery discharging. ( charger plugged in (85 wt) ).
Maybe it could be fixed by custom launch options.

Config:
OS X 10.10.5.
Steam latest.
Dota 2 latest.
Macbook Pro 15'' Late 2011.
AMD Radeon HD 6770M 1024 МБ
16 ГБ 1333 МГц DDR3

Another ( related ) behavior.
While observing dota 2 stream it still drains battery with plugged charger, but not too fast.

[2016-06-15 18:33] Tele42 commented on #910
You might be able to get Dota 2 to back off a bit by enabling vsync if it not already.

[2016-06-15 18:34] gdrewb-valve commented on #910
I'm not sure of the intent here.  Is this a request for dota to go into a batter-saver mode or something?  I don't believe anything like that is going to happen.

[2016-06-15 18:40] Tele42 commented on #910
It looks like @lolgear does not need to extend the battery life, just get the overall system power usage below what the undersized ac adapter can provide to the laptop.

My thought is there's not much to be done as this is bad hardware design, beyond limiting the game's max fps, which might lower gpu usage and a bit of cpu usage.

[2016-06-15 20:29] lolgear commented on #910
well, youtube videos are ok with power adapter, but steam streaming is not ok ( eats battery while charging ). ( I think that something happens in web-sockets or other related internet technology? )

ok, it doesn't happen, for example, in diablo 3. ( adapter charges ( or supports ) battery on high level ).

it is not a problem of hardware, it is a problem of high ( ? ) resources consumptions of cu

[2016-06-15 20:42] gdrewb-valve commented on #910
Dota 2 does not attempt to minimize energy usage / CPU usage and I don't believe that's going to change.  You can put in a feature request at dev.dota2.com but there's no Mac/Linux specific issue for that so I'm closing this out.

For Steam streaming you can post in the Steam forums.

[2016-06-15 20:42] #910 closed, assigned to gdrewb-valve

[2016-06-15 20:44] gdrewb-valve commented on #905
I did some quick checks and the Linux and Windows versions appear to use roughly the same amount of CPU (Windows is even higher in my testing).  CPU usage is not low but over time the main menu has gotten more complicated and I don't believe it's going to switch to something more plain to conserve CPU.  You can post a request at dev.dota2.com but there's no Linux/Mac specific issue here so I'm clo

[2016-06-15 20:44] #905 closed, assigned to gdrewb-valve

[2016-06-16 23:31] gdrewb-valve commented on #907
The June 16th update should have the fix for this.

[2016-06-17 01:50] shahnanigans opened #911 "Weird sounds when playing certain heroes?"
Im not sure if this is just me, but every time I play Jakiro I hear weird drum samples in the game. No, I don't have anything playing in background, and no, I don't listen to music. Can someone reproduce this? I can't use FRAPS to record because it makes the game laggy/unplayable.

Edit: It happened with another hero but I can't remember who I was playing.

Edit #2: System specs added in third pos

[2016-06-17 02:12] gdrewb-valve commented on #911
Can you post your Steam system info?

[2016-06-17 02:50] shahnanigans commented on #911
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookAir7,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3d
    CPU Stepping:  0x4
    CPU Type:  0x0
    Speed:  2200 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  S

[2016-06-17 22:17] vadi2 commented on #30
Have any players found a workaround on this? Given the prevalence of alt+clicking, if you stuff that up and just press alt, the game will minimize at the most inopportune times.

[2016-06-17 23:09] Tele42 commented on #30
@vadi2 adjust your DE's hotkeys to use a different modifier for those actions (I recommend Super/Meta).

[2016-06-17 23:27] vadi2 commented on #30
That's already taken by another action, both Super and Alt do different things.

[2016-06-17 23:32] Tele42 commented on #30
@vadi2, my point is that no application has the right to block your DE's hotkeys. If you choose to have troublesome key combinations and you have control over the hotkeys, that's your problem, not the games.

[2016-06-17 23:37] vadi2 commented on #30
I don't need your opinion on whose problem it is, I'm asking if anyone else has found a workable solution. This is the default on Ubuntu, so I imagine a fair bit of people are affected by this.

[2016-06-18 03:54] ghost opened #912 "Attempting to purge m_fencedResourceList.Count() = 1, m_pendingFencedResourceQueue.Count() = 0, nCurrentCmdBuffersAvailable = 0, nAllocatedCommandBuffers = 7785"
I am using Ubuntu 16.04 with a custom Kernel 4.7 RC3 with latest AMD GPU- PRO drivers with a 290X and the console it always prints

`Attempting to purge m_fencedResourceList.Count() = 1, m_pendingFencedResourceQueue.Count() = 0, nCurrentCmdBuffersAvailable = 0, nAllocatedCommandBuffers = 7785`

where nAllocatedCommandBuffers increases all the time. It prints extremely fast. (The game is in Vulkan

[2016-06-18 08:02] ghost commented on #99
sudo apt-get install libtxc-dxtn-s2tc0
may fixes this problem

[2016-06-18 12:48] u00101010 commented on #30
The current working solution is to rebind the "Alt" key in the game settings to something else.

[2016-06-18 13:32] ramma commented on #30
@vadi2 My solution is rebinding the keys in CCSM. I've bound super to alt+super and alt to shift+alt, neither of which combos being used in my game settings. It's far from ideal, but works till this is fixed, if it ever is.

@Tele42 My understanding is that's only the case in "fake" fullscreen, which Dota is using in reborn. In "real" fullscreen you'd expect those key presses to be captured by the

[2016-06-19 00:28] tpruzina opened #913 "[linux] random crashes during game"
For about two weeks now I'm experiencing game seemingly random game crashes.
Generally they happen at random point during match, but quite often (but not 100%) the game crashes after the match.

<pre>Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Family:  0x6

[2016-06-19 01:23] cumnatu opened #914 "HELP Dota2 refused to launch"
Hi all,
Just changed my hdd to a new SSD , all good , fresh OS (El Capitan 10.8.5)
Installed steam and then dota2.
Now no matter what i'm doing dota2 will refuse to launch , just for a flash of a second the small window with "preparing to launch " appears and then nothing at all. I have zero errors , cheated the files and all good , tried with different set launch options as -novid , etc (basicall

[2016-06-19 04:47] gdrewb-valve commented on #912
For the future Vulkan bugs should be filed in the Vulkan section.

[2016-06-19 04:49] #907 closed, assigned to gdrewb-valve

[2016-06-19 04:52] gdrewb-valve commented on #913
I looked at the two crash reports but unfortunately they don't have enough information to exactly isolate the problem.  We'll have to see if we can get more from people to narrow things down.

[2016-06-19 04:53] gdrewb-valve commented on #914
Dota requires OS X 10.9 or newer.

[2016-06-19 04:53] #914 closed, assigned to nobody

[2016-06-19 10:47] Sebby91 opened #915 "[OSX] Memory leak?"
Dear problem-solvers,

The first time I noticed this (and maybe it was earlier) was during the Manila Major qualifiers, but it seems that dota 2 is causing some memory issues. When I try to spectate games, my iMac is becoming more and more slow after watching more and more games. This due to the kernel_task memory slowly increasing. For example today, I've watched Liquid - OG. Before the game star

[2016-06-19 11:03] Sebby91 commented on #915
I have to add: It feels to me this is a lesser problem when you are playing. But I can't confirm yet (have to play a couple of games in a row) and prolly won't be able in the coming couple of days (busy). It seems to occur during spectating, or at least occurs more severe.

[2016-06-19 13:56] gdrewb-valve commented on #915
If you google for kernel_task you'll find a lot of posts about problems with memory usage so there may be an issue larger than Dota here.  In general anything that stays around after the process exits is the system's responsibility but we'll take a look.

[2016-06-19 15:27] Sebby91 commented on #915
But isn't it strange I've never had these issues until recently? I am a IT newbie so I have honestly no clue, but this was previously not there when playing/spectating dota2. I have it on two different machines as well, so I doubt the memory is broken in both of them. It could be OSX related but I can't remember updating it or whatsoever..

[2016-06-19 17:21] tpruzina commented on #913
Looked at it in gdb and couldn't get much out of it either, for the moment I downgraded to stable kernel (4.6) and older nvidia drivers (364.19) to see if that makes a difference.

Edit: It doesn't seem to have made any difference.
Edit2: Switched back to steam beta and the problem haven't appeared in third consecutive game (except for crashes after the game for which I filled separate bug).

[2016-06-20 06:41] gdrewb-valve commented on #915
Dota is provoking the issue but that doesn't mean it's a Dota problem.  It may very well be a Dota problem, but it's clear that if there's excessive memory usage when Dota isn't running that it isn't Dota that's at fault.

[2016-06-20 13:47] tpruzina opened #916 "[linux] segfault post-game"
Game often (~75% of the time crashes after I attempt to leave scoreboard for main menu).

gdb output (dota.sh GAMEDEBUGGER="gdb"):
https://gist.github.com/tpruzina/8e8bb7ee3b88dc164d25c97274b32148

pmaps showed me:
`7f1a47157000-7f1a4b2b7000 r-xp 00000000 08:03 1916036                    /home/tomas/.local/share/Steam/steamapps/common/dota 2 beta/game/dota/bin/linuxsteamrt64/libclient.so`

0x7f1a4

[2016-06-20 17:32] gdrewb-valve commented on #916
It's hard to say for sure but this looks very similar to a crash that occurs on all platforms.  The larger team was looking but I'm not sure if they've made any progress.

[2016-06-21 01:46] ghost commented on #912
Thanks for the reply.
I switched to 4.7 RC4 now. Either choosing RC3 or RC4 in grub the performance for Dota 2 decreased by about 30-40%  in comparison to last week.
There is also another message that is printed between the masses of nAllocatedCommandBuffers - announcements in the console:
Bailing out of vkWaitForFences() after 0.000079 seconds

For future bugs - may I ask where to find the Vulkan

[2016-06-21 02:00] Tele42 commented on #912
The Dota 2 Vulkan issue tracker is at https://github.com/ValveSoftware/Dota-2-Vulkan.

[2016-06-21 07:57] ghost commented on #912
Thank you!

[2016-06-21 21:49] t3rnary opened #917 "[API Issue?] Correct match result unable to be read by stats sites"
This is the first time I've seen this bug and I'm not sure how to replicate it unfortunately **(Edit: Actually seems to be happening to all matches, see edit below)**. After winning a match and going to check the stats on Dotabuff, I was surprised to see that the match was shown as a loss. At first I thought this may be an issue with Dotabuff, but then I checked Yasp and found the same result. The

[2016-06-21 23:43] #917 closed, assigned to nobody

[2016-06-22 10:57] hrzhu opened #918 "Client crashes when trying to inspect a tournament match"
Select a tournament match, click the in-game button and then alt-tab to desktop, the client has a great chance to crash.

My specs and crash dumps:

[code]

[2016-06-22 11:54] Tele42 commented on #918
Does Dota 2 ever crash if you do not alt-tab out of it while it is loading the match? If it doesn't, then this is probably a driver issue.

[2016-06-22 12:49] hrzhu commented on #918
I usually alt-tab to desktop while it loading the game. At least this
doesn't happen when I play a game. Need more tests to verify your question,
I'll report back.
On 22 Jun 2016 7:54 p.m., "Tele42" notifications@github.com wrote:

[2016-06-22 15:41] tpruzina commented on #916
If you consider this a dupe of already existing bug then please close.

[2016-06-22 15:44] tpruzina commented on #913
Can't say for certain but it seems that crashes have disappeared in latest version of the game, also noticed that affected binary (libclient.so) has changed. Past few games I had no crashes.
If I don't see any crashes in upcoming days I will close the bug.

[2016-06-22 21:37] gdrewb-valve commented on #913
OK, thanks.

[2016-06-22 21:38] gdrewb-valve commented on #916
We don't know for sure if it's a dup or not so we're leaving this open.

[2016-06-22 21:49] chrissisura opened #919 "Courir Bug"
I just now played a game where i had massive lag everytime i used the courir. A friend of mine complainted about the same issue in the same game. Just wanted to let you know. If it goes on, i will give more information. Playing on OS X El Capitan

[2016-06-22 22:14] Tele42 commented on #919
Possible duplicate of #863.

[2016-06-23 01:04] gdrewb-valve commented on #919
What type of courier was it?  Do you have a match ID or anything to look at?

We'll also need more specific system information, particularly RAM and GPU information.

[2016-06-23 22:20] #913 closed, assigned to gdrewb-valve

[2016-06-24 09:54] YetAnotherNerd opened #920 "battle point log inconsistency"
the points listed in my battle point log do not match my displayed battle pass level
http://i.imgur.com/px0eJiy.png

[2016-06-24 12:54] Turmfalke2 opened #921 "Incredibly slow main menu"
hi,
I played the last time 5 days ago when everything was fine, today I started dota 2 (partly due to the immortal 2 being release and also to just enjoy a game) and I find the main menu to be incredibly slow. Switch from one tab to another (shop, heroes..) is a matter of minutes. I click on it and then I  can go and make tea and by the time I get back it might have switched.

E: While writing thi

[2016-06-24 13:36] tpruzina commented on #921
I can confirm this, main menu UI is unusable since last patch (it doesn't freeze per say, but activating any UI element can take dozens of seconds).

[2016-06-24 13:37] kolobos commented on #921
This man speaks truth.

First of all, here is the temporary solution:
Start Steam like this:

[code]

Source: https://github.com/ValveSoftware/steam-for-linux/issues/4444

After the yesterday Immortals 2 update, Dota 2 is now more sensitive to the DBUS sessions shenanigans bug thingie, nothing of the following helps:
1. Opting out of Steam Beta and using the stable version
2. Switching from LLVM-9

[2016-06-24 13:42] Turmfalke2 commented on #921
So it is dbus related? I am on Gentoo with -dbus in USE and am I am using pure pulse audio. So far I always thought steam is only using  pulseaudio for the microphone.
For what does Steam/Dota need a dbus? It is perfectly normal for me not to have a dbus session running.

[2016-06-24 13:44] tpruzina commented on #921
I can confirm that workaround in  third post works. It seems that dbus connection is timing out every time introducing heavy lagging in UI actions.

[2016-06-24 13:50] kolobos commented on #921
So I tried to test again with DBUS session export, and I seem to be getting the same PulseAudio errors, so PulseAudio might be unrelated to this issue, or i'm not starting Dota 2 properly (Dota 2 not in the same DBUS session as Steam).
So what we know:
There is a bug (only affects Gentoo?) that was added to Dota 2 yesterday, and it's DBUS related.
Hopefully Dota 2 team can bisect and find an unive

[2016-06-24 13:52] tpruzina commented on #921
@Turmfalke2 Steam games ship with their own dbus drivers via steam runtime library, that said you will always have dbus installed in your /home/user/.local/share/steam directory.
It's possible that forcing usage of system dbus via LD_PRELOAD might work around the problem, but merely switching to stable version of steam _could_ also do the trick.
I'm gonna try that out and I'll also debug stuff wit

[2016-06-24 13:57] kolobos commented on #921
I've tested starting Dota 2 in the same DBUS session as Steam, and I stopped getting PulseAudio errors on the command line.
Which means this is likely to be PulseAudio related.
Do you guys have an improperly configured PulseAudio, same as me?
Here is how PulseAudio should be configured on Gentoo, using ConsoleKit: https://wiki.gentoo.org/wiki/PulseAudio#Configuration
I'm not using ConsoleKit and j

[2016-06-24 14:19] Turmfalke2 commented on #921
I have no pulseaudio nor consolekit installed - so I am pretty sure it not improperly configured.

E:  @tpruzina wish we could do away with the steam runtime, it is doing all kinds of strange like preloading 32bit libraries and then depending on that the fail in a safe away. Unfortunately last time I tried that I found that steam depended on some really outdated libpng version that hasn't got any

[2016-06-24 15:28] catern commented on #921
I can confirm that kolobos's solution worked. I'm running xmonad and didn't have a dbus session set up, so sticking

[code]

into my .xinitrc caused a dbus session to be started on X launch, and made it accessible to Steam/DotA 2. As an added benefit, now that dbus is working properly again, I get notifications on match found.

[2016-06-24 15:47] tpruzina commented on #921
@Turmfalke2  They still do use old version. I kinda get why they are doing it though, supporting all linux distros (at least unofficially) would be absolute pain and that's why they ship their own libraries much in the same way windows binaries are distributed.
While old libpng might not be a problem (they still use really old version). things like d-bus cause problems because they are incompatibl

[2016-06-24 16:33] Turmfalke2 commented on #921
@tpruzina I know that issue, although in our case it not libpng, but ubuntu 12.04 for php 5.3.. (Please dear god let php die).
For dota2 I guess I am going to look into getting it a dbus. Did you find out what it is actually doing with dbus? Other than the match notification?

[2016-06-24 21:35] gdrewb-valve commented on #921
The latest release of Dota enabled the SDL IME support which uses ibus.  That introduces new dbus usage and may be the core problem here.  I'm assigning to the SDL dev.

[2016-06-24 21:36] gdrewb-valve commented on #920
This isn't a Linux/Mac issue, the larger team will be handling this.

[2016-06-24 21:36] #920 closed, assigned to nobody

[2016-06-24 21:37] gdrewb-valve commented on #919
Closing until we get enough information to investigate.

[2016-06-24 21:37] #919 closed, assigned to gdrewb-valve

[2016-06-24 21:41] gdrewb-valve commented on #50
The latest release enables the SDL ibus IME support.  Has anybody had any luck trying it out?

[2016-06-25 05:16] vekin commented on #921
export DBUS_SESSION_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)"
steam

Thank you for this.
I was having issues with chat bringing my fps down to sub 1fps and the characters drawing extremely slowly.

Also I had never seen the games notifications until now.

[2016-06-25 07:16] Turmfalke2 commented on #921
Still don't get any notifications, do they use libnotify? Don't really need them.

[2016-06-25 08:17] dayvough opened #922 "[OSX] Client crashes when spectating games"
After the June 25, 2016 patch, I can no longer spectate the TI6 qualifier matches. I click the "Watch In-game" and it crashes.

Mac OS X 10.11.4
Macbook Pro Retina 15" 2012

[2016-06-25 08:35] Turmfalke2 commented on #922
I am having similiar issues on linux, but it is not for all games.
From dmesg:
[Jun25 10:30] GLRenderThread[26552]: segfault at 555f4449e100 ip 0000555f4449e100 sp 00007f05166ec708 error 15
[Jun25 10:31] traps: GLRenderThread[27890] general protection ip:7f9d59dee0f6 sp:7f9d5f517710 error:0 in libscaleformui_4_gl.so[7f9d59811000+a09000]
[Jun25 10:32] traps: GLRenderThread[27980] general protection

[2016-06-25 08:56] hrzhu commented on #918
This happens occasionally too when I don't alt-tab to desktop.

[2016-06-25 08:59] hrzhu commented on #922
Possibly the same problem as #918, but I have this problem even before June 25 patch.

[2016-06-25 09:19] dayvough commented on #922
@hrzhu: I have been able to watch the Open Qualifiers in client with problem though.

[2016-06-25 09:47] Turmfalke2 commented on #922
To me it feels like it is related to drafting phase, it feels like I can reliably spectate games after the 00:00 minute mark. Unfortunately that is a bit of an issue with the compendium predictions.
E:Can't watch Alliance vs Team Secret, but Virtus.pro vs Team Empire is fine.
E2: Was able to join Alliance vs Team Secret at the end of the drafting phase.

[2016-06-25 10:50] ramma commented on #922
Same here on Linux. It seems to happen when the draft is in progress. I only manage to load near the end of the drafts and any point after. When the draft screen does load, undrafted heroes have purple/pink boxes where spell images would be, and a pile of strength icons on the right of where the portrait would be.

[2016-06-25 11:01] dayvough commented on #922
Update: I loaded into a game with a draft on and I was able to watch Secret vs Alliance. My previous attempts were when I loaded a game that was already past the bans.

Can also confirm that I'm also getting the weird strength icons + purple/pink boxes @ramma is talking about.

[2016-06-26 01:04] pnivlek commented on #918
This also happened to me today when trying to watch FDL vs EG's draft. I was continually alt-tabbing at the loading screen, where it crashed a few times. As soon as I sat through the loading screen, it didn't crash.

Sysinfo:

[code]

Edit: Worth noting that the sysinfo is wrong here, because I ran dota with the launch option "vblank_mode=0 primusrun %command%"
So steam uses the intel card, and al

[2016-06-26 11:07] gu3st commented on #922
If picks/bans have ended (players have loaded into the match), I very very seldomly crash.

If I try to join a game that's mid-draft, I have a extremely high crash rate. I have a bunch of crash dumps from these as well.

These dumps are from Linux, but the same thing happens in OS X, just with less frequency.

I'm running Ubuntu 16.04, but I had the same issue in 14.04.  Unity as my Desktop Enviro

[2016-06-26 11:23] Turmfalke2 commented on #922
The strength icons and purple boxes are unrelated to this bug, they have been like that ever since we got reborn(?) and I am pretty sure they have been reported here before.

[2016-06-26 15:51] ghost commented on #879
1 month later still unplayable on OSX

[2016-06-26 15:54] sinamiandashti commented on #879
@Scellow litter better now .... but not as good as always

[2016-06-26 16:42] ghost commented on #879
@sinamiandashti yes a bit better, but its still not acceptable for a AAA game, this is not early access game

[2016-06-26 19:31] rudmint opened #923 "Game crash when attempting to spectate matches during draft"
I am able to connect and watch games after drafting/match predictions are finished but cannot connect during the drafting phase.  Seeing these messages in the kern-log:

Jun 26 15:19:24 razorwolfelite kernel: [1655746.367483] GLRenderThread[25589]: s
egfault at 10 ip 00007f325e6c40f6 sp 00007f3263ddf710 error 4 in libscaleformui_
4_gl.so[7f325e0e7000+a09000]

Jun 26 15:20:26 razorwolfelite kernel:

[2016-06-26 19:47] rudmint commented on #923
Annnd I just browsed open issues and saw #922 is the exact same thing.

[2016-06-26 19:47] #923 closed, assigned to nobody

[2016-06-26 19:49] rudmint commented on #922
Same issue on Linux

Jun 26 15:19:24 razorwolfelite kernel: [1655746.367483] GLRenderThread[25589]: s
egfault at 10 ip 00007f325e6c40f6 sp 00007f3263ddf710 error 4 in libscaleformui_
4_gl.so[7f325e0e7000+a09000]

Jun 26 15:20:26 razorwolfelite kernel: [1655808.275466] traps: GLRenderThread[25
963] general protection ip:7fe8e3a8a0f6 sp:7fe8e9166710 error:0 in libscaleformu
i_4_gl.so[7fe8e34ad000+a0

[2016-06-27 08:38] Yabk commented on #379
Hi, I'm experiencing the same thing after i upgraded to ubuntu 16.04.
I had 14.04 before and this never happened to me.
When i try to spectate a game that is in picking or pre-game phase it crashes dota while loading.
If the picking phase is over it doesn't crash.

[2016-06-27 09:23] Tele42 commented on #379
Hello @Yabk, you most likely are encountering the newer regression being tracked at #922.

[2016-06-27 11:38] bennofs commented on #921
I've got the same problem (very slow menus, like about 3 seconds of delay after hovering over a menu item takes effect), but the workaround does not work for me. Also, the game is very slow in general, in hero selection as well. Haven't been able to play a game yet to see if it is different in-game.

[2016-06-27 15:53] kolobos commented on #921
@bennofs Make sure that you are using Bash shell, and setting DBUS_SESSION_BUS_ADDRESS variable in the same shell session.

[2016-06-27 16:41] bennofs commented on #921
@kolobos I did that. In my session, DBUS_SESSION_BUS_ADDRESS is also already set, yet I'm still affected by this.

[2016-06-27 19:58] simonvpe opened #924 "Mouse not working after latest patch"
My mouse Isn't working since the last patch. In the UI the mouse pointer moves around fine but it doesn't click where you would expect it to so I had to Alt+Tab out and kill the process in a terminal. The steam overlay seems to work fine tho.

I run vanilla Debian with 4.3 kernel and a not very recent AMD graphics card.

[2016-06-27 20:19] bennofs commented on #924
Might this just be another instance of #921? The mouse is just moving incredibly slow, so you will see the action of the click, but you'll have to wait for ages.

[2016-06-27 20:46] simonvpe commented on #924
Indeed it is. I didn't realize it was really slow. Anyhow, now it is fixed. Thank you

[2016-06-27 20:46] #924 closed, assigned to nobody

[2016-06-27 22:47] gdrewb-valve commented on #911
Does this happen every time?  I just tried Jakiro both in a bot game and in Demo Hero on my Mac without an issue.

[2016-06-27 23:05] gdrewb-valve commented on #915
I did some testing on my Mac and I didn't see anything like this.  We'll have to wait and see if other people hit it and we can find a pattern.

[2016-06-27 23:09] gdrewb-valve commented on #916
If you run without gdb and let the crashes get processed do you end up with more uploaded failure reports with crash IDs?  The one you posted above is for the Steam client and not Dota.

[2016-06-27 23:11] gdrewb-valve commented on #918
For both of you the crash dumps that were reported to Valve and have a CrashID are problems with the Steam client and not Dota.  Do you have any newer reports?

[2016-06-28 00:30] rcano commented on #50
I can't test since I don't use ibus IME, only fcitx.

[2016-06-28 00:43] gdrewb-valve commented on #922
If you go into the Steam client and validate your install does it find any issues?

[2016-06-28 00:45] gdrewb-valve commented on #918
If you go into the Steam client and validate your Dota install does it find any issues?

[2016-06-28 01:55] vekin opened #925 "Trophy points don't work."
When I went from lvl 37 trophy to lvl 38 I am supposed to get over 1k trophy points?
My profile level doesn't reflect the earned points.

[2016-06-28 02:16] gdrewb-valve commented on #925
This forum is for Mac and Linux only bugs.  You'll want to post at dev.dota2.com

[2016-06-28 02:42] vekin commented on #925
I'm using the Linux client.

[2016-06-28 02:43] gdrewb-valve commented on #925
Your issue isn't Linux-only, though, so you'll want to post at dev.dota2.com

[2016-06-28 02:43] #925 closed, assigned to nobody

[2016-06-28 02:47] die-fi opened #926 "Various animation / particals are green."
Since a few days a lot of animations have a green glow to them instead of intended colors.

Here are a few examples:
Enigmas Black Hole: ![20160628041419_1](https://cloud.githubusercontent.com/assets/12123373/16402167/c16ca9d2-3cea-11e6-8838-8ea593db2d89.jpg)
Color of Teleportation Scroll ![20160628041759_1](https://cloud.githubusercontent.com/assets/12123373/16402137/725f1960-3cea-11e6-90df-74bfe

[2016-06-28 03:09] gu3st commented on #922
No issues found when validating.

[2016-06-28 03:10] shahnanigans commented on #911
No it happens randomly. I was thinking it was a Taunt item but as far as I know none exist for him.

I'll try to see if I can reproduce it in a bot match while recording it, and upload a video soon.

[2016-06-28 03:10] gdrewb-valve commented on #911
OK, thanks.

[2016-06-28 03:11] gdrewb-valve commented on #926
If you validate your Dota install from the Steam client does that help?

[2016-06-28 08:03] die-fi commented on #926
Game cache verification didn't help.
Funny thing, while most skills are green, Undeads Decay and Pudges Rot gives of blueish/purple particles.

[2016-06-28 09:01] mraxilus commented on #564
This same issue happened to me. I think my Nvidia driver updated when I ran the software updater. Restarting my computer fixed the problem. I'm running Ubuntu 16.04, on a System76 bonx7.

[2016-06-28 09:11] Yabk commented on #922
Same problem, tried validating, it didn't find any issues.

[2016-06-28 12:31] Sebby91 commented on #915
Just curious gdrew, are you using El Capitan?

[2016-06-28 12:33] Sebby91 commented on #922
My game always freeze for a few seconds between when the heroes are chosen (picks/bans) and players are choosing the hero which they play. Most of the time after the freeze, it'll just go into game but sometimes (especially after watching several games in a row) it will crash.

[2016-06-28 12:40] danginsburg commented on #926
It looks like you are running AMD mesa 11.1.3 on AMD HD4650.  Are you able to try a different version of mesa? When we originally released 10.5.9 was known good.  Perhaps you could try 11.2.x?

[2016-06-28 14:48] gu3st commented on #922
The freezing => crash/disconnect is something that happens often to people with HDDs at the start of CM games.  I play in a league, and nearly every game starts with a few disconnects as a result. I think (in the disconnecting case) there's something that is blocking the network connection which causes it to timeout, as it didn't happen after I moved my stuff to SSD.

[2016-06-28 16:27] lolgear opened #927 "[OS X 10.11.5] No GUI"
Latest update.
OS X 10.11.5

There is no gui after starting game.

System Monitor show dota2 process with 4.6mb memory usage, nearly zero cpu usage.
No dota 2 icon in dock.

Options tried so far:
Switch on/off steam overlay.
Add/Remove launch option -fullscreen.

[2016-06-28 16:36] Yabk commented on #922
Nope, I'm on SSD. The problems started when i upgraded to Ubuntu 16.04 (from 14.04)

[2016-06-28 17:05] gdrewb-valve commented on #922
If you look at the steam-for-linux section you'll find a variety of problems when running Steam on 16.04.  Are you using any of those workarounds?

[2016-06-28 17:29] gdrewb-valve commented on #927
Has Dota ever worked for you?  If so when did this start?

[2016-06-28 17:30] gu3st commented on #922
I'm not using any workarounds. Taking a cursory glance, most of the workarounds seem to be AMD GPU specific, and I'm on nVidia.  The crashing that I'm experiencing when loading into a match in the draft happened in 14.04 as well, and still occasionally happens in OS X as well.

[2016-06-28 18:08] gdrewb-valve commented on #922
There's a problem that occurs on all platforms that the larger team is working on, but there may be multiple problems involved.

[2016-06-28 18:09] gdrewb-valve commented on #915
No, I'm running Yosemite.

[2016-06-28 19:55] Yabk commented on #922
I just managed to connect to a game that was in pregame. Seems like I can't connect to games that are already in picking phase. If I connect during pregame seems like everything is working fine during the picking phase.

[2016-06-28 21:11] Vylaern commented on #921
Hi,

I have the same problem in last week. Which solution (step by step) does it work?

BTW: I have similar problem (very slooow menu) with Total War Attila (Total War Empire works fine) and UFO, Enemy Unkown (used to be fine before).

I use Gentoo amd64 (stable)

UPDATE
This:
Start Steam like this:
export DBUS_SESSION_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)"
steam

Solved my

[2016-06-28 21:54] bennofs commented on #921
Oh, I found out why the workaround did not work for me. It is since on my system, steam is run in a chroot environment and not all environment variables are propagated to this environment (DBUS_SESSION_BUS_ADDRESS is not propagated). Sorry, my bad, fixing this makes steam work for me. So it is indeed related to dbus.

[2016-06-29 03:18] ghost opened #928 "Linux client unplayable. Serious framerate/ping(?) issues"
I was ill for about a week about a week ago, so I'm not entirely sure when these issues cropped up, but it's been since 11 days ago (according DotABuff when I played my last match). I'm listing multiple issues here since it seems to me that they may all be related.

1st issue: Framerate on the main screen is horrible. I can't see what the actual framerate is, but I'm sure it's sub20.
2nd issue: Fr

[2016-06-29 03:53] ghost commented on #928
I was looking through the other bugs in the list and this one:

https://github.com/ValveSoftware/Dota-2/issues/921
has a workaround (export DBUS_SESSION_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)") that /seems/ to work so far.

So far it seems like the main menu, character selection, and settings are no longer laggy. In addition, the chat box no longer causes massive FPS drops.

[2016-06-29 05:04] gdrewb-valve commented on #928
As you've found the dbus issue causes major perf issues.  The SDL dev has been assigned that issue.

There's an open issue on the client not shutting down which also is assigned to the SDL dev.  The Steam client issue should be opened in steam-for-linux.  If you have other dota issues please open one entry per issue here.

[2016-06-29 05:04] #928 closed, assigned to nobody

[2016-06-29 06:51] clinew commented on #921
I ran into the exact same problem, too (I'm also running Gentoo on amd64). Adding `export DBUS_SESSION_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)"` to my Steam launch script solved the problem for me.

[2016-06-29 11:28] Myrl commented on #921
@bennofs Nixos bros. That aside, how did you fix it to make steam work for you?

Edit: Oh, I didn't realize the referenced commit.
Edit 2: How do I use that when I use nixpkgs-channels? Cherry-pick that specific commit?

[2016-06-29 11:39] bennofs commented on #921
@Myrl yeah, cherry-pick the commit works for me.

[2016-06-29 14:26] lolgear commented on #927
@gdrewb-valve
well, it starts when I've downloaded update.

Last step I've done: restart steam.
Now everything fine. ( run with -fullscreen option works, alternative not tested. )

[2016-06-29 15:09] gdrewb-valve commented on #927
OK, closing for now.

[2016-06-29 15:09] #927 closed, assigned to gdrewb-valve

[2016-06-29 22:06] gdrewb-valve commented on #916
I'm not able to repro this problem.

[2016-06-29 22:15] gdrewb-valve commented on #918
So far I have not been able to repro this.

[2016-06-29 22:17] gdrewb-valve commented on #922
There's definitely a problem here and Valve is getting a few reports of this kind of crash per day but we still haven't found what is going wrong.  This will likely take quite some time to track down.

[2016-06-29 22:17] gdrewb-valve commented on #922
For people using the stable Steam client and willing to try the beta Steam client does that change anything?  Does disabling the Steam overlay for Dota change anything?

[2016-06-30 03:33] ramma commented on #922
@gdrewb-valve I've been on the Steam Beta branch for a while. Since this is so time dependent I haven't been able to swap clients fast enough to test both clients with the same match.

Disabling the overlay did avoid the crash for me though.

I also noticed that only captains mode games are crashing. Whether the game is part of a tournament or not doesn't seem crucial, but I was only able to test

[2016-06-30 04:04] gdrewb-valve commented on #922
Interesting, thanks for the extra info.  We'll have to see if other people have similar results and that might narrow down the possible culprits.

[2016-06-30 04:29] hrzhu commented on #918
As it's mentioned in #922, it might only affect captain mode games. Since the TI qualifiers have ended, I couldn't test this lately.

[2016-06-30 04:50] pseudonom commented on #921
New to Nixos here. What do I need to do once I have that commit in my `nixpkgs`? Not `nixos-rebuild switch`?

[2016-06-30 12:54] chrissisura opened #929 "Everyone in my last game lagged"
http://www.dotabuff.com/matches/2471885985
This is the dotabuff of the game. Everyone had lagspikes thought the entire game it was almost unplayable but it still counted. Hope this wont happen again.

[2016-06-30 16:22] gdrewb-valve commented on #929
The larger team is looking at perf issues so we won't have much status here.

[2016-07-02 16:04] ilyaboka opened #930 "Dota 2 very low fps after update."
After yesterday update of dota, i can't play or even use menu, becouse of this. Another games work fine.
I'm exit from dota by "pkill -9 dota2"
I'm use arch linux.
I'm launch steam with this command: `LD_PRELOAD='/usr/$LIB/libstdc++.so.6 /usr/$LIB/libgcc_s.so.1 /usr/$LIB/libxcb.so.1 /usr/$LIB/libgpg-error.so' steam`
Radeon driver: xf86-video-ati
[lspci.txt](https://github.com/ValveSoftware/Dota-2/

[2016-07-02 16:14] ilyaboka commented on #930
Cursor moves fine. But all related with cursor processes have long delay

[2016-07-02 16:30] gdrewb-valve commented on #930
Check out #921, does the workaround there help you?