[2015-10-29 10:56] gxgani opened #621 "[OSX] Inventory Graphics Glitching"
This used to happen in DotA 2 source 1, when the support was ended. There were screen tearing and artifacts appearing in game and at the menu. I noticed similar artifacts but with Inventory/Items Graphics.

In the below image, the last item is a power thread.

![](https://cobalt60.xyz/shared/Screen-Shot-2015-10-29-at-3.13.20-PM.png)

OSX 10.11/Macbook Pro
Intel HD4000

[2015-10-29 12:00] rained23 commented on #617
https://gist.github.com/rained23/5d788bac1d7f9d198d3c

[2015-10-29 13:58] planktonzp commented on #488
In fact,it has appeared on so many linux player's computer ,which is all of us are really hope that Valve resolved

[2015-10-29 16:11] gdrewb-valve commented on #618
OK, we'll try and find a repro.

[2015-10-29 16:13] gdrewb-valve commented on #621
Does this happen all of the time?  Does it happen right when you start the game or after some series of actions?  If you demo a hero in Reborn and buy certain things does it show up?  If you know of a concrete repro that would make it easy for us to try out at Valve.

[2015-10-29 16:17] gxgani commented on #621
If you look at the image again, I had safe play hour turned on and it
happened around 3rd hr mark. Was playing all pick ranked match. Around 5th
hour I noticed few more icons getting glitched. I guess it was helm/aegis.
On Oct 29, 2015 21:43, "Drew Bliss" notifications@github.com wrote:

[2015-10-29 16:19] gxgani commented on #621
A side note, it wasn't happening to my inventory.

[2015-10-29 18:09] gdrewb-valve commented on #617
I've sent it on.

[2015-10-29 18:19] gdrewb-valve commented on #617
This line apparently shows the issue but not the reason:

[2015-10-28 17:45:07] Validation: file locked "/home/xxxxxx/.local/share/Steam/steamapps/common/dota 2 beta/game/dota/pak01_081.vpk"

Validation can't open the given file so it fails and will revalidate the next time you try it.  Does that file exist on disk?  In particular is the exact case of the file path correct?  If it's correct could

[2015-10-29 18:29] gdrewb-valve commented on #617
Is Reborn running while you're validating?  If you exit it and validate to things work?

[2015-10-29 19:03] pithium commented on #305
@ekianjo: Let me translate what eddie-dun was attempting to say....

@gdrewb-valve: Linux is a different platform, and the users are different. Supporting Linux involves supporting Linux Users, and I understand if this seems odd, because in Win32 things are the pposite. The paradigm for development is different, and the tools are different. I can name 3 very nice 3d FPS engines that do not suffer

[2015-10-29 19:37] fumazu commented on #608
Portrait is working fine in my Windows client, but I have the same issue when using the Linux client under Ubuntu 15.10.

[2015-10-29 19:39] gdrewb-valve commented on #608
Which issue do you mean?  Do you mean the hero isn't displayed or that the little hero movie doesn't play?  The movie is a known issue.

[2015-10-29 19:47] fumazu commented on #608
The movie is missing in the Linux client. Sorry for the dupe. :-/

[2015-10-29 19:52] gdrewb-valve commented on #608
@gluttonyGit, is your issue also that the movie is missing?  I had assumed you meant more with the screenshot.  If this is about the movie not playing the underlying issue is covered in #54.

[2015-10-29 20:05] gluttonyGit commented on #608
@gdrewb-valve i mean the hero movie is missing.

[2015-10-29 20:08] gdrewb-valve commented on #608
OK, closing this as a duplicate.

[2015-10-29 20:08] #608 closed, assigned to gdrewb-valve

[2015-10-29 20:09] gdrewb-valve commented on #518
I believe the update just went out.

[2015-10-29 20:09] gdrewb-valve commented on #579
I believe the fix just went out.

[2015-10-29 20:10] gdrewb-valve commented on #605
I've passed this on to the larger team.

[2015-10-29 20:10] #605 closed, assigned to gdrewb-valve

[2015-10-29 20:15] gdrewb-valve commented on #607
Can you add +net_showsplits 1 +net_showudp 1 to your launch options, then put a gist of your console output up?

[2015-10-29 21:15] vokama commented on #305
@gdrewb-valve Sorry to bother, but it really teases me. Does this also mean that S2 SDK will not be available on Linux in the near future?

[2015-10-29 22:42] ghost commented on #607
Done:
https://gist.github.com/Decorus/1a12fb6ef6798a06ff8e
https://gist.github.com/Decorus/45efe56723c7fc530020
Unfortunately "condebug" doesn't write the requested information to the logfile so i had to use "condump" and split it up. First gist  is main menu and then connection to server the second gist shows only client gameserver communication.
If you need more logs or a wireshark log between c

[2015-10-29 23:16] gdrewb-valve commented on #607
Can you also add -profile 1

You should have a timestamped.log somewhere in your dota tree.

[2015-10-29 23:56] ghost commented on #607
https://gist.github.com/Decorus/63a8ff83f86fc710127b
from gamestart to connecting to gameserver to quit via console after ~120 secs.

[2015-10-30 00:06] gdrewb-valve commented on #607
Another request.  Set your launch options to this:

-profile 1 -condebug +net_maxroutable 576 +net_showsplits 1 +net_showudp 1

And send the "console.log" file the Reborn folder.

[2015-10-30 00:06] kingmobmaskreplica opened #622 "[OSX] Recent Crash when attempting to join Overthrow game"
I've been having persistent issues for a while now with ping rocketing and packet loss. Internet connection appears ok for all other purposes. This is the first time dota2 has crashed completely,
# crash report from OSX:

[code]
## System Info

[code]

[2015-10-30 00:16] ghost commented on #607
https://gist.github.com/Decorus/0d0704d55f6252aa9a49

[2015-10-30 00:25] gdrewb-valve commented on #622
This crash is happening on all platforms, the larger team is investigating.

[2015-10-30 00:31] gselsidi commented on #616
The only thing I achieved was to bind CMD by itself, which is utterly useless. I need to bind cmd+q cmd+w cmd+e like alt in windows.

[2015-10-30 00:49] gdrewb-valve commented on #616
Reborn only supports binding Alt as a modifier (for example, you cannot bind Ctrl+key on Windows).  I believe there are products that can make the Command appear as Alt if you want that, but you can't bind separately from Alt.  I've marked this as an enhancement request but I'm not sure of what would be done here since you'd quickly get into collisions with system keys like Cmd+C/Cmd+V/Cmd+Tab and

[2015-10-30 00:50] gdrewb-valve commented on #607
That log appears to show that you're not getting any responses from the server.  If you can get a wireshark log that'd be the next step.

[2015-10-30 01:13] dracorl commented on #620
It worked. Thank you for your help.

[2015-10-30 01:13] #620 closed, assigned to gdrewb-valve

[2015-10-30 01:25] ghost commented on #607
https://drive.google.com/file/d/0B3i6lq7hJ2QjaHZLRTc1WWVkLTg/view?usp=sharing
dota2.pcapng between client and server.

[2015-10-30 02:25] gselsidi commented on #616
Well we can turn off cmd+c/cmd+v as I don't see many people copying and pasting in Dota, and if you had a urgent  need you can always use your mouse or the right ctrl key if need be.

I would leave only left ctrl + tab unbindable. then the rest of the system commands can be executed with the right ctrl key if there is a need.

Just put an option in advanced settings to either turn this functionali

[2015-10-30 02:52] gdrewb-valve commented on #607
Thanks.  The logs seem to show low-level splitting up of data, do you have any specialized settings anywhere in your networking path?

The larger team is still trying to figure out what exactly is going on, there might be more requests tomorrow.

[2015-10-30 08:26] alphaphee commented on #584
I have the exact same issue. I start Dota 2 and after the loading logo I end a staring at a blank screen. Fresh ubuntu 14.04.3 install, nvidia/current/nvidia-304 drivers. I can provide logs if needed.
Also the -fullscreen option doesn't help.

[2015-10-30 11:23] cstruck commented on #584
@AlphaPhi I think its not the same issue if it does not start with -fullscreen, it might still be the same issue with the windowed mode. you might want to start dota with

[code]

without -fullscreen and with -fullscreen

you'll need strace installed.

[2015-10-30 12:25] danginsburg commented on #619
If I'm understanding the bug report, things were working fine at 5120x2880 Desktop Friendly Fullscreen and when you switched to 2560x1440 Desktop Friendly Fullscreen the machine became unresponsive.  After that, it would not startup at all, until you set -fullscreen which would have changed the mode to Exclusive Fullscreen.

I've been trying to repro this on some machines here but have not had any

[2015-10-30 12:26] danginsburg commented on #621
As @gdrewb-valve says, it would be very helpful to have clear repro steps.  Can you repro it in Demo Hero mode?

[2015-10-30 12:28] danginsburg commented on #613
Does this happen with the NVIDIA web driver: http://www.nvidia.com/download/driverResults.aspx/93460/en-us .  I have not seen this, it looks like potentially a driver issue.  Does the game crash when this occurs?

[2015-10-30 12:44] ghost commented on #607
Solution (sort of):
I set my dhcp client to ignore the MTU set by my cable modem(via commenting out "option interface_mtu"), this lets me connect to the gameserver, but i get massive amounts of split packets -every 3rd to 4th udp packet - without any packet loss though.
I'll upload my "dhcpcd.conf" file and the output of "ip route show" and "ip link show" for reference as well as my network setup

[2015-10-30 12:45] gxgani commented on #621
Right now away from my desk. I'll get back to this issue tomorrow ASAP.
On Oct 30, 2015 17:56, "Dan Ginsburg" notifications@github.com wrote:

[2015-10-30 13:07] danginsburg commented on #562
@TadSV Is the 1/4 screen at 1920x1200 still happening with the most recent update?  I have tried everything I can think of to repro this issue and haven't had any luck.

[2015-10-30 13:18] alphaphee commented on #584
@cstruck It happens both when I am using the -fullscreen flag and when Dota 2 starts on windowed mode on its own. I will post my debug logs later this afternoon.

[2015-10-30 13:19] danginsburg commented on #540
I have taken a look at the crashdump you posted on the forum and unfortunately it does not seem to match up with the issue you show in gdb.  Some things that might help with this:

a) I am still rather unsure how to repro this bug so clear step-by-step instructions would help
b) If you catch it in gdb, if you could do a backtrace that would be helpful.
c) If you catch the bug again, please post an

[2015-10-30 13:25] danginsburg commented on #513
@Manko10 Is this still happening?  I never had any luck repro'ing the issue.

[2015-10-30 13:28] BirdInTheCity commented on #619
I'll see if it'll repro, and if so, I'll post the steps/logfile accordingly.

[2015-10-30 13:30] AphidGit commented on #540
I haven't had time to fire up the mod again since I posted this -- the mod authors may have fixed it, I will check later and try again with gdb too.

Here's some reproduction instructions in the meantime:

1) Download the custom game 'THD2' from the workshop.
2) Create a game lobby with password. Set cheats to 'ON'.
3) Join a game solo. Select 'Koishi Komeiji' as hero.
4) Use -lvlup 5 to get level

[2015-10-30 13:43] danginsburg commented on #540
Thanks for the good repro instructions, I see the problem now.  I will look into it.

[2015-10-30 14:36] Turmfalke2 commented on #518
hi @gdrewb-valve ,
I can confirm the bug is mostly fixed, the only thing that is a bit strange is that in the main menu I still get no response for issuing a wrong command, but when I am in a game I get the "unknown command" message.
No idea what expected behaviour for this is.

[2015-10-30 14:36] #518 closed, assigned to gdrewb-valve

[2015-10-30 14:40] Turmfalke2 opened #623 "[Linux] unable to report fellow players"
hi,
I just had a game in which unfortunately fellow player decided to ruin the game for us. To my surprise I found that both the report and commend function don't work. If I try to open the respective window from the context menu in the player or end screen it fails to do so.
There was no error message in the console.

[2015-10-30 14:50] Turmfalke2 commented on #66
@gdrewb-valve this isn't the case, even going into a new game (hero demo mode) won't fix it.

![dc_bug](https://cloud.githubusercontent.com/assets/5174562/10848763/bd88c7d2-7f1d-11e5-9b84-978e6250c1b2.png)

If it is fixed on windows, maybe this thread should be reopened?

[2015-10-30 15:39] gdrewb-valve commented on #66
If it's not working it wouldn't be specific to Linux.  I'll check with the larger team again.

[2015-10-30 15:41] gdrewb-valve commented on #518
It's expected that you won't get any message when there is no game active.  It's a little strange but in that case the commands have nowhere to go so they are simply ignored.  I believe that's the way it has been for a very long time and I don't think the larger team is considering changing it

[2015-10-30 15:46] Turmfalke2 commented on #623
update: apparently this is not always the case. After restarting due to the dc bug I was able to open the commend/report window. Maybe it is related to having played custom games prior to that?
I have noticed some information from custom maps like hero names persists until the game is restarted.

[2015-10-30 15:50] TadSV commented on #562
@danginsburg Yes, i found a temporal fix for this issue, after i start the game and i get into the menu with the 1/4 screen bug, if i press cmd+H to minimize the game in the dock and open it again, the resolution goes back to normal without problem.

I have updated my OS X to 10.11.1 and i still have the same bug (even with the new updates of Dota 2), maybe is an specific issue to my AMD M370X, be

[2015-10-30 16:21] danginsburg commented on #540
I have fixed this.  The fix will be in the next Dota 2 update.  It happened on OpenGL on all platforms.  The issue was that the ultimate was using RGBA16161616_SINT for the vertex blend indices and that had not been implemented correctly.

[2015-10-30 17:55] gdrewb-valve commented on #607
Good, I'm glad you have things working.  I've passed on your latest but I'm not sure there'll be much more from our side as this appears to be something going on below Reborn.  I'll hold this open for a bit.

[2015-10-30 17:56] gdrewb-valve commented on #623
I've passed this on to the larger team to see what they say.

[2015-10-30 18:22] Turmfalke2 commented on #623
I was unable to reproduce it, I hope it is not something that can be triggered by a player.

[2015-10-30 18:49] gdrewb-valve commented on #623
Nobody knew of anything specific.  If you see a consistent repro let us know, otherwise I'll close this waiting for a more clear sign.

[2015-10-30 21:44] gdrewb-valve commented on #427
Is this still happening?  I just tried it and they worked correctly.

[2015-10-30 21:46] gdrewb-valve commented on #388
If I understand correctly the problem is in Steam itself and not in Reborn?  Have you reported this on a Steam forum?

[2015-10-30 21:47] #104 closed, assigned to gdrewb-valve

[2015-10-30 21:47] gdrewb-valve commented on #104
Closing pending confirmation that this is a Reborn issue.

[2015-10-30 21:47] gdrewb-valve commented on #117
Closing pending confirmation that this is a Reborn issue.

[2015-10-30 21:47] #117 closed, assigned to gdrewb-valve

[2015-10-30 21:49] #579 closed, assigned to gdrewb-valve

[2015-10-30 22:00] gdrewb-valve commented on #610
Can you post specifically which courier you were using here so that it's in the log?  I haven't tried to figure out which one it was yet, but some quick tests with the standard courier were OK.

[2015-10-30 22:23] roman-holovin commented on #388
It's hard to say, since Dota is only game that causes this, but modifications of steam files attributes fixes a problem, so it probably a steam related problem, but I'm not 100% sure. I will try to reproduce on latest steam and Dota clients, there were a few updates to both. I will be back with results.

[2015-10-30 22:33] alphaphee commented on #584
That is the output of the command:

[code]

also got the following popup
![steam-error](https://cloud.githubusercontent.com/assets/4603691/10859536/00e21da0-7f67-11e5-8e2b-77ba5e9ad111.png)

[2015-10-30 22:36] gdrewb-valve commented on #584
@AlphaPhi you definitely have a different issue.  Your system is missing a dependency of Reborn, check out issues like #35 or #105.  Also the 304 drivers from NVIDIA are not going to work, you'll want a recent one like 352.

[2015-10-30 22:40] alphaphee commented on #584
@gdrewb-valve Okay I am really sorry for the confusion. I am grateful for the help. I will look into the issues #35 and #105.

[2015-10-31 00:04] mwic opened #624 "[Linux] Got a new video card to improve frame & video, didn't help"
My GeForce GT 610 (2GB) arrived today, and I hoped I could play dota now, but it doesn't seem to have improved.

The dashboard looks and runs okay, but the background is weird polygons similar to this:
https://i.imgur.com/RGGd0Rq.jpg
When I actually start a game, mouse keyboard response drops to zero, frame rate is basically zero, and the whole game looks like those polygons. It takes about 5 minu

[2015-10-31 02:07] Tele42 commented on #624
As noted on https://github.com/ValveSoftware/Dota-2, nvidia drivers 340 or newer is needed to run Dota 2. That aside, a GT 610 is the weakest of the 6xx lineup that is still a discrete card (and is also a rebranded GT 520).

In general any nVidia card which is lower than x40 is considered entry level or low end graphics and is not suitable for general gaming, but who knows ... your substantial vra

[2015-10-31 03:54] mwic commented on #624
Apologies, somehow I read "340" as "304" before posting. Anyway, I upgraded fedora and got nvidia driver 352, and now steam is segfaulting : https://github.com/ValveSoftware/steam-for-linux/issues/4099

[2015-10-31 04:12] jungelbobo opened #625 "[OSX 10.11] Custom Games: The lobby you specified no longer exists. *on certain maps*"
Basically same as this issue https://github.com/ValveSoftware/Dota-2/issues/27,
I was only able to join some of the lobby in custom map from the lobby list. The majority of other lobby, after clicking join lobby, shows me this message "The lobby you specified no longer exists".

[2015-10-31 05:33] gdrewb-valve commented on #624
We'll close this for now until you Steam gets updated and you can try again.  You might try opting into the Steam beta client if you haven't already.

[2015-10-31 05:33] #624 closed, assigned to gdrewb-valve

[2015-10-31 05:33] gdrewb-valve commented on #625
Likely not a Linux/Mac issue.

[2015-10-31 11:41] danginsburg commented on #540
Fixed in 10/30 update

[2015-10-31 11:41] #540 closed, assigned to danginsburg

[2015-10-31 12:38] Pharmasolin commented on #427
I still have this issue as in this video https://www.youtube.com/watch?v=-gH1H29hyw0
Carry and Nuker buttons dont work.

[2015-10-31 17:03] Figureantu opened #626 "Problem"
So i finished dwl the new update and the game crash..i mean i can open the game but if i press custom game the game autoclose and look at this image..
http://postimg.org/image/wn6636l4f/

[2015-10-31 18:20] gdrewb-valve commented on #626
The downloaded does not appear to be have worked fully, trying validating your local file cache in the Steam client.

[2015-10-31 18:20] gdrewb-valve commented on #626
Also if problems persist can you post your Steam system info?

[2015-10-31 19:20] phoerious commented on #611
I couldn't find an entry in the changelog, but the issue seems to be fixed.
However, I still have to restart Dota in order to re-download because after an error, the client refuses to show the download button again.
Generally, download errors occur quite often (approx. every 5-10. download fails). Maybe that's a bug, too?

[2015-10-31 19:25] phoerious commented on #513
Right now I can't reproduce it anymore. But I can reproduce another funny issue instead. When skipping back in 10s steps while the game is paused, the green selection rings around heroes stay on the map. So after several iterations the map is cluttered with green rings. It's not as easy to reproduce, though, because skipping back very often resumes playback for some reason, which redraws the map a

[2015-10-31 19:29] phoerious commented on #611
Additional information: downloads that are about to fail tend to take a very long time. When a download of a normal replay (non-tournament replay without audio contents) takes longer than 10-15 seconds, it will probably fail after 20-30 seconds.

[2015-10-31 20:58] Vuccappella commented on #610
normal courier is perfectly fine. The courier that caused this is the on in the replay on the dire side (the first courier and last spawned by the dire,) I don;t have the replay and I don't know the name of it so I can't really say exactly which one it is.

[2015-11-01 11:17] gluttonyGit commented on #546
I have this problem on my os x. I am unable to restore focus on desktop space using command+tab. But i can do this using cmd+H.
OS X 10.11.1
Intel HD Graphics 4000
Current on 1.11.2015

[2015-11-01 11:27] Figureantu commented on #626
I validated the cache and is working ty

[2015-11-01 11:27] #626 closed, assigned to gdrewb-valve

[2015-11-01 17:31] gdrewb-valve commented on #611
I passed this on.

[2015-11-01 17:33] gdrewb-valve commented on #610
We'll see if we can repro.

[2015-11-01 19:11] gear4s commented on #617
paste the output of this command in GitHub:

it allows us to see which process is locking the file (maybe Reborn, it's known for me that it doesn't close properly)

[2015-11-01 19:13] gear4s commented on #603
happens to me too, no lags or anything but dota becomes zombie after clicking _quit_.

[2015-11-01 21:12] sixpounder opened #627 "[Linux - Ubuntu 15.10] Extremely slow UI after client update"
After a client update (to be more specific: the one that brings the "green logo" on top left corner of the dashboard) my dashboard UI is extremely slow, when it worked like a charm the day before. Also the in game graphics are slowed down a bit.

[2015-11-01 21:36] gdrewb-valve commented on #627
Probably due more to the Halloween change than a Mac/Linux issue, I'll check with the larger team.

Can you post your system specs from Steam here?

[2015-11-02 00:09] divmgl commented on #627
Having the same issue as well.

I can confirm that it only happens on the main screen. No lag on other screens. No lag in-game as well.

[2015-11-02 03:00] gdrewb-valve commented on #627
What driver and version?  It's simplest if you just post the Steam system info.

[2015-11-02 03:22] divmgl commented on #627
[code]

[2015-11-02 11:49] Vuccappella commented on #616
This has always been the case in dota on mac, you can't bind cmd+something as it's not a modifier. You still have alt on your keyboard and could use that. You've probably recently switched from windows but it's just how the mac keyboard is layed out. You could swap the behaviour of alt and cmd on mac if you're interested but I haven't found a way to do that only in dota, it's going to be global. P

[2015-11-02 15:15] rained23 commented on #617
Verify integrity was made on fresh install of reborn, so I am not sure the file didn't exist or not before, and no, reborn isn't running during verify integrity. I already downloaded the 6.8 GB and I will need a better time to test back another verify cause I afraid its gonna redownload the 6.8 GB file again.

If anyone on Linux with fast internet might can help testing this , this is how to repro

[2015-11-02 19:02] danginsburg commented on #627
We have a fix for this.  It will be in the next Dota 2 update.

[2015-11-02 19:27] gdrewb-valve commented on #388
Closing pending info that this is a Reborn issue.

[2015-11-02 19:27] #388 closed, assigned to gdrewb-valve

[2015-11-02 19:31] gdrewb-valve commented on #427
Ah, it's the 5:4 layout that's broken.  This is broken on Windows also, I've sent this on to the larger team.

[2015-11-02 19:31] #427 closed, assigned to gdrewb-valve

[2015-11-02 19:35] gdrewb-valve commented on #607
The larger team doesn't have anything right now so closing.

[2015-11-02 19:35] #607 closed, assigned to gdrewb-valve

[2015-11-02 19:38] gdrewb-valve commented on #622
I believe the fix for this has been released, closing.

[2015-11-02 19:38] #622 closed, assigned to gdrewb-valve

[2015-11-02 19:38] #623 closed, assigned to gdrewb-valve

[2015-11-02 19:39] gdrewb-valve commented on #625
Confirmed that this is seen on Windows also, passing to the larger team.

[2015-11-02 19:39] #625 closed, assigned to gdrewb-valve

[2015-11-02 20:15] gear4s commented on #617
couldn't reproduce on my PC. also please read my comment above

[2015-11-02 20:18] danginsburg commented on #513
The issue with selection rings has been reported to the larger team.  This is not a Linux/Mac issue so closing it out here.

[2015-11-02 20:18] #513 closed, assigned to danginsburg

[2015-11-02 20:20] danginsburg commented on #573
I have tried everything I can think of to repro this, but no luck yet.  If anyone has any detailed repro instructions please post them.

[2015-11-02 20:53] sixpounder commented on #627
[code]

[2015-11-02 21:38] danginsburg commented on #627
Thanks.  The bug would be impacting pretty much all machines.  We had a regression that was causing constant creation/destruction of framebuffer objects at the main menu.  The degree this is a problem will probably mostly depend on how fast your CPU is.

[2015-11-02 22:08] Vuccappella opened #628 "Hero portrait does not display in last match played."
I'm reffering to the hero portrait in last match played on the homepage of your profile https://i.imgur.com/bcPifK3.png running mac os x.

[2015-11-03 00:57] gdrewb-valve commented on #628
Duplicate if #608.

[2015-11-03 00:57] #628 closed, assigned to nobody

[2015-11-03 02:31] Tele42 commented on #617
This has the same smell as some old, known filesystem-related quirks with steam. What filesystem is your home folder on?

[2015-11-03 02:55] divmgl commented on #627
@danginsburg thanks Dan for the update, looking forward to the fix

[2015-11-03 13:20] rained23 commented on #617
ext4

On Tue, Nov 3, 2015 at 10:31 AM, Tele42 notifications@github.com wrote:

[2015-11-03 16:00] Tele42 commented on #617
@rained23 is there any encryption involved?

[2015-11-03 17:26] engywook commented on #307
Hasn't really improved, I just started it now and it's at 70% accross all four cores.

After getting a game It's really weird though, if I change workspace the load is only 5% and I get disconnected if I don't change back. This is while running fullscreen.

[2015-11-03 17:33] nooscraft opened #629 "[Linux] Dota2 Reborn freezes after starting"
I'm having this issue since I moved to Xubuntu 15.10. The game starts but the whole system is freezing on the "waiting for players screen" or right after I change a menu from the game.

Is this because I'm having a Skylake processor? I read some places that kernel 4.3 has the best support for Skylake processors, but unfortunately my system's kernel is below 4.3

Here are my system information:-

[

[2015-11-03 20:33] gdrewb-valve commented on #307
70% is a pretty reasonable figure, that's about what we would expect.

[2015-11-03 20:35] gdrewb-valve commented on #629
Check #584 and see if fullscreen and windowed options change things.

[2015-11-04 00:02] daveh86 opened #630 "[LINUX] Push to talk causes short system freeze"
System is an up to date ArchLinux system with XFCE window manager.

Sound is managed through pulse audio.

Microphone in question is a Webcam Microphone from a Logitech C525.

When using PTT in Dota2, the client will hang when initially using the mic. Subsequent uses within the next minute will not cause a hang. Any use outside 1min from last use will cause a new hang.

Hangs are typically 1-2 sec

[2015-11-04 00:13] gdrewb-valve commented on #630
Reborn uses SDL for audio and so does nothing directly with audio devices itself.  I'll check with the SDL devs.

[2015-11-04 00:41] rained23 commented on #617
Yes, my home folder is encrypted.

But I think Steam will have the decrypted version of my file.

Unless steam doing informal way of it.

On Wed, Nov 4, 2015 at 12:01 AM, Tele42 notifications@github.com wrote:

[2015-11-04 01:02] danginsburg commented on #627
Fixed in Nov. 3rd update.

[2015-11-04 01:02] #627 closed, assigned to danginsburg

[2015-11-04 01:04] gdrewb-valve commented on #630
This apparently may be a Steam interaction.  If you set the "Streamlined push to talk" option in the audio options page does that help?

[2015-11-04 01:15] daveh86 commented on #630
Yep. That seems to have done the trick. Tested in a local lobby, will hang without option set; no hangs without.

Thanks!

[2015-11-04 01:15] #630 closed, assigned to gdrewb-valve

[2015-11-04 01:19] Tele42 commented on #617
That makes this issue report a duplicate of https://github.com/ValveSoftware/steam-for-linux/issues/2515.

[2015-11-04 01:22] gdrewb-valve commented on #617
Thanks for the pointer, closing.

[2015-11-04 01:22] #617 closed, assigned to gdrewb-valve

[2015-11-04 03:47] nooscraft commented on #629
@gdrewb-valve This happened both full screen and windowed mode. Anyhow I updated my BIOS (https://github.com/ValveSoftware/Dota-2/issues/515#issuecomment-150057492) and since then it didn't crash/freeze at the menu.

But I still haven't tested the actual game play. I will update this issue when I test it.

[2015-11-04 09:42] sixpounder commented on #627
@danginsburg thanks!

[2015-11-04 10:40] baneofblabs opened #631 "[Linux] Cannot watch game: "DOTAWatchTournamentWatch is not defined""
If I click on "Watch" for a tournament game, this error appears in the console and I don't get to watch the game. This only happens when I try to watch a game in a best-of-one series; in bo3 or bo5, clicking "Game 1", "Game 2" etc. in the dropdown "Watch" menu works fine. The error in the console is:

[code]

Steps to reproduce problem:
1. Go to "Watch" tab, and "Tournaments" sub-tab.
2. Find a si

[2015-11-04 12:30] gluttonyGit opened #632 "[OSX] Command+Tab doesn't work"
I am unable to restore focus on desktop space using command+tab. But i can do this using cmd+H.
OS X 10.11.1
Intel HD Graphics 4000
Current on 4.11.2015

[2015-11-04 16:06] gdrewb-valve commented on #631
Likely not Mac/Linux specific, checking with the larger team.

[2015-11-04 16:09] gdrewb-valve commented on #632
Duplicate of #546, possibly still active?

[2015-11-04 16:50] gdrewb-valve commented on #631
The larger team was aware and apparently a fix is in the works.  Closing as this won't be tracked here.

[2015-11-04 16:50] #631 closed, assigned to gdrewb-valve

[2015-11-04 16:53] Tele42 commented on #632
@gdrewb-valve, my understanding was that this is the correct behavior. If an issue report is closed and there is no response on the existing issue report, then open a new one.

[2015-11-04 16:58] gdrewb-valve commented on #632
Command+Tab doesn't work with exclusive fullscreen by design, but with desktop-friendly fullscreen it should work.  #546 fixed a problem with SDL that was preventing things from working properly so if there are still users with issues it might need to be reopened.

[2015-11-04 17:08] Tele42 commented on #632
Sorry for the ambiguous reference, I was referring to the user's behavior, not the game's behavior.

[2015-11-04 17:30] nooscraft commented on #629
Played couple of games without a single issue. Graphics and the performance seems to be all good, not even a single glitch. I think the BIOS update did the trick. It's safe to close this issue now.

Thanks.

[2015-11-04 17:34] danginsburg commented on #632
@gluttonyGit Can you clarify what mode you are in?  Is it Desktop Friendly Fullscreen or Exclusive Fullscreen?  It will not work in Exclusive Fullscreen by design.

[2015-11-04 17:51] gluttonyGit commented on #632
@danginsburg,  I used Exclusive Fullscreen. Sorry for invalid ticket.

[2015-11-04 17:54] danginsburg commented on #632
No problem, closing.

[2015-11-04 17:54] #632 closed, assigned to danginsburg

[2015-11-04 18:40] gdrewb-valve commented on #629
Thanks, closing.

[2015-11-04 18:40] #629 closed, assigned to gdrewb-valve

[2015-11-04 19:59] snoazll commented on #117
How about using MESA_GL_VERSION_OVERRIDE=3.3 while launching dota.sh? (or from launch options on steam) - I know it won't implement every single extension to run the game but just to be clear, is there no workaround for older/unsupported hardware/drivers?

[2015-11-04 20:08] gdrewb-valve commented on #117
If this is an instance of #3506 it isn't related to the GL version.

Overall Reborn does require hardware from roughly 2007 or newer.  On Linux it definitely requires newer drivers as the old ones simply don't work.

[2015-11-04 21:09] snoazll commented on #117
I understand. Thanks for your fast response, I really appreciate it.

Been trying to find a workaround to launch Dota 2 Reborn on a G45 Chipset with GL 2.1 limitation. - Seems impossible at this time. Really don't want to go back to Windows once in a while to play a game. =/

Thanks again!

[2015-11-04 21:30] engywook commented on #307
On four cores while not playing? Sounds like a lot to me. "Unfortunately" dota works pretty well so I haven't booted Windows in a few weeks. =)
I don't know what I would get there. Doesn't really matter though,  I mostly have 100+fps while playing so cheers porting it to Linux.

What about the workspace switching, should I make an issue for it disconnecting or are you unlikely to look at it since

[2015-11-05 11:29] engywook commented on #307
I guess I used across poorly, sorry. Each core has 70% load.

[2015-11-05 18:19] gdrewb-valve commented on #307
How are you getting the load numbers, are you looking at top output or something else?

For the workspace switching have you looked at issue #360?  I would guess it's the same underlying problem.  If no go ahead and open a separate issue.

[2015-11-05 18:43] dietrmat opened #633 "[Linux] RadeonSi / Mesa - Water rendering broken"
Dear Devs,
since begin of november an update broke the water rendering on Mesa 11.0.4 and RadeonSi. Below are my system specs. Feel free to contact me if you need further information:

Prozessor:
    Hersteller: GenuineIntel
    CPU-Familie: 0x6
    CPU-Modell: 0x3c
    CPU-Stepping: 0x3
    CPU-Typ: 0x0
    Geschwindigkeit: 3600 MHz
    4 logische Prozessoren
    4 technische Prozessoren
    Hype

[2015-11-05 21:27] engywook commented on #307
Yeah, I used htop.

#360 looks like my issue yeah, hadn't bothered to look at other issues yet. SDL fullscreen sounds about right. I used to play in borderless window(#555) but now I need to play fullscreen so I hadn't noticed this before.

[2015-11-05 21:40] kolobos commented on #633
I don't have that issue on Mesa 11.1.0-devel Git master version (haven't tried Mesa 11.0.4 in November) on AMD Bonaire card, 4.3.0 kernel.

[2015-11-05 22:54] gdrewb-valve commented on #307
Your numbers seem pretty high.  I just ran on my Linux system and the total CPU usage of Reborn across all threads was 103% (the new Haunted Colosseum theme seems to be taking a bit more than before).  The main menu is definitely expected to be using resources as it has a lot of animation, movies playing, web data retrieval and so on.  Yours seem out of line but short of building a duplicate of yo

[2015-11-06 21:21] FeatheredSerpent opened #634 "Wrong cursor"
After I accept a match and the loading screen disappears, if I click in the chatbox in the lower left corner of the screen the cursor changes (vertical line with a horizontal line at top and bottom) but stays like that during the pick-screen and the actual game. Going to the main menu and back fixes the cursor.

[code]

[2015-11-06 21:38] FeatheredSerpent opened #635 "+-buttons bug"
The green +-buttons in the contact list sometimes don't work (nothing happens if I click them). Hovering the mouse over a button, the tooltip says "Suggest invite to party", eventho I'm not in a party (anymore?). Inviting a person via "right click -> invite to party" works fine and does fix the broken +-buttons and the tooltip.

I don't know how to reproduce the bug, but it happens quite frequentl

[2015-11-06 21:45] gdrewb-valve commented on #634
Not a Linux-specific issue, I've passed it on to the larger team.

[2015-11-06 21:47] gdrewb-valve commented on #635
I've passed this on to the larger team.

[2015-11-06 21:56] FeatheredSerpent opened #636 "Enemy aura shown as allied aura."
If there is a Crystal Maiden in the enemy team I sometimes (less than 1% of the cases) see her Arcane Aura in my "aura list" as an allied aura. As far as I can tell the aura did not actually "work".

This bug also existed in Source 1 Dota 2.

[code]

[2015-11-06 22:32] gdrewb-valve commented on #636
Passed on to the larger team.

[2015-11-06 22:32] #636 closed, assigned to gdrewb-valve

[2015-11-07 05:00] vonclutch commented on #603
Hey,

Seems to be fix in the last update.

[2015-11-07 06:01] strattonbrazil commented on #420
This seems resolved so I'm closing it.  I see a white screen for a moment when the game starts, but otherwise the sound and video run great.

[2015-11-07 06:01] #420 closed, assigned to davidw-valve

[2015-11-07 06:03] gdrewb-valve commented on #603
Thanks for the update.  Is anybody else still seeing problems?

[2015-11-07 11:52] engywook commented on #360
I have this too, posting to get a notification when/if it is fixed.

[2015-11-08 12:18] caloyski34 opened #637 "No teleport and blink effects on my compendium"
I bought level 25 compendium last month but still there is no teleport/blink effects included to my compendium. i hope you can help me with this.

[2015-11-08 18:19] gdrewb-valve commented on #637
Probably not a Mac/Linux issue.  Can you post your system specs from Steam?

[2015-11-09 13:03] vonclutch commented on #603
Hey in fact no, the problem is still here after 6 games.

[2015-11-09 17:17] Eignar17 commented on #603
@gdrewb-valve  is problem logo loading is slow dota 2 rebon and freeze

[2015-11-09 17:41] gdrewb-valve commented on #603
OK, this will stay open.

[2015-11-09 21:12] #634 closed, assigned to gdrewb-valve

[2015-11-09 21:12] #635 closed, assigned to gdrewb-valve

[2015-11-09 21:12] #637 closed, assigned to gdrewb-valve

[2015-11-09 21:13] danginsburg commented on #633
@dietrmat Are you able to test with mesa 11.1.0-devel git to confirm this issue has been fixed?  If not, we should file a bug with the mesa radeonsi devs.

[2015-11-09 22:00] danginsburg commented on #633
Actually, this looks like an application bug when -gl_force_sm30 is turned on (which I'm guessing it is for your GPU because you have only 16 samplers).  I'm looking into it.

[2015-11-10 00:14] Tele42 commented on #637
So there isn't confusion, this issue tracker is explicitly designated for issues with the mac and linux client of Dota 2. Issues that do not fit this criteria need to be addressed by the other existing communication methods (steam support and forums).

[2015-11-10 14:34] danginsburg commented on #633
I have checked in a fix for this.  The fix will be in the next Dota 2 update.

[2015-11-10 15:59] kpatient opened #638 "[Linux] Keyboard input bug"
### Behavior

When I press "1" on keyboard (not numpad) the chat box opens automatically with a 1 char inserted.
If I press 1 again, it will send the message to chat.
This repeats if I keep pressing 1, but each time with more 1's in the chat box.
(This behavior happens in game and in main menu with chat channels)

When this is happening I'm unable to use keyboard to activate any spells and invento

[2015-11-10 17:48] gdrewb-valve commented on #638
Looks the same as #453?  Down in the comments there's another user that has the '1' key interpreted as Enter.

Please also post here what system language or languages you're using and whether you're switching between languages or keyboard layouts.

[2015-11-11 07:19] Niandu commented on #603
I have the same problem, it's very annoying

[code]

[2015-11-11 11:47] kpatient commented on #638
Yes you're right. I can now recreate this behavior if I launch Dota with `at, German (Austrian)` as keyboard layout.

However If I launch with `gb, English (UK)` it works as normal, and I'm able to switch between layouts without this '1' bug appearing.

Note: "1" acts like enter but each time it pastes more 1's into the search box. So if you were to repeatidly press one it would look like this:
![

[2015-11-11 14:16] TadSV commented on #562
Reinstalled OS X El Capitan 10.11.1 and i still have the same bug. This problem seems specific to my model.

[2015-11-11 21:37] gdrewb-valve commented on #638
Thanks, closing in favor of previous issue.

[2015-11-11 21:37] #638 closed, assigned to gdrewb-valve

[2015-11-11 22:42] NekR commented on #602
@gxgani do you use Exclusive Fullscreen? I do not see any overlays in that mode, but it's expected in other, I think.

[2015-11-11 23:08] NekR commented on #616
I have had the same problem and solved it with Karabiner software for the OS X (please do not treat it as an Ad).

It has a lot of predefined bindings, but also allow to define your own. So it becomes super easy to fake Command as a Alt (Option).

Here is my config for Macbook (**please do not copy past it unless you know how it works**):

[code]

Works perfectly for me, but I user Exclusive Fulls

[2015-11-12 02:20] gxgani commented on #602
@NekR Yes, I do use desktop friendly fullscreen. As stated in the issue, this was not occurring in the previous patch.

[2015-11-12 02:23] gxgani commented on #591
Just an update on the micro freezes when switching from game to menu, they seem to been extended to almost-a-second freeze.

[2015-11-12 03:32] martenson opened #639 "[OSX] display does not update after actions"
Hello guys,

Since 3 days ago I experience this behavior that prevents me from playing.

After starting the client I hear sound that I have entered the homepage but I do not see it. I am stuck at the loading logo instead. If I cmd-tab out and in again the view will update and I see the menus and everything. However whatever I click on I hear the sound of the action but do not see the effect of it

[2015-11-12 10:48] NekR opened #640 "[OSX] FPS drops when staying at fountain"
OS X El Capitan, Macbook Mid 2015, model MJLQ2LL/A

VSync is turned on. All the game is 59-60 fps, but when I am staying at a fountain it drops to 30 fps, when I leave it, fps is back again to 60. Noticed this on Radiant side, not sure about Dire yet.

[2015-11-12 15:23] gselsidi commented on #616
@NekR

And the program above applies these settings only in DOTA not system wide correct?

Thanks

[2015-11-12 16:01] NekR commented on #616
Not program directly, but program has ability to do it. My config applied those settings only for Dota 2 because I use `<only>DOTA</only>` and `DOTA` constant is defined a bit above:

[code]

How to:
1. Install Karabiner and launch
2. Finder -> Go to -> "~/Library/Application Support/Karabiner/"
3. Open `private.xml` in any editor and paste there config from https://github.com/ValveSoftware/Dota-2

[2015-11-12 18:30] gdrewb-valve commented on #640
I believe this is already reported in an existing issue, but only in comments.

[2015-11-13 01:42] gselsidi commented on #616
@NekR Got it thanks for the help, can finally enjoy dota again haha, would hurt my finger playng with Option as a binding haha.

[2015-11-13 07:24] NekR commented on #616
You can close the window, but app still will be active in background
(square icon in top bar). Keys mapping works only when app is active. To
completely quit Karabiner, click on that icon and then "Quit Karabiner".

It's fine to have it active all the time since mapping is enabled only for
Dota 2.
On Nov 13, 2015 3:48 AM, "gselsidi" notifications@github.com wrote:

[2015-11-13 12:49] danginsburg commented on #633
This should be fixed in the Nov. 12th Dota 2 Update.  Please post here if you still see the bug.  I did not test the fix on radeonsi, but I saw the bug on several other drivers using -gl_force_sm30 so hopefully it should fix it there.

[2015-11-13 12:49] #633 closed, assigned to danginsburg

[2015-11-13 12:53] danginsburg commented on #640
Assuming you have the Intel Iris Pro GPU, this is a duplicate of #538.  We are aware of performance issues on Intel 5000/6100/Iris/Iris Pro on OSX.  We have a Radar filed with Apple which was opened on September 24, 2015.

[2015-11-13 12:54] #640 closed, assigned to danginsburg

[2015-11-13 15:44] NekR commented on #640
@danginsburg I understand, thanks for the info!

Btw, performance of my Macbook is great, it's 60fps with VSync and 120fps without it. I didn't saw any performance issue except of fountain problem, but if you say that it's general probably with Intel cards on Mac then okay.

[2015-11-13 16:11] danginsburg commented on #639
I tried running this on a very similar Macbook Air 6,2 and have not been able to reproduce the problem (specs below).  The main differences seem to be that I have less RAM (4GB vs 8GB) and you are running at a higher resolution (1920x1080 whereas I am at 1440x900).  Does it help if you go to Desktop Friendly 1440x900?  I'm not sure what could be going on since I can't reproduce it.

Processor Info

[2015-11-13 20:38] gdrewb-valve commented on #488
The November 13 update might help with this, do you see any change in behavior?

[2015-11-13 20:38] gdrewb-valve commented on #65
The November 13 update might help with this, do you see any change in behavior?

[2015-11-14 08:20] budimanjojo opened #641 "The newly added netgraph option"
According to the latest update news, there's a new netgraph option. So I tried:
1. Added -vconsole to the launch options.
2. Typed in "consoletool netgraph 1" in the console
3. Nothing happens, no error no nothing.

[2015-11-14 09:18] planktonzp commented on #488
It is very nice, thx, for the working of your team,really

[2015-11-14 09:23] planktonzp commented on #488
maybe it is the last problem of Dota2 —— the Chinese input ,most linux's players in china are using fcitx to input ,and if you have time , please fix this

[2015-11-14 12:37] engywook commented on #360
I am watching the Frankfurt Majors in the client and can switch workspace without getting disconnected while watching. I guess the data is just broadcast and not much is sent from the  client watching but still.

[2015-11-14 13:08] jonglae commented on #488
GOOD JOB
This really Good

im very happy

2015-11-14 18:23 GMT+09:00 沐玛 notifications@github.com:

[2015-11-14 22:55] chrylis commented on #360
@engywook You won't get "disconnected" because you're only spectating. The client engine will pause, and you'll (1) get the music (2) but no event sounds (3) and notice a big jump when you switch back and it teleports everyone.

[2015-11-14 23:12] Tele42 commented on #488
@gdrewb-valve, thanks for addressing this issue which had been present since Dota 2 came to linux.

[2015-11-15 05:21] gdrewb-valve commented on #641
The netgraph will appear in vconsole2, which is a separate executable.  It's Windows-only, so you'd need to run vconsole2 on a Windows machine and connect to your Linux machine running the console server.

[2015-11-15 05:24] gdrewb-valve commented on #488
Thanks all, closing.

[2015-11-15 09:04] ghost commented on #538
something went even more south with the "[Frankfurt Major is now LIve](http://store.steampowered.com/news/19296/)" update on Nov. 12th – overall FPS went from 50-60 to 30-40, plus FPS drops down to 5-10 for every single spell with AOE effect. Had _never_ happened before.

(Related?) for windows there is `-nod3d9ex` and `-dx11`, but how do i turn that improved alt-tabbing off on a mac?

[2015-11-15 10:00] m-rap opened #642 "crash in main menu"
Hi, I was playing Dota 2 using my laptop and it always crashed in main menu. My OS is Archlinux and Windows 10, but it only happens when I run it using Nvidia GT 630m graphics card in both OS. It runs well if I use the onboard graphics card, Intel HD4000. here's my laptop spec:
Dell Inspiron 14R 5420
- Processor: Intel Core i5-3210M 2.5GHz
- Video card:
  - Nvidia GT 630M 1GB DDR3, driver ver 355.

[2015-11-15 12:52] biji commented on #550
After few updates..
I don't have this issue anymore

[2015-11-15 16:32] jshholland commented on #405
I'm having a similar issue.

[code]

`console.log` file:

[code]

[2015-11-15 16:34] jshholland commented on #405
Screenshot of the stuck screen. Note that parts of the UI are visible, but I can't interact or anything.
![2015-11-15-163322_1914x1074_scrot](https://cloud.githubusercontent.com/assets/107689/11169684/a551eedc-8bb6-11e5-849c-b59d7c1e4be8.png)

[2015-11-15 18:29] gdrewb-valve commented on #642
Looks like a possible video driver issue.  The same thing happens on Windows 10 also?  Are you forcing OpenGL mode on Windows 10?

[2015-11-15 18:37] gdrewb-valve commented on #550
OK, closing.

[2015-11-15 18:37] #550 closed, assigned to nobody

[2015-11-15 20:27] gselsidi opened #643 "Server should poll for x amount of minutes, and every player before poor network conditions error is thrown."
I don't know how poor network conditions currently works, but it doesn't seem it's reliable or make any real sense. I've had games where every single person is lagging and poor network conditions aren't detected.

And I just recently had a game, where 2 people dropped and poor network conditions was thrown, meanwhile nobody was lagging.

Can't see how complicated it would be to record ping, packet

[2015-11-16 01:29] m-rap commented on #642
Yes, it also happens in Windows 10. I didn't use the OpenGL mode in Windows. When I run it in Windows, message "Display driver stopped responding and has recovered.." appeared.

[2015-11-16 07:22] budimanjojo commented on #641
Is it gonna come to Linux?

[2015-11-16 11:26] phoerious opened #644 "Frankfurt Major Live Stream can't go fullscreen"
The new in-game live stream can't be made fullscreen. Clicking the fullscreen button only crops a few pixels around the borders, but the video does not go fullscreen.

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3c
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  4400 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Suppor

[2015-11-16 11:32] presianbg opened #645 "[Linux] Missing characters in console / ugly font"
Hi,

This is how my console looks like:
![screenshot from 2015-11-16 13-27-14](https://cloud.githubusercontent.com/assets/2163486/11180797/3344fa2c-8c66-11e5-8e88-18fa618276ee.png)

My specs:

[code]

I'm on Fedora 22 with Optimus technology enabled + Mesa 11 git and latest nvidia-352.

Should be some kind of font related issue but can't track it down.

Best Regards,
presianbg

[2015-11-16 13:48] danginsburg commented on #642
The console log from Linux indicates a GPU hang (we are spinning waiting for a event query to respond and it never does).  That it happens on Windows 10 as well under DX9 (presumably) is curious.  It points to it not being a Linux/Mac issue but something either specific to your hardware or system config.

[2015-11-16 14:38] Tele42 commented on #645
Per #120, is ttf-mscorefonts installed on your system?

[2015-11-16 15:39] presianbg commented on #645
Sorry for the duplicated issue.

[2015-11-16 16:53] phoerious commented on #644
The "Watch in Browser" button is also not opening the browser.

[2015-11-16 20:54] gdrewb-valve commented on #643
This tracker is for Mac and Linux specific bugs so I'm closing this but I've passed your feedback on to the larger team.

[2015-11-16 20:54] #643 closed, assigned to nobody

[2015-11-16 20:55] engywook commented on #360
@chrylis I still heard the casters though. I don't recall if I heard event sounds.

[2015-11-16 21:11] gdrewb-valve commented on #65
Closing pending confirmation that this is still active.

[2015-11-16 21:11] #65 closed, assigned to gdrewb-valve

[2015-11-16 22:22] gdrewb-valve commented on #644
The client is just going to do an xdg-open on a URL to show something in browser, is that available and working on your system?

[2015-11-16 22:50] gdrewb-valve commented on #641
vconsole2 isn't going to come to Linux any time soon.  I'll ask the larger team about whether they can keep the old option for Linux.

[2015-11-16 23:17] budimanjojo commented on #641
Ok, at least we can get the old netgraph back

[2015-11-16 23:26] phoerious commented on #644
Yes, it is. It should open google-chrome.

[2015-11-17 03:23] gdrewb-valve commented on #644
I'm not sure what's going on, then, this'll need more investigation.

[2015-11-17 07:01] chrylis commented on #360
@engywook Interesting, and I wonder if there's a multicast setup involved. Regular voice chat cuts out.

[2015-11-17 13:58] Tele42 commented on #644
Last I heard, steam does not change (back) env variables before calling xdg-open, so if system-installed chrome can not run with libraries from the steam runtime, then it will fail.

[2015-11-17 15:18] phoerious commented on #644
Steam is 32-bit, isn't it? My Chrome is 64-bit.

[2015-11-17 15:22] phoerious commented on #644
Yip, that might be the issue. .xsession-errors reports:

[code]

That explains why the browser doesn't open, but it does not explain why fullscreen isn't working (no errors reported here).

[2015-11-17 19:01] gdrewb-valve commented on #641
Exactly what information would you like to see?  The larger team feels that the existing HUD element shows the most common data.  They'd prefer to add more simple info there if that satisfies the need.

[2015-11-17 20:13] icarus-schleg opened #646 "[OS X El Capitan] 30 FPS on OS X, but 60 FPS on Windows 10 with the same configuration"
Hello there. I have Bootcamp installed on my iMac (late 2013) and I see that on Windows I have 60 fps, but when i boot from OS X, I get 30 fps. Is this only for me? Need more feedback.

Configuration:
GeForce GTX 780M 4096MB
Core i7 3.5 GHz
32 GB RAM

[2015-11-17 20:15] gdrewb-valve commented on #644
I'll fix the Steam runtime conflict.  Exactly which fullscreen button are you using?  The box-and-arrow button next to the "Watch in-game" button on the main menu launches a browser on my Windows box.  If you go in-game first then fullscreen would be done from video settings like usual.

[2015-11-17 20:16] gdrewb-valve commented on #646
There are known perf problems in OpenGL on OSX that we are working on with Apple, you are probably running into some of those.

[2015-11-17 20:55] danginsburg commented on #646
Does the NVIDIA web driver improve anything for you: http://www.nvidia.com/download/driverResults.aspx/92173/en-us ?  If not, can you please provide the following details: Steam -> Help -> System Information, your in-game video settings, and what resolution you are running on.  Also it sounds like you maybe have vsync on, can you see if it runs any better with vsync off or in exclusive fullscreen

[2015-11-17 21:15] phoerious commented on #644
The one that's in the lower right corner of the video. Right next to the quality setting.

[2015-11-17 23:19] budimanjojo commented on #641
The think I miss about the old netgraph is that I can change the location to wherever I want. Maybe they can provide that? Maybe a smaller and transparancy options will be nice. Because the new one is too big and when I'm playing 10vs10 map the rightmost player icons are blocked.

[2015-11-17 23:24] gdrewb-valve commented on #644
I assume from the name this only happens with the Frankfurt major where it shows in-line on the main menu?  If you go to Watch -> Live and pick a game there you get different options, correct?

[2015-11-17 23:36] nemoo2 opened #647 "Server timed out while viewing or playing in game"
I'm on openSuse 13.2, and I noticed an issue that just started recently, after update to Version 1,170. After doing some debugging myself, I'm convinced it is a client issue.

It seems that when some packets are dropped (high latency?) due to my connection, the game cannot recover and continues to Auto-disconnect after 30 seconds of inactivity. I had a parallel terminal where I pinged the server b

[2015-11-18 03:45] nellh opened #648 "Cosmetic item styles don't display in demo mode."
If I load into demo mode, no particles on the Axe cape:
![Demo mode](http://images.akamai.steamusercontent.com/ugc/583575429755470743/3B52CB244A3289FFD93DD3C3F6F918569528BF02/)

I do have the effect unlocked.

If I load into a single player bot game I get particles:
![Bot game](http://images.akamai.steamusercontent.com/ugc/583575429755471422/EDCABF53BE4993D4099D0C04211082D83D15778F/)

[System info

[2015-11-18 11:48] phoerious commented on #644
Yes, I mean the one on the main page.
When I go to Watch->Live, then I only have the option, to watch in-game, not via "video" live stream. There is a second button that says "Fullscreen" but that one is grayed out (in fact, it has always been since the watch feature was introduced to Reborn, never understood what it was supposed to do).

[2015-11-18 14:45] justSQL commented on #644
Can confirm, on Windows 10. The Frankfurt livestream on main page doesn't go fullscreen if i click on the fullscreen button on the lower right corner, next to the quality options.

Whenever clicking on the fullscreen button it almost like freezes for a little while, and after that the fullscreen-button moves a bit and looks like fullscreen is selected (At least that's what i assume it means). I to

[2015-11-18 14:48] justSQL commented on #641
I think what you'd mostly want the netgraph for is the more advanced data it provides, as stated by fletcher here http://dev.dota2.com/showthread.php?t=184807

"Finally, there is the full netgraph tool, accessible through the Source2 vconsole tool. This tool previously displayed the command latency only, the same as the in-game HUD. Now, it breaks down the sources of latency into "peer" "net", and

[2015-11-18 15:42] jonglae commented on #644
oh my god
this is very curious

2015-11-18 23:45 GMT+09:00 justSQL notifications@github.com:

[2015-11-18 17:07] phoerious commented on #644
@justSQL Looks like it's not a Linux-only issue then. I also notice that the video pane loses a few pixels of padding when attempting to go fullscreen. To me that looks pretty much like the fullscreen option just maximizes the video pane size to the size of the parent frame element instead of the whole screen.

[2015-11-18 18:11] gdrewb-valve commented on #647
The game works correctly and you can play normally up to this point, or does it never start?  Are you in the middle of playing when it happens or did you do something like switch out of the client when it occurs?

[2015-11-18 18:13] gdrewb-valve commented on #648
Probably not Linux-specific.

[2015-11-18 18:14] gdrewb-valve commented on #644
I've passed this on to the larger team.  Once the Linux-specific open-in-browser issue update goes out I'll close this.

[2015-11-18 18:16] gdrewb-valve commented on #647
Also set your launch options to this:

-profile 1 -condebug +net_maxroutable 576 +net_showsplits 1 +net_showudp 1

And post a gist of the "console.log" file the Reborn folder.

[2015-11-18 18:22] gdrewb-valve commented on #648
The larger team mentioned that you need to select the style in the loadout screen in order to see it on your hero in demo mode.  If you try that does it work?

[2015-11-18 18:23] gdrewb-valve commented on #647
Another thing to try in your other terminal is "traceroute --mtu |ipaddress|" to see how the routing is working.

[2015-11-18 18:28] nellh commented on #648
@gdrewb-valve I do have the style selected in both modes despite what it looks like in the first screenshot. It is displayed incorrectly in demo mode, both for the actual effect and the UI showing equipped items. A real matchmaking or bot game, the selected style works as expected.

[2015-11-18 19:44] nemoo2 commented on #647
The game works correctly and I can play normally upto that point.

I will collect the log traces and post them this evening.

Interesting point about the traceroute. I don't see how the route itself would affect the client but not the ping, but I'll let you know this as well in the evening.

[2015-11-18 19:50] gdrewb-valve commented on #647
The traceroute is to check the supported MTU size on the route.  Reborn assumes a particular MTU size and if the route doesn't support it you'll get packet splitting and problems.  The +net_maxroutable controls this and sets it lower so if that makes things work that's another suggestion that it's an MTU size issue.

[2015-11-18 20:25] gdrewb-valve commented on #641
I've passed this on to the larger team.

[2015-11-18 20:33] gdrewb-valve commented on #648
Do you have the item equipped?  Apparently if you equip it you'll get style 1in this case, which is why the game is showing that you have style 1 selected.  Can you list the exact steps you're doing for the demo starting from selecting Axe?

[2015-11-18 20:46] Tele42 commented on #644
The xdg-open issue is also being tracked at https://github.com/ValveSoftware/steam-for-linux/issues/3985.

[2015-11-19 02:24] nemoo2 commented on #647
I did not get DCed today. Either something was fixed server side, or my internet was good today. Will keep trying and post logs whenever the issue recurs. You can suspend/freeze the issue till I get the logs.

[2015-11-19 02:58] TheBatman opened #649 "Weird in-game UI after lag/fps drop in Linux."
In the middle of a game i get some weird FPS drop or lag?  and after the Drop or lag the UI gets weird.
srry for the bad english :(.

PC specs:
Processor: AMD A8-6410 APU with AMD Radeon R5 graphics x4
RAM: 8GB DDR3
Graphics: AMD Radeon R5 1GB of Vram
![2015-11-17_00001](https://cloud.githubusercontent.com/assets/13712357/11261111/18002eda-8e37-11e5-8864-ed162840015c.jpg)

thats a pic of the probl

[2015-11-19 03:53] gdrewb-valve commented on #647
OK, I'll close for now and we can reopen later.

[2015-11-19 03:53] #647 closed, assigned to gdrewb-valve

[2015-11-19 10:57] jonglae commented on #488
http://images.akamai.steamusercontent.com/ugc/642122953497624989/7F9EF0C8B0409B3B2DF86BC420FC163391DC8BAB/

Today im test korean dota2 clients
This trouble is not solved
2015. 11. 15. 오후 2:24에 "Drew Bliss" notifications@github.com님이 작성:

[2015-11-19 13:29] danginsburg commented on #649
Can you please post your full system specs from Steam -> Help -> System Information.

[2015-11-19 16:34] TheBatman commented on #649
@danginsburg  Here
Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x16
    CPU Model:  0x30
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2000 Mhz
    4 logical processors
    4 physical processors
    HyperThreading:  Unsupported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Supported
    SSE41:  Supported
    SSE42:

[2015-11-19 16:52] danginsburg commented on #649
OK, your driver (Catalyst 15.3) has known issues and is below the recommended driver.  Please update to latest Catalyst 15.9 driver for Linux: http://support.amd.com/en-us/download/desktop?os=Linux%20x86_64

[2015-11-19 18:27] TheBatman commented on #649
I updated to the lastest AMD Catalyst 15.9 driver do you want me to post the System info?.

[2015-11-19 19:48] gdrewb-valve commented on #488
I'll reopen and anybody still seeing problems should comment here and post their system information from Steam.  Everything works properly on my system so it'll be difficult to make progress on this until we can guess what might be going on.

[2015-11-19 19:49] danginsburg commented on #649
Did it fix the corruption?

[2015-11-19 19:55] TheBatman commented on #649
Yeah there's no more UI corruption, i tested TF2 and DoD:Source  the console spams this:
"IDirect3DQuery9::GetData(): Occlusion query flush took 9.544ms!" the numbers change.

[2015-11-19 19:58] danginsburg commented on #649
Thanks for the update, closing. You can file TF2 bugs here: https://github.com/ValveSoftware/Source-1-Games/issues

[2015-11-19 19:58] #649 closed, assigned to danginsburg

[2015-11-19 20:00] TheBatman commented on #649
Thank you! :D

[2015-11-19 20:04] gdrewb-valve commented on #641
The larger team is going to look at having the HUD element fit better into the HUD overall but that'll probably be part of a long-term HUD overhaul.  They weren't as keen on adding more information to the HUD element since it's supposed to be simple and provide just the most useful information so I'm not sure that's going to change.  If you really need the new info for now you'll have to have a Wi

[2015-11-19 20:04] #641 closed, assigned to gdrewb-valve

[2015-11-19 21:51] Turmfalke2 opened #650 "strange disconnect/reconnect bug"
hi,
Since the last patch I am having a strange issue with get disconnected from the server.
In this instance the following happened:
I found a single queue game, one of the players in the other team had issues loading so as the timer hit 40 seconds I switched to my web browser for a moment and back again (in less than a second). It then showed in the top right corner the disconnecting in x message

[2015-11-19 22:19] nellh commented on #648
@gdrewb-valve Here's a video of exactly what I'm doing. https://www.youtube.com/watch?v=7p42-5k2EIY

[2015-11-19 23:22] gdrewb-valve commented on #650
I'll send this to the larger team and see what they say.

[2015-11-19 23:24] gdrewb-valve commented on #650
Also could be #360 as you did do an app switch.

[2015-11-19 23:50] gdrewb-valve commented on #650
The larger team found an issue with a small timing window that explains why you came back into an empty state.  They'll be taking a look at that.  The original reason you disconnected was probably because of #360 so I'm closing this as a duplicate of #360.

[2015-11-19 23:50] #650 closed, assigned to gdrewb-valve

[2015-11-19 23:50] gdrewb-valve commented on #648
Thanks, the larger team was able to repro and they'll be taking a look.

[2015-11-19 23:50] #648 closed, assigned to gdrewb-valve

[2015-11-20 00:13] Turmfalke2 commented on #360
ok, I missed this bug report. I am suffering from exactly the same issue, are there any additional information that we might be able to provide you so this can get fixed?

[2015-11-20 00:16] gdrewb-valve commented on #360
No, we just need to get some of the SDL dev team's time so that they can take a look.  That's out of our control.

[2015-11-20 02:30] zkzipoo commented on #640
@NekR hey Paul, which system version are you currently using?

[2015-11-20 02:38] Tele42 commented on #640
"El Capitan" is 10.11

[2015-11-20 02:41] zkzipoo commented on #640
any specific parameters for the startup console? I got a late 2014 model which perform much more worse. It can barely hit 30 fps just with low to medium settings

[2015-11-20 02:43] ghost opened #651 "starting to load a custom game while spectating live game crushes the client"
was waiting too long for that custom game lobby to be filled, so i started to watch some live game from the majors. after i clicked "Accept" and 10/10 were there – the game crushed to desktop.
was still able to restart in time and load into current lobby normally.

tested out two more times – same happens only with live-games, not replays.

not sure if its a mac-only issue, but i have no way to te

[2015-11-20 06:03] Ace321 commented on #234
I haven't been on my computer in a while so my drivers are outdated. I was just wondering if these packages could potentionally harm my computer if not done correctly and how to do it correctly. My system information is:
Processor Information:
    Vendor:  AuthenticAMD
    CPU Family:  0x15
    CPU Model:  0x30
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  3700 Mhz
    4 logical processors

[2015-11-20 06:56] egeexyz opened #652 "Timedemo not displaying benchmark information"
According to the Valve Developer Community Wiki, users can use the 'record' feature to record demos, and then use the 'timedemo' function to playback the demo along with benchmark information (fps, etc). This method works well with HL2, TF2, Portal, and L4D2. It does not work with Dota2.

It appears that recording and playing back a demo using 'timedemo' does the _exact_ same thing is 'playdemo'.

[2015-11-20 09:08] presianbg commented on #645
After some thoughts I'm wondering why ttf-mscorefonts are mandatory? In CS:GO console is readable and good looking (without  ttf-mscorefonts). Even after installing ttf-mscorefonts Dota 2 Reborn console is ugly (badly formatted). Why those fonts are hard codded?

[2015-11-20 12:18] ArnaudAndre commented on #652
Since the reborn update dota 2 isn't running on the source engine but on source 2. Any doc written for source should be treated as potentially obsolete.
I don't know if there's a replacement for timedemo benchmarks though. Vconsole2 may have some stuff but it isn't included in the linux build.

[2015-11-20 12:59] NekR commented on #640
@zkzipoo I do not use any specific params. I have had 60fps even on high quality (all settings on), but it overheats my macbook very fast, so I just play on low quality.

[2015-11-20 13:30] danginsburg commented on #652
Source 2 does support writing benchmark information to disk.  When you run a timedemo a new line will be added to game/dota/Source2Bench.csv.  The columns in the CSV file are:

demofile,frame data csv,fps,fps variability,total sec,width,height,numframes,dxlevel,backbuffer,cmdline,driver,vendor id,device

If you are looking to grab the FPS average over a timedemo, it is the third column.

[2015-11-20 18:25] egeexyz commented on #652
Interesting, that is news to me. Is this documented somewhere? Can somebody (perhaps me?) add this to the Developer wiki?

That's pretty cool. I'll check it out later this evening.

[2015-11-20 19:14] nixi-awoo opened #653 "Sound does not work with ALSA"
The sound stopped working after the last update. I am not sure whether it is a problem with my system or if there is an issue with the game. Other applications work quite well.

I have tried restarting my system, reinstalling ALSA utilities and recompiling the lastest kernel.

[code]

My system:

[code]

[2015-11-20 19:18] Myppomeu opened #654 "[Linux] Dota does not recognize hotkeys"
Debian 8 x64, KDE 4.
Nvidia GeForce GTX560 with 340.65-2 blob drivers.
Steam for linux and Dota 2 Reborn with latest updates.

Dota does not recognize if I press any hotkey. If I try to change hotkey, Dota will display empty hotkey.
There is no specific output in terminal. Problem appears after 26 october (this is last day until today I played Dota, and 26 october everything works correct).

[2015-11-20 19:47] gdrewb-valve commented on #653
Reborn doesn't do any sound work directly, it uses SDL for sound on Linux, so Reborn has limited influence over what is happening with sound.  We didn't update SDL in the last Reborn update so it's unclear what would have changed. Do any other games or SDL applications work?

[2015-11-20 19:48] gdrewb-valve commented on #654
Can you add -input_message_spew and -console to your Reborn launch options, then open the console in the main menu and press the keys that you care about?  Post the Reborn console spew back here so that we can see what key info is being received.

[2015-11-20 19:50] gdrewb-valve commented on #651
Not a platform-specific issue (there have been others like this, such as #153) and the larger team has already been notified.

[2015-11-20 19:50] #651 closed, assigned to nobody

[2015-11-20 19:56] gdrewb-valve commented on #645
The problem comes because Reborn uses a limited fontconfig fonts.conf in order to have better control over the main menu rendering.  That spills over to the console but not really intentionally, it's just that the console is an older piece of code that is going to be replaced so it hasn't gotten much attention.

There are other issues here covering replacing the console so I'm closing this out.  F

[2015-11-20 19:56] #645 closed, assigned to nobody

[2015-11-20 20:03] Myppomeu commented on #654
If I add this options... Dota recognizes hotkeys correctly.
Also it works fine if I switch to xfce or cinnamon.
Don't know what is it, but solution (adding this options or switching to another DE) is satisfy me.
Thanks for quickly answer!

[2015-11-20 20:04] gdrewb-valve commented on #654
Those options don't really change anything about the input processing so it's odd that they would fix the behavior.  I guess we'll close this one for now and see if a pattern develops at some future point.

[2015-11-20 20:04] #654 closed, assigned to gdrewb-valve

[2015-11-20 20:05] gdrewb-valve commented on #653
Did anything else update on your system around the same time as the Reborn update?

[2015-11-20 20:06] nixi-awoo commented on #653
I tested it with several games:

[code]

It is propably a problem with my system, even though I have no idea what problem it is and how to fix it.

[2015-11-20 20:09] gdrewb-valve commented on #653
Did Steam itself update?  It's possible there's a Steam runtime issue.  You could try posting in steam-for-linux and maybe other people with similar behavior can comment.

[2015-11-20 20:13] nixi-awoo commented on #653
Yes, Steam has updated recetly. I can not say for sure if that is the cause since I have not used my computer for almost 5 days. The Steam update could have been released at any time - before or after the Dota 2 update. I am going to check the steam-for-linux issue tracker.

[2015-11-20 20:19] gdrewb-valve commented on #653
steam-for-linux#4139 seems close to what you're seeing.

[2015-11-20 20:19] nixi-awoo commented on #653
It is indeed a Steam Runtime problem. An update for ALSA has been released (1.1.0), which is not compatible with Steam yet. There is an issue open on the steam-for-linux tracker:

https://github.com/ValveSoftware/steam-for-linux/issues/4139

I have fixed the problem by launching Steam with this parameter:

[code]

Therefore, my entire launch command for Steam is:

[code]

I am sorry for not doing

[2015-11-20 20:20] gdrewb-valve commented on #653
OK, closing this out.

[2015-11-20 20:20] #653 closed, assigned to gdrewb-valve

[2015-11-21 08:28] egeexyz commented on #652
I've confirmed this work. Documentation needs to be updated but other than that, timedemo works as expected.

[2015-11-21 08:28] #652 closed, assigned to danginsburg

[2015-11-21 09:06] jeanlain commented on #646
With that Mac, you should get at least 60 fps on OS X, at max settings. I get 60 fps with a  geforce 775m with every video effect enabled.

You may be running into that issue: https://github.com/ValveSoftware/Dota-2/issues/248
(edit: follow Dan's recommendation about fullscreen mode)

[2015-11-21 09:10] jeanlain commented on #248
As I recall, the issue appears in desktop-frieldy fullscreen as well, but it may no longer be the case since the fullscreen mode has changed (it now uses its own space). I cannot test right now.
I could still use a borderless window and hide the menu bar (possible in 10.11).

[2015-11-21 09:22] jeanlain commented on #112
Yeah, the game looks unfinished on Mac and Linux because of this issue. I'm not sure what's taking so long since portrays are animated in the hero selection window.

[2015-11-21 09:25] jeanlain commented on #602
For me it's not an issue. In desktop-friendly fullscreen, you should be able to interact with the desktop and see the brightness/Volume HUD.

[2015-11-21 09:27] gxgani commented on #602
@jeanlain The thing is overlay is causing drastic FPS drop which shouldn't be occurring in desktop friendly mode.

[2015-11-21 10:52] chrylis commented on #505
Confirmed. I note that the dialog that pops up is the _old_ accept/reject dialog, with the 3D buttons, rather than the new one with the flat colored buttons. This is particularly nasty since clicking "accept" dismisses the dialog, and you can still get penalized for FTR.

[2015-11-22 05:37] vadi2 opened #655 "Dota game client always gets bundled with Steam by Unity"
Dota never opens in its own window, and instead masquerades as a Steam window. This makes it harder to alt-tab around than it needs to be.

![selection_257](https://cloud.githubusercontent.com/assets/110988/11322253/d8191278-912e-11e5-8c0b-96f7ea9da504.png)

[2015-11-22 05:49] gdrewb-valve commented on #655
Not the behavior I see on Ubuntu 12.04.  SDL is the code actually creating the window so Reborn isn't directly in charge of window properties but we can check a bit more.

[2015-11-22 09:46] m-rap commented on #642
i just updated primus and finally it hasnt crashed anymore, so apparently it was primus issue. but the issue that happened in windows is still mystery. thanks for your help. you guys have done a great job

[2015-11-22 13:29] dubslow opened #656 "[Solved/worked around] CapsLock hotkey broken for several months"
Since shortly before the old client died, my CapsLock hotkey in reborn hasn't worked. It worked fine for the first month or two of reborn, but for several months now it hasn't worked, and it's the primary reason I've mostly switched to CSGO

This is on Mint Debian with all updates installed (Cinammon 2.8, `uname -a
Linux Gravemind 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u5 (2015-10-09) x86

[2015-11-22 15:18] #642 closed, assigned to danginsburg

[2015-11-22 20:01] gdrewb-valve commented on #602
Performance effects of the overlay will happen in any mode.  There might be a different overall perf difference between exclusive fullscreen and desktop-friendly fullscreen, but any Steam overlay will still affect both.

[2015-11-22 20:29] gxgani commented on #602
Can we have it disabled as it was earlier? And by overlay I am meaning Apple Brightness/Volume overlay.

[2015-11-23 15:09] danginsburg commented on #646
As @jeanlain points out if you have vsync on please try either turning it off or using Desktop-Friendly Fullscreen.  I am going to close this bug pending more information (i.e. System info, resolution/mode you are running at, video settings).

[2015-11-23 15:09] #646 closed, assigned to danginsburg

[2015-11-23 16:30] cosaryus commented on #294
still nothing?

[2015-11-23 17:13] gdrewb-valve commented on #294
Sorry no, we still don't know what causes this.

[2015-11-23 17:16] gdrewb-valve commented on #602
DFF allows that sort of thing by-design.  If you use exclusive fullscreen you won't get them.

[2015-11-23 17:46] gxgani commented on #602
@gdrewb-valve May I know why was the overlay hidden previously? Is it possible to have an option to disable it?

[2015-11-23 18:16] gdrewb-valve commented on #602
There was a bug in SDL which prevent DFF from working the way it should (in a separate space).  That was fixed.  DFF is, as the name suggests, intended to cooperate with all of the normal desktop mechanisms.  Think of it as a windowed app that happens to be the size of the screen.  Exclusive fullscreen is the option you want where the game is all you get.  Choosing between the two is the option yo

[2015-11-23 18:19] gdrewb-valve commented on #602
If you really want to override the DFF behavior you can set the environment variable SDL_VIDEO_MAC_FULLSCREEN_SPACES to 0 for Reborn and that should turn off the spaces change.  That will have other side effects but if you really want to run a partial DFF that's the closest you'll be able to get.

[2015-11-23 18:53] gxgani commented on #602
@gdrewb-valve I am not using EF because I keep switching spaces/applications while I'm dead or searching match, etc. Exclusive literally blocks me from doing anything else, ie no Cmd+Tab.

[2015-11-23 19:22] gdrewb-valve commented on #602
Allowing system hotkeys like Cmd+Tab should also allow hotkeys like volume control, so I'm not sure there's a way to provide a partially-system-aware mode.  You can try the SDL envvar but if you are using spaces it probably turns off beneficial behavior for you.

[2015-11-23 19:26] gxgani commented on #602
@gdrewb-valve games like Left 4 Dead 2 seems to be running on EF but it does allow system hotkeys such as CMD-Tab.

[2015-11-23 23:55] gdrewb-valve commented on #602
I haven't looked at the L4D2 settings in a long time but it doesn't distinguish DFF from EF, does it, it only has one fullscreen option?  It wouldn't be unusual if it was DFF.

Regardless, Reborn gets the fullscreen behavior that SDL provides and SDL only has two modes, DFF and EF.  The SDL devs have told us that Cmd+Tab and such aren't supposed to work in EF so I don't think they consider that a

[2015-11-24 03:55] gxgani commented on #602
@gdrewb-valve When playing other games on DFF such as Distance, Borderlands 2, I didn't notice the micro freeze upon changing the brightness/volume(overlay).

[2015-11-24 06:10] gdrewb-valve commented on #602
You'd have to ask Apple to get information on why the OSX volume overlay behaves differently, Reborn isn't even aware of it.  Also if you do some searches you'll find a variety of people suggesting ways to disable or change the overlay images so if the overlay is a severe problem for you those might be options.

[2015-11-24 06:28] gxgani commented on #602
@gdrewb-valve I am not sure if Apple would help me on this since most of the full-screen application do not exhibit this freeze. I ended up completely disabling the BezelUIServer.

[2015-11-25 10:24] dracorl opened #657 "[Linux] Game freezes when match ready"
Game freezes when match ready and I can't click.

[code]

[2015-11-25 19:14] gdrewb-valve commented on #602
I'm glad you found a way to get things the way you wanted.  Do you still feel there's a Reborn issue here?  The hitching only occurs when the volume overlay is up, not when Reborn is running on its own, correct?  To me that suggests it is Apple's issue to investigate since Reborn seems to work correctly when the overlay is not present.

[2015-11-25 19:15] gdrewb-valve commented on #657
Probably not a Linux-specific issue.

[2015-11-25 20:25] fumazu commented on #655
I can confirm this for Ubuntu 15.10. Dota 2 and CS:GO get bundled with the Steam client while the third party game _The Binding of Isaac: Rebirth_ spawns a new icon.

From Screenshot with _Dota 2_ and _The Binding of Isaac: Rebirth_ open in the background:
![steam](https://cloud.githubusercontent.com/assets/12823243/11408723/51b11430-93bb-11e5-878d-dd19eb072407.png)

Edit: Just want to add that I

[2015-11-25 20:55] CalMlynarczyk commented on #613
I have been dealing with these multiple times per game. It is especially bad when watching replays, where they occur every couple of minutes. I have included both the system and user error logs from the most recent crash I had.

[OS X Error Logs](https://gist.github.com/CalMlynarczyk/649ba2a2c1c45477c295)

[2015-11-25 21:03] CalMlynarczyk commented on #599
I don't remember this EVER using the Dota 2 icon, even with the Source 1 version. Same goes for the app icon; it has always been the Steam logo.

[2015-11-26 07:08] vadi2 commented on #655
I'm running 14.04 LTS and I've had this issue for as long as I can remember - it happened in the pre-Reborn client as well.

[2015-11-26 11:41] dubslow commented on #656
I just had a brainwave. A couple of years ago I had disabled CapsLock on an OS level so that I could use it as a hotkey and still type normally. Some change some months ago in Reborn must have involved a change in the Linux keyboard input mechanism, for as I just tested now, re-enabling the CapsLock on an OS level re-enabled the hotkey.

![screenshot from 2015-11-26 05 40 11](https://cloud.githubu

[2015-11-26 14:35] gselsidi opened #658 "Low priority mechanics should be changed."
I know this isn't for issues for general Dota, but maybe you can forward it to the team. I haven't been in low priority in months, but the current set up that everyone has to be present to count the game as a win is very harsh.

It can take you 10 games, just to finish a 3 game low priority due to people leaving and abandoning which happens very often in these types of games.

Low priority should

[2015-11-26 14:37] gselsidi opened #659 "[MAC OS] Graphics glitch El Capitan when first loading game"
When you currently open the game for the first time, I just see crazy graphics on my screen, then Dota shows up normally.

This is on El Capitan with Iris Pro, will try verifying cache or re-installing the game to see if it solves it.

It does not effect the game, just annoying seeing all these crazy lines, like your graphics card is dying. After some digging around this is what I found.

Here is

[2015-11-26 19:22] ArnaudAndre commented on #599
see http://i.imgur.com/Oy8DQ0E.png
also I'm not sure what's wrong with your window manager but both source 1 and reborn have always been using the logo for their icon
![dota2_in_taskbar](https://cloud.githubusercontent.com/assets/4991072/11429631/071ab3e8-947b-11e5-853d-025c0df915b2.png)

[2015-11-27 12:45] msjyoo commented on #13
Any update on this issue?

[2015-11-27 18:02] u00101010 commented on #30
This issue does still exist in Ubuntu 15.10 with the latest DOTA 2 updates.

And actually, to me it does not happen every single time. There are special occasions when I'm actually able to Alt-click stuff on the screen without the game getting minimized. I will continue to further observe this and report back as soon as I have something.

**UPDATE**: It seems like it does not happen if I manage to

[2015-11-27 18:05] u00101010 commented on #597
When running, Unity displays for me the the default "no icon", the grey box with a question mark in it.

[2015-11-27 18:16] u00101010 commented on #655
I'm running 15.10, but I haven't had this issue before with 14.04 either. To me, DOTA 2 has its own icon. (though it does not technically have an icon)
![screenshot from 2015-11-27 19-13-19](https://cloud.githubusercontent.com/assets/7419656/11446725/560c15f8-953b-11e5-9205-b807109f4959.png)

[2015-11-27 21:01] Veske opened #660 "[Linux] Show Dota 2 as a seperate program in Unity launcher bar"
Currently, when you launch Dota 2, it will be completely random, if it actually shows as a separate program in the Unity launcher or not.

The trend I see is that if it does decide that it's a good time to show, then it will do so until the computer is restarted. Same goes for the opposite situation.

![screenshot from 2015-11-27 22-50-49](https://cloud.githubusercontent.com/assets/5602603/1144810

[2015-11-28 20:17] u00101010 opened #661 "[Linux] The game sometimes does not quit"
Hi there,

This issue has been around for a really long time and it's pretty bothering.

Sometimes when I click on the Exit button in the game, and confirm the quit, the game freezes and won't quit.

I have to use the "**kill -9**" command to actually make it quit. (The regular "kill" and other force-kill options do not work properly. With other solutions, the window itself disappears but Steam wi

[2015-11-29 02:15] CalMlynarczyk commented on #613
I am having a [similar issue](http://steamcommunity.com/app/255710/discussions/0/517142892069652728/) with _Cities: Skylines_ lately as well.

[2015-11-29 11:14] budimanjojo commented on #661
Happened to me too, but will quit itself after 3 to 5 seconds later

[2015-11-29 21:08] NekR opened #662 "Poor performance with external display on Macbook"
I am trying to play Dota 2 Macbook Pro 15'' 2015 with external display connected via HDMI and I am getting 10-20 fps there on low settings. Monitor is 22'' 1920x1080.

Without external monitor, on Macbook's own Retina display I get 120 fps with disable VSync even on close so high-quality settings. however resolution there is 1280. Is the problem here in monitor resolution or maybe because it's con

[2015-11-29 21:33] NekR commented on #662
[code]

[2015-11-30 04:51] gdrewb-valve commented on #658
I've passed this on.

[2015-11-30 04:51] #658 closed, assigned to nobody

[2015-11-30 04:51] gdrewb-valve commented on #660
Duplicate of #655.

[2015-11-30 04:51] #660 closed, assigned to nobody

[2015-11-30 04:52] gdrewb-valve commented on #661
Duplicate of #603.

[2015-11-30 04:52] #661 closed, assigned to nobody

[2015-11-30 05:00] gdrewb-valve commented on #13
I haven't seen anything from the SDL team, unfortunately.  Also closing this as the SDL issue is better tracked at #556.

[2015-11-30 05:00] #13 closed, assigned to gdrewb-valve

[2015-11-30 05:05] gdrewb-valve commented on #656
Can you add -input_message_spew and -console to your launch options, then open the in-game console and press caps lock?  That should generate some keyup and keydown spew in the console which you can post here.  Trying it both when it works and when it doesn't would be useful.

Also in the Advanced section of the Reborn key bindings settings you can select positional key bindings and that make fix

[2015-11-30 09:48] nooscraft commented on #657
Seems like you have a notebook with on-board Intel VGA. So the freezing might cause because of your hardware is not supporting well with Dota2 (can @gdrewb-valve confirm this?)

Anyhow have you tried with lowest graphics settings?

[2015-11-30 13:34] Lightsockie commented on #552
Had the same problem as QORTEC and what they said fixed it for me.

I tried changing the video.cfg file directly too (the correct one, even) but it seems it gets overridden at launch. Would be cool if we had an option for which GPU/screen to use in video setings

[2015-11-30 13:59] danginsburg commented on #613
@CalMlynarczyk Your crash is inside the NVIDA OpenGL driver.  Please try installing the NVIDIA web driver and report back if it fixes the problem: http://www.nvidia.com/download/driverResults.aspx/93460/en-us

Thread 9 Crashed:
0   com.apple.GeForceGLDriver       0x00007fff9818ac0c 0x7fff97e62000 + 3312652
1   com.apple.GeForceGLDriver       0x00007fff98084957 gldGetQueryInfo + 38
2   GLEngine

[2015-11-30 14:22] Jusix commented on #556
Has someone already opened a bug @ the SDL bug tracker?

[2015-11-30 14:59] danginsburg commented on #659
I am able to repro this bug, I'll take a look at it.

[2015-11-30 15:42] dracorl commented on #657
I am using nvidia-358 and bumblebee on dota2. My graphic card is bad so i already use low graphics. sometimes freezes sometimes not.

[2015-11-30 16:44] nooscraft commented on #657
@dracorlll Try installing a nvidia open source driver for Ubuntu. Use this ppa http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu

[2015-11-30 17:16] NekR commented on #662
Just downloaded StarCraft 2 and tested on external display. It shows 30fps when VSync is **on** and 80fps when VSync is **off**.

I am not sure why it thinks that monitor's refresh rate is 30 Hz, but at least it can produce 80fps without VSync. Dota 2 always produces 10-20 fps (cannot get stable value, always jumps).

[2015-11-30 17:38] dracorl commented on #657
ok thank you

[2015-11-30 18:39] gdrewb-valve commented on #556
I contacted the SDL devs directly.  There are already multiple fullscreen bugs open in the SDL bugzilla too.

[2015-11-30 18:44] gdrewb-valve commented on #657
Reborn on Linux uses OpenGL and support is primarily about good OpenGL drivers.  With a good driver and reasonable hardware Reborn should run fine.  Unfortunately OpenGL driver support on Linux varies tremendously in quality and often vendors don't bother trying to support older hardware, plus then there are open-source variants for many pieces of hardware.  Valve doesn't attempt to track what wor

[2015-11-30 19:35] gselsidi opened #664 "[MAC] When spectating game and accepting queue request, the new reborn accept message still displays if going to main menu."
If you currently spectate a game and click on accept game, the new dota reborn accept/decline still shows in the main menu.

Also, I remember a few times when even accepting the game through the accept/decline while spectating the game, if you didn't go to the main menu and accept the game there, you would fail to match make.

If spectating a game the accept/decline should only appear there, not i

[2015-11-30 19:38] CalMlynarczyk commented on #613
@danginsburg I installed the web driver, but it is causing more problems than it fixed. In _ALL_ games, I am getting major keyboard and mouse input issues where only about 25% of input commands register. In Dota 2, it is even worse, where the game will go multiple seconds without accepting any user input. At one point, it gave up entirely and would not respond to any user input until I restarted t

[2015-11-30 20:52] gdrewb-valve commented on #664
Closing duplicate.  None of this is platform-specific and won't be tracked here.

[2015-11-30 20:52] #664 closed, assigned to nobody

[2015-11-30 20:52] gdrewb-valve commented on #505
This isn't Mac/Linux specific and has been passed on to the larger team.

[2015-11-30 20:52] #505 closed, assigned to nobody

[2015-11-30 21:05] gdrewb-valve commented on #602
Closing.

[2015-11-30 21:05] #602 closed, assigned to nobody

[2015-11-30 21:06] gdrewb-valve commented on #356
Closing as this is not a Mac/Linux specific issue.

[2015-11-30 21:06] #356 closed, assigned to nobody

[2015-11-30 21:21] gdrewb-valve commented on #655
We'll have to try and find exactly why this happens.

[2015-11-30 21:26] gdrewb-valve commented on #656
I just double-checked this on my Ubuntu 12.04 system and had no problem binding caps lock.

[2015-11-30 21:28] gdrewb-valve commented on #18
I've passed on the underlying request to the Steam team but this probably won't be addressed any time soon.

[2015-11-30 21:28] #18 closed, assigned to davidw-valve

[2015-12-01 13:15] danginsburg commented on #662
So if you do not use an external monitor and set your resolution to 1920x1080, do you still see the performance problem?  Are you in Exclusive Fullscreen or Desktop Fullscreen?

[2015-12-01 14:26] NekR commented on #662
@danginsburg I had those results in both Exclusive Fullscreen and Desktop Fullscreen, but now I have different results:
- Open laptop lid, disable external monitor
- Run Stream, run Dota 2
- Set resolution to ~1600 width Exclusive Fullscreen
- Start bot match -- 60fps VSync **on**
- Exit bot match, set resolution to ~2800 width, Exclusive Fullscreen
- Start new bot match -- 30fps VSync **on**, dis

[2015-12-01 16:12] budimanjojo commented on #662
Because the larger the resolution of the monitor the lower the fps, that's how it should work. You can't just put in a big monitor with Intel graphic, that's why people invest on Nvidia or AMD cards. I think it's normal to have 40 fps on a 2800 width resolution.

[2015-12-01 16:27] NekR commented on #662
@budimanjojo hah, I didn't bought it for playing, if I would, I rather get very good gaming PC for the same price as Macbook.

Anyway, just played a game on external monitor with VSync on and had 60fps and sometimes 30fps during game. Like randomly getting wrong refresh rate, but I believe it's that know problem with Inter graphic cards on OS X.

[2015-12-01 17:32] ghost opened #665 "Weird graphical bugs/glitches"
Firstly I have a black screen instead of the dota 2 loading screen when starting and I the "Genuine DAC 2015 Chaos Knight" cursor looks weird(have some screenshots but the cursor is not shown on the saved screenshots).

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3800 Mhz
    4 logical processors

[2015-12-01 17:48] dubslow commented on #656
Sure, I'll do the former within a day or two.

What does positional key bindings mean? (Maybe I'll figure it out when I actually look at the option)

[2015-12-01 19:44] gdrewb-valve commented on #656
By default Reborn binds keys based on the keycap name -- binding the 'A' key means that it's whatever key has 'A' on it and so moves when keyboard layouts change -- and positional bindings means that they key is bound by its position on the keyboard instead (and so doesn't change with keyboard layout).  If your caps lock behavior change is something like a keyboard layout change then it might be a

[2015-12-01 21:08] danginsburg commented on #665
I have fixed the black loading screen bug.  It will be in a future Dota 2 update.

[2015-12-02 05:08] seethersan opened #666 "[Mac] error statistics challenge of all heroes"
The challenge of all heroes get stuck on a hero despite already having won a game with the hero currently assigned.

The game 1969536476 was considered abandonment even though I do not disconnect at any time or was away from the keyboard.

![desafio](https://cloud.githubusercontent.com/assets/6700347/11522687/157aca66-9888-11e5-8efa-3ca4ba083da8.jpg)
![partida 1](https://cloud.githubusercontent.co

[2015-12-02 17:10] viettrung9012 commented on #618
It could be a Mac's problem.
**References**:
http://apple.stackexchange.com/questions/176270/app-crashes-dock-icon-remains-cant-reboot-yet-no-process-in-ps-aux-to-kill?lq=1
I tried this and it works for me:

[2015-12-02 17:29] gdrewb-valve commented on #666
These aren't Mac-specific issues so you'll want to report them in the regular forums (dev.dota2.com).

[2015-12-02 17:29] #666 closed, assigned to nobody

[2015-12-03 18:07] Mattele opened #667 "Weird crash after installing new RAM and SDD"
Hello

Since I installed a new Samsung 500 GB SDD disk, and upgraded RAM from 4 to 8 GB, Dota is very frequently crashing

It's either

a) game completely freezes, and I have to force shut it down and open again

b) game crashes with this specific error:

Process:               dota2 [9114]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identi

[2015-12-03 19:29] dubslow commented on #656
With CapsLock disabled on OS keyboard options, default reborn settings: http://pastebin.com/v51ZWhxy and I cannot set CapsLock as a hotkey.

With CapsLock disabled, and bindings on keyboard position instead of keyboard name: http://pastebin.com/PEtcQ5MC and still unable to set CapsLock as a hotkey.

At this point, when I re-enabled CapsLock in the OS and went back into Dota to view the settings, s

[2015-12-03 19:29] dubslow commented on #656
I guess I could maybe have left this open since the UI doesn't work, but you should have the info you need now.

[2015-12-03 21:41] gdrewb-valve commented on #667
The crash is in Apple's OpenGL driver so we don't have direct visibility into what's going on, but we'll see what we can get.

[2015-12-03 21:48] gdrewb-valve commented on #656
Thanks, this is probably similar to the other bugs in SDL dealing with keys (the SDL_GetKeyName='' means SDL doesn't have a name for the key even though it should).

[2015-12-03 23:11] Mattele commented on #667
Great :)

Also, I found out that this crash doesn't occur if i restart my mac just before playing dota.

[2015-12-04 08:11] Amet13 opened #668 "How can i change a custom screen resolution?"
[code]

I have no resolution 1440x900 in list.
![screenshot-dota 2](https://cloud.githubusercontent.com/assets/5184847/11584744/85a0a55e-9a77-11e5-8802-15f19c04b247.png)

Driver:

[code]

[2015-12-04 09:37] Turmfalke2 opened #669 "[Linux] massive memory leak"
hi,
I found that if I have dota2 running in the main menu for several hours it starts to consume all available memory. Frequently it ends up using more than 6GB, while effectively doing nothing. At that point the only way for me to close dota2 is with kill -9.
I have no idea what is causing this, maybe it is related to #360 ?

Old similar issues: #583 (presumably fixed)

[2015-12-04 10:18] AngryPenguinPL opened #670 "[Linux] Dota 2 crash every match (from latest two or three patch)"
Hi.

I have issues with Dota 2 on my PC with Linux.

This issue persist from latest two or three latest patch (before all work fine!).
Now Dota2 crash (quit to desktop) every match (about half time match something like in 20 min/30min/40min).

Quick info:
AMD Radeon HD5850 with Catalyst 15.9
AMD Phenom II X6
4 GB RAM

I paste my Steam System info here:

https://gist.github.com/xpris/a7a512c2256454

[2015-12-04 11:39] budimanjojo commented on #668
You need to choose 16:10 for the aspect ratio instead of 16:9 because 1440x900 is 16:10

[2015-12-04 13:16] danginsburg commented on #665
Fixed in December 3rd update.

[2015-12-04 13:16] #665 closed, assigned to danginsburg

[2015-12-04 13:19] danginsburg commented on #667
Can you try seeing if the NVIDIA OS X 10.11.1 web driver fixes the crash: http://www.nvidia.com/download/driverResults.aspx/93460/en-us .  We have had other reports of crashes in the NVIDIA driver such as #613.

[2015-12-04 13:29] Amet13 commented on #668
![screenshot-dota 2](https://cloud.githubusercontent.com/assets/5184847/11590838/32ceec6e-9aa4-11e5-90f4-9c4e1645b5da.png)

[2015-12-04 13:53] Amet13 commented on #668
I'm using additional monitor for my laptop.
Linux Mint 17.3 x64
![screenshot-monitor preferences](https://cloud.githubusercontent.com/assets/5184847/11591280/95588a90-9aa7-11e5-924f-d134e95c0cb3.png)

[2015-12-04 15:05] Tele42 commented on #668
@Amet13 did you try the -h and -w launch option settings? http://dota2.gamepedia.com/Launch_Options

I don't know if they have been checked since the source 1 -> source 2 transition.

[2015-12-04 15:09] Tele42 commented on #670
If you can find a CrashID that corresponds to the crashes, that would help, otherwise upload one or more dump files somewhere and link them here.

[2015-12-04 15:26] AngryPenguinPL commented on #670
Noob question but where I can find crash log or crash id for dota2 in Linux? :P

[2015-12-04 15:33] Tele42 commented on #670
CrashIDs can be found in console spew by closing steam, then opening steam from a terminal (and making the crash occur), or the bottom of the System Information. Dump files can be found in /tmp/dumps.

[2015-12-04 16:27] budimanjojo commented on #668
I think it's because you're using windowed mode. Maybe you should try changing it to fullscreen mode, because windowed mode can not go full monitor resolution as the panel and window decoration are taking space. You may also add sdl_display_index 0 in the launch option if Dota 2 launches in your laptop monitor instead of your external monitor

[2015-12-04 18:41] Amet13 commented on #668
[code]

![screenshot-dota 2-1](https://cloud.githubusercontent.com/assets/5184847/11597898/bd03eb20-9acf-11e5-948d-188dfb1711d0.png)
I have no problems on source 1

[2015-12-04 19:28] danginsburg commented on #668
Try -sdl_displayindex 1.  I suspect what is happening here is that 1440x900 isn't shown because your primary monitor only goes to 1336x768.  I think if you use -sdl_displayindex 1 it will query the supported resolutions from your other monitor and it should show up.

[2015-12-04 19:39] Amet13 commented on #668
@danginsburg i'm trying launch with this options:

[code]

First launch i look like 1152x864, but if i change 16:10 tab, i see my resolution.
![screenshot-dota 2](https://cloud.githubusercontent.com/assets/5184847/11599395/bface504-9ad7-11e5-81be-f506f645ff70.png)
So i solved my problem, but can i launch dota already with 16:10 resolution?

[2015-12-04 20:23] Amet13 commented on #668
Sorry, 1440x900, all ok.
It works:

[code]

[2015-12-04 20:23] #668 closed, assigned to nobody

[2015-12-05 08:21] longdt commented on #446
I have same issue with Intel Graphic HD3000 mesa from xorg-edgers PPA

[2015-12-06 17:29] AngryPenguinPL commented on #670
Ok, I have it. Today two crash in one match :/

I uploaded this two crash file and also file x_log.txt and x_stdout.txt.

http://speedy.sh/uaKHF/crash-20151206165306-1.dmp
http://speedy.sh/QTVUp/crash-20151206173739-1.dmp
http://speedy.sh/ysdgZ/x-log.txt
http://speedy.sh/BJEj5/x-stdout.txt

This is all or I need give some other?

[2015-12-06 19:34] Mattele commented on #667
Unfortunately those drivers work way worse than native drivers. Normally I get between 25-45 fps, with those drivers it's usually 15-20.

Nevertheless, those crashes still occur. They mysteriously disappear when I restart OS X just before playing

[2015-12-07 03:05] sunlinyao opened #671 "[Linux] Steam and Dota2 can't input Chinese, and Chinese ID can not be displayed in Dota2"
Steam和Dota2聊天不能输入中文，我用的是fcitx输入法。而且在游戏中，中文名字不能显示出来，其它地方中文显示没问题。我相信很多人和我遇到的问题一样。我尝试重新编译libSDL2-2.0.so.0，但是没效果。
最主要的还是聊天不能输入中文。

sly@fskj-u-sly:~$ cat /etc/issue
Ubuntu 14.04.3 LTS \n \l
sly@fskj-u-sly:~$ uname -a
Linux fskj-u-sly 3.16.0-30-generic #40~14.04.1-Ubuntu SMP Thu Jan 15 17:43:14 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I hope you can fix it as soon as possible. thx

[2015-12-07 03:12] sunlinyao commented on #476
你成功了吗？是怎么编译的？
我使用
./configure
make && make install
并且把生成的so文件拷贝到dota2和steam对应的目录，却没有效果。我用的是fcitx输入法，ubuntu14.4
我把网上别人编译好的，拷贝到dota2目录中，替换掉原来的，却进不了游戏
http://forum.ubuntu.org.cn/viewtopic.php?f=34&t=472753

[2015-12-07 03:43] timxx commented on #476
@sunlinyao
已经好久没玩dota2了额。。进入不了游戏的话，可能需要更新sdl2的代码了，你可以fork分支同步下上游代码重新编译一个试试；你发的链接那个也是我之前编译好上传的。。。
PS，编译需要安装fcitx开发头文件；运行加上SDL_IM_MODULE=fcitx才能用fcitx（默认是ibus）

[2015-12-07 03:57] sunlinyao commented on #476
@timxx 我使用./configure --help 并没有--enable-fcitx，有一个--enable-ibus，所以我以为默认就支持，而且再configure的时候，没用提示find fcitx之类的，
另外。我发现每次我替换～/.steam/ubuntu12_32/libSDL2-2.0.so.0
这个文件，重新打开steam的时候就给我还原了，我也不知道steam启动是要校验libSDL2-2.0.so.0这个的版本还是md5值，所以就算支持fcitx也没用，
我尝试替换dota2目录下的libSDL2-2.0.so.0文件，但是发现使用你编译的 出现你这个帖子：http://forum.ubuntu.org.cn/viewtopic.php?f=34&t=472753中3L的那个提示。我自己编译的替换进去，启动过程中卡住，只能移动鼠标，最后没办法，切换控制台kill掉

[2015-12-07 04:05] timxx commented on #476
@sunlinyao
先跑./autogen.sh，需要出现**Using fcitx : YES**才能支持fcitx输入法。
至于卡的问题，就像前面说的，一般是dota2那边的sdl2更新了，我fork的那个分支没更新导致的；
只能替换dota2里面的，不能替换steam的，不然会自动还原。
话说在这里码中文不会给吐槽吧。。

[2015-12-07 04:49] sunlinyao commented on #476
@timxx  没事，反正看这个帖子的大多数都懂中文，哈哈
那如果重新改的话，要改那些地方呢，或者大概是要改什么？

[2015-12-07 06:28] gdrewb-valve commented on #671
Duplicate of #50.

[2015-12-07 06:28] #671 closed, assigned to nobody

[2015-12-07 18:02] danslo commented on #378
This problem got a lot worse after installing version `358.09` of the proprietary nvidia drivers. Just crashes on _any_ alt tab or overlay (like gnome volume) now.

[2015-12-07 20:17] gdrewb-valve commented on #670
The dump files are fine and gave us the information for your crashes.  Unfortunately the two crashes are different so there may be more than one problem.  Also the dumps don't immediately point out why the crashes are occurring so we'll have to try and repro.  Finally, we have crash reports of the same kind of crashes on Windows too so these will be handled by the larger team.

Valve notes:
One cr

[2015-12-08 12:42] domxxxx opened #672 "Player name containing Chinese text above health bar does not render"
Model：MacBook Pro (Retina, 13-inch, Early 2013)
OS：OS X 10.9.2 (13C64)

I suppose it's the exact issue with #457 Though the case is marked closed but the patch did not fix it for my client.

My OS, Steam, and Dota 2 Reborn have their default languages set as English. When in game, Chinese texts displays well in all other scenarios, which includes but not limited to typed chats, player names on sco

[2015-12-08 14:44] ghost commented on #665
Now the loading screen is grey - I even verified the game files

[2015-12-08 14:57] AngryPenguinPL commented on #670
Today again I have crash.

Maybe this can help:

http://speedy.sh/r2bqx/crash-20151208141031-1.dmp
http://speedy.sh/3eGFz/crash-20151208152055-1.dmp
http://speedy.sh/DXRpu/x-log.txt
http://speedy.sh/vcSZQ/x-stdout.txt

[2015-12-08 17:15] gdrewb-valve commented on #670
Thanks.  The first one is another Scaleform crash and SpeedyShare wouldn't let me download the second but I assume it's similar.  That's enough info for now.

[2015-12-08 17:51] Tele42 commented on #670
Second dump is a SIGSEGV in libscenesystem.so.

[2015-12-08 19:10] danginsburg commented on #672
I can confirm this occurs on OSX and not on Windows, I will look into it.  It looks like an issue rendering chinese fonts when English is the chosen language.

[2015-12-08 19:52] ghost opened #673 "Linux: Unplayable low FPS, very lagged menu"
Hello. I have been playing Dota 2 on Linux for a while with no problems, but I had to switch to Windows for some time (a week) and now that I'm back the game is unplayable.

In the main menu I get 5~10 FPS, CPU usage goes to 60~70% which is 'okay', I guess. I have tried watching live games (though it took more than one minute to move the mouse around the screen) and the FPS is the same but the gam

[2015-12-08 19:59] davidw-valve commented on #673
It sounds like you are using Gallium drivers and are on a virtual machine. We recommend running Dota2 natively, with the NVidia drivers.

[2015-12-08 19:59] #673 closed, assigned to nobody

[2015-12-08 20:02] ghost commented on #673
I am not using a VM, though. I am running both Dota 2 and Steam natively.

[2015-12-08 20:07] davidw-valve commented on #673
You are using Gallium drivers though: "Driver: VMware, Inc. Gallium 0.4 on llvmpipe (LLVM 3.7, 256 bits)" -- we recommend using the NVidia proprietary drivers. You will not get very good performance using Gallium drivers.

[2015-12-08 21:07] pfwb commented on #670
Hi. Maybe this also helps.
''CrashID=bp-a1b153ef-c048-4e76-b172-bbddf2151208''

[2015-12-08 21:18] gdrewb-valve commented on #670
Thank you but we have enough info in this issue right now.  We don't want this issue to become filled with everybody's crash reports as there are many different reasons for crashes.  Also, if you don't see "Discarded=1" in the crash report status it was sent to Valve and we already have it.

[2015-12-08 23:16] ghost commented on #673
Well, I fixed it. It's been a while now, I was testing till now.

If someone ever comes across the same problem:
- Make sure NVIDIA/ATI drivers are installed and Nouveau blacklisted;
- Install lib32-nvidia-utils and lib32-nvidia-libgl

These simple steps apparently fixed my problem, they might just fix yours.

[2015-12-09 06:30] domxxxx commented on #672
Thanks, not sure if this helps but back in source one, it was similar but slightly different. As in, during source one replays, professional player names such as "VG.iceiceice.天喔“ renders well above health bars whereas normal player names containing Chinese characters would have the Chinese characters overlap on each other resulting in a block of mess blocking the 50% of the top of the health bar.

[2015-12-09 06:56] Enzime opened #674 "[Linux] Default Device does not output to correct pcm"
Distro: Arch Linux
Window Manager: i3

When I run Dota 2 I get this output, it is also output for when changing between the two sound devices in the Reborn menu: Default Device and System audio output device

[code]

When I do the `Help -> System Information` in Steam it only shows the first card

[code]

when there are actually 3 cards (shown by `cat /proc/asound/cards`)

[code]

It appears that

[2015-12-09 12:20] FeatheredSerpent commented on #635
Turns out the party had nothing to do with it. Also happens after a fresh start of Dota 2.

[2015-12-09 13:44] FeatheredSerpent opened #675 "0 intelligence results in "I have [...] -2147483648% Mana""
Outworld Devourer casted Astral Imprisonment on a Clinkz thrice, causing him to have 0 intelligence. He informed us about it, which resulted in:

![I have 98% HP -2147483648% Mana](https://i.imgur.com/bWn0TNT.jpg)

Everybody in the party saw it (me on Linux, the rest on Windows).

[code]

[2015-12-09 14:11] FeatheredSerpent opened #676 "German umlaut in chat announcement not displayed."
On November 16th this announcement was posted in the Frankfurt chat channel:
![Screenshot](https://i.imgur.com/pmotkeQ.png)

The question mark ( ? ) in the 2nd sentence should be an "ä".

[code]

[2015-12-09 17:25] gdrewb-valve commented on #674
Reborn uses SDL for sound handling and doesn't do anything on its own directly with ALSA.  Reborn shows the outputs that SDL enumerates, so if SDL does not include the specific output you are interested in there is no way for Reborn to offer it.

[2015-12-09 17:25] gdrewb-valve commented on #675
As this isn't Mac/Linux specific I've passed this on to the larger team.

[2015-12-09 17:25] #675 closed, assigned to nobody

[2015-12-09 19:00] danslo commented on #378
Same goes for `358.16`.

[2015-12-09 19:49] cosaryus commented on #294
![ekran resmi 2015-12-09 21 49 19](https://cloud.githubusercontent.com/assets/14952425/11696776/b38834c8-9ebe-11e5-8fc1-2542be796fbb.png)

tried with bots for a while

[2015-12-09 19:56] derfs opened #677 "Dota 2 Reborn not installing"
So i stopped playing dota 2 awhile back. I never actually fully downloaded the reborn beta way back when it was released. Now it says that it is installed on my game, however it clearly isn't. When i go to launch dota 2 it says 'syncing' then stops and nothing happens. Ive looked through multiple threads, uninstalled the game and installed it many times. I cannot get into the actual game, so i can

[2015-12-09 19:57] gdrewb-valve commented on #294
Please open separate issues for different problems.

[2015-12-09 19:59] gdrewb-valve commented on #677
When you launch is the syncing dialog from Steam (it sounds like it)?  What is your system info?

[2015-12-09 20:08] cosaryus commented on #294
its just the same i can't still play with my iMac :/

[2015-12-09 20:09] cosaryus commented on #294
![ekran resmi 2015-12-09 22 09 59](https://cloud.githubusercontent.com/assets/14952425/11697274/75299372-9ec1-11e5-8919-4ddfe0665030.png)

[2015-12-09 20:10] gdrewb-valve commented on #294
Your earlier post about bot games had a screenshot showing graphics corruption.  Were you trying to report that as a problem?  If so you should open a separate issue.

[2015-12-09 20:22] cosaryus commented on #294
no i just want to show it i solved it. but i noticed something after. there is no dota2.osx file on the game folder. i was looking the firewall
![ekran resmi 2015-12-09 22 22 22](https://cloud.githubusercontent.com/assets/14952425/11697642/3be569ea-9ec3-11e5-8eb0-2eaf7ea25a35.png)

but i couldn't see the dota2.osx file there and i check the game folder after there wasn't either.

[2015-12-09 20:26] gdrewb-valve commented on #294
The executable for Reborn is 'Steam Reborn folder'/game/bin/osx64/dota2.app/Contents/MacOS/dota2

[2015-12-09 20:34] cosaryus commented on #294
i can't find that folders..

[2015-12-09 20:36] cosaryus commented on #294
![ekran resmi 2015-12-09 22 37 14](https://cloud.githubusercontent.com/assets/14952425/11698017/4b7dfef6-9ec5-11e5-8ec3-0e3fb4a13073.png)

i reach this folder from steam library

[2015-12-09 20:48] gdrewb-valve commented on #294
In your screenshot you show a game folder, if you go in there what's in there?

[2015-12-09 23:18] gdrewb-valve commented on #669
I found one fairly significant leak so this will improve with a future update.

[2015-12-09 23:34] gdrewb-valve commented on #676
Likely not Linux specific.

[2015-12-10 01:15] catichenor commented on #378
Hi @danslo, I'm taking a look at this bug and I'm having some problems reproducing it. Could you upload an nvidia-bug-report log (`sudo nvidia-bug-report.sh`)?

Also, I'm attempting to reproduce in standard Ubuntu 14.04, are you using a different setup?

[2015-12-10 03:49] gdrewb-valve commented on #676
The larger team believes they have a fix for this.  It isn't platform-specific and won't be tracked here but an upcoming update should have the fix.

[2015-12-10 03:49] #676 closed, assigned to gdrewb-valve

[2015-12-10 04:21] literallyunplayable commented on #54
Is there any chance that the empty space in "your last match" and in the trophy case can be replaced with static images as placeholders. I dont see why an issue like this can persist for 5 months in the first place.

[2015-12-10 04:27] gdrewb-valve commented on #54
Dev time has been going to higher-priority issues.  The assumption has been that this doesn't interfere with anybody playing the game or using the UI so it is pretty low on the list.  Is this preventing you from doing something in Reborn?

[2015-12-10 04:55] ramma commented on #54
It is purely cosmetic as far as I can tell. No impact on actual game play.

[2015-12-10 06:24] FeatheredSerpent commented on #599
I can confirm this bug:
![Screenshot](https://i.imgur.com/bZtWSRH.png)

Desktop environment is MATE 1.8.1, window manager is Marco 1.8.3, pop-up notifications theme is Slider.

Source 1 Dota 2 did show the icon.

[code]

[2015-12-10 12:27] cosaryus commented on #294
its the game folder which i reach from steam

[2015-12-10 14:44] strattonbrazil opened #678 "2d ui corruption"
Since the Dota 2 reborn, I've seen the 2D part of the UI like the map and the health bars over the characters get corrupted (see attached).  This happens occasionally for the killed-by image, but I don't know if that's related.  It happened frequently after reborn was released, but has been happening less and less over the last few months.  When encountered, I usually just restart the application

[2015-12-10 16:12] danginsburg commented on #678
You are running an old AMD Catalyst driver (v14.3).  I would recommend a minimum of Catalyst v15.7 (this is listed in the System Requirements on the Steam page for Dota 2).  If you are upgrading you might as well get the latest AMD Crimson driver Catalyst v15.9: http://support.amd.com/en-us/download

[2015-12-10 16:12] #678 closed, assigned to danginsburg

[2015-12-10 17:48] gdrewb-valve commented on #294
Right, and if you open that up and go into it you should see the file I listed.  "game/bin/osx64/dota2.app/Contents/MacOS/dota2" means that the file dota2 is in the MacOS folder under Contents, which is under dota2.app, which is under osx64, which is under bin, which is under game.

[2015-12-10 22:53] HarlemSquirrel opened #679 "Regression with Linux kernel 4.4rc4 and amdgpu"
I am using Arch Linux and things go really well with the open source amdgpu driver on linux 4.3 but I built 4.4rc4 today and the Dota 2 UI is REALLY slow to the point of not usable. Left 4 Dead 2 works fine.

Here is the console output when running steam from CLI...

<pre>
/home/hs/.local/share/Steam/steam.sh: line 161: VERSION_ID: unbound variable
/home/hs/.local/share/Steam/steam.sh: line 161: V

[2015-12-11 00:53] gdrewb-valve commented on #679
Do you believe this is a Reborn issue for some reason?  You're using the same Reborn binaries that were working fine and the only thing that changed is the kernel?

[2015-12-11 01:16] HarlemSquirrel commented on #679
Well I think it is because it works fine with Dota 2 and my GNOME desktop. There are no errors in my dmesg.

Running well with the 4.3 kernel I get this...

<pre>
$ steam
/home/hs/.local/share/Steam/steam.sh: line 161: VERSION_ID: unbound variable
/home/hs/.local/share/Steam/steam.sh: line 161: VERSION_ID: unbound variable
Running Steam on antergos  64-bit
/home/hs/.local/share/Steam/steam.sh: lin

[2015-12-11 01:19] gdrewb-valve commented on #679
When things go from working to not working is there a Reborn change or is only the kernel changing?

[2015-12-11 01:21] HarlemSquirrel commented on #679
Only the kernel changes.

I noticed that with kernel 4.4rc4 I get `[1210/174656:ERROR:nss_util.cc(1007)] Failed to load NSS libraries.` but I don't get this with kernel 4.3

[2015-12-11 01:23] gdrewb-valve commented on #679
It's possible that Reborn is doing something incorrectly and somehow 4.3 wasn't affected by it, but somebody with Linux kernel knowledge will need to figure out what it is.

The nss message is coming from CEF/WebKit and isn't likely to be too important.

[2015-12-11 01:27] HarlemSquirrel commented on #679
OK. I know that amdgpu is really new and still in the works. I just wanted to give a heads up in case there was anything you guys could do. Thanks for the quick reply!

[2015-12-11 11:46] Turmfalke2 commented on #669
@gdrewb-valve nice to hear. I will make sure to test for this again as soon as the update is deployed.

[2015-12-11 13:57] danslo commented on #378
@catichenor It's 15.10 but I've been having the issue in older (LTS) releases. I'm using Gnome (3.18.2, though older versions of 3.x had same problem) instead of Unity though.

[2015-12-11 13:59] danslo commented on #378
Nvidia bug report can be found [here](https://raw.githubusercontent.com/danslo/Dota-2/master/nvidia-bug-report.log.gz).

[2015-12-11 15:09] danginsburg commented on #667
Any improvement with 10.11.2 or the updated NVIDIA web driver?

[2015-12-12 12:09] p-lr commented on #655
+1000 to this one. I am on ubuntu 14.04 and i always had this issue.

[2015-12-12 13:37] planktonzp opened #680 "The gmae hasn't worked after yesterday ,there is the log,if you can help me,thx"
ERROR: ld.so: object '/home/roy/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/roy/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/roy/.local/share/Steam/ubuntu12_32/gameoverlay

[2015-12-12 13:45] planktonzp commented on #680
and the configure of dota2 is "vblank_mode=0 primusrun %command% -language schinese -international -perfectworld " before yesterday it was OK

[2015-12-12 13:47] Mattele commented on #667
Updated Nvidia web driver still runs very very bad, fps ranges from 17 to 43. Those drivers you provided seem not to be compatible with 650M. I will stick to the original drivers for now, and see if the crashes occur in 10.11.2

[2015-12-12 14:21] #680 closed, assigned to nobody

[2015-12-12 15:20] planktonzp commented on #476
@timxx 快来拯救我于水火吧2333 现在Dota2的libSDL貌似吧一些零散的模块相关都整合进去了，编译的时候有什么要注意的么？或者怎么修改才好

[2015-12-12 20:41] Tele42 commented on #667
@Mattele nvidia web drivers are very tightly linked to the version of macos you are running, follow the version matching at http://www.macvidcards.com/drivers.html.

[2015-12-12 22:25] Mattele commented on #667
This site suggest me the same version that I have right now. I presume they are mostly designed for Mac Pro, not Macbook Pro.

[2015-12-13 04:38] vadi2 commented on #30
It's still an issue. Enabling Windows/Command key to be bindable doesn't help, and I can't bind to something else even after enabling it. Pressing the left Alt key opens up the HUD for me (https://wiki.ubuntu.com/Unity/HUD) and minimizes the game, so it's pretty disruptive.

[2015-12-13 08:15] u00101010 commented on #30
It still does not happen to me always, but now I just can't see the pattern. After a few "successful Alt-clicks" that did not trigger the HUD, the upcoming alt-clicks will be unsuccessful no matter how simultaneously I press alt and click. Well, technically, the alt-click _is_ successful because the info will be written in chat, but then the window minimizes.

Perhaps making this "alt-click" key b

[2015-12-13 09:34] vadi2 commented on #30
It's not alt click - just press and release alt, and the HUD comes up. It's
a unity feature. The issue is that dota isn't consuming the event while in
full screen, in my opinion.

On Sun, 13 Dec 2015 6:15 pm Attila K. notifications@github.com wrote:

[2015-12-13 10:35] Mattele commented on #667
Checked it against 10.11.2 and normal drivers, crashes and freezes still occur.

They still disappear if I restart system just before playing dota. I'm also positive I didnt have those issues without SSD as my main drive. Could that be a problem?

[2015-12-13 14:15] timxx commented on #476
@ruizhipeng 不好意思，目前没有dota2环境，不能帮上忙了。。

[2015-12-14 03:07] derfs commented on #677
A message comes up beside dota 2 that says 'syncing' for about half a second then nothing happens. It says the reborn was 'installed' and acquired on 69-12-31. Clearly this is a bug since there's no such date.

Currently using a MacBook Air, which used to run dota just fine until downloading the reborn beta glitched and won't install now.

I've gone to lots of forums trying lots of different thing

[2015-12-14 18:20] gdrewb-valve commented on #677
I'll pass this on to the Steam team.

[2015-12-14 22:30] mrzonin opened #681 "game freeze"
after selecting a hero game freeze right when another player picks a character. Have to do hard restart. graphics all teared and pixelated but can still hear the sound.
same crash happens rarely at random in-game also.
having this problem since reborn.

I have tried everything to fix it: drivers, reinstall, verify, change settings and so on.

Processor Information:
Model: MacBookPro5,3
Vendor: Gen

[2015-12-15 03:13] ab5trakkt commented on #657
I've been hitting this issue every single time I start a match since this past
weekend. Sometimes the dota UI doesn't even load. I'm running this on a GTX 680, and I've tried it with both the 310 and 352.63 drivers.

[dumps.zip](https://github.com/ValveSoftware/Dota-2/files/62015/dumps.zip)

[2015-12-15 14:25] danginsburg commented on #672
I have fixed this issue.  It will be in a future Dota 2 update.

[2015-12-15 17:23] vhda opened #682 "Benchmark mode"
This ticket is to request a benchmark mode for Dota 2.
Below I'm adding a list of requirements that can be re-edited and updated according any comments added to this ticket.
- [ ] Command line enabled benchmark mode.
- [ ] Allow command line selection of video quality level.
- [ ] Demo game used in benchmark should include situations that are graphically intensive.

[2015-12-15 17:46] danginsburg commented on #682
This is all already possible.
- You can use +timedemo <demo_name> on the command-line.  The results will be written to game/dota/Source2Bench.csv.  The values in each column are described in the first line of the csv.
- The settings for each video quality level are described in game/dota/cfg/video_defaults_[0..3].txt and can be specified on the command-line
- What I usually do for a timedemo is do

[2015-12-15 17:46] #682 closed, assigned to nobody

[2015-12-15 18:02] gdrewb-valve commented on #681
The first suspect would be the graphics driver.  You mention you've tried different drivers, can you give more specifics on that?

[2015-12-15 18:07] danginsburg commented on #681
Also, can you try -gl_force_sm30 on the command-line to see if it helps?  If not, can you run with -con_logfile and post the contents of game/dota/console.log.

[2015-12-15 18:40] vhda commented on #682
Nice!
Thanks Dan.

[2015-12-15 19:21] vhda commented on #682
One question: do all replays exist in the server forever?

[2015-12-15 20:15] Mattele commented on #681
This sounds very similar to the freezes I experience in #667

OP, try to restart your Mac just before playing, tell me if that fix this issue, it works for me

[2015-12-15 21:46] mrzonin commented on #681
i tried the nvidia web driver - no luck.
restarting before playing doesn't help.
will test gl_force_sm30 and return

[2015-12-15 22:07] mrzonin commented on #681
-gl_force_sm30 didn't help.

Here is the log after reproducing the crash:

CreateDevice: Requested DX level 110, clamped to DX level 100
Unable to open GL shader cache TOC /Users/martinnaundrup/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/shadercache/gl/shaders.toc file - might not exist yet.
GPU reports 237MB available memory which is too low, using 300 MB
PERF WARNING

[2015-12-15 22:57] vhda commented on #682
Tried it as `steam -applaunch 570 +cl_showfps 2 +fps_max 0 -novconsole -w 1920 -h 1080 +timedemo_start 40000 +timedemo_end 41000 +timedemo 115788802` but it didn't work.

[2015-12-16 00:41] danginsburg commented on #682
You need to actually download a match.  You can do that from the "Watch" tab in-game.  It will put a replay in game/dota/replays/match_id.dem.  Copy the file to game/dota and then you do +timedemo match_id.  You can pick one of the popular tournaments for example.

[2015-12-16 04:22] Dream-math opened #683 "Cannot display words"
![2015-12-16-121451_1366x768_scrot](https://cloud.githubusercontent.com/assets/9656696/11832064/87c21b20-a3ef-11e5-81ce-549a3ef109f8.png)
![2015-12-16-121451_1366x768_scrot](https://cloud.githubusercontent.com/assets/9656696/11832069/8f6c2d20-a3ef-11e5-8832-60a51b798558.png)
Need help
I play on fedora 20

[2015-12-16 04:58] gdrewb-valve commented on #683
There are several issues here that this is a duplicate of.  Your graphics driver is likely the problem.  Can you post your full system info from Steam?

[2015-12-16 12:55] berendbaas opened #684 "[Mac] Random game crashes and other bugs"
Hi folks,
On my 2012 MBP the game recently started crashing randomly (I think since last update, but I can't be certain), or getting graphical glitches (inverted colors etc). Audio quality is messing up a lot of the time too (sounds like there's a highpass-filter on the audio signal, and affects all other audio sources while the game is running too).
Those are bugs I can't provide data to, but for

[2015-12-16 13:29] danginsburg commented on #683
Yes, this looks like a well known bug with mesa on Intel.  Assuming that is the case, please update to mesa 10.5.9+.

[2015-12-16 16:36] gdrewb-valve commented on #684
Your crash is in the Apple OpenGL driver so Valve doesn't have direct insight into what's going on, but we can make some checks from our side.

[2015-12-16 22:06] oipotty commented on #294
Hello,
My Macbook Pro is having this error appear before DCing from every single game. I was wondering what the status on a fix would be. My firewall is off, so it shouldn't be simply allowing connection.

Thank you!

[2015-12-17 03:15] gdrewb-valve commented on #294
Are you saying you actually get into a game and then get disconnected after you've successfully been in the game?  That would be a different issue.

Status for the original issue is the same, we don't know what causes it and we have no timeframe for a fix.  We will post here if anything changes.

[2015-12-17 03:53] ColonelHeisenberg commented on #294
Hey,

I don't know if this could help.
At first I used to be able to play practice games with bots. Then that stopped working. Same issue as with regular games and watching games.
Then I realized I could "play" via the demo option to test hero cosmetics. However, that just stopped working with the 6.86.

[2015-12-17 07:34] shadowlzd opened #685 "[MAC] Dota2 bug"
i have a bug running dota2 reborn on my mac. It dont show the animated portraits in the "last game" interface of the homepage. and when i move the mouse to the heros displayed in my profiles, it dont show anything either. but these problems dont happen on my pc. plz tell me how to deal with this. Thx!

[2015-12-17 12:55] danginsburg commented on #672
Fixed in Dec. 16th update.

[2015-12-17 12:55] #672 closed, assigned to danginsburg

[2015-12-17 15:39] Tele42 commented on #685
Duplicate of #54.

[2015-12-17 17:55] u00101010 opened #686 "[Linux] Arc Warden and Zeus portraits not animating"
Hi there,

The new portraits which have been added to the client with the recent update (Arc Warden's and Zeus') do not animate in pickscreen. (In-game HUD portraits work properly.)

 ![Example](http://i.imgur.com/s6sftRu.jpg)

They are also really bad quality. (Sorry I don't have a gif)

They don't animate on the Dashboard Menu's "Heroes" screen either, but neither does any other portrait so that

[2015-12-18 01:20] ackFacu commented on #667
I have the same crashes on linux AND windows, and I also have an ssd. So I think it is a bug of the game independent of the SO.

When it freezes, I cant do ANYTHING. Sometimes, I can press the restart button, and it does... But sometimes, i cant even do that, and I have to make a hard poweroff (press power off button for a few seconds).

I dont have the same issue as you on b, it always freezes wi

[2015-12-18 06:50] mrzonin commented on #681
Anyone?

[2015-12-18 13:30] danginsburg commented on #686
We have a fix for this.  It impacted OS X as well as Linux.  Fix will be in the next update.

[2015-12-18 14:37] AngryPenguinPL opened #687 "[Linux] game freeze when I try exit (close game) [from latest two patch]"
Hi.

When I try quit from game (close it) game instant freeze. So I can't propertly exit game, I need manually destroy dota2 process in system task manager :/

This bug is every I try close game.

I tested it on two computers:

Desktop PC with Linux Mageia 5x64 KDE
- gist: https://gist.github.com/xpris/b898150e756cd1b085f8

Notebook PC with Ubuntu 15.10 x64 Unity
- gist: I upload later, because Im

[2015-12-18 15:40] linrj123 opened #688 "[MAC] DOTA2 force mac to restart"
Since the latest update, my mac crash down every time when i open dota2, and it force it to restart.

[2015-12-18 15:50] MeioJo opened #689 "Hero screen is freaking out"
Hero screen is scrolling thru heros non-stop both in the hero screen and the customize hero (single hero) screen..

I can't look at any heros...

perma next on the heros and it looks random too...

[2015-12-18 16:35] ackFacu commented on #688
You will need more information... System information, and everything you can give... They are not gurus

[2015-12-18 17:10] MeioJo commented on #689
https://www.youtube.com/watch?v=C6NVSckEGnk

[2015-12-18 19:22] Tele42 commented on #689
Please include your system information as requested at https://github.com/ValveSoftware/Dota-2#system-information, in particular, any controllers that might be connected. This looks like a game controller is connected and has an uncalibrated analog stick.

[2015-12-18 19:40] MeioJo commented on #689
Ya sorry .. home for the holidays so it's my Moms computer ;)

os x 10.9.5.

3.2g i5

8gb ram ddr3

[2015-12-18 19:53] MeioJo commented on #689
Oh ya I have a G13 but the analog stick is set to f1, y, g, alt

[2015-12-18 19:57] MeioJo commented on #689
The Logitech G13 soft/version is 8.60.313

[2015-12-18 19:59] MeioJo commented on #689
Unplugged the g13 > start DotA and it still is happening...

[2015-12-18 20:16] KaanK95 opened #690 "Cannot launch Dota2"
Ever since wednesday, I can't start up Dota since it keeps on crashing and saying "Dota 2 has quit unexpectedly." I can't seem to find an answer for it since I've been searching the net for a while and nothing has helped me. Any suggestions or ideas that actually work? Thanks. :)

[2015-12-18 22:20] vadi2 commented on #689
Switch to the grid mode, allows you to pick a hero. I get it every now and then as well playing on Ubuntu with mouse and keyboard.

[2015-12-19 01:02] MeioJo commented on #689
@ vadi2  Did you watch the video?

Already in grid mode.. or am i missing something?

[2015-12-19 02:16] ackFacu commented on #690
They will need system information and if possible, some log, or anything you can give to help to understand whats is the problem

[2015-12-19 03:00] w1ld0g commented on #688
Hello there,
I'm also encountering the same issue on my macbook.
After the first big update of 6.86, the Dota menu opens, and then the Mac restarts one second later.

Mac specifications:
MacBook Pro (15-inch, Mid 2010)
OSX 10.10.5 (14F1509)
2.66 GHz Intel Core i7
8 GB 1067 MHz DDR3
NVIDIA GeForce GT 330M 512 MB
on SSD.

I really want to send you more information about the crash, but i simply doesn

[2015-12-19 03:27] gdrewb-valve commented on #688
In the Steam client there's a System Information option in the menus.  That'll show a bunch of information that you can post here.  The Failure Reports section will have logged crash dumps.

However, any problem that causes the Mac to restart is a system issue (by definition since it is a violation of privilege for a normal process to kill the entire machine) and won't be handled directly in this

[2015-12-19 03:29] gdrewb-valve commented on #681
The most likely explanation is still that this is a graphics driver problem.  Valve won't be able to get any more info unless we can repro it here and so far I don't believe we have.  This may take a long while to pin down.

[2015-12-19 03:30] gdrewb-valve commented on #683
Closing pending more info.

[2015-12-19 03:31] gdrewb-valve commented on #685
Closing duplicate.

[2015-12-19 03:31] #685 closed, assigned to nobody

[2015-12-19 03:33] gdrewb-valve commented on #687
This seems like a duplicate of #603, does that issue cover your case?

[2015-12-19 03:35] gdrewb-valve commented on #690
Let's start with the system information from Steam.

[2015-12-19 03:37] gdrewb-valve commented on #294
Using the network in bot matches and hero demo mode is now expected as those are doing network operations now (for example the demo hero mode is looking up inventory info from the back end).

[2015-12-19 03:38] gdrewb-valve commented on #689
Seems like a duplicate of #174, did you see that one?  It also involves bad input with a G13.

[2015-12-19 07:29] u00101010 commented on #686
It is now fixed, thank you! :blush:

(The "Heroes" screen still does not work, but this issue has been fixed.)

[2015-12-19 08:27] linrj123 commented on #688
same model

Mac specifications:
MacBook Pro (15-inch, Mid 2010)
OSX 10.11.2
2.53 GHz Intel Core i5
8 GB 1067 MHz DDR3
NVIDIA GeForce GT 330M 256 MB
on SSD

MacBook Pro (15-inch, Mid 2010)
MacBook Pro (17-inch, Mid 2010)
NVIDIA Geforce GT 330M  openGL version 3.3
openCL version 1.0

[2015-12-19 11:15] Mattele commented on #667
Interesting, but what kind of freeze do you have? For me it's that I still have sound (like music for example), the match is frozen, but somehow I still can cmd + tab out of the game and force quit game in the Dock. It doesn't completely freeze my computer

[2015-12-19 11:24] Mattele commented on #684
Hey, this is like my crash report #667. Notice how we both have pretty high "Time Awake Since Boot"

I strongly believe restarting Mac just before playing dota will fix this crash, as it happened in my case

[2015-12-19 12:18] Dream-math commented on #683
00:02.0 VGA compatible controller: Intel Corporation 2nd Generation Core Processor Family Integrated Graphics Controller (rev 09)
01:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Whistler [Radeon HD 6630M/6650M/6750M/7670M/7690M]

fedora20

[2015-12-19 12:39] MeioJo commented on #689
Yes I would have to say it is a match :)

however unplugging the G13 and then starting Reborn does not stop the issue from happening.

[2015-12-19 14:36] gdrewb-valve commented on #689
Closing in favor of #174.

[2015-12-19 14:36] #689 closed, assigned to gdrewb-valve

[2015-12-19 14:36] gdrewb-valve commented on #688
Can you post the Steam system information, as mentioned above?

[2015-12-19 14:47] ackFacu commented on #667
No, in my case, the computer completely freezes, i can't do ANYTHING. And the sounds repeats one and another time. So, it's impossible to take some data of the bug once it's freezed. I'dont know how to take more data.

I tried making a report of the use of ram and cpu every 1 minute, and save it, but everything looks normal

[2015-12-19 15:14] gdrewb-valve commented on #683
Can you post your full system information from Steam?  There's a System Information selection in the menu that gives you a bunch of text.

[2015-12-19 15:15] gdrewb-valve commented on #669
This should be fixed in the latest update.

[2015-12-19 15:17] gdrewb-valve commented on #644
The latest update should fix the xdg-open problem, do you still have issues launching in a external browser?

[2015-12-19 15:18] gdrewb-valve commented on #677
Closing as this isn't being handled by the Reborn team.

[2015-12-19 15:18] #677 closed, assigned to gdrewb-valve

[2015-12-19 15:19] gdrewb-valve commented on #679
Closing as this isn't a Reborn issue.

[2015-12-19 15:19] #679 closed, assigned to gdrewb-valve

[2015-12-19 15:19] MeioJo commented on #174
My 'Hero Screen is Freaking out" has been closed but I need to report a new wrinkle...

Main Page > Friends > Offline the system will not let me scroll thru my offline friends... it keeps forcing the scroll to be above the offline level.

[2015-12-19 15:37] Dream-math commented on #683
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  2100 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2015-12-19 15:46] gdrewb-valve commented on #174
You should open a new issue for that and we can check if it's the same thing or different.

[2015-12-19 15:57] ackFacu commented on #667
I made some things and now I had a flawless game
I Installed this libraries from AUR: (yaourt -S libs)

And I disabled the use of steam beta:

ANYWAY. Is too early to know if it was fixed up... I will make a few games more over the day, and I will let you know

EDIT:
3 games -> 0 freezes :dancers:
I will keep trying, if it freezes again, I will tell you. But, for now, looks fixed up. Byee! :D

[2015-12-19 16:21] MeioJo opened #691 "Offline Friends Scroll issue"
Main Page > Friends > Offline the system will not let me scroll thru my offline friends... it keeps forcing the scroll to be above the offline level.

https://www.youtube.com/watch?v=xDtiJ2b_RKM

os x 10.9.5

3.2 g i5

8 gb ddr3

G13 game pad soft/v. 8.60.313

[2015-12-19 18:54] linrj123 commented on #688
Processor Information:
    Model:  MacBookPro6,2
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x25
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  2530 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SS

[2015-12-19 19:05] phoerious commented on #644
Hard to tell because there is no live stream panel anymore.

[2015-12-19 19:48] AngryPenguinPL commented on #687
Look very smillar but in this topic this issues persist from few weeks and I have it only from last two update.

Today Is another update, I check it, maybe it fix this.

[2015-12-19 21:09] gdrewb-valve commented on #644
OK, closing until we can verify if there's still an issue.

[2015-12-19 21:09] #644 closed, assigned to gdrewb-valve

[2015-12-20 01:46] Tele42 commented on #683
@danginsburg's initial assessment still holds true, mesa version is older than a known render fix.

[2015-12-20 01:58] Dream-math commented on #683
OK, thanks, I will have a try.

On Sun, Dec 20, 2015 at 9:46 AM, Tele42 notifications@github.com wrote:

[2015-12-20 10:57] Turmfalke2 commented on #669
I can confirm that it is fixed.

[2015-12-20 10:57] #669 closed, assigned to gdrewb-valve

[2015-12-20 18:14] nemoo2 commented on #647
Request to reopen this issue. Tracepath shows an MTU of 1500 between my machine and the Valve servers. The game still disconnects frequently despite restricting it to an MTU of 576. Below is a snipped of the console.log

179.3871 /    672.52:  CGameResourceService::BuildResourceManifest(start)
179.3872 /      0.17:  CGameResourceService::BuildResourceManifest(finish)
<-- [client] split packet seq

[2015-12-21 01:27] gdrewb-valve commented on #647
It's unlikely your issue is related to Linux, you'll want to post at dev.dota2.com

[2015-12-21 01:29] nemoo2 commented on #647
Ok. Thanks for the quick reply.

On December 20, 2015 8:28:02 PM EST, Drew Bliss notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-12-21 13:15] mrdvc opened #692 "Massive FPS drop on macintosh after 6.86 and 6.86b"
Hi Valve,

I am using MacBook Pro mid 2012 with dedicated graphics (NVIDIA GeForce GT 650M 512 MB). Before 6.86 I was having stable 60-70 FPS, in teamfights it was going down to 55fps.

After the update I changed the graphics to the lowest possible and I still have 30 stable, 20-25 in teamfights. The game is unplayable on Mac currently. With previous graphics settings I was getting 20stable 10 in

[2015-12-21 13:54] #686 closed, assigned to danginsburg

[2015-12-21 13:56] danginsburg commented on #692
I test on this same Macbook Pro and have not seen this fps drop.  Can you provide a bit more information here?  What resolution are you running at?  Is it Exclusive Fullscreen or Desktop-Friendly fullscreen?  Is vsync on?  Please try desktop-friendly fullscreen with no vsync.  Also, it may be helpful if you run with -con_logfile and post game/dota/console.log.

[2015-12-21 13:57] danginsburg commented on #692
Also, post full system specs from Help -> Steam -> System Information.

[2015-12-21 14:00] danginsburg commented on #692
Another thing to check: make sure you are actually running on the Geforce GT 650M and not the HD 4000.  You can use gfxcardstatus to force it on: https://gfx.io/

[2015-12-21 14:03] danginsburg commented on #683
Yeah, definitely an issue with mesa 10.3.3.  Please update to 10.5.9+ it will fix the issue.

[2015-12-21 14:03] #683 closed, assigned to danginsburg

[2015-12-21 14:48] mrdvc commented on #692
TY for the fast responce. Yes i have GFX enabled and I have NVIDIA running.

I am playing at this moment with 30 FPS.

Here is the video settings -> http://i.imgur.com/Zk9pcAZ.png

When i say lowest, i mean lowest graphics possible :D

I am trying to find  Help -> Steam -> System Information. will post soon

[2015-12-21 14:55] mrdvc commented on #692
Processor Information:
    Model:  MacBookPro9,1
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2300 Mhz
    8 logical processors
    4 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SS

[2015-12-21 14:55] mrdvc commented on #692
I am still running Yosemite 10.10.0 though. Because once i went from Mavericks to Yosemite Dota was super laggy, but you fixed it for Yosemite and I stayed on that OS since.

[2015-12-21 15:41] danginsburg commented on #692
Hmm...I am not aware of any reason that 10.10.0 would be running that slow.  That being said, I am running on the same Macbook Pro with 10.11.2 and with the video setting you posted it runs at about 112fps in a local botmatch.  Can you please put -con_logfile in your Launch Options and then post game/dota/console.log.  Maybe there will be a clue what is going on.

[2015-12-21 15:52] mrdvc commented on #692
I am lost on that one. Can u guide me a bit.

I set -con_logfile in Launch Options -> http://i.imgur.com/MjN1DHP.png

Steamapps folder is on desktop (not sure why) and from there I go Desktop/steamapps/common/dota 2 beta/game/dota/ but there is no console.log file. I also started a bot game just to make sure "-con_logfile" took place.

[2015-12-21 15:54] mrdvc commented on #692
Here's the folder -> http://i.imgur.com/OorenEy.png

[2015-12-21 15:58] mrdvc commented on #692
I also tried completely restarting steam, and starting a bot match still no console.log file.

I even searched the whole steamapps directory

[2015-12-21 16:02] mrdvc commented on #692
Here is a screenshot from GFX just in case -> http://i.imgur.com/PuS6rO9.png . It says its running the NVIDIA, should i change from "dynamic switching" to "discrete only"?

[2015-12-21 16:13] danginsburg commented on #692
You set the command-line option correctly.  For me, the console.log is located in:

/Users/username/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/console.log

I suppose you can try doing something like find ~ -iname "console.log" to see where it is being written.  I don't think you need to force it to discrete only, but you can try.

[2015-12-21 16:44] mrdvc commented on #692
Ah yes, I made a desktop backup cause I wanted to reinstall steam. Ok i got the file.

Meanwhile i upgraded to 10.10.5, and I will to El Capitan later today.

http://kula9.com/console.log -> here is the file, i uploaded to my server

[2015-12-21 19:16] mrdvc commented on #692
Updated to El Capitan, fps is about the same. Tipping 30 as stable, 20 and less in fights

[2015-12-21 19:35] danginsburg commented on #692
You can try the NVIDIA El Capitan web driver: http://www.nvidia.com/download/driverResults.aspx/92173/en-us . You may also want to try Intel Power Gadget to see if perhaps your CPU is being throttled: https://software.intel.com/en-us/articles/intel-power-gadget-20

[2015-12-21 20:41] mrdvc commented on #692
I installed NVIDIA driver but i wasnt able to instal the Intel Power Gadget. The DMG starts but without results. I checked widgets and dashboard area couldnt find the Power Gadget.

With the new drivers there is no result still low fps.

Here is what I snapped from Activity Monitor about CPU usage:

http://i.imgur.com/kb3ffbu.png

If you can suggest me anything else I am open to anything, if not i

[2015-12-22 00:34] ghost opened #693 "[Linux] Game doesn't start, stuck on 'Running...' state from steam library"
Unable to run the game, on steam library it's stuck on the state: 'Running...'

If i try to run it using the terminal:

[code]

if i run the executable:

[code]

Game Path:
"/mnt/DATA_LIN/SteamLibrary/steamapps/common/dota 2 beta/"

| Name | Version |
| --- | --- |
| Ubuntu | x64 16.04 |
| Kernel | 4.3.0-5-generic |
| Mesa | 11.0.7 |

[2015-12-22 00:47] ghost commented on #693
I created a symlink in

[code]

And running the executable now works fine! :D

But runing the script dota.sh or running from steam library still doesn't work :/

[2015-12-22 04:57] ackFacu commented on #667
It didn't work... I guess that the previous was just lucky :S

In my last game I get disconnected like 5 times... Its awful. So we are on the begining..

[2015-12-22 17:59] gdrewb-valve commented on #693
This is expected if your system can't run the script (Steam runs the same dota.sh script).  Can you post your system specs so we know exactly what you're running?

[2015-12-22 18:55] ghost commented on #693
http://scellow.github.io/hardware/

Let me know if you need more info, i used hardinfo to generate that page

[2015-12-22 19:06] ghost commented on #693
Just in care, some more info:

https://gist.github.com/Scellow/35ecc432d1646fada81d

[2015-12-22 19:45] weltensturm opened #694 "Cannot remap window properly"
Some window managers break Dota, presumably because the game can't handle un- and remapping the window.
Example with the window manager "i3": Start Dota 2, wait for the window to appear, switch to a different workspace, switch back to the workspace holding the game. Now the picture is frozen and the game is unusable.

OS: Arch Linux 4.2.5-1
Window manager: i3 (Probably happens on every WM that unm

[2015-12-22 21:42] danginsburg commented on #693
One thing I'll note is @Scellow says he runs "sh dota.sh" which is not correct, it should just be ./dota.sh which may be why he got the error running that script.  Then the error running without the script would be because he is not running inside the steam runtime.  So I'm not sure either are the root cause.  If running ./dota.sh really doesn't work, that would be a clue, so post the output of th

[2015-12-22 22:14] ghost commented on #693
Hey @danginsburg

You were right, running the dota.sh script using ./dota.sh works great!

By runnin steam using ./steam.sh, here is what i got when i run dota

[code]

I remenber i had the exact same issue when i first installed steam on a fresh 16.04 Ubuntu install

I got rid of this 1st error by deleting

/home/scellow/.steam/root/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/libstdc++.

[2015-12-22 22:16] ghost commented on #693
I closed the issue it by accident, i don't know if i should close it, please let me know

[2015-12-23 00:54] gdrewb-valve commented on #693
This can be closed as there doesn't appear to be a Reborn problem.  The Steam runtime compatibility issue has many open tracking entries in the steam-for-Linux hub.

[2015-12-23 00:54] #693 closed, assigned to gdrewb-valve

[2015-12-23 00:55] gdrewb-valve commented on #694
Highly likely to be the same thing as #360.

[2015-12-23 02:17] mrdvc commented on #692
Today it got better, I dont know if these changes I did affected the performance, but I have around 55 stable tipping 60, and 40 in teamfights which is totally fine for me comparable to what I have few days ago

[2015-12-23 07:40] linrj123 commented on #688
problem still exists, i just installed dota2 under windows with the same computer, when i launch it the screen turns black. The good news is it didn't force my mac to restart, and it shows nvidia windows kernel driver is forced closed. so i think the problem is that the updated game is not compatible with GT330m, because i've just updated my video card drive before the installation.
btw, openGL un

[2015-12-23 09:00] weltensturm commented on #694
It doesn't say anything about video breaking, but maybe. It happens in all display modes for me though. It doesn't happen in CS:GO (any video mode), are you using the same SDL version (if even) there? I assume at least windowed mode should work then.

[2015-12-23 15:39] w1ld0g commented on #688
Strangely, I can confirm that "Dota 2 test" still works and do not restart at launch. (6.86 patch also)
What can I conclude from that? Im really puzzled.....

P.S
@linrj123 can you please confirm that "Dota 2 test" also works on your system?

P.S2
My system information:

Processor Information:
    Model:  MacBookPro6,2
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x25
    CPU Ste

[2015-12-23 15:52] gdrewb-valve commented on #694
The SDL in Reborn is not always in sync with the one in CS:GO, plus the applications use SDL differently.  We really need to get the SDL team to investigate but so far we haven't had any luck.

[2015-12-23 16:04] mhess126 opened #695 "Mouse cursor disappears when using Steam Controller"
Hi,

I'm having an issue playing Dota2 on Linux using the Steam controller.  At seemingly random (but frequent) times, the cursor disappears. Moving the physical mouse on my PC makes the cursor re-appear. I've seen a similar issue in some other games (Insurgency) so maybe it's a controller+Linux problem, and not a Dota problem.

[2015-12-23 16:17] ackFacu commented on #688
How I can able dota2 test? I have a similar problem (#667)

[2015-12-23 16:36] w1ld0g commented on #688
@elnll002  Doesn't dota 2 test just appear on your library when you install dota?
anyways... just get to: https://steamdb.info/app/205790/ (it's the app on steam db)
you should get an install link from there. (aka steam://install/205790)

P.S
I read #667, and personally, i don't think it's the same problem (for us, me and Lin, Dota 2 doesn't work at all)
But i really don't know, so forget it :)

[2015-12-23 18:31] tfhavingfun opened #696 "Enemy units not taking any damage from Riki's new ulti on Linux"
Just tried out the latest patch 6.86, and played a riki game, but it seems that enemy units are not taking any damage from his new ulti, Tricks of the trade. The channeling animation works, but no attacking animation.

Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x45
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2600 Mhz
    4 logical processors

[2015-12-23 19:18] Plagman commented on #696
Hi,

For general gameplay issues that are not specific to the Mac/Linux versions, please use the dev forums instead. In addition to that, Tricks of the Trade only affects hero units as of the latest update.

[2015-12-23 19:18] #696 closed, assigned to nobody

[2015-12-24 00:07] linrj123 commented on #688
@w1ld0g just checked dota2 test under windows because i dont have enough space under osx. It turns out the same problem.

[2015-12-24 01:34] gdrewb-valve commented on #688
Given that you're seeing the same issue under Windows it's possible you may have a hardware problem.  It's unlikely we'll get much farther from our end and as this isn't a Linux or Mac issue it's not something that will be tracked here but I'll hold it open for a bit.

[2015-12-24 06:46] linrj123 commented on #688
@gdrewb-valve  hey, this is absolutely not a hardware problem. there's a time (about 3 days ago under osx, but still after the first crash down) i can play when i change my using language of steam to english instead of Simplified Chinese. However this problem comes back after the update followed. i don't think i gotta have a hardware problem depends on the updates. i test under windows only becaus

[2015-12-24 10:51] weltensturm commented on #694
It doesn't seem to happen with dwm (which I copied), I'll try to figure out what it is

[2015-12-24 12:43] weltensturm commented on #694
Fixed it for my WM :) Apparently it didn't send Configure events on a ConfigureRequest, instead it just did XMoveResizeWindow. Still applies to i3, but that may be a bug on their part. Now I have the same problems as in #360 though

Update: This happens any time the window is resized to something different than the ingame resolution, even if the window is resized to the proper values instantly aft

[2015-12-24 13:55] gdrewb-valve commented on #688
The reason I mentioned a hardware issue is that there's something wrong in the system itself (software or hardware) if the machine is rebooting.  It's odd that the same thing would happen under entirely different OS's, so the cause may be lower down.  A Reborn update could have changed to something that triggers the problem, so having it occur from an update is possible.

As I mentioned it's only

[2015-12-24 18:40] woctezuma commented on #415
Thank you, it works fine now.

I have seen the issue mentioned on Reddit and it is a decent number of people who were impacted.

https://www.reddit.com/r/DotA2/comments/3y2zi1/til_if_youre_having_troubles_with_specific/

[2015-12-24 20:03] Vuccappella opened #697 "Can't bind '~' otherwise know as ' `' on keyboard."
So, I'm trying to bind my ` or other wise ~ key (same key) to a control group or anything in dota but I can't.

I've tried the launch option:

-input_button_code_is_scan_code

And i've also selected the extra options in the advanced hotkey menu which should allow me to bind this key but it doesn't work.

My keyboard has british layout and the ~ is next to the key Z.

Curiously my '§±' key worked w

[2015-12-24 20:29] Tele42 commented on #697
Duplicate of #268, being tracked at https://bugzilla.libsdl.org/show_bug.cgi?id=3076.

[2015-12-25 04:58] neko-kai opened #698 "[Linux] False Caps Lock press when pressing Alt"
If Caps Lock is set as a key to switch input sources, pressing Caps Lock once will cause next press of Alt to also send a fake Caps Lock press event. This doesn't happen in other games or in `xev`.

OS: Ubuntu 14.04

Message spew of pressing and releasing caps lock, then pressing and releasing left alt:

[code]

[2015-12-25 06:34] neko-kai commented on #698
Actually this is reproducible without Caps Lock being assigned as a layout switcher. Press Alt+Caps Lock twice, then next press of Alt will erroneously fire Caps Lock bind.

[2015-12-25 08:26] benlilley commented on #212
Sorry to comment on an old thread but I'm still having this problem. Nothing I can do seems to stop the mouse leaving the dota window and leaving the monitor while playing. I have screens side by side and when I edge pan on the right the mouse ends up on my other desktop and not in the dota window.

I've tried this on all window settings (fullscreen, exclusive fullscreen and windowed) but they all

[2015-12-25 13:09] fkonecny opened #699 "Problem with binding numbers on the top of the keyboard in Linux"
The problem occurs only when I am using a different keyboard layout than english one. If I want to map keys to the control groups which are usually 1, 2, 3, 4, 5, 6 I cannot do so with other layout than english or rather to say that has a different system bindings for these keys on the keyboard.

E. g.
english keyboard layout has on the top bindings 1, 2, 3, 4, 5, etc.
slovak keyboard layout has o

[2015-12-25 14:21] gdrewb-valve commented on #698
The keydown / keyup message are getting sent from SDL so as far as Reborn knows that keypress happened.  I'll pass this on to the SDL team.

Can you post your specific system information in case your system software has something to do with this?

[2015-12-25 14:23] gdrewb-valve commented on #697
Closing duplicate.

[2015-12-25 14:23] #697 closed, assigned to nobody

[2015-12-25 14:24] gdrewb-valve commented on #699
Key bindings are layout-specific by default.  Go to the Advanced section of the key binding settings page and select the checkbox for positional bindings.  Do things work as you expect then?

[2015-12-25 17:51] fkonecny commented on #699
That worked, thank you very much. Sorry for the trouble with my lack of digging around.

[2015-12-25 17:51] #699 closed, assigned to gdrewb-valve

[2015-12-25 21:43] neko-kai commented on #698
@gdrewb-valve
Can't reproduce this in Openbox, this bug is probably Unity/Gnome exclusive.

I have a standard Ubuntu setup, no IMEs or anything else that could mess with input. [sysinfo](http://pastebin.com/aBk9NsMC)

[2015-12-27 06:40] dssouza-ti opened #700 "[Linux] Dota 2 consumes all my CPU every match at midgame"
Hello! I'm having a issue with my dota2 client for linux.
Around 20~30min of every match, my cpu goes crazy and gets 100% on the four cores. So I can't play or use my pc, even the alt+tab function takes a lot of time. When I manage to kill the dota2 process, exit steam, and enter the game again, I can reconnect to the match and play normally until the 20~30 minute mark of the next match, when it h

[2015-12-27 10:40] gxgani commented on #692
I would like to add that this started happening before 6.86 was released. I noticed it especially during the hot-fixes prior to 6.86.

Intel HD4000

[2015-12-27 14:41] u00101010 opened #701 "Soul Assumption indicator bars are missing sometimes"
Hi there,

I gues this might not be a Linux-specific issue, although at least I get some feedback here that you at least got the report and read it.

So the Soul Assumption indicator bars that normally appear above Visage's head when the ability is learned sometimes simply disappear. I've read reports on dev.dota about the bars disappearing, however, those were all related to the Visage player dis

[2015-12-27 20:58] ArnaudAndre commented on #700
I wonder if your problem may be caused by your CPU getting throttled to low performance levels due to say, high temperatures. In any case your system infos may help (steam main window -> help -> system informations).

[2015-12-27 23:13] dssouza-ti commented on #700
Hi, I did have problems with high temperature before, it causes my pc to shutdown when it goes high enough. I fixed this already, and my pc is at normal temperature all the time. I wonder if there's another reason that could cause my CPU to get throttled to low performance as you say.

anyway, this is my system information, let me know if you need something else.

Processor Information:
    Vendor

[2015-12-28 01:59] gdrewb-valve commented on #700
I don't believe anybody at Valve has seen behavior like that, we'll see if we can repro.

[2015-12-28 01:59] gdrewb-valve commented on #701
Unlikely to be a Linux/Mac issue, I'll let the larger team know.

[2015-12-28 04:52] ackFacu commented on #667
Close mine, it is a hardware issue :'(

I tried play a lol (I almost go to a dark place), and I had the same issue... For now i tried cleaning inside my cpu, and I really hope it works :'(. If not, I assume it is the GPU (anyway it is also the CPU :'( ) Bye bye computer (? I hope not, she is my love :'(

[2015-12-28 11:22] triadiprabowo opened #702 "Dota 2 won't start (Keeps FC)"
Hi,

After latest updated 6.86 I can't start up Dota 2 on my PC running on Windows 8.1, just shown preparing to launch dota then usually new window will appeared but its not.

Trying:
- Verify integrity game cache
- Change download region
- Restarting Steam and Windows

[2015-12-28 11:23] triadiprabowo commented on #702
Sorry didn't read this repos only for Linux and Mac. Closed

[2015-12-28 11:23] #702 closed, assigned to nobody

[2015-12-28 15:18] gdrewb-valve commented on #667
OK, thanks for the update.

[2015-12-28 21:51] dssouza-ti commented on #700
OK. Thank you very much. If I notice any change of behaviour or if I somehow manage to find what is causing this problem, I'll reply to this post.

[2015-12-30 19:10] curtsywithanger commented on #688
I've been getting crashes now on my iMac for that last week or so. Sometimes it will play a whole match and be fine, other times, like just recently, it will crash when I'm simply trying to load a bot match. I cannot restart my computer until I unplug it from the wall and plug it back in. Upon restart there is no error message given like there would be from a kernel panic crash. Without an error m

[2015-12-31 13:48] nisbahmumtaz commented on #234
Running Windows 7 x64, realized I never updated Windows.
After running Windows Update, got the same problem.
http://files.catbox.moe/f53806.png

Updating drivers didn't help. Running a mobile Nvidia card (GT750M), on i7-4100MQ.

[2015-12-31 19:49] danginsburg commented on #692
@mrdvc I am going to  close out this bug given the performance has improved for you.  It is unfortunate that we don't know what was causing the performance degradation.  I am not aware of anything we changed in the engine over this time period that would have caused this, but glad to hear it's improved.

[2015-12-31 19:49] #692 closed, assigned to danginsburg

[2015-12-31 19:51] danginsburg commented on #667
@Mattele I'm not sure there is much more we can do to help with this bug so I'm going to close it out.  The fact that it works fine from a clean start to me indicates it is a problem with your system or the driver, and not the game.  I would recommend reporting the issue to Apple and/or NVIDIA.

[2015-12-31 19:51] #667 closed, assigned to danginsburg

[2015-12-31 19:54] danginsburg commented on #684
Similar to #667, I would recommend filing a bug with Apple and/or NVIDIA.  I test on a Macbook Pro 2012 with NVIDIA GT 650M and have never seen this.  With the crash being in the OpenGL driver I'm not sure there is much more we can do to help.

[2015-12-31 19:54] #684 closed, assigned to danginsburg

[2016-01-02 07:04] gdrewb-valve commented on #688
Reborn can't cause a machine to lock up like that even if it wanted to, that's a system / hardware / driver problem.

[2016-01-02 07:10] anilanar opened #703 "[MAC] Repick doesn't work after random"
How to reproduce:

1) Start normal/ranked all pick match (doesn't work in bot matches)
2) Wait until hero selection screen
2) Click on "Random Hero"
3) Click on "Repick"

What happens:
1) Hero is not repicked
2) Text that shows remaining time goes up in the layout (its vertical position changes)

[2016-01-02 13:15] kLeZ commented on #117
Seems that running Dota2 with "optirun -b primus %command%" solves the problem.
I played Dota2 tutorials even with the steam overlay enabled and working. At this point seems that the issue is with VirtualGL.

[2016-01-02 14:57] cosaryus commented on #294
one year pass, anything new? :P

[2016-01-02 15:36] curtsywithanger commented on #688
After doing more research on my particular issue, I'm inclined to agree that Reborn isn't causing the issue, but is a catalyst for it with my particular machine. It seems what I'm experiencing is more a defect in this batch of iMacs than with any software, the shut downs just happen more frequently and in sequence while playing Dota.

For anyone else with a late 2012 iMac, you may actually be expe

[2016-01-02 17:00] gdrewb-valve commented on #703
Unlikely to be a Mac/Linux issue.

[2016-01-02 20:17] VoZZZup opened #704 "[OS X]failed to load steamui.dylib"
Reinstalling does not help. After Jan,1 update this error comes again and again.

[2016-01-02 20:31] Plagman commented on #704
Can you try restarting your Mac? You should be able to run Steam again after that.

[2016-01-02 21:49] gdrewb-valve commented on #704
This is a Steam issue and not a Reborn issue, closing.

[2016-01-02 21:49] #704 closed, assigned to nobody

[2016-01-02 23:40] dbag2 opened #705 "Bounty Gold Wrong"
I started a lobby and entered the game.  I created a bot and killed it before the timer reached 0:00.  I received 458 gold.  I checked the calculation on http://dota2.gamepedia.com/Gold and i can't find a way to get that number.  (I tried multiple combinations of the bot killing me and buying the exact same items as the bot to ensure the net worth was identical -- either way 458 gold.)  Is the inf

[2016-01-02 23:53] 14droplets opened #706 "Core Dump on Minimize (Alt+Tab, Ctrl+Alt+D)"
### Bug details:

Sometimes (quite often actually) dota 2 process right after a minimize event starts consuming all the memory it can find and than crashes.
### Clues:

OS journal contains stack trace of dota 2 process: https://gist.github.com/Snork2/3f95f57f456cf8e31c53
There is several core dumps, I did not knew which one is needed, so I uploaded all of them here: https://drive.google.com/folder

[2016-01-03 01:13] w1ld0g commented on #688
hello @curtsywithanger , and welcome.
The different random crashes on Mac @Dota2 aren't so rare, i had them alot before (sometimes more, sometimes less)
Many people complained this, in many versions of the game, but we don't want address that issue here.
We opened this bug about: "restart upon every single start of the Dota 2 application (or after few seconds)" (after patch 6.68), Not the random c

[2016-01-03 01:18] gdrewb-valve commented on #705
This issue tracker is for Mac and Linux issues, but I'll pass this on to the larger team.

[2016-01-03 01:21] dbag2 commented on #705
thank you :)

[2016-01-03 01:23] gdrewb-valve commented on #688
I don't know exactly what the problem is so it's hard to speculate on whether switching GPUs would help or not.  I don't think it's worth going out and buying a new one just to experiment as it could very easily be something else.  I'm guessing on no information, though, as we have no repro here to look at.

[2016-01-03 10:19] linrj123 commented on #688
@w1ld0g , hello, i play games everyday and nothing wrong except dota2. I'm in college dormitory so i don't have other machines to test. There aren't many complains till right now, so i think dota2 reborn runs well on the others. As i mentioned under windows, there is a warning says 'nvidia windows kernel driver is forced to quit' every time when i launch dota2, i bet the problem probably is the ga

[2016-01-04 09:16] Zay-Afk opened #707 "Dota 2 wont launch on mac"
after installing dota on my imac i could not launch it. At first I got an error message saying i didnt meet the graphics card requirement but now i dont even get an error message. I click play it says syncing and then nothing happens. Any tips or explanations?

Specs:
AMD Radeon HD 6750M 512 MB

 Mac OS X Lion 10.7.5 (11G63)

4 GB 1333 MHz DDR3

[2016-01-04 09:18] Zay-Afk commented on #707
tried the whole verifying files and reinstalling tricks already btw

[2016-01-04 12:06] Narthorn commented on #584
Having the exact same issue with xmonad on Archlinux as well : dota logo appears, then hangs on black screen with only in-game cursor showing ; dashboard never shows up.
Running the game with -fullscreen fixes it. After selecting windowed mode through settings, resizing the window causes it to hang again.

Here are my specs :

[code]

Ideally, it would be great if linux games in general would stop

[2016-01-04 13:05] danginsburg commented on #707
Minimum requirement is 10.9.  You will need to upgrade OS X.

[2016-01-04 13:05] #707 closed, assigned to nobody

[2016-01-04 17:02] ErnestasJa commented on #360
For me when I tab out of window dota2 freezes completely and I have kill the process. Though killing the process freezes my whole system..

[2016-01-05 02:04] gdrewb-valve commented on #706
I was unable to repro any problems on my Linux system.  Your stack trace shows an abort inside of the NVIDIA OpenGL driver so this may be a driver issue.  If you look on the steam-for-linux repo there are some known issues with the 358 drivers.

[2016-01-05 02:05] gdrewb-valve commented on #691
This doesn't appear to be platform-specific and I've passed it on to the larger team.

[2016-01-05 02:05] #691 closed, assigned to gdrewb-valve

[2016-01-05 02:06] gdrewb-valve commented on #703
This isn't platform-specific and I've passed it on to the larger team.

[2016-01-05 02:06] #703 closed, assigned to gdrewb-valve

[2016-01-05 02:06] gdrewb-valve commented on #701
Passed on to the larger team.

[2016-01-05 02:06] #701 closed, assigned to gdrewb-valve

[2016-01-05 02:07] gdrewb-valve commented on #690
Closing pending more info.

[2016-01-05 02:07] #690 closed, assigned to gdrewb-valve

[2016-01-05 02:07] gdrewb-valve commented on #670
@xpris, are you still getting regular crashes?

[2016-01-05 02:08] gdrewb-valve commented on #687
Is this still happening?

[2016-01-05 05:22] p-groarke opened #708 "dota_shop_recommended_open doesn't work"
Can't set the option so the suggested popup doesn't appear. I've reported this a long time ago, but still no resolution :/

[2016-01-05 06:32] gdrewb-valve commented on #708
Where did you report it?  This forum is only for Mac and Linux specific issues so this isn't really the right place.

[2016-01-05 06:39] p-groarke commented on #708
Well I can't test on windows, I report all my bugs here. Maybe you could make sure its in your bug tracker?

Here was the original thread, little less than a year ago http://dev.dota2.com/showthread.php?t=159045

edit: Before Reborn.

[2016-01-05 06:41] Zay-Afk commented on #707
thanks appreciate the quick reply love dota 2 keep up the good work

On Mon, Jan 4, 2016 at 7:05 AM, Dan Ginsburg notifications@github.com
wrote:

[2016-01-05 06:51] gdrewb-valve commented on #708
dev.dota2.com is the right place and it looks like you've bumped that thread so everything's good on that front.

[2016-01-05 06:51] #708 closed, assigned to gdrewb-valve

[2016-01-05 13:21] tarriel opened #709 "Dota browser not closing"
If I go to the watch tab, bring up the tournaments, click view, in the view box click on the tournament website link.  wait for it to load, click reload, wait for it to load,  after this you are locked in a loop and can't bring up the tournaments or watch etc, swapping to shop, heroes, learn etc doesn't break the loop, clicking the X to close the browser doesn't break the loop.  Every time you ret

[2016-01-05 15:33] p-groarke commented on #708
Alright, thank you :)

[2016-01-05 15:40] gdrewb-valve commented on #709
Not platform-specific, I've passed this on to the larger team.

[2016-01-05 15:40] #709 closed, assigned to nobody

[2016-01-05 15:43] AngryPenguinPL commented on #687
No, bug gone. Thanks.

[2016-01-05 15:43] AngryPenguinPL commented on #670
For few last games I not see any crash. Thanks.

[2016-01-05 15:44] gdrewb-valve commented on #687
Thanks, closing.

[2016-01-05 15:44] #687 closed, assigned to gdrewb-valve

[2016-01-05 15:45] gdrewb-valve commented on #670
Thanks, closing.

[2016-01-05 15:45] #670 closed, assigned to gdrewb-valve

[2016-01-05 18:34] gdrewb-valve commented on #705
I haven't gotten any answer so far.  I'm closing this but if they respond I'll post back here.

[2016-01-05 18:34] #705 closed, assigned to gdrewb-valve

[2016-01-05 21:07] tarriel commented on #709
I run Mint linux, but I have since had this verified by someone running windows.

[2016-01-05 21:12] gdrewb-valve commented on #709
Verified meaning they verified the problem also happens on Windows?

[2016-01-05 21:42] tarriel commented on #709
Yes,  meaning that they could reproduce the same behaviour under Windows, Not sure which version of Windows they run though.

[2016-01-05 21:43] gdrewb-valve commented on #709
OK, thanks for the confirmation.

[2016-01-06 10:10] Turmfalke2 opened #710 "[Linux] empty popup"
hi,
In the new stats page of the player profile, there is an empty mouseover popup.

![dota_2_reborn_bug2](https://cloud.githubusercontent.com/assets/5174562/12140165/fdb0cdfa-b465-11e5-8702-15d15189ebf4.png)

[2016-01-06 13:43] danslo commented on #378
This has been solved for me with the `361.16` driver. Thanks a lot @catichenor .

[2016-01-06 13:51] danginsburg commented on #378
Great, glad to hear it!  Closing.

[2016-01-06 13:51] #378 closed, assigned to danginsburg

[2016-01-06 18:41] gdrewb-valve commented on #710
Duplicate of #54, that's a hero movie.

[2016-01-06 18:41] #710 closed, assigned to nobody

[2016-01-07 11:37] rgehlen opened #711 "SDLAudioDev2 thread high CPU usage - poll() loop"
When I launch dota2 the CPU usage even in idle is not as expected. In htop I can see SDLAudioDev2 thread bouncing around between 80-100% CPU usage. When tracing the thread it just does poll() a lot.

Note that I use pulseaudios networking features (module-native-protocol-tcp) so this could be related but I'm not sure.

[2016-01-07 16:43] FalconBR opened #712 "[Linux] Items missing from my inventory!"
I was about one year, maybe more, without playing dota 2, and this week I was back and I couldn´t find my keys on my inventory!
What can we do about it?

[2016-01-07 16:47] p-lr commented on #655
Are there at least workarounds to use before this issue is fixed?

[2016-01-07 16:50] Tele42 commented on #712
@FalconBR This issue tracker is for technical issues with the mac and linux client of Dota 2, not account management.

[2016-01-07 17:00] FalconBR commented on #712
So, missing items from inventory is not a Linux bug?

[2016-01-07 18:23] gdrewb-valve commented on #711
This thread is from SDL and not Reborn but I can pass this on to the SDL devs.

[2016-01-07 18:25] gdrewb-valve commented on #712
I believe Tele42 was thinking you were asking about getting your inventory fixed, in which case this is not the place.  If you're just reporting the bug that's fine but there's no reason to believe it's Linux-specific so you would be better off reporting it in the regular dev forums dev.dota2.com.

[2016-01-07 18:25] #712 closed, assigned to gdrewb-valve

[2016-01-07 18:27] gdrewb-valve commented on #655
We don't know what the problem is so it's hard to say what might work around it.  It doesn't occur here at Valve, plus as I mentioned previously Reborn isn't doing any of its own window management (that's SDL) so we've been waiting to see what the SDL devs might say.

[2016-01-07 19:12] p-lr commented on #655
I found a workaround, and i can tell you more about the issue. The problem seems to appear when the game is launched from steam (click on the "play" button).

Workaround :
1- In the steam client, right click on "dota 2" > properties. In the "general" tab, i clicked on the button "create a shortcut on desktop".
2- Close steam and dota2.
3- Launch dota2 from the shortcut on the desktop. I got this :

[2016-01-07 19:15] gdrewb-valve commented on #655
Interesting, thanks for the information.

[2016-01-07 20:13] vadi2 commented on #655
I can't confirm the workaround atm but I can confirm that I've always launched Dota from Steam.

[2016-01-08 20:39] gdrewb-valve commented on #597
Reborn is calling SDL_SetWindowIcon so it should have something appropriate when running, I'll check with the SDL devs.

Once that's resolved the Steam issue should be reported to the Steam team and this will be closed out.

[2016-01-08 20:40] gdrewb-valve commented on #531
This isn't a Linux-specific issue and will be handled by the larger team (they may have fixed it already), closing.

[2016-01-08 20:40] #531 closed, assigned to nobody

[2016-01-08 20:41] gdrewb-valve commented on #17
This isn't a Mac or Linux specific issue so you'll want to report this as dev.dota2.com instead.

[2016-01-08 20:41] #17 closed, assigned to nobody

[2016-01-08 20:42] gdrewb-valve commented on #504
This isn't platform-specific and will be handled by the larger team (it may have been fixed already), closing.

[2016-01-08 20:42] #504 closed, assigned to nobody

[2016-01-08 20:43] gdrewb-valve commented on #488
Is anybody else seeing this problem?

[2016-01-08 20:47] gdrewb-valve commented on #454
I just tried this and it worked properly for me, are you still seeing the issue?

[2016-01-08 21:31] ArnaudAndre commented on #597
It's already been reported to the steam team almost three years ago in bug 989 I linked in the OP and [their response](https://github.com/ValveSoftware/steam-for-linux/issues/989#issuecomment-12836269) was :

Each studio making their game available on linux has to properly configure their repository and the steam team doesn't want to fix it for you.

[2016-01-08 21:45] gdrewb-valve commented on #597
Sorry, I misread your original post, thanks for the corrrection.

[2016-01-08 22:24] ghost opened #713 "[Linux] Can't start game since latest update [01/08/16]"
➜  linuxsteamrt64  ./dota2
Using breakpad crash handler

I'm stuck there, no matter what, using sh script or launching using steam library, same result

Ubuntu 16.01 Alpha 1 x64

i3 4150
HD 7770 - Open Source Driver
kernel: 4.3.0-5-generic

[2016-01-08 22:33] ghost commented on #713
Restarted steam and it now works fine!

[2016-01-08 22:33] #713 closed, assigned to nobody

[2016-01-08 22:50] ivanradanov opened #714 "[Linux] Keyboard input does not work as intended"
I use the i3 window manager on Debian testing linux. I use the setxkbmap command to enable a Bulgarian keyboard layout:

[code]

When I start Dota 2 while on the English layout, input works as intended, however, if I start the game while on the Bulgarian layout (switching to English in game does not fix this):

What does NOT work:
- q,w,e,r (casting spells)
- z,x,c,v,b,n (using items)
- attack com

[2016-01-08 23:19] gdrewb-valve commented on #714
This is by-design.  Go to the Advanced section of the key bindings settings page and select positional bindings and then things will work as you expect.

[2016-01-08 23:19] #714 closed, assigned to nobody

[2016-01-09 00:14] Forty-Bot opened #715 "Dota fails to complete loading process"
I have encountered #437 for a second time, however the old fix does not work. This occured after I updated my computer from Fedora 21 to Fedora 23 using Fedora's update tools (such as dnf distro-upgrade) on December 18-19, 2015. I encounter the symptoms of that bug whenever I launch the game with a `game/dota/cfg/machine_convars.vcfg`: the game stops allocating memory at around 550-600 mb, and the

[2016-01-09 00:17] fumazu commented on #655
I can confirm the workaround. And I don't know if it's obvious by now, but it also works for other games such as _Civilization 5_.

[2016-01-09 00:24] gdrewb-valve commented on #715
As with the other issue since there's no actual failure it's difficult to say what might be going wrong.  We'll have to come up with a repro somehow, which will not be easy.

[2016-01-09 00:45] timfitzzz opened #716 "[Mac] Map scroll towards upper edge locks briefly in Desktop-Friendly Fullscreen"
As of yesterday's patch, when I push the mouse to the top edge to scroll up, there is a pause upon contact with the edge of the screen. During this pause there is no refresh of the graphics within the game, which means that when rendering eventually resumes there is a jump to the normal map position. This lasts probably a little less than a second -- long enough to make fine scroll control impossi

[2016-01-09 04:36] gdrewb-valve commented on #715
sound_device_override indicates which sound device to use, so it appears the problem is with that sound device.  That makes sense given the hangs you see manipulating settings; the sound device (which Reborn accesses through SDL's abstraction) is not behaving well.

[2016-01-10 01:31] HarlemSquirrel opened #717 "Random crashes/freezing with amdgpu and Fury X"
So I am using a Sapphire R9 Fury X with Antergos and the open source amdgpu driver. I am currently running the 4.4rc8 kernel and am getting random freezes or crashes about once per hour or so.
Software versions:
    4.4.0-rc8-g02006f7a
    OpenGL version string: 3.0 Mesa 11.1.0

GPU hardware:
    OpenGL renderer string: Gallium 0.4 on AMD FIJI (DRM 3.1.0, LLVM 3.7.0)
    01:00.0 VGA compatible con

[2016-01-10 01:52] Tele42 commented on #717
This should also be reported to the mesa devs, also please include any CrashIDs related to the crash here for a valve dev to see where it is crashing.

[2016-01-10 02:27] Plagman commented on #717
Looks like the graphics driver is mis-programming the hardware and causing GPU faults and system freezes; this tracker is for issues with Dota2 itself, not third-party drivers.

[2016-01-10 02:27] #717 closed, assigned to nobody

[2016-01-10 06:16] planktonzp commented on #488
@gdrewb-valve Maybe just you and me,but most chinese players who use linux will find here soon or later,and maybe someone can bring a surprise to both you and the team of Dota2 on linux

[2016-01-10 06:20] planktonzp commented on #488
Or bring a bug ,I guess, :sweat_smile:

[2016-01-10 14:36] HarlemSquirrel commented on #717
OK, thanks guys, sorry for the confusion.

[2016-01-11 19:32] gdrewb-valve commented on #597
There should be an icon registered for Linux now, can you try this again?

[2016-01-11 19:32] #597 closed, assigned to gdrewb-valve

[2016-01-11 23:44] AngryPenguinPL commented on #597
For me (Ubuntu 15.10 x64) working now fine :)

[2016-01-11 23:44] ArnaudAndre commented on #597
Yes ! It's woking now ! Thank you.

[2016-01-12 02:12] gdrewb-valve commented on #716
I'm not able to repro this on my Mac.  We'll have to try and see if we can make it happen somehow.

[2016-01-12 15:18] ghost opened #718 "[Windows & Linux (OSX too if i remenber correctly)] No Taskbar icon"
This in incredible, that's still not fixed in all of your games

Please do it asap that's really frustrating

[2016-01-12 19:48] Tele42 commented on #718
Dota 2 has an appropriate icon in the taskbar when I alt-tab away from the game here on Gentoo Linux with KDE 4.

[2016-01-12 20:57] gdrewb-valve commented on #718
This repo is for Mac-and Linux-only bugs in Dota 2 Reborn so this isn't the right place to report the issue.  Also Reborn has a proper taskbar icon on Windows and Mac.  Whether it works on Linux depends on your window manager but, as Tele42 mentions, it definitely does work when it can.

[2016-01-12 20:57] #718 closed, assigned to nobody

[2016-01-12 21:10] ghost commented on #718
On windows 8.1 the icon appear once, then disapear when i alt-tab and i switch back in the game by clicking in the taskbar icon

It's the right place cause i have the issue also on Ubuntu 16.04 x64, the icon is merged with steam icon group

cf: https://github.com/ValveSoftware/Counter-Strike-Global-Offensive/issues/510

I have no idea why you closed the issue, since the issue i have also affect li

[2016-01-12 21:15] ghost commented on #718
Here is a screenshot in case you don't believe me:

![Screenshot](http://i.imgur.com/UE2gZFQ.png)
http://i.imgur.com/UE2gZFQ.png

[2016-01-12 21:18] gdrewb-valve commented on #718
As I mentioned this repo is for Mac-ONLY and Linux-ONLY bugs.  Bugs which occur on all platforms (they happen on Windows and Mac and Linux) are handled by the larger team.  That forum is at dev.dota2.com

[2016-01-12 21:21] ghost commented on #718
Ohh ok i got it! well sorry for the inconvenience then, i'll post it on the forum you mentioned

[2016-01-13 05:18] timfitzzz commented on #716
Cool -- thanks for having a look. Here's a gif of what I'm experiencing: http://gfycat.com/VainSorrowfulKissingbug . It's not as long as I remembered -- it's only a brief pause -- but it still manages to have the effects on gameplay that I described. You can see that there is consistently a little delay on mousing to the top of the screen, and that it isn't present when mousing down, left, right,

[2016-01-13 22:32] gdrewb-valve commented on #615
Does this crash still happen?

[2016-01-13 22:54] alek-beloff commented on #615
No, everything is ok, thanks

четверг, 14 января 2016 г. пользователь Drew Bliss написал:

[2016-01-13 22:55] gdrewb-valve commented on #615
Closing, thanks.

[2016-01-13 22:55] #615 closed, assigned to gdrewb-valve

[2016-01-13 22:56] mikonium opened #719 "[Mac] Dota makes trackpad unfunctional until system restart"
After I close dota, my trackpad can no longer hold the down state or register the hover state -- I can click but I can't drag or hover. It makes the trackpad fairly worthless until I restart my computer to reset the trackpad.

I've noticed this problem only occurs if I move the trackpad during gameplay (which is hard to avoid since my wrist usually ends up brushing it while I press buttons furious

[2016-01-13 23:23] ahmadaltayeh2001 opened #720 "dota 2 launch problems"
iam trying to launch dota 2 on linux ubuntu 14.04 and it says missing executable , i tried everything on steam support but it didnt work

[2016-01-13 23:24] fumazu opened #721 "[Linux] Game randomly crashes when mini/maximizing"
Maybe related to #706

No reliable repro for this but sth like:
1. Open Dota 2
2. Use Alt+Tab to minimize the game or bring it back into focus
3. Game crashes from time to time

Happened 2 times today, see _Recent Failure Reports_ below.

**System information:**

[code]

[2016-01-14 00:17] ArnaudAndre commented on #720
Are you maybe using the 32 bit version of ubuntu ? Did you just install dota or dit it ever work on this computer ?

[2016-01-14 00:33] gdrewb-valve commented on #719
The problem persists even after you've completely exited Reborn?  You should report this to Apple also.

[2016-01-14 00:35] Tele42 commented on #720
It should be noted that Dota 2 is 64 bit only since switching to Source 2.

[2016-01-14 00:37] gdrewb-valve commented on #721
Unfortunately the report were discarded so we don't have them here.  If you get one that has an ID instead we can take a look at it.  Also if you find a solid repro we can look into it as we don't have a repro here.

What video mode are you running Reborn in?

[2016-01-14 00:54] mikonium commented on #719
Yes, it persists until I restart.

[2016-01-14 01:18] fumazu commented on #721
Those files were still in my /tmp/dumps/, so here you go: https://drive.google.com/folderview?id=0BzG05wyuCPL7NW5Sb1FONmwzdkk&usp=sharing

Video Mode: Desktop-friendly fullscreen

[2016-01-14 01:29] gdrewb-valve commented on #721
Both of those crashes are in the NVIDIA OpenGL driver and are likely NVIDIA issues, but if we can repro we can try and confirm.

[2016-01-14 02:37] milanb441 commented on #234
Processor Information:
    Vendor:  GenuineIntel
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2601 Mhz
    4 logical processors
    2 physical processors
    HyperThreading:  Supported
    FCMOV:  Supported
    SSE2:  Supported
    SSE3:  Supported
    SSSE3:  Supported
    SSE4a:  Unsupported
    SSE41:  Supported
    SSE42:  Supported

Network I

[2016-01-14 14:11] Tele42 commented on #234
@milanb441 mesa 10.5.9 or newer is supported for Dota 2 on intel graphics.

[2016-01-14 14:27] rgehlen commented on #711
I noticed that in dota2 process the environment for SDL_AUDIODRIVER was alsa, I changed dota.sh to export SDL_AUDIODRIVER=pulse on a hunch and it solved the problem.

[2016-01-14 14:34] rgehlen commented on #711
Simply unsetting SDL_AUDIODRIVER also works since it doesnt default to alsa by default apparently.

[2016-01-14 17:50] trooblaz opened #722 "(MAC) Dota 2 fails to launch"
Been playing Dota 2 just fine up until the Reborn beta hit/updating my OS. I've been trying various fixes — running with -autoconfig, -novid, -safe launch options, reinstalling both Dota 2 and Steam, restarting — on my Mac OS X 10.11.2 El Capitan, to no avail. I've also verified the game cache files. Zippo. I am by no means a computer expert, so I will just list as much info as I can here.

My sys

[2016-01-14 19:58] gdrewb-valve commented on #722
Are you using Mumble?  Check issue #433.  If not can you post the stack information that comes after the 'Thread 0 crashed' bit (example in issue 433)?

[2016-01-14 20:18] trooblaz commented on #722
Thread 0 Crashed:: MainThrd  Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib          0x00007fff9fd49002 **pthread_kill + 10
1   libsystem_pthread.dylib         0x00007fff922bc5c5 pthread_kill + 90
2   libsystem_c.dylib               0x00007fff9b3f66e7 abort + 129
3   libc++abi.dylib                 0x00007fff96949f81 abort_message + 257
4   libc++abi.dylib                 0x00007

[2016-01-14 20:19] trooblaz commented on #722
Also, thanks for the speedy response!

[2016-01-14 20:21] gdrewb-valve commented on #722
Your problem appears to be MenuAndDockless.  If you turn that off do things work?

[2016-01-14 20:22] trooblaz commented on #722
How do I disable that?

[2016-01-14 20:27] gdrewb-valve commented on #722
No idea, I've never used it and don't know anything about it. I only found it doing a web search on com.myownapp.MenuAndDockless from the crash report you posted.

[2016-01-14 20:45] trooblaz commented on #722
Eradicated every MenuAndDockless file in my Library, and the game actually boots! Thanks so much.

[2016-01-14 20:48] gdrewb-valve commented on #722
Great, closing.

[2016-01-14 20:48] #722 closed, assigned to gdrewb-valve

[2016-01-15 00:49] felipec opened #723 "Since last patch all effects are missing in Linux Intel HD 4000"
Pretty much the title. The game is pretty much unplayable without actually seeing what's happening. This started to happen since the patch rolled out today, not before.

[2016-01-15 01:05] danginsburg commented on #723
Can you please post system information from Steam -> Help -> System Information?  A screenshot would be helpful as well.

[2016-01-15 01:29] grasdaggel opened #724 "2-5 second bug occours when using mic chat ingame"
Literally as title. Using Ubuntu 14.04. Everytime I use my mic the game freezes completely for a few seconds. The last 2 mini patches didn't changed anything, so I thought I leave you a short notice about that here.

[2016-01-15 01:38] davidw-valve commented on #724
Has this always happened for you or was it introduced with a specific patch? Is this both for audio in-game and in the lobby?

[2016-01-15 02:05] grasdaggel commented on #724
Its a new bug. I was introduced to this behaviour about 1-2 weeks (while 2 weeks at MAX) ago.

[2016-01-15 02:50] gdrewb-valve commented on #723
This occurs on all platforms and the larger team is fixing it, closing.

[2016-01-15 02:50] #723 closed, assigned to nobody

[2016-01-15 02:54] gdrewb-valve commented on #724
Which Steam client are you using?  If you're using the beta client can you try with the regular client and vice versa?

[2016-01-15 15:38] grasdaggel commented on #724
I'll try and give feedback!

[2016-01-15 15:50] kmaer opened #725 "Dota crashes OS Mavericks"
simple as that, no solution till the launch of the OS , here is the report.

Process:               dota2 [857]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:            com.dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:        ??? [854]
Responsible:           dota2 [857]
User ID:

[2016-01-15 16:00] danginsburg commented on #725
This crash is inside the NVIDIA driver.  NVIDIA does have a web driver for 10.9.5, but it does not appear to support iMac 13,1 (http://www.nvidia.com/download/driverResults.aspx/89536/en-us).  Your best bet is probably going to be to update to OS X 10.11.2 if you can.

[2016-01-15 16:04] kmaer commented on #725
I mean, i actually running OS El capital, not mavericks. :)

[2016-01-15 16:31] danginsburg commented on #725
This is similar to #667 and #684, although your driver crash is in a different place.  You could try the NVIDIA web driver for 10.11.2 (http://www.nvidia.com/download/driverResults.aspx/96651/en-us), although others have reported this has not fixed the problem for them.

[2016-01-15 17:05] grasdaggel commented on #724
Seems like you patched it already. No change in beta status resolved the problem. Well done guys. From Germany with love, cheers!

[2016-01-15 18:31] labpaw opened #726 "Can't reconnect to server, game match vanished"
Today I was playing ranked matchmaking match and somewhere around 20-30 game minute I lost connection to server (The game started around 18:00 UTC+3:00 time). I made few attempts to reconnect to the server but after sometime game match just ended (I also checked my internet connection and it was ok). This match didn't appeared in game statistics and dotabuff won't display it too.
Later on, I added

[2016-01-15 19:00] kmaer commented on #725
allready fixed ! i just update my OS to 10.11.2 and install the drivers you provide in the link, I actually can play a entery dota fight and IMBA map.
thanks ! u are the best :D

[2016-01-15 20:15] gdrewb-valve commented on #725
Glad things are working, closing.

[2016-01-15 20:15] #725 closed, assigned to danginsburg

[2016-01-15 20:17] gdrewb-valve commented on #726
This is unlikely to be platform-specific and probably won't be handled here, but first can you post your system information from Steam?

[2016-01-15 20:19] labpaw commented on #726
Here it is: https://gist.github.com/Adaptivity/4e4f48e114cec82bb4aa

[2016-01-15 20:22] gdrewb-valve commented on #726
This isn't the place to report Windows/general issues (that would be dev.dota2.com) so I'm closing this but if anything comes back from the larger team I'll post it here.

[2016-01-15 20:22] #726 closed, assigned to gdrewb-valve

[2016-01-15 20:23] labpaw commented on #726
So, should I try to report this to dev.dota2.com?

[2016-01-15 20:26] gdrewb-valve commented on #726
Yes, that'll give the larger team an extra chance to see it.

[2016-01-15 22:48] metaldimebag opened #727 "Dota 2 is crashing within Mac multiple times."
This is the report. It just crashes.
Sorry for the long report

Process:               dota2 [922]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:            com.dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:        ??? [919]
Responsible:           dota2 [922]
User ID:               504

Da

[2016-01-15 23:43] Paypapeecee opened #728 "Dota 2 false launches in Ubuntu 15.10 64 bits"
Hello

Yesterday i downloaded Dota 2 in my Ubuntu 64 machine and when i launched it i saw the text ''preparing to launch dota'' appeared then dissapeared and the game remained unresponsive, I can see my dekstop and all but the game ''launches'' shows its ''ready'' shows me that i am ''ingame'' but i see nothing, it keeps unresponsive. So i am very worried about this since i verified the integrity

[2016-01-16 19:52] gdrewb-valve commented on #728
In your Steam install directory there should be a logs subdirectory, and you put content_log.txt up as a gist?

[2016-01-16 23:30] BLK133 opened #729 "Cant bind a key to networth drop-down menu"
Issue: Cant bind a key to the networth drop-down menu

Steps to reproduce: Go to options > hotkeys > advanced > bind a key to networth drop-down

Expected result: Pressing the key while spectating a game will bring the networth drop-down menu

Got result: Pressing the key does nothing, manually clicking on the drop-down menu shows that
networth is unbound, shows as ()
Every other option works as i

[2016-01-17 10:36] chocnut opened #730 "crashed when opening dota 2 client on iMac osx el capitan"
Process:               dota2 [551]
Path:                  /Users/USER/Library/Application Support/Steam/*/dota2.app/Contents/MacOS/dota2
Identifier:            com.dota2
Version:               2.0.0
Code Type:             X86-64 (Native)
Parent Process:        ??? [548]
Responsible:           dota2 [551]
User ID:               501

Date/Time:             2016-01-17 18:34:57.424 +0800
OS Version: