[2018-07-18 15:46] gdrewb-valve commented on #1485
Dota uses the IME support from SDL so this is a feature request for SDL, assigning to SDL dev.

[2018-07-18 19:55] gdrewb-valve commented on #1485
It appears SDL should support fcitx so it's unclear why it wouldn't work, hopefully the SDL dev will have some thoughts.

[2018-07-20 03:21] ghost commented on #1485
@gdrewb-valve one week age.It's work,recently it brokened,BTW I use steam beta version.

[2018-07-20 16:07] gdrewb-valve commented on #1485
Did it stop working at any particular time or update?  Was it a Dota update or a Steam update?  If you use the non-beta Steam version does that help?  If you turn off the Steam overlay does that help?

[2018-07-20 19:34] danginsburg commented on #1468
Closing since I believe this is fixed.

[2018-07-20 19:34] #1468 closed, assigned to danginsburg

[2018-07-20 19:48] danginsburg commented on #1483
We haven't had any luck reproducing this.  What window mode (borderless windowed, windowed, desktop-friendly fullscreen, exclusive fullscreen) are you using and at what resolution?  If you want to potentially help provide more info you could add -con_logfile -input_message_spew and post the contents of ```~/Application/Library Support/Steam/steamapps/common/dota 2 beta/game/dota/console.log``` and

[2018-07-20 22:04] rohanharikr opened #1486 "Screen Resolution Bug In Display Settings"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
Manufacturer: Apple
Model: MacBookPro9,2
Form Factor: Laptop
No Touch Input Detected

Processor Information:
CPU Vendor: GenuineIntel
CPU Brand: Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
CPU Family: 0x6
CPU Model: 0x3a
CPU Stepping: 0x9
CPU Type: 0x0
Speed

[2018-07-20 22:31] kisak-valve commented on #1486
Possible duplicate of https://github.com/ValveSoftware/Dota-2/issues/1287#issuecomment-327026176.

[2018-07-21 01:48] ghost commented on #1485
non-beta Steam version doesn't help.
turn off Steam overlay doesn't help.

[2018-07-21 02:02] ghost commented on #1485
command line I used.
primusrun %command% -perfectworld -language schinese

[2018-07-21 05:51] rohanharikr commented on #1486
@kisak-valve The resolution is correct, only what is displayed in the display settings tab is wrong.

[2018-07-23 15:37] danginsburg commented on #1486
Thanks, I have a fix for this issue coming in a future Dota update.

[2018-07-23 15:59] kokoc commented on #1296
@gdrewb-valve I think no, it's not an issue anymore(stopped playing dota on mac)

[2018-07-23 15:59] #1296 closed, assigned to natbro

[2018-07-24 04:20] rohanharikr commented on #1486
@danginsburg Cool!

[2018-07-24 19:32] danginsburg commented on #1486
Update has shipped.  Please reopen if you still see the issue.

[2018-07-24 19:32] #1486 closed, assigned to danginsburg

[2018-07-24 19:45] kisak-valve commented on #1287
Hello @SethDusek, are you still seeing this issue after today's update?

[2018-07-25 08:26] rohanharikr commented on #1486
@danginsburg Ok

[2018-07-26 17:27] rohanharikr opened #1487 "Dota 2 Crashes After Accepting Game"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
Computer Information:
Manufacturer: Apple
Model: MacBookPro9,2
Form Factor: Laptop
No Touch Input Detected

Processor Information:
CPU Vendor: GenuineIntel
CPU Brand: Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
CPU Family: 0x6
CPU Model: 0x3a
CPU Stepping: 0

[2018-07-27 05:21] hipunk commented on #1440
I noticed you ship a new version of SDL in the latest steam beta, sadly it brings no change to this particular issue here.

[2018-07-27 15:00] #1487 closed, assigned to nobody

[2018-07-28 10:28] werman commented on #1261
I have the same issue, haven't tried to enable steam overlay yet, will try.
Indeed, strange issue, it also persists in the menu after the match ended. Seems not to depend on driver. It's like suddenly some fallback or debug code path got enabled...

[2018-07-28 14:45] Ace5040 commented on #1261
I can confirm that with steam overlay the frame rate is stable during whole game. And I think this information can help developers to investigate the issue. gj ZTTCE)

[2018-07-29 13:13] andrewnwq commented on #1473
it is not working for me =( tried all methods ..

[2018-07-31 16:14] AiyionPrime commented on #1347
Have the same issue while running Borderlands 2 for over an hour.

[2018-07-31 23:31] gabrielboliveira opened #1488 "Not able to play because no update is available"
#### Your system information

* System information from steam: https://gist.github.com/gabrielboliveira/6a871a76b34ca004b22831839b1afd10
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
On macOS and Linux, we can't play be

[2018-08-01 00:16] danginsburg commented on #1488
This was happening on all platforms.  It should be fixed now.  If not, you can try Steam Settings -> Downloads -> Clear Download Cache.

[2018-08-01 00:16] #1488 closed, assigned to nobody

[2018-08-01 17:17] konstantinblaesi commented on #999
When will you start shipping libSDL with wayland support enabled? A recent dota update once again killed my [symlink to the Fedora 29 system level libSDL](https://github.com/ValveSoftware/Dota-2/issues/999#issuecomment-387198652) which has wayland support :(
I have been playing using native wayland (no xwayland) without issues for months now. The only thing that's messed up is the steam overlay, b

[2018-08-11 08:40] ellysh opened #1489 "It is impossible to choose bots in the lobby window"
#### Your system information
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/ellysh/726f82c5e19e2c22e9c56e502a6eead4
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your is

[2018-08-12 00:32] ghost commented on #1485
Sorry my bad,I forget to check /etc/enviroment.It's may be changed by myself at some time.now it worked.

[2018-08-12 00:32] #1485 closed, assigned to icculus

[2018-08-13 19:08] pwaterz commented on #1270
Recently ran into this issue. I updated my nvidia drivers to nvidia-driver-396, and I also update to the latest linux kernel and the game started loading again for me.

[2018-08-15 09:22] ellysh commented on #1489
The issue was fixed in the today's update (15.08.2018).

[2018-08-15 09:22] #1489 closed, assigned to nobody

[2018-08-15 14:26] mewt666 opened #1490 "[LINUX] Dota 2 crashes on previous match screen - Vulkan"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/mewt666/e320da50af75740789aecaab94e1d055):
* Have you checked for system updates?: [Yes/No] - Yes
* Are you using the latest stable video driver available for your system? [Yes/No] - Yes
* Have you verified the game files?: [Yes/No] - Yes

#### Please descri

[2018-08-15 15:03] kisak-valve commented on #1490
Hello @mewt666, since this issue does not happen with the opengl backend, let's track this issue in the Dota-2-Vulkan issue tracker at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/273.

[2018-08-15 15:03] #1490 closed, assigned to nobody

[2018-08-16 16:30] Arshavirus commented on #473
@danginsburg tx, it works for me, 10.12.6 sierra iMac mid 011

[2018-08-18 13:00] netsap commented on #11
Hello, I'm still facing this problem on Manjaro

[2018-08-18 17:23] #232 closed, assigned to nobody

[2018-08-19 08:07] u83rmensch opened #1491 "New Rubick item crashes linux client while using Vulkan."
#### Your system information

kubuntu 18.04  x64
Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz
NVIDIA Corporation GK104 [GeForce GTX 770] (rev a1)
NVIDIA Driver Version: 396.51

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your sys

[2018-08-19 08:57] amitbar05 commented on #1491
happens to me to.

**Your system information**
Ubuntu 16.04 x64
Intel® Xeon(R) CPU X5450 @ 3.00GHz × 8
NVIDIA Corporation GK206 [GeForce GTX 960]
NVIDIA Driver Version: 396.51

[2018-08-19 18:35] simvux commented on #1446
@u83rmensch
Right click on Dota 2 in library > Press Properties > Enable steam overlay while in-game

[2018-08-19 18:48] u83rmensch commented on #1446
@AlmightyFloppyFish

I did that and it had no effect.

idk if they patched the issue or what but the issue stopped a while a go.

[2018-08-20 19:46] danginsburg commented on #1491
Thanks.  I have a fix for this, it will be in a future Dota 2 update.  It does only impact Vulkan, present on both Windows and Linux.

[2018-08-21 12:01] danginsburg commented on #1491
The latest Dota 2 Update should fix this.  I'll close this out, please comment if you still see it and I can reopen.

[2018-08-21 12:01] #1491 closed, assigned to danginsburg

[2018-08-21 19:29] ghost commented on #1484
Another symptom is the huge lag spikes it creates across the system. (for me)

[2018-08-22 11:09] AETolouee opened #1848 "Cannot connect to dota 2 servers"
#### Your system information

* Steam client version: 22 Aug 2018
* Distribution: Ubuntu 18.04
* Opted into Steam client beta?: No
* Have you checked for system updates?: Yes

#### My issue:
I'm Experencing same issue as [5545](https://github.com/ValveSoftware/steam-for-linux/issues/5545) but none of the workarounds work for me.

My issue is connecting to dota 2 servers. when I click on "Find Matc

[2018-08-22 19:56] glubsy commented on #1484
Can you post your system logs when the crash happens? It's been happening for me too for the past few days, both OpenGL and Vulkan.

Also, have you tried waiting for the game to close itself? Sometimes it takes a few minutes while it generates the crash dump and uploads it.

In my system logs, it seems to be related to libvideo.so, and It does a coredump. I might open a new ticket.

[2018-08-23 02:50] matheuschagas opened #1492 "Dota 2 Cliente not opens on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/matheuschagas/b0cf67aa1500fcfde19b9560867285a1
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe

[2018-08-23 11:30] AETolouee commented on #1848
Some other information if that helps:
I've verified integrity of game files. plus opted in and out of steam beta participation again. And changed my operating system from Ubuntu to ArchLinux.
Still no success
I don't know if these are relevant:
- Upon starting steam a web page tries to load but failed with "Error code -7"
- There is always a dota workshop in my download list that just stays there

[2018-08-23 16:21] nshcat commented on #1261
I can also confirm that enabling the steam overlay fixed the issue for me. Very weird.

[2018-08-23 16:48] kisak-valve commented on #1492
Hello @matheuschagas, does the terminal spew at `/tmp/dumps/<username>_stdout.txt` or `~/.steam/error.log` have any hints?

[2018-08-24 20:44] kisak-valve commented on #1287
Closing pending feedback.

[2018-08-24 20:44] #1287 closed, assigned to nobody

[2018-08-25 06:13] Turmfalke2 opened #1493 "New Hero introduction crash"
hi,
So I just launched dota2 to have a look at the new hero and apparently what ever you did for his introduction makes the nvidia driver seriously unhappy. First the screen was black for a prolonged time and the mouse stopped moving. The WM also stopped responding, but I was able to switch to a tty after some delay. I then checked dmesg and saw a bunch of nvidia driver errors. At some point the n

[2018-08-25 08:10] Bednar87 commented on #1484
same here: https://gist.github.com/Bednar87/67c71c99966a6a6b1b7ae93328df8d99

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x

[2018-08-25 15:23] kisak-valve commented on #1493
For reference, the attached minidump is a SIGSEGV in libclient.so.

[2018-08-26 06:41] u00101010 opened #1494 "[Linux] Game freezes on the "VS" screen"
#### Your system information

* System information from Steam: https://gist.github.com/helix42/c6d2fb4350caa80590c93265c00b174f
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
I don't have any performance issues with the g

[2018-08-27 13:06] danginsburg commented on #1493
Did updating to the latest NVIDIA driver fix it?  So far I've been unable to reproduce the issue.

[2018-08-30 10:14] rohanharikr commented on #1494
Happens for me too - Game freezes at "vs" screen and resumes only after a period of time

Computer Information:
Manufacturer: Apple
Model: MacBookPro9,2
Form Factor: Laptop
No Touch Input Detected

Processor Information:
CPU Vendor: GenuineIntel
CPU Brand: Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
CPU Family: 0x6
CPU Model: 0x3a
CPU Stepping: 0x9
CPU Type: 0x0
Speed: 2500 Mhz
4 logical processors
2

[2018-08-31 00:56] marshall2056 opened #1495 "[Linux] Game eats all memory and freezes after some time of playing"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [https://gist.github.com/marshall2056/b476da4425b56c819b6603b543271993](https://gist.github.com/marshall2056/b476da4425b56c819b6603b543271993):
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the

[2018-08-31 01:00] marshall2056 commented on #1494
I can confirm the issue, it started happening couple of days ago [https://gist.github.com/marshall2056/b476da4425b56c819b6603b543271993](https://gist.github.com/marshall2056/b476da4425b56c819b6603b543271993).

[2018-08-31 01:08] kisak-valve commented on #1495
Hello @marshall2056, you may have better success with a newer version of mesa.

[2018-08-31 01:19] marshall2056 commented on #1495
Hello, thank you for such fast response, tho please note that mesa drivers were installed couple of months ago and game itself was running just fine until couple of days ago, which brings me to the game itself.

Even if mesa is older (but for my system is last and stable), does not explain why game itself is taking 32GB after 1 hour of playing?

EDIT:
I have done test game run, game itself while s

[2018-08-31 14:14] JuneLeGency opened #1496 "Low fps on MacBook pro 2015MID M370X"
My Specs
MODEL：2015 mid 15inch
OS：High Sierra 10.13.6
CPU：i7 2.8ghz
GPU：AMD R9 M370X
STORAGE：1TB
RAM：2*8GB DDR3

1.  I tried to close ``auto switch graphic card `` in system setting.
2.  I have tried both openGL and Vulkan.
3.  My resolution is set to 1440x900

I tried my best to optimize the performance, but once I start a game even play with the bot still get about 20~30 fps.Compared with [Dave

[2018-08-31 17:31] Turmfalke2 commented on #1493
Well no, or yes. I wasn't able to reproduce this after rebooting. It was 100% reproducible prior to the reboot and have had zero issues since rebooting.  I suspect that what every bugged out store a bad state in the graphic driver.

Unless you can see something that obviously wrong or could be improved by better error handling around the segfault in libclient.so I think it is fine to close this an

[2018-09-01 05:24] ghjnut commented on #1446
I'm getting the issue. Sudden massive frame drops mid-game (75-100 to 15-30). Restarting fixes the issue.
specs: https://gist.github.com/ghjnut/c44f7f91b459ed7cb63507b35b043b63
[code]

[2018-09-01 13:34] mjglqw opened #1497 "Linux FPS drop to 9-10FPS for a short time"
**#### Your system information**

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/mjglqw/2fa80e36383f2859162c39f5c84e83b3
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes (nvidia 396)
* Have you verified the game files?: Yes

**#### Ple

[2018-09-01 15:19] kisak-valve commented on #1497
Hello @mjglqw, this reads like your system is thermally throttling the cpu. Keep an eye on the cpu clock rate and there may also be hints in dmesg around the time you see the performance drop.

[2018-09-01 15:31] mjglqw commented on #1497
@kisak-valve hey thanks for the reply.

Would it make sense if I'm not having this problem in Windows 10 but having problems with it on Linux?

[2018-09-02 00:06] RankoR opened #1498 "Quick Cast settings are not stored"
1. Enable Quick Casts (separate for each hero)
2. Find game
3. Disable quick casts for the certain hero
4. Find next game, pick last hero

Expected result: quick casts are disabled
Result: Quick casts are enabled.

Reproducible at least for last 2 weeks releases, including current.

[2018-09-03 23:37] admshao opened #1499 "Game crashing"
Game is crashing constantly. Im at a ranked match atm. Can't stay in game. At least 5 others players in the game are suffering the same.

`18727.178918] dota2[21055]: segfault at 5611f87fdb40 ip 00005611f87fdb40 sp 00007ffc19697138 error 15
[18727.178923] Code: 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 cf 93 f8 11 56 00 00 68 00 00 00 00 00 00 00 e0 82 fb 2c b7 7f 00 00 <e0> 6b 68 2

[2018-09-03 23:37] admshao commented on #1499
After the Update that just happanned 10m ago

[2018-09-03 23:38] admshao commented on #1499
New one.

19042.135450] dota2[22762]: segfault at 40 ip 00007f10804bdd77 sp 00007fff763ed010 error 4 in libclient.so[7f107c44b000+570a000]
[19042.135459] Code: e8 de 40 00 00 48 89 de 48 89 c7 e8 a3 47 00 00 48 83 c4 08 48 89 df 5b 5d e9 55 f3 ff ff 0f 1f 44 00 00 48 8b 07 48 8b 77 10 <ff> 50 40 eb b5 0f 1f 40 00 69 f6 e8 03 00 00 48 89 df e8 42 ff ff
[19042.135552] audit: type=1701 audit(15360178

[2018-09-03 23:39] admshao commented on #1499
I'll have to keep this infinite loop of reconnecting because i don't want to lose -25 or get disconnect.

I hope those matches doesn't count

[2018-09-04 00:03] admshao commented on #1499
I just updated (100mb~) Crash seems fixed

[2018-09-04 00:05] kisak-valve commented on #1499
Closing per the last comment.

[2018-09-04 00:05] #1499 closed, assigned to nobody

[2018-09-04 06:23] irandms commented on #962
I have this issue as well on Fedora 28/GNOME 3. I can't get the game to launch properly on the primary monitor without -phased_window_create, and using that causes the game to appear very tiny in the upper-left portion of the display, per other comments here. If I alt-tab or otherwise have the game lose focus, it will crash. OpenGL works fine however.

[2018-09-04 21:36] ghjnut commented on #1497
@mjglqw Sounds a lot like the issue I'm having, except mine doesn't seem to recover.
https://github.com/ValveSoftware/Dota-2/issues/1446#issuecomment-417834324
I'm going to do some more digging this evening to see if I can find anything popping.

[2018-09-05 02:38] mjglqw commented on #1497
@ghjnut sucks aint it? I definitely wouldn't want to be forced to go back to windows10

[2018-09-05 15:39] nanonyme commented on #999
I'm to be honest wondering whether Steam overlay even can work with Wayland. With Wayland there's afaik stricter ownership of surfaces and I wouldn't take it for granted Steam can draw on top of fullscreen apps

[2018-09-05 15:52] nanonyme commented on #999
@konstantinblaesi does LD_PRELOAD=/path/to/libSDL help as a workaround or do you really need to replace that file?

[2018-09-05 18:20] marshall2056 commented on #1495
UPDATE:
I have installed mesa 18.1.5 after which issue still persist, BUT later I have installed mesa-utils which seems to fix the problem, now the game runs around with 700MB RAM stable usage.

So the fix should be not only mesa drivers but mesa-utils package.

NOTE: I did not try mesa-utils package with older version of mesa.

Case can be closed as fixed.

[2018-09-05 18:20] #1495 closed, assigned to nobody

[2018-09-06 23:27] babelshift commented on #962
Until the other day, I was able to launch Dota 2 to the primary monitor set in the Gnome display settings. Now it only launches on a single monitor regardless of what is set at the Gnome level. Stranger yet, if I set my primary to the 1080p monitor, the game will launch on my 1440p but locked to 1080p resolution.

Using OpenGL and Vulkan make no difference.

However, using `-phased_window_create`

[2018-09-07 20:03] ghjnut commented on #1446
I can't turn anything up. CPU, GPU temps are well withing nominal range. committed GPU mem is only 2GB of 6GB. The one thing I did noticed is that while playing CPU usage was consistently around 75%, and when the frames dropped CPU usage started jumping all over the place.

Is there a way I can start manually from the terminal so I can get output or a place where logs are dumped that I can comb th

[2018-09-07 20:07] Metisav commented on #1484
im have problem with thath too

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:          Intel(R) Core(TM) i5-2500 CPU @ 3.30GHz
    CPU Family:  0x6
    CPU Model:  0x2a
    CPU Stepping:  0x7
    CPU Type:  0x0
    Speed:  3700 Mhz
    4 logical processor

[2018-09-08 14:50] ellysh opened #1500 "It is impossible to logging in to the Dota 2 game coordinator"
#### Your system information
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/ellysh/726f82c5e19e2c22e9c56e502a6eead4
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your is

[2018-09-08 15:05] ellysh commented on #1500
It reproduces sporadically. After changing the "Download region", it works.

[2018-09-08 15:05] #1500 closed, assigned to nobody

[2018-09-09 13:43] u00101010 commented on #1494
UPDATE:

It's still an issue but I've found out that if I'm in my Armory screen while accepting the game instead of the main menu or my profile, this doesn't happen at all or it's very minimal. So there could be a thing with the menu/profile screen taking up too much resources, with the hero models and all.

[2018-09-09 20:29] ghjnut commented on #1446
I re-read through some of the comments above and realized that some were suggesting turning the overlay on, and the other were suggesting turning it off. Turning the overlay _ON_ fixed the issue. This also fixed issue with my controller controls being borked in rocket league.

Fixed: Turned steam overlay `ON` and issues no long occurred.

[2018-09-10 20:28] pavildon opened #1501 "game mode not visible"
#### Your system information

* https://gist.github.com/aindigo/2efcbc6f87c80fa782daeef07788f74f
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Ranked Role matchmaking is not visible. It just disappeared overnight.
It se

[2018-09-10 20:38] kisak-valve commented on #1501
Hello @aindigo, you'll want to post this on https://dev.dota2.com.

[2018-09-10 20:38] #1501 closed, assigned to nobody

[2018-09-10 22:09] ghjnut commented on #1497
@mjglqw Posted the solution to my problem last night. My issue is a bit different in that it persists until restart, but if by chance you have the steam overlay disabled - turn it back on.

[2018-09-13 14:54] dddavo commented on #1497
I have te same problem on OSX high sierra 10.13.6  from 100 fps to 9-10 fps for a short time.

[2018-09-14 13:01] ddaily21 opened #1502 "Dota Crashing On Launch After Latest Update"
#### macOS High Sierra Version 10.13.6
#### MacBook Pro (Retina, 13-inch, Early 2015)
#### 2.7 GHz Intel Core i5

* Computer Information from Steam:
    Manufacturer:  Apple
    Model:  MacBookPro12,1
   CPU Brand:  Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
Operating System Version:
    MacOS 10.13.6 (64 bit)
Video Card:
    Driver:  Intel Iris Graphics 6100
    Driver Version:  1.2

* I have check

[2018-09-14 14:20] asand04 opened #1503 "Dota doesn't launch on Mojave 10.14"
System information

*Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  2500 Mhz
    4 logical processors
    2

[2018-09-14 14:43] kisak-valve commented on #1503
Hello @asand04, this is most likely the same issue as #1502. Closing as a duplicate.

[2018-09-14 14:43] #1503 closed, assigned to nobody

[2018-09-14 18:39] danginsburg commented on #1502
Can you try adding -con_logfile to your launch options in Steam and then post ```~/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/dota/console.log```?

[2018-09-14 18:43] danginsburg commented on #1502
Also, do you have any controllers plugged in?  Could you see if removing the controller fixes it if so?

[2018-09-14 19:08] flppv commented on #1502
Had same issue today. As a workaround try to open game contents folder, found dota.sh there and run it with Terminal. Fortunately worked for me.

Was so frustrating to be unable play the game indeed before weekend-shards deal.

[2018-09-14 19:57] abenomikkusu commented on #1502
Could open the game by opening terminal.app and writing `~/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/dota.sh`
Could play but trees could not be seen nor used with tangoes, something random appeared in the midlane which other players couldn't see
![kuva](https://user-images.githubusercontent.com/43281007/45572241-69c2f600-b871-11e8-96ad-bacf083b5312.png)
![kuva](https:/

[2018-09-14 20:00] flppv commented on #1502
@abenomikkusu I hope at this point it’ll be easier to fix for Valve, will also try to send logs tomorrow

[2018-09-14 20:21] abenomikkusu commented on #1502
By judging the terminal.app when using the sh file, there is something serious missing

Attempting to create OpenGL context: v3.3 (Core profile)...success.
void COpenGLDriverEntryPoints::DumpContextInfo(): OpenGL vendor Intel Inc.
void COpenGLDriverEntryPoints::DumpContextInfo(): OpenGL renderer Intel(R) Iris(TM) Graphics 550
void COpenGLDriverEntryPoints::DumpContextInfo(): Using OpenGL context v

[2018-09-14 20:24] danginsburg commented on #1502
We believe we have a fix for the issue, should be in the next Dota client update.  I'll update this bug when it ships.

[2018-09-14 20:31] ddaily21 commented on #1502
Are we looking at today?

On Fri, Sep 14, 2018 at 4:24 PM Dan Ginsburg <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-09-14 20:33] danginsburg commented on #1502
Not sure, but running dota.sh from the terminal is the right workaround for now.

[2018-09-14 20:33] ddaily21 commented on #1502
Ok thanks so much.

On Fri, Sep 14, 2018 at 4:33 PM Dan Ginsburg <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-09-14 21:10] anko opened #1504 "Crashes on "On my way" ping, with FT_Load_Glyph errors in console"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/anko/f3587996bb83526314e166c5983f1933
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes; Nvidia proprietary 390.87.
* Have you verified the game files?: Yes

#

[2018-09-15 00:42] sylware commented on #1459
the buffer underrun seems gone

[2018-09-15 01:33] ddaily21 commented on #1502
Working great now, thanks so much for tackling this Dan, means a lot to me.

On Fri, Sep 14, 2018 at 4:33 PM Drew Daylor <ddaily21@gmail.com> wrote:

[2018-09-15 02:03] kisak-valve commented on #1459
Closing per the last comment.

[2018-09-15 02:03] #1459 closed, assigned to nobody

[2018-09-15 11:30] danginsburg commented on #1502
Great, closing.

[2018-09-15 11:30] #1502 closed, assigned to nobody

[2018-09-15 16:16] konstantinblaesi commented on #999
@nanonyme ` LD_PRELOAD=/lib64/libSDL2-2.0.so.0` works, too. I've updated my dota 2 start options to `LD_PRELOAD=/lib64/libSDL2-2.0.so.0 SDL_VIDEODRIVER=wayland DRI_PRIME=1 %command%` (intel iGPU + amd dGPU)

[2018-09-15 19:30] abenomikkusu opened #1505 "Double tap to self cast not working & cannot switch between the wards"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): Apple
MacBookPro13,2
Intel(R) Core(TM) i5-6287U CPU @ 3.10GHz
MacOS 10.13.6 (64 bit)
Intel Iris Graphics 550
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the

[2018-09-16 12:47] ghost commented on #1484
Is there any progress on this? It's pretty annoying to wait 1 minute for my PC to recover everytime I close Dota.

[2018-09-17 01:15] glubsy commented on #1484
You guys did not post any of your system logs, so I'll cross reference my thread from the Vulkan repo: https://github.com/ValveSoftware/Dota-2-Vulkan/issues/279

If you don't post any relevant information, don't expect a prompt magical fix.

[2018-09-19 14:16] Tele42 opened #1506 "Dota 2 VR mode running out of audio channels"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): [slightly dated gist](https://gist.github.com/Tele42/c1ee3d7f8074664d08c5562b7e758358)
* Have you checked for system updates?: [No]
* Are you using the latest stable video driver available for your system? [No]
* Have you verified the game files?: [Yes]

[2018-09-21 21:14] omersiar opened #1507 "Silencer gets 2 stolen intelligence even if the hero dies in fountain (or at least when you die in fountain +2 icon appears)"

[2018-09-21 21:19] kisak-valve commented on #1507
Hello @omersiar, you'll want to post this at https://dev.dota2.com.

[2018-09-21 21:19] #1507 closed, assigned to nobody

[2018-09-22 22:18] rastating commented on #962
Much like @babelshift, I've not had this issue before using OpenGL, but using `-phased_window_create` allows it to start on the correct monitor (which is assigned as the primary monitor).

[2018-09-23 20:23] rastating commented on #1201
Currently experiencing this in Ubuntu 18.04

[2018-10-02 07:39] sethdusek commented on #1287
It seems to be fine now, thanks! Sorry for the late reply, I wasn't getting notifications in my email for this thread for some reason

[2018-10-03 20:24] gambitflush commented on #1473
![screen shot 2018-10-04 at 1 53 36 am](https://user-images.githubusercontent.com/43794895/46437190-63d97a00-c778-11e8-8435-f11ebfefdac9.png)
hi, i use a macbook air os X 10.9.5 . I have got the same issue "Check your Internet connection. Unable to download the network configuration from CDN". This appears whenever i try to watch a video and when i try to find game the 'play dota' button on the ri

[2018-10-08 01:08] zeroedout commented on #1484
Still happening, still annoying. Any updates? I'm happy to post my logs too, but I doubt it would be helpful at this point.

[2018-10-08 09:24] liamb1 opened #1508 "[Windows 10] Disconnected after accepting matches in client"
#### [Your system information](https://gist.github.com/liamb1/7c707b2f5cd2cf5ab4bd1eac3dc91ed2)

* Have you checked for system updates?: [**Yes**/No]
* Are you using the latest stable video driver available for your system? [**Yes**/No]
* Have you verified the game files?: [**Yes**/No]

#### Please describe your issue in as much detail as possible:
Connecting to the Australian server from Malaysia

[2018-10-08 12:32] kisak-valve commented on #1508
Hello @liamb1, you'll want to post this at https://dev.dota2.com.

[2018-10-08 12:32] #1508 closed, assigned to nobody

[2018-10-11 11:42] wiov opened #1509 "crash untimely"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.github.com/wiov/59536899e11ed9c329a09d6811194c75
* Have you checked for system updates?: [Yes/No]
yes
* Are you using the latest stable video driver available for your system? [Yes/No]
yes
* Have you verified the game files?: [Yes/No]
yes

##

[2018-10-11 22:00] FeatheredSerpent opened #1510 "Some relay servers answer with private IP addresses."
I don't know where else to report this. It's nothing affecting Dota 2 directly. It's just very odd.

If you do a traceroute to some Dota 2 relay servers ("lux" and "bom" e.g.) a few hops before something manages to answer with a private IP address (from the 192.168.0.0/16 block) over the internet(!), which is quite surprising, to say the least.

It does not appear to be a regional problem (as you

[2018-10-11 22:07] kisak-valve commented on #1510
Hello @FeatheredSerpent, you'll want to post this at https://dev.dota2.com for the larger Dota 2 team.

[2018-10-11 22:09] zpostfacto commented on #1510
@FeatheredSerpent, that's OK, don't worry with posting anywhere else.  Was just looking at this.

Pretty sure that's OK for private addresses to be used for internal hops, and is intentional and totally OK.

[2018-10-11 22:13] FeatheredSerpent commented on #1510
The thing is that those hops send packets to the internet which have a private IP address set as the source address in the IPv4 header. Which is, as far as I know, not OK. ;)

[2018-10-11 22:17] zpostfacto commented on #1510
I think the only packets that use a private address as either a source or destination are going to be the ICMP replies that are generated as a result of the traceroute.  I don't think this breaks anything or is violation with any standard.

[2018-10-11 23:42] zpostfacto commented on #1510
I confirmed it's intentional.
Thanks for checking, though!

[2018-10-11 23:42] #1510 closed, assigned to zpostfacto

[2018-10-13 08:28] Podesta opened #1511 "System Freeze Completely - Non Responsive"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Podesta/f05bed339f84469ca8b1fb89151bee2c
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your

[2018-10-13 14:32] kisak-valve commented on #1511
Hello @Podesta, are you running Dota 2 with OpenGL or Vulkan? In general no OpenGL application should be capable of completely freezing the system, which hints this is a video driver issue.

When the freeze happens, are you able to ssh into the system and check `dmesg` if there's any related output near the time of the freeze?

[2018-10-19 10:04] Podesta commented on #1511
@kisak-valve yeah, it is the opengl version, as my gpu is in the 500 series, and vulkan support starts only with the 600. Here is the dmesg log:

[code]
I've got the `nvidia-bug-report.log`, if it is relevant to you guys.

[2018-10-23 20:46] Veske commented on #1494
Can confirm. Only resolution is to tell kernel to restart forcibly. Seems to be a GPU hang.

One can avoid it by alt-tabbing out before vs screen.

[2018-10-24 18:18] u00101010 commented on #1494
Alt-tabbing appears to work for me, too.

[2018-10-27 20:06] Turmfalke2 commented on #1366
Still have the same issue.

What I have figured out so far.

- It never happens in the first game I play after launching the client
- It usually happens when a team fight breaks out
- If I open the console afterwards it says: `CSwapChainBase::QueuePresentAndWait() looped for 21 iterations without a present event.`

Also it would be great if the console log would include timestamps. Logs without ti

[2018-10-28 07:57] FeatheredSerpent opened #1512 "Effigy not displaying correctly"
When effigies were new I made an effigy which looked like this : https://youtu.be/RGNW_dmLPC8?t=248

Now it looks like this (her staff is missing and her hair is in the wrong place) :
https://i.imgur.com/H4N47ff.jpg

It's been like that for years, possibly since Dota 2 reborn?
Same result on Linux and Windows (current, as well as 2-3 yo versions - dx9/dx11/vk/gl)

Is there a way for me to privatel

[2018-10-28 11:10] prinzegg opened #1513 "Weird pause and unpause during in game ."
I have already checked for system updates, verified game files and here is my system information below

This is my system information. I literally cannot play the game, i tried in bots match, create a lobby and still the same. The system spams pause and unpause it again, i removed the f9 key for pause and not putting any keys for it but still the same. Already the 4th day, i cant resolve the probl

[2018-10-28 13:04] kisak-valve commented on #1512
Hello @FeatheredSerpent, you'll want to post this on https://dev.dota2.com for the larger Dota 2 team.

[2018-10-28 13:04] #1512 closed, assigned to nobody

[2018-10-28 13:10] kisak-valve commented on #1513
Hello @prinzegg, you'll want to post this at https://dev.dota2.com for the larger Dota 2 team.

[2018-10-28 13:10] #1513 closed, assigned to nobody

[2018-11-01 20:33] sylware commented on #1504
same here, the text is most of the time garbled, freetype 2.9.1

[2018-11-02 06:22] akevalion opened #1514 "In game voice does not work properly on Mac"
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro13,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-6267U CPU @ 2.90GHz
    CPU Family:  0x6
    CPU Model:  0x4e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  2900 Mhz
    4 logical processors
    2 physical processors
    Hyp

[2018-11-02 06:24] akevalion commented on #1514
This is the voice logs

(VoiceChat) Settings loaded from local storage
Resetting voice chat state and initiating local mic access only
(VoiceChat) Audio Worklets supported - high performance mic noisegate in use!
(VoiceChat) NoiseGate setup: {"attack":0.800000011920929,"release":0.05999999865889549,"threshold":-36,"bufferSize":128,"sampleRate":44100}
(VoiceChat) Inputs: 1 channels: 2 samples: 128

[2018-11-03 19:25] sylware commented on #1504
After further investigation and testing: dota2 uses the "panorama" text shaper (proprietary) but it seems to be statically linked with fontconfig and freetype (no mapping of my system freetype/fontconfig or steam runtime freetype/fontconfig in dota2 process).
I saw that my system dejavu font was mapped in dota2 process, but hiding it did not fix anything. Ofc, each time I did clear the dota2 panor

[2018-11-03 23:31] sylware commented on #1504
Unfortunately, even with my system fontconfig conf hidden, dota is crashing. Nasty annoying bug.

[2018-11-04 09:19] hueykohwf opened #1515 "MacOS Mojave Frame Drops"
System Information:
Manufacturer: Apple
Model: iMac (Retina 4K, 21.5-inch, 2017)
Form Factor: Desktop
Operating System: 10.14.1 macOS Mojave

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe this issue in as much detail as possible:
In Dota 2, or any video games,

[2018-11-05 08:04] TimZaman opened #1516 "Can't access dev.dota2 forums: "missing key""
![image](https://user-images.githubusercontent.com/7721540/47985374-473da400-e08e-11e8-8251-5e7918e85761.png)

[2018-11-05 08:05] TimZaman commented on #1516
related to https://github.com/ValveSoftware/Dota-2/issues/1461

[2018-11-07 22:53] tpruzina commented on #143
I might have to open a separate issue, but I've run into windows<>linux troubles (couldn't remap "Q" key on linux/dvp layout box that used cloud config from windows), "**-input_button_code_is_scan_code"** worked nicely as a workaround.
For whatever reason, the bug was only present on friends account which I have borrowed.

[2018-11-10 06:20] dwy904 commented on #1164
It seems like it happens again.

[2018-11-11 02:22] hansgao7 opened #1517 "Dota 2 cannot launch on Mac"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): Processor 2.53Ghz Intel Core 2 Duo, 8 GB 1067Mhz DDR3, NVIDIA GeForce 9400M 256 MB
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game fil

[2018-11-11 03:25] joshg2k commented on #1517
I am getting this exact same issue. I've been trying to start Dota for about an hour now. I've tried all the same resolution steps that @hansgao7 mentioned above.

[2018-11-11 14:32] hansgao7 commented on #1517
Just to add, regarding system info:

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro5,4
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM)2 Duo CPU     P8700  @ 2.53GHz
    CPU Family:  0x6
    CPU Model:  0x17
    CPU Stepping:  0xa
    CPU Type:  0x0
    Speed:  2530 Mhz
    2 logical p

[2018-11-11 19:40] joshg2k commented on #1517
@hansgao7 hey I was able to fix my issue. I upgraded to macOS Mojave (10.14) and I'm no longer having issues launching. I also saw that you could launch Dota from Terminal by opening Terminal and running this command:

exec ~/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/dota.sh

[2018-11-11 22:25] yoanvb commented on #1517
I have the exact same problem since today, running on Yosemite 10.10.5.
Double clicking directly on the dota2.app does not work either.
When going through "~/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/dota.sh", I have this log :
[code]

The game launches but once in a game everything is blur except for the HUD.

[2018-11-11 23:05] tabanger commented on #1517
I'm having the same issue with being unable to launch Dota 2.  I am on OS X 10.10.5 also.  Have the system requirements been silently bumped to 10.11+ without notification?  Or is this a build mistake?

[2018-11-12 01:37] hansgao7 commented on #1517
Tried this, still didn't work. "exec ~/Library/Application\ Support/Steam/steamapps/common/dota\ 2\ beta/game/dota.sh"

![screen shot 2018-11-12 at 9 36 04 am](https://user-images.githubusercontent.com/44935406/48321599-6aec8580-e65e-11e8-8134-6e8785ced907.png)

Not sure is the OS version issue since others on higher OS is facing the same issue. Thanks for any help and assistance.

[2018-11-12 03:32] tabanger commented on #1517
How do you figure the OS isn't the problem?  We've got two reports in this thread on 10.10, you on 10.9, and one more on a (presumably) old OS who upgraded to 10.14, which resolved the issue.  No other reports from other users, who are all presumably running more modern versions (I'm guessing 10.11+). OS version is absolutely the most likely culprit right now.

The question is, is this exclusion a

[2018-11-12 03:49] kisak-valve commented on #1517
Hello, per https://steamcommunity.com/discussions/forum/2/1752358461536110859/ please opt into Steam's beta client and retest this issue.

[2018-11-12 04:12] tabanger commented on #1517
Thanks.  Updating to Steam beta dated Nov. 9 allowed Dota 2 to launch and run properly.

[2018-11-13 12:31] hansgao7 commented on #1517
I followed the steam thread, they fixed the public client and all is working well now so far. Thanks again for your great help!

[2018-11-13 14:00] sylware commented on #1504
A small update, I notice when the text is garbled (but not crashing), often, the letter 'p' is missing from the hero name.

[2018-11-13 14:01] kisak-valve commented on #1517
Closing as fixed in the [2018-11-09](https://steamcommunity.com/groups/SteamClientBeta#announcements/detail/1711826064890402846) Steam client beta update.

[2018-11-13 14:01] #1517 closed, assigned to nobody

[2018-11-13 17:50] Vuccappella commented on #1515
For me the frame drops are constant since I have updated to Mojave. Previously I was able to run the game at around a constant of 60-70 fps, now it's stuck at around 20. The client starts smooth but once I get in to a game the frames start dropping after which the whole client is laggy.

OS: 10.14
Processor: 3,2 GHz Intel Core i5
Memory: 24 GB 1600 MHz DDR3
Graphics: NVIDIA GeForce GTX 680MX 2048

[2018-11-14 14:40] Waviee opened #1518 "Dota 2 "Play" button grays out."
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [No]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
Pressing the "Find Matc

[2018-11-14 15:36] kisak-valve commented on #1518
Hello @Waviee, please copy your system information from steam (`Steam` -> `Help` -> `System Information`) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Does completely closing steam, then running `LC_ALL=en_US.UTF-8 steam` from a terminal make a difference?

[2018-11-15 07:19] Waviee commented on #1518
Hey there,
Here is the gist file : https://gist.github.com/Waviee/0e232a9bef4004ce41345c4f9e8ddea3
Unfortunately, running the command from a terminal does not work at all.
Thanks in advance !

[2018-11-16 17:34] yclyldrm commented on #1473
Hi @gambitflush. Can you solve the problem? I have got same problem,too.

[2018-11-17 15:51] Vuccappella commented on #1515
Please let me know if there's anything more I can do or a way to help debug this issue as dota is pretty much unplayable for me on Mojave now and reverting it is hard.

In the console i see a lot of errors:

nderSystem] Bad texture dimension type for texture "materials/models/heroes/statuseffects/colorwarp_effigy_ti6.vtex" - returning error texture in  CTextureManagerVK::GetImageView
[RenderSystem

[2018-11-18 20:31] dan-dr commented on #962
Same here. Vulkan and OpenGL open in secondary monitor, `-phased_window_create` works only with OpenGL, with Vulkan it freezes my desktop and I have to jiggle to kill it.

I'm on Solus distro

[2018-11-19 09:54] ezojg commented on #1390
This happened to me about twice this past week. The screen goes grey but I still can see the panel (in eOS). If I change workspace the problem goes away, oddly.

[2018-11-19 20:52] Torxed opened #1520 "failed to dlopen "libtensorflow.so" error=libtensorflow.so: cannot open shared object file: No such file or directory"
#### Please describe your issue in as much detail as possible:

This is less of a traditional issue and more a question, why?
I'm completely aware that I'm lacking a couple of linked libraries, one of which being tensorflow.
What I'm wondering is, what exactly does Dota2 need tensorflow for, and what behavioral data is Dota2 capturing in order to learn something.. Is it my player movements? Is it

[2018-11-19 21:05] kisak-valve commented on #1520
Hello @Torxed, Dota 2 has calls to a couple libraries that are useful for development, but are not used in the release build. They are generally not used in the public version and it is safe to ignore this these log messages.

[2018-11-19 21:05] #1520 closed, assigned to nobody

[2018-11-20 05:31] Waviee commented on #1473
Hey there, same issue here, made a bug ticket.

https://github.com/ValveSoftware/Dota-2/issues/1518

[2018-11-20 14:34] sylware commented on #1505
the tp quick cast is broken too (but the tp smart double tap was fixed during EU night). The windows users told me it's linux only since tp quick cast works there.

[2018-11-20 22:35] rcketscientist commented on #556
sdl and phased doesn't work for me on a 580 in Ubuntu 18.10.  This is honestly ridiculous.  How is there not at least a config to set to say "f it...hard code it here".

[2018-11-23 08:12] Podesta commented on #1511
Confirming crash still present on version 7.20

[2018-11-23 20:35] vmavromatis commented on #1484
Still happening, do you guys have enough logs at this point or need me to post mine?

[2018-11-24 03:44] hipunk commented on #1440
Did the SDL devs say something yet? :-/

**You had it running once.**

I'm still playing without these rangefinders etc. because changing those settings back before each match is just too much of a hassle.
Bear in mind it's not only that: When you push down Apple-key/command, the map will show the names of the heros. And the map will be stuck in that view until you push option/alt down at least on

[2018-11-24 05:41] hipunk commented on #1440
I've written a quick workaround, so far it has to be invoked manually (before opening up Dota 2 and after having closed it).
I've worked a few minutes on a launchagent/launchdaemon version that automates it, but it's overkill for something that's hopefully fixed soon enough anyways, so it's finished already and as is.

[2018-11-24 19:49] simvux opened #1521 "[Linux] Strange occasional stuttering with 60fps"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`)
[gist](https://gist.github.com/AlmightyFloppyFish/6623f8e6eb76a8ceb36788a438970190)
* Have you checked for system updates?: [Yes/No]
Yes (xbps-install -Su)
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No]
Yes

[2018-11-25 15:30] presianbg commented on #1521
Same here.
Tried everything:

- reinstalling  NVIDIA drivers - stable 410 and beta 415;

- using native and bundled runtime;

- Verifying game local files;

- vulkan / opengl switch;

-  steam BETA client;

....

Even lowering the Video settings to minimum is not helping.

I'm on Solus Linux with Optimus enabled laptop. Never had such issues. Looks like dota client's fault.

Here is the console ou

[2018-11-25 17:00] simvux commented on #1521
@presianbg Do you happen to use Btrfs as your filesystem?

And how are you handling optimus? nvidia-xrun, runnning X11 purely on nvidia, or using bumblebee?

[2018-11-25 17:04] presianbg commented on #1521
Ext4 on top of lvm + LUKS
Pure Nvidia (Solus) PRIME display.

[2018-11-26 04:12] presianbg commented on #1521
Reinstalled Solus and this makes no difference. Its 100% dota client issue.

[2018-11-26 09:03] simvux commented on #1521
I think it's safe to assume the problem's related to PRIME/Optimus.

The next step would be isolating whether the issue lies in the Dota 2 client or in SDL2. @presianbg Do you have some other SDL2 game installed you could try with? CS:GO perhaps?

[2018-11-26 09:27] presianbg commented on #1521
@AlmightyFloppyFish
Yes, I do have CS:GO and I can test it later. I will update here with my findings.
Do you have any progress on your side ?

[2018-11-26 11:00] simvux commented on #1521
Nope, but I'll be doing some experimentation today. Gonna try running in openbox, changing my display settings ( Currently using dual monitors ), and so on

[2018-11-26 15:38] presianbg commented on #1521
@AlmightyFloppyFish
What was the last time you had normal performance?
For me 3-4 days ago it was fine, I'm not sure which client update broke it.

[2018-11-26 16:28] simvux commented on #1521
This is a hard question because, before ~3 days ago, i was dualbooting to play Dota. Then switched purely to Void linux and just assumed it had issues because I picked a hipster distro. I have had other stuttering issues in Dota 2 before when I was using Arch as a gaming OS. But that was completely different and was more like constant microstutter that made 120 fps feel like 40, which i do not obs

[2018-11-26 19:24] presianbg commented on #1521
Just tried CS:GO and the same fps stuttering happens. Tried many different settings. You may be correct regarding optimus / SD.

Tried with nouveau and intel/mesa... Same behavior.

[2018-11-26 22:02] TimZaman opened #1522 "dev.dota2.com authentication is broken! Even for new accounts!"
Please fellow Valve devs, fix this issue:

I created an new account to get access to dev.dota2.com, but this failed with Auth failed - Missing key:
![image](https://user-images.githubusercontent.com/7721540/49044781-a8cfca80-f183-11e8-8486-2efa446bcbe2.png)

You can create a new forum account, but you cannot link it to your steam account, so you can't do anything in the fora.

[2018-11-26 22:10] kisak-valve commented on #1522
Duplicate of #1516.

[2018-11-26 22:10] #1522 closed, assigned to nobody

[2018-11-26 22:22] TimZaman commented on #1522
Thanks mate. I'd love to report the issues on the fora but (to my knowledge) no one can participate without this being fixed).

[2018-11-26 22:24] TimZaman commented on #1516
#1522 is not strictly a duplicate: I made a fresh account, where I confirmed that i has the same issue. So I speculate this impacts all new members, so no one can verify their forum accounts with steam until this is fixed.

[2018-11-26 23:50] presianbg commented on #1521
I don't know how, but its fixed !
What I did:

1. Re-installed Solus OS;
2. Installed all updates and 410 Nvidia propriety drivers;
3. Installed steam as always;
4. Installed DOTA 2 **without Vulkan DLC** ;
5. Tried to spectate a match - DOTA is working as smooth as french butter on a hot toast;
6. Installed Vulkan DLC - DOTA client kept the high FPS frame rate without significant drops and stutte

[2018-11-27 04:49] scarlettDiMa opened #1523 "[Windows 10] intermittent stuttering in game"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
MSI Desktop PC Trident 3
Trident 3 Arctic VR7RD-048US
Intel Core i7 7th Gen 7700 (3.60 GHz) 16 GB DDR4 1 TB HDD 256 GB SSD NVIDIA GeForce GTX 1070 Windows 10 Home 64-Bit

* Have you checked for system updates?: [Yes/No]
YES
* Are you using the latest stab

[2018-11-27 04:50] scarlettDiMa commented on #1523
And I think this issue is not limited to windows. I see complains from Mac user and Linux user as well.

[2018-11-27 09:50] simvux commented on #1521
Ohh nice, I'll try to do the same once i get home.

edit: no luck, gonna try installing a non-hipster OS like Ubuntu and see if it's just some weird lib issue, if it's still not functioning then it's one of the following or a combination of: Xorg, Nvidia driver for Optimus, PRIME, SDL2

[2018-11-27 13:44] kisak-valve commented on #1523
Hello @scarlettDiMa, you'll want to post this at https://dev.dota2.com for the larger Dota 2 team.

[2018-11-27 13:44] #1523 closed, assigned to nobody

[2018-11-27 17:21] pablospizzamiglio opened #1524 "[Linux] Crash when quiting Dota 2"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/pablospizzamiglio/99a8125364347b1ddb521cabb05a3a72
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please desc

[2018-11-27 17:24] pablospizzamiglio commented on #1524
I forgot to add the crashdump.

[crash_20181127140423_1.zip](https://github.com/ValveSoftware/Dota-2/files/2621119/crash_20181127140423_1.zip)

Thanks!

[2018-11-27 17:32] kisak-valve commented on #1524
For reference, the attached minidump is a SIGSEGV in libvideo.so. Possible duplicate of https://github.com/ValveSoftware/Dota-2-Vulkan/issues/279.

[2018-11-27 17:38] pablospizzamiglio commented on #1524
Thanks for the quick response, @kisak-valve.

I didn't know which application to use to read the minidump.

Do you know if there's a workaround that we can apply or we need to wait for an update from our distro or Dota?

Regards.

[2018-11-28 03:20] presianbg commented on #1521
And the stuttering is back... I haven't changed anything since yesterday. I haven't played either after last tests.
Even watching a game is unbearable.

[2018-11-28 17:50] simvux commented on #1521
Same issue in Kubuntu.

Here's a pro tip: Stay as far away from Nvidia Optimus and PRIME as you can

[2018-11-29 16:28] Frankstar commented on #962
since last patch ist working without a problem.
didnt change anything.

[2018-11-29 17:30] ChrisLauinger77 commented on #962
what exactly does work for you ? please explain ?
for me,
-phased_window_create does not work with vulkan and without it its on wrong screen.

[2018-11-29 18:02] presianbg commented on #1521
New finding.
If i use the lts kernel (4.9) everything is back to normal.
With the current kernel branch (4.19) FPS is back to potato.

EDIT  - Yep, it's 100% reproducible  on my side.

@AlmightyFloppyFish  would you be so kind to test with the LTS kernel and see if this is truly the case here ?

[2018-11-29 19:59] Turmfalke2 opened #1525 "Severe performance issues when watching the artifact trailer"
hi,
Today when I started dota 2 it autorun an artifact trailer - at what feels like 5 fps. Figuring something might be wrong/the game still loading assets in the background I restarted dota 2 and manually triggered the trailer from the main menu. This time the first part was somewhat fluent, but in last third it again dropped to single digits with the sound stuttering.

I am usually able to  play

[2018-11-29 21:35] Frankstar commented on #962
there is nothing to explain.
i start Dota only with `-vulkan`
Before the patch - it always started on the wrong monitor.
since the patch it starts on the Primary Monitor -> so it seems fixed to me.

[2018-11-30 05:09] presianbg commented on #1525
Hi,

nvidia stable driver is 410. Try to update.
Also I found that dota2 client is not playing well with latest kernels. Try to use the LTS branch to see if that helps.

[2018-11-30 09:18] ChrisLauinger77 commented on #962
What gfx card are you on ? What are your dota video settings ?

[2018-11-30 16:49] simvux commented on #1521
@presianbg Can confirm, downgrading from 4.19 on Kubuntu appears to have solved the issue. Gonna switch back to Void when i got the time and install older kernel there

[2018-11-30 16:51] presianbg commented on #1521
Nice, so we are now on the right track... but on wrong REPO :)
Any clues how to investigate this further ?

[2018-11-30 16:56] simvux commented on #1521
I have no idea, a good idea would be to somehow monitor disk for abnormalities since the most major change of 4.19 iirc was some new I/O scheduler, but I'm really not educated enough to troubleshoot a kernel issues.

[2018-12-01 14:24] presianbg commented on #1521
New finding:
Silly me, I didn't checked what process might choking my system with 4.19.

Kernel 4.19 where DOTA 2 is barely making 35 fps:
![image](https://user-images.githubusercontent.com/2163486/49329332-98ee2700-f585-11e8-84d7-921469639ec5.png)

What is that kwoerker/0:3+kacpid doing there ?!

Here is 4.9 with DOTA2 making stable 90 fps:

![image](https://user-images.githubusercontent.com/2163

[2018-12-01 14:38] presianbg commented on #1521
@AlmightyFloppyFish
Dude do you have external HDD bay?
I removed mine after googling about **kworker/0:3+kacpid**
https://unix.stackexchange.com/questions/398520/kworker-consumes-high-cpu-for-external-hard-drive
And this indeed solved my stuttering!
I swapped my HDD bay with my other laptop roughly the same time when lag appeared!
It all makes sense now... at least for me.

[2018-12-02 03:19] RankoR commented on #1188
Well, I can confirm that FPS drops are still present on my GTX970, but not present on RX580 on the same device.
So, seems to be NVidia's driver issue or nvidia gpu-related issue.

[2018-12-02 21:34] admshao opened #1526 "[Linux] Constant Random Crashes"
So, its been days (maybe weeks already) that Dota is randomly crashing, Its impossible to play or watch any game.

From draft to any stage on the game.

latest crash (on libclient.so, had crashses on libparticlesystem, and on libvulkanrenderer (also hapens on OpenGL))

https://gist.github.com/admshao/08681d7ab16f77c6c0f6e529226e8777

Worth adding that its happening ONLY to Dota, I'm playing Artifa

[2018-12-02 21:49] admshao commented on #1526
This one happened after an Alt Tab but important to notice that the majority of the crashes happens while playing/watching

https://gist.github.com/admshao/8c0fe4f2bb8c795249c14b4c3f051dff

[2018-12-03 03:37] wubwoofwolf commented on #1518
Hi, I have the exact same problem. Been playing on a macOS X 10.9.5 mavericks for years, could this be related to steam only supporting 10.11 and above?

[2018-12-03 03:37] wubwoofwolf commented on #1473
Hi, I have the exact same problem.

[2018-12-03 06:20] Turmfalke2 commented on #1525
hi @presianbg
Dota2 it self is running just fine, it is only the artifact trailer that isn't.

[2018-12-04 13:22] wubwoofwolf opened #1528 "Wrong dowload size and play button not working"
#### Your system information

* System information:
Mac osX 10.9.5 (Mavericks)
Intel Core i7 4 GHz
16 GB 2400 MHz DDR3
Nvidia GeForce GT 640 2048 MB

 Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much detail as possible:
When I try to down

[2018-12-04 13:42] kisak-valve commented on #1528
Hello @wubwoofwolf, the space required for steam to install a game may be a bit larger than the download size because some extra space is temporarily used when copying the newly downloaded content to the Steam Library. This is not an indication that there is missing content from the game.

Closing as a duplicate of #1518.

[2018-12-04 13:42] #1528 closed, assigned to nobody

[2018-12-04 14:39] wubwoofwolf commented on #1528
But how come when I installed it on another computer it did download all the 15 Gb? I just wanna play dota  :(

[2018-12-07 13:41] yclyldrm commented on #1473
After I installed El Capitan(10.11.6), my problem gone. Maybe you can try upgrade your OS version.

[2018-12-07 21:19] jonathanborges opened #1529 "libpangoft2-1.0.so.0 after last update"
My system info: https://gist.github.com/jonathanborges/1d221122de95a791ecf2fecb8fa6cb2d

Have you checked for system updates?: YES
Are you using the latest stable video driver available for your system? YES
Have you verified the game files?: YES

Dota crashing asking for libpangoft2-1.0.so.0 after last update!

[2018-12-07 22:26] jonathanborges commented on #1529
Solved!

Debugging via terminal and installing all libs required. Need to delete dota 2 folder in .steam and download again.

[2018-12-07 22:26] #1529 closed, assigned to nobody

[2018-12-08 04:25] Chocrates opened #1530 "Dota 2 Crashing after new patch"
#### Your system information

*  [System Info](https://gist.github.com/Chocrates/7def40a17aba1c1feea5b5b9d6487ff7)
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your issue in as much detail as possible:
On Ubuntu 18.04 Dota instantly

[2018-12-08 04:34] aTK1987 commented on #1530
Same. Mac 10.10.5

[2018-12-08 04:41] mismash1 commented on #1530
+1 Mac OS X 10.14.1
Open steam.  Launch DOTA 2.  Loads to the HUD / Root menu screen then looks like it is being "swiped" to the right, closes to OS desktop.

I have reinstalled Steam / Dota and tried -safe start options.

Model Name:	MacBook Pro
  Model Identifier:	MacBookPro11,5
  Processor Name:	Intel Core i7
  Processor Speed:	2.5 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 C

[2018-12-08 04:46] Slimmons commented on #1530
Same issue here, Ubuntu 18.04 Most recent driver, and I've checked everything else recommended.

Gist of system info [here](https://gist.github.com/Slimmons/2ac57fb52eb64ff60af27ca23f8af527)

[2018-12-08 04:48] Chocrates commented on #1530
Anybody had any luck getting dota to run via the command line so we can get a crash dump?

[2018-12-08 04:51] Slimmons commented on #1530
Dump file attached.  Zipped using gzip.
[crash_20181207224322_1.dmp.gz](https://github.com/ValveSoftware/Dota-2/files/2659412/crash_20181207224322_1.dmp.gz)

[2018-12-08 04:54] Chocrates commented on #1530
Great thanks.  Can you walk me through how you got this one?

[2018-12-08 04:57] Slimmons commented on #1530
If you start the game normally, but have a terminal up with the command `tail -f /var/log/syslog`, it will show you where the dump goes.  Mine was `/tmp/dumps/`.

[2018-12-08 05:09] mismash1 commented on #1530
Adding config and dump files.
[Archive.zip](https://github.com/ValveSoftware/Dota-2/files/2659423/Archive.zip)

[2018-12-08 05:53] Chocrates commented on #1530
Looks like it is a steam issue (rather than a dota issue) https://steamcommunity.com/app/570/discussions/0/1745605598710908098/#c1745605598710927384

Opting out of steam beta gets me a bit further.  Game is still loading, but its not crashing at least.

[2018-12-08 06:23] aTK1987 commented on #1530
Gets me to the main menu. Thanks for the update!

[2018-12-08 07:22] RichMartel commented on #1530
This problem happened as soon as my steam beta client upgraded to the latest (sometime in the last 8 hours).  I'm also running dota 2 with Vulkan launch option, and using Feral's gamemode linux performance booster.

[2018-12-08 07:26] YangtseSu commented on #1530
Crashing with steam beta.

[2018-12-08 08:34] Th3NightHawk commented on #1530
Running on MacOS 14.1, opting out of the beta client didn't resolve anything for me.

[2018-12-08 08:53] Chocrates commented on #1530
Sorry to hear that.  Opting out of beta got me playing again on Ubuntu.

[2018-12-08 09:45] hitchho commented on #1530
Same here on Deepin OS 15.8 :(

[2018-12-08 10:20] maximea1r commented on #1530
The game only crashed for me if i were to view someone's profile.(ingame)

But otherwise the rest of the game worked fine (even on vulcan)

[2018-12-08 12:05] sethdusek opened #1531 "Lost connection to steam after new update"
#### Your system information

* [System information from steam](https://gist.github.com/SethDusek/24d683e69f0d9978a843d79b1764df87)
* Have you checked for system updates?: [Yes, and have tried switching to beta program of Steam]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much deta

[2018-12-08 12:37] sethdusek commented on #1531
It appears that completely purging and reinstalling steam fixes this.

[2018-12-08 12:37] #1531 closed, assigned to nobody

[2018-12-08 13:00] Fristaila opened #1532 "CXXABI_1.3.8 not found for libengine2.so"
#### system information ( https://gist.github.com/Fristaila/9c691414114201bc0f1ae3113b117fad )

* Steam client version (NOV 26 2018 at 20:15):
* Distribution (Ubuntu 14.04):
* Opted into Steam client beta?: [No]
* Have you checked for system updates?: [Yes]

#### Please describe your issue in as much detail as possible:
After launch dota 2 at terminal I have error:
ERROR: ld.so: object '/home/rus/

[2018-12-08 13:17] jonathanborges commented on #1530
I got the same in ubuntu 18.04.

1 - Run dota via terminal ~/.steam/steam/steamapps/common/dota\ 2\ beta/game/bin/linuxsteamrt64/dota
2 - Watch the error and install required libs. Like libpng12 libpangoft2... etc
3 - After install libs some errors keep comming, no problem. Just uninstall dota via steam and remove "Dota 2 beta" folder in steamapps.
4 - Download dota again.

This solve for me!

[2018-12-08 13:28] raihanfajri commented on #1532
same issue with me

this is my log

GameAction [AppID 570, ActionID 2] : LaunchApp changed task to WaitingGameWindow with ""
ERROR: ld.so: object '/home/asus/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
ERROR: ld.so: object '/home/asus/.steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF

[2018-12-08 13:45] Th3NightHawk commented on #1530
New Steam client update resolved my Dota 2 crash issue on MacOS.

[2018-12-08 18:09] reeplayd90 opened #1533 "Mac Dota 2 'Lost connection to steam'"
Hi,

I am not able to play Dota 2 because it says 'Lost connection to steam' at the top.  I've already tried the following:

-uninstall reinstall
-restart computer
-going to launch options and putting in '-clientport 27015'

Please help me solve this problem.
<img width="2048" alt="screenshot 2018-12-08 13 05 05" src="https://user-images.githubusercontent.com/45718872/49689121-8aa28c80-faea-11e8-8

[2018-12-08 18:25] JackTemaki opened #1534 "libcurl.so not found or wrong ELF when linking manually"
After updating Dota today, i crash on launch with the following error:

[code]

When i manually link libcurl (i tried 3 and 4),
```sudo ln -s /usr/lib/x86_64-linux-gnu/libcurl.so.4.4.0 libcurl.so```

I get:

[code]

It seems that the newest Dota 2 binary was compiled against a version of libcurl that is not available on Ubuntu 16.04

Computer Information:
    Manufacturer:  Unknown
    Model:  Unk

[2018-12-08 18:38] kisak-valve commented on #1534
Hello @JackTemaki, curl in your log is being used by steam (32 bit) to send a minidump of Dota 2 after things have gone awry. There's nothing special about the curl version, and you should be able to add the `libcurl4-gnutls-dev:i386` or `libcurl4-openssl-dev:i386` package to your system to provide it.

This is completely after Dota 2 has crashed and the issue is most likely the same issue being t

[2018-12-08 18:38] #1534 closed, assigned to nobody

[2018-12-08 21:49] rohanharikr opened #1535 "Crashes every time I open Profile page (all including mine) - Mac"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    CPU Fam

[2018-12-09 00:16] azrothe commented on #1532
I was having the same issue, and was able to solve it by following some of the steps as described at [https://stackoverflow.com/questions/20357033/usr-lib-x86-64-linux-gnu-libstdc-so-6-version-cxxabi-1-3-8-not-found](url)

Namely, installing the package gcc-4.9 as decribed by Vipin Jain allows Dota to start. I did mess around with a bunch of other stuff first, so YMMV.

[2018-12-09 00:59] Chocrates commented on #1530
@kisak-valve  Thanks for reviewing this.  Let us know if you want us to opt-in to beta again and get you any more info.

[2018-12-09 09:50] DaleBaker opened #1536 "Dota 2 quits on system-wide command + q or w"
#### Mac 10.13.2

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro12,1
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    CPU Family:  0x6
    CPU

[2018-12-09 17:03] gselsidi commented on #1535
same

[2018-12-09 19:43] WagnasT opened #1537 "Dota2 crashes within seconds of homescreen"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/SergeantWagner/1f2ea4f04b6e93eef955e9fa2d1a988b

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes
#### Please describ

[2018-12-09 19:48] WagnasT commented on #1537
Last working on 8 DEC, around 1:15 am.  Tried to launch with vulkan and openGL, still crashes right after splash screen.  Running steam native, going to see if I can try it with steam runtime.

[2018-12-09 20:05] WagnasT commented on #1537
Crashes with steam runtime as well as steam native, I guess I can try an older kernel...

[2018-12-09 20:24] WagnasT commented on #1537
switched down to kernel 4.14 and it doesnt crash!  Also had a steam client update upon launch, going to boot back into 4.19 and see.

[2018-12-09 20:28] WagnasT commented on #1537
switched back to 4.19 and it works fine...I guess the gremlins are gone.

[2018-12-09 20:28] #1537 closed, assigned to nobody

[2018-12-09 22:15] kisak-valve commented on #1530
Was everybody who saw this issue using Steam's beta client? Per `This update was re-released on December 8th with a fix for a crash in Dota` in the [2018-12-08](https://steamcommunity.com/groups/SteamClientBeta#announcements/detail/1705073202075628993) Steam client beta update, please make sure the Steam client up to date and retest this issue.

[2018-12-09 22:56] RichMartel commented on #1530
This problem happened for about 1/2 day and was later fixed.  I honestly didn't notice if my client was updated or not.

But YES, it was steam beta.  It appears (for me) that the steam fix for the crash in Dota fixed my problem, and I probably didn't notice that my client was updated.

[2018-12-09 23:54] mareksimunek commented on #1530
I got still issues (dota randomly crashing when playing) even when I have normal/ beta/ new beta steam client.

![screen shot 2018-12-10 at 00 47 03](https://user-images.githubusercontent.com/8159699/49704589-24665880-fc15-11e8-8df1-b54f1c487dae.png)

![screen shot 2018-12-10 at 00 45 27](https://user-images.githubusercontent.com/8159699/49704676-3dbbd480-fc16-11e8-941d-0d20a65a1eea.png)

I will t

[2018-12-10 00:05] wubwoofwolf commented on #1473
It sucks if that's the only solution because i'm on a hackintosh and can't upgrade my OS since my current version is the only one that supports Nuendo, a program I need for work. Also going through the effort of upgrading on hackintosh is too much and it may not even solve it.

[2018-12-10 02:23] emersivetech commented on #1535
same problem  OSX 10.13.6  since an update couple days ago

[2018-12-10 10:40] kt0 commented on #1535
Getting this in terminal before crash.

[code]

[2018-12-10 21:07] simvux commented on #1521
I am nolonger experiencing this issue, neither on Kubuntu or Void. Not sure what was wrong, could've been the earlier versions of Linux 4.19 being buggy I'm not sure.

Closing issue for now

ps: no i do not have an external HDD bay, and no process was taking up extra CPU

[2018-12-10 21:07] #1521 closed, assigned to nobody

[2018-12-11 10:33] dearlygparted commented on #1532
[code]

 Try running Steam like this:

 `STEAM_RUNTIME_PREFER_HOST_LIBRARIES=0 steam`

 Are the other people with this issue using outdated distros?

[2018-12-11 10:39] ruliane commented on #1532
I couldn't launch Dota2 on Linux Mint 17.3. ("version `CXXABI_1.3.8' not found")
Upgrading to Mint 19 (latest stable release) resolved my issue.

[2018-12-11 22:53] mareksimunek commented on #1530
So I found out I do it myselft with shortcut cmd + q (which i have for item activation). It now quits whole dota.

[2018-12-12 03:04] rezda opened #1538 "CMD+Q Issue"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/rezda/53a0b109d17dcbea47fc444772a1a118
* Have you checked for system updates?: yes
* Are you using the latest stable video driver available for your system? yes
* Have you verified the game files?: yes

#### Please describe your is

[2018-12-12 11:07] RocketsReuben opened #1539 "Dota Crash when using any targeted item"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.github.com/RocketsReuben/efcd5e73dc2f6aae9f018029433bb353
* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No

[2018-12-12 11:22] Lchiffon commented on #1530
Same issue in Ubuntu 14.04.
Lastest version and run dota beta:
[code]
I checked this file `/usr/lib/x86_64-linux-gnu/libstdc++.so.6` got:
[code]

In another file `sudo strings /home/USERNAME/.local/share/Steam/ubuntu12_32/steam-runtime/i386/usr/lib/i386-linux-gnu/libstdc++.so.6.0.21 | grep CXX` have CXXABI_1.3.8:
[code]
But copy and rename not working.

[2018-12-12 13:39] kisak-valve commented on #1538
Hello @rezda, system hotkeys should always take priority over application hotkeys and this is not a bug.

https://discussions.apple.com/thread/7634486

[2018-12-12 13:39] #1538 closed, assigned to nobody

[2018-12-12 14:06] kisak-valve commented on #1532
Can everybody affected check if `realpath` is installed on your system? Steam's library pinning logic needs realpath to work, but it's not installed by default on Ubuntu 14.04.

You should be able to check with `apt policy realpath` in a terminal.

If it's not installed, please do so with `sudo apt install realpath`, then make sure steam is completely closed, then move / remove `<steam dir>/ubuntu

[2018-12-12 14:09] kisak-valve commented on #1530
I'm going to cut off this issue report here. The OP's issue is resolved and @Lchiffon's issue is being tracked at #1532. It's likely more unrelated issues are going to end up in here if it remains open.

@mareksimunek, please open a separate issue report for the issue you are seeing.

[2018-12-12 14:09] #1530 closed, assigned to danginsburg

[2018-12-12 20:49] danginsburg commented on #1535
This turned out to be an issue in MoltenVK (fix: https://github.com/KhronosGroup/MoltenVK/pull/395).  The will be fixed in the next Dota 2 Update.

[2018-12-12 21:58] danginsburg commented on #1539
Are you using OpenGL or Vulkan?  Does it crash with both?  So far I haven't been able to repro this locally.  Might be helpful if you also run with -con_logfile and post ~/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/console.log

[2018-12-13 02:00] ogkloo opened #1540 "Visual "Static" on certain UI elements"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist]
https://gist.github.com/ogkloo/38f71973ac2a6c99dc1d3c63ba4c9acb
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No
The latest makes it so I can't run the game at all
* Have you verified the game files?: Yes

####

[2018-12-13 02:05] kisak-valve commented on #1540
Hello @ogkloo, are you using Dota 2 with opengl or vulkan and does the other backend have the same behavior?

[2018-12-13 03:18] ogkloo commented on #1540
I'm using the opengl backend.
Using Vulkan fixed most of it! I completely forgot about that as an option and thank you for pointing that out. However, there's still a much smaller glitch:
![screenshot_latest](https://user-images.githubusercontent.com/8551013/49913525-b43d1a00-fe42-11e8-9345-e95a66f4f311.png)

[2018-12-13 07:29] DaleBaker commented on #1536
I actually figured this one out.

Command  + q now crashes dota on mac.

It was my most common key binding and I used it so often that i took abandoning 7 games or so till i figured it out.

Please fix!!!!

Also remove my account from low priority please!!!

https://www.dotabuff.com/players/906097861

[2018-12-13 12:56] Fristaila commented on #1532
https://stackoverflow.com/questions/20357033/usr-lib-x86-64-linux-gnu-libstdc-so-6-version-cxxabi-1-3-8-not-found - helped
azrothe - thx!

[2018-12-13 12:56] #1532 closed, assigned to danginsburg

[2018-12-13 13:23] maximea1r commented on #1535
May i mention that the crashes still occur if vulkan is enable

[2018-12-13 13:46] danginsburg commented on #1540
Looks like you are on NVIDIA 384.130, would you be willing to try to upgrade?  I suspect these issues will right themselves on a more recent driver.

[2018-12-13 23:38] ogkloo commented on #1540
I've tried to upgrade before but it's resulted in opengl errors every time so I think I'll live with these bugs for now. I'm unsure on why I'm getting opengl errors, but I think that and a number of other bugs are just related to not having gotten around to updating things.

[2018-12-14 02:17] admshao commented on #1526
Just wanted to let you guys now, Its been a couple of days since my last crash,

In the mean time i had upgraded my kernel to 4.19.8-arch1-1-ARCH, nvidia to 415.22, reinstalled dota and steam update.

In case i don't have any other crashes until the weekend i think it will be safe to close this.

[2018-12-15 05:32] MerciGitHub commented on #1533
hey did you manage to solve the issue? I'm using Mac as well and its been weeks I have this exact issue

[2018-12-15 05:33] MerciGitHub commented on #1533
<img width="1439" alt="screenshot 2018-12-15 at 1 30 12 pm" src="https://user-images.githubusercontent.com/45890829/50039454-dd8dbe00-006d-11e9-904b-3c9f17be7133.png">

|HFO|combowombo is my steam name

[2018-12-15 09:58] amitavmohanty01 opened #1541 "Dota 2 crashes"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/590e766165ff364a2f4ad8a6413a8452
* Have you checked for system updates?: [Yes/No] yes
* Are you using the latest stable video driver available for your system? [Yes/No] yes
* Have you verified the game files?: [Yes/

[2018-12-15 16:42] kisak-valve commented on #1541
Hello @amitavmohanty01, there isn't enough information here for this issue report to be actionable. If you find any CrashIDs or minidumps (commonly found in `/tmp/dumps`) related to this issue, please throw them into an archive and drag and drop them into the comment box.

[2018-12-15 17:01] amitavmohanty01 commented on #1541
Thanks for telling me the location.

[2.zip](https://github.com/ValveSoftware/Dota-2/files/2682881/2.zip)
[3.zip](https://github.com/ValveSoftware/Dota-2/files/2682882/3.zip)
[crash_20181215030446_1.dmp.zip](https://github.com/ValveSoftware/Dota-2/files/2682883/crash_20181215030446_1.dmp.zip)

[2018-12-15 17:22] kisak-valve commented on #1541
For reference, the (3) and last minidumps are SIGSEGV in libvideo.so (part of Dota 2).

[2018-12-15 17:33] RankoR opened #1542 "[macOS] Dota crashes when Rubick is in game"
#### Your system information

* https://gist.github.com/RankoR/57aaec7a7e19b43e87778fb37682b843
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Dota crashes when Rubick is in game (on any side). When Rubick is in enemy te

[2018-12-15 17:35] RankoR commented on #1498
Guys, any progress or estimates? Issue is still there.

[2018-12-16 07:03] pandareen opened #1543 "Dota 2 not starting after the steam update"
#### Your system information
Ubuntu 14.04 LTS
RAM 8G
Core i3 8thG
Geforce GTX 1050Ti

* Steam client version (build number or date): 26th Nov 2018
* Distribution (e.g. Ubuntu): 14.04 LTS
* Opted into Steam client beta?: [Yes/No] No
* Have you checked for system updates?: [Yes/No]: No

#### Please describe your issue in as much detail as possible:
Describe what you _expected_ should happen and what

[2018-12-16 13:21] kisak-valve commented on #1543
Hello @pandareen, give #1532 a read.

[2018-12-16 13:41] pandareen commented on #1532
Thank you @kisak-valve ... I installed realpath and restarted steam... It works now!

[2018-12-16 13:42] pandareen commented on #1543
Thank you.. the issue is resolved after installing `realpath`

[2018-12-16 13:42] #1543 closed, assigned to nobody

[2018-12-16 20:21] tangyapple commented on #1533
Having same issue... anything worked?
![screen shot 2018-12-16 at 9 57 10 am](https://user-images.githubusercontent.com/45923099/50058429-1bf5bb00-01dd-11e9-8de4-6515b5df5608.png)

[2018-12-17 09:27] mtnaked commented on #1538
@kisak-valve Thanks for the answer. I have been dealing with this for 2 weeks now and haven't found a solution.
Before that the CMD+Q was bindable and only started from an update 2 weeks ago for the Dota client.
Is it possible that the client updated the priority for the system hotkeys?

As for the link you provided - it doesn't necessarily fix the problem for Dota2 as it cannot be specified for t

[2018-12-17 16:53] LewisEro opened #1544 "Crashing upon activation of ANY active item"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

https://gist.github.com/LewisEro/efdc702c14366767e1728f7692739e21

* Have you checked for system updates?: [Yes/No]

YES

* Are you using the latest stable video driver available for your system? [Yes/No]

YES

* Have you verified the game files?: [Yes/N

[2018-12-17 17:10] LewisEro commented on #1544
It's command + Q, as another user reported... AKA my most commonly used hotkey. It's not a crash but *obviosly* the mac shortcut to quit a program. I find it very confusing that this has not closed dota for me previous to this patch... I would delete the OP if I could as this is rather embarrassing...

It does suck that this gave me low prio but then again this is the equivalent of using Alt + F4

[2018-12-17 17:24] kisak-valve commented on #1544
Hello @LewisEro, this issue is already being tracked at #1536. Closing as a duplicate.

[2018-12-17 17:24] #1544 closed, assigned to nobody

[2018-12-18 17:18] tiburcillo opened #1545 "[Linux] Random crashes on Ubuntu 18.04 with stable padoka ppa"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist]https://gist.github.com/tiburcillo/b19c382ce90c3ad2d7dcbd986a1e25c3
* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system?
Latest stable Padoka PPA
Graphics:  Card: Advanced Micro Devices [AMD/ATI] Ellesmere [Ra

[2018-12-18 17:24] kisak-valve commented on #1545
For reference, the attached minidump is a SIGSEGV in libvphysics2.so.

[2018-12-18 17:34] admshao commented on #1526
I got a word from a friend of mine that had similar issues on Windows a couple of weeks ago, He also has a Nvidia gpu and had Windows big update and a nvidia update and his crash is also gone.

I think its safe to close it for now. I'll let you know of any updates

[2018-12-18 17:47] kisak-valve commented on #1526
Closing per the last comment.

[2018-12-18 17:47] #1526 closed, assigned to danginsburg

[2018-12-18 19:40] tiburcillo commented on #1545
In case you need more instances:
[ 8804.886651] GlobPool0[13930]: segfault at 7f2a07d9d020 ip 00007f2c19ca319c sp 00007f2c2b7699a0 error 4 in libmeshsystem.so[7f2c19c64000+237000]
[ 8804.886659] Code: 45 90 e8 87 06 ff ff 44 8b 55 b0 45 85 d2 7e 5d 4c 89 65 b0 4c 8b 5d 90 44 8b 65 9c 66 90 49 63 07 44 39 e0 7d 36 4d 8d 34 c3 <49> 8b 1e 48 85 db 0f 84 5f 02 00 00 4c 63 33 4c 89 f7 49 c1 e6 02
[1074

[2018-12-19 16:41] sylware opened #1546 "libtcmalloc_minimal.so.0 hijacking of glibc realloc makes dota crash"
I was fooling around with mesa drivers, when I noticed that using a bit too many times the libc realloc function makes dota crash in libtcmalloc_minimal.so.0. I suspect this could be the source of many dota issues. Is there a way to tell dota to disable glibc mem functions (realloc/etc) hijacking by libtcmalloc?

[2018-12-19 23:29] egMarshall opened #1547 "(MacOs) Dota 2 crashes immediately after Frosthaven update"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist]Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro14,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
    CPU Family:  0x6
    CPU Model:  0x8e

[2018-12-19 23:45] danginsburg commented on #1547
Thanks, working on it.  You should be able to workaround it by deleting ~/Library/Application Supports/Steam/steamapps/common/dota 2 beta/game/dota/shadercache/vulkan/shaders.cache  or running with -vulkan_disable_pipeline_cache.  Should have a fix pushed out shortly though.

[2018-12-19 23:47] egMarshall commented on #1547
Thanks danginsburg! I'll wait the fix uptade!

[2018-12-19 23:53] predacon opened #1548 "game wot launch anymore since last update on linux nor macos (dota2 compilation id 3413998) [SOLVED]"
i've plaiyng fine 1 hour before, then i updated the game as requested and dont start anymore showing this error:
Type_DeclaredClass ():
Fatal error: class "From Class Binding" has whitespace in its registration macro.

[2018-12-19 23:56] danginsburg commented on #1547
Fix is on its way for next update.  In the meantime you can overwrite your copy of libMoltenVK.dylib in ~/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/bin/osx64 with the attached version.
[libMoltenVK.dylib.tar.gz](https://github.com/ValveSoftware/Dota-2/files/2696911/libMoltenVK.dylib.tar.gz)

[2018-12-20 00:00] kisak-valve commented on #1548
Hello @predacon, are you using Dota 2's vulkan backend? If so, does adding `-vulkan_disable_pipeline_cache` to the game's launch options help? (from #1547)

[2018-12-20 00:07] predacon commented on #1548
no, I don't have vulkan support installed. we are 6 people with the same issue (dota2 community thread)

[2018-12-20 00:12] predacon commented on #1548
my fault, i have -vulkan in the launch options by mistake, maybe from the last time i try to play with vulkan backend. deleting -vulkan from launch options solve the problem. game launch normally again. sorry ^^

[2018-12-20 00:18] kisak-valve commented on #1548
Closing as a duplicate of #1547.

[2018-12-20 00:18] #1548 closed, assigned to danginsburg

[2018-12-20 13:47] danginsburg commented on #1547
Fix has shipped, closing.

[2018-12-20 13:47] #1547 closed, assigned to danginsburg

[2018-12-20 23:36] tiburcillo commented on #1545
Forgive me should I be spamming, but problem is still present on the Rubick Arcana update. I verified dota2 after installing the update, watched a game and got the following crash (first crash always seems to happen around 2700 seconds of uptime it seems, see original post):
[ 2779.152046] show_signal_msg: 9 callbacks suppressed
[ 2779.152049] GlobPool0[5330]: segfault at 44c60857 ip 00007f5558f1e

[2018-12-21 03:06] tonghe90 opened #1549 "fail to start dota2 on linux 14.04"
Hi Below is my system version, but I cannot log in the dota2. Every time I click play, it doesn't crash, but has no response. Any idea how to fix this?
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-6600 CPU @ 3.30GHz
    CPU Family:

[2018-12-21 05:18] tonghe90 commented on #1549
GameAction [AppID 570, ActionID 4] : LaunchApp changed task to UpdatingAppInfo with ""
GameAction [AppID 570, ActionID 4] : LaunchApp changed task to ProcessingInstallScript with ""
GameAction [AppID 570, ActionID 4] : LaunchApp changed task to SynchronizingCloud with ""
GameAction [AppID 570, ActionID 4] : LaunchApp changed task to SiteLicenseSeatCheckout with ""
GameAction [AppID 570, ActionID 4

[2018-12-21 13:19] kisak-valve commented on #1549
Hello @tonghe90, please check if https://github.com/ValveSoftware/Dota-2/issues/1532#issuecomment-446599112 is relevant for you.

[2018-12-21 16:28] #1535 closed, assigned to natbro, danginsburg

[2018-12-21 17:34] sylware commented on #1546
Was my fooling around that was mistaken.  My bad.
That said, having a flag to use the glibc allocator directly may not be a bad idea anyway.

[2018-12-21 17:34] #1546 closed, assigned to nobody

[2018-12-22 18:27] bojunwu opened #1550 "[MAC]Performance drop after recent update"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro14,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
    CPU Family:

[2018-12-23 23:48] dddavo commented on #1550
Same

[2018-12-24 02:45] yash1610 opened #1551 "[Linux] CTRL key doesn't work"
#### Your system information

* System information from steam (Steam -> Help -> System Information) in a [gist](https://gist.github.com/yash1610/784c236828e150a0ad48972f93e62daf)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as poss

[2018-12-24 03:01] kisak-valve commented on #1551
Hello @yash1610, your desktop environment is most likely intercepting some hotkeys like control q and control w - https://wiki.gnome.org/Design/OS/KeyboardShortcuts. In general any application should not block system-wide shortcuts, but you might be able to unbind them in a gnome setting to let Dota 2 have a chance of using them.

Related to #1536.

[2018-12-24 03:23] yash1610 commented on #1551
That does make sense, but I checked again I have nothing bound to CTRL at all (and any shortcuts that did use CTRL as a modifier I disabled). Although that should still not stop me from drawing on the map with CTRL or issuing unified orders to units I control since I am not using CTRL+ Key combo?

[2018-12-24 03:32] yash1610 commented on #1551
Just to clear up I don't think my issue is related to #1536 since, CTRL+Q does nothing. I just used it as an example because q is the first key on the keyboard. I don't have this weird thing where if I press CTRL+ some_key something else happens in the OS. it's just nothing happens in dota. It's as if Dota can't even recognise that there is a CTRL key.

Right now my main problem is that I can't is

[2018-12-24 04:43] yash1610 commented on #1551
FIXED: I had pointer location turned on in Gnome-tweaks. The default key for which is just CTRL.

[2018-12-24 04:43] #1551 closed, assigned to nobody

[2018-12-24 04:57] tonghe90 commented on #1549
solved

[2018-12-24 04:57] #1549 closed, assigned to nobody

[2018-12-24 22:52] orzen opened #1552 "In game voice no longer works on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

USB microphone for audio input and USB sound card for audio output. PulseAudio 12.2-2. Kernel 4.19.12-arch1-1-ARCH.

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Info

[2018-12-26 10:43] laurentiuco opened #1553 "Segfault while trying bot match"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) : [system_info](https://gist.github.com/laurentiuco/ee28bc8f0bfd9288f03e3b42cffed7a9)
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as

[2018-12-27 14:21] danginsburg commented on #1550
The new release of MoltenVK invalidates the shader cache stored on disk so any new shader combinations will stutter on first use while the shader cache is warmed.  Does this persist after things have been warmed up?

[2018-12-29 15:09] laurentiuco commented on #1553
As far as I can see it this is not reproducible anymore. Maybe there was a broken process before or something went bad and caused this as it didn't happen after I created the ticket. This can be closed from my side.
Sorry for the trouble.

[2018-12-29 17:47] kisak-valve commented on #1553
Closing per the last comment.

[2018-12-29 17:47] #1553 closed, assigned to danginsburg

[2018-12-30 09:59] nkolln commented on #1533
Has anyone found any solution or is this being ignored by the devs? No reply from them on the thread so that's worrisome :/.

Have a friend who can't play for a month, and I tried to fix it with every Mac related fix on the internet but nothing works.

Would be great if anyone even has a temporary work around.

[2018-12-30 18:00] bojunwu commented on #1550
I didn't notice it but I think the problem doesn't persist after warm up. I wonder why do they add the new MoltenVK if it actually degrades the performance.

[2019-01-02 14:24] Bednar87 opened #1554 "[Linux] Dota 2 Crash on EXIT"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Bednar87/e64b7f70b6d9ee8d0125cfe19a8c584e
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

The game hangs and crashe

[2019-01-02 14:47] kisak-valve commented on #1554
Hello @Bednar87, this issue is already being tracked at #1524. Closing as a duplicate.

[2019-01-02 14:47] #1554 closed, assigned to nobody

[2019-01-04 09:06] sylware commented on #1504
Is this fixed? I have not played many heroes, but the bug seems gone.
Anyone to confirm?

[2019-01-05 00:19] jaydoubleuw opened #1555 "Dota fails to launch on ubuntu 14.04"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

 https://gist.github.com/jaydoubleuw/dfe03c6aa6c02a5b91b5bee805f938a2#file-gistfile1-txt

* Have you checked for system updates?: [Yes/No]

yes

* Are you using the latest stable video driver available for your system? [Yes/No]

yes

* Have you verified

[2019-01-05 00:32] kisak-valve commented on #1555
Hello @jaydoubleuw, please give https://github.com/ValveSoftware/Dota-2/issues/1532#issuecomment-446599112 a read.

[2019-01-05 01:05] jaydoubleuw commented on #1555
Ty!  works like a charm :)

[2019-01-05 01:19] kisak-valve commented on #1555
Thanks, closing.

[2019-01-05 01:19] #1555 closed, assigned to nobody

[2019-01-05 09:01] buxxi commented on #962
Having this problem when running Ubuntu 18.10/Gnome 3.30.1/Nvidia GTX 970 410.78, want it to start on my right screen but it starts on my left.

My launchoptions: `-sdl_displayindex 0 -w 1920 -h 1080 -freq 144 -vulkan`

But I found out it seems to be affected if the panel is shown or not (using dash to panel if that may affect anything).

- If I have the panel only on my right screen it incorrectl

[2019-01-05 20:14] amitavmohanty01 opened #1556 "Coredump during shutdown"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/590e766165ff364a2f4ad8a6413a8452
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/

[2019-01-05 20:26] kisak-valve commented on #1556
Closing as a duplicate of #1541 and #1524.

[2019-01-05 20:26] #1556 closed, assigned to nobody

[2019-01-09 12:50] tiburcillo commented on #1545
Just an update on this: I updated my BIOS with AGESA 1.0.0.6 for Ryzen processors, since this update I haven't experienced DOTA2 crashes.
Only 4-5 games played so far though, but looks promising.

[2019-01-09 21:06] sylware opened #1557 "[alsa] underruns are back"
log file has many lines:
ALSA lib /root/nyanlinux/src/alsa-lib-1.1.6/src/pcm/pcm.c:8424:(snd_pcm_recover) underrun occurred

alsa dmix plugin on HDA realtek chip

[2019-01-10 10:23] RichMartel opened #1558 "Shader issue on January 9th update"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.github.com/RichMartel/f1e9680fa6bd945175eec31415fd8e46
* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No]
Y

[2019-01-10 19:50] sylware commented on #1557
updated my system to alsa-lib 1.1.8, underruns still occur.

[2019-01-12 18:45] phoerious commented on #1558
Having the same problem here. Not only on the main screen, but also in game. It appears around all particle effects (sometimes it also appears around my mouse click circles on the ground) and looks like some masks are not applied properly.

Here's an example of Shaman wards.

![image](https://user-images.githubusercontent.com/911270/51077127-4df62200-16a2-11e9-9a95-9e5d51b91551.png)

[2019-01-12 19:11] RichMartel commented on #1558
Forgot to mention that I am running Dota 2 with Vulkan flag.

[2019-01-17 23:35] Cfouria opened #1559 "Unable to ping any region."
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Cfouria/149f525ef5c16d434f49a1393355fc37
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

[2019-01-18 20:47] phoerious commented on #1558
Sorry for nagging about this, but can we get this fixed please? It's been over a week now and this is kinda game breaking or at least stupidly annoying.

[2019-01-19 03:54] Cfouria commented on #1559
further information

- last time played was around august 2017
- the router and computer hardware have not changed
- I practice against bots solo (worked)
- got a new message in console `Net packet timing values don't make sense.  Send time=2592041789761, Recv time=2592041790139, Now=2592041790163, Peer delay=4000`

[2019-01-19 17:09] RankoR commented on #1542
BTW currently if Rubick is in game, but not controlled by you, game crashes only when you click on Rubick to see his inventory.

[2019-01-21 03:59] Cfouria commented on #1559
Problem is resolved.

It was the router's firewall. Using port forwarding automatically changed other settings. I only checked because `ping google.com` was giving `request timed out`

[2019-01-21 04:00] #1559 closed, assigned to nobody

[2019-01-24 01:51] AdieSimba commented on #1533
Hello everyone!
I've been faced this problem for the past 2 weeks.Please help because I cannot play Dota 2.
This is my spec for my Macbook

Macbook Pro (13-inch,Early 2015)
Processor 2.7 Ghz Intel Core i5
Memory 8 GB 1867 MHz DDR3
Graphics Intel Iris Graphics 6100 1536MB
macOS Mojave Version 10.14.2

[2019-01-24 21:49] ghost commented on #1558
This happens for me in-menu with the home dota-icon button. Using OpenGL though.

[2019-01-26 05:51] donotresist commented on #1466
I have a dual booted PC and for me this doesn't happen with windows and seems like a Ubuntu only problem.

[2019-01-26 13:03] ghost commented on #1390
This is still happening and it's very annoying. When exiting it freezes for about 20 seconds after which it continues to produce stuttering, distorted sound and lag.

`plasmashell` has been keeping one of my CPU cores at 100% until I restarted it.

[2019-01-26 20:09] simvux opened #1561 "[Linux] [Wayland] Unable to run on wayland natively"
## Description
I am unable to get Dota 2 running natively on Wayland using Intel proprietary drivers. Instead i get a popup with an error which differs depending on which graphics API.

The game runs fine through XWayland.

#### Launch options
[code]

#### LD_PRELOAD'ed library does exist
[code]

#### Popup error using OpenGL (-gl)
[code]

#### Popup error using Vulkan (-vulkan)
[code]

## System

[2019-01-26 20:31] kisak-valve commented on #1561
Hello @AlmightyFloppyFish, this issue is already being tracked at #999. Closing as a duplicate.

[2019-01-26 20:31] #1561 closed, assigned to nobody

[2019-01-26 22:12] simvux commented on #999
I'm having this issue despite preloading the required libSDL2 system library, not sure why my issue was closed since the issue is referenced here as "use this workaround" when i explicitly pointed out that the workaround did not work.

[2019-01-26 22:13] simvux commented on #1561
The workaround that appears to have concluded the referenced issue does not work for me, thus why i put this as a separate issue.

[2019-01-26 22:35] konstantinblaesi commented on #999
@AlmightyFloppyFish Unlikely, but what if your distributions libSDL is compiled without wayland support? Probably not the right way to check but does the command `strings /lib/libSDL2-2.0.so.0 | grep SDL_VIDEODRIVER` have a non empty result? I am using Fedora 29 with wayland and dota 2 still works perfectly.

[2019-01-26 22:42] simvux commented on #999
`strings /lib64/libSDL2-2.0.so.0 | grep SDL_VIDEODRIVER`
results in the output
`SDL_VIDEODRIVER`

You sure this is sufficent to check? SDL2 also has Mir support iirc which would probably include that string even if i wasnt compiled with wayland support.

[2019-01-26 22:44] konstantinblaesi commented on #999
No I don't know a proper way to check, but I get the same output as you.

[2019-01-26 23:01] simvux commented on #999
I remembered that I myself have written some SDL2 applications but in Rust, tried to run them and got:
```thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: "wayland not available"```

So it does appear that my libSDL2 wasn't packaged with wayland support... Gonna try to manually compile it when i get the time, i'll update once i have in case others run into the same issue.

[2019-01-26 23:09] konstantinblaesi commented on #999
You can check whether you have a wayland session with `loginctl show-session $(loginctl | grep $(whoami) | awk '{print $1}') -p Type`

Source https://unix.stackexchange.com/a/371164

[2019-01-26 23:11] simvux commented on #999
That's not the issue here, I clearly have a wayland session considering I'm running sway, and as viewed in the steam information dump steam is running on xwlc which indicates xwayland (since the steam client does not run natively).

edit: also your command shows "type=tty", probably because I'm not using loginctl but rather runit+elogind and launch sway session from tty. (atleast i think that's ho

[2019-01-27 14:15] simvux commented on #999
Manually compiling did not help, but i have discovered some weird behavior. Looking in steam log if i have
/lib/libSDL2-2.0.so.0 preloaded, i get `ERROR: ld.so: object '/lib/libSDL2-2.0.so.0' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS64): ignored.`
and if i preload /lib32/libSDL2-2.0.so.0, i get `ERROR: ld.so: object '/lib32/libSDL2-2.0.so.0' from LD_PRELOAD cannot be preloaded

[2019-01-28 12:25] tukkek commented on #1390
EDIT: ignore this comment, see the next one instead.

This hasn't happened to me in a long time now. It's fixed on my end.

Celofan, maybe try to produce a log. When it used to happen to me it never hung the CPU or any other side effect so this could be a new issue?

[2019-01-28 22:25] tukkek commented on #1390
OK just because I said so it happened to me today xD and yes, it was hogging one of my cores. Was there a recent update that maybe reintroduced this issue (or a similar one)? Because I really can't recall this happening to me lately.

Also, from the fact that I noticed my cooling fans were running stronger than usual before the client froze, it might be entirely possible that DotA was hogging a co

[2019-01-29 03:17] tukkek commented on #1390
My computer seems to be running uncommonly hot today so maybe that last observation is not that helpful (not necessarily directly related to the bug).

[2019-01-31 19:43] Salt-Factory commented on #1533
Same issue here!

[2019-02-01 13:44] DiskPoppy opened #1562 "[Mac] Game freezes when activating Mission Control"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/DiskPoppy/fc95ea9ce433b2c06311291e71d415b5):
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail

[2019-02-01 13:59] kisak-valve commented on #1562
Hello @DiskPoppy, this issue is already being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/284. Closing as a duplicate.

[2019-02-01 13:59] #1562 closed, assigned to nobody

[2019-02-02 07:33] ghost opened #1563 "Audio issue under Linux, works when ran with dota.sh."
#### Your system information

* [System information.](https://gist.github.com/YukenK/bdf3c7d3a21ef81e04b9fbba68aea170)
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

I cloned my ArchLinux setup back over to my desktop and updated to the latest available packages and installed

[2019-02-03 18:57] naanlizard commented on #962
With dash to panel installed, and intellihide / autohide disabled, dota always starts on the wrong monitor (ie non-primary). Vulkan or opengl makes no difference, neither does the sdl monitor index command.

Turning on intellihide/autohide in dash to panel settings does make dota start on the proper screen, and if I disable intellihide after dota launches, everything is fine until I want to start

[2019-02-08 13:49] kisak-valve commented on #1504
Closing pending feedback.

[2019-02-08 13:49] #1504 closed, assigned to nobody

[2019-02-08 14:04] sylware commented on #1504
It has been fixed on my system for a long time. I was waiting for the other
users to confirm.

[2019-02-08 14:45] zoujyjs opened #1564 "[macos 10.14.3] Mouse won't respond"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/zoujyjs/b42bf2578545afcee662fd33c76e57bf
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe

[2019-02-08 14:53] kisak-valve commented on #1564
Possible duplicate of #1219.

[2019-02-08 14:59] zoujyjs commented on #1564
Yes, seems like the same issue. Last for so many years. Any effective workaround?
BTW, by switching graphic APIs to GL or Vulkan doesn't change anything.

[2019-02-08 15:09] kisak-valve commented on #1564
Thanks for confirming, I don't have any info on this issue. Closing in favor of the existing issue report.

[2019-02-08 15:09] #1564 closed, assigned to nobody

[2019-02-08 15:28] zoujyjs commented on #1564
Problem gone after several reboots.

[2019-02-09 02:43] #1511 closed, assigned to nobody

[2019-02-13 03:15] anko commented on #1504
Pardon my inattentiveness. I think this is indeed fixed. Thank you! :heart:

[2019-02-15 14:30] Mis-tian commented on #845
I've come across the same problem

BSD process name corresponding to current thread: dota2

Mac OS version:
18D109

Kernel version:
Darwin Kernel Version 18.2.0: Thu Dec 20 20:46:53 PST 2018; root:xnu-4903.241.1~1/RELEASE_X86_64
Kernel UUID: 1970B070-E53F-3178-83F3-1B95FA340695
Kernel slide:     0x000000001ce00000
Kernel text base: 0xffffff801d000000
__HIB  text base: 0xffffff801cf00000
System mod

[2019-02-16 06:48] Mis-tian opened #1565 "[macOS] Crash in an unstable time after playing dota2"
#### Your system information
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/zoujyjs/b42bf2578545afcee662fd33c76e57bf
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

电脑信息：
    制造商：Apple

[2019-02-16 07:00] Mis-tian commented on #1565
This is the latest crash log
[Kernel_2019-02-14-222452_xietiandeMacBook-Pro.panic.zip](https://github.com/ValveSoftware/Dota-2/files/2871691/Kernel_2019-02-14-222452_xietiandeMacBook-Pro.panic.zip)

[2019-02-17 17:00] amitavmohanty01 opened #1566 "Possible bot scripts in turbo matches"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): Not needed for this concern
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your issue in a

[2019-02-17 20:27] kisak-valve commented on #1566
Hello @amitavmohanty01, please post this over at https://dev.dota2.com/. This issue tracker is for the Mac and Linux Dota 2 client.

[2019-02-17 20:27] #1566 closed, assigned to nobody

[2019-02-19 00:27] sylware commented on #1557
I get crashes: the sound effects are "crackeling" right before a crash. They may be related to this issue.

[2019-02-21 22:44] kadir opened #1567 "PİCA BAN PLEASE"
MY DEAR GAME DEVELOPERS AND ADMINS. LAST GAME WE HAVE "PİCA" He was Sattı? ÇOK FENA SATTI
My GAME NOT CRASH BUT MY BRAIN CRASH. I AM Cancer Now. PAy my Cemotherapy PAYMENT OR BAN THIS PICA DUDE. DO SOME CODE REVIEWS AND BAN HIM

[2019-02-21 22:47] kisak-valve commented on #1567
Hello @Kadir, bans are not handled on this issue tracker.

[2019-02-21 22:47] #1567 closed, assigned to nobody

[2019-02-22 22:28] simvux commented on #999
Not sure if anyone else is as interested as i am but a bit of an update,

Why manually compiling with Wayland support didn't work was because i only compiled for 64bit, but i needed to compile for both 64 bit and cross-compile it for 32 bit and then LD_PRELOADing just the name of the shared library instead of the full path for it to pick up both.

 I'll be trying this when I get the time

[2019-02-23 11:15] nanonyme commented on #999
Yeah, I think Valve pins their own libSDL2 with LD_LIBRARY_PATH, hence why you need LD_PRELOAD. I'm not sure if the pinning makes sense but there's a comment in the steam.sh that it was some bug fix.

[2019-03-05 20:40] Bednar87 commented on #1524
fixed for me as of the Mars update earlier today

[2019-03-05 21:09] eXcuvator opened #1568 "Game screen flickering with Mars animation after start"
#### Your system information

System information: https://gist.github.com/eXcuvator/c878a526cbef3be71c5afd4452bbf4e6
Steam updates: Checked.
Latest stable video drivers
Verified game files

#### Please describe your issue in as much detail as possible:

Started Dota after the Mars update.
Screen keeps flickering between the background animation/screen, and the usual menu. Cant click anything. Cant

[2019-03-05 21:15] ncortines commented on #1568
same here, game is pretty much unplayable on my mac

[2019-03-05 21:20] ghost opened #1569 "[Mac OS] Game unplayable after the update from 5. March 2019"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

* Have you checked for system updates?:  **YES**
* Are you using the latest stable video driver available for your system? **YES**
* Have you verified the game files?: **YES**

#### Please describe your issue in as much detail as possible:
The whole game

[2019-03-05 21:21] kisak-valve commented on #1569
Hello @daftdog, this issue is already being tracked at #1568. Closing as a duplicate.

[2019-03-05 21:21] #1569 closed, assigned to nobody

[2019-03-05 21:22] anthonyalviz commented on #1568
Getting same issue here.

[2019-03-05 21:25] tabanger commented on #1568
Yup, exact same thing here.  Running on Mac Pro with Xeon W3680, 48 GB RAM.  macOS High Sierra 10.13.6 (17G5019).  Nvidia GeForce GTX 1070Ti 8GB, using Nvidia Web Driver 387.10.10.10.40.118.

[2019-03-05 21:26] ghost commented on #1569
Thanks i will just post my video there

[2019-03-05 21:28] ghost commented on #1568
Same thing, im running a iMac with macOS High Sierra 10.12.6 (16G29).
NVIDIA GeForce GTX 970, i7-6700K CPU @ 4.00GHz

It looks like this
https://monosnap.com/file/MQhl5y6uR7ZsGLSxus1XH4HmFjuB2Y

[2019-03-05 21:34] danginsburg commented on #1568
I've got a fix for this that will be in the next update.  For the time being, you can use +gl_disableStaticBuffer 0 on your Launch Options to fix it.  I recommend removing that once the fix ships though because it may negatively impact perf, especially for older integrated GPUs.

Also, for those of you still using OpenGL - if your system supports Metal I strongly recommend switching to Vulkan, the

[2019-03-05 21:38] tabanger commented on #1568
Sorry for going off-topic, but last time I tried Vulkan (2 months ago), performance was worse (stuttering every few seconds), and colors were all washed out compared to OpenGL.  That's why I stuck with OpenGL.  Is that normal, or has that been fixed?

[2019-03-05 21:41] ghost commented on #1568
i can confirm this, the performance with Vulkan is very poor. I did not noticed washed out colors but the game definitly performs better on OpenGL for me

[2019-03-05 21:47] jfabre commented on #1568
yep I actually tried Vulkan this week and reverted because the game would completely halt for like 5+ sec once in a while. And yeah, it's broken for me too.

Edit (specs):

MacBook Pro (Retina, Mid 2012)
2.3 GHz Intel Core i7
8 GB 1600 MHz DDR3
NVIDIA GeForce GT 650M 1024 MB
Intel HD Graphics 4000 1536 MB

OS: Mojave 10.14.3

Also, ty for the current fix it works like a charm.

[2019-03-05 21:51] danginsburg commented on #1568
Hmm, the only NVIDIA GPUs I have for testing are the GTX 650M and GTX 750M and I've seen consistent improvement there.  @tabanger  you are on a GTX 1070 Ti - is that through an eGPU enclosure?  Maybe we've got an issue running on eGPUs I'm not aware of.  If you want to open another issue on the perf problems open it here: https://github.com/ValveSoftware/Dota-2-Vulkan/issues  If it's impacting eGP

[2019-03-05 22:02] ncortines commented on #1568
@danginsburg, sorry for the silly question. I'm using Mojave 10.14.3. How do I switch to Vulkan?

[2019-03-05 22:07] ncortines commented on #1568
@danginsburg, I just got the update and the game is playable again. I also figured out how to switch to Vulkan. Thanks

[2019-03-05 22:18] tabanger commented on #1568
No, sorry, I should've specified it's a Mac Pro 2010.  Thunderbolt/eGPU is not even an option.  It's just in the regular primary graphics slot.

I just tried Vulkan again (while OpenGL was broken), and the issues persist.  The FPS performance/rendering may be on-par with or slightly better than OpenGL, but the micro-stuttering interrupts the game where micro-second reactions count, and makes it a

[2019-03-06 12:52] danginsburg commented on #1568
Yeah, I know the stuttering is very bad at first as new shaders get compiled for the first time.  However, whereas Mac OpenGL does not support binary shader caching (GL_ARB_get_program_binary), once shaders get warmed on MoltenVK we store them to disk and it gets much better, whereas the OpenGL path always stutters.  I understand it's bad on first run and needs warming.  It's something we have a f

[2019-03-06 12:52] danginsburg commented on #1568
Closing this issue since the original bug is fixed.

[2019-03-06 12:52] #1568 closed, assigned to danginsburg

[2019-03-06 19:25] #1484 closed, assigned to danginsburg

[2019-03-06 19:25] rohanharikr commented on #1484
Fixed!

[2019-03-07 06:23] zl810881283 commented on #1515
hava same problem after update to Mojave

[2019-03-07 06:33] zl810881283 commented on #1550
+1 same problem

[2019-03-07 06:48] zl810881283 commented on #1550
@bojunwu

Yes, no this problem after warm up.

Screen freeze up only when casting a spell at first time

[2019-03-07 08:03] yrrah2 opened #1570 "Bizarre error message "Steam must now be restarted""
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/yrrah2/5b24d1725a69937cd961531c73d43209
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your i

[2019-03-07 08:05] yrrah2 commented on #1570
There are no similar errors (or any at all) for other games

[2019-03-07 09:17] yrrah2 commented on #1570
Dota 2 works with Proton enabled but I still think this should be looked into

[2019-03-07 14:50] danginsburg commented on #1570
Can you post screenshot(s) of exactly what is happening here?

[2019-03-07 15:35] RichMartel commented on #1558
Not sure when this was corrected, but I don't seem to have this graphic glitch anymore.

[2019-03-07 19:13] RecreatingResonate opened #1572 "Dota2 frezzes"
#### Your system information

* System information from steam: Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz
    CPU Family:  0x6
    CPU Model:  0x4e
    CPU Stepping:  0x3
    CPU Type:  0x0
    Speed:  2800 Mhz

[2019-03-07 22:07] danginsburg commented on #1558
Yeah, I did push a fix for this a while back, but forgot to close the bug.  Will close, thanks for updating.

[2019-03-07 22:07] #1558 closed, assigned to danginsburg

[2019-03-08 02:24] glubsy commented on #1484
Yes, I can also confirm this problem is not happening anymore. Thanks developers! (would love to learn a bit about what caused it too)

[2019-03-08 03:27] intendednull commented on #1318
This appears to happen after the game window loses focus.

I've had luck with enabling the "Desktop-friendly fullscreen minimizes on focus loss" option, and keeping it on desktop friendly mode.

It doesn't happen all the time, and the only way to stop the stuttering after it starts is to relaunch.

[2019-03-09 14:25] amitavmohanty01 commented on #1566
@kisak-valve registrations are closed for the site you mentioned above. Why did you point me there?

[2019-03-09 17:26] ahmedu007 commented on #11
This is still an issue on MacBook Pro 2018, High Sierra

[2019-03-12 10:58] playaz87 commented on #962
My game was opening on right when I wanted it to open on the left. I solved it by using the `-x` parameter. So in my case `-x 0`. If you want the game to open on the right you would use `-x <horizontal resolution of left monitor +1>`

[2019-03-17 15:11] rohanharikr opened #1574 "Switching to dashboard causes to disconnect from game sometimes"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    CPU Fam

[2019-03-21 22:30] intendednull opened #1575 "[Linux] Game stutterering consistently (performance independent)"
#### Your system information
[My info](https://gist.github.com/Zer0897/aaf2dbea0781cf9e3968966b5d17e893)

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

Since Mars was added, most of the matches I played had a stuttering

[2019-03-21 22:51] kisak-valve commented on #1575
Hello @Zer0897, were you using Gnome/Wayland or Gnome/X with gdm3? There's a good chance lightdm is starting Gnome/X and that's the difference between the login managers.

[2019-03-21 23:21] intendednull commented on #1575
@kisak-valve I booted back into gdm3 to double check. Both managers are set to Gnome/X.

[2019-03-22 15:45] ChrisLauinger77 opened #1576 "[Linux] Do not get/see Doom's devoured neutral creeps active/passive abilities"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/ChrisLauinger77/ac3f8a7cf89c1499688617bbad1d0cdb):

* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in a

[2019-03-23 10:12] ChrisLauinger77 commented on #1576
I know what went wrong. For some reason the AutoCast was deactivated. Then you do not get the abilities even when they are empty because its the 1st devour in the game. Maybe its better to always get the devoured creeps abilities when the slots are empty ?!

[2019-03-25 15:04] girng commented on #908
😍

[2019-03-25 15:56] valeologist opened #1577 "Error in Russian translation."
#### Your system information

* Computer Information:
    Manufacturer:  System manufacturer
    Model:  System Product Name
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:          Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3192 Mhz

[2019-03-25 16:02] kisak-valve commented on #1577
Hello @valeologist, this issue tracker is limited to issues with the Mac and Linux Dota 2 client. You'll want to post this at https://dev.dota2.com/.

[2019-03-25 16:02] #1577 closed, assigned to nobody

[2019-03-25 16:35] valeologist commented on #1516
![Снимок экрана (2)](https://user-images.githubusercontent.com/44038528/54937285-cabc3c80-4f2c-11e9-96c0-330ed0fb2451.png)
And when will it be fixed ?? And why does VALVE ignore everyone, and close the topic, when the error has not yet been fixed ??? WHAT are you for the developers that you do not want to correct? You show your navlivatelno attitude towards us all !!!

[2019-03-25 16:44] kisak-valve commented on #1516
Hello @valeologist, just so that it's clear, this issue report is open as indicated directly under the title at the top of the issue report.

[2019-03-25 16:46] valeologist opened #1578 "Can't access dev.dota2 forums: "missing key""
And when will it be fixed ?? And why does VALVE ignore everyone, and close the topic, when the error has not yet been fixed ??? WHAT are you for the developers that you do not want to correct? You show your navlivatelno attitude towards us all !!!

( @kisak-valve Do not dare to close the topic if the error has not been fixed for what month! And then you closed my topic "Error in Translation. # 157

[2019-03-25 16:55] kisak-valve commented on #1578
Hello @valeologist, picking a fight on an issue tracker will never give a positive outcome. Your hostile attitude has earned you a 1 week time out.

This issue is already being tracked at #1516. Closing as a duplicate.

[2019-03-25 16:55] #1578 closed, assigned to nobody

[2019-03-25 17:16] TimZaman commented on #1516
Notice I have been a Steam user for 15 years. I subscribed on the first day Steam launched. Please prioritize this issue.

[2019-03-26 18:22] rohanharikr opened #1579 "Hangs/Not Responding Status on game Vs. loading screen"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro9,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:         Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    CPU Fam

[2019-03-27 14:42] konstantinblaesi commented on #1575
I'd check dmesg to make sure you're not experiencing
- cpu/gpu throttle due to heat problems
- gpu driver errors

Looks like you're running on nvidia (I hope not with optimus/bumblebee or anything like that) so I guess you're not affected by this [debug mesa build problem of fedora 29](https://www.phoronix.com/scan.php?page=news_item&px=Fedora-Mesa-Meson-Debug-Build) :D

[2019-03-28 18:12] intendednull commented on #1575
@konstantinblaesi Thanks for the advice, but I don't think this is a performance issue. Lowering the settings to minimum didn't affect it at all (besides some random artifacts).

I've tried nvidia's 410, 415, and 418 drivers but they all ran the same.

@kisak-valve The stuttering is back, I'm not sure what changed but it seems the login manager was not the culprit.

[2019-03-30 22:59] murilomendes commented on #11
Same problem here.

[2019-03-31 12:01] ghost commented on #1524
Yeah it was nice the few days while it lasted...

[2019-04-01 19:32] valeologist commented on #1516
Can't access dev.dota2 forums: "missing key" # 1516 was created on November 5, 2018! It's 2019 now. When will fix? How many years to wait? I receive a letter in the mail (Dear unity,

Unfortunately, your registration at Dota2 Dev didn’t meet our membership requirements. Therefore your registration was deleted.

Sorry,
Dota2 dev

) How to meet the requirements of the account, if the problem is not

[2019-04-04 06:23] xksteven commented on #793
So I'm on Ubuntu 18.04 with Radeon R9 290X graphics card.  This bug is happening to me now.

[2019-04-08 01:50] hipunk commented on #1440
You don't care, I don't care. I stopped hosting the workarounds, I'm sure you'll understand.

[2019-04-13 13:31] Rav8es opened #1581 "[SteamOS] Dota 2 and Linux Crash Whenever the Game Loads Matchmaking/Bots/Streaming"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Rav8es/282bc33fb33e4b12f80da3c0193311ae
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your i

[2019-04-14 18:08] amitavmohanty01 opened #1582 "Dota 2 crashes"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/0a2956e5f8989621a5a84f6a83547271
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/

[2019-04-14 18:10] amitavmohanty01 commented on #1582
The minidump is attached.
[crash_20190414234444_1.zip](https://github.com/ValveSoftware/Dota-2/files/3077707/crash_20190414234444_1.zip)

[2019-04-14 18:29] amitavmohanty01 commented on #1582
Launching it from the command line gives the following warnings

[code]

[2019-04-14 18:35] amitavmohanty01 commented on #1582
The warnings were easy to fix but I have no idea about the core dump.

[2019-04-14 18:42] kisak-valve commented on #1582
Hello @amitavmohanty01, this issue is already being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/303. Closing in favor of the existing issue report.

You should be able to workaround the issue by adding `-gl` to the game's launch options.

[2019-04-14 18:42] #1582 closed, assigned to nobody

[2019-04-16 13:26] Lurgenda commented on #1524
This Problem still persits after 4 years as reffered in issue #603.
Having the same issues as described, it at least takes full 5 minutes for DotA 2 to close itself.

[2019-04-17 02:00] Rav8es commented on #1581
I have also found that I can't alt tab. Both Dota 2 and Steam crash.

[2019-04-18 23:30] dearlygparted opened #1583 "[Linux] Unable to add friend via in-game context menus"
#### System information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/dearlygparted/d970f00749734326bc332cdebfb90085)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail a

[2019-04-19 00:20] dearlygparted commented on #1583
Found the problem: https://github.com/ValveSoftware/Dota-2/issues/1057

Apparently this functionality is dependent on the Steam Overlay, and I had it disabled. With the Steam Overlay enabled, it works as expected. I assume this is the intended behavior. Sorry for the re-post!

[2019-04-19 00:35] #1583 closed, assigned to nobody

[2019-04-19 11:04] ghost opened #1584 "Grows up Memory usage When a next game and during a next game and etc..."
Doesn't matter

[2019-04-19 11:30] amitavmohanty01 opened #1585 "USB microphone not detected"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/f02edfcb0914879e1cc0249d2e4d96ec
* Have you checked for system updates?: [Yes/No]Yes
* Are you using the latest stable video driver available for your system? [Yes/No]Yes
* Have you verified the game files?: [Yes/No

[2019-04-19 16:51] #1584 closed, assigned to nobody

[2019-04-19 17:35] amitavmohanty01 commented on #1585
The microphone is working in Steam but not in Dota 2. https://github.com/ValveSoftware/steam-for-linux/issues/6227

[2019-04-20 07:45] ghost opened #1586 "memory"
Closed.

[2019-04-20 08:53] #1586 closed, assigned to nobody

[2019-04-20 22:42] #1404 closed, assigned to danginsburg

[2019-04-20 23:51] #1403 closed, assigned to danginsburg

[2019-04-21 20:28] Setheck commented on #1195
I had this issue today after updating my system, and I can confirm that the linking @monotykamary suggests worked. Here is my sysnfo from neofetch
[code]

All I did was
[code]
Make sure you set the steam root appropriately, this is commonly `$HOME/.local/share/Steam` but different in my case because I keep games on a different mount.

[2019-04-22 06:47] ttc0419 opened #1587 "[Arch Linux] Crash when starting game with vulkan"
# Hardware Info
## Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

## Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz
    CPU Family:  0x6
    CPU Model:  0x8e
    CPU Stepping:  0xb
    CPU Type:  0x0
    Speed:  4600 Mhz
    8 logical processors
    4 physical p

[2019-04-22 07:08] ttc0419 commented on #1587
Keep crashing even gperftools and lib32-gperftools are intalled.  Tried to link libtcmalloc_minimal.so.0 to libtcmalloc_minimal.so.4.5.3.

[2019-04-22 13:07] kisak-valve commented on #1587
Hello @Galaxy0419, this issue is already being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/303. Closing as a duplicate.

[2019-04-22 13:07] #1587 closed, assigned to nobody

[2019-04-22 21:16] astroty opened #1588 "[Linux][OpenGL/Vulkan] Missing fonts"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.githubusercontent.com/astroty/056066d800d1e4814c984aec7b534f90/raw/2fa463c6231334680b5ee076f44c7c8a4c33d89a/system.txt
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
*

[2019-04-22 21:29] kisak-valve commented on #1588
Most likely a distro packaging issue with multilib/steam-manjaro-1.0.0.59-1, the same as https://github.com/ValveSoftware/csgo-osx-linux/issues/2074 and related to https://bugs.archlinux.org/index.php?do=details&task_id=62095.

[2019-04-22 21:42] kisak-valve commented on #1588
Can you include the full stdout log including Steam's startup? In particular, I'd like to know if the Steam runtime is enabled and if you have the `steam-native` package installed. If you have that package installed please remove it or try completely closing Steam, then running `STEAM_RUNTIME=1 steam` from a terminal and retesting. (from https://forum.manjaro.org/t/cs-go-no-text-being-rendered/842

[2019-04-22 23:06] astroty commented on #1588
Yeah, I somehow missed the steam-native package during my testing, thinking I had tested with and without it and with and without the runtime active. Apparently I was wrong.

Anyway, I got a log of Steam and dota running with steam-native installed and STEAM_RUNTIME=0

[steamlog.txt](https://github.com/ValveSoftware/Dota-2/files/3105131/steamlog.txt)

I noticed these two errors here

ERROR: ld.so:

[2019-04-22 23:28] kisak-valve commented on #1588
Thanks for retesting, that makes this not a Dota issue and needs to be resolved by the package maintainer.

Closing because all dependency issues must be resolved by the distro's package maintainer for Steam if the Steam runtime is disabled.

[2019-04-22 23:28] #1588 closed, assigned to nobody

[2019-04-27 15:34] mhsabbagh opened #1589 "Can't connect to Dota2 network, always in offline mode"
Ubuntu 19.04 amd64, on Leonovo ThinkPad x260.

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/mhsabbagh/3638ba0ff78e2204f7a3482c9de53aef
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Pl

[2019-04-27 15:37] WaelT opened #1590 "Dota Running on Steam but not Launching"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/WaelT/f4814730d419514f5de038511e0f4e5c
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your is

[2019-04-27 16:20] kisak-valve commented on #1590
Hello @WaelT, this issue tracker is limited to the Mac and Linux clients of Dota 2. You'll want to post this at https://dev.dota2.com or use [Steam Support](https://help.steampowered.com/en/) for the larger Dota 2 team.

[2019-04-27 16:20] #1590 closed, assigned to nobody

[2019-04-28 03:16] ackFacu commented on #1195
Thx everyone. Had the same problem in manjaro and this worked. (applied @Setheck solution)
Only thing, I see letters a little different from before. But at least I see some letters jejej. Thx!!

[2019-05-04 02:53] Apple-Lion opened #1591 "Chat wheel always go to Right"
#### Your system information

https://gist.github.com/Apple-Lion/0702c1db84218767977aea18b3ca368c

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Describe what you _expected_ should happen and what _did_ happen. Please l

[2019-05-04 12:38] kisak-valve commented on #1591
Hello @Apple-Lion, this reads like the same issue as #1201 / #1448, but with a different monitor configuration. Closing in favor of the existing issue reports.

[2019-05-04 12:38] #1591 closed, assigned to nobody

[2019-05-04 14:29] amitavmohanty01 opened #1592 "Freeze during shut down"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/85a7976cee129ed50892cfeb0025be7c
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/

[2019-05-04 14:38] kisak-valve commented on #1592
Hello @amitavmohanty01, this issue is already being tracked at #1390. Closing as a duplicate.

[2019-05-04 14:38] #1592 closed, assigned to nobody

[2019-05-04 18:24] Weirdo1312 opened #1593 "[Linux] someone else talks in the party and game shows my name instead of that player"
#### Your system information

* System information from steam: https://gist.github.com/aligodlike/2687921cf50fa289539ce4b3e79b2997
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
doesn't matter who is talking in-game (in

[2019-05-04 18:33] Weirdo1312 opened #1594 "keyboard doesn't work if my keyboard layout was set to a language that doesn't use latin script at the moment of launching the game"
#### Your system information

* System information from steam :
https://gist.github.com/aligodlike/2687921cf50fa289539ce4b3e79b2997
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
keyboard doesn't work if my keyboard layo

[2019-05-04 18:47] kisak-valve commented on #1594
Hello @aligodlike, this reads like #792. Does the setting mentioned there help?

[2019-05-04 22:34] Weirdo1312 commented on #1594
yes it just fixed
ty

[2019-05-05 05:09] amitavmohanty01 commented on #1390
@kisak-valve @gdrewb-valve I have uploaded crash dump details when it happened. Please check those and tell me what more information will be useful in debugging this problem.

[2019-05-05 07:38] crapthings commented on #1550
![image](https://user-images.githubusercontent.com/1147704/57190332-853b5800-6f4b-11e9-964f-a9b5ed02308d.png)

1920x1080 . all low settings, stutter when pan camera sometimes.

![image](https://user-images.githubusercontent.com/1147704/57190341-a8660780-6f4b-11e9-90ae-670bd406d5c3.png)

[2019-05-05 17:34] 2ndN commented on #1473
i got this problems too
i had Kali-linux first but after I tried everything i could (and still had this problem)
Installed windows and now this problem returned
I have dota plus and this problem appeared after purchasing dota plus
I can't watch . i can't find [the key appears to grey colour after trying to find]

[2019-05-05 17:37] 2ndN commented on #1473
LOL it just fixed automatically after waiting to find 1v1 match on Dubai server (about 11 minutes taken)
.
.
.
.
So i guess we have to find a game which never finds !!! For example (all random death-match) on Austalia

[2019-05-06 01:29] #1594 closed, assigned to nobody

[2019-05-06 11:41] amitavmohanty01 opened #1595 "Dota 2 crashed after match"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/85a7976cee129ed50892cfeb0025be7c
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] yes
* Have you verified the game files?: [Yes/

[2019-05-06 12:32] kisak-valve commented on #1595
For reference, the attached minidump is a SIGSEGV in libclient.so and what looks like an OpenGL render thread.

[2019-05-07 23:59] SwagDad opened #1596 "Dota2 on Macbook Crashes when Launching Games"
I have a Macbook Pro and now can not join matches after downloading the 2019 Battle Pass. I have no clue what to do, and I'm hoping someone with more knowledge who's having the same problems can lead me to a solution. Cheers.

[2019-05-08 00:02] prabh94 opened #1597 "Battlepass update broke Mac dota 2"
#### Macbook air 2018

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/prabh94/cc8c9ae785eb3d625494e63bce6eb7e2
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### P

[2019-05-08 00:16] kisak-valve commented on #1596
Hello @SwagDad, #1597 came in a few minutes after your issue report with the same symptoms, but has a bit more information, so let's track this issue there. Closing in favor of #1597.

[2019-05-08 00:16] #1596 closed, assigned to nobody

[2019-05-08 00:23] dinasti11 commented on #1597
Same problem here, looks like everyone using Mac is having this

[2019-05-08 00:31] prabh94 commented on #1597
https://www.reddit.com/r/DotA2/comments/blxgtq/mac_version_of_dota_2_broken/

everyone is reporting the same. Thanks for looking into it.

[2019-05-08 00:42] markcaldropoli commented on #1597
The newest update just fixed it! Much appreciated.

[2019-05-08 01:01] danginsburg commented on #1597
Thanks for the confirmation.  Yes, we believe we have fixed the issue.

[2019-05-08 01:01] SwagDad commented on #1597
Thank you so much Kisak-Valve.

[2019-05-08 01:07] prabh94 commented on #1597
@danginsburg i can watch games and play games. But my dota 2 crashes when i view ANY profile  (in game)

I provide you with more information if needed

[2019-05-08 02:40] elsennov commented on #1597
I have updated to the latest version, but still got the crash when starting bot match using Ranked Matchmaking AI.

[2019-05-08 02:46] prabh94 commented on #1597
My problem persists. I can't view ANY player profiles. Instant crash. Please help.

Macbook Air 2018.
using Vulkan and desktop-friendly borderless window mode.
have tried Validating game files, restarting pc and everything possible. No fix.

[2019-05-08 08:30] elsennov commented on #1597
Updated to the latest version, the problem still persist.
Mac pro, mojave, 15", 2018

[2019-05-08 11:44] danginsburg commented on #1597
Yes, please open another bug on this.  Also would be helpful to know if this is Vulkan-only or if it happens in GL.  So far I haven't been able to repro it.

Edit: Actually, I did get it to repro on one of my Macs.  Not happening universally but I do see the crash when looking at user profiles.  Investigating.

[2019-05-08 12:43] danginsburg commented on #1597
OK, I've reproduced this problem and have a workaround.  It's this issue: https://github.com/KhronosGroup/MoltenVK/issues/594

I'll get an update shipped today, but in the meantime if you want a fix unzip the attached libMoltenVK.dylib over the copy in ~/Library/Application Support/Steam/steamapps/common/dota 2 beta/game/bin/osx64.

[libMoltenVK.dylib.zip](https://github.com/ValveSoftware/Dota-2/f

[2019-05-08 13:43] prabh94 commented on #1597
@danginsburg I am able to view profiles now. thanks for the fix. I did re download and install the game too.

If you need anything else, please let me know. Thanks once again!

[2019-05-08 14:47] danginsburg commented on #1597
@prabh94 Thanks for the confirmation.  The fix will ship with the next update.

[2019-05-09 12:24] gy2256 commented on #1550
Same problem here. I am using a 2017 mid iMac with RX580 EGPU through thunderbolt 3. The game is unplayable at this current stage. Is it possible to add metal 2 support for rendering?

[2019-05-09 17:49] shchemelevev opened #1598 "Dota crash in ranked game after compendium update"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/shchemelevev/c2520bef3281c12972c2bc74d10c4ec2
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe

[2019-05-09 18:33] shchemelevev commented on #1598
Sorry for that, command+w started to close dota. Is there any way to disable it?

[2019-05-09 18:46] kisak-valve commented on #1598
Hello @shchemelevev, the game shouldn't block system-wide keyboard shortcuts. Closing as a duplicate of #1536.

[2019-05-09 18:46] #1598 closed, assigned to nobody

[2019-05-09 19:02] shchemelevev commented on #1598
If I chose to block system-wide keyboard shortcut in the game I prefer to be notified if it is not possible. This behaviour is clearly unexpected and causes bad user experience.
Could you fix it please?

[2019-05-09 19:03] shchemelevev commented on #1598
@kisak-valve

[2019-05-09 19:13] shchemelevev commented on #1598
And can you please consider that there is multiple issues here and multiple question in the internet regarding this issue. May be it is not good to block system-wide keyboard, but looks if you block it no harm will be done.

[2019-05-10 04:45] frncsgelay commented on #1597
Still broken on me. Tried to play turbo and game crashes every 2-5mins. I have Macbook Pro 2015 13" Retina.

[2019-05-10 11:55] yrrah2 commented on #1195
My solution was to install this https://aur.archlinux.org/packages/libselinux/
However it makes the game have a very ugly font

[2019-05-10 12:33] kisak-valve commented on #1597
Hello @frncsgelay, that doesn't sound like the issue being tracked in this issue report. Is there a pattern to the crashing you're seeing?

[2019-05-10 13:53] danginsburg commented on #1597
I'm going to close this issue, new crashes should be opened in another issue.

[2019-05-10 13:53] #1597 closed, assigned to danginsburg

[2019-05-10 14:12] Velthari opened #1599 "[PC] random game crashes"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/Velthari/a4e2af8ac59d267b369b8889ccbef8f4):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much d

[2019-05-10 14:37] kisak-valve commented on #1599
Hello @Velthari, this issue tracker is limited to the Mac and Linux port of the Dota 2 client. You'll want to post this on https://dev.dota2.com or use [Steam Support](https://help.steampowered.com/en/) for the larger Dota 2 team.

Closing as out-of-scope.

[2019-05-10 14:37] #1599 closed, assigned to nobody

[2019-05-10 15:01] Tsourdox commented on #1538
Check out my post in this thread for a permanent solution for both `cmd + q` and `cmd + w`:
https://steamcommunity.com/app/570/discussions/0/1745605598712418168/

[2019-05-11 11:26] brianbodollo opened #1600 "Dota client crashes when `command` + `q` or `command` + `w` was pressed."
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/brianbodollo/3a3153029d32fd64bf3f3b37c1325b22
* Have you checked for system updates?: [Yes/No] YES
* Are you using the latest stable video driver available for your system? [Yes/No] YES
* Have you verified the game files?: [Yes/No]

[2019-05-11 12:33] kisak-valve commented on #1600
Hello @brianbodollo, these are system-wide keyboard shortcuts on Mac to close an applications. #1536 is tracking this issue and I've adjusted it to make it more discoverable. Closing as a duplicate.

[2019-05-11 12:33] #1600 closed, assigned to nobody

[2019-05-18 14:49] rdarbha opened #1601 "Dota 2 randomly crashes while in game on Ubuntu 18.04"
#### System Information

* System information: https://gist.github.com/rdarbha/832346e9f87e061f5228b07686c405ed
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Problem Description
Dota2 will randomly crash while playing. Problem started occurring after

[2019-05-18 14:52] rdarbha commented on #1601
Here is the associated .dmp file with the syslog from the problem description:
[crash_20190518102025_1.zip](https://github.com/ValveSoftware/Dota-2/files/3194190/crash_20190518102025_1.zip)

[2019-05-18 15:07] kisak-valve commented on #1601
For reference, the attached minidump is a SIGSEGV in libscenesystem.so.

[2019-05-18 20:12] fedorenko22116 opened #1602 "Sometimes crashes after latest update on Ubuntu 18.04"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/22116/6bfeea10b6fec7773a30a0ca9c5529f4
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe y

[2019-05-19 17:00] Weirdo1312 opened #1603 "game does not show how many single draft is remaining"
#### Your system information

* System information from steam:
https://gist.github.com/aligodlike/6a18f359a05f9d51fd745ae4222f25f2
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:.
https://imgur.com/a/BvjdSbF

#### Steps f

[2019-05-21 00:08] rdarbha commented on #1601
Let me know if you need any additional information regarding the crash.

[2019-05-26 05:30] josinaldobarbosa opened #1605 "[Linux] - Correction match result layout on ultrawide monitors"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/josinaldobarbosa/2ec12518f88195e786b47ec7d7c9c5f4
* Have you checked for system updates?: [Yes/No] yes
* Are you using the latest stable video driver available for your system? [Yes/No] no
* Have you verified the game files?: [Yes/

[2019-05-26 05:35] josinaldobarbosa opened #1606 "[Linux] - Correction on ultrawide monitors: At the beginning of the match the presentation screen is very close"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/josinaldobarbosa/2ec12518f88195e786b47ec7d7c9c5f4
* Have you checked for system updates?: [Yes/No] yes
* Are you using the latest stable video driver available for your system? [Yes/No] no
* Have you verified the game files?: [Yes/

[2019-05-27 01:41] josinaldobarbosa commented on #1606
in the presentation of the hero as well, some examples:

![20190526223834_1](https://user-images.githubusercontent.com/8990316/58390369-6d656a00-8007-11e9-8085-04d95aa49bf1.jpg)
![20190526223850_1](https://user-images.githubusercontent.com/8990316/58390370-6dfe0080-8007-11e9-891f-31e92a16afeb.jpg)
![20190526223921_1](https://user-images.githubusercontent.com/8990316/58390371-6dfe0080-8007-11e9-803

[2019-05-27 01:45] josinaldobarbosa commented on #1593
+1
[System information](https://gist.github.com/josinaldobarbosa/2ec12518f88195e786b47ec7d7c9c5f4)

[2019-05-27 12:06] Weirdo1312 opened #1607 "[linux] poor performance in the new versus screen"
#### Your system information

* System information from steam
https://gist.github.com/aligodlike/3720815029a4c5c4d01d58dcf45d9dc8
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your issue in as much detail as possible:
poor performance

[2019-05-27 12:06] Weirdo1312 commented on #1607
after ending the versus screen performance goes normal

[2019-05-29 07:17] PAM3ES commented on #1545
i want play dota2, but i can't.
https://gist.github.com/PAM3ES/c3db57b7edd3b0b7f9e5d73eaa220f41
log journalctl

[2019-05-29 09:15] PAM3ES commented on #1545
Problem maybe resolved by installed system on new disk

[2019-05-29 10:05] PAM3ES commented on #1545
no, not helped

EDIT:
It was problem with my overclocked ram.

[2019-05-29 22:31] sylware opened #1608 "GUI with mouse laggy at 60Hz and vsync on"

[2019-05-29 22:35] sylware commented on #1608
did switch my monitor at 60Hz, did turn on vsync to avoid nasty tearing, anything I interact with the mouse in dota2 is laggy beyond reasonable (options slide bars, in-game map grab, etc)
If I turn off vsync, the GUI will not lag anymore.

[2019-05-31 13:53] glubsy commented on #1593
I have noticed this problem too. When I'm in a party, if a party member uses their microphone during a match, the bubble on the right side of the screen displays my own nickname, not theirs.

Not sure if this is Linux specific, but my other team mates (most likely Windows users) didn't seem to notice... or they didn't bother at all because they already knew it's a bug?

Current system information:

[2019-05-31 13:59] glubsy commented on #1607
Perhaps you should give more details about what you call "poor performance". Is it a big frame-per-second decrease compared to during the game?

On my side, these new screens do seem to have a very slight performance hit, my GPU temps tend to go a bit higher than during the game but the frames per second are overall the same.

Not really fond of these new versus screens anyway, I preferred the pre

[2019-06-02 01:51] Rav8es commented on #1581
Is this issue still being reviewed?

[2019-06-02 04:12] Weirdo1312 commented on #1607
when it goes to versus screen it starts stuttering and fps goes low when it ends everything goes back to normal

[2019-06-02 18:48] admshao opened #1609 "[Linux] Accept match button does nothing"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/admshao/aed7a37ddfab924c6fdee2ca974d8625):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much de

[2019-06-03 14:29] Weirdo1312 commented on #1607
for some reason this does not happen anymore i'm not sure if it's because of dota2 updates or because of downloading pre-Caching content from steam but this does not happen anymore, GOOD.

[2019-06-03 14:40] kisak-valve commented on #1607
Closing per the last comment. If you encountered a testing fluke and this is not the case, let me know and I can re-open.

[2019-06-03 14:40] #1607 closed, assigned to nobody

[2019-06-04 09:56] admshao commented on #1609
I played for a entire day without alt tabbing while in search queue and i couldn't reproduce.

I played for a 2 hours later alt tabbing while searching and i could reproduce. DMESG is empty as there is no crashes. I couldn't find anything usefull on dota console.log

Any steps you want me to apply to try to grab any info?

[2019-06-08 15:31] anko opened #1610 "Can bind to F1-F19, but not F20-F24"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/anko/e9d5043ddad2356d8f6ee12e53d8c57f
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe yo

[2019-06-08 22:17] OlegEryomin opened #1611 "Linux Keyboard Issue"
When you start dota 2, you must set the English keyboard layout. It would not be bad if dota itself checked the layout before launch.

[2019-06-08 22:24] kisak-valve commented on #1611
Hello @OlegEryomin, what keyboard layout are you using and does going to the in-game settings -> Advanced hotkeys -> enable `Bind keys based on keyboard position` help with how you're trying to configure the game?

[2019-06-09 05:15] herriojr opened #1612 "Mouse not locked to Dota 2 on OS X : Fullscreen on Multi Monitor"
#### Your system information

Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro11,3
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
    CPU Family:  0x6
    CPU Model:  0x46
    CPU Stepping:  0x1
    CPU Type:  0x0
    Speed:  2500 Mhz
    8 logical processors

[2019-06-09 06:09] heavyk opened #1613 "does not immediately reconnect after sleeping laptop"
#### Your system information

* System information: MacBookPro11,3
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

when I open my computer after, steam should reconnect immediately. steam sits there for probably 3-5 minu

[2019-06-09 09:18] #1611 closed, assigned to nobody

[2019-06-09 09:28] OlegEryomin commented on #1611
Hello kisak-valve !!!
Linux, unlike Windows, does not perceive the position of a button, but its value. If I use the Russian keyboard layout to enter the game, it will not recognize the position of the keys, but will recognize their meaning. It would not be bad if the developers made a layout check before entering the game or at least warned about it because all Linux users using it use two or mor

[2019-06-09 09:29] OlegEryomin opened #1614 "Hello @OlegEryomin, what keyboard layout are you using and does going to the in-game settings -> Advanced hotkeys -> enable `Bind keys based on keyboard position` help with how you're trying to configure the game?"
Hello @OlegEryomin, what keyboard layout are you using and does going to the in-game settings -> Advanced hotkeys -> enable `Bind keys based on keyboard position` help with how you're trying to configure the game?

_Originally posted by @kisak-valve in https://github.com/ValveSoftware/Dota-2/issues/1611#issuecomment-500170024_

Linux, unlike Windows, does not perceive the position of a button, but

[2019-06-09 09:30] #1614 closed, assigned to nobody

[2019-06-09 15:46] anko opened #1615 "Some ability icons become transparent when leveling up"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/anko/e9d5043ddad2356d8f6ee12e53d8c57f
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes] (430.14)
* Have you verified the game files?: [Yes]

#### Please de

[2019-06-12 14:02] amitavmohanty01 opened #1616 "Dota 2 causes the system to freeze requiring restart"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/590e766165ff364a2f4ad8a6413a8452
* Have you checked for system updates?: [Yes/No] yes
* Are you using the latest stable video driver available for your system? [Yes/No] yes
* Have you verified the game files?: [Yes/

[2019-06-12 14:19] kisak-valve commented on #1616
For reference, both attached minidumps are DUMP_REQUESTED in crashhandler.so.

Are you OpenGL or Vulkan with the game and are you able to ssh into the system after you encounter this issue? If you can, does `dmesg` give any hints?

[2019-06-12 19:07] amitavmohanty01 commented on #1616
I am using OpenGL with the game. I am not able to change VTs after the freeze so I can't get any messages. After restart, when I checked, I found a bunch of `powerdevil` messages before restart.

[2019-06-12 19:18] kisak-valve commented on #1616
In general no OpenGL application should be capable of taking down the entire system, which suggests that you've encountered a video driver issue. Can you check with a newer version of mesa?

[2019-06-13 14:19] wildcard-f8 opened #1617 "Stuck Reconnecting To Coordinator After Every Game"
Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:        Intel(R) Core(TM) i7-3610QM CPU @ 2.30GHz
    CPU Family:  0x6
    CPU Model:  0x3a
    CPU Stepping:  0x9
    CPU Type:  0x0
    Speed:  3300 Mhz
    8 logical processors
    4 physical processors
    H

[2019-06-13 20:14] amitavmohanty01 opened #1618 "Dota 2 crashes on Mac OS Mojave"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/amitavmohanty01/9f293fa5b6cf0bcfb6a21daca5d02a2b
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/

[2019-06-13 20:32] kisak-valve commented on #1618
For reference, the attached minidump is EXC_BAD_ACCESS / KERN_INVALID_ADDRESS in libclient.dylib.

[2019-06-15 17:13] amitavmohanty01 commented on #1616
My drivers are actually latest.

[2019-06-15 19:50] XapaJIaMnu opened #1619 "Wanted to throw an exception: 'Failed to find referenced shader' after downloading precached shaders"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/XapaJIaMnu/a431fd26419cd6c3a96b359e75b2f7c0
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Y

[2019-06-15 19:53] 1xch commented on #1619
I'm getting this exact same situation.

[2019-06-15 22:32] 1xch commented on #1619
@thrisp unchecked the vulkan beta, and dota loaded....so it appears to be related to that

this is the first problem I've ever had with the vulkan/dota that I'm aware of

[2019-06-15 23:24] josinaldobarbosa opened #1620 "Stopped opening with vulkan"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/josinaldobarbosa/2ec12518f88195e786b47ec7d7c9c5f4
* Have you checked for system updates?: [Yes/No] yes
* Are you using the latest stable video driver available for your system? [Yes/No] no
* Have you verified the game files?: [Yes/

[2019-06-15 23:32] kisak-valve commented on #1620
Hello @josinaldobarbosa, this issue is already being tracked at #1619. Closing as a duplicate.

[2019-06-15 23:32] #1620 closed, assigned to nobody

[2019-06-16 07:15] amitavmohanty01 commented on #1618
Let me know if I can provide more info in any way.

[2019-06-16 08:13] czarnyckm commented on #1619
The same here with -vulkan parameter crash:
[GDB Output](https://gist.github.com/czarnyckm/f24a8972baa12105b45c6f40139a70af)
[SystemInfo](https://gist.github.com/czarnyckm/7990247bc131b1c7ce9f23636900019f)

[code]

[code]

Dota still works with -gl parameter

[2019-06-16 14:11] glubsy commented on #1619
Having the same problem on Arch Linux (system is fully up to date). Using the OpenGL renderer works fine, only happens with Vulkan. Steam runtime enabled and disabled doesn't change anything.

System specs: [gist](https://gist.github.com/glubsy/8930de18e83adb497905097091e9789c/7456a8c0c4e7bf473cb90b49b804f345f396fdcc)

Side note: I initially got another error with a popup error window when restart

[2019-06-16 17:45] peytonc commented on #1619
I am having the same issue on Fedora 30 with Intel GPU. How to fix it?

[peyton@c1 game]$ ./dota.sh
Using breakpad crash handler
[S_API] SteamAPI_Init(): Loaded '/home/peyton/.local/share/Steam/linux64/steamclient.so' OK.
Setting breakpad minidump AppID = 570
Forcing breakpad minidump interfaces to load
Looking up breakpad interfaces from steamclient
Calling BreakpadMiniDumpSystemInit
Looking up b

[2019-06-16 18:04] Cuniq commented on #1619
Same on ubuntu 18.04. Vulkan crashes. Launching game with -gl works fine tough

[2019-06-16 19:11] SuperCashMash opened #1621 "[Linux] Can't Launch with Vulkan."
#### Your system information

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  AuthenticAMD
    CPU Brand:  AMD Ryzen 7 2700X Eight-Core Processor
    CPU Family:  0x17
    CPU Model:  0x8
    CPU Stepping:  0x2
    CPU Type:  0x0
    Speed:  3700 Mhz
    16 logical processors
    8 ph

[2019-06-16 19:28] kisak-valve commented on #1621
Hello @SuperCashMash, this issue is already being tracked at #1619 / https://github.com/ValveSoftware/Dota-2-Vulkan/issues/311. Closing as a duplicate.

Adding `-vulkan_disable_steam_shader_cache` to the game's launch options should workaround this issue.

[2019-06-16 19:28] #1621 closed, assigned to nobody

[2019-06-16 19:29] nascheme commented on #1621
Try cleaning the shadercache:
[code]
Be careful to run that in the correct folder.

[2019-06-16 19:50] nascheme commented on #1619
Cleaning the shader cache seemed to fix it for me.
[code]
Be careful to run that in the correct folder.

[2019-06-16 20:12] Pharmasolin opened #1622 "DOTA2 doesn't start on linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/Pharmasolin/e22f60b19bc4d2d5c3c1041460266a0b):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes 430.26]
* Have you verified the game files?: [Yes]

#### Please describe your issue in

[2019-06-16 20:25] kisak-valve commented on #1622
Hello @Pharmasolin, please try `-vulkan_disable_steam_shader_cache` or `-gl` in the game's launch options. This should be a duplicate of the issue being tracked at #1619 / https://github.com/ValveSoftware/Dota-2-Vulkan/issues/311.

[2019-06-16 20:30] Strykar commented on #1619
@nascheme That fixed it for me. Cheers!

[2019-06-16 20:30] Pharmasolin commented on #1622
@kisak-valve Hi, thanks for the info, I googled dota2 github and didn't scroll page a bit to see dota2 vulkan rep.

Your suggestion works for me.

[2019-06-16 20:36] kisak-valve commented on #1622
Thanks, closing as a duplicate.

[2019-06-16 20:36] #1622 closed, assigned to danginsburg

[2019-06-16 22:39] glubsy commented on #1619
@nascheme Thanks. I was looking for a way to clear the shader cache from inside the Steam client, but didn't find any such feature.

Removing `<STEAMAPPS>/shadercache/570` manually fixed the problem indeed. :)

[2019-06-17 11:49] danginsburg commented on #1619
I have a fix for this that will ship in the next Dota client update.

[2019-06-17 13:07] todorvelichkov opened #1623 "Dota2 process is starting, but the game is not runnig in foreground"
#### Your system information

* [System information from steam](https://gist.github.com/todorvelichkov/2b1084148b881458330f3681fbd86d6f)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No: using Nvidia 418, but there also seems to be 430, haven't tested that one.
* Have you verified the game files?: Yes

#### Please describe you

[2019-06-17 13:27] kisak-valve commented on #1623
Hello @todorvelichkov, this reads like the issue being tracked at https://github.com/ValveSoftware/Dota-2-Vulkan/issues/311. Adding `-vulkan_disable_steam_shader_cache` or `-gl` to the game's launch options should workaround this issue while we wait for the next Dota 2 update.

Closing as a duplicate.

[2019-06-17 13:27] #1623 closed, assigned to nobody

[2019-06-17 13:34] todorvelichkov commented on #1623
Yes I can confirm adding `-gl` help. Thank for the help, and sorry for not finding this already open issue.

[2019-06-18 13:31] dionisokan opened #1624 "[macOS] Random crashes during game on macOS Mojave"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/dionisokan/6fdb6baf651a36ace273a8bc4a0de31d
* Have you checked for system updates?: Yes, macOS version is the newest stable release
* Are you using the latest stable video driver available for your system? Yes
* Have you verified t

[2019-06-18 13:58] danginsburg commented on #1619
This should be fixed now - can someone who was seeing this issue re-enable their shader cache and confirm it's fixed?  Thanks.

[2019-06-18 14:03] Strykar commented on #1619
@danginsburg Trying this now...

UPDATE: Removed the disable_shadow_cache and played 4 Turbo games, restarting the game after 2.
Looks good.

[2019-06-18 14:04] jdamboeck commented on #1619
Now dota starts but freezes for me.

[2019-06-18 20:12] glubsy commented on #1619
It seems to be working fine for me so far. Thank you very much!

[2019-06-18 21:42] Snooober commented on #1619
Mine wouldn't launch at first (did not look at logs), but then I verified game files and it looks like it's working. I never disabled shaders, but instead used:

[2019-06-18 22:50] XapaJIaMnu commented on #1619
Doesn't work for me.
The game successfully launches now but it's really laggy to the point that it freezes completely for a few seconds. Launching with `-vulkan_disable_steam_shader_cache` or `-gl` avoids the issue.

[2019-06-18 23:10] XapaJIaMnu commented on #1619
Ok, there was another 170 MB update to the shader cache that fixed the issue.

I think it was because I launched the game when it was "ready" to play.

EDIT:

The game menu is much laggier with shader cache on. Without it it's quite smooth.

[2019-06-19 00:36] christopherkerry opened #1625 "[macOS] Random crashes during online game"
Your system information: https://gist.github.com/christopherkerry/a81fcda7d57784b4e67e502e73c0ad0a

* Have you checked for system updates?: YES
* Are you using the latest stable video driver available for your system? YES
* Have you verified the game files?: YES

Please describe your issue in as much detail as possible:
Dota randomly crashes during online play.  Straight to the desktop, without wa

[2019-06-19 00:44] kisak-valve commented on #1625
Hello @christopherkerry, this issue is already being tracked at #1624. Feel free to add your findings there. Closing as a duplicate.

[2019-06-19 00:44] #1625 closed, assigned to nobody

[2019-06-19 00:48] christopherkerry commented on #1624
Firstly, sorry for the duplicate.

This is also occurring during online play. Crashes straight to the desktop, without warning. The odd game completes without any issues. I'm finding issues when using both Vulkan and Open GL on lowest settings.

Occuring when running external monitor and also when running natively on the MacBook. Seems to happen more often when playing versus heroes with illusions

[2019-06-21 10:00] Cuniq commented on #1619
They game now lanches but as soon as the game starts (during the picking phase) dota freezes completlely. Launching with -vulkan_disable_steam_shader_cache or -gl works fine.

[2019-06-21 12:21] drozdowsky commented on #584
I have the same issue, -fullscreen does not help.
[code]

[code]

[2019-06-21 19:58] vonclutch commented on #1619
Looks like the new update fix the menu lags/freeze.

Edit: stil buggy as hell but a little less ... just desactive the shader, useless to have it .

[2019-06-22 19:28] hipunk commented on #1440
Update: Currently alphatesting an updated workaround that switches automatically.

[2019-06-23 09:10] todorvelichkov commented on #1616
I can confirm I'm having the same issue with OpenGL. No such problems with Vulkan.
My system is Ubuntu 18.04.2 LTS with NVIDIA-SMI 418.56 with CUDA Version: 10.1 the GPU is GTX 1080. The rest of the system can be found [here](https://gist.github.com/todorvelichkov/2b1084148b881458330f3681fbd86d6f)

[2019-06-23 22:27] Turmfalke2 commented on #1616
There is a few things you can try to recover an error message.

Option 1: Enable [magic syskeys](https://en.wikipedia.org/wiki/Magic_SysRq_key) until reboot by running **sysctl kernel.sysrq kernel.sysrq=1** as root. Now if the system freezes you still have a way of  communicating with the kernel. Of special interest here is alt+sysrq+r to regain control over the keyboard, which should allow changi

[2019-06-23 23:55] grandon opened #1626 "[Linux] Dota 2 fails to start - Error StartupSubsystems()"
* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): [System Information](https://gist.github.com/grandon/d03fb097b81b64cbf4757b0c874d5c67#file-steam-system-information-txt)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

[2019-06-24 00:08] kisak-valve commented on #1626
Hello @grandon, as noted in the error message, do you have any launch options set for the game? Does adding `-gl` or `-vulkan` to the game's launch options have an effect?

[2019-06-24 02:51] ryanleecode commented on #1626
Running with `-vulkan` works for me

[2019-06-24 04:42] rdarbha commented on #1601
The crashes are word. I updated my nvidia driver to 430:
[code]
The temperature of CPU and Graphics card is not at extreme levels.

I'm attached updated crash files.
[crash_20190624003158_1.zip](https://github.com/ValveSoftware/Dota-2/files/3319230/crash_20190624003158_1.zip)
[log.txt](https://github.com/ValveSoftware/Dota-2/files/3319235/log.txt)
[stdout.txt](https://github.com/ValveSoftware/Dota

[2019-06-24 22:15] grandon commented on #1626
Hey @kisak-valve, no launch options were set.

I have now reinstalled it on the NTFS partition.
The option `-gl`, as well as `-vulkan` are both working!

It seems that this issue not related to the file system... Setting up a different steam library on my ext4 partition with the game content of the NTFS partion results in the same issue, where either `-vulkan` or `-gl` must be set.

The installati

[2019-06-24 22:23] grandon commented on #1626
Alright, so without launch options it will use OpenGL.
![image](https://user-images.githubusercontent.com/65187/60055735-e3302480-96de-11e9-82df-e86374dbb446.png)
If I set `-vulkan` in the launch options it stays on OpenGL.

The DLC is required for Vulkan to work and either use the launch option `-vulkan` or select it in the drop down box in the settings menu:
![image](https://user-images.githubus

[2019-06-24 22:43] kisak-valve commented on #1626
Thanks for testing @grandon, sounds like Dota 2 was configured to start with Vulkan without the Vulkan support downloaded, most likely as a side-effect from the shared Steam library content between OSes. Cross-OS Steam libraries are not supported as noted in https://github.com/ValveSoftware/steam-for-linux/blob/master/RelNotes.md and can lead to unexpected behavior.

[2019-06-24 22:54] #1626 closed, assigned to nobody

[2019-06-25 23:31] alasher commented on #556
I still have this issue using Pop!_OS 19.04 on Nvidia with Gnome. But it does work with @LiamDawe's above suggestion of using -phased_window_create with "Desktop-friendly fullscreen".

[2019-06-26 23:40] iamdarkmatter opened #1627 "Almost every 5 member party we get bots. Can we disable this somehow? I typed in dota_bot_disable 1 and it didn't help. Its really not fun playing bots during party games. This is in turbo mode."
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes/No]
* Are you using the latest stable video driver available for your system? [Yes/No]
* Have you verified the game files?: [Yes/No]

#### Please describe your issue in as much detail as possible:
Describe what

[2019-06-26 23:46] kisak-valve commented on #1627
Hello @iamdarkmatter, this issue tracker is limited to issues with the Mac and Linux port of Dota 2 client. This sounds like feedback to give to the larger Dota 2 team at https://dev.dota2.com.

[2019-06-26 23:46] #1627 closed, assigned to nobody

[2019-06-27 01:06] heavyk opened #1628 "searching for a MatchID before connecting to the GC, it'll always say no game data"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): MacbookPro11.3
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

until I rest

[2019-06-27 23:42] jaroslawksiezuk commented on #1615
In my case this happens only on Vulkan

Vulkan Instance Version:
1.1.101

System information from steam:
https://gist.github.com/J-a-r-e-k/88160417afb76ef9ebfdb0698b44dca2

Images:
https://imgur.com/a/D0Axykg

[2019-06-28 02:46] sg4rb0 opened #1629 "Game history missing games"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):

Computer Information:
    Manufacturer:  Unknown
    Model:  Unknown
    Form Factor: Desktop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
    CPU Family:  0x6

[2019-06-28 12:29] kisak-valve commented on #1629
Hello @sg4rb0, this doesn't sound like an issue with the Linux client. You'll want to post this on https://dev.dota2.com for the larger Dota 2 team.

[2019-06-28 12:29] #1629 closed, assigned to nobody

[2019-06-29 15:00] felipec commented on #1616
I can confirm this too, and I doubt it's a driver issue since this happens with Intel driver too: Intel Open Source Technology Center Mesa DRI Intel(R) HD Graphics 620 (Kaby Lake GT2) x86/MMX/SSE2.

In addition I also get random crashes.

[2019-06-29 15:21] felipec commented on #1595
I get similar crashes all the time with Intel(R) HD Graphics 620 (Kaby Lake GT2).

[2019-06-29 15:23] felipec commented on #1601
I get similar crashes all the time in the Intel driver.

[2019-06-30 03:12] felipec commented on #1616
I got the kernel logs and posted a bug on the  [driver](https://bugs.freedesktop.org/show_bug.cgi?id=111025). It seems to be related to i915_gem_execbuffer2_ioctl.

[2019-06-30 14:21] Rav8es commented on #1581
Still  experiencing the same problem after 2.194 update yesterday.

[2019-07-01 06:43] CommonOddity commented on #1579
As per my post in https://github.com/ValveSoftware/Dota-2-Vulkan/issues/312 :

"
_I get the exact same issue, in Linux. It was a very recent patch that changed this. At first I thought that I borked something doing a system update and when I mucked around with patches, but that is not the case.

Loading Dota 2 takes a couple seconds longer. The main menu has a video showing kunkka in the right cor

[2019-07-01 17:33] christopherkerry commented on #1624
This is continuing to occur.  I can confirm this is only happening when using Vulkan, when I switch to OpenGL the game doesn't crash.

[2019-07-02 16:19] satinjeet commented on #1624
👍 I can confirm this as well. I have not tried switching to OpenGL. Crashes happen without any error output as well when started using shell script on terminal.

[2019-07-02 23:36] ablackbu commented on #1612
For what its worth I have a similar issue on the linux client. Essentially it sometimes doesn't lock the mouse. I found toggling the steam overlay fixes the issue. I used to have to reboot the client mid game. Not sure if that would help you out but hopefully it does (and helps the devs too)

[2019-07-05 23:41] Turmfalke2 opened #1630 "Error in GetKernedCharWidth / Error in GetCharRGBA"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Turmfalke2/a0da7f8299ff3ccbbcaacd815fcf4f4b
* Have you checked for system updates?: No
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: No

#### Please describe your

[2019-07-06 01:40] Rav8es commented on #1616
I have the same issue.

https://github.com/ValveSoftware/Dota-2/issues/1581

[2019-07-06 21:16] AngryPenguinPL opened #1631 "[Linux] Error after today update (YieldWait) - 06.07.2019"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/AngryPenguinPL/26dfb99ecc693e0bff1260ae754c9e9e/):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as

[2019-07-07 02:40] davidmproia opened #1632 "loopback & invalid file references"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
[https://gist.github.com/davidmproia/257a5514c18cbf33f029b3a530bfd2d0](url)

* Have you checked for system updates?: [Yes/No]
Yes

* Are you using the latest stable video driver available for your system? [Yes/No]
Yes

* Have you verified the game files?:

[2019-07-07 02:46] Fawkes23Rus opened #1633 "My compendium level is stop to grow up"
After lst update with the mo'rokay i have played few mo'rokay games, then i earned battle points, but after next mo'rokay game my battle pass level has been stoped to changed as like battle points count too. even if my week mo'rokay points limit has been ended, i didn't receive points even with treasures in the game.
p.s. when each game been ended, i saw the message about added battle points to my

[2019-07-07 12:14] kisak-valve commented on #1632
Hello @davidmproia, this issue tracker is limited to the Mac and Linux clients of Dota 2. You'll want to post this on https://dev.dota2.com for the larger Dota 2 team.

[2019-07-07 12:14] #1632 closed, assigned to nobody

[2019-07-07 12:22] kisak-valve commented on #1633
Hello @Fawkes23Rus, this issue tracker is limited to Mac and Linux client issues with Dota 2. Account issues are not handled here.

You'll want to post this on [Steam Support](https://help.steampowered.com/) or https://dev.dota2.com for the larger Dota 2 team.

[2019-07-07 12:22] #1633 closed, assigned to nobody

[2019-07-08 07:54] todorvelichkov commented on #1616
I actually started getting freezes on `vulkan` too. Its much more rare than OpenGL, but it happens from time to time. Here is that I got in the `journalctl` as @Turmfalke2 suggested.

    June 08 10:00:38 tvelichkov-desktop /usr/lib/gdm3/gdm-x-session[2664]: (--) NVIDIA(GPU-0): DFP-7: Internal TMDS
    June 08 10:00:38 tvelichkov-desktop /usr/lib/gdm3/gdm-x-session[2664]: (--) NVIDIA(GPU-0): DFP-7

[2019-07-09 03:48] RylanSchaeffer opened #1634 "How to monitor console.log for changes in real time (without waiting for Dota client to exit)?"
I enabled console debugging by adding `-condebug` and `-conclearlog` to my Steam launch options, and I have manually confirmed that the console.log file is properly written to. I'd like to monitor this console.log file in real time using `tail -f `, but it seems that the console.log file is only written to after the Dota 2 game client exits. Is this correct? Is there a way to force the game client

[2019-07-09 13:46] eeyrjmr commented on #1624
I can confirm with vulkan as well..
Presently in a game and it crashes Avery 1min

[2019-07-09 16:51] Weirdo1312 commented on #1593
i'm pretty sure it's a linux only problem

[2019-07-10 17:26] rohanharikr opened #1635 "Vulkan API Performance Issues on macOS [constant fps drops and crashes]"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): Computer Information:
    Manufacturer:  Apple
    Model:  MacBookPro15,2
    Form Factor: Laptop
    No Touch Input Detected

Processor Information:
    CPU Vendor:  GenuineIntel
    CPU Brand:  Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
    CPU Family:  0

[2019-07-10 17:38] kisak-valve commented on #1635
Hello @rohanharikr, there are some issue reports that are already tracking this (#1618 / #1624 / https://github.com/ValveSoftware/Dota-2-Vulkan/issues/308). Closing in favor of the existing issue reports.

[2019-07-10 17:38] #1635 closed, assigned to nobody

[2019-07-11 08:16] AntouanK opened #1636 "[Linux] UI freezes and some times it's completely stuck after a game ends"
system information
https://gist.github.com/AntouanK/4199bb5035a7c7c50fc45a7bb47293d5

during the last few days, there are some small "freezes" when screens change in the ui, especially after a game ends.
In some cases ( let's say 1 out of 5 ) I cannot see anything after exiting a game. I don't see the post-game screen, just the cursor.
I have to kill the processes and restart dota2

( I use i3 and

[2019-07-11 17:24] stefanbesler commented on #1636
Same problem here. I get lags since the around the new game loading screen was introduced. When playing everything is fine, the game end screen and menu take very long to load and are quite laggy.

[2019-07-12 02:32] CommonOddity commented on #1636
Yeah, this sounds similar to what I reported in:
https://github.com/ValveSoftware/Dota-2-Vulkan/issues/312
https://github.com/ValveSoftware/Dota-2/issues

It's been going on for a bit. Some patches improve it a tiny bit, otherwise make it worse. Not sure if it's new calls/extensions being introduced to client or what has changed, but something is not happy.

[2019-07-12 05:20] AntouanK commented on #1636
actually, I had the `-vulkan` flag in the launch properties, and removed it to see if it makes a difference.
it doesn't.

I know different patches will vary the performance, but this is a big regression.
having the UI freeze for 4-5 secs whenever you change a screen ( and some times stuck completely ) makes it a very bad UX.

Also ( not sure it's related ) but I cannot see the skill icons anymore

[2019-07-12 08:56] AntouanK commented on #1636
this is what I meant.
skill icons are not visible before you add the 1st level.
![Screenshot_2019-07-12_11-55-07](https://user-images.githubusercontent.com/4569111/61115810-f93e3300-a49b-11e9-87ae-2ba2cb59a14e.png)

not sure if the same changes are responsible for this too ( probably )

[2019-07-12 10:11] AntouanK commented on #1636
also alt+left click is not working anymore, I just noticed.
:(
is that common for others as well?

edit : happens only for Morokai mode (!)

[2019-07-13 08:12] msaadat opened #1637 "[Linux] Crash immediately on start"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/msaadat/8351ae76a3f5eb7b9bad50c5514eeae5
GPU: AMD Radeon RX 550
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the gam

[2019-07-13 10:13] samgne commented on #1636
Same problem here. In game is fine but navigating the menu lags and stutters. Nvidia drivers on Pop_OS!

[2019-07-13 12:44] kisak-valve commented on #1637
Hello @msaadat, can you check if adding `-vulkan_disable_steam_shader_cache` to the game's launch options avoids this issue?

[2019-07-13 13:39] msaadat commented on #1637
Yes, the game runs normally with `-vulkan_disable_steam_shader_cache`

[2019-07-13 15:50] sytranvn opened #1638 "Dota crashes with CUtlLinkedList overflow"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/sytranvn/85758f4b0c029c93b210361d97783602
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describ

[2019-07-13 19:43] anko commented on #1615
Found [a Reddit thread with a Windows user also seeing this bug](https://www.reddit.com/r/DotA2/comments/ccnjbh/summer_scrub_two_small_bugs/).

[2019-07-14 12:16] Turmfalke2 commented on #1616
Unfortunally nothing really of value there. Dota 2 sending a timestamp of 0 for _NET_ACTIVE_WINDOW should be fixed, but is unlikely cause a freeze.
When was the freeze?

[2019-07-15 04:15] CommonOddity commented on #1579
Latest patch that got pushed out July 14th night/early July 15th seems to have improved things. Performance looks okay when navigating the ui so far. Gonna go into a match to see how the post-match stuff loads.

[2019-07-15 05:02] CommonOddity commented on #1579
Hmmm. Nope. Seems that the post-match stuff takes a while to load and chunks a bit still. In addition, after a match the ui/menu is a little less responsive overall. Same kind of bizarre stutters when switching screens.

[2019-07-15 15:30] glubsy commented on #1615
I have been experiencing this issue or a few weeks to, but only with the Vulkan renderer. This doesn't happen with OpenGL.

The video posted in that reddit thread illustrates the problem very well.

[Specs](https://gist.github.com/glubsy/8930de18e83adb497905097091e9789c/36f04ab1d7dda412cc1d2b86cb519308b15e57d6).

[2019-07-15 16:04] RylanSchaeffer commented on #1634
any updates? @triage-valve @kisak-valve

[2019-07-15 23:38] Cabanur opened #1639 "[Summer Scrub] game client doesn't respect system locale when displaying match dates"
#### [System information (gist)](https://gist.github.com/Cabanur/be3f08865bdd424ca28a309e2ecfbf61)

The game client uses the US date format (MM/DD/YYYY) in the recent matches list (see attatched picture), even though my locale settings indicate preference for DD/MM/YYYY.

This may also affect Windows, but I can't test it.

![dota-locale](https://user-images.githubusercontent.com/6509819/61255790-6

[2019-07-17 19:15] todorvelichkov commented on #1616
@Turmfalke2 during a game (basically it could happen any moment after the first 5 minutes). And it does not happen every game, maybe once in 4-5 games (this is for Vulkan only, on OpenGL I had this every game, but haven't tested it in a while).

[2019-07-17 22:36] gdrewb-valve commented on #1639
Try adding

  -textsublanguage GB

to your launch options.

[2019-07-18 06:29] shoober420 opened #1640 "[Linux] FIRST LAUNCH Results In Complete System Freeze"
* System information from steam: https://gist.github.com/shoober420/1215c40214cf70e1fabb760b5bd2a341
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your issue in as much detail as possible:

Installing the game, and doing a first launc

[2019-07-18 06:46] shoober420 opened #1641 "Requires old libpng (1.2.59)"
* System information from steam: https://gist.github.com/shoober420/1215c40214cf70e1fabb760b5bd2a341
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

#### Please describe your issue in as much detail as possible:

Please update DOTA 2 to use the modern versi

[2019-07-18 09:16] Hursofid commented on #1640
I can confirm the same thing for me - kernel panic after launching game in less than a minute
yesterday everything was fine
checked local files, reinstalled dota completely

[code]

@shoober420 what do you mean by "hard reset"?

[2019-07-18 10:42] Cabanur commented on #1639
This correctly sets the date format in the recent game list and elsewhere. Thank you.

Was this caused by my mixed locale settings? Will the cilent autodetect the preferred format in the future?

[2019-07-18 12:22] kisak-valve commented on #1641
Hello @shoober420, the Steam runtime provides this library and running Steam with the Steam runtime disabled is unsupported. You or the package maintainer that helped disable the Steam runtime is responsible for managing any dependencies for Steam and games run from Steam.

Leaving open as a low priority request for refreshing this dependency.

[2019-07-18 12:35] kisak-valve commented on #1640
Possible duplicate of #1616.

[2019-07-18 15:04] shoober420 commented on #1640
@Hursofid, It’s another way of saying restart via the button on the tower.

[2019-07-18 15:05] Hursofid commented on #1640
Well, that doesn't helped me out with the problem occurred...:(

[2019-07-18 15:36] NotInThere commented on #1640
I'm not sure if it's the same issue but I'm getting the exact same crash on main menu on OS X and its happening every time I launch. Its generating a CPU lockup and crashing the entire system.

https://gist.github.com/NotInThere/b2e0f3a521a9ab01ea6ef1fcf6209235

I should state that this only started after the recent update as of yesterday (July 17th 2019). I had hoped that the small update a coupl

[2019-07-18 16:21] ssukhadi commented on #1640
@NotInThere Experiencing the same exact problem and it started as soon as the new patch downloaded at 5:17 PM on July 17th, 2019. Tried everything as well, hoping that theres some quick fix for this bug but it's still happening as of 2 minutes ago. My whole computer shuts down and a black screen comes up with a "A problem has occurred which has shut down your computer". Let me know if anything cha

[2019-07-18 16:27] zuhalm commented on #1640
thsi is my system information

i just updated dota 2 18 july 2019. when i launch the game it forced my mac to restart. i dont know how this is happen, before i updated i play dota it runs very well. this is so annoying btw. please resolve this :(

[2019-07-18 16:29] danginsburg commented on #1640
So far all the macOS reports are on macOS 10.11.6 - is anyone seeing this behavior on any other version?  We are suspecting some incompatibility with some low-level changes on macOS 10.11.  If anyone experiencing this can upgrade and tell us what version it resolves at that would be good information.

[2019-07-18 16:30] jojalapa opened #1642 "New update Mac force restart while playing dota 2"
Since the latest update, my mac crash down every time when i open dota2, and it force it to restart.
https://steamcommunity.com/app/570/discussions/0/1644294896728741353/
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
* Have you checked for system updates?: [Yes/No]
* Are you using the latest stable v

[2019-07-18 16:36] kisak-valve commented on #1642
Hello @jojalapa, discussion of this already started at #1640. I'm not going to summary close this as a duplicate because there's a chance the opening post's issue on linux may be separate.

[2019-07-18 16:38] jojalapa commented on #1642
thank you very much.

[2019-07-18 16:43] NotInThere commented on #1640
I'm currently updating straight to 10.13 from 10.11 since its a performance update of 10.12 and will update  once that finishes.

[2019-07-18 18:12] gdrewb-valve commented on #1639
It's not related to your locale settings, it's because Dota on Linux forces the locale to en_US to avoid some text handling bugs.  I don't believe that's going to change.  Remove -textsublanguage GB and try with -set_locale_disable instead, does that work?  If so it confirms that it's due to the locale forcing.  In that case -textsublanguage would be the better option since it keeps the locale for